[2020-03-18 15:08] RG108 commented on #680
I am experiencing an issue wherein I am getting an error while uploading the Jira jar file from the same source as mentioned above.
unable to upload the plug-in id -Jira
tried with the latest jira jar file i.e. 5.1 but same fate :(
@evjlobanova  Please let me know if you have answer for above issue. I am using latest report portal 5.0

[2020-03-18 15:09] evjlobanova commented on #858
@almayce Which client and agent do you use (name and version)?

[2020-03-18 15:14] #127 closed

[2020-03-18 15:18] evjlobanova commented on #151
In version 5.0 we have added #673 Pattern analysis.
In version 5.3+ we are planning to add Actionable Pattern analysis.

[2020-03-18 15:20] evjlobanova commented on #158
In version 5.0 we have added a clickable area for widgets which is based on filter.
For example Overall Statistics widget.
![image](https://user-images.githubusercontent.com/30413511/76962989-4d55bd00-6931-11ea-9f61-519b2f8179e0.png)

It shows summ information about filter.
When a user clicks on the widget.
Then system redirects user to the *list view for filter*
![image](https://user-images.githu

[2020-03-18 15:21] evjlobanova commented on #45
Close as a duplicate of https://github.com/reportportal/reportportal/issues/45

[2020-03-18 15:21] #45 closed

[2020-03-18 15:21] RG108 commented on #779
@willhope Did you finish the jira integration with report portal?
I am facing issue while uploading the jira jar file;throwing error like unable to upload the jira plugin

[2020-03-18 15:22] evjlobanova commented on #158
Close as a duplicate https://github.com/reportportal/reportportal/issues/45

[2020-03-18 15:22] #158 closed

[2020-03-18 15:27] almayce commented on #858
@evjlobanova

I use https://github.com/reportportal/reportportal/blob/master/docker-compose.yml

[code]

and I don't use agent, just sending request to api.

[2020-03-18 15:32] #145 closed

[2020-03-18 15:33] evjlobanova commented on #186
I suppose for this reasons, you can use Component Health check widget.
This widget shows the passing rate of the application components which are indicated by the specified attributes.

Use case:

Situation: As a Project Manager or Test Lead, a I want to see the most unstable place in my product ( application).

Solution: All test cases in my project in ReportPortal have an attributes. For example

[2020-03-18 15:36] RG108 opened #859 "Report Portal unable to uplaod jira plugin"
I migrated to report portal 5.0 and saw Jira as a service not found in UI so I tried using download it from site https://bintray.com/beta/#/epam/reportportal/plugin-bts-jira/5.0.1?tab=files and tired uploading it on report portal UI but getting error unable to upload plugin Jira to the data store.

![Screen Shot 2020-03-18 at 9 04 13 PM](https://user-images.githubusercontent.com/39192799/76977966-

[2020-03-18 15:37] evjlobanova commented on #433
As a possible solution you can try Component Health Check widget.

This widget shows the passing rate of the application components which are indicated by the specified attributes.

Use case:

Situation: As a Project Manager or Test Lead, a I want to see the most unstable place in my product ( application).

Solution: All test cases in my project in ReportPortal have an attributes. For example fun

[2020-03-18 15:39] evjlobanova commented on #191
In ver 5.0 there has been added a possibility to change status for tests

[2020-03-18 15:43] DzmitryHumianiuk commented on #191
I'd like to keep this open.

Since we might implement `undefined` status for semi-automated/manual runs

[2020-03-18 15:48] evjlobanova commented on #186
Closed as a duplicate

[2020-03-18 15:48] #186 closed

[2020-03-18 15:58] evjlobanova commented on #44
Closed as duplicate of https://github.com/reportportal/reportportal/issues/269

[2020-03-18 15:58] #44 closed

[2020-03-18 16:03] evjlobanova commented on #271
@ulmanA we do not have plans to to change the user invitation expiration.
Feel free to reopen it, if it is still actual for you.

[2020-03-18 16:03] #271 closed

[2020-03-18 16:04] evjlobanova commented on #272
The feature ia available in ver 5.0

[2020-03-18 16:04] #272 closed

[2020-03-18 16:08] evjlobanova commented on #290
We will add such functionality in the version 5.1:
You will be able to compare results from launch with the latest results from filter.
![image](https://user-images.githubusercontent.com/30413511/76981421-a0d50480-694b-11ea-9d12-c3b730eb9357.png)
![image](https://user-images.githubusercontent.com/30413511/76981518-c3ffb400-694b-11ea-9945-4e969a361257.png)

What do you think about this functionalit

[2020-03-18 16:46] GopinathCTS commented on #857
In total we had [128] launch
Since we have data issue in our automation suite , we planned to execute the case one by one sequentially and some multiple cases [ max of 10 cases together]. Post execution, we decided to delete the invalid failure cases and merged pass and valid failure cases into one Launch.

[2020-03-18 17:00] DzmitryHumianiuk commented on #858
@ihar-kahadouski please assist here

[2020-03-18 17:42] akrush24 opened #860 "Migration from 4.3.7 to 5.0 FAILED [v5]"
**Migration from 4.3.7 to 5.0 does not pass.**
I have reportportal version 4.3.7
![image](https://user-images.githubusercontent.com/3369193/76990176-9705ce00-6958-11ea-8eae-2a1cc8614c67.png)
![image](https://user-images.githubusercontent.com/3369193/76990314-cfa5a780-6958-11ea-9f5c-daee228222f1.png)

I want to upgrade it to 5.0
1. I performed `docker-compose -f ./docker-compose_v5.yml -p reportpor

[2020-03-18 17:57] nvborisenko commented on #858
The same symptoms as in https://github.com/reportportal/reportportal/issues/834

[2020-03-18 18:25] Bharadwaj-vana opened #861 "Need to Capture Log's"
HI Team,

I am trying to integrate Report Portal into my TestNG framework, where we have test classes and once execution is done, I am trying to validate network log's of transaction across web and do certain validations where I have logic in PageBase or testbase classes and when I added LOGGER logic into those classes I am unable to see those log's in report protal.

Can anyone help me to underst

[2020-03-18 20:20] almayce commented on #858
nvborisenko
The same result with `"level": 5000`, I checked it on UI again, and there is no attached file.

[2020-03-18 20:27] almayce commented on #858
I also want to clarify the moment that this request **doesn't return an error or id**, as it happens when attaching a [log without attachment](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#save-single-log-without-attachment) to the same endpoint (/api/{version}/{projectName}/log)

[2020-03-18 21:08] nvborisenko commented on #858
Do you check status of the request? Timeouts?

[2020-03-18 22:04] jhendershott opened #862 "Tests run never seem to finish on their own"
This is probably more an issue with my implementation, but I'm using the rp-mocha-reporter and it's starting and logging the launches, however, it doesn't seem to resolve in a timely manner. I'm pretty new to this but currently, I'm having to force finish.

Is there a timeout on this? or something I should be doing after the tests to clean this up?

[2020-03-19 07:08] Witos commented on #290
Not bad.

My proposition - use "Compare" function you have already there:
1. Select runs to compare.
2. Action -> Compare.
3. Nice graphs shown
4. Add "Detail" buttons
5. After pressing this button the details view among selected runs appear, similar to the above one.

[2020-03-19 07:40] edyp commented on #290
I agree with @Witos, and in my pov it is more important than comparison on filters level, nevertheless it will be very useful to have both approaches so please consider it.

[2020-03-19 08:23] satishultimate commented on #841
Thank you very much DzmitryHumianiuk. Actually, I have started working over the ReportPortal UFT Implementation. If I am stuck anywhere, I would let know the forums know over the progress/hiccups, i have faced yet.

[2020-03-19 08:23] #841 closed

[2020-03-19 08:35] DzmitryHumianiuk commented on #841
@satishultimate Don't hesitate to contribute back :)

[2020-03-19 11:19] LittleColin opened #863 "Overall stats don't appear after launch completes"
I assume this is something I'm doing wrong but no summary stats (total, passed, failed etc.) are appearing for my launch. This was a simple test run with two tests and if I drill into the launch I see they've both passed.
![2020-03-19_09-54-54](https://user-images.githubusercontent.com/1062116/77060880-336bb700-69d1-11ea-90af-cda24364011f.jpg)

I'm using codeceptjs-rphelper and v5 of reportportal.

[2020-03-19 11:20] almayce commented on #858
@nvborisenko
After some changes in my code, I get this response:

[code]

[2020-03-19 12:31] ivan-sukhomlyn opened #864 "[v5] JVM options don't change with JAVA_OPTS env var for API and Authorization services"
### **Describe the bug**

Java Virtual Machine parameters **can not be changed** for Service-API and Service-Authorization as they are hardcoded in the release Dockerfile for each service.
For example, Service-API - https://github.com/reportportal/service-api/blob/5e38ac4e81f0be7d352165e8728e4bafeca3f00d/docker/Dockerfile-release#L9

Each Java process starts with already pre-defined `JAVA_OPTS` an

[2020-03-19 14:02] evjlobanova commented on #370
Closed because of no answer

[2020-03-19 14:02] #370 closed

[2020-03-19 14:11] evjlobanova commented on #377
Closed because of no answer

[2020-03-19 14:11] #377 closed

[2020-03-19 14:27] evjlobanova commented on #388
![image](https://user-images.githubusercontent.com/30413511/77077878-e4d90f80-6a06-11ea-95d8-3401d8aca906.png)
Fixed in version 5

[2020-03-19 14:27] #388 closed

[2020-03-19 14:34] almayce commented on #858
when i send this request:
[code]

response:
`{"errorCode":4001,"message":"Incorrect Request. JSON parse error: Cannot deserialize instance of `[Lcom.epam.ta.reportportal.ws.model.log.SaveLogRQ;` out of START_OBJECT token; nested exception is com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `[Lcom.epam.ta.reportportal.ws.model.log.SaveLogRQ;` out of START_

[2020-03-19 14:39] evjlobanova commented on #502
Fixed in version 5.0

[2020-03-19 14:39] #502 closed

[2020-03-19 15:16] evjlobanova commented on #458
Fixed in version 5.0

[2020-03-19 15:16] #458 closed

[2020-03-19 15:17] almayce commented on #858
thank you for response!

[2020-03-19 15:17] #858 closed

[2020-03-19 17:08] evjlobanova commented on #679
We close this issue.
@farhaanfsk feel free to reopen it, in case it is still the problem

[2020-03-19 17:08] #679 closed

[2020-03-19 17:11] evjlobanova commented on #684
Backward compatibility has been added for agents v4

[2020-03-19 17:11] #684 closed

[2020-03-19 17:17] evjlobanova commented on #865
@byip-ujet @sandy170889 is this still actual?
I am closing issue, feel free to raise it if you have problems with bts

[2020-03-19 17:17] #865 closed

[2020-03-20 09:40] iivanou commented on #865
Transferring the issue back to the reportportal project. It is not related to the Python agent.

[2020-03-20 11:49] mariabeqa commented on #762
Hi @Yumfriez
Any updates on this one? I'm facing the same issue

[2020-03-20 13:48] evjlobanova commented on #599
Fixed in version 5

[2020-03-20 13:48] #599 closed

[2020-03-20 13:54] evjlobanova commented on #346
@KursLabIgor for this case in version 5.0 we added a status change feature.
In this case, you will be able to change status from Interrupted to Failed and then add a defect type.

Does it work for your case?

[2020-03-20 14:01] evjlobanova commented on #360
In version 5.0 we have implemented Jira as a plugin.
Also versions 5.0 can operate with the latest Jira versions.

[2020-03-20 14:01] #360 closed

[2020-03-20 14:06] evjlobanova commented on #364
@claudiospizzi  in version5 you can just manually delete personal projects. There is no such function  as disable personal projects or remove them in a bulk

[2020-03-20 14:29] evjlobanova commented on #290
@Witos and @edyp in this approach you can create a filter based on one launch, and compare it with needed one.

The real case for this feature.
For example, different versions are testing. F.e. build: 2 Build: 3 Build:4.
You have got the final test runs for version build:2. You created a filter, which includes launches with the latest results for build: 2.

Then you have started to run tests for v

[2020-03-20 14:32] evjlobanova commented on #43
@DzmitryHumianiuk what to think about this feature now?

[2020-03-20 16:22] Witos commented on #290
Ok, fine.

[2020-03-20 17:14] DzmitryHumianiuk commented on #43
Logs page will be re-worked and it is planned to make it as more close to console view as possible for raw output.
ReportPortal v6 will have dark theme, which will address coloring shema, etc.

closing for now

[2020-03-20 17:14] #43 closed

[2020-03-20 17:57] evjlobanova commented on #290
Approx 1-2 week

[2020-03-20 17:57] #290 closed

[2020-03-20 19:15] e-olga commented on #459
The issue is fixed and not available in RP v.5.0

Regards,
Olga

[2020-03-20 19:15] #459 closed

[2020-03-22 15:50] ramkumar-yoganathan commented on #861
This should help you.  https://github.com/reportportal/example-java-TestNG

[2020-03-22 15:54] ramkumar-yoganathan commented on #721
Why not use API to push the data to Report Portal?

[2020-03-23 13:22] mnicula commented on #854
hi @DzmitryHumianiuk , @evjlobanova, sorry for the late response.
I changed the password and email for superadmin user and then forgot it after some time. So I tried to recover it with the email set previously, but no email received. Do I need to have the email integration configured I order to receive the email? (that kinda makes sense)

[2020-03-23 15:37] DzmitryHumianiuk commented on #854
@mnicula yes you are.

[2020-03-23 16:06] almayce opened #866 "Attachment with json-file - doesn't shows content"
Hello!
When I attach a json-file to my report:

[code]

json_request_part:
[code]

file:
[code]

The json is attached, but there is no preview of its content.
![Screenshot from 2020-03-23 18-01-09](https://user-images.githubusercontent.com/18463941/77336524-4e6f5b80-6d30-11ea-8179-ab9f75874ec7.png)

And after click - redirects to this page:
![Screenshot from 2020-03-23 18-02-17](https://user-image

[2020-03-24 08:10] qtis opened #867 "[v5] Very poor scroll performance"
**Describe the bug**
Very poor scroll performance for launch items accessed via "passed" or "failed" link.

**To Reproduce**
Open launch by clicking on passed or failed items count from launch list. Try to scroll using mouse wheel. It is easier to notice poor performance when you have more items in the launch items page. For me it was more than 50, so first page showed 50 items).

**Expected behav

[2020-03-24 10:10] evjlobanova commented on #867
@e-olga @VolhaKarenko could you please check, if you can reproduce this issue?

[2020-03-24 18:09] netsrotr commented on #686
Is there any date the v5beta goes public? I really would like to use the postgres docker image on windows too...

[2020-03-24 18:48] DzmitryHumianiuk commented on #686
@netsrotr version 5.0.0 was already released. https://github.com/reportportal/reportportal/releases/tag/5.0.0

[2020-03-24 19:05] Bharadwaj-vana commented on #861
@ramkumar-yoganathan  Thanks for the help this worked.

I have one more question: I am generating HTML reports based on my execution and saving them in AWS, is it possible can I give that HTML as input to the report portal ??

[2020-03-24 20:47] Bharadwaj-vana opened #868 "Input format as HTML"
HI Team,

I am generating HTML after my execution and printing status of executions PASS / FAIL in report. Can I input my HTML into report portal ?? Will report portal do analysis of my execution status PASS / FAIL and display the data ?? I have attached sample HTML report that I am generating currently.
Is there any way that we can input HTML to report portal ? If so please let me know Thanks !

[2020-03-25 07:36] evjlobanova commented on #868
@Bharadwaj-vana Do you want ReportPortal to have a possibility to import your HTML report and reflect in the application?

The process of login data to ReportPortal is described https://reportportal.io/docs/Test-Framework-Integration
![image](https://user-images.githubusercontent.com/30413511/77512617-71128900-6e84-11ea-91e9-2e582e9a65f1.png)

[2020-03-25 10:43] DzmitryHumianiuk commented on #868
@Bharadwaj-vana no, it won't read HTML data as regular logs.

if you already do generation of HTML file you definitely read and access process in runtime.
so you can wrap it with ReportPortal related requests to send data in runtime to RP in form of regular log/steps.

Here are the Reporting DevGuide which you can use:
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/

[2020-03-25 10:43] #868 closed

[2020-03-25 12:37] evjlobanova commented on #866
@DiscoElevator @ElenaRomanchuk do you have an idea why it can happen?

[2020-03-25 12:52] evjlobanova commented on #861
HTML question is a duplicate.
https://github.com/reportportal/reportportal/issues/868

Closing because the original question has been resolved.

[2020-03-25 12:53] #861 closed

[2020-03-25 14:05] pbortnik commented on #860
Hi, can you execute some commands in mongo
`db.getCollection('dbchangelog').find({"changeId" : "v4.2-Introduce default analyzer parameters for each project"})`
`db.getCollection('project').find({"configuration.analyzerConfig" : {$exists : false}})`
Do you have something in response?

[2020-03-25 14:25] rabusiak opened #869 "reportportal gui doesn't work on firefox?"
**Describe the bug**
...  reportportal web page is working in every browser except Firefox. Any idea how to fix this? When I type http:[dnsname]:8080 got redirected to https:// and get this error: SSL_ERROR_RX_RECORD_TOO_LONG

**Expected behavior**
... page should open like on every other browser, unsecured over http

**Screenshots**
If applicable

**Versions:**
 - Windows 10 (19587.1000), Firefox

[2020-03-25 15:06] DzmitryHumianiuk commented on #869
added for reference:
https://www.thesslstore.com/blog/ssl_error_rx_record_too_long/

[2020-03-25 15:35] rabusiak commented on #869
Clearing site preferences do the trick for me :)
https://stackoverflow.com/questions/30532471/firefox-redirects-to-https

[2020-03-25 15:35] #869 closed

[2020-03-26 15:20] evjlobanova commented on #346
Feel free to reopen, if your solution doesn`t resolve your problem

[2020-03-26 15:20] #346 closed

[2020-03-26 15:58] marysia16122 opened #870 "[v5][API] ExternalSystemIssues not work"
**Describe the bug**
Don't attach jira issue via api
I send HTTP request
`curl -X PUT "http://localhost:8080/api/v1/myProject/item/9f4ada25-8557-432b-af90-298eb4363709" -H "accept: */*" -H "Content-Type: application/json" -H "Authorization: bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODUyNDAwNTcsInVzZXJfbmFtZSI6InN1cGVyYWRtaW4iLCJhdXRob3JpdGllcyI6WyJST0xFX0FETUlOSVNUUkFUT1IiXSwianRpIjo

[2020-03-26 16:18] evjlobanova commented on #434
Please update your version to the latest one, if the issue is still reproducing, feel free to reopen the issue

[2020-03-26 16:18] #434 closed

[2020-03-26 16:32] evjlobanova commented on #870
@marysia16122 It is a known issue, we have fixed it in the version 5.1
It will be available ~ in 2 weeks

[2020-03-26 16:36] evjlobanova commented on #450
Duplicate of #398

[2020-03-26 16:36] #450 closed

[2020-03-26 16:42] evjlobanova commented on #460
Fixed in version 5.0

[2020-03-26 16:42] #460 closed

[2020-03-26 16:48] #472 closed

[2020-03-26 16:51] evjlobanova commented on #475
New version 5.0 is available,
Installation steps are described by the link https://reportportal.io/docs/Installation-steps

[2020-03-26 16:51] #475 closed

[2020-03-26 16:58] evjlobanova commented on #484
Please, update your version to the latest one 5.0

[2020-03-26 16:58] #484 closed

[2020-03-26 17:02] #493 closed

[2020-03-26 17:09] evjlobanova commented on #462
Closed due to irrelevance

[2020-03-26 17:10] evjlobanova commented on #506
Closed due to irrelevance

[2020-03-26 17:10] #506 closed

[2020-03-26 17:12] AlehB commented on #505
Hi @khatray ,

Please try the lastest version
We have tested it recently, both services started successfully

Best Regards,
Aleh

[2020-03-26 17:15] #505 closed

[2020-03-27 07:49] HardNorth commented on #462
@evjlobanova the issue is a bit outdate why you reopened it?

[2020-03-27 07:58] svettsova commented on #489
issue is not reproducible in 5.1 version

[2020-03-27 08:08] #489 closed

[2020-03-27 08:23] svettsova commented on #496
issue is not reproducible in 5.0
![image](https://user-images.githubusercontent.com/50825875/77736472-731c4980-7036-11ea-93ef-c9c255e42679.png)

[2020-03-27 08:35] #496 closed

[2020-03-27 09:00] #531 closed

[2020-03-27 22:56] arunkumar-muthusamy commented on #852
Just in case if an automated workaround is needed, We can make an API call `/v1/{projectName}/launch/analyze` after test test execution, in the pipeline.

[2020-03-28 00:10] arunkumar-muthusamy opened #872 "[v5]agent-java-testng - ItemID should not be null (Test item is not getting created)"
While running the tests on `Java+TestNG+LogBack` with new version of `agent-java-testng`  by pointing to **V5 ReportPortal**, i'm getting following exception. It used to work well until `5.0.0-BETA-6`  version.
[code]

**pom.xml**
[code]

**TestNG.xml**
[code]
OS: Mac, java version "1.8.0_201"
Note: You can run any TestNG test to reproduce it.

![image](https://user-images.githubusercontent.com/47

[2020-03-28 13:53] Onish1204 opened #873 "how testrail can be integrated with report portal."
what ever execution results are pushed to report portal. same should be pushed to test rail by report portal.

expectation:
No additional code should required to add for test rail integration. Is it feasible,

Issue, i am facing is rest rail api are implemented in my test framework. Testrail is pushed at end of execution and report portal at end of each test. So, report portal test is not updating

[2020-03-28 18:15] blue995 commented on #852
@arunkumar-muthusamy This is actually a great idea, thank you

[2020-03-29 14:54] ramkumar-yoganathan opened #874 "[FR] - Console/Markdown log view with auto scroll checkbox"
**As a user, I should be able to view the logs at the test level, So that I don't need to hit the "Refresh" to load the latest logs**
...

An checkbox should start to refresh the logs pane with toggle option.

...

[2020-03-29 14:58] ramkumar-yoganathan opened #875 "[FR] - Attach failure step video along with exception"
**As a User, I should be able to attach the failure step video with on click preview, So that I can able to investigate the failure and understand the actions such as unhandled popup, crash popup if any, before the failure.**

[2020-03-29 15:00] ramkumar-yoganathan commented on #875
#117

[2020-03-30 07:17] VolhaKarenko commented on #538
The issue is still reproducible on 5.1 version

[2020-03-30 13:20] akrush24 commented on #860
Hi.
`> db.getCollection('dbchangelog').find({"changeId" : "v4.2-Introduce default analyzer parameters for each project"})
{ "_id" : ObjectId("5b868b3436d1a00001bb789b"), "changeId" : "v4.2-Introduce default analyzer parameters for each project", "author" : "pbortnik", "timestamp" : ISODate("2018-08-29T12:01:56.958Z"), "changeLogClass" : "com.epam.ta.reportportal.migration.ChangeSets_4_0", "changeS

[2020-03-30 13:55] schrufygroovy opened #892 "Response code is still 201 even though exception occured"
When I do an invalid request to report portal `log` api, then I get still the 201 created success code:

![image](https://user-images.githubusercontent.com/50398024/77920564-ee803400-729e-11ea-90c0-976aeb7cee2c.png)

This causes clients that dont check the response content (e.g. the JavaScript client) to think the request was successful and continue with 'success' even though the log message was n

[2020-03-30 14:11] duzztie opened #876 "Reportportal5: high load on postgres after data migration from ReportPortal4"
Could you please give some reasons for the high load on postges db after data transfer? Data migration completed successfully, considering entries in the batch_job_execution table. When trying to open the ReportPortal5 dashboard, to execute queries such as /api/v1/xcom/widget/319, it takes about 5 minutes. I think postgres node is powerful enough, so I think problem may be in reportportal misconfi

[2020-03-30 14:15] DzmitryHumianiuk commented on #876
@duzztie PostgreSQL does indexing.
just give it a time to index newly inserted data after migration.

Duration depends on your data volume and hardware capacity.

[2020-03-30 14:15] #876 closed

[2020-03-30 14:40] dsoudakov commented on #566
How's the progress on this?

[2020-03-30 15:29] #534 closed

[2020-03-30 15:36] #541 closed

[2020-03-30 15:48] evjlobanova commented on #548
@jhutar we have added field Code reference with a Copy button.
![image](https://user-images.githubusercontent.com/30413511/77932925-dc11f480-72b6-11ea-9d91-d98f822fc259.png)

Will it helpful for you?

[2020-03-30 16:07] evjlobanova commented on #557
Closed, because of no response

[2020-03-30 16:07] #557 closed

[2020-03-30 16:09] amalsgit opened #877 "[FR] Google SSO and SAML auth"

[2020-03-30 16:15] evjlobanova commented on #572
Closed due to no response

[2020-03-30 16:15] #572 closed

[2020-03-30 16:16] evjlobanova commented on #613
Closed as a duplicate of #573

[2020-03-30 16:16] #613 closed

[2020-03-30 16:20] evjlobanova commented on #576
We think about auto-updated dasboard:
![image](https://user-images.githubusercontent.com/30413511/77936373-7bd18180-72bb-11ea-99bc-c321c285497a.png)

[2020-03-30 16:22] evjlobanova commented on #586
Added in version 5.1

[2020-03-30 16:22] #586 closed

[2020-03-30 16:33] evjlobanova commented on #601
In version 5.0 we added a possibility to see a grouped TI by failure reasons.
![image](https://user-images.githubusercontent.com/30413511/77937539-27c79c80-72bd-11ea-8ebf-31f470dd749f.png)

There are 3 options for search:

For the current launch, The system is looking for similar items through the one launch. For using this feature:
Click on the filter on All launches view
click on To investigate

[2020-03-30 16:33] #601 closed

[2020-03-30 16:35] evjlobanova commented on #602
Closed due to no response

[2020-03-30 16:35] #602 closed

[2020-03-30 16:52] evjlobanova commented on #614
Regarding the first question: just use Classic mode for version 5.
In version 5.1  have changed Analyzer and re-wrote it on Python. The new analyzer is much more accurate. Also, you can use Classic mode.

In ver 5 we also added Pattern analysis #673. But it works just as a hint for To investigate items. In ver 5+ we are planning to introduce Actionable Analysis https://github.com/reportportal/repo

[2020-03-30 16:52] #614 closed

[2020-03-30 16:54] arunkumar-muthusamy commented on #614
Thanks much @evjlobanova !

[2020-03-30 16:55] evjlobanova commented on #617
Please follow the steps described in the latest manual https://reportportal.io/docs/Deploy-ReportPortal-without

But we do not recommend to deploy ReportPOrtal on Windows.
Recommended ens are Linux, MacOS, Kuber

[2020-03-30 16:55] #617 closed

[2020-03-30 16:56] evjlobanova commented on #619
Closed due to no response

[2020-03-30 16:56] #619 closed

[2020-03-30 17:00] #632 closed

[2020-03-30 17:03] #633 closed

[2020-03-30 17:26] evjlobanova commented on #638
Please use the latest manual for installation with Docker on Windows https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker-on-windows

Please reopen the issue if you still have a problem

[2020-03-30 17:26] #638 closed

[2020-03-30 18:08] AlehB commented on #600
Hi @heilwood,

We have moved to the ReportPortal 5.x. mongodb, registry, consul are not relevant anymore.

Please check the following install options available
- Docker - https://reportportal.io/docs/Deploy-with-Docker
- Kubernetes - https://reportportal.io/docs/Deploy-with-Kubernetes
- no Docker version for CentOS/RHEL Linux distributions - https://reportportal.io/docs/Deploy-ReportPortal-without

[2020-03-30 18:08] #600 closed

[2020-03-30 18:10] AlehB commented on #625
Hi @Yaromudr,

We moved to the ReportPortal 5.x. Nginx Controller is used for the Kubernetes version (Traefik for the Docker one)

Please check the following install options available
- Docker - https://reportportal.io/docs/Deploy-with-Docker
- Kubernetes - https://reportportal.io/docs/Deploy-with-Kubernetes
- no Docker version for CentOS/RHEL Linux distributions - https://reportportal.io/docs/Dep

[2020-03-30 18:10] #625 closed

[2020-03-30 21:37] avarabyeu commented on #715
https://github.com/reportportal/kubernetes/pull/77#pullrequestreview-384247651
PR has just been reviewed. All the comments are minor, so hopefully we will have this request closed

[2020-03-31 05:23] albadam000 commented on #383
Plus 1 on this. It would really help to drive adoption of RP across our org. Thanks!

[2020-03-31 07:41] david-fliguer-ws opened #878 "Running pytest with --reportporal option gets stucked"
Hi,

I am trying to get to work a basic integration of running a simple pytest test and seeing the results in reportportal

I start the containers using the docker-compose file (I see a lot of exceptions in the output though...)

And when I run the test with pytest the test passes but then it just gets stucked

I see in the output of the containers the following error:

analyzer_1       | [2019-06

[2020-03-31 07:50] evjlobanova commented on #634
In the latest version of ReportPortal we are using PostgreSQL

[2020-03-31 07:50] #634 closed

[2020-03-31 07:50] evjlobanova commented on #636
Closed due to no response

[2020-03-31 07:50] #636 closed

[2020-03-31 07:55] svettsova commented on #447
fixed in 5.1 version

[2020-03-31 07:55] #447 closed

[2020-03-31 07:59] evjlobanova commented on #637
Please  use the latest manual for ReportPortal installation without docker and the latest version of Report Portal https://reportportal.io/docs/Deploy-ReportPortal-without

[2020-03-31 07:59] #637 closed

[2020-03-31 08:23] #655 closed

[2020-03-31 08:24] evjlobanova commented on #656
@svettsova Valya, could you please check version 5.1

[2020-03-31 08:26] #657 closed

[2020-03-31 08:27] AlehB commented on #654
Hi @mcarriga ,

Yes, you can Amazon Elasticsearch Service in our ReportPortal 5.x Kubernetes version
https://reportportal.io/docs/Deploy-with-Kubernetes

[2020-03-31 08:27] #654 closed

[2020-03-31 08:38] #660 closed

[2020-03-31 08:54] evjlobanova commented on #666
![image](https://user-images.githubusercontent.com/30413511/78006851-2d1cf980-7346-11ea-9581-75774260475d.png)
![image](https://user-images.githubusercontent.com/30413511/78006922-49b93180-7346-11ea-85b3-7e57181a0103.png)

[2020-03-31 09:04] evjlobanova commented on #667
Have been resolved with an adding a possibility to choose 'attribute key' on the widget wizard:
Available for: Cumulative trend chart, Component Health Check Widget.

Also, we think about auto-dashboard  https://github.com/reportportal/reportportal/issues/576

[2020-03-31 09:04] #667 closed

[2020-03-31 09:12] #663 closed

[2020-03-31 09:38] #686 closed

[2020-03-31 09:46] #688 closed

[2020-03-31 09:47] #690 closed

[2020-03-31 09:55] svettsova commented on #646
@abotalov could you please specify which file format did you attach?

[2020-03-31 09:57] evjlobanova commented on #703
@msgdinesh I closed this issue, but if the problem is still actual, feel free to reopen it.

[2020-03-31 09:57] #703 closed

[2020-03-31 09:59] jhutar commented on #548
Thank you. I think it is a usable workaround.

[2020-03-31 10:10] evjlobanova commented on #548
@jhutar Can I close the issue?

[2020-03-31 10:32] evjlobanova commented on #726
This feature is in our Backlog,
We are planning to implement it.
But it is difficult to say exactly in which version it will be included.

[2020-03-31 10:33] #730 closed

[2020-03-31 10:36] svettsova commented on #656
issue is not reproducible in 5.1

[2020-03-31 10:36] #656 closed

[2020-03-31 10:52] #710 closed

[2020-03-31 11:21] svettsova commented on #704
@ekisielinski could you try it in version 5.0?
You can set a custom range of filter and input current date to "TO" field and enable the "Dynamic update" to see launches "in progress"

[2020-03-31 12:39] evjlobanova commented on #771
@moatazeldebsy please add any details. Could you please send a link to agent that you used?

[2020-03-31 12:42] evgenytkachenko opened #879 "[v5] Typo in the email notification "Password recovery""
**Describe the bug**
An email notification "Password recovery" has a typo in the line "If you didn’t request this email, you may **safety** ignore it."

**To Reproduce**
On the login page click "Forgot password?" link
Enter your email address and click submit button
Go to your mailbox and open an email "Password recovery"
You will see  "If you didn’t request this email, you may **safety** ignore i

[2020-03-31 12:50] evjlobanova commented on #879
We have already fixed this bug in ver 5.1

[2020-03-31 12:50] #879 closed

[2020-03-31 12:53] evjlobanova commented on #774
Duplicate of https://github.com/reportportal/reportportal/issues/773

[2020-03-31 12:54] #774 closed

[2020-03-31 12:59] evjlobanova commented on #779
@RG108 please use the latest jar file

[2020-03-31 13:03] evjlobanova commented on #784
We think about something like this:
![image](https://user-images.githubusercontent.com/30413511/78029327-0fad5700-7369-11ea-8327-a5d513e0402f.png)

You create a set of widgets and apply different filters and parameters on the fly.

[2020-03-31 13:04] lorandfazakas opened #880 "Rerunning a previously passed tests causes some bugs [v5]"
**Describe the bug**
Re-executing a test which passed previously results in a failed record (#1) and a passed record (#2) although all of the nested steps passed in both cases.
Another weird thing is that it says that the first execution took like 22s and the second took like 2s.

**To Reproduce**
Try to re-execute a passed test.
In my case the test case:
I just log something to the console, creat

[2020-03-31 13:06] #533 closed

[2020-03-31 13:08] evjlobanova commented on #543
Fixed in 5.0

[2020-03-31 13:08] #543 closed

[2020-03-31 13:12] evjlobanova commented on #561
Please use our dev guide:
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs

[2020-03-31 13:12] #561 closed

[2020-03-31 13:15] evjlobanova commented on #611
@iivanou has this issue been addressed in the new implementation?

[2020-03-31 13:16] #645 closed

[2020-03-31 13:22] lorandfazakas opened #881 "StackTrace quicklook in case of reruns shows nothing[v5]"
**Describe the bug**
In case of re-runs there is a stack trace quicklook window which should show the stacktrace of the reruns, but it show nothing to display. If I open the specific run then I can see the stacktrace.
Also note the entirely different execution time.

**To Reproduce**
Try rerunning a failing test 2 times and check the stacktrace.
In my case I use this simple test which always fails

[2020-03-31 13:24] #678 closed

[2020-03-31 13:27] #716 closed

[2020-03-31 13:58] evjlobanova commented on #735
A possibility to delete test items in run-time has been added to the Backlog

[2020-03-31 13:58] DzmitryHumianiuk commented on #880
@iivanou  that was in python.

@lorandfazakas could you please attach your code example.

[2020-03-31 13:59] evjlobanova commented on #659
@IrinaBucsa just switch on Auto-Analysis on the Project settings

[2020-03-31 13:59] #659 closed

[2020-03-31 14:01] evjlobanova commented on #683
@AlehB could you please check if 2nd point for v5 from Dima`s message has been already done?

[2020-03-31 14:02] iivanou commented on #880
Agent version? Python version? What does mean "re-executing"?

[2020-03-31 14:05] evjlobanova commented on #462
Duplicate of https://github.com/reportportal/reportportal/issues/724

[2020-03-31 14:05] #462 closed

[2020-03-31 14:15] evjlobanova commented on #785
Can be resolved with the same solution as https://github.com/reportportal/reportportal/issues/784
Closed as a duplicate

[2020-03-31 14:15] #785 closed

[2020-03-31 14:27] evjlobanova commented on #807
Closed due to no response

[2020-03-31 14:27] #807 closed

[2020-03-31 14:29] evjlobanova commented on #813
@VolhaKarenko do you have any updates regarding this issue?

[2020-03-31 14:30] evjlobanova commented on #814
@svettsova Valya, could you please try to reproduce this issue?

[2020-03-31 14:32] evjlobanova commented on #821
Closed due to know response

[2020-03-31 14:32] #821 closed

[2020-03-31 14:50] AlehB commented on #683
Production-ready installation type of ReportPortal 5.x is Kubernetes
https://reportportal.io/docs/Deploy-with-Kubernetes

It does not expose the ports by default

[2020-03-31 15:18] Yumfriez commented on #824
@khatray We've recently released RC-2 versions of our services try to use it. If you have the same problem please let us know

Docker-compose file: https://github.com/reportportal/reportportal/blob/develop/docker-compose.yml

[2020-03-31 15:25] jhutar commented on #548
I would keep it open until proper fix is done, but I will certainly not reopen - I assume you have other priorities as well. Thank you!

[2020-03-31 15:38] DzmitryHumianiuk commented on #548
@jhutar it's already implemented in 5.0

so i guess can be closed.

![image](https://user-images.githubusercontent.com/30413511/77932925-dc11f480-72b6-11ea-9d91-d98f822fc259.png)

[2020-03-31 15:38] #548 closed

[2020-03-31 16:06] evjlobanova commented on #831
@AlehB What can be wrong?

[2020-03-31 16:11] evjlobanova commented on #847
@YarKr I close this issue, but if you still have problems, please feel free to reopen

[2020-03-31 16:11] #847 closed

[2020-03-31 16:12] #849 closed

[2020-03-31 16:16] evjlobanova commented on #854
@mnicula Have you resolved the issue?

[2020-03-31 16:17] evjlobanova commented on #856
@jonacarvalheiro Could you please send logs, screenshots of configuration in RP or some details so that we can be able to debug the problem?

[2020-03-31 16:21] evjlobanova commented on #857
@GopinathCTS the feature is working incorrectly because of a lot of launches.
We can advise you to use rerun functionality (https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md) or https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

@irynakozak2 Ira, could you please tell me, if this performance issue fo

[2020-03-31 16:25] svettsova commented on #814
@evjlobanova I didn't receive sender name in version 5.1 with following configurations:
![2020-03-31_22h24_52](https://user-images.githubusercontent.com/50825875/78050707-7436d900-739e-11ea-8b33-02a0ce8dd42d.png)

![image](https://user-images.githubusercontent.com/50825875/78050765-8d3f8a00-739e-11ea-9735-4fe55372b6c5.png)

[2020-03-31 16:31] evjlobanova commented on #859
@RG108 which file do you use?
![image](https://user-images.githubusercontent.com/30413511/78051309-2910cc00-7386-11ea-9c94-77bcda6aaf6a.png)

[2020-03-31 16:46] evjlobanova commented on #814
@AssafMCET try to choose TLS

[2020-03-31 16:47] evjlobanova commented on #814
If the issue still reproduce please reopen it again

[2020-03-31 16:52] evjlobanova commented on #860
@pbortnik, please look

[2020-03-31 16:55] evjlobanova commented on #863
@LittleColin have you resolved this issue?

[2020-03-31 16:58] evjlobanova commented on #864
@ivan-sukhomlyn this issue can be closed as soon as a pr to kuber repository will be merged, am I right?

[2020-03-31 16:59] evjlobanova commented on #866
@svettsova Could you please check if this issue reproduce?

[2020-03-31 17:00] #870 closed

[2020-03-31 17:01] lorandfazakas commented on #880
* **Agent:** I'm using a custom agent which is pretty similar to [this](https://github.com/reportportal/agent-Python-RobotFramework/tree/master/robotframework_reportportal) one. It's basically using the same stack structure to build the relationships between the test_items. The only significant change is that creating and closing a launch is outside of the agent's scope and it takes the launch_id

[2020-03-31 17:02] mnicula commented on #831
You can try to increse the alocated space for docker. This solved the problem in my case.

[2020-03-31 17:03] evjlobanova commented on #873
@DzmitryHumianiuk can rp suggest something?

[2020-03-31 17:03] mnicula commented on #854
@evjlobanova yes, thanks

[2020-03-31 17:03] #854 closed

[2020-03-31 17:05] evjlobanova commented on #874
@ramkumar-yoganathan Could you please provide more details on your request?
Could you please describe the whole use case?
If you can add to this information on some screens, it will be great

[2020-03-31 17:12] evjlobanova commented on #875
Duplicate of #117

I close this issue and link it to #117 .
For now, there is only a possibility to add a link to the video to the logs.
As far as logs are supported Markdown, the link will be clickable and you will be able to view the video.
https://github.com/reportportal/reportportal/issues/768

Also, we have an integration with SauceLabs https://github.com/reportportal/reportportal/issues/348

[2020-03-31 17:12] #875 closed

[2020-03-31 17:13] evjlobanova commented on #768
#117

[2020-03-31 17:15] ivan-sukhomlyn commented on #864
@evjlobanova Yes, you are right.
I see that PR is already approved but not merged yet

[2020-03-31 17:17] evjlobanova commented on #881
@svettsova Valya, would you mind to check this problem on version 5.1?

[2020-03-31 17:23] pratik-gajjar-13988 opened #882 "Possibility to rename defect types"
Also it would be nice feature to make all standard defect type labels configurable.
 In my case, I need to show all defects with below defect terminologies in launches section.
Example:
A, B, C instead of Product Bugs, System Issues etc...

[2020-03-31 17:25] Invictum opened #883 "Test entity with STEP type is displayed as TEST"
Hi,
I am using following core stuff to interact with RP
[code]
Client code snippet
[code]

Created item is marked as TEST in report
![screen shot 2017-12-07 at 15 58 54](https://user-images.githubusercontent.com/4653335/33716588-d187fd90-db67-11e7-8cf9-fe2f90bd7369.png)

Note:
Issue is not reproduced for launch exports. I. e. test item status is displayed correctly.

[2020-03-31 17:27] sbakharev opened #884 "Filter launches normally in "Most failure test-cases" widget"
Hello!

We use several testing environments and have different build/deploy/test configurations for them since some heavy features cannot be tested on ones but can be tested on others. In fact these environments differ **a lot**.

So the same test projects are configured to filter tests in different ways on different environments. And since the team is well aware of where which of the tests are ac

[2020-03-31 17:30] sbakharev opened #885 "Add function to get short links to launch/suite/test results"
Hi again :)

Using UI 3.3.2 the URL of almost any specific page is _very long_ and barely usable for quick messaging (e.g. Skype) or emailing (https://myreportportal.url/ui/#uis/launches/all|page.page=1&page.size=50&page.sort=start_time%2CDESC/5a5ca813b3cb1f0001fd63bb?page.page=1&page.size=50&page.sort=start_time%2CASC - this is not ok and even confusing people sometimes).

That could be great to

[2020-03-31 17:45] evjlobanova commented on #433
https://github.com/reportportal/service-ui/issues/1796

[2020-03-31 17:46] evjlobanova commented on #784
The similar request https://github.com/reportportal/service-ui/issues/1796

[2020-03-31 17:46] RG108 commented on #859
@evjlobanova I believe the first one which has 12.3 MB space.

[2020-03-31 17:57] ringods opened #887 "Use dex for authentication/authorization"
Instead of having to support every possible authentication/authorization provider, please integrate with [CoreOS Dex](https://github.com/dexidp/dex). They already have a bunch of very well maintained pluggable backends.

Here is an example of a Spring Boot application talking with CoreOS Dex:
https://github.com/wearearima/spring-boot-dex

After implementing this, it will be allow users to login in

[2020-03-31 18:03] vveliev-tc opened #891 "Make API to follow rest-full style for attachments."
I don't think current implementation for logs considered rest-full because the same resource may have completely different payloads:
(current API requires)
1. JSON for a regular log entry
2. multipart for log with image

A possible solution would be accepting:
- adding new API resource for a log entry to upload an image (2 step approach)
-  image as part of the JSON

https://stackoverflow.com/ques

[2020-03-31 18:06] evjlobanova commented on #859
Do you use the latest version of rp?

[2020-03-31 18:12] evjlobanova commented on #892
@Yumfriez could you please take a look?

[2020-03-31 18:25] #744 closed

[2020-03-31 18:56] RG108 commented on #859
yep latest one 5.0.0 I believe. @evjlobanova

[2020-04-01 05:25] svettsova commented on #866
@evjlobanova I've retested this issue in 5.0 version and it is not reproducible for me
![2020-04-01_11h20_15](https://user-images.githubusercontent.com/50825875/78102003-fd83f500-740a-11ea-82a0-af97a8613118.png)
@almayce Could you check this issue again?

[2020-04-01 05:44] svettsova commented on #881
@evjlobanova the issue is not reproducible for me in 5.0 and 5.1 versions trough API reporting. I guess something can be wrong on agents side

[2020-04-01 05:57] evjlobanova commented on #859
@RG108 I am using versions
![image](https://user-images.githubusercontent.com/30413511/78103821-82b0df00-73f6-11ea-8b2d-72675b477685.png)
and the mentioned plugin file. Everything is working.

Could you please double-check?
If it is still reproduced, please describe all preconditions, steps, and logs.

[2020-04-01 06:43] iivanou commented on #880
You are sending incorrect data to the API. You should send "rerunOf" instead of "rerun_of".

![image](https://user-images.githubusercontent.com/8349078/78106989-46cd4800-73fd-11ea-91e3-784814e9abfc.png)

[2020-04-01 07:17] RG108 commented on #859
Sure. I will revert back here in some time.
Thanks, @evjlobanova for following up.

[2020-04-01 07:29] irynakozak2 commented on #857
@evjlobanova I think, this is no performance issue with Deep Merge actually. May be this is incorrect display or recount of statistics.
@GopinathCTS could you please tell, Deep Merge operation itself had been completed successfully?

[2020-04-01 07:32] evjlobanova commented on #881
@iivanou could this issue also be connected with the problem described in the issue #880 ?

[2020-04-01 07:33] lorandfazakas commented on #880
@iivanou Yeah you're right. I changed it to
[code]
But the same issue still occurs. It looks like somehow the API doesn't care about if it's rerunOf or rerun_of.

[2020-04-01 07:40] evjlobanova commented on #859
I close this issue as non-reproducible.
But feel free to reopen it, if you still have a problem with a plugin.

[2020-04-01 07:40] #859 closed

[2020-04-01 07:46] iivanou commented on #880
How does your request look like? Could you share logs entries?

[2020-04-01 07:50] iivanou commented on #881
They may be connected.

[2020-04-01 08:15] lorandfazakas commented on #880
Starting the 1st launch:
[code]

Closing the 1st launch:
[code]

Starting the re-run launch:
[code]
Closing the re-run launch:
[code]

[2020-04-01 08:23] iivanou commented on #880
Your requests are correct. Passing the ball back to @DzmitryHumianiuk.

[2020-04-01 08:26] #831 closed

[2020-04-01 08:45] #864 closed

[2020-04-01 08:45] #741 closed

[2020-04-01 09:13] svettsova commented on #536
@evjlobanova  issue reproduces in 5.1

[2020-04-01 09:21] almayce commented on #866
![demo](https://user-images.githubusercontent.com/18463941/78120884-5192d780-7413-11ea-90cc-4d836c46cf34.gif)

[2020-04-01 09:31] evjlobanova opened #893 "New Python analyzer"
# Benefits:
- Auto analysis can be used right away if at least 1 manual investigation has been done. No need to wait for the aggregate base with 3000 items in it.
- Auto analysis has better precision due to new information extraction from logs and machine learning algorithms
- The analyzer is much more strict. Threshold "Minimum should match" for restricting similarity between logs in test item to

[2020-04-01 09:34] evjlobanova commented on #893
@MariyaIvanina can answer all questions regarding the new analyzer.
Also, we are planning to prepare a video with full descriptions of Python analyzer capabilities and technical details.

So if you have question please drop them in a comment on this issue.

[2020-04-01 09:34] #893 closed

[2020-04-01 09:42] evjlobanova commented on #864
Thank you, @HardNorth

[2020-04-01 09:43] evjlobanova commented on #866
@almayce which agent (name/version) do you use?

[2020-04-01 09:53] almayce commented on #866
@evjlobanova I don't use agent, just sending curl requests to api.

[2020-04-01 10:45] evjlobanova opened #894 "History line improvements"
*History line- Before*
![image](https://user-images.githubusercontent.com/30413511/78123932-9e78ad00-7417-11ea-8ee1-5120abad7c5c.png)

*History line in 5.1*

*Improvement description:*
- History line is built on the base of Test Case ID
- Possibility to see several test executions from one launch on the HIstory line. Symbol "eye" has been removed.

*Scenario*
The user moves to the Log view and see

[2020-04-01 10:47] #894 closed

[2020-04-01 11:03] svettsova commented on #866
@almayce could you specify version of RP, browser and OS?

[2020-04-01 11:11] almayce commented on #866
RP - [5.0.0](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml)
Browser - Google Chrome Version 70.0.3538.77 (Official Build) (64-bit)
OS - Ubuntu 18.04.2 LTS (64-bit)

[2020-04-01 11:35] evjlobanova opened #895 "New field: Test Case ID"
# Test Case ID: What is it?

If you are using any of the Test Management System(TestRail, Jira, ALM, and others), you have a unique identification of test cases in it.
In version 5.1 you have an ability to report test cases with TestCase ID from TMS. That gives you an ability to link a source of the test case in TMS and its execution in ReportPortal.

![image](https://user-images.githubusercontent

[2020-04-01 11:38] evjlobanova opened #896 "History table for the whole launch /filter"
![image](https://user-images.githubusercontent.com/30413511/78130967-f10b9680-7422-11ea-83c3-f4c7012543a2.png)
## Improvements:
- Added a possibility to filter items on History view
- Added a possibility to perform an action under items on History view  + bulk mechanism
- Added a possibility to move to History view from Parents name, Launch/ Filter list view
- Changed a base for History table from

[2020-04-01 13:59] akki2063 opened #897 "Not able to run test in pytest"
While trying to execute a pytest file, I'm getting below error

platform win32 -- Python 3.7.7, pytest-5.4.1, py-1.8.1, pluggy-0.13.1
rootdir: C:\Users\Q1056604\OneDrive - IQVIA\Report-portal\gxp-test-automation, inifile: pytest.ini
plugins: allure-pytest-2.8.12, dependency-0.5.1, reportportal-5.0.0
collected 4 items
INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "c:\users

[2020-04-01 19:28] abotalov commented on #646
Some video file format (mkv probably)

[2020-04-02 06:45] nagaeva-anastasia opened #898 "download the full log of the test"
It would be great to have a button that allows downloading the full log of the test in one click.
And provide the ability to download log only selected log4j levels.

[2020-04-02 07:11] evjlobanova commented on #898
Connected with #647 #845

@nagaeva-anastasia Could you please provide your use case? How do you plan to use this button? Could you please describe a business need?

[2020-04-02 07:18] nagaeva-anastasia commented on #898
E.g. I have failed API test and I need to open a ticket for devs team. I provided all application logs as usual. And they also ask me to provide test logs to investigate all requests, responses, etc to compare it with application logs using timestamps and test flow.

Of cause, I can do it using jenkins consoleText, but it will be convenient to have this ability in RP.

[2020-04-02 07:29] #895 closed

[2020-04-02 08:00] evjlobanova commented on #898
Got you
Just for your information, when you post an issue to BTS, you can add all info regarding failure to the Jira ticket. Maybe it will be helpful
![image](https://user-images.githubusercontent.com/30413511/78224367-1f47af80-74d1-11ea-8524-81d196b03b37.png)

[2020-04-02 08:25] svettsova commented on #890
@evjlobanova issue is reproducible in 5.0 and 5.1 versions

[2020-04-02 08:25] alex-i-rybkin opened #903 "[RP5] Improvement. Add 'Download artifact' button"
During test run, we usually post to RP different logs, test-recordings, screenshots, etc. When analyzing test results I usually need to download these results for further detailed analysis and reposting them to Jira or share with somebody directly.

In RP4 it was possible to download any artifact by right-clicking on its icon in logs and pressing the 'Save link as' button.

In RP5 I could not find

[2020-04-02 08:32] evjlobanova commented on #890
@svettsova could you please a defect to the Jira?

[2020-04-02 08:59] svettsova commented on #890
done. issue ID - EPMRPP-49764

[2020-04-02 09:00] evjlobanova commented on #896
History table for Filter
![History view for filter](https://user-images.githubusercontent.com/30413511/78229868-38ecf500-74d9-11ea-8225-43315cc72730.gif)

[2020-04-02 09:00] #896 closed

[2020-04-02 09:31] evjlobanova opened #899 "Compare results from: Launch vs Launch ; Launch vs Filter; Filter vs Filter"
![image](https://user-images.githubusercontent.com/30413511/78222531-143f5000-74ce-11ea-8a58-894c0dd527aa.png)
![Compare launches on History table](https://user-images.githubusercontent.com/30413511/78231454-7fdbea00-74db-11ea-914b-f549727cc48c.gif)
And analyzes the latest launches from the Filter B if there are items with the same Test Case ID as 20 tests in History have
## Which information adde

[2020-04-02 09:31] #899 closed

[2020-04-02 09:43] evjlobanova commented on #290
Connected with #899

[2020-04-02 09:48] evjlobanova commented on #892
@svettsova Could you please check this issue?

[2020-04-02 09:50] evjlobanova commented on #825
Duplicate of #71

[2020-04-02 09:50] #825 closed

[2020-04-02 09:52] evjlobanova commented on #783
Duplicate #71
All updates and progress regarding this feature you can find in the mentioned issue.

[2020-04-02 09:52] #783 closed

[2020-04-02 10:06] evjlobanova commented on #151
Closed as the duplicate #569

[2020-04-02 10:06] #151 closed

[2020-04-02 11:07] svettsova commented on #892
@schrufygroovy could you provide the request example (including body)?

[2020-04-02 12:04] nagaeva-anastasia commented on #898
Thanks for the solution!
In my case, it was an existing ticket, unfortunately.

[2020-04-02 12:24] evjlobanova commented on #421
We addressed this issue with 3 features:
- first more reliable analyzer #893
- possibility to mark test items by "Ignored in AA" label
- possibility to move the whole launch to Debug mode. That helps to exclude it from the ES database.

[2020-04-02 12:24] #421 closed

[2020-04-02 12:30] evjlobanova commented on #852
@blue995 Can I close this issue?

[2020-04-02 12:47] evjlobanova commented on #2
In issue  #583 there is described the approach that most likely will be used for this problem.

We can add an auto-role Guest on the project with Watch only access to ReportPortal.
The dashboard link will be included credentials of guest user.
If somebody shares a link with the non-authorized user, the credentials of the guest will be added automatically.
A non-authorized user will be seeing just

[2020-04-02 12:54] evjlobanova commented on #97
Also, added to this @ailjushkin request #302 who has this similar request that relates to a  launch list
![image](https://user-images.githubusercontent.com/30413511/78251516-21723400-74fa-11ea-84eb-37e03a814ce2.png)

[2020-04-02 12:54] evjlobanova commented on #302
I include this request in a scope of #97

[2020-04-02 12:54] #302 closed

[2020-04-02 12:56] evjlobanova commented on #566
Duplicates of #877

[2020-04-02 12:56] #566 closed

[2020-04-02 13:01] evjlobanova commented on #266
Duplicate of #877
You can follow up on your request progress in the mentioned issue

[2020-04-02 13:01] #266 closed

[2020-04-02 13:05] evjlobanova commented on #396
Connected with #583

[2020-04-02 13:07] evjlobanova commented on #888
Duplicate of #877

[2020-04-02 13:07] #888 closed

[2020-04-02 13:17] #433 closed

[2020-04-02 13:21] evjlobanova commented on #433
Closed due to this request relates to the issues #74 and #259.
You can follow the progress on these issues in the mentioned ones.

[2020-04-02 13:25] evjlobanova commented on #194
Duplicate of #784

[2020-04-02 13:25] #194 closed

[2020-04-02 13:34] schrufygroovy commented on #892
Looks like the JavaScript library is using some illegal content format: `multipart/form-data; boundary=8571066768`. with binary data. So it seems to be caused by them. I cannot reproduce with usual API request using 'application/json'. Sorry for the confusion...

[2020-04-02 13:36] evjlobanova commented on #347
By clicking on the start time, you can choose in what format should be shown information.

[2020-04-02 13:36] #347 closed

[2020-04-02 13:45] evjlobanova commented on #291
Duplicate of #885

[2020-04-02 13:45] #291 closed

[2020-04-02 14:00] evjlobanova commented on #297
@ulmanA  @rplevka In version 5. 1 we introduce a new History table that will show items across all launches  #896

For history line #894 we also added some improvements, but the existing logic is saved.
We are using only launches with the same name on the History line.

This issue will be addressed in version 6.
On the log view, a small env matrix will be available. It will be show executions of a

[2020-04-02 14:03] evjlobanova commented on #338
duplicate of #665

[2020-04-02 14:03] #338 closed

[2020-04-02 14:06] evjlobanova commented on #646
@abotalov do you try it on version 5?

[2020-04-02 14:09] evjlobanova commented on #647
@haelye could you please solution in issue #845? Does it help it to resolve your problem?

[2020-04-02 14:10] evjlobanova commented on #892
Can I close this issue?

[2020-04-02 14:14] abotalov commented on #646
No, I tried it only on 4.3

[2020-04-02 14:29] evjlobanova commented on #527
I joined this request with #845.
You can follow the progress on this feature in the mentioned ticket.

[2020-04-02 14:29] #527 closed

[2020-04-02 14:29] evjlobanova commented on #153
I joined this request with #845.
You can follow the progress on this feature in the mentioned ticket.

[2020-04-02 14:29] #153 closed

[2020-04-02 14:38] #892 closed

[2020-04-02 15:50] LittleColin commented on #863
Yes thank you - the suggestion to downgrade to https://www.npmjs.com/package/codeceptjs-rphelper/v/1.1.12 and use hasStats: false worked.

I'm still not clear on why we can't use the latest plugin given I'm using the latest v5 report portal but it works so thank you for your support.

[2020-04-02 16:15] #863 closed

[2020-04-02 16:55] DzmitryHumianiuk commented on #880
@lorandfazakas `same issue` you mean like no any error in response, but on UI you still have representation as described in https://github.com/reportportal/reportportal/issues/880#issue-591091823 ?
Which version of API image do you use? (see it under login form)

@Yumfriez i guess you can have a answer here.
please take a look into requests above

[2020-04-02 17:04] ranga543 opened #900 "How to subscribe or post data to custom url of an activity like github webhooks ?"
Not sure if it supports posting an `activity to custom API URL` or subscribe to an activity using `custom API URL` like a `GitHub webhook events`.

[2020-04-02 17:18] OrenAutoSmileBox commented on #898
@nagaeva-anastasia I think you can link an issue to an existing Jira ticket (JLYK)
https://reportportal.io/docs/Jira-Integration%3Elink-an-issue-with-an-issue-in-jira

[2020-04-02 19:53] eddie101AMR opened #901 "ReportPortal.addins integration with TestCentric.GuiRunner.1.3.2"
Hi,
I'm trying to run tests via TestCentric.GuiRunner.1.3.2, but I can't see the results uploaded to ReportPortal, I added ReportPortal.addins to folder in packages folder,
the same thing I did with NUnit.ConsoleRunner.3.11.1 and it's working fine when I run my tests via Nunit console runner,
what I'm missing?
I need to run tests of my dll tests file from some nunit gui runner?
any ideas ?

Thanks

[2020-04-02 20:04] eddie101AMR opened #902 "ReportPortal.addins integration with TestCentric.GuiRunner.1.3.2"
Hi,
I'm trying to run tests via TestCentric.GuiRunner.1.3.2, but I can't see the results uploaded to ReportPortal, I added ReportPortal.addins to folder in packages folder,
the same thing I did with NUnit.ConsoleRunner.3.11.1 and it's working fine when I run my tests via Nunit console runner,
what I'm missing?
I need to run tests of my dll tests file from some nunit gui runner?
any ideas ?

Thanks

[2020-04-03 05:23] nagaeva-anastasia commented on #898
@OrenAutoSmileBox thank you for the suggestion, but in this case, it will be just a link to RP. so, devs don't want to learn a new tool, create an account, etc. they just need a log into text format. I don't think that's it's a really rare situation.

[2020-04-03 07:32] evjlobanova commented on #902
@nvborisenko maybe you can help with it?

[2020-04-03 08:11] nvborisenko commented on #902
Transferred to https://github.com/reportportal/agent-net-nunit/issues/58.

Because of some issues in github this is sill stay here. Closing it.

[2020-04-03 08:11] #902 closed

[2020-04-03 08:48] evjlobanova commented on #827
Closed due to no answer
Feel free to reopen, if you still have a problem

[2020-04-03 08:48] #827 closed

[2020-04-03 08:54] evjlobanova commented on #903
In version 4
![image](https://user-images.githubusercontent.com/30413511/78342347-d14eac80-75a1-11ea-80a5-551bfb879f8a.png)
In version 5
There is no option "Save as a link"

[2020-04-03 10:43] lorandfazakas commented on #880
@DzmitryHumianiuk  Yes by same issue I mean my original issue I opened the ticket about.
**Index Service**: 5.0.5;
**Service UI**: 5.0.0

[2020-04-03 12:44] svettsova commented on #773
@ivan-sukhomlyn could you specify a version of RP and specific steps?

[2020-04-03 12:54] evjlobanova commented on #773
Will be fixed in version 5.3

[2020-04-03 14:06] #694 closed

[2020-04-03 14:27] ivan-sukhomlyn commented on #773
@svettsova I've provided ReportPortal's service name and version in the title.
service - **API**
service version - **5.0.0-RC-2**

[2020-04-03 14:48] shaburov opened #906 "Widget table column width (Most failed test-cases table (TOP-20))"
Current version: API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

**Need to do Right Alignment**
![image](https://user-images.githubusercontent.com/15269131/78373584-7635ad80-75d3-11ea-889e-322a22d4506f.png)

[2020-04-03 14:57] shaburov opened #907 "Add filter to widget: Most failed test-cases table (TOP-20))"
The widget "Most failed test-cases table" does not contain a filter selection.
Using only "Launch name" - This is a pain.
Let's do something more flexible...

![image](https://user-images.githubusercontent.com/15269131/78374412-7c785980-75d4-11ea-9b66-0c953e9b0f2d.png)

[2020-04-03 15:01] iamtech123 commented on #863
I am facing same error while using Robot Framework integration with Report Portal5

Issue occurs when Test teardown or Suite Teardown is used. Test are updated when Test teardown is removed.

[2020-04-03 15:33] evjlobanova commented on #907
Duplicate of #320
Please follow the progress on this issue in the mentioned issue

[2020-04-03 15:33] #907 closed

[2020-04-03 15:35] evjlobanova commented on #884
+ issue regarding Most failed items #320

[2020-04-03 16:24] iamtech123 opened #908 "Overall stats don't appear after launch completes [v5]"
**Describe the bug**
No summary stats (total, passed, failed etc.) are appearing for my launch

**To Reproduce**
Issue occurs when Test teardown or Suite Teardown is used. Tests are updated when Test teardown is removed.

**Screenshots**
![ReportPortal_TestResults_NotUpdated](https://user-images.githubusercontent.com/55270886/78383151-8c546580-75f5-11ea-89ca-03703f87e96e.jpeg)

[2020-04-03 16:24] iamtech123 commented on #863
Since this is closed i have created a new bug here: https://github.com/reportportal/reportportal/issues/908

[2020-04-03 17:17] evjlobanova commented on #908
@iivanou could you please look at this issue? May a problem be related to the python agents?

[2020-04-04 07:42] evjlobanova commented on #905
@shaburov please wait a release of 5.1 (next week).
In ver 5.1 Jave 11 will be introduced.
So that this problem will be resolved.
Also in the version 5.1  some improvements for plugin uploading have been done.

[2020-04-04 07:42] #905 closed

[2020-04-04 07:49] Yumfriez commented on #889
@LittleColin It works as expected. API has base path "/", but all requests from the UI side are sent through the LoadBalancer (which handles prefixes aka "/uat" or "/api". And all requests from the swagger page are sent with these prefixes in the request

[2020-04-04 07:50] #889 closed

[2020-04-04 07:58] evjlobanova commented on #886
We are do not planning to remove information about versions.
You can do it by yourself.
You can make own changes to service-Index.

[2020-04-04 07:58] #886 closed

[2020-04-04 08:02] evjlobanova commented on #878
@david-fliguer-ws please give permissions to ES https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker
![image](https://user-images.githubusercontent.com/30413511/78421834-90b76780-7663-11ea-9b04-4dd626094baf.png)

And give us more details: logs, details on test runs and others

[2020-04-04 08:03] evjlobanova commented on #829
Closed due to no response.
Please reopen the issue, if it is still actual

[2020-04-04 08:03] #829 closed

[2020-04-04 08:05] evjlobanova commented on #824
Please try RC-2 and let us know about results

[2020-04-04 08:08] evjlobanova commented on #792
@gaurav-singh please share with your results?
Can we close the issue?

[2020-04-04 08:12] iivanou commented on #908
@iamtech123 are you using robotframework-reportportal for reporting your tests? If yes, what os the version of the agent?

[2020-04-04 08:14] evjlobanova commented on #535
@prvns133t please run tests with version 5.0 +.
Please reopen issue, if it is still actual

[2020-04-04 08:14] #535 closed

[2020-04-04 08:24] evjlobanova commented on #857
Added a ticket to the Jira for investigations

[2020-04-04 08:25] evjlobanova commented on #881
Added ticket to the Jira for investigations

[2020-04-04 08:26] evjlobanova commented on #880
Added ticket to the Jira for investigations

[2020-04-04 08:28] evjlobanova commented on #536
Added a ticket to Jira for investigaions

[2020-04-04 12:26] #852 closed

[2020-04-04 15:41] paulpach opened #909 "Invalid choice nunit"
I added this command to my github action:

[code]

This was the result:
[code]

You can find the build run here:

https://github.com/MirrorNG/MirrorNG/runs/560576437?check_suite_focus=true

[2020-04-04 15:54] paulpach opened #910 "github actions not detected"
the Uploader cannot detect when it is running inside github actions

[2020-04-04 16:35] DzmitryHumianiuk commented on #910
@paulpach could you please elaborate this issue?

[2020-04-04 16:35] evjlobanova commented on #910
Could you please describe the whole  process of how you use GitHub actions and ReportPortal and what stage the issue happens on?

[2020-04-04 16:36] evjlobanova commented on #910
Connected with #909

[2020-04-04 17:25] paulpach commented on #910
Thank you for the quick response,  here is the failed job:
https://github.com/MirrorNG/MirrorNG/runs/560588315?check_suite_focus=true

This is the relevant piece of my github action pipeline:

[code]

Here is the link to the actual line that invokes it:
https://github.com/MirrorNG/MirrorNG/blob/d348d3a7994377c8b30b0cf31356051010e9e134/.github/workflows/main.yml#L95

[2020-04-04 20:41] iamtech123 commented on #908
Yes i am using robotframework-reportportal. Unfortunately python got uninstalled due to stability issue but i have used the first version of robotframework-reportportal released for Report portal5. Please refer here https://github.com/reportportal/client-Python/issues/66#issuecomment-597497455

[2020-04-05 06:11] iivanou commented on #908
Then, how do you report your results?

[2020-04-05 14:04] shaburov opened #911 "[v5] Widget table column width (Unique bugs table)"
Current version: API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

Expected **FOUND IN** Alignment
![image](https://user-images.githubusercontent.com/15269131/78500504-7b276800-775f-11ea-964f-8643fb06f0f6.png)

[2020-04-05 14:32] shaburov opened #912 "[v5] Error in handled Request. 'User - 'autotest' does not have a photo.'"
Current version: API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

There are a lot of errors in the log like
[code]

[2020-04-05 16:04] shaburov opened #913 "[v5] [GitHub] [Auth] Organization authentication does not work for private members"
Current version: API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

### Steps
Create token with `read:org` scope
![image](https://user-images.githubusercontent.com/15269131/78501840-5682be80-7766-11ea-93ff-8bf2d472d07f.png)

Add configuration
![image](https://user-images.githubusercontent.com/15269131/78501813-2affd400-7766-11ea-9593-589d9603e9a5.png)

### Act

[2020-04-05 16:29] shaburov commented on #873
@Onish1204 What is the language for developing autotests?

**If java**
You can add as many independent listeners as you like in both junit and TestNG
For example
https://gitlab.com/TouchBIT/Buggy/-/blob/master/buggy-testrail/src/main/java/org/touchbit/buggy/testrail/listeners/DefaultTestRailListener.java

In any case, your request is somewhat strange.

[2020-04-05 16:38] shaburov commented on #333
Great idea!
+ аnd necessarily the ability to display any statuses

[2020-04-05 17:49] iamtech123 commented on #908
The python got uninstalled last Friday. Till that time i was using it and faced the above mentioned error.

[2020-04-06 07:39] ivan-sukhomlyn opened #914 "[v5][SAML] Authorization callback request from Okta doesn't work on Safari browser"
**Describe the bug**
SAML authorization doesn't work properly on the **Safari** browser.
RP doesn't authorize a user and redirect to UI after IdP callback request to ReportPortal after successful login.

But SAML authorization method works properly at Google Chrome browser

**To Reproduce**

1. Open Safari browser
2. Go to ReportPortal URL
3. Login with SAML
4. After redirection to IdP (Okta) - au

[2020-04-06 07:51] evjlobanova commented on #537
Closed as duplicate of #603
We add a permissions table, where PM or Admin will be able to customize the roles for every team member.

In version 5.0 we added a possibility for PM to edit not-own shared dashboard

[2020-04-06 07:51] #537 closed

[2020-04-06 08:02] evjlobanova commented on #514
Can be addressed with adding a possibility to send / copy defect to /from needed item:

![image](https://user-images.githubusercontent.com/30413511/78535901-947af380-77f5-11ea-9625-5d7def275bf5.png)

[2020-04-06 08:05] evjlobanova commented on #910
But it is still unclear how you use reportrpotal.io?

[2020-04-06 08:06] evjlobanova commented on #911
Connected with #906

[2020-04-06 08:08] evjlobanova commented on #912
Closed as duplicate of #773

[2020-04-06 08:08] #912 closed

[2020-04-06 08:12] evjlobanova commented on #913
@svettsova Valya, could you please check this issue for version 5.1 and tell us results?

[2020-04-06 08:18] evjlobanova commented on #914
@ivan-sukhomlyn we are planning to introduce SAML officially in the version 5.3, so that we will check and fix this bug in the 5.3.

@svettsova Valya, could you please add an appropriate test for SAML integration?

[2020-04-06 08:22] shaburov commented on #913
@shaburov I looked at the implementation in the last commit of `origin/develop` in the `service-authorization` project. Everything is as described in the defect.

[2020-04-06 08:36] iivanou commented on #908
The mentioned issue has already been fixed. As far as you are not using the agent for reporting, I do not understand your problem. How do you report your results if you are not using the agent?

[2020-04-06 08:37] ivan-sukhomlyn commented on #914
@evjlobanova Thanks for your quick reply and clarifying

[2020-04-06 12:18] iamtech123 commented on #908
@iivanou  Thanks a lot for the updated. As i mentioned here https://github.com/reportportal/reportportal/issues/908#issuecomment-609086333, I was using python agent till last Friday. I am setting up the environment now and will update you the results.

[2020-04-06 13:58] ohank opened #915 "When running test in multiply files test result are show inside the first file[v5]"
Test result reports inside other tests result in a hierarchy.

![image](https://user-images.githubusercontent.com/44366788/78565371-1c74f380-781e-11ea-8ae1-42df06e6d268.png)
![image](https://user-images.githubusercontent.com/44366788/78565415-31ea1d80-781e-11ea-94e6-734f46d81923.png)

And I sorting on fail show no result:
![image](https://user-images.githubusercontent.com/44366788/78565560-6231bc0

[2020-04-06 15:28] evjlobanova commented on #915
@ohank send us please any details? so that we will be able to reproduce this issue?
@iivanou what info would be useful for debugging this problem?

[2020-04-07 08:22] iamtech123 commented on #908
@iivanou i am still facing the issue. Please find the pip list below
![image](https://user-images.githubusercontent.com/55270886/78646269-6c16f600-78d6-11ea-866d-225b19a8ae4a.png)

In Report portal
![image](https://user-images.githubusercontent.com/55270886/78646387-98cb0d80-78d6-11ea-962e-76b06bb6b1f2.png)

command used
robot --listener robotframework_reportportal.listener --variable RP_UUID:"xxx

[2020-04-07 08:52] iamtech123 commented on #908
Sample test case (Not working)

*** Settings ***
Library           Collections

*** Test Cases ***
Case1
		LOG		Case1
    [Teardown]    LOG	END

Above test case reports correctly while i remove the [Teatdown] line

[2020-04-07 16:36] rasim-sitmanbetov opened #916 "[v5] Failed to save Edit defect type if defect already have linked Jira ticket"
**Describe the bug**
Failed to save **Edit defect type** if the defect already has linked Jira ticket.
Edit might be initiated from the **Defect details** page or from **Defect list** page
Error **Failed to update defects**

**To Reproduce**
1. Have a defect with linked Jira ticket
2. try to edit the defect type (**pencil** button), e.g. **add a comment** and/or **change defect type** and **save c

[2020-04-07 20:15] guptapranay commented on #117
Hi @evjlobanova ,

[Execution done with - webdriverio - v6]
I am still not able to play attached (.mp4) video (Length 2sec) in reportportal.io.

While clicking on attachments, it opens anther link in browser. But video is not playable.

PFA - Attached screenshots
![rp_attachment](https://user-images.githubusercontent.com/16861336/78715194-aa460100-793a-11ea-9305-9f6361a2a22f.PNG)
![Video_Not_playa

[2020-04-07 21:12] guptapranay commented on #117
Hi @evjlobanova ,
It seems, this issue is producible in'Chrome' browser only. Probably because URL is of type blob/
I tried in Firefox, and video was able to play.

Error:
[code]

Though programatically we can play this in Chrome. But browser should able to play this without coding. Any thoughts, if this issue can be solved in chrome browser.

PFA  - Screenshot

[2020-04-08 04:54] gaurav-singh commented on #792
@evjlobanova : I went through Gradle docs and TestNG docs, however, I could not find any relevant config to change the way this is presented. I Will need more time to investigate unless someone knows of the changes to be made.

[2020-04-08 07:21] evjlobanova commented on #916
Fixed in version 5.1.
Please update to the latest version

[2020-04-08 07:21] #916 closed

[2020-04-08 09:28] DzmitryHumianiuk commented on #117
@guptapranay team will take a look

[2020-04-08 09:49] madhukeshava opened #917 "i couldn't able to login 5.1 docker application instance use following username and password"
**Describe the bug**
i couldn't able to login 5.0.1 docker application instance use following username and password
superadmin\erebus
default\1q2w3e
**Expected behavior**
login should success

**Screenshots**

![image](https://user-images.githubusercontent.com/28648906/78770232-ebc2c480-79ab-11ea-910c-8b2638611ff2.png)

If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Lo

[2020-04-08 10:24] DzmitryHumianiuk commented on #917
@madhukeshava there is no up-and-running services of RP.
You should see at least 4 services available.

see `docker ps` for containers statuses.

Example from https://web.demo.reportportal.io
![image](https://user-images.githubusercontent.com/11332788/78773562-1573ef80-799c-11ea-8600-fba24938ae3a.png)

[2020-04-08 10:24] #917 closed

[2020-04-08 12:00] ohank opened #918 "[v5] When click PASSED no test are shown."
@iivanou that's architectual desicion fail, made 7 years ago.
We named objects corresponding to Test Case as steps, assuming the option to involve BDD.

Now we have nested steps.

And change of STEP type to TEST will affect all variety of our agents, clients and UI as well.
We plan this big step for RP 6.

_Originally posted by @DzmitryHumianiuk in https://github.com/reportportal/agent-python-pyte

[2020-04-08 12:01] ohank commented on #918
@DzmitryHumianiuk It is good you know the problem and has a plan to fix it =)
The thing that is nuclear for me is that in reportportal 4.3 this was working. Have something change in reportportal 5 so this behavior happens based on the architectural decision?

[2020-04-08 12:01] ohank commented on #918
@ohank where was no big changes for the structure from v4.3 to v5.

Maybe just minor cleans ups from UI side, in order to minimize the move in RPv6.

My suggestion to get it work: change it in client.
Send your tests as type STEP.

[2020-04-08 12:03] ohank commented on #918
Continue here and close the other case.

[2020-04-08 12:06] ohank commented on #918
I don't know how to do that. Do I change in pytest agent?

[2020-04-08 12:30] bhargavkumar-65 opened #919 "AzureDevops Plugin"
**AzureDevOps Plugin*
...

Hi RP Team,
I am Using AzureDevops to Build my framework, I am using Reportportal and Kibana as my Reporting Tools, I Would love to have the Integration with AzureDevOps to track the Issues, Raise Bugs directly to AzureDevOps., And Update the Issue Comments from RP to AzureDevops.
Here is My project.: [](https://github.com/AutoInfra/AutoInfra)

[2020-04-08 12:55] iivanou commented on #918
Just my two cents, I'm not gonna approve any change to the agent where the test items will be changed to be reported as steps. Fixing a defect through creation of one more defect is not an option.

[2020-04-08 14:01] DzmitryHumianiuk commented on #910
@paulpach Adoption for usage in GH Actions in or roadmap with high priority.
there is no any comment right now.

but we will get back to it, once have any certain fix or suggestion.

[2020-04-08 14:09] DzmitryHumianiuk commented on #910
@paulpach Are you confusing us with Report.ci ?

[2020-04-08 14:13] DzmitryHumianiuk commented on #873
@Onish1204 this should be reviewed in details.
Listeners shouldn't have any interceptions or block each other.

I guess this is an issue relevant to specific setup.
And we can't comment without any details.

[2020-04-08 14:14] #910 closed

[2020-04-08 14:44] DzmitryHumianiuk commented on #918
That's not a defect.
That is misleading in naming, which is read literally.

We follow the next structure principle in RP:
[code]
Assuming the fact that you can have multiple levels of suite, it looks as

[code]

There is no difference, how will you name levels.
since it's just a defined value of variable, which points to specific level of nesting.

it can be name as:
[code]
and once you send RQ t

[2020-04-08 15:06] duzztie opened #920 "[v5] PSQLException: ERROR after migration"
After migrating reportportal from 5.0 to 5.1 there are errors in service-api logs(earlier reportportal was migrated to 5.0 from 4.3):
[code]
...
[code]

[2020-04-08 16:20] pbortnik commented on #920
Have you used a default docker-compose.yml file?
Do you have a stopped container 'db-scripts'? To check that use the command 'docker ps -a'
If yes, share with us what you have in the container's log.

[2020-04-08 17:07] duzztie commented on #920
Thank you for your reply. Reportportal is in k8s, for running db-scripts when migrating 4.3->5.0.0 I copied sections "db-scripts" and "postgres" into separate docker-compose.yml from here https://github.com/reportportal/reportportal/blob/master/docker-compose.yml. I used tag 5.0.0 for image: reportportal/migrations. Here are the container's logs:

$ docker logs c99c3b20ba7b
timeout: unrecognized o

[2020-04-08 19:17] waynesun09 commented on #917
This also happen to me with the latest 5.1 version
Raised issue in service-authentication:

https://github.com/reportportal/service-authorization/issues/178

all services are running

[2020-04-08 19:36] rshelby5 commented on #583
Are we pushing to get these in for 5.2? :) Please :)

[2020-04-08 20:45] waynesun09 commented on #917
Closed the issue, this is due to latest hash changed from md5 to BCrypt in service authorization, which require run latest migration to update the md5 password in db to bcrypt.

[2020-04-09 06:58] Onish1204 commented on #873
It is resolved by implementing TestNG Listener. Earlier it was not working as TestRail was posting result after complete suit execution Now, posting after test and issue resolved.

Thank You !!

[2020-04-09 06:58] #873 closed

[2020-04-09 07:10] evjlobanova commented on #583
@rshelby5, for now, the release for this feature is not defined yet.
But we can propose you a paid support (it can include implementation of new features, deployment support, integration with tf and etc). Paid features we make with priority number 1.
If it is interesting for you and your organization, please let us know:)

[2020-04-09 12:17] paulpach commented on #909
confusing with report.ci

[2020-04-09 12:17] #909 closed

[2020-04-10 14:29] ivan-sukhomlyn opened #921 "[v5] Service-API consumer can't connect to RabbitMQ queues during autoscaling"
**Describe the bug**

RabbitMQ consumer of Service-API can't connect to the queue due to already connected consumer in `exclusive` mode by another consumer from another Service-API process.
This situation produces a lot of warnings from Service-API instances that work in autoscaling mode.
Link to the source code related to the issue - https://github.com/reportportal/service-api/blob/74a954601ad9ee

[2020-04-10 15:02] evjlobanova commented on #921
@pbortnik @AlehB @Yumfriez Could you please check the issue?

[2020-04-11 18:54] pkundarapu opened #922 "[v5]ReportPortalException Incorrect Request. [Field 'startTime' shouldn't be null.] with cucumber version 4.7.1"
We are using below version of cucumber
<version>4.7.1</version>

earlier for parallel execution we are using this below dependency which is woking fine
<dependency>
    <groupId>com.epam.reportportal</groupId>
    <artifactId>agent-java-cucumber3</artifactId>
    <version>0.0.1-beta</version>
</dependency>

Now to use retry logic feature upgraded to below
<dependency>
    <groupId>com.epam.reportp

[2020-04-12 07:33] zarashima opened #923 "How to get launch non-udid?"
Hi,

I want to update launch details directly through API. The question is how can I get launch id in my test script using java-testng-agent? The  `rp.launch.id` system property returns udid here, and so I can't use it in because update launch API requires launch non-udid.

Thanks

[2020-04-13 08:03] evjlobanova commented on #923
@pbortnik @Yumfriez could you please advice on the issue?

[2020-04-13 08:09] Yumfriez commented on #923
@zarashima You can use `getLaunchByUuid` method to access all Launch fields:
https://github.com/reportportal/client-java/blob/develop/src/main/java/com/epam/reportportal/service/ReportPortalClient.java#L61

[2020-04-13 08:09] evjlobanova commented on #921
Assigned on @irynakozak2

[2020-04-13 08:13] irynakozak2 commented on #921
hello @ivan-sukhomlyn,
issue will be checked on our side

[2020-04-13 09:03] #923 closed

[2020-04-13 13:29] thunder-spb opened #1064 "Binary Storage MinIO/S3 -- Bucket Name prefix?"
HI again,

Is it possible to set some prefix to created buckets?

currently RP creates following:
[code]
Or even better to put those under some already created bucket?

Thanks in advance,
A

[2020-04-14 06:53] dkuchynskyi opened #924 "[v5] No result when click on tests number in launch"
1. Go to Launches
2 Click on any tests number (Total, Passed, Failed - no matter)
![image](https://user-images.githubusercontent.com/34566341/79194645-95370980-7e35-11ea-98e6-019417168778.png)

actual result:
empty page with no results opened:
![image](https://user-images.githubusercontent.com/34566341/79194732-be579a00-7e35-11ea-94bf-0cf8dee044c1.png)

Expected result:
list of tests should be pre

[2020-04-14 07:05] DzmitryHumianiuk commented on #924
@dkuchynskyi which agent and version?

root cause: Test Cases sent as `type=TEST`
but should be send as `type=STEP`

if you use custom agent then update RQ to server

[2020-04-14 07:12] dkuchynskyi commented on #924
pytest-reportportal 5.0.2
migrated to report portal 5.1.0 from the 4 version without any changes in settings

[2020-04-14 08:25] DzmitryHumianiuk commented on #924
@dkuchynskyi could you please share with us 2 things:
1) Copy and share link which it referenced by any tests number (Total, Passed, Failed - no matter)
2) Click on launch -> suite -> class and find any test case. make a screenshot of test case representation.

Most likely the same fix was made in RobotFramework https://github.com/reportportal/agent-Python-RobotFramework/pull/57#event-3214823385

[2020-04-14 08:37] iivanou commented on #924
@DzmitryHumianiuk is correct. The issue has already been addressed.

[2020-04-14 08:47] dkuchynskyi commented on #924
@iivanou  will you make the same fix into pytest-reportportal?

[2020-04-14 08:49] iivanou commented on #924
@dkuchynskyi open an issue at the pytest-reportportal.

[2020-04-14 09:49] dkuchynskyi commented on #924
@iivanou  [https://github.com/reportportal/agent-python-pytest/issues/188](url)

[2020-04-14 09:50] #924 closed

[2020-04-15 04:51] ramkumar-yoganathan commented on #874
In every page, there is a button called "Refresh" located top right of the screen. At this moment, We have to click to refresh the content. Can this be auto refresh at some intervals which will eliminate the manual refresh to get the latest content.
I couldn't attach the image.

[2020-04-15 04:56] ramkumar-yoganathan commented on #874
Also When I am specific steps, I have to click Load 10 items link to load rest of the logs. Can this be a auto scroll, so that When ever new logs are pushed, it will auto scrolled to end of logs which eventually an latest entry.

[2020-04-15 09:38] asubair opened #925 "Add Description for test steps for each test case"
Inside each test case there should be a possibility to include description for test steps

[2020-04-15 09:43] iivanou commented on #925
I'll clarify the request... This request is about to make description for the nested steps visible at Web UI.

[2020-04-15 13:55] asubair commented on #925
Keywords Documentation is not displayed within the test case.
eg:-
[Documentation] Launch homeportal page, user login
But rather it displays as collapsible > button
<img width="1405" alt="Screenshot 2020-04-14 at 15 56 35" src="https://user-images.githubusercontent.com/47172975/79345286-97828c00-7f39-11ea-9162-96608aed9caf.png">

Expected:-

<img width="1123" alt="Screenshot 2020-04-14 at 16 02 33

[2020-04-15 14:34] qtis commented on #327
This would be a great improvement.

It is very awkward to click on same item in previous (in your screenshot let's say #5) and then realize that you can no longer see all the other runs (6, 7, 8, 9, 10 are gone!)

[2020-04-16 07:16] evjlobanova commented on #327
@qtis this is a terminate approach for now.  You can use browsers controls (arrows) to return to the previous state with (6, 7, 8, 9, 10 executions).

But anyway we have a strong desire to add this feature to the log view.
Probably it will be implemented in the scope of version 6.0.

[2020-04-16 08:12] qtis commented on #327
Thanks @evjlobanova, suggested approach works if you really arrived from 10 to 5, but if you open failing 10 and there is additional 11 - then you don't see it.

User story:
As automation specialist I have identified that there is issue in one of the tests. I have marked it as automation issue and fixed the problem in the code. Now I did test re-run and refreshed page for that specific task on pre

[2020-04-16 08:39] avarabyeu commented on #683
Hashicorp consul is not part of RP v5 anymore
In case Consul Web UI is considered vulnerable by some third-party security scan, port should not be exposed (just comment 8500:8500 in docker-compose.yml).

[2020-04-16 08:39] #683 closed

[2020-04-16 09:04] evjlobanova commented on #925
For instance, you report a test with nested steps. And each nested step has a name:
[code]

The initial idea was to reduce the number of information but make the step name more understandable from first sight and more informative.

Via annotations, you can add to the step name special parameters with which step has been executed and specified the human-readable name for the test case.

Here dev gu

[2020-04-16 09:18] asubair commented on #925
@evjlobanova
Suppose it any test case failed, we need to figure it out from the test steps.
As per the above mentioned approach we tried to understand the test failure but was not successful.
Therefore we would like to have a possibility for a user to add detailed description as an option if the test automation workflow is complex.

[2020-04-16 09:21] asubair commented on #925
@evjlobanova
The idea behind here is to keep this test dashboard as a single reference to track any issues(helpful for developers or manual/automation QAs) to debug/troubleshoot the exact failure through detailed test steps.

[2020-04-16 11:05] evjlobanova commented on #925
@asubair Could you please elaborate on "the test automation workflow is complex"? What do you want to see in the description? Could you please share an example.

Probably, a nested step is a container for logs. So the main goal of this feature to make a process of log investigation much easier. An engineer can quickly find steps where a test has failed.

But in global the whole test case has falle

[2020-04-16 11:22] asubair commented on #925
@evjlobanova
Automation workflow being complex means if there are any any multiple assertions within a nested step user will not get to know what exactly the test script is trying to validate.But rather if we could add some descriptions for these nested steps it's much easier for a third person to understand whether the tests written is as per the business requirement and can easily track automati

[2020-04-16 11:37] marysia16122 opened #926 "[v5] WARNING: Invalid cookie header: 'Invalid 'expires' attribute'"
**Describe the bug**
I have WARNING in my java autotest console, when I run tests using report portal

`апр. 16, 2020 2:29:21 PM rp.org.apache.http.client.protocol.ResponseProcessCookies processCookies
WARNING: Invalid cookie header: "Set-Cookie: AWSALB=P7cqG8g/K70xHAKOUPrWrG0XgmhG8GJNinj8lDnKVyITyubAen2lBr+fSa/e2JAoGksQphtImp49rZxc41qdqUGvAc67SdZHY1BMFIHKzc8kyWc1oQjq6oI+s39U; Expires=Thu, 23 Apr

[2020-04-16 11:50] evjlobanova commented on #925
@asubair Thank you for your explanation. Now I got your point.

[2020-04-17 08:54] ylupinov opened #927 "Reset password link leads to login screen in Safari"
**Describe the bug**
Reset password link leads to login screen in Safari
1) go to RP
2) click forgot password
3) open received email an click reset password

**Expected behavior**
link should lead to password recovery screen

**Actual behavior**
Reset password link leads to login screen in Safari

**Versions:**
 - macOs Catalina  10.15.4, Safari Version 13.1 (15609.1.20.111.8)
 - Version of RP
Cur

[2020-04-17 09:15] evjlobanova commented on #927
@VolhaKarenko please check if it reproduces, and open a defect in Jira

[2020-04-17 11:36] VolhaKarenko commented on #927
The issue is not reproducible on RP version:
API Service: 5.1.0;Index Service: 5.0.8;Authorization Service: 5.1.0;Service UI: 5.1.1;
for Safari Version 13.1 (15609.1.20.111.8)
macOs Catalina 10.15.4
@ylupinov Could you please do the necessary updates and verify the issue once again?

[2020-04-17 12:35] NilsPK opened #928 "[v5] Auto-Analyzer not working with nested Steps"
**Description**
The Auto-Analyzer-Function does not work if used with nested Steps

**To Reproduce**

- Create a launch containing a number of items which have nested steps.
- Status has to be "FAILED"
- Nested steps have logs attached with level "ERROR"
- A second launch with similiar/identical logs has to be created
- Analyze the second launch

You can use the attached postman collection
[RP-Nes

[2020-04-17 12:36] DzmitryHumianiuk commented on #928
@NilsPK what's API version you use?

[2020-04-17 12:37] NilsPK commented on #928
RP version is 5.0.0
As for the API I tried both v1 and v2

[2020-04-17 12:40] NilsPK commented on #928
If you mean version of the API-Service it is also 5.0.0
![image](https://user-images.githubusercontent.com/45734314/79570227-574a1780-80b9-11ea-85a5-8ea1f9f6a2a7.png)

[2020-04-17 12:43] evjlobanova commented on #928
It has been fixed in ver 5.1
Please, update to the latest version

[2020-04-17 12:43] #928 closed

[2020-04-17 12:50] NilsPK commented on #928
Didn't get the release notice although I'm watching the project.
Sorry for the bother!

[2020-04-17 13:41] abhishek8908 opened #929 "[v5] Ldap Authorization Issue"
**Describe the bug**
Getting error Ldap Authorization error : An error occurred while connecting to server: Unclassified error [Incorrect result size: expected 1, actual 2]

**To Reproduce**
Login Report Portal with LDAP account.

**Expected behavior**
Login should be successful with Ldap Account.

**Screenshots**
![ldap_issue](https://user-images.githubusercontent.com/22909519/79575242-c592d800-8

[2020-04-19 19:07] hby1812 opened #930 "Install Reportportal- API and db-scripts unhealthy"
Hi all,

I am getting an error API and db-scripts unhealthy.
Can you please help me to take a look?
![image](https://user-images.githubusercontent.com/62381132/79697216-ac4d7f80-82ab-11ea-9db3-d0dd10de0975.png)

[2020-04-20 08:25] evjlobanova commented on #929
@abhishek8908 Please specify version of ReportPortal

[2020-04-20 08:35] evjlobanova commented on #930
@hby1812 please elaborate on this:
- version of rp
- your os
- any others

[2020-04-20 23:10] ariel411 commented on #930
Hi, I found the same problem
I'm using windows 10 64 bits as OS

![image](https://user-images.githubusercontent.com/61328207/79808005-81f6d300-833a-11ea-95d6-f202e9e3a619.png)

[2020-04-21 06:17] ohank commented on #930
Look like you are using windows. Have you change the volumes: in the docker-compose.yml ?

      # For windows host
      # - postgres:/var/lib/postgresql/data

[2020-04-21 06:20] ohank commented on #930
I get this problem when i run it on a ubuntu server that mounts a windows disk and use it as volume.

[2020-04-21 07:06] abhishek8908 commented on #929
@evjlobanova I have updated the ticket, it is Report portal 5.1.0

[2020-04-21 07:33] Dhams-1 commented on #605
@evjlobanova @DzmitryHumianiuk I am very new to reportportal and  I am facing issue with auto analysis. seems not to work.
I have all the setting in place
![image](https://user-images.githubusercontent.com/60965197/79837910-75ae5c80-83b2-11ea-8a7f-9ad68fd49673.png)

both service analyser and elastic service are running. I also started the auto analysis in reportport user interface then generated t

[2020-04-21 08:08] DzmitryHumianiuk commented on #605
@Dhams-1 first, upgrade it to 5.1

and to you have any ERROR logs in analyzed test cases?

[2020-04-21 11:46] soba1210 commented on #930
same on mac os

[2020-04-21 22:59] ariel411 commented on #930
It works with this change, also I uncommented the last part into docker-compose file
Thanks

[2020-04-22 17:48] nvborisenko opened #931 "Incorrect message when deleting single launch"
I have only one launch. I selected it, then clicked delete:
![image](https://user-images.githubusercontent.com/22616990/80015524-8d810000-84da-11ea-90d2-9775788da572.png)

Version:
RP v5.1 (https://web.demo.reportportal.io/)

[2020-04-23 14:38] pbortnik commented on #930
Yes, for windows, you have to change postgres volume.
Anyway, could you please attach the logs of unhealthy services, so we get the starting point for further investigations.

[2020-04-23 17:05] sasikala-codoid commented on #859
I am facing the below issue when I try to upload jira plugin,

![issue-rp](https://user-images.githubusercontent.com/15124663/80127928-a2c95d80-85b2-11ea-82d7-4de15f39a9aa.png)

I am using report portal build 5.0 and tried uploading jira 5.0

[2020-04-23 17:12] evjlobanova commented on #859
Try to upload the latest version of plugin

[2020-04-23 17:18] sasikala-codoid commented on #859
I have tried with the latest version also. It is not working

[2020-04-24 09:05] Faraz-16 commented on #193
Hello Team, We have a use case where in we would like to consolidate data from all the projects so as to have a complete overview of all the launches, and to apply filters on this to create organisational Dashboards which can be viewed. So a feature to aggregate and consolidate all the data would be helpful.

[2020-04-24 13:12] sasikala-codoid opened #932 "[v5] Jira plugin upload in report portal settings is not working"
**Description**
When I try to upload all the latest jira plugins in report portal settings page, then it throws upload error

**Steps:**
1. Upload a latest version of jira plugin
2. It throws error, see attached screenshot

**Observation:**
Report portal Build 5.0
Jira plugin tried - plugin-bts-jira-5.0.1-all, plugin-bts-jira-5.1.0-all, plugin-bts-jira-5.0.0-all

**Screenshot**
![issue-rp](https:/

[2020-04-24 13:13] staind825 opened #933 "Change the project name without losing history"
I have a team who's application name has changed internally and they are purging all references to the old name. I went to change the project name in ReportPortal and noticed it was greyed out.

It seems the only thing i can do is create a new project for them but then they lose all their history.

[2020-04-25 15:38] mnicula opened #934 "[v5] parentstep still marked as in_progress after finish request send"
**Describe the bug**
parentstep still marked as in_progress after finish request send

**To Reproduce**
for a test that has following structure or similar:
*NestedStep -> nestedStep -> step*
send the finish request for each test item (_nestepStep_ first then for _NestedStep_)
**Expected behavior**
mentioned above nestedSteps are marked as passed/failed accordingly

**Screenshots**
![image](https:/

[2020-04-27 10:58] shishir19 opened #935 "[v5] JIRA Cloud Integration Fails - Impossible interact with Integration. Connection Refused."
**Describe the bug**
After adding JIRA Plugin, I tried to integrate Report Portal with JIRA cloud. However, its throwing an error:

An error occurred while connecting to server: Impossible interact with Integration. Connection Refused.

**To Reproduce**
Deploy Report Portal on Ubuntu 18.04 (Azure machine)
Start the docker containers and enable incoming connection to azure (port 8080)
Login to Repo

[2020-04-27 18:55] shishir19 commented on #935
Any update on this?

[2020-04-28 06:47] shishir19 commented on #935
Tried with jira-bts-plugin 5.1.0-RC-2 but still getting same error.

I also tried with installation of jira server on my azure system and then tried connecting the plugin, but it gives me same error.

[2020-04-28 17:41] nbob31 opened #936 "Sign in with Github button missing/ cannot access login via github"
I have configured my Report Portal version 5.1.0 to use Github. When I go to the login page the github button is missing and I can only get to the login by directly going to to the url reportportalurl.com/uat/sso/login/github directly. After I login it brings me to the login page with the error `Could not obtain access token`. The error in the console is `"Full authentication is required to access

[2020-04-29 07:40] pbortnik opened #937 "TypeError: Cannot read property 'toString' of undefined" after clicking on Pattern Analysis [v5]"
I am getting error as "TypeError: Cannot read property 'toString' of undefined" after clicking on Pattern Analysis first time after migration from V4.3 to V5 to V5.1.

![image](https://user-images.githubusercontent.com/8058828/80571691-b850e400-8a05-11ea-8a61-f9df5dc863d0.png)

[2020-04-29 07:55] pbortnik commented on #937
Fixed in the latest version of migration services.
If migration was run before fix there is a workaround. Need to connect to the database and execute the next query:
`INSERT INTO project_attribute (attribute_id, value, project_id)  select 10, false, id from project ON CONFLICT DO NOTHING;`

[2020-04-29 07:55] #937 closed

[2020-04-29 08:05] pbortnik commented on #932
@sasikala-codoid
Hi, is it a problem for you to upgrade the version of RP to 5.1.0 and try plugin again?

[2020-04-29 08:07] pbortnik commented on #935
@shishir19
Hi, what is the version of RP do you use?
Have you tried with the latest versions of RP an JIra (5.1.0)?

[2020-04-29 09:03] ohank opened #938 "Reportportal- API and db-scripts unhealthy on linux with mounted windows volumes"
I get this error when I try to start report portal
![image](https://user-images.githubusercontent.com/44366788/80577997-1da5d480-8a08-11ea-98a3-e968619bfb68.png)

So how do I get more information what is wrong?
If I use local disk on the server it works fine but when I mount a windows disk for just the data I get this error(image above).

here how it looks when it is working on local disk:
![image

[2020-04-29 10:20] digaetan commented on #937
WA tested to be working!
Maybe when providing WA procedure please provide some clear steps how to apply those (not all may know) ;)
1) docker ps --> identify the container running PostGres
2) connect to that container --> # docker container exec -it <CONTAINER_NAME> /bin/bash
3) connect to DB --> (if you haven´t change default values) # psql reportportal rpuser
4) type SQL query --> INSERT INTO pr

[2020-04-29 13:26] shishir19 commented on #935
Hi, I am using latest version 5.1.0.

Few updates - I was able to make the integration with locally installed JIRA server. I was providing full project name instead of key. But with JIRA Cloud instance, the integration still does not work. I have tried with latest JIRA plugin too.

JIRA cloud requires specifying email address as username. Maybe that could be causing the integration to fail?

[2020-04-29 22:17] gireinvent commented on #938
![image](https://user-images.githubusercontent.com/33298211/80652185-0df4b300-8a3d-11ea-9b0b-7285882e1052.png)
 i keeping getting this error and the login page does not load.
![image](https://user-images.githubusercontent.com/33298211/80652281-3bd9f780-8a3d-11ea-911e-4f6b7be514dc.png)

[2020-04-30 08:05] #927 closed

[2020-04-30 08:06] evjlobanova commented on #930
Closed, because of no response.
Feel free to reopen if this issue is still reproduce

[2020-04-30 08:12] evjlobanova commented on #934
@svettsova Valya, could you please recheck this behavior, and create a ticket in Jira, if it is reproduced?

[2020-04-30 08:16] evjlobanova commented on #936
@nbob31 Any steps to reproduce this issue?

[2020-04-30 08:17] evjlobanova commented on #938
@pbortnik Could you please take a look?

[2020-04-30 08:17] evjlobanova commented on #938
#930

[2020-04-30 08:22] ohank commented on #938
Weird that you refer to a issue that i did help solve for someone else. My problem är based on using mounted Windows disk in linux not how to install om Windows.

[2020-04-30 08:24] svettsova commented on #934
@evjlobanova  It's reproducible for 5.1. and it was fixed in 5.2 version

[2020-04-30 08:25] ohank commented on #938
I need a way to get morse information why the script fail. So i can get morse help from People i my organisation. As of now it just say unhelthy. How to get morse error message?

[2020-04-30 08:27] evjlobanova commented on #934
Thank you, Valya

[2020-04-30 08:27] #934 closed

[2020-04-30 08:28] evjlobanova commented on #934
Version 5.2 will be available in the first dates of May

[2020-04-30 08:59] shishirdwivedi2008 opened #939 "Duplicate Suite name is coming for each run inside launch"
Hello Team,
For my every run , I see two suite name(duplicate) inside the launch. One is always in interrupted state and another one contains all my test cases with a log. Seems like duplicate suite name is logged into the report.
I am attaching a screenshot for the same. Do let me know if any logs are required for this.
Also, Launch contains logs for after method. As per my understanding after me

[2020-04-30 09:10] evjlobanova commented on #939
@shishirdwivedi2008 We can not help without  details.
Version of RP
Client: name/version
Agent: name/version
Example to reproduce

[2020-04-30 09:17] jbadeau commented on #932
Doesn't work with 5.1 either. Looks like the nginx config

client_max_body_size is too small

[2020-04-30 12:16] ghost opened #940 "Unable to raise JIRA defect in RP[v5]"
**Describe the bug**
I'm unable to post a **defect** in Report Portal. whereas I'm able to post a request

**To Reproduce**
I have added JIRA plugin - plugin-bts-jira-5.1.0-all.jar.
I had done all the required configurations:
![image](https://user-images.githubusercontent.com/50138350/80708073-a7d56200-8b08-11ea-8aaa-a11209c16817.png)

The same configurations when done from the JIRA UI... I'm able

[2020-04-30 14:24] priyankachaturvedi30 opened #941 "Importing data to ReportPortal"
Please share a sample zip archive for importing log files . (https://reportportal.io/docs/Import-data-to) My index is not getting generated for auto-analyzer feature. I am suspecting the logs that I am Importing are incorrect.
![image](https://user-images.githubusercontent.com/50797731/80721824-4fa85b00-8b1c-11ea-8464-dcae38ede29c.png)

[2020-04-30 19:06] nbob31 commented on #936
1. Login as a admin user
2. Click the menu icon dropdown on the right side of the nav bar
3. Click Administrate
4. Click on Server Settings
5. Go to Authorization Configuration and toggle github authorization on
6. Enter the client id, secret and organization name.
7.  Click save
8. Logout and go to the login page url /ui/#login
**Actual: Login with Github button is missing
Expected: Login with Gi

[2020-04-30 19:59] nbob31 commented on #936
Does the OAuth Web Application Flow token need to have specific scopes for `read:org` or `"read:user", "user:email"`

[2020-05-01 03:05] deepaleekhare31 commented on #940
@evjlobanova Could you please help?

[2020-05-01 05:18] shishirdwivedi2008 commented on #939
Version of RP: 5.0.0
Agent: Java Testng / 4.2.1
OS: ubuntu 16.04 / Docker Deployment

Steps To Reproduce:
1. Execute Test Suite
2. Go to Launch and select  particular launch
3. After opening launch, two same suite names will come. first one having status interrupted and the second one having actual test cases.

Do let me know if you need any other info.

[2020-05-01 20:35] HardNorth commented on #939
It depends on how you initialize ReportPortal listener. We recommend do that once in a 'testng.xml' file. If you initialize the listener in classes with an annotation, then TestNG creates several listener instances, which lead to the situation.

[2020-05-01 21:01] gireinvent commented on #938
My issue was resolved after i changed my vloume to - /var/lib/postgresql/data for windows. Can you please the documentation properly. it says uncomment but does not talk of removing '- postgres:' from windows volume.
- postgres:/var/lib/postgresql/data

[2020-05-01 21:47] priyankachaturvedi30 opened #942 "Permission Issue with elastic search container"
elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.3.0
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data
    environment:
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      - "logger.level=INFO"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:

[2020-05-02 17:36] priyankachaturvedi30 commented on #942
@evjlobanova @DzmitryHumianiuk Can you please suggest?

[2020-05-03 05:01] agarwlanurag opened #943 "Not able to login in reportPortal"
OS : MacOS Catalina v10.15

I have followed all the steps listed for installation but getting an error occured while connecting to server . Can you please help in this.
![Screen Shot 2020-05-03 at 12 53 44 AM](https://user-images.githubusercontent.com/14285773/80899071-8ecfdb00-8cd9-11ea-9f2a-f35884595590.png)

[2020-05-03 12:44] Onish1204 commented on #444
Apart from snapshot, Any way to attach other type of files with TestNG test. i.e. excel, gif etc. if not at test level at-least do we have provision to attach it at launch level (Using rp ver 5.1).
if yes, please share code for same...

Appreciate your help in this regards...

[2020-05-04 02:35] vishallanke opened #944 "307 Temporary Redirect Error when hosted in AWS FARGATE ECS"
I am able to deploy all the services in AWS ECS containers. Postgres is hosted in AWS RDS. http://13.233.193.52:8082/#login
Enter user name and password. User will get error as"Network Error".
When I check in Network Tab, I can see that http://13.234.111.98:8080/uat/sso/oauth/token gets called. It is returning "307 Temporary Redirect "

<img width="818" alt="307 Error" src="https://user-images.git

[2020-05-04 06:11] ohank commented on #938
Where can I find the documentation? Does the documentation have a guide if you using a Linux server and mounting a windows volume?

[2020-05-04 06:42] vishallanke opened #945 "[faq] traefik.port means"
What is the meaning of labels -> traefik.port in service section ?
For few services it is 8080, for few 8585 and for few 9999.
What does it indicates ?
Can I change this value ?

[2020-05-04 07:54] asubair commented on #925
@evjlobanova any timeframe to take a look on this issue?

[2020-05-04 09:00] blue995 opened #946 "[v5] Linked issue on TI test item causes NonUniqueResultException during test item update."
**Describe the bug**
If you link the same issue to more than one "To Investigate" test case in the same launch, you can't change the defect category or comment of these test cases afterwards.

This is because in this case the api service tries to find a single test item to change by it's issue ID, but finds more than one entry in the database. The database query causes a NonUniqueResultException,

[2020-05-04 09:11] evjlobanova commented on #946
@svettsova could you please try to reproduce this issue?  And let me know regarding results

[2020-05-04 09:13] evjlobanova commented on #946
@blue995 thank you for posting that, we have checked, and let you know regarding our future actions

[2020-05-04 09:15] evjlobanova commented on #943
![image](https://user-images.githubusercontent.com/30413511/80951617-e1f07d80-8e00-11ea-95f1-1176c8887434.png)
Not all services have been run.
Please waut, and try again

[2020-05-04 09:15] #943 closed

[2020-05-04 09:18] evjlobanova commented on #942
Do you follow the 3rd step in the manual https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker ?

[2020-05-04 09:20] evjlobanova commented on #941
Do your file has error logs?

[2020-05-04 09:31] digaetan commented on #945
quite long to explain...check some Traefik tutorials:
https://github.com/Praqma/learn-traefik

[2020-05-04 09:32] evjlobanova commented on #866
@almayce do you still have this issue on ver 5.1?

[2020-05-04 10:08] svettsova commented on #946
Issue is fixed in 5.1 version

[2020-05-04 10:08] #946 closed

[2020-05-04 10:23] DzmitryHumianiuk commented on #444
@Onish1204 you can attach any type of files.
Right to the logs, or at Launch level.

https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/logging/JsonLoggingTest.java#L28

[2020-05-04 10:28] DzmitryHumianiuk commented on #943
@agarwlanurag you should have at least 4 services up and running,
which you can see at `Current version` section under login button.

Make 3 thing:
- double check that you did allocate at least 5GB for you docker machine/process
- give 5-10 minutes for services at first cold start for bootstrapping
- see what's statuses with `docker ps` command

[2020-05-04 10:28] DzmitryHumianiuk commented on #944
cc @avarabyeu

[2020-05-04 10:31] DzmitryHumianiuk commented on #941
@priyankachaturvedi30
[Launch C.zip](https://github.com/reportportal/reportportal/files/4574067/Launch.C.zip)

[2020-05-04 11:13] evjlobanova commented on #925
Unfortunately, now I can not tell you a timeframe.
When we are planning version 6 (we are planning to re-design an actual version of ReportPortal), we will be taking this request into account.
But for now there is not any exact estimations.

If this feature is crucial for you, I can propose you paid contract. Paid features are implemented with the first priority.

[2020-05-04 12:47] deepaleekhare31 commented on #940
@HardNorth Could you please help?

[2020-05-04 12:51] ghost opened #1003 "Unable to raise JIRA defect in RP[v5]"
Describe the bug
I'm unable to post a defect in Report Portal. whereas I'm able to post a request

To Reproduce
I have added JIRA plugin - plugin-bts-jira-5.1.0-all.jar.
I had done all the required configurations:
![image](https://user-images.githubusercontent.com/50138350/80967441-03b72800-8e34-11ea-98ca-8242b0f59349.png)

The same configurations when done from the JIRA UI... I'm able to post the

[2020-05-04 12:55] priyankachaturvedi30 commented on #941
Yes, Please have a look at the zip file I am using.
Also, I get the following analyzer log when I try to generate
![image](https://user-images.githubusercontent.com/50797731/80967753-8213ca00-8e34-11ea-9021-6bcdfc8e8290.png)
[TEST-BDD-features-Approval.feature.zip](https://github.com/reportportal/reportportal/files/4574735/TEST-BDD-features-Approval.feature.zip)

 index after doing manual analysis

[2020-05-04 12:57] priyankachaturvedi30 commented on #942
Yes, Actually I got it fixed. The issue was because of docker access to the directory I was pointing to without mounting. It's working for me now. Thanks!

[2020-05-04 12:57] #942 closed

[2020-05-04 13:39] DzmitryHumianiuk commented on #941
@priyankachaturvedi30 try to import attached file by me above.

and make sure you made steps from p.3 at https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker

[2020-05-04 14:19] priyankachaturvedi30 commented on #941
@DzmitryHumianiuk : I imported files provided by you and it got successfully imported. I turned on Auto-analysis from the UI and did manual analysis for a few bugs and then again imported the file shared by you.  It got imported as Launch.C #2. When I tried to Analyse the second launch, it says that the auto-analyzer has started, and the text "auto-analyzer" blinks next to the launch but nothing h

[2020-05-04 14:56] priyankachaturvedi30 commented on #941
@evjlobanova : Yes it has. Still, no index got generated when I imported that file. Please have a look at the file if its in the format of what is expected.
[TEST-BDD-features-Approval.feature.zip](https://github.com/reportportal/reportportal/files/4575377/TEST-BDD-features-Approval.feature.zip)

[2020-05-04 15:10] DzmitryHumianiuk commented on #941
@priyankachaturvedi30
1. make sure your elastic service up and running (see in `docker ps`)
2. make sure you use latest RP (v5.1 for now)

Did you analyze failed items in Launch C?
it has only 4 failed test cases with logs. The rest are skipped, with no any logs inside.

[2020-05-04 15:48] priyankachaturvedi30 commented on #941
@DzmitryHumianiuk  : yes, the failed cases got analyzed
[TEST-BDD-features-Approval.feature.zip](https://github.com/reportportal/reportportal/files/4575642/TEST-BDD-features-Approval.feature.zip)

. :) But Does that mean it would analyze only the failed cases and not the skipped cases? Also, Can you please have a look at my input log file and see why is not been indexed for auto-analysis, even aft

[2020-05-04 16:25] mleonard0826 opened #948 "jasmineMessage: `Uncaught exception: Error: Request failed with status code 404: {"errorCode":4043,"message":"Test Item '4463a494-839b-45e2-bfe2-00d03a20aa12' not found. Did you use correct Test Item ID?"}`[v5]"
I'm running a custom jasmine.js file to execute my tests. It goes as follows:

**jasmine.js**
[code]

**package.json**
[code]

If I comment out the last three lines, or include them in the jasmine.onComplete() method, and execute `npm test`, I run into a situation where my test run never finishes according to ReportPortal, and only the passed tests appear in the count on the UI.

Conversely, if I

[2020-05-04 16:29] mleonard0826 commented on #948
I should probably have posted this to the agent-js-jasmine repo...

[2020-05-04 19:43] KatsiarynaTatarynovich commented on #948
Hi @mleonard0826
The method `agent.getExitPromise`  has to be called anyway. You just should change the way you call it.
This error occurred as the launch had finished before the test item started. So you need to wrap jasmine.execute and jasmine.onComplete in Promise and inside of the method then() you should call the agent.getExitPromise method.
As an example
[code]

Also, wish to note the necess

[2020-05-04 19:50] mleonard0826 commented on #948
Thank you! That solved my problem.

[2020-05-04 19:50] #948 closed

[2020-05-04 22:28] aceme007 opened #951 "re-run functionality: create new launch on no match?"
I am trying to incorporate re-run functionality provided here by following [this guide](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md) to consolidate my executions.

Have a question (perhaps a feature request, maybe) on what happens if there system is not able to find a match with same name (mentioned in [handling](https://github.com/reportportal/documenta

[2020-05-04 23:00] blue995 commented on #946
@evjlobanova @svettsova Thanks!

[2020-05-05 11:08] ohank commented on #938
How does the Database script look like?
How do I change the DB user?
How do I get more information about the error?
Are unhealthy healthcheck in the docker-compose.yml file?

[2020-05-06 07:13] avarabyeu commented on #945
@vishallanke in two words, it's port inside docker container a service is running on. Historically and based on developer decisions some services are running on different ports. There is no reason to change those ports since they are not exposed to outside world - the only entrypoint to application is traefik itself:
[code]
Hope this helps

[2020-05-06 07:13] #945 closed

[2020-05-06 13:31] vishallanke commented on #945
Yes, Thansk a lot

[2020-05-06 17:08] ivan-sukhomlyn opened #950 "[v5] Service API PostgreSQL DB locks on SELECT queries"
**Describe the bug**

Huge **SELECT** SQL queries block itself. The number for queries slowly grows up and then fail down Service-API with the exception regarding JDBC connection pool size.
[code]
One time we had **> 500** SELECT queries in the waiting state for a tuple:

1-day active sessions graph from AWS RDS Performance Insights:

![Screenshot 2020-05-06 at 11 51 18](https://user-images.github

[2020-05-06 17:58] DzmitryHumianiuk commented on #950
@ivan-sukhomlyn they were addressed in 5.1 and 5.2
could you please give it a try
and double check if it still relevant or not?

[2020-05-06 18:10] ivan-sukhomlyn commented on #950
@DzmitryHumianiuk Thanks for your reply! It's good to hear that this's already a known issue.
Unfortunately, we can't upgrade to the 5.1 version due to SAML integration doesn't work correctly in 5.1.
I will try to upgrade to the 5.2 version later when it will be available.
Do you have any ETA regarding the 5.2 version release?

[2020-05-07 06:50] ohank commented on #938
Ok, I solved this by mounting a Linux image that is hosted on the windows disk. So the problem was the Linux user didn't translate over to windows.

[2020-05-07 06:50] #938 closed

[2020-05-07 07:33] Onish1204 commented on #444
Code available if for json file, how should we change it to load xlsx file.

[2020-05-07 08:49] ohank opened #952 "Auto analysis are not handling skipped test[v5]"
**Describe the bug**
Auto analysis are not analyzing skipped tests and change defect type to no defect

**To Reproduce**
Run test that is skipped:
![image](https://user-images.githubusercontent.com/44366788/81273448-2cffd000-904f-11ea-9d60-c0536da137b5.png)

Analyst tests:
![image](https://user-images.githubusercontent.com/44366788/81273504-4143cd00-904f-11ea-9593-89431fd24e41.png)
![image](https:

[2020-05-07 09:33] Yumfriez commented on #950
@ivan-sukhomlyn Could you please describe the flow which leads to this state?
Like what data (how much and for how long it's being reported) do you send to RP, what is happening with RP instance in parallel with this actions (like requests from the UI side for the launch that is being reported), etc.

[2020-05-07 10:37] ohank commented on #952
![image](https://user-images.githubusercontent.com/44366788/81285175-6b04f000-905f-11ea-9731-c6ce723bb512.png)
The log of a skipped test

[2020-05-07 10:56] DzmitryHumianiuk commented on #952
@ohank it works as designed for `No Defect` type.

Our strict belief that there can be no `no defect` type of issue in the analysis at all.
If you have test skipped or failed, it should have reason for that.

But we added it because of multiply asks.
and kept the logic that `No Defect` can't be migrated into the next execution.

[2020-05-07 12:17] agnes-dober commented on #932
I had the same problem. (Also have nginx.) For anyone else having problems: adding to the server block in /etc/nginx/sites-enabled/[your site]: client_max_body_size 128M and client_body_timeout 180s resolved the issue. (Or it can be done in /etc/nginx/nginx.conf)

[2020-05-07 14:14] rkumarrb opened #953 "API Page supports only port 8080"
**Describe the bug**
API(/ui/#api) page supports only port 8080. We hosted Report portal in K8 and our service using different port and we were not able to use API page to try the apis. It throws the error "TypeError: NetworkError when attempting to fetch resource."

**Expected behavior**
Report portal should auto detect the port in use and use the same for API or it should provide option to the u

[2020-05-07 14:24] rkumarrb opened #954 "[v5] LDAP Auth fails with error "There is no PasswordEncoder mapped for the id “null”""
**Describe the bug**
After configuring the LDAP, When tried to login, it throws the error There is no PasswordEncoder mapped for the id “null”"

In the logs, we can see that it is able to find the user and when logins with credentials, it fails.

**To Reproduce**

Configure LDAP with Report portal 5.1 and try logging in with LDAP user

**Expected behavior**
Report portal should log in when correct

[2020-05-07 15:11] nbob31 commented on #936
@evjlobanova were you able to reproduce this error?

[2020-05-07 15:13] DzmitryHumianiuk commented on #950
May 15th

[2020-05-07 21:04] sethijatin opened #955 "Adding Attributes To Tests : Provide This Functionality Using Methods Apart From Annotations (SLID Specific Issue)"
Based on the documentation custom attributes to the scenario or test case can be added by using annotations as described on wiki page for [attributes](https://github.com/reportportal/client-java/wiki/Test-item-attributes).

**PROBLEM:**
Since, I cannot provide variables in attributes, it becomes impossible to parameterise the values for the predefined keys. For example: In case of SLID : <SESSION_

[2020-05-07 21:04] sethijatin opened #1035 "Adding Attributes To Tests : User Should Have The Ability To Add Dynamic Values Using Variables (SLID Specific Issue)"
Based on the documentation, custom attributes to the scenario or test case can be added by using annotations as described on wiki page for [attributes](https://github.com/reportportal/client-java/wiki/Test-item-attributes).

**PROBLEM:**
Since, I cannot provide variables in attributes, it becomes impossible to parameterise the values for the predefined keys. For example: In case of SLID : <SESSION

[2020-05-07 22:01] ivan-sukhomlyn commented on #950
@DzmitryHumianiuk Thanks for info sharing.

@Yumfriez Mostly we process a lot of big launch logs (logs can be up to ~3000 strings). Autotests can be performed for 1-2 hours. We can have ~20-30 parallel launch execution at the same time for several projects. Also, we have about 100 active ReportPortal UI users.
I assume that blocks described later were led by several ReportPortal API restarts (due

[2020-05-08 06:25] art-shutter commented on #860
Hi, everyone!
Is there any chance to get an update on the issue? I seem to have stumbled into a similar case.

[2020-05-08 09:02] pbortnik commented on #860
Hi,
1. Make sure, that you have version 4.3.11 of api.
2. Execute the next command against Mongodb
`
db.getCollection(‘dbchangelog’).deleteOne({“changeId” : “v4.2-Introduce default analyzer parameters for each project”})
`
3. Restart the api of ReportPortal 4
4. Clean up ReportPortal 5 as i mentioned [here](https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5#5-problems-

[2020-05-08 11:42] priyankachaturvedi30 opened #956 "Minio keeps on restarting"
![image](https://user-images.githubusercontent.com/50797731/81402309-c7930880-914e-11ea-80bb-16447e353b80.png)
Attached are the minio logs.

Docker-compose.yml for minio:

minio:
    image: minio/minio:latest
    ports:
      - '9000:9000'
    volumes:
      #- ./data/storage:/data
      - /c/Users/xyz/data/storage:/data
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio1

[2020-05-08 12:54] priyankachaturvedi30 commented on #956
I see the issue is probably because of the broken build for latest minio release - https://github.com/minio/minio/issues/9555

[2020-05-08 15:01] nvborisenko commented on #891
And please don't forget about strange "promise" behavior.

I have the following code:
[code]

This code fails on the last line because of `Content` is `null`. But wait!.. I have created log item with attachment.

If I execute the last line again (in 100ms), api returns correct binary id. I suppose api acts as promise service while saving binary data.

[2020-05-08 15:03] ohank commented on #952
Then this are not a bug. But this work in 4.3 so I did think it was intended.
I did find a way to work for my organization by creating a custom defect type.

[2020-05-08 15:03] #952 closed

[2020-05-08 15:44] harshavardhana commented on #956
This is because you need O_DIRECT support which is not available unfortunately on Windows docker.

[2020-05-08 15:51] sudharsan81 commented on #943
Hi Anurag,

Most of us who try to install and run report portal face this issue.

Please check is all the services(containers) are Up and running from  `docker ps -a | grep "reportportal_"`.

However, there is no guarantee that the issue you mentioned will not surface if all the components are up and running.

I have been following issues in this repository and I learn these things over the period

[2020-05-08 16:03] nvborisenko commented on #956
Right now I am sitting on Windows, and it's working on my environment:

![image](https://user-images.githubusercontent.com/22616990/81424357-7b4fc480-915e-11ea-9161-7040f0a8f64b.png)

Does it mean we should use specific "old" version of minio to work properly on windows docker?

[2020-05-08 16:13] nvborisenko commented on #943
Also I have tried to deploy it locally on windows.

I can say:
- Don't hesitate to allocate more than 3GB ram for docker
- When all services are up, actually they are not up yet. Even if you see healthchecks are passed.
- Wait and wait, try again and again (login page doesn't reflect the current build number, or twitter updates, but main functionality works)

[2020-05-08 16:15] harshavardhana commented on #956
Yes just use the old release, nothing new added for your usecase to upgrade.

[2020-05-08 16:30] sudharsan81 commented on #956
Thanks HArsha/Nikolay for your advise.

[2020-05-08 16:33] sudharsan81 commented on #956
It is not a good practise to use `:latest` version. It has to be a specific version. Otherwise it will lead to unmanageable dependency, like this case.

[2020-05-08 16:43] sudharsan81 commented on #943
Recently I used a specific old version of minio and it worked. In your `docker-compose.yml` file use this image for minio ` image: minio/minio:RELEASE.2020-03-05T01-04-19Z`

[2020-05-08 18:21] priyankachaturvedi30 commented on #956
Yes, The problem was because of the latest released version of minion. It worked well after switching to an older version - minio/minio:RELEASE.2020-05-01T22-19-14Z

[2020-05-08 18:22] #956 closed

[2020-05-08 20:58] NeuroDuck opened #1621 "Finer control over how test_names and launch_names appear in RP history window"
I understand the following likely involves changes in both pytest-reportportal and in ReportPortal itself, so I'm starting this discussion here and in RP's general Slack channel...

<img width="730" alt="Can the test run modify these fields1" src="https://user-images.githubusercontent.com/11916373/81447672-ed5de480-9131-11ea-94ed-356db7ac8ccc.png">
<img width="710" alt="Can the test run modify the

[2020-05-10 15:37] ghost opened #957 "An error occurred while connecting to server"
Installed Report Portal through docker toolbox and all containers are running, but still unable to login

![image](https://user-images.githubusercontent.com/35072860/81808707-bcb8e900-953d-11ea-8bfa-44b0ce8e724c.png)

[2020-05-10 18:38] jsingh-qualitrol commented on #811
Hello @Dhams-1 @barvin

I am also facing same issue, Please let me know how i can set the environment variable. Please share the updated docker-compose.yml

PS D:\> docker-compose -p reportportal up -d --force-recreate
Recreating reportportal_gateway_1       ... done
Recreating reportportal_ui_1            ... done
Recreating reportportal_uat_1           ... done
Recreating reportportal_minio_1

[2020-05-11 05:01] samagarw opened #958 "Email Notification for filters instead of selecting a launch name . Notification based on regexp ."
We can send email notification for the launch names . But we can't send notification based on some regexp . It would be great if we can send notification based on some filter or regexp . This will solve a problem of selecting all the jobs which have similar name .

[2020-05-11 08:34] vishallanke commented on #944
Attaching latest logs
[LOGS.zip](https://github.com/reportportal/reportportal/files/4608435/LOGS.zip)
[NETWORK.zip](https://github.com/reportportal/reportportal/files/4608438/NETWORK.zip)
[SNAP.zip](https://github.com/reportportal/reportportal/files/4608439/SNAP.zip)
[JSON.zip](https://github.com/reportportal/reportportal/files/4608440/JSON.zip)

[2020-05-11 09:49] Yumfriez commented on #890
@nvborisenko Fields naming changed from `underscore` to `camel case` since 5.0 version.
So for now it's correct to use `startTime` instead of `start_time`

[2020-05-11 10:28] troyhugs commented on #605
![image](https://user-images.githubusercontent.com/17424203/81551808-1683ac80-93a0-11ea-91f8-628937160f8a.png)
I have the same issue the autoAnalysis is not working... and the screenshot says the elasticsearch is restarting... always

[2020-05-11 11:25] marek2209 opened #960 "Cannot log in to fresh report portal"
Hi.

I want to setup fresh production reportportal on two separate host as documentation described.
I already installed postgresql on second host and i modified everything in docker-compose file.
Unfortunetaly i am still not able to log in.

![image](https://user-images.githubusercontent.com/9087374/81555998-dd404200-9389-11ea-8632-063bb2b36757.png)

![image](https://user-images.githubusercontent.

[2020-05-11 13:35] DzmitryHumianiuk commented on #943
@sudharsan81 the majority of `help wanted` questions are about the same.
people do not read instructions and do no follow all steps in it.

95% of that questions are resolved by proposing to allocate more memory for docker, give correct permissions for elastic and give 10 minutes for microservices to bootstrap.

Our GitHub issues are flooded with similar questions. that's why some of them can be c

[2020-05-11 13:36] DzmitryHumianiuk commented on #943
@sudharsan81 minio version fix pushed into compose file

[2020-05-11 13:56] DzmitryHumianiuk commented on #605
@troyhugs
https://github.com/reportportal/reportportal/issues/605#issuecomment-481756359

[2020-05-11 13:59] ShashidharSM opened #961 "[v5] IOException in service-api"
**Describe the bug**
ReportPortal doesn't allow users to login, and is extremely slow after restarting the docker containers. The service-api container has several IOExceptions ("No file descriptor available")

**To Reproduce**
This is on a production setup: Postgres is running on a separate server, and reportportal containers have a server to themselves. (All m5.large servers).

We have around 45

[2020-05-11 14:20] DzmitryHumianiuk commented on #961
@ShashidharSM what's the `service-api` version and `minio` version?

[2020-05-11 14:42] ShashidharSM commented on #961
service-api is at 5.0.0 and we are using filesystem for storage and not minio.

![RP_Containers](https://user-images.githubusercontent.com/4965520/81574685-21284c80-9374-11ea-9b19-3e715e8c976e.jpg)

[2020-05-11 14:53] DzmitryHumianiuk commented on #961
@ShashidharSM we recommend update to version 5.1 or even 5.2-rc at this point.

the error which is dropped by API is the related to the number of open files by File System.
In your case, you have quite loaded instance, which means that this limit should be extended.

Default docker compose goes for default configuration, which can fit majority of configurations.

https://unix.stackexchange.com/que

[2020-05-11 15:59] s-reimer commented on #954
Here's a stack trace from the UAT container
[code]

It looks like this bug might be caused by upgrading from Spring Security 4 to Spring Security 5.

The encoded password sent to the PasswordEncoder constructed in [LdapAuthProvider](https://github.com/reportportal/service-authorization/blob/cdd1e8219688d016747534447ff803ed0a07472c/src/main/java/com/epam/reportportal/auth/integration/ldap/LdapAuthP

[2020-05-11 16:07] andrzej-kodify opened #962 "Unable to set up email integration with service as username [v5]"
**Describe the bug**
Try setting setting up e.g. AWS SMTP server where username is service account (i.e. not a valid email address)
Since as far as I understand the code tries to send email to that username here
https://github.com/reportportal/service-api/blob/a256236df4f9687775429f25cda0a816bf6a4c29/src/main/java/com/epam/ta/reportportal/core/integration/util/EmailServerIntegrationService.java#L1

[2020-05-11 16:12] andrzej-kodify commented on #962
As a workaround it seems that connection test is not invoked when you add new email integration first without auth enabled, edit it and then change configuration 🙄

[2020-05-11 17:13] ShashidharSM commented on #961
@DzmitryHumianiuk Thanks! We will explore your suggestions to extend limits. And could you explain why you recommend updating to 5.1 - would that help us with this issue?

[2020-05-11 17:48] DzmitryHumianiuk commented on #961
@ShashidharSM 5.1 has dozens of performance fixes and optimizations, found in real-life adoption of 5.0.0 on project with high scale.

[2020-05-11 18:05] nvborisenko commented on #890
@Yumfriez Right, but service says I should use `start_time`: `Sorting parameter start_time is not defined`

I suppose correct message is `Sorting parameter startTime is not defined`

[2020-05-12 09:24] bearclawz commented on #501
Yes! That did the trick for me on Ubuntu server in virtualbox

[2020-05-12 09:29] marek2209 commented on #960
![image](https://user-images.githubusercontent.com/9087374/81667606-c5c58f80-9443-11ea-8bf2-d6332b74f35a.png)

[2020-05-12 09:45] marek2209 commented on #960
reportportal/service-api:5.1.1

![image](https://user-images.githubusercontent.com/9087374/81669108-fc040e80-9445-11ea-9061-df0118e825ca.png)

[2020-05-12 09:51] Yumfriez commented on #890
@nvborisenko It is correct to use `startTime` instead of `start_time` according to our API, so when you use `start_time` validation fails and says that this parameter is not defined (because the one that is defined is `startTime`):
![image](https://user-images.githubusercontent.com/31598109/81669548-0b3b8a00-944f-11ea-96a1-2452a5c2ab06.png)

And if use `start_time`, which is incorrect:
![image](ht

[2020-05-12 11:48] pbortnik commented on #960
Can you share the logs of 'db-scripts' container. It have to be in stopped containers.
To check all containers (running + stopped) use the next command:
`docker ps -a`

[2020-05-12 11:58] marek2209 commented on #960
![image](https://user-images.githubusercontent.com/9087374/81685968-940af380-9458-11ea-8b9d-4ac7bb6884bd.png)

log
 reportportal/migrations:5.1.0  is the db scripts
![image](https://user-images.githubusercontent.com/9087374/81686092-a5540000-9458-11ea-8bf2-63e0fade2d5c.png)

[2020-05-12 12:01] Onish1204 commented on #629
I am facing same issue, With same code as below, it was working since 1 month, but now suddenly stops.

Public void test()
{
File file=new File("q.png");
ReportPortalMessage message1 = new ReportPortalMessage(file,"image file"); LOGGER.info(message1);
}

rp ver 5.1

[2020-05-12 12:26] akrush24 commented on #860
Thanks for the answer

1. version in "4.3.11"
[code]

2. I executed the command, no result
[code]

3. passed
[code]

4. then I launch сlean ReportPortal v5
<details>
<summary># docker-compose -f ./docker-compose_v5.yml -p reportportal up -d --force-recreate</summary>

[code]

</details>

<details>
<summary># docker ps -a</summary>

[code]

</details>

<details>
<summary># cat docker-compose_v5.yml

[2020-05-12 15:47] hasket opened #964 "Failure migrate reportportal with 4.3 to 5.0"
Hi, I migrate the reportport from version 4.3 to 5.0, acted on the migration instructions taken from your github repository, with the problem of connecting to Mongodb.
I enclose a log and a migration file.
Moreover, the reportport 4.3 rises without errors.
Please, help.

[out_error.log](https://github.com/reportportal/reportportal/files/4616661/out_error.log)
[migrate_yml.txt](https://github.com/r

[2020-05-12 21:22] code255255 opened #965 "any support for cucumber5 (5.x.x ) version?"
does report portal support cucumber5 (5.x.x ) version if so, can someone please share working jar versions

[2020-05-13 04:15] TestMyCode12345 commented on #505
https://github.com/reportportal/example-java-TestNG/issues/23#issuecomment-627732973

I followed the same steps in AWS centos. I am able to launch report portal. But Laucnh is not finishing in UI. test case is completed by Force to finish .

If I click the test case in ui, I am getting error in query.

Kindly help on this.

https://github.com/reportportal/example-java-TestNG/issues/23#issuecomment

[2020-05-13 09:45] vishallanke commented on #944
On EC2 Instance , its working. I have observed that if I enter http://ec2.compute.amazonaws.com:8080, then it opens http://ec2.compute.amazonaws.com:8080/ui/#login. After clicking on Login, I can see http://ec2.compute.amazonaws.com:8080/uat/sso/oauth/token. If I enter , http://ec2.compute.amazonaws.com:8080/uat/sso/oauth/token. , it is asking me to enter credentials. So, it looks OK to me

Howeve

[2020-05-13 10:11] marek2209 commented on #960
Ok i resolved issue.

I just removed migrations and db-scripts section from docker-compose and i runned all of DB
https://github.com/reportportal/migrations/tree/develop/migrations scripts manually on my DB instance.

[2020-05-13 10:11] #960 closed

[2020-05-13 17:54] aceme007 commented on #951
I can't seem to add new labels ("help-wanted") on this issue.
@evjlobanova could you please help here.
cc @ihar-kahadouski

[2020-05-13 19:25] nvborisenko commented on #890
You say `startTime` should be defined, API says `start_time` should be defined.

As a user of API I am reading error message as "Sorting parameter start_time is not defined, you should define it because of it's mandatory". Now I understand what `not defined` means, this is `unknown`, `not recognized`.

It's up to you close this issue or change error message, I don't mind.

[2020-05-13 21:27] NeuroDuck opened #966 "History Display: Allow format()-string or other control over text fields"
See:
[History Display](https://files.slack.com/files-pri/T2GRWUYAX-F0139GNH6HK/can_the_test_run_modify_these_fields.png)

We are using v5.1 with pytest-reportportal v5.0.3.

Can ReportPortal allow us to specify a unique string to be specified in the Blue-circle areas in the History display?

As you can imagine, we would like to display the build# that was tested in place of "Execution #5", along w

[2020-05-14 03:12] code255255 opened #967 "two tests are triggered when executing one cucumber scenario under the launch"
I'm using below jar versions
agent-java-testng - 5.0.0-BETA-9
agent-java-cucumber4- 5.0.0-BETA-9
 client-java - 5.0.0-BETA-9
logger-java-logback- 5.0.0-BETA-9

Reportportal version - 5.1.0
Cucumber-java - 4.7.1
![Screen Shot 2020-05-13 at 10 05 34 PM](https://user-images.githubusercontent.com/65089586/81888335-c30f8b00-9566-11ea-920e-f594bb5b0ed5.png)
Can you please check.

[2020-05-14 06:52] evjlobanova commented on #966
Partly duplicate of #325

[2020-05-14 06:56] evjlobanova commented on #966
@NeuroDuck please add screenshots to this request.
What do you mean under: Blue-circle areas in the History display?
Please add screenshots for: "test_name is getting cut of"
What do you mean under: "the test_name be selected to be displayed, i.e., under the History Display's "Options" button?"

[2020-05-14 08:48] evjlobanova commented on #936
@svettsova Could you please try to reproduce this issue?

[2020-05-14 08:52] evjlobanova commented on #940
The issue connected with a custom Jira field "Found in"
Can be connected with https://github.com/reportportal/reportportal/issues/536

[2020-05-14 08:56] evjlobanova commented on #941
The analyzer is analyzing and failed and skipped in case skipped items have an error log. In our imported file, skipped items do not have error logs.
Do you manage to analyze your file?

[2020-05-14 09:19] priyankachaturvedi30 commented on #941
@evjlobanova : yes I did. But I see that only logs get imported. Is there a way through which we can also import some screenshots?

[2020-05-14 11:21] svettsova commented on #936
@evjlobanova as I remember, on 5.1 version was no such issues. I tried to reproduce it on 5.2 - I can see the 'Login with GitHub' button. I guess there can be issues in github settings (OAuth Apps or specific rights) and we should ask dev team to have a look

[2020-05-14 11:46] #890 closed

[2020-05-14 13:26] waynesun09 opened #968 "ReportPortal Operator project"
I'm a Red Hat developer and Report Portal user/contributor, I would like you to check the operator project and consider the `request` part.

# Background
Current Helm chart have 2 PRs left to support OpenShift Container Platform:

1. [service-api /plugin dir rootless group permission](https://github.com/reportportal/kubernetes/pull/77)
2. [helm chart OpenShift route support](https://github.com/rep

[2020-05-14 14:03] ajinkyapande opened #969 "Report portal service become inactive intermediately"
Hello, I am using docker-compose approach for docker installation. My server is becoming inactive in between which is leading to failing my original test job.

docker logs reportportal/service-api:5.1.0

[code]

[2020-05-14 14:55] DzmitryHumianiuk commented on #941
@priyankachaturvedi30 no import for screenshots.
we assume it for real-time [agents](https://github.com/reportportal?q=agent-&type=&language=)

[2020-05-14 18:51] pbortnik opened #970 "Migration - ERROR: insert or update on table "project_attribute" violates foreign key constraint "project_attribute_attribute_id_fkey" settings-migration_1 | Detail: Key (attribute_id)=(5) is not present in table "attribute"."
Settings migration fails with the following error:
ERROR: insert or update on table "project_attribute" violates foreign key constraint "project_attribute_attribute_id_fkey" settings-migration_1  |   Detail: Key (attribute_id)=(5) is not present in table "attribute".

The migration is available only to the 5.0.0. Make sure that you have reportportal/migration:5.0.0 service. After migration finishe

[2020-05-14 19:07] #970 closed

[2020-05-15 06:45] #941 closed

[2020-05-15 06:51] svettsova commented on #936
@nbob31 could you attach a screenshot with uat service from Info request?

[2020-05-15 08:55] evjlobanova commented on #944
@Cyberglamdring please take a look

[2020-05-15 12:44] diogo-mendes-ifood commented on #566
5.2 was released and nothing related to SAML. Any news on that ?

[2020-05-15 13:04] bzsharm commented on #520
@trannguyenhung011086 DzmitryHumianiuk

is that a working solution ?

[2020-05-15 13:20] DzmitryHumianiuk commented on #566
@diogo-mendes-ifood that was release with updates for clients.
Paid requests shifts our general backlog.

[2020-05-15 13:22] diogo-mendes-ifood commented on #566
So that would be for 5.3 probably @DzmitryHumianiuk ? Any ETA ?

[2020-05-15 13:30] almayce commented on #866
@evjlobanova now it works!

but I've been faced one moment with file type: json displayed like txt

![Screenshot from 2020-05-15 16-22-36](https://user-images.githubusercontent.com/18463941/82055251-e2bec480-96c8-11ea-8669-de596fcf9b82.png)

Now we can close the issue. Thanks for your support!

[2020-05-15 13:30] #866 closed

[2020-05-15 14:34] ShashidharSM commented on #961
Thanks, @DzmitryHumianiuk - could you please share a link to release notes for version 5.1? I couldn't find it anywhere.

[2020-05-15 15:10] nbob31 commented on #936
I have done the following to produce these logs.

1. Login
2. Go to server settings and turn enable Github auth and save the settings
3. Logout
4. Go to http://reportportal_url.com/uat/sso/login/github with shows the error "could not obtain access token"

[uat-log.log](https://github.com/reportportal/reportportal/files/4635168/uat-log.log)

[2020-05-15 15:23] DzmitryHumianiuk commented on #961
@ShashidharSM https://github.com/reportportal/reportportal/releases/tag/5.1.0

[2020-05-18 09:01] deepaleekhare31 commented on #940
Hello Team,
For the custom Jira field "Found in" to work. I have made the following changes:
In file: https://github.com/reportportal/plugin-bts-jira/blob/develop/src/main/java/com/epam/reportportal/extension/bugtracking/jira/JIRATicketUtils.java
Added the below-highlighted part of the code:
![image](https://user-images.githubusercontent.com/50138350/82194071-e1350c80-9913-11ea-965e-282701986f1e.p

[2020-05-18 09:17] evjlobanova commented on #940
@pbortnik @Yumfriez could you please check this info

[2020-05-18 09:39] ishannavgire opened #971 "Getting "java.net.UnknownHostException: postgres" after running reportportal-api container"
**Description:** When i up the application via docker-compose, all of the containers start running expect the "äpi" container because it is dependent on "rabbitMQ", "postgres" & "gateway". After some time I get error :
ERROR: for api  Container "xxxxx_container_id_xxx" is unhealthy.
ERROR: Encountered errors while bringing up the project.

Then I wait for all containers to be in "healthy" state &

[2020-05-18 14:15] ariel411 opened #972 "Config always reset every Day [v5]"
**Describe the bug**
After to configure a new project into https://github.com/reportportal/reportportal
all the launches, filters, are removed on a day even the API token is not the same.
Using GitHub account as Login

**To Reproduce**
Create a new launch and filter
Login the next day

**Expected behavior**
all changes and configurations into account even the API token should not be changed

**Add

[2020-05-18 14:21] DzmitryHumianiuk commented on #972
@ariel411 data should stay in the, until you delete it.

Reasons of data upsent can be:
- restarting container with database
- restarting pod with db

who do you install RP?

[2020-05-18 14:27] ariel411 commented on #972
I have been used this link:
https://web.demo.reportportal.io/ui/#login

Using GitHubAccount

![image](https://user-images.githubusercontent.com/61328207/82224702-2ea08200-98f2-11ea-843e-3121f8ced6b0.png)

[2020-05-18 14:31] DzmitryHumianiuk commented on #972
@ariel411 it is Demo instance.
it does reset data every 12 hours.

[2020-05-18 14:31] #972 closed

[2020-05-19 00:22] TestMyCode12345 opened #973 "No result when i click test case name"
![image](https://user-images.githubusercontent.com/65267827/82271143-9909fe80-9994-11ea-9240-11ec7a5afdb0.png)

I am able to launch report portal.
I can see test suite return SUCCESS with 1 test case.

But when I click test case name in report portal , it return new page with no result. and also there is no count for total, passed.

Please advice.

https://github.com/reportportal/example-java-Test

[2020-05-19 07:13] bzsharm opened #974 "Can we import a Junit result file , which is an .xml in to the report portal ?"
Can we import a Junit result file in to the report portal ?. (its an XML file )

If Yes , could you guys help me or advise me how to get it done .

An abinitio application (business intelligence) creates(its not a Junit Framework)

 this "junit result xml file", so we dont have an option to integrate report portal with this business intelligence tool as per the documentation which i saw in reportp

[2020-05-19 08:08] HardNorth commented on #974
Have you tried to use search through our documentation?
https://reportportal.io/docs/Import-data-to

[2020-05-19 08:08] #974 closed

[2020-05-19 09:44] nagaeva-anastasia commented on #810
we tried to upgrade our instance once again
from RP4 to RP5.2, got the same error, and workaround with manual creating of indexes helped.

[2020-05-19 10:18] mnicula commented on #934
I've upgraded RP to 5.2 version - issue is still reproducible

[2020-05-19 10:37] deepaleekhare31 commented on #940
hello @pbortnik and @Yumfriez
any updates?

[2020-05-19 10:40] DzmitryHumianiuk commented on #810
The flow should be 4.x -> 5.0 ->5.x
in order to avoid extra manual steps.

but glad it worked.

[2020-05-19 10:44] nagaeva-anastasia commented on #810
yep, we did it according to instruction
https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.1

[2020-05-19 10:47] svettsova commented on #934
So, I tried to reproduce it again and still have no issues. @mnicula could you help me with the steps?
I've reported Nested steps with the following structure:
![2020-05-19_16h40_57](https://user-images.githubusercontent.com/50825875/82317073-8b359700-99ef-11ea-890c-95f43bb554eb.png)
Then, I sent finish to NS-1 and after that to NS-2
As a result, I can see the correct statuses. Are my steps correc

[2020-05-19 10:51] svettsova commented on #934
I also tried sending finish to NS-2 first, and then to NS-1 - but still have no issues

[2020-05-19 11:00] DzmitryHumianiuk commented on #974
@bzsharm there is another option: implement parser, which will read you results file and sent it to API.
Here are detailed devguide of reporting steps: https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

So a parser can be implemented, which will trigger reporting events according to data structure.

P.S.
if your company is looking for options with help in

[2020-05-19 11:09] DzmitryHumianiuk commented on #973
@TestMyCode12345 looks like your are missing db_scripts, which should update tables in DB.

i guess, shell-installation missing it for now.
@pbortnik can suggest here.

[2020-05-19 11:26] evjlobanova opened #975 "Integration with BrowserStack"
Implement the similiar functionality as for SauceLabs
https://www.browserstack.com/

[2020-05-19 11:27] TestMyCode12345 commented on #973
@pbortnik As reportportal throws the error "test_case_hash column does not exist", I have added this column in postresql with varchar(1024) datatype. Once I altered the table , I did not see the error in reportportal page after executing testsuite.xml in eclipse.

But I could not see Total count and other info in Launch page.

![image](https://user-images.githubusercontent.com/65267827/82320835-88

[2020-05-19 11:41] TestMyCode12345 commented on #973
But I executed download-services.sh and start_rp.sh in aws instance from below link.
https://github.com/reportportal/shell-installation

Made below changes as I was getting error on launching reportportal page itself.

1. Created ltree extension in postresql
2. Traefik.toml - changed port no from 8080 as shown below

![image](https://user-images.githubusercontent.com/65267827/82322067-81159780-99f

[2020-05-19 11:49] mnicula commented on #934
Can you please try with some actual logs inside NS-2 on your side?

[2020-05-19 12:25] svettsova commented on #934
![image](https://user-images.githubusercontent.com/50825875/82325833-adceac80-99fd-11ea-9243-dc24ec4f665a.png)
still have no issue. Do you perform steps directly to API or via some agent?
I guess there is can be issue from agent which you use

[2020-05-19 12:30] mnicula commented on #934
I use the API. Please try to log data only for NS-2, without having logs for NS-1

[2020-05-19 12:37] svettsova commented on #934
![2020-05-19_18h35_08](https://user-images.githubusercontent.com/50825875/82326974-7bbe4a00-99ff-11ea-8056-f7717a010b68.png)
evrything is ok for me. Can we have a call via skype? live:valya.svettsova

[2020-05-19 12:43] mnicula commented on #934
I will try it once again. Thanks for your help

[2020-05-19 13:08] svettsova commented on #934
I will be much appreciated if you share your results :)

[2020-05-19 13:42] mnicula commented on #934
Works ok, thanks. Sorry for bothering

[2020-05-19 14:08] pbortnik commented on #964
Hi, as you are running all of the containers in one network (root), you cane provide the services names (mongodb, postgres, minio) in docker-compose file instead of 'localhost'.
Docker cannot connect from inside the container to local machine.

[2020-05-19 14:08] #964 closed

[2020-05-19 15:06] narmadha956 opened #976 "[v5] Auto Analysis - Not working if logged via log4j2"
**Describe the bug**
Auto analysis's "Change Similar Items" feature not working if logged via log4j

**To Reproduce**
1. Log two failures via explicit report portal logging -> ReportPortal.emitlog. Edit Defect - Under "Change Similar Items", both the logs will be seen.
2. Log two failures via log4j2 to Report Portal ->Log.error() . Edit Defect - Under "Change Similar Items",  **BOTH LOGS NOT SEEN*

[2020-05-19 15:57] DzmitryHumianiuk commented on #976
@narmadha956 please share version of RP and screenshots how you see these logs in RP UI.

There are some simple rules:
- categorization and analysis can be applied to test cases only (`type=step` for api)
- logs should be the logs of test case
- logs should be ERROR level

[2020-05-19 16:31] narmadha956 commented on #976
Thanks for such a quick response.

**Version :** Current version:API Service: 5.1.0;Index Service: 5.0.7;Authorization Service: 5.1.0;Service UI: 5.1.0;

Same has been working until I integrated with Log4j.

I have 400 such failures, auto analysis was working perfectly. But once I added used log4j, this stopped working.

<img width="1680" alt="Test2" src="https://user-images.githubusercontent.com/

[2020-05-20 09:16] maartenjanvangool opened #1001 "ClassCast exception with saml login"
The piece of code below breaks saml login, at least in our case. Not surprising, since the principal here is just not a report portal user. When I now try to login with saml, I get a class cast exception...

https://github.com/reportportal/service-authorization/blob/701807d5f7a0fd60e1be19adb4ea7e6b6fafca2d/src/main/java/com/epam/reportportal/auth/event/UiAuthenticationSuccessEventHandler.java#L58

[2020-05-20 19:57] AutomateItEasyWay opened #977 "[v5] Unable to send log to RP using API."
I am trying to send log to RP using log API. http://endpoint:8080/api/v1/superadmin_personal/log. I have set the authorization header and executed another get request to ensure that endpoint and bearer token information is accurate.

When executing POST request for sending log I have added json_request_part and file. Doubled checked that file name in json_request_part and file is same. But I still

[2020-05-20 20:48] gksangepu commented on #684
Hi,
I'm using the "api version: 4.3.4" still seeing the same issue.

`Error: Request failed with status code 400: {"error_code":4001,"message":"Incorrect Request. [Field 'startTime' shouldn't be null.] "}`

Complete Error log:
`[16:32:17] I/launcher - Running 1 instances of WebDriver
[16:32:17] I/direct - Using ChromeDriver directly...
Jasmine started
Error: Request failed with status code 400: {"

[2020-05-21 06:32] TestMyCode12345 opened #978 "Not able to load test cases that are executed using Cucumber in REPORTPORTAL"
Hi Team,

  I have created one project using cucumber. I am able to run the restNg.xml and all test cases got executed based on feature file within.

Reportportal is up and running. I successfully load test cases that are executed using below link in reportportal

https://github.com/reportportal/example-java-TestNG

But I am not able to launch test cases done in cucumber prject.

Steps followed:

[2020-05-21 07:11] sudharsan81 commented on #943
Thanks @DzmitryHumianiuk

[2020-05-21 09:01] DzmitryHumianiuk commented on #684
@gksangepu it means that you use Agent libraries of version 5 with RPv4.

downgrade to rp js libs, which will start with major version 4.
e.g. 4.x.x

[2020-05-21 11:12] jsingh-qualitrol commented on #403
Can we integrate QMetry as Jira plugin into ReportPortal. I have installed version 5.1.0 of report Portal.

[2020-05-21 11:21] e-olga commented on #773
The issue is fixed and will be available with RP v5.3 released.

[2020-05-21 11:59] HardNorth commented on #978
Please take a look on this example: https://github.com/reportportal/examples-java/tree/master/example-cucumber4
Or this (using cucumber-testng):
https://github.com/reportportal/examples-java/tree/cucumber4-jackson-no-method/example-cucumber4

[2020-05-21 16:36] code255255 commented on #967
Any solution for this issue? Can you please advice.

[2020-05-21 16:40] code255255 commented on #955
I'm also looking for this, any plans for future updates ?

[2020-05-21 17:36] narmadha956 commented on #976
Also, now ReportPortal.emitLog("message", "INFO", date, new File("filePath")) only posts log message without attaching file. This was working two days back.
Does Report portal have any space limit ? Is there an API which I can use to check ?

[2020-05-21 19:35] DzmitryHumianiuk commented on #976
@narmadha956 there is no any limits in API side.

The only reason of that can be the system level limitations.
Like number of open files, specifics of database configuration, etc.

There is no silver-bullet answer for your questions.
Since described issues are quite unique and we didn't receive something similar from users.
Usually it means that something misconfigured or limited at infrastructure

[2020-05-21 19:36] DzmitryHumianiuk commented on #976
@narmadha956
also you didn't mention, what was the previous source of logs, which generated this failed item.

[2020-05-21 19:43] gksangepu commented on #684
@DzmitryHumianiuk   downgrading to 4.0.0 works. Thanks.
 But _agent-js-jasmine_ latest (3.0.0) is dependent on _reportportal-client: ^5.1.0_. I have to downgrade the _agent-js-jasmine_ version to 2.0.1.

Is there a way to use the latest _agent-js-jasmine_  and _reportportal-client: 4.X.X_ ?

[2020-05-22 05:31] narmadha956 commented on #976
@DzmitryHumianiuk Used ReportPotal.emitLog only. After freeing up memory and upgrading report portal to latest version, attachment and auto-analysis are working. So I guess you are right.

Closing the issue. Thanks.

[2020-05-22 05:31] #976 closed

[2020-05-22 07:59] DzmitryHumianiuk commented on #684
@gksangepu we do not plan to make back support for libraries made for RPv4.

Team focused to make it stable for newly release version of RPv5.

[2020-05-22 08:42] HardNorth commented on #967
Can you update your agent with new one? 5.0.0-BETA-10

[2020-05-22 08:45] DzmitryHumianiuk commented on #976
@narmadha956 that is it )

To sum-up:
1. Check your `ulimit` param for *unix based OS. Which limits number of simultaneously open files in system, which affect database and as a result affects number of open session/threads to report results  (https://linuxhint.com/linux_ulimit_command/)

2. Check the memory limit for docker process itself, which can cut volume of available system resources for th

[2020-05-22 11:08] harvzkie opened #979 "[v5] Unable to finish test launch even when results are uploaded"
**Describe the bug**
Using Cypress, when executing the spec will leave the automation running because it is waiting for the test launch to finish.

The installation method is using without docker.

There is no error reported from the logs.

**Expected behavior**
Test launch should finish and automation should not leave hanging

**Screenshots**
If you take a look on the screenshot, the test launch

[2020-05-22 11:16] mnicula commented on #977
According to this [comment](https://github.com/reportportal/reportportal/issues/621#issuecomment-492666788) json_request_part should also be a file

[2020-05-22 11:16] DzmitryHumianiuk commented on #979
@harvzkie cypress integration version?

[2020-05-22 11:31] ElenaRomanchuk commented on #979
@harvzkie The current released version of `agent-js-cypress` doesn't work with ReportPortal v5. The work for adjustment this agent to ReportPortal v5 is still in progress. This bug will be fixed in nearest release. You can try and check it by specifying whole path in package.json:
`"reportportal-client": "https://github.com/reportportal/agent-js-cypress.git#master"`
Please let us know if you try a

[2020-05-22 12:27] harvzkie commented on #979
@ElenaRomanchuk thanks for the response. Initially I was using the agent-js-cypress and was not successful so I did use the reportportal-client to check if I can get through, below is my modified code

![image](https://user-images.githubusercontent.com/19536000/82667446-7a448a00-9c6a-11ea-9429-baff02a2bdaa.png)

But still unable to work through. I will look forward for the adjustment.

@DzmitryHum

[2020-05-22 13:28] ElenaRomanchuk commented on #979
@harvzkie Adjusted version of `reportportal-client` hasn't released yet too. Stay tuned! We will release them soon.

[2020-05-22 14:04] harvzkie commented on #979
thanks @ElenaRomanchuk

[2020-05-22 14:36] nvborisenko opened #980 "[v5] Unclassified error [query did not return a unique result: 2]"
**Describe the bug**
Cannot start test item when launch is rerun.

**To Reproduce**
I have launch with 2 tests. Generated `uniquetestcaseID` property is really unique on server side:
1. auto:4fdeb332c85b6d0fa6c9e7e92c5ef062
2. auto:f5ccc0ee7b483b227ad6f4d0d43f3bd7

![image](https://user-images.githubusercontent.com/22616990/82678235-ec5ca500-9c51-11ea-9f22-572dc81e8248.png)

These 2 tests look sim

[2020-05-22 14:52] klebercsilva opened #981 "[v5]"
I am running the following stack: Java, TestNG, Cucumber 4.8, Appium. When using the plugin com.epam.reportportal.cucumber.**StepReporter** and performing a **Deep Merge**, Report Portal was doing fine in combining both executions and keeping the most up-to-date tests after the merge operation. Now using com.epam.reportportal.cucumber.**ScenarioReporter** Deep Merge actually seems to be doing a **

[2020-05-22 23:01] aceme007 commented on #951
btw, I was able to resolve my use case by looking up list of launch/names via API and accordingly setting `rerun` flag.
If anyone cares for the API
`{{host}}/api/v1/<project>/launch/names?filter.cnt.name=<search_term>`

[2020-05-23 11:55] TestMyCode12345 commented on #978
Thanks @HardNorth I am able to see the test cases loaded into the reportportal with agent-java-cucumber.

I need one more clarification. I have existing project in selenium + cucumber . we are generating report and send report across team with extend report. We have a data in TDM sheet (excel).

Created TestRunner java file to set plugins and feature file.  Now reportportal launch the test cases.B

[2020-05-23 11:55] TestMyCode12345 commented on #978
![Capture](https://user-images.githubusercontent.com/65267827/82730041-6eb09c00-9d1a-11ea-8790-9d1eec326819.JPG)

[2020-05-25 10:17] jcarenas commented on #839
Hi guys! I'm facing an issue when I try to add a tag from gradle execcution to the reportPortal. My command line is: gradle clean test -Drp.tags=country:Sweden; I expect to have an attribute called country with a value Sweden, in my launch, but instead of that I have found an attribute with an empty key and as value "country:Sweden". This occurs in widget Component Health Check.
Please, can you he

[2020-05-25 11:16] evjlobanova commented on #929
@Yumfriez could you please check?

[2020-05-25 11:21] evjlobanova commented on #950
@Yumfriez Could you please check the answer of Ivan?

[2020-05-25 11:22] #951 closed

[2020-05-25 11:48] priyankachaturvedi30 commented on #977
@mnicula , I am also facing the issue while uploading logs via api but i m getting unauthorized error.
![image](https://user-images.githubusercontent.com/50797731/82810309-b9155280-9eab-11ea-94a2-75db6cb0cc4d.png)

Can you help me with the Authorization types that i need to provide

[2020-05-25 11:50] evjlobanova commented on #955
@sethijatin @code255255 Could you please specify which agent do you use and which version of agent?

[2020-05-25 11:51] evjlobanova commented on #958
Could you please specify which kind of patterns in Launch name do you plan to use?

[2020-05-25 12:03] evjlobanova commented on #961
@ShashidharSM has it helped?

[2020-05-25 12:22] mnicula commented on #977
@priyankachaturvedi30
please see the dev guide https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

[2020-05-25 12:29] pabloli84 commented on #566
Hi, is there a way to use this hidden functionality in 5.2? Thanks.

[2020-05-25 12:29] evjlobanova commented on #967
Now we are working on java agent updating to the latest version. As soon as we release Java Test NG ( you can use a little bit outdated version, we have released a Test NG 5 rc agent), we will start working with cucumber

[2020-05-25 12:51] evjlobanova commented on #977
POST {{url}}/{{project}}/log
{
  "launchUuid": "{{current_launch_uuid}}",
  "itemUuid": "{{current_step1_uuid}}",
  "level": "error",
  "message": "log text)",
  "time": "{{date}}"
}

[2020-05-25 12:52] evjlobanova commented on #977
Please reopen this issue if you still have problems?

[2020-05-25 12:52] #977 closed

[2020-05-25 13:02] evjlobanova commented on #968
Thank you for your request!
We should discuss it very well internally

[2020-05-25 13:44] evjlobanova commented on #962
For now we do not support integration with the AWS e-mail server.
We have added it the backlog

[2020-05-25 15:35] evjlobanova commented on #566
In version 5.2 - no.
It is compatible only with version 5.0

[2020-05-25 17:47] DzmitryHumianiuk commented on #839
@jcarenas open new issues for questions, rather than commenting closed.

Tags are tags. Attributes are attributes.
send it as:
```rp.attributes = country:Sweden;```

[2020-05-25 19:42] pabloli84 commented on #566
I see, thanks. Will wait for 5.3. Are there any estimates for 5.3 release?

[2020-05-26 12:55] priyankachaturvedi30 opened #982 "email Server Integration"
I am trying to set up an email to get triggered automatically whenever I import data for any launch.
I was looking at email server configuration below:
![image](https://user-images.githubusercontent.com/50797731/82903039-fd712300-9f7d-11ea-95d8-56895da3a92d.png)

Does the above setting works as default or do I need to configure it by clicking on "unlink and setup manually". By clicking on the give

[2020-05-26 13:21] mnicula commented on #895
Will there be an improvement that will allow to search for a test based on this field? Thank you.

[2020-05-26 15:13] edyp commented on #561
@evjlobanova I would like to send bigger log file than 10240 B and it is not possible. I can't find in documentation how big items we can send.
Why is implemented such limitation?

[2020-05-27 09:49] anjanamoorthi opened #983 "Deep Merge without Duplications of TestItems"
Given I have several Identical Launches
When I perform Deep Merge either through API request or ReportPortal GUI
Then It should compare testItems and pick & generate Report based on latest Result
...

Problem
 - Assume that TestSuite is having 5 Testcases
- Launch1 : All 5 Test cases from TestSuite got Executed
- Launch2 : Only 2 test cases from TestSuite got executed(So, These two cases are repea

[2020-05-27 13:56] aalekhneema commented on #97
Print option saves blank page.
![image](https://user-images.githubusercontent.com/57898785/83028906-a9367380-a04f-11ea-8748-38402f063fe5.png)

[2020-05-27 13:59] sobkoNick commented on #93
Hi guys,
I faced quite the same issue.

When I run my tests with a command "mvn clean test .." the duration of the test suite is 1-2 seconds, but when I start my cucumber tests from IntelliJ IDEA the duration of tests and the whole suite is real, and one more thing is that in this case at the beginning I can see on ReportPortal that my suite started and running.

Dependencies used:
`        <depen

[2020-05-27 14:24] code255255 commented on #955
@evjlobanova - please find the versions below
agent-java-testng - 5.0.0-BETA-9
agent-java-cucumber4- 5.0.0-BETA-9
client-java - 5.0.0-BETA-9
logger-java-logback- 5.0.0-BETA-9

Reportportal version - 5.1.0
Cucumber-java - 4.7.1

[2020-05-27 15:45] DzmitryHumianiuk commented on #561
@edyp are you referring to attachment or the log message itself?
AFAIK, default attachment is limited to 128Mbs.

cc @Yumfriez @pbortnik

[2020-05-27 18:34] jsingh-qualitrol commented on #865
@evjlobanova I was able to post issue to Jira successfully once. Instead of bug, Epic was configured in Jira plugin 5.0.1,so i had to change it back to bug. Now i am unable to post issue to JIra. I had verified the credential by login to jira. And trying to connect with Superadmin rights. I had reinstall jira plugin again to confirm but no luck. Can anyone help me with the issue. (edited)
image.pn

[2020-05-27 21:15] krishnakirankambhampatypoq opened #984 "reportportal_db-scripts_1 reportportal/migration:5.2.0 keeps restarting"
I am new to report portal and I am using a Mac book . Though the portal launches , I can't sign in . Noticed that the reportportal_db-scripts_1 reportportal/migration:5.2.0 keeps restarting

Logs:
wait-for-it.sh: waiting 15 seconds for postgres:5432
wait-for-it.sh: postgres:5432 is available after 0 seconds
error: pq: no pg_hba.conf entry for host "x.x.x.x", user "rpuser", database "reportportal",

[2020-05-28 02:06] krishnakirankambhampatypoq commented on #984
Now it says

[code]

[2020-05-28 11:46] diogo-mendes-ifood commented on #705
Any news on that @DzmitryHumianiuk ??

[2020-05-28 13:25] edyp commented on #561
@DzmitryHumianiuk We found a solution, but we are not sure it this is a bug, it isn't perfect and we would like to stick mostly to documentation. So...
according to [documentation](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs)
`curl --header "Content-Type: application/json" \
     --header "Authorization: Bearer 039eda00-b397-4a6b-bab1

[2020-05-28 16:30] DzmitryHumianiuk commented on #97
@evjlobanova looks like regression in v5 ^

[2020-05-28 17:02] DzmitryHumianiuk commented on #705
@diogo-mendes-ifood ui v5.2 already released.

[2020-05-28 17:12] diogo-mendes-ifood commented on #705
Just updated and I'm getting the error:

`2020-05-28 14:10:54.697 ERROR 2131 --- [io-8585-exec-10] c.e.t.r.c.e.rest.RestExceptionHandler    : Handled error:

org.springframework.web.bind.MissingServletRequestParameterException: Required Long[] parameter 'ids' is not present
        at org.springframework.web.method.annotation.RequestParamMethodArgumentResolver.handleMissingValue(RequestParamMethod

[2020-05-29 08:23] krishnakirankambhampatypoq commented on #984
Working fine now on deleting the data folder

[2020-05-29 08:23] #984 closed

[2020-05-29 10:17] DzmitryHumianiuk commented on #93
@sobkoNick what's the RP API version?

[2020-05-29 10:28] DzmitryHumianiuk opened #985 "Issue with sending large logs (content-type issue)"
@DzmitryHumianiuk We found a solution, but we are not sure it this is a bug, it isn't perfect and we would like to stick mostly to documentation. So...
according to [documentation](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs)
[code]

We got problem to send this request with `--header "Content-Type: application/json"` it was sendable o

[2020-05-29 10:29] DzmitryHumianiuk commented on #985
@edyp moved to a separate issue.
will be taken by team in next sprints.

[2020-05-29 19:25] ariel411 opened #986 "Deploy Report Tool on Windows Server [v5]"
**Describe the bug**
I tried to deploy report tool portal into Windows server 2016, but it is not possible
command used:
"docker-compose -f docker-compose.yml -p reportportal up -d --force-recreate"

It shows the following message:
v2.0.5: Pulling from library/traefik
ERROR: no matching manifest for windows/amd64 10.0.14393 in the manifest list entries

**Expected behavior**
Complete to execute "d

[2020-05-29 21:23] winstondz commented on #955
I am looking into the saucelabs integration with nunit agent and report portal as well. For true integration of saucelabs and report portal, we will need this to pass the SLID even after the test is executed. The way I am getting the job id is through the session id of the remote web driver. But this is only possible after the selenium remote web driver is setup on saucelabs. At which point it can

[2020-05-30 09:59] sobkoNick commented on #93
@DzmitryHumianiuk api version: 4.3.11

[2020-06-01 12:51] Vaibhavshukla08 opened #988 "Selenium Grid Execution with Report Portal"
Hi All.
Is there any solution in the report portal for parallel execution.
I integrated, RP with TestNG, and I implemented a grid also but I want multiple launches depends on nodes in grid how I can achieve this.
I want different launches with respective nodes.

[2020-06-01 13:30] DzmitryHumianiuk commented on #988
@Vaibhavshukla08 do you want to have:
1) each separate launch corresponding to particular node?
2) all nodes reported in one launch?

if you are on RP v5, that can be controlled on client level of TestNG
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

in `reportportal.properties`
[code]

[2020-06-01 13:38] Vaibhavshukla08 commented on #988
@DzmitryHumianiuk Thanks for the quick reply.
I am using RP 5.1.
Yes, I want the first point i.e each separate launch corresponding to a particular node.
I saw the above link but I dint get more knowledge on this.
I am using RP listener in TestnG.xml which contains multiple packages of scripts I want one launch for one package which is running on one node and respectively.
Please help with this an

[2020-06-01 13:51] DzmitryHumianiuk commented on #988
@Vaibhavshukla08 if you will put `rp.client.join = false` you will get sessions from nodes as separate launches.

By default RP listeners aggregates results from all packages, executed within one testing session.
Which is reported as one launch.

If you want it to be reported as each package as each separate launch, then you need to update/customize TestNG listener to send `StartLaunchRQ` with in

[2020-06-01 13:57] Vaibhavshukla08 commented on #988
@Vaibhavshukla08  Requirement is like we want launches on RP with specific to nodes so I made multiple packages in a single XML file that will run on different nodes.
Could you please provide more clarity on TestNg adapter and should I used <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" /> this listener or different .?

[2020-06-01 13:59] Vaibhavshukla08 commented on #988
@DzmitryHumianiuk - Requirement is like we want launches on RP with specific to nodes so I made multiple packages in a single XML file that will run on different nodes.

[2020-06-01 15:37] #986 closed

[2020-06-01 20:37] ariel411 opened #989 "Error during execute Report tool Windows Server 2016 [v5]"
Hello, I need help please, I'm trying to install Report Portal into Windows Server 2013
After to execute :
        docker-compose -p reportportal up -d
Display the next, Error:

![image](https://user-images.githubusercontent.com/61328207/83451548-2b92af00-a425-11ea-8f7b-da0e468ff2c7.png)

**Additional context**
Docker tools , have been working as expected,
Is this tool could work on Windows Server

[2020-06-02 09:50] #982 closed

[2020-06-02 10:07] priyankachaturvedi30 opened #990 "Email Notification Rule"
Hi, In email configuration notification rule, is there a possibility to trigger email when we have completed the analysis of the build i.e. there are no open issues left under the category - "To Investigate". (Something in the dropdown that says - "Launch has NO "To Investigate" items". That would in turn help the team to know the completed analysis summary.
![image](https://user-images.githubuser

[2020-06-02 12:54] heilwood opened #991 "Add error text to test summary page."
Hi,

Is it possible to add error message on test summary level. For example if 30 tests failed with same error, we don't see it, we need to check every test by clicking on it, from usability side its not so friendly.

Maybe its possible to add  short error text on this page:

![image](https://user-images.githubusercontent.com/27227165/83522346-36af1300-a4e9-11ea-95b0-95c7244862fe.png)

Thank you!

[2020-06-02 19:47] smore07 commented on #950
I am also facing this same issue with 5.2 version

2020-06-02 17:55:51.147  WARN 6 --- [o-8585-exec-251] o.h.engine.jdbc.spi.SqlExceptionHelper   : SQL Error: 0, SQLState: 08006
api_1            | 2020-06-02 17:55:51.147 ERROR 6 --- [o-8585-exec-251] o.h.engine.jdbc.spi.SqlExceptionHelper   : An I/O error occurred while sending to the backend.
api_1            | 2020-06-02 17:55:51.147 ERROR 6 ---

[2020-06-03 05:44] Vaibhavshukla08 commented on #988
@DzmitryHumianiuk-Please update on this issue.

[2020-06-03 06:17] vishallanke commented on #944
It seems Report Portal is not compatible with ECS yet

[2020-06-03 09:09] pbortnik commented on #971
Hi, have you modified a docker-compose.yml according to the recommendations for Windows systems?

[2020-06-03 09:12] nvborisenko commented on #989
@ariel411 switch docker to use linux containers instead of windows.

[2020-06-03 11:09] priyankachaturvedi30 opened #992 "Migration of Auto-Analyzed data"
I have setup reportportal instance on my local windows environment using docker. I have been using it for sometime for analysis of my tests runs. The auto-analysis feature is also working for me. Now I want to setup a new instance and migrate this data from my local to new instance. Is it possible to do so without loosing the the Auto-analyzer data ? Please suggest.

[2020-06-03 13:49] art-shutter commented on #860
I'm sorry, but this continues to be an issue for me. Migration still fails. Do you have any further ideas that might help?

[2020-06-03 15:35] wwissingTechtonic opened #993 "Segmentation fault"
when trying to run a complex BDD test, I get a segmentation fault and the launch duration goes for about 1 day and less than an hr and finally ends. I found the option to force the launch to stop. but wondering why I keep getting seg faults. Trying to use the opensource on a private server instance... what would be the recommended instance size for complex tests to run without seg faults?

[2020-06-03 17:05] #856 closed

[2020-06-03 18:21] DzmitryHumianiuk commented on #993
@wwissingTechtonic
a launch that remains incomplete means that you test execution session didn't send FinishRQ.

- in v4.x it also can be that FinishRQ sent before suites/tests were completed
- in v5.x only if process was interrupted on test side.

(BTW, what's your version?)

For a local installation we recommend to allocated at least 5GB of RAM for your docker process. It may be limited by defau

[2020-06-03 18:29] DzmitryHumianiuk commented on #992
@priyankachaturvedi30
in order to move ReportPortal data and Auto-Analyzer data into new instance, you should make 2 steps:

1. Backup PostgreSQL DB data. [Manual](https://www.postgresql.org/docs/12/backup.html)
2. Restore DB within new instance. Open Project Settings -> Auto-Analyzer -> Re-generate Index

API will recreate indexed model, based on information from you database.

[2020-06-03 18:29] #992 closed

[2020-06-03 18:32] DzmitryHumianiuk commented on #991
@heilwood here is the code example
https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/extension/ParametersAsAttributesTest.java#L76

the idea is to override default FinishTest method, and populate description with error log.

[2020-06-03 18:32] #991 closed

[2020-06-03 18:35] DzmitryHumianiuk commented on #990
@priyankachaturvedi30 that is planned to be extended with new rule-based notifications, which can also post data to IMs, etc.

This condition can be taken as option.

[2020-06-03 18:37] DzmitryHumianiuk commented on #989
@ariel411 Docker still have not full support on Windows.
Thus we don't test it on windows,
thus we don't recommend to run it on windows.

Please deploy it on linux eviroment.

[2020-06-03 18:37] #989 closed

[2020-06-03 18:39] DzmitryHumianiuk commented on #983
@anjanamoorthi we have it in plans.

[2020-06-03 21:44] wwissingTechtonic commented on #993
OK we are upping the instance to 8GB's and hopefully that will solve the seg faults... I am running version `"mocha-rp-reporter": "^1.0.12",`

[2020-06-04 00:50] daveedwards123 commented on #935
Is there any update on this?

I am having the same problem:
ReportPortal: 5.2
Plugin-bts-Jira: 5.1

[2020-06-04 01:06] anjanamoorthi opened #994 "[v5] v5 mandates LaunchUuid for item extractions through GET request"
Prior to v5,  Simple GET API request been used to extract all testItems inside a particular Launch with just LaunchId. But From v5, LaunchUUid is mandatory parameter to be used to extract testItems.
This requires modifications as many wont store LaunchUuid(If there are more than 1000 Launches) during Launch creation.

Scenario
Before V5 :
- Generate multiple Launches using POST API
- To obtain det

[2020-06-04 03:53] sisihi opened #995 "[v5] Timezone unsycned between "LAUNCHES" and "DASHBOARD""
Hi, I am using the RP 5.2.0 with MACOS docker config "TZ=Asia/Hong_Kong" in the API container. I found the time displayed in "LAUNCHES" (desired HKT):
![image](https://user-images.githubusercontent.com/16377386/83712243-ddb1bd00-a657-11ea-8974-cc9d867368b3.png)

is different from the "DASHBOARD" (default UCT):
![image](https://user-images.githubusercontent.com/16377386/83712340-210c2b80-a658-11ea-

[2020-06-04 06:50] vaibhavshukl12 opened #996 "Jira Cloud Integration with Report Portal"
Hi Team,
I am trying to configure the Jira with RP its saying connection refused.
I am trying with this Jira URL - https://xyzltd.atlassian.net

but when I am giving bts URL- https://jira.xyz.com/    -this is working fine.

Is there any issue with Atlassian URL.
Please update on this issue

[2020-06-04 09:11] pbortnik opened #997 "[v5] - History doesn't compatible after data migration from v4 to v5"
After full data migration history doesn't compatible between v5 and v4 runs.

[2020-06-04 10:36] evjlobanova commented on #996
@Vaibhavshukla08 but which actual URL has your Jira?

[2020-06-04 10:37] Vaibhavshukla08 commented on #996
Hi @evjlobanova Thanks for reply.
This is my Jira link which I need to configure - https://xyzltd.atlassian.net

[2020-06-04 11:46] Vaibhavshukla08 commented on #996
@evjlobanova is there any issue with Http and https in Jira with Rp Integration.
Please let me know

[2020-06-04 12:03] priyankachaturvedi30 commented on #990
Great Thanks ! Also, Currently the email can be triggered for only the main launch dashboards stats.
![image](https://user-images.githubusercontent.com/50797731/83754095-07370c80-a689-11ea-92a1-dcda04fb9204.png)
What if somebody wants to gets details of stats on second level - eg: the stats that opens up after clicking on a particular launch name -- Test Case Level like in below case:
![image](htt

[2020-06-04 14:21] pbortnik commented on #997
1. Take the ReportPortal release version 5.2.2 or higher. [docker-compose.yml](https://github.com/reportportal/reportportal/blob/5.2.2/docker-compose.yml)

2. Add an environment variable to the service-api service:
      - RP_ENVIRONMENT_VARIABLE_HISTORY_OLD=true

3. Redeploy ReportPortal

4. If the issue still exists, run the next [docker image](https://hub.docker.com/repository/docker/reportport

[2020-06-04 18:08] duzztie commented on #920
Needed to run container db-scripts:5.1.0 on pgsql db after changing reportportal containers tags from 5.0.0 to 5.1.0.

[2020-06-04 18:08] #920 closed

[2020-06-05 09:17] Vaibhavshukla08 commented on #935
@evjlobanova I am also facing the issue is there any update on this?

[2020-06-05 10:19] willyhalim opened #998 "[v5] - IncompatibleClassChangeError error in the logs and UI at random time"
Had this issue when using report portal V5 daily ( at random time ) . **After restart it looks fine.**

Was wondering what could be causing this issue ? Could it some jobs run at ReportPortal at specifc time that could cause this issue ?

We are using JDK 1.8 to run service-api and service-uat.

[code]

[code]

[2020-06-05 11:00] romerobu opened #999 "Integration with Redmine Tracking system"
**Describe the solution you'd like**
...
I think it should be great to allow RP integrate with Redmine by using the Redmine API https://www.redmine.org/projects/redmine/wiki/Rest_API

It would be the same as using Jira, when you detect a bug, you mark the issue, introduce your credentials and make a POST request to create the issue in Redmine.

**Is your feature request related to a problem? Pleas

[2020-06-05 13:20] priyankachaturvedi30 opened #1000 "In reference to data migration #992"
@DzmitryHumianiuk , I followed the steps provided in https://github.com/reportportal/reportportal/issues/992

1. Backed-Up PostgreSQL DB data. -- Using docker exec -t your-db-container pg_dumpall -c -U postgres > dump_`date +%d-%m-%Y"_"%H_%M_%S`.sql

2. Restoring db with new instance -- Using cat your_dump.sql | docker exec -i your-db-container psql -U postgres -d your-db-name

But I see multiple

[2020-06-07 10:50] Sunil04925 commented on #996
Hi @evjlobanova Hope you are doing well !!
Similar kind of issue, i have also faced while trying to integrate :- https://xyzltd.atlassian.net JIRA into Report portal.
Kindly update on this also it would be great if you could suggest any other way to integrate the atlassian JIRA into RP. Thanks

[2020-06-07 12:48] pbortnik commented on #1000
Your database is not clear. You need to restore backup to absolutely clear and fresh db.

[2020-06-08 04:57] priyankachaturvedi30 commented on #1000
@pbortnik : How do I check that the new instance of db is fresh. I just hosted the new instance of reportportal on Server B using : docker-compose -p reportportal up -d --force-recreate
I am assuming doing that should not create any data for postgres

[2020-06-08 09:03] pbortnik commented on #860
As i can see above, the command
`db.getCollection('project').find({"configuration.analyzerConfig" : {$exists : false}})`
returns some results.
For successful migration it must not.

Check out the "dbchangelog" collection in mongo. It must contain 18 documents.

1. Execute `db.getCollection('dbchangelog').find({"changeId" : "v4.2-Introduce default analyzer parameters for each project"})`. Does it r

[2020-06-08 12:55] digaetan opened #1002 "Modify the calls the integration use to mitigate the issues caused by the createmeta REST endpoint:"
Createmeta REST endpoint is commonly used when Atlassian products are integrated to create issues in Jira 3rd party apps.
However calling  /jira/rest/api/2/issue/createmeta has been reported to cause issues especially on larger instances. These have involved the size of the response or Jira running out of memory.

REFERENCE:
https://confluence.atlassian.com/jiracore/createmeta-rest-endpoint-to-be-

[2020-06-08 12:57] evjlobanova commented on #1003
Will be added in scope of Jira refactoring

[2020-06-08 16:24] e-olga commented on #995
Hi @sisihi,
Thank you for your finding.
There is a bug: the end time for the Launches table widget returned as a sting value, so the user timezone is not applied for the end time. And vice versa, the start time is returned as timestamp, so the timezone is applied correctly.
The issue is submitted to RP backlog

Best Regards,
Olga

[2020-06-09 04:44] nsmaniqa opened #1004 "Unable to Post bug to Rally from RP[v5.2.2]"
**Describe the bug**
I'm unable to post a defect in Report Portal. whereas I'm able to link defect from rally

**To Reproduce**
I have added Rally plugin
I had done all the required configurations:(link o BTS, ProjectID IN bts, accessKey)- connection connected .

**Expected behavior**
It should display configured project in the project drop down box and it should allow to create defect from report

[2020-06-09 05:55] priyankachaturvedi30 commented on #1000
It worked. Thanks @pbortnik

[2020-06-09 05:55] #1000 closed

[2020-06-09 08:06] sethijatin commented on #955
@evjlobanova: Thanks for reverting to this issue.

Please see the agent details and my observation stated below:

**Agent Details**

[code]

**General Observation**

- I don't think the agent is at fault here.
- The problem arises because we have to use annotations to provide the test attributes.
- Annotations work perfect with constant attributes i.e. values we know before hand.
- The SLID on the

[2020-06-09 08:12] evjlobanova commented on #955
@Yumfriez could you please describe how Sauce labs attributes for TestNG have been  implemented

[2020-06-09 10:06] pbortnik commented on #971
@ishannavgire

[2020-06-09 11:37] priyankachaturvedi30 opened #1005 "Analyzer: Add a boost for items with the latest Defect Type"
I have a use case wherein I have executed 3 builds. There was 1 failure with the same stacktrace(log) in each of the 3 builds.
For the first build, I marked it as and Product Bug. When the Second build executed it got Auto-analyzed as Product Bug, but then I realized it is no longer a Product Bug but an Automation Bug instead. So I manually updated it to the category of Automation Bug. Now the sam

[2020-06-09 12:35] priyankachaturvedi30 opened #1006 "Issue with ImportData"
**Describe the bug**
At times it is been observed that the data is not imported successfully. Screenshot for such a case when I try to navigate into a particular scenario
![image](https://user-images.githubusercontent.com/50797731/84147649-61fea880-aa7b-11ea-8ab6-dd305dec39a4.png)

**To Reproduce**
Attached log file where there are 3 failure; out of which log data is not properly imported for 1 fa

[2020-06-09 12:59] evjlobanova commented on #1005
@priyankachaturvedi30 please answer on several questions:
1. Version of ReportPortal
2. Could you please click on History of Actions tab, click on the link to item that has been used for autoanalysis, and  send me a screenshot of this item

[2020-06-09 13:01] evjlobanova commented on #1006
@priyankachaturvedi30 Does your file ner requirements for imported fileshttps://reportportal.io/docs/Import-data-to ?

[2020-06-09 13:11] evjlobanova commented on #1004
*Question 1:*
We just receive information from Rally, so that no, you can not

Question 2:
I did not get you question, what do you mean? Please elaborate

We need logs of API services

[2020-06-09 13:18] evjlobanova commented on #994
@Yumfriez @pbortnik Could you please elaborate on that?

[2020-06-09 13:33] priyankachaturvedi30 commented on #1005
@evjlobanova :
Please find the details below.

ReportPortal Version -
![image](https://user-images.githubusercontent.com/50797731/84152858-d12bcb00-aa82-11ea-8dd3-24a2919f2e9c.png)

History of Items tab screenshot --
![image](https://user-images.githubusercontent.com/50797731/84153572-b1e16d80-aa83-11ea-8626-5ad9d00e8f35.png)

Please let me know if you need more details.  From what I thought, Manu

[2020-06-09 13:35] priyankachaturvedi30 commented on #1006
Yes @evjlobanova : Its surprising as log data for 2 cases got imported from the same file and 1 did not. While the structure and format is exactly as expected.

[2020-06-09 13:54] evjlobanova commented on #1005
So as I see on the screenshot, item from the Launch # 3 takes his defect type from the item from Launch # 1.
Because they have the same log.
Should  item in Launch # 1 have defect type Product Bug?

[2020-06-09 13:59] evjlobanova commented on #1006
As far as our tool posses real-time analytics, an import feature has very limited capabilities.
Could you please tell me your use case. Why do you decide to use Import? Do you use import instead of reporting or do you try to use both options?

[2020-06-09 14:07] priyankachaturvedi30 commented on #1006
I use both @evjlobanova . This was one of the little use case for which I wanted to validate few logs so therefore I used the import feature for quick analysis. This usecase comprises of few testcases and not much of a framework..so I preferred taking a Junit import of logs directly through the import feature. it worked for most of the cases expect for some where the logs are not imported properly

[2020-06-09 14:11] priyankachaturvedi30 commented on #1005
Yes, infact the same log is present for Launch # 2.
![image](https://user-images.githubusercontent.com/50797731/84158159-2e2a7f80-aa89-11ea-97e1-3832d6a7bdf0.png)

My question here is if I updated some item manually to a different defect type, should it not be given precedence in next runs if the logs are the same.

[2020-06-09 14:26] evjlobanova commented on #1005
In this exact situation, in ES there 2 equal logs with different Defect types. So that for Analyzer it is a tricky question. But in the future run, f.e. if you will have 3 equal logs: 1 PB, 2 AB - analyzer will choose AB.

[2020-06-09 15:11] e-olga commented on #957
hello @Rathna-Prashanth
As I see, not all the services are up.
At the bottom of the page you can see 'Current version' with services. There are four mandatory services should be available: Index service, UI service, API service, Authorization service.
As far as API and Authorization are not running, there is no possibility to login Report Portal.
Please check logs/state of not available services i

[2020-06-09 15:23] blue995 opened #1007 "[v5] Users with role "Operator" do not have enough permissions to view test item details."
**Describe the bug**
In version 5.2.2 users with the permission "Operator" can't view test item details.
The reason for this is that the user does not have enough permissions to access the **"history" endoint** (see Screenshot section).

**To Reproduce**
1. Deploy a fresh 5.2.2 instance
2. Login as superadmin
3. Create a project named "test"
4. Add the default user to the "test" project
5. Change

[2020-06-09 19:10] evjlobanova commented on #1005
Does it help? Can I close the issue?

[2020-06-10 02:16] nsmaniqa commented on #1004
I am not able to post any defect  to rally from report portal .
Question1.
How to get project id from rally that appear in the "create Manual integration window"?

![image](https://user-images.githubusercontent.com/24572238/84219368-596b9980-aa9e-11ea-8623-c141e28d3826.png)
[](url)
I got it from below url - please confirm me whether that is correct or not.
"https://rally1.rallydev.com/slm/ebservic

[2020-06-10 05:34] Vaibhavshukla08 commented on #996
@DzmitryHumianiuk @evjlobanova Hope you are doing well !!
Kindly update on this issue.
Thanks

[2020-06-10 06:07] evjlobanova commented on #1007
@blue995 Hello, this is a known bug, we are planning to fix it in the few next sprints. But as far as Operator role has been using very rarely, the bug has not so major priority.

Could you please share your use case, how do you use this tole on your project?

[2020-06-10 06:19] evjlobanova commented on #1004
1.  ProjectID is a <project key in bug tracking system>
Example of URL https://rally1.rallydev.com

[2020-06-10 06:27] priyankachaturvedi30 commented on #1005
yes @evjlobanova. This is helpful. So what I infer is that it takes the most accurately matching log in account while auto-analysing and if there happens to be more than 1 match (say 1 PB ; 1 AB) then it takes the number of occurrence(count as defined in last comment) as well to boost up the percentage value. And then categorize it in the highest percentage value defect type.

[2020-06-10 06:52] evjlobanova commented on #1005
@MariyaIvanina Masha could you please help me with the better explanation?

[2020-06-10 08:37] evjlobanova commented on #1006
Got it

[2020-06-10 08:45] DzmitryHumianiuk commented on #996
@Vaibhavshukla08 cloud version of Jira works with OAuth2 authorization token only.
we have this implementation planned in our roadmap, but currently shifted do to paid customizations.
Thus can't share any ETA at the moment.

[2020-06-10 08:46] evjlobanova commented on #998
@pbortnik @Yumfriez Could you please take a look on this issue?

[2020-06-10 08:55] winstondz opened #1008 "Multiple SauceLabs Videos"
Is there a way we can embed multiple saucelabs videos in a single test using more than one SLID values? For example, I need to run a larger test case, as part of which I launch a new browser for different flows in a single end to end test case. So it would be good to get all videos in the same test? Is there a way we can do this?

[2020-06-10 08:57] MariyaIvanina commented on #1005
@priyankachaturvedi30 Yes, you are right, we taking most similar log and calculate per group statistics. We are also trying to break the tie if we have the same probability we are choosing the one with most recent date, if dates are the same, then it is just random. I see in your case test item dates are just the same "2020-06-09 00:16:17", that's why it was just random allocation of PB, if you ha