[2019-09-25 06:50] EitanBe commented on #508
Same issue again. new deploy on mac using docker.
![Screen Shot 2019-09-25 at 9 48 55](https://user-images.githubusercontent.com/20422205/65575993-c1fb0080-df79-11e9-8bc1-4d584d83c6c8.png)

[2019-09-26 03:33] videoguy commented on #484
I see same issue with reportportal that I setup couple of days back. During config, it fails with "Impossible interact with external system" error. Our JIRA uses NTLM authentication I believe.
Wondering how to work around this...

[2019-09-26 08:54] jonacarvalheiro opened #719 "[v5bug] TestNG | Retry Analyser brings inconsistency on the terminating launches on RP"
**Describe the bug**
If I had a retry analyser to an AnnotationTransformer, the launches start to be inconsistent regarding the terminating launch.
I use v4 in k8  and works perfectly

**To Reproduce**
Retry.class
` @Override
    public boolean retry(ITestResult iTestResult) {
        if (iTestResult.getStatus() == ITestResult.FAILURE) {                      //Check if test not succeed

[2019-09-26 14:54] Nkperiwal opened #720 "Add a feature of providing option to merge n-retry runs into one final launch with showing last retry results in main dashboard"
**Describe the solution you'd like**
Currently, we are having the option to merge with Linear and Deep processes. But these two will not give option of showing which final result should be displayed in ReportPortal Dashboard. It combines the Total, Passed and Failed Counts values and give results in Dashboard.

I want to have an option where I can merge n retry launches into one like Linear Merge

[2019-09-26 16:46] HardNorth commented on #719
Well I was able to reproduce the case by setting `<suite name="Retry launch crush test" parallel="true" thread-count="5">` or `<suite name="API QA Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue" >`. The essential thing here is running multi-thread execution using **sync (v1)** API.
Then we can get such a nasty error:
[code]
Well, since v1 endpoint is not de

[2019-09-27 12:39] DzmitryHumianiuk commented on #720
@Nkperiwal we call it #363
It all will allow run one launch into another with overlay of results via test case retries.

New strategy for merge is also a good idea

[2019-09-30 15:45] balachandra2005 opened #721 "UFT integration"
Do we have UFT integration with ReportPortal?
If not available now,  please guide how to implement.

_Note: UFT (Unified Functional Testing tool from Micro focus)_

[2019-10-01 15:44] Nkperiwal commented on #720
Sure @DzmitryHumianiuk, I will try the above solution you provided and update here. Thanks

[2019-10-01 15:58] Nkperiwal commented on #527
I am also going through the same issue. It seems it would be better to have multiple conditions filters in the next release. Thanks.

[2019-10-01 16:59] Nkperiwal commented on #615
@DzmitryHumianiuk Could you please take a look and help here.

[2019-10-01 17:27] DzmitryHumianiuk commented on #615
@Nkperiwal there is no one-fit-all solution for it.
If your company looking forward to adapt RP in production, we can support you via direct implementation.
Drop us email at support@reportportal.io

[2019-10-02 13:59] HardNorth commented on #719
@jonacarvalheiro this bug should be addressed in the next Beta release.

[2019-10-02 14:03] arunkumar-muthusamy commented on #709
@Yumfriez , Did we have any ETA for the next beta release which will fix this issue? Thanks!

[2019-10-02 14:33] abotalov commented on #150
@e-olga Spaces are not preserved when I look at the table if they are present in raw HTML.
![Screenshot from 2019-10-02 17-26-28](https://user-images.githubusercontent.com/1497867/66052916-0f5b0d00-e53a-11e9-8ebf-31ce0a93cb67.png)
![Screenshot from 2019-10-02 17-26-35](https://user-images.githubusercontent.com/1497867/66052918-0ff3a380-e53a-11e9-9578-d646163f4a47.png)

It looks as expected if I ad

[2019-10-02 15:40] DzmitryHumianiuk commented on #709
@arunkumar-muthusamy already released
available at https://beta.demo.reportportal.io

[2019-10-02 16:37] arunkumar-muthusamy commented on #709
After upgrading, I'm not able to login to the portal. I used default credentials **superadmin\erebus**. This is blocking me to test the actual issue!

![image](https://user-images.githubusercontent.com/47788194/66062859-33a1f400-e510-11e9-82ea-45739eae2a31.png)

Note:

Token Call is successful:
![image](https://user-images.githubusercontent.com/47788194/66063436-58e33200-e511-11e9-832c-9bed5d9f723

[2019-10-02 17:13] DzmitryHumianiuk commented on #709
@arunkumar-muthusamy
clean database completely. it has changes.

and
[code]

make a quick try at beta instance, login with github https://beta.demo.reportportal.io

[2019-10-02 17:19] ChitraLekhaBHeemana commented on #716
Looking something like Robotfrmaework robometrics , to monitor the execution time bottlenecks.

[2019-10-02 17:58] arunkumar-muthusamy commented on #709
@DzmitryHumianiuk , i see the original issue is fixed. I'm able to see all child entities as expected. I tested through https://beta.demo.reportportal.io

On my setup, i still see the same error. i will change to the version you mention and try it out. BTW, i did clean reinstall (deleted all old data)..

![image](https://user-images.githubusercontent.com/47788194/66068991-8a152f80-e51c-11e9-80ca-0

[2019-10-02 18:13] AmsterGet commented on #150
Fixed in [this](https://github.com/reportportal/service-ui/pull/2085) PR in the scope of RP version `5.0 Final`.

[2019-10-02 18:37] DzmitryHumianiuk commented on #709
@arunkumar-muthusamy are you in our slack?
find me (ghdmitry) and `Ivan Budaev` for help with deploy.

assume issue fixed, for initial request

[2019-10-02 18:37] #709 closed

[2019-10-02 18:56] arunkumar-muthusamy commented on #709
Sure, thanks @DzmitryHumianiuk !!

[2019-10-04 08:04] rajkumar-cp commented on #393
+1 We were also facing the same type of issue.

pom Libraray:-
			<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>client-java</artifactId>
			<version>4.0.8</version>
		</dependency>
	   <dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-testng</artifactId>
			<version>4.2.0</version>
		</dependency>
			<dependency>
			<groupId>com.epam.repor

[2019-10-04 14:38] thrix commented on #290
+1 comparison between launches would be awesome

[2019-10-07 20:56] DuskoV opened #722 "Trace lines not parsed during manual import of JUnit tests"
**Describe the bug**
I use the endpoint: "/api/v1/athena/launch/import"
My logs are in JUnit XML report, and logs are in system-out, and written by Log4J with format:

[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n

After import, trace is not showing each log line separately. Seems like system cannot parse logs properly

CURL command:

curl -X POST --header 'Content-Type: multipart/form-data' --header 'Accept

[2019-10-07 21:05] DuskoV commented on #722
I discovered if I have multiple <system-out> tags (each one for each line), then import is working as expected. I can manually adjust this in xml file (with the script), but it seems this is not working according to JUnit spec then.

[2019-10-08 13:59] olegbaslak opened #723 "Move collapse log record button to the top of the record"
Is it possible to move log record collapse button to the top?

If long record is expanded, then it's needed to scroll to its bottom to collapse it back, if record is really long (eg. json), it becomes unhandy.

![image](https://user-images.githubusercontent.com/1713494/66402150-07451680-e9ed-11e9-8e29-7067a0d9c422.png)

[2019-10-08 18:17] DuskoV commented on #432
This still seems unanswered

[2019-10-09 13:59] Witos commented on #472
+1

[2019-10-09 17:07] nami-varthakavi commented on #626
Hi, in which version in V4 this fix will be available?

[2019-10-10 05:00] rajkumar-cp opened #724 "Not able to investigate failed cases in Report Portal"
![1](https://user-images.githubusercontent.com/39653778/66540491-a1ba6c80-eb49-11e9-91d3-0bfde864ae32.PNG)
![2](https://user-images.githubusercontent.com/39653778/66540492-a2530300-eb49-11e9-9fe8-8680e613f005.PNG)

When the run was successfully completed in RP UI it shows 17 cases needs to be investigated. On clicking that 17 it displays an empty page showing No results
...

Expected behavior:
Fai

[2019-10-10 08:16] Witos commented on #290
+1

[2019-10-10 08:17] Witos commented on #472
It's duplicate of #290 I think.

[2019-10-10 20:49] SamSSV commented on #541
Hi everyone.
Dzmitry Humianiuk, I have following issues
registry_1       |     2019/10/10 20:45:44 [ERR] http: Request GET /v1/catalog/services?wait=50s&index=0, error: No cluster leader from=172.18.0.10:48268
registry_1       |     2019/10/10 20:45:44 [ERR] http: Request GET /v1/catalog/services?wait=15000ms, error: No cluster leader from=172.18.0.3:44472
registry_1       |     2019/10/10 20:45:4

[2019-10-11 16:56] DzmitryHumianiuk commented on #541
@SamSSV stop all.
delete `data/consul`
restart

[2019-10-11 20:22] ChitraLekhaBHeemana commented on #716
Worked ! Wrote Function similar to 'call_stored_procedure' by calling cursor.callfunc .

[2019-10-11 21:42] DzmitryHumianiuk commented on #428
@CaBocuk we found the issue roots.
It was related to Apache http client specifics.
Time to live for connection pool was just a bit longer then connection ttl on server.
 Fixed in latest v5 beta

@CaBocuk could you please double check at beta instance?

[2019-10-12 07:04] Ashraf-Ali-aa opened #726 "[Filter] Implement a possibility to query data based on RPQL"
**Describe the solution you'd like**
Hi is it possible to query report portal similar to JQL for Jira via the UI, the reason this would be useful is you can create custom dashboard from virtually any information stored on report portal and it makes it very flexible for teams to tailor the information however they like.

[2019-10-13 16:02] DzmitryHumianiuk commented on #726
https://github.com/reportportal/reportportal/issues/610#issuecomment-533072426

[2019-10-15 13:33] DzmitryHumianiuk commented on #426
affected by https://github.com/reportportal/reportportal/issues/426

[2019-10-15 13:34] DzmitryHumianiuk commented on #426
@OstapJ looks like we should wait for new TestNG release

[2019-10-15 14:21] Yumfriez commented on #426
@OstapJ Could this issue be reproduced with **http** client configuration?

[2019-10-16 12:37] heilwood opened #727 "How to change launch name on the fly in reportportal.config.json"
Hi,

Is it possible to change launch name on the fly in reportportal.config.json? We have multiple environments  and we would like to have for each separate environment unique launch name, for example: "UI Tests STEST", "UI Tests ATest". As we have only one project with one reportportal.config.json but we are running this project on multiple environments, how to override launch name before launch

[2019-10-16 13:09] DzmitryHumianiuk commented on #727
in Java we allow to overload params via command line. Like `java jar -Drp.launch=zzz`
and this param will replace the name of launch from config file.

most likely something similar available in VSTest.
@nvborisenko to comment

[2019-10-16 13:31] nvborisenko commented on #727
It is possible to do it via [command line parameters](https://github.com/reportportal/agent-net-vstest#parameters-overriding) or via [environment variables](https://github.com/reportportal/agent-net-vstest#environment-variables)

[2019-10-16 13:37] #727 closed

[2019-10-18 14:08] arunkumar-muthusamy commented on #614
@evjlobanova ,

Since we have v5 RC, can you pls help me on how to configure the analyzer to match more strictly.

Also i tried the pattern analysis. How do we map a particular defect type to a pattern. Say for Eg.

Say if my pattern XXX matched, then classify that failure as "So & So Bug Type"..

Appreciate your help!

[2019-10-22 09:39] summergan commented on #500
me too.Whether to solve？

[2019-10-22 10:04] DzmitryHumianiuk commented on #500
@summergan @mamtag guys, did you try links from https://github.com/reportportal/reportportal/issues/500#issuecomment-430941820?

there is official elastic documentation, regarding this issue

[2019-10-22 10:57] maartenjanvangool opened #728 "Analyzing does not work; "request body is required""
**Describe the bug**
Analyzer is running; elasticsearch is running. No exceptions in the log.

When I reset the index I get an e-mail that the index is reset, but nothing seems to be happening. When I analyze a launch manually, and I check blow marks, I get exceptions in the api and in the analyzer component. Manually analyzed tests are consequently reset to 'to be analyzed'.

![image](https://use

[2019-10-22 11:44] DzmitryHumianiuk commented on #728
@maartenjanvangool do you face similar issue with version 5?

[2019-10-22 11:48] maartenjanvangool commented on #728
Haven't run the analyzer yet with v5, I could try that... I'm not sure how stable v5 is at the moment?

[2019-10-22 12:21] DzmitryHumianiuk commented on #728
@maartenjanvangool it's in golden release candidate state

[2019-10-23 08:26] vgri opened #729 "Incorrect last login date and time for LDAP users"
**Describe the bug**
Looking at the Project Members screen, Last login is showing the first login of the user instead of the latest connection of the user when connected through LDAP.

**Expected behavior**
Show real last login date and time.

**Screenshots**
If applicable

**Versions:**
 - OS, Browser: Fedora 30, Chrome
 - Version of RP [find it under Login form, copy as is]  Current version: API

[2019-10-23 08:57] evjlobanova commented on #729
#365

[2019-10-23 09:00] evjlobanova commented on #365
https://github.com/reportportal/service-authorization/pull/94

[2019-10-23 09:01] evjlobanova commented on #365
Fixed and verified.
Will be available in the final version 5.0

[2019-10-23 09:01] evjlobanova commented on #729
https://github.com/reportportal/service-authorization/pull/94

[2019-10-23 09:01] evjlobanova commented on #729
Fixed and verified.
Will be available in the final 5.0 version

[2019-10-23 09:02] #729 closed

[2019-10-23 09:02] #365 closed

[2019-10-23 09:26] summergan opened #730 "launch don't finish"
**Describe the bug**
When the test execution is complete, launch don't finish, a suite is running and that not logs
 **To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/38934767/67378187-760f9b80-f5b9-11e9-84be-a9364cf20f4d.png)
![image](https://user-images.githubusercontent.com/

[2019-10-23 09:27] #698 closed

[2019-10-23 09:31] evjlobanova commented on #730
@summergan You have added label v5beta, but add info about version 4.3.0.
Do you have problems on both envs?

[2019-10-23 09:33] andrewsereda commented on #723
@olegbaslak what if the line you need - in the end of the log, you scroll to the bottom, find the line and there's a collapse button to collapse it back, and what it will be looks like if the collapse button be at the top, scroll back to the top to collapse it?

people often opens the long list to find something they didn't find in a collapsed version and scroll down.
so, for now this's the best o

[2019-10-23 09:34] evjlobanova commented on #687
@ryparker Do you try new version of docker -compose?

[2019-10-23 09:35] HardNorth commented on #730
@summergan Please provide more context. Do you have any errors in logs? Which agent version do you use? Do you run your tests in parallel or in single-thread?

[2019-10-23 09:47] ihar-kahadouski commented on #713
https://github.com/reportportal/service-authorization/pull/119

[2019-10-23 09:48] ihar-kahadouski commented on #713
Will be fixed in final version 5.0

[2019-10-23 09:48] #713 closed

[2019-10-23 17:07] sspieker-cc opened #731 "JMeter Test Plan integration"
JMeter is a tool that is heavily used for Load Testing and API testing operations.  This is a tool that is heavily relied upon in many companies and institutions.  Having a pre-built or at least a guide as to how reportportal.io can be integrated with JMeter as a part of a logging solution or an official agent would be absolutely wonderful to have access to.

Implementation could be as simple as a

[2019-10-23 17:25] sspieker-cc commented on #244
I have just entered another feature request for this type of integration.  Any information being supplied to RP will be better than no data at all.

The load test type of test plan is a form of gathering metrics.  There is also other uses for JMeter such as API testing and combined behaviors that may be executing HTTP requests for gathering data.

It seems that the current limitation with using JM

[2019-10-23 20:21] naddison opened #732 "AD with multiple domains"
Let me start by explaining our AD entries. Our User DN pattern is ` CN={0},OU=User Accounts - People,DC=company,DC=,DC=com,`, I sanitized the company name.

My record for example is `CN=Harris, Nikolas,OU=User Accounts - People,DC=company,DC=,DC=com`. As far as I understand the username I enter in the login screen will be substituted in the User DN pattern. The login screen does not allow entering

[2019-10-24 08:46] evjlobanova commented on #732
@naddison which version do use?

[2019-10-24 11:26] rupeshkumarram opened #733 "Not able to send PUT request with failed status"
**Describe the bug**
I am using integrating my test framework with report-portal.
Json payload provided on page "Extended scheme of integration ReportPortal with the test framework" is used

Request Body
[code]
When i change status from PASSED to fail FAILED or SKIPPED i get below error message
[code]
**Expected behavior**
ReportPortal should allow FAILED status

**Screenshots**
If applicable
![im

[2019-10-24 11:40] evjlobanova commented on #733
@rupeshkumarram Which version do you use?

[2019-10-24 11:43] rupeshkumarram opened #734 "Correct time is not showing in start section of reportPortal"
**Describe the bug**
I wrote below date method to push start date in reportPortal by json payload given on "Extended scheme of integration ReportPortal with the test framework" but the time is not showing correctly on reportPortal
[code]
Am i using correct date format? However, if i above method to push test result through Rest request the there is difference of 5:30 hours

**Expected behavior**
C

[2019-10-24 12:31] DzmitryHumianiuk commented on #244
integrations with JMeter Perf thru
https://github.com/carrier-io/carrier-io/wiki/Performance-Testing.-PerfMeter-%28jMeter%29

[2019-10-24 12:31] DzmitryHumianiuk commented on #731
@sspieker-cc
integration with JMeter thru
https://github.com/carrier-io/carrier-io/wiki/Performance-Testing.-PerfMeter-%28jMeter%29

[2019-10-24 12:48] DzmitryHumianiuk commented on #734
@Yumfriez @HardNorth please assist

[2019-10-24 12:59] DzmitryHumianiuk commented on #733
@rupeshkumarram read the error message to the very end.

you send ` "issue_type":"string"`
but it should be one of `[AB001, TI001, ND001, SI001, PB001]`

the reason it asks for issue type, is a logical constraint: Failed item should have either correct issue type, or don't have it.

remove this line with ` "issue_type"`
or add the right state from `[AB001, TI001, ND001, SI001, PB001]`

[2019-10-24 12:59] #733 closed

[2019-10-24 16:05] naddison commented on #732
v4, but wouldn't mind knowing if the AD and LDAP integration is different in V5.

[2019-10-25 07:20] maartenjanvangool commented on #728
Ok we fixed it. Our custom listener had a bug that prevented it from reporting logging to report portal. The missing logging causes this exception in the log. I still do think this should be fixed, but I don't know whether or not this is an issue on v5...

[2019-10-25 08:32] DzmitryHumianiuk commented on #728
We will double check it in v5.
Closing issue for now.

[2019-10-25 08:32] #728 closed

[2019-10-25 12:11] ekisielinski opened #735 "Invalid passed (or failed) test count for launch"
I think I have similar issue to: #724

We use Bamboo + RP NUnit plugin to run tests.
Bamboo shows different total test count than ReportPortal shows:

![reportportal](https://user-images.githubusercontent.com/22278763/67570167-08867b00-f731-11e9-8c2a-32685410a9b2.png)

Launch says there was 20 tests passed, but when I click it - it shows only 6.
Bamboo shows less tests executed (correct number) an

[2019-10-27 14:18] itzikb-redhat opened #736 "Failed cases trend chart widget shows only part of the launch when hovering with the mouse"
**Describe the bug**
Failed cases trend chart widget shows only part of the launch when hovering with the mouse.
**Expected behavior**
Show the full name of the launch

**Versions:**
- Linux,Firefox
- Current version: API Service: 4.2.1; Index Service: 4.2.0; Jira Service: 4.2.0; Rally Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.2.2;

[2019-10-27 15:35] itzikb-redhat commented on #736
Also When using the widget - at the bottom there are the launches numbers which are meaningless - It's better to have dates.

![failed_tests](https://user-images.githubusercontent.com/13085881/67637148-32ca6b00-f8e0-11e9-9758-aaa76d040c9d.png)

[2019-10-28 10:28] evjlobanova commented on #736
![image](https://user-images.githubusercontent.com/30413511/67671280-ade65c80-f986-11e9-878d-e2e1af6e8b1f.png)

Could you please send me a screen, I `ve check, and I can see a full launch name.

[2019-10-28 10:33] e-olga commented on #735
hello @ekisielinski,
When you click the statistics link (e.g., from the Launches page), you are redirected to STEP view of items with "type"="STEP".
In case your structure of test looks like Suite>Test>Step, all the steps will be displayed on the STEP view, and the statistics you clicked will be equal to items displayed on the view.
In case the structure of your test looks like Suite>Test or Suite

[2019-10-28 13:22] itzikb-redhat commented on #736
Here you go:

![rp2](https://user-images.githubusercontent.com/13085881/67681810-b8105700-f996-11e9-99a9-f0d4abd5279c.png)

[2019-10-28 13:57] balachandra2005 commented on #561
@bawarim : I am also facing the same issue while trying to send screenshot using VBScript to Reportportal. Please let me know if you find some solution.

Getting error **"{"error_code":4001,"message":"Incorrect Request. Required request part 'json_request_part' is not present"}"**

Please find the attached code.
[VBscriptCode.txt](https://github.com/reportportal/reportportal/files/3778951/VBscript

[2019-10-28 15:57] Yumfriez commented on #561
This request consists of 2 parts:
1) (Json file) or (Plain JSON Objects) that represent Log RQ entity as first request part;
2) Files that are attached to the logs entities;
----------------------------------------

            File xml = new File("q.xml");
            File part = new File("test.json");
            HttpHeaders logHeaders = new HttpHeaders();
            headers.setContentType(Medi

[2019-10-28 16:39] DzmitryHumianiuk commented on #724
@rajkumar-cp what will happen, if you will click on launch name, instead of number in label?

see if you have structure under launch itself.
most likely structure reported with wrong object types.

[2019-10-28 16:41] DzmitryHumianiuk commented on #735
@nvborisenko might help here

[2019-10-28 17:18] nvborisenko commented on #735
NUnit reports tests as Suite - Suite - Step.

[2019-10-28 21:54] itzikb-redhat commented on #736
@DzmitryHumianiuk why do you want to close it?

[2019-10-29 09:08] ekisielinski commented on #735
@e-olga: Sorry but I don't understand what you have tried to say :) I don't see any "statistics link".

Some tests (methods) are visible in RP, but they don't have any logs inside.

Here is (I think) suite with nothing inside, but it shows passed = 1

![errrrrrrr](https://user-images.githubusercontent.com/22278763/67752779-e728d600-fa33-11e9-9983-ccbeec419b83.png)

[2019-10-29 10:27] PavelGermanovich opened #737 "Disable Debug level logs from com.epam.reportportal on console"
hello, i have integrated reportportal with my testing framework (java+ testng + log4j)
Everything looks fine except one issue: i specified log level as INFO in log4j properties, but still DEBUG logs from com.epam.reportportal are still displayed on console, such as:

Log4j properties file is the following:
`log4j.rootLogger=INFO, stdout, reportportal

log4j.appender.stdout=org.apache.log4j.Console

[2019-10-29 10:42] evjlobanova commented on #737
@PavelGermanovich which version of reportportal and agents do you use?

[2019-10-29 10:49] e-olga commented on #735
@ekisielinski, Regarding the statistics link, https://i.imgur.com/cHm1VVJ.png.
In case the test does not have item with "type"="STEP", RP in any case calculates the statistics, but you will not see any item on STEP view.

[2019-10-29 11:07] tuscias opened #738 "[v5bug]Launch does not finish C#; NUnit"
**Describe the bug**
Launch is left in progress after tests finish running
**To Reproduce**
Open nunit-example project
run tests
check report portal
launch is in progress

**Expected behavior**
Launch should close after tests finish running

**Other Info**
multiple API calls fail as issue type is not found
message=Test items issue type cannot be resolved. Invalid test item issue type definition 'N

[2019-10-29 11:29] evjlobanova commented on #738
@nvborisenko Could you please help with the issue?

[2019-10-29 11:44] vitali-sonchyk-epam commented on #738
@tuscias , could you please provide some more details?
Which instance of rp do use to log the results?

[2019-10-29 11:58] tuscias commented on #738
on v5 beta it is failing
on v4 it is passsing
i used https://github.com/reportportal/example-net-nunit repo for test execution

To be precise error occurs when test has status SKIPPED and this line is executed: https://github.com/reportportal/example-net-nunit/blob/master/src/Example/ReportPortalCustomization/Customization.cs#L25

I guess that on v4 issue type search is case-insensitive and on v5

[2019-10-29 12:44] vitali-sonchyk-epam commented on #738
@evjlobanova , @tuscias is right, this is an API issue, Issue types became case-sensitive,
nunit-agent is sending ND001 value as issue type type to put -> test-item-controller,
now in v5 controller rejects the request with this value.

Due to that nunit-agent is not able to finish the launch:  Cannot finish launch due finishing of child items failed.
Looks like, issue of report portal, not on the

[2019-10-29 13:06] pbortnik commented on #738
Hi guys, yeah. Issue type will be made case-insensitive.

[2019-10-29 13:07] PavelGermanovich commented on #737
@evjlobanova

[code]
[code]
[code]
[code]

[2019-10-29 13:08] pbortnik commented on #738
Will be fixed in 5.0-Final version on the backend side.

[2019-10-29 14:13] olegbaslak commented on #723
@andrewsereda  why not to have two buttons? Both at the bottom and at the top

[2019-10-29 14:17] andrewsereda commented on #723
@olegbaslak thank you for your suggestion, we will review it in the next version of Report Portal

[2019-10-29 14:48] ManfredGro opened #739 "Launch does not finish if cucumber (java) test step is 'pending'"
I'm using reportportal 4.3.0
My test run with cucumber/java 4.7.4 and connect to the portal with agent-java-cucumber4 v4.1.0

In my stepdefinition I throw a PendingException which just means that the step is not yet implemented and is understood by most plugins that work with cucumber.

In reportportal I can see, that all the data regarding the test was recieved (see screenshot). No problem so far

[2019-10-29 15:31] evjlobanova commented on #739
@Yumfriez Could you please look at this issue.

PS. @ManfredGro in version 5.0 we have implemented feature #275 Nested steps,

[2019-10-29 15:33] sspieker-cc commented on #244
This PerfMeter solution is convoluted and complicated to make work and conversely it will only report test failures.  When a JMeter testplan is executed without error, there is a report to report portal however, there are NO details such as number of test cases and so forth.

Having an agent/listener that would monitor the test plan that would allow for reporting using the Log4j appender would be

[2019-10-29 21:09] DzmitryHumianiuk commented on #739
@ManfredGro and in v5 updated approach for launch finish as well.
give a try to version 5

[2019-10-29 21:13] DzmitryHumianiuk commented on #731
@sspieker-cc appender used as additional output stream.
In case of integration with RP, appender extended to have information from agent, in order to know which test case is active, in order to bind to active ID.

you need appender in order to send logs.
you need agent to send structure.

[2019-10-30 08:30] evjlobanova commented on #723
@olegbaslak But the main question is why you have such situation and how often. As I understood correct, your case is: you expand log, and then decide to collapse it without reading, am I right?

[2019-10-30 09:17] ManfredGro commented on #739
Thanks! I'll try that.

[2019-10-30 20:14] balachandra2005 commented on #561
@Yumfriez: I tried this option suggested. The problem is unable to combine two different objects.
In this case, JSON object and Image content.  I can send only the binary or only text data in VBScript.

Option 1: Converted both json and image content into binary and sent. Exception is thrown as below.
[VBscriptCode_V2.txt](https://github.com/reportportal/reportportal/files/3790924/VBscriptCode_V2.

[2019-10-31 11:37] itzikb-redhat opened #740 "[Widget] [Launches duration chart] Reflect a full name of a launch in the tool tip on a widget"
**Describe the solution you'd like**
I want to be able to see the Launches' names on the X-axis besides the launches' numbers

**Is your feature request related to a problem? Please describe.**
It's hard to determine the launches' duration just from looking at the chart - You need to hover the mouse over the bar of the specific launch to see which job it is (And as for other widgets as well - if t

[2019-10-31 11:54] itzikb-redhat opened #741 "[Widget] [Launches Table] Add a possibility to collapse/expand additional launch info"
**Describe the solution you'd like**
The widget 'Launches table' shows all the launches (based on the filter used) - their names as well as their tags.
It would be great to add an option to collapse/expand the tags' list

[2019-10-31 22:39] balachandra2005 commented on #561
@Yumfriez
I was able to send multipart logging request with below request body. But image file is not displayed in ReportalPortal.
-----------------------------0123456789012
Content-Disposition: form-data; name="json_request_part"
Content-Type: application/json

[{"item_id":"5dbb5e21b9d82100016c7a99","time":"2019-10-31T22:20:17.598Z","level":"info","message":"test step","file":{"name":"CleverBaby.

[2019-11-04 09:52] olegbaslak commented on #723
@evjlobanova yeap, I can look through several log records which are quite similar in the visible part, but are different in the expanded part

[2019-11-04 10:11] anilpatidar24x7 opened #742 "Test status is in progress whenever there is a SoftAssertions fail"
I'm running my test, and observed that, for all pass scenarios report portal is getting updated, but in case of failure of SoftAssertions, report portal is not getting updated. test status is getting stuck in progress .

Package : import org.assertj.core.api.SoftAssertions;

[2019-11-04 11:51] DzmitryHumianiuk commented on #742
@anilpatidar24x7 you should double check if this `org.assertj.core.api.SoftAssertions` can generate fail event at the end.
`in progress` state means that no Finish event was sent to ReportPortal,
which means that internal event of your test runner (testNG, junit, etc) which corresponds to TestCase finish did not happen.

[2019-11-04 12:12] mertyesin commented on #528
I changed all lines according to your advice, for now i am creating docker containers without any problem but i can't display anything on localhost:9090 . Do you have any idea for this problem?

[2019-11-04 12:13] mertyesin commented on #528
I changed all lines according to your advice, for now i am creating docker containers without any problem but i can't display anything on localhost:9090 . Do you have any idea for this problem?

[2019-11-04 13:39] DzmitryHumianiuk commented on #528
@mertyesin instruction above is for starting RP on 9090 port

[2019-11-04 19:46] ajayrrk commented on #561
@balachandra2005  I tried same approach for my project and was struck at where you are.

@bawarim I would be great if there is any way to integrate screenshots with UFT

[2019-11-05 13:14] abotalov opened #743 "[v5bug] Retries view overlaps reason text"
**Describe the bug**
Retry view overlaps investigate reason.

**To Reproduce**
1. Open https://beta.demo.reportportal.io/ui/#test_io-1_personal/launches/all/4367/96626/96777
2. Click 3 retries link
Actual: Retries view overlaps issue/reason text.

**Expected behavior**
Retries view doesn't overlap issue/reason text.

**Screenshots**
![Screenshot from 2019-11-05 16-11-46](https://user-images.github

[2019-11-05 18:56] naddison commented on #732
Updated @evjlobanova

[2019-11-06 07:50] KatsiarynaTatarynovich commented on #743
It will be fixed in the 5.1 version on the UI side.

[2019-11-06 15:04] avarabyeu opened #744 "Migrate to Traefik v2"
**Describe the solution you'd like**
Traefik v2 has been recently released, it would make sense to release RP V5 running behind latest traefik version since migration from v1 to v2 require significant configuration updates

[2019-11-06 18:11] nvborisenko opened #746 "[v5bug] Log entries with MARKDOWN_MODE are not compatible with new version of API"
`!!!MARKDOWN_MODE!!!` string is not cut. If test frameworks provide log messages which starts from above string, UI shows this string.

**Expected behavior**
v5 is compatible with v4.

**Screenshots**
![image](https://user-images.githubusercontent.com/22616990/68325059-c74f7d00-00d9-11ea-99c4-75ea34b23549.png)

**Desktop (please complete the following information):**
 - Browser Chrome

**Additiona

[2019-11-06 18:21] nvborisenko opened #747 "[v5bug] Logs are shown with red error on test level"
**Describe the bug**
When I open logs for particular test, I see error message at the bottom of page.

**To Reproduce**
Just execute tests from `example-net-nunit` (build.cmd).

**Expected behavior**
No error?

**Screenshots**
![image](https://user-images.githubusercontent.com/22616990/68325853-54df9c80-00db-11ea-8e14-112ed31c2bb6.png)

[2019-11-06 21:07] DzmitryHumianiuk commented on #746
@nvborisenko just remove it for v5 supported loggers.
it's deprecated.
Now you can enable markdown transformation via toggle on log view:
![image](https://user-images.githubusercontent.com/11332788/68337870-75672100-00f2-11ea-954b-a540917f10e0.png)

[2019-11-06 21:09] #738 closed

[2019-11-06 21:10] #150 closed

[2019-11-06 21:10] DzmitryHumianiuk commented on #150
2.5 year old bug )

[2019-11-06 21:21] DzmitryHumianiuk commented on #632
@RuggeriLuca how it goes?
Most likely newman runner finishes test case before the moment of steps finish.
this leads to error in version 4.

version 5 of RP allows to finish parents before child, and receive status updates later on.

just try the same code with RP v5

[2019-11-06 21:33] DzmitryHumianiuk commented on #747
Current version:
API Service: 5.0.0-RC-3-SNAPSHOT;Index Service: 5.0.4;Authorization Service: 5.0;

[2019-11-06 21:37] DzmitryHumianiuk commented on #264
implemented in https://github.com/reportportal/reportportal/issues/363
as 5.0 feature

[2019-11-06 21:40] DzmitryHumianiuk commented on #284
@talgreen1 done.
available in ALL USERS section of admin board.
filter and export list of users to CSV format with emails in it.

[2019-11-06 21:40] #284 closed

[2019-11-06 22:43] pbortnik commented on #747
@nvborisenko
it will be pretty good if you ll share more information. if it is beta instance, could you please provide us project, so we can reproduce it.
if not, then it will be good if you show us the whole returning error stack trace from browser dev tools

[2019-11-06 22:53] nvborisenko commented on #747
https://github.com/reportportal/example-net-nunit
build.cmd, don't forget to direct tests to beta rp via config.json

[2019-11-07 05:15] rupeshkumarram commented on #733
Thanks This has resolved the issue

[2019-11-07 05:19] rupeshkumarram opened #748 "Not able to attach file into logs with REST API"
**Describe the bug**
I am trying to add attachment with logs but not able to do so

{"file": {
"name": "C:\\Users\\ru20104049\\Desktop\\screenshot.jpeg",
"content" : "byte content",
"contentType" : "image/jpeg"
},
"item_id": "5dc2b3ccb9d8210001920851",
"level": "Log info",
"message": "Result=Failed",
"time": "2019-10-23T21:27:33.280Z"}

Please help me to add attachment with REST API in log screen

[2019-11-07 08:51] xescuder commented on #72
Has been added to ReportPortal?. I don't see from documentation?

[2019-11-07 11:15] DzmitryHumianiuk commented on #72
https://github.com/reportportal/reportportal/issues/275
we implemented this as a part of Nested Steps feature.

@Yumfriez plz share the link to the examples

[2019-11-07 14:18] AshwinNS opened #749 "Unable to scroll in full screen mode for widgets"
**Unable to scroll down in full screen mode in Google chrome Version 78.0.3904.97 (Official Build) (64-bit)**
I checked the behavior in Firefox(70.0 64-bit) , was able to scroll down and working as expected.

cross checked the following widgets and found same issue in chrome:
 - Launches table
 - Project activity panel

**Versions:**
 - Windows 10 64-bit

![rp_bug](https://user-images.githubuserco

[2019-11-07 19:30] DzmitryHumianiuk commented on #749
@AshwinNS could you plz double check it with version 5 at https://beta.demo.reportportal.io ?

[2019-11-08 14:16] stevedc1989 opened #750 "Possiblity to view the browser the test has run on"
As I run my test on mulitple browser (chrome,firefox,IE and Edge) it would be nice if there is an option or a way to give the browser and maybe the version to the reportportal. This in orde if a test failing is because of a specific browser/version or not.

[2019-11-08 19:13] sspieker-cc commented on #697
This business requirement (for my company) is as follows:
Code coverage for our projects come in various flavors - .Net, .Net-core, Java, etc.
We prefer to utilize one tool to evaluate the increase in tests as well as the code coverage for the overall per project.  Although there are a number of environments (Jenkins, developer workstations, etc.) that could execute these tests and coverage tools,

[2019-11-08 19:54] balachandra2005 commented on #561
@Yumfriez
Image is not getting displayed in ReportPortal after sending the following request from VBScript. Could you please help.
-----------------------------0123456789012
Content-Disposition: form-data; name="json_request_part"
Content-Type: application/json

[{"item_id":"5dbb5e21b9d82100016c7a99","time":"2019-10-31T22:20:17.598Z","level":"info","message":"test step","file":{"name":"CleverBaby.

[2019-11-11 03:12] quhezheng opened #751 "How to integrate gtest & gcov, gcovr on linux project?"
Does reportportal support C++ project on linux ?   We'd like to see gtest & gcov, gcovr report in real time.

It Yes, how to do it? Why no gtest on support list?

[2019-11-11 08:59] SrikanthSunder opened #752 "Need a sample JSON request for Merging the Launches"
Team, need a sample JSON request for Merging the launches based on the Tags specified.

[2019-11-11 09:16] Yumfriez commented on #72
@xescuder
https://github.com/reportportal/examples-java/tree/nested-steps-example

[2019-11-11 10:10] xescuder commented on #72
I expected more the integration with
@Epic
@Features
@Stories/@Story
@Severity(SeverityLevel.BLOCKER)
@Description("In this cool test we will check cool thing")
@Step
@Attachment
@Link

To see structured information from ReportPortal, not as a simple tag.

[2019-11-11 10:16] DzmitryHumianiuk commented on #72
@xescuder can you please elaborate on

[2019-11-11 16:52] iKozzz commented on #747
I see this in `userdebug` section
There is API call failure when you observe TestItem log:
* `http://my-super-rp.com/api/v1/myproject/item/history?ids=6361&history_depth=10`
* `{"errorCode":5000,"message":"Unclassified error [org.hibernate.exception.SQLGrammarException: could not extract ResultSet]"}`

service-api:5.0.0-RC-2

Server Log:
* [extract_result_set.log](https://github.com/reportportal/r

[2019-11-11 17:35] nvborisenko commented on #747
Please find existing [launch](http://beta.demo.reportportal.io/ui/#default_personal/userdebug/all/7969) on public beta instance. Open any test with logs.

[2019-11-12 05:54] AshwinNS commented on #749
@DzmitryHumianiuk Yes, I'm able to reproduce the same in v5 as well. I have uploaded some test data into project "ASHWINNS_PERSONAL" in case if you would like to cross check.

[2019-11-14 13:10] dubilyer opened #753 "[Widget] Responsive design issue"
**Describe the bug**
As you can see on attached screenshot, there's an overlap between axis X labels.
You can easily reproduce it by creating a 7+ bars Launch statistic chart widget and reducing a window.

**Expected behavior**
Labels are zoomed/changed to day of week only/whatever else, but are not overlapped.

**Screenshots**
![66264852-34d76780-e815-11e9-9072-00923b1b0395](https://user-images.g

[2019-11-14 18:33] DuskoV commented on #748
Uploads are zip archives. It would be great if files can be recognized inside of the zip file. For example, JUnit can create screenshots, so it would be great if import procedure can properly recognize and import screenshots

[2019-11-14 18:35] DuskoV commented on #726
And also be able to attach custom results to graphing system would be awesome. There are not so many reports, so this would help out to build more of them

[2019-11-14 19:06] nvborisenko commented on #752
From `.net` client:
[code]

[2019-11-15 15:27] DzmitryHumianiuk commented on #726
we plan to have graphQL embedded.

[2019-11-15 20:30] nickhodaly commented on #364
@evjlobanova In version 5 will there be support for automatically adding new users to a set of default projects. Right now I would like to add all users to a set of projects that everyone should have access to and I need to do this manually for each user.

[2019-11-18 18:29] chandrahub opened #754 "ReportPortal plugin cannot be initialized"
**Describe the bug**
I am trying to integrate ReadyAPI 3.0.0 with report portal running in localhost. While I am executing the project I am getting the below message. Report portal is not getting populated.

ReportPortal plugin cannot be initialized. org.apache.log4j.Logger.getLoggerRepository()Lorg/apache/log4j/spi/LoggerRepository;

**Expected behavior**
...Report portal is not getting populated

[2019-11-18 19:33] acdurai commented on #6
Hi @DzmitryHumianiuk ,
I'm using selenium with JUNIT 4.12 framework, I would like to update the reportportal.properties file before the Reportportal listener is getting initialized .
Please help  me on this

[2019-11-18 22:01] acdurai commented on #414
Hello @avishaymahluf Could you please help in sharing the APIs and code used in Jenkins pipeline to have the results in report portal?. Actually I'm trying to filter the reports based on jenkins build number

[2019-11-19 12:07] DzmitryHumianiuk commented on #6
@acdurai join our community in slack
https://reportportal-slack-auto.herokuapp.com/

and ask in #agent_java channel for help

[2019-11-19 15:29] acdurai commented on #6
@DzmitryHumianiuk  thank you so much

[2019-11-19 17:16] chandrahub commented on #754
Please close this. There was a log4j jar in the ext folder of readyapi installation directory which was causing this issue. Removing this solved the problem.

[2019-11-19 17:16] #754 closed

[2019-11-20 04:35] srivastavajaideep opened #755 "Not able to login on Ubuntu machine (Services also not displayed in the ReportPortal UI)"
Hi,
I deployed ReportPortal on the windows machine (using docker images) and all components are running successfully (even elasticsearch and jira integration etc) but while trying to deploy it in the production environment, i am not able to even login. The services are not showing up in the UI of ReportPortal whereas the containers seem to be running fine. Please help.

Thanks
Jaideep

<img width=

[2019-11-20 09:59] evjlobanova commented on #753
@DiscoElevator @AmsterGet Could you please tell if this change is aapplicable for our widgets?

[2019-11-20 10:10] evjlobanova commented on #752
@SrikanthSunder Can we close an issue?

[2019-11-20 10:21] evjlobanova commented on #751
@quhezheng we do not have a C++ contributor in our team. But we were very appreciated, if you would contribute to report portal and send us pull request.

[2019-11-20 10:30] evjlobanova commented on #750
@stevedc1989 we are planning to introduce a view with executions of one test case on different envs (scope, browsers or others) #315

For npw, in **version 5.0** (now beta version is available for user testing) we replaced `tags` with `attributes`. Attribute has two parts `key` : `value` .
So that you will be able to report test results with attribute for instanse `browser:chrowe` or `browser: edg

[2019-11-20 10:33] evjlobanova commented on #749
@ElenaRomanchuk Could you please add a link to pull request?

[2019-11-20 11:18] SrikanthSunder commented on #752
@nvborisenko thanks for the input.
@evjlobanova yes please.

[2019-11-20 11:37] ElenaRomanchuk commented on #749
Fixed in scope of [UI PR #2200](https://github.com/reportportal/service-ui/pull/2200)

[2019-11-20 13:03] DiscoElevator commented on #753
@evjlobanova At the moment it shows only one label:
![image](https://user-images.githubusercontent.com/2759038/69240832-65e5de80-0bae-11ea-99eb-d22bfb07c00c.png)
Looks like a bug.
Need to discuss ways of showing all labels.

[2019-11-20 13:13] #749 closed

[2019-11-20 13:25] #743 closed

[2019-11-20 13:30] evjlobanova commented on #755
@srivastavajaideep Could you please tell us which version of ReportPortal you are trying to deploy?
@AlehB In case of future questions/answers, could you please support this request?

[2019-11-20 13:34] evjlobanova commented on #742
@anilpatidar24x7 Have you resolved your issue?

[2019-11-20 13:40] evjlobanova commented on #740
@itzikb-redhat Hello, we  have added this request to Backlog. Thank you very much for this note.

[2019-11-20 13:42] evjlobanova commented on #741
@itzikb-redhat Hello, we have added this request to Backlog. Thank you very much for this note.

[2019-11-20 13:48] evjlobanova commented on #740
@itzikb-redhat Hello! Launch name takes a lot of space on the widget, so that we put it to the hover. And in case of the very long name the widget wouldn`t be informative.

If we would not  cut long launch name in the tool tip, does it solve the problem?

[2019-11-20 13:53] evjlobanova commented on #739
@ManfredGro Could you please tell us if it helped?

[2019-11-20 13:56] e-olga commented on #748
Hello @rupeshkumarram ,

Could you please tell us, which agent you use? So, we will be able to provide the appropriate example.

In general, to load the attachments into ReportPortal, you need to send multi-part request, that contains of the .json file and the attachments themselves.
The .json file should have the content like the next:
[
    {
	"file":{
"name" : "API Report.html"
},
      "item_i

[2019-11-20 13:56] itzikb-redhat commented on #740
Yes this is what I intended.

[2019-11-20 13:56] evjlobanova commented on #736
Connected with https://github.com/reportportal/reportportal/issues/740

[2019-11-20 13:58] evjlobanova commented on #740
We added this request to our backlog

[2019-11-20 14:06] AlehB commented on #755
Hi @srivastavajaideep ,

[2019-11-20 14:09] AlehB commented on #755
Hi @srivastavajaideep ,

We propose to start with ReportPortal 5 instead of 4th since we are not supporting that version anymore.

Please find the link to RP5 Docker compose file below:
https://github.com/reportportal/reportportal/blob/master/docker-compose-v5.yml

Thank you,
Aleh

[2019-11-20 14:12] HardNorth commented on #737
@PavelGermanovich Well, RP uses slf4j to log its data. It looks like in your case that library just wasn't configure and picked up standard console logger. I would recommend to include slf4j-log4j bridge to route these logs to your logger:
[code]

[2019-11-20 14:13] evjlobanova commented on #735
@ekisielinski  Have you resolved your issue? Please let us know if we can close a ticket.

[2019-11-20 14:16] evjlobanova commented on #734
@rupeshkumarram Have you resolved this issue?

[2019-11-20 14:28] evjlobanova commented on #724
@rajkumar-cp Have you resolved your issue?

[2019-11-20 14:33] evjlobanova commented on #732
@ihar-kahadouski @Yumfriez Could you please look at this issue?

[2019-11-20 14:37] evjlobanova commented on #721
@balachandra2005 Hello! Could you please tell us which information do you want to receive/send to the reportportal from/to UFT.

[2019-11-20 16:24] srivastavajaideep commented on #755
Thanks for the quick revert, i am using RP 4 version with the following configurations -  Analysis Service: 4.3.0; API Service: 4.3.0; Index Service: 4.2.0; Jira Service: 4.3.0; Rally Service: 4.3.0; Authorization Service: 4.2.0; Service UI: 4.3.0 and all were running smoothly on windows machine. I had tried sometime back with the latest versions and some services were getting restarted. Would try

[2019-11-20 16:25] nvborisenko commented on #735
The problem is empty suites, old problem. UI shows this empty item incorrectly. See screenshots above.

[2019-11-20 16:49] DzmitryHumianiuk commented on #735
@nvborisenko v5 api will allow to delete them before launch finish.
will it help?

[2019-11-20 17:50] nvborisenko commented on #735
It is good that I can see empty suite in RP, this is my testing result.

[2019-11-20 18:00] DzmitryHumianiuk commented on #735
@nvborisenko but you need zero stats for it, right?

[2019-11-20 18:04] nvborisenko commented on #735
Yes, zero, if it helps and doesn't break your model. I watch at `suites/tests/steps` as at `folders/files`. I may have empty folder, and it is strange for me that empty folder has 1 file inside.

[2019-11-21 05:12] srivastavajaideep commented on #755
Hi, I tried installation with the docker compose file mentioned on a windows machine but the services are getting restarted (analyzer,service-api,postgres etc) and login fails. Please help.
<img width="947" alt="error" src="https://user-images.githubusercontent.com/15831063/69305870-8d3eb900-0c4b-11ea-9ae9-219913622dfe.PNG">
<img width="374" alt="error1" src="https://user-images.githubusercontent.

[2019-11-21 05:44] anilpatidar24x7 commented on #742
Yes,

The issue was with soft assertion . got resolved .

Thanks,
Anil

[2019-11-21 08:13] mqadi commented on #364
M

[2019-11-21 08:32] AlehB commented on #755
Hi @srivastavajaideep ,

Please check the containers logs, starting from the db (Postgres)
It will tell you the direction to the root cause of these issues

Thank you,
Aleh

[2019-11-21 08:59] #742 closed

[2019-11-21 09:16] quhezheng commented on #751
Is there any reference document tell us how to interface with C++  or any other language?

[2019-11-21 10:34] srivastavajaideep commented on #755
Still no success, some "postgres" role related issue, not sure how to fix that.

The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.utf8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

[2019-11-21 13:01] #752 closed

[2019-11-21 13:15] AlehB commented on #755
Definitely you cannot start RP, because of the PostreSQL issue itself

Have you adjusted the Docker Compose file in order support Docker on Windows?
![image](https://user-images.githubusercontent.com/2253605/69341074-e7567300-0c79-11ea-8a95-81b1cea0f223.png)
![image](https://user-images.githubusercontent.com/2253605/69341081-eb829080-0c79-11ea-9931-067c3bbd6811.png)

Anyway, we strongly recommend

[2019-11-21 13:21] srivastavajaideep commented on #755
Yes,I have adjusted the docker compose file and the error logs shared were on Ubuntu installation.Setup is not working on Windows machine as well (after doing changes in compose file)

[2019-11-21 13:22] evjlobanova commented on #732
It is a very custom feature, in this case we can propose you a paid support.

[2019-11-21 13:31] evjlobanova commented on #720
Please follow #363, it should close your needs

[2019-11-21 13:31] #720 closed

[2019-11-21 13:37] pbortnik commented on #722
Hi @DuskoV,
We resolve each <system-out> tag as one INFO log by default. We don't parse message and can't recognize the type of the log inside it. Import is not the main way of reporting, so we recommend to use agents.
Parsing of inner message of <system-out> tag is not in plan, so i close the issue.

[2019-11-21 13:37] #722 closed

[2019-11-21 14:12] pbortnik commented on #747
Fixed on the backend side.
Should be fix on ui side as well. @AmsterGet

[2019-11-21 14:58] AlehB commented on #755
Please check PostgreSQL environment variables on your system
This issue relates to the PostgreSQL rather than to ReportPortal
https://www.google.com/search?q=FATAL%3A+role+%22postgres%22+does+not+exist&ie=utf-8&oe=utf-8

[2019-11-21 15:21] DzmitryHumianiuk commented on #747
@pbortnik do you have referring commit number?

[2019-11-22 09:29] gromanas opened #756 "ES communication error - Analysis and Auto Analysis are not functional"
**Describe the bug**
Hello! Thank you very much for the great tool that you have developed! We are using the report portal at least a month and the last week we started facing an issue when we run `Analysis` and `Auto Analysis`. The issue is that we start the `Analysis` but nothing happens only the loader is displayed. After some search in the logs of `analyzer` we found out the following error:
`

[2019-11-22 10:43] babantax commented on #240
Hello @fasterfish,

Did you solved the issue? I´m facing the same problem.

Thanks a lot

[2019-11-22 13:19] srivastavajaideep commented on #755
Thanks for sharing the steps. I had already explored these steps and they look more relevant when we have postgres on machine and having some issue with the setting of env variables but i think in our case we are trying to install postgres through docker compose.. kindly share some other sample  docker compose file which has mongodb and jira integration. Thanks

[2019-11-23 01:05] mlukjanska25f opened #757 "Integration with Codeception - failing due to empty test name passed to the reportportal"
I was trying out the integration of the codeception (https://github.com/reportportal/agent-php-Codeception) with the reportportal, and the posting to reportportal fails because the test name/description are being passed empty on the post request.

When running the codeception test (**Unit Test**) I am getting the following error:
[code]

For unit test the following piece of code is not returning t

[2019-11-25 08:50] h4wkmoon commented on #702
Hi,
I'm currently working on that. I choose to use external pgsql, external elastic, external rabbitmq.
RP pods are working except the api.

The api pod log ends with :

and then nothing.
The pod ends being orange (5 minutes without health check )
In the api pod, nothing listens on port 8585.

As for route, I've set :
/ ==> ui service
/api => api service
/uat => uat service

Authentication does no

[2019-11-25 08:57] h4wkmoon commented on #702
useful info : this is v5.
I've just noticed that v5 is 5.0.0-RC-2.
I'm switching to v4.

[2019-11-25 08:58] ElenaRomanchuk commented on #736
Fixed in scope of PR [2215](https://github.com/reportportal/service-ui/pull/2215).

[2019-11-25 08:58] ElenaRomanchuk commented on #740
Fixed in scope of PR [2215](https://github.com/reportportal/service-ui/pull/2215).

[2019-11-25 12:28] AlehB commented on #755
Hi @srivastavajaideep,

Please find by following https://github.com/reportportal/reportportal/blob/master/docker-compose.yml. This is a Docker Compose for ReportPortal 4 with Mongo db, but we are not support it anymore, because are fully involved in ReportPortal 5 with PostreSQL. The Docker Compose I sent to you earlier (Posthres one) was tested many times and it expects to work smoothly with Post

[2019-11-25 14:11] evjlobanova commented on #755
Can I close this issue?

[2019-11-25 14:18] DzmitryHumianiuk commented on #757
Share with Codeception developers

[2019-11-25 14:24] mlukjanska25f commented on #757
Yes, thanks, it looks like the issue is with the UnitTester (Unit Tests), the Acceptance tests are working fine:
https://github.com/Codeception/Codeception/issues/5761

[2019-11-25 14:24] Osmyslitelny opened #758 "Import junit xml report has not quite comfortable parsing"
Import junit xml report has not quite comfortable parsing. I have auto generated xml with following structure. And should make afto generated steps for make build correctly and readable. May be both cases are not bug, its reason why i create issue type.
1) When test cases are empty - import failed (don't stop launch and don't push data into it)
2) Message from "message " field don't pushed into lo

[2019-11-25 14:28] DzmitryHumianiuk commented on #757
@mlukjanska25f should we close ticket?

[2019-11-25 14:30] #757 closed

[2019-11-26 07:35] ekisielinski commented on #735
@evjlobanova Not solved. Why it shows empty suites? Idk. If suite is empty why it tells something passed? Idk.

[2019-11-26 08:43] Agurul opened #759 "Data Validation Test Results as CSV is not publishing in Report portal"
I have a test results (Data Validation) which stored in csv file. I will not use Assertion in my test file due to huge data records validation.
Report portal is not showing any results for my Passed test case.

Is it possible to avail my csv results file from project directory to report portal ? If so please guide me on this how to publish CSV data on report portal?

Or

Is there any way that I ca

[2019-11-26 09:57] DzmitryHumianiuk commented on #735
@ekisielinski specific of the test runner + specifics of RP stats counting.

Runner triggers events for start and stop even for empty suite.
RP assumes element with no child as final tree branch. And set stats as 1, and passed since it’s passed.

Team discuss options for fix

[2019-11-26 13:53] Agurul commented on #759
I'm using report portal with Serenity Framework. Please suggest me on the above query ASAP.

[2019-11-26 17:18] srivastavajaideep commented on #755
I am afraid but report portal 4 docker compose is not working for me on the Ubuntu machine neither version 5.please let me know if I need to install postgres first on the machine and then try installation with the docker compose file you guys had shared? thanks

[2019-11-27 09:31] AlehB commented on #755
Hi @srivastavajaideep,

There no need to install Postgres in advance
Please make sure you install RP correctly (docker-compose -p reportportal up -d --force-recreate), and you can also try it on another host

Best,
Aleh

[2019-11-27 10:10] evjlobanova commented on #740
Improvement will be available in version 5.1

[2019-11-27 10:10] #740 closed

[2019-11-27 10:12] evjlobanova commented on #736
1st part of the request will be available in version 5.1

[2019-11-27 10:14] evjlobanova commented on #747
Will be available in 5.0

[2019-11-27 10:14] #747 closed

[2019-11-27 11:57] rajkumar-cp commented on #724
@DzmitryHumianiuk

If the click the launch name then also that count 15 will be available . If i click the same there then also it will be the same.

[2019-11-27 13:16] DzmitryHumianiuk commented on #724
@rajkumar-cp when you click on numbers (this 15, or any other column with numbers) it will open default filter as `item.type=test`

if you see nothing after the click, that means that you structure send with invalid levels. Tests send as Suites or kind of it.

if you will drilldown thru the names, you will see what kind of types you have.

[2019-11-27 16:23] ekisielinski commented on #735
@DzmitryHumianiuk OK, I understand the problem with "invalid" statistics, but I still don't know why I have empty suite.
I was looking in our tests and that suite is not empty. It should not be even selected by NUnit runner due to category filters.

I'll look at this problem again soon.

[2019-11-28 17:56] nvborisenko commented on #735
@ekisielinski does default `test-results.xml` have this empty suite? If yes - probably this is issue of nunit engine, if no - we should resolve the issue on RP agent side.

[2019-12-01 12:34] OrenAutoSmileBox opened #760 "is there a limit amount of log messages that I can display in Report Portal?"
when I reach page 9 on lunches section
(i display in one page the maximum amount of logs that I can 300)
Report portal stops displaying log messages

is there a limit on the number of log messages that Report Portal displays?
can I configure it?

[2019-12-01 17:43] DzmitryHumianiuk commented on #760
@OrenAutoSmileBox there is no any limitation both for logs and for launches.

just check if your VM with ReportPortal has enough resources (CPU and RAM) to handle app + data in db.

[2019-12-01 18:57] nstbushneva commented on #275
Hello,

The original link with example (https://github.com/reportportal/example-java-TestNG/tree/nested-steps-example) seems to be broken and can't find any in the repo. Could you please send the valid one if there? =)

[2019-12-02 03:39] nickhodaly opened #761 "[v5bug] Error Message in UI after deleting child test item"
**Describe the bug**
Deleting Scenarios by UUID causes error to be thrown in the UI

**To Reproduce**
Log two child test items to a parent test item. Then delete one of the child test items by its UUID. Navigate into the parent test item via the Report Portal UI. A red error message will be displayed at the bottom of the screen.

This is the error message being displayed:
`An error occurred while

[2019-12-02 04:09] #761 closed

[2019-12-02 10:16] DzmitryHumianiuk commented on #275
@nstbushneva https://github.com/reportportal/examples-java/tree/nested-steps-example/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/step

will be merged into `master` with v5 release

[2019-12-02 13:40] ekisielinski commented on #735
@nvborisenko: You are right. NUnit xml result file contains empty suites.

NUnit is a garbage...

[2019-12-02 18:51] nvborisenko commented on #735
@ekisielinski you didn't use others.

Actually I cannot reproduce empty suites in report. When I execute tests by category filter and tests in suite don't fit this filter, I don't see empty suite in report.

I propose to create an issue for nunit. If this issue will be fixed soon - good. In others cases possible solutions are:
- fix on server side to correctly accept empty suites
- fix on agent si

[2019-12-02 19:50] DzmitryHumianiuk commented on #735
We plan fix on server side.
Actually possibility to send ZeroStat object

[2019-12-02 21:50] nvborisenko commented on #735
@DzmitryHumianiuk what is ZeroStat object? The agent knows about empty suite at he the end of suite's execution.

[2019-12-02 22:33] arunkumar-muthusamy opened #762 "v5: Cucumber+Java+TestNG+Logback Nested Steps Not working"
Hi @evjlobanova,

Based on [/reportportal/issues/275](https://github.com/reportportal/reportportal/issues/275), I tried to integrate Cucumber BDD tests (implemented with Java), Run with TestNG, logged using Logback... But, the steps are getting displayed in flat structure.. please find below the details,

ReportPortal Version:
[code]
Dependency in `pom.xml`
[code]

CucumberRunner

[code]

StepDefi

[2019-12-03 07:00] chan24 opened #775 "Finish time execution error while trying to execute the test case in TestNG"
We are observing the following error while trying to execute the test cases. We are using release version 4.2.1
[code]
[code]

[2019-12-03 07:17] DzmitryHumianiuk commented on #735
@nvborisenko in v5 we allow to send update rq for testitems.
Triggered event for empty suite at the end of it can send testItem update with zero statistics.

Zeros for Total, Passed, Failed, Skipped, etc.

[2019-12-03 08:35] HardNorth commented on #737
Closed due to two weeks of inactivity

[2019-12-03 08:35] #737 closed

[2019-12-03 11:07] OrenAutoSmileBox commented on #760
thanks for the input

but I see no problem with the resources
the machine that runs the RP containers have
4 cores
16g RAM
40g storage
and currently, 20g storage occupied

I didn't set any limitation on the container's resource consumption

if you have any additional input
I would like to hear it
because I don't know what causing this limitation

[2019-12-03 12:01] DzmitryHumianiuk commented on #760
@OrenAutoSmileBox what is the version of application?
(copy under login form)

[2019-12-03 12:08] nvborisenko commented on #735
@DzmitryHumianiuk does it mean that agent should send additional request to update "empty" suite? If yes, agent can delete "empty" suite. This way is compatible with v4 and v5 server.

[2019-12-03 12:38] DzmitryHumianiuk commented on #735
@nvborisenko
It can be opted:

1) send delete request for empty suite, if it’s not important to have it empty in RP

2) before finish RQ send RQ to check child count. If empty - send finishRQ with zero stats. Or if you know it from runner info that suite is empty.

First compatible with v4/5
Second will be added on server side

[2019-12-03 12:45] nvborisenko commented on #735
Runner/agent knows that suite is empty.

[2019-12-03 12:46] DzmitryHumianiuk commented on #735
@nvborisenko then second option is for us.
will be in 5.1

[2019-12-03 13:13] OrenAutoSmileBox commented on #760
Current version: API Service: 4.3.4;
Index Service: 4.2.0;
Jira Service: 4.3.0;
Rally Service: 4.3.0;
Authorization Service: 4.2.0;
Service UI: 4.3.6;

[2019-12-03 13:45] DzmitryHumianiuk commented on #760
@OrenAutoSmileBox
What's the MongoDB version behind it?

btw. we are about to release v5.
v4 is not longer supported.

[2019-12-03 13:49] OrenAutoSmileBox commented on #760
![containers](https://user-images.githubusercontent.com/52413954/70056597-66d23380-15e4-11ea-9b9d-24b9f292125c.png)

MongoDB: 3.4

[2019-12-03 13:57] DzmitryHumianiuk commented on #760
@OrenAutoSmileBox can you take a look into the logs at the moment when you reach page 9?
Logs from `service-api` container.

Since we use the same images to run our production instance with 1.5TB of data in it, 150+ projects and 700+ active users a day. And don't face any kind of that issues.

our versions
[code]

[2019-12-03 14:34] Baivalr opened #763 "Duplicate suites/launch does not finish."
I added reportportal to my project following the instructions here > https://github.com/reportportal/example-java-TestNG and using the @listeners annotation. The lunches appear in reportportal and everything looks fine until the test runs end. The launch in RP never finishes and has to be forced to finish. The launches have duplicate suites, one of which finishes as expected, the other never finis

[2019-12-03 15:01] DzmitryHumianiuk commented on #763
@Baivalr duplicated suites and items means that you have declared ReportPortal listener twice.

Not finished execution, in situation of doubled declaration, means that 2 listeners can't decide who should finalize execution.

[2019-12-03 16:11] Vasanth185 opened #764 "How to configure Elasticsearch Service from external server instead of local"
Is there any way to point report portal to use the elastic search installed in a different server? If so how to configure the same?

[2019-12-03 16:56] Baivalr commented on #763
The report portal listener declaration exists in exactly 1 place in the whole project.
`@Listeners({LoggingListener.class,
    EnvironmentPropertyLoaderListener.class,
    CorporationPropertyLoaderListener.class,
    UserAndMasterPropertyLoaderListener.class,
    TestPropertyLoaderListener.class,
    RetryFailedTestsListener.class,
    BuildInformationRetriever.class,
    ReportPortalTestNGListene

[2019-12-04 14:17] chhatbarjignesh opened #765 "Launches Tab Attachment displays only base-encoded images"
Launches Tab Attachments is displaying only base encoded images, everything else is going as a attachment of txt see attached screenshot

is there any way to render the image that is uploaded somewhere as a part of attachment in launch?
for example to reduce the data load in our reporting we upload all our screenshots in S3 and just render the URL from S3 inside the report, I wanted to know if thi

[2019-12-04 14:19] Agurul commented on #759
Can Someone help me on this please

[2019-12-04 15:12] DzmitryHumianiuk commented on #765
you can add link into logs, using markdown.
and share it within logs.

like this
[code]
will show you this in logs
![Image of From S3](https://reportportal.io/resources/site.bb1ee4.png)

[2019-12-04 16:58] OstapJ opened #766 "[v5bug] Send defect to the latest launches returns 500 status code"
**Describe the bug**
`Send defect to` feature doesn't copy the defect link to the latest launch

**To Reproduce**
1. Open the test which has a history of launches where previous launches have Bug-type
2. Click on `Send defect to` button to copy the bug type to the latest launch

**Expected behavior**
The latest launch has Product bug attached the same as from where you copied it

**Screenshots**
!

[2019-12-04 17:29] DzmitryHumianiuk commented on #766
@OstapJ what are the services numbers in `docker-compose.yml`?

[2019-12-04 17:39] yasin24885shaikh commented on #220
I am still getting this issue with cucumber 4. Please refer
https://github.com/reportportal/agent-java-cucumber4/issues/28

[2019-12-04 18:41] sandeepnagra commented on #765
@DzmitryHumianiuk - is that the correct image you intended to upload? I think it should be the image for scenario logs. We tried it at our end with following markdown didn't work. It just print it as a string. @chhatbarjignesh will share the screenshot

`![Image of From S3](https://reportportal.io/resources/site.bb1ee4.png)`

[2019-12-04 18:42] chhatbarjignesh commented on #765
I tried as per your suggestion but it is not rendering the image.

![image](https://user-images.githubusercontent.com/34551874/70170950-bfb0d300-169b-11ea-8622-c143ca39829a.png)

[2019-12-04 19:27] sandeepnagra commented on #765
Also, we know it supports embedded base64 screenshot images and text file but does it support videos too?

[2019-12-04 20:48] nickhodaly opened #767 "GitHub Authorization Not Working[v5bug]"
**Describe the bug**
GitHub Authorization is not working properly. After clicking the `Login with GitHub` button I am redirected to a page with the following text:
`Full authentication is required to access this resourceunauthorized`

The Authorization callback URL I am using is: `/uat/sso/me/github/synchronize`

**To Reproduce**
Enable GitHub Authorization on V5. Use Login with GitHub.

**Expecte

[2019-12-05 08:56] ivan-sukhomlyn opened #773 "[5.0.0-RC-2][BUG] Service-API errors when user does not have a photo"
`Service-API` produce errors when the user does not have a photo.
I think that it's not an error and the user can be without an avatar or have some random avatar on another hand.

**Service-API logs:**
[code]

[2019-12-05 13:40] DzmitryHumianiuk commented on #767
@nickhodaly do you use GitHub Enterprise?

[2019-12-05 14:01] DzmitryHumianiuk commented on #765
@chhatbarjignesh @sandeepnagra
sorry, missed it with v5 already :)

**in v5** we have markdown parsed by default.
in case if switcher is ON.
![image](https://user-images.githubusercontent.com/11332788/70241771-a6358700-1780-11ea-9b29-ac7493fad8a7.png)

**in v4** you have to prepend `!!!MARKDOWN_MODE!!!` to you log.

like
[code]

[2019-12-05 14:20] chhatbarjignesh commented on #765
@DzmitryHumianiuk Thanks for the quick response. I tried the solution and looks like it worked half
Do you know what might be wrong, its displaying broken thumbnail

![image](https://user-images.githubusercontent.com/34551874/70243334-65b61900-1740-11ea-9776-6308eba59d9f.png)

[2019-12-05 14:31] DzmitryHumianiuk commented on #765
@chhatbarjignesh most likely you should have access token embedded into the url of the image.

google for it.
i'm sure it's a general question.

and most likely you will see access error in network tab of your browser when loading the page with image, which you mentioned above.
this error can give you some details

[2019-12-05 14:33] DzmitryHumianiuk commented on #765
@sandeepnagra yes, it supports video as well, if send as base64 encoded.

[2019-12-05 15:02] chhatbarjignesh commented on #765
Thank you @DzmitryHumianiuk for quick responses, will Markdown work for videos? just asking

[2019-12-05 15:03] DzmitryHumianiuk commented on #765
@chhatbarjignesh nope.

[2019-12-05 15:35] chhatbarjignesh commented on #765
Thank you so much @DzmitryHumianiuk closing the issue

[2019-12-05 15:35] #765 closed

[2019-12-05 17:44] nickhodaly commented on #767
@DzmitryHumianiuk Yes sir, I do.

[2019-12-05 19:39] chhatbarjignesh opened #768 "Markdown support for Video links in Logs"
**Describe the solution you'd like**
It would be great if ReportPortal can support Video markdown similar to how it supports for Images in Logs

something like that is already available for images like below

`![Image of From S3](https://reportportal.io/resources/site.bb1ee4.png)`

**Is your feature request related to a problem? Please describe.**
Its not related to any problem in reportportal but

[2019-12-05 19:44] sandeepnagra commented on #768
@DzmitryHumianiuk - I know you had recommended attaching videos as base64 encoded however when I did that, it doesn't render the video and it looks like:
![image](https://user-images.githubusercontent.com/9598669/70267869-500b1880-176d-11ea-89f9-4b2bd6c91ddc.png)
Clicking on it downloads the .mov of the videos which plays fine in local player. One thing to note here is that the original video file

[2019-12-05 20:49] sandeepnagra commented on #768
Just to add more context to original request, we are looking for markdown support for video which can render videos like:
![image](https://user-images.githubusercontent.com/9598669/70272749-c5c7b200-1776-11ea-8382-395ddd894400.png)

[2019-12-05 21:59] chhatbarjignesh commented on #768
If html markdown support is added this will solve the bigger problem for us as well we have some custom html reporting that we do for some of our different test.

[2019-12-06 02:53] nickhodaly opened #769 "ReportPortal V5 API Log Attachments Documentation"
Can someone please provide more detailed documentation on how to attach screenshots and other files to logs. This functionality was working fine for me on V4 and does not seem to work on V5. I am using multi-part requests with no luck.

I am using the `/v1/{projectName}/log` endpoint.

[2019-12-06 02:55] nickhodaly commented on #767
I have also tried `/uat/sso/login/github` as the authorization callback URL with no success as well.

[2019-12-06 07:37] DzmitryHumianiuk commented on #767
That requires some changes in code.
We never used enterprise version, so don’t have account to test

[2019-12-06 07:53] nickhodaly commented on #767
Is this something that is specific to V5? We had GitHub auth working properly in V4.

[2019-12-06 08:41] DzmitryHumianiuk commented on #767
Hmmmmm. Then it should be a bug

[2019-12-06 10:35] ekisielinski commented on #735
Displaying 0 stats or removing empty suites will be sufficient for me :)

[2019-12-06 15:42] sandeepnagra commented on #768
I noticed that this bug is reported here already - https://github.com/reportportal/service-ui/issues/2243

[2019-12-06 15:47] sandeepnagra commented on #768
We are using a hack to display a thumbnail clicking which open an html page in new tab with video embedded in it.
```[![Watch the video](https://<s3-bucket-url>/sample-thumbnail.jpg)](https://<s3-bucket-url>/page-with-embedded-video.html) ```

[2019-12-06 18:25] nickhodaly commented on #767
@DzmitryHumianiuk Can you let me know if I am using the correct authorization callback URL? Where can I find documentation on the homepage URL and authorization callback URL that are required by GitHub Auth?

Thanks for your help!

[2019-12-06 20:08] DzmitryHumianiuk commented on #767
https://github.com/reportportal/reportportal/wiki/How-to-configure-login-via-GitHub

[2019-12-06 20:17] DzmitryHumianiuk commented on #768
Than it should be splitted in 2 requests:

- support inline HTML in logs
- add video player for representing video links

[2019-12-06 20:38] nvborisenko commented on #735
Cannot delete empty suites when launch is in progress state.

`{"error_code":4063,"message":"Unable to perform operation for non-finished launch. Unable to delete test item ['5deabacc69515b000113477f'] under launch ['5deabacc69515b0001134778'] with 'In progress' state"})`

[2019-12-06 23:37] nickhodaly commented on #767
Using the Homepage URL and Authorization callback URL listed on that doc I go through the process of sharing my GitHub details with Report Portal, click 'Authorize' button and I am redirected to:

[code]

The url in the address bar on this page is: `https://test.reportportal.com/uat/sso/login/github?code=4cdXXXXXXXXXXX12&state=bXXXXi`

[2019-12-09 02:04] pavithrak2006 commented on #475
Hello
I am also getting the same problem of
![image](https://user-images.githubusercontent.com/5491004/70401414-7c3cc880-19fd-11ea-9bf9-c65aa7f77023.png)

I did the unnamed volume as explained as shown below in "Compose yml".
1. under specific sections,
    volumes:
       - **mongo:'/data/db'**
     volumes:
       - **consul:'/consul/data'**
      volumes:
      - **elasticsearch:'/usr/share/ela

[2019-12-09 10:53] Agurul opened #770 "Send Email notification with attachment (Log files)"
Hi, Is there any option to send email with log files attached ? If not Can you add it.

I'm using report portal for data validation test results publishing. Since it is huge data validation I can't use assertion in my code instead of that I ll write results into csv file and publishing csv file as my log file.

I need this file to be attached to email and send the results through email. Since Asse

[2019-12-09 20:46] nvborisenko commented on #735
Given that:
 - agent is not able to delete empty suites in run-time
 - agent doesn't want to delete empty suites after tests execution because of RP is directed to be real-time reporting system.

My conclusion is the following: this issue should be resolved on server side to properly handle empty suites.. if NUnit team will not fix the issue in near future...

[2019-12-10 10:33] maartenjanvangool opened #772 "Api keeps spamming exceptions about a sql insert of a project that does not exist"
I'm getting spammed over and over again in the api logging with the following error and warning. I think it has to do with me deleting some personal projects. The postgres server also keeps spamming messages (see below).

<code>
2019-12-10 10:11:01.546 ERROR 1 --- [ntContainer#1-1] o.h.engine.jdbc.spi.SqlExceptionHelper   :

ERROR: insert or update on table "activity" violates foreign key constrai

[2019-12-10 11:47] moatazeldebsy opened #771 "[v5bug] - Test data not displayed on ReportPortal from XCUITest"
**Describe the bug**
Hi I want to integrate ReportPortal with XCUITest using this agent and I updated the info.plist with the data like the screenshot, but when running the test and after the test finished I didn’t get any data in report portal.

**Screenshots**
<img width="739" alt="70258076-d9314800-178b-11ea-9dde-19d16ac1767c" src="https://user-images.githubusercontent.com/45570191/70526983-18c

[2019-12-10 12:53] #772 closed

[2019-12-10 13:02] evjlobanova commented on #769
https://github.com/ihar-kahadouski/dev-guide/blob/master/reporting.md#batch-save-logs

[2019-12-10 13:03] evjlobanova commented on #769
If it helps, please close the issue.

If you still have questions regarding this topic, please let @ihar-kahadouski know

[2019-12-10 13:11] maartenjanvangool commented on #772
So... Restarting a component to get rid of an exception is an acceptable solution to you? :thinking:

[2019-12-10 15:07] PavelGermanovich commented on #737
The problem was reproduced because two log4j.properties files were exist in the project (one in java -> resources and the other in test -> resources). I removed the redundant second file and it works now, thanks

[2019-12-10 15:56] AndrewSkoba commented on #312
Hello Dmitriy. Your feature with email notification really useful and i like it. But I faced with the need to changes email topic. After investigated RP manual I did not find information about this.
Could you share with me some tips about this or this feature currently is not available?
Thank you.

[2019-12-10 16:23] arunkumar-muthusamy commented on #762
Hi @DzmitryHumianiuk / @evjlobanova , Can you pls help me with this issue?

[2019-12-11 08:09] evjlobanova commented on #762
@arunkumar-muthusamy Hello! Which versions of agent do you use?
@Yumfriez could you please look and help?

[2019-12-11 08:09] evjlobanova commented on #762
@Yumfriez could you please send a dev quide for nested steps?

[2019-12-11 10:16] Yumfriez commented on #762
@arunkumar-muthusamy To enable 'nested steps' you should specify 'javaagent with aspectj weaver dependency' in your `pom build config` and add `aop-ajc.xml` file to the `META-INF folder inside resources dir`. Then you should mark required methods with '@Step' annotation
Here is a link for nested steps guide: https://github.com/reportportal/client-java/wiki/Nested-steps
This is a fully configured n

[2019-12-11 10:43] pbortnik commented on #772
Hi, issue was known and already fixed. Will be in the next RC version

[2019-12-11 10:47] pbortnik commented on #772
[Fixing commit](https://github.com/reportportal/service-api/commit/9abc631501b549054be7bcc47e8aa71cf7b4c3e2#diff-b8ce52c81480116b1386676c2df67626)

[2019-12-11 11:59] maartenjanvangool commented on #772
Ah ok. :+1: Good job!

[2019-12-11 13:04] DzmitryHumianiuk commented on #770
hi @Agurul,
This request is quite specific to your case, and does not fall under the General solution.
So I'm not sure we'll ever put it in our backlog.

My vision here, first of all, that automated test cases with **no** Assertions is not the best choice.

At least,  if you have a mixture of tests that have Asserts and that do not, then I would recommend to set No-Assertion test cases to `FAILED`

[2019-12-11 13:06] #770 closed

[2019-12-11 13:17] DzmitryHumianiuk commented on #762
@arunkumar-muthusamy let us know the results.
we have it in focus for now

[2019-12-11 13:35] DzmitryHumianiuk commented on #312
@AndrewSkoba it's not configurable at the moment.

I guess we will add it during re-work of notifications section.
There is not ETA for that changes at the moment.

[2019-12-11 17:27] arunkumar-muthusamy commented on #762
@DzmitryHumianiuk @Yumfriez @evjlobanova , Thank you so much for helping out!!

It worked like a charm for regular `Java+TestNG+Logback` test. But not for the Cucumber BDD. In @Yumfriez document references, it never talked about Cucumber support. SO I assume, my original question is still open.

Please find below the details.

Regular test `Java+TestNG+Logback`:

[code]
ReportPortal Logs came out

[2019-12-11 21:04] nickhodaly commented on #769
@evjlobanova @ihar-kahadouski I have followed the documentation [you linked above](https://github.com/ihar-kahadouski/dev-guide/blob/master/reporting.md#batch-save-logs) using postman to keep things as simple as possible and I still have not had any success attaching files to logs in Report Portal V5.

Again, this functionality was working fine for me in V4.

These are the versions we are using:
C

[2019-12-11 21:12] ihar-kahadouski commented on #769
@nickhodaly Have you joined to our slack? Can you contact me there and provide mode detailed information about your problem?

[2019-12-12 12:58] evjlobanova commented on #764
@AlehB Please help with this issue?
@Vasanth185 could you please send us where you want to deploy? Is it Docker or Kuber?
Which version 4 or 5?

[2019-12-12 14:13] AlehB commented on #764
Hi @Vasanth185 ,

If you are using Kubernetes version of RP 5.0, then it is described in the documentation (https://github.com/reportportal/kubernetes/tree/master/reportportal/v5#7-elasticsearch-installation). All you need to do is correctly set ES address and port in values.yaml and make sure your network rules are allowed such connection
For Docker version please use env variable "ES_HOSTS" for

[2019-12-12 18:06] AndrewSkoba commented on #312
@DzmitryHumianiuk
Thank you for your answer.

[2019-12-13 00:53] nickhodaly commented on #769
@ihar-kahadouski Thank you very much for pointing us in the right direction.

Our issue was with our minio configuration where we set our minio domain incorrectly. Once this issue was resolved profile pictures started working, logs with attachments started working as well as GitHub OAuth.

[2019-12-13 00:53] #769 closed

[2019-12-13 00:53] nickhodaly commented on #767
@ihar-kahadouski Thank you very much for pointing us in the right direction.

Our issue was with our minio configuration where we set our minio domain incorrectly. Once this issue was resolved profile pictures started working, logs with attachments started working as well as GitHub OAuth.

[2019-12-13 00:53] #767 closed

[2019-12-13 10:10] evjlobanova commented on #363
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

[2019-12-13 13:37] Vasanth185 commented on #764
Hi @AlehB & @evjlobanova  ,

Thanks for the response and solution, I am using Report Portal 4 and using Docker version for ES. Adding "ES_HOSTS" for service analyzer did the trick.

But after adding the endpoint in service analyzer the logs are routed to ES, but AUTO-ANALYSIS is not working after i changed the endpoint of ES. Every launch is going to 'To Investigate' status. In AUTO-ANALYSIS setti

[2019-12-13 13:44] AlehB commented on #764
Hi @Vasanth185 ,
We propose you to move to ReportPortal 5, we do not fully support the previous version anymore
Docker Compose https://github.com/reportportal/reportportal/blob/master/docker-compose-v5.yml
Kubernetes Helm chart https://github.com/reportportal/kubernetes/tree/master/reportportal/v5

[2019-12-13 18:26] Vasanth185 commented on #764
Hi @AlehB ,

Thanks for the help. After migrating to RP 5, I am able to configure Elasticsearch Service to external server and AUTO-ANALYSIS also working. 👍

[2019-12-13 21:56] arunkumar-muthusamy opened #774 "[v5bug]: 5.0.0-RC-2: Binary Attachment Delete Failed"
**Describe the bug**
While deleting the launch (with binary attachments) from UI, the delete operation of binary data on file system `minio` is failing in the API layer.

Here is the version of components deployed > `Current version:API Service: 5.0.0-RC-2;Index Service: 5.0.4;Authorization Service: 5.0;Service UI: 5.0.0-RC-3;`

**To Reproduce**
Tail the API logs `docker-compose -p reportportal lo

[2019-12-14 01:15] #764 closed

[2019-12-16 11:46] evjlobanova commented on #766
@OstapJ

[2019-12-17 13:22] evjlobanova commented on #763
https://github.com/reportportal/agent-java-testNG/issues/66

[2019-12-17 14:25] OstapJ commented on #766
@DzmitryHumianiuk @evjlobanova sorry for the delay.
Current version:
API Service: 5.0.0-RC-2;Index Service: 5.0.4;Authorization Service: 5.0;Service UI: 5.0.0-RC-3

[2019-12-17 15:14] OstapJ opened #776 "[v5bug] Retried test is shown as a separate test. They don't merge in single one"
**Describe the bug**

Retired tests should be merged in the single test item. Whereas one of the retied tests is not merged

**To Reproduce**
The test has a DataProvider with 1 row
The retry count is 2
`
private static AtomicInteger counterIterator = new AtomicInteger(0);
`

Test(description = "DataProvider while retrying the test. DP is iterator", dataProvider = "usersIteratorRetry", retryAnalyze

[2019-12-17 17:22] dharma-keyutech opened #777 "Connect to localhost:8443 [localhost/127.0.0.1, localhost/0:0:0:0:0:0:0:1] failed: Connection refused: connect"
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running TestSuite
22:49:34,675 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback-test.xml]
22:49:34,675 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
22:49:34,675 |-INFO in ch.qos.log

[2019-12-17 17:24] dharma-keyutech commented on #777
Here is My POM Dependency of reportportal testng

<dependency>
<groupId>com.epam.reportportal</groupId>
  <artifactId>agent-java-testng</artifactId>
  <version>3.0.0-BETA-1</version>
</dependency>

[2019-12-17 18:23] pkum11 opened #778 "Not able to add Project activity panel widget"
**Describe the bug**
When trying to add project activity panel widget, getting error

Could not save widget on server : incorrect save widget request. Field 'start_time' cannot be used for creating data for widgets.

**Expected behavior**
Widget should get added.

**Screenshots**

**Versions:**
 - OS=Mac Mojave, Browser=chrome 78
 - Version of RP
Current version: Analysis Service: 4.3.0; API Servi

[2019-12-17 18:23] pkum11 commented on #778
Went through default selections only

[2019-12-17 19:01] DzmitryHumianiuk commented on #763
same to reportportal/agent-java-testNG#66

[2019-12-17 19:01] #763 closed

[2019-12-17 19:14] DzmitryHumianiuk commented on #775
@chan24 what is the ReportPortal version? (available under login form)

[2019-12-18 05:03] willhope opened #779 "how to integration with other BTS(eg our company bts)?"
**Describe the solution you'd like**
...

**Is your feature request related to a problem? Please describe.**
...

[2019-12-18 08:24] rajkumar-cp commented on #724
@DzmitryHumianiuk

Could you be a little more specific about this point

if you see nothing after the click, that means that you structure send with invalid levels. Tests send as Suites or kind of it.

[2019-12-18 08:40] claudiospizzi commented on #364
@nickhodaly We've deployed v5 RC, where can I find this setting to disable the personal projects?

[2019-12-19 04:18] likitha-dot opened #780 "Use of import of zip file in reportportal.io"
I used the import functionality to importing a zip file. That zip file contains test cases, reportportal.properties file, drivers, pom.xml file and also a testNg.xml file but i didn't get any update can anyone suggest me or explain me how to use this import functionality in reportportal.io below i have attached a image after uploading the zip file the wrong output was generated some of failed issu

[2019-12-19 06:58] mqadi opened #781 "[v5bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone

[2019-12-19 11:53] likitha-dot commented on #780
<img width="640" alt="demo_maven" src="https://user-images.githubusercontent.com/59014290/71171634-4660d500-2284-11ea-86fd-878edbf63429.png">

[2019-12-19 12:00] DzmitryHumianiuk commented on #781
@mqadi will you add any details?
you've posted empty template

[2019-12-19 13:02] evjlobanova commented on #780
@likitha-dot Please check documentation about import https://reportportal.io/docs/Log-data-import

[2019-12-19 13:05] evjlobanova commented on #779
@willhope Could you please tell us which version of ReportPortal you use?

[2019-12-19 13:08] evjlobanova commented on #778
@pkum11 Going to be fixed in version 5.0

[2019-12-19 13:08] evjlobanova commented on #778
Release of version 5.0 will be on the next week, please try and let us know if we can close an issue.

[2019-12-19 13:15] #776 closed

[2019-12-19 13:26] willhope commented on #779
ReportPortal version is v5.1. BTS is our company self-developed， but it provides standard restfulapi. Do ReportPortal suport a plug-in mechanism to integration other bts？

[2019-12-19 13:30] evjlobanova commented on #759
@Agurul your use case is a little bit confusing. Could you pleas clarify it? Do you want to attach this file to test in ReportPortal, or do you want to import results from csv file to report portal?

[2019-12-19 13:31] #756 closed

[2019-12-19 13:33] nvborisenko commented on #759
She wants to attach file as log item.

[2019-12-19 13:40] evjlobanova commented on #759
@Agurul Could you please drop us an e-mail at ![image](https://user-images.githubusercontent.com/30413511/71177928-1f9fa000-227e-11ea-8ff2-02923611938f.png)
 and we will orginize a call with you and we would dive into details

[2019-12-19 19:48] pkum11 commented on #778
Once we upgrade to 5.0, i will check and close this tkt accordingly.

[2019-12-20 10:50] Yumfriez commented on #774
@arunkumar-muthusamy As I can see from logs trace:
[code]
Exception occures because User photo cannot be loaded.
So when you delete launch, attachments of its items' logs are removed successfully.
There is, probably, some problems with user photo file

[2019-12-20 10:57] evjlobanova commented on #734
@rupeshkumarram I close this issue, please reopen, if you still have an issue

[2019-12-20 10:57] #734 closed

[2019-12-20 11:27] evjlobanova commented on #692
I close an issue because of lack of details.
Please, if need a help, feel free to reopen it

[2019-12-20 11:27] #692 closed

[2019-12-20 11:46] DzmitryHumianiuk commented on #697
we have a separate open sourced tool for this: https://drill4j.github.io/

ReportPortal will retrieve coverage/mapping information from it going forward.
but it's a far far away backlog.

[2019-12-20 13:36] cameronbraid commented on #715
I'm running into the same issue

[2019-12-20 13:50] cameronbraid commented on #715
Could we just deploy traefik in a pod and configure it with a file ?
Something like : https://github.com/philall/openshift-traefik

[2019-12-20 14:50] #781 closed

[2019-12-20 14:53] evjlobanova commented on #779
In version 5.0 we have plugin mechanism, but now it has been implemented without possibility to write plugins by contributors. We are planning to refactor  the system.

[2019-12-20 15:21] arunkumar-muthusamy commented on #774
Thanks, @Yumfriez ! BTW, i have created few users where those users does not have profile photo. Which might cause this issue. You can consider this use case for and handle the exception.

Also, how about the error in `minio` pods?

[2019-12-20 15:49] DzmitryHumianiuk commented on #715
@avarabyeu assuming concerns above, can we make ui as a root path?

[2019-12-20 17:37] DzmitryHumianiuk commented on #724
@rajkumar-cp
could you please click on Launch name
![image](https://user-images.githubusercontent.com/11332788/71278345-67025b00-2368-11ea-82ac-1bc0382b6b0f.png)
instead of `To investigate` badge, and show what's below it.

[2019-12-23 10:29] avarabyeu commented on #715
@cameronbraid @scphantm Traefik/gateway service is still there:
https://github.com/reportportal/reportportal/blob/master/docker-compose-v5.yml#L17

[2019-12-23 16:06] HardNorth commented on #775
@chan24 please use the latest TestNG agent: 4.2.2
http://dl.bintray.com/epam/reportportal/com/epam/reportportal/agent-java-testng/4.2.2/

[2019-12-23 16:06] #775 closed

[2019-12-23 19:07] nvborisenko opened #782 "[v5bug] Backward compatibility between v4 and v5"
I just executed examples from `example-net-nunit` repo, configured to send results to public beta instance, and got error message:

[code]

As I understand:
1. Client makes a call POST `api/v1/{project}/item` (api creates a test item and returns ID)
2. Client makes a call GET `api/v1/{project}/item/{id}` to get the details of the test item

It works perfect with RP v4, and sends error with v5.

I

[2019-12-23 20:32] nvborisenko commented on #746
I'm reopening it because v5 is going to be backward compatible with v4.

We are appending "MARKDOWN_MODE" string because we think we are interacting with v4. Interaction with v5 should not be broken because of backward compatibility.

As I understand client should not be changed.

[2019-12-23 21:01] DzmitryHumianiuk commented on #746
my assumption here that if we will keep cutting `!!!MARKDOWN_MODE!!!` for v5 then nobody will know that it should be removed.

and there will no be push for update.

does it make sense?

[2019-12-23 21:09] nvborisenko commented on #746
If it is not backward compatible, we need adapt client call. Is `v5` backward compatible with `v4`?

[2019-12-23 22:13] 501NotImplemented opened #783 "[FR] Add ability to assign test ownership for the existing tests"
As a user with a manager permission role, I would like to have the ability to assign the users from the project members list as "test owners" for the existing tests, so they would be responsible for maintaining and analyzing them.

[2019-12-24 07:20] hs-nmikulskaya opened #784 "Editing the group of filters"
**Describe the solution you'd like**
As a user with the manager permission role, I would like to be able to edit a group of filters at the same time in order to replace one common value used in these filters with a new one.

**Is your feature request related to a problem? Please describe.**
I have a large number of filters indicating the version of the product. As soon as a new version of a produc

[2019-12-24 07:28] hs-nmikulskaya opened #785 "Widgets copying"
**Describe the solution you'd like**
As a user with the role of a project manager, I want to be able to copy widgets, which allows me to create similar widgets with different filters.

**Is your feature request related to a problem? Please describe.**
When I customize dashboards, I need to create a series of similar widgets that have the same functionality and are based on filters, where the diffe

[2019-12-24 08:08] hs-nmikulskaya opened #786 "Transfer widgets between dashboards"
**Describe the solution you'd like**
As a user with the rights of a project manager, I want to be able to move widgets between dashboards.

**Is your feature request related to a problem? Please describe.**
I am customizing dashboards. In the process, I understand that the existing dashboard needs to be split into two. To do this, I need to transfer some of the widgets to a new dashboard. I make t

[2019-12-24 10:03] cameronbraid commented on #715
FYI I managed to get it working with traefik 2.0 on openshift

Here's the configmap :

[code]

and the deployment :

[code]

[2019-12-24 10:08] cameronbraid commented on #715
and service :

[code]

and route for app :
[code]

and route for dashboard (insecure)

[code]

[2019-12-24 10:09] cameronbraid commented on #715
The rest of the kubernetes resources came from the heml chart, hover I had to modify them a little bit to get them to work on openshift 3.9

[2019-12-24 10:20] evjlobanova commented on #784
@hs-nmikulskaya I suppose, we can resolve this request by adding possibility to choose build (version, release, or something on the widget view)

Something like this:
Choose a key attribute for the widget:
![image](https://user-images.githubusercontent.com/30413511/71408306-c3a69400-264e-11ea-9ca3-75ad0d29f74d.png)

Choose need build on the widget:
![image](https://user-images.githubusercontent.co

[2019-12-24 10:25] hs-nmikulskaya commented on #784
In case the attribute key can be applied to any widget, yes, it will work for us.

[2019-12-24 10:48] hs-nmikulskaya opened #787 "Dashboards highlighting"
**Describe the solution you'd like**
As a user with the rights of a project manager, I want to be able:
1. highlight various dashboards in color, so that it is more convenient for users to move between a large number of dashboards.
2. group dashboards into separate areas according to an arbitrary parameter or make nested multi-level dashboards (a dashboard contains a group of dashboards).

**Is yo

[2019-12-24 10:53] DzmitryHumianiuk commented on #746
yes it does,
at least we struggle to keep it compatible with latest fixes

[2019-12-24 11:14] DzmitryHumianiuk commented on #715
@cameronbraid awesome.
could you please combine it in one pull request,
so we can post it as a separate branch or subfolder for helm chart

[2019-12-24 11:24] #782 closed

[2019-12-25 02:30] willhope commented on #779
In version 5.0 , how to  integration with Jira ?

[2019-12-25 09:17] cameronbraid commented on #715
What would be your preference ?    I think adding a value to indicate the deployment environment is openshift would be a good idea (rather than a separate branch) then it can all be together

[2019-12-26 08:11] hs-nmikulskaya commented on #784
Group editing of filters is still necessary because even if it is possible to configure the filter on the widget, it will still be a laborious process - changing the filter value on many widgets. And we will just have many widgets with similar filters. This is a feature of any multi-platform projects.

[2019-12-26 09:16] hs-nmikulskaya opened #788 "Filter bugs by their type in the Unique bugs widget"
**Describe the solution you'd like**
As a user with the role of a project manager or members, I want to be able to filter bugs by type in the Unique Bugs widget taking into account the types of bugs added in our project.

**Is your feature request related to a problem? Please describe.**
On our project, defects have several degrees of importance. We need to display a table of blockers for the new

[2019-12-26 12:04] nagaeva-anastasia opened #789 "TestNG 7.1.0 and DataProvider"
**Describe the bug**
I have test with 17 data sets in yml file
Before it was split into separate test methods in RP, now RP shows it like attempts for Retry
So, I can't see failed items as 'To investigate'
**Expected behavior**
Each data set should be equals to test method in RP, failed item should be marked as 'To investigate'

**Screenshots**
previous behavior
![image](https://user-images.github

[2019-12-26 12:34] evjlobanova commented on #789
@Yumfriez @HardNorth could you please check this case for version 5.0?

[2019-12-26 12:42] evjlobanova commented on #780
@likitha-dot did it help?

[2019-12-26 12:45] pbortnik commented on #777
@dharma-keyutech hi, why do you still use 3.0.0-BETA-1 version of testng agent?

[2019-12-26 12:52] evjlobanova commented on #748
Due to no response I close the issue, if you still have this issue, feel free to reoprn it

[2019-12-26 12:52] #748 closed

[2019-12-26 12:55] evjlobanova commented on #766
@OstapJ Hello, please check the latest version of RP 5.0.0-RC-6

Soon official 5.0 version will be available.
If issue reproduces on RC-5, please reopen this issue

[2019-12-26 12:55] #766 closed

[2019-12-26 12:56] evjlobanova commented on #717
PLease check version 5.0, verify after release.

[2019-12-26 12:56] #717 closed

[2019-12-26 12:57] evjlobanova commented on #739
Due to no response I close this issue, feel free to reopen it, if you still have a problem

[2019-12-26 13:02] evjlobanova commented on #783
@501NotImplemented we are planning to introduce this feature in future version - 6.0.

Now there is no such function, but we are planning to do it in future plans.
If you use version 4. You can use `tags` for this reason, add `tag` to the test items, and then filter by them.
Or you can add info about an assignee to the `Defect comment`.

If you are using version 5, instead of tags you can use `att

[2019-12-26 13:03] evjlobanova commented on #779
https://github.com/reportportal/reportportal/issues/680

[2019-12-26 13:06] dharma-keyutech commented on #777
If i upgrade to Latest Version      Getting error  #25

[2019-12-26 14:50] HardNorth commented on #789
@nagaeva-anastasia Could you please switch on logger-java-log4j version 4.0.2 and agent-java-testng version 4.2.2?

[2019-12-26 15:57] evjlobanova commented on #454
@dagansandler in version 5.0 we have introduced plugin system.
Did you try Jira plugin? What do you think about it?

[2019-12-26 16:04] #768 closed

[2019-12-27 09:01] nagaeva-anastasia commented on #789
@HardNorth I switched on
compile group: 'com.epam.reportportal', name: 'agent-java-testng', version: '4.2.2'
compile group: 'com.epam.reportportal', name: 'logger-java-log4j', version: '4.0.2'

but behavior is still the same

[2019-12-27 09:39] HardNorth commented on #789
@nagaeva-anastasia which version of client-java your code uses now?

[2019-12-27 09:47] nagaeva-anastasia commented on #789
4.0.19
![image](https://user-images.githubusercontent.com/5585400/71512404-11b5d480-28a7-11ea-9cf2-fcca70c67ca3.png)

[2019-12-27 11:08] HardNorth commented on #789
How do you bypass these data-sets? Can you share the code of a data provider?

[2019-12-27 11:41] nagaeva-anastasia commented on #789
the test has the following structure

[code]

with

[code]

and

[code]

[2019-12-27 14:54] DzmitryHumianiuk commented on #715
add value to indicated OpenShift

[2019-12-27 15:49] OstapJ opened #790 "[v5bug]: 5.0.0-RC5: POST api/v1/cloud/launch returns 500. SimpleGrantedAuthority exception"
**Describe the bug**
InternalReportPortalClientException: Report portal is not functioning correctly. Response is not json is thrown when we try to create a Launch (POST “https://reportportal.dev.ring.net/api/v1/cloud/launch")

**To Reproduce**
1. Execute the test

**Expected behavior**
The launch is created, there is no exception

**Screenshots**

**Server**
Analysis Service: 5.0.0-RC-5;API Servi

[2019-12-27 18:05] ihar-kahadouski commented on #790
@OstapJ please regenerate API token and try to report launch again using the new one

[2019-12-30 14:02] davoodharun commented on #82
I don't see this mentioned in the docs. is this officially supported?

[2019-12-31 13:05] dharma-keyutech opened #791 "How to attach Test failure ScreenShots and TestFailure Video To Logs in reportportal Using TestNG and Log4j2 With java"

[2020-01-01 13:24] rajkumar-cp commented on #724
@DzmitryHumianiuk

On clicking the launch name it displays 4 test names ( which i have defined in my testNg.xml file). In that if 1 case failed in test 1 it shows 1 case needs to be investigated. On clicking that 1 again it navigates me to a blank screen where no cases are available for investigation.

[2020-01-03 19:51] DzmitryHumianiuk commented on #724
@rajkumar-cp could you please screenshot those 4 test names?

you can blank the names, i just need to see which application grid is used for it

[2020-01-03 20:22] DzmitryHumianiuk commented on #82
@davoodharun
we refactoring agents to meet changes of version 5 at the moment.
@KatsiarynaTatarynovich has Jasmine on the priority list,
so it should be updated soon

[2020-01-04 07:44] cameronbraid commented on #715
PR for openshift support https://github.com/reportportal/kubernetes/pull/77

[2020-01-04 07:51] DzmitryHumianiuk commented on #715
@avarabyeu @AlehB could you plz take a look?

[2020-01-04 08:09] evjlobanova commented on #791
For version 4: https://github.com/reportportal/example-java-TestNG

Version 5 agent examples : https://github.com/reportportal/examples-java
And dex guide for reporting for version 5: https://github.com/ihar-kahadouski/dev-guide/blob/master/reporting.md

[2020-01-05 09:51] dharma-keyutech commented on #791
Closed with This Below Code
_______________________________________________________________________________________

// Take screenshots
		public static void onTestFailure() {

			 ReportPortalMessage message = null;
			    try {
			    	TakesScreenshot ts = (TakesScreenshot)driver;
			    	File srcFile = ts.getScreenshotAs(OutputType.FILE);
			    	java.util.Date d= new java.util.Date();

[2020-01-05 09:51] #791 closed

[2020-01-06 04:41] rajkumar-cp commented on #724
[Report Portal Challenges.docx](https://github.com/reportportal/reportportal/files/4024740/Report.Portal.Challenges.docx)

PFA the document

[2020-01-07 16:47] automationhacks opened #792 "How to show report portal launches with classes instead of gradle suite?"
I am using report portal with Kotlin and TestNG and gradle as the build tool

[code]

By default, all the tests are grouped under a single Gradle suite and Gradle test with a list of all Before/After setup and teardowns and individual tests. However, testNG grade reports have the flexibility of seeing tests grouped under the classes in which they belong to.

[Screenshot](https://i.stack.imgur.com/

[2020-01-07 16:50] gaurav-singh opened #793 "How to see TestNG test-results xml results from gradle on report portal?"
I am using report portal with Kotlin and TestNG and gradle as the build tool

[code]

When I run the tests via gradle wrapper, it generates a bunch of artifacts under build folder after the run. I am specially interested in the .xml files contents under /build/test-results/<gradle task name>/<test class.xml>

Since it has a <system-out> tag with all the standard output. This has useful context aro

[2020-01-08 12:45] OstapJ commented on #790
@ihar-kahadouski thanks, indeed the token regeneration helped to resolve the issue.

[2020-01-08 12:45] #790 closed

[2020-01-08 14:47] pbortnik commented on #755
Hi, considering to the issue with 'postgres' role does not exists. It is an issue of docker-compose health check config. Try to use the latest docker-compose-v5 where it is fixed.

[2020-01-09 12:11] dharma-keyutech commented on #685
Can you please provide any document to install RP  in AWS or any server

[2020-01-09 12:40] nagaeva-anastasia commented on #789
Hi, any updates on this?

[2020-01-09 13:40] HardNorth commented on #789
@nagaeva-anastasia We are working on it

[2020-01-09 14:24] DzmitryHumianiuk commented on #685
@dharma-keyutech kubernetes helm chart: https://github.com/reportportal/kubernetes/tree/master/reportportal/v5

[2020-01-09 14:53] DzmitryHumianiuk commented on #724
@rajkumar-cp almost there.
could you please click on `AndroidMobile` name in **Step3**
so we can see what type of object corresponds to Tests with `To Investigate` issue.

Reason why view is empty once you click at `To Investigate`, ReporPortal send filter like `give me Test cases (step type) for AndroidMobile with issue=ToInvestigate`.
If data was sent with incorrect type, like if you test was se

[2020-01-10 05:37] hs-nmikulskaya opened #794 "After a filter was edited a 'Display on launches' switch become switch on automatically"
**Describe the bug**
1. Go to the 'Filter' tab.
2. Click on any filter has a 'Display on launches' switched off
3. Edit the filter and save it

Actual result: on the Filter tab the edited filter has the 'Display on launches' switch in On status.

**Expected behavior**
on the Filter tab the edited filter has the 'Display on launches' switch in OFF status.

**Versions:**
 - macOS, Chrome (the latest

[2020-01-10 09:47] hs-mzaretski opened #795 "Test launch doesn't finish despite all tests are finished"
**Describe the bug**
Test launch in RP doesn't finish but in launch all tests finished. Also on SauceLabs where all tests run this launch finished already. In addition to this, one test wasn't send to the RP. On SauceLabs tests amount is 214 but on RP 213 only

**Expected behavior**
Test launch in RP finished as soon as all tests from the launch finished

**Screenshots**
<img width="501" alt="RPBu

[2020-01-10 11:21] DzmitryHumianiuk commented on #795
@hs-mzaretski do you have logs of test automation itself available?

it will bring some light on issue root

[2020-01-10 15:14] DzmitryHumianiuk commented on #794
@hs-nmikulskaya it's not a bug. it works as designed.
once you click on the name - it opens it in Launches view, and displays it on it.

just click `Close` after edit and save

![image](https://user-images.githubusercontent.com/11332788/72163543-1022fb00-33d5-11ea-982c-e61459c8b1b3.png)

[2020-01-10 15:14] #794 closed

[2020-01-12 19:21] DzmitryHumianiuk commented on #767
@nickhodaly did you made any specific configuration for GitHub enterprise other than listed here?
https://github.com/reportportal/reportportal/wiki/How-to-configure-login-via-GitHub

Just want to clarify that instruction is correct.
plz let me know

[2020-01-12 19:49] nickhodaly commented on #767
No, nothing special needed to be done. We had misconfigured minio and that was blocking the user profiles pictures, test attachments and the github Auth. Once we corrected the minio deployment issue it fixed our other issues.

[2020-01-13 06:51] DzmitryHumianiuk commented on #767
@nickhodaly thanks bro!

[2020-01-13 08:44] hs-mzaretski commented on #795
Where I can find logs?

[2020-01-13 09:14] rajkumar-cp commented on #724
@DzmitryHumianiuk

On clicking AndroidMobile all the cases in that test(AndroidMobile) was displayed except the cases that needs to be investigated. If you can see number of cases corresponding to that test is 52 but i see only 50 cases there.

[2020-01-13 10:29] dharma-keyutech commented on #173
HOw to use RP API as OUR requirement

[2020-01-13 13:09] DzmitryHumianiuk commented on #724
@rajkumar-cp then it is issue statistics.
runtime calculation made it wrong, cause of concurrency access to objects in DB.

this was an issue for MongoDB (reportportal v1-v4)
in v5 we switched to PostgreSQL, which should not have this issue anymore.

**Proposal**: switch to v5

[2020-01-13 13:09] #724 closed

[2020-01-13 13:47] DzmitryHumianiuk commented on #795
@hs-mzaretski your test automation logs. any console output.
you can search for anything like `.ReportPortal.`

[2020-01-14 13:23] evjlobanova commented on #789
We take this issue in the nearest sprints

[2020-01-14 13:24] evjlobanova commented on #780
Because of no responce, I have closed this issue, feel free to reopen it

[2020-01-14 13:24] #780 closed

[2020-01-14 13:29] evjlobanova commented on #793
@gaurav-singh Hello, thank you for request.
Am I right, you want the same import functionality as for JUnit, but for TestNG

[2020-01-14 13:32] evjlobanova commented on #777
@dharma-keyutech you link a feature request #25, may be you mean something else?

[2020-01-14 13:57] DzmitryHumianiuk commented on #792
@gaurav-singh simple answer is YES. It's possible.

full answer: it requires modifications,
most likely representation under one suite is the way how gradle handles testng suites.

i would recommend to debug/experiment with possible options to start TestNG tests from Gradle.

[2020-01-14 14:30] arybkin commented on #795
Hello guys. Here are two questions:
@hs-mzaretski  - do you have any parametrized tests in your run? Just to identify for myself is it the same problem or not for me.

@DzmitryHumianiuk  Have you updated something on rp.epam for the last couple days?

I have had issue with not finished test runs since 13 of January evening. Next errors are in logs:
Finishing to send the results to Report Portal...

[2020-01-14 15:08] DzmitryHumianiuk commented on #795
@arybkin @hs-mzaretski  simple answer: fixed in v5

[2020-01-14 15:17] arybkin commented on #795
@DzmitryHumianiuk  but it worked yesterday and before=). So did you change anything yesterday?

[2020-01-14 15:39] nvborisenko commented on #795
@arybkin new versions of agents for c# will try to negotiate this issue. Sometimes http request might be timed out. New versions will just retry requests. It might help. Watch for agent releases.

[2020-01-14 20:31] nvborisenko commented on #795
@arybkin please try **ReportPortal.NUnit v3.7.12**. If it doesn't help please create separate issue in [agent-net-nunit](https://github.com/reportportal/agent-net-nunit) repository.

[2020-01-16 12:41] arybkin commented on #795
@nvborisenko thanks for your attention. So yesterday it worked for old and new versions of nuget package. Now everything is good for me.

Thanks,
Alex

[2020-01-16 13:09] #795 closed

[2020-01-16 13:16] DzmitryHumianiuk commented on #760
closed with respect to v5.0

please verify in new version, and open new issue if still actual

[2020-01-16 13:16] #760 closed

[2020-01-16 13:20] evjlobanova commented on #759
No response

[2020-01-16 13:20] #759 closed

[2020-01-16 13:24] evjlobanova commented on #751
We do not have C++ contributors in our team.
We can provide dev guides if you want to contribute
 https://reportportal.io/docs/Developers-guide

[2020-01-16 13:25] #750 closed

[2020-01-16 13:32] evjlobanova commented on #758
Added to the backlog

[2020-01-16 16:14] DzmitryHumianiuk commented on #746
@nvborisenko how do you think we should do with it?

keep cutter in logs, and rid of it in next version later?

[2020-01-16 16:48] gaurav-singh commented on #793
@evjlobanova : What I want is a way to see the standard output captured during test runs inside the report portal.

Something similar to below:

![image](https://user-images.githubusercontent.com/26017734/72544827-13732680-38ae-11ea-9bee-74b16a04c42c.png)

[2020-01-16 16:49] gaurav-singh commented on #792
Thanks for the suggestion @DzmitryHumianiuk . Let me explore on those lines to see if this could be achieved with some config on running TestNG tests on Gradle.

[2020-01-16 17:41] nvborisenko commented on #746
I think so, trimming allows to be closer to backward compatibility. V5 doesn't require client to be upgraded.

[2020-01-17 09:26] shailesh07us-adp opened #796 ""error_code":5000,"message":"Unclassified error [null] while trying to create launch"
**Describe the bug**
I am trying to create a launch by making API call. See the example powershell script below:
I had been using this script for long. I had created several launches with name 'currentgen_develop'
**If I change launch name then launch is getting created.**
### Is there any limit on number of launches with same name?

[code]
### tried on linux box too
[code]

But this is resulting

[2020-01-17 17:24] DzmitryHumianiuk commented on #505
documentation was re-structured
and updated:
https://reportportal.io/docs/Deploy-ReportPortal-without  (leads to -> https://github.com/reportportal/shell-installation )

[2020-01-19 08:17] itzikb-redhat commented on #433
@DzmitryHumianiuk Hi, Is there an update regarding this issue?

[2020-01-19 09:18] DzmitryHumianiuk commented on #433
Planned for v6
ETA Q3-Q4 2020

[2020-01-20 05:34] PankajBhanushali opened #797 "Tried Executing NUnit tests using VS2019, but results are not pushed to ReportPortal"
I tried to execute ReportPortal sample NUnit tests using Visual Studio 2019, but results are not getting pushed to ReportPortal.

I also tried exeucting SpecFlow tests and it worked. Am I missing something?

[2020-01-20 08:30] Chris-Huszcza-CS opened #798 "[v5bug] SpringBoot fails to start embedded Tomcat when installing via shell-installation"
**Describe the bug**
SpringBoot fails to start embedded Tomcat when installing via shell-installation. I've tried installing via Docker (this failed due to issues with the Consul container, which I'll raise separately), but when I tried to install via shell-installation I was able to get a ReportPortal UI displayed on port 3000. However when I tried to login using the given login details, it faile

[2020-01-20 11:44] AlehB commented on #798
Hi @Chris-Huszcza-CS,

The errors in your log say that you had some issues while initializing the RabbitMQ or API service was started with not correct RabbitMQ user

Please make sure your RabbitMQ was setup with no issues, the user was created correctly at "5. Configure user, permissions and vhost for ReportPortal", and you updated the script correspondingly at "1. Update the script with your db a

[2020-01-20 13:08] Chris-Huszcza-CS commented on #798
Hi @AlehB,

I believe RabbitMQ is up and running, I've created a new RabbitMQ user with the same credentials as in https://github.com/reportportal/reportportal/blob/master/magic-script.sh, and updated the start_rp.sh file accordingly, however I'm still getting the same issue.

When I run `rabbitmqctl list_connections`, I see this:
[code]

The service.api.log still shows this:
[code]

Part of the R

[2020-01-20 17:56] nvborisenko commented on #797
The related issue: https://github.com/reportportal/agent-net-nunit/issues/44

[2020-01-20 22:57] msydejes opened #799 "Trouble attaching screenshot"
**Describe the bug**
Hi, I am currently having trouble getting screenshots to show up in report portal.

**Expected behavior**
My code currently looks like this

[code]

The failure appears properly in the test case, but there are no attachments to be seen.
![image](https://user-images.githubusercontent.com/25910131/72762551-dc925e80-3b94-11ea-981c-e5851fcd656c.png)

**Versions:**
 - Windows 10, C

[2020-01-21 11:26] Hemanth211 opened #800 "Report Portal Display Count Of Test Cases"
Hi Team,

     I'm new to the report portal. I have installed the report portal in my local. Currently, I can see the count of lines executed in all test cases in the launches.

- Is it possible to check the test case count also form the launches?
- Is it possible to display the dashboard whenever a launch is triggered?

Thanks in advance...

[2020-01-21 13:46] tmatveyeva commented on #629
Have same issue, even though screenshot sometimes appears in log, but I cannot figure out when does it work and when not

[2020-01-21 14:05] DzmitryHumianiuk commented on #566
implemented but hidden.
will release with 5.2 (Feb-March 2020)

[2020-01-21 14:28] DzmitryHumianiuk commented on #762
Team started progress on this.

[2020-01-22 09:01] AlehB commented on #798
Hi @Chris-Huszcza-CS ,

Our dev team say this is definetely related to the RabbitMQ installation / user permissions.
Unfortunately, it is hard to say what exactly went wrong during your installation..

Could you please try to recreate RabbitMQ and RP following the guide exactly?

Please also make sure you have correct double quotes for the users permissions. ".*" instead of “.*”

Best Regards,
Ale

[2020-01-22 10:06] dharma-keyutech opened #801 "How to Remove Reportportal completly From localhost"

[2020-01-22 10:16] DzmitryHumianiuk commented on #801
@dharma-keyutech what do you mean?

[2020-01-22 11:02] dharma-keyutech commented on #801
Need To remove Reportportal From my PC

[2020-01-22 11:15] DzmitryHumianiuk commented on #801
- stop docker `docker stop $(docker ps -q)`
- find all RP related images
- delete images with docker
- delete folder `/data` in folder, where your `docker-compose.yml` file was placed

[2020-01-22 12:17] nvborisenko commented on #678
I faced the same issue: GET api/v1/{project}/launch/{id}
It returns new model, with new properties, and modified properties.

https://github.com/reportportal/reportportal/issues/684#issuecomment-525856866

[2020-01-22 12:57] dharma-keyutech commented on #801
Thank You

[2020-01-22 12:57] #801 closed

[2020-01-22 18:12] senkrish opened #802 "[v5]Export LAUNCH to PDF does not include the launch attributes"
**Describe the bug**
Exporting a launch to PDF is a great feature I love about ReportPortal. It currently includes:

- Launch Name
- Launch Description
- Owner
- Duration
- Launch Statistics

It does not seem to include the attributes I have saved for the launch. I have saved some key data regarding the launch as attributes (key:branch value:branch_name, key:timestamp value:date, etc). I do see th

[2020-01-23 09:00] Chris-Huszcza-CS commented on #798
Ah, it seems some of the files on dl.bintray.com have been moved around. I'll make some adjustments to the download_service.sh file and let you know once done.

[2020-01-23 09:23] AlehB commented on #798
Hi @Chris-Huszcza-CS ,

We have released couple days ago, but versions were not updated accordingly (confirmed from the dev team)
The scripts will be updated soon

Best Regards,
Aleh

[2020-01-23 13:22] evjlobanova commented on #799
@msydejes please check

https://github.com/reportportal/client-java/blob/7806432846add7935a4171ad921e4648006c888a/src/main/java/com/epam/reportportal/service/ReportPortal.java#L172

[2020-01-23 13:23] evjlobanova commented on #799
Also we have released a new version 5.0

[2020-01-23 13:34] evjlobanova commented on #796
@shailesh07us-adp we have released a new version of ReportPortal 5.
Now we do not support the 4th version.
Please, update your version to the latest one:
All details (reporting, deployment, data migration) about 5th version you can find in release note
https://github.com/reportportal/reportportal/releases/tag/5.0.0

[2020-01-23 13:35] evjlobanova commented on #796
Please update ReportPortal, and tell us if your issue resolved.
If you still have a problems, please reopen this issue

[2020-01-23 13:35] #796 closed

[2020-01-23 13:39] evjlobanova commented on #802
@senkrish yes, you I right a templete doesnot have attributes, but this info is returned from back end.

We are planning to rework this feature in future.

But could you please describe your use case? Why do you need this exported report? How do you utilize them?

[2020-01-23 13:42] evjlobanova commented on #800
@Hemanth211 could you pleae add  more context to these questions, they are a  little bit confusing.
What do you mean under:" the test case count also form the launches"
And: "Is it possible to display the dashboard whenever a launch is triggered?"

[2020-01-23 17:14] brianbentson opened #803 "Greyed out email in project notifications section."
**Describe the bug**
On the notifications settings page for a project the "From" email is greyed out and unchangable from the default `reportportal@example.com`
**Expected behavior**
One should be able to change the email to any email or it should be set to the default email from the email-server settings page in the administrate section.
**Screenshots**
![image](https://user-images.githubusercont

[2020-01-23 17:15] senkrish commented on #802
The use case is that the PDF generated from a Launch is used by our Quality team to ensure all the verification and validation for a release is complete, and attach that as documentary evidence to the final release report.

The current template of the report is missing some vital data that would be useful for the Software Quality team:

- The branch/release that the Launch was run against (this is

[2020-01-23 19:14] DzmitryHumianiuk commented on #363
**Configure launch re-run**
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md

**Configure multi-threaded execution to be collected in one launch:**
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

[2020-01-23 19:14] #363 closed

[2020-01-23 19:15] DzmitryHumianiuk commented on #720
Configure launch re-run
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md

Configure multi-threaded execution to be collected in one launch:
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

[2020-01-24 07:24] e-olga commented on #803
hello @brianbentson ,
There is an issue of version 4 of RP. User is not able to update the field from UI side.
To resolve the problem you need to send the API request
PUT     {host}:{port}/api/v1/project/{projectName}/emailconfig
with body:
{
  "emailCases": [
    {
      "launchNames": [
        "string"
      ],
      "recipients": [
        "string"
      ],
      "sendCase": "ALWAYS",
      "t

[2020-01-24 16:55] DzmitryHumianiuk commented on #803
Fixed in version 5

[2020-01-24 16:55] #803 closed

[2020-01-25 22:24] nvborisenko opened #890 "Incorrect valiadtion message when getting launches sorted by startTime"
GET /api/v1/default_personal/launch/?page.page=1&page.size=10&page.sort=start_time,ASC

Response:
message=Sorting parameter start_time is not defined

But `start_time` is defined.

Expected: `startTime`

[2020-01-27 08:35] AlehB commented on #798
Hi @Chris-Huszcza-CS ,

The download script has been updated (https://github.com/reportportal/shell-installation).
In addition, because of release configuration changes, now shell installation works at port 8080 instead of 3000

Could you please the new version and confirm that it works for you?

Best Regards,
Aleh

[2020-01-27 13:14] Chris-Huszcza-CS commented on #798
Hi Aleh,

So I deleted all of the migrations* and service-* files, as well as the /public and /ui directories, and rebooted the system before running the new `download_services.sh` script.

I set the file permissions for the whole directory to 777

I also amended the start_rp.sh script slightly to potentially fix the RabbitMQ issue and to log to separate files (see attached [start_rp.sh.log](https

[2020-01-27 13:58] AlehB commented on #798
Hi @Chris-Huszcza-CS ,

I have fixed the typo in repository. Thank you!

Yes, please, if you have any specific issues on your installation

Best Regards,
Aleh

[2020-01-28 12:30] #798 closed

[2020-01-28 13:01] Chris-Huszcza-CS opened #804 "[v5] Unable to login to ReportPortal after shell installation"
**Describe the bug**
I've installed reportportal following the instructions here: https://github.com/reportportal/shell-installation, however when trying to login to ReportPortal the UI just displays "An error occurred while connecting to server: Network Error"

**To Reproduce**
I've modified the
[start_rp.sh.txt](https://github.com/reportportal/reportportal/files/4122402/start_rp.sh.txt) file so

[2020-01-28 16:24] Yumfriez commented on #804
@Chris-Huszcza-CS As I see in the `reportportal.log`:
time="2020-01-28T12:35:14Z" level=fatal msg="Error preparing server: error opening listener: listen tcp :8080: bind: address already in use"

So 8080 port is already used by another service.
You can either free this port or change exposed port value in the `traefik.toml` to run on another port

[2020-01-29 08:10] Chris-Huszcza-CS commented on #804
Hi @Yumfriez ,

I've gone back to the server (after a reboot), and checked for listening ports using `lsof -i -P -n | grep LISTEN` and there's nothing listening on port 8080 or 8090 initially.

Then I changed the traefik.toml so that entrypPoints.http address = 8090, ran `start_rp.sh` andre-ran `lsof -i -P -n | grep LISTEN`. I found that these results:
[code]

I tried to navigate to http://host:80

[2020-01-29 10:37] khatray commented on #505
While trying to install on Centos 7 ,am getting error while executing this line in shell script

RP_DB_HOST=localhost java $SERVICE_UAT_JAVA_OPTS -jar service-uat.jar

Error is no main manifest in Service-uat.jar

[2020-01-29 12:13] liiight opened #805 "[v5] Permission error message from API with valid token"
**Describe the bug**
Many documented API endpoints return the following error :
[code]
Even though the used token is valid.

**To Reproduce**

An example of a cURL that works:
[code]

An example of one (using the same token) that doesn't work:

[code]
There many other endpoints documented on the Swagger page that share this issue (like `project/list`, `project/names` and more)

**Note**: I am awar

[2020-01-29 13:19] avarabyeu commented on #805
@liiight in order to list all the project, your user should has ADMINISTRATOR role. Plz, make sure you have one.

[2020-01-29 15:06] Yumfriez commented on #804
@Chris-Huszcza-CS
`UI` should be started at port 3000
Traefik - on any free port (8080 by default)
And even if `UI` is running on the port 3000, you still should go to the port where `Traefik` is deployed (because it's the main entry point for RP application)

[2020-01-29 17:34] senkrish commented on #802
@evjlobanova Can you provide an ETA for this enhancement? This is a blocker for rolling out RP more widely in our setup. Thanks.

[2020-01-30 08:24] Chris-Huszcza-CS commented on #804
Hi @Yumfriez ,

Thanks for the information. It turns out I couldn't run Traefik on port 8080 because the service-analyzer is also starting up on that port (logs attached below), but when I switched UI back to port 3000 and change Traefik's HTTP port to 8082, then it all startup ok and I was able to log in.
[reportportal.log](https://github.com/reportportal/reportportal/files/4132882/reportportal.l

[2020-01-30 08:24] #804 closed

[2020-01-30 11:45] liiight commented on #805
Oh wow. I was confused by a PM and admin. My apologies.

[2020-01-30 11:46] #805 closed

[2020-01-30 16:36] atilainovecky opened #806 "[v5] Method Type filter is not applied to Test History"
**Describe the bug**

1. Report a test which include some method type like 'Before class',  'Before method' ..
e.g. 10 Test and 2 Before Method
![image](https://user-images.githubusercontent.com/56154736/73468329-e5e5ad00-4384-11ea-97d0-721960ffb316.png)
2. Apply Method type filter -  Only tests are filtered
![image](https://user-images.githubusercontent.com/56154736/73468942-e16dc400-4385-11ea-99

[2020-01-30 17:49] SawanRawath commented on #546
Hi where I can find reportportal.properties

[2020-02-03 08:37] Natallia1 opened #807 "Test launch doesn't finish despite all tests are finished"
**Describe the bug**
The same issue as https://github.com/reportportal/reportportal/issues/795
I get it for ReportPortal.Shared v2.5.0 and ReportPortal.VsTest.TestLogger v2.3.9.

Test passes, but it can't finish on report portal.

Error:
Finishing to send results to Report Portal...System.AggregateException: Cannot finish launch due finishing of child items failed. .......
Response Body: {"error_c

[2020-02-03 09:56] nvborisenko commented on #807
Your configuration is correct. The issue is that logger cannot understand test name correctly. Could you please set `ReportPortal_TraceLevel=Verbose`, execute tests again and share `ReportPortal.*.log` files.

Or prepare simple test project to reproduce the issue?

[2020-02-03 23:01] jay-espiritu opened #808 "TypeError: Cannot read property 'split' of undefined [v5] Issue with filters"
**Describe the bug**
I've manage to implement report portal in my nunit project and ran it fine. However when I'm trying to create a dashboard to display data and results it wouldn't let me add any widgets and keeps returning me to a blank screen.

When I check the browser console it shows that it's returning couple of errors (screenshot attached).

and

When I create a dashboard/widget on my RP p

[2020-02-04 07:40] hiro-satoh-nestle opened #809 "Forgot superadmin password"
I forgot my superadmin password. So how to reset or recover it?

Thanks!

[2020-02-04 13:44] nagaeva-anastasia opened #810 "Can't finish launch on v5"
**Describe the bug**
Can't finish launch with exception
Failed to force finish the launch: Unclassified error [org.hibernate.exception.SQLGrammarException: could not execute statement]

Also, all test methods are still running.
Before and After methods are finished normally.
In Test NG I can see that all methods are finished normally.

I tried to debug finish methods in TestNGService, and everythi

[2020-02-05 11:35] nagaeva-anastasia commented on #810
I also tried to remove elastic search indexes or re-generate it. It does not help.

[2020-02-06 10:46] #777 closed

[2020-02-06 11:54] ShashiSasuke02 opened #811 "ERROR: for db-scripts Container "0aaed66aebea" is unhealthy"
Unable to start the Portal.

Machine:
Windows 10
Docker 2.1.03

Command to launch :
docker-compose -p reportportal up -d --force-recreate
[docker-compose.txt](https://github.com/reportportal/reportportal/files/4164902/docker-compose.txt)

Errors:
ERROR: for api  Container "0aaed66aebea" is unhealthy.
ERROR: Encountered errors while bringing up the project.

[2020-02-06 12:42] nagaeva-anastasia commented on #810
Sorry, I can't live without RP, so I revert update back to
Analysis Service: 4.3.0; API Service: 4.3.4; Index Service: 4.2.0; Jira Service: 4.3.0; Rally Service: 4.3.0; Authorization Service: 4.2.0; Service UI: 4.3.6;

[2020-02-06 13:08] HardNorth commented on #789
@nagaeva-anastasia Hey, checkout this version: https://bintray.com/epam/reportportal/agent-java-testng/4.2.3

V5 fix will be released with new BETA.

[2020-02-06 13:08] #789 closed

[2020-02-06 14:08] pbortnik commented on #811
Hi, can you provide us some logs for api, postgres?

[2020-02-06 18:02] lenosky opened #812 "Add attachments to test itself"
It is possible to attach files only to launch, not to the test itself, using api v1, and the v2 does simply nothing.
Is this intended or a bug?

[2020-02-06 20:10] DzmitryHumianiuk commented on #812
for v5 use
https://github.com/reportportal/client-java/blob/9c32e5ccf3424a4aec15dda44ffa089f71e8d0aa/src/main/java/com/epam/reportportal/service/ReportPortal.java#L201

[2020-02-07 09:26] ShashiSasuke02 commented on #811
2020-02-07 09:24:28.080 UTC [50] FATAL:  data directory "/var/lib/postgresql/data" has wrong ownership
2020-02-07 09:24:28.080 UTC [50] HINT:  The server must be started by the user that owns the data directory.
child process exited with exit code 1
Logs :
initdb: removing contents of data directory "/var/lib/postgresql/data"
running bootstrap script ... The files belonging to this database system

[2020-02-07 17:20] DzmitryHumianiuk commented on #808
![image](https://user-images.githubusercontent.com/11332788/74050533-53c65000-49e7-11ea-8199-c15a2319ce96.png)

[2020-02-07 19:21] MaksimPretkel opened #813 "Cannot post issue due to 40302 error"
**Describe the bug**
Not able to post a bug from RP because of the following error message:
Error occurred: {"error_code":40302,"message":"Impossible interact with external system. [ErrorCollectionstatus=400, errors=customfield_10170=Could not find valid 'id' or 'value' in the Parent Option object., errorMessages=[]]"}

customfield_10170 - is the environment field in our jira, value of this value

[2020-02-08 15:32] nvborisenko commented on #807
@Natallia1 any news? The fix is easy, but we need reproduce the issue.

For internal team: we need document how to turn on internal logging mechanism. It was appeared in recent versions.

[2020-02-09 15:33] AssafMCET opened #814 "Sender name at mail not updated - version 5"
Hey ,

When I got the mail of the running results the sender name is: prvs=301288280=root@bf4e30313fc3 although I changed and sender name in the Gui of report portal.

Can someone help me?

[2020-02-09 16:11] mnicula opened #815 "HTML tags in log message"
I nice feature would be to support HTML tags in the log message.
 :)

[2020-02-10 04:41] #811 closed

[2020-02-10 13:46] lenosky opened #816 "Demo portal is down"
Hi,
demo version of portal currently is down.
Are there any plans to bring it back to life?

[2020-02-10 16:11] DzmitryHumianiuk commented on #816
@lenosky it works fine.
no any updates or reboots.

metrics are also fine.

[2020-02-10 16:11] #816 closed

[2020-02-11 04:33] ChandanaPs opened #817 "Error while adding Sauce labs plugin"
<img width="1406" alt="Screenshot 2020-02-10 at 10 11 05 AM" src="https://user-images.githubusercontent.com/42376238/74211376-b3597f80-4cb5-11ea-8f6d-b24897ed7fec.png">

[2020-02-11 09:07] podoliuk opened #818 "Demo report portal is not accessible via github account integration"
Hi,
demo report portal is not accessible via github account integration - receiving 403

<img width="1426" alt="rp_error" src="https://user-images.githubusercontent.com/60887082/74222940-41396880-4cbe-11ea-81bf-f64f0d203408.png">

[2020-02-11 10:09] ShashiSasuke02 opened #819 "java.lang.NoClassDefFoundError: rp/com/google/common/base/Supplier"
**Not able to run the test displaying below error.**
ava.lang.NoClassDefFoundError: rp/com/google/common/base/Supplier
	at java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.lang.Class.privateGetDeclaredConstructors(Unknown Source)
	at java.lang.Class.getConstructor0(Unknown Source)
	at java.lang.Class.newInstance(Unknown Source)
	at org.testng.internal.ClassHelper.newInstance(ClassH

[2020-02-11 10:16] HardNorth commented on #819
@ShashiSasuke02 Looks like you have issues with your dependencies. They do not contain Google Guava: https://search.maven.org/artifact/com.google.guava/guava

Well, actually not a RP issue.

[2020-02-11 10:16] #819 closed

[2020-02-12 10:16] Dhams-1 commented on #811
Hi All,
@ShashiSasuke02
I am very new to reportportal. I also face the issue. kindly let me know how to solve the same

[2020-02-12 11:22] barvin commented on #811
@Dhams-1, first, make sure you have commented/uncommented appropriate lines in docker `docker-compose.yml` file according to this section: [Deploy ReportPortal with Docker on Windows](https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker-on-windows).

Then before running `docker-compose up` command, set this environment variable:
[code]
That worked for me on Windows 10.

[2020-02-12 15:06] dharma-keyutech opened #820 "Getting an error when try to execute our script present at git repository through jenkins"
![image](https://user-images.githubusercontent.com/58975085/74347480-2870a600-4dd7-11ea-9f5e-0633150e6ebe.png)

[2020-02-12 15:12] HardNorth commented on #820
Well, as I see it's yours test class. There is no any classes in RP called "Base.Basetest". So please do not spam our project with unrelated issues or I have to block you. Closing that out.

[2020-02-12 15:12] #820 closed

[2020-02-13 10:20] DiscoElevator commented on #808
@jay-espiritu Hello. Could you please provide the following information?
1. Which exact RP version do you use?
2. Does Filters page open without errors on this project?
3. Are there any filters?
4. If there any filters, could you please provide '/filters' response from the browser Devtools Network tab?

[2020-02-14 12:05] VenkataSubbaiahM opened #821 "Not able to see data in widget shared by other project members when I have the role as member for that project."
When I have member as the role in one project and I'm not able to see any data in that widget. I have checked that dashboard and widget are shared by the user who created them.

[2020-02-14 12:12] VenkataSubbaiahM commented on #821
![Screenshot 2020-02-14 at 5 40 13 PM](https://user-images.githubusercontent.com/51957560/74530919-49f59d00-4f51-11ea-8b7c-b926e326e8cd.png)
![Screenshot 2020-02-14 at 5 40 27 PM](https://user-images.githubusercontent.com/51957560/74530921-4c57f700-4f51-11ea-88dc-22f03866e046.png)

[2020-02-15 10:52] omkarnathsingh commented on #629
You might be logging it as String somewhere which is causing this issue. I tried your code and its working fine for me.

[2020-02-17 08:48] evjlobanova commented on #821
Hello!
Could you please tell us which version of RP you use?
Could you please send a screenshot of widget wizard for this widget?

[2020-02-17 10:56] kareka opened #822 "[v5]sql error"
**Describe the bug**
A clear and concise description of what the bug is.

Have done installation using shell script on lentos
getting sql error while trying to generate demo data or going on launches

Caused by: org.postgresql.util.PSQLException: ERROR: relation "public.item_attribute" does not exist
  Position: 1141
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorIm

[2020-02-17 11:39] Dhams-1 commented on #811
@barvin Thank you for you help. it worked for me :)

[2020-02-18 04:25] Vasanth185 opened #823 "Integrating RP with other Application"
We are trying to integrate RP as one of the page in our own application. Is there any way to skip the login page using bearer token or using API to authenticate the user and directly login whenever we navigate to the RP page?

[2020-02-18 09:05] khatray commented on #822
Please close this as this issue is fixed

[2020-02-18 10:04] khatray opened #824 "[v5]server misbehaving"
**Describe the bug**
A clear and concise description of what the bug is.
have installed using shell script on centos ,remove  index and generate index are disabled
log files of service analyzer shows
2020-02-18 14:37:45] ERROR Cannot send request to ES: Get http://elasticsearch:9200/3/_search: dial tcp: lookup elasticsearch on 10.5.2.2:53: server misbehaving
[2020-02-18 14:37:45] ERROR Cannot send

[2020-02-18 10:55] DzmitryHumianiuk commented on #823
Nope for now.
later will be added integratable dashboards to other pages.

[2020-02-18 10:55] #823 closed

[2020-02-18 11:06] evjlobanova opened #825 "Launc/Suite/Step levels. Сollaboration work on editing. If one user edits launch/suite/step, this operation should be blocked for others"
**Problem**
A user clicks on a pencil near a launch, and adds a description. Than he saves results.
At the same moment another user clicks on a pencil near a launch, and adds a description. Than he saves results.

The problem is that ReportPortal saves only last changes. And edits of the first user haven`t been saved.
In this case something important can be deleted.

**Solution**
Block this functi

[2020-02-18 11:08] evjlobanova commented on #825
@DiscoElevator could you please check if this improvement can be done?
And what problems can be met during implementation?

[2020-02-18 12:42] evjlobanova commented on #824
@AlehB Could you please help?

[2020-02-18 12:45] #822 closed

[2020-02-18 12:48] evjlobanova commented on #818
Could you please check one more time, I have checked, and everything is good.
I close this issue, feel free to reopen it, in case it still reproduce

[2020-02-18 12:48] #818 closed

[2020-02-18 12:49] evjlobanova commented on #817
@e-olga @VolhaKarenko Could you please check issue with Sauce Lab plugin?

[2020-02-18 12:50] evjlobanova commented on #817
@ChandanaPs please specify which version of RP and plugin do you use?

[2020-02-18 13:03] VolhaKarenko commented on #817
@ChandanaPs the issue isn't reproducible on 5.0 and 5.1 versions
with the latest version of Sauce Labs plugin (5.0.0-RC-5):
https://bintray.com/epam/reportportal/plugin-saucelabs#files/com%2Fepam%2Freportportal%2Fplugin-saucelabs%2F5.0.0-RC-5

[2020-02-18 13:43] evjlobanova commented on #814
@AssafMCET could you please specify an exact version of ReportPortal.
Could you please send a screen of your letter and your E-mail server config

[2020-02-18 13:47] evjlobanova commented on #815
@mnicula do you want to have a the same feature as a possibility to switch on/off  markdown , but for HTML

![image](https://user-images.githubusercontent.com/30413511/74741647-41150c00-526e-11ea-9680-95e060aab802.png)

Also could you please provide you use case?
Why do you need HTML tags in logs?

[2020-02-18 13:49] AssafMCET commented on #814
Current version:API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;
![image](https://user-images.githubusercontent.com/49675239/74741737-09a26180-5266-11ea-8793-fc9745c9c638.png)

![image](https://user-images.githubusercontent.com/49675239/74741837-35254c00-5266-11ea-869f-0d074d38a97b.png)

[2020-02-18 13:51] evjlobanova commented on #809
@hiro-satoh-nestle try to change it in DB manually.

[2020-02-18 13:51] #809 closed

[2020-02-18 13:52] SrikanthSunder opened #826 "Unable to Start API Service in Report Portal 5 [v5]"
**Describe the bug**
Unable to start the below Service API Service.
RP_AMQP_HOST=localhost RP_DB_HOST=localhost java $SERVICE_API_JAVA_OPTS -jar service-api.jar 2>&1 &

**To Reproduce**
Getting the Following Error message,
rg.postgresql.util.PSQLException: FATAL: password authentication failed for user "rpuser"

**Expected behavior**
API Service should be up & running

**Screenshots**
If applicabl

[2020-02-18 13:54] evjlobanova commented on #810
@HardNorth @ihar-kahadouski could you please look why this issue appears?
 Can we help?

[2020-02-18 13:56] evjlobanova commented on #812
@lenosky i close this issue, if it doesn`t help, please feel free to reopen issue

[2020-02-18 13:56] #812 closed

[2020-02-18 13:57] evjlobanova commented on #813
@MaksimPretkel do you use Epam instanse?
Could yoou please send a screen with Jira config?

[2020-02-18 13:58] evjlobanova commented on #808
@jay-espiritu ^

[2020-02-18 14:06] MaksimPretkel commented on #813
Hi @evjlobanova I'm using client RP and Jira instances, I can share API, UI and Jira logs if you want,
but they are identical with the issue I'm getting on UI:
{"log":"com.epam.ta.reportportal.exception.ReportPortalException: Impossible interact with external system. [ErrorCollectionstatus=400, errors=customfield_10170=Could not find valid 'id' or 'value' in the Parent Option object., errorMessage

[2020-02-18 14:07] evjlobanova commented on #802
@senkrish This improvenent is not in our backlog, but i will discuss it internally.
We can not take in the nearest release, so that it is difficult to say the exact terms for improvement.
As a possible dissicion, i can propose you a paid support, in this case we can take this feature with priority number 1.

I will back latter, and tell you an approximate terms for realization.

[2020-02-18 14:16] evjlobanova commented on #802
@DzmitryHumianiuk what do you think about it?

[2020-02-18 14:18] evjlobanova commented on #800
Due to response, i close this issue.
Feel free to reopen it

[2020-02-18 14:18] #800 closed

[2020-02-18 14:19] DzmitryHumianiuk commented on #802
@evjlobanova worth of implementation

[2020-02-18 14:20] evjlobanova commented on #799
@msydejes do you still have a problem?
If it still reproduces, feel free to reopen

[2020-02-18 14:20] #799 closed

[2020-02-18 14:22] evjlobanova commented on #806
![image](https://user-images.githubusercontent.com/30413511/74744417-458ff380-5273-11ea-9c90-6ea762cac0fb.png)
![image](https://user-images.githubusercontent.com/30413511/74744436-4c1e6b00-5273-11ea-88b9-910294b7cb2e.png)

[2020-02-18 14:24] evjlobanova commented on #806
I have checked the version 5, and I can see Before methods on the History table.
Could you please check one more time

[2020-02-18 14:45] AlehB commented on #824
Hi @khatray ,

Most likely, your elasticsearch is misconfigured / doesnt work
The errors show that service analyzer cannot reach its address
Please make sure your elasticsearch service is up and running at localhost:9200 (curl -X GET "localhost:9200/")

You can also check elasticsearch logs to see if there any errors

[2020-02-18 15:12] MaksimPretkel commented on #813
Here is the similar issue: https://github.com/reportportal/reportportal/issues/536
"This was fixed as part of reportportal/service-jira@8840097 but now this fix is not present on 4.3.0 tag"

Do we need a patch for our version of RP?

[2020-02-18 15:18] khatray commented on #824
Hi @AlehB elasticsearch service is up and running at port 9200.
On running the curl I get the expected response

[2020-02-18 16:27] ChandanaPs commented on #817
I tried with 1.0.9, 1.0.11, 5.0.0 also @evjlobanova
It failed for all three.

@VolhaKarenko
Am not sure if this happens as it is the second plugin
I installed RP5
Then Added jira plugin and added integration details
Then added Sauce plugin... It failed

[2020-02-18 22:33] naganaidu-rezi commented on #731
@DzmitryHumianiuk
any update on when can Jmeter will be available in RP ?
Thanks.

[2020-02-19 07:37] VolhaKarenko commented on #817
@ChandanaPs could you try to upload "plugin-saucelabs-5.0.0-RC-5-all.jar"
from 'Files' ->  5.0.0-RC-5 via the link I shared above and tell if the issue is still reproducible

[2020-02-19 08:20] khatray commented on #824
@AlehB

Have been able to create index directly on elastic.

also below is the sanpshot of es log file

[2020-02-19T12:47:42,088][INFO ][o.e.n.Node               ] [hostname] closed
[2020-02-19T12:47:47,908][INFO ][o.e.e.NodeEnvironment    ] [hostname] using [1] data paths, mounts [[/ (rootfs)]], net usable_space [38.2gb], net total_space [43.9gb], types [rootfs]
[2020-02-19T12:47:47,910][INFO ][o

[2020-02-19 08:20] khatray commented on #824
![image](https://user-images.githubusercontent.com/42056501/74815218-d66fd900-531e-11ea-8ccc-57bc86656f8d.png)

[2020-02-19 09:35] AlehB commented on #824
Dev team needs to look at it then
@Yumfriez , could you please help here?

[2020-02-19 10:44] DzmitryHumianiuk commented on #731
end of 2020

[2020-02-19 11:39] khatray commented on #824
with parmater ES_HOSTS its picking up correct i.p.

Now i need parameter name for  ES port to be used in shell file

[2020-02-19 12:26] kick-people opened #827 "Internal Server error when try to send the request for closing the launch from Jenkins[v5]"
**Describe the bug**
Set up all components of report portal in Docker with 'successfully' status. Try to run tests from Jenkins and in the step when RP was sending request to close the launch, we get the response with 500 status code.After reboot RP this issue isn't reproduce and all launches closed but when some time passes we faced with this error again.

**Expected behavior**
The launch should

[2020-02-19 12:28] khatray commented on #824
its working fine now when i gave the complete URL in ES_HOSTS parmater.Although
Still Remove Index and Generate Index buttons are disable and hovering over it shows Srvice analyzer is not running

[2020-02-19 16:58] khatray commented on #628
@SrikanthSunder am facing same issue.where do we need to set the permission.

[2020-02-20 06:43] khatray commented on #628
am unable to get Analyzer up.
Below are log files from Analyzer
2020-02-20 12:10:13] DEBUG Starting analysis for 1 launches
[2020-02-20 12:10:13] DEBUG Request to ES - method: "GET";
 url: "http://10.5.2.223:9200/3/_search";
 body: {"size":10,"query":{"bool":{"must_not":{"wildcard":{"issue_type":"ti*"}},"must":[{"range":{"log_level":{"gte":40000}}},{"exists":{"field":"issue_type"}},{"term":{"launc

[2020-02-20 07:08] khatray commented on #824
Service Analyzer is still not running.Below is snapshot of log file
am unable to get Analyzer up.
Below are log files from Analyzer
[logfil.txt](https://github.com/reportportal/reportportal/files/4229291/logfil.txt)

[2020-02-20 07:36] khatray commented on #628
@SrikanthSunder  What kind of folder privileges were set as am also facing same issue

[2020-02-20 12:46] evjlobanova commented on #817
@ChandanaPs ^

[2020-02-20 12:48] ChandanaPs commented on #817
Sorry! Was little occupied. Will update u tomorrow

[2020-02-21 07:11] omkarnathsingh commented on #726
Any update on this?

[2020-02-21 07:33] khatray commented on #826
Whats the password of rpuser that you have created?if its different than default one then you need to provide the password here

[2020-02-22 03:10] ChandanaPs commented on #817
Issue is still happening.. i checked with new installation

[2020-02-22 03:12] ChandanaPs commented on #817
`## You can generate a custom docker compose file automatically on http://reportportal.io/download (Step 2)

## This is example of Docker Compose for ReportPortal
## Do not forget to configure data volumes for production usage

## Execute 'docker-compose -f docker-compose.yml -p reportportal up -d --force-recreate' --build
## to start all containers in daemon mode
## Where:
##      '-f docker-comp

[2020-02-22 13:34] AlZero-t opened #829 "Data migration"
Hello, I now need to migrate the running reportportal to the new server. I use docker save images and then copy the path file of volume in docker-compose. Yml to the new machine.

[2020-02-22 15:01] AlZero-t commented on #829
I run docker-compose ,It shows that docker ps is running, but the 8080 I accessed on the local machine does not exist, I used netstat and did not have 8080, is it necessary to map out docker-p

[2020-02-22 16:06] AlZero-t commented on #829
Could you please tell me where this log was recorded? Now I visit the address 404

[2020-02-23 14:17] kshammout opened #830 "@Step Annotation IllegalArgumentException"
**Describe the bug**
When i'm using @Step annotation and get the value from method parameter inside the Step description if its contains special character its throw illegalArgumentExp

e.g
@com.epam.reportportal.annotations.Step("Navigate to : {0}")
where {0} = /$^&^@#

**Expected behavior**
Its should take it as its

**Error**
java.lang.IllegalArgumentException: Illegal group reference

**Version

[2020-02-23 21:09] GopinathCTS opened #831 "[v5] Unable to login Report portal after restart the Docker/Windows machine [Error 502 Bad GateWay]"
**To Reproduce**
Step1 - Install all the Docker required stuffs using dockertoolsbox and  access RP with default login details
Step2 - Restart the Windows machine (Wireless Desktop)
Step3 - Start the Virtual Box
Step4- Login the Report-portal with default login details
Step5-  Observed "Successfully Logged-in" notification but no response
Step6- Again Clicked Login button and Observed Sign-in Popu

[2020-02-24 09:14] evjlobanova commented on #830
@kshammout which agent and which version do you use?

[2020-02-24 10:19] kshammout commented on #830
chrome agent from CBT , version 5.0.0-BETA-9

[2020-02-24 13:36] omkarnathsingh commented on #831
I am facing the same issue. Anyone can help on this?

[2020-02-24 13:40] omkarnathsingh commented on #826
Any solution on this?

[2020-02-24 13:47] HardNorth commented on #831
So, you are not entering `docker-compose -p rp up -d --force-recreate`, you just restart your machine?

[2020-02-24 13:53] chhatbarjignesh commented on #831
@GopinathCTS check `docker ps` one of your service is keep restarting and that one is probably service `reportportal/service-authorization` is keep on restarting and that might be because you haven't set permission correctly

[2020-02-24 13:54] omkarnathsingh commented on #831
![image](https://user-images.githubusercontent.com/12734027/75158019-517c2980-573b-11ea-8a40-5b22d8d94a4b.png)

[2020-02-24 13:55] omkarnathsingh commented on #831
I see all are up, I am missing anything?

[2020-02-24 13:56] HardNorth commented on #826
How do you actually run it? Docker-compose? Do you have SELinux installed on your machine? What happens if disable it?

[2020-02-24 14:03] omkarnathsingh commented on #826
yes, using docker-compose. It was running fine some time back. Then we did configuration for elastic search and then restart. After that this issue started appearing.

[2020-02-24 14:03] chhatbarjignesh commented on #831
did you give the correct permission to data/elasticsearch ?

[2020-02-24 14:07] omkarnathsingh commented on #831
Yes, I followed the step from here

[2020-02-24 14:22] HardNorth commented on #826
@omkarnathsingh Is it possible that your RP looks on different DB? E.G. you installed another postgres locally?

[2020-02-24 14:30] omkarnathsingh commented on #826
@HardNorth Thats not the case. Auth service is returning the token successfully. Only API is down

[2020-02-24 14:38] HardNorth commented on #826
@omkarnathsingh OK, can you send me your docker-compose file?

[2020-02-24 15:32] naganaidu-rezi commented on #731
can we contribute on this ?

[2020-02-24 19:33] GopinathCTS opened #832 "How to remove Console Debug log from eclipse Console window"
Hi Team,

I could see more DEBUG Logs in my eclipse console window after implementing the log4j root level ="DEBUG", could you please help to disable this logs .

**Console Logs:**
![logs_1](https://user-images.githubusercontent.com/16055900/75184373-24a72280-56f9-11ea-8804-fe6828b7e432.PNG)

**Logs4j:**
![logs](https://user-images.githubusercontent.com/16055900/75184383-27a21300-56f9-11ea-9582-06

[2020-02-25 05:56] omkarnathsingh commented on #831
We removed all firewall rules, took db backup, shutdown container, restarted it, imported db. All working fine now.

[2020-02-25 05:56] omkarnathsingh commented on #826
We removed all firewall rules, took db backup, shutdown container, restarted it, imported db. All working fine now.

[2020-02-25 06:08] kareka commented on #824
@Yumfriez Any update on this.

[2020-02-25 10:24] labidiadnene opened #833 "[v5] unable to login although it is showing "Sign in successfully""
Hi , i am trying to run RP locally , so i can add some features but i am unable to login although it is showing "Sign in successfully" but nothing happens ( no redirection , and when i open home page from link it redirects me to login page) , here what i did :
1-created magic-script.sh in empty folder in mac and run it in terminal with "sh magic-script.sh"
2-it downloaded the report portal service

[2020-02-25 16:18] rlerch commented on #779
Hello, Is there any documentation on how to write a plugin? I pulled the jira plugin's git repo but it seems to be out of date since I am unable to upload it after building. It complains about a missing version number.

Thanks, Ryan.

[2020-02-26 05:14] Siddh010 commented on #833
I am also getting same problem during login.
I also can see service-analyzer:5.0.0  is restating state even after following step mention in
https://reportportal.io/docs/Deploy-with-Docker

![Screen Shot 2020-02-26 at 10 39 31 AM](https://user-images.githubusercontent.com/20200289/75314084-bbecb100-5884-11ea-9970-37b0aa3e16da.png)

[2020-02-26 08:59] labidiadnene commented on #833
service-analyzer:5.0.0 also restart few times for me , if i remember because it needs postgres or service-api to be up and running , then when everything starts it starts and stay up so i think nothing is wrong with that , but there is the problem of signing in , still trying to understand why

[2020-02-26 11:41] ryzhkovd opened #834 "Can't create message with attachment."
I'm using ReportPortal.Client 3.0.0-betta.1 nuget package to send logs in to ReportPortal 5.0.
Message without attachment sending normally. When i add attachments to message, only text is displayed.

To send message with attachment i use this code:
[code]
res contains uuid. Text of message display in UI but attachment doesn't.

After that I try start unit test from develop branch and CreateLogWith

[2020-02-26 15:38] kiryl-naurotski commented on #831
The issue is after the system reboot all containers start at the same time and not in the specified order.
See attached logs with errors
[reportportal_logs.txt](https://github.com/reportportal/reportportal/files/4256601/reportportal_logs.txt)

As a workaround, you need to add "restart: always" to the following services in the docker-compose file:
postgres
rabbitmq

I tried on my virtual machine an

[2020-02-26 16:15] vikasChobey opened #835 "[v5]While doing docker-compose up getting username_minio1 error"
PS C:\Users\vchoubey> docker-compose up -d
vchoubey_elasticsearch_1 is up-to-date
vchoubey_uat_1 is up-to-date
vchoubey_gateway_1 is up-to-date
Starting vchoubey_postgres_1 ...
vchoubey_rabbitmq_1 is up-to-date
vchoubey_ui_1 is up-to-date
vchoubey_index_1 is up-to-date
Starting vchoubey_postgres_1 ... done
Creating vchoubey_minio_1      ... error
Creating vchoubey_api_1        ... done
Creating vc

[2020-02-26 16:19] vikasChobey commented on #835
ERROR: for db-scripts  Container "1ecd0102ffd2" is unhealthy.

[2020-02-26 16:53] b1zzu opened #836 "[v5] Can't start reportportal-api in OpenShift"
**Describe the bug**

[code]

**To Reproduce**

Install ReportPortal in Kubernetes using Helm

[2020-02-26 17:34] LupusUmbrae opened #837 "[Widget] Grid of Launch result/status groups by attribute"
**Describe the solution you'd like**

For a single release we have a collection of different launches we run, we'd like to be able to show the final status of each launch in a grid, grouped by the version. Something like:

Attribute Key | Launch name 1 | Launch name 2 | Launch name n
------------------|----------------------|----------------------|----------------------
value | passed | passed | f

[2020-02-26 23:12] albadam000 commented on #731
+1, we might have the capacity to contribute here as well

[2020-02-27 08:49] b1zzu opened #838 "[v5]If I delete all projects I can't login anymore"
**Describe the bug**

I deleted all Projects using the `superadmin` user and then I couldn't login anymore

[code]

**To Reproduce**

**Expected behavior**

To be able to login or somehow recreate a project using the ui.

**Desktop:**
 - OS: Fedora
 - Browser chrome

[2020-02-27 13:26] DzmitryHumianiuk commented on #838
Well, i would say it's expected :)
no projects - no permission to see anything.

but we definitely should think of natural way to process it.

[2020-02-27 18:42] filipcynarski opened #839 "Charts basing on attribute value"
**Describe the solution you'd like**
I'd like to have possibility to generate charts from attribute value.

For example I'm storing attributes for performance tests and I'd be glad If I can visualize the trend of such attribute.

**Is your feature request related to a problem? Please describe.**
As above

[2020-02-28 05:44] szabolcslevay opened #840 "ReportPortal agent for Cucumber v.5"
It would be great to have an `agent-java-cucumber5` to be able to use ReportPortal with the latest version of Cucumber ([v5.0.0](https://mvnrepository.com/artifact/io.cucumber/cucumber-java) was released in January 2020).

[2020-02-28 08:55] satishultimate opened #841 "Integration of Report Portal with UFT"
I am looking out for a solution on how to integrate UFT with ReportPortal. I am ware that there is an REST API option to leverage, but I am not sure on how to get started.
  My requirement is to pass over the test report generated by UFT with screenshots to report portal as it is being done by many agents currently available for ReportPortal. I am looking out on how to tag the UFT report to Report

[2020-02-28 09:27] ShashiSasuke02 opened #842 "java.lang.NoClassDefFound Error: rp/com/google/common/base/Supplier[v5]"
**java.lang.NoClassDefFound**
Caused by: java.lang.ClassNotFoundException: rp.com.google.common.base.Supplier
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at sun.misc.Launcher$AppClassLoader.loadClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	... 1 more

**Using TestNG runner and listeners**
ReportPortalTestNG

[2020-02-28 09:58] HardNorth commented on #842
I need to know your dependencies versions to help. Currently it's looking like you have 5th client and 4th agent.

[2020-02-28 10:21] b1zzu commented on #838
Hi, I understand that's a strange situation, but having at least the possibility to create a new project if there are no one will be nice

[2020-02-28 11:59] DzmitryHumianiuk commented on #838
@b1zzu there should be a mechanism to keep personal project always available.
Login to RP, where there is no any project, should create personal space for user (personal project).

if it is not - than it is a bug.

[2020-02-28 12:43] b1zzu commented on #838
@DzmitryHumianiuk maybe it's not doing it for the admin user, or the mechanism is in place only for the user accessing using external authentication (github, sso, ..)

[2020-02-28 18:36] egilsdq opened #843 "Launch duration chart label only "seconds""
**Describe the bug**
When using Launch duration chart, label at bottom of chart is "seconds" but actual is "minutes".

**Expected behavior**
Show "minutes" if axis values is in minutes.

**Screenshots**
![image](https://user-images.githubusercontent.com/15646224/75576929-8fde5500-5a69-11ea-95ed-0a6f2d826496.png)

**Versions:**
 - Windows 10, Microsoft Edge (Version 80.0.361.62)
 - Version of RP 5.

[2020-02-28 18:36] egilsdq opened #871 "Launch duration chart label "seconds""
**Describe the bug**
When using Launch duration chart, label at bottom of chart is "seconds" but actual is "minutes".

**Expected behavior**
Show "minutes" if axis values is in minutes.

**Screenshots**
![image](https://user-images.githubusercontent.com/15646224/75576929-8fde5500-5a69-11ea-95ed-0a6f2d826496.png)

**Versions:**
 - Windows 10, Microsoft Edge (Version 80.0.361.62)
 - Version of RP 5.

[2020-02-28 20:59] Bharadwaj-vana opened #844 "How to setup ReportPortal with AWS"
Hi Team,

I am trying to use ReportPortal in my project where I am using TestNG reports and using Jenkins to execute & display reports with status. Can you please help me how to start & where I need to do config changes within my framework to use ReportPortal.

Thanks
Bharat

[2020-02-29 20:01] HardNorth commented on #826
A DB configuration issue not related to RP

[2020-02-29 20:01] #826 closed

[2020-02-29 20:06] HardNorth commented on #844
Please read our documentation here: https://reportportal.io/docs/Test-Framework-Integration

[2020-02-29 20:06] #844 closed

[2020-02-29 20:41] HardNorth commented on #836
I install ReportPortal in Kubernetes several times a week and have not seen such issue before.
So you have to specify in details your deployment environment and process if you want to get any help.

[2020-03-01 15:18] omkarnathsingh commented on #831
http://<RP-URL>/api/v1/user

This request is not returning anything, but all services are up and running. What should I check?

[2020-03-01 18:38] ryparker commented on #687
Just tested with the latest and all seems well. Thanks!

[2020-03-01 18:38] #687 closed

[2020-03-02 09:49] b1zzu commented on #836
@HardNorth sorry I try to bring more context:

I'm installing it on OpenShift and by default, OpenShift doesn't allow the process of a Pod to run as a user by default, therefore if I don't specify the `runAsUser` and assign a special policy to the default serviceaccount the Pod will start with some random user which doesn't have any privileges to write to `/var/api.log`.

I don't know how the plai

[2020-03-02 11:37] HardNorth commented on #836
@b1zzu That's better :)
Well, It's actually questionable whether we actually need to save logs inside pods at all. We probably need to introduce a flag to silence any file logging.

[2020-03-02 13:03] HardNorth commented on #831
@omkarnathsingh Please stick to the topic.

[2020-03-02 13:08] HardNorth commented on #840
Nominally it's my issue. But we have more that 12 java agents which requires constant support. So the best way is to implement the agent by yourself, or it might took ages to wait for our implementation.

[2020-03-02 14:13] DzmitryHumianiuk commented on #838
@b1zzu looks like for external authes only.
@e-olga @evjlobanova please double check and consider as a bug if occurs.

[2020-03-02 17:43] HardNorth commented on #830
Ok, will try to look into Cucumber, I suppose

[2020-03-02 22:03] numo16 commented on #810
While it doesn't solve the problem from a clean setup standpoint, you can execute the following in the reportportal database on your postgresql instance to create the necessary unique indices required to finish launches

[code]

[2020-03-03 02:23] KCS289 commented on #470
Does it mean that Reportportal work with docker must use Linux and not Windows ?

[2020-03-03 10:19] DzmitryHumianiuk commented on #470
@KCS289
https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker-on-windows

Also:
https://reportportal.io/docs/Production-Deployment-And (system requirements)
https://reportportal.io/docs/Deploy-with-Kubernetes
https://reportportal.io/docs/Deploy-ReportPortal-without
https://reportportal.io/docs/Deploy-ReportPortal-on (on Ubuntu OS)
https://reportportal.io/docs/ReportPort

[2020-03-03 10:19] #470 closed

[2020-03-03 11:28] evjlobanova commented on #839
We have two widgets which based on attributes:

Cumulative trend chart:

![image](https://user-images.githubusercontent.com/30413511/75771101-50aa4f80-5d5a-11ea-9920-677a61bd42a3.png)
For this widget you can choose `attribute key` of needed attribute, and then you can see group statistics for 15 groups which based on `attribute value`

![image](https://user-images.githubusercontent.com/30413511/75

[2020-03-03 11:32] evjlobanova commented on #839
Component heakth check widget

![image](https://user-images.githubusercontent.com/30413511/75771614-5fddcd00-5d5b-11ea-84f8-15b3bd00844f.png)

![image](https://user-images.githubusercontent.com/30413511/75771759-ab907680-5d5b-11ea-8510-e343ae98291d.png)

![image](https://user-images.githubusercontent.com/30413511/75771855-d67aca80-5d5b-11ea-990c-8b4384eb2138.png)

[2020-03-03 11:33] evjlobanova commented on #839
Please give us a feedback, can you use this widgets?
Does they help you?
If not, please let us know how this widgets can be improved

[2020-03-03 11:43] evjlobanova commented on #837
@LupusUmbrae for we can propose you a implemented solution described in the ticket #839

The feature that you have described is a very simiar to the widget from ticket #269.

I close a ticket as a duplicate, I you are disagree please feel free to reopen this issue.

[2020-03-03 11:43] #837 closed

[2020-03-03 11:45] evjlobanova commented on #835
@AlehB Could you please check?

[2020-03-03 11:46] evjlobanova commented on #833
@AlehB Could you please check?

[2020-03-03 12:00] AlehB commented on #835
Hi @vikasChobey ,

Could you please share db-scripts and minio containers logs? We need details to deal with the situation

By the way, since you are running it on Windows did you make the necessary changes for Docker on Windows https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker-on-windows?

Best Regards,
Aleh

[2020-03-03 12:13] AlehB commented on #833
Hi @labidiadnene,

It’s not quite clear to me what type of installation you are using.

a) Why do you need magic-script.sh?
b) If you want to run the latest ReportPortal with Docker, you can get Docker compose file from https://github.com/reportportal/reportportal/blob/master/docker-compose.yml
(Guide https://reportportal.io/docs/Deploy-with-Docker)
c) If you want to run the services with no docke

[2020-03-03 12:19] OrenAutoSmileBox opened #845 "Improments for Log page. Add possbility to see error logs with 5 preceding it logs with other log level"
currently, when opening a step to see the log messages we can see 10 log messages and we have the ability to load 10 more each click

in case of an error that happened after a significant amount of log messages
we need to load 10 log messages each time in order to get to that error

it will be better we could:
- Jump directly to the error surrounding in order for me to see the preceding log messag

[2020-03-03 12:21] Andrey-Cherepakha commented on #834
The same for me. I use my local instance of RP 5.0. I can see a message but the attachment is not added.

TargetFramework netcoreapp3.1
ReportPortal.NUnit 3.7.13

[code]

[2020-03-03 13:20] filipcynarski commented on #839
Hello @evjlobanova

Thank you for response, it looks promising so I've tried to configure it. For each launch I'm string performance tests statistics and adding some additional data in tags:

req_count:30
req_percentile:833
req_max_time:10.714
req_long_count:25

And I wanted to draw each one as a trend (so aggregate each metric and draw)

Right now for both types of widgets it is not working so lo

[2020-03-03 14:51] Andrey-Cherepakha commented on #834
After investigation, we found pout that the problem is on the server side.

@ryzhkovd please check that reportportal_minio_1 container is up. Login to the server and execute
`sudo docker ps`

There should be a line like

`minio/minio:latest                                        "/usr/bin/docker-ent…"   About an hour ago   Up About a minute (healthy)            0.0.0.0:9000->9000/tcp

[2020-03-03 15:41] DzmitryHumianiuk commented on #810
@evjlobanova we need to put it for api team for investigation.
why these indexes missing from clean setup

[2020-03-03 15:44] DzmitryHumianiuk commented on #839
@filipcynarski RP of version v4 and v5 was never expected to be used with performance tests results.
we keep it in mind for v6.
but there is nothing in v5 that can resolve your query.

[2020-03-03 15:45] DzmitryHumianiuk commented on #839
Closing issue.

RP won't build charts based on attributes values.
But we will address performance results with a separate view.

[2020-03-03 15:45] #839 closed

[2020-03-03 15:46] evjlobanova commented on #845
What do you think if we a little bit change a logic of log view.
We can divide a log view on 2 parts:
- brief information about test:
      * name, details, history
      * only error (and higher) logs and 5 logs before them
- all logs on one page

![Log view](https://user-images.githubusercontent.com/30413511/75792162-a0027700-5d7e-11ea-8900-423715021e9e.gif)

So that user will see only informati

[2020-03-03 16:39] evjlobanova commented on #806
Closed because of no response, feel free to reopen

[2020-03-03 16:39] #806 closed

[2020-03-03 16:46] evjlobanova commented on #808
Closed because of no response, feel free to reopen issue

[2020-03-03 16:49] evjlobanova commented on #755
@srivastavajaideep please follow the steps described below.
If you have problems, please let us know and feel free too reopen issue

[2020-03-03 16:49] #755 closed

[2020-03-03 16:52] KatsiarynaTatarynovich commented on #746
https://github.com/reportportal/service-ui/pull/2311
https://github.com/reportportal/service-ui/pull/2313

[2020-03-03 16:52] #746 closed

[2020-03-03 16:58] #428 closed

[2020-03-03 16:59] evjlobanova commented on #778
I close issue, feel free to reopen in case of problems

[2020-03-03 16:59] #778 closed

[2020-03-03 17:01] evjlobanova commented on #570
Fixed in 5 version

[2020-03-03 17:01] #570 closed

[2020-03-03 17:03] #273 closed

[2020-03-03 17:04] evjlobanova commented on #599
@e-olga @VolhaKarenko could you please check this issue and close it?

[2020-03-03 17:08] evjlobanova commented on #699
We have updated doc on reportportal.io and transfere all integration staff directly to agent repositories https://reportportal.io/docs/Log-Data-in

[2020-03-03 17:08] #699 closed

[2020-03-03 20:00] HardNorth commented on #810
@DzmitryHumianiuk I believe it depends on user setup path. If there was something like this: RP4->RP5-RC->RP5 there might be DB migration issues. But for clean setup it works rather good now.

[2020-03-03 20:10] HardNorth commented on #833
Well, I believe I helped this person in a Slack in a private chat and fixed that 'magic-script.sh'. The case was in the necessity to build a personal version of RP for development and extension.

[2020-03-03 20:10] #833 closed

[2020-03-03 20:30] HardNorth commented on #832
Please refer Log4j documentation and not treat us as your personal Stackoverflow or interactive encyclopedia.

[2020-03-03 20:30] #832 closed

[2020-03-04 07:21] e-olga commented on #838
Good day,
@b1zzu, @DzmitryHumianiuk , the issue is fixed in version 5.1.

Regards,
Olga

[2020-03-04 08:07] filipcynarski commented on #839
That's a pity ;( Thank you for information, can you provide any time frames or road map when you expect the v6 available?

[2020-03-04 08:19] #838 closed

[2020-03-04 08:33] AssafMCET commented on #814
Hey all,

Any answer?

Thanks,
Assaf.

[2020-03-04 10:13] kathiresh06 commented on #685
@KunalShokeen432 , I am facing the exactly same issue which you faced. Can you explain detail about how you fix the issue. thanks

[2020-03-04 10:15] AlehB commented on #834
Hello,

restart: always policy was added to the Docker Compose file

Best Regards,
Aleh

[2020-03-04 10:15] DzmitryHumianiuk commented on #839
@filipcynarski end of 2020

[2020-03-04 10:17] AlehB commented on #831
Hello,

Restart policies were updated in the Docker Compose file
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml

Best Regards,
Aleh

[2020-03-04 10:18] DzmitryHumianiuk commented on #685
@kathiresh06 what's your RP version?
agent versions?

can you access aws endpoint with telnet call?

[2020-03-04 10:22] DzmitryHumianiuk commented on #810
Ok,
then we can close this.

As I see topic started @nagaeva-anastasia reverted to RPv4.

@nagaeva-anastasia i'll recommend you to try RPv5.1 once it available.
it should rid off child'ish issues.

[2020-03-04 10:22] #810 closed

[2020-03-04 10:25] labidiadnene commented on #833
Hi ! @HardNorth  thank you a lot ! yes as Vadzim said i needed to run reportproal in docker but throught the local projects files on my pc so that i can add features and then i can build it and run it locally in docker and Vadzim helped me to overcome this problem after fixing the docker-compose file like this
[docker-compose.yml.zip](https://github.com/reportportal/reportportal/files/4286740/dock

[2020-03-04 10:42] kathiresh06 commented on #685
@DzmitryHumianiuk ,
I have deployed RP V5 in AZURE VM with ubuntu.

In my console there is no error and shows "Finishing to send results to Report Portal... Sync time: 00:00:05.9293902". But no result is seen in RP.

![Reportportal](https://user-images.githubusercontent.com/61185129/75871690-e7a10580-5e47-11ea-847a-56114c8c3646.jpg)

[2020-03-04 11:16] ihar-kahadouski commented on #827
@kick-people Can you provide info about api-service version and which agent do you use?

[2020-03-04 11:31] DzmitryHumianiuk commented on #685
@kathiresh06 what are version of agents which you use in test framework?

[2020-03-04 11:39] b1zzu opened #846 "[v5] Jira integration is not installed"
**Describe the bug**

Hi, Following the [Jira integration](https://reportportal.io/docs/Jira-Integration) documentation, it seems that the Jira plugins should be already installed on ReportPortal but it's not for me. I have installed ReportPortal on Kubernetes following the Kubernetes tutorial but Jira is not mentioned anywhere https://github.com/reportportal/kubernetes/tree/master/reportportal/v5

[2020-03-04 12:35] OrenAutoSmileBox commented on #845
It looks like a good idea!
I think it's practical and convenient

will this be available inside a nested step as well?
on tests without errors, ill see the full log page?

If we are on the subject, I would like to have the ability to click on the log itself and to "jump" to the log surrounding on the full log page.
that way I have the ability to search for certain log messages.. click on them.. an

[2020-03-04 16:52] YarKr opened #847 "Please help , having issues uploading Log with screenshot using Unirest for Java"
HttpResponse<String> response = Unirest.post("******")
  .header("Authorization", "Bearer *******")
  .field("json_request_part", new File("test.json"))
  .field("file", new File("screenshot16249438513890412689.png"))
  .asString();

[2020-03-04 17:15] shaburov opened #905 "Endless loop when the plugin stops"
Precondition.
Build plugin-bts-jira jar with java 11 (last master)
Load plugin to reportportal
**Result**: infinity loop with error `java.lang.UnsupportedClassVersionError`
logs service-api
[code]

[2020-03-04 18:11] nvborisenko commented on #685
"Finishing to send results to Report Portal... Sync time: 00:00:05.9293902" console message comes from some .NET agent, and it says successful reporting.

I think @kathiresh06 reported tests to `Debug` tab, not `Launches`, and this behavior is configurable.

[2020-03-05 07:36] evjlobanova commented on #846
Please follow the steps which are described here https://reportportal.io/docs/Plugins%3Eupload-plugin

Jira is a plugin, so firstly you need to upload plugin and then configure the integration.
If you still have a question or problems please reopen the issue

[2020-03-05 07:36] #846 closed

[2020-03-05 10:10] olexandr-mosin opened #849 "[v5] DataException when data provider object is too long"
**Describe the bug**
PRv5 does not show some tests results and can't finish a run even when build was done.
![Screenshot 2020-03-05 at 11 38 05](https://user-images.githubusercontent.com/53187889/75968428-051cb080-5ed6-11ea-9b75-cc350089de85.png)

**To Reproduce**
1. implement simple test with data provider (separate class)
2. add several strings in this provider
-"7777777777777777777777777777779v

[2020-03-05 12:17] tmatveyeva commented on #629
We do not have this issue after updating logger-java-log4j to 4.0.2 (from 4.0.1)

[2020-03-05 12:37] #629 closed

[2020-03-06 10:03] kick-people commented on #827
@ihar-kahadouski 5.0.0

[2020-03-06 15:14] blue995 opened #850 "[v5] OutOfMemoryError exception crashes API service without automatic restart."
**Describe the bug**
If an OutOfMemoryError exception (GC overhead Limit exceeded) is thrown in the API service, the API service does not recover or restart on it's own (docker-compose `restart:always` does not work). When you try to login, the UI is stuck in the loading screen.

**To Reproduce**
Execute the export as PDF/XLS/HTML feature on a launch with a high amount of test cases (e.g. 100k).

[2020-03-06 15:27] blue995 commented on #850
**Additional Context**

The exported result includes the item description in the "Name" column. (see screenshot below)
![image](https://user-images.githubusercontent.com/36842443/76096594-a3883f00-5fc6-11ea-9cee-bedb20581c21.png)

The item descriptions of **our** suites and steps are bigger compared to the image above. They can cover 50 to 80% of the whole name column per page.

**Example**: If I

[2020-03-07 00:07] AspireFbbRP opened #851 "Report portal not showing results with java 11"
Hi team,
I've integrated report portal with my java-testNG framework. And I can see the results in my reportportal account of my execution.
Now I just updated my java version from java 1.8 to Java 11 in my machine and pom.xml. Now I'm not able to see my results in reportportal. Does reportportal supports java 11?

Please help me on this.

Thanks

[2020-03-09 09:28] blue995 opened #852 "Select specific launches for Auto-Analysis feature"
**Describe the solution you'd like**
I'd like a to declare launches (e.g. By Name or Attribute) that should be considered for an automatic analysis as soon as the launch finishes.

**Is your feature request related to a problem? Please describe.**
Currently you can enable or disable the feature for all launches. A software project with multiple development teams, where each development team monito

[2020-03-09 10:05] ihar-kahadouski commented on #851
@AspireFbbRP Which version of agent do you use?

[2020-03-09 10:13] AspireFbbRP commented on #851
4.2.1 im using...

<dependency>
<groupId>com.epam.reportportal</groupId>
<artifactId>agent-java-testng</artifactId>
<version>4.2.1</version>
</dependency>

[2020-03-09 15:19] LittleColin opened #889 "Getting incorrect basePath for the API in the swagger docs which means "try it now" fails"
The UI for the swagger client shows the following:
`[ Base URL: reportportal.mydomain.net/ ]`

but looking at the demo site it should be:
`[ Base URL: reportportal.mydomain.net/api ]`

In the swagger docs returned by /api-docs endpoint it has "basePath":"/" so I guess the issue must be in my service-api configuration somewhere. Is there a way for me to troubleshoot this further?

Note this is usin

[2020-03-09 20:14] byip-ujet opened #853 "RP Bug Tracking: JIRA can't find project"
**Describe the bug**
We noticed on Feb 21, 2020 that our link to JIRA suddenly stopped working in the Bug Tracking System.  We were using an user with rights to the project, and logging in with the api token generated for the user by JIRA.

I've also tried using my own jira account (which has admin access to said project to browse, modify project settings, create/work on tickets etc.)

We're seein

[2020-03-10 09:55] HardNorth commented on #685
@nvborisenko Thanks, good guess. Yeah, that's most likely.

[2020-03-10 10:00] kathiresh06 commented on #685
@nvborisenko ,
 you're right. It reported to Debug tab. Now I configured to Launches tab!
Thanks

[2020-03-10 11:03] HardNorth commented on #851
@AspireFbbRP Please use version 4.2.3 along with `logger-java-log4j:4.0.2` or `logger-java-logback:4.0.5`.

[2020-03-10 12:21] shaburov commented on #526
RP version 5.+
https://web.demo.reportportal.io/ui/#api ->  /v2/{projectName}/log
Body structure example:
[code]

[2020-03-10 13:08] evjlobanova commented on #852
@blue995 Actually we do not plan to add this feature. But we will think about it.
For now we can propose you two workarounds:
- you can devide your project on two projects, so different teams will be able to post launches to different projects

- you can launch AA manually for needed launches
![image](https://user-images.githubusercontent.com/30413511/76315264-6505c380-62e9-11ea-8a69-35623564b5e6.

[2020-03-10 14:03] pbortnik commented on #849
@HardNorth Seems that issue somewhere in backend side. Should be investigated.
@evjlobanova Create a technical task.

[2020-03-10 14:27] pbortnik commented on #853
Duplicate of [reportportal/plugin-bts-jira#17](https://github.com/reportportal/plugin-bts-jira/issues/17)

[2020-03-10 15:41] afsaralihooq commented on #607
I had similar issue for TestNG upgrading to latest helped me :

		<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-testng</artifactId>
			<version>4.2.0</version>
		</dependency>

<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>logger-java-log4j</artifactId>
			<version>4.0.1</version>
		</dependency>

<dependency>
    <groupId>com.fasterxm

[2020-03-10 21:12] nicodn commented on #500
What fixed it for me was:
`chown 1000:1000 data/elasticsearch/`

[2020-03-10 21:12] nicodn commented on #501
What fixed it for me was:
`chown 1000:1000 data/elasticsearch/`

[2020-03-10 23:45] blue995 commented on #852
Thank you @evjlobanova for considering my feature request.

We're currently doing the second workaround because we want a single elasticsearch index instead of two separated ones.

[2020-03-11 03:21] minhdoan159 commented on #739
@ManfredGro @evjlobanova @DzmitryHumianiuk I am using v5:
![image](https://user-images.githubusercontent.com/38516467/76379144-e5780300-6381-11ea-8deb-3854152fda9a.png)

with dependencies:
`// https://mvnrepository.com/artifact/com.epam.reportportal/agent-java-cucumber
    compile group: 'com.epam.reportportal', name: 'agent-java-cucumber4', version: '5.0.0-BETA-9'

    // https://mvnrepository.co

[2020-03-11 08:56] ryzhkovd commented on #834
After recreate minio container all works.

[2020-03-11 08:56] #834 closed

[2020-03-11 09:52] pbortnik commented on #853
Version 5.0.1 with updated jira client is released.

[2020-03-11 09:52] #853 closed

[2020-03-11 15:41] mnicula opened #854 "Reset password email not received"
I tried to reset the password for two users, but no email received :(

[2020-03-11 15:47] DzmitryHumianiuk commented on #854
@mnicula any other details?
RP version?
did it work previously?

[2020-03-11 15:49] mnicula commented on #854
V5
Can't tell, didn't use it before

[2020-03-11 16:00] vikasChobey commented on #831
I also face same issue in the past, Every time need to restart the container is only a solution as of now

[2020-03-12 06:56] mnicula commented on #854
until you're looking into the problem, could you please provide the hashed password for the superadmin user, I will update the password in db :)

[2020-03-12 07:11] AlehB commented on #831
As I mentioned above, the policies were updated, no restart is needed anymore

[2020-03-12 07:20] mnicula commented on #815
didn't knew about markdown. no need for HTML support then. Thanks

[2020-03-12 07:20] #815 closed

[2020-03-12 09:01] ChandanaPs commented on #817
@VolhaKarenko Any update on this? Issue is happening on a different machine too

- Run RP 5 docker
- Login as admin
- Install Jira plugin
- It is succesful
- Install sauce plugin.
- It throws error

[2020-03-12 09:56] ChandanaPs commented on #817
It worked when i delete existing data in storage and uploaded through api

[2020-03-12 09:56] #817 closed

[2020-03-12 15:47] mnicula commented on #831
i'm facing the same issue, even with the updated Docker Compose file

[2020-03-13 05:50] vikasChobey commented on #835
Above issue has been resolved

[2020-03-13 05:50] #835 closed

[2020-03-13 05:51] vikasChobey opened #855 "[v5]Can we implement report portal without TestNG and Junit in Java"
Can we implement report portal without TestNG and Junit in Java, If yes then please help me

[2020-03-13 08:48] evjlobanova commented on #854
@mnicula Do you have configured E-mail server integration?
Could you please send us a screenshot?
Could you please describe your steps, to reproduce the bug?

[2020-03-13 14:38] evjlobanova commented on #813
Which version of reportportal do you use?

[2020-03-13 16:43] MaksimPretkel commented on #813
Versions:

Win10, Chrome (Latest)
Version of RP:
Current version: API Service: 4.3.7; Index Service: 4.2.0; Jira Service: 4.3.0; Authorization Service: 4.2.0; Service UI: 4.3.7;

[2020-03-13 16:46] jonacarvalheiro opened #856 "[v5] Can't Login with Github Authorization"
**Description**
Trying to login with Github, but appears an error on the UI
![image](https://user-images.githubusercontent.com/11489396/76641495-a1375f00-6549-11ea-8717-798fb9881cb4.png)

Configurations:
Followed the ones in here:
https://github.com/reportportal/reportportal/wiki/How-to-configure-login-via-GitHub

![image](https://user-images.githubusercontent.com/11489396/76641754-ff644200-6549-1

[2020-03-16 04:27] GopinathCTS opened #857 "Total Failed count is not matched with Test cases after Merging the multiple Launches [ deep merge]"
Steps to reproduce
1. Merged Multiple launches into one Launche [ deep merge]
2. Selected checkbox in all field while merging [Extend child suites description with original launch name]
3. Deleted all the Failed Cases [ except product Bug]
4.But the Failed Total is not matched with actual test cases [ When we click the failed count from launch]
![laucn_Step1](https://user-images.githubusercontent.

[2020-03-16 06:33] evjlobanova commented on #813
@e-olga please check if it is know issue on version 4

@MaksimPretkel we do not support version 4, because it has been released the new version 5.
So please update your current version ti the latest one.

We are planning to update the epam instance in the next month.

[2020-03-16 11:33] alatyshev commented on #715
@DzmitryHumianiuk - Any news on this? We are also facing this issue.

[2020-03-16 15:54] DzmitryHumianiuk commented on #715
not really.
afair, we had contributor who almost made it, but not sure it was merged somewhere

[2020-03-16 17:21] almayce commented on #526
@shaburov Hi! I try to send the request:

`curl --location --request POST 'http://localhost:8080/api/v2/SUPERADMIN_PERSONAL/log' \
--header 'Content-Type: application/json' \
--header 'Authorization: Bearer 59d0f0d0-e59d-4c99-974b-8ffe42ca53cd' \
--header 'Content-Transfer-Encoding: 8bit' \
--header 'Content-Disposition: form-data; name="json_request_part"' \
--data-raw '{"itemUuid":"20db3afa-aea8

[2020-03-17 09:03] Zahorodnii opened #904 "Can't connect to JIRA Cloud with Google Authorization"
Now Jira plugin have just Basic Authorization Type.

[2020-03-17 13:26] evjlobanova commented on #857
@GopinathCTS Whicj version of reportportal do you use?

[2020-03-17 13:27] DzmitryHumianiuk commented on #856
@jonacarvalheiro do you use GitHub Enterprise or free version?

[2020-03-17 13:32] evjlobanova commented on #855
Due to no details, versions of agent, we close this issue.

[2020-03-17 13:32] #855 closed

[2020-03-17 13:58] DzmitryHumianiuk commented on #854
@mnicula please give a bit more context.

exact version of RP API.
How was email configured?
do you receive any other type of emails from this instance?

[2020-03-17 14:15] DzmitryHumianiuk commented on #849
1. Change limit from 512 to 1024
2. If length more than 1024 then: take hash of param, can len of hash from param. append value hash to it
3. Change the way to store TicketID as: if no explicit declaration then post `codeReference(Hash of params)`

@olexandr-mosin please use explicit `TestCaseID` declaration to avoid this until fixed.
https://github.com/reportportal/client-java/wiki/Test-case-ID

[2020-03-17 14:19] DzmitryHumianiuk commented on #850
We will consider re-working of export mechanism.

[2020-03-17 14:41] jonathancarvalheiro commented on #856
@DzmitryHumianiuk I'm using the cloud version.

[2020-03-17 15:13] DzmitryHumianiuk commented on #847
@YarKr
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs

[2020-03-17 15:36] DzmitryHumianiuk commented on #841
@satishultimate
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

[2020-03-17 15:38] DzmitryHumianiuk commented on #841
@satishultimate also if your company is willing to go with payed support, our team can investigate possibility of implementation of it for you.
let us know at
![image](https://user-images.githubusercontent.com/11332788/76873136-6fdace00-687e-11ea-9bd5-2b69d62191d5.png)

[2020-03-17 15:39] DzmitryHumianiuk commented on #840
@szabolcslevay we are open for pull request,
you can leverage https://github.com/reportportal/agent-java-cucumber4 for it

[2020-03-17 15:44] DzmitryHumianiuk commented on #584
Closing,
since RPv5 moved on PostgreSQL.

[2020-03-17 15:44] #584 closed

[2020-03-17 15:48] DzmitryHumianiuk commented on #836
Closed as duplicate in honor of #715

[2020-03-17 15:48] #836 closed

[2020-03-17 15:54] DzmitryHumianiuk commented on #715
Link similar:
https://github.com/reportportal/reportportal/issues/702
https://github.com/reportportal/reportportal/issues/836

[2020-03-17 15:54] DzmitryHumianiuk commented on #702
Closed as duplicate in honor of #715

[2020-03-17 15:54] #702 closed

[2020-03-17 16:04] DzmitryHumianiuk commented on #830
@Yumfriez could you please address this?

[2020-03-17 16:11] GopinathCTS commented on #857
@evjlobanova  I'm using Report portal Version 5

[2020-03-17 16:18] DzmitryHumianiuk commented on #829
@AlZero-t do you migrate from version 4 to version 5 (https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5)?

or just move deployment from server A to server B?

[2020-03-17 17:05] DzmitryHumianiuk commented on #827
@kick-people could you please share request, which send from Jenkins?

[2020-03-18 11:01] evjlobanova commented on #857
@GopinathCTS How much launhce have you merged?

And one more question could you please tell me your use case? Why do you merge launhces?
Maybe we can help you to find workaround?

[2020-03-18 12:46] evjlobanova commented on #20
In version 5.0 we are adding a widget Health Check widget, that helps you to combain test items from different launches and calculate a passing rate for different components.
https://reportportal.io/docs/Component-health-check

[2020-03-18 12:46] #20 closed

[2020-03-18 12:49] evjlobanova commented on #26
In the version 5 we have added a possibility to see the similiar failures in the defect editor.

[2020-03-18 13:08] evjlobanova commented on #45
In version 5.0 we have added a clickable area for widgets which is based on filter.
For example Overall Statistics widget.
![image](https://user-images.githubusercontent.com/30413511/76962989-4d55bd00-6931-11ea-9f61-519b2f8179e0.png)

It shows summ information about filter.
When a user clicks on the widget.
Then system redirects user to the *list view for filter*
![image](https://user-images.githu

[2020-03-18 14:01] evjlobanova commented on #50
@DzmitryHumianiuk I suppose we can close this issue, because we do not have any plans to implement it in the nearest future.

[2020-03-18 14:01] #50 closed

[2020-03-18 14:04] evjlobanova commented on #62
In version 5.0 we have added a clickable area for widgets which is based on filter.
For example Overall Statistics widget.
![image](https://user-images.githubusercontent.com/30413511/76962989-4d55bd00-6931-11ea-9f61-519b2f8179e0.png)

It shows summ information about filter.
When a user clicks on the widget.
Then system redirects user to the *list view for filter*
![image](https://user-images.githu

[2020-03-18 14:18] evjlobanova commented on #74
I suppose for this reasons, you can use Component Health check widget.
This widget shows the passing rate of the application components which are indicated by the specified attributes.

Use case:

Situation: As a Project Manager or Test Lead, a I want to see the most unstable place in my product ( application).

Solution: All test cases in my project in ReportPortal have an attributes. For example

[2020-03-18 14:42] almayce opened #858 "Logs with attachments does not attach file"
Hi! I trying to send the request to attach file to my local report to the nested step item.

like here:
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs

[code]

but there is no attached file to the report or response with id from api.

![Screenshot from 2020-03-18 16-55-32](https://user-images.githubusercontent.com/18463941/76974032-5d719