[2017-10-23 13:54] DzmitryHumianiuk commented on #97
@lifemanship jfreechart is not a best option.
First, it has not compatible license with GPL 3.0
Second, it looks outdated, like 1998 )

we will introduce `print.css` soon (#217).
so you can call print action for dashboard, and print it as PDF.

will it work for you?
try it, even now, since `css` will only add affordable view for current representation

[2017-10-23 13:55] DzmitryHumianiuk commented on #217
in progress

[2017-10-23 14:08] DzmitryHumianiuk commented on #155
@Tset-Noitamotua
Do you really still need this?
or we can close that issue?

[2017-10-23 14:14] DzmitryHumianiuk commented on #42
@Rider1982
please also check #152
it have description how to add stacktrace automatically into test case description.

grouping by stacktrace will be release as separate widget

[2017-10-23 14:16] DzmitryHumianiuk commented on #26
will be implemented via `Sub-Launch widgets` view

in this sub-launch dash, where will be grouping widget

[2017-10-23 14:17] #42 closed

[2017-10-23 14:20] DzmitryHumianiuk commented on #74
similar as #186

[2017-10-23 14:24] DzmitryHumianiuk commented on #79
really deep.
a lot of functionality.
will discuss with the team

[2017-10-23 14:25] DzmitryHumianiuk commented on #96
sub-launch view.
`most time-consuming` widget

[2017-10-23 14:26] DzmitryHumianiuk commented on #136
sub-launch widget,
which will make grouping, based on assigned BTS ticket

[2017-10-23 18:05] #155 closed

[2017-10-24 08:06] iKozzz commented on #212
@Iren-Melnyk
Yes. This is for dialog of adding shared widget to dashboard

[2017-10-24 09:44] s-shimko commented on #133
I'm answer instead of Egor, he knows about it. Now I'm working with RP.
1. Minimun I'm use ALL DASHBOARDS one time per 2 weeks.
2. Just ordinary interaction. I'm create new dashboard per 2 weeks to observe statistic and I often use 'Most failure test-cases failure'. I'm not editing old dashboards to get information about new sprints.
3. I'm always share My dashboards for my colleagues, who involve

[2017-10-24 10:31] Iren-Melnyk commented on #212
@iKozzz
Ok, thanks. We'll improve this.

[2017-10-24 12:04] avarabyeu commented on #39
see [documentation](http://reportportal.io/docs/How-to-implement)

done

issue types depend on project, but REST API documentation (swagger) is static for whole RP instance, this is why cannot be implemented

[2017-10-24 12:38] nvborisenko commented on #204
Fixed in 3.3.0-beta1

[2017-10-24 12:38] #204 closed

[2017-10-24 16:35] DzmitryHumianiuk commented on #71
re-turn to backlog.

maybe implemented with simple views

[2017-10-25 06:19] KursLabIgor commented on #204
guys, how i can get code with fixes?

[2017-10-25 07:49] lifemanship commented on #141
Is it possible to implement it feature in the next release build 3.4?

[2017-10-25 08:31] ulmanA opened #249 "Notifications rule for rp.mode"
Add notifications rule for the launch mode (`rp.mode` property).
For example,
send notification only when the launch mode is: DEFAULT

[2017-10-25 19:09] shaburov opened #250 "Support for custom types of defects"
![image](https://user-images.githubusercontent.com/15269131/32017667-1f98b1b4-b9d0-11e7-9c37-f7b25553076b.png)

[code]

[2017-10-25 19:21] shaburov opened #251 "Internal Server Error if no external system id is specified"
Class `Issue.ExternalSystemIssue`
An error occurs if the request does not specify `systemId`

![image](https://user-images.githubusercontent.com/15269131/32018504-c0762fd8-b9d2-11e7-91ec-bd4522a7f03c.png)

[code]

[2017-10-25 19:32] shaburov opened #252 "Error Message does not contain a list of available external bug-track services"
When using the Issue.ExternalSystemIssue class, in the event of an error, error message does not contain a list of available/registered external bug-track services

[code]

[2017-10-26 12:41] DzmitryHumianiuk commented on #51
move t backlog.

Performance part is not in priority.
will be considered for as a part of `Sub-launch widgets`

[2017-10-26 12:56] DzmitryHumianiuk commented on #178
Updated widget contains:
- [x] launch name;
- [x] start time;

Should be discussed:
 - [ ] launch tags

And `description` will not be shown, since can contains a lot of information.

![image](https://user-images.githubusercontent.com/11332788/32054097-00edebe4-ba66-11e7-9aab-5173c6e7d429.png)

[2017-10-26 13:19] DzmitryHumianiuk commented on #232
work in progress

[2017-10-26 13:21] abotalov commented on #203
If `to investigate` и `automation bug` colours look similar, it may be a better decision to change these default colours, rather than give users an ability to customize it.

[2017-10-26 13:23] ailjushkin commented on #203
Well, you may not complicate this functionality. Just choose different color scheme.
FYI: https://material.io/guidelines/style/color.html

[2017-10-26 13:40] DzmitryHumianiuk commented on #203
@Iren-Melnyk
i support the idea to change a bit standard colors.

what do you think?

[2017-10-26 13:48] andrey-patin-1979 opened #254 "When defect type is changed for certain failed test item the URL to this test item will become invalid."
There is a workaround to change value of "filter.in.issue$issue_type"-URL parameter manually to the changed defect type.

[2017-10-26 13:56] DzmitryHumianiuk commented on #57
we introduce **UniqueID** in 3.3 for test cases (test items)

This ID can be

1. populated directly on item creation
2. will be generated based on `ProjectName` + `launchName`+`Suites/Parents names`+`testItem Name` + `parameters`

so if you will populated unique ID for test case, it will show history for it at any place.

[2017-10-26 14:09] DzmitryHumianiuk commented on #73
will be covered with `Console View`

![image](https://user-images.githubusercontent.com/11332788/32057620-7110d0e4-ba70-11e7-89b3-a43602a95595.png)

[2017-10-26 14:09] #73 closed

[2017-10-26 14:53] avarabyeu commented on #192
@ksuglotova now you can specify your custom uniqueID for the test. Details in documentation will be coming shortly.

[2017-10-26 15:15] DzmitryHumianiuk commented on #169
@kshcherban up

[2017-10-26 15:16] kshcherban commented on #169
I think with the latest versions changes it can be resolved. Thank you.

[2017-10-26 15:16] #169 closed

[2017-10-26 15:17] DzmitryHumianiuk commented on #37
in progress.
available with 4.0

[2017-10-26 15:23] DzmitryHumianiuk commented on #2
Will be considered with PostgreSQL migration.

authorization service will be replaced with simple mock, which will always return only one user

[2017-10-26 15:35] andrey-patin-1979 commented on #41
It can be used to show progress of investigation but really not a feature which helps a lot

[2017-10-26 15:36] DzmitryHumianiuk commented on #45
#158 with full text search can be a solution for that.

advanced search will be considered as a part of it.

[2017-10-26 15:48] DzmitryHumianiuk commented on #105
implement on UI `=>` condition for filters of log levels.

for instance,
If you Select `INFO`: this filter will show you `INFO + WARN + ERROR`
If you Select `DEBUG`: this filter will show you `DEBUG + INFO + WARN + ERROR`

this will cover any in-between levels of logs

[2017-10-26 15:54] DzmitryHumianiuk commented on #117
@fasterfish this one is not easy one.

server should be improved to support video-streaming.
because in current implementation, it will work only via full download, and then play.

[2017-10-26 16:17] DzmitryHumianiuk commented on #166
Can be covered with:

1. LDAP/AD integration
2. for #164 and #2 will be added auth-service mock, which will return only one user for everyone.

it self, access to specific data, when everything else covered by access permission, real overhead for implementation.

[2017-10-26 16:17] #166 closed

[2017-10-26 16:24] DzmitryHumianiuk commented on #196
work as designed

[2017-10-26 16:24] #196 closed

[2017-10-26 16:26] ailjushkin commented on #41
I think, giving a type to an investigation like `taken`/`not taken` has common sence. But:
That does not automate completely investifation process of a team: it is still required to do an action manually to take issue/mark it somehow. I don't see a lot profit of that feature. The same efficiency in my honest opinion could be achieved just by assigning users to a certain suites to process.

[2017-10-26 16:27] DzmitryHumianiuk commented on #242
Agree.

right to the next sprint,

[2017-10-26 16:28] ailjushkin commented on #41
For instance, you could output username which is currently watching certain log of a test.

[2017-10-26 16:29] DzmitryHumianiuk commented on #246
@rbhbokka which version of UI?

![image](https://user-images.githubusercontent.com/11332788/32064914-eb1dbfe2-ba83-11e7-8057-5a5a233a6db3.png)

[2017-10-26 16:40] DzmitryHumianiuk commented on #247
@ulmanA
agent returns `launchID`, right after launch start on server.
and you know `project` from params
you know `endpoint`

append it all together
`endpoint` + `/ui/#` + `project` + `/launches/all/` + `launchID`
`http://RP_SERVER/ui/#superadmin_personal/launches/all/599afcb39194be00011919d9`

cc @avarabyeu

[2017-10-26 16:45] DzmitryHumianiuk commented on #150
@jurteg can be closed?

[2017-10-26 16:47] DzmitryHumianiuk commented on #184
@jurteg any luck?

[2017-10-26 16:49] DzmitryHumianiuk commented on #204
@nvborisenko ^

[2017-10-26 16:55] DzmitryHumianiuk commented on #126
@dkorobtsov @ivanovstepan @avarabyeu can be closed?

[2017-10-26 16:56] DzmitryHumianiuk commented on #125
@SergeVKom did you check with latest client?

[2017-10-26 16:58] DzmitryHumianiuk commented on #119
@avarabyeu @pictureb00k

[2017-10-26 17:09] SergeVKom commented on #125
@DzmitryHumianiuk no, I did not. Let me check.

[2017-10-26 19:08] shaburov opened #255 "[UI][Unique bugs table] Invalid link for the test in the "FOUND IN" column"
Invalid link for the test in the "FOUND IN" column if defect type is "**NO_DEFECT**"
![image](https://user-images.githubusercontent.com/15269131/32070409-df8cef0c-ba94-11e7-81c9-bc38e4c100b0.png)

![image](https://user-images.githubusercontent.com/15269131/32070896-5e48a52e-ba96-11e7-82a8-eb1ebce3fc57.png)

![image](https://user-images.githubusercontent.com/15269131/32071998-d2ce162e-ba99-11e7-8ec

[2017-10-26 22:06] ksuglotova commented on #192
@avarabyeu Andrey, this request was from Andrey Patin (epam)

[2017-10-27 00:31] avarabyeu commented on #250
![](https://github.trello.services/images/mini-trello-icon.png) [Teo](https://trello.com/c/ECl5Uawy/2-teo)

[2017-10-27 08:57] jurteg commented on #150
@DzmitryHumianiuk are you going to fix that?

[2017-10-27 09:02] jurteg commented on #184
I was pretty sure I have closed this issue. This issue is reproduceable only for ScenarioReporter in Cucumber agent. I spend some time and got the solution on this, considering it's not a bug.
The 'hookFinished()' method is empty for this type of reporter, so you need just add appropriate override:

` @Override
    protected void hookFinished(Match match, Result result, Boolean isBefore) {

[2017-10-27 09:02] #184 closed

[2017-10-27 09:30] DzmitryHumianiuk commented on #150
@jurteg still reproducible?

[2017-10-27 09:46] jurteg commented on #150
@DzmitryHumianiuk yes.
agent-cucumber-2.6.2

[2017-10-27 12:15] maximustremor commented on #127
We are to use RP widgets for last run status. So to be able to show number of test cases passed, failed, skipped etc. It will increase visibility quality of autotest results for the team. We are also using RP stats for quarterly reports. It may be a way more convenient to switch to test cases view for it.

[2017-10-27 13:23] #170 closed

[2017-10-27 13:38] #126 closed

[2017-10-27 15:31] shaburov opened #256 "[UI][Unique bugs table] Add test description to widget"
![image](https://user-images.githubusercontent.com/15269131/32112078-f4d4a368-bb44-11e7-816e-38e43868bfc2.png)

[2017-10-27 15:36] shaburov opened #257 "[UI][Unique bugs table] Add issue hint to widget"
![image](https://user-images.githubusercontent.com/15269131/32112331-a7097b8a-bb45-11e7-99be-c9cc8b84b995.png)

[2017-10-27 16:05] DzmitryHumianiuk commented on #257
well.
@shaburov what's the bug here?

link to issue assigned in defect.
bug table collects all defects, group test cases according to it.

this widget do not check actual status of bug

[2017-10-27 16:06] DzmitryHumianiuk commented on #188
@avarabyeu what is label `next`?

[2017-10-27 16:07] DzmitryHumianiuk commented on #256
@shaburov can you give more details?

widgets works as desired.
i guess, you are looking for some specific additional functionality

[2017-10-27 16:10] DzmitryHumianiuk commented on #252
@avarabyeu ^

[2017-10-27 16:14] shaburov commented on #257
This is not a bug. This is an improvement. It is necessary for PO to increase the informativeness of the dashboard.

[2017-10-27 16:18] shaburov commented on #256
This improvement will increase the information content of the dashboard. This field can be made disabled. But its presence will make it possible to understand what functionality does not work.

[2017-10-28 14:59] shaburov commented on #256
@DzmitryHumianiuk ^

[2017-10-28 14:59] shaburov commented on #257
@DzmitryHumianiuk ^

[2017-10-28 15:02] shaburov opened #258 "[UI][Launches table] The column "No defect" is not displayed"
![image](https://user-images.githubusercontent.com/15269131/32135585-2bafe13e-bc0a-11e7-8d07-da45d6a7cc85.png)

[2017-10-30 10:40] evjlobanova opened #259 "Sub launch view: An alternative board shows summary for the current launch"
As a user I would like to get key information about a launch in a short summary page with widgets to get a quick view about launch results.
As a User I should possibility to come to a **Sub launch view** from the All launches view.
If a  launch is in a process than the User should be informed about it.
Sub launch should be included the following Sub-launch widgets:

- **Launch info widget** (Name,

[2017-10-30 11:21] evjlobanova commented on #259
Now we are developing a new feature for Report Portal - **Sub launch view**.  We are trying to make the analysis of the launch more comfortable, productive, user-oriented and -friendly.
When we was describing new functionality, we based on your issues on GitHub:
- Issue grouping widget ( #26 #42 #136  )
- Most time-consuming test cases ( #96  )
- and issues #74 and #186

But I think you have  a lo

[2017-10-30 12:48] avarabyeu commented on #181
@DzmitryHumianiuk @evjlobanova can we guys fix it since wontfix resolution is here

[2017-10-30 14:41] DzmitryHumianiuk commented on #181
@avarabyeu I'm not sure we really should make such a fix.

request is to follow the specific configuration, and replace the default output for `No Data` with something like `All successful`

Custom thing for custom case.

 @evjlobanova could you please contact **Alisa**, in reportportal.slack.com and ask here for details and their specific use case with screenshots?

[2017-10-30 15:52] evjlobanova commented on #181
@DzmitryHumianiuk @avarabyeu  Alisa said that  her team has a such case constantly, because all test cases are passed often. The most used widget is Launch execution and issue statistic, so the widget looks something like this.
![image](https://user-images.githubusercontent.com/30413511/32180072-0cf88202-bda2-11e7-876b-7d95d2247a7d.png)

I proposed her to use an Overall statistic widget with a dyn

[2017-10-30 19:13] DzmitryHumianiuk commented on #181
@evjlobanova
well. For **Launch execution and issue statistics** we can change default `No data available` with `No issues` for pie chart, which is responsible for issues in statistics.
Small improvement.

[2017-10-31 11:19] DzmitryHumianiuk commented on #150
@jurteg you can enable markdown for your logs
just add `!!!MARKDOWN_MODE!!!` before the log string.

and according to this: https://simplemde.com/markdown-guide
it will be represented as table.

@lexecon @pbortnik please also check who remove extra whitespaces in text

[2017-10-31 16:16] evjlobanova commented on #181
We have refactored the Launch execution and issue statistics widget, so now, if a launch is passed, a user will see:
![image](https://user-images.githubusercontent.com/30413511/32235167-ccc7f554-be6f-11e7-8e04-c59de454c041.png)

[2017-10-31 16:16] #181 closed

[2017-11-01 20:53] ulmanA opened #260 "Add failures age view"
As a user I want to identify easily faliures that occures again and again.
For example:
last launch has 2 product bug and 3 system issue
one  of the product bug failure occures on each one of the last 6 launches in the same test
one of the product bug failure is new issue
one of the system issue occurs inconsistency for the last 10 launches and make that test to be flaky
one of the system issue oc

[2017-11-02 08:10] ulmanA opened #261 "Notification: add text to the email message"
Please give option to add text to the email body
For Example: add a default user&password

(Consider also give option for add attachments)

[2017-11-02 08:39] ulmanA opened #262 "Notifications: send notification to none user"
Please add option to send notifications to any email and not just to registered users

[2017-11-02 10:00] evjlobanova commented on #262
hello!  You can change notification rules by yourself in project setting, where you can add  different emails. There is no restriction that limites a list of receivers.
![image](https://user-images.githubusercontent.com/30413511/32319707-8c667586-bfcc-11e7-97de-36d376931281.png)

As well this case is described in our documentation on a section [CONFIGURE EMAIL NOTIFICATION  ](http://reportportal.i

[2017-11-02 10:07] evjlobanova commented on #261
@ulmanA  could you tell more details about your issue? Please describe the cases when you are faced with the need to add a text to the email body?

[2017-11-02 10:32] evjlobanova commented on #260
@ulman in RP we have a several tools that are designed to simplify the definition of failures. You can make it manual or using Auto-Analysis.

On a log view you can see a History line, that helps you to see test item in a different executions, as well you can move between them quickly and identify the reason of failures  by yourself.

Also you can use an Auto-Analysis that analyses test cases and

[2017-11-02 11:15] ulmanA commented on #261
I want that none user that will receive the notification will be able to login the report-portal and view the launch result using default user that I will provide in the email message

[2017-11-02 11:27] evjlobanova commented on #261
@ulmanA there is no such an ability. Is it possible for you to register a new user to the project?

[2017-11-02 11:34] ulmanA commented on #261
Of course I can add a new user, but for managers that just want to view the result and not to perform action in report-portal it is a little exhausting to create user for them.
(It is feature request)

[2017-11-02 11:36] ulmanA commented on #262
Sorry my bad,
It is seem like the problem is in our SMTP Relay

[2017-11-02 12:06] evjlobanova commented on #261
@ulmanA    Can you check this issue #2. Is it covered your need?

[2017-11-02 12:09] evjlobanova commented on #262
@ulmanA  can I close an issue?

[2017-11-02 12:10] ulmanA commented on #261
If this guest will have permissions to view launches results (not only dashboards)
It will cover my needs

[2017-11-02 14:58] sporitskiy opened #263 "Move test event (launch, suite, test) duration to separate column"
Now:
![1](https://user-images.githubusercontent.com/15995047/32332010-7133757e-bff5-11e7-8059-e611d40b07bc.jpg)

Suggested:
![2](https://user-images.githubusercontent.com/15995047/32332592-f09ede7e-bff6-11e7-80eb-95ce2c601272.jpg)

I am sure many people need to sort test suites (or launches or separate tests) by duration to see possible gaps in performance and for estimating optimizations of long

[2017-11-03 07:15] #262 closed

[2017-11-03 07:48] evjlobanova commented on #263
hi! we have already had a similar request, please check issue #93 . We plan to close this features by two ways:
1. We will implement a `Sub launch view` (description of the feature is here #259 ). `Most time-consuming tests` widgets  on a Sub launch view will show the most time-consuming tests of the launch (TOP-20). Therefore you can look through a list quickly. Planing date of implementation is

[2017-11-03 08:42] evjlobanova commented on #246
@rbhbokka ^

[2017-11-03 11:51] pratik-gajjar-13988 commented on #250
Is it resolved? Is there any alternative for this now?

[2017-11-03 12:27] #192 closed

[2017-11-03 14:38] evjlobanova opened #264 "RETRY functionality"
**RETRY:** summary
Description: As a user I can possibility to see all test items on Step level with the same UID and different numbers of execution as a one retried test item (retry).
A name of retry test is a link that forwards a User to the test item with the latest start time. As a User I can see all logs and attachments of the last test item. Also I have possibility to view all the other test

[2017-11-03 15:53] evjlobanova commented on #258
@shaburov hello! The fact that the `No defect` is not reflected in the All launches table was originally prescribed in the  RP rules when it was implemented. Therefore this functionality is working as it was planned.
But maybe you can give me more details and describe how you usually use this Defect type on your project?

[2017-11-03 16:48] shaburov commented on #258
At us tests are written on TDD and there is a part of tests which are already written and are launched in a night run for the functional which awaits implementation.
Briefly, there are tests, but there is still no implementation. The status for these tests is "waiting for implementation" and the link to the bugtracker leads to a story, not to a bug.
But on the UI in the widget "Launches table" the

[2017-11-03 17:15] shaburov commented on #257
@evjlobanova Please pay attention to this improvement

[2017-11-03 17:16] shaburov commented on #256
@evjlobanova Please pay attention to this improvement

[2017-11-03 17:25] shaburov commented on #259
@evjlobanova For PO and Leads in the "Unique bugs table" widget for a quick assessment of existing defects, would be useful improves #257 and #256

[2017-11-03 19:03] #263 closed

[2017-11-03 19:04] evjlobanova commented on #260
@ulman ^

[2017-11-03 22:38] avarabyeu commented on #264
reportportal/service-api#236

[2017-11-03 22:41] avarabyeu commented on #251
@shaburov which exactly resource do you call?

[2017-11-03 23:01] avarabyeu commented on #57
Starting from version 3.3 users are allowed to provide uniqueID by themselves.
https://github.com/reportportal/agent-java-testNG/blob/24cc7dc8b8351a1de1988fcfd5a53a51128ae09a/src/main/java/com/epam/reportportal/testng/TestNGService.java#L461

[2017-11-03 23:01] #57 closed

[2017-11-04 07:53] evjlobanova commented on #258
@shaburov  there is some problems with an adding `No defect` type to the Launches table widget now. We will keep your issue in a memory in a process of moving to React (~February 2018).
I see you have already been using a Launch execution widget. Can you explain me how you want to monitoring items with `No defect`? So that we can advice you another widget, that helps to close your need until we fi

[2017-11-04 21:50] DzmitryHumianiuk commented on #250
@avarabyeu what is this link here for?

@pratik-gajjar-13988 @shaburov you should bypass specific ID from DB, not the name of defect in upper case.

@avarabyeu can we make WS to accept name of defect, as a parameter?
or, provide for this page, IDs of defect types, to be shown in tooltip

[2017-11-04 21:54] shaburov commented on #250
Any option is convenient for me.

[2017-11-05 09:19] ulmanA commented on #260
For every test, the Auto-Analysis algorithm perform equalization of failures from the history.
So ReportPortal can use it to show for every failure in the launch how much times in its history the same failure was happened.
It can be add as widget to the sub-launch view.
For example, as a user,  if I see that there is system issue that cause my test to fail every time in the last 10 launches, I wil

[2017-11-05 19:06] DzmitryHumianiuk opened #265 "[Roadmap 4.0] Questions and discussion"
You can ask your question here, related to [**Roadmap 4.0 wikipage**](https://github.com/reportportal/reportportal/wiki/Roadmap-4.0)

And up vote with 👍🏻 features, which you want to get earlier.
More _likes_ feature has, more priority it will gain.

Please see list of included features in [**Roadmap 4.0 wikipage**](https://github.com/reportportal/reportportal/wiki/Roadmap-4.0)

[2017-11-05 20:04] fasterfish commented on #265
It would be nice to see an approximate implementation time for the [tree view](https://github.com/reportportal/reportportal/wiki/Roadmap-4.0#tree-view).

[2017-11-05 20:40] DzmitryHumianiuk commented on #265
@fasterfish aprox as like at Roadmap pic. ~Mar-Apr 2018

[2017-11-06 06:37] pratik-gajjar-13988 commented on #250
Thanks @dmikhievich. It really helped me.

[2017-11-06 12:53] jurteg commented on #150
@DzmitryHumianiuk , I've tried this option, but it doesn't work. Tables still broken.

[2017-11-06 19:49] #168 closed

[2017-11-06 21:27] DzmitryHumianiuk commented on #150
@jurteg looks like WS trims multi whitespaces.

[2017-11-07 20:07] DzmitryHumianiuk commented on #260
@evjlobanova, @ulmanA looking for kind of summary widget, which will combine `Most failed` and `Flacky`, and `Fail Grouping`.
This can be a part of those widgets in sub-launch widget view

[2017-11-07 20:12] DzmitryHumianiuk commented on #251
@shaburov up

[2017-11-07 20:14] DzmitryHumianiuk commented on #249
it should send emails only for launches in DEFAULT.

@evjlobanova could you please trace it in requirements/stories.

@avarabyeu, @pbortnik if it's not, then it's a bug

[2017-11-07 20:16] DzmitryHumianiuk commented on #247
@ulmanA could you please send it as a PR?

[2017-11-07 20:18] DzmitryHumianiuk commented on #246
@rbhbokka up )

[2017-11-07 20:18] DzmitryHumianiuk commented on #233
@doctordrue up

[2017-11-08 08:09] doctordrue commented on #233
Hi, @e-olga
We are experiencing the same issue using either Firefox or Chrome

[2017-11-08 08:23] naiad09 commented on #265
How does Retry teature works with @DataProvider and tests with several invocation counts?

[2017-11-08 08:48] Kanaduchi opened #266 "Integration with Google Oauth"
Our company uses Google oauth to authenticate to all internal services. So it will be great to add support Google oauth in ReportPortal.

We do not use github, so integration with github is not suitable to us

Maybe this request can be included into Roadmap 4.0?

[2017-11-08 09:00] ulmanA commented on #247
I solved it using AspectJ:
[code]

[2017-11-08 09:08] avarabyeu commented on #265
@naiad09 good question! since we already have draft implementation, may i ask you to provide some simple hello-world like project with mentioned functionality so we can check/adjust/fix retries?

[2017-11-08 09:50] shaburov commented on #251
If an error occurs, listing the identifiers would be a good solution

![image](https://user-images.githubusercontent.com/15269131/32542312-39304318-c483-11e7-801a-e9e48c7d6f9c.png)

[2017-11-08 11:50] avarabyeu commented on #119
starting from 4x, test parameters are being reported as separate structure (like key->value)

[2017-11-08 11:51] #119 closed

[2017-11-08 12:00] avarabyeu commented on #249
@evjlobanova @DzmitryHumianiuk so finally this functionality is considered as bug, right?

[2017-11-08 12:01] avarabyeu commented on #251
@shaburov
[code]
what operation causes this error?

[2017-11-08 12:02] avarabyeu commented on #251
is it test item finish?

[2017-11-08 12:06] avarabyeu commented on #240
@fasterfish could you please give more details. It might be related to incorrect configuration, not a bug. Was it overlap to conversation where LDAP has no emails at all?

[2017-11-08 12:34] DzmitryHumianiuk commented on #249
@avarabyeu right.
emails should not be triggered for **DEBUG** launches

[2017-11-08 16:25] DzmitryHumianiuk commented on #266
@Kanaduchi hi,
there are not so many companies, among current users, who need this.
so this definitely should go into back log, but with low priority.

Anyway, you or your team can still contribute to it.
And this will make it available for everyone!

[2017-11-09 00:02] shaburov commented on #251
@avarabyeu yes ^

[2017-11-09 10:28] VladislavAkulich opened #267 "Couldn't expand log of test"
![image](https://user-images.githubusercontent.com/5321580/32600823-e16cbd08-c551-11e7-93fb-2f7175ada99f.png)

[2017-11-09 10:31] fasterfish commented on #240
The problem is resolved. It was necessary to make the following ldap settings (example):
![screenshot_1](https://user-images.githubusercontent.com/18389889/32600957-055a7d66-c563-11e7-890a-8530b67dd788.png)

@avarabyeu thanks!

[2017-11-09 10:32] #240 closed

[2017-11-09 13:12] pbortnik commented on #213
Ignoring own shared widgets in the list of them are removed.

[2017-11-09 13:12] #213 closed

[2017-11-10 09:27] evjlobanova commented on #255
@shaburov now we are investigating your issue, could you please tell me what RP version are you using now?
![image](https://user-images.githubusercontent.com/30413511/32651514-5af09c10-c612-11e7-8f11-0ca054949e39.png)

[2017-11-10 10:35] evjlobanova commented on #125
@SergeVKom can you share with your results?

[2017-11-10 12:40] #197 closed

[2017-11-10 12:48] avarabyeu commented on #220
@SKharlanov Sergey is it possible to reproduce it in some branch of https://github.com/reportportal/example-java-cucumber?

[2017-11-10 12:51] avarabyeu commented on #218
@andytrofimov actually, it's expected behaviour. Will discuss with the team whether skipped tests should have issue.

[2017-11-10 12:52] avarabyeu commented on #188
@DzmitryHumianiuk see waffle.io

[2017-11-10 12:58] avarabyeu commented on #150
@lexecon @DzmitryHumianiuk could you guys please provide me with example of request that being trimmed incorrectly

[2017-11-10 13:05] avarabyeu commented on #138
@lexecon @daroshchanka could you please specify full request URL of the highlighted line? parentType is not parameter that is supported by server, actually.

[2017-11-10 14:30] shaburov commented on #255
@evjlobanova
![image](https://user-images.githubusercontent.com/15269131/32662794-c510cadc-c63c-11e7-9f6d-12b67552bcf4.png)

[2017-11-10 15:09] DzmitryHumianiuk commented on #150
Sent via DM

~Dzmitry H

On 10 Nov 2017, at 15:58, Andrei Varabyeu <notifications@github.com<mailto:notifications@github.com>> wrote:

@lexecon<https://github.com/lexecon> @DzmitryHumianiuk<https://github.com/dzmitryhumianiuk> could you guys please provide me with example of request that being trimmed incorrectly

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2017-11-10 16:01] fasterfish opened #268 "Warning about an outdated browser"
When I go to the next address http://rp_address/ui I get the following warning:

warning
Your browser is out of date!

Update your browser to view this website correctly.

[Update browser now](http://outdatedbrowser.com/)
×

I expect to see this message in a different path, not /ui

[2017-11-10 16:48] avarabyeu commented on #150
@jurteg is it correct representation?
http://prntscr.com/h8rkdg

[2017-11-10 23:35] avarabyeu commented on #247
starting from 4.x version JVM-based client save launch ID and number in tmp file so you can use it to avoid AOP. As for now, closing.

[2017-11-10 23:36] #247 closed

[2017-11-11 13:23] jurteg commented on #150
@avarabyeu no, it should look like this:
http://prntscr.com/h92n48

[2017-11-11 18:22] DzmitryHumianiuk commented on #86
@JustasM11 with 3.3.0 version, RP supports uniqueID for test cases.
can be populated via code.
It can be populated from the code, or will be generated for every single test case, based on project, launch, suites name, test case name and params.

this will be covered with `Product status widget`
widget will represent summary status for only latest launch of particular jobs.

[2017-11-11 18:30] DzmitryHumianiuk commented on #86
@evjlobanova
please add it as feature request for sub-launch widgets:
* How many TCs were not executed within last X period (1 day, 30 days) - do I have stale tests? Some kind of histogram here with TCs in each column.

[2017-11-11 18:30] DzmitryHumianiuk commented on #86
@JustasM11 did you find answers?

[2017-11-11 18:33] DzmitryHumianiuk commented on #127
@maximustremor which agent you use? (testng, cucumber, junit, nunit, ...)
i guess you problem is in configuration of agent.

[2017-11-11 18:34] DzmitryHumianiuk commented on #183
@lexecon ?

[2017-11-11 18:36] DzmitryHumianiuk commented on #195
will be completed as a part of https://github.com/reportportal/reportportal/issues/132

[2017-11-11 18:42] DzmitryHumianiuk commented on #13
https://github.com/reportportal/reportportal/issues/264

will be completed with #264

[2017-11-11 18:42] #13 closed

[2017-11-12 18:31] daroshchanka commented on #138
@avarabyeu this request with 'parentType' param is the request from my test scenario. I sent it to our test-app api. Also this request uri was logged to RP. Looks like report-portal UI tries to execute the same request...
I'll try to reproduce the problem again to add more details. But I cannot remember last time when I catch this.. (3-4 month ago).

[2017-11-13 08:40] evjlobanova opened #269 "[Widget]: Component Health Check Widget Table View"
![image](https://user-images.githubusercontent.com/30413511/88919667-31194380-d274-11ea-9704-12b87523cf2f.png)
![image](https://user-images.githubusercontent.com/30413511/88919696-3ecec900-d274-11ea-8097-e7048c84eaf3.png)

[2017-11-13 09:01] evjlobanova commented on #269
@JustasM11 , we are discussing a possibility to integrate a new widget. Is this functionality will cover your needs that have been described in the issue #44 ? Would you mind reviewing this issue and giving your vision about it

[2017-11-13 09:40] evjlobanova commented on #2
This issue includes #164 , #166 , #261 .

[2017-11-13 09:41] evjlobanova commented on #164
This issue is closed as a duplicate of #2

[2017-11-13 09:42] #164 closed

[2017-11-13 10:41] evjlobanova commented on #193
The same request came from (**@jericho** John Klymenko slack/ Software testers/ automation):
**Story:** As a User i want to have an opportunity to make an aggregated report on several projects at once.
**Possible implementation:** admin view for several projects.
**Necessary information:** Project #1: Passed 95% TC; Project #2: Passed 80% тестов, Skipped 10%, Failed 10%.  (Integration testing (API

[2017-11-13 14:11] iKozzz opened #270 "Report Portal Email Notification should have "link" configuration"
1. Set up email notifications for Launch
2. Receive notification on your email

Inside Email you've got a line:
``` To view it on Report Portal just visit this link. ```

The ```link``` will be something like  ```http://127.0.0.1/#superproject/launches/all/3f07a90bdsg97sdhj6d1a0gh0121123```

I want to replace IP address to defined Domain name:
```https://my.rp.com/#superproject/launches/all/3f07a9

[2017-11-13 15:23] JustasM11 commented on #269
@evjlobanova I think such a widget is very good idea and may solve #44

[2017-11-13 15:30] JustasM11 commented on #86
@DzmitryHumianiuk We bumped into the same bug as reported in #134 so we were not able to use RP for quite a long time and abandoned it. I see that uniqueID were implemented. Have you guys implemented view mentioned in #53 and #25 I mean History view with all TC ? If yes, I think we can make another try to use RP )

[2017-11-13 18:12] DzmitryHumianiuk commented on #86
@JustasM11 #53/#25 in our roadmap already
https://github.com/reportportal/reportportal/wiki/Roadmap-4.0

[2017-11-14 07:14] ulmanA opened #271 "Add way to change the user invitation expiration"
We need a way to change the user invitation expiration
(Currently the invitation expired after 24 hours)

It can be added to the Administrate page or the Project Settings or even to the docker-compose.yaml file

Thanks

[2017-11-14 09:25] DzmitryHumianiuk commented on #271
I guess, parameter for docker-compose is the best option.

But why you need it longer then 24 hours?

[2017-11-14 09:34] ulmanA commented on #271
In our company sometimes its take more than 24 hours to people to read a new e-mail
for example someone has All Day course, or too many new e-mails ...

[2017-11-14 12:36] pbortnik commented on #227
Added flag 'autoAnalyzed'. Priority of defects with 'autoAnalyzed=false' is 2x boosted.

[2017-11-14 12:53] evjlobanova commented on #242
@aliaksandrbasau  by default, the check box is selected, but if you uncheck it, your selection will be saved to the local store in the browser. You can see this improvement in the future release.

[2017-11-14 12:57] evjlobanova commented on #174
@aliaksandrbasau it is planned to be done in 4.0

[2017-11-14 13:01] evjlobanova commented on #22
@admizh a filter by a launch number will be added in 4.0

[2017-11-14 13:21] evjlobanova commented on #249
@ulmanA a notification constrain for launches in Debug wil be added in 4.0

[2017-11-14 13:54] aliaksandrbasau commented on #242
@evjlobanova Works for me. Many thanks!

[2017-11-14 14:22] evjlobanova commented on #254
@andrey-patin-1979 will be in a 4.0

[2017-11-14 14:28] evjlobanova commented on #141
@lifemanship it will be a future release

[2017-11-14 14:38] evjlobanova commented on #233
@doctordrue the fix will be in 4.0.
We removed "|" , so a link will be working correctly for Google Chrome, Mozilla Firefox browsers.  But there is some problems with an Edge browser. So is it enough for you?

[2017-11-14 14:43] doctordrue commented on #233
@evjlobanova  Yes, this is enough. Another point is that links, copied from the browser's address bar contains issue.type filter, so if you put such a link to JIRA before changing Issue Type you will have wrong link after choosing Issue Type. Has this been this fixed too?

[2017-11-14 15:07] evjlobanova commented on #233
@doctordrue  you can move to the log view through the launch structure (launch> suite> test> step> log), so you will get a link without issue.type filter, and the defect type change will not influence on working capacity of the already copied link. But I assume in a case that you described you move through statistics that is why a link  is being increased by  the filter.

[2017-11-14 16:48] shaburov opened #272 "[UI] [Unique bugs table] Duplicates of tests in the widget"
![image](https://user-images.githubusercontent.com/15269131/32792427-63b67fc6-c974-11e7-8bde-6b9e80941ac2.png)

![image](https://user-images.githubusercontent.com/15269131/32792349-37c8a420-c974-11e7-955c-8e324cff6688.png)
![image](https://user-images.githubusercontent.com/15269131/32792598-c95b1e5e-c974-11e7-8d42-e1c2a702e3c1.png)

![image](https://user-images.githubusercontent.com/15269131/32792

[2017-11-15 08:26] andrey-patin-1979 commented on #254
@evjlobanova I think that also could be added UI button to receive such absolute URL (it should be useful when you add link to the failed item manually or send it to someone). But as MVP current solution is good enough.

[2017-11-15 09:28] ulmanA opened #273 "Wrong view in case of suite that contains another suites"
Hi,
We are using TestNG and we have suite.xml file that contains suite-file tags
So I expect to see in report portal something like:
[code]

And My_Launch will have total of 8 tests

But what actual happens:
[code]
And the total tests is 9 (it counting the multi-suite as 1 more test)
(see attached screenshoot
![report portal launches](https://user-images.githubusercontent.com/7766743/32828405-a88a

[2017-11-15 09:59] evjlobanova commented on #272
@shaburov as i see from your printscrin, the widget works as it has been planned. RP catches unique bugs and shows all test cases from all launches which have such bug.  We will discus with a team a possibility to add Watch latest function for this widget

[2017-11-15 10:33] evjlobanova commented on #273
@ulmanA  Use different methods for start your suites:
* for the `MultiSuite` use POST /{projectName}/item - start root test item;
* for `Suite1` and `Suite2` - POST /{projectName}/item/{parentItem} - start a child test item

Please, try to do this, and share your results with us

[2017-11-15 10:40] ulmanA commented on #273
I am not call directly to the API.
I am using the TestNG Listener: com.epam.reportportal.testng.ReportPortalTestNGListener
From the artifact: com.epam.reportportal : agent-java-testng

[2017-11-15 12:16] avarabyeu commented on #273
@ulmanA could you please give us some example of your testng.xml file?

[2017-11-15 13:21] ulmanA commented on #273
Here:
[Suites.zip](https://github.com/reportportal/reportportal/files/1474826/Suites.zip)

[2017-11-15 13:22] ulmanA commented on #273
Sorry closed by mistake

[2017-11-15 13:34] citestusers commented on #41
Hello, for us it would be a real big help, to be able to preserve any comment under any type of issue.
For "To investigate"particularly I don't see why should be there a new status like taken/not taken, this will be a manual work every time to investigate an issue for the first time, and a reason for why is it left in to investigate is also mandatory to be added into a comment under the "To invest

[2017-11-16 14:17] DzmitryHumianiuk commented on #183
@dkorobtsov could you update on this item?

is it still relevant, or you find workaround

[2017-11-16 14:20] DzmitryHumianiuk commented on #250
@shaburov @pratik-gajjar-13988
you can get all locators of defect types in project settings
**GET** `/api/v1/PROJECT_NAME/settings`

Actions:
* WS: output supported locators with Error message - @pbortnik
* UI: show tooltip _onhover_ on defect type badge

[2017-11-16 15:09] dkorobtsov commented on #183
@DzmitryHumianiuk yep, still relevant :)
it's no critical, of course, just a minor UI issue

[2017-11-16 19:18] ailjushkin commented on #136
Hi, could you please also implement an ability to filter out failed tests that are not linked with jira issues or vice versa?

[2017-11-16 19:29] ailjushkin commented on #259
To not create a separate filter for a launch, we could do something like this:

1. Open certain launch.
2. Click on magic "launch statistics" button somewhere, for instance in a launch menu or in a list of tests.
3. See a widget called "List of Issues over Bug Type" there.

Thank you.

[2017-11-16 19:39] ailjushkin opened #274 "Auto grouping by text of error"
Proposal:

Show similarities report with a counter by a text.

Use case:

1. Run launch analysis.
2. Open investigations list.
3. Click on "duplication analysis report".
4. This report is actually a grouped list of errors with similarity percentage.
5. Each group of errors could be linked with a bug type and/or issue with one click.
6. While linking a group with bug type and issue, there could be

[2017-11-17 07:02] DzmitryHumianiuk commented on #136
@evjlobanova please convert it into the story.
for UI and WS.
and add it to the upcoming sprint.

[2017-11-17 08:55] evjlobanova opened #275 "Nested steps: Summary"
DESCRIPTION
As a User  I report test with nested steps without statistics.
So that Statistics should calculated only for test items which have statistics.
Items which do not have statistics should be  stacked up with  their logs on a parent log view.
For that I should report results with flag "hasStats:false".

![image](https://user-images.githubusercontent.com/30413511/61809181-7a56dc00-ae45-11e9

[2017-11-17 09:36] KursLabIgor commented on #204
guys question is still relevant. I dont see 3.3.0-beta1 branch in list

[2017-11-17 10:48] lifemanship opened #276 "Keep logs for a long period of time"
We need to keep test logs for years. Is it possoble to add custom period of time to keep logs?

[2017-11-17 10:57] evjlobanova commented on #276
@lifemanship hi! now we have possibility to choose 2 weeks, 1 month and 3 months. You can choose a period in a settings.
![image](https://user-images.githubusercontent.com/30413511/32943956-ea82cb96-cb9e-11e7-85d8-02faeffc004a.png)

Could you please clarify, how exactly long you should keep your logs, for what reasons you should do this and how will you use kept logs?

[2017-11-17 12:11] DzmitryHumianiuk commented on #274
this will be done as a part of #259  - sub-launch widgets.

more similar to
* Issue grouping widget (relevant to  #26 #42 #136 )

[2017-11-17 12:19] ailjushkin commented on #274
I appreciate for your answer. Closing this as duplicate.

[2017-11-17 12:19] #274 closed

[2017-11-17 12:27] DzmitryHumianiuk commented on #255
@shaburov not reproducible with 3.2.1 and 3.3.1

have you tried 3.3.1 UI?

[2017-11-17 12:44] nvborisenko opened #277 "GET launch API hangs up in case of incorrect launch ID"
send request GET /launch/abc
where `abc` is incorrect launch ID

API Service: 3.3.1

[2017-11-17 13:17] ailjushkin opened #278 "Dashboard with mapping of test environment timeline on test launches"
Use case:

Ability to look at launch statistics dashboard in Report Portal in the context of the life stages of the test environment.

Test environment timeline could be manually filled.

[2017-11-17 13:23] nvborisenko commented on #277
Not reproducible, server was down during api request.

[2017-11-17 13:23] #277 closed

[2017-11-17 14:18] evjlobanova commented on #278
@ailjushkin we are planning to implement a Status page, you can see it on our RoadMap https://github.com/reportportal/reportportal/wiki/Roadmap-4.0.

Status page is a default dashboard with an admin information about project. It is the identical page that situated on a admin panel.
![image](https://user-images.githubusercontent.com/30413511/32951517-45273d7c-cbbb-11e7-807f-69a6ed152eb3.png)

We pl

[2017-11-17 14:20] shaburov commented on #255
![image](https://user-images.githubusercontent.com/15269131/32951573-707506f8-cbbb-11e7-8e73-c35ebaa43057.png)

![image](https://user-images.githubusercontent.com/15269131/32951581-74e10bb0-cbbb-11e7-8ce6-60c2e86b346f.png)

![image](https://user-images.githubusercontent.com/15269131/32951588-79b8f418-cbbb-11e7-9288-51fe10782834.png)

![image](https://user-images.githubusercontent.com/15269131/3295

[2017-11-17 14:26] evjlobanova commented on #255
@please give us a full link from your print screen

[2017-11-17 14:33] shaburov commented on #255
From launch : https://rp.stageoffice.ru/ui/#catalog/launches/all|page.page=1&page.size=50&page.sort=start_time%2CDESC/59f23f6ca7b11b0001a55fcf|page.page=1&page.size=50&page.sort=start_time%2CASC/59f23f6da7b11b0001a55fd4|page.page=1&page.size=50&page.sort=start_time%2CASC/59f23fb0a7b11b0001a566da|page.page=1&page.size=50&filter.cnt.name=test_20170526192760&page.sort=start_time%2CASC?page.page=1&pag

[2017-11-17 14:41] shaburov commented on #255
@evjlobanova @DzmitryHumianiuk

![image](https://user-images.githubusercontent.com/15269131/32952424-51808756-cbbe-11e7-8a07-f632cae71af3.png)

![image](https://user-images.githubusercontent.com/15269131/32952474-7c9e0030-cbbe-11e7-8812-b382ee5fc73e.png)

[2017-11-17 14:42] evjlobanova commented on #255
@shaburov I suppose we can solve this issue with adding `UniqueID` (http://reportportal.io/docs/A-test-item) to this widget

[2017-11-17 14:43] ailjushkin commented on #278
@evjlobanova For now, it seems that yest.

[2017-11-17 14:47] #278 closed

[2017-11-17 14:47] evjlobanova commented on #278
connected with #132

[2017-11-17 14:48] shaburov commented on #255
@evjlobanova
![image](https://user-images.githubusercontent.com/15269131/32952836-753880da-cbbf-11e7-8e14-e20ae618bec5.png)

[2017-11-17 16:18] evjlobanova commented on #267
Fixed in 3.3.2

[2017-11-17 16:19] evjlobanova commented on #248
Fixed in 3.3.2

[2017-11-17 16:54] pbortnik commented on #250
@DzmitryHumianiuk , fixed, example of respnse
`{
  "error_code": 40019,
  "message": "Test item status is ambiguous. Invalid test item issue type definition 'MY_DEFECT'. Valid issue types locators are: [ND001, nd_urun1q5qqd0m, PB001, TI001, AB001, SI001]"
}`

[2017-11-20 10:15] SergeVKom commented on #125
Sorry for delay. We are running tests many times and sometimes still have the same problem:
https://gist.github.com/SergeVKom/8210cd14767d6680c8565316bb19268b

[2017-11-20 15:23] DmitryBets opened #279 "Incorrect working of profile page on Microsoft Edge"
env = Microsoft Edge 38.14393.1066.0
-  UUID value is absent
- after pressing 'genegate'-button nothing happen (no connect with server)
- Language table is absent
- mail value is absent
- configuration examples are absent. press any examples button = 422 Oops, this page was not found

![untitled](https://user-images.githubusercontent.com/19532715/33025338-bf3d76e8-ce1e-11e7-9e2d-95599de05466.png)

[2017-11-21 08:36] evjlobanova commented on #136
the filter for linked bugs will be added with 4.0

[2017-11-21 08:43] #267 closed

[2017-11-21 08:44] #248 closed

[2017-11-21 08:53] evjlobanova commented on #229
@aliaksandrbasau hello, can you update to the latest version, check the issue and share with a results?

[2017-11-21 09:00] evjlobanova commented on #127
@maximustremor up ^

[2017-11-21 14:26] avarabyeu opened #280 "Add client connection timeout to composite info endpoint"
Currently, if server does not answer for a quite long period, client keeps waiting for the response which blocks responding to composite info endpoint

[2017-11-21 14:56] aliaksandrbasau commented on #229
@evjlobanova I haven't seen the issue for a long time. It's probably resolved. Closing the issue.. Thanks!

[2017-11-21 14:56] #229 closed

[2017-11-22 10:46] evjlobanova commented on #279
@DmitryBets hello! Is it still an actual issue? Can we close it?

[2017-11-22 17:09] rkumarrb opened #281 "<system-out> is not recognized when importing junit"
When I try to import junit xml with <system-out> it says invalid json format. If I remove the <system-out> in very first test case alone then it works and imports all but ignores the <system-out> in following test case too.

Could you please have a look at it and also Is it possible to report content of <system-out> to stacktrace section of report portal.

and I also would like to know what tag in

[2017-11-22 22:15] avarabyeu commented on #281
@rkumarrb could you please share your report with us.

[2017-11-23 11:45] pbortnik commented on #276
In the first approximation, we are going to add keeping logs and screenshots forever. Probably, in the nearest future, we will make an opportunity to remove the logs for some period by hands.

[2017-11-23 12:45] DmitryBets commented on #279
yep, now it works
best regards, D.B.

[2017-11-23 12:46] #279 closed

[2017-11-23 13:22] nvborisenko commented on #204
@KursLabIgor it's not a branch, this is version of nuget package. This package doesn't require newtonsoft.json at all.

[2017-11-23 14:30] KursLabIgor commented on #204
@nvborisenko thanks, now is clear

[2017-11-23 15:34] pbortnik commented on #270
The problem was on a client side. Resolved by writing a correct link in reportportal.properties

[2017-11-23 15:34] #270 closed

[2017-11-27 12:42] avarabyeu commented on #268
Fixed in 4.0

[2017-11-27 12:42] #268 closed

[2017-11-27 14:20] nandish20 opened #282 "Issue with log in to reportportal"
I am having issue while logging into reportportal. I have used the credentials mentioned in document but i keep getting "An error occurred while connecting to server : You do not have enough permissions. Bad credentials". I have also tried to increase the memory to 4GB in docker.

[2017-11-28 10:35] ailjushkin commented on #259
Adding one more use case in agreement with @evjlobanova:

Statistics (customizable) by test tags.

Test Tags:

smoke: failed 1, passed 1, to investigate 1
system: failed 3, passed 1, to investigate 2

This is very preferable to add to be able to refuse such statistics in another reports (like Robot Framework Report). Please, look at example of Robot Framework report, more precisely a "Statistics B

[2017-11-28 12:07] avarabyeu commented on #218
Fixed in 4.0

[2017-11-28 12:07] #218 closed

[2017-11-28 14:03] DzmitryHumianiuk commented on #282
@nandish20 4GB as actually a minimal requirement.

Do you see all services up and running? they will be listed under login form

[2017-11-28 14:32] ailjushkin commented on #41
Last time I down voted this issue but facing with real usage of RP we found that this thing is vitally important.

So I propose this use case:
0. Manager does not want to use excel or anything like that, he wants a tool for investigation planning.
1. Manager starts planning next work for next several days.
2. He opens 'to investigate' filter
3. He add additional filter like `name` contains 'blabla

[2017-11-28 15:20] ulmanA commented on #41
suggestion solution: add assignments management, so we will be able to assign project's member to a failure. and every member will have view that show him its assignments. (later notification on new assignments can be added.)

[2017-11-29 01:49] rkumarrb commented on #281
Attached the xml file. In this 2nd test case is having system-out  and system-err but in report portal it shows for first test case.

If I have system-out and system-err in first test case instead of 2nd, Im not able to upload the test case, it shows xml is invalid when try to upload.

[sample.zip](https://github.com/reportportal/reportportal/files/1512264/sample.zip)

[2017-11-29 07:39] talgreen1 opened #284 "[FR] Add ability to export user list in CSV from admin management board"
Add ability to send emails from the report portal to all the users:

- Admin will be able to send emails to all registered users. For example: Announce new feature, usage tips & conventions

- Project manager will be able to send emails to all the project users. For example: Project's conventions

[2017-11-29 11:20] lifemanship commented on #276
@pbortnik It would be enough for us too

[2017-11-30 12:14] pbortnik commented on #281
@rkumarrb Thank you for the issue. Fix will be available in 4.0.

[2017-11-30 12:14] #281 closed

[2017-11-30 12:23] ludeknovy opened #285 "Adding new user - password is not being obfuscated"
1. Open dialog for adding new user
2. Password input is not being obfuscated

![image](https://user-images.githubusercontent.com/13610612/33430626-7ceb5d54-d5d1-11e7-9d16-ff27a08118bf.png)

[2017-12-01 07:44] e-olga commented on #210
Fixed
Will be available in v 4.0.

[2017-12-01 07:45] #210 closed

[2017-12-01 07:46] e-olga commented on #276
The issue is resolved
Will be available in  v 4.0

[2017-12-01 07:46] #276 closed

[2017-12-01 07:51] e-olga commented on #250
The issue is resolved.
Will be available in v 4.0

[2017-12-01 07:51] #250 closed

[2017-12-01 20:53] ailjushkin opened #286 "Constrained toolbar in the log view page"
**Problem**
UI elements loss while slipping down over a test log.

**Proposal**
UI elements of the log view sticked on the top of the browser window.

**Additional info**
- Keyboard shortcut for bug type change,
- Keyboard shortcut for moving next/backward over filter results list.
- Keyboard shortcut to move from error to next error.

And I think that both stick UI and keyboard shortcuts needs to

[2017-12-04 09:21] KursLabIgor commented on #204
I installed version below and got error again.
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.TypeInitializationException: The type initializer for 'ReportPortal.NUnitExtension.ReportPortalListener' threw an exception. ---> System.Runtime.Serialization.SerializationException: There was an error deserializing the object of type Rep

[2017-12-04 11:24] nvborisenko commented on #204
It seems configuration file has incorrect content. Could you please remove all commented lines in `ReportPortal.conf` and execute tests again?

[2017-12-04 11:55] KursLabIgor commented on #204
{
  "enabled": true,
  "server": {
    "url": "https://localhost/api/v1/",
    "project": "default_project",
    "authentication": {
      "uuid": "f4b62e41-9575-4318-bd5d-3bdac5eadd03"
    },

  },
  "launch": {
    "name": "NUnit 3 Demo Launch",
    "description": "this is description",
    "debugMode": true,
    "tags": [ "t1", "t2" ]
  }
}
Now error like:
System.Reflection.TargetInvocationExce

[2017-12-04 13:28] nvborisenko commented on #204
Example of config file: https://github.com/reportportal/example-net-nunit/blob/master/src/Example/ReportPortal.conf

[2017-12-04 13:40] KursLabIgor commented on #204
ok, thanks found the problem. now works

[2017-12-05 09:54] ailjushkin opened #287 "Cannot expand long message due to special characters"
**Versions:**

- API Service: 3.3.1;
- Service Index: 3.1.1;
- Jira Service: 3.3.0;
- Authorization Service: 3.3.0;
- Service UI: 3.3.0;

**Problem:**

Due to some complex logging, UI log elements became absolutely not functional.

![rp-ui-error](https://user-images.githubusercontent.com/3462506/33600465-5b77c8b4-d9ba-11e7-9844-c35bf828d12e.png)

**Example of log messages:**

[code]

[2017-12-05 11:09] evjlobanova commented on #287
@ailjushkin we fixed it in 3.3.2, please update your version

[2017-12-05 11:09] #287 closed

[2017-12-05 11:11] pbortnik commented on #273
@ulmanA Hello, do you want to see your root suite as the parent of other suites? How important is to see the root suite?
The problem is that testNG runs inner suites at first and after then the root one to summarize results. ReportPortal creates items on runtime, so it is difficult to change the tests' structure after inner suites have finished.
The possible solution is to ignore root suite if it

[2017-12-05 12:01] ailjushkin commented on #287
@evjlobanova great, that works, thank you all

[2017-12-05 14:50] KursLabIgor opened #288 "Several tests project in one solution. how should be installed report portal"
What about case when we have in one solution two and more project for tests. Need to install reportportal extension for each project. in each project will be created their own conf file. but after build conf file can  overwritten. or need rename conf file according to each project?

[2017-12-05 14:59] evjlobanova commented on #288
@KursLabIgor please, give more details

[2017-12-05 15:03] evjlobanova commented on #209
Issue is connected with #286

[2017-12-05 15:11] evjlobanova commented on #284
@talgreen1 please, can you describe more wide your need? Why you want to have an ability to send emails directly via report portal?

[2017-12-05 15:18] KursLabIgor commented on #288
ok.
Lets assume situation when i have project with following structure. We have framework
Solution
|__
     ProjectTests1
|__
     ProjectTests2
|__
     ProjectTests3
|__
     OtherProjectStuff

ProjectTestx - it is different project which has their own logic and technologies.
So after install report portal for nunit framework it creates ReportPortal.conf. So what is my next steps. Do I need to r

[2017-12-05 15:27] evjlobanova commented on #288
@KursLabIgor if you have separate spaces for each project, you can overwrite a  project name by  parameter in a command line

CC @nvborisenko

[2017-12-06 06:21] talgreen1 commented on #284
Hi,
Sure - for example - we (admins) want to announce new feature of report portal to all our report portals users, or send them some usage tips.It would be nice if this could be done directly from the report portal because we do not have record and emails of all the users.
    On Tuesday, December 5, 2017, 5:11:33 PM GMT+2, evjlobanova <notifications@github.com> wrote:

@talgreen1 please, can you

[2017-12-06 10:10] evjlobanova commented on #284
@talgreen1 and also could you please describe how you solve this issue now?

[2017-12-06 11:08] nvborisenko commented on #288
Each project has own output folder (`bin/debug`) and own `ReportPortal.conf` file. You can configure reporting for each project. I don't see conflicts. If you specified one folder as output location for all projects (I believe you know what you do), files are copied from the latest built project.

If you don't want to configure each project separately, you can put all ReportPortal dlls somewhere (

[2017-12-06 13:22] KursLabIgor commented on #288
sorry, not clear for me. elaborate please.

[2017-12-06 13:24] KursLabIgor commented on #288
ok. thanks. that what i want to know.

[2017-12-06 14:26] #288 closed

[2017-12-06 14:29] KursLabIgor opened #289 "No run creates in reportportal in case if tests run Jenkins"
I have tests based on nuint3 framework. I configured and run reportportal, locally run test in debug reason and check that launch creates in reportportal. Then I make commit to repo and Jenkins started build. But what I see that no launch with name specified in Jenkins. log in to VM locally where build run , execute command locally and everything works.
Where can be a problem? any ideas?

[2017-12-06 14:39] KursLabIgor commented on #289
some additional info in case if some one run into same issue:
jenkins for run file produce following command line `powershell.exe -NonInteractive -ExecutionPolicy ByPass "& 'random_file_name.ps1'"`

[2017-12-07 09:38] KursLabIgor commented on #289
indeed problem in command launch type.
In case if i put all command to file and then start file in following way `powershell.exe  'C:\Users\$$$\Desktop\1.ps1'` no run creates in reportporta. any ideas why?

[2017-12-07 11:09] DzmitryHumianiuk commented on #289
@KursLabIgor you are on the right way.
problem is about parameters on command line.

i guess, you should append something in the line.

@nvborisenko @aliaksandrbasau are experts in .net world, they can help

[2017-12-07 11:14] KursLabIgor commented on #289
Using Fiddler i see that no outgoing connection to reportportal server, on automation clients, seems like previous my comments can be ignored. Continue investigation.

[2017-12-07 11:18] KursLabIgor commented on #289
this is example of file which after all execute jenkins
`$checkoutFolder = "$ENV:WORKSPACE"
$testDll = "$ENV:TestDll"
$targetDll = "$checkoutFolder\$testDll"
$what_run = "$ENV:what_run"
$report1 = "--result=Result.xml"
$report2 = "--result=ResultN2.xml;format=nunit2"
# Set nunit path test runner
$nunit = "$checkoutFolder\nunit\nunit-console\nunit3-console.exe"
& $nunit $targetDll $report1 $report2

[2017-12-07 11:50] KursLabIgor commented on #289
Seems like issue in conf file.
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.TypeInitializationException: The type initializer for 'ReportPortal.NUnitExtension.ReportPortalListener' threw an exception. ---> System.Runtime.Serialization.SerializationException: Expecting state 'Element'.. Encountered 'Text'  with name '', namespace

[2017-12-07 11:52] KursLabIgor commented on #289
Could be a problem if element in conf file mixed. make different order from origin example?

[2017-12-07 13:19] KursLabIgor commented on #289
issue with configuration of conf file found. but still dont see launches from reportportal side.

[2017-12-07 14:18] aliaksandrbasau commented on #289
@KursLabIgor Do you see messages in job output in Jenkins that indicate that the tests started?
If not, then there are issues with running tests in general.
If yes, then it's a RP agent configuration issues. In that case I would check that `ReportPortal.addins` in the directory with `nunit3-console.exe` contains correct path to `ReportPortal.NUnitExtension.dll`.
In general, it would be helpful to

[2017-12-08 09:20] KursLabIgor commented on #289
@aliaksandrbasau test from Jenkins runs.
I'll check path to the listener again.
`NUnit Console Runner 3.6.0
 Copyright (C) 2017 Charlie Poole

 Runtime Environment
 OS Version: Microsoft Windows NT 10.0.15063.0
 CLR Version: 4.0.30319.42000

 Test Files
     C:\jenkins\workspace\<folder>\webclient.solution\Output\Client.Auto.Tests.dll

 Test Filters
 Where: cat=UWP
 Fixture Start: Assets Add Move

[2017-12-08 09:39] KursLabIgor commented on #289
On automation clients listener registered
[http://prntscr.com/hkpcr1](url)
continue investigating

[2017-12-08 09:43] KursLabIgor commented on #289
So actually problem still relevant. If i run from cmd  same command line launch creates into reportportal.
In case Jenkins run same command but via power-shell no run creates.
Will add to Jenkins command which will show listeners

[2017-12-08 09:57] KursLabIgor commented on #289
FOUND ROOT:
So in cases if nunit run via powershell with option start process using call operator (&) no run creates
https://ss64.com/ps/call.html
I switched to cmd option run from Jenkins and everything works.
WDYT? is it expected

[2017-12-08 10:25] evjlobanova opened #290 "Launch comparison"
request  from @pskvortsov (slack /QAGuild/ rp)

As a User I want to compare results of different launches. So that I can see a status change of tests with the same UID and can quickly find the test with  unstable behavior and check it.

[2017-12-08 13:38] ailjushkin opened #291 "Integrated link shortener"
**Problem:**

Bad looking links while posting them manually anywhere.

**Example:**

http://xxxxxxx:8080/ui/?#tors/launches/all|page.page=1&page.size=50&page.sort=start_time%2CDESC/5a29c8ed6767c80001d9baf2|page.page=1&page.size=50&filter.eq.has_childs=false&filter.in.issue$issue_type=TI001&page.sort=start_time%2CASC?page.page=1&page.size=50&filter.eq.has_childs=false&filter.in.issue$issue_type=TI0

[2017-12-08 13:48] aliaksandrbasau commented on #289
@KursLabIgor I am not sure whether it's expected. In any way the issue doesn't seem to be related to report portal agent. I am glad that you found the root cause.

[2017-12-08 14:30] KursLabIgor commented on #289
until now i close issue

[2017-12-08 14:30] #289 closed

[2017-12-08 19:24] triesz opened #292 "Embedded cucumber log attachments are displayed incorrectly via reportportal"
Feeding reportportal with java cucumber tests and attaching various longer strings (like formatted list of cookies, browser console logs etc) like this:

`ScenarioUtil.getScenario().embed(someLongString.getBytes(), "text/plain");`

some of these attachments are missing completely from the log in reportportal, others are mixed up. (I.e. the very first attachment link consistently points to the seco

[2017-12-11 09:22] KursLabIgor commented on #264
We have problem when tests which has been passed after retry has different run type. so in result report i see two tests with same name and with different result. as correctly understood this ticket requested handle this. Am i right? if yes i dont see such feature from my side.

[2017-12-11 09:26] evjlobanova commented on #264
@KursLabIgor a feature implementation is in progress now, in plans to release  Retries in 4.0.

[2017-12-11 09:49] KursLabIgor commented on #264
@evjlobanova when will be release 4.0 ?

[2017-12-11 09:51] evjlobanova commented on #264
@KursLabIgor tentative early in the year

[2017-12-11 09:52] KursLabIgor commented on #264
@evjlobanova  thanks!

[2017-12-12 11:47] abotalov opened #293 "Question about usage of GPL-licensed clients/agents for running tests"
Most of Report Portal's clients / agents are licensed under GPLv3 (not LGPL).

I read a bit about this license, and it looks like this license disallows a case where a GPL-licensed library and proprietary code are parts of the same program.

From https://www.gnu.org/licenses/gpl-faq.en.html#GPLInProprietarySystem

There are many posts that tell that using / linking to GPL library from proprietary

[2017-12-13 09:35] andrey-patin-1979 opened #294 "Improvement: Add screenshots from group of selected failed steps (may be allow to select which screeshots should be added)"

[2017-12-13 11:28] thasherwin commented on #140
Is there any plans to implement this adapter soon?

[2017-12-13 12:22] KursLabIgor opened #295 "RP listener throws error while run tests"
We have amount 160 test based in nunit3 , and while run we got error like
14:06:09 ReportPortal exception was thrown.
14:06:09 System.NullReferenceException: Object reference not set to an instance of an object.
14:06:09    at ReportPortal.NUnitExtension.ReportPortalListener.FinishTest(XmlDocument xmlDoc)

Do we have some option how to get more details what cause error?

[2017-12-13 13:21] DzmitryHumianiuk commented on #140
@thasherwin there is not plans to make it soon,
but it's in backlog.

anyway, i think it's pretty equal to existing [JS integrations](https://github.com/reportportal?utf8=%E2%9C%93&q=js&type=&language=) and you can use them to wire nightwatch.

Don't hesitate to contribute.
we just have no enough hands to do everything

[2017-12-13 13:43] nvborisenko commented on #295
Could you please provide the nunit version and versions of nuget packages for Report Portal? If it possible it would be great to see `results.xml` file.

[2017-12-13 14:17] ulmanA commented on #273
1) we have project here that run whole tree of suites (suite that have 4 suites that each have few inner suites and so on...).
so with your solution we will lose all that tree (that represent separation by features for example )

2) Maybe you can add ability to update finished test item with new parent?

[2017-12-13 14:30] KursLabIgor commented on #295
@nvborisenko
ReportPortal.Client v2.0.0-beta3
ReportPortal.NUnit v 3.3.0-beta1
ReportPortal.Shared v2.0.0-beta1
About result.xml not possible to provide you. it was erased.

[2017-12-13 14:41] ulmanA opened #296 "FR: Java Client - Report to existing launch (aka RE-RUN for launches)"
Hi,
Please add ability to report to existing launch in the java client (I am using the TestNG agent)
Use case:
We have a project that separate it's nightly regression to few Jenkins jobs that run parallel
so it 2 executions but in the same context of "nightly regression" and we will want to see them at the same launch without coupling to the execution way (1 jvm or few).

In this case for example

[2017-12-13 14:56] ulmanA opened #297 "FR: History line - I would like to navigate to every execution of the test without the restriction of the launch name"
Currently, the history line give us the option to navigate to older executions of the same test in the same launch name
But the same test can be executed with different launch name also.

For example, login test that run in sanity launch and regression launch.

So I would like to navigate to every execution of the test without the restriction of the launch name

Thanks!

[2017-12-13 16:57] KursLabIgor opened #298 "Run duration for/per fixture doesn't equal to overall execution time."
We have noticed that all fixtures run 3 h 17. In case if you navigate to fixture level you will see that execution time will much greater than overall time.

Nunit3 framework
ReportPortal.Client v2.0.0-beta3
ReportPortal.NUnit v 3.3.0-beta1
ReportPortal.Shared v2.0.0-beta1

Current version: API Service: 3.3.1; Service Index: 3.1.1; Jira Service: 3.3.0; Authorization Service: 3.3.0; Service UI: 3.3

[2017-12-13 18:41] nvborisenko commented on #295
Is this issue always reproducible? Or from time to time? If yes - I guess issue is related to network connection.
I see you use retry functionality. Unfortunately I did test this functionality with RP integration. Are you able to execute your tests with turned off Retry attribute. Based on exception I can say that nunit generates xml file with results in some different format. If it will work then

[2017-12-13 18:46] nvborisenko commented on #298
@KursLabIgor, do you execute tests in several threads?

[2017-12-14 07:51] KursLabIgor commented on #295
@nvborisenko until now we have reproduce issue 2 time. i'll try catch result.xml file during next run.
Remove retry is painful for us, so bottom line trying get more details

[2017-12-14 07:54] KursLabIgor commented on #298
@nvborisenko we dont have parallel execution. Fixture starts one by one, but again we have retry. could be issue here ?

[2017-12-14 08:37] vladyslav-zahorodnii opened #299 "Multiply reuuners from TestNG xml suite configuration"
Steps:
1. Create TestNG suite file with next format:
<suite name="example">
    <suite-files>
        <suite-file path="example1"/>
        <suite-file path="example2"/>
        <suite-file path="example3"/>
    </suite-files>
</suite>

2. Run with Maven surfire plugin or local IDE run test suite.

Expected result: in RP one runner with three suites.
Actual result: in RP three runners, two runners

[2017-12-14 08:40] vladyslav-zahorodnii commented on #299
XML format example:
<suite name="example">
    <suite-files>
        <suite-file path="example1"/>
        <suite-file path="example2"/>
        <suite-file path="example3"/>
    </suite-files>
</suite>

[2017-12-15 10:11] dmitryyu commented on #153
In general, it would be cool to activate some filters at the same time.
For example we have filters:
"Filter1"  - contains name "Name1"
"Filter2"  - contains name "Name2"
for now we can activate only one possible filter,
In case of multi filter selection - we would be able to activate both filters: and a result it'd display all launches based on the combine of filters:
contains name "Name1" OR con

[2017-12-15 21:27] eugenshest opened #300 "Use Maven central repo"
Upload required dependecies to Maven central repo instead of your own repo. It will allow using the tool without extra repositories, which can be restricted in some cases by a company policy.

[2017-12-18 10:50] pbortnik commented on #299
Duplicate of #273

[2017-12-19 14:24] #133 closed

[2017-12-19 14:24] #189 closed

[2017-12-19 14:24] #136 closed

[2017-12-19 14:24] #174 closed

[2017-12-19 14:24] #105 closed

[2017-12-19 14:25] #249 closed

[2017-12-19 14:25] #255 closed

[2017-12-19 14:25] #48 closed

[2017-12-19 14:25] #246 closed

[2017-12-19 14:26] #242 closed

[2017-12-19 14:26] #37 closed

[2017-12-19 14:26] #254 closed

[2017-12-19 14:26] #141 closed

[2017-12-19 14:27] #233 closed

[2017-12-19 14:27] #217 closed

[2017-12-19 14:27] #227 closed

[2017-12-19 14:28] #232 closed

[2017-12-19 14:28] #22 closed

[2017-12-19 14:37] thasherwin commented on #140
Alright

[2017-12-19 20:09] shaburov commented on #255
@evjlobanova In what version corrected?

[2017-12-20 07:56] evjlobanova commented on #255
@shaburov this issue is fixed in 4.0. We are planing a RC of 4.0 tentatively until the end of next week

[2017-12-20 16:04] lexecon commented on #183
@dkorobtsov, It is possible to format your message log using the Markdown syntax. To do this, at the beginning of the message, you need to insert a key phrase `!!!MARKDOWN_MODE!!!`  and use this [syntax](https://simplemde.com/markdown-guide). You can disable the column view of the log so that it occupies the entire width of the screen. This functionality is called `console view`.

[2017-12-20 16:04] #183 closed

[2017-12-21 12:39] DzmitryHumianiuk commented on #273
@avarabyeu @pbortnik
please check possibility to updated parents on Finish.
or consider it in statistics, based on PostgreSQL

[2017-12-27 08:28] ailjushkin opened #302 "Idea: emailing widget or launch report by email"
**Proposal:**

Email certain launch info without printing it to a file.

[2017-12-27 11:17] KursLabIgor opened #303 "When job aborted from Jenkins side RP doesnt catch it and run infinite continues"
When job aborted from Jenkins side RP doesnt catch it and run infinite continues. is it correct behavior?

[2017-12-27 21:53] dmitryyu opened #304 "Extra true/false option for Fixed/Not fixed failures"
After investigation of a failure, I can understand that's reason of it is Automation Bug.
I can add the defect type: "Automation Bug" or any other custom defect type.
But it's really not always possible to fix the issue on "the fly", so such failures can be  "Fixed/Not Fixed".

I have tried to use a custom defect type like "Fixed. Automation Bug." and for all fixed tests i added the label with a r

[2017-12-28 11:57] avarabyeu opened #305 "JBehave NPE if givenStory=true for root story"

[2017-12-28 15:32] avarabyeu commented on #273
Depends on cbeust/testng#1656

[2017-12-28 16:17] #305 closed

[2017-12-28 22:23] dmitryyu opened #306 "Build tag doesn't change launch number."
It looks like it doesn't work.
From Jenkins, my job starts with the following params:
`-Drp.tags="build:%BUILD_NUMBER%"  //for example build number 123

As a result:
`# 123` will not be used in a launch name,
instead of this, tag `build:123` will be added to the launch.

Looking into the documentation:

Current version: API Service: 3.3.1; Service Index: 3.1.1; Authorization Service: 3.3.0; Servic

[2017-12-31 11:04] talgreen1 opened #307 "Cucumber Java Agent – Steps are sporadically missing from the test’s logs"
I’m using the cucumber Java agent (ver. 3.0.1) and the cucumber plugin “com.epam.reportportal.cucumber.ScenarioReporter”

Most of the time the report is OK – contains all the tests and each test contains all the log messages.
But – for some tests (sporadically) the first log message is missing, and for some other tests – all the log messages are missing.

Also – I’m sometime getting an exception w

[2018-01-03 09:17] valerius257 opened #308 "Filter parameters in URL"
Return possibility to specify filter parameters in the URL for example https://rp.epam.com/ui/#project/launches/all?filter.has.tags=Tag1%2Tag2
It worked in previous versions and we used this feature to post link with test status on Gitlab merge requests.
It would be very inconvenient to created new filter for every merge request.

[2018-01-04 13:34] Savostytskyi commented on #188
I faced with same issue when I using ScenarioReporter for cucumber. And I've found what the problem is. It happens bacause:
`	protected void beforeFeature(Feature feature) {
                ...
		rq.setStartTime(Calendar.getInstance().getTime());
                ...
	}`
of AbstractReporter class executing before initialization of parent item in ScenarioReporter class:
`	protected Supplier<Maybe<St

[2018-01-04 14:12] avarabyeu commented on #306
@dmitryyu this is expected behaviour. Build number is actual number of launch with some name in ReportPortal. It cannot be changed.

[2018-01-04 14:12] #306 closed

[2018-01-04 14:32] avarabyeu commented on #188
@Savostytskyi thank you! will you be able to fix it and submit PR?

[2018-01-05 17:00] Savostytskyi commented on #188
@avarabyeu Yes, no problem it's very small fix, [PR](https://github.com/reportportal/agent-java-cucumber/pull/8) created

[2018-01-09 13:47] daroshchanka commented on #138
@avarabyeu we cannot reproduce this any more.

[2018-01-09 13:47] #138 closed

[2018-01-09 14:19] KursLabIgor opened #310 "RP RC 4.0 Retry icon doesnt show for test based on nunit"
RP RC 4.0 Retry icon doesnt show for test based on nunit.

[2018-01-09 14:56] evjlobanova commented on #310
@nvborisenko ,  is it possible to add a support of retry on nunit?

[2018-01-09 15:04] KursLabIgor commented on #310
https://github.com/nunit/docs/wiki/Retry-Attribute
also we have custom retry on fails, so i think it wouldn't show retry in such case.
here is how we implement custom retry.
https://testingrepository.com/retry-failed-tests-in-nunit/

[2018-01-10 09:45] talgreen1 opened #311 "Launch statistics counts & Analysis counts does not match"
The launch statistic counts are based on tests methods only, while the analysis is based on all method types. This can be confusing. You can see it in the following example:
![rp sums](https://user-images.githubusercontent.com/26517162/34765972-9a749954-f5fb-11e7-8ee8-8064d739130e.png)

You see 1803 total tests, but you have 2420 items to investigate.

Is there any way to change the UI and make th

[2018-01-10 11:10] nvborisenko commented on #310
Will take a look.

[2018-01-11 00:32] LowryTang commented on #265
I'd like to have a Jmeter report. I think many people use Jmeter as Load test.

[2018-01-11 06:14] DzmitryHumianiuk commented on #265
@LowryTang,
JMeter is about performance. Adopting of performance testing will bright a lot of testing and functionality.
We still have a lot to implement for regular test automation, hence focus on it for the next milestones.

But we have performance on radar, and will consider it for implementation one day

[2018-01-11 13:45] priyankagarga commented on #270
Is there a way to trigger report portal notification as soon as test fails rather than waiting for the launch to complete? This is to capture live results.

[2018-01-11 13:45] priyankagarga opened #312 "Is there a way to trigger report portal notification as soon as test fails rather than waiting for the launch to complete"

[2018-01-12 09:41] KursLabIgor opened #313 "RP RC4 constantly crash during run automation test on certain test"
ReportPortal exception was thrown.
11:28:18 System.AggregateException: One or more errors occurred. ---> System.NullReferenceException: Object reference not set to an instance of an object.
11:28:18    at ReportPortal.Shared.LaunchReporter.<>c.<Finish>b__6_1(TestReporter tn)
11:28:18    at System.Collections.Generic.List`1.ForEach(Action`1 action)
11:28:18    at ReportPortal.Shared.LaunchReporter.

[2018-01-12 10:19] KursLabIgor commented on #313
Problem that after 5 retry of test RP crash with error above. We have nunit3 framework with custom retry mechanism. Seems like it is regression from RP 3.

[2018-01-12 14:44] KursLabIgor commented on #313
Problem was in internal app which cause crash nunit as result RP also

[2018-01-12 14:44] #313 closed

[2018-01-13 16:06] ailjushkin opened #314 "Set up different "superadmin" password"
To be able to have the superadmin with different password during full reinstallation of an instance with a database migration from the old instance to a new one.

[2018-01-13 21:16] nvborisenko commented on #310
It's possible. Will be implemented in next release of the agent. Current state is beta, architecture of reporting should be redesigned (reporting will live in separate process to avoid affecting tests thread/process/appdomain/whatever).

[2018-01-13 21:31] nvborisenko commented on #298
Not sure, any details/screenshots/specifics would be appreciated.

[2018-01-13 21:37] nvborisenko commented on #295
I hope this is related to broken reporting (ReportPortal.Shared library). As I know you use beta version, you know what is beta. Thank you for the issue reporting.

Let's leave this issue to be opened.

[2018-01-15 07:23] KursLabIgor commented on #298
This is screen when all fixture listed
http://prntscr.com/i0kv8e
This is view of LoginLogout fixture
http://prntscr.com/i0kvkh

We can see that time didnt match in both view.

[2018-01-15 07:24] KursLabIgor commented on #310
@nvborisenko thanks.

[2018-01-15 12:01] evjlobanova commented on #311
@talgreen1 it works as it was planed http://reportportal.io/docs/View-launches%3Eviewing-launch-statistics
![image](https://user-images.githubusercontent.com/30413511/34941315-489833c2-fa04-11e7-90dc-02a0913615fc.png)

'Total' contains all test cases only, so your statistic is more correct.
 And defect types contains methods, so  you can investigate problem of failure.

[2018-01-15 13:35] evjlobanova commented on #312
@priyankagarga , hi! Could you please describe a case? Why you need to have such feature? Please give more details

[2018-01-15 13:52] evjlobanova commented on #303
@KursLabIgor it is a correct behavior, RP is waiting for the request. As far as the request is not received, the launch saves the previous state and continues running. You can finish your launch manually. But it is better to investigate a reason for job aborting in Jenkins.

[2018-01-15 13:55] evjlobanova commented on #302
@ailjushkin please tell us what kind information you wanna receive from RP? In 4.0 when you print a dashboard you can save it as a PDF and than send as email. Does it work for you?

[2018-01-15 13:55] avarabyeu commented on #307
@talgreen1 Thank you for demo project!
@pbortnik could you please execute attached demo project against 4.0.x version?

[2018-01-15 14:54] sbakharev opened #315 "Introduce "Test environment" launch field"
Hi all!

Today we got some big talk :)

When using RP in a complicated testing process you are forced to "invent a wheel" if you want to have some way to differentiate test launches against various testing environments. These invented wheels might take at least three forms, with each of them introducing both advantages and disadvantages in the UI:

1. **Naming launches differently** (e.g. "Regress

[2018-01-15 15:01] evjlobanova commented on #297
@ulmanA hello! Could you please describe your use case? Also please clarify business goal, why do you need this function, what info do you want to get? And may be you have some ideas how it can look like? In what form it will be convenient to receive such information?

[2018-01-15 15:02] KursLabIgor commented on #303
ok, got it. thanks

[2018-01-15 15:02] #303 closed

[2018-01-15 15:07] evjlobanova commented on #296
@ulmanA we are planing to add a new feature `Rerun` (the description of Rerun you can find here #264 ). This functionality gives possibility to report result right in a existing launch. Does `Rerun` cover your needs?

[2018-01-15 15:15] DzmitryHumianiuk commented on #293
@abotalov, good question,
There is a very large number of interpretations, as well as what should be done in this case.
Most of them refer to the understanding of derivatives and derivational refinement.

That's true that GPLv3 is a `virus` license. It means, that everything what is done based on GPL code, should be licensed under GPL as well.
But it case if you want to publish it. If you don't th

[2018-01-15 15:15] #293 closed

[2018-01-15 15:35] evjlobanova commented on #304
@dmitryyu hi! we aren't planing to implement such feature in the nearest time.
But we see two ways how you can act in such situation:
1. In 4.0 we have implemented "Ignore" function, that gives possibility to ignore a test item in Auto-Analysis. So f.e. you can set to the item defect type "Fixed Auto Bug" and set "Ignore in AA". So in a future run this defect type won`t be set to the item.

2. Ano

[2018-01-15 15:45] dmitryyu commented on #304
Thank you for the replay, yep it looks possible ib v4.0
In v 3.1 I am using the way you described with some additions. In your case auto analasys will set auto bugs that's true, but for the third+ runs you will get "fixed" autobugs :)  (and younwill be a bit confused if it's fixed or not.)
For now i am using the way, but after any run I change my custom "Fixed. Autobugs" type to "to investigate" t

[2018-01-15 15:53] sbakharev commented on #297
@evjlobanova this FR kinda overlaps with my recent #315

I can think of a specific use case based on my conditions. But honestly I don't think that this feature shall be implemented in a form the TS supposes (can not even imagine how expensive this might get in terms of RP performance affect).

Here is a use case.

We have a big test project (1500+ tests) and some of the tests are marked with "Smo

[2018-01-15 15:56] evjlobanova commented on #294
As a user when I make a bulk operation for posting issue in BTS, I want to choose what screenshot/log/ comment should be sent to BTS.
So that the issue in BTS will have only necessary screenshots/log/comment.
For that I should choose several steps, hit Post Bug, and choose necessary screenshots/log/comment in the pop up.

[2018-01-15 16:00] evjlobanova commented on #294
@andrey-patin-1979 we are planning to refactoring an integration with BTS (you can find it on our roadmap https://github.com/reportportal/reportportal/wiki/Roadmap-4.0). So I am adding this issue to the scope, and we will try to solve this issue.

[2018-01-15 16:05] ailjushkin commented on #302
@evjlobanova thank you, Zhenya, our users requirement is to send it without any additional steps. So the question is can we send it just with one click.

[2018-01-15 16:09] sbakharev opened #316 "Make launch name comparison case-insensitive"
Hello again.

We faced a problem that fixing a small CamelCasing typo in the name of the launch leads us to a complete wipe of our dashboard statistics since launch name comparison is always case sensitive (both in filter parameters and in launch history processing - change one letter casing and the resultant launch will be assigned sequence number 1). The RP's API provides no methods to update th

[2018-01-15 16:09] evjlobanova commented on #302
@ailjushkin ok, I understand. Could you please clarify if you wanna send only launch info?

[2018-01-15 16:26] ailjushkin commented on #302
@evjlobanova First of all the most wanted feature is to send an aggregated information of a certain launch. At least the number of passed and failed tests for each of the test tags.

[2018-01-15 16:27] ailjushkin commented on #302
Unfortunately I didn't see a picture of your launch dashboard.

[2018-01-15 20:14] avarabyeu commented on #316
@sbakharev good catch, thank you!
@pbortnik plz, check

[2018-01-15 20:39] avarabyeu commented on #294
can be considered with reportportal/reportportal#67

[2018-01-16 06:34] priyankagarga commented on #312
We are integrating report portal with jenkins. We have multiple jobs that trigger test runs and each job goes in as a single launch.
when the job completes, report portal trigger an email  notifications for launches completed with details like failure or passed tests.

Currently, Reportportal.io provides notification feature to trigger email for launch finish based on % of failures, Launch Names a

[2018-01-16 08:14] bolatbekb opened #317 "Bad request. The importing file has invalid format. 'There are invalid xml files inside."
Can not load file.
[jUnitUnit0.zip](https://github.com/reportportal/reportportal/files/1634112/jUnitUnit0.zip)

[2018-01-16 08:32] ulmanA commented on #297
@evjlobanova
**Few use Cases:**
* Test X run on Sanity Launch and Regression launch
    I want to compare the the execution of Test X without the restriction of the launch name
* 2 executions that different by tag. for example they test different build.
  And I don't want to compare tests if the build is different.

**How it can look like:**
Add filter for the history line.
I think it can be the s

[2018-01-16 08:38] ulmanA commented on #296
@evjlobanova  I don't think so.
Rerun will override previous results and will tagged the launch as rerun.
This use case is different.
I want to run few suites each have different Jenkins job. And all those suites will reports to the same launch.

[2018-01-16 08:38] ulmanA commented on #296
Closed by mistake.

[2018-01-16 08:40] talgreen1 commented on #311
I think is can be little confusing that the ‘**Totals**’ & ‘**Defect Types**’ sections are using different rules for calculation.

There are 2 options that I can think of:

1.  In the ‘**Defect Types**’ – show the numbers in 2 rows:
       - First row – shows only tests cases.
       - Second rows show all other types of items
2.  Another option is to have a toggle button that switch between 2 sta

[2018-01-16 10:49] evjlobanova commented on #317
@pbortnik Pavel, please take a look

[2018-01-16 13:53] KursLabIgor commented on #295
@nvborisenko do you have some ETA about release of agent?

[2018-01-16 14:21] evjlobanova commented on #297
@ulmanA ok, we are discussing now this case. So I need a little bit more information.
Do you want to see only  executions of one test case in a different launches (Sanity and Regression)? Or do you want to overview all test cases in both launches and find tests with strange behavior?

And also I was wondering can you describe an analysis flow. I mean, for what reason you want to see a test case ex

[2018-01-16 14:40] ulmanA opened #318 "Statistics are missing if there is "BeforeSuite""
I execute the same TestNG suite file
the only different is that I added @BeforeSuite method.
and the view has been changed.
After adding the @BeforeSuite I loose the statistics on the sub-suite view (those are tests tags in the suite.xml file)
Without BeforeSuite:
![without beforesuite](https://user-images.githubusercontent.com/7766743/34994171-5605f03a-fadb-11e7-96cf-68949a10a4a2.jpg)

With Befor

[2018-01-16 18:27] ulmanA commented on #297
1. Same test different launches
That can be filtered by name and tag.
2. I see that the test failed on elementNotFound
I will search previous executions of that test. i do not care if it was in context of sanity or regression. It is the same test and I want to see its privious analysis. And then I will probably will check from which build it start to failed.
And if Is the failed was on the same br

[2018-01-16 18:27] ulmanA commented on #297
1. Same test different launches
That can be filtered by name and tag.
2. I see that the test failed on elementNotFound
I will search previous executions of that test. i do not care if it was in context of sanity or regression. It is the same test and I want to see its privious analysis. And then I will probably will check from which build it start to failed.
And if Is the failed was on the same br

[2018-01-16 18:27] ulmanA commented on #297
1. Same test different launches
That can be filtered by name and tag.
2. I see that the test failed on elementNotFound
I will search previous executions of that test. i do not care if it was in context of sanity or regression. It is the same test and I want to see its privious analysis. And then I will probably will check from which build it start to failed.
And if Is the failed was on the same br

[2018-01-16 18:28] ulmanA commented on #297
1. Same test different launches
That can be filtered by name and tag.
2. I see that the test failed on elementNotFound
I will search previous executions of that test. i do not care if it was in context of sanity or regression. It is the same test and I want to see its privious analysis. And then I will probably will check from which build it start to failed.
And if Is the failed was on the same br

[2018-01-17 09:28] KursLabIgor opened #319 "It will be good feature in case if we want generate email notification via API by specified rule"
Actually we need to generate report for merged run. Email notification catch only finish events. Our needs that we have three different run , than merge them and want to generate email. As i see such flow not possible. That's why we need to get ability send email notification with result after merge action for ended runs.
Now trying make some kind of workaround via API calls.
This is enhanced requ

[2018-01-17 10:34] pbortnik commented on #318
What version of the agent do you use?

[2018-01-17 13:38] evjlobanova opened #320 "Most Failed tests Widget. Improvement"
**Improvements:**
- Increase a number of launches for the Most failed test cases: more than 150 items;
- Increase a number of shown items on the widget:  more than 20 _(f.e. show all failed tests or make this number configurable)_
- Show an info about failed test case o the widget: Defect type, Description, Date

(request from Serhii  Zharskyi)

[2018-01-17 14:01] evjlobanova opened #321 "Passing rate per launch widget. Improvements"
**Improvements:**
- Passing rate widget could have possibility to show passing rate that is calculated as average of passing rates of each launch execution ((PR# 1 + PR# 2+ ... + PR# N) / N) , not only passing rate for the last launch execution

[2018-01-17 14:01] fasterfish opened #322 "Make startTestItemRQ in API 4.x case insensitive"
Could you please make flag values in startTestItemRQ case insensitive (key and value)?

"parameters": [
    {
      "key": "string",
      "value": "string"
    }
  ]

This is necessary so that the client-net (C#) can use the Dictionary<string, string>, instead of the List<KeyValuePair<string, string>>.

[2018-01-17 14:08] evjlobanova opened #323 "Widget. Add new widget Automation test pyramid"
As a User I want to control a ratio of UI, BackEnd and Unit tests on a project.
So that I can respond quickly to this.
For that I can see a widget where will be reflected a ratio of each group of test .
![image](https://user-images.githubusercontent.com/30413511/35046758-f978d002-fba8-11e7-8a47-700fdcdcb7e7.png)

[2018-01-17 14:32] pbortnik commented on #317
@bolatbekb While investigating the issue i found out such tag <warning> that is not described anywhere in xunit format. Is the information in this tag important? Do we need to put it into item's logs as a warn log?

[2018-01-17 14:38] pbortnik commented on #322
@avarabyeu
possible solution is to make an object mapper accepting case insensitive properties
https://fasterxml.github.io/jackson-databind/javadoc/2.5/com/fasterxml/jackson/databind/MapperFeature.html#ACCEPT_CASE_INSENSITIVE_PROPERTIES

[2018-01-17 15:38] evjlobanova commented on #315
@sbakharev  @ulmanA @iKozzz @fasterfish if I understand correctly you need the following information - the history line with different executions of test cases in launch with the same environment, scope and build, as it shown on pic?
![image](https://user-images.githubusercontent.com/30413511/35050753-9481a802-fbb4-11e7-9e05-55f3f054a78f.png)

Please share your ideas/objections/wishes with us

[2018-01-17 16:00] #212 closed

[2018-01-17 16:39] sbakharev commented on #315
@evjlobanova if I get this right, the top history line displays the test's runs across all the possible environments, scopes and builds, while the bottom one is a slice selection of the same test's runs based on scope and environment.

Some thoughts:
1. As we discussed earlier today, the number of launches at different environments never (or almost never) equals in our case, so the situation shown

[2018-01-17 22:30] avarabyeu commented on #322
@pbortnik i would rather make them lower-case explicitly on the server. Moving this to client side is good idea in general, but nobody can guarantee that all clients follow the rule (not only java ones).

[2018-01-17 22:33] avarabyeu commented on #316
@sbakharev launch names are used as foreign keys in several documents, including elastic search index for v4x. So unfortunately, it's impossible to just edit the name without side effect.

[2018-01-17 22:34] avarabyeu commented on #308
hi @valerius257. Do you need web page or just json response?

[2018-01-17 22:35] avarabyeu commented on #314
@ailjushkin should be fixed in 4.0.

[2018-01-17 22:43] avarabyeu commented on #312
@priyankagarga we are a bit scaried of possibility to be blocked by some smtp server as spam provider :)
In general i like the idea. I think, as ReportPortal becomes more and more reactive, we eventually will add such kind of functionality

[2018-01-18 08:58] pbortnik commented on #307
Seems to be a duplicate of #188 and it have been already fixed.

[2018-01-18 09:40] pbortnik commented on #314
@avarabyeu Yes, from 4.0 the admin and default user profiles are initialized only on the first installation

[2018-01-18 09:46] pbortnik commented on #292
@triesz
Could you please reproduce the issue in a new branch somewhere [here](https://github.com/reportportal/example-java-cucumber) ?

[2018-01-18 09:58] ailjushkin commented on #314
Thank you, guys

[2018-01-18 10:46] ulmanA commented on #318
agent-java-testng
version: 3.0.6

[2018-01-18 10:51] azhogov commented on #315
In my opinion it is right direction for improving reports. Grouping by builds and environments where each build was tested is very useful for analyzing and comparing testing results. We are interested in this feature too..

[2018-01-18 11:09] pbortnik commented on #314
@ailjushkin is it ok for you? can we close the issue?

[2018-01-18 11:21] pbortnik commented on #322
https://github.com/reportportal/service-api/pull/278

[2018-01-18 11:26] #322 closed

[2018-01-18 11:30] pbortnik commented on #317
Resolution: <warning> is saved as WARN log. Importing doesn't stope if face a unknown tag.

[2018-01-18 11:30] #317 closed

[2018-01-18 11:31] pbortnik commented on #307
Close for now

[2018-01-18 11:31] #307 closed

[2018-01-18 12:01] fasterfish commented on #322
Thank you

[2018-01-18 12:18] #314 closed

[2018-01-18 13:31] irinakhaptanova opened #324 "Launch is hang on and AA doesn't work"
We use Jenkins to run autotests and also use Specflow.
We develop Autotests on C# lang.
Job in Jeknins took ~6 hours but Launche in Report Portal is hang and AA doesn't work

[2018-01-18 14:25] sbakharev commented on #315
@evjlobanova also all of these three parameters shall be available for use in filters :)

[2018-01-19 09:40] evjlobanova commented on #304
@dmitryyu I need some refinements about this sentence: "auto analasys will set auto bugs that's true, but for the third+ runs you will get "fixed" autobugs " .
What do you mean? If you use a second way that I have described (a situation when you put a tag `fixed` on a test case and set AutoBug), in all runs of AA you will get an AutoBug, and manually you could put a tag Fixed (if it will be necess

[2018-01-19 10:16] pbortnik commented on #318
@ulmanA
Cannot reproduce with latest 4.0.0 version testng and 4.0.0 RP.
So, it seems to be fixed.
Could you please try the latest versions and check the issue

[2018-01-19 10:42] evjlobanova commented on #260
#259

[2018-01-19 14:25] evjlobanova opened #325 "Add a table " Comparison of a different builds" with possibility to view duration of each test."
*Request from Ravil Safin <Ravil_Safin@epam.com>*

As the autotests are running each time on each build, and they have duration it would be great to have a possibility to check out what is the dynamics of changing response time from build to build.

In the ideal world I imagine the report like this:
http://prntscr.com/i1o9cs

But you have now the table with launches as the columns:
http://prntscr.

[2018-01-19 14:52] evjlobanova commented on #308
@valerius257 ^^

[2018-01-19 16:56] valerius257 commented on #308
Hi, we need a web page

[2018-01-19 19:24] avarabyeu commented on #188
@Savostytskyi can we close the issue?

[2018-01-20 21:17] triesz commented on #292
hi @pbortnik , I did not have permission on that repo so I forked it and created branch here:
https://github.com/triesz/example-java-cucumber/tree/reportportal-issue-292

steps:

1. update reportportal.properties
2. mvn test
3. open result in reportportal
4. open the first attachment

Expected content: "first attachment content"
Actual content: "second attachment content"

[2018-01-22 08:47] Savostytskyi commented on #188
@avarabyeu I think yes, for me it works fine.

[2018-01-22 15:54] evjlobanova opened #326 "Make a launch number clickable"
![image](https://user-images.githubusercontent.com/30413511/35229862-85a1c566-ffa5-11e7-999e-1fde9fde5c8d.png)
 (request from  Liudmyla Panasenko)

[2018-01-22 15:58] evjlobanova opened #327 "Add a possibility to move through the History line"
![image](https://user-images.githubusercontent.com/30413511/35230128-3fd682b4-ffa6-11e7-8501-b4e1b4e1d414.png)

[2018-01-22 16:06] evjlobanova opened #328 "Made test items clickable on a History table"
![image](https://user-images.githubusercontent.com/30413511/35230534-5c0b3988-ffa7-11e7-9f42-a52c28a0279d.png)

(request from Liudmyla Panasenko)

[2018-01-22 16:23] evjlobanova opened #329 "Add a sec to the duration"
![image](https://user-images.githubusercontent.com/30413511/35231368-a3295e06-ffa9-11e7-9d0d-4d03ff41d8f9.png)
 (request  Liudmyla Panasenko)

[2018-01-24 12:53] ailjushkin opened #330 "Set-up default log level for a log view"
Use case:

- Open a test log.
- Set-up the ERROR log level.
- Click on the Next Test button.
- Log level of the second test is ERROR.

[2018-01-24 12:53] ailjushkin opened #331 "Launch list statistics."
Improvement proposal:

The Failure Frequency column.

Use case:

- Open a launch.
- Filter tests by a criteria.
- Click on the Fail Frequency column to sort cases from the most frequently failed to the less failed ones.

Common idea:
To get filtered tests cases sorted by failures in one launch.

[2018-01-24 13:03] ailjushkin commented on #302
@evjlobanova I got new criterias.

Use case:
- filter some results in a certain launch.
- save this information as a file.

Use case:
- filter results of a certain launch.
- range them by a failure count.
- download it as a file or email it directly to a list of emails.

[2018-01-24 13:15] ailjushkin opened #332 "Customized columns in a launch"
Hi everyone.

Can you please suggest for me how can I add a new column with an additional data in a launch?

I want an ability to get a custom field from TestRail and to be able to sort and filter by this field in a launch.

I can say that we have at least two options how to do this:

- Ability to sort tests by its tags (tests are logged with custom tags containing a data from other systems)
- Abi

[2018-01-24 14:11] evjlobanova opened #333 "Unique bugs table. Add a column with a status of an linked issue in BTS to the widget"
As a User I wanna see a status of an issue in BTS. So that I can understand what issues are still in a progress and which issues have been already resolved.
![image](https://user-images.githubusercontent.com/30413511/35336134-7ae777c2-0128-11e8-8367-b65110773c8d.png)

As a User I want to configure Unique bugs table widget and choose  with which status  issues should be reflected in a widget. So th

[2018-01-24 14:23] evjlobanova commented on #331
@ailjushkin do you use Most failed test cases widget for this reasons now?

[2018-01-24 14:25] evjlobanova commented on #330
@ailjushkin I was wondering what version of RP you use now?

[2018-01-24 14:44] evjlobanova opened #334 "Widgets that is built on a filter should redirect to the filter on a Launch level with a chosen Defect type"
As it is now:
Step 1 Click on a Product bug area
![image](https://user-images.githubusercontent.com/30413511/35337869-4dfa5310-012d-11e8-852d-ac554e2de991.png)

Step 2 Am redirected to the  filter on a Launch level
![image](https://user-images.githubusercontent.com/30413511/35337947-a2f00c66-012d-11e8-9e99-a9363a90dece.png)

As it should to be
Step 2 Am redirected to the filter on a Launch with on

[2018-01-24 14:56] KursLabIgor opened #335 "RP v3: C#+nunit3 tests which are fails due exception in [OneTimeSetUp] section didn't appears in RP as fails and in total count. But nunit recognize them as fails and show correct run summarry"
Actually i' not sure is it expected behavior.
Test Run Summary
  Overall result: Failed
  Test Count: 57, Passed: 21, Failed: 36, Warnings: 0, Inconclusive: 0, Skipped: 0
    Failed Tests - Failures: 0, Errors: 36, Invalid: 0
  Start time: 2018-01-24 13:22:29Z
    End time: 2018-01-24 13:55:26Z
    Duration: 1977.052 seconds

Inside RP i see only passed and total count didn't match to nunit.
Here

[2018-01-24 15:11] ailjushkin commented on #331
@evjlobanova hi, it's not for to our needs, we need to filler this list and open it in one certain launch. Widget does not have this functionality

[2018-01-24 15:15] evjlobanova commented on #331
@evjlobanova so could you please told me a business value of this filtering? What do you want to do with this list? Could you please describe me a whole use case?

[2018-01-24 17:28] nvborisenko commented on #324
Please share versions of nuget packages. And do you see any errors in console output?

[2018-01-24 17:50] nvborisenko commented on #295
It's not clear what is a root of this issue. https://github.com/reportportal/agent-net-nunit/blob/master/ReportPortal.NUnitExtension/ReportPortalListener.Test.cs here you can see possible NullReferenceException, but we need understand where exactly it's happening. Based on code I see that `id`, 'parentId', 'name' or 'fullname' might be null. But I cannot understand why it might be null. To clarify

[2018-01-24 18:30] KursLabIgor opened #336 "RP v3 : C# + log4net doesnt work"
We have logging system which writes to file, we want to add logs to RP I added dependencies as described here.
https://github.com/reportportal/logger-net-log4net
No luck.
internal logging of log4net shows following:
_log4net: Loading Appender [RP] type: [ReportPortal.Log4Net.ReportPortalAppender, ReportPortal.Log4Net]
log4net: Setting Property [Layout] to object [log4net.Layout.SimpleLayout]
log4n

[2018-01-24 18:44] KursLabIgor commented on #295
@nvborisenko we have two problems here:
1. Issue reproduce without stable scenario.
2. We have complicated framework, but i'll consult with team and think about it how we can help here.
But i think firstly need to find at least stable scenario. any way i'll back with updates asap.

[2018-01-25 08:26] KursLabIgor commented on #336
http://reportportal.io/docs/Logging-Integration%3Esystem-diagnostics-tracer

cant add tracer due
Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to resolve dependencies. 'ReportPortal.Shared 2.0.0-beta3' is not compatible with 'ReportPortal.Tracer 1.1.4 constraint: ReportPortal.Shared (>= 1.4.0 && < 1.5.0)'.			0

[2018-01-25 10:35] evjlobanova commented on #335
@nvborisenko could you please take a look on this issue?

[2018-01-25 10:35] evjlobanova commented on #336
@nvborisenko

[2018-01-25 15:33] pbortnik opened #337 "Incorrect handling of TestNG reporting. Listener is defined in base class by annotation."
1. Add listener using an annotation on a base test class.

[code]

2. Create several test classes extended from the base class

[code]

[code]

3. Make a configuration xml file
[code]

4. Run tests

Expected: Runs are correctly saved in RP

Actual:
Report Portal creates more than one test class.

![image](https://user-images.githubusercontent.com/8058828/35396314-905b7a24-01fd-11e8-9ca6-0cdce606b1

[2018-01-25 16:46] pbortnik commented on #337
While investigating the issue we have noticed that TestNG framework creates several instances of a listener. It seems that it checks the annotation @Listener at the parent class using reflection and does not cache them correctly. So tests run in different listeners several times.

We do not recommend to use such configuration. For correct handling please specify listener in xml configuration file:

[2018-01-25 19:44] ulmanA opened #338 "Show attachment's message/title on the gallery"
Hi
on the gallery of the attachments the titles are missing
this text is importent for understand what is the purpose of the attachment.
for example,
- Test has few screenshots and the title said on which test's phase there was taken.
- Test with few log files attached. each came f4om different component of the testesd application.

thanks!

[2018-01-26 10:45] OstapJ opened #339 "OAuth App on GitHub requires the user scope instead of read:user"
Report Portal asks a read-write permissions on GitHub user profile.
The suggestion is to reduce permissions to read:user.
![image](https://user-images.githubusercontent.com/5707734/35436338-b3a16dd8-0296-11e8-9c43-6c55735cf050.png)

Link to config file.
https://github.com/reportportal/service-authorization/blob/master/src/main/resources/application.yaml

[2018-01-26 12:59] ludeknovy opened #340 "Junit - display capabilities"
I would be great if RP could display capabilities:

` <property name="capabilities" value="ie.11"/>`

Ideally on launches overview.

Thus it would be obvious on which browser given test has failed.

[2018-01-28 06:41] ailjushkin commented on #331
Closing, because seems like the widget fits to our needs, we need to split launches to separate projects.

[2018-01-28 06:41] #331 closed

[2018-01-29 09:26] KursLabIgor opened #341 "RP enhancement: Add ability change axis of widgets. Means we can assign different text label or run property to X or Y axis"
RP enhancement: Add ability change axis of widgets. Means we can assign different text label or run property to X or Y axis.
In case if we make launch trend we wan to see not number of run, but see run name or some tags or other labels which are exist in such run.
Thanks

[2018-01-29 12:10] dmitryyu commented on #304
Yep, i didn't understand your way correctly, with the tag "Fixed" it should work fine. Thank you for the response. :)

[2018-01-29 14:37] KursLabIgor opened #342 "RP v3: During sending attachments to RP output produce looong text which cause stack overflow and jenkins log is unreadable."
Hi.
We have implement for nunit3 attachments for failed test and run into problem when action create snapshot/movie during this action produce arrays with numbers.
Example cut:
_36,115,217,237,1,47,0,242,154,134,152,209,204,40,124,78,5,82,251,219,246,107,214,199,65,41,165,243,153,214,75,100,24,230,102,28,187,116,100,4,157,247,143,6,189,158,17,20,69,81,166,26,157,130,149,51,141,25,93,128,134,80,165

[2018-01-30 10:34] nvborisenko commented on #342
Currently this is only one possible way to say nunit that we need report log message. Applying another approach is blocked by https://github.com/reportportal/commons-net/issues/5

[2018-01-30 15:18] YRodionova opened #343 "RP enhancement: an ability to add sub-groups to "To investigate" types group"
Hi, guys!

Our project is pretty massive and releases every week.
We have approximately 17K tests in our regression suite and 1.3K of them get to the basket "To investigate". Analyzing of that amount of issues takes about 3 days and pretty often we can get to the important ones (500 ISE mostly) late -  but this info is needed for customer ASAP.
We'd like to have possibility to prioritize this bask

[2018-01-30 15:24] 132u commented on #324
@nvborisenko . Jenkins doesn't contain any errors
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="MailSystem.NET" version="2.0.1" targetFramework="net452" />
  <package id="MSGReader" version="2.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.11" targ

[2018-01-31 06:24] ailjushkin opened #344 "Unable to filter launches by a launch id"
**The problem:**

Each launch is represented by a launch name which consists of two things: a name and an id of the launch. Meanwhile users read this name as a whole thing. They want to find certain launch by its unique id.

**For instance:**

`Launch name: cnt = 257`

This filter will not work.

[2018-01-31 07:08] evjlobanova commented on #344
@ailjushkin this function will be in 4.0.0 (#22)

[2018-01-31 07:08] #344 closed

[2018-01-31 07:09] #343 closed

[2018-01-31 11:22] evjlobanova commented on #332
@ailjushkin could you please more details? Do you need a new column or you just want to know any other ways to solve the problem without an adding new one?
If first one, please add info about info that you want to receive from TestRail

[2018-01-31 14:01] evjlobanova commented on #341
@KursLabIgor a launch name is in the tool tip on a widget. If we add more info about launches (f.e. tag and etc), will it be enough?
Could you please clarify your use case, why do you need this functionality?

[2018-01-31 14:04] evjlobanova commented on #340
@ludeknovy hello! do you add browser name in a tags now?

[2018-01-31 16:44] KursLabIgor commented on #341
we have parallel run for one automation scope, so each VM runs own scope. in dashboard we see number of run and tool tip show us run name. but it's not useful when need to check and compare 3 or 5 run. for this we need that X axis show launch name (as example) , but not run number.

[2018-02-01 17:31] fasterfish opened #345 "Exception encountered unloading application domain with agent-net-specflow and nunit3-console 3.8.0"
Given I have .net solution with next packages:
[code]
When I execute any scenario on windows server 2008r2
Then test should successfully executed
And nunit3-console should be exit correctly

But at the end of the nunit3-console runner, I see the following:
NUnit.Engine.NUnitEngineUnloadException : Exception encountered unloading application domain
----> NUnit.Engine.NUnitEngineException : Exceptio

[2018-02-02 08:09] KursLabIgor opened #346 "RP 3 Unable to perform Edit defects for tests with status interrupted"
Tests with status interrupted cant be set defect type.
C# + nunit3. Such test gets status in case they stop due time out.

[2018-02-02 08:27] ludeknovy commented on #340
@evjlobanova hello! What do you mean by ` add browser name in a tags` ?

[2018-02-02 10:13] ailjushkin opened #347 "Display absolute time value in the time column by default"
*Proposal:*

Implement a new flag to set a default value for the format of the time column: relative or absolute time value.

[2018-02-02 12:09] nvborisenko commented on #345
It seems this is related to nunit itself: https://github.com/appveyor/ci/issues/1812

[2018-02-02 12:12] nvborisenko commented on #336
@KursLabIgor which agent do you use?

[2018-02-02 12:58] KursLabIgor commented on #336
@nvborisenko 3.3.0-beta1, nunit agent.

[2018-02-02 15:28] nvborisenko commented on #336
Could you please try with the following versions?
"ReportPortal.Client" version="2.0.0-beta3"
"ReportPortal.NUnit" version="3.3.0-beta1"
"ReportPortal.Shared" version="2.0.0-beta2"
"ReportPortal.Log4Net" version="1.1.5-beta1"

[2018-02-02 17:26] triesz commented on #292
Have you guys managed to reproduce this? This unfortunately blocks the introduction of reportportal for our cucumber tests as without test artifacts results cannot be analyzed in most cases... :-(

Any idea to work this around somehow?

[2018-02-04 07:11] ulmanA commented on #318
Yes it has been fixed :)
![image](https://user-images.githubusercontent.com/7766743/35775096-f19c5062-098a-11e8-99a8-ad17cd6e732f.png)

Closing the issue

[2018-02-04 07:11] #318 closed

[2018-02-05 07:48] KursLabIgor commented on #336
@nvborisenko no luck.

[2018-02-05 14:56] avdynut opened #348 "Integration with SauceLabs"
Hello all,
It would be nice to see test execution results from SauceLabs on tab ATTACHMENTS. Or in some other way.
For example, [embed script](https://wiki.saucelabs.com/display/DOCS/Embedding+Test+Results+in+HTML+Pages).
Now we us this approach: Add to logs line with direct link to test result
`http://saucelabs.com/jobs/{WebdriverSessionId}`

[2018-02-05 15:53] ulmanA opened #349 "Add api service that will return the html of the notification email"
feature request:
add service api that will return the html of notification mail for a given launchID

use case: I want that jenkins will be responsible for sending the mail.

[2018-02-06 07:40] KursLabIgor opened #350 "RP3: AA doesnt work when runs were merged to one."
We have encountered that 5 different run merged to one and at least one of them has issue from previous run , but it doesn't populate automatically. One test has history from 12 launch, i suppose in next run with the same fail reason it should automatically set fail reason.
Run merges via API call.
could be problem due such scenario with AA?

[2018-02-06 10:11] evjlobanova commented on #346
@KursLabIgor Could you please detail the reason why you  want to set a defect type for interrupted tests. Might they have a different reasons for interruption? Or there is only  in case of time out.

[2018-02-06 10:56] evjlobanova commented on #350
@KursLabIgor could you please clarify the your case? You have 1 launch which has been already analyzed and 4 launches which have all failed tests with defect type  "To investigate".  Then you merge them. And after that you try to auto-analyzed them but there is no results, am I right?

[2018-02-06 11:21] KursLabIgor commented on #346
@evjlobanova in our case they interrupted due time out, and this time out cause defect , in case if it fails due other reason it is ok. but if know that time out caused problem we want to specify what exactly it was the problem

[2018-02-06 11:28] KursLabIgor commented on #350
@evjlobanova  we have list of merged runs ~12. which already has investigated issue.  When i start automation it produce for me several runs simultaneously after they all finished all runs merged to one. i assume that AA will start analyze them. But no. now clear?

[2018-02-06 16:42] fasterfish commented on #345
@nvborisenko in progress state

[2018-02-07 09:54] OstapJ opened #351 "Jenkins plugin isn't compatible with Jenkins pipeline dsl"
In order to add support of Jenkins pipeline for Jenkins plugin.
We need to implement the SimpleBuildStep according to requirements https://jenkins.io/doc/developer/plugin-development/pipeline-integration/.

The class which should be updated is
https://github.com/jenkinsci/reportportal-plugin/blob/master/src/main/groovy/com/epam/reportportal/ResultRecorder.groovy

[2018-02-07 12:31] avarabyeu commented on #351
@OstapJ feel free to make PR :)

[2018-02-09 11:40] ummshsh opened #353 "Implement 2 panel view like in Allure"
I and my colleagues think that this feature is must have for fast browsing and analysis
Examples:
![screenshot_1](https://user-images.githubusercontent.com/14292399/36026176-57478940-0daf-11e8-8175-c47e2882f9eb.png)
![screenshot_2](https://user-images.githubusercontent.com/14292399/36026215-853b5840-0daf-11e8-994c-3361d0570599.png)

[2018-02-10 15:22] triesz commented on #292
found a workaround: adding this to the reportportal.properties helps:
rp.batch.size.logs = 1

in fact any rp.batch.size.logs value from 1-6 works well. And any value from 7 will reproduce this issue.

Hope it helps!

[2018-02-12 07:18] fasterfish opened #354 "Ability to merge retried test items in deep merge"
Given I have several identical launches
When I try to deep merge them
Then I want to be able to merge test items with retry option

For example:
![screenshot_1](https://user-images.githubusercontent.com/18389889/36086448-445f5ff6-0fee-11e8-82dd-ecfa552146a5.png)

If i check this and the launches contains some test items with retry field = true, then these tests should be merged.

[2018-02-12 09:13] KursLabIgor commented on #295
@nvborisenko we have detected such behavior when added nunit test attribute Timeout.
Examaple
[Category("SendTo"), Category("UWP"), Order(1), Timeout(600 * 1000)]
when test canceled by time out we got error like
'#1: Test cancelled by user - Timeout!'
ReportPortal exception was thrown.
System.NullReferenceException: Object reference not set to an instance of an object.
   at ReportPortal.NUnitExte

[2018-02-12 10:33] evjlobanova commented on #354
@fasterfish this feature is close to Rerun function #264

[2018-02-12 15:50] tareqalayan opened #355 "Is it possible to add assignee per each test case so he can start do the investgiation?"

[2018-02-13 10:59] KursLabIgor opened #356 "RP v3 : Widget for most failing test shows fixture and test"
http://prntscr.com/ie2fc2

highlighted on snapshot it is fixtures.
nunit 3 + C#
Problem described in summary.

[2018-02-14 10:33] andrei-khveras opened #357 "Support proxy in Java client"
It looks like [proxy settings](https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html) provided via VM arguments as described in [RP documentation](http://reportportal.io/docs/JVM-based-clients-configuration) don't work.
It would be great to have any easy enough option to provide proxy params to Java client so tests started behind corporate proxy can log their execution results to

[2018-02-14 14:12] sinwat opened #358 "Idea: Log warnings when project name doesn't exist"
We had an issue when no reports were submitted because of small typo in project name (config file). Used '_' instead of '-'.
That would be great to see some kind of warning message in logs, that we try to use unexisted project name. Could save us hell of a time :)

Thanks!

[2018-02-20 14:33] evjlobanova commented on #324
@nvborisenko could you please look at this issue once again?

[2018-02-20 14:53] evjlobanova opened #359 "Add a label "Critical" for tests"
As a User I want to mark a test  item with a label "Critical". So that I can filter them and understand  the number of the critical bugs are in a launch/ in a filter.

Request from Sergey Mishanin (Skype)

[2018-02-20 15:15] evjlobanova commented on #356
@KursLabIgor widget aggregates info about items on the different levels, doesn`t it? If it does, please tell us, do circled fixtures have descendants?

[2018-02-20 15:18] evjlobanova commented on #338
the same request from Sergey Mishanin (via skype)

[2018-02-20 15:20] evjlobanova commented on #330
@ailjushkin could I close your issue?

[2018-02-20 15:22] evjlobanova commented on #323
possible implemintation
![image](https://user-images.githubusercontent.com/30413511/36432318-f7d02f70-166a-11e8-8241-843e58b154ea.png)

[2018-02-20 15:23] ailjushkin commented on #330
I use 3.3 version. That would be very good if you support am option to save
log level filter between next want previous action while waking a test run.

вт, 20 февр. 2018 г., 18:20 evjlobanova <notifications@github.com>:

--

С уважением,
Илюшкин Александр.

[2018-02-20 15:32] #330 closed

[2018-02-21 03:29] Iren-Melnyk commented on #353
Hello ummshsh!
It's a good point to think about.
Thanks.
I also would like to mention that there is much difference between ReportPortal and Allure in the amount of data you can operate and therefore in information architecture. In ReportPortal you can navigate within one launch and between many launches.

[2018-02-22 17:13] tarek-vader opened #360 "not possible to select jira (or any bug tracking system)"
hi, am logged in as admin, i want to configure jira, but its not possible..
its stated , "To configure Bug Tracking System, please deploy appropriate micro-service" how do i fix this?

![image](https://user-images.githubusercontent.com/35951996/36553192-fb798b84-17fb-11e8-8561-cce19f70656d.png)

[2018-02-22 21:01] avarabyeu commented on #360
@tarek-vader have you started jira service? is it started successfully?

[2018-02-23 10:48] tarek-vader commented on #360
hi again, now i can see that jira available, acutally i didnt do anything new..
but i see not possible to interact with external system
![image](https://user-images.githubusercontent.com/35951996/36590603-7af97e44-188f-11e8-9952-5b728c4ca3e7.png)

[2018-02-23 11:02] avarabyeu commented on #360
@tarek-vader could you please send us the response from
http://your_server/composite/health and http://your_server/composite/info

[2018-02-23 11:02] evjlobanova commented on #360
@tarek-vader could you please the following thing:
1. Check a rightness of link to Jira:
f.e. *https://jira.*.com* should be written as *https://jira.*.com/jira*

2. Check if your jira account is not expired.
Log in Jira using basic authorization, i.e. enter your credentials in login form. In case of captcha, fill all required data and login jira. If it is ok, please try to connect to Jira from RP

[2018-02-23 11:04] avarabyeu commented on #359
@evjlobanova why test item tags can't be used for this?

[2018-02-23 11:32] tarek-vader commented on #360
great ,  it worked)))

health:

{"API":{"build":{"branch":"pre-3.3.2-5adc6534243105c5f9061fd663b5b0c591749d55","description":"ReportPortal API Service","name":"API Service","repo":"reportportal/service-api","version":"3.3.2"},"extensions":{"analytics":{"all":{"enabled":true}},"bugtracking":["jira"],"instanceId":"06f27944-4558-467a-8687-5da5e4eacee1"},"metadata":{"activitiesEventType":["create_dash

[2018-02-27 10:15] dkozlov commented on #188
@avarabyeu Unfortunately I can not test this issue now

[2018-02-27 14:04] evjlobanova commented on #355
@tareqalayan we are planning to implement this functionality after moving on React and PostgreSQL

[2018-02-27 14:06] #359 closed

[2018-02-27 15:32] evjlobanova commented on #350
@KursLabIgor what your RP version is?

[2018-02-27 17:31] evjlobanova commented on #292
@pbortnik ^^

[2018-02-28 07:48] KursLabIgor commented on #350
@evjlobanova  Current version: API Service: 3.3.1; Service Index: 3.1.1; Jira Service: 3.3.0; Authorization Service: 3.3.0; Service UI: 3.3.2;

[2018-02-28 08:14] noadmin opened #362 "[Feature request] Kubernetes deployment"
It will be nice to have chart for helm to make able deploy reportportal on Kubernetes, not only in swarm.

[2018-02-28 10:34] schandrakandi commented on #360
Hi How did you fix the issue? i am facing the same error

[2018-02-28 10:36] evjlobanova commented on #360
@tarek-vader could you please share your experience with @schandrakandi ?

[2018-02-28 11:27] evjlobanova opened #363 "RE-RUN Launch functionality (multi-threaded execution in one launch)"
**RERUN** : Summary

**This features (available from clients with version 5+) allows:**
1. report launch, executed in multi-threads in one physical launch in RP
2. re-run results of tests on top existed tests (replace them)

**Wiki:**
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

**Description**:
As a user I can possibility to repor

[2018-02-28 11:28] evjlobanova commented on #363
#13

[2018-02-28 11:28] evjlobanova commented on #363
#264

[2018-02-28 11:29] evjlobanova commented on #264
in 4.0

[2018-02-28 11:29] #264 closed

[2018-02-28 11:30] avarabyeu commented on #280
Fixed

[2018-02-28 11:30] #280 closed

[2018-02-28 11:33] #188 closed

[2018-03-04 07:56] fasterfish opened #364 "Remove personal projects and select default project for user"
Not all reportportal users need personal projects, for example customers, managers etc.

I want ability to delete a personal projects.

It would be nice if user or administrator can change the user's default project on sign on.

[2018-03-04 08:08] fasterfish opened #365 "The last logon for ldap users is not work correctly"
Given I have reportportal instance with ldap users
When user log in to reportportal
Then last login time should be change

In my case the user last login time are equals to registration time (http://rp.address/ui/#administrate/users)

[2018-03-04 08:18] fasterfish opened #366 "Bulk delete of linked issues"
In our case we have too many failed test cases (from 300 to 400) with wrong investigation (type of defect and linked bugs from bts).

To return the launch to the initial state takes a very long time, so we ask you to add a button to clear the launch from the defects (AB, PB, etc.) and the associated defects.

[2018-03-07 16:54] shaburov opened #367 "[v4][ACTIVE DIRECTORY] User with login already exists"
After moving to version 4.0.0, I did not successfully pass authentication using the active directory account in browsers that previously did not have authorization in the reportportal.

**Precondition**:
mongo is installed on a separate KVM
Active Directory is installed

**Steps**:
**1**. [run docker-compose v.3 +](https://gist.github.com/shaburov/e857326255e3b590bf7077863fce1a9a)
**2**. configure

[2018-03-07 18:11] shaburov opened #368 "[v4][service-api] Ignored custom defect type for "NO DEFECTS GROUP""
[code]

![image](https://user-images.githubusercontent.com/15269131/37109190-43ed735a-224a-11e8-9188-478055c51678.png)

![image](https://user-images.githubusercontent.com/15269131/37109156-3149e45e-224a-11e8-9511-6d68a9c873a8.png)

TestNGService.java
[code]
Console log
[code]

test_20171020150312 - correct group **pb_1iyq1vlqpm4on**
![image](https://user-images.githubusercontent.com/15269131/37109

[2018-03-07 19:35] shaburov commented on #368
just a little mistake in the code

[2018-03-07 19:35] #368 closed

[2018-03-07 19:46] shaburov commented on #360
If I'm not mistaken this error occurs if the user does not have permission to access the selected project or specified the project name instead of the project key.
![image](https://user-images.githubusercontent.com/15269131/37114444-6ad621e2-2259-11e8-8d96-a607ffcdef08.png)

[2018-03-12 11:48] AndreySergeevichBykov commented on #336
@nvborisenko
I have the same situation as @KursLabIgor. The libraries' versions are also the same.
And have no luck too

[2018-03-12 12:10] nvborisenko commented on #336
Fixed in ReportPortal.Log4Net **1.1.5-beta2**
Thanks for the issue.

[2018-03-12 12:20] AndreySergeevichBykov commented on #336
@nvborisenko do you mind if i will talk to you in Russian ?
Вот прямо сейчас установил ReportPortal.Log4Net 1.1.5-beta2, но ничего не изменилось.
Причём, если я заведомо делаю ошибку в ReportPortal.conf (например ввожу не правильный Uid), то он никак на это не реагирует, а в лог пишет банально. Т.е. словно он даже и не пытается установить соединение с RP

log4net: Created Appender [RP]
log4net: Ad

[2018-03-12 12:36] shaburov commented on #367
@avarabyeu
`{ "_id" : "oleg.shaburov", "_class" : "com.epam.ta.reportportal.database.entity.user.User", "password" : "519dda1ebe0f1fff0e514ff558473147", "email" : "oleg.shaburov@ncloudtech.ru", "role" : "ADMINISTRATOR", "type" : "INTERNAL", "isExpired" : false, "defaultProject" : "catalog", "fullName" : "Oleg Shaburov", "metaInfo" : { "lastLogin" : ISODate("2018-03-07T16:15:44.588Z") }, "photoId"

[2018-03-12 12:41] nvborisenko commented on #336
Works good in https://github.com/reportportal/example-net-nunit, please review this project.

[2018-03-12 15:03] AndreySergeevichBykov commented on #336
@nvborisenko Николай, я скачал Ваш проект. Заменил в нём ReportPortal.conf на свой.
Добавил NUnit Adapter и выполнил тесты.
Но логи так и не ушли в RP.

P.s. ReportPortal.conf 100% правильный, потому что когда подключаю его к net4j, то всё проходит успешно

[2018-03-12 16:30] nvborisenko commented on #336
@AndreySergeevichBykov можете расшарить пример проекта, где не работает nunit+log4net?

[2018-03-13 09:28] AndreySergeevichBykov commented on #336
@nvborisenko не работает не сам log4net, а именно аппендер, который должен отправлять логи в RP.
 Т.е. аппендеры, которые выводят логи в файл и консоль работают.
Я расшарил Ваш проект, который адаптировал под свой RP
https://github.com/AndreySergeevichBykov/Log4net_ReportPortalAppender

[2018-03-13 11:35] evjlobanova opened #369 "Custom rules for Auto-Analysis: AA based on launches with the same name and on all launches on a project"
As a User I want to choose different options for auto-analyse. For that I should choose appropriate configurations.

**Scenario Basic AA "All launches":**

1. The user comes to project configurations, and switches AA on
2. The system shows new fields with name Choose the base on which the Auto Analysis will be performed
3. The User chooses: "All launches"
4. The User saves a form
5. The "To invest

[2018-03-13 12:58] evjlobanova commented on #366
@fasterfish you want to have bulk operation to remove defect type, linked bug and comment, do you?

[2018-03-13 13:02] evjlobanova commented on #364
@fasterfish would you mind telling me why you do not want customer and others to have personal projects?

[2018-03-13 13:07] #354 closed

[2018-03-13 13:19] pbortnik commented on #350
@KursLabIgor
hello, it is expected behavior. AA starts only after finish launch. If you need something like run AA for merged launches you can make another api request after merge with id of a new launch.

`curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'Authorization: bearer $YOUR_TOKEN' 'https://rp.epam.com/api/v1/$YOUR_PROJECT/launch/$LAUNCH_

[2018-03-13 13:25] #350 closed

[2018-03-13 13:53] #304 closed

[2018-03-13 14:28] avarabyeu commented on #252
Duplicate of reportportal/reportportal#360

[2018-03-13 15:48] shaburov commented on #252
@avarabyeu @DzmitryHumianiuk  это не дубликат.
Я незнаю ID под которым зарегиcтрирован jira-service в RP.
Нужно переться в WEB консоль и там искть ExternalSystem ID (у меня например 59f20f36a7b11b0001a545a1) для того чтобы закинуть в код TestNGService.
![image](https://user-images.githubusercontent.com/15269131/37352646-c9be051e-26ee-11e8-84cb-eef79484a335.png)

Переоткройте дефект.

[2018-03-13 16:45] DzmitryHumianiuk commented on #252
@avarabyeu @DzmitryHumianiuk это не дубликат.
Я незнаю ID под которым зарегиcтрирован jira-service в RP.
Нужно переться в WEB консоль и там искть ExternalSystem ID (у меня например 59f20f36a7b11b0001a545a1) для того чтобы закинуть в код TestNGService.

![image](https://user-images.githubusercontent.com/11332788/37356432-012e825a-26f7-11e8-91a9-84dac84b32fe.png)

Переоткройте дефект.

[2018-03-14 04:07] fasterfish commented on #366
@evjlobanova yep

[2018-03-14 04:20] fasterfish commented on #364
@evjlobanova I asked the managers - 100% of the respondents reported that there is no need for a personal project.

[2018-03-14 04:21] fasterfish commented on #354
@evjlobanova thank you

[2018-03-14 10:17] evjlobanova commented on #355
this issue is covered by request #71 . close as a duplicate

[2018-03-14 10:17] #355 closed

[2018-03-14 10:32] michalfar commented on #24
Hi,
Do you support Docker based on Windows server 2016? I don't want to install virtualbox etc.
Should I somehow adjust docker-compose file?

[2018-03-14 12:40] DzmitryHumianiuk commented on #349
@ulmanA hi
What do you expect in this mail?
all the same what we have right now in it?

[2018-03-14 12:42] DzmitryHumianiuk commented on #319
exactly the case
#349

closing as duplicate

[2018-03-14 12:42] #319 closed

[2018-03-14 12:50] DzmitryHumianiuk commented on #312
@priyankagarga Hi,

Well, just imagine the case, when you have 1000 test cases, and due to some reasons 300 of them will fail.
Would you like to receive 300 emails at a moment?

Probably we will not add this possibility, to trigger email with every test case fail.
But,
we can add API call, which can trigger email notification for any launch (see #319 #349 )
Can this functionality help you?

[2018-03-14 12:56] DzmitryHumianiuk commented on #302
I see 3 feature here:
1. Trigger email sending with launch info, equal to existing triggered emails (see also #312 #349 )
2. export of filtered content at ListView (test cases view) as a file (XLS)
3. emailing of filtered content at ListView (test cases view)

@ailjushkin plz confirm

@ailjushkin will  #312 #349 help you as a part of 1st feature, mentioned above?

[2018-03-14 13:02] ulmanA commented on #349
just get the email text as is
if it html, so I will expect to get all the html.

[2018-03-14 13:10] DzmitryHumianiuk commented on #284
ReportPortal not a messaging system.

But, we have the same need.
Currently we do we same, but via direct request to Database.

As a part of **Management Board** update (available for admins only), will be added possibility to filter users, and export these results into XLS file.

For example, filter users which logged in no more then 3 months, and email contains `@mail.com`.
After it -> Export as

[2018-03-14 13:12] DzmitryHumianiuk commented on #349
@ulmanA
Got you. not a big deal.
Will be considered for next minor versions.

[2018-03-14 13:29] DzmitryHumianiuk commented on #358
@pbortnik @avarabyeu
make a call to RP, if project exists before launch start.
OR
return error with message then project doesn't exist on luanchStart

and output it into console.
with

[code]

[2018-03-14 13:35] DzmitryHumianiuk commented on #316
@sbakharev workaround:
1. create launch via API (call start, call stop)
2. select original launch and newly created
3. click merge.
4. set new name

This will help you to update the name. For now.

[2018-03-14 13:35] DzmitryHumianiuk commented on #316
Will be considered as `Launch name edit`

[2018-03-14 13:37] DzmitryHumianiuk commented on #324
@nvborisenko could you assist here?

@irinakhaptanova is issue still actual?

[2018-03-14 13:38] DzmitryHumianiuk commented on #310
@nvborisenko @KursLabIgor any updates on that?

[2018-03-14 13:50] KursLabIgor commented on #310
@DzmitryHumianiuk  no updates from my side.

[2018-03-14 13:53] DzmitryHumianiuk commented on #125
@SergeVKom is it still reproducible with 4.0.1 agent for testNG?

[2018-03-14 13:57] DzmitryHumianiuk commented on #220
@SKharlanov still actual?

[2018-03-14 14:00] DzmitryHumianiuk commented on #273
@avarabyeu can we start automatically master object (startRQ), if child object of it started?

[2018-03-14 14:05] DzmitryHumianiuk commented on #340
@ludeknovy
Here how it works:
- send it as tag for launch
- send it as a part of description

the only thing you need is to extend listener, and provide this day either into the `reportportal.properties`, or via command line `-Drp.tags=ie.11`

[2018-03-14 14:08] DzmitryHumianiuk commented on #308
will be considered with migration to ReactJS, release 5.0

[2018-03-14 14:16] DzmitryHumianiuk commented on #296
@ulmanA Do not confuse `Re-run` and `Re-try`

Re-try is for test cases. Basically if you run test case twice - it will be replaced within one launch.
And marked as Re-tried.

Re-run is for launches.
It will work as **Deep Merge**. Basically it will add structure of newly executed launch into existing launch.
If those launches will have Suites with same name, then original suite will be used on ori

[2018-03-14 14:18] DzmitryHumianiuk commented on #251
@pbortnik up

[2018-03-14 14:45] DzmitryHumianiuk commented on #362
We need a k8s expert for this :)
Don't have one in the team.

@noadmin can you contribute into this?

[2018-03-14 14:48] DzmitryHumianiuk commented on #348
considered for workshop

[2018-03-14 15:01] DzmitryHumianiuk commented on #315
will be done.
But we need a lot of coffee, time and brain muscles to find out how it should look like on UI at the end the way

[2018-03-15 04:20] fasterfish commented on #366
@DzmitryHumianiuk when the number of tests exceeds the maximum page limit (300), these actions will have to be repeated at least one more time.

[2018-03-15 05:15] talgreen1 commented on #284
Excellent idea.
How about exporting to CSV instead? It's less depended and you still can open it in Excel.

[2018-03-15 08:38] priyankagarga commented on #312
Adding an API should help.

[2018-03-15 11:04] DzmitryHumianiuk commented on #366
@fasterfish that's right.
but even in such situation, it's much better then click on by one.

The root of the problem is ML, which learns at first 7 iterations.
This issue will not be actual pretty soon,
so i don't see any background to add special `Reset` button

[2018-03-15 23:06] tarek-vader commented on #360
hi, i think the jira-service needs sometimes to start up...so specially if you freshly start your ubunto machine..jira service was not accessible directly..i needs few minutes to start up..this is my experience..

[2018-03-16 12:34] avarabyeu commented on #367
@shaburov type of user should be changed to LDAP.
Please, let us know if we can close the issue

[2018-03-17 14:13] fasterfish commented on #366
@DzmitryHumianiuk I agree with you

[2018-03-18 08:37] ulmanA commented on #296
Re-Run is very like what I need
But,
- I don't want the tag 're-run' to be shown in case I just reporting more tests
- I don't want to override/merge suites. If suites has the same name, I expect a sequential number in the name. for example: 2 execution that report to the same launch, where every execution have the same suites, and the diff is that every execution test my application with differen

[2018-03-19 11:59] fasterfish opened #370 "Wrong TI count when launch interrupted by rp"
Given I have project with Launch inactivity timeout = 1 day
When I start tests with execution time more than 1 day
Then launch should be interrupted by rp
And TI count should be equal to Failed + Interrupted

But TI = 27, Failed = 3, Interrupted = 0

Following packages used:

IIS.Microsoft.Web.Administration = 8.5.9600.17042
MSBuildTasks = 1.5.0.235
Newtonsoft.Json = 11.0.1
NLog = 4.4.13
NUnit = 3

[2018-03-19 12:20] tareqalayan opened #371 "Unable to connect ldap 4.0"
Hi guys,

I am trying to connect my ldap to the reportportal.
In the UI i don't see any error message or successful message (i think you should add more freindly messages beside the fast blue line on top )

when i try to connet i get a credential error.
and when i look on logs i see 2018-03-19 11:55:53.477 ERROR 1 --- [nio-8080-exec-1] c.e.t.r.c.e.rest.RestExceptionHandler    : Handled error:
com.

[2018-03-19 14:13] fasterfish opened #372 "Unable to delete multiple launches (>296) from debug view"
Given I have more than 300 launches in debug view
And 300 launches per page
When I select all launches from checkbox
And click on Manage -> Delete
Then all selected launches should be successfully deleted

But if selected launches count more than 296 (297, 298, 299 or 300), then i got "An error occured while connecting to server". Expected: all selected launches should be successfully deleted

[2018-03-19 14:20] evjlobanova commented on #372
@e-olga Olga, could you please check this case?

[2018-03-20 12:59] avarabyeu commented on #371
@tareqalayan could you please provide us with some screenshot of your auth configuration page?

[2018-03-20 13:12] avarabyeu commented on #358
it does not make sense since reportportal respond with error if case project doesn't exist. The error should be shown in the logs as regular log entry. If it isn't, please, submit bug

[2018-03-20 13:13] avarabyeu commented on #273
@DzmitryHumianiuk doesn't understand. Could you please re-phrase?

[2018-03-20 13:17] tareqalayan commented on #371
https://up1-vrutkovs.int.open.paas.redhat.com/#s_b6CuBDRQZdk2h7HjWvbA

@avarabyeu  thanks

[2018-03-20 13:19] evjlobanova commented on #371
@tamasmartin could you please check your link?

[2018-03-20 13:20] avarabyeu commented on #371
@tareqalayan unfortunately, this resource is blocked in our corporate network. I'll have a look later today from home

[2018-03-20 13:38] tareqalayan commented on #371
@avarabyeu it will be also blocked from your home :)

can you point me on what to test ?

[2018-03-20 14:02] tareqalayan commented on #371
https://paste.fedoraproject.org/paste/MaKgDaB2nB7O1GRgaYLLqg @avarabyeu

[2018-03-20 14:18] avarabyeu commented on #370
@fasterfish so what is the problem? How many tests in the launch? How many of those are failed/skipped? It that possible that other test items are before\after methods?

[2018-03-20 14:21] evjlobanova commented on #370
more info about the issue ![image](https://user-images.githubusercontent.com/30413511/37660262-0cfc8cb4-2c63-11e8-9a12-8584aef146af.png)

[2018-03-20 14:23] avarabyeu commented on #252
don't really understand what you wanted to add? Put the list of available IDs in the error response? How would that help to submit an issue? Error responses are not intended for sharing IDs of existing entities.
I guess you guys might want to put external system type instead of ID there. It would make sense but require modifications on both client and server side.

[2018-03-20 14:24] avarabyeu commented on #251
@evjlobanova plz add to 4.2 backlog. This should be fixed.

[2018-03-20 14:26] avarabyeu commented on #292
@evjlobanova plz add to 4.2 backlog.

[2018-03-20 14:27] avarabyeu commented on #150
@evjlobanova plz add to 4.2

[2018-03-20 14:27] avarabyeu commented on #339
@evjlobanova plz add to 4.2

[2018-03-20 14:30] avarabyeu commented on #372
i guess issue is rather related to connection timeout since operation is performed synchronously. @evjlobanova Consider for 5.0

[2018-03-20 14:37] avarabyeu commented on #371
@evjlobanova plz add to 4.2 milestone

[2018-03-21 09:46] evjlobanova commented on #370
@nvborisenko Nikolay, could you please look at this issue? It seems that you can help with a problem.

[2018-03-21 14:00] nvborisenko commented on #324
@irinakhaptanova please update RP packages and try to reproduce the issue. At least now we will be able to see some error messages in console output.

[2018-03-21 14:11] nvborisenko commented on #345
@fasterfish cannot reproduce it. My packages:
<package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.Engine.Api" version="3.8.0" targetFramework="net45" />
  <package id="ReportPortal.Client" version="2.0.0" targetFramework="net45" />
  <package id="ReportPortal.Log4Net" version="1.1.5-beta2" targetFramework="net45" />
  <package id="ReportPortal.NUnit" version="3.3.0-

[2018-03-21 14:23] nvborisenko commented on #336
@AndreySergeevichBykov ругается на твой конфиг. А именно удали закомментированные строки аля `/*`

![screenshot_1](https://user-images.githubusercontent.com/22616990/37715220-894ef0c6-2d2c-11e8-9a6a-ab3fa851bd71.png)

[2018-03-22 11:24] avarabyeu opened #373 "NPE in TestNG agent"
![image](https://user-images.githubusercontent.com/1565439/37767867-a6a06db6-2ddc-11e8-82c2-49298a36b47b.png)

[2018-03-22 11:24] #373 closed

[2018-03-22 11:25] avarabyeu commented on #373
Fixed in testNG agent 4.0.2

[2018-03-26 09:38] braindonor opened #374 "I'm not able to get the analysis feature to work"
Initially, I checked the logs and found I had a permissions issue on the /data/elasticsearch directory.  I've fixed this and I'm not seeing any errors in the logs now.

However, I'm not seeing any tests getting auto analysed even though I have manually updated some tests that were marked for investigation.

I have the auto analyse switched on.   If I run the analyse manually, I see the red analysi

[2018-03-26 10:59] evjlobanova commented on #374
@braindonor hello!
Could you please check:
- if items that have been marked with defect type have logs with log level higher than 40 000 ( higher than Error):
- the number of items in ElasticSearch should be more than 7,  for that  you need to uncomment ports of ElasticSearch  in docker- compose and send request to ElasticSearch GET http://host:9200/_cat/indices?v

If you have less than 7 items in

[2018-03-26 11:52] ailjushkin commented on #275
Hi! Can we uprank this issue due to the  high demand of it?

[2018-03-26 13:25] evjlobanova commented on #275
@ailjushkin now we are in the middle of the great moving to React and PostgreSQL. Nested steps is in a plans after all these processes, because any new feature now will be a double work for us.

[2018-03-26 14:26] ulmanA opened #375 "flaky tests widget show also non-test items"
the widget of most falky tests count also before-method items and after-method items.
I want to see only flaky tests and not configuration methods

please add option to filter it on the widget configuration

thanks!

[2018-03-26 15:15] braindonor commented on #374
Thanks very much for your help.

**db.getCollection('log').find({"level.log_level": {$gt: 40000}})** returns 0 records.

It appears that my failure log entries have log_level 30000 ("Error").

Is it possible to configure the system to analyse failures with log_level >= 30000 ?

[2018-03-26 16:07] evjlobanova commented on #374
@braindonor Log level Error includes logs of levels Error, Fatal  and custom level  with log number more than 40 thousands. So we are considering in AA a logs with the reason of failure.

[2018-03-27 08:32] evjlobanova commented on #374
@braindonor can I close an issue?

[2018-03-27 08:40] braindonor commented on #374
Yes.  Thanks for your help.
I'm going to try and raise the failure exception in my tests to get the required log_level.

[2018-03-27 17:01] tmatveyeva opened #376 "Unnecessary logging of all items in the run in case if run cannot be completed"
Hello,

We have ReportPortal v4, and agent and logger as follows:
        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>agent-java-testng</artifactId>
            <version>4.0.1</version>
        </dependency>
        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>logger-java-log4j</artifactId>
            <vers

[2018-03-28 10:37] braindonor commented on #374
Tried to log a Fatal error via slf4j, but it didn't appear in report portal as a fatal log.

In the end I logged it directly from my service class on test failure:
ReportPortal.emitLog("Failed: " + testName, "FATAL", new Date());

I now have log entries with log_level 50000.

[2018-03-28 10:47] evjlobanova commented on #193
The same request from *Ievgen Ievstafiev* (via Skype / RP User chat) -  dashboard with widgets from different projects

[2018-03-28 10:55] avarabyeu commented on #376
@pbortnik Pasha, please, truncate error message on server side as well to avoid load on network

[2018-03-28 11:32] vseslovur opened #377 "AssumptionViolatedException makes test failed"
Hi,

I intentionally throw org.junit.AssumptionViolatedException in one test to skip it.
And I expect that Report portal will mark it as skipped too. But it was marked as failed.

If you need more information or logs or whatever, tell me please what exactly.

P.S. We are using cucumber and agent-java-cucumber version 4.0.0
In the cucumber report such test marked as pending:
4 Scenarios (1 pending,

[2018-03-28 11:36] evjlobanova commented on #374
@braindonor
it is a bug. Thank you for you for find this issue.
Unfortunately, we have found that only logs with level Error can be used in Auto-Analysis. We will fix this issue in 4.2 version.
Concerning your situation I can advise you to report logs with level Error by the time the bug will be fixed.

[2018-03-28 12:49] braindonor commented on #374
Thanks for the update.   All my test logs are still at error level, but I've logged one message at fatal level for failed tests.   After I manually investigate the failures, would you expect AA to work for me now?

I haven't tested the auto-analysis yet as all our CI envs are down.   I ran some individual tests yesterday and I am seeing some output from http://host:9200/_cat/indices?v, so I'm hope

[2018-03-29 06:00] tareqalayan opened #378 "Any plans for integration with bugzilla?"

[2018-03-29 08:35] grafuls commented on #371
Same here. I can see the logs from the AUT container being clogged with this exceptions every time I navigate to the authorization configuration page.
I can't see any logs on the API container when hitting submit neither.

[2018-03-29 09:00] evjlobanova commented on #378
@tareqalayan the integration with Bugzilla is in our plans, but it is difficult to say exactly date for its implementation. May be you  want to contribute RP? Or you can ask users from the slack chat, its seems that someone try to make their own integration.

[2018-03-29 10:04] braindonor commented on #374
AA is working now.   Thanks again.

[2018-03-29 11:03] tareqalayan commented on #275
@evjlobanova Hi, in case i am running an instance on mongodb is it possible to upgrade to the new version with react and postgresql?
thanks

[2018-03-29 11:13] evjlobanova commented on #275
@tareqalayan there is not new version yet. React and PostgreSQl will be in 5.0 version.

[2018-03-29 16:12] braindonor commented on #360
I'm seeing the same message.    In my case I believe that it is caused by trying connect to jira with ssl when reportportal is not configured with ssl.

I was able to connect to a non-ssl jira successfully.     I'm going to try to reconfigure my reportportal to use ssl and attempt to connect to the ssl jira again.

[2018-04-02 15:00] katya13zhe commented on #290
I need the same thing as a User. Right now I have two launches with 46 and 47 failed scenarios accordingly, and I have to look for a new failed scenario manually, which is very painful.

[2018-04-03 11:14] #334 closed

[2018-04-03 14:28] danksim opened #379 "[Ruby/RSpec] error_code: 5000, Unclassified error [null]"
Trying to send a request to localhost and I am getting this error message:

    rspec specs/folder_name/spec_name.rb -f ReportPortal::RSpec::Formatter

[code]

report_portal.yml:
[code]

What am I doing wrong?

[2018-04-03 15:51] #379 closed

[2018-04-04 05:33] fasterfish opened #380 "Unexpected total tests count"
Given I run some long test with retry attribute
When the first test fail and restart automatically
And I force finish launch in rp
Then tests count should greater than or equal to 1

But tests count equals to -1:

![screenshot_1](https://user-images.githubusercontent.com/18389889/38290099-06edfc68-37f3-11e8-8917-6ca7864ea9e0.png)

[2018-04-04 09:07] evjlobanova commented on #380
@fasterfish could you please send me a screenshots with step view  and log view of this test?

[2018-04-04 10:11] evjlobanova commented on #367
@shaburov Oleg, please let us know info about this issue. Can we close it?

[2018-04-04 10:34] evjlobanova opened #381 "Auto-Analysis: Possibility to analyze launch result based on already investigated data in a current launch (analogue Match issue)"
*As a User*  I can auto-analyze launch result based on already investigated data in a current launch (analogue Match issue).
*So that* the system should analyze test results based on saved results only in one chosen launch.
*For that* I should make an appropriate configuration on All launches view.

Scenario "All launches":
1. The User comes to All launches and hits Analysis
2. The system shows Mo

[2018-04-04 10:35] #381 closed

[2018-04-04 10:59] evjlobanova opened #382 "Auto-Analysis: Possibility to chose which items should be analysed in Launch (in case AA is started via Amenu on All launches)"
**As a User** I choose which test results should be auto-analyzed:
only To investigated, or/and Already auto-analyzed, or/and manually analyzed;
**So that** the system should analyze only test items which I have chosen.
**For that** I should make appropriate configuration on Modal window on All launches view.

Design:
![image](https://user-images.githubusercontent.com/30413511/38302991-50545644-38

[2018-04-04 11:01] #382 closed

[2018-04-04 11:54] shaburov commented on #367
@avarabyeu  @evjlobanova
I deleted the user. After authorization through AD, the user was created anew. Formally, the problem is solved.

[2018-04-04 11:56] #367 closed

[2018-04-05 06:05] fasterfish commented on #380
@evjlobanova

![screenshot_2](https://user-images.githubusercontent.com/18389889/38349585-2b6dfce0-38c1-11e8-83fd-73e40635f81d.png)
![screenshot_4](https://user-images.githubusercontent.com/18389889/38349587-2d316dc8-38c1-11e8-88ee-c41234156b1c.png)

[2018-04-05 09:55] VatslauX opened #383 "Feature request - integration with Slack"
Minimum - as Jenkins plugin - send a notification with a link to Launch in RP (e.g. launch started/ finished)
Extended - show qty of tests: passed/failed/skipped etc for finished launch

[2018-04-06 09:51] andreypetrenko82 opened #1715 "Add "FEATURE" item_type"
Add "FEATURE" item_type for start_test_item method in service.py for BDD.

[2018-04-09 07:21] jan-zmeskal opened #384 "[FR] Make possible filtering launches that do NOT contain specified tags"
As of now ( Build 4.0.0), you can only create filter based on tags that are present in a launch. It would be very useful if you could create a filter that for example shows all the launches that DO NOT have a tag "stopped'.
Best regards!

[2018-04-09 07:26] evjlobanova commented on #384
connected with issue https://github.com/reportportal/service-ui/issues/613

[2018-04-09 09:11] evjlobanova commented on #326
1. The user clicks on a panel on the History line - the system shows him all details about chosen item without redirecting
![image](https://user-images.githubusercontent.com/30413511/38489379-e2a6df82-3bee-11e8-97e5-8e2867d7c752.png)
![image](https://user-images.githubusercontent.com/30413511/38489395-f28f830e-3bee-11e8-8183-1ff33d797900.png)

2. The user clicks on a launch number, the system redi

[2018-04-09 18:49] VatslauX opened #385 "Feature request manually via web IU swipe AI education to zero for particular Test/Tauch/Tag"

[2018-04-10 10:11] Metatronishe opened #386 "Не достаточно прав для записи файлов в volumes"
Если создать файл docker-compose через конфигуратор на сайте reportportal.io , то выдает ошибку access denied, в docker-compose volumes прописаны в корневую папку проекта.
Чтоб поправить надо ручками прописать:
- ./data/consul:/consul/data
для консул
- ./data/elasticsearch:/usr/share/elasticsearch/data
для эластик
- ./data/mongo:/data/db
для монго

[2018-04-10 10:13] avarabyeu commented on #386
@yana95 the issue is related to docker-compose generator. Plz, change default volume mapping to provided above one.

[2018-04-10 22:47] AlonsoK28 opened #387 "docker-compose"
I am getting following message with **docker-compose** command

[code]
I have already downloaded `docker-compose.yml` from [http://reportportal.io/download](http://reportportal.io/download).

Windows 10 PRO - Docker 18.03.0-ce

What I can do?

[2018-04-11 07:24] AlexeyAltunin opened #388 "launches list is not loaded when project name is `Admin`"
![report-portal-admin](https://user-images.githubusercontent.com/27734925/38601997-c364a98e-3d69-11e8-90b4-eab3c038c9b9.png)

Steps:
1. Create project with name 'Admin'
2. Open launches or any main-menu tab

Console error:
`{"error_code":5000,"message":"Unclassified error [An Authentication object was not found in the SecurityContext]"}`

[2018-04-11 11:37] avarabyeu commented on #292
@triesz Have you tried to reproduce it with 4х client version?

[2018-04-11 12:46] gpucciani opened #389 "Add aggregated results view for cucumber tests of one launch"
I'd like to have, in a single view, the feature, scenarios, steps results, like to cucumber report jenkins plugin does, see image
![1-feature-overview](https://user-images.githubusercontent.com/38277478/38617342-1192459e-3d97-11e8-8570-189c9c0c566c.png)

[2018-04-11 12:47] evjlobanova commented on #389
connected with #25

[2018-04-11 15:49] Kuzukaze commented on #324
@nvborisenko
packages updated, problem still exist.

[2018-04-11 16:12] AlonsoK28 commented on #387
I have changed encode to UTF-8 **without** BOM and it works.

[2018-04-11 16:17] #387 closed

[2018-04-12 00:36] nvborisenko commented on #324
Please update specflow plugin to the latest beta version and try again. Thx in advance.

[2018-04-12 08:21] Kuzukaze opened #390 "Response Code 403, "You do not have enough permissions. Access is denied"."
Trying to GET api/v1/{projectName}/launch/{launchId}/report from API on _rp.epam.com_.
Using token from PROFILE page UUID(or can get same from GET uat/sso/me/apitoken).
And get 403, am I have no right for this or I miss something?

Request: {Method: GET, RequestUri: 'https://rp.epam.com/api/v1/WestKM 6.0 - SELENIUM/launch/191/report?view=xls', Version: 1.1, Content: <null>, Headers:{  Accept: appl

[2018-04-12 10:44] Kuzukaze commented on #324
@nvborisenko
we have ReportPortal.SpecFlow 1.2.2-beta-23.
If I try to update to Latest version
![image](https://user-images.githubusercontent.com/31167096/38672576-4f50de84-3e57-11e8-8a9b-446b0d76d280.png)

[2018-04-12 10:54] #390 closed

[2018-04-12 10:55] avarabyeu commented on #390
Thange the URL to
'https://rp.epam.com/api/v1/{project_name}/launch/191/report?view=xls

[2018-04-12 12:00] avarabyeu commented on #371
Fixing error message for now. Connection check on submit LDAP settings will be implemented as part of 5 release.

[2018-04-12 12:00] #371 closed

[2018-04-12 12:01] avarabyeu opened #391 "Connection check on LDAP auth submit"
Connection should be checked before saving LDAP/AD settings to DB.
Partially related to reportportal/reportportal#371

[2018-04-12 12:03] avarabyeu commented on #357
Proxy can be enabled via manual http client configuration. Please, refer this example to see how to provide agent with customized client:
https://github.com/reportportal/example-java-TestNG/blob/master/logback/src/main/java/com/epam/rp/tests/extension/ParameterizedTest.java#L47

Please, let us know if issue can be closed.

[2018-04-12 19:40] triesz commented on #292
@avarabyeu, yes, issue still occurs with 4x client.

[2018-04-13 11:26] nvborisenko commented on #324
ReportPortal.SpecFlow 1.2.2-beta-23 is the latest. Could you please share full console output from your jenkins. I am interesting in RP logs. And which runner do you use to execute specflow tests?

[2018-04-13 15:13] DzmitryHumianiuk commented on #358
@sinwat main question: is there any type of log that project is incorrect, or there is not any type of log?

[2018-04-14 10:13] bolatbekb opened #392 "При импорте jUnit.xml игнорируется значение атрибута time в testsuites"
При импорте jUnit.xml игнорируется значение атрибута time в testsuites.
Импорт самостоятельно высчитывает время прохождения тестов, суммируя значения атрибута time из testcase. Но так как тесты работают в параллели, общее суммированное время не отражает действительность.

[2018-04-15 12:25] talgreen1 opened #393 "Error when throwing SkipException from BeforeClass method when using agent-java-testng"
Hi,

When trying to throw skip exception from a BeforeClass method, there is an error in the Report Portal (See below).

We are using the Following:
TestNG Version: 6.11 (Happens also with 6.14.2)
Report Portal Version: 4.0.0
agent-java-testng version: 4.0.0

I’m attaching an example project - [skip.zip](https://github.com/reportportal/reportportal/files/1912408/skip.zip)

The stack trace is:
`io.

[2018-04-16 14:06] Kuzukaze commented on #324
Add console output from jenkins.  Use nunit3.

from Jenkins

  Test Count: 633, Passed: 509, Failed: 124, Inconclusive: 0, Skipped: 0
    Failed Tests - Failures: 23, Errors: 101, Invalid: 0
  Start time: 2018-04-16 00:24:40Z
    End time: 2018-04-16 04:06:27Z
    Duration: 13306.779 seconds

[JenkinsConsoleLog.zip](https://github.com/reportportal/reportportal/files/1915550/JenkinsConsoleLog.zip)

[2018-04-17 19:52] thasherwin opened #394 "Not able to make report portal work within Kubernetes"
I deployed report portal in a minikube(kubernetes) using [Kompose ](https://github.com/kubernetes/kompose)
After the deployement there where some issues with some of the pods that needed to fixed.

Below some notes of what i did to solve all issues with the pods

- Deleted memory limit configuration
- minekube ssh and sudo sysctl -w vm.max_map_count=262144
- Made all deployements Stalefull Sets so

[2018-04-18 10:08] bbartok76 opened #395 "Ambiguous handler methods error message"
When I tried to create a new root item I got the following error message:

_"Unclassified error [Ambiguous handler methods mapped for HTTP path 'http://XX.XX.XX.XX:8080/api/v1/demo/item': {com.epam.ta.reportportal.demo_data.DemoDataRs com.epam.ta.reportportal.demo_data.DemoDataController.generate(java.lang.String,com.epam.ta.reportportal.demo_data.DemoDataRq,java.security.Principal), public com.ep

[2018-04-18 11:37] #376 closed

[2018-04-18 11:51] avarabyeu commented on #339
@e-olga could you please close it as soon as testing is done

[2018-04-18 11:51] nvborisenko commented on #324
Did you manually finish the launch? If not, please verify your project settings in web interface like:
![screenshot_1](https://user-images.githubusercontent.com/22616990/38930241-e509f5e0-4317-11e8-8ee2-89e1da93f8b9.png)
May be you have short period of launch's inactivity.

[2018-04-18 12:53] Kuzukaze commented on #324
@nvborisenko
Launch interrupted by timeout.
We have 3 hour timeout.
As you can see from previous post jenkins finish work in 3-4 hours, if RP stuck we get INTERRUPTED status in about 7 housr(~jenkins time + 3 hour timeout).
I can try set timeout for 1 week, but looks like it just will be INTERRUPTED in 1 week.

[2018-04-18 20:06] thasherwin commented on #394
/composite/info issue is solved. I added the following line in ingress because @avarabyeu told me that composite is part of the index service.
[code]
I do have another issue.
When trying to login i get redirected to /ui/404.html

For some reason ui is a root domain in k8... See the below example:

**Docker ui url looks like this:**
http://localhost:8090/ui/compiled/js/scripts.d5976053.js
http://lo

[2018-04-18 20:41] aliaksandrbasau opened #396 "Ability to embed dashboard/widgets"
I'd like to have an ability to generate HTML code for a dashboard or an individual widget so it can be embedded into some other product (e.g. into Confluence page).

[2018-04-18 20:59] aliaksandrbasau opened #397 "Export test items to CSV"
Sometimes I need to get a list of filtered test items and it's very hard to do because the table that shows the test items is not really HTML table and useful shortcuts (like Ctrl+mouse_select in Firefox) don't allow to copy table cells.
It would be great to be able to export the table to some simple format like CSV so it can be manipulated.
Examples of pages when it should be available:
![image](

[2018-04-19 09:08] evjlobanova commented on #397
@aliaksandrbasau could you please clarify what reason you want to copy table for? Please provide use case and business goal?

[2018-04-19 10:21] kotandvla opened #398 "Run name on graph"
Hi to all!
Tell me please, can i show name of runs on graph? Not runs number, as on screenshot.
![image](https://user-images.githubusercontent.com/16304109/38986215-019ccb22-43f6-11e8-998c-24165f2dd5cb.png)
Also, can I group result by some attribute? For example, i made two different tests for v.1.1 and two for v.1.2 and i want to view differenses between runs in group by version.

[2018-04-19 11:03] bbartok76 commented on #395
Thank you very much!

[2018-04-19 11:14] evjlobanova commented on #398
@kotandvla no, the name of launch is in tool-tip.
![image](https://user-images.githubusercontent.com/30413511/38988418-c694634c-43db-11e8-8d9f-6ff14f6407e1.png)

About second point, you mean to group launches by tags, am I right?

[2018-04-19 12:32] kotandvla commented on #398
1. Yeah, i know about tooltip :) But why i can't see name of run 'by first sight' (without physical exercise with a mouse :) )?
2. Not exactly.
Example: we have 4 runs
fail/success  |   v.1.1   |    v.1.2    |
Test-Suite 1  |  10/15  |   5/20    |
Test-Suite 2  |   21/5   |   17/9    |
      All          |   31/20  |   22/29  |

So, I would like to compare two version by few test-suite.
Yes, I kno

[2018-04-19 13:54] #292 closed

[2018-04-19 15:32] aliaksandrbasau commented on #397
@evjlobanova E.g. yesterday I needed to get a list of tests that had some particular failure and then to merge it in Excel with another list that had additional information about the test suites so I can see the pattern.
Sometimes I need to get a list of test suites with new failures so I can re-run only that portion of tests.

[2018-04-19 19:36] thasherwin commented on #394
It works now!
I am closing this issue.. I will try to write down a complete manual with all the steps i did to deploy report portal within k8!

[2018-04-19 19:36] #394 closed

[2018-04-20 13:46] boyfromearth opened #399 "Unable to integrate RP with SoapUI"
WHen i tried to integrate RP with SOAPUIU i got error in the log:
ERROR [errorlog] java.lang.ClassNotFoundException: com.eviware.soapui.plugins.auto.factories.AutoDiscoveryMethodFactory
java.lang.ClassNotFoundException: com.eviware.soapui.plugins.auto.factories.AutoDiscoveryMethodFactory

When i went to look for that class in SoapUI jar i couldn't find it, BUT i was able to find that class in read

[2018-04-20 16:15] e-olga commented on #339
Testing is finished.

[2018-04-20 16:15] #339 closed

[2018-04-22 10:54] talgreen1 opened #400 "Marking failed tests as passed"
We are starting to user Report Portal to include our manual tests as well.

Our solution so far is to create tests from code to represents the manual tests and fail (or skip) them by default.
Then – after running the tests manually, we are changing the fail reason. Currently – we are changing it from ‘To Investigate' to some other reason. We’ve created some sub defect types- ‘Manual Pass’ & ‘Manua

[2018-04-23 05:25] fasterfish opened #401 "[FR]The unique bugs table widget"
Can you add the ability to collapse the contents of the column "Found in"?

For example:

Actual:
![actual](https://user-images.githubusercontent.com/18389889/39108237-aa2d63cc-46e0-11e8-86a7-25bd730a48dd.png)

Expected:
![expected](https://user-images.githubusercontent.com/18389889/39108241-adb810aa-46e0-11e8-9466-fe16efc30742.png)

[2018-04-23 05:29] fasterfish opened #402 "[FR]Ability to connect to rp launch through excel"
fasterfish [Apr 18th at 10:09 AM]
in #russian
Всем привет! Знаете или нет, в списках Sharepoint есть фича экспорт в Excel, которая возвращает файл .iqy, который можно открыть в Excel в виде запроса и получить содержимое списка. Имхо, если бы была такая фишка на rp было бы вообще здорово. Приведу простой пример использования: Экспортировал ланч как запрос и открыл результаты тестов в Excel в виде т

[2018-04-23 10:03] evjlobanova commented on #402
@fasterfish could you please describe your following actions with data after you have exported it in Exell?

[2018-04-23 10:07] evjlobanova commented on #397
@aliaksandrbasau so your main goal is to compare two test suites of launch and find a test with new failures, am I right?

[2018-04-23 10:13] evjlobanova commented on #400
@talgreen1 we are planning to implement a possibility to change test status, approximately date is after v5.

[2018-04-23 10:25] evjlobanova commented on #398
@kotandvla how do you specify a version of launch?

[2018-04-23 10:59] fasterfish commented on #402
@evjlobanova In Excel you can create many different kinds of [diagrams and graphs](https://support.office.com/en-us/article/available-chart-types-in-office-a6187218-807e-4103-9e0a-27cdb19afb90). I believe that the ability to connect to launch on a rp via an excel - i think, would be an excellent alternative to [sub launch](https://github.com/reportportal/reportportal/issues/259) before its impleme

[2018-04-23 13:06] aliaksandrbasau commented on #397
@evjlobanova Not exactly. In that particular case I had to merge the list of test suites affected by some particular issue with the list that contains VM names where the suites were executed. After sorting by two columns (VM name and start time) I was able to determine that the issue affected only a few VMs and reproduced during particular time frame.
Usually I need to get the list of test items o

[2018-04-23 14:18] DzmitryHumianiuk commented on #402
@fasterfish well, currently team focused on 5.0 (PosgreSQL and reactJS migration).
This will open for us option to implement longly expected features.

Our Export built on top of Jasper Reports.
If you can contribute a template for it, we can add additional Export button pretty quick.

if not, i guess, we need to finalize 5.0 first.

[2018-04-23 15:31] aliaksandrbasau commented on #396
@DzmitryHumianiuk UI should provide a way to generate HTML code (e.g. iframe) or URL for embedding a dashboard. Here are some examples from other solutions:
- qTest - https://support.qasymphony.com/hc/en-us/articles/115002952606-Embed-Reports
- TestRail - http://docs.gurock.com/testrail-integration/dashboards-confluence
- PowerBI - https://docs.microsoft.com/en-us/power-bi/developer/embedding-cont

[2018-04-23 16:16] DzmitryHumianiuk commented on #397
@aliaksandrbasau we have an export into Excel format (XLS)
it will represent all test items under launch.

you can use filter in excel to identify required set of test items.

[2018-04-23 16:36] aliaksandrbasau commented on #397
@DzmitryHumianiuk Found it. It could work for me but it splits test items into pages which are separate tables and can't be filtered together. (And the export reliably fails for my largest launch with 70,000+ test items (6,000+ tests)).

[2018-04-24 11:42] e-olga commented on #380
Bug fixed and will be available in release version 4.2

[2018-04-24 11:42] #380 closed

[2018-04-25 06:20] talgreen1 opened #403 "Manual Tests Integration"
Is there any way to integrate manual tests from 3rd parties Test Management applications (such as QC or qmetry) in to Report Portal?

[2018-04-25 10:29] evjlobanova commented on #403
@talgreen1 we do not have any plans about integration with QC or others. Maybe after v5.0 we will think about it, but now all our  efforts directed to the moving on PostgreSQL and ReactJS. But as a possible decision you can export results from TMS some way  and than [import](http://reportportal.io/docs/Log-data-import) them to RP.
 Also we will be glad if you will want to contribute.

[2018-04-25 13:12] ailjushkin opened #404 "Filtering bug when trying to open "to investigate""
RP version:

Current version: Analysis Service: 4.0.0; API Service: 4.0.0; Index Service: 4.0.0; Jira Service: 4.0.0; Authorization Service: 4.0.0; Service UI: 4.0.0;

We have some launch:

![1](https://user-images.githubusercontent.com/3462506/39247916-64016a64-48a3-11e8-98cc-e09766c61de1.png)

Opening "To investigate" shows different results to us - there is no 16 tests, but only two:

![2](http

[2018-04-25 16:49] e-olga commented on #251
The issue is fixed and will be available in release version RP 4.2

[2018-04-25 16:49] #251 closed

[2018-04-27 11:11] braindonor opened #405 "Question: how to configure a Jira BTS which is running on ssl ?"
I've configured Reportportal to run under ssl and want to connect to a jira instance which is ssl.

I'm currently seeing this in the jira service log:

Caused by: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Presumably I need to somehow configure the cer

[2018-04-27 15:10] DzmitryHumianiuk commented on #362
@sayems we have no k8s expertise in the team.

And, maybe, only @avarabyeu can help you with troubleshooting.
ask here, or join our slack chat: https://reportportal-slack-auto.herokuapp.com/

[2018-04-27 15:30] sayems commented on #362
Hi @avarabyeu, I successfully got ReportPortal running on Kubernetes cluster, but I am having an issues logging into ReportPortal. I think I am missing something in Kubernetes Charts for ReportPortal. Would appreciate it if you get a chance to look at it and help us out. Thanks

ReportPortal Kubernetes Charts
https://github.com/sayems/reportportal-charts/tree/master/templates

[2018-04-28 13:23] aamorozov opened #406 "An error occurred while connecting to server"
### Meta
Platform: macOS High Sierra
Docker engine: 18.05.0-ce-rc1
Compose: Compose: 1.21.0
Machine: Machine: 0.14.0

Not sure if node matters here, but
Node v9.11.1

### Reference
I was trying to set up the service following the steps in the description here http://reportportal.io/download, but once I start the services with docker compose i get the following error:

<img width="1272" alt="screen

[2018-04-28 13:32] evjlobanova commented on #406
@aamorozov  check if all services are up, it takes some time to install all services and than try again

[2018-04-28 13:50] evjlobanova commented on #406
@aamorozov please share with your results. Have you opened RP?

[2018-04-28 23:48] aamorozov commented on #406
@evjlobanova All services seem to be installed and running correctly. When logging in the portal, i don't get any console errors so unfortunately cannot provide any more details to help to reproduce the issue

[2018-04-30 13:30] boyfromearth commented on #399
Hello @evjlobanova . WOuld be nice to get some update on this issue? How long do you think it is going to take you to fix it? Thank you

[2018-04-30 16:09] braindonor commented on #405
I got Jira ssl integration working by loading my root certificate into the docker container:

docker cp cert.der reportportal_jira_1:/cert.der

docker exec -t -i reportportal_jira_1 ./usr/lib/jvm/java-1.8-openjdk/jre/bin/keytool -import -alias rootcert -keystore /usr/lib/jvm/java-1.8-openjdk/jre/lib/security/cacerts -file /cert.der

[2018-05-02 07:11] nkthota opened #407 "cannot log with attachment"
while trying to log with attachment based on the below example, data logged as binary data rather than an attachment.
I see the same working in older RP instance.

Current instance details

Current version: API Service: 4.1.0; Index Service: 4.0.0; Jira Service: 4.1.0; Rally Service: 4.0.0; Authorization Service: 4.1.0; Service UI: 4.1.0;

Nunit 3.8
 var filePath = TestContext.CurrentContext.TestD

[2018-05-02 08:18] evjlobanova commented on #399
@avarabyeu Andrei, could you please answer on @boyfromearth question? Thank you in advance

[2018-05-02 10:04] thasherwin commented on #220
I saw this issue today when executing tests.. I am checking if i can reproduce this.. Also it seems like once i get this issue my test is logged as failure. Is there a way to ignore these kind of errors and make sure that the build wont fail due to a reportportal issue?

[2018-05-02 14:06] sayems commented on #394
Hi @thasherwin can you share the working docker-compose file here please, thanks!

[2018-05-03 12:09] pbortnik commented on #393
@talgreen1 try to use the latest 4.0.2 version of testng agent

[2018-05-03 15:03] e-olga commented on #386
Folder 'data' is created and contains folders with other volums.
The fix is already available on http://reportportal.io/download.

[2018-05-03 15:03] #386 closed

[2018-05-03 15:05] csekamal opened #408 "restarting server deletes all the projects?"
Hi,
I have reportportal server running with several projects. Then there were some OS update and I had to restart my machine. But after that, I cannot find any of my projects except the default superadmin_personal project. Is this expected behavior? Is there any extra configuration to make so that in case of machine restart all the projects and their reports are saved?
Thanks
A.K.

[2018-05-04 16:19] nkthota opened #409 "Exception was thrown in 'BeforeTestFinished' subscriber."
Getting the below error message while using TestEvents. attached Nunit report file

Exception was thrown in 'BeforeTestFinished' subscriber.
System.NullReferenceException: Object reference not set to an instance of an object.
   at EBridge.Tests.ReportPortal.Customization.ReportPortalListenerOnBeforeTestFinished(Object sender, TestItemFinishedEventArgs e) in C:\Automation\X-Test\EBridge.Tests\Repo

[2018-05-04 16:53] nvborisenko commented on #409
It's your exception. You subscribed to 'BeforeTestFinished' event.
Are you able to share C:\Automation\X-Test\EBridge.Tests\ReportPortal\Customization.cs ?

[2018-05-04 20:25] nkthota commented on #409
here is my customization code. i'm trying to add a tag to test at the finish event.

using System;
using NUnit.Engine;
using NUnit.Engine.Extensibility;
using ReportPortal.Client.Models;
using ReportPortal.Client.Requests;
using ReportPortal.NUnitExtension;
using ReportPortal.NUnitExtension.EventArguments;
using ReportPortal.Shared;

namespace EBridge.Tests.ReportPortal
{
    [Extension]
    publi

[2018-05-04 22:18] nvborisenko commented on #409
It seems TestItem.Tags might be null. Try to use 'new List<string>{"abc"}'

[2018-05-04 23:35] nkthota commented on #409
i tried the below, i dont see an error now but still, i don't see tags added.

            List<string> newTags = new List<string> {"Bing"};
            e.Service.UpdateTestItemAsync(e.TestReporter.TestId, new UpdateTestItemRequest
            {
                Tags = newTags
            });

[2018-05-05 00:16] nkthota commented on #409
it works with below.
            var updateTestRequest = new UpdateTestItemRequest();
            updateTestRequest.Tags = new List<string> {"Bing"};
            e.TestReporter.Update(updateTestRequest);

Thanks a lot for quick response.

[2018-05-05 00:16] #409 closed

[2018-05-07 13:27] evjlobanova commented on #407
@nvborisenko please take a look on this issue

[2018-05-07 13:28] #406 closed

[2018-05-07 14:38] csekamal commented on #408
My docker-compose.yml file contains the below lines related to mongodb,
mongodb:
    image: mongo:3.4
#    ports:
#        - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    restart: always

I have mongo 3.2 installed under "C:\Program Files\MongoDB\Server\3.2\bin". I use command line to cd to this bin folder and run "mongod" to start the mongodb server. What things I have to specify i

[2018-05-07 15:54] csekamal commented on #408
Another point is, shall I install mongo under host machine or under the docker image? Currently, I have installed it in my host machine and I don't know how to install it under docker.

[2018-05-08 11:13] nvborisenko commented on #407
I cannot reproduce this issue. Dog is successfully reported to the server.

@nkthota Could you please verify your integration in comparison with https://github.com/reportportal/example-net-nunit ?

[2018-05-08 13:53] csekamal commented on #408
I see that mongo database service is running along with other report portal services after I restart my PC. My question is why is it not saving all the projects and data. After restart all projects and data are gone and the superadmin has the default password even though I changed the password. Any help to diagnose the problem is appreciated.

[2018-05-09 01:43] nkthota commented on #407
i'm able to use the sample project and go it working. not sure what might the root cause. closing the issue.

[2018-05-09 01:43] #407 closed

[2018-05-09 08:47] talmoshe commented on #182
Hi, can anyone help me with the below error?

09:43:40 1157 [main] ERROR com.epam.reportportal.junit.ParallelRunningHandler - Unable start test suite: 'null'
09:43:40 com.epam.reportportal.exception.ReportPortalClientException: Report Portal returned error
09:43:40 Status code: 400
09:43:40 Status message: Bad Request
09:43:40 Error Message: Incorrect Request. [Field 'name' shouldn't be null.]
09:

[2018-05-09 12:54] talmoshe opened #410 "Q: how to integrate with JUnit"
Hi, I want to integrate with JUnit, can anyone help me with the below error?

[code]

Execution shows:
[code]
It was solved by switching to `@RunWith(com.epam.reportportal.junit.CustomJUnitRunner.class)`
But now I'm getting the error - No runnable methods
[code]

[2018-05-09 14:10] csekamal commented on #408
Hi avarabyeu,
My reportportal instance uses the mongo db that is inside docker. If I restart my pc, all the reportportal services are automatically up and running. See below,
<img width="833" alt="docker_reportportal_services" src="https://user-images.githubusercontent.com/36864730/39819188-5e477d4e-5392-11e8-943a-6d01c7225289.PNG">
but for some reason, all the data and projects are gone and the s

[2018-05-10 11:27] evjlobanova commented on #410
@avarabyeu could you please look at this issue?

[2018-05-11 09:15] evjlobanova commented on #410
@talmoshe  could you please send an example?

[2018-05-11 09:15] #405 closed

[2018-05-11 09:37] #374 closed

[2018-05-11 09:52] #369 closed

[2018-05-11 09:55] #366 closed

[2018-05-11 10:08] evjlobanova commented on #356
@KursLabIgor ^

[2018-05-11 10:33] evjlobanova commented on #345
@fasterfish ^

[2018-05-11 10:35] #340 closed

[2018-05-11 10:38] #329 closed

[2018-05-11 10:38] #328 closed

[2018-05-11 10:39] #326 closed

[2018-05-11 10:41] #357 closed

[2018-05-11 10:44] #384 closed

[2018-05-11 10:50] #296 closed

[2018-05-11 11:31] evjlobanova commented on #20
#363

[2018-05-11 11:31] evjlobanova commented on #20
closed as duplicate

[2018-05-11 11:37] avarabyeu commented on #358
@nvborisenko cc'ing Nikolay who is main contributor for .NET

[2018-05-11 14:05] KursLabIgor commented on #356
please close issue, not relevant for any more.

[2018-05-11 14:44] #356 closed

[2018-05-14 10:10] dmitryyu opened #411 "Add a possibility to set default state for "Ignore in AA" for each custom Defect Type."
Example:
1. We are  using a custom defect type ""Fixed". It means all automation bugs which have been fixed are updated to current defect type. It allows us to see all fixed/not fixed defects.

Currently, for using the way we are forced to change "Ignore in AA" for each fixed case. But with the configurable default state of the option for custom defect - it would be easier.

[2018-05-14 10:19] dmitryyu opened #412 "Operators/Members cannot add a tag/description."
Why can't members/operators (not owners) add tags/description?

The information which can be added to TC (tag/comment) is displayed for a specific run. so changes for current run will not impact to other ones... so i guess, it would be cool to provide the option to add tags and description at least for members.

[2018-05-14 10:53] dmitryyu commented on #411
Not yet. In any case for such TCs we should modify each case separately (For example, changing "Automation Bug" to "Fixed" ) - so we are trying to exclude it from AA at the same time.
But good to know, if someone forget to do it - i will be able to update it via bulk updates.

Thanks for the quick response.

[2018-05-14 10:59] evjlobanova commented on #411
@dmitryyu as a quick decision is on Step level choose a filter by defect type "Fixed" and for those items choose  bulk operation Ignore in AA

[2018-05-15 12:22] Lunar12 opened #413 "Report generation: Creates more than 25000 live and 25000 daemon threads"
Application is using Report Portal. During the report generation when it works with maven-surefire-plugin, it starts to create more than 25000 live and 25000 daemon threads, after that our job on Jenkins fails with the "Out of memory error".
Please find attached the detailed information.
![rp-threds](https://user-images.githubusercontent.com/13586672/40055581-80208f84-5859-11e8-8095-0a99c0b8adc2.p

[2018-05-15 17:07] Lunar12 commented on #413
Actually HeapDump I was not able to attache here because of not supported format.

[2018-05-16 09:14] Lunar12 commented on #413
Attached also details about error from Jenkins
![error1](https://user-images.githubusercontent.com/13586672/40108089-134fb86e-590b-11e8-9a76-d6756ddd88c7.PNG)
![error2](https://user-images.githubusercontent.com/13586672/40108090-13718412-590b-11e8-9b5a-f2068e7f1ab4.PNG)

[2018-05-16 11:41] olkasianchuk commented on #193
It would be great to have Unique bugs table and Pass/Fail rate widgets from different projects.

[2018-05-16 13:16] avishaymahluf opened #414 "Add the ability to specify launch number using the REST API"
We're using Jenkins to execute our tests and at the end of the build we're using the REST API to upload the XML report.
We would like to have the ability to control the launch ID using the REST API so we can match it to the Jenkins build ID.

Thanks!

[2018-05-16 18:45] DzmitryHumianiuk commented on #413
assigned for investigation

[2018-05-16 18:53] DzmitryHumianiuk commented on #414
@avishaymahluf could you please specify details of request?

Did not get, how you can control launch ID via API?

[2018-05-17 08:31] avishaymahluf commented on #414
Hi @DzmitryHumianiuk,

I think that ID is not the right word here. What I meant is to control the counter launch number (I'll also update the title of the issue).

I'll also give an example:
We already have existing Jenkins jobs. Now we want to add report portal on those jobs and publish our test results to reportportal.
When I'm using the reportportal REST API to publish the xUnit XML report, a n

[2018-05-17 12:36] avarabyeu opened #415 "NPE in client-java module when server response comes with no body"
[code]

[2018-05-17 12:39] #415 closed

[2018-05-17 13:04] dagansandler commented on #226
@DzmitryHumianiuk If I understand correctly, the difference between the 2 options you suggested is merely the existence of the "Load" button controlling collapse/expansion of the before/after logs. If that's the case I would personally prefer option 2, so I can control the scope of logs I'm looking at.

One more thing - I think that it may be needed in some cases to also see logs from @Test method

[2018-05-17 13:50] irina-maruga opened #416 "Launch duration is the sum of items inside"
It would be useful to calculate launch duration as the sum of each test in this launch.
Currently it is based on start and finish time which makes gathering duration statistics difficult in case launches were merged or some tests did not  #stop.

[2018-05-18 17:00] DzmitryHumianiuk commented on #414
@avishaymahluf got you.

Well, we don't see any other reasons to make launch numbers changeable.
The case, you have described above, is a good one.

But i can propose a **workaround** for you:
- send Jenkins Job number via launch description.
It supports Markdown, so you can make it even clickable.
Jenkins can return you job number as internal variable, at the same time as a link to the job (if UR

[2018-05-18 17:02] DzmitryHumianiuk commented on #414
@avishaymahluf does it help?

[2018-05-21 06:50] avishaymahluf commented on #414
@DzmitryHumianiuk
Thanks for the quick response!
Actually, we've already done those workarounds, we also added build ID as tags to the launch.
However, as you said this is a workaround and still a bit confusing to see different numbers on the description and on launch number.

We think that It would be nice to have this feature.

[2018-05-21 08:05] evjlobanova opened #417 "AA settings in a separate section, ML configure"
*As a user with PM and Admin role,* I want to configure analyzer manually. For roles less then PM, the section is non-editable, Remove/Generate index are disabled.
*So that* the results  will be more relevant.
*For that* I should open Auto-Analysis section in the Settings and made an appropriate changes into configurations.

![image](https://user-images.githubusercontent.com/30413511/40297121-5b53

[2018-05-21 08:44] #417 closed

[2018-05-21 13:13] evjlobanova opened #418 "Migration from non-relation MongoDB to the relational DB PostgreSQL"

[2018-05-21 14:11] avarabyeu commented on #399
@boyfromearth on my side, issue occurs only on start of application. You can just ignore it, it doesn't affect test execution. Please, let us know if we can close the issue

[2018-05-22 10:09] #385 closed

[2018-05-22 10:10] evjlobanova commented on #358
@nvborisenko Nikolay, could you please take a look on this issue?

[2018-05-22 14:50] nkthota opened #419 "e.TestReporter.TestId return null in ReportPortalListenerOnAfterTestStarted"
private void ReportPortalListenerOnAfterTestStarted(object sender, TestItemStartedEventArgs e)
        {
            Task<TestItem> testItem = Bridge.Service.GetTestItemAsync(e.TestReporter.TestId);

            e.TestReporter.Log(new AddLogItemRequest
               {
                   Level = LogLevel.Error,
                   TestItemId = e.TestReporter.TestId,
                   Time = DateTi

[2018-05-23 11:46] avarabyeu commented on #419
^ @nvborisenko

[2018-05-23 17:23] aliaksandrbasau opened #420 "Show Defect comment filter by default"
When investigating failed tests, I almost always add Defect comment filter and filter failures by defect comment to investigate similar failures at the same time.
It would be great to have _Defect comment_ filter shown by default so I will not have to add it over and over again.

[2018-05-24 11:19] nvborisenko commented on #419
@nkthota it is unnecessary to provide TestId property to log you data via TestReporter class. Try to do the same but without TestId, should work.

[2018-05-25 03:55] nkthota commented on #419
@nvborisenko i still see an error while trying to get test. i was looking to get the path names. as you mentione i'm able to log without test id.

please advise.

        private void ReportPortalListenerOnAfterTestStarted(object sender, TestItemStartedEventArgs e)
        {
            this.TestName = e.TestItem.Name;
            this.LaunchId = e.TestItem.LaunchId;

            Task<string> task

[2018-05-25 06:10] fasterfish commented on #345
@nvborisenko, @evjlobanova, this problem in nunit-console project ([https://github.com/nunit/nunit-console/issues/371](https://github.com/nunit/nunit-console/issues/371)).

[2018-05-25 11:00] Rider1982 commented on #417
Hello!
I have a little suggestion.
Could you please add the following functionality to "Generate index in the ElasticSearch": an ability to filter launches to use for learning? For example, use actual launches age or exclude specific launches from learning or learn based on only specific launches?
The case: for example, I'm not satisfied with the auto analysis results and need to rebuild the analy

[2018-05-25 11:07] Rider1982 opened #421 "A launch filter for machine learning when rebuilding ElasticSearch indexes"
Hello!
I have a little suggestion for [this](https://github.com/reportportal/reportportal/issues/417) functionality (parameters for machine learning).
Could you please add the following functionality to "Generate index in the ElasticSearch": an ability to filter launches to use for learning? For example, use actual launches age or exclude specific launches from learning or learn based on only spec

[2018-05-25 11:40] #66 closed

[2018-05-28 04:01] koala2012 opened #422 "Run pybot got the error"
I just run the pybot command, but an got error as below

pybot --listener robotframework_reportportal.listener --variable RP_UUID:"b514a045-0a6d-4dc9-a496-fae494f8c928" --variable RP_ENDPOINT:"http://ip172-18-0-10-bc51moquguig00f5g7i0-8080.direct.labs.play-with-docker.com" --variable RP_LAUNCH:"Robotframework_test_demo" --variable RP_PROJECT:"Robotframework_test_demo" -d Results test.robot

======

[2018-05-28 14:20] talmoshe commented on #410
Yes, this is my example code:
============================================

import org.junit.runner.RunWith;
import org.junit.runners.Suite;

@RunWith(com.epam.reportportal.junit.CustomJUnitRunner.class)
@Suite.SuiteClasses({
	SimpleTest1.class,
	SimpleTest2.class
})

public class simpleTestSuite1 {

}

[2018-05-28 17:54] shaburov opened #423 "It is not possible to specify the RP endpoint address"
There is no way to set up an address for RP -> `https://host.ru/`**reportportal**`/`
In the RP documentation and in the docker-compose configuration, there is no information about this possibility.

For example:
`https://host.ru/`**jenkins**`/`
vim /etc/default/jenkins
JENKINS_ARGS="--webroot=/var/cache/$NAME/war --httpPort=$HTTP_PORT --prefix=/**jenkins**"

[2018-05-29 09:45] avarabyeu commented on #423
it's not possible to specify server base. If you need to add some prefix, you might want to put reportportal behind some proxy server with path prefix redirection.

[2018-05-29 09:47] #423 closed

[2018-05-29 10:14] nvborisenko commented on #419
Added example of your thing into https://github.com/reportportal/example-net-nunit/blob/master/src/Example/ReportPortalCustomization/Customization.cs

It works for me:
[code]

[2018-05-29 11:53] evjlobanova commented on #422
@krasoffski  maybe you can help with this issue?

[2018-05-29 14:31] koala2012 commented on #422
@krasoffski  thanks for you time to take this. this error happened always, I try this on different server had same problem. do you have any suggestions?

[2018-05-29 14:35] koala2012 commented on #422
@krasoffski I pasted my test case here, you can have try from you side.

*** *** Settings ***
Library    Selenium2Library

*** Variables ***

*** Test cases ***
test
    Open browser    http://www.baidu.com
    Close browser

gfp
    Open browser    http://www.baidu.com
    Close browser

[2018-05-30 07:48] evjlobanova commented on #384
![image](https://user-images.githubusercontent.com/30413511/40706603-0cb1ebca-63f7-11e8-891a-8dcc71f5fb9d.png)

[2018-05-30 07:52] krasoffski commented on #422
@koala2012, thank you, try to look on weekend.

[2018-05-30 10:11] evjlobanova commented on #422
@krasoffski thank you for your help!

[2018-05-30 10:22] jan-zmeskal commented on #384
@evjlobanova Hello, which version has that been implemented in?

[2018-05-30 10:31] jan-zmeskal commented on #384
@evjlobanova Great, thank you!

[2018-05-30 12:48] Lunar12 commented on #413
Hi. Is there any news related to this bug?

[2018-05-30 22:57] s0undt3ch opened #424 "Improved Gihub Integration"
Right now we can use Github to authenticate users.
We can also lock that down to users belonging to an ORG.

Feature Requests:
* Allow limiting to members of a team of that ORG
* Automatically add users of specific teams(or the whole ORG) access to specific projects(instead of making them members of that project by hand)

[2018-05-31 08:33] talmoshe commented on #410
I also noticed that I'm getting "no runnable methods" error

log4j: Adding appender named [ReportPortalAppender] to category [root].
[INFO] Running com.xxx.auto.simpleSuite1Test
[ERROR] Tests run: 4, Failures: 0, Errors: 4, Skipped: 0, Time elapsed: 0.204 s
<<< FAILURE! - in com.xxx.auto.simpleSuite1Test
[ERROR] Test mechanism  Time elapsed: 0.14 s  <<< ERROR!
java.lang.NullPointerException

[ERRO

[2018-06-03 01:34] koala2012 commented on #422
@krasoffski  is there any update?

[2018-06-04 10:41] avarabyeu commented on #413
@Lunar12 we've just released testng agent v.4.2.0
Issue is supposed to be fixed.
Please, let us know if it helps, feel free to re-open the issue or create new one if it doesn't