[2018-06-04 10:41] #413 closed

[2018-06-04 11:43] alex-i-rybkin opened #425 "Launch API: Only first provided 'filter.eq.tags' is processed"
Only first provided 'filter.eq.tags' is processed, despite the doc where we can see that several tags may be provided.

Try:
https://reportportal.dev.ring.com/api/v1/**${your_project}**/launch?filter.eq.tags=**${tag_1}**&filter.eq.tags=**${tag_2}**&filter.eq.name=**${launch_name}**

Actual: Response is filtered only by **tag_1** and **launch_name**
Expected: Response is filtered by all the provide

[2018-06-04 11:45] evjlobanova commented on #425
@e-olga can you check this issue?

[2018-06-04 12:34] OstapJ opened #426 ""ItemID cannot be null" exception is thrown when test failed."
client agent-java-testng - 4.0.2
server 4.1.0

It appears only in case of test failures, when test passes no issues occur.

Also I come from https://stackoverflow.com/questions/49078588/reportportal-4-0-0-getting-error-itemid-cannot-be-null service where this issue was raised.

[2018-06-11 19:10] aliaksandrbasau opened #427 "Allow to set autoAnalyzed flag via API"
At the moment "PUT /{projectName}/item" endpoint ignores specified autoAnalyzed.
Allowing to set autoAnalyzed flag via API will enable better integration for third-party analyzers.

[2018-06-12 13:17] DzmitryHumianiuk commented on #427
Agree.
should be included.

[2018-06-12 13:38] artoyer commented on #375
@evjlobanova any update on this? this spoils all the data. In all widgets we see "to investigate" issues more than our tests count

[2018-06-12 13:47] DzmitryHumianiuk commented on #375
@ulmanA @artoyer
will checkbox `Show @Test only` in widget config resolve it?

[2018-06-12 13:48] talmoshe commented on #410
@evjlobanova @avarabyeu Any updates?

[2018-06-13 05:56] ulmanA commented on #375
@DzmitryHumianiuk
Yes :)
If such checkbox will be added, it will be very helpful!

BTW,
About the label `Show @Test only`
I suggest: `Show Test only` without the `@`
Because `Test` is valid Method Type of ReportPortal
And `@Test` is right only for frameworks such TestNG, JUnit
But there is no `@Test` on the JavaScript frameworks (Mocha, Jasmine)
Thanks!

[2018-06-13 08:40] CaBocuk opened #428 "Almost all long executions contain 433 response"
If we have to run regression tests (~3.5h) - almost every execution contains at least one 433 response what makes launch to finish only by timeout and has status INTERRUPTED.

**Statistics:**
Since April 19 only **3 Launches** of 70+ finished without INTERRUPTED status

**We use:**
- EPAM RP endpoint
- agent-java-testng 4.2.0
- logger-java-log4j 4.0.1
- overrided RP listener which looks like
[code

[2018-06-13 08:45] evjlobanova commented on #428
@avarabyeu could you please look at this issue?

[2018-06-13 10:33] DzmitryHumianiuk commented on #375
@evjlobanova plz address discussion of this point at next workshop.
Consider as in 4.3 scope

[2018-06-13 11:17] artoyer commented on #375
@ulmanA absolutely yes

[2018-06-13 16:06] koala2012 commented on #422
@krasoffski when will you take a look? thanks a lot

[2018-06-13 18:04] krasoffski commented on #422
@koala2012 Unfortunately I am moving to a new job/project and as a result do not have free time for RP for now. :-(

[2018-06-14 12:49] avishaymahluf opened #429 "Add the ability to send scheduled email of aggregated launches results"
Hi,

We would like to have the ability to send a summary of several launches results in one email.
For example, we want to have a scheduled email that will contain aggregated data from several Jenkins jobs that are being published to Reportportal.

From what I saw, it is only possible to receive emails about launches as soon as they finish and not a scheduled one.

Thanks!

[2018-06-14 12:58] csekamal opened #430 "Running Test using visual studio and upload test results to reportportal server, CI/CD, etc."
Hi,
1. We are using nunit framework and C# for our reportportal implementation. We can run the tests using nunit3-console and the tests.dll file. However, we want to be able to run the tests (any or all) using Visual Studio IDE and be able to upload the results to the reportportal server but we were not able to do that. Is there any way to upload the test results to reportportal server while runni

[2018-06-14 16:52] kleptog commented on #364
Hi,

Maybe it's a misunderstanding of what a project is for, but AIUI, if a user is only going to interact with shared projects then they don't need a personal project, right?

Another example, I'm creating a buildbot user so the buildbot can submit reports. It obviously doesn't need a personal project since it's not a person.

[2018-06-15 09:30] evjlobanova commented on #429
@avishaymahluf hello, thank you for your request. Please, could you tell me what kind of schedule you want to have: f.e. aggregate info about all launches in a day, in a week, and also? Could you please provide info  what your main problem: you do not want to receive a lot of letters or something other?

[2018-06-15 10:16] DzmitryHumianiuk commented on #430
Hi @csekamal

1. I guess there is no big difference in running it with command line and from Visual Studio. Probably you have to add some config params or executions with in Studio. The same relevant for Eclipse IDE.
Out team is in Java world. So maybe only @nvborisenko can help you with it.

2. This point belongs to point 3, and related to #408 as well.
ReportPortal saves your UUID forever. and d

[2018-06-15 10:29] DzmitryHumianiuk commented on #430
@csekamal BTW, there are available steps, how to deploy it without
http://reportportal.io/docs/Deploy-Without-Docker

[2018-06-15 10:30] avarabyeu commented on #430
@csekamal could you please share with us your docker-compose file and command you use for restarting the server

[2018-06-15 11:23] avarabyeu commented on #410
@talmoshe
Example of project can be found here:
https://github.com/reportportal/example-java-junit

[2018-06-15 11:23] #410 closed

[2018-06-15 12:04] evjlobanova opened #431 "Latest launches. Improve performance"

[2018-06-17 06:43] avishaymahluf commented on #429
Hi @evjlobanova

Thanks for the quick response.

What we would like to have is indeed a scheduled email with the aggregated info about several launches.
I think that we should have the option of choosing if it will be daily, weekly nightly etc.. (maybe something similar to the crontab syntax?)

Our current problem is that when we have a new version of our product, many Jenkins jobs are being trigg

[2018-06-18 12:17] e-olga commented on #425
Hi @alex-i-rybkin
The condition 'eq' is not used in RP application indeed. Look like the condition is present somewhere in the code and Swagger 'took' it.
Conditions that are used for filtering by tags are specified in documentation by [link](http://reportportal.io/docs/Filtering-launches%3Efiltering-parameters).
Regards,
Olga

[2018-06-18 12:46] alex-i-rybkin commented on #425
Thank you, using filter.has.tags solved the problem (currently tags should be separated with ',')

[2018-06-18 12:54] csekamal commented on #430
Hi avarabyeu,
The contents of my docker-compose.yml is below,
## This is example of Docker Compose for ReportPortal
## Do not forget to configure data volumes for production usage

## Execute 'docker-compose -p reportportal up -d --force-recreate'
## to start all containers in daemon mode
## Where:
##      '-p reportportal' -- specifies container's prefix (project name)
##      '-d' -- enables dae

[2018-06-18 12:58] csekamal commented on #430
[docker-compose.pdf](https://github.com/reportportal/reportportal/files/2111292/docker-compose.pdf)
Attaching the docker-compose.yml file as copy/paste the file content looked a bit weird.

[2018-06-18 13:07] DzmitryHumianiuk commented on #430
@csekamal don't use `--force-recreate` for a start.
it just wipes all data and configs for images.

Just `docker-compose -p reportportal up -d`

https://docs.docker.com/compose/reference/up/
[code]

[2018-06-19 05:42] vgri opened #432 "Tags don't trigger notifications when using the REST API"
When importing a new launch to reportportal by REST API there is no option to add tags and description so that tags are added only by editing the launch. As the new imported launches have no tags and launch update doesn't trigger notification the result is that tags are not triggering notifications.

Thanks!

[2018-06-19 10:58] evjlobanova commented on #432
@vgri so the main problem is that you do not receive notifications? You want to add tag and be notified by letter, don`t you?

[2018-06-19 11:21] evjlobanova commented on #432
@vgri could you please clarify you want to import launches with tags and description or you want to receive notification after you add tag?

[2018-06-19 11:30] vgri commented on #432
@evjlobanova I think that having the ability to add tags and description to the launch import will solve this problem and will spare editing the launch after each import if tags are needed.

Thanks,
Vadim.

[2018-06-19 13:30] DzmitryHumianiuk commented on #414
Launch number used for our internal back-end needs,
possibility to change it will bring tons of possible issues.

the same in Jenkins, you can't change number of job execution.

resolution `Won't fix` for now.

[2018-06-19 13:30] #414 closed

[2018-06-19 14:01] avishaymahluf commented on #414
@DzmitryHumianiuk
Thank you for your response.
Actually changing the number of job in Jenkins is possible. Please refer to:
https://wiki.jenkins.io/display/JENKINS/Next+Build+Number+Plugin

But anyway, if this is not possible in the current architecture of reportportal, I guess we will stay with build_id in tags as a workaround.

[2018-06-19 14:20] evjlobanova commented on #432
@vgri Vadim, one more question where do you storage tags and description in xml file and can you send us an example of xml?

[2018-06-19 14:30] Rider1982 commented on #421
@evjlobanova, that looks as workaround, but is usable for me.

[2018-06-19 15:02] nvborisenko commented on #430
If you use `Visual Studio Test Run` task in VSTS or Visual studio, you might be interested in https://github.com/reportportal/agent-net-vstest
And example of integration: https://github.com/reportportal/example-net-vstest

[2018-06-19 18:51] boyfromearth commented on #399
Thank you. You can close this ticket.

[2018-06-19 18:51] #399 closed

[2018-06-20 04:13] vgri commented on #432
Hi @evjlobanova, We don't have any tags in our XML files. We add them after the launch. It will be great to have the option to add the tags during the zip file upload (import launch).

[2018-06-21 18:00] DzmitryHumianiuk commented on #416
Hi @irina-maruga
Duration time is a tricky question.
And it became even more complex. when you can merge launches.

Practically there are 2 types of duration calculation available:
 - time between first element start and last element finished
 - summary of child durations

But they play different game in various cases.

## Case 1
You have 5 test cases, executed one by one in a row.
![image](https:

[2018-06-21 18:05] DzmitryHumianiuk commented on #416
### Let's ask community for vote and thoughts:
**What is the right duration should be?**
🎉 = `finish - start`
❤️ = `SUM(durations)`

[2018-06-21 19:50] andrey-patin-1979 commented on #416
Why not just provide both values or allow set-up calculation strategy in the project's settings?

[2018-06-22 06:38] kalumpiwarra commented on #416
I would like to add my fifty cents.
Both options make sense for automation.
I would prefer to keep Duration (Test run duration) as "finish - start" and add Tests duration metric.

Also, Case 3 is very tricky. From my point of view, it's better to ignore time when tests are not executing.

[2018-06-22 14:12] nkthota commented on #419
can you add a sample to capture test launch path? that will be helpful.

[2018-06-22 16:25] DzmitryHumianiuk commented on #416
Based on results
![image](https://user-images.githubusercontent.com/11332788/41787617-a22e9d94-7651-11e8-9e6c-04087004bef4.png)

We should keep *duration* as `finish-start`.
And introduce additional field for launch as `Tests duration`

[2018-06-23 13:09] johnypony3 commented on #416
give both options.

[2018-06-25 07:46] nvborisenko commented on #419
@nkthota it's not easy to get the launch path because agent sends data to the server in background, and actually we don't know when exactly data are sent to the server. What is your goal to have launch path in RP server? May be we can resolve your situation in some another way.

[2018-06-25 13:48] nvborisenko commented on #295
Fixed in v3.3.1

[2018-06-25 13:48] #295 closed

[2018-06-25 13:49] #345 closed

[2018-06-25 14:13] nkthota commented on #419
I'm looking to provide the test launch path to the end user so the user can navigate to the test execution details directly rather navigating from the launch. I was able to get the value from the earlier RP client version. I'm planning to construct the URL after the test starts event and post it to our internal on-demand test runner.

[2018-06-25 14:46] nvborisenko commented on #419
If you really need it then try to use
[code]
But you should understand that tests execution is affected by your code and now the reporting is synchronous.

[2018-06-25 18:47] csekamal commented on #430
Hi @nvborisenko ,
We are using nunit and not Visual Studio Test Run. Right now, the only way, we can run the tests and upload the test result to reportportal is to run from the commandline,

If we run from the Visual Studio IDE then the tests run but cannot be uploaded to reportportal. Is there any way to run the tests from VS IDE and still be able to upload the test results to reportportal?
We fo

[2018-06-26 09:34] nvborisenko commented on #430
@csekamal it will be possible when NunitAdapter will support user extensions. Vote there: https://github.com/nunit/nunit3-vs-adapter/issues/222

[2018-06-26 13:06] nvborisenko commented on #419
Added into example project: https://github.com/reportportal/example-net-nunit/blob/a3960da023bff5f9863957928e1f17126dd157df/src/Example/ReportPortalCustomization/Customization.cs#L30

[2018-06-26 13:06] #419 closed

[2018-06-26 19:33] csekamal commented on #430
Hi,
I have configured mongodb as a windows service. What lines do I have to comment or uncomment in docker-compose.yml to properly run reportportal inside the docker engine?
To configure mongodb as windows server, I installed mongodb then used the command,
mongod --logpath “C:\data\rp\log\mongo.log” --serviceName="RP_mongo" --dbpath “C:\data\rp” --directoryperdb –install
and then start the service

[2018-06-26 19:41] csekamal commented on #430
[code]

[2018-06-27 11:43] vgri opened #433 "[FR] Add filter to inner tags [items] at project level"
It will be very useful to have the ability of filtering by inner tags so we will be able to have one display showing results filtered by launch tags with items tags.
For example, I have results from deployment and results from the test and I want to be able to filter the test results in addition to the regular filters.
I use build 4.2.0 and update item tags by UI/REST API.

[2018-06-27 13:05] evjlobanova commented on #433
@vgri we have the similar request here #74.  Which your main business goal? Could you explain your workflow? What actions you want to perform after you filter test?

[2018-06-28 06:11] vgri commented on #433
Hi @evjlobanova, Our main business goal is to have all our testing data in one place without separating it into sub-projects or duplicating launches. We want to use the filters to get the most accurate status for the requested query by reducing noise from unwanted or not relevant test results.
The workflow is simple, after running Jenkins job we import one zip file via REST API to the project. The

[2018-06-28 09:14] evjlobanova commented on #433
@vgri do you want  to create a filter based on test for one launch? If yes, what your
further with this filter?

[2018-06-28 09:29] evjlobanova commented on #433
@vgri you want to find tests by appropriate tag from All launches?

[2018-06-28 12:35] nvborisenko commented on #310
@DzmitryHumianiuk  It seems RP api should be extended. NUnit doesn't generate new test event when retrying it. So in terms of nunit we have one test item with repeated log messages there. So we can only provide the number of retries when finishing test item.

[2018-06-28 19:20] DzmitryHumianiuk commented on #310
@nvborisenko can we make an agent call test case creation with retry flag on retry in nunit?
The same does java based client.

Does any event available in nunit, which correspond to initiated re-try?

[2018-06-29 09:53] nvborisenko commented on #310
Maximum what agent knows, this is how many times test was executed. In RP it is only 1 test item.

[2018-06-29 17:39] DzmitryHumianiuk commented on #310
sad :/

[2018-06-30 13:15] ailjushkin opened #434 "Error logged in the console when trying to open tests of certain launches"
**Current versions:**

* Analysis Service: 4.2.0
* API Service: 4.2.1
* Index Service: 4.2.0
* Jira Service: 4.2.0
* Authorization Service: 4.2.0
* Service UI: 4.2.2

**Problem:**

Tests are not shown - the loading process never ends.

**Logs:**

[reportportal.billing.ru-1530363930987.log](https://github.com/reportportal/reportportal/files/2151728/reportportal.billing.ru-1530363930987.log)

[repor

[2018-07-02 12:09] cnolick opened #435 "Ldaps - doesn't work. ssl problem"
Hi, I try set up ReportPortal with ldaps, and could not it.

I got next error:
[code]
I try append certs in to docker uat accros keytool (JAVA), but it didn't help
another mistake
[code]

I don't know how this fix :(

Version: reportportal/service-authorization:4.2.0
docker.

Best regards

[2018-07-03 07:50] talgreen1 commented on #393
@pbortnik , @evjlobanova Hi - any update on this one?

[2018-07-03 19:42] DzmitryHumianiuk commented on #408
@csekamal did you find answer?

[2018-07-04 06:09] ulmanA opened #436 "Jira integration: Bug priority is always `Minor`"
No matter which priority (mandatory field) you set when posting a bug from ReportPortal -
the actual priority on Jira will always be `Minor`

[2018-07-04 09:23] evjlobanova commented on #436
@e-olga Olga, could you please check this issue?

[2018-07-04 10:12] evjlobanova commented on #434
@ailjushkin Alexandr, we can not open the second file, please send once again. Also could you please send us service API logs?

[2018-07-04 12:02] Gadwil opened #437 "agent-net-nunit:: nothing appears in RP."
RP is need to use in nunit.
First I decided to look at the example (example-net-nunit).
But the example does not show anything in the RP. I do everything according to the instructions (agent-net-nunit ).
On command     nunit3-console.exe  --list-extensions is displayed:
![image](https://user-images.githubusercontent.com/22388995/42275701-e2becb4e-7f99-11e8-9e7a-f00969eee11e.png)

If I delete some

[2018-07-04 12:36] e-olga commented on #436
hi all,
@ulmanA, we have such defect in our backlog.
@evjlobanova, I think we will discuss whether the issue could be included into the nearest sprints.

[2018-07-04 12:55] cnolick commented on #435
Maybe I don't correct append certs to container, and this mistake is not actually, but now I append certs to server(this so hard), a have another mistake:
[code]
I know 100% my credentials.

[2018-07-04 14:58] #437 closed

[2018-07-04 15:06] Gadwil commented on #437
Sorry, i'm stupid

[2018-07-04 21:29] DzmitryHumianiuk commented on #434
@evjlobanova `.saz` inside `zip` can be just renamed to zip.
here it is
[TestLoadHangs.zip](https://github.com/reportportal/reportportal/files/2164375/TestLoadHangs.zip)

and i guess it's more relevant for UI team
@ArtsiomYeliseyenka plz take a look

[2018-07-04 21:50] DzmitryHumianiuk commented on #433
@vgri just to give you a clue:
#74 is about the possibility to create and save filter under launch view. Currently all filters can be applied only for launches view (upper level).
#186 practically about the same.

So we decided to add special view, called **sub-launch widgets** #259
It's kind of dashboard, but related to particular launch name only, and aggregate data from exact launch you have op

[2018-07-05 05:23] vamsivb opened #438 "Unable to upload test results to reportportal"
We have used nunit framework and C# for our reportportal implementation.
Nunit version - Console Runner 3.7.0
.NET Framework 4.5

we have followed the instructions form link(https://github.com/reportportal/agent-net-nunit) to integrate reportportal with test framework. But, results are not reflected in report portal. please suggest if we have to change anything in setup to see the results in repor

[2018-07-05 07:02] vgri commented on #433
@DzmitryHumianiuk, If I understand you correctly option 3 is what we need.

For example, we have two launces:
X, tagged as 'not_only_tests', with 100 tests, 70 of them are tagged as 'this_is_test'.
Y, tagged as 'not_only_tests', with 100 tests, 50 of them are tagged as 'this_is_test'.
The two filters tags 'not_only_tests' + sub_tags 'this_is_test' in the RP project view will return the 120 'this_i

[2018-07-05 10:44] nvborisenko commented on #438
@vamsivb please see an example of nunit integration: https://github.com/reportportal/example-net-nunit
Does it work with your instance of RP server?

[2018-07-05 11:50] vamsivb commented on #438
@nvborisenko  thanks for the quick reply

as suggested, I've cloned 'Example' project from link(https://github.com/reportportal/example-net-nunit) and created a ReportPortal.addins file in the NUnitRunner folder with the following content:
../Example/bin/Debug/ReportPortal.NUnitExtension.dll

see the below images for reference
![image](https://user-images.githubusercontent.com/40848389/42321330-30

[2018-07-05 13:19] nvborisenko commented on #438
May be here?
![screenshot_1](https://user-images.githubusercontent.com/22616990/42325533-2faa2e5a-806f-11e8-8c8a-77cba5aecb9e.png)

[2018-07-06 13:42] cnolick commented on #435
Ldaps - problem resolved. it's my mistake. Maybe set off parameter for certs in docker-compose?

[2018-07-06 13:42] #435 closed

[2018-07-07 11:09] nvborisenko commented on #438
@vamsivb did you find your results in web interface?

[2018-07-09 04:37] vamsivb commented on #438
@nvborisenko  nope.

[2018-07-09 11:56] nvborisenko commented on #438
Some error messages in console output?

[2018-07-09 20:53] avarabyeu commented on #432
@vgri unfortunately, default junit xml report doesn't support tags. Do you have any idea where the tags can be placed?

[2018-07-10 10:20] vivektamrakar91221 opened #440 "Not getting any data on widget when selecting Start Time in filter"
Whenever I am trying to create a new filter, taking Start Time as one of the option and then selecting any one of the options in the drop down i.e. 'Today', 'Last 2 Days', 'Last 7 Days', 'Last 30 Days', getting below error.
"Bad save user filter request. Incorrect zoneOffset. Expected='+h, +hh, +hh:mm'. Provided value is '+5.5"

After selecting specific time range when user is creating filter, fil

[2018-07-11 11:03] evjlobanova commented on #158
the same request from SIarhei (@serega.m) (slack/reportportal/ general chat)

[2018-07-11 14:02] ailjushkin opened #441 "Separate description field in the JIRA issue posing page"
**Proposal:**
Supporting such use-case would be very appreciated:

1. Open failed test
2. Open JIRA issue posting page
3. Fill in a description field to be posted into the JIRA, or check in the checkbox "As in the test comment".
4. Unchecking this checkbox allows to edit the test comment.

**Current version:**

- Analysis Service: 4.2.0;
- API Service: 4.2.1;
- Index Service: 4.2.0;
- Jira Service

[2018-07-11 14:55] ailjushkin opened #442 "Add reason description into the test history during AA."
**Use-case:**

1. Someone incorrectly marked a failed test with a wrong category.
2. This caused to appearing of series of tests marked with a wrong category after the automatic analysis.
3. During investigation of failed tests marked with AA, user finds that some test was marked with wrong category.
4. User looks into the test history and sees:

- **User:** service-analyzer
- **Action:** set up c

[2018-07-11 15:30] DzmitryHumianiuk commented on #441
cover with editor (text field) of ticket description in Post Bug dialog.

[2018-07-11 17:47] mcafeerun opened #443 "Deploy reportportal with remote MongoDB - Login page is throwing error"
I deployed reportportal with remote mongoDB host. I see app has been built successfully. But while login to portal, i'm getting following error. What kind of permission did reportportal app need to access remote mongoDB host. Right now, i setup remote mongoDB without any credentials (no auth).

`An error occurred while connecting to server : You do not have enough permissions. Command execution fa

[2018-07-12 09:10] ringods commented on #443
I suspect this needs to be fixed by the ReportPortal developers. Read the `cursor` option of the `aggregate` command between v3.4 and v3.6:

- https://docs.mongodb.com/v3.4/reference/command/aggregate/ (`deprecates`)
- https://docs.mongodb.com/v3.6/reference/command/aggregate/ (`removes`)

So at the moment, RP doesn't seem to work together with MongoDB 3.6.

[2018-07-12 09:30] avarabyeu commented on #443
@ringods we use Mongo 3.4 in all (including our production) setups. Please, downgrade your mongodb. We haven't tested RP against 3.6 yet

[2018-07-12 09:48] #443 closed

[2018-07-12 14:43] mcafeerun commented on #443
@ringods  & @avarabyeu  Thanks much for quick resolution! I will try to downgrade the Mongo and retry..

[2018-07-12 19:20] mcafeerun commented on #443
It worked after redeploying with mongo 3.4.. Thanks again!

[2018-07-16 11:05] #431 closed

[2018-07-16 11:07] #427 closed

[2018-07-16 14:08] evjlobanova commented on #377
@vseslovur does this issue is still reproducing?

[2018-07-16 14:20] evjlobanova commented on #324
@Kuzukaze do you still have a problem?

[2018-07-16 14:22] evjlobanova commented on #298
@KursLabIgor is issue still reproducing?

[2018-07-16 15:21] evjlobanova commented on #282
@nandish20 do you still have this issue?

[2018-07-16 15:23] evjlobanova commented on #273
@DzmitryHumianiuk could you please add more details?

[2018-07-16 15:37] evjlobanova commented on #125
@SergeVKom ^

[2018-07-16 18:01] SrinivasanTarget opened #444 "Feature request: Add possibility to send logs and attachments straight to the launch"
For say, i would like to add server logs which are not independent for each test run or suite run. How do we attach a server log or any log globally?

[2018-07-16 20:08] DzmitryHumianiuk commented on #140
@thasherwin try it
https://github.com/reportportal/agent-js-nightwatch

[2018-07-16 20:34] DzmitryHumianiuk commented on #273
@evjlobanova @avarabyeu
as i see, related issue in testNG closed without any code change.
They proposed the solution, without code change.

My question was, can we start parent suite for child suite automatically? (in case if context can give us such details)

@ulmanA can you try testNG 6.13+
and this
https://github.com/cbeust/testng/issues/1656#issuecomment-356477013

[2018-07-17 05:57] KursLabIgor commented on #298
@evjlobanova can't tell you. we don't use RP anymore. i consider can be closed.

[2018-07-17 05:57] #298 closed

[2018-07-17 09:03] evjlobanova commented on #444
@SrinivasanTarget Could you please add more details? Do you want to add logs to launch?

[2018-07-17 09:15] evjlobanova commented on #434
@ailjushkin Alexandr. could you please send us an Error from console and responses on sent request?

[2018-07-17 09:41] SrinivasanTarget commented on #444
@evjlobanova Yes something of that sort. Ideally logs i'm talking about are not specific to single/each test. Its common for entire test suite execution. So is there any way i can add logs to launch or
in dashboard?

Another question:
* Is there a way to add dashboard programmatically with some information (e.g server version, client version, execution time, log path, etc.

[2018-07-17 09:50] evjlobanova commented on #444
@SrinivasanTarget Unfortunately no we do not have know such possibility, but such feature in our Backlog.  Could you clarify your second question? You want to add something on widget?  Or could you send a screenshot with your idea?

[2018-07-17 10:55] cnolick commented on #435
@sargissargsyan  - yeah!
First add certs to UAT container
in docker-compose append section volume
- %dir_with_sert%:/tmp

Next.  Got to conteiner
docker exec -it uat_1 sh
and execute next command
[code]
This is example  change name :)

For check I used
[SSLPoke](https://confluence.atlassian.com/kb/unable-to-connect-to-ssl-services-due-to-pkix-path-building-failed-779355358.html)

Next goes to Repo

[2018-07-17 12:02] SrinivasanTarget commented on #444
@evjlobanova Something like this....
![image 1](https://user-images.githubusercontent.com/8896549/42816111-55a89d7c-89e7-11e8-883c-00c5f605111b.png)

[2018-07-17 12:07] evjlobanova commented on #444
@SrinivasanTarget could you please tell me what is the business need? What problem do you want to solve?

[2018-07-17 12:49] SrinivasanTarget commented on #444
@evjlobanova It helps us to show what kind of env configurations does the tests ran.

[2018-07-17 13:48] evjlobanova commented on #444
@SrinivasanTarget  Where do you want to add this information?

[2018-07-17 14:52] DzmitryHumianiuk commented on #444
@SrinivasanTarget
there is not out of the box, same looking widget at the moment.
We assume to add special Launch variables after 5.0 version. Which can be represented on sub-launch widgets view #259

But for now, you can represent this data in launch `description` or `tags`
Just push this data as a part of launch params on start, and you will get:
![image](https://user-images.githubusercontent.co

[2018-07-17 14:56] DzmitryHumianiuk commented on #444
@SrinivasanTarget for the main request: `Add possibility to send logs and attachments straight to the launch`
it's planned, and we consider to add possibility to log data directly to the launch root object, including files and any other binary data.

can't predict ETA for now, since we still doing migration to postgreSQL within version 5

[2018-07-17 15:50] DzmitryHumianiuk commented on #24
@michalfar not sure, is the any update required for docker-compose in this case.

Did you already tried it?

[2018-07-17 15:59] DzmitryHumianiuk commented on #296
reference as duplicate of #363

[2018-07-17 16:02] DzmitryHumianiuk commented on #363
#296

[2018-07-17 16:18] nvborisenko commented on #358
The initial issue is specific to specflow plugin, we don't see any console output from the agent. Tracking this issue as a separate https://github.com/reportportal/agent-net-specflow/issues/27.

[2018-07-17 16:19] #358 closed

[2018-07-17 17:23] SrinivasanTarget commented on #444
@DzmitryHumianiuk Thanks for details. Can you also let me know if there are any sample code in java testNG where we can send log data directly to **launch** will help me a-lot? Would be good to know how to tag as well.

[2018-07-17 17:40] DzmitryHumianiuk commented on #444
@SrinivasanTarget

do you mean to send into description, like mentioned here? https://github.com/reportportal/reportportal/issues/444#issuecomment-405610781

[2018-07-17 17:42] DzmitryHumianiuk commented on #444
if yes - then just send it as launch params on start
`rp.description = Enviroment xxx`

[2018-07-17 17:54] SrinivasanTarget commented on #444
@DzmitryHumianiuk thanks that helps. Is there a way we can tag a launch programmatically, coz same test suite can be used as regression, smoke, bla bla bla? Sorry for raising lot of questions on same thread.

[2018-07-17 18:50] DzmitryHumianiuk commented on #444
@SrinivasanTarget
`rp.tags = TAG1;TAG2`

file example
https://github.com/reportportal/example-java-TestNG/blob/master/logback/src/main/resources/reportportal.properties

it can be added into properties file, for launch.
or bypassed via commend line as `-Drp.tags=blablabla`

[2018-07-18 07:47] ulmanA commented on #273
@DzmitryHumianiuk Still the same behavior in TestNG 6.14.3

[2018-07-18 08:46] DzmitryHumianiuk commented on #273
@ulmanA could you plz share details on your suites structure at https://github.com/cbeust/testng/issues/1656#issuecomment-356477013

it's testNG related issue, and we can't fix it, until testNG will provide a fix

[2018-07-18 12:56] jan-zmeskal opened #445 "[Feature request] Map new test name to an old one"
Imagine this scenario:
* You have a test case that is called `test_login` that you are running regulary. After a while, this test case has nice history of execution in RP.
* During the execution of this test case, you always log in as user `admin` let's say
* After a while, you realize that use should also testing logging as user `regular`, so you parametrize you test case
* Now you actually have

[2018-07-18 13:04] evjlobanova commented on #445
@jan-zmeskal Is it important for you to add information about `admin` to the test name? Is it possible for you to add this info as description to test case for example? Or give a tag `admin` / `user`?

[2018-07-18 13:57] jan-zmeskal commented on #445
@evjlobanova This is just the way how [pytest](https://docs.pytest.org/en/latest/) works and is supposed to be used. I actually provided somewhat stupid example for easier understanding. Our real-life situation is more complicated and unfortunately the change in tests' parametrization cannot be avoided.

[2018-07-19 09:50] DzmitryHumianiuk commented on #340
@ludeknovy did it help you?

[2018-07-19 10:18] avarabyeu commented on #428
@CaBocuk we've pushed several adjustments for apache http client. Could you please check whether it helps with 4.2.1-BETA version? It's released and available in public

[2018-07-19 10:33] ludeknovy commented on #340
@DzmitryHumianiuk unfortunatelly not :/. I do upload my results using import api endpoint

[2018-07-19 13:42] DzmitryHumianiuk commented on #340
@ludeknovy integration did not work properly for you?

[2018-07-23 08:42] avarabyeu commented on #428
which is really better :)
Could you please try to increase connection timeout settings. Let us know if you need some assistance with that, it can be implemented via custom listener

[2018-07-23 10:45] Tevek opened #446 "Auto - Analysis can't work when screenshot is added to the log"
I enhanched my reportPortal glue code with a screenshot upload capability, but after that the AA is not working anymore...
Probably i changed the sendLog function with sendLogWithFile in the JS code and I assume that image ruins the log, and the AA can't parse the errors with the latest runs.

Vers.
image: 'mongo:3.4'
image: 'consul:1.0.6'
image: 'reportportal/service-authorization:4.1.0'
image: '

[2018-07-23 12:40] doctordrue opened #447 "'Launch inactivity timeout' setting doesn't work"
'Launch inactivity timeout' setting doesn't work
## Steps to reproduce
Has been found on our private Rp instance, can be reproduced on https://rp.epam.com
### Preconditions
1. Login to RP (e.g. https://rp.epam.com) and go to your personal project settings
1. Set up 'Launch inactivity timeout' to **1 hour**:
![default](https://user-images.githubusercontent.com/16087661/43076699-b2ef9008-8e8d-11e8-9

[2018-07-23 15:47] dagansandler opened #448 "Highlight rows with failures/skips"
I'd like the option to have rows (of launches, of tests, etc) slightly highlighted so it's easier to see right away which rows contain failures or skips, without searching for the number columns

[2018-07-24 09:57] CaBocuk commented on #428
@avarabyeu I've configured
[code]

But exceptions remained the same. Could you recommend exact values that I should try?

[2018-07-24 18:30] amalsgit commented on #275
Is there any update on this feature? This would be a really useful feature to have for us since we write our tests in BDD form with robot framework.

[2018-07-26 10:47] tareqalayan opened #449 "[Feature request] a way to share dashboard publicly"
It will be nice to have the ability to share graphs to people which are not report portal users.
And they can vies the graphs and dashboard as readonly users.
Currently we do screenshots and paste these screenshots on a different document or email to share the results with other non-reportportal users.

or maybe a way to export the dashboard to a pdf or something

[2018-07-30 06:57] evjlobanova commented on #275
Hi, @amalsgit ! We are planning to implement this feature after  version 5.0. Now we are in the middle of the moving to PostgreSQL and React

[2018-07-30 09:30] evjlobanova commented on #448
@dagansandler on which view level do you want to have such highleght (All laucnhes, Suite/ Test. Step views)?

[2018-07-30 10:40] evjlobanova commented on #446
@Tevek  Screenshots don`t influence on the working process of aa. Could you please give me more details. First, please check how many items are in the Index;

Uncommented Service ElasticSearch ports in docker-compose file or add them: 9200:9200;
Restart Service ElasticSearch with new docker-compose;
Send a request to ElasticSeaarch:
how many documents in the Index: GET http://localhost:9200/_cat/i

[2018-07-30 10:55] evjlobanova commented on #449
@tareqalayan as a quick decision: now you can use feature Print CSS:
- choose print in a browser;
- save page in PDF.
It is a possible decision for exporting the dashboard to PDF.

[2018-07-30 16:18] dagansandler commented on #448
Can I say all of the above? :)

I think this may be useful in all levels. So when viewing the "All launches" view I'll have launches with failures/skips highlighted. When diving into a launch and viewing its suites/tests I'll see the same highlights for rows which have fails/skips. This is similar to the way that ERROR log messages pop up when viewing a test method.

The highlight tones can be ver

[2018-07-31 06:26] ulmanA commented on #273
Done.

[2018-07-31 09:25] DzmitryHumianiuk commented on #273
@ulmanA your are awesome, thank you!

[2018-07-31 09:59] vivektamrakar91221 opened #450 "Should have option to show launch name instead of launch number"
Hi ReportPortal Team,

I have a question over here. Is it possible to display launch name instead of launch number in 'Launch statistics chart' widget.
I am aware that we can see the launch name on tool tip of the graph but it would be great if we can customise this option for user where he can select whether he wants to see the launch name or launch number.

[2018-07-31 10:44] evjlobanova commented on #450
@Iren-Melnyk Iryna, could you please look at this request? The case is that our users print the dashboard with  widgets, and in printed report managers can`t see launch name

[2018-07-31 11:00] evjlobanova commented on #448
@dagansandler may be you can send me a screenshot with your vision?

[2018-07-31 11:09] Tevek commented on #446
Yea, so
It's working as expected, the reason of this issue was the logging level
I was silly when I introduced the sendLogWithFile function and it's modified the logging level to 'info'
So the solution for me is: Change the log level back  to 'Error' at least
Thank You, evjlobanova!

[2018-07-31 11:09] #446 closed

[2018-07-31 11:54] DzmitryHumianiuk commented on #220
@SKharlanov @thasherwin is it possible to create a simple codebase, which can reproduce this issue?
we can't reproduce it still, and this is stopper for us.

[2018-07-31 14:24] DzmitryHumianiuk commented on #445
@jan-zmeskal closing issue for now.
plz reopen or open new, in case if it didn't help

[2018-07-31 14:24] #445 closed

[2018-07-31 14:59] evjlobanova commented on #449
@tareqalayan we have the same request here #2, so I close your issue as a duplicate. This feature in our backlog and we have intention to implement it. But first of all we should to define the way of realization.

[2018-07-31 14:59] #449 closed

[2018-07-31 16:28] DzmitryHumianiuk commented on #440
https://github.com/reportportal/reportportal/issues/440

[2018-07-31 20:01] DzmitryHumianiuk commented on #450
@vivektamrakar91221 we still avoid it, since launch names can be very long, and this can be an issue to represent all on the widget.

we plan to change representation one day, but make it as complex change for widgets

[2018-07-31 20:03] DzmitryHumianiuk commented on #450
@vivektamrakar91221 in case if your widgets represent launch with the same name only, you can add launch name into widget name.

Does it work for you?

[2018-08-01 10:44] dagansandler commented on #448
Hi,
Currently this is how a test method row appears when it's FAILED
![image](https://user-images.githubusercontent.com/1357456/43515652-b9c4a56c-958b-11e8-894a-936f3253dcf1.png)

However when viewing the launches themselves, or a Suite/Test level, all rows are white even if they contain failures:
![image](https://user-images.githubusercontent.com/1357456/43515730-f9989d56-958b-11e8-949c-4a2e099df

[2018-08-01 11:05] jan-zmeskal commented on #445
Hello @DzmitryHumianiuk. Thank you very much for such an exhaustive and in-depth explanation! I'll definitely look into it - I was not aware of existence of `uniqueID` and of the way it is composed.

Have a nice day!

[2018-08-01 12:01] avishaymahluf opened #451 "Allow to finish launch with provided status (passed|failed) aka "Skipped test items are marking launch status as failed""
Hi,

When I'm pushing a test item with skipped status to an existing launch without any failure, the status of the launch is failed:
![screenshot from 2018-08-01 09-52-23](https://user-images.githubusercontent.com/20201128/43520307-1f6816ba-959b-11e8-822b-824fb2ebb93c.png)

I've also tried to add `issue: {'issue_type': 'NOT_ISSUE'}` to the skipped items but it didn't help (in order to remove the "

[2018-08-01 13:38] evjlobanova commented on #451
@avishaymahluf which agent do you use?

[2018-08-01 13:57] #375 closed

[2018-08-01 13:58] #440 closed

[2018-08-01 15:58] avishaymahluf commented on #451
@evjlobanova I'm using the python client directly without an agent:
https://github.com/reportportal/client-Python

We're parsing the test results in our own code and just using the service to push the results.

[2018-08-01 16:13] evjlobanova commented on #451
@avishaymahluf unfortunately we do not have any python specialist in our team. But I can recommend your to address this issue to our community in python slack channel https://reportportal.slack.com/messages/C9PMAA690 . May be they can help you.

[2018-08-02 14:06] evjlobanova commented on #272
@shaburov is option with latest launches is suitable for you?

[2018-08-03 19:51] DzmitryHumianiuk commented on #413
@Lunar12 does it work?

[2018-08-05 05:16] varadha2k commented on #396
do we have an update on this issue? I am also looking for similar capability in reportportal.

[2018-08-05 08:42] DzmitryHumianiuk commented on #396
@varadha2k we consider to make it.
ETA ~~~Nov-Dec 2018

[2018-08-06 08:02] Iren-Melnyk commented on #448
Hello @dagansandler.
I'm a UX designer of ReportPortal. In all design decisions I refer to common logic first.
The test is a unique item and it can have unique status while one launch and one suite are cumulative items and they can combine different statuses. That's why only the test status is highlighted.

[2018-08-06 08:24] DzmitryHumianiuk commented on #284
@talgreen1 will be done within **Management Board** update.
I also missing this functionality.

Agree with you, it's better to make it in CSV

[2018-08-06 08:33] DzmitryHumianiuk commented on #360
@tarek-vader @braindonor did you find solution?
Does it work for you?

[2018-08-06 08:34] Iren-Melnyk commented on #450
Hello @vivektamrakar91221
Could you please show some examples of the longest launch names?
And please clarify where do you want to see them. Do you want to see it in the app or print report?

[2018-08-06 08:35] DzmitryHumianiuk commented on #252
close with respect to #360

[2018-08-06 08:35] #252 closed

[2018-08-06 08:41] DzmitryHumianiuk commented on #193
@olkasianchuk we plan to introduce level of Organization, which will be a container for projects.
For organization, will be provided summary views from projects

[2018-08-06 08:42] dagansandler commented on #448
Hi,
I understand what you're saying, and it makes sense indeed.

Still, coming from a user's perspective that wishes to look for failures and analyze them, it would be really helpful to have the "interesting" launches/suites/tests pop out instead of having to look for the "to investigate" or the number of failed cases. (Obviously you can use filters, etc. to only see the failed launches but that r

[2018-08-06 08:47] DzmitryHumianiuk commented on #226
@dagansandler good clarification. Thank you.

the only problem we see, that testing engines do not provide information, which before- or -after method belongs to current @test.

the only way we can make it, when we use start and finish time, to identify the sequence of execution.
But multi-threading ruins this approach.

[2018-08-06 08:53] DzmitryHumianiuk commented on #416
We will provide both numbers.
Regular launch duration will stay the same. `finish - start`
And additional field will provide info as `Sum(test_durations)`

[2018-08-06 08:57] DzmitryHumianiuk commented on #430
`RP_MONGO_URI=mongodb://localhost:27017`
is it valid address for installed mongo?

i guess you also need the password for mongo, set the same like we have to default deploy.
@avarabyeu can share it.

[2018-08-06 11:10] Iren-Melnyk commented on #448
@dagansandler. thanks for the example. it's a good case to make logic consistent. we'll think about it.

[2018-08-06 11:11] dagansandler commented on #226
Hmm, yes, that's a good point. I'm not sure how such feature would/should behave in parallel test executions.

An idea that pops to my mind as a possible alternative (but is probably out of scope for this feature request) is some sort of timeline view for the launch, where I can also see which tests/configuration methods ran in parallel to mine,

[2018-08-06 14:53] evjlobanova commented on #256
@shaburov on a widget you have possibility to be redirected on a log view where you can find all info about test.  Description can be pretty big and can take a lot of  space on widget. Could you describe your ideal flow a interaction with this widget?

[2018-08-06 15:05] DzmitryHumianiuk commented on #226
@dagansandler some sort of this?

![image](https://user-images.githubusercontent.com/11332788/43724717-597fbffe-99a3-11e8-8498-a9dc67662ba7.png)

[2018-08-06 16:46] dagansandler commented on #226
Sort of, yeah!
I had more of a git branches type of timeline in my head, but this visualization might have richer information.
Is this from a feature already in the works?

[2018-08-06 17:00] DzmitryHumianiuk commented on #226
not yet. but we grooming backlog to adjust priorities

[2018-08-07 13:46] evjlobanova opened #452 "Added possibility to share with a quick filter on All launches by link"
Possibility to share with quick filter on All launches
* Add quick filter on All launches
* Share with it
* Copy and send link to team members
* Quick filter is added to team members All launches

[2018-08-07 13:46] #452 closed

[2018-08-08 08:42] leistnerova opened #453 "Add launch description to detailed view"
Launch description is visible in all launches view

![screenshot from 2018-08-08 10-28-38](https://user-images.githubusercontent.com/29575480/43826257-33984310-9af7-11e8-891c-1a847349096c.png)

but when I go to detailed view, it is missing. Add it please also there, e.g. like this

![screenshot from 2018-08-08 10-28-50](https://user-images.githubusercontent.com/29575480/43826317-5824769a-9af7-11e8

[2018-08-08 09:10] evjlobanova commented on #453
@leistnerova Could you please explain the main goal of this improvement?  What it is your main business need?

[2018-08-08 09:25] leistnerova commented on #453
We have link to our testing machine with all different logs and settings in the description. And when I get link to specific launch detail to investigate, I need to go to this link to get more informations.
So is for us more comfortable to see it there and not to find the specific launch in all launches to get the link.

[2018-08-08 10:25] nvborisenko commented on #453
The same for me, when I open details page for entity, I want to see details, all related info about entity.

[2018-08-08 11:25] evjlobanova commented on #453
@Iren-Melnyk Take a look please on this case

[2018-08-08 11:26] DzmitryHumianiuk commented on #453
@nvborisenko @leistnerova when you will drilldown, into suite level.
you still expect to see launch details? you see suite details at this level?

[2018-08-08 11:35] leistnerova commented on #453
@nvborisenko According to our needs, It is sufficient to have the launch description in the level directly below the launch. From every other nested level (e.g. specific test case) we can always go directly to the launch from the breadcrumb.

[2018-08-08 14:59] DzmitryHumianiuk commented on #453
@nvborisenko what do you think?

[2018-08-08 16:56] nvborisenko commented on #453
Right, when I am on launch details page, it's enough to see details only for launch. When I am on suite details page - launch description is unnecessary.

[2018-08-08 21:05] DzmitryHumianiuk commented on #453
@leistnerova @nvborisenko
So when you inside suite - you what to see suite details?
Inside this view

[2018-08-09 13:08] dagansandler opened #454 "Centralized Jira (or any BTS) Integration management"
As an administrator of a ReportPortal server instance, I'd like the ability to define a global JIRA integration with the same user credentials that can be reused in individual projects to connect to the same JIRA instance.

Detailed possible flow:
* Login to RP as an admin
* Go to administration console
* In Server Settings, go to a "BTS Integration" tab <-- New option
* Enable JIRA integration
*

[2018-08-09 15:03] evjlobanova commented on #454
@dagansandler we think of refactoring integration from scratch, and fully avoid credentials.
by replacement with access token or any other OAuth2.0. But we will start with BTS integrations only after 5.0 release. which has flexible ETA in Early winter 2018

[2018-08-09 15:15] #442 closed

[2018-08-09 15:15] #436 closed

[2018-08-09 19:10] nkthota opened #455 "AA not working"
AA feature is not working with log level as an error. are there any steps to debug the issue? starting the analyze manually just blinks without any progress or updates.

[2018-08-10 07:28] evjlobanova commented on #455
@nkthota could you please send me screenshot with your AA configurations?

[2018-08-10 10:38] DzmitryHumianiuk commented on #453
and make it collapsable :)

[2018-08-10 13:07] nkthota commented on #455
![image](https://user-images.githubusercontent.com/11020602/43959413-60c0cb22-9c74-11e8-9f91-5a19140211d5.png)

[2018-08-10 13:20] evjlobanova commented on #455
@nkthota you can update your existing version to the latest. in the latest version we have separate tab with AA configurations. In case you update version, I can try to help you to choose corrrect ElasticSearch configurations for analyzer

[2018-08-10 13:45] nkthota commented on #455
I think I'm missing the AA configuration. I don't see a separate tab for AA am I missing something here?
 Current version: API Service: 4.1.0; Index Service: 4.0.0; Jira Service: 4.1.0; Rally Service: 4.0.0; Authorization Service: 4.1.0; Service UI: 4.1.0;

[2018-08-10 13:52] evjlobanova commented on #455
@nkthota As I said earlier, you need to update you current version to the latest one

[2018-08-10 14:35] nkthota commented on #455
i have updated to 4.2

![image](https://user-images.githubusercontent.com/11020602/43963694-a210bab8-9c80-11e8-8968-033a93e53aa5.png)

[2018-08-10 14:38] evjlobanova commented on #455
@nkthota Please set the following configurations, and run AA once again.
![image](https://user-images.githubusercontent.com/30413511/43963810-0b4d17f4-9cc4-11e8-94f2-b723832dba7e.png)

Please give me know the results of your attempt

[2018-08-10 14:54] nkthota commented on #455
i dont see it working. i triggered the analysis manually but dont see any results.

![image](https://user-images.githubusercontent.com/11020602/43964848-54fc1f30-9c83-11e8-822d-ca019fc2c5f5.png)

[2018-08-10 14:55] evjlobanova commented on #455
@nkthota could we set up a call via skype?

[2018-08-10 15:03] nkthota commented on #455
sure we can do that. my skype id naveen38096
![image](https://user-images.githubusercontent.com/11020602/43965353-9f906dca-9c84-11e8-8887-0507f382339a.png)

[2018-08-10 15:06] evjlobanova commented on #455
@nkthota please check Consule localhost:8500, and send us a screenshot

[2018-08-10 15:09] nkthota commented on #455
![image](https://user-images.githubusercontent.com/11020602/43965645-6aa7c328-9c85-11e8-99ff-6d85140dce89.png)

[2018-08-10 15:13] evjlobanova commented on #455
@nkthota
ok, thank you.
You should clean a consul cash.
Then perform actions which are described on http://reportportal.io/download on the second step.
![image](https://user-images.githubusercontent.com/30413511/43965883-17da4f00-9cc9-11e8-9c6b-313d0aabfa06.png)

Than re-start docker-compose.

[2018-08-10 15:41] nkthota commented on #455
still no luck.

![image](https://user-images.githubusercontent.com/11020602/43967425-f87ffcfc-9c89-11e8-9cd4-f1b06985de76.png)

[2018-08-10 17:47] nkthota commented on #455
i'm able to get it working now. thanks for the prompt support.

[2018-08-10 17:47] #455 closed

[2018-08-12 07:58] evjlobanova commented on #455
@nkthota try to use AA with configurations that I have send. And also could you please share with me with your experience? I am aggregating info about accuracy of AA and users` satisfaction of AA results.

[2018-08-12 13:09] avishaymahluf opened #456 "Feature request: Manually trigger email report after analysis"
It could be nice if we could trigger email reports after analysis.
RIght now emails are being triggered only when launch finishes.
If a user manually analyzes the data, there is no option to re-send an updated report with the updated launch defects.

[2018-08-14 10:14] pkubica opened #457 "Password has limited length up to 25 symbols"
Password length shouldn't be limited or the limit should be higher. LastPass and other utilities for storing password could work with longer password (up to 100 symbols).

Second reason if somebody is using ldap (and kerberos) authentication across multiple sites, tools (using one password) and he has password with length 30 symbols, he isn't able to login into reportportal until he change his pas

[2018-08-14 13:23] ludeknovy opened #458 "GET /{projectName}/launch/latest returns 500"
Send request:
[code]

Api returns 500 status code with following error:
[code]

Adding `page.sort=desc` to param does not help and still returns the same error.

[2018-08-15 11:16] dagansandler opened #459 "POST /{projectName}/launch returns 201 for non-existing project"
When using the API and supplying a wrong project name, the response returns with a status code 201 (created) and a response body with `number` and `id` fields as if they were actually created.

Steps to reproduce:
1. Send an HTTP request to create a new launch under a **non-existing** project, using any method (Tested through `curl` and through server's swagger API page

Expected Result:
1. A resp

[2018-08-15 12:35] evjlobanova commented on #457
@pkubica Yes, it is logical point. Could you please explain how you define the max limit for the password (100 symbols)?

[2018-08-15 13:13] e-olga commented on #458
hi @ludeknovy
We will add the issue to our backlog.
To get the correct results, please send "page.sort"="start_time,desc" along with project name.
Regards,
Olga

[2018-08-15 21:05] Rider1982 opened #460 "Different "items per page" setting for launches and filtered results"
Now there is the same "items per page" value for both launch results and launch items. It is not so comfortable. Often I need a lot of filtered results for a bulk operation and I use 300 items per page to avoid pagination. And this works fine and quickly. But the launch list is too slow to show 300 launches: it takes significantly long time to display and cannot be scrolled smoothly and quickly. I

[2018-08-16 14:47] evjlobanova commented on #460
Hello, @Rider1982 ! I am discussing with a team these possibilities.  Could you please tell me what max limit is preferable for you?

[2018-08-16 15:08] evjlobanova opened #461 "Possibility to Export/Import all project data to the XML or JSON file"
As a User I can export/import project data to ReportPortal.
So that I can move projects between different  different instances.

**Scenario:**
Export project data from my project;
Save as JSON or XML file;
Import this data to the RP on the another instance.

[2018-08-16 15:10] evjlobanova commented on #459
@dagansandler we have checked this issue, this issue is reproducing only for admins. We will fix it. Thank you for post this.

[2018-08-19 04:47] talgreen1 commented on #432
Hi,
One option is to add them as another parameter of the REST API

[2018-08-19 07:02] aganeev commented on #432
Hi @avarabyeu ,
It is possible to use multipart/form-data as the Content Type of the request with individual parts in the multipart with Content Type of application/json and application/xml.

[2018-08-20 01:11] adityakap commented on #244
Has there been any change on this since Oct 2017?

[2018-08-21 08:15] Iren-Melnyk commented on #256
@shaburov
This widget is the representation of unique bugs. We are going to make some improvements to it and add summery to the bug. Therefore you will see the reason for the bug in its summery. For more detailed information you can drill down to every test in this bug.

[2018-08-21 08:43] DzmitryHumianiuk commented on #256
I agree with Iryna, details should be in underlying level.

Description for some cases can be really big one, and use all available space on the screen

[2018-08-21 08:51] pkubica commented on #457
@evjlobanova I do some research about password length and I found a methodology [1] published by OWASP. They limit the password length to 128 characters.

[1] https://www.owasp.org/index.php/Authentication_Cheat_Sheet#Password_Length

[2018-08-21 14:47] rhrazdil opened #462 "Defect types report incorrect number of test cases"
Hello guys,

we encountered an odd issue. Report Portal's calculation of defect types started to report incorrect numbers. In the following screenshot you can see that Defect type SI indicator says it contains 2 test cases, but it actually contains 3. At the same time, TI (To Investigate) indicator says it contains 1 test case, but it is actually empty.

![rp_dt_miscalc](https://user-images.github

[2018-08-21 14:57] lifemanship opened #463 "RP is not able to show old launches"
Current version: API Service: 4.2.1; Index Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.2.2;

We setup RP options in the next manner:
![image](https://user-images.githubusercontent.com/6093708/44407906-ea8b1c80-a567-11e8-9b82-ccabf356717a.png)

But RP shows launches only for the last ~4 month.
For example:
- RP page 684 at the time of 4 days ago:
![image](https://user-images.githubu

[2018-08-22 09:30] avishaymahluf commented on #451
@Tygerian I agree, this is not related to python agent. This can be easily reproduced via API.

I talked about this issue also in reportportal slack and got a response from @DzmitryHumianiuk saying that they will allow updating the status to pass in version 5.0:
https://reportportal.slack.com/archives/C2GTJTTNH/p1533156367000053

[2018-08-22 09:36] e-olga commented on #463
hi @lifemanship
There is a restriction on Mongo side.
"Unclassified error [Query failed with error code 96 and error message 'errmsg: "Sort operation used more than the maximum 33554432 bytes of RAM. Add an index, or specify a smaller limit."' on server http://host:27017; nested exception is com.mongodb.MongoQueryException: Query failed with error code 96 and error message 'errmsg: "Sort operation

[2018-08-22 10:03] avishaymahluf commented on #432
Isn't it possible to add the same parameters we have in startLaunchRQ when using the start a new launch API request?
That way, for example, we will be able to add description and tags to our launch during import without the need of using another API request for updating it and it will also trigger our tags based email notifications.

Maybe something similar to this API request:

 --request POST \\

[2018-08-22 10:37] DzmitryHumianiuk commented on #451
@avishaymahluf @Tygerian right.
we consider to add possibility to finish launch with any desired status.
and follow simple flow: if status provided, then set status. If not - use our strategy to identify it.

will be available with 5.0

for ongoing implementation, we will consider also to add additional statuses as WIP (work in progress) and Empty state (equal to _not implemented_ )

[2018-08-22 11:34] DarthRumata commented on #360
I fix it for me by deleting Rally container from docker-compose and rebuild.

[2018-08-22 11:55] braindonor commented on #360
Yes, setting reportportal to ssl enabled me to successfully connect to Jira (configured with ssl).

[2018-08-22 12:00] DzmitryHumianiuk commented on #463
@lifemanship could you plz explain you goal, to see more then 34'000 launches back?

Does it have an meaningful reason? or just testing?

if testing, I propose to close issue.
because we migrating on PostgreSQL, and this will be irrelevant pretty soon

[2018-08-22 12:13] DarthRumata commented on #360
@braindonor How can I understand that JIRA is configured with ssl. And how do you set reportportal to ssl?

[2018-08-22 12:27] DarthRumata commented on #360
@braindonor I added cert to cacerts store as you mentioned in #405 but it still returns me error:
 <meta name="application-name" content="JIRA" data-name="jira" data-version="1001.0.0-SNAPSHOT">
</head>
<body id="jira" class="aui-layout aui-style-default page-type-message"  data-version="1001.0.0-SNAPSHOT" >
    <div class="aui-page-panel"><div class="aui-page-panel-inner">
            <section cl

[2018-08-22 21:00] greenleaves1 opened #464 "Unable to integrade the reprotal portal with spock"
Exception in thread "org.spockframework.runtime.RunContext.stop()" com.epam.reportportal.exception.ReportPortalClientException: Report Portal returned error
Status code: 404
Status message: Not Found
Error Message: Launch 'null' not found. Did you use correct Launch ID?
Error Type: LAUNCH_NOT_FOUND

[2018-08-22 21:01] greenleaves1 commented on #464
which testing framework you gays actively maintain, right now I am thinking to use spock but open to junit 5

[2018-08-23 09:28] DzmitryHumianiuk commented on #360
@DarthRumata just see at Jira address. If it starts with `https` - then it's under SSL

[2018-08-23 09:31] DzmitryHumianiuk commented on #405
@evjlobanova it should be documented

[2018-08-23 21:39] DzmitryHumianiuk commented on #462
Hi @rhrazdil
it is a know issue. Appear due to concurrent access to data in database.
MongoDB doesn't support transactions in version 3.x
It will be available only with v4, which is in beta.

This is one of the reasons, in the list, why we decided to refactor ReportPortal and migrate to PostreSQL DB. Which will mitigate this issue on the core level.
But in order to be sure, we will introduce re-ca

[2018-08-23 21:40] DzmitryHumianiuk commented on #462
@ringods could you please advice on

[2018-08-23 21:41] DzmitryHumianiuk commented on #462
@evjlobanova plz link this issue with duplicate, for incorrect statistics of Defects

[2018-08-23 21:55] DzmitryHumianiuk commented on #460
@Iren-Melnyk what do you think about different items-per-page for launches and test cases view?

[2018-08-23 21:57] DzmitryHumianiuk commented on #459
@pbortnik 4.3.1?

[2018-08-23 22:02] DzmitryHumianiuk commented on #454
plan is to introduce level of organization, which will be container for projects.
Projects will inherit config for particular integration from organizational level

[2018-08-23 22:03] Rider1982 commented on #460
Hello @evjlobanova! Now I have about 800 tests and I want to have, for example, 1000 items on a page. Later I may want to see 2000, 10000 etc items. So any pre-defined limit may be insufficient for a project. So if you cannot abandon the limit at all, let's keep it as is.

[2018-08-23 22:04] DzmitryHumianiuk commented on #453
@evjlobanova put it into 5.0 ui

[2018-08-24 08:16] e-olga commented on #150
Hi @jurteg
The issue is fixed.
Could you please check on your side?

Regards,
Olga

[2018-08-24 20:05] ludeknovy opened #465 "GET /{projectName}/item returns results from another projects"
Send request:
[code]
api returns results not bound to specified `projectName`.

Expected behaviour:
Because `projectName` is required param I do expect results to be strictly bound to given project.

[2018-08-26 15:03] shaburov commented on #256
@evjlobanova @DzmitryHumianiuk I do not agree with you.
The description should always be output since managers or testers do not always go into each case for details. To solve the problem, you can always shorten the description [...] and click on [...] to display the full description.
For example, how it is done in gmail
![image](https://user-images.githubusercontent.com/15269131/44629563-e9882f80

[2018-08-26 16:05] shaburov commented on #272
@evjlobanova Yes. It would be great.

[2018-08-27 11:40] DzmitryHumianiuk commented on #256
@Iren-Melnyk ^

[2018-08-27 11:53] e-olga commented on #465
@ludeknovy
The issue is fixed and will be available in v.4.3.

Regards,
Olga

[2018-08-27 13:34] #465 closed

[2018-08-28 14:01] DarthRumata commented on #360
Resolved by using JIRA API Token as password.
https://confluence.atlassian.com/cloud/api-tokens-938839638.html

[2018-08-28 14:08] DzmitryHumianiuk commented on #360
@DarthRumata Ahahah! awesome!

@evjlobanova plz save it for FAQ page.
SSL instance of JIRA (even cloud version) can be accessed by JIRA API token, used instead of password

[2018-08-29 13:35] slavamarkovski commented on #332
Hello.

Voting for this feature.
We are gathering some additional info about launch (repo branch, application server, application build ID etc.) and will be very handy to have them displayed as separate column on launch page.

Currently we are using tags for this but this is just a workaround.

Thanks.

[2018-08-29 15:16] nikitalohich opened #468 "RP doesn't show results in case of TestNG retry option"
Hi,
our team use tests rerun/retry TestNG option in case of it's failure (org.testng.IRetryAnalyzer).
The issue is that if any pre/post-condition method fails (e.g. `@BeforeMethod`, `@AfterTest`, etc), Report Portal does not display tests that are going afterwards. It display only precondition methods (see screenshot).

![rp](https://user-images.githubusercontent.com/23118745/44796531-ceb1f700-abb

[2018-08-29 15:18] DzmitryHumianiuk commented on #335
fixed?

[2018-08-29 15:23] nvborisenko commented on #335
Fixed in v3.3.5

[2018-08-29 15:23] #335 closed

[2018-08-29 18:08] dgur opened #469 "[Feature Request] Abbility to add Comments on analsys notes as in google docs"
It would be really useful to be able to tag someone or ask question regarding specific tests analysis same as we can comment on any Google doc and even tag the user that will get an Email notification on that comment.
Often we can question the correctness of analysis of some failure, but instead questioning it in RP we need to open some other tool  such as chat or mail and ask there, send a link

[2018-08-29 20:46] con-hluong opened #470 "Cannot create container for service elasticsearch: invalid option: Windows does not support Ulimits"
C:\Users\hluong\Downloads\HelloDocker>docker-compose -p reportportal up -d --force-recreate
Recreating reportportal_rally_1 ...
Recreating reportportal_gateway_1 ...
Creating reportportal_elasticsearch_1 ... errorRecreating reportportal_jira_1        ...
Creating reportportal_mongodb_1       ...
Creating reportportal_registry_1      ...
Recreating reportportal_ui_1          ...

Creating reportpor

[2018-08-31 11:13] DzmitryHumianiuk commented on #2
cc @tareqalayan

[2018-08-31 12:47] nebehr commented on #453
@Iren-Melnyk you already have "Item Details" section on the Test level, why can't it be generalized for other levels? I imagine people would want to see description/tags they added not just for the current launch but for current _anything_, wouldn't they?

[2018-08-31 17:14] DzmitryHumianiuk commented on #470
We never recommend to install it on windows.

but try to comment related lines in `docker-compose.yml`,
as follows here in lines `122-128`
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L122

[2018-08-31 17:17] DzmitryHumianiuk commented on #470
code commit
https://github.com/reportportal/reportportal/commit/7941db82267fc98bcd72b66fa11e57c77089a1f5

[2018-08-31 17:29] DzmitryHumianiuk commented on #468
@nikitalohich did you try this example?
https://github.com/reportportal/example-java-TestNG/blob/master/logback/src/main/java/com/epam/rp/tests/extension/RetryTest.java

[2018-08-31 17:33] DzmitryHumianiuk commented on #463
@lifemanship up

[2018-09-03 12:02] nikitalohich commented on #468
@DzmitryHumianiuk it works well for sure, but example you have provide does not connected with the actual problem.
The issue is emerge only if TestNG pre/post-condition methods is invoked.

[2018-09-03 13:33] DzmitryHumianiuk commented on #468
@nikitalohich then you need help of @avarabyeu

[2018-09-03 13:55] dgur opened #471 "[Feature Request] Save inner filters - filters you create for tests inside a launch"
The saved filters  and dashboard reports in RP are  for launches.
We have different tests groups in the same launch
RP is actually missing a feature to Save inner filters - filters you create inside a launch.
Each time i need to recreate a filter to see some of the test cases.
Saving those filter can also enable creation reports according to those inner filters.

[2018-09-03 14:19] evjlobanova commented on #471
@dgur hello, such queries are too hard for MongoDB, that is why now we are moving on PostgreSQL, after versions 5.0 this feature will be presented.

[2018-09-06 08:36] roniezr opened #472 "Compare test results"
It would be nice if a user can choose two different history results and compare them
Meaning the user will choose at least two history results, click Compare and a new window will open
showing the two results side by side.
The difference should be highlighted.

[2018-09-06 09:36] DzmitryHumianiuk commented on #472
@roniezr if you have good example of what should be shown, plz share it with us

[2018-09-06 13:30] SatsunkevichAlex opened #473 "Error while log in."
Hi! Me and my team want to set up report portal to out test automation framework. But we have problem with integration. Now we have problem with log in to report portal =( .

![untitled](https://user-images.githubusercontent.com/36947462/45160417-13f7a980-b1f2-11e8-9470-38b0cbb1901c.jpeg)

![untitled](https://user-images.githubusercontent.com/36947462/45160841-19a1bf00-b1f3-11e8-93d5-7361fc0cc909.

[2018-09-06 16:37] #473 closed

[2018-09-06 16:45] SatsunkevichAlex commented on #473
Fixed by "Switch to Windows containers...". And reDeploy ReportPortal.
![image](https://user-images.githubusercontent.com/36947462/45172239-7611d800-b20d-11e8-931a-7b8080b80315.png)

[2018-09-11 06:19] CosminGramada opened #475 "'An error occurred while connecting to server' when trying to login"
Hello.

OS: Windows 10 x64 with latest updates installed: Version 1803 (OS Build 17134.228)
Docker: version 18.06.1-ce, build e68fc7a

I followed the exact same steps from here (no changes were made in the docker-compose.yml file) and when I'm trying to login I'm getting the following error:
`'An error occurred while connecting to server'`

I noticed afterwards there's a newer version for the serv

[2018-09-11 06:32] CosminGramada commented on #475
@evjlobanova
Ok, I'll give it a try.
However, please note that the documentation on the [Install docker](http://reportportal.io/docs/Install-docker) page specifies that the docker should have at least 3GB of RAM and I allocated 4GB for it.

I bumped up the RAM for Docker to 6GB and I'll update with the latest findings.

Thanks for the prompt reply.

[2018-09-11 06:43] evjlobanova commented on #475
@CosminGramada thank you for your notes. Please let me know about your result

[2018-09-11 17:50] bolatbekb opened #476 "[import] During import of JUNIT.xml "skipped "status is not automatically assigned."
These test results with "skipped" are assigned to "to investigate" status.

[2018-09-11 18:05] bolatbekb opened #477 "[import] The execution time of the tests is not calculated correctly during import."
When you import a junit file, the execution time of each test is simply summed.

[2018-09-12 09:48] DzmitryHumianiuk commented on #377
@vseslovur we have updated junit4 agent. it might help.

is it still reproducible for you. Or you have refused usage?

[2018-09-12 10:17] DzmitryHumianiuk commented on #388
@AlexeyAltunin awesome catch!

[2018-09-12 10:34] DzmitryHumianiuk commented on #83
![image](https://user-images.githubusercontent.com/11332788/45419638-848a4480-b690-11e8-9e94-12f8ca6bda57.png)

mix with #389

[2018-09-12 11:09] DzmitryHumianiuk commented on #389
Dision:

- make widget as one of Sub-Launch Widget #259
- make it as BDD specific widget

should address #83

[2018-09-12 11:12] DzmitryHumianiuk commented on #476
@bolatbekb this is default logic, which we have for skipped items.
What is expected behaviour?

[2018-09-12 11:13] DzmitryHumianiuk commented on #477
@bolatbekb what do you mean under `simply summed`?
What is expected behaviour?

[2018-09-12 11:15] DzmitryHumianiuk commented on #392
@bolatbekb do you expect to use time provided from xml report, in case if it is available?
and calculate in case if not available?

[2018-09-12 11:18] DzmitryHumianiuk commented on #395
@bbartok76 resolved?

plz comment or reopen in case if not

[2018-09-12 11:18] #395 closed

[2018-09-12 11:26] DzmitryHumianiuk commented on #400
Sounds like #191 Semi-automation.
considered to be done in 2 stages:

 - [ ] 5.0 version will allow to change PASSED<->FAILED
 - [ ] with #191 introduce interim undefined state for test case. And allow to change it on UI. Or follow the concept to keep all test cases failed by default, and possibility to change status will resolve it.

[2018-09-12 11:28] DzmitryHumianiuk commented on #401
consider as a part of #259

[2018-09-12 11:32] DzmitryHumianiuk commented on #404
@pbortnik @e-olga take this investigation into 5.0 backlog.
Might be an statistics calculation issue, because of concurrent access.

[2018-09-12 11:32] DzmitryHumianiuk commented on #404
@ailjushkin is it still reproducible?

[2018-09-12 11:34] #408 closed

[2018-09-12 11:35] DzmitryHumianiuk commented on #411
@dmitryyu did you resolve it?

[2018-09-12 11:38] DzmitryHumianiuk commented on #412
@dmitryyu owner can change his object as he wants.
Lead/PM/Admin can change object of another users.

Member role considered for Juniors, so they can't make a mess.

after 5.0 we will introduce custom roles per user.

[2018-09-12 11:38] #412 closed

[2018-09-12 11:41] dmitryyu commented on #411
@DzmitryHumianiuk
In general, you are right, we have an option to use bulk update.
But to have "default state for a Defect type" option - would be cool.
and do not worry/do not repeat bulk update every time... just to be sure that someone did not specified  "Ignore-AA" during changing a status.

[2018-09-12 11:50] DzmitryHumianiuk commented on #420
@aliaksandrbasau it's not the right way to make some of filters visible/not-visible by default.
You need _Defect comment_ others need something else.

I think, it should be address by another feature.
in #259 sub-launch view we will introduce sub-launch widgets.
Which will be kind of dashboard, but focused on specific launch.
This level will introduce TestItem filters. And can have widget which wi

[2018-09-12 11:51] DzmitryHumianiuk commented on #421
low priority.
backlog

[2018-09-12 14:20] dmitryyu opened #478 "Upgrade/Backup options via UI"
For now RP upgrade process looks a bit confusing.
As for me I've lost previous results during upgrade.

Like a suggestion, It would be cool to have:
1. UI options to backup existing Data which generates a single backup file.
2. UI option to upload the file to RP. In the case we will be able to install new RP version and upload our backup to new instance.
3. Also during a backup it would be cool to

[2018-09-12 14:42] filossof commented on #39
@avarabyeu
Hi there, I've managed attaching image (png) to a log using the JS client, but when I try doing it using the API, I have no success. Not sure how to use 'Multipart' directly from the Swagger. Can you please refer me to an example of how to do it? Thanks!

[2018-09-12 14:43] ailjushkin commented on #404
Seems like after installation of the new version of RP this is issue was resolved.

[2018-09-12 14:44] #404 closed

[2018-09-12 17:52] DzmitryHumianiuk commented on #411
will leave it for backlog

[2018-09-13 05:36] TzurAnv opened #479 "requesting integration with Gauge framework"
hi

i would like to request to add support for additional test framework named gauge
https://github.com/getgauge

hopefully this is the correct place for enhancement request

thanks

[2018-09-13 09:38] bolatbekb commented on #477
At the top level of the junit file (tag "testsuite") it specifies the duration of all tests. If one junit file is unloaded in the archive, I would like the portal to not summarize the duration of all testcases.

e.x.:
<testsuite name="" tests="9778" assertions="23792" errors="0" failures="0" skipped="87" time="216.050180">

[2018-09-13 09:38] #477 closed

[2018-09-13 09:39] bolatbekb commented on #477
I closed the issue) accidentally . I will prepare the answer.

[2018-09-17 10:39] slavamarkovski opened #480 "Test/launch details in expandable section"
Will be good to move launch details located under launch name (tags, description, owner etc.) in expandable section collapsed by default (or move default behavior in user properties). Similar for test entity (duration, tags, etc).

Th main idea is that all these properties can be requested on demand instead of having them always visible. and let them occupy useful space to have more launch/test re

[2018-09-17 10:42] slavamarkovski opened #481 "Clickable badges with issue types"
Can you please create badges with issue types clickable so there will not be needed to hover them and wait clickable hint?

![image](https://user-images.githubusercontent.com/42808012/45618740-75840780-ba7f-11e8-8aab-16e4801a1663.png)

[2018-09-17 11:48] DzmitryHumianiuk commented on #39
@filossof swagger do not support multipart in this version.
we should update it.

[2018-09-17 13:47] filossof commented on #39
Thanks @DzmitryHumianiuk

[2018-09-17 19:34] shashankbr3007 opened #482 "sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException"
Guys, facing Certificate issue while building(using mvn clean install) "example-java-TestNG-master-->log4j" project
i tried installing certificates from "http://tj.symcb.com/tj.crt" manually on my laptop, but did not help, i'm stuck here

[ERROR] Failed to execute goal on project example-java-TestNG-logback: Could not resolve dependencies for project com.epam.rp:example-java-TestNG-logback:jar:1.0

[2018-09-17 22:39] DzmitryHumianiuk commented on #478
@dmitryyu this is considered for implementation.

at the same time, with 5.0 we will introduce PostreSQL database, which is much easier to support

[2018-09-17 22:44] DzmitryHumianiuk commented on #479
@TzurAnv it is right place to ask.

Do you know, which runner used under the hood of Gauge?
of they have own?

[2018-09-17 22:53] #87 closed

[2018-09-17 22:53] DzmitryHumianiuk commented on #87
no response received from requestor

[2018-09-17 22:55] #140 closed

[2018-09-17 22:56] #265 closed

[2018-09-18 15:34] dzmitry-lahoda opened #483 "Please update documentation regarding some features"
Hi,

Here I outline various use cases I have seen during my past years on different projects, doing all kinds of automation of quality, for possible applications of RP. Outcomes could be improved documentation, tutorials or separate issues created.

As my home work I did quick look and searches of issues and codes on github and documentation on reportportal.io. Also @DzmitryHumianiuk have answered

[2018-09-19 13:38] nvborisenko commented on #479
Own runner. `golang` is behind of scene.

Example of reporters: https://gauge.org/plugins/#reports, also can be found on github.

[2018-09-19 18:56] nvborisenko commented on #479
This framework has very good plugins system based on tcp communication between engine and extension points. Time allows me to try to implement a plugin for gauge on `.net`. Thumbs up if we need it. But anyway the implementation on `golang` is better, it is more native.

[2018-09-20 06:15] TzurAnv commented on #479
i really prefer implementation for the Python use of gauge, also i can promise a very deep and extended use report in case of someone will write adaptation of the report-portal for it :)

[2018-09-20 09:06] evjlobanova commented on #475
@CosminGramada could you share with your progress?

[2018-09-20 10:03] nvborisenko commented on #479
`gauge` is language independent. So all plugins work correctly with any language.

[2018-09-21 06:35] vivektamrakar91221 opened #484 "Unable to connect BTS with JIRA"
When trying to connect BTS with JIRA, getting below error.
Impossible interact with external system. <Project Name>

Tried all the options mentioned in the below link but could not get it connected.
https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/HowToResolveIssuesWithJira.md

I am suspecting this could be because we have Duo authentication associated with our JI

[2018-09-21 12:34] slavamarkovski opened #486 "[FR] Alternative Auto Analysis strategy aka Patterns"
I'd like to suggest to add one more Auto Analysis strategy with manual mapping test(s) to error message(s).

E.g. we have a failure with message "User with ID 123 not found", suppose it means that Users service is down so a lot of tests will fail with this error message.

In this case we can map all our tests to the bug which will be created for this error:
com.example.tests.user.* >> User with ID

[2018-09-21 12:47] evjlobanova commented on #486
Strict association of bug vs test case by name our any other can be implemented within own strategy.
But for you should implement own custom analyzer(https://github.com/pbortnik/example-custom-analyzer).

We will consider to extend AA config, and add such type of rules and regExps, which can associate known items first, and the rest will go to AA

[2018-09-21 13:16] nvborisenko commented on #479
@TzurAnv basic reporting is available for gauge, please welcome to https://github.com/reportportal/agent-net-gauge. This is first phase of implementation, please submit issues there.

[2018-09-21 13:47] gpucciani commented on #486
+1, we have a similar situation with recurring issues. We'd like to create a database of these errors so that failed tests can be automatically mapped.

[2018-09-25 17:09] Preyansh91 opened #489 "LDAP authorization has stopped working on Report Portal"
**Describe the bug**
LDAP authorization has stopped working on Report Portal

Our LDAP authorization was working fine till now but it has stopped working suddenly and is not allowing any user to login with the error:
An error occurred while connecting to server : You do not have enough permissions. Bad credentials

Upon taking a pcap we were able to see that the LDAP authorization on our ldap serv

[2018-09-26 09:05] DzmitryHumianiuk opened #490 "[FR] Possibility to report testItems into finished Parent Item"
**Describe the solution you'd like**
Possibility to report testItems into finished Parent Item

**Is your feature request related to a problem? Please describe.**
it will help to support various test runners, which are not in java world.

Reference: https://github.com/reportportal/client-Python/issues/34

[2018-09-26 10:32] ludeknovy opened #491 "[FR] Full text Search in logs/errors at launch level"
**Describe the solution you'd like**
I would like to be able to search in log errors through UI.

**Is your feature request related to a problem? Please describe.**
I would like to be able find all test failures based on log error.

[2018-09-26 12:28] evjlobanova commented on #491
@ludeknovy as a workaraund, you can add error log to the test item description, and then search
![image](https://user-images.githubusercontent.com/30413511/46079706-8f6ccb00-c1a0-11e8-827b-f6467d4f27f3.png)
Here http://reportportal.io/docs/How-to-add you can find detailed information how to do this.

Could you please tell me if you want to search for test failures  from All launches view or betwee

[2018-09-26 12:32] evjlobanova commented on #480
@slavamarkovski  do you mean something like in this issue https://github.com/reportportal/reportportal/issues/453?

[2018-09-26 13:13] slavamarkovski commented on #480
@evjlobanova nope, I mean that this information should be hidden by default in collapsible section as it takes a lot of useful place.

[2018-09-26 13:15] evjlobanova commented on #480
@slavamarkovski I `ve got.

[2018-09-26 19:48] dmitryyu opened #492 "Automatically remove old not analyzed builds"
**Describe the solution you'd like**
It would be cool to have an option "keep no more than XX not analyzed builds". If number of builds will be more than XX so the oldest one will be removed once the run is completed.

**Is your feature request related to a problem? Please describe.**
For now it's an only assumption that number of builds will reduce free disc space. ( i have tens of builds everyda

[2018-09-27 06:39] ludeknovy commented on #491
@evjlobanova thanks for the suggested workaround but I'd have to reimplement my rp client ;)

In our case it would make sense to search for test failures from all launches view.

[2018-09-28 14:20] ampc opened #493 "Cannot send file to ReportPortal"
**Describe the bug**
Every test returns the following error:

[code]
**reportportal.properties**
[code]

pom.xml
[code]

**Expected behavior**
Run test without errors

**Versions:**
 - OS, Browser
 - Version of RP [
Current version: `API Service: 4.2.1; Index Service: 4.2.0; Jira Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.2.2;`

[2018-10-01 14:42] user390181 commented on #464
is this currently on the roadmap?  This reporting framework looks great but we are blocked from using it due to integration issues with Spock.

[2018-10-02 08:50] nebehr commented on #486
@evjlobanova custom analyzer seems to support setting issue type, but can it attach an external issue? Looking at the analyzer request/response model it does not seem possible. See https://github.com/reportportal/service-analyzer/issues/20.

[2018-10-02 11:09] ludeknovy opened #494 "/{projectName}/item requires filter.eq.launch param"
**Describe the bug**
`/{projectName}/item` requires `eq.launch` param but thats not marked in swagger as required.
When sending request without `eq.launch`  it returns `400 with: Incorrect Request. Required String parameter 'filter.eq.launch' is not present`

**Versions:**
4.3.0

[2018-10-02 16:21] kaushik2306 commented on #406
I am observing the same issue but on Windows 7 -Home pc..Any idea how can I start all the services

[2018-10-02 20:45] DzmitryHumianiuk commented on #125
@SergeVKom plz open new issue if still actual.

Condidered as fixed

[2018-10-02 20:45] #125 closed

[2018-10-02 20:46] #86 closed

[2018-10-02 20:49] DzmitryHumianiuk commented on #285
@ludeknovy not sure it is an issue.
It’s admin page, and admin create user. Copy password to share with new user.

Closing as `Won’t fix`

[2018-10-02 20:49] #285 closed

[2018-10-02 20:51] DzmitryHumianiuk commented on #271
@ulmanA is it still actual issue for you?

[2018-10-02 21:42] DzmitryHumianiuk commented on #464
@user390181 no it's not.
we are in a rush with 5.0 and client requests.
have no enough hands to do all things.

so if you can make an input into it, we will really appreciate this!

[2018-10-04 05:13] ulmanA commented on #271
Very minor

[2018-10-04 10:08] DzmitryHumianiuk commented on #285
@ludeknovy there is another mechanism, called `Invite user`.
server sends special link, which valid for 24h.
User opens this link and see fields for input.
Password and clarification for password hidden under *** in this fields.

[2018-10-05 19:06] aliaksandrbasau commented on #420
@DzmitryHumianiuk Sub-launch widgets will not address my issue as it's going to be a summary of a launch. I am perfectly okay with the current screen to investigate failures although adding the same filter over and over is not very convenient. I agree that other people may need different filters. So maybe the page (that shows filtered tests) should preserve displayed filters between sessions (like

[2018-10-05 21:35] pessimism commented on #475
I was able to resolve this issue.  If you modify the docker-compose file to use named volumes instead of relative path volumes for mongo, consul and elasticsearch, the demo runs on windows.  There is a related bug filed against the mongodb container which contains the workaround I applied:
https://github.com/docker-library/mongo/issues/74

[2018-10-08 13:20] DzmitryHumianiuk commented on #420
@aliaksandrbasau we consider to store it in user localStorage of browser.
If you add some kind of filter very often, it will show it by default, in this particular browser.

[2018-10-08 13:22] aliaksandrbasau commented on #420
@DzmitryHumianiuk It would work perfectly for me. Thanks!

[2018-10-09 14:25] MosheSheena opened #495 "Choosing multiple tests using shift + mouse_click"
**Describe the solution you'd like**
...Hello,
I think it can be a great improvement if it would be possible to tick a bulk of items using shift + mouse_click

**Is your feature request related to a problem? Please describe.**
...The problem that brought me this idea is when I come across bulks of test items that all stem from the same defect, and I find myself ticking a lot of items.

[2018-10-10 08:59] naiad09 opened #496 "If a Jira defect is linked to a failure, RP doesn't escape the defect summary text"
Hi, Report Portal,
I hope you are well.

We have linked a Jira to our Report Portal.
There is a defect in Jira that has summary: "On user preference page, the column shows "\<center\>""

I linked this defect to a failure in RP. When I hover this defect link, it shows the defect summary and status.
The defect summary contains an HTML tag, and RP doesn't escape it (see screenshot).

Actual: It shows

[2018-10-10 22:00] jonozzz opened #497 "LDAP auth - Unable to login when base DN contains spaces"
Setup LDAP auth with a "Base DN" that looks like this:
`OU=North America,DC=abc,DC=xyz,DC=com`

Trying to login results in the following error:
   ` An error occurred while connecting to server : Unclassified error [Root DNs must be the same when using multiple URLs`

 API Service: 4.3.0; Index Service: 4.2.0; Jira Service: 4.3.0; Rally Service: 4.3.0; Authorization Service: 4.2.0; Service UI: 4.3

[2018-10-12 15:11] nvborisenko commented on #342
Fixed in ReportPortal.NUnit 3.4.0

[2018-10-12 15:11] #342 closed

[2018-10-12 16:39] florykiank opened #498 "Add ability to configure BTS with untrusted certificate"
Please add configuration option to be able use insecure SSL for External system (e.g Jira).
Thank you!

[2018-10-15 10:59] DzmitryHumianiuk commented on #486
@slavamarkovski @gpucciani @nebehr
We plan to add Patters page.
Where you can add specific log pattern, with exact match or regexp.
And define action for it (add Defect Type, assign to person, send notification, edit description, etc.)

This analyzer will work before ML based.

[2018-10-16 08:45] filossof opened #499 "Add link/url as a log item"
I would like to have the option to add a link/url to the log.
Sometimes attaching a screenshot is not enough for debug/analysis.
Thanks!

[2018-10-16 09:15] slavamarkovski commented on #486
@DzmitryHumianiuk , thank you for the update.

Will it be possible to perform multiple actions on logs match, e.g. set Defect Type and link issue to the test?

[2018-10-16 11:28] evjlobanova commented on #499
@filossof I can already do this. You can add a link/url  to the test item decription or directly to the log. For that please follow to the [step](http://reportportal.io/docs/How-to-activate)

[2018-10-16 12:12] DzmitryHumianiuk commented on #486
@slavamarkovski good proposal.
will consider several actions per pattern

[2018-10-17 04:07] rupamchakraborty commented on #438
Hi @nvborisenko ,
I'm facing the same problem as well , here are the details, please help -
**Report Portal Deployment + Installation -** Done using Docker toolBox on Win 10 Home.  Most of the services are UP post deployment , screenshot attached
![image](https://user-images.githubusercontent.com/27431386/47061451-88354d80-d19f-11e8-8bea-42deb8d1590c.png)

I have a sample SpecFlow based C# project

[2018-10-17 07:56] filossof commented on #499
@evjlobanova Thank! Tried it, works amazingly :)

[2018-10-17 09:11] nvborisenko commented on #438
First of all, you installed 2 extensions: for nunit and specflow. NUnit reporter works fine, it is sending results somewhere. Specflow reporter is configured incorrectly.

And verify your RP deployment, I see failing services. Guess all should be passed.

[2018-10-17 11:48] slavamarkovski commented on #486
One more thing - is it possible to add mapping test name + log because the same (similar) error message for different tests can be assigned to different bugs.

[2018-10-17 11:57] DzmitryHumianiuk commented on #486
@slavamarkovski hm.... super intellectual pattens )
will consider it

[2018-10-17 12:14] slavamarkovski commented on #332
Hi, @evjlobanova. Can you please advise - do you have a plan to include this feature in coming 5.x release?

[2018-10-17 12:43] rupamchakraborty commented on #438
here you go
![image](https://user-images.githubusercontent.com/27431386/47086929-bdb25900-d1e8-11e8-9e3b-e8a061f6dae6.png)

[2018-10-17 12:45] rupamchakraborty commented on #438
I got it finally, its the Debug where its spitting the results for Default_Project, thanks.  Sorry for the confusion.

![image](https://user-images.githubusercontent.com/27431386/47086980-e2a6cc00-d1e8-11e8-8648-3c37641d595c.png)

[2018-10-17 12:49] #438 closed

[2018-10-17 13:13] DzmitryHumianiuk commented on #491
@ludeknovy we plan to add this functionality

will be considered for 5.x+ verions

[2018-10-17 13:19] DzmitryHumianiuk commented on #492
good one.
will be added.

[2018-10-17 13:29] DzmitryHumianiuk commented on #493
@revaultch could you plz take a look

[2018-10-17 13:31] DzmitryHumianiuk commented on #494
@avarabyeu i guess it's more specific of swagger, not to represent this parameter as required, right?

[2018-10-17 14:39] DzmitryHumianiuk commented on #495
@MosheSheena
use `Cmd+click` for mac
and `Ctrl+click` for win

[2018-10-17 14:39] #495 closed

[2018-10-17 16:13] DzmitryHumianiuk commented on #496
will take in next minor release

[2018-10-17 16:31] DzmitryHumianiuk commented on #497
@jonozzz does this help?
https://stackoverflow.com/a/52088613/7166826

[2018-10-17 16:31] DzmitryHumianiuk commented on #497
@avarabyeu you only the one, who can answer

[2018-10-17 16:44] DzmitryHumianiuk commented on #498
@florykiank could you plz describe more details?
Does RP server SSL'ed?
Does JIRA server SSL'ed?

[2018-10-17 16:55] florykiank commented on #498
@DzmitryHumianiuk Sure. RP and JIRA are SSL'ed. User unable to add JIRA BTS with insecure SSL cert to a project without importing this cert inside the RP JIRA container (an error appears during connection). It would be great if you could add option in RP UI to handle it during BTS configuration.

[2018-10-17 17:19] DzmitryHumianiuk commented on #483
@dzmitry-lahoda thanks for detailed question.
Down below answers and action items for BA and team:

 - [ ] **JIRA integration capabilities** - @evjlobanova describe as separate doc

 - [ ] **Elastic Search capabilities** in RP - @evjlobanova @pbortnik @avarabyeu describe

 - [ ] **How to call RP from Jenkins** - describe example - @evjlobanova @pbortnik
it's pretty easy, by sending `curl` requests

[2018-10-17 17:36] DzmitryHumianiuk commented on #41
@Rider1982 done for 5.0 already :)

![image](https://user-images.githubusercontent.com/11332788/47105326-457d7f00-d24c-11e8-95f4-29e3be808711.png)

number of sub-types also increased to 15

[2018-10-17 17:38] DzmitryHumianiuk commented on #491
similar to https://github.com/reportportal/reportportal/issues/158

[2018-10-17 18:32] jonozzz commented on #497
I did try escaping it in the UI and it didn't work, that has to be done on the server side.

[2018-10-17 20:59] mcafeerun opened #500 "elasticsearch service failed to start"
Reportportal elasticsearch service failed to start.

Note: I did followed all the solution provided in issue [https://github.com/reportportal/service-analyzer/issues/19].

Creating this ticket in this main repo, so that i will get some help.

$ docker ps
[code]

$ docker-compose -p reportportal logs --tail="all" analyzer
[code]

$ docker-compose -p reportportal logs --tail="all" elasticsearch
[cod

[2018-10-18 09:33] avarabyeu commented on #500
@mcafeerun Issue isn't to reportportal itself.
please, follow this guide:
http://reportportal.io/docs/Issues-with-Analyzer:
You also might want to check official ES installation guide:
https://www.elastic.co/guide/en/elasticsearch/reference/5.4/docker.html

[2018-10-18 09:33] #500 closed

[2018-10-18 11:14] marklz opened #501 "elastic search restarts all the time in 4.3"
**Describe the bug**
elastic search container restarts all the time, "docker logs" show Java exception

**Expected behavior**
elastic search container does not restart

**Screenshots**
[code]

**Versions:**
* Ubuntu 16
* RP 4.3, though for some reason service authorization is 4.2
* Docker version 17.09.1-ce, build 19e2cf6

[code]

[2018-10-18 11:37] DzmitryHumianiuk commented on #501
@marklz check steps in #500
:)
similar issue

[2018-10-18 11:45] marklz commented on #501
@DzmitryHumianiuk - even manual workaround is acceptable, since constant restarts eat all CPU, and RP is now very slow...

[2018-10-18 11:54] DzmitryHumianiuk commented on #501
@marklz stop elastic container in docker. and reconfigure it

[2018-10-18 11:56] avarabyeu commented on #501
@marklz @DzmitryHumianiuk remove container, follow steps described in #500, then create container again.
Closing as duplicate of #500

[2018-10-18 11:56] #501 closed

[2018-10-18 12:00] avarabyeu commented on #498
@florykiank as workaround, please follow this steps:
http://reportportal.io/docs/Issues-with-JIRA

@evjlobanova you might want to add this to 5th release scope, it does make sense to implement it.

[2018-10-18 12:01] marklz commented on #501
@avarabyeu - what specific steps?

[2018-10-18 12:01] avarabyeu commented on #493
remove allure from classpath :)

[2018-10-18 14:41] vitali-sonchyk-epam commented on #363
Is any info available regarding the approximate time of feature realization?

[2018-10-19 09:50] DzmitryHumianiuk commented on #363
@vitali-sonchyk-epam we will start right after 5.0
5.0 is ~~2 months

[2018-10-19 10:32] avarabyeu commented on #497
@jonozzz how did you try that? have you changed UI code and rebuilt a container?
we probably can try to save it via API and then check whether it works. I would like have this escaped on UI side, actually

[2018-10-19 15:16] ailjushkin opened #502 "Do not reload Edit Defects page on Cancel"
**Current version:**
Analysis Service: 4.2.0; API Service: 4.2.1; Index Service: 4.2.0; Jira Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.2.2;

**Problem:**
When you select your failed tests, choose Edit Defects, then push Cancel. As a result, the page reloads and your selection is cleared.

**Expected behaviour:**
Pushing Cancel does not reload the page and selection of failed test

[2018-10-19 15:22] patrickkeane opened #503 "Allow JIRATicketDescriptionService.java to post in plaintext"
**Describe the bug**
JIRA can be configured to use the Default Text Renderer (not the Wiki Style Renderer) for the bug description (and other fields).  In such cases, when bugs are created from Report Portal, they have embedded Wiki formatting that makes the bug description difficult to read in JIRA.  It would be good to allow this to be configured, so that Wiki Style formatting can be turned off

[2018-10-19 16:02] bvpadmanaban opened #504 "Version One Integration"
Hi,

We are integrated Report Portal in Specflow, Nunit and Serenity frameworks, it is working awesome. We are not using dedicated Defect Tracking tool, hence we are raising the defects/fix tasks in 'Version one' for tracking. It would be very helpful if you provide the feature to integrate the Version One to create defect or task.

Thanks,

[2018-10-19 16:02] DzmitryHumianiuk commented on #503
@evjlobanova it can be option for re-worked **POST ISSUE** form

[2018-10-19 16:04] DzmitryHumianiuk commented on #502
@evjlobanova consider for next minor release

[2018-10-19 16:09] DzmitryHumianiuk commented on #504
@bvpadmanaban most probably, following general priority, it will be not very soon.
But in case if you plan to adopt RP for production usage, we can make it on T&M basis for you.

[2018-10-19 16:17] bvpadmanaban commented on #504
We dont have plan to make RP in production usage in 2018. Planned for 2019 Q2. It would be great if this feature available on 2019 Q2. Thank you.

[2018-10-19 17:25] ZeeshanFr opened #505 "Installation without Docker"
Installation steps without docker are not up to date, as service ui and service index not accepting ports and never able to run on same machine, please update docs

[2018-10-22 14:10] automationguild opened #506 "Help: Last test of each Launch stuck in a "In Progress" status"
Hi,

Not sure how to fix this one.

Everything works except for each Launch the last test always get stuck in an "In Progress" .

The test eventually times out with the status of "interrupted".

Not sure if the issue is in my ReportPortal dashboard(build 4.3.0) setup of in the Serenity plugin that I'm using (https://github.com/Invictum/serenity-reportportal-integration version 1.1.3)

Any ideas wh

[2018-10-22 16:11] DzmitryHumianiuk commented on #505
@encyclopod took that

[2018-10-22 19:51] DzmitryHumianiuk commented on #506
@automationguild this appears in 2 cases:
1. when runner/framework do not send FinishRQ for launch
2. when runner sends FinishRQ, but some of test cases are still in progress. And server returns you error, that you can't finalize parent when child is still in progress.

Most likely you will find smth like `can't finish launch` in logs.
The same line you will find test case id, which is still left

[2018-10-23 09:57] navinchandrac commented on #505
**Issue-1:**  **fabio.propereties** related configuration is not clear, Need to provide default configuration for local Windows machine configuration including port details (Also need to provide sample fabio.propereties file with default configuration for Windows local configuration)

**Issue-2:**  **Consul** related port information is not clear (example : -bind=127.0.0.0) and meaning of port (li

[2018-10-23 11:52] DzmitryHumianiuk opened #507 "[FR] Build Traceability matrix view"
**Describe the solution you'd like**
View that helps you to correlate and trace requirements vs executed tests/suites/features.

It **helps to provide a visual representation** of the association between user requirements and the products being developed and implemented.

It helps you to see you are building the **product right with a representation of testing**. However, with the changing needs o

[2018-10-23 19:45] automationguild commented on #506
Thanks @DzmitryHumianiuk What/Where is the log file I should look in? This is what I have frm the console output:
[10-23-2018 12:22:09] [DEBUG] wire:73 - http-outgoing-22 << "HTTP/1.1 406 Not Acceptable[\r][\n]"
[10-23-2018 12:22:09] [DEBUG] wire:73 - http-outgoing-22 << "Cache-Control: no-cache, no-store, max-age=0, must-revalidate[\r][\n]"
[10-23-2018 12:22:09] [DEBUG] wire:73 - http-outgoing-22

[2018-10-23 20:34] DzmitryHumianiuk commented on #506
@automationguild
line at **[10-23-2018 12:22:09]**

[code]
it says that Launch with ID=`5bcf54392ab79c00010b71fb`
has items with ids `[5bcf54d52ab79c00010b7305,5bcf54d62ab79c00010b7306]`
which are still `IN_PROGRESS`
at the moment, when framework/runner sends Finish request

Launch available for you via link:
`http://SERVER/ui/#PROJECT/launches/all/5bcf54392ab79c00010b71fb`

Links to test cases:
`

[2018-10-23 20:36] DzmitryHumianiuk commented on #506
@automationguild check logs for them.
see what it does in the code.
Maybe some events, triggered inside, were not finalized properly

[2018-10-23 20:41] ailjushkin commented on #442
Hi, guys! Thank you very much indeed for the quick implementation of this feature!

Could you please add more details about that: what if I set up my project to keep logs for 2 weeks? What will happen on the first day of the third week of launches? What item will be opened by clicking on the "Based on the item" hyperlink? :)

[2018-10-24 15:01] VikasKrishnamraju opened #508 "Unable To Access Report Portal For A Single User"
Hi Team,

This is issue is specific to a single user, who is unable to login into Report Portal.
We have Report Portal Deployed on AWS Linux machine and accessed by ~30 engineers.
Out of the 30 one of the team member is unable to login into Report Portal.
To verify i have deployed RP on a temp instance and still he is unable to login with this RP.
We cleared the cache on local machine and tried di

[2018-10-24 19:00] DzmitryHumianiuk commented on #506
@automationguild there is a dirty hack for it.
extend `onFinishLaunch` method. And add prior to FinishRQ few lines:
1. get IDs of testItem in status IN_PROGRESS for this launch
2. iterate over list, and trigger finishItemRQ

i know few project do it, ignoring issues with unfinished test cases

[2018-10-24 19:01] DzmitryHumianiuk commented on #505
@encyclopod plz review those steps as well

[2018-10-24 19:17] bolatbekb commented on #476
Are you considering this issue?

[2018-10-25 10:06] VikasKrishnamraju commented on #508
@DzmitryHumianiuk i am using the regular credentials. superadmin/erebus
As i said this is happening only for 1 user in his laptop. I am able to login from my local machine with same credentials. Also can you point to me where i can get the logs ?

[2018-10-25 11:29] DzmitryHumianiuk commented on #508
@VikasKrishnamraju
`docker ps` will give you list of running containers
[code]

find `container ID` for `service_api` and `service_aut`

and call `docker logs CONTAINER_ID`
like `docker logs 910fda925029`

AUT receive auth requests.
API handles the rest

[2018-10-25 14:34] ailjushkin commented on #442
@evjlobanova right, so, can we somehow save a user name of manually added item and possibly a text of error?

[2018-10-25 15:03] evjlobanova commented on #442
@ailjushkin could you please explain what you mean under "a user name of manually added item"?

[2018-10-25 15:42] VikasKrishnamraju commented on #508
Attaching those logs. let me know if this helps
[RP_Vikas_API.log](https://github.com/reportportal/reportportal/files/2515714/RP_Vikas_API.log)
[RP_Vikas_AUT.log](https://github.com/reportportal/reportportal/files/2515715/RP_Vikas_AUT.log)

[2018-10-25 19:30] ZeeshanFr commented on #505
I manage to run latest version on windows without docker, so much wrong in step documentation above i can put modified steps for others to use somewhere, i also able to create hooks for custom java exposing function to link with any framework , need to do some minor logs details work, was little time consuming documentations

[2018-10-26 11:32] DzmitryHumianiuk commented on #505
@ZeeshanFr it would be very helpful!

[2018-10-26 11:38] DzmitryHumianiuk commented on #505
@ZeeshanFr also @encyclopod made some updates in here
https://github.com/reportportal/documentation/commit/d4cc98380941a7dc8245201915bd3d4f27834a79
you can also take a look into it, or use as a basement.
@encyclopod also stuck with `service-aut`, you can help him

[2018-10-26 11:42] e-olga commented on #508
Hi @VikasKrishnamraju,

Could you please clear browser storage or open ReportPortal application in 'incognito' mode and try to login with user's credentials again.
Additionally, please send us .har file that contains request with sent credentials

Waiting for your reply,
Olga

[2018-10-26 11:48] DzmitryHumianiuk commented on #508
@VikasKrishnamraju nothing special in logs.
aut says that bad credentials received.

[2018-10-26 12:30] VikasKrishnamraju commented on #508
Hi @e-olga i will get back to you once i have .har file with me

[2018-10-26 12:30] rsvoboda opened #509 "[FR] Launches and environment matrix"
Hi.
I have concern how to track launches of **matrix jobs**.
One testsuite can be run in multiple combinations of JVM / operating systems / databases.
Another matrixes can be browsers / android sdk versions / ios sdk versions / devices vendors.
Jenkins supports matrix jobs for long time, it was in core of Jenkins 1 (till 1.561) and now it's plugin [Matrix Project Plugin](https://wiki.jenkins.io/di

[2018-10-26 13:36] DzmitryHumianiuk commented on #509
@rsvoboda you found the right answer.
**TAGS** provide ability to address this type of combinations.

Tags available for launches. for suites and for test-case level as well.

At the level of launches, you simply can build widget or trends, based on combination of filter, which can use tags.
Like build the widget, which sums up all launches for specific build.
And close ti it build widget, which s

[2018-10-26 13:52] DzmitryHumianiuk commented on #509
@rsvoboda as for Matrix views for execution, there is no out-of-the-box solution at the moment.

But we already did few brainstorm session, how this can be addressed in RP.

Main challenge for us is **multi tenancy.**
We have to address specific of various platforms (java, .net, ruby, js, etc.), testing engines (testng, junit, nunit, pytest, etc), project styles (BDD/non-BDD), Data-driven tests, a

[2018-10-26 14:32] VikasKrishnamraju commented on #508
@e-olga attaching the .har file
[RP error.txt](https://github.com/reportportal/reportportal/files/2519573/RP.error.txt)

[2018-10-26 18:31] nvborisenko commented on #508
@VikasKrishnamraju try to create a new user and login under this user on problematic machine. This helps to understand whether the issue is on server side or on client.

[2018-10-26 21:01] rsvoboda commented on #509
I think labels are better approach. You have `key:value` pairs and there can be more values to a key which basically defines an axis. And of course with multiple keys you get multiple dimensions.
This approach is nice for visualization and allows multi tenancy which is in RP.

RP could have predefined some labels like:
 * programming-language: java, .net, ruby, js, etc.
 * testing-engine: testng,

[2018-10-27 04:34] e-olga commented on #508
@VikasKrishnamraju ,
As I see from the file above, the user who is trying to login is not "superadmin".
So, could you please specify, whether it is a problem to login RP with "superadmin" user or another one?
In case the problem appears on login with "superadmin", please send the .har file of the attempt.
In case the problem appears on login with another user, make sure the user is available in Re

[2018-10-27 16:18] e-olga commented on #494
hi @ludeknovy,
Response is correct, launchId is a required parameter for GET item. API documentation will be updated by release of RP v 5.0
Regards,
Olga

[2018-10-27 16:18] #494 closed

[2018-10-28 21:15] ZeeshanFr commented on #505
i made changed to required step documentation, need permission to push changes to branch install_without_docker

[2018-10-29 09:02] sisihi opened #510 ""Edit" and "Delete" buttons in widget head get ignored in a narrow browser window."
**Describe the bug**
...
When hovering the widget head, “Edit” and "Delete" buttons cant been displayed correctly in a narrow browser window.

**Expected behavior**
...
 When hovering the widget head, "Edit" and "Delete" buttons should appear despite of the width of browser window.

**Screenshots**
If applicable
 "Edit" and "Delete" buttons got ignored in a narrow display mode:
![screen shot 2018-

[2018-10-29 09:06] evjlobanova commented on #510
@sisihi in a mobile view not all  functions are available. Edit, Delete and Full screen are hidden on mobile UI.

[2018-10-29 09:12] sisihi commented on #510
@evjlobanova Thanks for your immediate reply.
Yes, I can understand there will be some limitations when visiting the PR server via a mobile.
But, I encounter this unhandy in the desktop environment.
I suppose maybe we can have a feature to tell the mobile env and PC env and become more user friendly in the coming future?

[2018-10-29 11:09] evjlobanova commented on #510
@sisihi you have posted this issue as a bug, so i clarified, that it is a not a bug, it is a feature)
In a narrow screen it is difficult to reflect some modals, that is why we limited some functions.
Anyway we will discuss this enhancement and mobile policy in general.
But could you please, describe your case, why you use narrow display mode? Do you usually use display in this mode. How often do y

[2018-10-29 16:34] ailjushkin commented on #442
@evjlobanova will by saying that I meant a username connected with this information, someone who added this information into the database, but keep that info more than "time to keep logs" value. Unfortunately, I can't say whether it would be efficient from the point of an architecture view, but anyway

[2018-10-29 16:38] DzmitryHumianiuk commented on #509
@rsvoboda good approach.
btw, we consider this type of `key:value` pairs as a replacement for tags in versions 5.x+

At the moment, our analogue of labels is tag. Which have only `value`
and some of similar functionality was proposed via prefix in tags.

[2018-10-29 17:00] DzmitryHumianiuk commented on #508
@VikasKrishnamraju closing for now.
plz reopen if still appears

[2018-10-29 17:01] DzmitryHumianiuk commented on #506
@automationguild did it help?

[2018-10-29 17:01] DzmitryHumianiuk commented on #505
@encyclopod will help you out.
He've contacted you on slack

[2018-10-30 02:51] sisihi commented on #510
@evjlobanova
Apologies for the misusing of bug report. Maybe I missed something in the [Documentation](http://reportportal.io/docs/Manage-Widgets%3Eedit-widget), I did not find any statement related to the mobile limitation things given in your replay. That why I consider it as a bug.

As for the narrow display mode:
![screen shot 2018-10-30 at 10 18 34 am 2](https://user-images.githubusercontent.

[2018-10-30 08:45] evjlobanova commented on #510
@sisihi ReportPortal application has responsive UI and all components are adjusted in accordance with the screen resolution.
Mobile view -  320 -720рх
Tablet view - 720px
Desktop view 960+px

[2018-10-30 08:52] sisihi commented on #510
@evjlobanova Thanks for you kind explanation, Now I have a better understanding of RP.

[2018-10-30 08:52] #510 closed

[2018-10-30 09:18] rsvoboda opened #511 "[FR] Add ability to protect a test result from auto-deletion"
Hi. I would like to know what are the pruning strategies for old lunches or testsuite in RP.

In Jenkins there is option to discard old builds [1] or to keep some runs forever [2].
Is there something similar in RP?

My motivation is that with daily runs of some testsuite I can generate too much data for RP which can lead to slowness of the system and worse usability of some reports.

http://report

[2018-10-30 09:35] DzmitryHumianiuk commented on #511
@rsvoboda project settings -> keep logs, keep screenshots.
It limits time to store logs in test cases.
And limits time to store binary attachement.

As for launches itself, and all underlying test suites for versions 4.x we decided to keep them.
Those object pretty small, and just contains statistics.

In 5.0+ will be introduced job to delete old launches, according to specific rules.

[2018-10-30 09:39] rsvoboda opened #512 "Auto-Analysis of launches when the same (standalone) TS is used against different versions of project codebase"
Hi. I have another question, this time related to Auto-Analysis of launches. We have standalone testsuites (TS) which are used against different versions of project release or build from current codebase state.

So the same TS can have certain set A of failures for version x.y.z of the component.
It can have (and usually has) different set B of failures for version x.(y+1) of the component.
And fo

[2018-10-30 09:42] rsvoboda commented on #512
And to make the life more complicated, there can be also different set of failures on Windows vs. Linux, databas A vs. database B, browser X vs. browser Y etc :(

[2018-10-30 10:32] VikasKrishnamraju commented on #511
Hi @DzmitryHumianiuk, i have a similar question. Below are settings, where i want the logs and screenshots to be available for 2 weeks. I have made this setting yesterday. Wanted to know when this setting takes into effect. Is it the moment we set these or is there any scheduled time for this.
As i was able to see the logs for tests in launches which were executed 4 months ago

![image](https://us

[2018-10-30 10:46] evjlobanova commented on #512
@rsvoboda hello! now Auto-analysis can distinguish only launches with the same name and only results from one single launch. It means, that you can choose configuration Launches with the same name, and analyzer will try to find the familiar failure reasons test  which belong to launches which the same name. But analyzer checks only name, tags do not taken into account. Also now you can not define

[2018-10-30 11:36] rsvoboda commented on #512
There can be different stack-traces aka different root causes. But tbh it doesn't happen often.
Sometimes it happens that test for issue A fails but it discovers new issue.
Example: test fails for x.y, test passes for x.y+1, test fails again for x+1, but not because the issue A, but new issue B is discovered. It happens usually when component upgrade brings a lot of changes in transitive dependenc

[2018-10-30 11:57] evjlobanova commented on #512
@rsvoboda Analyzer defines defect type (defect comment and link to BTS) based on similarity of error log. F.e your test 1 failed in version x.y. Analyzer send its error log in ElasticSearch and search for the most similar error logs which are storage in ElasticSearch. In case analyzer finds, the appropriate defect type A is set to test 1.

The same situation with test 1 in version x.y+1. In case a

[2018-10-30 12:15] rsvoboda commented on #512
I think all the main points I needed to know are clear now. I saw http://reportportal.io/docs/Auto-Analysis-of-launches documentation, just wanted to summarize my main uncertainties.

Are there any plans to implement more fine-grained analysis of launches?
For example using tags or limiting the number of runs.

[2018-10-30 12:58] YuliyaHancharenka commented on #220
Hi, my team reproduced this issue too.

Steps to reproduce:
1. Run a launch with **several** features, but there are only several (or one) tests in **one** feature are executing and reporting

Expected result:
Tests are reported in RP, launch isn't hanged

Actual Result:
Tests are reported in RP, launch is hanged because other UNexecuted features throws exception, with the following error:

`2018-

[2018-10-30 13:08] rsvoboda opened #513 "Launches - Filter - Passed/Failed/Skipped to accept also %"
**Describe the solution you'd like**
As a user I would like to filter launches which have Passed/Failed/Skipped ratio better/worse than XYZ %.

**Is your feature request related to a problem? Please describe.**
Currently I'm able to filter out launches only based on absolute numbers which is pitta.
I need flexibility, keeping absolute numbers is a pain especially with multiple TS or TS which is ac

[2018-10-30 13:11] evjlobanova commented on #512
@rsvoboda yes, we have plans, but they are not immediate plans.
But for me it is important to understand your use case more deep. Could you please describe the desired behavior aa on example?

[2018-10-30 14:09] rsvoboda commented on #512
There are few aspects, lets call x.y.z stream A, x.y+1 stream B and x+1 stream C (new stuff)

**a) issues tracking**
For each stream there can be separate bug report so it's properly tracked per stream.
General rule in our case is to first fix stream C -> B -> A so the future releases do not contain the issue.
RP has notion of tracking systems so I would like to have proper issues ID assigned per

[2018-10-30 14:52] DzmitryHumianiuk commented on #220
@YuliyaHancharenka good catch!
@akoltochihin could you plz also take a look?

[2018-10-30 15:10] DzmitryHumianiuk commented on #511
@VikasKrishnamraju

it handled automatically by scheduled Spring Jobs with Quartz.
Default config for this trigger is `24h`.
Just give it a time, it will trigger cleaning on time, when server will be under low load.

For versions 4.3.2+ you can find details in Info request in milliseconds:

![image](https://user-images.githubusercontent.com/11332788/47728043-9b9bea80-dc6e-11e8-9833-f01dc510e3e0.pn

[2018-10-30 15:24] DzmitryHumianiuk commented on #512
@rsvoboda AA do not consider tags at launches level, but does it for test cases.
TestCases with same unique id have boosted priority

https://github.com/reportportal/service-analyzer/blob/master/fixtures/search_rq.json

[code]
it says that items with equal launch name, with AA flag in false, and equal **uniqueID** will be boosted twice.

unique id = http://reportportal.io/docs/A-test-item%3Eunique

[2018-10-30 15:27] DzmitryHumianiuk commented on #508
@VikasKrishnamraju let's keep this open then

[2018-10-30 16:11] rplevka commented on #297
@evjlobanova
I tihnk I need to have something pretty similar implemented.

here's our process flow:
we currently support 3 recent version of the product (meaning versions n, n-1 and n-2 are still developed:
[code]
Since I run this against the same test suite, all launches (regardless of the version) generates the same report with the same tests.
Now, since I'd like to maintain the test results his

[2018-10-30 16:18] rplevka opened #514 "Ability to backwards propagate the Defect type to older launches"
**Describe the solution you'd like**
Similarly to a "send defect to launch #X" I'd like to have an opportunity to propagate the same defect type to other (previous) launches.
...

**Is your feature request related to a problem? Please describe.**
Currently, when i do the analysis on an item and there are already several launches with failed test, i need to manually click through all of them and at

[2018-10-30 16:21] DzmitryHumianiuk commented on #514
@rplevka how about suggestions in Defect editor?
Once your started to type text, editor will show you list of similar fails.
And click on it willl copy same comment and same defect type?

[2018-10-30 16:40] Kira-Lappo opened #515 "[WIDGET] Last execution date on widgets"
That would be great to see the date of the last launch in such widgets as "Last launch statistics" and/or  "Launch trend chart"

Now its a bit hard to understand on dashboard if there was a launch at night.
I can do this only with pointing mouse on chart diagram bars and checking the date in    popup messagebox (всплывающем текстовом сообщении)

[2018-10-30 17:22] mcafeerun opened #516 "Help/Question: How to update default Default "From" e-mail address in ReportPortal E-mail Notification feature"
How to update default Default "From" e-mail address in ReportPortal E-mail Notification feature

![image](https://user-images.githubusercontent.com/36393899/47737230-4d83e880-dc68-11e8-8546-0bdb68711152.png)

[2018-10-30 20:11] rplevka commented on #514
@DzmitryHumianiuk hey. My motivation was to save myself from clicking through each test in the history and pasting the same piece of information over again.
Another way might be to have checkboxes inside the "history strip" and allow bulk editing of the defects the same way as one is able to do on the Tests page. The difference would be that this would bulk-edit the single test across multiple lau

[2018-10-30 20:15] rplevka commented on #486
+1
I'd like to see it implement in a way that user would be able to define rules (similar to the email filtering rules), allowing him to combine various fields using boolean logic

[2018-10-30 20:56] DzmitryHumianiuk commented on #514
@rplevka pretty unusual case to make analysis backward.
I mean, if you found out the reason of fail in execution `#10`, then copy same resolution into # 9, 8, 7, etc

I just trying to keep all launches analyzed?

[2018-10-30 21:51] DzmitryHumianiuk commented on #515
@Kira-Lappo date or time?

We have multiply requests, related to axis configuration on widgets.
Looks like we need one common solution which will fit all needs.

Most likely it will be configurable axis labels.
We definitely we do it, but there is no strict commitment to exact time

[2018-10-30 21:56] DzmitryHumianiuk commented on #516
@mcafeerun
1) login as admin
2) profile menu -> administrate
2) server settings -> email server

[2018-10-30 22:14] DzmitryHumianiuk commented on #476
@bolatbekb you mean not to add defect type TI for skipped items?
Or skipped elements imported incorrectly itself?

 Configure option is law priority.

But it would be helpful, if you can send us here small xml example, which represents your issue

[2018-10-30 23:42] mcafeerun commented on #516
Hi @DzmitryHumianiuk; I have already tried it. Its not working.

![image](https://user-images.githubusercontent.com/36393899/47757207-3dd2c700-dc9d-11e8-8f85-09eabe80f9e6.png)

![image](https://user-images.githubusercontent.com/36393899/47757274-75417380-dc9d-11e8-8b53-d5579e5d2f3c.png)

[2018-10-31 07:14] DzmitryHumianiuk commented on #516
Then it’s a bug.

@mcafeerun which version of UI?

@e-olga take a look plz

[2018-10-31 07:59] e-olga commented on #516
Hi @mcafeerun
As for today, it is only possible to update 'From' field in 'Email notification' component via API call.
Please send
`PUT http://host:8080/api/v1/project/{project_name}/emailconfig`
RQ body should have next required parameters:
`{
  "emailCases": [
    {
      "recipients": [
        "<email_address_of_recipient>"
      ],
      "sendCase": "ALWAYS"
    }
  ],
  "emailEnabled": true,

[2018-10-31 09:35] rplevka commented on #514
@DzmitryHumianiuk, well sometimes, when you are the only person to review the failures and you run >1000 tests for e.g. nightly automation, you come to work on Monday to see there were already 3 runs during the weekend. Also, i have a huge analysis backlog, meaning that there are many failures to be analysed from times before we started to use the report portal.

I bet this happens a lot to everyb

[2018-10-31 09:59] VikasKrishnamraju commented on #511
Thank you @DzmitryHumianiuk. Will wait until 24 hours and let you know if i face any issues
As of now I'm on RP 3.0.5, need to upgrade to the latest

[2018-10-31 10:04] VikasKrishnamraju commented on #508
Hi Guys, so issue still persists with new user created on that problematic machine.
Attaching the screenshot and har file.
let me know if any more info required

[RP error_har.txt](https://github.com/reportportal/reportportal/files/2533703/RP.error_har.txt)

![rp error](https://user-images.githubusercontent.com/24792711/47780878-576a2200-dd22-11e8-9aaf-850c99ae1539.jpg)

[2018-10-31 11:33] rsvoboda commented on #514
I second this request, with thousands of tests if not realistic to keep up, especially when people have more responsibilities to cover. You may argue that Red Hat guys have weird use-cases, but I would call them large projects/enterprise use-cases.

[2018-10-31 12:01] rsvoboda opened #517 "Filters can be nested and organized into a tree allowing for hierarchical display"
**Describe the solution you'd like**
Filters can be nested and organized into a tree allowing for hierarchical display.

**Is your feature request related to a problem? Please describe.**
Currently all available filters are listed in _Launches_ and _Filters_ sections of RP (paging aside). With tens (even hundreds) of filters one can get lost.
Organizing filters into hierarchical structure is possi

[2018-10-31 12:56] DzmitryHumianiuk commented on #2
#396 related and mostly equal request

[2018-10-31 14:59] DzmitryHumianiuk commented on #514
@rplevka @rsvoboda got you guys.

we will brainstorm how to make it usable and friendly.

[2018-10-31 15:01] DzmitryHumianiuk commented on #511
Let's make it configurable from project settings page

[2018-10-31 15:31] #516 closed

[2018-10-31 15:45] DzmitryHumianiuk commented on #315
some of similar requested here #509, but mostly focused on the level of launches.

Today we had session on brainstorming initial requirements.
This update will bring significant changes into UI, and the way how we work and assume launches.

`Env` (for instance, browser + os, browser + env) values will became a launch filed, The same like `product_build` and `scope`.
First of all we will move forwa

[2018-10-31 15:58] rplevka opened #518 "The "page you are looking for does not exist" returns 200 instead of 404"
**Describe the bug**
when accessing a non-existing page, RP returns the "Page not found error", but the HTTP return code stays 200 instead of 404.

EDIT: this is reproducible with unavailable API service
- i reproduced this by killing the API container and tried to use API.

P.S. I believe this will be the case for 422 and other ones too

**Expected behavior**
HTTP record to be 404

**Versions:**

[2018-10-31 19:05] mcafeerun commented on #516
@e-olga , Thank you!

One question outside of this issue. What is the auth we should send in POST request? I used basic auth with report-portal UI login credentials, it did not work. Appreciate your help!

[2018-10-31 19:38] Kira-Lappo commented on #515
@DzmitryHumianiuk  both

And I was talking just about label with the latest launch date-time.
![widget-example](https://i92.fastpic.ru/big/2018/1031/2a/94456a5c78c3569808200ac7dc16622a.png)

[2018-11-01 09:16] khatray commented on #505
@ZeeshanFr  Please help with the documentation as am unable to install it on Windows server

[2018-11-01 10:40] khatray commented on #505
am getting error of ava.lang.NoClassDefFoundError while running nssm install RP_service_uat "<JDK path>\java.exe" -Xmx512m -DRP_SESSION_LIVE=86400 -DSERVER_PORT=9999 -DSPRING_PROFILES=consul -jar "<full directory path>\service-authorization-3.3.0.jar"

[2018-11-01 10:49] encyclopod commented on #505
@khatray Need download dependency archive https://dl.bintray.com/epam/reportportal/com/epam/reportportal/service-authorization/3.3.0/service-authorization-3.3.0.zip and unpack lib folder beside jar-app

[2018-11-01 11:14] VikasKrishnamraju commented on #508
Hi @DzmitryHumianiuk @e-olga @nvborisenko did you get a chance to look into above details.

[2018-11-01 12:59] DzmitryHumianiuk commented on #518
@avarabyeu 404 handling?

@rplevka looks like gateway returns you that he responded.
do you see 404 page on ui?

[2018-11-01 13:14] rplevka commented on #518
@DzmitryHumianiuk yes, that's exactly what is happening, but that is not cool. the page is called 404 for a reason ;)

[2018-11-01 13:36] bvpadmanaban opened #519 "Include 'Project Name' in Launch Completion EMail"
Hi,

I integrated report portal in our 10 projects automation. when i am getting launch completion email, i couldn't able to figure out the project name.

FYI, we are following same standard of Launch Name in projects and in description I added workaround of CI Integration tool (TC and Jenkins) build numbers , so that I couldn't add the project names in the Launch Name and Description.

It would b

[2018-11-01 14:38] e-olga commented on #516
Hi @mcafeerun
You should send a token. There are some kind of token are available in RP with different scope: "ui" and "api".
"UI" token has time limitation, it means that it is expired after some period (by default, in docker-compose.yml file 86400 sec is defined).
You can find the "access_token" ("ui") in response on `POST http://host:8080/uat/sso/oauth/token?grant_type=password&password=1q2w3e&

[2018-11-01 15:28] sberczuk opened #520 "API to Import Junit Results"
While I'm aware of the import function via the UI, I'm trying to figure out how to do this programmatically, either via an existing API or something I write (and to do that latter, I feel like I'm missing a sense of how the report elements fit together) . Our specific use case is:
1. Use the Newman command line runner to Postman API Tests, generating a JUnit XML report
2. Push the results toReport

[2018-11-01 15:52] mcafeerun commented on #516
Got it.. Thank you, Olga..

[2018-11-01 16:08] DzmitryHumianiuk commented on #515
@Kira-Lappo Ha! that's simple )

@evjlobanova let's consider this small update for next releases

[2018-11-01 16:14] DzmitryHumianiuk commented on #518
@rplevka got you

[2018-11-01 16:55] winstondz opened #521 "URL as hyperlink in logitem"
Hi,

Is there a way to provide a hyperlink when entering url as a logitem instead of plain text. I store video logs on a different server and post the url as a log item. I have to manually copy and paste the url back to the browser to navigate to it. If there was a hyperlink available in the logitem, it would be just one-click solution from report portal. I tried adding the html tags, but was unab

[2018-11-02 06:40] khatray commented on #505
Thanks a lot for your help

[2018-11-02 09:37] khatray commented on #505
am getting Windows cannot start RP_service_api  service on local computer error after running nssm install RP_service_api "<JDK path>\java.exe" -DSPRING_CLOUD_CONSUL_HOST=<ip address> -DRP_ISSUE_ANALYZER_DEPTH=4 -Xmx1g -Drp.uat.serviceUrl="http://<server IP or hostname>:8080/uat" -jar "<full directory path>\service-api-4.3.0.jar"

[2018-11-02 09:43] khatray commented on #505
same case with nssm install RP_service_uat "<JDK path>\java.exe" -Xmx512m -DRP_SESSION_LIVE=86400 -DSERVER_PORT=9999 -DSPRING_PROFILES=consul -jar "<full directory path>\service-authorization-4.2.0.jar"

[2018-11-02 10:13] VikasKrishnamraju commented on #508
Ooops.. never thought from that anti virus perspective..
He is able login now.
Thanks @DzmitryHumianiuk @e-olga @nvborisenko

[2018-11-02 10:35] khatray commented on #505
http://<server IP or hostname>:8080/ redirects to http://10.5.3.78:8080/ui/404.html with error "This page isn’t working
10.5.3.78 redirected you too many times.
Try clearing your cookies.
ERR_TOO_MANY_REDIRECTS"

all service status are in green http://127.0.0.1:8500/ui/#/dc1/services

api 2 passing
consul 1 passing
index 2 passing
uat 2 passing
ui 4 passing

[2018-11-02 10:59] trannguyenhung011086 commented on #520
+1 this.
My use case is:
1. run E2E test suites with Selenium + Jest -> export to JUnit xml report via jest-junit
2. import to ReportPortal

[2018-11-02 16:15] dmitryyu opened #522 "Defect comment is not updated during editing"
**Steps:**
1. Open Details for a failed test.
2. press "pen" to change defect type (for example, from "to investigate" to "system issue")
3. add new comment, for example: "123" and save the change
4. Open the "pen" again to edit comment.
5. type: "234" instead of "123" and press Save

**Actual behavior:**
The page is not refreshed and the comment stays the same.
If you reload the page - it will be

[2018-11-04 16:18] DariaTl opened #523 "Cant login for the first time - "connection refused""
Hi ,
I downloaded the docker image as in your documentation, all services are up and running ,I can see it after docker-compose up , all is in "done" state .
I do have more then 5 gb on my docker settings .
but for some reason when I'm trying to login I'm getting connection error , in my docker logs i can see this error   :
ERROR Cannot send request to ES: Get http://elasticsearch:9200/_cluster/he

[2018-11-05 08:02] khatray commented on #505
am getting below error

service-ui_win_amd64.exe RP_SERVER_PORT=8082"
"RP_CONSUL.TAGS=urlprefix-/ui opts strip=/ui" "RP_CONSUL.ADDRESS=i.p:8500"
 "**RP_STATICSPATH=\ui.tar\ui\public**"
2018/11/04 23:50:47 Service Registered!
2018/11/04 23:50:47 Starting on port 8080
2018/11/04 23:50:47 listen tcp :8080: bind: Only one usage of each socket addres
s (protocol/network address/port) is normally permit

[2018-11-05 08:05] khatray commented on #505
same error for serivice_index

C:\Users\mtaha\Desktop\New folder>service-index_win_amd64.exe "RP_SERVER_PORT=80
81" "RP_CONSUL.TAGS=urlprefix-/" "RP_CONSUL.ADDRESS=10.5.3.78:8500"
2018/11/05 00:04:36 Service Registered!
2018/11/05 00:04:36 Starting on port 8080
2018/11/05 00:04:36 listen tcp :8080: bind: Only one usage of each socket addres

[2018-11-05 11:48] DariaTl commented on #523
It was a mongodb error , i think it will be nice if you will mention in your documentation that there is mongodb changes that need to be done if we are running our containers on windows . i think it will reduce open issues about login .

[2018-11-05 12:48] #523 closed

[2018-11-05 14:29] DzmitryHumianiuk commented on #523
@DariaTl could you plz point which documentation you have used for it?

cc @encyclopod

[2018-11-05 15:11] evjlobanova commented on #521
@winstondz you can report logs with support of Markdown. For that please follow the steps http://reportportal.io/docs/How-to-activate

[2018-11-05 15:17] e-olga commented on #519
@bvpadmanaban
Could you please define where you would like to see the project name: in the Subject or in Body of the email?
Regards,
Olga

[2018-11-05 15:30] DariaTl commented on #523
http://reportportal.io/docs

[2018-11-05 17:59] bvpadmanaban commented on #519
Hi @e-olga ,

I would to see the project name in Subject.

Thanks,
Padmanaban

[2018-11-05 20:08] ZeeshanFr commented on #505
your UI and index service should run on different port not 8080, also try this for ui, i had "RP_STATICS_PATH=d:\ui\public" ,  at this time i have both variables. please look at the modification i made in the document for ui and index port settings.

[2018-11-06 04:19] MonkAlex opened #524 "How to get history by item?"
**Describe the bug**
In older version i can get item history by `uniqueId` (for example - `item?filter.eq.uniqueId=auto%3A6a791c938a1d08a4313a7fd48b5b377c`)
Now this query get error

**Expected behavior**
Any API to get history.

**Versions:**
 - Any OS, Firefox
 - Version of RP [ Analysis Service: 4.3.0; API Service: 4.3.0; Index Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.3.0; ]

[2018-11-06 06:43] khatray commented on #505
Havent got the issue resolved so far.

have started debugging the issue  and have started consul and fabio from cmd

see this messages in consul window after starting fabio.Is this normal.it goes away when i start index service at port 8080

   2018/11/05 22:40:13 [WARN] agent: Check "service:gateway-testmachine-8080-8080"
HTTP request failed: Get http://[10.1.1.56]:8080/health: net/http: request

[2018-11-06 09:39] khatray commented on #505
i can see the login page now but credentials given in documentation are not working
default\1q2w3e and superadmin\erebus.

"An error occured while connecting to server"

Looks like its not connected to mongodb.Any ways to troubleshoot

[2018-11-06 10:33] DzmitryHumianiuk commented on #524
@MonkAlex other option, based on ID
`/api/v1/project/item/history?ids=1be08d742ab79c0001febae6d&history_depth=10`

@e-olga @pbortnik plz check `filter.eq.uniqueId` availability

[2018-11-06 10:44] MonkAlex commented on #524
@DzmitryHumianiuk miss item/history controller, i try to use it.
History returned with diffirent ids, but with single uniqueId, that what i want.

[2018-11-06 15:09] pbortnik commented on #524
"Incorrect Request. Required String parameter 'filter.eq.launch' is not present"
To use this endpoint, you have to specify filter by launch id as well.

[2018-11-06 15:14] Moshik177 opened #525 "email notification"
Hi ,

i try to get notification mail after running build from the Jenkins , i configure the server details and the notification on project , but nothing is happening , i am running the test from the Jenkins and i am seeing the report on the website but no notification was sent from report portal , thanks!

[2018-11-06 15:30] DzmitryHumianiuk commented on #524
@MonkAlex an update for security reasons was made.
and it brings condition check, that you point to existing launch. which has reference to project, where you have access.

I guess we would not address it for 4.x versions.
it will be complicated update and time waste, since we are about to release 5.0

@e-olga plz submit a bug for 5.0 scope.

[2018-11-06 15:34] DzmitryHumianiuk commented on #525
@Moshik177

**1st.** check if email server configured in administration panel. http://reportportal.io/docs/Configuration-of-Report%3Eemail-server-configuration

**2nd.** RP will not send email, if launch not finished. And you see it on UI with running dots.
That means that your execution was not finalized by your process. Due to fail, or due to un-finished test cases in run.

[2018-11-06 15:43] Moshik177 commented on #525
all the launches were finished without the dots.. and i am configure the smtp server and i checked from the report portal address that i am getting to the smtp on the relevant port

[2018-11-06 15:54] DzmitryHumianiuk commented on #525
@Moshik177 dot's means that launches are still **in progress**.
You should find in logs message from report portal, similar to this:

`
{
   "error_code":40023,
   "message":"Finish launch is not allowed. Launch '5bcf54392ab79c00010b71fb' has items '[5bcf54d52ab79c00010b7305,5bcf54d62ab79c00010b7306]' with 'IN_PROGRESS' status"
}
`

that means that you test cases are still running. at the moment,

[2018-11-06 16:18] DzmitryHumianiuk commented on #505
@khatray no ui running. but api don't see database

[2018-11-06 16:28] Moshik177 commented on #525
i see the debug rp logs
for example.. 18:25:57.879 DEBUG c.e.r.s.Launch - rp-io-6 - TestItem with ID = '5be1c0663cdea20001cdfe53' successfully finished.
i am using testNG framework

[2018-11-06 16:34] DzmitryHumianiuk commented on #525
@Moshik177
find the same like { "error_code":40023, in logs
find which items it returns,
find log for those items

[2018-11-06 16:48] Moshik177 commented on #525
i can see this errors(below), after adding the debug rp logs at the beginning of the test, i will try to fix them , but i didn't see any "error_code":40023

18:25:00,018 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback-test.xml]
18:25:00,018 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
18:25:00,018 |-IN

[2018-11-07 08:11] dgur opened #526 "[FR] Adding attachments(Files) and logs to a launch"
**Describe the solution you'd like**
...
As a user I would like to attach information/ files to a launch level. Currently we are able to attach logs to failed test case only. But we would like to attach some information that is common to all the cases. For example some file that describes tested setup. Some global log relevant to all tests...

**Is your feature request related to a problem? Please

[2018-11-07 10:06] MonkAlex commented on #524
@DzmitryHumianiuk request `item/history?ids` help me, thanks.

[2018-11-07 13:57] Moshik177 commented on #525
i add the logger-java-logback dependency and the errors gone , but i still don't get the mail , can you advise?

[2018-11-08 11:17] encyclopod commented on #505
@khatray This is my settings. You may try start with delay between start  service. Start Consul in CMD, If you see registration event in consul, you may start next service.

fabio.properties

proxy.addr = registry:8080;rt=300s;wt=300s
registry.consul.addr = registry:8500
registry.consul.register.addr = registry:8080
registry.consul.register.name = gateway
ui.addr = :9998

api -DSPRING_CLOUD_CONSUL

[2018-11-08 12:29] DzmitryHumianiuk commented on #525
@Moshik177 stack trace above is all about missing logback libs.

try to find in logs:
`Finish launch is not allowed. Launch `
`Finish test item is not allowed. Test item`

[2018-11-08 12:44] StLuke commented on #433
Hi, any update on this?  @evjlobanova

[2018-11-08 13:02] evjlobanova commented on #433
@StLuke hello! now our team are working on moving to React and PostgreSQL, approximate date for the migration is the end of 2018 year. After it we are have plans to implement sub-launch view for launch, and after gradually add widgets based on tags. So it is difficult to say exact date.

About inner filters we are in the middle of discussion how to implement this and how to reflect it on UI. There

[2018-11-08 13:04] StLuke commented on #433
Thanks for the info @evjlobanova . Sounds really promising.

[2018-11-08 13:16] DzmitryHumianiuk commented on #524
@MonkAlex glad to hear.

another workaround for you:
1. call `item?filter.eq.uniqueId=id1&filter.eq.launch=id2` - parse item id (e.g. id3)
2. call `item/history?ids` with id3

[2018-11-08 13:16] #524 closed

[2018-11-08 13:58] Moshik177 commented on #525
i dont have finish launch..
at the end of the run i get

13:59:38.671 [main] INFO  TestRunner:60  - --------------------------------------------------Test: wizardSanityTest finished successfully.--------------------------------------------------
13:59:38.687 DEBUG c.e.r.s.Launch - rp-io-38 - TestItem with ID = '5be425083cdea20001ce3582' successfully finished.
13:59:38.687 DEBUG c.e.r.u.Subscriptio

[2018-11-08 14:09] Moshik177 commented on #525
i am also send test mail with my smtp server from the reportportal server (like the reportportal need to do just without the data) and it went well so it something on the configuration on the reportportal or on my project , what i must have to send a mail ... tell me

[2018-11-08 14:40] DzmitryHumianiuk commented on #501
@marklz
http://reportportal.io/docs/Issues-with-Analyzer:
You also might want to check official ES installation guide:
https://www.elastic.co/guide/en/elasticsearch/reference/5.4/docker.html

[2018-11-08 15:42] DzmitryHumianiuk commented on #525
RP send mail notification only for launches which finished correctly.

If you launches stays with running dots on UI, then these launches are not finished.
you have to find why your launch are not finalized properly.

try to drill down via launch structure, and find which suite is still running. which class and which test is still IN_PROGRESS state.
review the logs of it.

[2018-11-08 15:54] Moshik177 commented on #525
![image](https://user-images.githubusercontent.com/11841608/48209577-33d85480-e37e-11e8-920a-3f02eda34381.png)

there is not launch that are not finish , it's something else

[2018-11-08 20:13] DzmitryHumianiuk commented on #493
@ampc still actual?

[2018-11-09 01:11] rplevka commented on #520
[code]

[2018-11-09 17:12] ZeeshanFr commented on #505
use  RP_SERVER_PORT not RP_SERVER.PORT for  ui and index and this what i have.
Also clean fabio.properties files and only add what you need.

[2018-11-11 07:56] ebenahar opened #527 "[Feature request] In filters, allow multiple fields, of the same type (e.g launch name, tags etc.)"
I would like to filter according to different tags,launch-names,etc with different operators (e.g !cnt, equals, not equals).
This requires selection of multiple fields of the same kind will be allowed (i.e, picking the 'tags' field multiple time).

[2018-11-12 10:08] eliekoren commented on #522
Reproduced also when editing Defect Types (e.g. To Investigate -> Automation Bug)

[2018-11-13 08:02] DzmitryHumianiuk commented on #527
@avarabyeu can we make it possible for PD based version?

[2018-11-14 10:21] khatray commented on #505
strangely enough even if i give port 8081 and 8082 for UI and Index services ,these services try to register at 8080 only

[2018-11-14 10:53] khatray commented on #505
BTW which version of service authorization jar are you using

[2018-11-15 02:17] techhemant opened #528 "Unable to start the report server"
**Describe the bug**
Unable to launch the report portal successfully

**Expected behavior**
with docker-compose up described in  https://github.com/reportportal/reportportal I should have the reportportal up and running at localhost:8080

**Screenshots**
test_elasticsearch_1 is up-to-date
test_jira_1 is up-to-date
Starting test_gateway_1 ...
test_rally_1 is up-to-date
test_mongodb_1 is up-to-date

[2018-11-15 08:15] anttniem commented on #259
What is the status of showing sub-launch statistics (i.e. filtering possibilities under main launch testset results)?

[2018-11-15 09:09] encyclopod commented on #505
@khatray What about running services? Maybe one or more service is not started. String: "Current version is indicator of services".
![123](https://user-images.githubusercontent.com/34941277/48542106-58c54e00-e8cf-11e8-971f-5b8dcdba1a67.png)

[2018-11-15 11:41] khatray commented on #505
am getting this mesage while i just started consul and fabio

![image](https://user-images.githubusercontent.com/42056501/48550705-845d2e00-e8f9-11e8-9687-bfa1d20bbc20.png)

[2018-11-15 18:47] DzmitryHumianiuk commented on #521
considered as resolved

[2018-11-15 18:47] #521 closed

[2018-11-15 18:57] DzmitryHumianiuk commented on #525
@Moshik177 ok. looks like you launches completed correctly.

Just to double check.
You have correct configuration at `Administrate`->`server settings`->`E-mail server`?

[2018-11-15 19:12] DzmitryHumianiuk commented on #528
@techhemant it says that you ports `8500` and `8080` are in use.
most probably you have smth running on this ports. Jenkins, ...?

update you **docker-compose.yml** accordingly
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L30
replace with `"8501:8500"`

https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L72
`      - --consulcatalog.endpoint=r

[2018-11-15 19:16] DzmitryHumianiuk commented on #520
@sberczuk @tamasmartin
does this help?
http://reportportal.io/docs/Logging-Integration

[2018-11-15 19:17] DzmitryHumianiuk commented on #519
@e-olga @evjlobanova let's take is as improvement for 5.0

[2018-11-15 19:19] #512 closed

[2018-11-15 19:21] DzmitryHumianiuk commented on #511
@evjlobanova @e-olga
let's have it into next release, after `5.0asis`

[2018-11-15 19:43] Moshik177 commented on #525
yes,  i config the smtp mail server of the organization , (i am getting mails from the Jenkins with this smtp mail so it's not the issue) and i also send echo mail test from the report portal server through smtp mail , maybe i need to configure something else i don't know  (beside the mail server and the notification) , maybe you can clarify

[2018-11-16 10:05] encyclopod commented on #505
@khatray , try to start the next service in order. Fabio run without errors after start index-service.

[2018-11-16 13:53] DzmitryHumianiuk commented on #525
@Moshik177 let's see what we have in response from server.

Open **server config page**
![image](https://user-images.githubusercontent.com/11332788/48625159-7540b380-e9bf-11e8-9f84-480b91535def.png)

Open browser console. Open Network tab
![image](https://user-images.githubusercontent.com/11332788/48625189-97d2cc80-e9bf-11e8-9179-928bebb65568.png)

Add config and click **Submit**
see what is in `e

[2018-11-16 15:18] DzmitryHumianiuk commented on #520
@sberczuk issue can be closed?

[2018-11-18 23:01] ranga543 opened #888 "Authentication/authorization support using github enterprise"
* I'm not a `JAVA` developer but based on code, I'm guessing it supports `github.com` but not `GitHub Enterprise`
* I was looking around and I came across this `https://<my-reportportal>/uat/settings/default/oauth/github` api endpoint to update but it's returning `400 status code`
[code]
* And I'm assuming based on this line of [here](https://github.com/reportportal/service-authorization/blob/mast

[2018-11-20 16:48] lvonah commented on #405
@DzmitryHumianiuk I ended up editing the jira image to add jira cert to keystore in the container on creation and referencing that updated image in the compose file

[2018-11-21 08:59] evjlobanova commented on #332
@ailjushkin @slavamarkovski  Hello, we have prepared some mock ups for this feature, and we are planning to conduct a user testing session. So may be you want to participate in it? A approximate duration 30 min.

[2018-11-21 09:52] slavamarkovski commented on #332
@evjlobanova Hi, when are you going to do it?

[2018-11-21 09:53] evjlobanova commented on #332
@slavamarkovski we can make it today or tomorrow

[2018-11-21 10:49] penknife opened #529 "(Ruby - Cucumber)Not all scenarios are shown in report when they are run in parallel"
**Describe the bug**
When I run scenarios for example in 5 threads (1350 scenarios) (via parallel_tests gem), I can see only 3 threads (940 scenarios for example) in Repost Portal launch. I cannot see all scenarios which should be run. I have thoughts that a not all scenarios are run with -f ReportPortal::Cucumber::ParallelFormatter . When I have run scenarios with default html report everything g

[2018-11-21 14:00] DzmitryHumianiuk commented on #529
@aliaksandr-trush, @abotalov, any ides?

[2018-11-21 14:02] DzmitryHumianiuk commented on #527
@ebenahar @rplevka,
@pbortnik currently works on it.
RP will have advanced query builder.

we even think to introduce **advanced query search** as text field, like JIRA has.

[2018-11-21 14:37] DzmitryHumianiuk commented on #405
@lvonah workable approach!
good one

[2018-11-21 20:47] ailjushkin commented on #332
Thank you very much indeed. It's a big pleasure to communicate with you within an interval of time between 2 PM and 4 PM.

[2018-11-22 08:59] evjlobanova commented on #332
@ailjushkin @AleksYurchenko let`s set up a call at 2 PM (Minsk time), I`m adding a details in Skype

[2018-11-22 13:20] roniezr opened #530 "Report Portal to separate between Error & Fail"
**Describe the solution you'd like**
It seems that `pytest` separates between Error and Fail.
- Fail is when the tested issue is not working as expected.
- Error is when a failure occurs before and after the tested issue (setup & teardown).

For example:
If my test issue is to check ping between two Clients and the test fail during client initialization
then it is an Error, but if ping is not repl

[2018-11-22 13:30] DzmitryHumianiuk commented on #530
@roniezr will it work, if you send it like `FAIL` status, but push it with custom defect type?
for instance, send as Failed, ErrorFail (from system issue group)?

[2018-11-22 13:31] DzmitryHumianiuk commented on #530
@reportportal/python-contributors what do you guys think?
is it the common approach to use ERROR status?

[2018-11-25 02:24] marklz opened #531 "JIRA is not possible to configure, jira microservice is running"
Despite JIRA microservice running and appearing to be healthy, still can't configure connection to JIRA
![image](https://user-images.githubusercontent.com/15986784/48974761-4796e280-f02f-11e8-8d8b-324ec3634582.png)
![image](https://user-images.githubusercontent.com/15986784/48974763-5087b400-f02f-11e8-8933-c0b3a4316fc3.png)
![image](https://user-images.githubusercontent.com/15986784/48974764-554c6

[2018-11-26 08:30] encyclopod commented on #531
@marklz, Have you changed the compose file? I tried to reproduce the problem on vagrant with configuration 1 cpu and 4 gb memory. Can you give more details about configuration?
![untitled](https://user-images.githubusercontent.com/34941277/49001720-9d25d900-f16e-11e8-94f4-3f12f796b940.png)

[2018-11-26 09:18] encyclopod commented on #497
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Any further update will cause the issue/pull request to no longer be considered stale. Thank you for your contributions.

[2018-11-26 09:43] encyclopod commented on #518
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Any further update will cause the issue/pull request to no longer be considered stale. Thank you for your contributions.

[2018-11-26 11:47] marklz commented on #531
No, I have not change the file - how should I do it? I had a vague recollection that I need to do it, but couldn't find related documentation...

[2018-11-26 12:09] encyclopod commented on #531
By default, you don't change compose file. Can you show the output of the command? **docker logs < jira container id >**

[2018-11-26 12:11] marklz commented on #531
[code]

[2018-11-26 14:50] encyclopod commented on #531
@marklz, try remove consul data or volume of consul.

[2018-11-26 15:08] marklz commented on #531
No login page if I do this (404). Reverting the change.

[2018-11-26 16:04] encyclopod commented on #531
Need remove consul data and rebuild all apps.

[2018-11-26 16:11] marklz commented on #531
Let's get specific
#1 - which lines to remove from docker-compose.yml?
[code]
#2 - what's the command to rebuild all apps . I use
[code]

[2018-11-27 07:30] encyclopod commented on #531
Don't change docker-compose file, if your configuration of server is specific (read documentation http://reportportal.io/docs/Additional-configuration-parameters). Command is correct. What about Consul service? Do you see the services there? server_ip:8500/

[2018-11-27 11:46] marklz commented on #531
For some reason, it started working when I logged in today - they only difference I see is that in a list of services on a login screen I now see "API Service: 4.3.0" in red; haven't seen it before.

[2018-11-27 11:58] encyclopod commented on #531
red status - update available

[2018-11-27 12:16] #497 closed

[2018-11-27 12:17] encyclopod commented on #528
This issue has been marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Any further update will cause the issue/pull request to no longer be considered stale. Thank you for your contributions.

[2018-11-27 12:17] #528 closed

[2018-11-27 12:19] #518 closed

[2018-11-27 13:56] tcnh opened #532 "ANSI console coloring support"
**Describe the solution you'd like**
Support for ANSI formatting of console output. I have a test listener that generates test-analyst readable console output. This output color-codes passed/failed asserts, exceptions, meta-information, etc. (see example screenshot below)

Having these logs available in its full form in RP would speed up defect analysis, because there would be far less need to swi

[2018-11-29 20:19] agdula commented on #532
This is a feature that I'd be happy to see - have similar case. If there is anyone that could give me a direction on what to change I'd be willing to make changes myself and make PR.

[2018-11-30 15:08] mcafeerun opened #533 "QUESTION: API Documentation for Java Client similar to JavaScript Client"
Hi,

The reportportal JavaScript client has very good API [documentation](https://github.com/reportportal/client-javascript)  But, i could not find any documentation for [Java Client](https://github.com/reportportal/client-java). Since i'm familiar with reportportal implementation for javaScript frameworks, all i'm looking for is the some basic info for java client such as,
- Maven dependencies
-

[2018-11-30 15:29] VitaliiDolotov commented on #264
Hi guys, is this already implemented? As soon as I can see reportPortal count retries as separate tests but according to the requirements about shouldn't be. Or to achieve this some sort of setup is required?

[2018-11-30 16:02] DzmitryHumianiuk commented on #533
@mcafeerun good catch.
We also expect some contribution for this docs.

Most of java related documentation covered in corresponding agents, which use client:
https://github.com/reportportal/agent-java-junit
https://github.com/reportportal/agent-java-testNG
and here
http://reportportal.io/docs/JVM-based-clients-configuration

but it definitely should be extended in  [Java Client](https://github.com

[2018-11-30 17:14] mcafeerun commented on #533
@DzmitryHumianiuk thanks much!

if i get a starting point, i could definitely contribute on the documentation/wiki for Java Client.

[2018-11-30 22:30] ZeeshanFr commented on #533
i have create a java library to use with custom java, i covered only what i needed for my requirement, and i integrated with SOAtest and Selenium custom java framework, i can published them somewhere if any one wants to use and enhance them. initially i was on same boat as you but i start going through other client source code to understand the flow.

[2018-12-03 19:44] ZeeshanFr commented on #533
i will put some thing this coming weekend

[2018-12-03 19:56] mcafeerun commented on #533
Thanks!

[2018-12-03 22:58] jhutar opened #534 "QUESTION: dial tcp: lookup ... on 127.0.0.11:53: no such host"
Hello. Please what does this message that is filling my logs mean? I have problems with RP stability and this is one of the clues I'm investigating:

[code]

[2018-12-03 23:19] jhutar commented on #534
Hmm, looks like I had to delete `consul/*` data and restart RP. Is this expected?

[2018-12-04 13:12] penknife commented on #529
Dudes DO you have any ideas?

[2018-12-04 13:17] aliaksandr-trush commented on #529
@penknife
1. "warning" message doesn't related to the issue.

2. The issue is possible when one of the formatter threads received error and unable to continue.
Could you attach more logs around "RestClient::BadRequest: 400 Bad Request"?

[2018-12-04 14:31] penknife commented on #529
Also I have seen this warnings and errors in log
 /Users/runner/.rvm/gems/ruby-2.3.7/gems/rest-client-2.0.2/lib/restclient/request.rb:377:in `block in make_headers' : warning: Overriding "Content-Type" header "multipart/form-data" with "multipart/form-data; boundary=----RubyFormBoundaryPkAAQ2N7fi9m1vjh" due to payload (StructuredWarnings::StandardWarning)

	[Step 5/5] undefined method `key?' for n

[2018-12-05 21:00] prvns133t opened #535 "Internal server error when I run the test with report portal listener enabled"
**Describe the bug**
When ever I run a test with ReportPortal Listener enabled in testng.xml I get internal server error  like below

[code]
**Expected behavior**
It should log the results to report portal successfully

**Screenshots**
If applicable

**Versions:**
 - Mac OsX
 - Version of RP [find it under Login form, copy as is]
		<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artif

[2018-12-05 21:13] DzmitryHumianiuk commented on #535
@prvns133t check you server is up and running.
can you login into it?

[2018-12-05 21:29] DzmitryHumianiuk commented on #535
@prvns133t configuration for `reportportal.properties` copied from profile page?
like below
[code]

[2018-12-05 23:22] prvns133t commented on #535
Yes. I have all the properties correct.

[2018-12-06 12:39] ochubey commented on #535
Same issue on Build: 4.3.0.
Just installed latest version on local Mac, redirected endpoint from external to local (udid, project were updated accordingly) and get this error that was never get on Build: 4.2.2.
Nothing (excelp required items were changed in reportportal.properties) was changed in configuration of the automation framework.

[2018-12-06 14:32] penknife commented on #529
Will be it enough details?

[2018-12-06 16:07] prvns133t commented on #535
When I use report portal testng version 3.0.0 I get the following exception

Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "number" (class com.epam.ta.reportportal.ws.model.EntryCreatedRS), not marked as ignorable (one known property: "id"])
 at [Source: (byte[])"{"number":13,"id":"5c09490d3cdea200015235ce"}"; line: 1, column: 13] (through referenc

[2018-12-06 18:12] prvns133t commented on #535
For the internal server error. This is what I see in the logs

`ui_1             | 2018/12/06 18:10:19 "GET http://0716a299207a:8080/health HTTP/1.1" from 172.18.0.6:40666 - 200 16B in 413.1µs
index_1          | 2018/12/06 18:10:23 "GET http://735658c95426:8080/health HTTP/1.1" from 172.18.0.6:55122 - 200 16B in 38.4µs
ui_1             | 2018/12/06 18:10:24 "GET http://0716a299207a:8080/health HTT

[2018-12-07 14:33] DzmitryHumianiuk commented on #535
@pbortnik plz take a look into **500 server error**
which is valid for 2 separate parties.

[2018-12-07 14:38] prvns133t commented on #535
@DzmitryHumianiuk  : I was able to fix it. It's not an issue in RP. I created a project in RP which is not available for a user. I used this user's UID to post to that project. It then throws internal server error.

The error message should be "Project unavailable" or "Unknown project". Instead it throws internal server error.

[2018-12-07 14:56] DzmitryHumianiuk commented on #535
@prvns133t good.
@ochubey same for you?

[2018-12-07 14:57] DzmitryHumianiuk commented on #535
@prvns133t agree that message is incorrect.

@pbortnik @evjlobanova plz take it into backlog, to verify before 5.0 release.
in described situation above, message should be relevant.

[2018-12-07 23:19] mcafeerun commented on #533
@zeeshanFr hope we can get some documentation this weekend. Again, much appreciate your help!!

[2018-12-10 13:09] tayalakansh opened #536 "Not able to create JIRA with custom field as instead of field value the api is sending field id"
**Describe the bug**
I have a custom field in JIRA of type selectlist. /api/v1/calm/external-system/5c0e41c230c49e00014654bd/ticket is sending custom field value in format:

{value: ["19766"], required: false, id: "customfield_20872"}

which is failing with error - Error occurred: {"error_code":40302,"message":"Impossible interact with external system. [ErrorCollectionstatus=400, errors=customfiel

[2018-12-10 13:35] tayalakansh commented on #536
This was fixed as part of https://github.com/reportportal/service-jira/pull/15/commits/8840097073ca5421789d01ff728d1eb29b82ff54 but now this fix is not present on 4.3.0 tag https://github.com/reportportal/service-jira/blob/4.3.0/src/main/java/com/epam/reportportal/extension/bugtracking/jira/JIRATicketUtils.java#L153

[2018-12-10 15:30] Kira-Lappo opened #537 "Share edit rights for dashboards"
Currentlly noone can edit dashboard except its creator.
Could you add possibiltiy to edit dashborad for many users?

[2018-12-11 12:43] evjlobanova commented on #537
@Kira-Lappo Hello, now we don`t have such possibility, and do not plan to implement yet. As a workaround, you can create a special user for creating and editing  dashboards.
Anyway I was wondering, in which case you want to edit dashboards, why they are needed to be updated.

[2018-12-12 05:49] tayalakansh commented on #536
@DzmitryHumianiuk @pbortnik I am not able to create any Jira ticket through RP due to this issue. Please let me know how can this be fixed.

[2018-12-13 22:23] Kira-Lappo commented on #537
@evjlobanova  We have several teams and each one has its own automation scopes and dashboards as well.
Dashboard are supported by AQAs in the teams, so we want to easily share edit rights or even just change the owner of each dashboard in case of changes in the teams.
For now, yeah, we created special "dashboard overseer" user.

[2018-12-14 16:20] abasau opened #538 "More graceful handling of displaying test failures on different levels"
When filtering failed test items by Defect Type (e.g. clicking To Investigate badge on Launches page) and the test items have different Types (e.g. STEP and TEST), the page will not show STEP failures correctly and Defect type Dropdown will look incorrectly.

![image](https://user-images.githubusercontent.com/6681200/50014269-7d294e80-ff91-11e8-8558-cc09c2567371.png)

I would expect at least STEP

[2018-12-14 19:34] le1ia commented on #396
@DzmitryHumianiuk is this still on track for Dec 2018 timeframe?

[2018-12-15 13:42] aquadrehz commented on #244
I'm still looking forward for this too.
Is there any road map or request for implementation?
Maybe we can discuss.

[2018-12-18 14:59] kirill-d-lappo opened #539 "[Widget] Pivot chart widget for several results"
Do you have in plans add pivot chart widget which contains launch result for several launches ("last launch" and "overall") in the same place? Here example is (fake data, Excel, but anyway) :

![example](https://i.ibb.co/k4PvkDc/2018-12-18-17-49-19.png "Base structure of the widget")

Such result widget would allow us to compare, for example, launches of the same test scope on different environmen

[2018-12-18 16:49] DzmitryHumianiuk commented on #539
@Kira-Lappo we have something similar, called `Product status` widget.

Idea behind it is to group in table view all launches, which belongs to particular filter (tag with build version, for instance).
smth like this:
![image](https://user-images.githubusercontent.com/11332788/50169123-ff9d6f80-02fd-11e9-8cba-8b9354a5ffb1.png)

[2018-12-18 17:33] DzmitryHumianiuk commented on #396
@le1ia `5.0asis` will not have it.
but will be with high priority after it.

[2018-12-18 18:44] Kira-Lappo commented on #539
@DzmitryHumianiuk starting from what version is this widget available?

[2018-12-18 20:16] DzmitryHumianiuk commented on #539
@Kira-Lappo not yet planned.
Maybe March2018

[2018-12-19 11:50] roniezr commented on #530
I'd glad to see new STATUS type called "Error" instead of all "FAILED" as we have today

[2018-12-19 13:18] penknife commented on #529
Aso I have seen that  for example from 4 threads in report I have 3 threads, so some threads are not shown in RP or not launch

[2018-12-19 16:11] narayan907 opened #540 "Item Description not coming sometimes for all test cases"
**Describe the bug**
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2018-12-19 17:32] denispnz opened #541 "Restart ReportPortal"
Всем привет! Подскажите как корректно нужно и можно перезапускать сам портал без потери данных?  Работает на докер. после попыток перезапуска постоянно пишет что порты заняты и получаю много ошибок. mongodb в докере.

ui_1             | 2018/12/19 17:30:36 Cannot register service: Put http://registry:8500/v1/agent/service/register: dial tcp 172.20.0.6:8500: connect: connection refused
registry_1

[2018-12-19 17:33] denispnz commented on #541
Ошибки типа:

Attaching to ddruzhinin_elasticsearch_1, ddruzhinin_jira_1, ddruzhinin_gateway_1, ddruzhinin_rally_1, ddruzhinin_ui_1, ddruzhinin_registry_1, ddruzhinin_mongodb_1, ddruzhinin_analyzer_1, ddruzhinin_index_1, ddruzhinin_api_1, ddruzhinin_uat_1
gateway_1        | time="2018-12-19T17:30:37Z" level=error msg="Failed to retrieve health checks" error="Get http://registry:8500/v1/health/stat

[2018-12-19 22:20] jhutar opened #542 "unable to create a link to the result log page - page keeps reloading"
**Describe the bug**
Given project name, launch id and log result id, I'm unable to construct functional link to test result. When link is opened, page keeps reloading.

**Expected behavior**
It should be possible to create nice link to single test result (logs page) I can share with other users in the project.

**Screenshots**
Page is reloading quickly and history bar is getting duplicated:
![scr

[2018-12-19 22:21] jhutar commented on #542
CC @rplevka and @schlupov

[2018-12-20 08:53] trinhpham commented on #530
IMO, agree to @roniezr, we should separate these statuses.
- ERROR means something make the test cannot be run correctly => Either test script, configuration or test environment need to be reviewed and fixed. This work should be allocated to Testers/QAs side.
- FAILED means the test ran correctly, and its check is failed => Report to Developer for the issue.

[2018-12-20 09:09] rplevka commented on #542
@jhutar thanks for reporting this. it was making me mad

[2018-12-20 10:38] evjlobanova commented on #540
@narayan907 could you please send steps for representation

[2018-12-20 10:46] DzmitryHumianiuk commented on #541
@denispnz most likely you should clean consul cache folder
`data/consul`

if you loose data in mongo, then you should use setup with mongodb deployed separately.
example of config can be combined at Download page. Under this button:
![image](https://user-images.githubusercontent.com/11332788/50280372-5c636c00-045d-11e9-91af-d5f1d4293580.png)

or if you still want to use mongo in container, that mo

[2018-12-20 11:05] DzmitryHumianiuk commented on #542
@jhutar @rplevka this already fixed in 5.0
which is about to be released.
won't fix in 4.3.+ version

[2018-12-20 12:33] #540 closed

[2018-12-20 12:35] narayan907 opened #543 "Launch Not finishing even after its completion, its still showing In Progress"
**Describe the bug**
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2018-12-20 13:01] DzmitryHumianiuk commented on #543
this situation appears when your test runner try to finish execution, but some of test cases are still in progress at this moment.

take a look at the test cases, which has IN_PROGRESS state. They causes this situation.
Find out why they still in progress at the moment, when runner finalize all execution.
This will help you to make code clean.

**Resolution:**
We will remove this constraint in 5.0

[2018-12-20 13:07] narayan907 commented on #543
No ,the test case failed, still its not finishing launch on suite level,check screen shot
![screen_082](https://user-images.githubusercontent.com/39002876/50286715-4cac4d80-0486-11e9-944d-6464dd7d6c2d.png)
![screen_083](https://user-images.githubusercontent.com/39002876/50286723-53d35b80-0486-11e9-8c51-9f098dd13efe.png)

[2018-12-20 13:30] DzmitryHumianiuk commented on #543
@narayan907 than it can be 2 reasons:
1) `FinishLaunchRQ` sent before  `FinishTestItemRQ`. Or with the equal timestamp.
2) Due to any reasons, runner do not sent `FinishLaunchRQ`

Check the logs of you test automation. There should be the message, returned by ReportPortal.
This will give us a clue.

[2018-12-20 15:31] denispnz commented on #541
docker-compose stop , is it if in daemon mode.

[2018-12-20 19:43] lifemanship commented on #463
Thanks for the answer, and one more question do you plan to provide some functionality to migrate data from mogo db to postgress db?

[2018-12-20 19:43] #463 closed

[2018-12-20 20:47] DzmitryHumianiuk commented on #463
@lifemanship yes. We will provide

[2018-12-20 21:41] le1ia commented on #396
@DzmitryHumianiuk Thank you, my team is very much looking forward to this feature :)

[2018-12-21 09:42] jhutar commented on #542
Awesome, thank you!

[2018-12-21 10:21] jhutar commented on #378
Some start seems to be here: https://github.com/grafuls/service-bugzilla

[2018-12-24 11:06] yhthahira commented on #244
Please let us know on the current status of integrating JMeter and Report Portal

[2018-12-25 12:51] Zakaryan92 opened #544 "ReportPortalExсeption status: 406 Error Type: FINISH_TIME_EARLIER_THAN_START_TIME"
Error Message: Finish time 'Thu Jan 01 00:00:00 UTC 1970' is earlier than start time 'Tue Dec 25 12:36:55 UTC 2018' for resource with ID '5c2225bfbfe5230001e4a049'
Error Type: FINISH_TIME_EARLIER_THAN_START_TIME

	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:83)
	at com.epam.reportportal.service.ReportPortalErrorHandler.handle(ReportPortalErro

[2018-12-25 12:52] Zakaryan92 commented on #544
<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-testng</artifactId>
			<version>4.2.1-BETA</version>
		</dependency>
		<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>logger-java-logback</artifactId>
			<version>4.0.0</version>
		</dependency>
		<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>logger-java-log4j</arti

[2018-12-25 12:59] Zakaryan92 commented on #544
<groupId>com.epam.reportportal</groupId>
	<artifactId>agent-java-testng</artifactId>
	<version>4.2.1-BETA</version>

[2018-12-27 16:07] nvborisenko opened #545 "[dotnet] Make it possible to override ReportPortal.config.json values via environment variables"
**Describe the solution you'd like**
Current approach is storing values in config file. It would be nice to specify env variable in config, so agents will use them instead of file's values.

[code]

[2018-12-27 19:30] nvborisenko commented on #545
Yes, already assigned.

[2019-01-02 17:01] dmitryyu commented on #516
just remove "disable" attribute for the field in the DOM of the page - and update it directly in your browser. :)

[2019-01-08 12:58] bawarim opened #546 "Connection Refused error"
Hi,

I have integrated my cucumber test framework with report portal. But I am getting below error when running my cucumber feature file with report portal.

[code]

[2019-01-08 15:56] DzmitryHumianiuk commented on #546
@bawarim connection to server was closed.
check if it's reachable from testing environment.

[2019-01-08 19:35] mcafeerun commented on #533
@ZeeshanFr @DzmitryHumianiuk - Can anyone of you help me to head start this?

[2019-01-09 03:38] bawarim commented on #546
Yes, report portal server is reachable from the execution machine. My report portal is installed on linux machine and I am executing my script on windows VM.

[2019-01-09 07:42] akoltochihin commented on #546
Try to use
`rp.endpoint=http://172.26.52.103:8080`
in `reportportal.properties`, probably it will help

[2019-01-09 09:48] bawarim commented on #546
@akoltochihin  That worked. Thank you 👍

[2019-01-09 10:22] richmanfx opened #547 "Preview for attached HTML and PDF."
**I would like to see previews for attached HTML and PDF files in the RP report, not just icons as in the screenshot.**
...
![image](https://user-images.githubusercontent.com/13037148/50893251-79aea900-1411-11e9-93da-1aeef4e8dcef.png)

[2019-01-09 11:20] jhutar opened #548 "it is hard to copypaste test name (and nothing else)"
**Describe the bug**
It is hard to copypaste test name (and nothing else):
- if you click between test name and "Refresh" button and attempt to highlight test name (move mouse to the left) to be able to Ctrl+C it, it also highlights "Refresh" button
- if you click between launch name and test name attempt to highlight test name (move mouse to the right) to be able to Ctrl+C it, it also highlights

[2019-01-09 12:06] DzmitryHumianiuk commented on #546
### **Resolution:**
copy correct configuration from Profile page of you instance.

[2019-01-09 12:06] #546 closed

[2019-01-09 12:08] DzmitryHumianiuk commented on #548
@evjlobanova I guess, to search for corresponding test class in code within IDE

[2019-01-09 12:40] Zakaryan92 commented on #544
@nvborisenko can you view this?

[2019-01-10 11:01] michalfar opened #549 "Test execution hangs: ReportPortal exception: System.NullReferenceException: Object reference not set to an instance of an object"
**Describe the bug**

ReportPortal Client throw exception during running nunit tests using nunit3console:

ReportPortal exception was thrown.
System.NullReferenceException: Object reference not set to an instance of an object.
   at ReportPortal.NUnitExtension.ReportPortalListener.FinishTest(XmlDocument xmlDoc)
ReportPortal exception was thrown.
System.ArgumentException: The tasks argument include

[2019-01-10 20:46] nvborisenko commented on #549
Based on the exception I can suppose that some unusual case appeared in TestResult.xml. It's hard to investigate what was happened without details. @michalfar is it possible to share your `TestResult.xml` file. It would be very helpful in fixinng this issue. If it's possible, please point me on the test name which you see as unfinished on Report Portal web interface.

[2019-01-11 05:51] adhithyasrinivasan opened #550 "Please provide a way to update required listener parameters programatically"
**Describe the solution you'd like**
... Currently report portal supports loading launch name from property file and run configuration. I have to dynamically update the launch name with the testng suite name or testng test name depending upon the situation i am working on.

please provide a way to update the desired listener parameters through java code.

**Is your feature request related to a pro

[2019-01-11 10:18] michalfar commented on #549
@nvborisenko
It is only one test runned a few times.

[TestResult.txt](https://github.com/reportportal/reportportal/files/2749202/TestResult.txt)

[2019-01-11 11:00] nvborisenko commented on #549
Fixed in `ReportPortal.NUnit v3.5.1`.

The issue was in `Assert.Fail()` code in your tests, in this case nunit doesn't generate `failure message`, only stacktrace. `failure message` property was considered as required property by listener.

[2019-01-11 12:04] nvborisenko commented on #544
I am from .net world. @Zakaryan92 I suggest to provide more details like:
how you execute tests
is this issue reproducible always
try to prepare small test project to reproduce the issue

[2019-01-11 12:21] michalfar commented on #549
Thanks for help.
When I try to update ReportPortal.NUnit to the v3.5.1. I got following error:
The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element. If the project has been authored in the old 1.0 or 1.2 format, please convert

[2019-01-11 13:15] nvborisenko commented on #549
Fixed in `ReportPortal.Shared 2.1.1` as well as in `ReportPortal.Client 2.1.7`. Please upgrade these package and verify.

[2019-01-11 14:13] michalfar commented on #549
Great. It works like a charm.
@nvborisenko many thanks!

[2019-01-11 14:30] nvborisenko commented on #549
Thanks for issues.

[2019-01-11 14:30] #549 closed

[2019-01-13 03:06] Balamurugan-R commented on #527
@DzmitryHumianiuk Interested in knowing targeted release timeline for this feature?

[2019-01-14 19:35] nvborisenko commented on #264
@VitaliiDolotov could you please create a separate issue in https://github.com/reportportal/agent-net-specflow repository with describing how you use scenario retries in specflow? Will think about how to implement it.

[2019-01-16 08:53] bawarim opened #551 "Please add a widget to display feature file count"
I would like to see widget for execution status based on number of feature files executed, for my cucumber framework reports.
Also if this feature count could be displayed in launches as well.

[2019-01-16 09:16] evjlobanova commented on #97
@bawarim
just open a dashboard that you need;
click on Print in browser menu
choose Destination : PDF
and save file
![image](https://user-images.githubusercontent.com/30413511/51238650-758e0880-1988-11e9-82e8-700d7ade81a4.png)

[2019-01-16 09:34] bawarim commented on #551
I want to view the status of the total feature file executed. E.g. if 15 feature files has been executed then i can see the graph where it shows the number of feature file failed & passed.

Please see the attachment for reference.
[Feature_Widget.docx](https://github.com/reportportal/reportportal/files/2763485/Feature_Widget.docx)

[2019-01-16 09:43] evjlobanova commented on #97
@bawarim for now you can use only print.css just as workaround.

I have added  Mailing feature to backlog with feature requests.
Now the ReportPortal team is busy with migration to PostgreSQL and ReactJS, so we can not implement new feature.
But  your feature will be considered this feature in future plans.

[2019-01-16 09:51] DzmitryHumianiuk commented on #97
@bawarim we will consider this for implementation.
maybe thru additional plugin for notification

[2019-01-16 09:51] DzmitryHumianiuk commented on #97
@bawarim we will consider this for implementation.
maybe thru additional plugin for notification

[2019-01-16 09:58] evjlobanova commented on #551
@bawarim
We are planning to introduce after migration new feature #259  Sub-launch view  where user can see dashboard with widgets based on test cases from one particular launch.
So on this dashboard we can consider to add widget that shown a status of all suites in launch. Does it cover your need?

Could you please share with  nesting levels of your tests. You report your results : Launch= Scenar

[2019-01-16 10:07] bawarim commented on #551
Nesting levels of my test is
Launch= Feature > Scenario > Steps, if i run it Through StepReporter. In this case i can see the dashboard widget by executed steps, not by scenario & features.

Launch= Feature > Scenario, if i run it Through ScenarioReporter. In this case i can see the dashboard widget by executed scenarios only, not by features.

So if #259 contains the flexibility to view the widge

[2019-01-16 10:09] bawarim commented on #97
@evjlobanova @DzmitryHumianiuk  Sure. Thank you!

[2019-01-16 14:10] evjlobanova commented on #551
@bawarim
so could you please confirm:
*Actual flow*
you create  Overall statistics widget;
you choose Filter for this widget;
output:
![image](https://user-images.githubusercontent.com/30413511/51252288-7c2e7700-19ac-11e9-897a-e5478d048b26.png)

*Requested flow*
you create Overall statistics widget;
you choose Filter for this widget;
![image](https://user-images.githubusercontent.com/30413511/5125

[2019-01-17 04:41] bawarim commented on #551
Correct. I need all graphs (based on scenario, steps & Feature) for a same launch.

[2019-01-17 10:24] bawarim opened #552 "Integration with TFS - for bug tracking"
Hi All,

It would be nice to have integration with Team Foundation Server (TFS) for bug tracking purpose. like we currently have for JIRA and Rally.

[2019-01-17 10:41] evjlobanova commented on #551
@bawarim

We have removed numbers from the widget with the purpose not to clutter up a graph.  So now we do not have any plans to turm them back. But you can use Panel view mode for widgets with type: Overall statistics. You will see information in format:
![image](https://user-images.githubusercontent.com/30413511/51312972-89576e80-1a5d-11e9-9da7-efc81fba717f.png)

[2019-01-17 10:54] bawarim commented on #551
OK. So is there any possibility that can we get the graph view also along with the donut and panel view for overall statistics?

[2019-01-17 10:57] evjlobanova commented on #551
@bawarim

I should clarify one more thing.
1.) which type of widget do you use now?

[2019-01-17 10:58] evjlobanova commented on #551
1.)
![image](https://user-images.githubusercontent.com/30413511/51314000-f835c700-1a5f-11e9-8fbd-4c26ec588d81.png)

2.)
![image](https://user-images.githubusercontent.com/30413511/51313970-e7855100-1a5f-11e9-9662-5516b37f6581.png)

[2019-01-17 11:08] bawarim commented on #551
Yes, i used the above widget with Donut view.

[2019-01-17 12:03] bawarim commented on #551
No, Launch doesn't equals to feature. In a single launch i can have multiple features, like Feature A, Feature B Feature C and so on.
Apart from this the graph which you have shared, is the exact thing which i need for a single launch.

[2019-01-17 13:05] bawarim commented on #551
Yes, panel view gives the information. But we generally used to share the data in pie chart view to the customer.

[2019-01-17 14:00] evjlobanova commented on #551
@bawarim got it! Thank you for reply. We will consider this for implementation as part of Sub-launch dashboard functionality.

[2019-01-18 01:43] schoi1 commented on #293
I would like to re-open this issue as I am waiting for .NET agents (especially agent-net-specflow) to be changed to Apache 2.0 license. I can see that only **agent-java** has been changed, but not other agents.

Our company does not accept GPL licenses and it is crucial for us to know when other agents will be changed to Apache 2.0 license. Otherwise, we have to look at alternatives.

[2019-01-18 07:01] bawarim opened #553 "ReadyApi - Getting different launches for different suites of a project"
I have executed my project which contains different test suites. But the problem is I am getting different launches for each suite. And then i need to manually merge those launches.

So is there any way that I can get all the suite results in a same launch for a project.

## Resolution
https://github.com/reportportal/reportportal/issues/553#issuecomment-466294588

[2019-01-18 07:42] DzmitryHumianiuk commented on #553
@bawarim
there are 2 ways to make it:
1) start launch via code before execution, and share launch id
2) after execution - collect IDs of launches, and trigger merge via API.

More simplistic method will come with 5.0+ version

[2019-01-18 08:54] bawarim commented on #553
Okay. But i have few queries now.
1. How to get the launch id of a project?
   a) If I have 3 launches for same project like ProjectA #1, ProjectA #2, ProjectA #14.  Then how to get the id of latest launch?
2. Where to specify that launch id, so that next suites to be run will go to the same launch?

[2019-01-19 07:33] adhithyasrinivasan opened #554 "Please add support in jira service to connect to jira without ssl"
**Describe the solution you'd like**
...
Please add support in jira service to connect to insecure jira( running in http).
**Is your feature request related to a problem? Please describe.**
...
We are testing with jira installation in local. We are running jira in http but we are not able to interact to jira from report portal as it is trying to connect through ssl. Getting the following exception

[2019-01-20 15:05] TzurAnv commented on #479
hi
we have a blocking bug with the gauge implementation documented at the issues section at the
https://github.com/reportportal/agent-net-gauge/issues
it will be greatly appreciated if someone could take a look on it

thanks :)

[2019-01-21 10:30] bawarim opened #555 "Post all results to same launch instead of creating new launch"
Hi,

I want to report all my result to the same launch. I am using cucumber test framework.
So is there any way around that i can provide rp.launch.id from property file or from somewhere else, so that my all results will go to the same launch.

[2019-01-21 12:11] evjlobanova commented on #555
@bawarim we are planning to implement Rerun functionality #363 .  Is it what you need.

As a work around for now, you can merge launches via API or via UI.

[2019-01-21 12:30] bawarim commented on #555
I am executing two test suite together. And for each test suite, currently it creates a separate launch.
But what I want is that, whenever I run all suites together, they should go to the same launch instead of creating different launches.

So what i basically want that, if we can provide rp.launch.id into property file, and all the test results go to the same launch id which i have given in the p

[2019-01-21 17:33] evjlobanova commented on #555
@bawarim Yes, you can collate different results together is to provide the same launch id, so suite components’ results will be stored as 1 run or you can report them as different launches and then use Report Portal merge (linear or deep)

[2019-01-22 01:52] mohanrajramalingam opened #556 "gitlab rp integration"
RP Team,
I am trying to integrate RP from my gitlab runner. I am getting below error while launching the report.
I exported the token first, then I run the reporter command. From my local its working. But from gitlab I'm getting the below error:

Generating HTMLReport report
Run time of JUnit formatter: 9.763ms
Run time of HTML formatter: 625.672ms
[startLaunch] unexpected error:
FetchError: reque

[2019-01-22 06:51] evjlobanova commented on #555
@bawarim Yes, you can collate different results together is to provide the same launch id, so suite components’ results will be stored as 1 run or you can report them as different launches and then use Report Portal merge (linear or deep)

[2019-01-22 08:20] evjlobanova commented on #554
@encyclopod could you please help?

[2019-01-22 08:43] ihar-kahadouski commented on #556
@mohanrajramalingam do you use client/agent or send requests directly to api?

[2019-01-22 11:20] adhithyasrinivasan opened #557 "Please trim of the spaces in reportportal.properties"
**Describe the bug**
... Unable to start the test if there is a trailing space in the property rp.endpoint.

**Expected behavior**
... Leading and trailing space should be trimmed of before loading from property file.

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]
Build: 4.3.6

[2019-01-22 12:35] #555 closed

[2019-01-23 07:36] Balamurugan-R commented on #363
When this functionality is available?

[2019-01-23 07:36] Zakaryan92 commented on #544
Thanks for responding, it was a our project issue. @nvborisenko

[2019-01-23 07:36] #544 closed

[2019-01-23 07:39] evjlobanova commented on #363
@Balamurugan-R we will start right after 5.0. Approximate date for 5.0 is flexible, we suppose, that it should be in April 19 (+/-)

[2019-01-23 07:47] Zakaryan92 opened #558 "Change method name. Include package name and class name.(e.g package.ClassName#methodName)"
We are running about 4000 tests and using report portal. In a suite run we have tests there have a same name, but there are in a different classes. When suite run finished, report portal merged same name methods in a one and I can't have a true result of my test suite run. Thanks @DzmitryHumianiuk

[2019-01-23 08:58] adhithyasrinivasan opened #559 "PDF Generated from launch report api is blank"
**Describe the bug**
API -  /{projectName}/launch/{launchId}/report

We tried generating a pdf file from this api. But the pdf result is blank.

**Expected behavior**
... PDF should be generated

**Screenshots**
If applicable
Attached
**Versions:**
 - OS, Browser Windows Chrome
 - Version of RP [find it under Login form, copy as is]
Build: 4.3.6

[2019-01-23 09:02] evjlobanova commented on #559
@VolhaKarenko Volha, could you please try to reproduce this issue?

[2019-01-23 09:36] evjlobanova commented on #559
@adhithyasrinivasan how is important for you this possibility?
Now we are moving to PostgreSQL , so we will consider this issue in future version.
So I `d like to know, if this issue stops you. Or maybe you can use export via UI?

[2019-01-23 14:13] DzmitryHumianiuk commented on #558
@Zakaryan92 what do you mean under

screenshot will be helpful to understand

[2019-01-23 14:27] YuryKisly opened #560 "AWS: RP is not able to be configured using 'contextPath'"
**Describe the bug**
After some investigation it’s appeared that some of UI URLs are not related to context base which means
that deploying with some prefix isn’t possible at the moment.

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-01-25 08:39] bawarim opened #561 "How to send images attachment in POST api/v1/{projectname}/log"
I am trying to integrate Report portal with my customize test framework.
I need to send screenshot to the report portal using log api. So please help that how can i achieve the same.

[2019-01-25 11:37] Zakaryan92 commented on #558
I have two methods with name filterViewGrouping.
One in a selenium.lists.ProjectsListTest#filterViewGrouping, other selenium.lists.TasksListTest#filterViewGrouping. So both tests was successfully finished but when launches was finished both merged to one.

[2019-01-25 11:38] Zakaryan92 commented on #558
![screen shot 2019-01-25 at 3 27 45 pm](https://user-images.githubusercontent.com/17787698/51743776-2d24c800-20b7-11e9-98e9-193399598f0b.png)

[2019-01-25 11:45] Zakaryan92 commented on #558
Retry count when test method failed is 2.

[2019-01-28 04:57] adhithyasrinivasan commented on #559
if it is fixed easily without any extra effort, i wish you to fix this in next release.

[2019-01-28 10:38] avoroble commented on #507
Dzmitry, It would be nice if every requirement in your chart would contain a link to detailed requirement description which could be stored in external tool (for example Jira).
It would be also a good feature is requirements list could be imported/refreshed using Jira filter.

[2019-01-28 12:42] jhutar commented on #548
@evjlobanova Yes. I want to run that one test with pytest on local setup. Thank you for considering the issue.

[2019-01-29 07:40] ajaychinthamanipet opened #562 ""error_code":40025,"message":"Start time of child ['Tue Jan 29 07:09:08 UTC 2019'] item should be same or later than start time ['Tue Jan 29 12:12:11 UTC 2019'] of the parent item/launch"
Hi,

When creating the test item by calling the API in python, I am getting this error.

[code]

[2019-01-29 11:25] nvborisenko commented on #562
.net uses this piece of code for datetims:
[code]

It seems server expects total milliseconds related to 1/1/1970

[2019-01-29 13:12] ajaychinthamanipet commented on #562
I am creating Launch locally and passing all the tests to the remote server located in US where all test cases gets executed. Due to this Test items created are displaying different time. How can I handle this?

This is the error message I am getting while creating test-item.
{"error_code":40025,"message":"Start time of child ['Tue Jan 29 01:22:28 UTC 2019'] item should be same or later than start

[2019-01-29 13:18] nvborisenko commented on #562
Ensure you use UTC time everywhere.

[2019-01-29 13:36] #545 closed

[2019-01-29 14:51] OstapJ opened #563 "DOM XSS in rp.epam.com"
**Describe the bug**
The issue is in errorAuth parameter which appears when a user tries to login with their personal github account which doesn't belong to GitHub organization. The parameter loads the value in DOM without sanitizing it

*Steps to reproduce*
# Login using GitHub auth
![image](https://user-images.githubusercontent.com/5707734/51916396-e2bc8780-23e5-11e9-9e9c-f8ff455f7a32.png)

# Mo

[2019-01-30 22:02] smore07 commented on #536
@DzmitryHumianiuk @pbortnik I am also facing the same issue. Please let us know when this can be fixed.

Thanks

[2019-01-31 00:06] ocherniavskyi commented on #505
Hi, can anybody help: no matter what i do i get:
![image](https://user-images.githubusercontent.com/45246546/52021199-cbbc8900-24fc-11e9-86b8-a191b3157561.png)

[2019-01-31 08:53] Yumfriez commented on #561
To create a log with an attachment you should send a POST request to the 'api/v1/{projectname}/log' endpoint and configure it like this:
1) content type of the request - multipart/form-data
2) in the body of the request should be 2 params:
                                             a) json_request_part - json file of the following format:
[
   {
      "file":{
         "name":"NAME_OF_THE_FILE_T

[2019-02-01 21:11] mohanrajramalingam commented on #556
This is due to security issue, its resolved. Added the rp.epam.com url in the whitelist category from my cloud server. its working.

[2019-02-01 21:11] #556 closed

[2019-02-04 07:14] Zakaryan92 commented on #558
any updates on this? @DzmitryHumianiuk

[2019-02-04 11:23] shaburov opened #564 "[BUG] There is no possibility to enter login/password for email settings with RU local"
**Expected behavior**
<img width="509" alt="image" src="https://user-images.githubusercontent.com/15269131/52205354-daea6080-2887-11e9-856e-c4eec5449307.png">

**Actual behavior**
<img width="589" alt="image" src="https://user-images.githubusercontent.com/15269131/52205489-47fdf600-2888-11e9-9b9f-abcfe7c2a2a4.png">

**Versions:**
 - iOS, Safari, Chrome
 - Version of RP
Analysis Service: 4.3.0; API