[2016-10-03 13:50] RocketRaccoon opened #1 "Default e-amil host is set with *. epam.com"
Hi,

Default e-mail host is set with *.epam.com. It seems that it should be empty.

[2016-10-03 13:53] RocketRaccoon opened #2 "Provide "guest" user type"
Hi,

Please provide "guest" account which can view data without logging in (like in Jenkins, Upsource, etc.).
For example such account can view only shared filters and dashboards.

[2016-10-26 12:42] nvborisenko opened #3 "Email client is not compatible with Amazon SES"
I use [Amazon SES](https://aws.amazon.com/ses/) service. I configured Report Portal instance to use SMTP server, but RP cannot send emails.

Logs of API service:

It seems current implementation of email client doesn't support SMTPS.

Below is SMTP server details:
Server Name: email-smtp.us-west-2.amazonaws.com
Port: 25, 465 or 587
**Use Transport Layer Security (TLS):    Yes**

[2016-10-26 14:13] andrei-khveras opened #4 "Smart Analysis passes by 'To Investigate' items once modified by user"
The case is when somebody adds comment to some test item that is initially in "To Investigate" status, but doesn't change resolution to some specific one ("Product Bug", "System Issue", etc.). One more case is when somebody changes resolution from some particular issue type down to "To Investigate".
In that cases after next launch execution, when Smart Analysis processes launch result, it **skips*

[2016-10-30 15:52] Piom opened #5 "Default Admin credentials"
When I tried to log in, admin\erebus didn't work.
Error: user name or password is incorrect

[2016-10-31 12:55] mkuzmin commented on #5
username is `superadmin`

[2016-11-02 13:47] #5 closed

[2016-11-02 13:47] avarabyeu commented on #5
@mkuzmin Thanks!

[2016-11-09 20:30] iKozzz opened #6 "Provide ability to reload .properties on runtime"
I would like to update listener with new properties values before tests are executed.

Basically i need to create `reportportal.properties` according to starting suite and then update ReportPortalTestNGListener (in my case) with new information.
Currently this is unable because listener will initialize itself on TestNG framework start.

I know that i can pass environment variables thru command lin

[2016-11-17 16:16] serhiisavruk opened #7 "Widget legend - pins color"
After adding new defect type I got inappropriate color of pins on my widgets.
<img width="632" alt="screen shot 2016-11-17 at 6 06 53 pm" src="https://cloud.githubusercontent.com/assets/1574658/20397276/d2e358e2-acf1-11e6-9aec-beef744d0f2b.png">
<img width="721" alt="screen shot 2016-11-17 at 6 07 11 pm" src="https://cloud.githubusercontent.com/assets/1574658/20397277/d2e79132-acf1-11e6-9b4f-8ff9a

[2016-11-22 20:11] avarabyeu commented on #6
@iKozzz we can provide method for completely re-initialize guice app context. Will it work for you?

[2016-11-22 20:12] avarabyeu commented on #3
@nvborisenko supposed to be fixed in 2.7. You can actually test it in our dev environment.

[2016-11-22 22:14] admizh opened #9 "Wrong tests count"
1. Open suite, on suite lvl my tests counter == 1999 (it is correct)
2. Package lvl is opened, on this lvl my tests counter == 1499. (it is wrong)

![2016-11-23_2-00-54](https://cloud.githubusercontent.com/assets/6014483/20543979/5c6c2ec6-b121-11e6-97fe-ba007297a3d1.png)

Test code (testNg):
[code]

[2016-11-23 11:45] abotalov opened #10 "Copyright statements at the start of source code files have not working links"
See e.g. https://github.com/reportportal/commons-dao/blob/master/src/main/java/com/epam/ta/reportportal/database/ActivityDocumentHandler.java

The link in a copyright statement is "https://github.com/epam/ReportPortal".
This link seems to be invalid.

[2016-11-23 11:46] avarabyeu commented on #1
Fixed configuration of email clients. Should be available in 2.7

[2016-11-23 11:46] #1 closed

[2016-11-23 11:48] avarabyeu commented on #10
@DzmitryKavalets could you please re-generate file headers in all modules

[2016-11-23 11:54] avarabyeu commented on #3
Fixed in 2.7

[2016-11-23 11:54] #3 closed

[2016-11-23 12:23] DzmitryHumianiuk commented on #7
@serhiisavruk i'm not really sure, that i've got your issue write.
Could you please give more details?
since i can't see any inappropriate behavior within you screenshots

[2016-11-23 14:52] serhiisavruk commented on #7
Let me explain in other words.
I've got such results:
[code]

However colors of pins are different from graph:
[code]

[2016-11-24 00:03] DzmitryHumianiuk commented on #4
@andrei-khveras this one is very contradictory.
**From one side:** if something changed in defect - means that resolution by engineer was already made, and we can't rewrite it.
**From the other side:** you can bypass some data (e.g. comment) for defect with fail, and this should not be override by `Smart Analysis`.

This enhancement will be considered with `Smart Analysis` refactoring.

[2016-11-24 21:08] admizh opened #11 "Filtering logs with attachments"
In my case i have two messages:
1. INFO log with attachment
2. Assertion error
Also filters not selected

![2016-11-25_0-49-27](https://cloud.githubusercontent.com/assets/6014483/20609814/aa6fa6c2-b2aa-11e6-8851-b4f7e3082fa9.png)

When select filters  ERROR + ATTACHMENT - i see  "No results found"message. But it is not correct.
1. INFO log with attachment - should be displayed
2. Assertion error -

[2016-11-24 22:50] DzmitryHumianiuk commented on #11
Here is usability issue.

Log level [Trace, Debug, Info, Warn, Error] - is separate filer
`Attachment` - is a separate filer also.

so then you requesting `Attachment`+`Log level` in request you will have like
`filter.in.level=ERROR & filter.ex.binary_content=true`

It uses `AND` logic.

[2016-11-25 10:40] e-olga commented on #7
@serhiisavruk
The issue is caused by specific of library 'nvd3' that we used for creating widgets.
If number of defect>0, the area is available on the chart and pin color is the same as defect color.
If number of defect=0, the area is not shown on widget, but the pin is and overlapped the previous one.
Refer to your screenshot, for instance, the area refers to 'System issue' (in blue), but its pin

[2016-11-28 04:49] fasterfish opened #12 "LDAP authorization"
Good day!

Could you add feature as a user authorization by AD domain by using ldap?

[2016-11-28 06:01] iKozzz commented on #6
Yeah, we can run this method on @BeforeSomething

[2016-11-28 10:51] avarabyeu commented on #12
@fasterfish  It's actually possible, but usually such kind of auth requires lots of modifications for each particular ldap server (for example: grabbing DNs, password validation).
We will put it in the backlog, but we start working on it in nearest future.
You can try to add it by yourself adding modifications to authorization-server, truth be said, it should be faster :)
Thanks for the issue!

[2016-11-28 10:52] avarabyeu commented on #11
@DzmitryHumianiuk resolution?

[2016-11-28 14:53] DzmitryHumianiuk commented on #11
@avarabyeu closed
@admizh if you interested in enchantment - please propose it as idea.

[2016-11-28 14:53] #11 closed

[2016-11-28 14:54] DzmitryHumianiuk commented on #2
@RocketRaccoon
could you please describe basis flow for this user role?

[2016-11-29 12:02] MikalaiBiazruchka opened #13 "Add feature to update test results in scope of one launch [re-run functionality]"
There is a need to have a chance to update test's result during rerun or other functionality.

[2016-11-29 12:37] DzmitryHumianiuk commented on #13
This also was proposed as `re-run` feature.
when it possible to execute test cases, and add parameter for rp as `-rerun` or  `-rerun LAUNCH_ID` and update test case status in RP, if `failed/skipped` state changed to `passed`

[2016-11-29 13:16] e-olga commented on #7
The issue submitted to https://github.com/novus/nvd3/issues https://github.com/novus/nvd3/issues/1876

[2016-11-29 13:17] #7 closed

[2016-11-29 14:34] admizh opened #15 "Serialization exceptions not handled."
We use corporate proxy. And our proxy not allow send any request with RP. I will check it in our network side. But any way report portal not handle this issue:
For understanding:
When suite start RP call reportPortalService.startRootTestItem(rq);
Our proxy return internal html page with status: 503.
![image](https://cloud.githubusercontent.com/assets/6014483/20713308/41cdc486-b661-11e6-9cd6-8b828d

[2016-11-30 06:04] admizh opened #16 "Add support async/non-blocking sending data to RP instead of batch"
Root cause of this. sending events with batch - provide increasing tests execution time.
Currently data sending performed after collecting 10 events (rp.batch.size.logs). When sending data to RP the tests are blocked. This is appreciable at poor internet speed. My proposal to use non-blocking client.
1. Using event queue/msg bus + async http client
2. Add more logs when events send started/finishe

[2016-11-30 09:10] avarabyeu commented on #16
Good idea! We have already started initial research on that. Now there is http client based on Apache HttpAsync which connected with Reactor (projectreactor.io). So, all interaction with ReportPortal server is based on callbacks plus we have ability to add backpressure logic. We need some time to test it and implement all needed REST API methods so can not really give you any estimates on releasin

[2016-11-30 09:17] abotalov commented on #16
We've done it in Ruby agent using a worker thread and a queue. A worker thread just takes events to-be-processed from the queue.
https://github.com/reportportal/agent-ruby/blob/master/lib/reportportal/cucumber/formatter.rb

[2016-11-30 11:01] #9 closed

[2016-11-30 13:21] DzmitryKavalets commented on #10
fixed

[2016-11-30 13:21] #10 closed

[2016-11-30 18:39] abotalov commented on #10
By the way, headers in some repositories seem to be still not fixed:
* https://github.com/reportportal/service-registry/blob/master/src/main/java/com/epam/reportportal/registry/RegistryApp.java
* https://github.com/reportportal/service-ui/blob/master/src/main/java/com/epam/reportportal/ui/UIApp.java
* https://github.com/reportportal/service-gateway/blob/master/src/main/java/com/epam/reportportal/g

[2016-12-01 08:17] Rider1982 opened #17 "Error 500 on login of EPAM user with accepted invitation sent to work email"
I sent an invitaion from RP to some EPAM user to his corporate email.
The user tries to login (the both EPAM and email/password logins shows the same) and see the following error message:

Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.
Thu Dec 01 08:11:30 GMT 2016
There was an unexpected error (type=Internal Server Error, status=500

[2016-12-01 09:29] avarabyeu commented on #17
@Rider1982 Could you please attach stacktrace? Actually, it's not an issue, because *.epam.com users are synchronized automatically and RP does not login them via standard basic auth mechanism. But problem here is that you use 500 instead of some more informative error.

[2016-12-01 12:05] Rider1982 commented on #17
I do not see any stack trace on error page.

On Thu, Dec 1, 2016 at 12:29 PM, Andrei Varabyeu <notifications@github.com>
wrote:

[2016-12-01 14:01] avarabyeu commented on #17
@Rider1982 could you please grab response body and put it here?

[2016-12-02 09:48] admizh opened #18 "Log messages not displayed if unable attach file to step"
I try send big file to report portal, it my test (testNg):
[code]
Current results:
"_2# event (very big file)_" event not logged in RP
I think we should log it and root cause (exception)

![2016-12-02_13-14-25](https://cloud.githubusercontent.com/assets/6014483/20829400/5a792ec2-b895-11e6-8ed9-f0f8bba05024.png)

[2016-12-02 10:06] admizh opened #19 "Bad attachments breaks all steps of batch"
RP have default value for batch: rp.batch.size.logs == 10, When we have wrong logging event (try send big file) - all steps from this batch is lost in RP.
perhaps it will be fixed by: #16

[code]

![2016-12-02_14-04-23](https://cloud.githubusercontent.com/assets/6014483/20830064/4bbc1efa-b898-11e6-9ff6-20a62e1cc9b8.png)

[2016-12-02 10:57] avarabyeu commented on #18
@admizh It's actually expected behavior since log is related to attachment. Does really see any sense to keep log message if binary data is rejected. @DzmitryHumianiuk what do you think?

[2016-12-02 11:02] avarabyeu commented on #19
@admizh Good catch!

[2016-12-02 11:18] avarabyeu commented on #19
@admizh the problem here is that we are limiting whole request size. Not sure we need to allow users to upload a big requests.

[2016-12-02 12:21] admizh commented on #18
@avarabyeu & @DzmitryHumianiuk  - When step message not logged is already bad. It difficult to understand what happened and why my binary files not available. let's add simple step with message - that we were not able to attach a file. Since many users can not even grasp that here must be some file (no any steps in RP UI). It provide additional tasks for automation engineers - They should check CI

[2016-12-02 13:36] OstapJ opened #20 "Add feature to merge the launches without deleting them"
Actual: When we merge two launches they disappear and we can't gather statistic by each of them. We can gather only from merged one.

Expected: After merging launches they stay alive in the 'Lunches' tab.

Why it is important: It is quite convenient to build test suites hierarchy based on Teams/Components
in that turn it is valuable to gather statistic by Teams or Components.

[2016-12-02 14:42] DzmitryHumianiuk commented on #18
@avarabyeu I'm agreed with @admizh.
it's not obvious what happens if binary rejected with size over 16Mb.

1. Log message should be stored for sure
2. Add `ERROR` or `WARNING` log that binary was not attached.

and finally, i think we should consider the option to upload file 16Mb+

[2016-12-02 16:37] DzmitryHumianiuk commented on #20
@OstapJ preserving of source lunches after a merge goes against the logic.
During merge we move all child to new launch. In this case source launches will be empty.
Source Luanch object itself will have statistics, but will have no child under it, in such a case.

the only option, i guess, is to move item from all merged lauches to particular selected. But still we have to delete the rest.

Still

[2016-12-03 14:11] admizh opened #21 "[Widgets] incorrect time calculation in "Project activity""
![2016-12-03_18-02-22](https://cloud.githubusercontent.com/assets/6014483/20859837/d8ffde32-b983-11e6-8bc7-18d1c59476c1.png)

[2016-12-04 21:22] admizh opened #22 "Unable to search by launch number"
Some times we need switch to specific execution/launch but currently no any ability to perform search by execution number

![2016-12-05_1-13-49](https://cloud.githubusercontent.com/assets/6014483/20869317/3fd42824-ba89-11e6-9123-e2d325faa458.png)

[2016-12-05 08:49] OstapJ commented on #20
@DzmitryHumianiuk Thanks for the answer. The merge functionality works as expected I don't have any objections. I am talking about kind of new feature 'create new launch based on existing ones'.
I'll describe necessity in scope of our project and my colleagues one.

Launch structure:
Launch -> Suite (in our case it's a Team name) -> Test
![image](https://cloud.githubusercontent.com/assets/5707734/

[2016-12-05 11:21] Tset-Noitamotua opened #23 "Robot Framework integration"
You might want to add the greate and mighty test automation framework named Robot Framework[1] to your documentation[2]. Checkout this repo: https://github.com/reportportal/agent-Python-RobotFramework

[1] http://robotframework.org/
[2] http://reportportal.io/#documentation/Test-framework-integration

[2016-12-05 11:27] Tset-Noitamotua opened #24 "Windows support - install ReportPortal with Docker on Windows?"
Is this one already tested on Windows?

I am aware of theory that with Docker it should be platform agnostic but did anybody really see it run on a Windows host? ;-)

[2016-12-05 11:31] Tset-Noitamotua commented on #23
Just realised that I gave you a link to you own repo :-/  hehehe

Anyway, why don't you mention Robot Framework in your documentation?

[2016-12-05 11:37] avarabyeu commented on #24
There are three options, actually.
1. Use Windows 10 with native docker support. It should work without any problems.
2. Install docker toolbox on Win prior to 10. It will install VirtualBox and tiny linux image so you can use docker through that VM.
3. Grab JAR files manually and execute them whatever way you want :) If you have a look at docker-compose, you will find all needed services. Dockerf

[2016-12-05 11:39] avarabyeu commented on #23
@Tset-Noitamotua i believe it's just because this agent is still under development and we are not sure it works as a charm :) @ArtsiomYeliseyenka could you please comment on this?

[2016-12-05 11:54] DzmitryHumianiuk commented on #22
@admizh it was never planned and not even considered.

Will put it as a long-term enhancement.
Once, on a wonderful day.

[2016-12-05 12:56] Tset-Noitamotua commented on #24
Thanks for clarification!

[2016-12-06 09:53] avarabyeu commented on #18
@DzmitryHumianiuk @admizh

Guys, let me clarify. There are two limits:
1. Request size limit
2. Request part limit e.g. binary attachment limit.
Now we have request-level limitation which is causes mentioned issue.

I still think 16 mb is absolutely enough for one file. So what i would suggest to do:
1. Remove request size limit
2. Introduce request part limit == 16 mb (each log entry is 16 mb)
It

[2016-12-06 16:46] DzmitryHumianiuk commented on #23
@Tset-Noitamotua
we also consider to refactor documentation source strorage in main repository, since now it's not so obvious how to find right .md file for updates in docs.
At the same time with this update - we will update docs for all available and validated integrations.

[2016-12-07 00:16] admizh opened #25 "Add "Tests History" tab"
Currently, RP provide view launches/suites etc. for testNg
**_{EXECUTION NAME}/{SUITE NAME}/{TEST NAME}/{METHOD}_**
In our projects, we don't depend on suites. Because we consider that the parameters Execution Name, Suite Name, Test Name is not constant. Same class or method can successfully be run in different sets. We just have structure in java packages. All tests from package(or class) cover o

[2016-12-07 01:16] admizh opened #26 "Add features to RP from "Cuanto" project"
For analyze our tests we use a project:  https://github.com/ttop/cuanto/wiki
This project is very outated, but it have advantages, and that it would be good to add in RP:
1. "Grouped Output" tab:
![image](https://cloud.githubusercontent.com/assets/6014483/20950542/c2a7a33c-bc39-11e6-9ddc-48fbe98fa129.png)
Enhancement connected to: [Group tests failed by one reason ](https://rpp.uservoice.com/forum

[2016-12-07 01:48] admizh commented on #21
Same issue for investigation history, i see "6 hours ago" - should be current time
![2016-12-07_5-43-43](https://cloud.githubusercontent.com/assets/6014483/20951638/615cb3e0-bc40-11e6-9fa1-688f16506914.gif)

[2016-12-07 08:13] Tset-Noitamotua opened #27 "Does ReportPortal send something to your servers?"
Not sure if you noticed my [additional question in closed issue](https://github.com/reportportal/agent-Python-RobotFramework/issues/1#issuecomment-265092347) so I repost it as separat issue here.

I have taken a closer look at documentation and also watched your presantations on youtube. Quite on question remains: When I set it up - will it run fully (100%) on my system (my infrastructure) or will

[2016-12-07 09:14] avarabyeu commented on #27
Hi @Tset-Noitamotua! No, portal doesn't send anything to us. It's sad actually, because we would like to collect some usage info, but it's still not implemented and even not planned for implementation :)

Regarding external connections to outside world, I can highlight the following ones:
1.       Connection to SMTP servers.
2.       Authentication via GitHUB OAuth – goes to Github’s ouath server

[2016-12-07 09:14] #27 closed

[2016-12-07 09:55] Tset-Noitamotua commented on #27
Thank you!

[2016-12-07 17:29] DzmitryHumianiuk commented on #25
@admizh did you have a chance to try `History view`?
![screen shot 2016-12-07 at 20 27 47](https://cloud.githubusercontent.com/assets/11332788/20978908/b810b760-bcbb-11e6-8450-5f21a93aa3b0.png)
![screen shot 2016-12-07 at 20 27 56](https://cloud.githubusercontent.com/assets/11332788/20978910/b8535a0c-bcbb-11e6-8a09-9870ea8811f8.png)
![screen shot 2016-12-07 at 20 28 11](https://cloud.githubusercon

[2016-12-07 17:30] DzmitryHumianiuk commented on #25
![screen shot 2016-12-07 at 20 30 08](https://cloud.githubusercontent.com/assets/11332788/20978979/fc6c8240-bcbb-11e6-81a5-a7e4edea4e29.png)

[2016-12-07 17:32] DzmitryHumianiuk commented on #24
@Tset-Noitamotua Once, on wonderful day, we will create documentation for it.
But, you will follow up with Windows stack, please do not hesitate to contribute steps and descriptions to our documentation.

[2016-12-07 17:37] DzmitryHumianiuk commented on #26
1. `Grouping view` is in our backlog, but not yet scheduled for implementation
2. please comment is the `History view` answers you question https://github.com/reportportal/reportportal/issues/25#issuecomment-265513684

[2016-12-08 11:48] esoskovets opened #28 "[agent-ruby + cucumber] if tags have gap - error returned"
rp_tags=["Assemble issues build"] - ERROR
rp_tags=["Assemble_issues_build"] - ok
rp_tags=["issue***", "Assemble_issues_build"] - ERROR
rp_tags=["issue***","Assemble_issues_build"] - ok

**shell command**

**error log**

[2016-12-09 09:22] abotalov commented on #28
Unfortunately, we weren't able to reproduce this issue on Windows and Linux.
We used something like:
[code]

I tried to do the following in `irb`:
[code]

So I think that this issue is shell-related and happens because `ENV['rp_tags']` contains either `[Assemble` or `[Assemble issues build]` (hence `did not find expected ',' or ']'` is shown in error message because this YAML is invalid).

So my c

[2016-12-09 09:56] OstapJ opened #29 "Add feature to hide 'Match issues in Launch' link for specified user roles"
'Match issues in Launch' link is pretty close to 'resolution button'.
![match_issues_in_launch_link](https://cloud.githubusercontent.com/assets/5707734/21044412/813e7c82-be04-11e6-979f-374bbecede62.png)
Hence we have some cases when someone clicks on the link by mistake and it blocks the whole regression analysis. Since we can't modify the test resolution while auto analysis in progress.

One of p

[2016-12-12 09:35] Iren-Melnyk commented on #29
Hi there!
It's really a suggestion to improve and in our next release, it'll be fixed.

[2016-12-12 11:44] nagaeva-anastasia opened #30 "Add feature to stop 'Auto-analisys'"

[2016-12-12 18:24] iKozzz opened #31 "Remove limit for cont of 20 widgets per dashboard"
It's unable to add more then 20 widgets on 1 dashboard.

Clients might like to have more than this limit

[2016-12-12 19:03] iKozzz opened #32 "Failed to update password : Incorrect Request"
Front End:
Failed to load resource
 `/api/v1/user/password/reset` `400`

`Fetching scripts with an invalid type/language attributes is deprecated and will be removed in M56, around January 2017. See https://www.chromestatus.com/features/5760718284521472 for more details.
scripts.d34776b3.js:1 Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end

[2016-12-13 01:04] iKozzz opened #33 "Allow Admin to Edit, unShare(maybe), Delete shared filters"
Let Admin to make changes for shared filters

[2016-12-13 01:35] iKozzz opened #34 "Unexpected logouts sometime occurs"
https://your.site.com/api/v1/mg2/launch?page.page=1&page.size=50&page.sort=start_time%2CDESC&tab.id=allCases
Status code 401

{error: "invalid_token", error_description: "1f7w7ldc-9cc1-49aa-8557-asdd1h9ac24f"}

Please leave a comment and clarify what exact logs should i attach in case you need them.

Another unexpected logout:
`scripts.d34776b3.js:1 Uncaught TypeError: Cannot read property 'clear'

[2016-12-13 13:20] JustasM11 opened #35 "Print logs using monospace font, reduce interval between lines, remove checkerboard for lines"
Compare RP logs:
![rp_example](https://cloud.githubusercontent.com/assets/12593214/21141743/d6b776c0-c14f-11e6-86b7-083425320be4.png)
with Robot Framework logs:
![robot_example](https://cloud.githubusercontent.com/assets/12593214/21141741/d53396c6-c14f-11e6-8327-8bc336679bc6.png)
And less:
![less_example](https://cloud.githubusercontent.com/assets/12593214/21141768/ffcac0ee-c14f-11e6-8c05-4f25ef28

[2016-12-13 13:29] JustasM11 commented on #35
Gateway Service: 2.6.0;UI Service: 2.6.0;Rally Service: 2.6.0;Authorization Service: 2.6.0;API Service: 2.6.0;Registry Service: 2.6.0;

[2016-12-13 13:32] JustasM11 opened #36 "Cannot comment on result using monospace, code tag doesn't work also"
Before submit:
![before_submit](https://cloud.githubusercontent.com/assets/12593214/21142110/ad2f8002-c151-11e6-815c-c1e5b41ea92a.png)

After submit:
![after_submit](https://cloud.githubusercontent.com/assets/12593214/21142112/ae6121ba-c151-11e6-9f56-ada7b20d6971.png)

Expected result:
Newlines are preserved, I can also set monospace font for text

[2016-12-13 13:38] JustasM11 commented on #36
Gateway Service: 2.6.0;UI Service: 2.6.0;Rally Service: 2.6.0;Authorization Service: 2.6.0;API Service: 2.6.0;Registry Service: 2.6.0;

[2016-12-13 23:04] DzmitryHumianiuk commented on #31
it might be considered as 50

[2016-12-13 23:05] DzmitryHumianiuk commented on #33
pretty reasonable

[2016-12-14 06:10] DzmitryHumianiuk opened #37 "[WIDGETS] Add widget to represent flaky tests in launches"
Add widget, the same as for `Most failed test cases`, but for flaky test.
Flaky means which changes state from passed to failed each execution.

[2016-12-14 06:26] fasterfish opened #38 "Refresh button disabled in merge/compare mode"
When I am in **merge/compare** mode at launches page, **Refresh** button has disbled status:

![screenshot_3](https://cloud.githubusercontent.com/assets/18389889/21171629/1b976396-c1ef-11e6-8e2e-8f13c6dca69a.png)

But, when i'm clicked to refresh, it's work properly.

I propose to leave the **Refresh** button is enabled, regardless of the current mode (merge/compare).

[2016-12-14 08:37] abotalov opened #39 "[Swagger] Add more complete documentation for REST API"
Current documentation (/ui/swagger-ui.html) lacks quiet a lot of information, e.g.:
* a way to send a log with an attached file (clients use multipart)
* allowed logging levels
* allowed issue types
* GET /{projectName}/item?{queryParams} and query parameters usable by it

It would be better to have more complete documentation for API.

[2016-12-14 10:53] Ilya-Kuchaev opened #40 "Email from ReportPortal@service.com - make configurable default sender address"
Where could I change the default mail from domain?

[2016-12-14 11:24] DzmitryHumianiuk commented on #40
@Ilya-Kuchaev Did you mean default mail address which sends email notifications?

![image](https://cloud.githubusercontent.com/assets/11332788/21180003/d48bbeb6-c207-11e6-8e7d-14a8b8be4163.png)

[2016-12-14 11:28] avarabyeu commented on #34
This is expected behavior. Tokens for UI represent user session which expires after some time. You can increase session live time by setting:

For the UAT service

[2016-12-14 11:28] #34 closed

[2016-12-14 11:30] Ilya-Kuchaev commented on #40
No. I'm inviting users right now. And invite email is from ReportPortal@service.com. I just can't find where I can configure it.
The email client can't send the messages via SSL also. So I can't configure for ex. SparkPost as a relay.

[2016-12-14 19:11] Rider1982 opened #41 "Add custom defect types to "To Investigate" group"
Needed for mark not analysed failures as currently investigating by team member to avoid duplicating of investigation or extra communication in team.

[2016-12-14 19:18] Rider1982 opened #42 "Implenent any way to display error message in test items lists"
It is a good idea to see test error message in list of executed test items. Now the only way is put error message to description. Possible implementations: new log item type (displayed message) or possibility to show the first log item in list.

[2016-12-15 12:37] iKozzz commented on #33
Also can be implemented to Dashboards and widgets

[2016-12-15 14:57] DzmitryHumianiuk opened #43 "[Log View] make configurable log representation"
As a user I want to have ability to change log representation:
- font size
- margins between lines
- coloring schemes
- ....

make configuration per User. And per project.

Extra details
https://github.com/reportportal/reportportal/issues/35#issue-195251253

[2016-12-15 22:43] DzmitryHumianiuk commented on #42
hm.....
many many many version ago, we tried to made it.
Additional column in test-cases table, which showed first error log.

but later it was reduced, since took to many space to be readable and had no much real usage.

looks like you use something already for reports, @Rider1982, could you please show a screenshot, where this looks valuable?

[2016-12-15 22:48] DzmitryHumianiuk commented on #41
@Rider1982 we will discuss it within next workshop with the team.
Sounds reasonable.

@avarabyeu what do you think?
it's kind of idea crossing with `Assign for investigation`, but here you can mark it at `Under investigation` or `Under review`.

but here also start another issue: should this `under review` status assigned automatically as user open up the test case, and changed back into `To Inves

[2016-12-15 23:09] DzmitryHumianiuk commented on #40
@avarabyeu is it hardcoded?

[2016-12-15 23:11] DzmitryHumianiuk commented on #39
@abotalov this usually described with logger integrations.

Swagger provides default representation. Not sure it can give more

[2016-12-15 23:32] Rider1982 commented on #42
Ok, here I see several fails and their error messages and it looks fine for me:
![image](https://cloud.githubusercontent.com/assets/14853118/21246124/c728eee8-c337-11e6-8673-146ed326a8a2.png)

[2016-12-15 23:44] Rider1982 commented on #41
Custom subtypes looks more comfortable for me. They allow me for example to classify fail's investigation team and approach ("investigating by autotest team", "investigating by R'n'D team", "analyzing by customer", "to discuss on daily meeting" and so on).

[2016-12-16 13:17] abotalov commented on #39
Based on my understanding of http://petstore.swagger.io/ Swagger is capable of at least the following:
* display "Implementation notes" that can contain some arbitrary information if Swagger UI doesn't directly support something - see "GET /pet/findByStatus" or "GET /pet/{petId}" endpoints
* display a select list with some options in "Value" column - see "GET /pet/findByStatus"
* display enums as

[2016-12-18 06:18] admizh commented on #40
@DzmitryHumianiuk - seems hardcoded:
https://github.com/reportportal/service-api/blob/master/src/main/java/com/epam/ta/reportportal/util/email/EmailService.java#L213

[2016-12-18 06:34] admizh commented on #40
need add field to mailing configuration.
![image](https://cloud.githubusercontent.com/assets/6014483/21291985/8c4a698c-c50d-11e6-8ad4-e8d2be9b0b57.png)

[2016-12-19 14:02] JustasM11 opened #44 "I need aggregated statistics for launch groups"
I have several Jenkins job groups that report results into separate launches. Currently I don't see way to have aggregated statistics
I have 3 types of jobs:
- Several nightly CentOS6 jobs
- Several nightly CentOS7 jobs
- Several weekly long-running/performance jobs scheduled for different week days

I need accumulated statistics for job groups above.
So I need to:

- Have timeline mode for all Wi

[2016-12-19 14:04] JustasM11 opened #45 "I need to find Test Case/Suite by name/tag"
How can I find test case/suite by name/tag?
Currently even filter by tag works for top view only so I don't have way to find specific test except for via traversing test launch/test suites hierarchy down to test

[2016-12-19 14:04] DzmitryHumianiuk opened #46 "Populate TestNG group to PR launch tags"
TestNg provide ability to set execution groups, will be nice if PR will add group(s) to launch tags + tags from `reportportal.properties` file.

By @adminz

[2016-12-19 14:06] DzmitryHumianiuk opened #47 "[MAILS] Make invitation emails more friendly"
The invitation email looks suspicious and 3 members from my team (they are in different locations so they even didn't discuss it) just ignored it and considered like a spam!

Customers can do the same.
The information about the project and sender should help in this case,
e.g. "_John Doe invites you to join the XXX project on the **Report Portal**_".

[2016-12-19 14:09] DzmitryHumianiuk opened #48 "[Auto-analysis] Special IGNORE flag for Analysis to skip item next time"
Add ability to mark reviewed test item (defect object) as `NOT FOR ANALYSIS`, in order to pay attention to this item once again with next execution

[2016-12-19 14:09] JustasM11 opened #49 "Expand button on Launches page doesn't work"
Cannot make use of this button, looks like it does nothing.
![expand_button](https://cloud.githubusercontent.com/assets/12593214/21315564/dac236ac-c60d-11e6-9c79-0bf894a9de2d.png)

[2016-12-19 14:10] DzmitryHumianiuk opened #50 "Divide merged launches"
Add the functionality to divide merged tests executions
by **anatolii_klymenko**

[2016-12-19 16:16] JustasM11 opened #51 "As user I want to track performance results in RP"
I want to save number for test result and specify measurement units (MB/s, IOPS/s, etc.)
I want to be able to get X-Y chart with saved data for particular test.
Optional: I want to setup baseline/threshold so test fails if performance is lower than required.

[2016-12-19 17:52] JustasM11 opened #52 "I need filter to find out all triaged (investigated) test results"
Filter should include the same fields as for launches: time, tags, etc.

[2016-12-19 17:59] JustasM11 opened #53 "Need a hierarchical view with all test suites and test cases with latest results"
Currently there is no visibility for global project state in case of many launches containing different test suites/test cases.
As user I want to have overview of all my test cases with latest results like:
[code]

[2016-12-19 20:41] DzmitryHumianiuk commented on #44
@JustasM11 Thank you for the request.
this will be discussed with the team

[2016-12-19 20:56] DzmitryHumianiuk commented on #49
@JustasM11 this button expands shorted names in breadcrumbs.

![screen shot 2016-12-19 at 23 55 29](https://cloud.githubusercontent.com/assets/11332788/21328816/b80479ac-c646-11e6-9b43-e3cb3e47494e.png)
![screen shot 2016-12-19 at 23 55 39](https://cloud.githubusercontent.com/assets/11332788/21328817/b82c1854-c646-11e6-88c4-0ee2f5bc7ead.png)

[2016-12-19 20:57] DzmitryHumianiuk commented on #49
@lexecon
1. we should hide it when no steps in breadcrumbs
2. add browser tooltip for it, with basic description

[2016-12-19 20:58] JustasM11 commented on #49
Got it, thanks

[2016-12-19 20:58] #49 closed

[2016-12-19 21:01] DzmitryHumianiuk commented on #51
@JustasM11
Performance part is not described yet, so this description will be considered during requirements preparation.

For now,
1. performance features are not guaranteed to be implemented
2. if **yes**, then first features will be delivered closer to 2017-Q2

[2016-12-19 21:05] DzmitryHumianiuk commented on #52
Could you please give more details?

`Triaged` means test case, which changes state as passed->failed->passed->failed->passed->failed?

[2016-12-19 21:14] JustasM11 commented on #52
Triaged means failed results but with already changed 'Defect Type' from 'To investigate' to any another (System Error, Product Bug, etc.).
So as user I want to get single list from particular launches of:
- Failed tests that still in 'To investigate' state
- Failed triaged tests that were already investigated

[2016-12-20 13:19] DzmitryHumianiuk commented on #38
**RESOLUTION:** rejected

it will be disabled.

In new design 3.0 it fully refactored with `multi-actions`

[2016-12-20 13:19] #38 closed

[2016-12-20 14:18] maaxlee opened #56 "Skipped test is marked as 'to investigate'"
If test case is reported with status 'SKIP' then it's shown as Skipped but marked as 'to investigate'.
I wish it was ignored in this case or marked as 'No defect' (or there is an option to choose behavior).

![skipped](https://cloud.githubusercontent.com/assets/6975495/21353708/484cff70-c6d8-11e6-821e-f1dbbcd38882.png)

[2016-12-20 15:12] DzmitryHumianiuk commented on #24
@Tset-Noitamotua
part1 https://www.youtube.com/watch?v=Wdgme8MwQ4g
part2 https://www.youtube.com/watch?v=NKr93F5H0k8

[2016-12-20 15:12] #24 closed

[2016-12-20 15:39] DzmitryHumianiuk commented on #23
refactoring started.

[2016-12-20 15:39] #23 closed

[2016-12-20 17:38] admizh commented on #40
@DzmitryHumianiuk pls change label for current issue

[2016-12-21 11:38] JustasM11 opened #57 "The same TC is considered as another entry if name of launch/test suite differs"
I have the same TC but in different launches (launch names differ):
launch1---test suite1---test1
launch2---test suite1---test1

I expect that I can see results for test1 for both launch1 and launch2
Currently I see that test1 from launch1 and test1 from launch2 are considered as different test cases and I don't have aggregated results trend for test1.

The same issue occurs when test1 is placed i

[2016-12-21 11:43] JustasM11 opened #58 "Is it possible to impement tags/filters for test results?"
As user I want to be able to filter test results by tags/time/messages in logs/ etc.
For example, the same tests are executed with different parameters so I need to filter out particular results for specific parameters.

[2016-12-21 12:07] szikszail opened #59 "Add link of build to launches"
Hi,

It would be a really great feature if the link of the build - which produced that test execution - could be set to launches when we start a launch with it's API call (like description).
This link would be shown on the list of launches, like description and would be clickable.

Thank you in advance.

[2016-12-21 12:11] szikszail opened #60 "Add possibility to add JIRA links to test through API"
Hi,

I would like to request a feature or API call, with we can add JIRA issue links to test items, like we can do with the Load Bug button.
In many case we mark our test cases with tags that indicates which JIRA item is about that exact test cases. Although these JIRA items are not necessary Bugs, we would like to show this information in Report Portal itself, automatically.

Does Report Portal h

[2016-12-21 13:01] szikszail commented on #60
Is the PUT /{projectName}/item/issue/add API call specifically for this?

[2016-12-21 16:40] DzmitryHumianiuk commented on #60
@avarabyeu

[2016-12-22 10:43] DzmitryHumianiuk commented on #40
In backlog now

[2016-12-22 10:55] JustasM11 commented on #52
I need it also to get results that were triaged by auto analysis feature

[2016-12-22 13:50] nvborisenko commented on #3
Now Report Portal is able to send notifications about finished launches, but cannot send invitations. I guess it is related to issue #40

[2016-12-22 22:48] DzmitryHumianiuk commented on #60
@avarabyeu

[2016-12-22 22:53] admizh opened #61 "[Auto-analysis] Provide configuration on UI for set launches count to analyze"
RP have limit to perform auto-analyse - only last **4** executions take effect to analyze process.

In our project we have alot launches per day. ~**20-30** executions. For exclude launches from auto-analyse we temporarily move it to debug. This strange approach - but it gives ability to selecting launches for auto analyze

I remember - that your team is planning migrate auto-analyzer to elastic-s

[2016-12-22 23:20] admizh commented on #56
Simple case for it (TestNg):

[code]
Defect should be marked like "No Defect". Because test not started due failing in dependent method
Same situation for @BeforeSuite,@BeforeGroups,@BeforeClass,@BeforeTest,@BeforeMethod - if we have failures on this - we should investigate only it.

[2016-12-23 14:15] DzmitryHumianiuk commented on #60
@szikszail It's correct!

[2016-12-23 14:15] #60 closed

[2016-12-23 14:23] DzmitryHumianiuk commented on #59
Hi,

we will consider to implement it as a markdown support for description

[2016-12-23 14:33] DzmitryHumianiuk commented on #58
@JustasM11
what do you mean under `test results`? Is it test case?

You can also use `List view`
1. by clicking on number in TOTAL column.
2. selecting filter by tag

Also,
server side support to add tags to any testItem(it means SUITE, TEST, STEP).
the only thing, you need to implement in your agent, which sends results.
![screen shot 2016-12-23 at 17 31 12](https://cloud.githubusercontent.com/as

[2016-12-23 14:39] JustasM11 commented on #58
Please see these green items with #1, #2, ..., #9:
![test_results](https://cloud.githubusercontent.com/assets/12593214/21456112/907b7460-c936-11e6-86df-2476a85a9fce.png)

Are they called test results?
The idea is to be able to filter them by tags, messages in logs, time, etc.

[2016-12-23 14:40] szikszail commented on #59
Hi @DzmitryHumianiuk

Thank you! That's even better than I suggested. I cannot wait for it :)

[2016-12-23 14:41] DzmitryHumianiuk commented on #56
@maaxlee
which agent do you use?

if it ***TestNG** then try `rp.skipped.issue = FALSE` in parameters.

Agent will send `EPMTY` defect to server for skipped items.

@avarabyeu
please show example of empty defect to send

[2016-12-23 16:01] DzmitryHumianiuk commented on #61
this can be considered to be configurable via server settings.

[2016-12-23 16:05] DzmitryHumianiuk commented on #58
@JustasM11 we call it `history-line`

basically, it is the statuses of current test case in executions #8, #7..... #1
that means it only releated to this particular test case.

please see https://github.com/reportportal/reportportal/issues/25
is it the same, you are looking for?

[2016-12-23 16:07] DzmitryHumianiuk commented on #25
kind of
![image](https://cloud.githubusercontent.com/assets/11332788/21457817/0905dfb8-c943-11e6-9e18-d707c2f3ae6b.png)

[2016-12-23 16:20] DzmitryHumianiuk commented on #57
@JustasM11 current history request, consider the same position in hierarchy. Same suite, same test class.
this constraint allow as to avoid situation, when this testcase (method) called in other suites. This is much relevant for Data Driven automation.

two sided:
**first:** if we remove constraint - we will get tons of false found items in other suites.
**second** if we have it - trend is valid o

[2016-12-23 16:29] DzmitryHumianiuk commented on #52
here we considering to add `AA.touch` flag for analyzed test cases

1.  click `failed` column
2. add filter. Click `More` => `Defect type` => `To Investigate`

![image](https://cloud.githubusercontent.com/assets/11332788/21458231/d4cb0ce8-c945-11e6-8d5f-7e0f9f90c7b7.png)
![image](https://cloud.githubusercontent.com/assets/11332788/21458241/eca527b8-c945-11e6-87e1-175b37e9021c.png)

the same as abo

[2016-12-23 16:29] #52 closed

[2016-12-23 16:30] DzmitryHumianiuk commented on #57
consider as closed,
please re-open for discussion.

required view will be implemented in issue #25

[2016-12-23 16:35] DzmitryHumianiuk commented on #45
**for test cases**
1. click number in `TOTAL` column
2. use filter by `Test Item Name` or `tags`

but you should have populated tags for you test cases in this case.
you can try it via UI edit.
![image](https://cloud.githubusercontent.com/assets/11332788/21458336/c0fe6164-c946-11e6-9ab5-4e9176f91483.png)

**for test suite**
1. click launch name to drilldown
2. use filter by `Test Item Name` or `ta

[2016-12-23 16:39] DzmitryHumianiuk commented on #42
we will discuss it to include into updated design

[2016-12-24 03:03] admizh commented on #56
@DzmitryHumianiuk it work for me, thank you!

[2016-12-25 20:58] #56 closed

[2016-12-25 21:05] DzmitryHumianiuk commented on #58
close for now.
re-open if it did not answer your question

[2016-12-25 21:05] #58 closed

[2016-12-26 10:28] avarabyeu commented on #15
@DzmitryHumianiuk i believe we can put it on hold since new version of client is coming soon.

[2016-12-26 10:36] e-olga commented on #15
Added to RP backlog

[2016-12-26 10:38] e-olga commented on #19
Added to RP backlog

[2016-12-26 10:38] e-olga commented on #32
Added to RP backlog

[2016-12-26 10:41] JustasM11 commented on #45
I'm sorry, but it works just for particular launch, right?
But I need way to find item by tag in all launches in my case one launch doesn't cover all TCs.

[2016-12-26 10:44] JustasM11 opened #62 "I need to find Test Case/Suite by name/tag in ALL launches"
Sorry, cannot reopen https://github.com/reportportal/reportportal/issues/45 . Submitting a new one.

[2016-12-26 12:33] DzmitryHumianiuk commented on #62
@JustasM11
at `All launches` you can interact only with launches.

please see this wireframe
https://github.com/reportportal/reportportal/issues/25#issuecomment-269011251

can this view cover your needs?

[2016-12-26 14:13] JustasM11 commented on #62
Yes, it can be covered by #25  if there will be possibility to filter not only by name but using tags also.
It can be covered by #53 also.

[2016-12-26 14:28] JustasM11 commented on #57
Still I don't completely agree with you. The issue here is that RP doesn't distinguish between Test Suite, Test Case, Test Step: they are common Test Item. Also there is no such artifact as Test Result.

I agree that Test Step can be used in many Test Cases, and Test Case can be executed with different parameters. But they still remain the same.

There are different possibilities to separate resul

[2016-12-26 14:57] nvborisenko opened #63 "Upgrade process: drops pinned filters (tabs on launches view)"
I upgraded docker images from 2.6 to 2.7 and lost my tabs on launches view.

Logout/login/refresh didn't help.

[2016-12-26 17:22] DzmitryHumianiuk commented on #63
@nvborisenko do you mean opened filter-tabs?

filters are still available under `Filters` view?

[2016-12-27 09:30] nvborisenko commented on #63
I mean `Launches` tab, filters at top of the page.

Filters still exist on the `Filters` tab.
![screenshot_1](https://cloud.githubusercontent.com/assets/22616990/21496531/3dc6e090-cc30-11e6-9783-1b9cb45a040b.png)

[2016-12-28 08:09] Rider1982 opened #64 "Please correct limitation: test log item time after parent item's start time"
I'm trying to add to RP a failed attempt of execution of test case which is cannot be started at all (for example due to environment reasons or conflicting settings). This test has no start time, no end time and no duration. I would add a log item to this test case and I must specify the log item time. The good idea is to use parent test case start time as test case item start and finish time and

[2016-12-28 11:37] avarabyeu commented on #64
hi @Rider1982. Good point, thank you. Actually, we are thinking about removing that constraint at all since sometimes (for asynchronous clients) log time can be even after parent's item finish time.

[2016-12-28 12:13] barzoj opened #65 "[feature request] provide support for LDAP based authentication"

[2016-12-28 12:17] nvborisenko commented on #65
Already requested, please refer #12

[2016-12-28 12:17] #65 closed

[2017-01-11 11:30] avarabyeu commented on #62
@JustasM11 Just to make sure. Do you need it as API method or to be placed on UI?

[2017-01-11 12:57] DzmitryHumianiuk commented on #61
@admizh started

[2017-01-12 19:52] JustasM11 commented on #62
I meant UI

[2017-01-13 14:38] DzmitryHumianiuk commented on #19
@admizh @avarabyeu
possible solutions: add as parameter for server (via docker compose)

planned sprint12

[2017-01-17 11:43] Rider1982 opened #66 "JIRA integration: possibility to select issue type"
Now JIRA integration allows to post the "Bug" issue type only (detected on integration with jira.epam.com). Out project needs to post the "Defect" (custom?) issue type for automation issues.

[2017-01-17 11:48] Rider1982 opened #67 "BTS integration: macros for default values"
There is a good idea to include some macros (failed test item properties) as parts of default field values in BTS integrations. Some examples:
Default subject: "The %test_case_name% test finished with the "%status%" status" or
Default description: "Test case "%test_case_name%" failed with message %error_message% or
Default product area: %parent_name%

[2017-01-18 11:18] avarabyeu commented on #67
Good idea, actually

[2017-01-18 11:20] avarabyeu commented on #66
@DzmitryHumianiuk Could you please handle. Not sure if we really need to support it since different defect types can have different fields, so client will have one more step in project-level configuration page

[2017-01-18 16:34] Rider1982 commented on #66
In out case we setup integration with RP on existing project with existing processes and rules. We use the issue type "Defect" for automation problems to separate manual and automation bugs. RP requires to use Bugs for registration of problems in JIRA, so if we want to continue collect problem statistics in current manner,  we must convert out defects to bugs or do not use the "Create Bug" feature

[2017-01-20 07:57] Rider1982 opened #68 ""No Defect" column is needed in Lauches table (hidden defects)"
There is "No Defect" column needed in Launches table. Story:
1. Test failed
2. At investigation moment the found problem is not reproducible
3. Autotetster marks fail as "No Defect"
4. The problem continues to reproduce later
RP does not show the "No Defect" column, but the problem still be "No Defect" (due to auto analyzis) and stay hidden from statistics in Launches table.

[2017-01-20 10:51] avarabyeu commented on #19
Fixed in 3.0. Now there are following configuration properties for service-api are available:
rp.upload.maxUploadSize=128MB
rp.upload.maxFileSize=32MB

KB,MB,GB postfixes are allowed.

[2017-01-20 10:51] #19 closed

[2017-01-20 14:31] autotests-bridge opened #69 "Cannot set get results older than for 10 latest runs"
History depth selector is limited to maximum 10 latest runs:
I need all history starting from the very beginning.
No results should be deleted.
![history](https://cloud.githubusercontent.com/assets/25088410/22152945/32631ed0-df36-11e6-9414-700ec0c6be40.png)

[2017-01-20 14:36] JustasM11 opened #70 "No 'history view' button if launch is moved to DEBUG"
History button disappears after run is moved to DEBUG mode.
I want to see history of runs during issue analysis:
![debug](https://cloud.githubusercontent.com/assets/12593214/22153109/f09f9df6-df36-11e6-8ac7-312ccc157cf8.png)

[2017-01-20 14:39] JustasM11 opened #71 "TestCase under-investigation mark/lock for analysis and assign team members for them"
Currently I can only move whole run to DEBUG for analysis. And I cannot lock it from modification by another team members.
Our team has several QA so we need to distribute analysis work. I want to move separate issues for analysis and assign/lock users to them. By default I want that issue is assigned to person who moved it to DEBUG for analysis.

[2017-01-23 12:39] azakordonets opened #72 "Does report portal support Allure Test Annotations or anything similar ?"
Hi,

Not sure whether i should write into this repo or into testng client, but does report portal support anything like Allure Step annotations? Is there any way to integrate Allure reports with ReportPortal ? https://github.com/allure-framework/allure1/wiki/Steps

[2017-01-24 08:03] avarabyeu commented on #72
@azakordonets Unfortunately, we don't support Allure annotations now. But i like the idea :)

[2017-01-24 08:04] JustasM11 opened #73 "[Log View] Need way to correctly select and copy log messages"
Currently selection and paste results are ugly - I cannot use it while submitting issue in bug tracker:
Selected in RP:
![selected_rp](https://cloud.githubusercontent.com/assets/12593214/22238840/abf75c3e-e224-11e6-9b77-74e86e62648e.png)

Pasted from RP into Notepad++ (Monospace):
![pasted_rp](https://cloud.githubusercontent.com/assets/12593214/22238842/afb5eb38-e224-11e6-9fce-89b4c020d738.png)

E

[2017-01-24 08:05] #72 closed

[2017-01-24 08:23] azakordonets commented on #72
Ok, thanks. I'm gonna to start watching your project then :)

[2017-01-24 14:38] avarabyeu commented on #73
Good idea. Thank you for contribution!

[2017-01-25 20:21] DzmitryHumianiuk commented on #68
This will be covered with parent line in design of version 3.0.
Parent line will be extended with`No Defect` item

[2017-01-25 20:24] DzmitryHumianiuk commented on #69
@autotests-bridge results not deleted in this case
It's just the limitation for request, to prevent server overload with huge history requests.

How many items in history do you expect?

[2017-01-25 20:28] DzmitryHumianiuk commented on #70
@JustasM11
Work as desired

History button removed from `Debug Mode`. This is done intentionally.

Could you please describe your use case?

[2017-01-25 20:32] DzmitryHumianiuk commented on #71
@JustasM11 looks like you use debug mode, just to hide launch from the rest of the team, for the period while you analyze test fails?

`Modification` - here you mean investigation? Like changing defect type

[2017-01-26 14:00] JustasM11 commented on #71
@JustasM11 looks like you use debug mode, just to hide launch from the rest of the team, for the period while you analyze test fails?
@DzmitryHumianiuk
Hello, yes, it is absolutely correct. I'm using button Move to Debug and DEBUG mode to mark partucular execution results as under investigation.

Correct.

[2017-01-26 14:11] JustasM11 commented on #70
@DzmitryHumianiuk
My use case is:
We have several team members and many nightly/weekly jobs (~12 jobs every night with total ~1200 TCs every night). Every day there are 3-5-10 failed issues that needs to be investigated.
We tried RP in hope that it will help us to solve 2 problems:
1) Easily track investigation results: we strive to have zero non-triaged failures
2) Easily submit investigation res

[2017-01-26 14:14] JustasM11 commented on #70
Additionally we see lack of callbacks that may be assigned to events of changing TC state. For example, we need to update our custom bug tracking system and attach failed test run after found issue.

[2017-01-26 14:17] JustasM11 commented on #69
I expect to have possibility to get as many items as my history has :)
Some of my TCs have ~2.5K of results.
You may simply use pages with maximum 99 entries to prevent server overload. Or make like infinite ribbon with test results like in social networks.

[2017-01-27 11:40] DzmitryHumianiuk commented on #32
fixed
#EPMRPP-23252

[2017-01-27 11:40] #32 closed

[2017-01-27 12:59] DzmitryHumianiuk commented on #71
@JustasM11 we assume `debug mode` as part of project, where invalid execution can be stored.

I would suggest you to try tags for launches. As an example:
**Option 1**:
1. create filter for whole team members, which will exclude launches with tag `UNDER REVIEW` (or with tags contains `reviewed`)
2. share this filter and ask team to use it as base.
3. if you start with launch analysis - add tag `UN

[2017-01-27 13:03] DzmitryHumianiuk commented on #69
@JustasM11 there is an idea for total refactoring of history view

https://github.com/reportportal/reportportal/issues/25

please see my comment here: https://github.com/reportportal/reportportal/issues/25#issuecomment-269011251

Does it cover you need more that existing functionality with thousand items in a row?

[2017-01-27 14:29] JustasM11 commented on #71
We investigate 1 issue per engineer.
Options 1 and 3 are not suitable: too much work and setup to be viable. Users just need one button without configuring or entering something from keyboard.

But I like very much Option 2 and we will try it (:

Probably in future you may decide to implement button like "Lock for investigation" (:

[2017-01-27 14:30] JustasM11 commented on #71
Also this button can have possibility to assign another team member to investigate issue.

[2017-01-27 14:34] JustasM11 commented on #69
Yes, I would also prefer to have configurable filter to show results for some range or based on result data.
For example, we store 3rd-party software versions in notes, so probably I would need to find results for particular text in Notes.
But I still want to simply scroll/list back over results to get overview for TC health without need to enter anything from keyboard.

[2017-01-27 14:37] JustasM11 commented on #70
What is the purpose for DEBUG mode then?

[2017-02-08 11:00] JustasM11 commented on #70
@DzmitryHumianiuk What is the purpose for DEBUG mode then?

[2017-02-08 11:35] DzmitryHumianiuk commented on #66
@Rider1982 this considered to be done.

[2017-02-08 11:40] Rider1982 commented on #66
I can check it only on EPAM Report Portal instance. At the moment it looks as described.

[2017-02-13 13:17] avarabyeu commented on #64
Fixed. The following constraints were removed:
1. Logging is allowed only to test items which are in progress state
2. Logging is allowed only to test items which do not have children

Log item still should be after (OR equal) parent's start time and before (OR equal) parent's finish time.

[2017-02-13 13:17] #64 closed

[2017-02-13 15:09] DzmitryHumianiuk commented on #40
Done.
available with 3.0

[2017-02-13 15:09] #40 closed

[2017-02-13 17:31] iKozzz opened #74 "Create filter based on Test not Launch"
It would be nice to have ability to create filters for particular test(s).

Right now we are able to create filter by launch.

imagine this structure
<client1 - Feature X>, <client ... - Feature X>, <clientN - Feature X>

At this moment we need to create a separate launches which are includes only this feature.

But what i want to see is ability to tag particular test and create a filter for it.
<

[2017-02-22 14:56] JustasM11 opened #75 "Sort doesn't work for results"
1) Go to Launches
2) Find launch with "To investigate" issues
3) Click on yellow number in "To investigate" column
4) On page with "To investigate" try to sort by Status
Expected: Results are sorted by status
Actual: Results are not sorted by status
See attached image.
![sort_issue](https://cloud.githubusercontent.com/assets/12593214/23216825/5ee2b270-f928-11e6-85fc-b027e544c691.png)

Build:
Gatew

[2017-02-22 15:00] JustasM11 opened #76 "No results after click on 'Failed' number in launch"
1) Go to Launches
2) Find launch with 'Failed' results
3) Click on 'Failed' number
Expected: List of failed results
Actual: No results
See attached image
![no_results](https://cloud.githubusercontent.com/assets/12593214/23216950/bf883334-f928-11e6-8b20-03ea730de52f.png)

Build:
Gateway Service: 2.7.1;UI Service: 2.7.0;Rally Service: 2.7.1;Authorization Service: 2.7.1;API Service: 2.7.1;Registry Se

[2017-02-25 12:13] dmakhno opened #78 "Cannot login, need Default Admin"
After #seleniumcamp and @DzmitryHumianiuk.
I've installed locally. Reading docs.
Everything is up, however I cannot find an default admin or/and how to create it.

Please add somewhere to docs how to login.
Now new fancy ReportPortal, like a brick for me. Happy jumping, but no entrance and no wonderful reports.

PS. Cannot use github login, since it works locally for now.

[2017-02-25 17:16] fasterfish commented on #78
You can use next:

admin account username: superadmin, password: erebus.
user account username: default, password: 1q2w3e

[2017-02-26 17:49] dmakhno commented on #78
Thanks. I read getting started on the site and upped site. But not in readme.

[2017-02-26 17:49] #78 closed

[2017-02-27 11:16] dmakhno opened #79 "Feature request: Timeline, profiling of tests"
Scratch...

As a User I'd like being able to instrument tests that they strictly log:
- start/end entity.
- entities can be nested. e.g "class" entity, will contain several setup, teardown, test entities.
- I can label/tag nested entities.
  My desire for slow test monitoring:
  - #api requests, per route
  - #webdriver requests, per page
  - #wait, explicit sleep calls
  - any other.
- the run ca

[2017-02-27 12:36] fasterfish opened #80 "Expression '\Users' is replaced with spaces"
As a report portal user:

Given I have .Net/Java client
When I send log message 'C:\Users\UserName\Desktop\Something'
Then I want to receive message correctly on report portal

Actual: I receive next message 'C:      \UserName\Desktop\Something'

The expression '\Users' is replaced with spaces at the report portal.

[2017-02-28 08:15] avarabyeu commented on #80
@fasterfish Unfortunately, cannot reproduce an issue. Could you please share some unit test in java to be able to reproduce?
Logger type? Logger configuration? Version?
Thanks!

[2017-03-01 09:46] iKozzz commented on #80
Hey. I'm using logback
`private static final Logger LOGGER = LoggerFactory.getLogger("binary_data_logger");`

sending to RP
`LOGGER.info("Blablabla\Users")`

and result on RP is logged as:
`"Blablabla "`

pom dependencies:
`        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>logger-java-logback</artifactId>
            <version>2.6.0</version>

[2017-03-01 12:03] avarabyeu commented on #80
[Compilation error](http://prntscr.com/eemlb8)

[2017-03-01 14:08] iKozzz commented on #80
Nice, actually i was using
import org.slf4j.Logger;
import org.slf4j.LoggerFactory
with Logback

just realized. And after I have changed logger to `import org.apache.log4j.Logger` I started to get compilation error

[2017-03-01 14:43] avarabyeu commented on #80
This is not related to frameworks, this is just unescaped symbol in string literal

[2017-03-01 15:11] nvborisenko commented on #80
API returns correct log message, UI shows this message incorrectly: [http://prntscr.com/eep6i1](url)

[2017-03-01 15:51] alexamber commented on #71
+1 for assignment option
Currently we solve the problem using tags, but is is not very convenient because each tag setup takes ~10sec that is pretty annoying hundreds of tests waiting for analysis.
Mb idea with another "To Investigate"-like defect type will work as a solution.

[2017-03-02 11:25] e-olga commented on #76
Hi @JustasM11
When you click 'Failed' items link you get to STEP view, i.e. you see all items with 'type'="STEP":
..filter.eq.has_childs=false&filter.in.status=FAILED&filter.in.type=STEP...
In case you have launch structure SUITE>TEST>STEP, failed items will be displayed.
In case you have launch structure SUITE>TEST, failed items are NOT on STEP view, so they are not shown.  (But you can see the c

[2017-03-02 12:43] DzmitryHumianiuk commented on #75
@e-olga

[2017-03-02 12:54] avarabyeu commented on #80
@lexecon Alexey, could you please check on UI side

[2017-03-02 12:58] DzmitryHumianiuk commented on #76
@JustasM11
after clicking on `7 failed` items, please remove `Method Type` filter
and let us know the result (screenshot).
Thank you

[2017-03-03 08:58] e-olga commented on #75
Hi @JustasM11,
In current implementation, the sorting is executed by Status under a particular parent group (the same Suite/Test).
So, sorting works correctly for your example.

[2017-03-03 09:32] avarabyeu commented on #75
@e-olga feel free to close as invalid if it is not an issue :)

[2017-03-03 10:26] JustasM11 commented on #76
@DzmitryHumianiuk this fixed issue :)
So bug is that Method Type "Test" is set as default filter after one click on number of failed items, right?
Correct behavior should be setting proper Method type that allows to view failed items.

![test_filter_removed](https://cloud.githubusercontent.com/assets/12593214/23547620/e8a0a59c-0014-11e7-9efa-e76a3e6e6465.png)

[2017-03-03 10:51] JustasM11 commented on #75
@e-olga Do I understand correctly that I cannot sort because results are grouped by Test Folders and sorting actually works for test folders? Is there way to get the same view but not grouped to be able to sort results?

[2017-03-03 12:08] e-olga commented on #75
Yes, it's correct for current version of product.
The possible workaround is to drill down to STEP view via launch structure. But in this case you can see items from one folder only .
The sorting could be a bit changed with new implementation. This case (issue) is added to be discussed on development workshop meeting

[2017-03-03 14:41] e-olga commented on #75
@JustasM11
With Release 3.0 functionality of sorting will be changed.
It seems to me that the sorting will work in the same way as you expected.

[2017-03-05 15:22] avarabyeu commented on #76
@JustasM11 befores and afters also may fail. so that's correct behaviour i assume.

[2017-03-07 13:05] avarabyeu commented on #71
"assign" functionality can only be considered as part of bugtracking system integration. ReportPortal itself does not want to be one more another task tracking system.

[2017-03-13 08:54] psprogis opened #82 "[AGENTS] Support for Protractor+Jasmine tests ?"

[2017-03-13 16:06] DzmitryHumianiuk opened #83 "FEATURE REQUEST: Have a report (dashboard) wich allows to see test scenarious and related features (BDD) and tests statistic"
_via USERVOICE_

We use allure report on a project and it has a great feature to display
features and realted scenarious and statistic on failed/passed tests.
Like here (http://ci.qatools.ru/job/allure1_master-deploy/lastSuccessfulBuild/Allure_report/ -> Behaviors tab)
It would be great to have it in reportportal,
We use specflow on our project.
All BDD scenarious are tagged by specific features a

[2017-03-14 21:41] avarabyeu opened #84 "Docker images: Replace ADD+touch with wget to avoid additional layer creation"
Start of discussion is placed here: reportportal/service-gateway#3

[2017-03-14 21:47] avarabyeu commented on #75
Closing issue since it's resolved in 3.0

[2017-03-14 21:47] #75 closed

[2017-03-14 21:54] avarabyeu commented on #63
@lexecon could you please comment on the issue

[2017-03-16 07:42] JustasM11 commented on #75
@DzmitryHumianiuk
@avarabyeu You stated issue is closed in v3.0. I cannot find v3.0 with fix. Could you please help me and point to link with fix?

[2017-03-16 07:47] JustasM11 commented on #76
@avarabyeu I'm sorry but I don't understand why it is correct behavior that I don't get any results after clicking on number in "Failed" column?
For me it is like you have underscored link that leads to 404 page.

[2017-03-16 08:16] lexecon commented on #80
Fixed in version 3.0

[2017-03-16 08:22] #80 closed

[2017-03-20 16:12] DzmitryHumianiuk commented on #59
implemented in 3.0

[2017-03-20 16:12] #59 closed

[2017-03-20 16:13] DzmitryHumianiuk commented on #46
@avarabyeu will we have it in new TestNG agent, after async client release?

[2017-03-20 16:15] DzmitryHumianiuk commented on #6
@avarabyeu up?

[2017-03-20 16:40] DzmitryHumianiuk commented on #82
@psprogis we have it for `"protractor": "^3.0.0"`. should be checked for stability
@avarabyeu could you please upload existing integration from internal gitLab?

[2017-03-20 16:55] DzmitryHumianiuk commented on #70
@avarabyeu that's for you

[2017-03-20 17:02] DzmitryHumianiuk commented on #70
@JustasM11 initial idea for the `Debug` was like to hide invalid execution from the finite work (launches tab).
Launches in `Debug` will not be shown in widgets/dashboards, will not be counted in auto-analysis and will not affect overall project state.
This also can be used for experimental executions (`rp.mode = DEBUG`) to avoid the mess in launches.

that was not for locking or investigation pur

[2017-03-20 17:04] DzmitryHumianiuk commented on #25
By @JustasM11

For example, we store 3rd-party software versions in notes, so probably I would need to find results for particular text in Notes.
But I still want to simply scroll/list back over results to get overview for TC health without need to enter anything from keyboard.

https://github.com/reportportal/reportportal/issues/69#issuecomment-275678640

[2017-03-20 17:05] DzmitryHumianiuk commented on #25
![image](https://cloud.githubusercontent.com/assets/11332788/24111753/87288a0e-0da8-11e7-8791-5c6b2ac63eb2.png)
increased up to **30**

available with 3.0

[2017-03-20 17:06] DzmitryHumianiuk commented on #69
![image](https://cloud.githubusercontent.com/assets/11332788/24111753/87288a0e-0da8-11e7-8791-5c6b2ac63eb2.png)
increased up to **30**

available with 3.0

[2017-03-20 17:06] #69 closed

[2017-03-20 17:08] DzmitryHumianiuk commented on #68
`No defect` will not be populated by auto-analysis for the next launch

[2017-03-20 17:13] DzmitryHumianiuk commented on #68
@Rider1982
can this help?
![image](https://cloud.githubusercontent.com/assets/11332788/24112158/a9901e62-0da9-11e7-9e3b-00c8fccabc7a.png)

[2017-03-20 17:20] DzmitryHumianiuk commented on #66
@Rider1982 we will refactor JIRA Integration.
Selection of issue will be considered

[2017-03-20 17:25] DzmitryHumianiuk commented on #62
https://github.com/reportportal/reportportal/issues/25
https://github.com/reportportal/reportportal/issues/53
https://github.com/reportportal/reportportal/issues/62

to be unified as one feature

[2017-03-20 17:34] lexecon commented on #36
Fix in 3.0

[2017-03-20 17:34] #36 closed

[2017-03-20 17:35] DzmitryHumianiuk commented on #73
@JustasM11 this will be covered with `console` view for logs.
planned for 3.1

[2017-03-20 17:38] DzmitryHumianiuk commented on #53
#25 - as idea base

[2017-03-20 18:02] avarabyeu commented on #61
Parameter (might be added for service-api)  will be called `rp.issue.analyzer.depth`. Default value:
`rp.issue.analyzer.depth=5`
Once 3.0 is released, we update demo docker-compose.yml with that config parameter

[2017-03-20 18:02] #61 closed

[2017-03-20 18:03] DzmitryHumianiuk commented on #48
have interceptions with #68

[2017-03-20 18:06] DzmitryHumianiuk commented on #75
@JustasM11 will be release soon.
please see https://github.com/reportportal/reportportal/releases

[2017-03-20 19:22] DzmitryHumianiuk commented on #42
@Rider1982
I guess, we will cover it in other view.
Kind of `test case grouping` view, based on stack trace.

First, it will help to group of similar fails occurs.
Second, it will make stack trace visible at test case level.

[2017-03-20 19:27] DzmitryHumianiuk commented on #41
@Rider1982 thank you for details.

The issue we face with this change: represent it later on different widgets.
Currently `To Investigate` state assumed that no one touched it, and this used in formulas of various widgets.
This leads to cascade updates of all dependent objects.

[2017-03-20 19:28] DzmitryHumianiuk commented on #39
@avarabyeu this one for you

[2017-03-20 19:30] DzmitryHumianiuk commented on #35
https://github.com/reportportal/reportportal/issues/43

[2017-03-20 19:30] DzmitryHumianiuk commented on #43
https://github.com/reportportal/reportportal/issues/35

[2017-03-20 19:31] DzmitryHumianiuk commented on #35
@JustasM11 monospace - done.
available with 3.0

_intervals and checkerboards_ will be done with #43

[2017-03-20 19:32] #35 closed

[2017-03-20 19:33] DzmitryHumianiuk commented on #33
@iKozzz
Done.
Admin/PM can delete shared widgets and dashboards at project.
in 3.0

[2017-03-20 19:33] #33 closed

[2017-03-20 19:35] DzmitryHumianiuk commented on #30
@avarabyeu is it really possible with current implementation?

[2017-03-20 19:38] DzmitryHumianiuk commented on #29
@OstapJ
now it will be on different sides of toolbar
![image](https://cloud.githubusercontent.com/assets/11332788/24118113/b634e742-0dbd-11e7-9aec-b245a85d3806.png)
it will reduce the chance of accidental click.

in 3,0

limitation by roles is not the best one.

[2017-03-20 19:38] #29 closed

[2017-03-21 07:26] DzmitryHumianiuk commented on #31
@iKozzz limit removed.
Now there is no limit.
Widgets will be loaded as soon as reach visible screen area after scroll

[2017-03-21 07:26] #31 closed

[2017-03-21 08:07] avarabyeu commented on #76
@lexecon @DzmitryHumianiuk Guys, could you please handle.

[2017-03-21 08:23] e-olga commented on #21
Hi admizh,
I was not able to reproduce the issue above. Looks the RP shows correct time of actions both for item on LOG view
![issue_21_screen_item](https://cloud.githubusercontent.com/assets/22497746/24138258/9952564e-0e28-11e7-9b3e-66b85e70a290.png)
and on Project activity panel
![issue_21_screen_widget](https://cloud.githubusercontent.com/assets/22497746/24138263/a00bb46c-0e28-11e7-8b3a-71fddde

[2017-03-21 09:29] DzmitryHumianiuk commented on #21
@e-olga please double check it in 2.7 version
It's an old bug

[2017-03-21 09:42] e-olga commented on #21
@DzmitryHumianiuk The issue actually was checked in RP v 2.7.

[2017-03-21 09:58] avarabyeu commented on #30
@DzmitryHumianiuk yes. With current implementation it may leave DB in inconsistent state.

[2017-03-21 10:01] avarabyeu commented on #39
@DzmitryHumianiuk @lexecon
Requires swagger API update. Please, schedule. Not a big deal for server side, but requires some changes on UI side.

[2017-03-21 10:03] avarabyeu opened #85 "[Swagger] API for Authorization Service"
Swagger for UAT service should be supported.
ui-service should aggregate info from both API and UAT services

[2017-03-21 10:24] e-olga commented on #21
@admizh Could you please check whether the time on server is synchronized with your local time?
Next command could be used:
docker exec -it [container id] date

[2017-03-21 11:30] avarabyeu commented on #39
Let me comment on the items:

- a way to send a log with an attached file (clients use multipart) - It might be possible to send multipart via swagger, but request request some logic (putting filename into the main part with json which reflect name of file in multpart)
- allowed logging levels - Possible
- allowed issue types - Impossible. This is not static information and depends on the project

[2017-03-22 13:21] DzmitryHumianiuk commented on #39
https://github.com/reportportal/reportportal/issues/85

[2017-03-22 15:05] pictureb00k commented on #84
now it looks like here:
https://github.com/reportportal/service-api/pull/57/commits/76ea393b65de95536897d23f0bd82549be9ef663

[2017-03-22 15:05] #84 closed

[2017-03-23 19:21] JustasM11 opened #86 "Will RP 3.0 answer following questions?"
Some words about my project. I have total ~800 unique automated TCs that are executed on daily basis in 3 pipelines, each pipeline executes all TCs but on different environments:
* CentOS6 pipeline, ~700 regression TCs executed nighly, 7 jobs (each job produces separate RP launch)
* CentOS7 pipeline, ~700 regression TCs executed nighly, 7 jobs
* HW pipeline, 700 regression + 100 long-running and p

[2017-03-27 14:42] DzmitryHumianiuk opened #87 "[WIDGETS] A new widget with statistics represented as Area Map"
The launches statistic widget is very confusing, currently it is adding the numbers on top of each others which doesn't give indication on the % of tests cases in each status, I would prefer something like area map with where each test status covers an area relevant to the number of tests cases with that status.

http://rpp.uservoice.com/forums/247117-report-portal/suggestions/9689514-a-new-widget

[2017-03-27 14:44] DzmitryHumianiuk opened #88 "[WIDGETS] Passing rate"
Create widget to represent passing rate

[2017-03-31 03:18] admizh opened #89 "[UI] The "Method type" filter button work not properly"
Expected behavior:
After click to "Method type" button - methods with type: before/after test should be hidden.

Current results:
Enabled  "Method type" filtering doesn't hide all methods (before/after)

![filter methods](https://cloud.githubusercontent.com/assets/6014483/24534731/e079f116-15e0-11e7-8ad1-da3666ab986b.gif)

Also I see borders - which should not be displayed
![2017-03-31_7-05-35](ht

[2017-03-31 03:37] admizh opened #90 "[UI] Twice rendered controls"
1. Open Test Case view under Test Launch
2. Scroll down
3. Select all Tests

Current results:
![2017-03-31_7-32-13](https://cloud.githubusercontent.com/assets/6014483/24535373/b72f55b8-15e4-11e7-9aa0-e27962e98848.png)

Steps:
![twice rendering](https://cloud.githubusercontent.com/assets/6014483/24535380/c19a7e2e-15e4-11e7-92ab-0cbfbf30abeb.gif)

[2017-03-31 03:49] admizh opened #91 "[UI] Disabled "Refresh" button - need take action"
![image](https://cloud.githubusercontent.com/assets/6014483/24535621/3e4fff06-15e6-11e7-8d74-cdf83be32d52.png)

Steps to reproduce:
1. Go to "Tests investigation" view
2. Select all tests
3. Change defect type
![disabled refresh button](https://cloud.githubusercontent.com/assets/6014483/24535653/747faec8-15e6-11e7-99a3-1f9c4bbd5bd9.gif)

[2017-03-31 04:14] admizh opened #92 "[Merged launches] Negative value in the "To Investigate" counter for merged launch"
Steps to reproduce:
1. Generate demo data under project settings
2. Go to launches
3. Select all launches
4. Merge selected launches
5. Open items with status "To Investigate"
6. Select all "To Investigate" items
7. Perform bulk operation -> change Defect type
8. Go back to "launches" view
9. Check "To Investigate" counter value

![2017-03-31_8-05-59](https://cloud.githubusercontent.com/assets/601

[2017-03-31 05:19] admizh opened #93 "Comparing test duration time between launches"
In prev. RP release we have "Test Duration" table colum, and some peoples need sorting(descending/ascending) by this colum: https://github.com/reportportal/reportportal/issues/75
but in current(3.+) release this column was removed: https://github.com/reportportal/service-ui/commit/698f95b9fde13cbb0c10f338fa2dfb5273bfa94f
and moved to special place for this:
![image](https://cloud.githubusercontent

[2017-03-31 06:35] admizh commented on #15
Hi Team. I have same issue in RP v3.+

Steps to reproduce:
1. Put incorrect endpoint URL to reportportal.properties
`rp.endpoint = http://unknown-host:8080/`
2. Execute test and set brekpoins to **com.google.common.base.Throwables#throwIfUnchecked**
3. TestNg agent  should throw **com.epam.reportportal.restclient.endpoint.exception.RestEndpointIOException**: Unable to execute request - because thi

[2017-03-31 15:58] e-olga commented on #89
Hi @admizh,

Collapse/Expand hides all precondition methods,  **except** methods with status FAILED (mentioned in  [Docs](http://reportportal.io/#documentation/Viewing-data)).
Borders are visible intentionally, due to show that some items are collapsed.

[2017-03-31 19:49] avarabyeu commented on #88
![](https://github.trello.services/images/mini-trello-icon.png) [one-two](https://trello.com/c/3fjt5kDh/1-one-two)

[2017-04-02 10:16] admizh commented on #89
@e-olga  Thank you.

[2017-04-02 10:16] #89 closed

[2017-04-03 15:27] iKozzz opened #94 "Admin can't remove shared dashboard or widget"
Error appears when admin tries to remove shared dashboard or widget
[code]

[2017-04-03 16:00] serhiisavruk opened #95 "Launch name for widget have unexpected rule"
I can't add launch name for "Most failure test-cases table" widget, because launch name length should be more equal three. This rule is not used on launch creation, so I have launches with name like "IR".
My launches:
<img width="457" alt="screen shot 2017-03-27 at 3 34 25 pm" src="https://cloud.githubusercontent.com/assets/1574658/24356583/4c70ee00-1303-11e7-8f91-3a0f91e41ac6.png">
Try to add lau

[2017-04-04 06:51] Andrey-Cherepakha opened #96 "[WIDGETS] The most time-consuming tests"
Add a widget to show the most time-consuming tests (top 10 / 20 / 50 / 100) within a launch. Just simply order all test within a launhc by execution time in order to find  the longest ones.

[2017-04-04 06:59] lifemanship opened #97 "Export dashboard/widget as PDF/XLS/HTML"
Hello all,
Do you plan to add export functionality to the **DASHBOARD**/**WIDGET** as it done for **LAUNCHES**?

[2017-04-04 08:06] e-olga commented on #95
Added to RP backlog

[2017-04-04 08:07] e-olga commented on #90
Added to RP backlog

[2017-04-04 09:00] e-olga commented on #96
Added to RP backlog

[2017-04-04 09:46] DzmitryHumianiuk commented on #93
Hi,
will https://github.com/reportportal/reportportal/issues/96 cover the needs?

btw,
There was no sorting by duration in RP from the first day. Since we do not store calculated value in DB.
all items have only `start_time` and `finish_time`, and duration calculates on the fly.
since no field in DB, then no option to sort by duration.

[2017-04-04 09:51] DzmitryHumianiuk commented on #93
in request above, I see 2 points:

* 1: add column and sorting by duration
* 2: add `time gain` for each object

@admizh which is more priority: 1 or 2?

[2017-04-04 10:56] DzmitryHumianiuk commented on #91
will be fixed in 3.0 beta

[2017-04-04 11:00] DzmitryHumianiuk commented on #94
fix in 3.0beta

[2017-04-04 11:38] DzmitryHumianiuk commented on #97
@lifemanship hi,
there was such an idea.
but still keep it with low priority, since no demand on it.

what is the use case for it?

[2017-04-04 12:08] lifemanship commented on #97
Thanks for the answer,
The use case for example :
Export to PDF "**Launches duration chart**" with LoadTests to see changes by the time during last month, by the way it would be nice to have also "**TimeLine mode**" for such type of the widgets.

[2017-04-05 09:25] lifemanship opened #98 "Show tags in the order they were added to the launch/suite/test"
I saw through the code in the file: service-ui\src\main\resources\public\js\src\launch\launch-grid.js
and found function tagSorter:
[code]
It looks like UI changes the **TAGS** order. May be you can add toggle button like: **SORT TAGS**.

[2017-04-05 20:26] avarabyeu commented on #98
@lifemanship Putting 'build' tag at the first place of the list was proposed by some of our client and considered as useful improvement. @lexecon The question here: does existing code keep initial order of other (not the 'build') tags?

[2017-04-05 20:34] avarabyeu commented on #94
Actually, the problem is still under discussion. There are two types of roles in ReportPortal:
1) User roles
2) Project roles
The mentioned action requires project role higher than 'LEAD'. Not sure if we need mix logic and give administrator project-based permissions. The way i would suggest to workaround the issue is to assign admin to project with 'lead' role and only then allow to remove projec

[2017-04-05 20:40] avarabyeu commented on #93
@admizh @DzmitryHumianiuk Technically, it's painful change, because (as already mentioned above) duration is not stored in DB. So, I strongly suggest to proceed with widget and avoid adding one more column to the table.

[2017-04-06 06:58] lifemanship commented on #98
I forgot to propose an example:
Our tests have tags like these:
OS, Bitness, Browser, BuildNumber, and so on

In such order it is easy to see which platform/browser were used during tests run

[2017-04-06 09:28] pictureb00k commented on #92
Fixed in 3.0

[2017-04-06 09:28] #92 closed

[2017-04-06 20:35] lifemanship opened #99 "Is it possible to create filter(not shared) for specified user by admin with using rest api?"
I want to automate the procedure of creating user through **REST API.**
1) create user
2) assign to the specified(shared) project
3) add some filters

[2017-04-07 12:31] admizh opened #100 "The pop-up disappears, if the mouseup event is performed outside of pop-up borders"
Steps to reproduce:
1. Open "Edit Defect Type" pop-up
2. Set comment
3. Perform left click and release outside of popup (select all via mouse)

Results: Pop-up is disappears, сomments not saved

![2017-04-07_16-25-08](https://cloud.githubusercontent.com/assets/6014483/24800076/8c4ec952-1baf-11e7-8fb1-e8c234476fad.gif)

[2017-04-07 13:19] DzmitryHumianiuk commented on #99
![image](https://cloud.githubusercontent.com/assets/11332788/24801541/4fd6bbe4-1bad-11e7-8231-ff73312029b8.png)
`http://YOUR_INSTANCE:PORT/ui/swagger-ui.html`
1. create user
`http://YOUR_INSTANCE:PORT/ui/swagger-ui.html#!/user-controller/createUserByAdminUsingPOST`
![image](https://cloud.githubusercontent.com/assets/11332788/24801636/b147bdce-1bad-11e7-894a-06e84e2b33ff.png)

[code]

2. if you nee

[2017-04-07 14:05] lexecon commented on #91
The counter will be removed when the button is not active

[2017-04-07 14:17] #99 closed

[2017-04-07 14:28] DzmitryHumianiuk commented on #95
@serhiisavruk initially works as desired.

will consider to to remove this limitation

[2017-04-07 14:31] DzmitryHumianiuk commented on #94
@iKozzz
resolved with the next:
admin will have PM role at project, when assigned.

to avoid `if/else` workarounds in permission's code line.

[2017-04-07 14:31] #94 closed

[2017-04-07 14:37] yana95 commented on #82
done https://github.com/reportportal/agent-js-jasmine

[2017-04-07 14:37] #82 closed

[2017-04-07 14:47] lifemanship commented on #99
Just to clarify.
In the last step(3. create filter) we will create filter for user that send the request.
As client for RP I am using https://github.com/reportportal/client-net that sends user's token(**UUID**) for authorization. But after step 1(create user) i know only username\password of the created user. To obtain user's token(**UUID**) i need to login(through UI) with created user credential

[2017-04-07 14:57] lifemanship opened #101 "Does RP REST API support basic authentication?"
See my comment https://github.com/reportportal/reportportal/issues/99#issuecomment-292557094

[2017-04-07 15:15] DzmitryHumianiuk commented on #98
@lifemanship
so what is idea?
add customization, to be able to change ordering of tags for particular launch?
so like, for the next execution it will keep the same order?

Practilcally, it will bring a lot of implementation and effort, but will not give much of benefits.

I would suggest you to follow the concept like add name of tag as prefix to tag.
e.g. `OS:win`, `OS:mac`, `OS:lnx`, `BUILD:3.0`

[2017-04-07 15:15] #98 closed

[2017-04-08 09:20] avarabyeu commented on #99
@lifemanship no it doesn't. but you can request token the same way as ui does (via basic auth) and then use it. Have a look at request to server after clicking login button

[2017-04-08 09:20] avarabyeu commented on #101
@lifemanship it doesn't. but you can request token the same way as ui does (via basic auth) and then use it. Have a look at request to server after clicking login button

[2017-04-08 09:20] #101 closed

[2017-04-10 12:27] lifemanship commented on #101
@avarabyeu Thanks

[2017-04-11 12:08] admizh opened #102 "Attachments preview in pop-up"
We have html attachments, in prev PR release - attachments (non image) is oppened in new browser tab. But in current release for see html attachments we should click to attachment, save content and put it to IDE for rendering html. Pls add MIME type detection  in to attachments preview pop-up

![2017-04-11_16-06-39](https://cloud.githubusercontent.com/assets/6014483/24908432/102599da-1ed1-11e7-93c

[2017-04-11 14:38] DzmitryHumianiuk commented on #100
@admizh
Will be fixed with next, like if user have changed something, then backdrop block will not react on click.
And highlight 'save' button

[2017-04-13 17:32] DzmitryHumianiuk opened #103 "HAR viewer for attached .har files"
When test case fails, i store HAR file and send it to RP.
i'd like to have a HAR viewer for attached binary item

[2017-04-13 19:29] avarabyeu commented on #103
HAR files are usually generated by proxy servers.  Do not really think such info is being sent to RP.
I would suggest to organize some quiz to understand how many users want to see hars (generated by browser mob, for example) as binary attachment.

[2017-04-13 19:33] avarabyeu commented on #102
@admizh actually, UI don't need to detect type of attachment since its returned from server. Doesn't really understand what kind of update do you suggest. Would you like to see HTML (only) attaches in new window?

[2017-04-13 19:40] avarabyeu commented on #97
Technically, it's impossible to put the same chart into PDF (if generate it on server side). We can use charts from [jfreechart](http://www.jfree.org/jfreechart/samples.html) framework, for example. But charts will be a bit ugly in this case... Another option is to just export ui chart to pdf, but in this case you will have image-like pdf file.

[2017-04-14 15:11] DzmitryHumianiuk commented on #103
@avarabyeu
![image](https://cloud.githubusercontent.com/assets/11332788/25047119/bf36793a-213d-11e7-8d4e-66b505ed3e34.png)

[2017-04-17 13:33] doctordrue opened #105 "[feature request] Add a possibility to be able to see only logs with level equals or more than selected one"
The thing is that in our project we have custom level of logs between INFO and WARN.
So e.g. if DEBUG level is selected I want to see all logs with level more than DEBUG (ERROR, WARNING, INFO and even custom levels of logs)

[2017-04-21 13:03] lifemanship commented on #97
@avarabyeu from my point of view it is ok to use [jfreechart](http://www.jfree.org/jfreechart/samples.html) framework.

[2017-04-24 12:28] saikrishna321 opened #107 "Not able to login to portal"
After building the project from docker and hitting
http://localhost:8080/ui/

Username and Password: default\1q2w3e and superadmin\erebus

Didn't help .. It always says i no permissions. Can someone please help on this?

[2017-04-24 12:31] SrinivasanTarget commented on #107
+1 Same here too

[2017-04-26 12:30] DzmitryHumianiuk opened #108 "Post Bug: add possibility to add own description for created issue"
Add possibility to add own description for created issue,
not only included log of test fail

[2017-04-26 15:42] lifemanship opened #109 "[REST API] GET /{projectName}/item/{testItemId} Find test item by ID"
The request "Find test item by ID" has two parameters:
1) projectName
2) testItemId

Which request is used to obtain {testItemId}?
My use case is to find all failed tests in the specified launch with using REST API.
The list of all launches i can obtain with using next request:
**GET /{projectName}/launch Get list of project launches by filter**

[2017-04-26 16:21] aliaksandrbasau commented on #102
I would also like to see a functionality to render html from an attachment. It's really inconvenient that you have to copy and paste source from the dialog, put into a document on the file system and open the document in a browser. In 100% cases I need to see the rendered html, not its source.
The functionality can be implemented as a link/button on the dialog (e.g. Render HTML) that would open ht

[2017-04-26 16:38] aliaksandrbasau opened #110 "Applied filters are cleared when you navigate back to the previous level in a suite tree"
Steps to reproduce:
1. Open a launch.
2. Filter the suites by some criteria.
3. Click any suite.
4. Go back to the precious level with applied filter by clicking breadcrumb link. => You are navigated back to that level but the filter are cleared.

It's a regression from the previous version.

[2017-04-26 16:50] aliaksandrbasau opened #111 "Unable to view logs for some test items"
The issue doesn't allow to view 30% of all our failures.
You can reproduce it by following this link (if you have access to our project on prod) - https://PRODUCTION/ui/#plex-dev/launches/54da5b18e4b02ab6be497702/5900bd332ab79c00061192bd?page.page=1&page.size=70&filter.eq.has_childs=false&filter.in.issue$issue_type=TI001&page.sort=start_time%2CASC&log.item=5900bfd22ab79c000611ff66

[code]

![image

[2017-04-26 17:04] aliaksandrbasau opened #112 "Test suite links don't work on the page that shows To Investigate items"
Steps to reproduce:
1. Find a launch with To Investigate failures.
2. Click a link in To Investigate column that will show the failed items.
3. Click any test suite link. => The page is reloaded and nothing happens.

![image](https://cloud.githubusercontent.com/assets/6681200/25446844/db546b26-2a80-11e7-8de0-2dd4306837e8.png)

[2017-04-26 17:20] aliaksandrbasau opened #113 "Missing breadcrumb links for test suites when the test item was opened from failures page"
Steps to reproduce:
1. Find a launch with a few failures.
2. Click a link in Failed column that will show the failed items.
3. Click a link of a failed test item.
![image](https://cloud.githubusercontent.com/assets/6681200/25447346/dfcb4952-2a82-11e7-84ac-5171591df9a8.png)
=> Test item is opened but there are no breadcrumb links for test suites.
![image](https://cloud.githubusercontent.com/assets/

[2017-04-26 17:32] aliaksandrbasau opened #114 "Not all menu items are available in Actions menu if there are a lot of selected items"
Steps:
1. Find a launch with a lot of tests.
2. Click a link in Total column.
3. Show 100-150 items per page.
4. Select all available items.
5. Open Actions menu. => Some menu items left visible area. And scrolling down doesn't help to see them.
![image](https://cloud.githubusercontent.com/assets/6681200/25447737/5588d15e-2a84-11e7-95c7-5d323435f10a.png)
You may need to decrease browser window hei

[2017-04-26 17:37] aliaksandrbasau opened #115 "Opening a test item in a new tab opens the current view"
Steps to reproduce:
1. Open any launch.
2. Drill to the test items level (one before the lowest).
3. Right-click a test item and select Open Link in New Tab.
![image](https://cloud.githubusercontent.com/assets/6681200/25448059/4ee3655c-2a85-11e7-91fa-b52401e703f3.png)
=> A new tab is opened but it shows the same view.

[2017-04-26 17:53] aliaksandrbasau opened #116 "Hide filter criteria panel by default on Launches page"
The panel with filter criteria occupies 20% of the window height but it's not quite useful to see it in case of launch filters (especially shared ones). My filter were created years ago and I don't change them often (or even at all). There is no need for me to see the filter criteria each time when I open the filter. I would rather see more launches.
I would suggest to add a link to show/hide the

[2017-04-27 07:37] fasterfish opened #117 "The ability to play video attachments"
As the end user of the report portal, I expect to be able to play video attachments.
It would be very nice if you implement this capability in a future release.

[2017-04-27 08:24] fasterfish commented on #117
I suggest looking towards the next video player: video.js ([official site](http://videojs.com/) and [github repo](https://github.com/videojs/video.js))

[2017-04-27 08:58] #17 closed

[2017-04-27 14:39] DzmitryHumianiuk commented on #107
@saikrishna321 @SrinivasanTarget
please allocate at least **4GB of RAM** for docker
and give ReportPortal **5-10 mins** to initialize all services.

re-open if still actual

[2017-04-27 14:39] #107 closed

[2017-04-27 15:13] kshirunov opened #119 "Arrays support in test parameters"
If we pass an array as a test parameter we got a generic string with missing trailing bracket like:
Method Type / Name / [test params]
Test / testName / [  [Ljava.lang.String;@36d2ea  ]

It would be useful to resolve arrays, something like:
param instanceof Object[] ? Arrays.toString((Object[]) param) : param.toString();

[2017-04-27 18:45] avarabyeu commented on #107
If there is 4 gb of ram, 1-2 mins should be enough to bootstrap application

[2017-04-28 09:19] avarabyeu commented on #15
Fixed in 3.0

[2017-04-28 09:19] #15 closed

[2017-04-28 09:20] avarabyeu commented on #6
Added in 3.0. Additional details on making this will be provided in documentation

[2017-04-28 09:20] #6 closed

[2017-04-28 11:21] avarabyeu commented on #16
fixed

[2017-04-28 11:21] #16 closed

[2017-04-28 11:23] avarabyeu commented on #46
@DzmitryHumianiuk @admizh Now it's possible with 3.0.0 version of TestNG client. Documentation should be updated with examples. Closing the issue.

[2017-04-28 11:23] #46 closed

[2017-04-28 11:25] avarabyeu commented on #119
@kshirunov agent type? version? Could you please provide some example to be able to reproduce?

[2017-04-28 11:27] avarabyeu commented on #18
fixed

[2017-04-28 11:27] #18 closed

[2017-04-28 14:10] pictureb00k commented on #109
There will be provided a method probably in 3.0.2 that will allow you to find test items by specified filter.

[2017-04-28 14:10] #109 closed

[2017-05-01 15:32] aliaksandrbasau opened #120 "Stack trace lines with generics are converted to links"
The following stack trace lines:
[code]
are displayed as:
[code]
![image](https://cloud.githubusercontent.com/assets/6681200/25583885/c39abc80-2e61-11e7-9a66-fafad4544b52.png)

[2017-05-02 07:53] fasterfish commented on #74
@DzmitryHumianiuk Can we get an implementation of this functionality earlier than 3.0.2 Mielstone?

[2017-05-02 09:54] atyrin opened #121 "Unable to login with password which contain symbol `"
After upgrade to version 3.0.1 on logon with password which contain symbol ` (grave accent), receive 400 error on UI side.

In docker Gateway service logs see:

[code]

[2017-05-02 12:44] esoskovets commented on #28
Sorry for long time reaction. Yes you are right! If I use bash on Ubuntu 15.04 - all is ok (space in tags working well), but when I try to run cucumber in docker container with spaces in tags - error appear.

Sorry for the inconvenience. Issue can be closed.

[2017-05-02 22:44] avarabyeu commented on #121
@lexecon  Seems like UI does not escape special symbols. Could you please have a look?

[2017-05-03 08:49] #28 closed

[2017-05-03 11:24] #120 closed

[2017-05-03 11:27] #111 closed

[2017-05-03 13:14] aliaksandrbasau opened #122 "Attachment dialog doesn't show pdf attachments"
Even though the pdf attachment has correct mime type, attachment dialog shows it as a text file.
![image](https://cloud.githubusercontent.com/assets/6681200/25662007/dd6bae5a-2fe0-11e7-9588-c8c985fcf376.png)

[2017-05-03 13:22] iKozzz opened #123 "Uncaught Error parsing bindings"
If stacktrace contains:
`ElementShould: Element should be visible {.paymentCarrierTipCheck}
Element: '<div class="class" data-bind="click: TipClick, css: HasTip() ? 'Checked' : 'UnChecked' " displayed:false></div>'`

It will break Test Case Log for Report Portal with error:

`Uncaught Error parsing bindings: "click: TipClick, css: HasTip() ? 'Checked' : 'UnChecked' " ReferenceError: TipClick is no

[2017-05-03 14:27] DzmitryHumianiuk commented on #102
will be opened in new tab.
remove support of HTML mime type.

[2017-05-03 14:29] DzmitryHumianiuk commented on #113
**Valid**

under discussion.
will return full path in breadcrumbs
or
add special component to present full path

_issue now_: can't open parent of item from current view.

[2017-05-04 06:38] #115 closed

[2017-05-04 06:42] #90 closed

[2017-05-04 13:08] DzmitryHumianiuk commented on #110
We intentionally removed this.

this can be handled by handled by Browser History Back button

We will raise it for the voting.

[2017-05-04 21:19] DzmitryHumianiuk commented on #123
fixed.
available in 3.0.2 `service-ui`

[2017-05-04 21:19] #123 closed

[2017-05-05 09:08] kshirunov commented on #119
<dependency>
     		<groupId>com.epam.reportportal</groupId>
     		<artifactId>agent-java-testng</artifactId>
     		<version>2.7.0</version>
  		</dependency>
  		<dependency>
     		<groupId>com.epam.reportportal</groupId>
     		<artifactId>logger-java-logback</artifactId>
     		<version>2.6.0</version>
  		</dependency>
  		<dependency>
     		<groupId>com.epam.reportportal</groupId>

[2017-05-05 09:21] #114 closed

[2017-05-05 12:56] #112 closed

[2017-05-05 13:02] #91 closed

[2017-05-05 14:40] #121 closed

[2017-05-05 22:03] avarabyeu commented on #122
@aliaksandrbasau which agent do you use? could you please share response from /log/{id} resource  to make sure it has correct mime type value

[2017-05-06 07:34] SergeVKom opened #125 "Sometime tests remain in the state "in progress" instead of "pass""
agent-java-testng - version:‘3.0.0’
logger-java-logback - version:‘3.0.0’
testng - version:'6.9.10'

Exception log:
https://gist.github.com/SergeVKom/6b5f80e76c3215f22fd1079bcd0e83d2

When we stop such tests they have status "INTERRUPTED" and there is no possibility to set status "pass" for them.

[2017-05-06 15:46] aliaksandrbasau commented on #122
@avarabyeu we use custom version of agent-net-specflow.
![image](https://cloud.githubusercontent.com/assets/6681200/25773751/37dabcc4-3251-11e7-9127-08ad35f6a7db.png)

[2017-05-10 13:25] DzmitryHumianiuk commented on #113
this will be returned,
but in other view.

[2017-05-11 09:07] ivanovstepan opened #126 "ReportPortal Exсeption status 406"
![image](https://cloud.githubusercontent.com/assets/11019580/25941483/5d55efba-3642-11e7-9424-07b2e6774e86.png)

[2017-05-12 12:06] DzmitryHumianiuk commented on #93
@admizh
how is the idea, if we will show it in item details view (see pic)?
at this page, we already make history request, and can calculate time change with no huge amount of requests.
![image](https://cloud.githubusercontent.com/assets/11332788/25997105/537b30e0-3723-11e7-84b0-7d1677f0a8aa.png)

[2017-05-13 15:39] dkorobtsov commented on #126
Btw, getting 406 error as well. Feels like pretty common problem - it happens absolutely at random on practically every 3rd execution:
Stack trace is in attach.
![rp_406](https://cloud.githubusercontent.com/assets/13999072/26026816/4c616930-380b-11e7-813b-0e27a6d1336b.png)

[2017-05-15 11:20] maximustremor opened #127 "Add ability to switch to test cases stats (Total, Passed, Failed, Skipped) in launches"
For automated metrics measurement it would be cool to have a test cases view for Launches. Because it is usually all about test cases not test methods.
For now all stats we have in Launches are devoted to test methods.
![launches-only-show-methods-stats](https://cloud.githubusercontent.com/assets/5155590/26055189/5279cbbe-3978-11e7-9b35-e5625f8baf64.png)
To reach out to actual test cases list user

[2017-05-15 13:55] avarabyeu commented on #126
@dkorobtsov Could you please specify the following info:
1) client version
2) how do you add listener
3) how do you start the tests
4) how many threads is used for parallel execution (and what actually is executed in parallel - methods, classes, suites, etc)
Thanks!

[2017-05-15 13:56] DzmitryHumianiuk commented on #127
@maximustremor this really depends on agent implementation. RP just shows received data. Data structure and counts generated by agents.

Do you use BDD approach and CucumberJVM?

[2017-05-15 13:57] avarabyeu commented on #127
We are planning to introduce different statistics calculation strategies in next release. There will be test-based (not step-based) strategy which is what you are asking from

[2017-05-16 13:14] dkorobtsov commented on #126
@avarabyeu

<groupId>com.epam.reportportal</groupId>
<artifactId>agent-java-testng</artifactId>
<version>2.7.0</version>

<groupId>com.epam.reportportal</groupId>
<artifactId>logger-java-log4j</artifactId>
<version>2.6.1</version>

listener added in testng.xml:
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>

issue reproduces when tests are started from IDE

[2017-05-16 13:37] DzmitryHumianiuk commented on #95
**Statement:**
Limitation with 3 symbols introduced in order to limit number of requests to server.
Single symbol search requires to put in memory a lot of data from collection of launches.

**Solution:**
add any symbol to your launch name, or right in long form.

**Resolution:**
Won't fix. Works as desired.

[2017-05-16 13:37] #95 closed

[2017-05-17 13:59] aliaksandrbasau opened #129 "uncaught exception: Error parsing bindings: "popover..."
The issue is very similar to #111 and #123 but with different error:
[code]
![image](https://cloud.githubusercontent.com/assets/6681200/26157503/62b93e9a-3ae7-11e7-916f-f2be566bae71.png)

[2017-05-18 09:17] serhiisavruk commented on #95
How about adding length restriction on creating new launch stage?

[2017-05-18 15:58] SpiLLeR opened #130 "ReportPortal.io status 404"
Hi Guys!
http://ReportPortal.io is down with status 404

[2017-05-18 17:23] avarabyeu commented on #130
Thanks for raising it! It was expected downtime due to deployment of new version :)

[2017-05-18 17:23] #130 closed

[2017-05-19 08:53] #129 closed

[2017-05-19 09:13] #102 closed

[2017-05-19 11:51] lexecon commented on #122
will be fixed on 3.0.2

[2017-05-19 11:51] #122 closed

[2017-05-19 14:49] aliaksandrbasau opened #131 "uncaught exception: Error parsing bindings: .... ReferenceError: $root is not defined"
The issue is very similar to #111, #123 and #129  but with different error:
[code]
![image](https://cloud.githubusercontent.com/assets/6681200/26253275/caed5704-3c80-11e7-820a-9bd2fa0efab9.png)

[2017-05-19 15:37] DzmitryHumianiuk commented on #86
@JustasM11
could you please contact me via messages in Facebook https://www.facebook.com/ReportPortal.io

Do you mean unique test cases? no matter how many launches have been executed?
Basically answer is `NO`.
ReportPortal do not track unique ID of test cases. That could be possible, if we will add TestManagement support.
in this case, we can find, how many unique test cases you have.

workaround

[2017-05-19 17:32] DzmitryHumianiuk commented on #48
completed in `component:api`
will be available with `service-api` 3.0.x version

[2017-05-20 17:28] esoskovets opened #132 "Add possibility to have default dashboard for the project"
It is needed to have default dashboard, for open project (/ui/#PROJECT/dashboard) and see defined default dashboard for everyone (product owner, tester, developer, etc.)

Now, when you open project page after project selection, you come to page ALL DASHBOARDS with list of dashboards - this is not good for product owner, for example.

[2017-05-20 17:33] esoskovets opened #133 "On page ALL DASHBOARDS add possibility to see it in list mode"
Now on page `ALL DASHBOARDS` displayed dashboards icons, will be better to have possibility to see it in list mode like on page /ui/#administrate.

[2017-05-22 14:23] DzmitryHumianiuk commented on #131
fixed

[2017-05-22 14:23] #131 closed

[2017-05-22 14:57] DzmitryHumianiuk commented on #132
@esoskovets

In **admin panel** you can find status page for the project
![image](https://cloud.githubusercontent.com/assets/11332788/26314439/a52368d6-3f16-11e7-9b24-6a34e15ebcab.png)

the idea was like to add this page as default for each project.
but currently, we do not put it there, because of data amount, which is called by this page.

Since there is not indexing for this data and we use NoS

[2017-05-23 09:27] maaxlee opened #134 "After RP ugrade to 3.0.1 impossible to open single 'To investigate' item"
**Current version**: Gateway Service: 3.0.0;
UI Service: 3.0.1;Rally Service: 3.0.0;Authorization Service: 3.0.0;
API Service: 3.0.0;Jira Service: 3.0.0;Registry Service: 3.0.0;

**Steps:**

1) Open launch with failed TCs (
[screen1](https://cloud.githubusercontent.com/assets/6975495/26347402/2949f1a2-3fb2-11e7-88a1-e55d98486eda.png)
2) Press number on 'To investigate' column
Expected result:
Item

[2017-05-23 10:27] idancie opened #135 "Page is overlayed when opening failure with specific message"
RP Version: 3.0.0

Steps:

1. Create failing Test Case;
2. In error message log "url("https://somehostname.com/assets/content/images/KB/p/PAN_183660338-1470x827.jpg")";
3. Launch test with RP;
4. After completion in launch open 'To Investigate' item;
5. See that page is overlayed and you can't interact with page elements;

Screenshots are attached
<img width="1280" alt="2017-05-20 17 30 59" src="h

[2017-05-23 16:15] DzmitryHumianiuk opened #136 "Add a filter for linked bugs"
Could you please add a filter for linked bugs, so it will be possible to see all failed tests caused by one issue

by Katsiaryna_Kulbitskaya in USERVIOCE

[2017-05-23 17:55] avarabyeu commented on #134
@maaxlee could you please make sure you've cleared browser cache

[2017-05-25 07:28] daroshchanka commented on #126
Hi! Very often this error makes our builds failed.

![image](https://cloud.githubusercontent.com/assets/28945630/26440403/d1846806-4134-11e7-9bb3-bb8b9d2b4dc8.png)

We use
[code]
Listener defined in _maven-surefire-plugin(2.17)_
Tests executed in parallel (3 threads).
I found 19 same errors in my logs for one launch (3-hours)

See stacktrace

[code]

[2017-05-25 07:59] daroshchanka opened #137 "Sometimes logs for some tests are missed"
We have api test-suite (300 tests in 3 minutes 1 thread).
Sometimes autoanalysis doesn't work (test status not populated) for failed tests.
We found that it happends because of missed logs for this test.
**All logs always present in console appender!** but sometimes missed in RP
When some logs missed no any specific RP errors found in console during test run.

See history of runs for test
233 - al

[2017-05-25 08:13] dkorobtsov commented on #126
Btw, it feels like this error randomly appears when any exception is thrown inside BeforeClass method.

[2017-05-25 08:34] daroshchanka opened #138 "404 redirect for some tests"
Sometimes(quite rare) I open test logs and catch 404 redirect!
Page started to load, I see some data and then get redirect.
In other launch the same test opened without problems..
No errors in console.

![ezgif-1-dfe41c928c](https://cloud.githubusercontent.com/assets/28945630/26442518/86de8ba2-413d-11e7-93b0-709e18363b3d.gif)

RP:

We use
[code]
Listener defined in _maven-surefire-plugin(2.17)_

[2017-05-25 10:40] avarabyeu commented on #126
@dkorobtsov could you please update your client: testng 3.0.2, log4j 3.0.1. Update should fix the issue, but i assume you added several listeners somewhere. For example, one in pom.xml and another in testng.xml

[2017-05-25 10:42] avarabyeu commented on #138
good catch! Seems like UI issue. May i ask you to enable 'preserve log' in Chrome's development tools and send me screenshot of what you have in network tab.

[2017-05-25 11:35] dkorobtsov commented on #126
@avarabyeu thanks! updated, will observe the behavior...

[2017-05-26 12:28] DzmitryHumianiuk commented on #137
@daroshchanka 3.0.2 with fixes available
https://bintray.com/epam/reportportal/agent-java-testng

try it and re-open ticket, if still occurs.
[code]

[2017-05-26 13:57] daroshchanka commented on #138
@avarabyeu , see
![image](https://cloud.githubusercontent.com/assets/28945630/26497480/5b53967e-4234-11e7-8da6-26cc1f9f7770.png)

[2017-05-26 15:12] avarabyeu commented on #137
@daroshchanka Please, make sure you are logging when test in 'started' state. For example, consider the following situation:
[code]
You should log when test is 'started'
Another case:

[code]
In this case logs are not being reported to ReportPortal

[2017-05-30 04:28] esoskovets commented on #132
About releases - very goog idea! Because now we are using tags for separate builds by major version and need to create dashboard + filter for each of them. Will be better if release will be special parameter of launch and filters+dashboards will have possibility to switch this parameter in combo-box or something like this in dashboard for display without update&save in filters.

Thank you for the

[2017-05-30 04:36] esoskovets opened #139 "On page launch view, link "Go to Stack Trace in Log Message" scroll to last error, not to stacktrace"
If you have some "error" type records in launch, then click on to link "Go to Stack Trace in Log Message" scroll to last one, but not to the real stacktrace. In my case stack trace is a first error type record.

Please look my video: https://nimbus.everhelper.me/client/notes/share/938952/v0z01ao01gc721n1ee25

[2017-05-30 13:56] DzmitryHumianiuk opened #140 "[Integration] Adapter for Nightwatch_js (Node.js powered End-to-End testing framework)"
http://nightwatchjs.org/

[2017-06-02 14:38] maaxlee commented on #134
I tried to clear cache and use incognito mode/another browser but it didn't help

[2017-06-07 14:23] avarabyeu commented on #139
@esoskovets That's expected behaviour. We assume the last log with the error level contains stacktrace.

[2017-06-07 14:23] #139 closed

[2017-06-07 15:35] DzmitryHumianiuk commented on #136
Equal to grouping

[2017-06-07 16:01] #63 closed

[2017-06-08 08:42] lifemanship opened #141 "[MAILS] Add tags in email body"
It would be very helpfull to have list of the **tags** in email body.
We have to run tests on different platforms/timezones/browsers/locales etc. and **tags** are used to describe test configuration, but email contains only the name of the launch.
After all tests are passed we have bunch of the emails with same contents.
Could you please add **tags** inside email body?

[2017-06-09 11:30] avarabyeu opened #142 "Java client parameters are not UTF-8 encoded"

[2017-06-09 11:32] #142 closed

[2017-06-12 16:24] DzmitryHumianiuk commented on #116
**done**
Verified in Chrome, FF, EDGE.

[2017-06-12 16:24] #116 closed

[2017-06-12 16:25] DzmitryHumianiuk commented on #113
**done**
Verified on
- Chrome 58.0.3029.110 (64-bit)
- Firefox 53.0.2 (64-bit)
- Edge 38.14393.1066.0

[2017-06-12 16:25] #113 closed

[2017-06-12 16:25] DzmitryHumianiuk commented on #110
**done**
Verified in Chrome, FF, EDGE.

[2017-06-12 16:25] #110 closed

[2017-06-12 19:27] avarabyeu commented on #141
Makes sense. @lexecon could you please update templates?

[2017-06-12 19:44] agyulai opened #143 "Feature Request: Triggering Jenkins jobs from portal"
I'd love to see a feature that will be able to trigger Jenkins jobs directly from Report Portal. So this way I can gather in nice widget jenkins jobs relevant for project.
I know it's not directly related to reporting, but do you think such feature will be in demand?
I see it in the following way:
Jenkins provides an option to trigger build remotely, basically you just make a post request with som

[2017-06-13 08:24] daroshchanka commented on #137
@avarabyeu I have logs in test-body.
I have different results for same conditions. Sometimes it works, sometimes no.
Update to agent-java-testng 3.0.2 not solved the problem.

@DzmitryHumianiuk, could you please reopen? seems I have no rights to do it myself.

[2017-06-14 13:58] HDimka opened #144 "Video Attachments cannot be downloaded after upgrading to RP 3.0"
In 2.7 everything was working fine.

Our tests send the video attachment to RP, its recorded by https://github.com/SergeyPirogov/video-recorder-java.

Previously clicking on attachment it was downloaded by browser
![image](https://user-images.githubusercontent.com/11332788/27141437-d6466d38-5130-11e7-87d5-650e74ee6a74.png)

at the moment it it tries to decode it in new window
![image](https://user

[2017-06-14 15:41] DzmitryHumianiuk commented on #144
@HDimka please specify version of `service-ui` you use.
you can find it on login page.

[2017-06-14 15:50] DzmitryHumianiuk commented on #144
@HDimka looks like you send incorrect `contentType` of attachement.
you can find it in browser responce. for this line of log.

I guess, you have `contentType: text/plain` in it. So RP tries to represent it as a text.
if no any content type, RP will show it for download.

@avarabyeu do we have a code example for contentType of attachments?

BTW
videoPlayer is already mentioned in request #117
in w

[2017-06-14 18:49] ksuglotova opened #145 "TestRail integration via relayed service"
The request is received from **Sergei Pirogov:**

[2017-06-14 19:22] HDimka commented on #144
UI Service: 3.0.0

Again, nothing was changed from our side.

we send video to RP as previously
ReportPortalMessage message = new ReportPortalMessage(new File(file.getAbsolutePath()), file.getName());

I see that inside it MimeTypeDetector distinguish a contentType.
Which version of tika do you use? There can be a conflict between our libs

[2017-06-15 11:06] ksuglotova commented on #145
The similar request about triggering Jenkins jobs at RP https://github.com/reportportal/reportportal/issues/143

[2017-06-15 15:13] HDimka commented on #144
Just read the content type using Files.probeContentType(Paths.get(file.getPath()));
it shows video/avi
I believe its correct

[2017-06-19 09:02] DzmitryHumianiuk commented on #144
@HDimka please update to the latest UI-service: 3.0.2
and 3.0.3 will be also available during current week

[2017-06-20 15:40] ksuglotova opened #146 "Suggestions for UI test steps page improvements"
Recieved from @serporit (slack/reportportal/russian):
1. Set defect type and add link are now two separate actions. The reasoning for that is unclear. And such approach is highly uncomfortable especially in bulk operations.
2. Being in section "To investigate", when the defect type was set then the test step stays in a list and user has to refresh page to make test step disappear from the list "To

[2017-06-20 15:41] ksuglotova commented on #146
Fixed

[2017-06-20 15:50] ksuglotova opened #147 "Stack trace/error message is minimized to 10 lines, other to 4 lines"
Recieved from @serporit (slack/reportportal/russian):
Stack trace/error message is minimized to 4 lines. It might be better to show at least 10 lines of log for each test step.

[2017-06-20 15:53] ksuglotova commented on #147
Idea for discussion: to add user config option how many lines leave for stack trace/error messages on a Test steps page.

[2017-06-21 07:59] HDimka commented on #144
Video attachments can be downloaded with new UI-service: 3.0.2.
Thanks a lot!!!

[2017-06-21 07:59] #144 closed

[2017-06-21 08:30] Tset-Noitamotua opened #148 "Running on docker-ce?"
Has anybody tried running reportportal on [docker-ce](https://store.docker.com/search?offering=community&q=&type=edition) (Docker Community Edition)?

I am going to try it on Ubuntu 17.04

This might be helpful --> [How to install Docker on Ubuntu 17.04](https://askubuntu.com/questions/909691/how-to-install-docker-on-ubuntu-17-04)

[2017-06-21 12:18] jurteg opened #149 "Feature request: Don't set a number in launch name (#1 etc.) if the launch has unique name"
We're using generated names for launches, that come from the Jenkins and every time launch name reflects appropriate build number on Jenkins. It is difficult to read launch names, when RP sets it's own launch number to launch which has unique name and already has it's own number.

![rp_feature_request_1](https://user-images.githubusercontent.com/25842206/27383644-8f55932c-5694-11e7-9a04-3de27c2970

[2017-06-21 12:27] jurteg opened #150 "Cucumber: data table separators are misaligned in reports (markdown issue?)"
Data tables that come from cucumber-agent are missaligned in reports. Those tables alligned to the left and separators are come with different string positions, so tables look broken and difficult to read.

![rp_bug_1](https://user-images.githubusercontent.com/25842206/27384043-1732a446-5696-11e7-9a44-d9d1caeb2301.png)

[2017-06-21 14:22] Tset-Noitamotua commented on #148
Tried! Works!

... at least I could open UI in the browser, no further testing done yet ...

Follow below steps if you like to have ReportPortal running on Ubuntu Zesty (17.04) with the latests Docker-CE version 17.05 and Docker-Compose 1.14

# INSTALATION

## 1. Enable apt transport over HTTPS
[code]

## 2. Get apt-key for Docker repo
[code]

## 3. add Docker's repo to sources.list
[code]

## 4.

[2017-06-21 14:46] avarabyeu commented on #148
Cool! Thanks for the update. will merge it into our docs

[2017-06-21 14:46] #148 closed

[2017-06-21 14:48] DzmitryHumianiuk commented on #148
@Tset-Noitamotua krasavchik!

[2017-06-21 15:02] DzmitryHumianiuk commented on #149
@jurteg this part will stay as obligatory,

until column configuration will be introduced.
but it's not planned for now.

[2017-06-21 15:02] #149 closed

[2017-06-21 15:09] DzmitryHumianiuk commented on #143
it's exactly what was discussed during[ meet-up#5](https://www.facebook.com/events/1894170344202392)

We need:

1. create skeletons for additional services
2. describe docs how to extend skeleton, and build docker image from it, as soon as ready
3. add plugin support on UI. in order to extend UI with functionality

First step for jenkins integration - push the callback, to trigger the same job in

[2017-06-22 10:02] ghost opened #151 "Add possibility to create custom rules for analyzer"
In many cases auto-analyze system does not match similar failed tests.

For example, on our project responces can return different combination of errors/warnings when broken by one issue. It can be 1 error + 1 warning, or 2+2, or 1+2, or the same but in different order.
As a result, the auto-investigation system gives no matches at all.

It could be very useful to have possibility of creating "rul

[2017-06-22 10:12] sporitskiy opened #152 "Add possibility to set test description automatically"
For today test description is used only for manual setting or for telling us about test was auto-analyzed.

It could be very useful to have possibility to write a description for failed tests that will include last error message from test log.
So, we will not need to open every single test to see the failure reason.

For example, In our project (we automate web services testing) I grab errors/warn

[2017-06-22 10:17] ghost opened #153 "Extend possibilities of filter"
It will be very useful to have a possibility to combine AND/OR operators when using filter.
For example:
I want to filter launches with tags
("10.160.6.136" OR "10.160.6.167") AND ("regression" OR "smoke")
For today we don't have a possibility to create such filters. Only OR or AND filters are possible.

[2017-06-22 11:47] ksuglotova commented on #146
i.2 is fixed

[2017-06-22 11:50] ksuglotova commented on #151
In case of math algorithm using false positive results are worse (algorithm sets particular defect type and it's wrong)

[2017-06-22 16:10] andrei-khveras opened #154 "When filter is used, links are not valid for other users"
Occurs on RP v. 3.0.2

**Given**
- User1 has created and shared some filter.
- User2 has not marked given filter as favorite

**When**
User1 activates the filter, navigates to some launch using filter and shares link w/ User2

**Then**
User2 is unable to see the launch by the link provided.

[2017-06-22 17:07] Tset-Noitamotua opened #155 ""Add Project" Button - make visible for tablet view"
Often I use my browser not maximized over whole display but instead use only half of the screen. On Management Board view the "Add Project" button disappears if browser is too small.

![image](https://user-images.githubusercontent.com/5635462/27446361-872497c2-577d-11e7-83b4-9d6ab70c2927.png)

![image](https://user-images.githubusercontent.com/5635462/27446369-90ed4934-577d-11e7-9cbb-d68f76105560.

[2017-06-22 19:42] ksuglotova commented on #151
Upon a log messages provided the 'stop word' approach looks useful.
Actually, the key error message for analyzer is placed between words 'description' and 'type' or 'description' and line feed character or 'description' and special symbol. The result should be cleaned from any special symbols and digits.
As a result we'll get a set of strings, like:
test_step#1:
Error receiving asynchronous respon

[2017-06-22 19:45] ksuglotova commented on #151
The last point is to check other stack-trace logs to make sure the assumption about error message place is valid.

[2017-06-23 08:32] Tset-Noitamotua opened #156 "reportportal_client.errors.Error: Service already stopped."
I am trying to run this [PyTest example](https://github.com/reportportal/agent-python-pytest). On every run after the initial run I am getting this error:

[code]
If I check `docker-compose ps` all services seem to be up and running
[code]

So what am I missing or doing wrong?

here the full stack trace of above error
[code]

[2017-06-23 12:34] ksuglotova opened #157 "Config parameter rp.enable = false doesn't work"
Received from @kiryl, Slack/reportportal/russian

If I put rp.enable = false in config then Report Portal doesn't turn off.
Config file reportportal.properies

[2017-06-23 12:37] jurteg commented on #88
Hi guys,
any due dates for this useful widget? or 3.1 release (it it icludes this widget)?

[2017-06-23 13:17] jurteg opened #158 "[Feature request]: Make possibility to search through all launches/suites/features/scenarios for appropriate text occurrences"
As RP user I need to search for some text occurrences in all launches, so I'm able to find text matches in issues, launches etc. This functionality will help to trace different changes in tests like: dynamic of their number, to match similar issues over period of time, evaluate start dates of behavior we need to investigate etc. This could be used for many purposes that can not be underestimated i

[2017-06-23 15:28] Tset-Noitamotua commented on #156
Yes, I am able to login via UI.

But I will close this issue because I noticed that I have messed around a bit by mixing your pytest example with some other tests from [catinthebox][1] repo. The error happens when I try to run the tests of catinthebox repo. Sorry for bothering :-/

I am now able to execute the example from [agent-python-pytest][2] repo and can see the results in reportportal UI. I

[2017-06-23 15:28] #156 closed

[2017-06-23 16:03] ksuglotova opened #159 "Test fails, RP shows it's runnung"
Received from @kiryl, Slack/reportportal/russian

If test fails (cucumber), then RP shows that test is running and user has to force finish test
Last agent version

[2017-06-23 16:08] ksuglotova opened #160 "Launch is invalid after DB shutdown"
Received from @tatyana Slack/reportportal/russian
I had got DB shutdown during the merge of launches and launch dot invalid.
When I try to delete invalid launch I get validation error “You cannot perform operation to invalid items”
And the reason of the error is the launch was stopped  IN PROGRESS status.
Build: 3.0.2
Failed to force finish the launch : Finish launch is not allowed. Launch ‘594a3a

[2017-06-26 07:16] szikszail opened #161 "Question: API to analysis feature"
Hi,

As I can see it now, the Auto-analysis feature of RP works in the following way (if it's turned on):
_If a launch is finished, all failed tests of it are compared to tests in previous launches (with the same name) and if it is the same failure as before, it marks the current test with proper defect-type and comment._

Is there any way to:
1. trigger the analysis even if the launch is not fini

[2017-06-26 07:42] avarabyeu commented on #157
@ksuglotova what agent issue is related to? cucumber? version of agent?

[2017-06-26 11:36] ksuglotova commented on #157
@avarabyeu The agent is Cucumber the latest version for the last Thursday

[2017-06-26 13:25] DzmitryHumianiuk commented on #161
@szikszail
http://reportportal.io/#documentation/Analyze-launches>-auto-analysis-algorithm

![image](https://user-images.githubusercontent.com/11332788/27541115-6efbd956-5a8b-11e7-80b6-555a7bad1a8a.png)

Answering question:
1. no
2. no
3. yes, if i got you right
4. no
5. yes

[2017-06-26 16:49] szikszail commented on #161
Thank you for the quick answer, @DzmitryHumianiuk . Now, I have a cleaner view on it.

But, to follow up:

1. When the auto-analysis trigger, immediately after the launch finish? Is there any way to determine (via API) that it's finished?
1. Although currently there is no way to include different launches in launch history, what do you think, can it be a future feature?

[2017-06-26 17:11] DzmitryHumianiuk commented on #161
@szikszail
1. Yes, it triggered automatically, as soon as launch receive `Finish` signal.
and if `Auto-analysis` set to `ON` in project config.
![image](https://user-images.githubusercontent.com/11332788/27550697-5556295c-5aa9-11e7-9a1d-4cb747821e58.png)
in it's `OFF` then still available manual call.
![image](https://user-images.githubusercontent.com/11332788/27550733-791397a8-5aa9-11e7-8b48-75e6

[2017-06-26 17:11] #161 closed

[2017-06-27 14:26] DzmitryHumianiuk commented on #146
i.1 in progress

[2017-06-29 11:56] ksuglotova commented on #154
In progress

[2017-06-29 13:00] ksuglotova commented on #160
@Tatyana: Moved invalid launches into debug mode and left there. And now I have tried deleting them and they have been deleted.
This issue is resolved and may be closed.

[2017-06-29 13:00] #160 closed

[2017-06-30 11:41] avarabyeu commented on #159
@ksuglotova agent, version, example?

[2017-06-30 11:43] avarabyeu commented on #134
@maaxlee should be fixed in 3.0.3/3.0.4. Could you please check?

[2017-06-30 11:47] Gidroid commented on #159
agent -java -cucumber, version 3.0.0-BETA-2
For example need help with gradle

[2017-06-30 11:49] avarabyeu commented on #159
@Gidroid  feel free to create the same example based on maven. You can even send it to me via email

[2017-07-03 09:00] mva730 opened #162 "JIRA syncronization with different issue types."
As RP user I want to post bugs to JIRA with different issue types. But field with issue type selection is not editable.
![image](https://user-images.githubusercontent.com/17176601/27785634-e9cbeea4-5fe6-11e7-984c-46f41d190c68.png)

[2017-07-03 09:10] mva730 opened #163 "Agile widgets."
As RP user I want that widgets would be more agile. E.x.: now axe shows only launch number in RP. And we want to show tags. And it would be nice if we can combine tags. E.x.: we have build number tag1 and build date tag2, and we want to show tag1 + tag2.

[2017-07-03 09:17] mva730 opened #164 "Access without password"
As RP user I want to share test launch statistics with my customer. But to get this information customers should have login and password. It would be nice to have public board with statistics

[2017-07-03 09:20] mva730 opened #165 "Launches merging with results updating"
E.x.: we have failed launch. We collect all failures and run them again. After finishing we merge these results to our first launch.

[2017-07-03 09:23] mva730 opened #166 "Public page with widget with acceptance tests result. (read-only access without password)"
As RP user I want to have public page with widget with acceptance tests result

[2017-07-03 09:31] mva730 opened #167 "Check issues, holding Shift and Ctrl"
When investigating launch, often we have same failures. It would be nice to check same issues just holding Shift and clicking, and not checking via interface. Now we are doing it next way (clicking on checkbox):
![image](https://user-images.githubusercontent.com/17176601/27786803-4f3a9084-5feb-11e7-9ff8-71ab772d2173.png)

[2017-07-03 09:36] mva730 opened #168 "Find launch via launch number."
Now we can filter launches only by its name. It's convenient for my team to find launch by it's number, because number is unique.

[2017-07-03 09:40] Iren-Melnyk commented on #133
Hello, Esoskovets!
I'm a designer on ReportPortal. And before redesigning the page would like to know how often do you use ALL DASHBOARDS page? Could you please describe your interaction on this page? How many own and shared dashboards do you have? What information would you like to see in list view?

[2017-07-03 09:57] Iren-Melnyk commented on #47
We made it more user-friendly
![letter_invitation](https://user-images.githubusercontent.com/23101832/27787887-16b91f88-5fef-11e7-95cb-0271fb1bd959.png)

[2017-07-03 15:51] kshcherban opened #169 "redirect from https to http"
Hello,

After configuring services in docker and visiting https://portal.example.com/ i'm being redirected to http://portal.example.com/ui/

[code]
I've forwarded both ports 8080 and 8443 but 8443 doesn't work.

Can you please advise how to keep https if it's possible?

[2017-07-04 11:28] e-olga commented on #155
Hi @Tset-Noitamotua
Desktop and mobile versions could be different in enabled options.
'Add Project'  button will be present for desktop version of Report Portal.
For mobile version only view options is available. You are not able to edit, but only view the content.
On the second and the third screens above the Report Portal has mobile screen resolution. Therefore, 'Add project' button is not show

[2017-07-04 13:17] #47 closed

[2017-07-04 15:45] ksuglotova opened #170 "Test run breaks with unclassified error (jbehave)"
Received from Andrew Patin:

Sometimes test run breaks with follow error. Is that possible to fix ?

Stack-trace:
[code]
 Agent jbehave, version 2.6.0

One of the suggestions is that error was caused by updating RP server.
Link to the step after which launch was broken
https://rp.epam.com/ui/#epm-prmo/launches/592eebef36d1a000069c5ac9/5956dd9136d1a00006bbada1/5956dd9236d1a00006bbadff/5956dd9736d1a

[2017-07-05 10:36] ksuglotova commented on #170
Andrew Patin:

Today 2 tests broke in a one launch the same way:
"ECA-2341 Permission Matrix Without ASSIGNMENT Line 04.story" and "ECA-2341 Permission Matrix Without ASSIGNMENT Line 05.story" (both dropped down during the run)

https://rp.epam.com/ui/#epm-prmo/launches/592eebef36d1a000069c5ac9/595c217036d1a00006601e8b/595c28bb36d1a0000662d6e2/595c28c036d1a0000662d8bc?page.page=2&page.size=50&page

[2017-07-05 10:50] avarabyeu commented on #169
@kshcherban https is disabled by default. There is an option to setup https on some reverse proxy (like nginx) and put report portal behind it.

[2017-07-05 10:51] kshcherban commented on #169
@avarabyeu thanks, i try to run application in front of AWS Application Loadbalancer

[2017-07-05 13:41] DzmitryHumianiuk commented on #85
done.
available in profile drop down menu

[2017-07-05 13:41] #85 closed

[2017-07-05 15:00] jurteg opened #171 "Feature request: make launch depth for AA to be configurable"
Current auto analisys depth is 4 (four) launches, if I'm not mistaken.
Requesting to make this number configurable, so any stand alone RP server could use it's own setting.
This feature will likely increase AA time for all launches in the particular project, however will give a possibility to trace long term issues within the scope of launches.

[2017-07-05 15:16] ksuglotova commented on #165
[https://github.com/reportportal/reportportal/issues/13](re-run feature)

[2017-07-05 15:43] ksuglotova commented on #166
@mva730 Could you please specify what way you are going to use such public page for? For example, it may be some kind of dynamically updated page for the Customer who has access to the current project? Or other goal/project need?

[2017-07-06 09:05] DzmitryHumianiuk commented on #134
fixed

[2017-07-06 09:05] #134 closed

[2017-07-06 10:14] avarabyeu commented on #171
it's actually already configurable. I've updated documentation with that parameter:
http://reportportal.io/#documentation/Additional-configuration-parameters

[2017-07-06 10:14] #171 closed

[2017-07-06 10:17] avarabyeu commented on #168
@mva730 do you need this parameter on UI level? It's actually already possible to do via API, just add ```filter.eq.number=10```

[2017-07-06 10:20] avarabyeu commented on #166
Not really sure it's good idea to implement it from security perspective. I would rather suggest to use export in order provide non-users with execution results

[2017-07-06 10:22] avarabyeu commented on #164
the same situation with reportportal/reportportal#166
We think about making another version of authorization service that does not require login at all. But in this case you will have no users and no projects at all. Would it be convenient to you?

[2017-07-06 10:23] avarabyeu commented on #165
in we close it in favor of reportportal/reportportal#13

[2017-07-06 10:27] abotalov opened #172 "Allow logs to be sent in plaintext format"
Currently our custom client/agent sends plaintext error messages and stacktraces to Report Portal using "POST /{projectName}/log".
Exception messages / stacktraces contain special symbols like \* and others.
But when I view UI, I see these \* symbols converted into \<strong\> tags. There are some other issues, presumably because of markdown as well.
I think a parameter should be added to "POST /{p

[2017-07-06 10:29] abotalov opened #173 "Public API documentation"
Previously there used to be a link to public API in Report Portal footer.
But currently it's not there.
Also I don't see where it is documented on http://reportportal.io/#documentation

[2017-07-06 10:30] avarabyeu commented on #170
@ksuglotova could you please check whether it can be reproduced with agent v3.0.0

[2017-07-06 10:32] avarabyeu commented on #173
@abotalov now you can find public api at right menu. [See screenshot](http://prntscr.com/fsb4tp)

[2017-07-06 10:32] #173 closed

[2017-07-06 11:54] lexecon commented on #150
We support another markdown syntax. Please see this [Guide](https://simplemde.com/markdown-guide).

[2017-07-06 12:03] DzmitryHumianiuk commented on #155
looks like it is a `tablet` view on screens.
@Iren-Melnyk, can we enable this button for tablet view?
will it affect other views, which responsible for project configuration?

[2017-07-06 12:36] abotalov commented on #150
@lexecon Such form of plaintext is standard in Cucumber - https://cucumber.io/docs/reference#data-tables

I do not think that it's a job of test framework integration to convert plaintext into markdown if one desires just to display this information as is.

[2017-07-06 12:38] abotalov commented on #150
I think the issue here is probably because several spaces are displayed as one HTML.

There is a white-space property in CSS that could possibly overcome this.
https://developer.mozilla.org/en/docs/Web/CSS/white-space

[2017-07-06 12:43] lexecon commented on #135
Please use markdown syntax like [this](https://simplemde.com/markdown-guide)

[2017-07-06 12:43] #135 closed

[2017-07-06 13:20] ksuglotova commented on #13
This idea was proposed @mva730 either at [#165](https://github.com/reportportal/reportportal/issues/165)

E.x.: we have failed launch. We collect all failures and run them again. After finishing we merge these results to our first launch.

[2017-07-06 13:22] ksuglotova commented on #165
I think we can. ) Moved comment to https://github.com/reportportal/reportportal/issues/13
@mva730 Please track the progress on https://github.com/reportportal/reportportal/issues/13

[2017-07-06 13:24] ksuglotova commented on #165
Closed as duplicate

[2017-07-06 13:24] #165 closed

[2017-07-06 13:24] DzmitryHumianiuk commented on #155
@Tset-Noitamotua availability of `add project` button for tablet view, leads to review of all functionality, which became available with this button under tablet size of window.

for now we will reject this effort, since have more prioritized issues.

but will leave it in backlog

[2017-07-06 13:48] #76 closed

[2017-07-06 15:35] DzmitryHumianiuk commented on #70
close with no response.
details above

[2017-07-06 15:35] #70 closed

[2017-07-06 15:46] DzmitryHumianiuk commented on #21
@admizh up

please re-open if still appears

[2017-07-06 15:46] #21 closed

[2017-07-06 15:47] jurteg commented on #150
Agreed. Cucumber builds these tables in correct way and sends the informations as is. I didn't noticed any missaligned tables in different report plugins for cucumber.

[2017-07-06 22:42] ksuglotova commented on #170
@avarabyeu They use a framework e3s. Asked about version

[2017-07-06 22:48] ksuglotova commented on #162
This request is similar to [#66](https://github.com/reportportal/reportportal/issues/66)

[2017-07-06 22:50] ksuglotova commented on #66
@mva730 asked that feature either: "As RP user I want to post bugs to JIRA with different issue types. But field with issue type selection is not editable."
[Page screen](https://user-images.githubusercontent.com/17176601/27785634-e9cbeea4-5fe6-11e7-984c-46f41d190c68.png)

[2017-07-06 22:54] ksuglotova commented on #162
@mva730  I suggest you to track the progress at https://github.com/reportportal/reportportal/issues/66
This issue will be closed as duplicate

[2017-07-06 22:54] #162 closed

[2017-07-07 11:49] kovaku commented on #157
@avarabyeu I have the same issue with agent-java-cucumber (3.0.0-BETA-1)

[2017-07-07 15:04] e-olga commented on #146
fixes of 2-4 issues are already available in 3.0.5 released version
fix of the 1 issue will be included in 3.1.

[2017-07-07 15:31] DzmitryHumianiuk commented on #172
@abotalov please check it with 3.0.5

[2017-07-07 15:34] ksuglotova commented on #168
The same question is on a [#22 Unable to search by launch number](https://github.com/reportportal/reportportal/issues/22)

[2017-07-07 15:36] DzmitryHumianiuk commented on #169
@kshcherban it would be great, if you can share instructions after that )

[2017-07-07 15:38] DzmitryHumianiuk commented on #22
do via API, just add `filter.eq.number=10`

[2017-07-07 15:39] kshcherban commented on #169
@DzmitryHumianiuk the funny thing that it doesn't work with https because app has all the redirects to http, i just created http listener in ALB as well.

[2017-07-07 15:42] DzmitryHumianiuk commented on #167
and Ctrl (Control) and CMD button

[2017-07-07 15:45] DzmitryHumianiuk commented on #166
@avarabyeu problem is that our client also looking for such functionality.

there options here:
1. read-only user and hardcoded login button for it on UI
2. special export tunnel for specific data. kind of `read-only dashboard`

[2017-07-07 15:56] DzmitryHumianiuk commented on #158
@jurteg good one.

in few month we will introduce ElasticSearch. and this will give ability to use `full-text search`
then this feature will be considered

[2017-07-07 15:57] DzmitryHumianiuk commented on #159
@Gidroid ?

[2017-07-07 16:14] Gidroid commented on #159
Right now I can't reproduce this error on our project. I will add code when error come up again

[2017-07-07 19:40] avarabyeu commented on #159
@Gidroid OK. closing for now. Feel free to re-open or create new issue if problem appears again

[2017-07-07 19:40] #159 closed

[2017-07-07 19:43] avarabyeu commented on #169
@kshcherban right. Another option is to configure gateway to handle https. You can actually do it via environment variables. Here is how it can be done: https://drissamri.be/blog/java/enable-https-in-spring-boot/

[2017-07-07 19:53] avarabyeu commented on #126
@dkorobtsov are you still able to reproduce issue?

[2017-07-07 20:56] dkorobtsov commented on #126
@avarabyeu nope, does not reproduce with latest version

[2017-07-10 16:33] DzmitryHumianiuk commented on #152
@avarabyeu it's exactly what was discussed!

also
we need to add possibility to bypass description for launch via params.
like `rp.launch.description`
and resource to update description for `testItem`

so 3 bullets here:
 - [ ] resource method to add description for `testItem` @avarabyeu
 - [ ] description for launch via params like `rp.launch.description` @avarabyeu
 - [ ] add wrapper in markdown

[2017-07-10 16:34] DzmitryHumianiuk commented on #147
error message will be shown with 10 lines collapse

default size for other messages will be 4

[2017-07-11 11:39] #146 closed

[2017-07-11 12:12] DzmitryHumianiuk commented on #88
@jurteg ~July22

[2017-07-11 12:15] DzmitryHumianiuk commented on #154
in 3.1

[2017-07-11 12:15] #154 closed

[2017-07-11 12:44] jurteg commented on #88
Thank you!

[2017-07-11 15:12] aliaksandrbasau opened #174 "Dashboard auto-refresh enables all defect type series on widgets"
1. Open a dashboard that has a defect types in legend (e.g. Launch statistics line chart, Launch execution and issue statistic).
2. Uncheck a few defect types in legend.
![image](https://user-images.githubusercontent.com/6681200/28075479-9b92b490-6629-11e7-9694-6d5a9f79e74c.png)
3. Wait till the dashboard auto-refreshes. => Unchecked defect types are now checked.
![image](https://user-images.githu

[2017-07-11 16:07] ksuglotova opened #175 "[WIDGETS] Overall statictics widget as PieChart config"
As a user I want to see the Overall statistics Overall statistics panel widget as a pie chart and have a choice whether to see and config current Overall statistics Overall statistics panel widget or Overall statistics pie chart widget.

[2017-07-11 16:46] ksuglotova opened #176 "Split test desc and test parameters in RP"
As a user, I would like to store test parameters and test description separately.
For each test I should be able to see the set of parameters:
{parameter name: parameter value}
grouped by pairs.
Simultaneously test parameters and their values should the excluded from the test description.
Test parameters (name+value) may be used to identify test uniqueness.

[2017-07-11 16:50] ksuglotova opened #177 "New filter by Test parameters"
As a user, I would like to filter test items by test parameters.

[2017-07-12 13:11] ksuglotova opened #178 "[WIDGETS] Add additional parameter in a Widget heading"
Received from Alisa Guseva

It would be useful to have a option to show an additional parameter on a widget heading or near it. For example, start time
![lauch statistics](https://user-images.githubusercontent.com/29129137/28119197-f7a815aa-66e1-11e7-92b6-da02e812aaf1.JPG)

[2017-07-12 14:22] ksuglotova commented on #178
Possible additional parameters might be:
- start time;
- description;
- launch name;
- launch tags
I don't consider widget's filter conditions as additional parameters because of their possible complexity.

[2017-07-12 14:37] ksuglotova opened #179 "[WIDGETS] Add scroll box"
Received from Alisa Guseva

It would be handful to add vertical and horizontal scroll boxes for widgets in case they do not fit the screen

[2017-07-12 14:51] ksuglotova opened #180 "[WIDGETS] Launch execution statisics: get the graph up"
Received from Alisa Guseva

It would be more informative to change the graph and legend on a  Launch execution and issue statistic widget. I.e. get the graph on top and legend to the down on a widget area.
![launch execution and issue statistics](https://user-images.githubusercontent.com/29129137/28123834-000a835a-66f0-11e7-9bd3-1b840bbcf8dc.JPG)

[2017-07-12 14:54] ksuglotova opened #181 "[WIDGETS] No data available"
Received from the Alisa Guseva

In case if no data meet widget criteria, then 'no data available' is shown on a widget area. It would be better to have a option to hide the 'No data available' in case of all tests are in Passed status, for example.

[2017-07-12 14:58] ksuglotova commented on #181
One of the possible options is to add configurable default message to the widget wizard. Then for pass/failed rate widget the default message may be 'No failed tests' if user decided to configure it

[2017-07-13 14:56] dkozlov opened #182 "Junit test framework integration"
Hi,

Is there any way to integrate Junit reports with ReportPortal ?

[2017-07-13 18:42] ksuglotova opened #183 "Log page: width"
Can I configure log page width?
For example, for failed tests pick up the native android logs, in which key information is marked up by the
https://github.com/orhanobut/logger

On Report Portal that mark up turns out to mess.

Received from @dkorobtsov (Slack/reportportal/russian).

[2017-07-14 11:08] DzmitryHumianiuk commented on #172
3.1 markdown disabled by default in logs

[2017-07-14 11:08] #172 closed

[2017-07-14 15:10] jurteg opened #184 "Cucumber agent/RP: Cucumber reports do not display Cucumber hooks"
Cucumber reports on RP do not reflect the Cucumber hooks that go as pre/post conditions for scenarios.
This is very important since hooks usually setting up proper test data or appropriate conditions.
Moreover, when the hook is failing - the stacktrace before scenario is misleading and non-informative because of absence of the root cause.
Again, it is very confusing to see the stacktrace at the en

[2017-07-14 15:24] jurteg opened #185 "Cucumber agent/RP: Cucumber reports do not reflect feature description and other information"
RP Cucumber reports do not contain:
- Feature description
- Hooks and feature/scenario tags
- Text inline comments
Such information is most useful for 'documentation by example' approach used in BDD process and allows to track changes in features.
P.S. Cucumber passing all this information, so I believe it could be used this way

![rp_bug_3](https://user-images.githubusercontent.com/25842206/28218

[2017-07-14 18:04] avarabyeu commented on #185
@jurteg is that related to cucumber or cucumberJVM?

[2017-07-14 18:07] avarabyeu commented on #182
@dkozlov yes. we are about to release 'import' feature that supports junit XML reports.
BTW, which framework do you use? If it's JUnit, why don't you use [junit agent](https://github.com/reportportal/agent-java-junit)?

[2017-07-14 18:44] jurteg commented on #185
Yes, that's right, sorry for lack of details.

[2017-07-14 18:45] jurteg commented on #185
CucumberJVM

[2017-07-17 08:28] dkozlov commented on #182
I use several frameworks: JUnit, Cucumber.

Because it is not trivial to find any information about JUnit agent in http://reportportal.io/#documentation and https://github.com/search?q=org%3Areportportal+example

[2017-07-17 13:19] oglagovskiy opened #186 "[Feature Request] Add possibility to create and save filters based on test name of all tests in launch"
Right now, we can only save filters for launches.
But imagine situation when i have 1 launch with different browsers and decided to create dashboards based on Chrome only test results, another for FF only test results and so on. But they are all in launch. We can't create those dashboards, because we can't create saved filter based on test name for the whole launch.
Ideally we would have:
Launch o

[2017-07-17 13:25] ksuglotova commented on #186
#74 has the similar requirements

[2017-07-17 15:02] dkozlov commented on #182
According to reportportal.slack.com (https://reportportal-slack-auto.herokuapp.com/):
If Maven used - then listener could be included in maven-surefire-plugin configuration in pom.xml.
<plugin>
   <groupId>org.apache.maven.plugins</groupId>
   <artifactId>maven-surefire-plugin</artifactId>
   <version>2.15</version>
   <configuration>
      <properties>
         <property>
            <name>listen

[2017-07-17 21:45] Tset-Noitamotua commented on #83
linke to allure report above is dead

[2017-07-18 13:22] cybem opened #187 "Report Portal in Rancher"
Hi guys,

Firstly, I would like to thank you for the awesome and very useful software.

But recently we've faced some problem when we were trying to start Report Portal under [Rancher](http://rancher.com/rancher/).

# The short version

Under Rancher, Docker containers can't communicate with each other using their own hostnames (which coincide with their container IDs).

# The long version

1. Rep

[2017-07-19 12:57] dkozlov opened #188 "Error Message: Start time of child ['Wed Jul 19 12:53:49 UTC 2017'] item should be same or later than start time ['Wed Jul 19 12:53:49 UTC 2017'] of the parent item/launch '596f565d2ab79c0007b48b46' Error Type: CHILD_START_TIME_EARLIER_THAN_PARENT"
Periodically I receive following error messages:

Status code: 406
Status message:
Error Message: Start time of child ['Wed Jul 19 12:53:49 UTC 2017'] item should be same or later than start time ['Wed Jul 19 12:53:49 UTC 2017'] of the parent item/launch '596f565d2ab79c0007b48b46'
Error Type: CHILD_START_TIME_EARLIER_THAN_PARENT

	at io.reactivex.internal.functions.Functions$14.accept(Functions.ja

[2017-07-19 17:35] nvborisenko commented on #188
It seems the server doesn't accept start time of child even when start time of child equals start time of parent. All agents in .Net add 1ms to avoid this limitation.

[2017-07-19 19:22] avarabyeu commented on #187
@cybem hi! Thanks for the detailed info. Actually, we are about to migrate from Eureka to Consul in couple of weeks. But issue you mentioned is still supposed to be reproduced - you have to point each service to the right service registry instance. What i would suggest is to use env properties instead of JVM vars. This way you can pass right value using docker-compose file and avoid re-creating im

[2017-07-19 19:24] avarabyeu commented on #188
@dkozlov agent type and version?

[2017-07-20 10:46] dkozlov commented on #188
@avarabyeu https://github.com/reportportal/agent-java-cucumber

<dependency>
  <groupId>com.epam.reportportal</groupId>
  <artifactId>agent-java-cucumber</artifactId>
  <version>3.0.0-BETA-1</version>
</dependency>

[2017-07-21 10:48] Vitovtx opened #189 "Add feature "Copy result from previous run""
In case auto-analysis is disabled then feature "Copy result from previous run" is extremely useful to speed up regression review. It could look like button near "load bug"  "post bug".
Button could be enabled by default in case auto analysis is disabled, or it could be separate setting for it.

[2017-07-21 14:30] ksuglotova opened #190 "Test case steps as a part of Defect Description"
Received from Andrew Patin

It would be great to create the test case steps to reproduce bug, i.e. choose steps (test items) before bug and add them to the Description as a test case steps. As a user, I would like to choose what steps should be added as test case steps.

[2017-07-21 14:35] ksuglotova opened #191 "Semi-automation test report"
Received from Andrew Patin

As a user I would like to create widget for semi-automation test results. In that case tester makes decision about test result after walking through screenshots and/or video recordings which is shot by run test. The assumption about mixed log content may be reasonable, because there may be auto and manual checks.

[2017-07-21 14:44] ksuglotova opened #192 "Test items (steps) with the same name but different position in a suite (test) to show separately"
Received from Andrew Patin

I would like to see the same test steps but in different places in a test item as separately from each other. In other words, to see the several items with the reason 'There are several items with the same names, descriptions and tags' in inconvenient because in our project may be tens of such steps in one test.

[2017-07-21 14:51] ksuglotova opened #193 "Widget data from several projects"
Received from @alisa, Slack/reportportal/russian

There are a lot of projects in our company but the very one automation group. As a lead of such a group, I would like to have an option to see on one page what happened, say, for last night with tests.
The solution to assign all users in one project is unsuitable because different people perform auto-testing in different projects and we'll get prob

[2017-07-21 14:55] ksuglotova opened #194 "Clone dashboard"
Received from @ kostia.izotov Slack / reportportal / general

Can I clone a dashboard?
**Use case:** there's a dashboard, I need another 10 similar ones but with slightly different filters (for other environments, suites, tests - Selenium/Rest/Unit) and shared dashboard shows the same launches. I need information about tests on higher and lower environments with different statistics.

[2017-07-21 14:56] ksuglotova opened #195 "KPI on Management board"
Received from @ kostia.izotov Slack / reportportal / russian

How to turn on KPI on Management Board (list view)?

[2017-07-21 20:48] #157 closed

[2017-07-24 15:53] DzmitryHumianiuk commented on #175
completed

[2017-07-24 15:53] #175 closed

[2017-07-24 15:53] #100 closed

[2017-07-24 15:54] #147 closed

[2017-07-25 15:14] iKozzz opened #196 "Email notification rule prevents submition"
1. Go to "../settings/notifications"
2. set "E-mail Notifications"  to ON
3. setup everything and add at least 1 rule.
4. Submit
(emails should work now)
5. go to "../settings/notifications" again
6. edit rule to not valid (clear "Recipients")
7. set "E-mail Notifications" to OFF
8. Submit

Actual - Error will appear regarding incorrect rule settings.
Expected - remove any rules behind the scene a

[2017-07-25 16:15] DzmitryHumianiuk commented on #152
@lexecon please describe `add style for error wrapper`
@pictureb00k please describe `rp.description` usage

[2017-07-25 16:20] DzmitryHumianiuk commented on #152
@sporitskiy

extend testItem description with
[code]
like
![image](https://user-images.githubusercontent.com/11332788/28582474-3136a840-716e-11e7-8f4b-f2eb16f2cfbe.png)

and you will get
![image](https://user-images.githubusercontent.com/11332788/28582491-429c03be-716e-11e7-8d49-1c12bb8d03e5.png)

[2017-07-25 16:25] avarabyeu commented on #152
we definitely need to introduce custom annotations to be able to specify test name/description. Also, annotation should  accept placeholders to be able to build up description dynamically

[2017-07-25 16:42] pictureb00k commented on #152
`resource method to add description for testItem on finish @avarabyeu`
descriptions and tags will be available in v3.2

[2017-07-25 17:08] #152 closed

[2017-07-25 17:19] #176 closed

[2017-07-25 17:20] DzmitryHumianiuk commented on #176
done on server side.
**will be available with 3.2**

adapters should be also extended. as separate task

[2017-07-26 08:51] avarabyeu opened #197 "NPE on Widget delete"
[code]

[2017-07-27 05:52] Hanna-Kokhanava opened #198 "Excel file, downloaded from RP, has no extension."
The problem is that file with .xlsx extension, downloaded from RP has no extension. But after renaming - file opens correctly.
**On my personal observations** - affects only .xlsx files.

[2017-07-27 12:43] sporitskiy opened #199 "Memory leak when loading report page"
When loading report page of a test with big (relatively) log, the browser takes too much memory.

My case: test log size = 520 kb.
Chrome: browser tab's memory went to 2 Gb and stuck.
![chrome](https://user-images.githubusercontent.com/15995047/28670605-277334ac-72e2-11e7-8aec-f1f4c4fbf779.jpg)

FireFox: browser takes 10.5 Gb and loads the page.
![firefox](https://user-images.githubusercontent.com

[2017-07-28 09:11] avarabyeu commented on #74
@fasterfish @iKozzz Guys, not so easy since now filters are just launch-level queries to the database. Requested functionality requires implementation on both server and UI sides (including some design efforts). The same with widgets and dashboard - they are also launch level. We need to re-think approach that we have now and introduce some launch-level stuff (e.g. dashboards, widgets, filters, et

[2017-07-28 13:54] DzmitryHumianiuk commented on #74
@fasterfish @iKozzz
we discuss sub-launch widgets.
it will have similar functionality of widgets, but based on one launch. or row of launches with same name.
and most likely it will have kind of filters for test items, under launch

[2017-07-29 18:51] Lalesia commented on #6
Hi everyone!
Where I can find in documetation this approach?
I really need it right now for project with a lot of modules and projects, so it would be great to change property file in runtime. Thanks

[2017-07-31 14:04] avarabyeu opened #200 "Droid Sans fonts no longer supported by debian"
ReportPortal's Java-based services are build on top of openjdk:8-jre image.
In the latest versions, openjdk:8-jre image have migrated to the latest debian 9 which does not have founts-droid package in their apt repos.
fonts-droid should be replaced with fonts-noto.
See details here: https://lists.ubuntu.com/archives/ubuntu-devel/2016-February/039159.html

[2017-07-31 14:06] #200 closed

[2017-07-31 14:41] avarabyeu opened #201 "Avoid CPU consumption on huge logs during auto-analysis"

[2017-07-31 14:58] #201 closed

[2017-07-31 20:23] avarabyeu commented on #6
@Lalesia properties are being loaded from here: [PropertiesLoader](https://github.com/reportportal/client-java/blob/master/src/main/java/com/epam/reportportal/utils/properties/PropertiesLoader.java)

If i'd like to override properties you can use jvm\env vars or replace\override it on the code level in [Configuration Module](https://github.com/reportportal/client-java/blob/master/src/main/java/com

[2017-07-31 20:28] avarabyeu commented on #188
@dkozlov could you please try the latest version which is 3.0.0 (not a beta)

[2017-07-31 20:29] avarabyeu commented on #187
@cybem can we close the issue?

[2017-07-31 20:39] avarabyeu commented on #191
That's extremely strange case if testing framework doesn't know status of the test. Not sure we wanna support it

[2017-07-31 20:39] avarabyeu commented on #177
@pictureb00k do we have such filter already? can we add reference to the commit and update changelog

[2017-07-31 20:41] avarabyeu commented on #184
@jurteg good catch. can you prepare PR and fix it? Agent is [placed here](https://github.com/reportportal/agent-java-cucumber)

[2017-07-31 20:46] avarabyeu commented on #198
@Hanna-Kokhanava unfortunately, cannot reproduce. Downloaded file has .xls extension.

[2017-07-31 20:46] #198 closed

[2017-07-31 20:47] avarabyeu commented on #169
@kshcherban can we close the issue?

[2017-07-31 20:53] avarabyeu commented on #192
custom test IDs can help here.

[2017-07-31 20:54] avarabyeu commented on #190
which agent is used? java-based agent already support extensions so it can be customized on client side.

[2017-08-01 09:19] pictureb00k commented on #177
https://github.com/reportportal/commons-dao/commit/87fdbd3d8bbf7529a4e8a87ff21a0aa3870bd138

[2017-08-01 10:39] avarabyeu commented on #177
thanks!

[2017-08-02 12:00] skaliber opened #202 "Ruby Cucumber Total number of tests not reflecting the actual nr of tests - BDD statistics"
Since I update reportportal to latest version I have an issue with my total nr of tests that reportportal is counting for each launch.

I'm using agent ruby to sent the results into RP and I'm running parallel docker containers
 so the end of my docker command looks like this:

`-f pretty -f ReportPortal::Cucumber::Formatter -o 'output/test_report.txt'`

when I go to http://rp-host/ui/#{project}/l

[2017-08-02 13:26] skaliber commented on #202
I would like to mention that when I run sequentially all is good is just when I run in parallel , I guess something is not handling the threads on your side

[2017-08-02 13:57] avarabyeu commented on #202
@aliaksandr-trush could you please have a look?

[2017-08-03 08:05] skaliber commented on #202
if helps I've changed the component agent to use `YARPC::Cucumber::Formatter `and the issue is still persistent

[2017-08-03 10:58] AlisaGuseva opened #203 "configurable colours for settings/defect"
configurable colours for settings/defect
"to investigate" и "automation bug" look likes the same on a big screen

[2017-08-03 12:18] skaliber commented on #202
as per slack discussion I was asked if I can provide a a minimum reproducible example
here is our project just with a sample test that I was using today to test the issue
It contains the same structure and same gems as we have

https://github.com/skaliber/reportportal_sample_project.git

Thank you!

[2017-08-03 13:44] KursLabIgor opened #204 "Newtonsoft.Json dependancy issue when use reportportal for nunit 3"
In case if your project use Newtonsoft.Json version >9 and nunit 3 run tests failed with following error.
[code]

[2017-08-03 14:00] KursLabIgor commented on #204
after installing NewtonSoft.Json version 9.01 following error occurs:
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.TypeInitializationException: The type initializer for 'ReportPortal.NUnitExtension.ReportPortalListener' threw an exception. ---> System.TypeInitializationException: The type initializer for 'ReportPortal.Shared.Bri

[2017-08-04 13:49] DzmitryHumianiuk commented on #193
- [x] The most interesting widget is passed/failed rate.

passing rate completed. and available with 3.1

[2017-08-04 13:53] DzmitryHumianiuk commented on #193
portfolio view is under consideration.

[2017-08-04 16:25] pictureb00k commented on #202
@skaliber
In new version we added different types of statistics calculation, and update scripts change statistics calculation type to new default value.
If i understood from slack chat, you have not used correct update to another version and your type has not changed.
To verify it, please, go to API -> project-controller -> Get information about project -> enter your project name and find field st

[2017-08-06 19:54] avarabyeu opened #205 "Java client does not respect timezone"

[2017-08-06 19:57] avarabyeu commented on #137
@daroshchanka could you please prepare some demo project in order to reproduce issue?

[2017-08-06 20:00] avarabyeu opened #206 "Java client has no sources and javadocs attached"

[2017-08-06 20:01] #205 closed

[2017-08-06 20:01] #206 closed

[2017-08-06 22:12] avarabyeu commented on #188
@dkozlov Is this issue still reproduced with latest version?

[2017-08-06 22:15] avarabyeu commented on #170
Closing due to inactivity. Seems like issue is related to server side, e.g. to integration of spring-cache and redis. Redis is supposed to be remove in nearest future.

[2017-08-06 22:18] avarabyeu commented on #185
@jurteg
Thanks for posting this.
Are you able to fix the issue?
If not, may i ask you to update gherkin file in this project: https://github.com/reportportal/example-java-cucumber in order to have some example of events that are missed.

Thank you!

[2017-08-06 22:21] avarabyeu commented on #12
@fasterfish Implementation in progress. Just curious, do you need LDAP or Active Directory authentication. AD is like special case of LDAP, but they have a little bit different mechanics of authentication.

[2017-08-07 09:50] jurteg commented on #185
@avarabyeu
I'm not sure I will have enough time for fixing this, however I will definitely will add working examples to highlight the issue.

[2017-08-08 09:26] avarabyeu opened #208 "[Feature Request] Introduce new project role that is not allowed to report"

[2017-08-08 09:28] #208 closed

[2017-08-08 09:28] avarabyeu commented on #208
New role name: OPERATOR

[2017-08-08 12:29] aliaksandr-trush opened #209 "Add hotkeys for logs view page."
During issues investigation I often click arrows keys, refresh button and add description link, etc..
It would be very useful to have hotkeys for the elements, like in other modern web applications (gmail, jira).

From my point of view the most important elements is:
1. Back and forward arrows
2. EDIT DEFECT TYPE link (and all elements inside popup)
3. Refresh button.

Thank you in advance.

[2017-08-08 12:57] PositiveAlex commented on #209
And... the most important hot key: `?` :)

[2017-08-08 13:04] DzmitryHumianiuk commented on #209
@PositiveAlex under `?` you mean Help window? :)

[2017-08-08 13:10] aliaksandr-trush commented on #209
@DzmitryHumianiuk there is example for Help window from inbox.google.com
![image](https://user-images.githubusercontent.com/919206/29073340-f80fed10-7c53-11e7-96e8-04bc657ef7f6.png)

I suggest to use VIM style keys for the elements. It's default for the most of the applications.

[2017-08-08 13:15] fasterfish opened #210 "Image viewer not close"
Given I have failed test with image attachment on RP
When I open image to show
And I press to back button at the browser
Then opened image should be closed

But was:
![screenshot_2](https://user-images.githubusercontent.com/18389889/29073535-677bf052-7c65-11e7-884c-7ac940551c86.png)

[2017-08-08 19:47] avarabyeu opened #211 "[critical] Sigterm are not handled by services inside containers"
All java-based ReportPortal's containers start application in the following way:
[code]
It was initially implemented by example from [spring-boot guide](https://spring.io/guides/gs/spring-boot-docker)
Bash does not propagate sigterm to processes started inside a script which leads to incorrect shutdown behaviour of all java-based containers - graceful shutdown doesn't work. As result, services are

[2017-08-09 06:12] PositiveAlex commented on #209
Sure, in trello I have to press `?` to open shortcuts panel: https://trello.com/shortcuts
Similar set of hot keys is in vim, jira, trello, etc.

[2017-08-10 06:02] fasterfish commented on #12
@avarabyeu we need Active Directory authentication

[2017-08-10 16:40] nvborisenko commented on #204
@KursLabIgor please use newtonsoft.json 9.0.1 and the latest ReportPortal.Shared beta version.

[2017-08-11 08:03] KursLabIgor commented on #204
ok. will check

[2017-08-11 09:30] iKozzz opened #212 "[DASHBOARD] no search for "ADD SHARED WIDGET" window"
It's unable to search for shared widget when adding to dashboard. You should find it in the list.

[2017-08-11 09:37] iKozzz opened #213 "[DASHBOARD] Owner can't see owned widgets in "SELECT SHARED WIDGET" list"
Go to dash board (or create one)
Click ADD SHARED WIDGET button

**Expected**: User should be able to add own widgets (shared) to multiple dashboards. (instead of creating same widget with different name)

**Actual**: Only foreign widgets are shown in the list.

[2017-08-11 09:49] DzmitryHumianiuk commented on #68
@Rider1982 ??

[2017-08-11 12:08] DzmitryHumianiuk opened #214 "[Auto-analysis] IGNORE `No Defect items` during analysis"
To avoid items automatic coverage with `No Defect`during analysis, it will be **ignored** during auto-investigation.

[2017-08-11 12:10] pictureb00k commented on #214
It is already ignored, isn't it ?

[2017-08-11 12:10] DzmitryHumianiuk commented on #48
have interceptions with:
~~#214~~
 #68

[2017-08-11 12:11] #214 closed

[2017-08-11 12:22] adamkanovak opened #215 "Test runs sometimes hangs with Start test item is not allowed. Parent Item '' already has log items"
Exception in thread "RxCachedThreadScheduler-3" io.reactivex.exceptions.OnErrorNotImplementedException: Report Portal returned error
error    11-Aug-2017 01:21:08    Status code: 406
error    11-Aug-2017 01:21:08    Status message:
error    11-Aug-2017 01:21:08    Error Message: Start test item is not allowed. Parent Item '598d4cd136d1a0000626c873' already has log items
error    11-Aug-2017 01:21:

[2017-08-14 07:49] cybem commented on #187
Thank you, Andrei @avarabyeu, for your comprehensive response.
Yes, I think the issue can be closed.
We are going to try a new version of Report Portal.

Best wishes.

[2017-08-14 07:49] #187 closed

[2017-08-14 08:34] Vitovtx opened #216 "Make scrollbar always visible"
In RP v2 scrollbal was always visible. In RP v3 it visible only on user mouse/keyboard action. It need to be visible to understand current document position and move mouse to correct location for scrolling.

[2017-08-14 12:54] hajdun opened #217 "As a user I want to export or "print" dashboard data"
Our customer needs nice reports, he does not want to log in to report portal as some other test results are available from other test management tool or Jenkins.

Please
have a printable css formatting for dashboards (project name, widgets)>
"print" it to pdf >
 let me send it in email from report portal (have a recurrence setting like send it monthly or weekly, at a given time )

Alternative solu

[2017-08-14 15:31] sbakharev opened #218 "Cucumber skipped steps marked as issues (java)"
Using Cucumber Java agent 3.0.0-BETA-2.

When a scenario fails, the failed step is marked as issue to investigate and that's fine. But the steps following the failed one are marked as issues even though their status is SKIPPED. This is strange since the steps skipped in such way definitely do not represent any separate issues. This behavior occurs even with **rp.skipped.issue** set to **false**.

[2017-08-14 21:18] DzmitryHumianiuk commented on #12
Completed

[2017-08-14 21:18] #12 closed

[2017-08-15 09:01] avarabyeu commented on #125
Couple of update have been released for java integration. Do you still have the issue?

[2017-08-15 09:02] avarabyeu commented on #182
@dkozlov Thanks for the comprehensive response. I believe, issue can be closed

[2017-08-15 09:02] #182 closed

[2017-08-15 09:27] dkozlov commented on #188
@avarabyeu I could not check agent-java-cucumber 3.0.0 because this issue blocked by https://github.com/reportportal/agent-java-cucumber/issues/5

[2017-08-15 09:48] avarabyeu commented on #211
Fixed in all services. Will be available in 3.2.

[2017-08-15 09:48] #211 closed

[2017-08-16 08:52] DzmitryHumianiuk commented on #45
@JustasM11
take all needed launches
you can iterate each launch
find item in this launch.

that will work?

[2017-08-16 13:35] DzmitryHumianiuk commented on #88
available with 3.1

[2017-08-16 13:35] #88 closed

[2017-08-17 07:48] lifemanship commented on #216
Yes, it is not very convinient to have small scrollbar that is visible only when user start scrolling

[2017-08-21 09:49] SKharlanov opened #220 "Cucumber-JVM: RP throws exception, when there is no features match the filter"
Run set of features by any filter using the following parameters _-Dcucumber.options=--tags @anyTag_.
If there is no feature marked by tag _@anyTag_, Cucumber says:
_**None of the features at [classpath:com/epam/] matched the filters: [@anyTag]**_

Report Portal creates launch and item in launch:
DEBUG - ReportPortal launch with ID 'launchID' has been created.
DEBUG - ReportPortal item with ID 'it

[2017-08-21 10:09] SKharlanov opened #221 "Cucumber-JVM: Error with Type CHILD_START_TIME_EARLIER_THAN_PARENT appears sometimes, when parent and child items time is even"
`ERROR - ReportPortal execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 406
Status message:
Error Message: Start time of child ['Sat Aug 19 07:24:07 UTC 2017'] item should be same or later than start time ['Sat Aug 19 07:24:07 UTC 2017'] of the parent item/launch 'launchID'
Error Type: CHILD_START_TIME_EARLIER_THAN_PARENT

	at com.epam

[2017-08-21 10:14] #221 closed

[2017-08-21 10:15] SKharlanov commented on #221
Closed as duplicate of https://github.com/reportportal/reportportal/issues/188

[2017-08-21 10:18] SKharlanov commented on #221
#188

[2017-08-21 10:19] SKharlanov commented on #188
Reproduced for me with
`               <dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-cucumber</artifactId>
			<version>3.0.0</version>
		</dependency>`

[2017-08-22 09:25] avarabyeu commented on #188
@SKharlanov could you please try again? reportportal/reportportal#221 is fixed.

[2017-08-23 16:12] PositiveAlex opened #222 "Force finish fails for multiple selection if there is a complete launch"
Preconditions
---

- One launch which hangs or executes right now.
- One launch which is complete.

Use case
---

- Select all launches with checkbox.
- Select `Actions` button.
- Choose `Force Finish`
- Get no error, no action is done, nothing stopped.

Expected
---

- Launch one is stopped, launch two is not modified.

[2017-08-23 20:26] DzmitryHumianiuk opened #223 "Watch Latest"
As a user, I want to have an option to see the latest launches only.
In other words, when that option is turn on, I will see on a launches view only launches with unique names with the last increment (#number).
As a user, I want to be able to filter latest launches as now I filter all launches on a Launches Page.
Technical description:
Add 'distinct' to the launches view. It might be separate view

[2017-08-23 20:27] #223 closed

[2017-08-23 20:27] DzmitryHumianiuk commented on #223
done

[2017-08-23 20:36] DzmitryHumianiuk commented on #222
@PositiveAlex you want to see both launches as `interrupted`?
or one interrupted and one completed?

[2017-08-23 20:51] DzmitryHumianiuk commented on #215
@adamkanovak
this is constraint.

We expect that only test cases, as an end level in hierarchy can have logs.
If you item already have logs: this should be a test cases, and it should not have sub objects.

Could you please give details? Which integration do you use?

[2017-08-23 20:53] DzmitryHumianiuk commented on #212
@Iren-Melnyk could you please review this request?

[2017-08-23 20:56] DzmitryHumianiuk commented on #204
@KursLabIgor it works?

[2017-08-23 21:00] DzmitryHumianiuk commented on #202
@skaliber issue fixed?

close as duplicate of https://github.com/reportportal/reportportal/issues/83

[2017-08-23 21:00] #202 closed

[2017-08-23 21:21] DzmitryHumianiuk commented on #190
@andrey-patin really custom thing.
should be done via client-side extension. not server

[2017-08-23 21:21] #190 closed

[2017-08-24 08:21] pictureb00k opened #224 "XML file is not valid, for a valid JUnit report in attach"
[junit.zip](https://github.com/reportportal/reportportal/files/1248160/junit.zip)

[2017-08-24 09:11] pictureb00k commented on #224
Fixed. Available in 3.2

[2017-08-24 09:11] #224 closed

[2017-08-24 12:07] PositiveAlex commented on #222
@DzmitryHumianiuk I thought it would just skip launches which is not in the running state. I mean it cannot stop something if it is already stopped.

[2017-08-24 12:49] DzmitryHumianiuk commented on #222
Olya,

Please take a look on bug

~Dzmitry H

On 24 Aug 2017, at 15:07, Alexander.Iljushkin <notifications@github.com<mailto:notifications@github.com>> wrote:

@DzmitryHumianiuk<https://github.com/dzmitryhumianiuk> I thought it would just skip launches which is not in the running state. I mean it cannot stop something if it is already stopped.

—
You are receiving this because you were mentioned.

[2017-08-24 15:08] e-olga commented on #222
I have checked the bug against RP of version 3.1
In case launches with different statuses (In Progress, Finished) are selected, the force finish operation could be done for non-finished launch only.
1. User selects some launches with finished and in progress statuses, the last one is validated as invalid to be stopped.
![finish launches](https://user-images.githubusercontent.com/22497746/29672691-

[2017-08-24 15:21] e-olga commented on #196
As for today, all notifications rules are saved on backend side. The option ON/OFF works only as switcher to enable or disable it.
So, the saved rule should be correct. One of required parameter is to have at least one recipient for the rule.
In case no any user is added to the rule it assumed as invalid. And lead to the error on submit operation even with OFF selected.
So, with new workflow of Em

[2017-08-24 16:57] PositiveAlex commented on #222
But from the point of logic, finished item is not invalid.

On чт, 24 авг. 2017, 18:08 olga.yermalovich <notifications@github.com>
wrote:

--

С уважением,
Илюшкин Александр.
E-mail: positivealex@gmail.com

[2017-08-24 19:47] KursLabIgor commented on #204
sorry, didnt have time handle this. i'm going to check next week

[2017-08-25 04:14] e-olga commented on #222
The system makes a check what status the launch has / whether it valid to be finished or not. The clarification could be seen in the tool tip.

[2017-08-25 09:04] PositiveAlex commented on #222
You cannot finish a finished build, yes.
But me as a User do not need this tool tip at all.

I want to check all items and force finish that items, which is not finished, but finished items should be processed with 'no action' (silently pass it).

Can you clarify why that items wont be passed and instead marked as invalid?

[2017-08-25 09:15] #222 closed

[2017-08-25 09:24] DzmitryHumianiuk commented on #222
@PositiveAlex at this point you have `Proceed with valid items` button.
No need to make N clicks.

RP notifies you which will not be proceed. And you can choose to move forward with valid items only.

[2017-08-26 13:23] #68 closed

[2017-08-26 13:38] DzmitryHumianiuk commented on #68
@Rider1982 proposed representation good enought?

[2017-08-26 17:53] Rider1982 commented on #68
Yes.

[2017-08-27 10:12] andytrofimov commented on #218
@avarabyeu is there any news on this issue?

[2017-08-28 15:04] KursLabIgor commented on #204
updates:
install latest beta ReportPortal.Shared and use NewtonSoft.Json version 9.01 Now result:
in case if install 10, back to previous error.
ReportPortal exception was thrown.
System.AggregateException: One or more errors occurred. ---> System.AggregateException: One or more errors occurred. ---> System.IO.FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.

[2017-08-28 16:15] DzmitryHumianiuk commented on #137
@daroshchanka up

[2017-08-29 08:49] pskvortsov opened #226 "Ability to see compound logs for test item"
Now test item contains only logs from current test, but this doesn't help when I need to look for methods that were run before test method.
For example, I want to see compound logs for each item, that will contain logs from BeforeClass, BeforeMethod and Test methods.

[2017-08-29 09:33] nvborisenko commented on #204
This is will be resolved in scope of https://github.com/reportportal/client-net/issues/3

[2017-08-30 08:36] andrey-patin-1979 opened #227 "[AA:: boost human priority] When fail was investigated during run differently from previous runs the Auto Analysis will change it to previous runs' investigation result"
Scenario:

1. Run1 has Fail1 with investigation result "Product bug" and bug attached to it.
1. Run2 is performing and already has Fail1 which was identified as "Auto bug" **manually** (SUT's behavior was changed prior to Run1) but has same log (only attached screenshot is different).

Result: upon end of Run2 Auto Analysis (AA) will change investigation result to one from Run1, but expected to le

[2017-08-30 08:39] andrey-patin-1979 opened #228 "After auto analysis HREF attribute is not updated with link to the issue"

[2017-08-30 11:15] adamkanovak commented on #215
Cucumber JVM 3.0.0,
Report Portal is on Build: 3.0.2

[2017-08-30 11:33] DzmitryHumianiuk commented on #215
@avarabyeu

[2017-09-01 17:02] aliaksandrbasau opened #229 "Unable to view logs for some test items"
service-ui 3.1.1
The issue is very similar to #111.

![image](https://user-images.githubusercontent.com/6681200/29979967-941d3996-8f15-11e7-9588-4f5ba9486814.png)

The log item that that causes the issue is the following:

[2017-09-04 15:37] mishaninss opened #230 "Escaped logs filter term after refresh"
1. Apply test logs filter with a term that contains, for example, spaces
2. Refresh a page
3. Your filter term will be escaped, so it cannot be applied correctly
<img width="1242" alt="before_refresh" src="https://user-images.githubusercontent.com/23655435/30032701-11cf8222-91a0-11e7-9200-9cf7f423d322.png">
<img width="1245" alt="after_refresh" src="https://user-images.githubusercontent.com/236554

[2017-09-05 05:42] 132u opened #231 "Analysis doesn't work"
I set status for some set of tests (please see screenshot run 20), then i run tests again. Click Analysis for last run 21 but statuses are not provided
![screenshot_1](https://user-images.githubusercontent.com/5435251/30046823-2a2d3a96-9216-11e7-83f8-aafa91aa4f7f.png)

[2017-09-05 13:46] daroshchanka commented on #137
@avarabyeu, sorry for the long response..
I'll provide you updates next week. I am on vacation until September 11th.

[2017-09-08 08:05] doctordrue opened #232 "As an RP user in case of several issue sub-types configured on server, for 'Launch statistics trend chart' and 'Launch statistics line chart' I want be able to see summary information for all 'Automation bugs', 'Product bugs' etc."
## Configuration
Several amount of custom defect types configured for each group, like e.g.:
![image](https://user-images.githubusercontent.com/16087661/30201839-d99428ee-9484-11e7-8b22-d6ed148bb54d.png)

## Current behavior
Currently when you're configuring such widget you able only to display separate regions for each sub-type of issue:
![image](https://user-images.githubusercontent.com/16087661

[2017-09-08 08:35] doctordrue opened #233 "As an RP user I want to have 'Copy Link' button on pages to be able to copy direct short link to page (launch, lunch item etc.) to use it in e.g. JIRA"
The thing is that current links if you copy them from the browser's address line have '|' symbols and due to that fact they which can't be properly parsed as URLs by JIRA

[2017-09-08 10:12] #228 closed

[2017-09-08 10:13] andrey-patin-1979 commented on #228
Seems fixed in 3.2.4

[2017-09-08 13:53] avarabyeu opened #234 "Admin Roles are not supported under LDAP"
Admin Roles are not supported under LDAP

[2017-09-08 14:08] #234 closed

[2017-09-10 13:08] iKozzz commented on #143
Guys! Here is my starting point https://github.com/iKozzz/service-jenkins

[2017-09-11 14:12] doctordrue opened #235 "History: 'Click here to load more items' link displays on incorrect position"
## Expected result
'Click here to load more items' link displays above all loaded test items
## Actual result
See on screenshot below:
![image](https://user-images.githubusercontent.com/16087661/30278911-60da580a-9714-11e7-86af-380e4e7ef972.png)

[2017-09-11 14:16] doctordrue commented on #235
And moreover, if click this button you will see 30 last launches instead of 10 as expected by default and despite the fact that History Depth drop-down displays 10.

[2017-09-11 14:28] doctordrue commented on #235
Closed as duplicate of https://github.com/reportportal/service-ui/issues/282

[2017-09-11 14:28] #235 closed

[2017-09-11 15:12] daroshchanka commented on #137
@avarabyeu, we cannot reproduce this problem any more (last 2-3 weeks).
client:
[code]
server:
[code]

I think we can close this. Thank you.

[2017-09-11 15:12] #137 closed

[2017-09-12 11:52] avarabyeu opened #236 "Drop Redis"

[2017-09-12 12:43] #236 closed

[2017-09-12 15:38] avarabyeu commented on #108
duplicate of #reportportal/reportportal#67

[2017-09-12 15:39] avarabyeu commented on #108
closing in favor of reportportal/reportportal#67

[2017-09-12 15:39] #108 closed

[2017-09-12 19:21] iKozzz commented on #6
Way too odd. I was expecting to see something like
PropertiesLoader.add("my_custom_parts.properties");
or
PropertiesLoader.reload();

usecase1 - I'm using ReportPortalTestNGListener and I want too change Launch name prior to test start but after framework initialization.
usecase2 - I'm using ReportPortalTestNGListener and I want too add more tags after framework initialization

[2017-09-13 09:08] lexecon commented on #199
fixed in version 3.3

[2017-09-13 09:08] #199 closed

[2017-09-13 09:42] lexecon commented on #167
fixed in version 3.2

[2017-09-13 09:44] lexecon commented on #216
fixed in version 3.3

[2017-09-13 09:44] #216 closed

[2017-09-13 14:03] #167 closed

[2017-09-18 12:46] Iren-Melnyk commented on #167
Thank you for your request.
We are going to add the functionality of 'hot keys':
- use 'Cmd' ('Ctrl' for Windows) to check one item not only on a checkbox but on the whole area of the item except links;
- use 'Cmd+Alt' ('Ctrl+Alt' for Windows) to check multiple items.

[2017-09-18 15:36] fasterfish opened #238 "AD can not add a domain without a dot"
In our company, the domain name does not contain dot:
![screenshot_2](https://user-images.githubusercontent.com/18389889/30550477-f9d9a3e8-9cb0-11e7-9809-66dc1107e050.png)

Please, add support for this. Thanks!

[2017-09-19 13:16] naiad09 opened #239 "Tests are displayed wrong on suite level"
Hi, Report Portal.

I hope you are well.

I have problems with displaying tests under suite level.
To reproduce it just open any launch and then open any suite.
However, you can see right columns if search something, go info test level and return back.
**Actual result (defect)**
![defect](https://user-images.githubusercontent.com/19240314/30593533-908e0070-9d53-11e7-8dd6-c4c07ed98009.png)
**Expect

[2017-09-20 09:40] fasterfish opened #240 "Can not connect via ldap to reportportal"
As a user i want to successfully login to reportportal with AD credentials

Given i have configured ldap authorization
When i try to login to reportportal with correct AD credentials
Then the authorization must be successful

Actual: You do not have enough permissions. Bad credentials

[uat_logs](https://github.com/reportportal/reportportal/files/1317310/uat_logs.txt)

[2017-09-25 13:09] avarabyeu commented on #233
Please, add:
1. Copy link
2. Copy as cURL
3. Copy as httpie

https://github.com/curl/curl
http://httpie.org

Copied URL should (NOT?) contain UI access token?

[2017-09-25 13:42] evjlobanova commented on #231
Now we are working on improving the function of AA so soon the problem will be solved

[2017-09-25 13:47] evjlobanova commented on #227
Hi! Now we are working on improving the function of auto-analysis so the problem will be solved.

[2017-09-25 14:48] agyulai commented on #83
Hi @DzmitryHumianiuk
Is it still on your roadmap? Can't wait for this feature

[2017-09-25 15:33] DzmitryHumianiuk commented on #83
hi @agyulai
still it is.
it was already 6th or 7th re-desing of it.

i guess we will just release it, and ask for community of all our community, who uses BDD.

1 month.
maximum 2 months.

[2017-09-25 15:57] agyulai commented on #83
Thank you @DzmitryHumianiuk ,
Looking forward

[2017-09-26 14:05] evjlobanova commented on #239
Hi! Could you please tell us what the actual method type of these test items (BeforeSuite and Default Test) is? You can get this info via  get request in Test Controller in API.

[2017-09-26 14:22] evjlobanova commented on #230
Hello! Thanks for finding that issue. We fixed this bug, and you will be able to see corrections in the nearest release.

[2017-09-26 14:23] #230 closed

[2017-09-26 14:28] naiad09 commented on #239
Hi @evjlobanova
I'm afraid I'm not so familiar with it, could you please get more information how to get it?

[2017-09-26 14:36] evjlobanova commented on #239
Please follow the next steps:
-choose **API**
![api](https://user-images.githubusercontent.com/30413511/30866006-c7b3ee74-a2e0-11e7-8f85-ba2d0aaed3b7.png)
- choose **Test Item Controller**
- GET /{projectName}/item/{testItemId}
- fill projectName and testItemId
After all tell me please the method type of items

[2017-09-27 08:31] naiad09 commented on #239
BeforeSuite has type "type": "BEFORE_SUITE",
Default Test has type  "type": "TEST",

[2017-09-27 09:35] avarabyeu commented on #231
@132u Unfortunately, it's extremely difficult for us to handle such issues. Could you please provide us with more information? Demo Project or at least your launch structure, logs of items that are not analyzed as expected, etc

[2017-09-28 10:04] kshcherban opened #241 "Running microservices on different hosts"
Hello,

I have an issue while trying to run updated reportportal inside AWS ECS. Before you introduced consul it worked in docker network **bridge** setup but now it stopped.

I switched to host network, tried to bind all services different ports, but seems that not all microservices support port overrides.

Current version: Service Index: 3.1.1; Authorization Service: 3.2.1; Service UI: 3.2.4;

H

[2017-09-28 11:13] avarabyeu commented on #241
@kshcherban What service do you have problem with? For java-based services it should be`SERVER_PORT`

[2017-09-28 11:28] kshcherban commented on #241
Yeah, i already figured it out and managed it to work but documentation misses lots of things. For example you have hardcoded redis and consul (registry) addresses and ports in your java services, you also hardcoded uat address in api config (https://github.com/reportportal/service-api/blob/develop/src/main/resources/application.properties#L4 https://github.com/reportportal/service-api/blob/develo

[2017-09-29 10:23] evjlobanova commented on #239
Hi, @naiad09! A reason why you have seen a different views for the same item (Default Test) is that your test structure consists items that belong to different displayed types on the same level.  RP can show right view when the structure is correct.
But in your case when there were two items: Default Test (Test level) and Before Test (Step level) - UI displayed view for the Step level.  When there

[2017-09-29 10:23] #239 closed

[2017-09-29 11:47] evjlobanova commented on #238
Hi, @fasterfish  ! We have changed validation rule for a domain, after release you will see a fix.

[2017-09-29 11:47] #238 closed

[2017-09-29 15:46] aliaksandrbasau opened #242 ""Replace Comments to All Selected Items" should be checked only after a comment is typed"
When you change Defect Type of multiple test failures, you can also change Defect Comment on the same dialog. The dialog also has "Replace Comments to All Selected Items" checkbox that is checked by default. If you forget about unchecking the checkbox, it will clear all defect comments. I, personally, never change a defect comment and always have to remember to uncheck the checkbox.

![image](http

[2017-09-29 16:57] fasterfish commented on #238
Hi, @evjlobanova! Thank you.

[2017-10-02 11:49] avarabyeu commented on #152
http://reportportal.io/#documentation/JVM-based-clients-configuration

[2017-10-02 14:46] DzmitryHumianiuk commented on #226
@pskvortsov i really love this idea.

just a question - which option is preferable?
*Option 1:* load and show logs of @Before* right above the logs of test item, following with specific line separator. The same for @After*

*Option 2:* show `Load` button right before test item logs, and show them only after click on this button?

CC @Iren-Melnyk

[2017-10-03 09:45] Iren-Melnyk commented on #232
It's a very good point. We will make some improvements to these widgets.

[2017-10-03 12:40] learnappium opened #243 "How i can i integrate SecurePro ( a component of ReadyAPI ) with ReportPortal"
I Was trying to integrate SecurePro which is a part of Ready API suite

If i run project with SoapUI Ng test. then its sending data to report portal
we when i run project with securePro  it does not

Please let me know if any help available to do this

[2017-10-04 06:12] learnappium opened #244 "Do we have any plan to integrate with Jmeter load or perf test reports with report portal"
Is there any way to integrate jmeter  load test report with reportportal.
or any way  to convert Jmeter load test report in junit report and send to peport portal.

[2017-10-04 06:29] kirlionik commented on #244
Right now - no. But Report Portal Team has already thought about implementation of this feature.

It depends on what data you want to see in RP

[2017-10-04 08:08] learnappium commented on #244
Thanks @kirlionik   i am looking forward for jmeter and Secure pro integration

[2017-10-04 08:08] #244 closed

[2017-10-05 14:10] jurteg commented on #185
Not a bug. The issue could be easily fixed by adding appropriate implementation to the agent.

[2017-10-05 14:10] #185 closed

[2017-10-06 13:39] DzmitryHumianiuk commented on #184
correlates with #226

[2017-10-10 13:17] skiesInSpace opened #245 "Default TestNG xml report isn't compatible with RP report"
Default TestNG **timestamp format** "dd MMM yyyy HH:mm:ss z" (e.g. "10 Oct 2017 13:02:47 GMT") isn't compatible with **RP Import**.
Please refer to attached xml report.
Thank you!
![bug](https://user-images.githubusercontent.com/29520759/31388262-2890fea8-add6-11e7-88d6-193e4143a878.PNG)
[report.zip](https://github.com/reportportal/reportportal/files/1371983/report.zip)

[2017-10-12 16:43] DzmitryHumianiuk commented on #152
@sporitskiy
https://github.com/reportportal/example-java-TestNG/blob/c6b7ba8922d884e19f02480da5dbcc7bd459f0b4/logback/src/main/java/com/epam/rp/tests/extension/ParameterizedTest.java#L86

[2017-10-13 12:16] e-olga commented on #233
Hi @doctordrue,
Could you please specify which browser you use.
Thanks

[2017-10-13 20:13] avarabyeu commented on #243
@learnappium here is how integration with soapUI looks like. You can try to contribute over it. Latest version generates fat JAR, so you don't need to copy all lib dependencies into soapUI classpath

[2017-10-13 20:19] avarabyeu commented on #241
hi @kshcherban . Thank you for pointing this our. Actually, all properties that you can find in application.properties/yml can be overriden via env variables. For mentioned property, it will be
`RP_UAT_SERVICE_URL`
Unfortunately, we are not able to describe all configuration properties in the documentation. Since java-based apps are based on spring-boot, there is number of spring-related propertie

[2017-10-13 20:19] #241 closed

[2017-10-13 20:56] learnappium commented on #243
Thanks @avarabyew
I have done integration with soapUI and ready API
The difference in SecurePro is that it's sends reports log without any test annotations

I will connect with you on slack for getting started with contribution

[2017-10-16 15:28] rbhbokka opened #246 "Can not share any link to particular test item"
Can not share any link to test item or open shared link.
Also can not refresh page, as after refresh I'm getting 'Error item' page.
Sometimes instead of error item page you can see blank view
Sometimes hard to reproduce, no ideas what is the difference between reproducible/not

note: issue was originally found by URL with ',' character automatically converted to '%2CD'

Safari 10.0
Mac OS Sierra

[2017-10-17 09:23] avarabyeu commented on #4
@DzmitryHumianiuk @andrei-khveras what about introducing one more field like "trustMe" or "imsure" to notify auto analysis that issue should not be picked up?

[2017-10-17 11:49] avarabyeu commented on #231
Since there is no demo project / example and AA is completely re-implemented, closing this issue. Feel free to re-open if any additional actions are required from our side.

[2017-10-17 11:49] #231 closed

[2017-10-17 13:18] SKharlanov commented on #188
@avarabyeu
It reproduced again with
<dependency> <groupId>com.epam.reportportal</groupId> <artifactId>agent-java-cucumber</artifactId> <version>3.0.1</version> </dependency>

[2017-10-17 15:35] DzmitryHumianiuk commented on #4
**Flag 1**
* АА - analysed by AA
* HM - analysed by Human - boost priority in BOOL elastic request

**Flag 2**
IGNORE - ignore this item in AA - add to wildcard BOOL elastic request

@avarabyeu @pictureb00k

[2017-10-18 08:49] pictureb00k commented on #245
Fixed. Will be available in 3.3 release
https://github.com/reportportal/service-api/pull/221/commits/d120d5325558dcff00f81003fdfe6b7e2b7d3562

[2017-10-18 08:50] #245 closed

[2017-10-19 10:58] ulmanA opened #247 "Get launch's URL using ReportPortal agent-java-testNG"
I want to print the launch URL to the console after the execution.
is there a way to get that URL? I am using Java and TestNG.
thanks.
Copied from stackoverflow: [https://stackoverflow.com/questions/46306245/get-launchs-url-using-reportportal-agent-java-testng](url)

[2017-10-19 14:51] #215 closed

[2017-10-20 11:04] evjlobanova commented on #180
There was implemented  a new widget design, and a legend has a scroll now. So this issue has been resolved.

[2017-10-20 11:04] #180 closed

[2017-10-20 11:05] #179 closed

[2017-10-20 13:59] DzmitryHumianiuk commented on #215
@avarabyeu is it in 3.3 or only 4.0?

[2017-10-20 15:42] iKozzz opened #248 "Log message is not expanded if lower than 'level-ERROR'"
UI version - 3.3.0

Actual: message block 'rp-table-row' got new css-class 'open' but not expanded on click, if it has css-class another than 'level-ERROR'.

failed for: level-INFO, level-WARN, level-DEBUG, level-TRACE

p.s.
also message is not fully displayed if you switch toggle to "CONSOLE VIEW"

[2017-10-23 11:04] DzmitryHumianiuk commented on #48
for the Auto-Analysis in 4.0,
algorithm will not consider test items, which have comment but defect type is `To Investigate`
because of `wildcard` in `must_not` part of BOOL request to Elastic

this
[code]

in
[code]

[2017-10-23 11:05] DzmitryHumianiuk commented on #4
for the Auto-Analysis in 4.0,
algorithm will not consider test items, which have comment but defect type is `To Investigate`
because of `wildcard` in `must_not` part of BOOL request to Elastic

this
[code]

in
[code]

[2017-10-23 11:07] #4 closed

[2017-10-23 11:25] DzmitryHumianiuk commented on #227
With new AA, based on ML, it will be covered with:

1. For defects, which submitted by human/manually, priority will be increased during AA
2. And according to new algorithm, list of item for analysis will be created only after Launch Finish received. In current versions (before 4.0), list was populated in run-time with launch. That's why, defect typed. assigned to testItem was ignored, based of a

[2017-10-23 12:37] DzmitryHumianiuk commented on #30
@nagaeva-anastasia new version of AA will work much quicker.
almost close to real-time.

and this will not affect and block launch for a long time.
will be available with version 4.0

it issue will still affect you, please open new issue for us

[2017-10-23 12:37] #30 closed

[2017-10-23 12:57] DzmitryHumianiuk commented on #83
we started with BDD structure representation.

widget, described above, will be introduced as separate widget for `sub-launch widgets` views

[2017-10-23 13:31] DzmitryHumianiuk commented on #133
@esoskovets up ^^

[2017-10-23 13:43] DzmitryHumianiuk commented on #212
![image](https://user-images.githubusercontent.com/11332788/31892297-56ba16f8-b811-11e7-96f3-00fc25571f90.png)
@Iren-Melnyk

[2017-10-23 13:47] DzmitryHumianiuk commented on #213
will discuss with the team

[2017-10-23 13:49] Iren-Melnyk commented on #212
@iKozzz
Where in the app do you want to search for the shared widget? Do you mean to search for shared widget while you make a new dashboard and want to add this shared widget on it?