[2019-02-04 11:58] DzmitryHumianiuk commented on #558
@Zakaryan92 this can be done on your side.
just extend the RP agent, in place where it form the test case name.
and push the name with all info

[2019-02-04 16:56] grigaman opened #565 "On History page show several test runs in one cell."
When you marge launches it can contain several runs of the same test. On history page at present it is shown cell of type 'MANY':
![image](https://user-images.githubusercontent.com/28654063/52222985-0b8cc300-28a5-11e9-92dc-78fe4ddd57d3.png)

I suggest to show several items in one cell instead (one under one), which is link to specified test run (the same item when there is only one run of test, bu

[2019-02-05 09:15] evjlobanova commented on #565
@grigaman we have plans to change the logic of this view

[2019-02-05 10:01] grigaman commented on #565
@evjlobanova Thanks for reply

[2019-02-05 17:08] pbortnik commented on #536
Hello,
This issue probably affect our UI-side, so we need to discuss possibility to make changes from the both sides.

[2019-02-06 00:31] justinhinze opened #566 "SAML authentication"
Is SAML authentication on the roadmap? A configuration for Okta would be nice to have.

[2019-02-06 01:43] leandroeo opened #567 "Support on approval of Pull Request to fix a issue in "agent-js-jest""
Hi, I'm using the ["agent-js-jest"](https://github.com/reportportal/agent-js-jest) linked on the official site (from contributor).

I'm interesting in fix [one issue](https://github.com/reportportal/agent-js-jest/issues/2) found there, but the initial contributor can't support it as he replies [here](https://github.com/reportportal/agent-js-jest/issues/1), can someone from the core team evaluate m

[2019-02-06 08:06] Zakaryan92 commented on #558
I changed buildStartStepRq method and its working fine for me. Thanks! @DzmitryHumianiuk

[2019-02-06 08:06] #558 closed

[2019-02-06 21:52] leandroeo commented on #567
Pull request already merged.

[2019-02-06 21:52] #567 closed

[2019-02-07 08:11] bawarim commented on #561
@Yumfriez But how can i achieve it through the code? As i'll be integrating this api with my test framework.
I am trying to send screenshots to the report portal using vbscript.

[2019-02-07 13:15] Yumfriez commented on #561
@bawarim Maybe you can use .NET client https://github.com/reportportal/client-net or if it doesn't fit your requirements, the only way is to create your own multipart request and send it right to the RP-api

[2019-02-07 13:33] orvilia opened #568 "Unable to connect BTS with Jira - No Solution !!"
**Describe the bug**
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-02-07 13:35] evjlobanova commented on #568
@orvilia have you tried to follow steps descried [here](http://reportportal.io/docs/Issues-with-JIRA)

[2019-02-07 14:12] orvilia commented on #568
We have tried...its not working

1 - We are using Jira cloud version ( Trial Version ). As mentioned we have tried everything, e.g, providing Jira API Token also. Nothing is working.

[2019-02-07 14:16] evjlobanova commented on #568
Send me please screenshot of Consul on localhost:8500 and logs of errors in Jira container and API container on the moment of attempt on connection.

[2019-02-08 11:48] orvilia opened #569 "Actionable Pattern Analysis: defect will be logged automatically in Jira from report portal"
Hi,

We post the issue in Jira manually from reportportal. Is there way it post the defect automatically in Jira.

[2019-02-11 08:28] Remambian commented on #505
@khatray Can you please let me know how you resolved this issue ??? I am also getting the same error as unable to start the service.
![rp_service_uat](https://user-images.githubusercontent.com/38716250/52552093-08458a00-2e05-11e9-9631-a217b91c5030.JPG)

[2019-02-11 09:59] evjlobanova commented on #569
@orvilia hello!
Now you can post issue to Jira via UI or API.
Also Auto-analysis can set defect type and a link the Jira  for the item.

In our plans we have an idea of pattern analysis. When user create strict pattern. F.e. it there is a pattern like this in stack trace, the system should open new bug in Jira.

But could you please provide more details? What is your desired behaiviour of the rp?

[2019-02-11 11:14] evjlobanova commented on #568
@orvilia ^^

[2019-02-12 12:54] bawarim opened #570 "UUID for a project changes automatically"
I created my project in report portal and copied the UUID of that project in reportportal.properties file.
But the issue is after few days UUID of my project is changing automatically, which leads to the execution failure.
Please let me know how can I stop UUID to change automatically?

[2019-02-13 09:26] evjlobanova commented on #526
@dgur Hello! Could you please describe your analysis flow in case I have launch logs? How do you plan to analysis launch attachments and logs? In which case do you look through the log messages?

[2019-02-13 09:28] evjlobanova commented on #444
@SrinivasanTarget Hello! Could you please describe your analysis flow in case you have launch logs? How do you plan to analysis launch attachments and logs? In which case do you look through the log messages?

[2019-02-13 09:40] dgur commented on #526
@evjlobanova  Hello!
The global launch logs have timestamps and operations IDs that we can correlate with the logs we have at test level, Besides the logs it would be good to be able to attach XML/Yaml/ other files that describe the setup that the tests were executed on.  So the first thing is to be able to attach the logs and files as simple attachments, The next nice thing indeed can be as i und

[2019-02-13 09:52] evjlobanova commented on #526
@dgur now I try to explore an ideal investigation flow. So may be you can share with a steps how you will investigate a launch with attachments and logs? F.e. "first I check launch logs and if find something in them, I should check ... "

Also could you please clarify what you mean under "we can correlate with the logs we have at test level"?

[2019-02-13 11:12] dgur commented on #526
ok, So I woild start investigation on the Test case level.
1. Filter Failed cases in a specific launch.
2. Enter that case Logs, check the error message in the logs window in the Report Portal.
3. Check additional logs/screen-shuts/Artefacts that are attached to that case/
4.O f additional logs are needed  - opend Launch level logs that can be System logs during the launch, Monitoring data that is

[2019-02-13 11:27] evjlobanova commented on #526
@dgur the last question. How do you understand that launch log is correlating with the test item?

[2019-02-13 11:43] shaburov opened #571 "[BUG] [API] An error occurs if the transmitted launch status conflicts with the auto-calculate status"
**Describe the bug**
An error when calling to `/{projectName}/launch/{launchId}/finish` with specified status of the completion of the test run: `"status": "PASSED"` if the test run contains test cases with the status `SKIP`.

**Expected behavior**
- The passed parameter Status of the run completion has higher priority.
- Error does not occur.
- If the status is not present, then auto-calculation

[2019-02-13 11:53] evjlobanova commented on #571
@shaburov in version 4.3 the system works as designed. We are considering to add such function in 5 ver. But now it is under discussion.

[2019-02-13 12:00] dgur commented on #526
@evjlobanova
I would search in the launch log the time period that the test Item was executed, ans also I would search some specific events,
For example I know that the test is testing VM reboot so I can search in the global log the "VM reboot events" at around that time.
ok?

[2019-02-13 12:09] evjlobanova commented on #526
Thank you

[2019-02-13 12:30] lilacharviv opened #572 "Remove annotation from RP"
The Report portal showing all the class with annotation of my test.
@before class
@before test
@after class
@after test
and they empty, without any printing
Using testng
![image](https://user-images.githubusercontent.com/47180700/52711948-dca8d800-2f9b-11e9-9e17-72c615b711a5.png)

[2019-02-13 12:42] evjlobanova commented on #572
@lilacharviv do you have any methods annotated  with before or after in your tests?

[2019-02-13 12:43] evjlobanova commented on #572
@pbortnik Could you please look at this issue?

[2019-02-13 12:54] lilacharviv commented on #572
we have this methods in our class

[2019-02-14 13:11] claudiospizzi commented on #364
I would second this idea. We also need to show reports to multiple users only from shared projects. The personal projects are only confusing to them. Would be great to have a feature to disable the personal projects.

[2019-02-14 13:21] evjlobanova commented on #364
@claudiospizzi in the 5 version we have added possibility to delete personal projects. If you do not need personal, admin can delete it.

[2019-02-14 13:50] claudiospizzi commented on #364
@evjlobanova Okay, that's all we need. How can I deploy version 5? I'm using the docker compose in this repo, I think that's version 4.

[2019-02-14 14:00] evjlobanova commented on #364
@claudiospizzi the 5th version has not been released yet. We are in the progress.

[2019-02-14 16:57] shaburov opened #573 "[FR] Show custom Welcome info at login page (aka Добавить возможность вносить приветственную информацию на страницу авторизации)"
1. there is no possibility to specify information about the instance-organization.
2. there is no way to add welcome information.
Example with TestRail
![image](https://user-images.githubusercontent.com/15269131/52803184-971b0680-3092-11e9-92f6-429ccb13f111.png)

I wrote a slack-bot that gives access to projects, but few people know about it, and would have added to the main page and there would b

[2019-02-15 05:54] ajaychinthamanipet commented on #561
@Yumfriez I called the API as per your suggestion and I was able to successfully send screenshot to RP logs. But in my code, I am fetching image from another API and I want to attach it to the logs. How do I do it?. I am facing issue in this step. I tried converting fetched image to base64 and send to logs but it didn't worked.

[2019-02-15 11:39] psubrambe opened #574 "Login Issues in ReportPortal"
An error occurred while connecting to server . After starting up all the services(Please find the below services).All were up and running but i am not able to login.

Recreating reportportal_rally_1         ... done
Recreating reportportal_registry_1      ... done
Recreating reportportal_gateway_1       ... done
Recreating reportportal_jira_1          ... done
Recreating reportportal_ui_1

[2019-02-15 21:34] randomsync opened #575 "Support for Mongo Server 4.0"
Does the latest version of report portal support mongo server 4.0? If not, are there plans to support it?

[2019-02-17 07:12] BeniKeyserman commented on #574
@psubrambe Have you tried extending the memory for the docker?

Go to | Docker -> Preferences -> Advanced | and assign at least 5 GB for the Memory

![docker_memory](https://user-images.githubusercontent.com/21110702/52909612-1af01100-3294-11e9-806a-e5cb37555dfc.png)

[2019-02-17 09:00] lilacharviv commented on #570
me too

[2019-02-19 07:57] lilacharviv opened #576 "Merge different launches to graph"
Hello,

We are using Testng and, we have 5 different xml of 5 types scenarios.
each xml run in different machine so each xml is one launch in RP
I need to Sum all the results in the RP and give a rate of this 5 XMLs
Can i merge it in some filter or widget?

And another Q, How can i change the launch name in run time?

[2019-02-19 08:01] evjlobanova commented on #576
@lilacharviv you can merge these 5 launches in 1 launch via UI or API.
You can use linear or deep merge and edit launch name.
![image](https://user-images.githubusercontent.com/30413511/52998947-90dfae00-3435-11e9-8e35-4d0fcc035660.png)
Does it work for you?

You can not edit launch name.

[2019-02-19 08:05] lilacharviv commented on #576
And in the next run of each 5, it will merge automatically?
i tried it and each launch created separately,
we want that the mangers can always login and look in the Specific dashboard for each build and see the rate of the last build.

[2019-02-19 08:45] Ashraf-Ali-aa opened #577 "Test coverage report"
**Describe the solution you'd like**
I was wondering would it be possible to link tests from different executions to produce a report based on a spec file.

### Example:

**Is your feature request related to a problem? Please describe.**

it would be really nice to link the test names to a spec in report portal so that user can get an overview of test coverage for a specific feature, this also wil

[2019-02-19 08:51] evjlobanova commented on #576
We are planning to introduce  Rerun functionality  #363 after implementation of version 5.0.
I suppose it should cover your needs.

But now we do not have such possibility.
But you can add to these 5 launches tag (f.e. build#). And create filter based on this tag.
Than you can add widget  Overall statistics. And choose Latest launches option in the widget wizard.
In that case widget should be base

[2019-02-19 08:55] lilacharviv commented on #576
The solution you offer sounds good but still i need to add the tags manually for this results right?
i want solution that will do this automatically each build

[2019-02-19 09:09] evjlobanova commented on #576
@lilacharviv  you can report results to Report Portal with tags via properties (rp.tags = TAG1;TAG2) or add tags manually via UI.
In future releases we are planning to add a special dashboard that will aggregate information about a state of the latest build.
But anyway ReporPortal needs tags to understand which launch belongs to the particular build. So that user will still have to tag the launche

[2019-02-19 09:19] lilacharviv commented on #576
ok, that help, but still something is missing for me.
in the filter how can i know the build before?
i need it to be automatic ...
i can build in the code the tag like : build number of the specific version, something Unique.
how do u have another solution to offer me for the tags?

[2019-02-19 09:31] bawarim commented on #570
Hi,
Is there any update on this?

[2019-02-19 09:34] evjlobanova commented on #576
Now solution is to create filters manually. Or you can  create a basic filter based on launches name or other criteria that connect them. Than add widget Overall statistics with Latest launches option.
In that case widget should be based on all launches with unique name and latest start time. But it is just workaround.

 In version 5.0 we change tags on attributes. An attribute will be contain two

[2019-02-19 09:34] evjlobanova commented on #570
@bawarim we are investigating this issue

[2019-02-19 09:38] bawarim commented on #570
Cool. Thanks @evjlobanova

[2019-02-19 11:52] evjlobanova commented on #570
@bawarim  do you  restart container docker or not?
 if not, Is the base restarted separately or the base can be dropped once in a while?

[2019-02-19 12:11] bawarim commented on #570
No. I have not restarted docker and the base image from a long time.

[2019-02-19 13:17] bawarim commented on #561
I have also converted the image into base64 and tried to post it. But I am getting below error.
 org.apache.commons.fileupload.FileUploadException: Header section has more than 10240 bytes (maybe it is not properly terminated)]

[2019-02-19 13:38] lilacharviv opened #578 "Change launch name for suite name - testng"
We want to change the launch name of properties file on run time.
We have our listener that under **onStart**, and need to get the suite name that exist under **testng.xml** ,but this **onstart** called after launch method..
We want first to read our **testng.xml** and use this suite name for the launch methods.

[2019-02-19 15:03] DzmitryHumianiuk commented on #570
@bawarim @lilacharviv the only situation, when it can appear:
1. restart of database container, w/o saving of db files
2. smbd regenerate UUID from UI

Do you use default user?
We did you copy UUID from?

[2019-02-19 15:42] DzmitryHumianiuk commented on #577
@Ashraf-Ali-aa we plan to have kind of traceability matrix
https://github.com/reportportal/reportportal/issues/507

 traceability can be organized with annotations
[code]
where `@Requirements` value can be just a number, or ID from 3rd party tool as Rally.
Separate view for RP will show requirements on OX axis
and test cases on OY axis.

![requirement-traceability-matrix](https://user-images.githu

[2019-02-19 15:43] phartheeb commented on #505
Hello All,

I tired installing reportportal in windows without docker and followed all your forum suggested steps however getting the below error and no error is shown in the services "http://127.0.0.1:8500/ui/dc1/services". Please help.

![image](https://user-images.githubusercontent.com/47787491/53027573-d185fa00-342a-11e9-830c-a3aa04fc8b2b.png)

[2019-02-19 19:24] Ashraf-Ali-aa commented on #577
@DzmitryHumianiuk I was initially thinking of using a similar approach where test case ID is tagged to each test methods, but I realised that most users don't have 1-to-1 link between a feature spec and a test method i.e there might be multiple tests that cover only one spec, as a result having to constantly update the RP ID in the codebase becomes a pain. The way I envisioned how this could work

[2019-02-20 05:51] bawarim commented on #570
@DzmitryHumianiuk  UUID changes for all users which I use, irrespective of their role.
Also database container is not restarted. Please see the below snapshot.
![image](https://user-images.githubusercontent.com/46487726/53069310-7c68e780-3501-11e9-8bae-30f17b96b60d.png)

But still it changes automatically even I am not changing it through Profile->UUID.

[2019-02-20 07:09] ajaychinthamanipet commented on #561
Below is my code to fetch image from 1 API store it in work space and send it to log API, but its not working. I am not getting any response from API. Please help me in this scenario.

def attach_logs(message):
        #Getting screenshot from another API
        response = requests.get(
            "http://host/screenshot.png")

	# Response is the image
        level = "info"
        reportPortal

[2019-02-20 09:46] Yumfriez commented on #561
@bawarim try to upload attachment of smaller size. Is exception is still thrown?

[2019-02-20 09:50] Yumfriez commented on #561
@ajaychinthamanipet Could you please send some screenshots of the attachments reporting flow process?

[2019-02-20 11:53] lilacharviv commented on #576
I did what u offer and when i choose Latest launches, it show just the last launch that fit the specific filter.
and if i choose the other option it show all launches that fit the filter.

[2019-02-20 12:31] evjlobanova commented on #576
@lilacharviv please send me screeshot of widget wizard and the example of launches name

[2019-02-20 12:33] bawarim opened #579 "Error: Cannot build ReportPortal client when doing parallel execution"
Hi,
I am getting below error when trying to run multiple feature files parallel.
[code]

[2019-02-20 14:26] DzmitryHumianiuk commented on #570
@bawarim can you explain (screenshot may help), where you take UUID for configuration?

[2019-02-20 14:32] DzmitryHumianiuk commented on #579
@bawarim how it was resolved for you?

explanation can help other users.

[2019-02-20 21:19] arcticmonkey0 commented on #430
Hello @csekamal,
Regarding your first question: just add ReportPortal.addins file with content "ReportPortal.NUnitExtension.dll" into bin/Debug folder of your project with tests. There should also be nunit engine dll and report portal dlls in this folder.
That worked for me. Test run results are now propagated to the report portal.

[2019-02-21 05:09] bawarim commented on #579
Sorry my bad. It was get closed accidentally.

[2019-02-21 08:45] lilacharviv commented on #578
??

[2019-02-21 08:57] bawarim commented on #570
I take UUID from below location.
![image](https://user-images.githubusercontent.com/46487726/53156205-dbebf380-35e4-11e9-9fba-f686411e904b.png)

[2019-02-21 11:16] pratyush23 commented on #475
Thanks @pessimism . Was facing similar issue on MacOS 12 as well and was able to resolve it by not using relative paths
<img width="298" alt="screenshot 2019-02-21 at 11 16 21" src="https://user-images.githubusercontent.com/29707049/53165271-2ca22300-35ca-11e9-8760-46a638712d7c.png">

[2019-02-21 12:34] lilacharviv commented on #553
How can we do this? get the launch id?
can u share code example?

[2019-02-21 15:18] nvborisenko commented on #430
Beginning from ReportPortal.NUnit v3.6.0 we are reporting results even if they were executed from Visual Studio Test Explorer.

Closing this issue, please reopen if you still have problems.

[2019-02-22 06:58] bawarim commented on #553
@lilacharviv  This is how i achieved it. I have read all launched id from report portal temp files. Then I have merged all launches into a single one using post merge api. Below is the code for reference.

File[] listOfFiles = folder.listFiles(new File ("Path of report portal temp files"));
 for (int i = 0; i < listOfFiles.length; i++) {
	fileName =  listOfFiles[i].getName();
	Path path = Paths.ge

[2019-02-22 11:10] nvborisenko commented on #370
@fasterfish is the problem still reproducible given that newer ReportPortal.SpecFlow plugin is available?

[2019-02-25 05:22] ajaychinthamanipet commented on #561
![screenshot](https://user-images.githubusercontent.com/41054628/53315804-27efae80-38eb-11e9-8bac-acda1229d5d1.png)
![30x_forward](https://user-images.githubusercontent.com/41054628/53315805-28884500-38eb-11e9-9da3-47680cb085a1.png)

@Yumfriez I have atttached Screenshots. If you have a code to atach screenshots to logs and thats working please share it. Thanks

[2019-02-26 09:55] evjlobanova commented on #575
@randomsync we are in the end of the migration on PostgreSQL.

[2019-02-26 15:05] Nolfgk commented on #570
We also have this issue.
We found out that uuid changes automatically only after login with user, so if nobody logins, uuid stays the same (of course we are not pressing "regenerate" button, and do not restart containers. I am not sure what action on the ui triggers this regeneration.
Workaround: use separate account for ui-login and autotests.

[2019-02-26 15:57] DzmitryHumianiuk commented on #570
@pbortnik that's critical issue.
take a look within next sprint.

@evjlobanova plz put in next sprint

[2019-02-26 16:04] DzmitryHumianiuk commented on #570
@bawarim @lilacharviv @Nolfgk what you build number (api and ui)
you can find it under login form.

[2019-02-27 11:21] bawarim commented on #570
@DzmitryHumianiuk Below is the snapshot of build numbers which I am using.
![image](https://user-images.githubusercontent.com/46487726/53486837-dfcdb900-3aaf-11e9-8f0a-4115ce8ccddf.png)

[2019-02-27 14:07] Nolfgk commented on #570
Current version: API Service: 4.3.5; Index Service: 4.2.0; Authorization Service: 4.2.0; Service UI: 4.3.7;

[2019-02-27 14:44] DzmitryHumianiuk commented on #570
@bawarim @lilacharviv @Nolfgk do you guys use RP in Chrome Private mode?

[2019-02-27 18:03] DzmitryHumianiuk commented on #553
@bawarim can we close it?

[2019-02-27 18:48] Nolfgk commented on #570
No, should we?

[2019-02-27 20:18] DzmitryHumianiuk commented on #570
No, you should not.

[2019-02-28 07:21] bawarim commented on #570
@DzmitryHumianiuk No, we do not use RP in Chrome Private mode.

[2019-02-28 07:23] bawarim commented on #553
@DzmitryHumianiuk Yes, we can close it.

[2019-02-28 08:18] lifemanship opened #581 "Update user e-mail for AD users"
There is a problem with updating e-mail for AD users.
The first time when AD user logins to RP its e-mail will be obtained from AD and then user can not change it by the hands(it is OK). But if we will change user's e-mail in AD settings, nevertheless RP still have an old e-mail of the user.

Is there any way to update AD users's e-mail?

Current version: API Service: 4.2.1; Index Service: 4.2.0;

[2019-02-28 10:53] psubrambe opened #582 "unable to login in report portal once we depolyed in Docker"
**Describe the bug**
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-02-28 12:01] DzmitryHumianiuk commented on #570
taken for for investigation

[2019-02-28 12:03] #553 closed

[2019-02-28 14:50] nvborisenko commented on #530
Please don't introduce more test statuses on the server side. Doesn't matter how `pytest` differentiates failures, I can bring more different statuses from others unit frameworks.

In my opinion test should be **good** or **bad** on the server. Issues customization should answer on the question why exactly test was bad. So we should think about how to improve issue categories. Might be tree-view c

[2019-03-01 10:47] harsh976 commented on #582
Same with me please update here in case find any solution
![screenshot 2019-03-01 at 4 15 36 pm](https://user-images.githubusercontent.com/29836005/53633461-88f5ea00-3c3d-11e9-81ea-fbaf776bd1cb.png)

[2019-03-02 12:07] DzmitryHumianiuk commented on #530
Agree with @nvborisenko

Don't forget what you do with tests. You **test**!
Test can **pass** or **fail**.
it is the ultimate goal for test: check condition or show that you failed.
ReportPortal should show you tests statuses first of all. Represent fail roots is secondary.

All the rest are the reasons of fail. This should be defect types.

Resolution: rejected

[2019-03-02 12:07] #530 closed

[2019-03-03 16:38] dgur opened #583 "need possiblility to get URL that includes credentials"
is it possible to generate a link to some page that I need in the report portal - that the link would include my username and password so I won't need to re-log-in every time I want to see some dashboard? Like URL containing the credentials that I can save and even share.

[2019-03-05 14:44] pbortnik commented on #570
@bawarim @Nolfgk
hello guys, could you please provide some information about you authorization flow
do you use either basic or ldap or smth?

[2019-03-05 21:28] randomsync commented on #575
thanks @evjlobanova, just to confirm, reportportal will move from mongo as underlying data storage to PostgreSQL? What version of report portal will that be? And I hope there are migration plans being considered.

[2019-03-05 22:04] randomsync opened #584 "Getting a MongobeeException when trying to start pointing to hosted mongo instance"
**Describe the bug**
We're trying to launch report portal pointing to a hosted mongo instance in Atlas. The API instance fails to come up. We have updated the docker-compose file to point to the mongo instance:

[code]

Here's the snippet of exception:
[code]

**Expected behavior**
Report portal to start up and function correctly

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Vers

[2019-03-05 22:07] randomsync commented on #584
Complete log for error:

[code]

[2019-03-05 22:11] randomsync commented on #584
Complete log for the exception:
[code]

[2019-03-07 07:11] lilacharviv opened #585 "Create filter on run time"
There is a way to create new filter on run time? by api ?(for build number )

[2019-03-10 13:59] itzikb-redhat opened #586 "Add the ability to go to a launch from Non-passed test-cases trend chart"
**Describe the solution you'd like**
...
I would like to be able to switch to a specific launch when choosing clicking on a specific launch from the mentioned widget

**Is your feature request related to a problem? Please describe.**
...

![image](https://user-images.githubusercontent.com/11332788/54140476-be1bec80-4434-11e9-98b0-b4883b4f074b.png)

[2019-03-11 16:43] DzmitryHumianiuk commented on #585
@lilacharviv check the API section in user menu (on the top right).

`user-filter-controller`
`POST` `/{projectName}/filter`

example from demo instance at http://web.demo.reportportal.io
[code]

Tip:
1. Open Launches view in ReportPortal.
2. Create filter
3. Open browser Network tab
4. click save filter back in RP
5. check network tab for request to Filter endpoint

![image](https://user-images.g

[2019-03-11 16:44] DzmitryHumianiuk commented on #585
close for now.
re-open if still actual

[2019-03-11 16:44] #585 closed

[2019-03-13 08:35] f4br3 commented on #522
Still have this bug.

**Versions:**
- RP:  Service-authorization: 4.2.0, Service-index: 4.2.0, Service-api: 4.3.4, Service-ui: 4.3.6, Service-analyzer: 4.3.0.

[2019-03-13 12:35] DzmitryHumianiuk commented on #522
Will be fixed in 5.0 version

[2019-03-13 21:05] DzmitryHumianiuk commented on #529
@aliaksandr-trush can you assist with it?
@penknife is it still actual?

[2019-03-13 21:07] DzmitryHumianiuk commented on #541
@denispnz did you find solution?

Да и к чему вообще его перезапускать?

[2019-03-13 21:09] DzmitryHumianiuk commented on #396
@le1ia we are out of schedule.
completing scope of version 5.0. With minimal scope.

this feature still in backlog

[2019-03-13 21:15] DzmitryHumianiuk commented on #516
@dmitryyu
![image](https://user-images.githubusercontent.com/11332788/54315022-37127400-45ee-11e9-935f-2b9426da06fb.png)

[2019-03-13 21:21] DzmitryHumianiuk commented on #533
@mcafeerun yes, sure.
I can give you a helping hand.

You want to contribute into Java client docs?

[2019-03-13 21:26] DzmitryHumianiuk commented on #479
@TzurAnv how is the latest version for you?
(you can reply here in comment)

Will close this issue, since `agent-net-gauge` created.
Plz address all issue into related repo: https://github.com/reportportal/agent-net-gauge

[2019-03-13 21:26] #479 closed

[2019-03-13 21:49] DzmitryHumianiuk commented on #324
@nvborisenko thank you.

btw, we plan to add **Launch logs**, so this information can be pushed there later

@irinakhaptanova @132u @Kuzukaze closing since no response recieved

[2019-03-13 21:49] #324 closed

[2019-03-13 21:56] DzmitryHumianiuk commented on #548
I guess we also can output this information in test case description

[2019-03-13 22:01] DzmitryHumianiuk commented on #579
@bawarim any other details?

client version?
agent version?

how you configure execution?

[2019-03-14 09:32] pbortnik commented on #570
@bawarim  @Nolfgk
hello
there is no possibility to introduce the issue
we need more information from your side till how rp is deployed and what authorization flow do you use

[2019-03-14 10:08] DzmitryHumianiuk commented on #522
verified in 5.0 beta

[2019-03-14 13:23] bawarim commented on #570
@pbortnik I am using basic authorization flow, no ldap.

[2019-03-14 13:28] bawarim commented on #579
I got the issue.

Report portal properties file was not coming under complied classes target folder, So it was giving error 'Cannot build ReportPortal client'.
Then i copied the below resource in pom.xml and it worked. Now properties file is also coming into the target folder after compilation.
<resource>
            <directory>Source Code</directory>
            <includes>
                <includ

[2019-03-14 13:30] DzmitryHumianiuk commented on #570
@bawarim can we jump with you on a call?

[2019-03-14 13:46] DzmitryHumianiuk commented on #579
@bawarim can be closed?

[2019-03-14 13:47] #579 closed

[2019-03-14 13:54] DzmitryHumianiuk commented on #586
valid.
can be taken into implementation in 5.x versions

[2019-03-14 14:12] DzmitryHumianiuk commented on #584
@randomsync asked in related slack chat
https://reportportal-slack-auto.herokuapp.com/

if somebody already made it possible.

[2019-03-14 16:09] DzmitryHumianiuk commented on #584
Our prod on AWS has this
[code]

[2019-03-14 17:46] DzmitryHumianiuk commented on #583
@dgur we will discuss it internally

[2019-03-14 17:47] DzmitryHumianiuk commented on #582
@psubrambe we need some details.
since we can't magically define the issue you have.

[2019-03-14 17:50] DzmitryHumianiuk commented on #582
@harsh976 according to your screenshot:
you don't have any micro-service running

Try to:
- restart docker
- clean consul cache by deleting `data/consul` and restart

here how it should look like:
![image](https://user-images.githubusercontent.com/11332788/54379523-9b8b0d00-469a-11e9-98d9-80f7a90e9854.png)

[2019-03-14 17:52] DzmitryHumianiuk commented on #581
@lifemanship most likely no.

What's the reason to change email for AD user?
Will it work you you just assign new user (with new email) to the same project?

[2019-03-14 18:21] DzmitryHumianiuk commented on #578
@lilacharviv
**option 1**
implement small process and bash script, which can read `testng.xml` in advance and generate required info in `reportportal.properties`

**option 2**
I do remember we made few examples and modifications to make it on runtime.
@avarabyeu made them a year ago,
but i think, you should resolve it another way

[2019-03-14 22:35] randomsync commented on #584
I wonder if it's because ours is a sharded instance with ssl?

[2019-03-15 07:01] e-olga commented on #519
The improvement is implemented and will be available in RP version 5.0

[2019-03-15 07:02] #519 closed

[2019-03-15 13:03] lifemanship commented on #581
The reason is for example migration to another e-mail server, therefore we need to change all user's e-mails addresses

[2019-03-15 15:03] phartheeb opened #587 "Reportportal.io with Robot Framework In Maven"
Hello All,

I am able to integrate Robot Framework with Report portal when I running as bat File/in cmd.

Please share do we have the capability to add the report portal to Robot Framework files i.e in .robot file or do we have the maven plugin.

If we do not have maven plugin how to combine the Report portal other plugins with Robot Framework.

[2019-03-15 15:54] mikesalvia opened #588 "Collections and users not being created when using remote MongoDB"
**Describe the bug**
When using a remote `MongoDB@3.4.18` instance, all collections are not created and therefore users do not get populated

I see there was an issue opened #443 which shows many more collections created then I am seeing

![Screen Shot 2019-03-15 at 11 53 48 AM](https://user-images.githubusercontent.com/6209204/54444407-0418cf00-4719-11e9-8a61-5d7de47276b0.png)

**Expected behavio

[2019-03-15 17:10] mikesalvia commented on #588
Well this is awkward, the collections now are there but the login will still not work. :-(

[2019-03-15 17:51] mikesalvia commented on #588
Resolved using #107

Perhaps this should make its way to the README.md unless it is there and I just missed it.

[2019-03-16 11:45] DzmitryHumianiuk commented on #588
@mikesalvia RP API will create all collections and data which are required.
Once API will have connection to DB.

Since you already have some of them, that means that API started to do it’s job, but was interrupted. There are multiple reasons why it can happen, like stopped api container, network access to database, db service stoppage.

I’ll suggest you to delete `ReportPortal` database completel

[2019-03-16 11:50] DzmitryHumianiuk commented on #588
@mikesalvia requirements info available at download page.
Http://ReportPortal.io/download

Need to reduce number of installation instructions

[2019-03-16 11:50] #588 closed

[2019-03-18 07:07] tanmle commented on #430
Hi, I tried the same but test run results are not propagated to the report portal. Is there a way I can see the log for what went wrong?

[2019-03-18 07:08] tanmle commented on #430
I'm using ReportPortal.NUnit 3.61 but I don't see results are being reported when executing from VS Test Explorer, do I need to do any additional steps?

[2019-03-18 10:53] DzmitryHumianiuk commented on #584
@randomsync it might be.
We have no much of the experience with Atlas for now. And will not focus on it.
Since **5.0** version will be based on PostgreSQL

[2019-03-18 10:57] DzmitryHumianiuk commented on #581
@lifemanship then it just should be done manually and just once.

My vision, it is unlikely that you will do this periodically or often enough. This is clearly a one-time event, extremely rare.

**Resolution:** rejected.
**Solution:** re-assign all users from new AD in manual or semi-automatic way.

[2019-03-18 10:57] #581 closed

[2019-03-18 11:06] DzmitryHumianiuk commented on #587
@reportportal/python-contributors folks, can somebody address this question?

[2019-03-18 11:27] nvborisenko commented on #430
May be your results on "Debug" tab in Report Portal Web interface?
![image](https://user-images.githubusercontent.com/22616990/54527107-f28a2e00-4989-11e9-8d28-93f59a16e5bd.png)

[2019-03-18 11:41] tanmle commented on #430
Well, no, I don't see the result in DEBUG. When running with nunit-console, I'm able to see results in DEBUG.

[2019-03-18 11:46] nvborisenko commented on #430
What is your version of Visual Studio? And what is target framework of test project? And what is `NUnit3TestAdapter` package version?

[2019-03-18 11:49] tanmle commented on #430
I'm using VS 2015 professional, target framework 4.5.2 and `NUnit3TestAdapter` 3.13.0

[2019-03-18 12:45] nvborisenko commented on #430
What is installed version of "Microsoft Visual Studio Test Platform" extension? (menu Tools -> Extensions and Updates -> Installed)

[2019-03-18 16:03] phartheeb commented on #414
Hi @avishaymahluf Could you please help in sharing the APIs and code used in Jenkins pipeline to have the results in report portal?

[2019-03-19 01:35] tanmle commented on #430
@nvborisenko I don't have "Microsoft Visual Studio Test Platform" installed.

[2019-03-19 01:38] tanmle commented on #430
Sorry, I've checked again, I'm using VS 2015 enterprise not professional, is this a problem?

[2019-03-19 10:19] nvborisenko commented on #430
I suppose keyword here is 2015. Cannot check whether it should work on VS 2015. VS 2019 is coming, time to upgrade.
I am afraid we can do nothing to fix it, we are dependent on VsTest platform.

[2019-03-19 11:35] tanmle commented on #430
Ok, let me upgrade to 2017 and try first, thank you @nvborisenko

[2019-03-19 12:29] lifemanship commented on #581
OK, but in the version 4.2.1 i am unable change e-mail from UI at all.
Could you please unlock in future version ability to change e-mail address even if user is member of AD?

[2019-03-20 01:25] SagarVasekarRepo opened #589 "Log Parser to categorize report portal failures"
Hi Guys,

I’m new to Report Portal and my team is looking for some way we can parse the report portal logs and categorize the results as per the failures.

I just wanted to know if there’s any existing parser available that does the same thing or is there any API that we can leverage to build a parse. Could you please let me know this?

Our goal is to categorize the failures. We are aware of auto-

[2019-03-20 20:32] bkilada opened #590 "404 Page not found when accessing from browser"
Hello,

First of all, ReportPortal looks awesome, and I can't wait to get an instance up an running. Can't beat free!

Yesterday I ran through the steps in the ReportPortal documentation for setting up the ReportPortal server. Unfortunately, even though I've tried on two PCs on two different networks, I cannot get past a "404 Page Not Found" error when trying to access the server from Chrome.

The

[2019-03-20 20:45] bkilada commented on #315
I almost wrote up a feature request for this same thing. Without it, this dashboard is much less useful to my company. I need to test desktop software on various PCs attached to different hardware models via USB. The same test repository is executed on all machines, but the test environment is different on each machine. That means I need to be able to aggregate the results by test, and yet be able

[2019-03-21 07:29] tanmle commented on #430
@nvborisenko I upgraded to VS2017 and tried again but no luck. I can see "Microsoft Visual Studio Test Platform" installed with VS2017 with version 15.7.2.2018051403.

[2019-03-21 09:53] nvborisenko commented on #430
Please share minimal test project to reproduce the issue.

[2019-03-22 12:06] heilwood commented on #505
Hi,

cannot configure reportportal without docker on azure virtual machine.

All service up and running, when i run fabio manually i see this error:

Error initializing backend. Get http://:/v1/agent/self: dial tcp :80: connectex: No connection could be made because the target machine actively refused it.

Where can be problem?

Fabio config:

[code]

[2019-03-22 13:45] heilwood commented on #505
Also trying to install without docker, looks like all service is running, but in consul i see next error message and ui on port 8080 is not available:

[code]

[2019-03-22 20:48] mcafeerun opened #591 "Deploy Reportportal other than 8080 port"
Hi,

Can someone help me with the changes need to be done in docker-compose to deploy the reportportal other than 8080 port (which is default).

I tried to change this line https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L69, but i'm getting 404 while accessing http://host-name:4444/ui
[code]

$ docker ps

[code]
Note: I deployed the latest report-portal version. compos

[2019-03-23 12:07] lifemanship opened #592 "[FR] Change user email via profile"
The RP does not automatically update user settings for domain user's, hence I want to be able change e-mail from UI. Current behavior of RP does not allow users to change their e-mail if they come from AD.

[2019-03-23 17:32] mcafeerun commented on #591
I got to answer myself :) ....  Incase if anyone looking for this in future..
Changes to the compose file:
    1. Set an alternate listening port (in my case 4444)
    2. Expose 8080 port to other reportportal services (i believe 8080 is hardcoded in the RP apps)
[code]

$ docker ps

[code]
PS: not sure if this is right way to solve. Its working, thats all i care for now. kind of hack

[2019-03-23 17:32] #591 closed

[2019-03-23 17:39] mcafeerun commented on #590
See if this helps https://github.com/reportportal/reportportal/issues/591

Even I have same situation.. I could able to hack 😀

[2019-03-25 03:47] tanmle commented on #430
Hi @nvborisenko, sorry for lately response, please see this https://github.com/tanmle/minimal.git for a test project, let me know if you find something.

[2019-03-25 08:51] nvborisenko commented on #430
Installed `NUnit3TestAdapter` nuget package in your project and reporting works. Try it.

[2019-03-25 10:22] heilwood commented on #505
fabio config has been changed to:

[code]

No error in fabio and consul, everything ok. But when i try to open url http://virtual_machine_ip:8080 next screen appears:

![image](https://user-images.githubusercontent.com/27227165/54912127-9fb7f580-4ef8-11e9-8ea9-3227232dc03c.png)

cannot get UI working :(

[2019-03-25 11:33] DzmitryHumianiuk commented on #581
@lifemanship that might be helpful.
plz create new feature request.

[2019-03-25 11:35] DzmitryHumianiuk commented on #315
@bkilada we are finalizing version 5.0
and this feature will be in our scope for next releases.
We only need to re-think the way of representation of this kind of data.

[2019-03-25 14:24] DzmitryHumianiuk commented on #590
@bkilada did #591 help you?

[2019-03-25 14:27] DzmitryHumianiuk commented on #575
@randomsync it will be in version 5.0
**which will be available in April-May 2019.**
follow our twitter for updates: https://twitter.com/reportportal_io

Alone with new version we plan to release migration microservice.
which will handle data migration issues.

[2019-03-25 14:27] #575 closed

[2019-03-25 15:11] heilwood commented on #505
@khatray maybe you can help me and post your settings? how you solved this issues?

[2019-03-26 02:36] tanmle commented on #430
[code]
This is my packages.config, am I missing something?

[2019-03-26 07:15] heilwood opened #593 "Is it possible to install reportportal using docker and windows containers instead of linux?"
Is it possible to install reportportal using docker and windows containers instead of linux containers?

[2019-03-26 08:57] lilacharviv opened #594 "How to remove Console Debug msg"
How to remove of debug msg that was added from report portal:
![image](https://user-images.githubusercontent.com/47180700/54983646-eddefe80-4fb5-11e9-9aed-42217e2ac473.png)

[2019-03-26 10:10] nvborisenko commented on #430
Please share screenshot of VS -> Menu Tools -> Options -> Test tab.

Then execute test in VS and share output from `Tests` in Menu View -> Output.

[2019-03-26 10:30] heilwood commented on #505
Services added using this commands:
[code]

Current fabio config:
[code]
Log from fabio:
[code]
Log from consul:
[code]
Consul service:

![image](https://user-images.githubusercontent.com/27227165/54990156-b9be0a80-4fc2-11e9-803c-9a5482b82426.png)

When login to myIP:8080  next error appear: This site can’t be reached, refused to connect

@encyclopod  Maybe you can help me with this, where can be

[2019-03-26 21:40] spartanglady opened #595 "Support for Android Test"
**Describe the solution you'd like**
... Is there any planned support for a Android Client

**Is your feature request related to a problem? Please describe.**
... Just curious if anyone is using report portal with android tests like espresso or robo electric

[2019-03-27 02:08] nkthota opened #596 "add custom java script to launch failed tests from report portal page"
Is it possible to inject custom javascript to a failed test details page to invoke a Jenkins job to re-run the failed test?

[2019-03-27 03:05] tanmle commented on #430
This is screenshot for Test tab: https://www.screencast.com/t/oXIZ95rb1Q
and output
[code]

[2019-03-27 10:38] MrHobbsT opened #597 "Wrong statistics is displayed on run level"
Given:
Cucumber-jvm agent, test run contains merged results.
Expected behavior:
Number of Product Bug items in Run Summary matches number of items with status "Product Bug"
Actual:
Summary: PB qty = 705
Items in list with PB status: 703

![image](https://user-images.githubusercontent.com/11572242/55068834-c78f9080-5093-11e9-97e6-2521c50ab427.png)
![image](https://user-images.githubusercontent.com/

[2019-03-27 16:28] tanmle commented on #430
@nvborisenko  any ideas?

[2019-03-27 20:00] goodbomb commented on #590
I'm running into the same issue on my end. Seems to be an issue with the elasticsearch and registry steps during the docker-compose process. They never complete to a "done" state and I end up with a 404 for http://localhost:8080/ui or http://localhost:4444/ui .

![image](https://user-images.githubusercontent.com/4674973/55108227-58646d00-5090-11e9-970f-b7fd4b192bb5.png)

[2019-03-27 20:07] goodbomb commented on #590
Disregard. I upped my memory usage in docker, then restarted it and that seemed to fix my issue.

[2019-03-27 20:12] bkilada commented on #590
Yes...well, sort of. Using "expose:     - "8080" did work, but I also had to use the IP address of the docker machine instead of localhost (the IP that's displayed when you first run docker quickstart). It seems that Docker Toolbox exposes reportportal to a docker-machine which has a unique IP, while Docker for Windows uses localhost? And yes, @goodbomb, I also had issues with logging in until I i

[2019-03-28 09:54] nvborisenko commented on #430
Seems VS uses nunit adapter from extensions, not nuget package. Try to uninstall nunit extension.

[2019-03-29 03:47] tanmle commented on #430
I did but still same. :(

[2019-03-29 03:50] tanmle commented on #430
[code]
this is output.

[2019-03-29 05:17] yasunaz opened #598 "Repeated 401 error"
**I have a report portal set up as follows:**
![image](https://user-images.githubusercontent.com/41339223/55210784-7f6d8c80-51bf-11e9-946e-a552f8fd8e1b.png)

**When I run my automated test cases, as you can see from the image below, report portal hangs. ( only running two test cases) :**

![image](https://user-images.githubusercontent.com/41339223/55210941-31a55400-51c0-11e9-9df8-89a5109f9bcc.png)

[2019-03-29 08:27] nvborisenko commented on #430
Try to upgrade VS to v15.9

[2019-03-29 10:41] tanmle commented on #430
Yay!!! Awesome, it works out. Thank you so much @nvborisenko

[2019-03-29 15:20] phartheeb commented on #587
Hello All,

I am able to add the code in jenkins pipeline to store the results in Report portal, however Report Portal denies the xml files even when I tried to import manually it is not considering the Robot Framework output.file. Please help this will sort our CI issue.

Thanks,
Phartheeb Kandasamy

[2019-03-29 16:05] loadtheaccumulator commented on #584
@randomsync Have you resolved this in your environment yet?
We experienced the same using mongodb in OpenShift.
We were able to move past the eval error by logging in directly to mongodb and giving the rpadmin user eval permissions on all resources. It's not necessarily THE fix, but gets us a step closer to a root cause on why this is an issue in these other environments.
I'm curious if this works

[2019-03-29 18:25] randomsync commented on #584
We didn't and abandoned the effort to move to Atlas and stayed with containerized mongo instance, since another ticket here mentioned that they will move to PostgreSQL with RP 5.0.

[2019-03-29 19:17] szabolcslevay opened #599 "`Error while deleting user` message with response code `500` on `DELETE /user/{login} Delete specified user`"
**Describe the bug**
Cannot delete users in ReportPortal instance.
We have LDAP integration, but cannot delete those default users (_RP Tester/default_ and _RP Admin/superadmin_) neither. Deployment was done via https://github.com/scretu/reportportal-helm-chart.

[code]

From Kibana on `reportportal-api`:

[code]

**Expected behavior**
Users are deleted successfully.

**Screenshots**
N/A

**Versio

[2019-03-31 08:34] drakulavich commented on #584
Have the same issue with mongo cluster with 3 nodes.
I guess the reason is:

https://docs.mongodb.com/manual/reference/method/db.eval/index.html#sharded-data

[2019-03-31 19:30] nvborisenko commented on #430
Good to know it works in VS 15.9. Thanks for testing.

[2019-03-31 19:30] #430 closed

[2019-03-31 23:15] gkalnytskyi commented on #598
I have similar ReportPortal setup and facing the similar issue. I'm using ReportPortal pluging for Specflow and followed [Specflow setup instructions](https://github.com/reportportal/agent-net-specflow). But my client cannot authorize.

Here is a first line of the exception:

    System.AggregateException: One or more errors occurred. ---> System.Exception: Cannot finish launch due inner items fai

[2019-04-01 05:59] heilwood opened #600 "Cannot run reporportal withour docker on Azure VM"
We are using azure VMs in our company, nested virtualization is not supported. Your docker-compose is available only for linux containers as i understand.  I'm trying to install your reportportal for one week using your documentation, but documentation is not clear or something is not working:

Services added using this commands:
[code]

Current fabio config:
[code]
Log from fabio:
[code]
Log from

[2019-04-01 09:48] ailjushkin opened #601 "[FR] User Experience improvements (aka Повышение удобства работы в UI)"
_See [translation below](https://github.com/reportportal/reportportal/issues/601#issuecomment-480377490)_

**Проблема**

Не удобный процесс разбора багов.

**Критерии удобства**

- Минимум действий с кнопками мыши
- Минимум работы с колесом мыши
- Минимум обновлений страницы
- Минимум переходов между страницами

**Выгоды**

- Счастливые пользователи, повышение количества потребителей Report Portal

[2019-04-01 12:50] lilacharviv opened #602 "Analysis doesn't work"
I set DEFECT TYPE for same failure with the same name,
after choosing "Analysis" from menu it seem to loading but nothing happens, i try some option form the pop up and still nothing changed.
if need more details please update and i will attach

![image](https://user-images.githubusercontent.com/47180700/55328622-774e6f00-5495-11e9-89a0-1bc284356798.png)

![image](https://user-images.githubusercon

[2019-04-02 07:17] vgri opened #603 "[FR] Authorization groups in a project"
As a ReportPortal project is a wide-open tool for many users, we would like to have the ability to restrict the authorization for changes in areas like filters and widgets in the dashboard.

For example, we can have a limited to changes dashboard that all users can watch publicly but only the owner or a specific group of users will be able to edit or delete.

[2019-04-02 07:23] heilwood opened #604 "Project name divided to multiple words after dot"
**Describe the bug**
My project name in solution is "My.Project.Name" (visual studio c#), reportportal reading each word after dot as separate breadcrumb in launches

**Expected behavior**
...
Project name should not be divided to multiple words.

**Screenshots**

![image](https://user-images.githubusercontent.com/27227165/55383424-d01f1580-5530-11e9-92c4-dd9227699933.png)

**Versions:**
 - Ubuntu

[2019-04-02 07:40] nvborisenko commented on #604
@heilwood What agent is used to report results?

[2019-04-02 07:42] heilwood commented on #604
@nvborisenko VSTest

[2019-04-02 15:18] DzmitryHumianiuk commented on #589
@SagarVasekarRepo

Yes. You need to give some data, which can be used by ML for further analysis.
Make at least 4-5 manual categorizations of all fails in launches.

As for the custom implementation of categorization, you can implement own services, with own rules.
Also, during deployment with docker, you can set priority for it, so it can be configured to be started before regular AA, or after it

[2019-04-02 15:18] #589 closed

[2019-04-02 15:27] DzmitryHumianiuk commented on #590
@bkilada did it work, finally?

[2019-04-02 15:34] DzmitryHumianiuk commented on #593
@heilwood theoretically it is possible.
Steps completely the same.
At least, Docker for windows claims full support and stable version.

Nevertheless, we still receive a lot of issues and question, regarding installation on win docker toolbox.
And we do not test it on docker for win.

After version 5, we will try to find work around for deployment on win.

[2019-04-02 15:34] #593 closed

[2019-04-02 15:36] DzmitryHumianiuk commented on #594
@lilacharviv where do you see it?
in test automation logs?

then in logger config define the root level.

https://github.com/reportportal/example-java-TestNG/blob/master/log4j/src/main/resources/log4j2.xml#L14

[2019-04-02 15:36] #594 closed

[2019-04-03 09:49] bawarim commented on #570
@DzmitryHumianiuk  I am not facing this issue no more. The thing which I have noticed is that, if i execute APIs from swagger by login into the report portal. Then it caused UUID to change, else its working fine.
When I have not executed APIs from swagger from long time then my UUID was working fine.
So is this expected behavior?

[2019-04-03 13:27] DzmitryHumianiuk commented on #570
@bawarim no, it's not. It is bug.
UUID should stay the same, all the time.
Only one event can regenerate it, it is `Generate new UUID` at profile page.

But, at least, now we have a step to reproduce - switch to SWAGGER may update UUID.
@DiscoElevator @pbortnik ^

[2019-04-03 13:30] DzmitryHumianiuk commented on #570
@bawarim could you plz identify steps to reproduce issue?

[2019-04-03 18:35] nvborisenko commented on #604
Your default namespace is `Horizon.RM.Automation`, considering it as "root" namespace. **BUT** you may create a new test in `Horizon.RM` namespace, or in `Horizon`, or even in `ABC`. Agent cannot build the tree of namespaces in advance. What runner knows: test passed and fully qualified name was `A.B.C.Test1`, then agent tries to create a tree on RP server. I don't see ways how to support "root" n

[2019-04-03 19:03] 501NotImplemented commented on #604
Same with NUnit agent. Quite annoying behavior, especially if there's a lot of suites in the hierarchy.

[2019-04-03 19:15] nvborisenko commented on #604
No way for NUnit :( See at your *.xml report, report represents a hierarchy of tests by namespaces. Agent knows the same what we see in xml. Any thoughts are appreciated.

[2019-04-04 06:31] goltopesti commented on #505
@heilwood, I am facing exactly the same problem.

I tried to execute all of the services from the command line for debug and there _were_ some issues with the firewall so I suggest people to run first via cmd and then set it as a service.

My biggest issue is that I cannot set different port on  **index** and **UI** thus they won't start together.. Any ideas here? Would really appreciate some help

[2019-04-04 07:09] heilwood commented on #505
i ordered azure vm with linux and installed on it, to much time has been spent for this installation :(

[2019-04-04 07:15] goltopesti commented on #505
@heilwood sad to hear, similar issues for me too.

I hope there is a way for a solution because docker is not the best option in my environment

[2019-04-04 10:50] bawarim commented on #570
@DzmitryHumianiuk I have tried to reproduce it today but didn't succeed. UUID is not changing.
Not sure why initially UUID was changing.

[2019-04-05 17:48] DzmitryHumianiuk commented on #595
@spartanglady this definitely should be in our backlog.

And i've asked in [SLACK](https://reportportal-slack-auto.herokuapp.com/) chat, if any.

[2019-04-05 17:50] DzmitryHumianiuk commented on #596
@nkthota technically it is possible.
but it is pretty custom solution.

[2019-04-05 17:53] spartanglady commented on #595
Thanks.. Lets continue this conversation in slack

[2019-04-05 17:53] #595 closed

[2019-04-05 17:53] DzmitryHumianiuk commented on #597
@MrHobbsT how do you filter these 705 items?
what was in filter?

This issue will be addressed in 5.0

[2019-04-05 17:57] DzmitryHumianiuk commented on #598
@gkalnytskyi .net related question for @nvborisenko

@yasunaz java related might be for @filland and @pbortnik

but @yasunaz do you add cert information within `reportportal.properties` file?

[2019-04-05 17:59] DzmitryHumianiuk commented on #595
P.S.
from comments in Slack.

`Android studio uses a version of jUnit4 for android test. I think whoever worked on the original Junit client should be able to figure it out easily.`

[2019-04-05 18:01] nvborisenko commented on #598
@gkalnytskyi incorrect token. This token can be obtained from user profile page (Web UI).

[2019-04-05 18:20] bkilada commented on #590
@DzmitryHumianiuk yes not sure what happened but it's working now! Thanks for the help everyone.

[2019-04-05 18:20] #590 closed

[2019-04-05 18:28] bkilada commented on #601
Here's a Bing translation I reformatted to match the above.

**Problem**

Not a convenient process of parsing bugs.

**Convenience Criteria**

- Minimum Actions with mouse buttons
- Minimum work with mouse wheel
- Minimum page Updates
- Minimum page Transitions

**Benefits**

- Happy users, increasing the number of Report Portal users

**Proposed Solution**

1. Take real users. Make up the top 10

[2019-04-05 19:40] DzmitryHumianiuk commented on #590
Usually it need some time to bootstrap all services.
Sometime it is 1 min. Sometimes up to 15 mins

[2019-04-07 07:58] lilacharviv commented on #594
hi,
in the automation log
we have already  the logger u add

[2019-04-07 12:23] lilacharviv opened #605 "Auto Analysis - not analyze"
1. Investigate launch cloud#59
2. In launch cloud#60 (with the same failed) i select : Analysis from menu
3.In "Analyse Launches" pop up select all option...i tried all
3. The launch in marked as red "Analysis" but not stopped and after refresh nothing changed, just the flag "Analysis" disappear

[2019-04-08 01:48] gkalnytskyi commented on #598
@nvborisenko , thank you for suggestion, I have resolved this issue.

@DzmitryHumianiuk
But I see another issue here. If I want to have a default reporter for my CI process, whose UUID is saved in the VCS. I need to login as that user to find out his UUID, even with ReportPortal admin permissions.

[2019-04-08 05:43] heilwood opened #606 "Make links clickable in test logs"
**Describe the solution you'd like**
Would like to be able click on links inside test logs which are started with http://, https://, file://

Now its not clickable:

![image](https://user-images.githubusercontent.com/27227165/55700984-2fba6c80-59da-11e9-884c-3484475bce3a.png)

**Is your feature request related to a problem? Please describe.**
Just for usability, don't like to copy links :(

[2019-04-08 10:08] DzmitryHumianiuk commented on #605
@lilacharviv check your `service-analyzer` and `elastic` services are running in docker
[code]

The sign on not running containers:
- buttons for Generate Index and Delete Index disabled in Project Settings > Auto-Analysis
- under login button you do see Service Analyzer listed

[2019-04-08 10:24] DzmitryHumianiuk commented on #598
@gkalnytskyi yes.
it's the way how it build for now.

i'll keep it in mind for UX updates.
I guess, we will introduce auto-generated user for usage in CI tools

[2019-04-08 10:26] DzmitryHumianiuk commented on #598
@gkalnytskyi plz submit it as a separate feature request.

this issue can be closed

[2019-04-08 10:26] #598 closed

[2019-04-08 12:39] lilacharviv commented on #605
I checked and the buttons are disabled
see in my docker the services please, if need to run another service can u write me the command?

`admin@ubuntu9:~$ docker ps -a
CONTAINER ID        IMAGE                                                     COMMAND                  CREATED             STATUS              PORTS                                                                      NAMES
7aa1b0af

[2019-04-08 13:59] yasunaz commented on #598
@DzmitryHumianiuk @gkalnytskyi @nvborisenko @lexecon
I have resolved this issue, as it turns out, UUID was constantly changing every-time I log in.  Also, report portal would log me out when I clicked tabs, button etc..
I have tried to re-create report portal in my server with almost all version of docker-compose file availble in github page, all of it gave me the same issue except following confi

[2019-04-08 19:05] DzmitryHumianiuk commented on #598
@yasunaz thank you for details.
Some another users also face similar issue.
This can help

[2019-04-09 19:53] borbamartin opened #607 "Unable to deserialize content"
Hey there.

I'm getting the following errors:

`
io.reactivex.exceptions.OnErrorNotImplementedException: Unable to deserialize content
`

`
Caused by: com.epam.restendpoint.http.exception.SerializerException: Unable to deserialize content
`

`Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "number" (class com.epam.ta.reportportal.ws.model.EntryCreate

[2019-04-10 10:04] bawarim opened #608 "Exception while reporting specflow scenario in report portal"
I am using below Json file for my SpecFlow scenarios.

{
    "$schema": "https://raw.githubusercontent.com/reportportal/agent-net-specflow/master/ReportPortal.SpecFlowPlugin/ReportPortal.config.schema",
    "enabled": true,
    "server": {
        "url": "http://xxx.xx.xx.xx:8080",
        "project": "AUTOMATION_PERSONAL",
        "authentication": {
            "uuid": "rt56uuuu-3435-4db7-8876-32

[2019-04-10 10:21] nvborisenko commented on #608
Try to add `/api/v1` to `url` property in config.
Or project name is case sensitive, not sure.

Or upgrade nuget packages if there are available.

[2019-04-10 10:35] bawarim commented on #608
@nvborisenko Tried adding api/vi and case sensitive project name but still getting the same error.
nuget packages are updated.

[2019-04-10 10:52] bawarim commented on #608
@nvborisenko Thank you :)
Adding /api/v1 in json file worked. The problem is that it was not updating the json file in output folder even i have marked Copy to output directory -> copy if newer.
I have deleted the file from output folder. And then it worked.

[2019-04-10 10:52] #608 closed

[2019-04-10 15:17] DzmitryHumianiuk commented on #607
@borbamartin did you use it from here?
https://github.com/reportportal/agent-java-cucumber4

[2019-04-10 15:23] borbamartin commented on #607
No, @DzmitryHumianiuk, I followed the instructions at https://github.com/reportportal/agent-java-cucumber. What version of that dependency should I use?

Thanks for the quick response, too!

[2019-04-10 16:05] DzmitryHumianiuk commented on #607
[code]

[2019-04-10 16:09] DzmitryHumianiuk commented on #605
@lilacharviv according to screenshot, your elastic restarted 6 seconds ago.

plz follow [these steps](http://reportportal.io/docs/Issues-with-Analyzer:)

[2019-04-10 16:27] DzmitryHumianiuk commented on #604
@heilwood @nvborisenko can we close it?

[2019-04-10 16:29] DzmitryHumianiuk commented on #603
@vgri use shared filters/widgets/dashboards.

If `user1` will create a filer, then a widget based and it, and dashboard. And then share it.
This dashboard/widget/filter will be visible for all users in project.
but only owner can edit it (`user1`)

[2019-04-10 16:32] nvborisenko commented on #604
Let's leave it as opened. There is a way how to resolve this issue, need choose better one and implement it.

[2019-04-10 16:32] DzmitryHumianiuk commented on #602
@lilacharviv AA consider `ERROR` type of logs for analysis.
which is RED colored at test case logs level.

it should also have meaningful information, in order to have enough data for analysis.

can you show how your error log looks like?

[2019-04-10 16:36] DzmitryHumianiuk commented on #601
@ailjushkin we have allocated 2 UX Designers for user experience improvement.
We call this version `6.0`, and designers are conducting interviews with users for at least 2 months already.

We will consider your request as well.

[2019-04-10 16:39] DzmitryHumianiuk commented on #600
@heilwood we are open for contribution at this point.

[2019-04-10 16:43] DzmitryHumianiuk commented on #574
@psubrambe did [it](https://github.com/reportportal/reportportal/issues/574#issuecomment-464424331) help?

[2019-04-10 16:53] DzmitryHumianiuk commented on #572
@lilacharviv click this toggle to hide precondition methods.

![image](https://user-images.githubusercontent.com/11332788/55897967-44f5ed80-5bca-11e9-9bb5-cc2f0c5f219c.png)

[2019-04-10 16:53] DzmitryHumianiuk commented on #572
@lilacharviv and let me know if we can close this issue.

[2019-04-10 16:55] DzmitryHumianiuk commented on #571
@shaburov if 5.0 we will accept status as received.
and calculate only of status is missing

[2019-04-10 17:28] DzmitryHumianiuk commented on #569
@orvilia will be introduced with **Patterns**

[2019-04-10 17:28] DzmitryHumianiuk commented on #568
closed as no response

[2019-04-10 17:28] #568 closed

[2019-04-10 17:32] DzmitryHumianiuk commented on #566
@justinhinze it is.
working on that already.

[2019-04-10 17:34] DzmitryHumianiuk commented on #565
will be addressed with
#25

[2019-04-10 17:34] #565 closed

[2019-04-10 17:40] DzmitryHumianiuk commented on #561
@Yumfriez ^

[2019-04-10 17:41] borbamartin commented on #607
Using the dependency (removing the `<type>pom<type>`) worked.
Thanks @DzmitryHumianiuk !

[2019-04-10 17:41] #607 closed

[2019-04-10 17:42] #560 closed

[2019-04-10 17:43] DzmitryHumianiuk commented on #557
@adhithyasrinivasan
can't find situation when it is needed?

do you generate properties file on runtime?

[2019-04-10 17:45] DzmitryHumianiuk commented on #554
@adhithyasrinivasan in order to avoid it, you have to add SSL certificate into `service-api` container.

it's not configurable from RP side.

[2019-04-10 17:45] #554 closed

[2019-04-10 17:50] DzmitryHumianiuk commented on #552
@bawarim it is already existing.

https://github.com/reportportal/service-tfs

but we do not propose it for installation.
We used the latest SDK for TFS, available on the net.
But it is pretty unstable. And brings the memory leaks, which leads to container crash.

we didn't check for updates for a quite long time, so it might be fixed already.

We are open for contribution on the matter.
you can c

[2019-04-10 17:55] DzmitryHumianiuk commented on #550
@adhithyasrinivasan https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

[2019-04-10 17:55] #550 closed

[2019-04-11 17:54] loadtheaccumulator commented on #584
We're not deploying Mongo in a cluster at this point, and Postgres isn't available yet so we are deploying now and will have to migrate. Curious as to why it works when installed via the docker-compose and not when using the same image in OpenShift. Something in ReportPortal or Mongo making a change based on something it detects? And if so, can that be configured at install to avoid the extra step

[2019-04-11 21:28] nvborisenko commented on #604
Resolved in ReportPortal.NUnit [3.7.1](https://github.com/reportportal/agent-net-nunit/releases/tag/3.7.1). The same is going to for VsTest as well.

[2019-04-11 22:01] nvborisenko commented on #604
Resolved in ReportPortal.VSTest.TestLogger [2.0.4](https://github.com/reportportal/agent-net-vstest/releases/tag/2.0.4).

[2019-04-11 22:01] #604 closed

[2019-04-12 07:04] bawarim opened #609 "How to send screenshot to report portal using serilog"

[2019-04-12 07:12] nvborisenko commented on #609
Is it already resolved? Please share how.

[2019-04-12 07:16] bawarim commented on #609
@nvborisenko No, its still unresolved.

[2019-04-12 07:29] nvborisenko commented on #609
Put you message in special format. List of available formatters is [here](https://github.com/reportportal/commons-net/tree/master/ReportPortal.Shared/LogFormatters).

Example:
[code]

[2019-04-12 08:45] bawarim commented on #609
@nvborisenko It worked. Thank you. :)

[2019-04-12 14:54] katcaola commented on #351
@OstapJ Check out the [RP jenkins-plugin repo](https://github.com/reportportal/plugin-jenkins). It might make more sense to open the issue there and/or commit changes there.

[2019-04-14 07:51] vgri commented on #603
The idea is to have groups that will have access to change/edit the filters/widgets/dashboards and not only individuals or the owner.
For example,if you have total of 100 people in a project, only 10 will have all privileges to topics related to X and other 10 will have to Y. Infra team will have admin rights.

[2019-04-16 12:56] MrHobbsT commented on #597
Status: Passed, Method type: Test
The same result for
Status: Passed

[2019-04-17 05:36] gkalnytskyi opened #610 "Custom/user defined widgets"
I wonder if it is possible to create custom widgets and add them to dashboards?

[2019-04-17 07:40] evjlobanova commented on #610
@gkalnytskyi could you please, tell us some example of custom widgets which i want to see on a dashboard?

[2019-04-17 11:28] abotalov opened #611 "Add an API command to start an item only if it's not already started"
There's a test suite to be run in parallel distributed across several machines. There's a parent CI job that executes tests on other machines.
[code]
Results from all machines are sent to the same Report Portal launch. The folder structure in Report Portal should replicate folder structure in the actual test suite.

It looks, there are three choices to implement this:
1. Create all items for the f

[2019-04-17 15:08] DzmitryHumianiuk commented on #610
@gkalnytskyi practically, it is possible.
Options:
1) implement it in UI, implement in back-end by your team
2) pay 3rd party team to implement it
3) pay support contract to rp team and team will implement it

for the version going forward, we consider fully customizable type of widget, equal to grafana.

[2019-04-17 19:20] Invictum commented on #606
@heilwood
You may emit logs with markdown enabled flag to achieve it.
[code]

[2019-04-23 18:36] GregNYT opened #612 "Results in jUnit XML format are being flagged upon import"
The tests are run with Mocha and the results are output by [mocha-junit-reporter](https://www.npmjs.com/package/mocha-junit-reporter). The XML is valid but after compressing it and importing via the web UI the following message appears:

_Error while importing the file. 'Test item status is ambiguous. There is no status provided from request and there are no descendants to check statistics for tes

[2019-04-23 19:55] DzmitryHumianiuk commented on #612
@evjlobanova can you please attached example of junit import?

[2019-04-24 08:07] evjlobanova commented on #612
[Launch C.zip](https://github.com/reportportal/reportportal/files/3111216/Launch.C.zip)

[2019-04-24 14:11] sumeetm18 opened #613 "Custom welcome screen and email templates"
We want to have custom welcome screen and email notification templates
...

Can we have an option to override the values in home screen and also email notification template.
...

[2019-04-24 14:12] arunkumar-muthusamy opened #614 "Question - How to match log messages more accurate between launches?"
Hi,

I'm trying to configure Auto-Analyse Accuracy by fine tuning following attributes,

- Minimum should match
- Minimum document frequency
- Minimum term frequency
- Number of log lines

**Here is my use case:**
I want to categorize the failures with the messages matching in past launch/analysis. I want to set the analysis in such a way that it should match 90% of log message (limit by first 2 l

[2019-04-24 18:35] loadtheaccumulator opened #615 "Allow LDAP group to be assigned to Project to provide new user access without manual add via UI"
**Describe the solution you'd like**
As a Project Manager, I need to provide members of an LDAP group the ability to access specific projects upon login without having to manually add them through the UI or REST API.

**Is your feature request related to a problem? Please describe.**
Administration of users via the manual UI process (and even REST API) can be cumbersome in larger organizations and

[2019-04-24 22:07] GregNYT commented on #612
The problem may not be the XML format but how the zip file is compressed. I uploaded your file @evjlobanova and it worked fine. Then I unzipped it, recompressed in MacOS Finder and when I uploaded it there was an error.

How are you compressing your results?

[2019-04-24 22:18] knayeneni opened #616 "unable to find "service-index_win_amd64.exe""
Hey Guys,
I used this referenced link - Service Index - exe file from https://dl.bintray.com/epam/reportportal/
https://github.com/reportportal/service-index/
to find "service-index_win_amd64.exe"

I am done starting window services until Service UI, but got stuck here with Service Index.
Where can I find this  "service-index_win_amd64.exe"?
Thanks

[2019-04-25 02:23] knayeneni commented on #616
Please ignore my question.  I found this in - https://bintray.com/epam/reportportal/service-index/4.2.0#files/4.2.0

[2019-04-25 02:23] #616 closed

[2019-04-26 14:56] GregNYT commented on #612
So I figured out that there are two issues. The first issue is that zipping the results via the Compress option in MacOS Finder is creating a zip file with some character padding that Report Portal does not like. The solution is to zip the results from the command line using the "zip" command.

The second problem is that Report Portal doesn't seem to process nested <testsuite> elements. When I lea

[2019-04-29 03:39] gkalnytskyi commented on #610
Hello @DzmitryHumianiuk , @evjlobanova ,
My original question was about being able to build widgets yourself using _d3.js_ and _ReportPortal_ test data API (if there is one), and upload it to ReportPortal.

My team team is particularly interested in the BDD related charts, Number of Features, Number of Steps, Steps utilization, Average execution time for each step. Execution times for scenarios, e

[2019-04-29 15:58] DzmitryHumianiuk commented on #610
@gkalnytskyi hi, it's a right way to have it quick.

`service-ui` contains ui implementation of widgets.
`service-api` contains back-end for it.

the right way to have it: implement back-end, which will return required data.
implement widget on ui for it.
and send us a pull request.

you and your team can also join our public slack chat: https://reportportal-slack-auto.herokuapp.com/
where we can

[2019-04-29 22:10] knayeneni commented on #78
Hi, I used admin account username: superadmin, password: erebus and tried with default/1q2w3e as well, but I am still not able to login and I am getting "An error occurred while connecting to Server".

Please let me know what else needs to be done...Thanks

[2019-04-29 22:18] knayeneni commented on #78
Btw, I did the installation part without dockers as I am running it on Windows 7. Once I am able to run it successfuly, I would like to add them to VM's which are on Windows 10.
Currently these are the services which are showing and I am not sure that's the reason why I am not able to login, but in that case can some one please tell me why index, ui and gateway are not showing up even though those

[2019-04-30 02:00] knayeneni opened #617 "Can not login with admin or default credentials"
Hi, I used admin account username: superadmin, password: erebus and tried with default/1q2w3e as well, but I am still not able to login and I am getting "An error occurred while connecting to Server".

Btw, I did the installation part without dockers as I am running it on Windows 7. Once I am able to run it successfuly, I would like to add them to VM's which are on Windows 10.
Currently these are

[2019-04-30 02:11] knayeneni commented on #406
@kaushik2306 @aamorozov Wondering whether you guys were able to solve this issue. I am having the same issue currently and I installed ReportPortal without docker. I reported #617. Please provide feedback if it worked for you guys...thanks

[2019-04-30 10:33] DzmitryHumianiuk commented on #78
@knayeneni if you don't see them under login form on ui, mostly likely they are not registered in consul.

try to delete consul cache at `/data/consul` first. and restart

[2019-05-01 08:06] atulsareen1 commented on #464
If someone is doing RP setup and facing
"Error Message: Launch 'null' not found. Did you use correct Launch ID?".
Add 'client-java-core' dependency and try. It worked for me.

[2019-05-03 05:25] swapnilbargal1 commented on #590
Boosted my memory storage and changes to windows containers and it worked for me.

![image](https://user-images.githubusercontent.com/20087944/57120908-fcc58780-6d91-11e9-8712-75a9a0a6c243.png)

[2019-05-04 09:56] evjlobanova commented on #614
for now, to make analyzer to work strict, you should carry out at least 3-4 runs of analysis. And after each run, check results and correct them , if they are wrong.
After version 5.0 we want to implement a same kind of really strict analysis.
But for now I can propose you the second option
Here https://github.com/reportportal/service-analyzer/tree/tiger we have example of strict analyzer
I config

[2019-05-04 09:59] evjlobanova commented on #613
@sumeetm18 Could you please provide us your desired template for login screen and for e-mail?

[2019-05-04 10:05] evjlobanova commented on #612
@Yumfriez could you please check this issues on ver 4 and 5?

[2019-05-04 10:07] evjlobanova commented on #605
@lilacharviv do you still have a problems?

[2019-05-04 13:44] ihar-kahadouski commented on #599
Will be fixed in 5 version

[2019-05-07 21:53] npopov-d3 opened #618 "allow step/title names longer than 256 characters for cucumber"
**Describe the bug**
Cucumber reports fail to complete, due to events being rejected by RP server:

Some of my features are working fine, but others get rejected by RP server (4.2.2) like so:
(node:95882) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 68): Error: Request failed with status code 400: {"error_code":4001,"message":"Incorrect Request. [Field 'name' should

[2019-05-08 22:46] knayeneni opened #619 "Services Gateway and Index returns HTTP GET http://[127.0.0.1]:8080/health: 404 Not Found Output"
Service 'gateway' check
HTTP GET http://[127.0.0.1]:8080/health: 404 Not Found Output:
Anyone ever had this issue and how you guys resolved it.
Also, Reportportal login url used to be http://127.0.0.1:8080/#login, which isn't working any more and not sure how but got switched over to http://127.0.0.1:8081/#login.
Not sure if this is ok.
![image](https://user-images.githubusercontent.com/49925642/5

[2019-05-09 14:48] alejandro-delgado-garcia opened #620 "Golang integration"
**Describe the solution you'd like**

Is there any work being done about implementing an integration for Go lang?

Thanks

**Is your feature request related to a problem? Please describe.**

[2019-05-12 11:01] mamtag commented on #500
I am facing the same issue..can some share the exact solution?

[2019-05-12 14:47] aoreki commented on #584
I am running into the same problem.I'm working on it.I think it's maybe related with https://stackoverflow.com/questions/50371847/mongodb-not-authorized-on-database-to-execute-command-eval.

[2019-05-15 08:12] avyas commented on #226
We are using allure2 along side reportportal and timeline info in allure do present this info.

Would love to see some thing like this in reportportal as well.

[2019-05-15 08:12] surevs commented on #266
is there any update on this request using google oauth or can it be handled other way around - please advise.

[2019-05-15 10:47] evjlobanova commented on #620
@alejandro-delgado-garcia hi, unfortunately we do not have any contributors how is working on GoLang. But we will be glad if you help us with new integration and send PR

[2019-05-15 10:50] evjlobanova commented on #619
@Yumfriez Ivan, could you please look at this issue?

[2019-05-15 10:58] evjlobanova commented on #534
@Yumfriez

[2019-05-15 13:18] sermolovich opened #621 "Cannot attach screenshot to log item"
**Describe the bug**
Send request to Report Portal API

POST http://BlaBla:8080/api/v1/BlaBla/log HTTP/1.1
User-Agent: BlaBla
Authorization: BlaBla
Content-Type: application/json; charset=utf-8
Content-Length: 35082

{
  "file": {
    "name": "2019-05-15_1555.png",
    "data": "iVBORw0KGgoAAAANSUhEUgAABCIAAAEGCAYAAACw1DTUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAGWqSURBV

[2019-05-15 13:27] evjlobanova commented on #621
@Yumfriez Ivan, could you please look at this issue ?

[2019-05-15 13:38] evjlobanova commented on #613
#573

[2019-05-15 13:59] Yumfriez commented on #621
Endpoint for application/json type ignores "file", so you should send multi-part request

To create a log with an attachment you should send a POST request to the 'api/v1/{projectname}/log' endpoint and configure it like this:
1) content type of the request - **multipart/form-data**
2) in the body of the request should be 2 params:
                                             a) json_request_part

[2019-05-15 16:50] knayeneni commented on #617
Now, I have all services up and running, but only Gateway throws an error
Get http://[127.0.0.1]:8080/health: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
![image](https://user-images.githubusercontent.com/49925642/57793617-638a5f80-7707-11e9-96ac-fb67e613a2d4.png)

This could be the reason, why I still couldn't login
Did anyone encountered this issue and how did you

[2019-05-15 16:53] knayeneni commented on #619
I am able to get the error with Service Index resolved, but couldn't proceed further with resolving Gateway error.
Earlier, it gave me HTTP GET http://[127.0.0.1]:8080/health: 404 Not Found Output
But now its giving me Get http://[127.0.0.1]:8080/health: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
I updated my comments in #617 as well..thanks

![image](https://user-

[2019-05-16 08:11] sermolovich commented on #621
Hello could you correct my request? I have got bad request response now.

POST http://{host}:8080/api/v1/{project}/log HTTP/1.1
Content-Type: multipart/form-data; boundary="90a52ef0-dd1e-4fed-8925-ce0d8eb67ebf"
Content-Length: 26439

--90a52ef0-dd1e-4fed-8925-ce0d8eb67ebf
Content-Type: application/json; charset=utf-8
Content-Disposition: form-data; name=json_request_part

{
  "file": {
    "name":

[2019-05-16 15:43] mikesalvia commented on #529
@DzmitryHumianiuk There has been some work done to work on the parallel executions, it is unfortunately in a branch. I can confirm that there are issues when running in parallel but we have worked to reduce those issues.

[2019-05-16 15:44] mikesalvia commented on #529
https://github.com/reportportal/agent-ruby/pull/33 << work that has been done. I need to do some more fixes though.

[2019-05-20 15:58] DzmitryHumianiuk commented on #266
@surevs we plan to release SAML based auth pretty soon.
if google auth supports SAML, than it will be the option.

Does it?

[2019-05-20 15:59] DzmitryHumianiuk commented on #226
@avyas we will add it as a part of #259

[2019-05-20 17:59] surevs commented on #266
Sure, @DzmitryHumianiuk - Thanks so much for the update - Based on the link https://support.google.com/a/answer/6087519?hl=en it looks like there should be few workaround - we will be eagerly waiting for to get our hands on it 👍

[2019-05-21 09:47] summergan opened #622 "Request support GitLab authorization"
**Describe the solution you'd like**
...

**Is your feature request related to a problem? Please describe.**
...

[2019-05-21 13:07] RonZAllstar opened #623 "'ReportPortal.NUnitExtension.ReportPortalListener' threw an exception"
Hi guys,

I keep getting this error when running our test.
I've created the Addins file and I'm running report portal on docker (Windows 10) - all containers are up.
We have a .Net application.

Folder Structure:
C:
|- NUnitRunner
  |- nunit.console.exe
  |- ReportPortal.addins
|- YourProject
  |- bin
    |- Debug
      |- YourProject.Tests.dll
      |- ReportPortal.NUnitExtension.dll

ReportPorta

[2019-05-21 13:32] DzmitryHumianiuk commented on #529
@mikesalvia i see it merged.
Do we only need to release it?

[2019-05-21 13:38] nvborisenko commented on #623
Agent cannot find  configuration file. `ReportPortal.config.json` file should be located in the same folder where `ReportPortal.NUnitExtension.dll` is. Make sure you copy this file to output.

[2019-05-21 14:05] abotalov commented on #529
It targeted a different branch

[2019-05-22 16:33] Oldsouldier opened #624 "/{project}/item PUT fails if item has stacktrace"
**Describe the bug**
When trying to update a test item categorization, the api hangs if a stack trace is present. It succeeds quickly if there is no stack trace. It also hangs in a way that the category counts don't get updated properly. I apparently have -2 product bugs in my project right now. Description, skip auto-analyze, and category seems to be updated when getting the item back, but summar

[2019-05-23 06:34] Yaromudr opened #625 "nginx integration"
I want deploy PR with nginx
For example, need create url for ui as http://host/report/ui/
I create location-file as
[code]
 where 9999 - gateway port for fabio
After deployment, I see the RP login page at the right address. But I can't login into RP

After load login page I see errors on browser console. Before login
Request http://host/composite/info have status 403, but if I execute the query ht

[2019-05-23 08:24] stephanemartin opened #626 "Credentials is clear in docker logs"
**Describe the bug**
Credentials is clear in docker logs

**Expected behavior**
The login and password must not be present in logs

I propose to use post with www-form-urlencoded for credentials. So they will be not present in server logs.
Maybe you have better practice to avoid that :)

**Screenshots**
![bugportal2](https://user-images.githubusercontent.com/3063721/58236823-07958b80-7d44-11e9-86e

[2019-05-23 13:32] #621 closed

[2019-05-23 13:33] sermolovich commented on #621
It will be fine to have description in API help upload documents method

[2019-05-23 14:36] Oldsouldier commented on #597
Seeing similar wrong counts in #624 after changing defect type , though it's only after the request times out.

[2019-05-24 10:23] Yumfriez commented on #621
Sure, we will update our documentation after V5 release

[2019-05-26 12:09] karthikeyaEvive opened #627 "UnrecognizedPropertyException while running testNG test cases with reportportal.io"
**Describe the bug**
...
When tried to run testNg test cases with reportportal following error was encountered.

`Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "number" (class com.epam.ta.reportportal.ws.model.EntryCreatedRS), not marked as ignorable (one known property: "id"])
 at [Source: [B@3deca00c; line: 1, column: 12] (through reference chain

[2019-05-27 14:20] SrikanthSunder opened #628 "Remove Index & Generate Index is disabled after creating a new Project in Report Portal"
**Describe the bug**
... Remove Index & Generate Index is disabled after creating a new Project in Report Portal

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [Build: 4.3.6 © Report Portal 2018    All rights reserved

[2019-05-27 15:00] evjlobanova commented on #628
@SrikanthSunder please send us screenshot of login page?

[2019-05-28 07:13] SrikanthSunder commented on #628
![Capture](https://user-images.githubusercontent.com/51087768/58458117-fa164200-8145-11e9-8c7a-ad626c9161a5.JPG)

OS: oracle linux 7.6
Browser: CHROME
Version of RP Build: 4.3.6

@evjlobanova Please find the required info. Kindly Clarify

[2019-05-28 08:17] evjlobanova commented on #628
@SrikanthSunder Could you please send to me screenshot of the RP Login page?
![image](https://user-images.githubusercontent.com/30413511/58462236-1f9d4e80-813a-11e9-949e-fcf52559ba38.png)

[2019-05-28 08:49] SrikanthSunder commented on #628
![Capture1](https://user-images.githubusercontent.com/51087768/58464594-98f56b00-8153-11e9-9cd4-a8615e2e9a41.JPG)

@evjlobanova Please find the screen shot

[2019-05-28 08:52] evjlobanova commented on #628
@SrikanthSunder Analyzer service is not running
Please send me:
screenshot of consul host:8500
docker-compose file
logs of  analyzer container, ES, api

[2019-05-28 09:40] SrikanthSunder commented on #628
@evjlobanova
this is where i got the docker-compose file: curl https://raw.githubusercontent.com/reportportal/reportportal/master/docker-compose.yml -o docker-compose.yml . I'm using the default one, no changes done.
Screen Shot of the Consul UI
![Capture2](https://user-images.githubusercontent.com/51087768/58467905-220fa080-815a-11e9-9035-a2328727ccc9.JPG)

Elastic Search is getting restarted fre

[2019-05-28 09:41] evjlobanova commented on #628
@Yumfriez  look please

[2019-05-28 12:12] DzmitryHumianiuk commented on #618
**resolution:**
increase to 1024

[2019-05-28 13:57] Yumfriez commented on #619
@knayeneni Could u provide logs from the Gateway service please?

[2019-05-28 17:53] mamtag opened #629 "Screenshot attachment not working in report portal using log4j"
Issue-Email attachment is not working. Using below code-

 public static final Logger LOGGER = LogManager.getLogger(Java fileclassName.class);

Public void test()
{
File file=new File("q.png");
ReportPortalMessage message1 = new ReportPortalMessage(file,"image file");                  LOGGER.info(message1);
}

Getting below output in reportportal logs (WITHOUT ANY IMAGE)-
[05:21:31] INFO (?:?) - c

[2019-05-29 11:11] VDouble opened #630 "Does Report Portal has possibility to be deployed not with MongoDB but with PostgreSQL"
Hi,
I would like to deploy production Report Portal not with remote MongoDB but with remote PostgreSQL.  This kind of deploy would let our team for easier maintain of data-base for Report Portal.

Question is if there's possibility to deploy Report Portal not with remote MongoDB but with remote PostgreSQL?

[2019-05-29 11:13] evjlobanova commented on #630
@VDouble hello for version 4 it is impossible. But soon we will release new version 5.0 which based on PostgreSql

[2019-05-29 11:30] VDouble commented on #630
@evjlobanova When we could expect version 5.0?

[2019-05-29 12:29] evjlobanova commented on #630
we are planning beta release in June

[2019-05-29 12:36] VDouble commented on #630
@evjlobanova Thank you very much :)

[2019-05-29 12:36] #630 closed

[2019-05-29 16:56] clintmoyer commented on #624
Seeing the same issue. Steps to recreate:

1. Navigate to a test item that has failed and contains a stack trace
2. Click to edit the defect type and when the modal window pops up, edit the description
3. Click "Save"

When the test contains a stack trace, the modal window hangs indefinitely and the service returns an HTTP 504 status code. However the PUT request still works and the change is visi

[2019-05-29 19:20] mcopjan commented on #617
I have followed the steps from the documentation:

- curl https://raw.githubusercontent.com/reportportal/reportportal/master/docker-compose.yml -o docker-compose.yml
- docker-compose up
- http://localhost:8080 -> login as guest or superadmin leads to "an unexpected error occurred"

Attaching logs
[logs.txt](https://github.com/reportportal/reportportal/files/3234079/logs.txt)

[2019-05-31 08:49] SrikanthSunder commented on #628
Hi @evjlobanova @Yumfriez any updates. Still Remove Index & Generate Index is not getting enabled.

[2019-06-02 09:50] DzmitryHumianiuk commented on #428
Version 5 will bring updates, which can eliminate root cause of this issues

[2019-06-03 18:23] mcarriga commented on #396
@DzmitryHumianiuk Just curious, any progress on prioritizing this feature request?

[2019-06-04 01:15] Oldsouldier commented on #624
It turns out i had a misconfigured elasticsearch deployment. I scaled down the number of master nodes to 1, and missed setting RECOVER_AFTER_MASTER_NODES=1 in the helm chart.

[2019-06-04 01:15] #624 closed

[2019-06-04 05:32] david-fliguer-ws opened #631 "Running pytest with --reportporal option gets stucked"
Hi,

I am trying to get to work a basic integration of running a simple pytest test and seeing the results in reportportal

I start the containers using the docker-compose file (I see a lot of exceptions in the output though...)

And when I run the test with pytest the test passes but then it just gets stucked

I see in the output of the containers the following error:

analyzer_1       | [2019-06

[2019-06-04 12:05] sermolovich commented on #501
Hello @DzmitryHumianiuk,
I have a similar issue with continuous restarting of elastic search container. I performed steps from http://reportportal.io/docs/Issues-with-Analyzer: but steps were not clear for me and looks like I was broken reportportal at all. I am not expert in Linux and docker. Who can help me with resolving of the issue or update installation guide and describe How to install RP f

[2019-06-04 13:20] evjlobanova commented on #501
@sermolovich could you please tell us with which step do you have troubles.

Have you performed this actions before `docker-compose -p reportportal up `?
![image](https://user-images.githubusercontent.com/30413511/58882283-8abfc580-86e4-11e9-80e3-7c8d5271c2e7.png)

[2019-06-04 13:46] sermolovich commented on #501
Hello @evjlobanova,

In the beginning I performed steps described here https://reportportal.io/docs/Deploy-ReportPortal
I didn't see 3 additional steps marked by red from your screen. Auto analysis doesn't work in that configuration. After that I navigated to http://reportportal.io/docs/Issues-with-Analyzer: and performed following steps:

![2019-06-04_1636](https://user-images.githubusercontent.c

[2019-06-04 14:10] evjlobanova commented on #501
@sermolovich
Please send us:
screenshot of consul host:8500
docker-compose file
logs of analyzer container, ES, API

[2019-06-04 14:17] Yumfriez commented on #628
@SrikanthSunder Hello, could you provide logs from the Analyzer service and ElasticSearch?

[2019-06-04 15:01] sermolovich commented on #501
@evjlobanova
I installed report portal once again on the clean Linux OS, and I followed your correct instructions from the previous comments. But elastic search is again in restarting state.

![2019-06-04_1751](https://user-images.githubusercontent.com/50665182/58889360-746c3680-86f1-11e9-9baa-5183fe09bbb5.png)

Compose file from here without changes https://raw.githubusercontent.com/reportportal/

[2019-06-04 15:11] evjlobanova commented on #501
@Yumfriez Ivan, please help to find the problem

[2019-06-05 07:20] RG108 commented on #220
@DzmitryHumianiuk
@akoltochihin , @YuliyaHancharenka

Could you please let me know if the above issue is fixed in latest RP because i am getting the below issue :
12:45:54.331 [RxCachedThreadScheduler-2] ERROR com.epam.reportportal.service.Launch - [18] ReportPortal execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 400
Status message:

[2019-06-05 13:31] DzmitryHumianiuk commented on #220
@akoltochihin @filland any thoughts?

[2019-06-05 14:18] RuggeriLuca opened #632 "Update Status of Steps programmatic"
Hello,
i have the below case :
- i use newman to run our collection.
- each API calls had ~3000 assertions

i manage to extract the assertion  using the below code :
[code]
next in the same script i use the below to update it :

[code]
Can results is that not all the Steps are update to PASSED, a lot are still in IN PROGRESS status

can someone help me ?

[2019-06-05 16:41] abotalov commented on #611
Ping @nvborisenko @aliaksandr-trush @filland @bigbZik @s0undt3ch @avarabyeu
I think it may be good to hear your opinion on this as you may have worked on adding parallel support in client libraries and so may have an opinion on this.

[2019-06-05 17:00] nvborisenko commented on #611
To do it we need synchronization context between runners. The best choice of this context is Report Portal server itself.

[2019-06-06 07:47] aydorovs opened #633 "Incorecct location docker volume for ElasticSearch service (elasticsearch always restarting)"
https://github.com/reportportal/reportportal/issues/500
Добрый день. Так и не смог найти хотя бы одну рабочую ссылку с решением по поводу некорректной работы сервиса elasticsearch, и я не один такой) там еще комент.
Пожалуйста укажите нормально в тикете 500 правильные шаги, а не так что ты шаро***шься по всему гитхабу и нигде нет информации, потому что ссылки пустые. Спасибо!

[2019-06-06 08:26] evjlobanova commented on #633
https://reportportal.io/docs/Issues-with-Analyzer:
https://reportportal.io/download

[2019-06-06 08:45] adorovskikh commented on #633
Первая ссылка
![image](https://user-images.githubusercontent.com/47498749/59019384-a0ea9480-8850-11e9-8ed2-7273874977f2.png)

[2019-06-06 08:46] adorovskikh commented on #633
по 2й ссылке я устанавливал, elastic также пытается рестартовать, не работает

[2019-06-06 08:55] evjlobanova commented on #633
Попробуй еще раз первую линку.
Сбрось пожалуста:
1. Скрин страницы входа
2. Скрин консула host:8500
3. docker-compose file
4. логи контейнеров analyzer, ES, api

[2019-06-06 09:01] adorovskikh commented on #633
## You can generate a custom docker compose file automatically on http://reportportal.io/download (Step 2)

## This is example of Docker Compose for ReportPortal
## Do not forget to configure data volumes for production usage

## Execute 'docker-compose -p reportportal up -d --force-recreate'
## to start all containers in daemon mode
## Where:
##      '-p reportportal' -- specifies container's pre

[2019-06-06 09:10] adorovskikh commented on #633
![image](https://user-images.githubusercontent.com/47498749/59021047-ca58ef80-8853-11e9-9570-dd1a50fdec4a.png)

![image](https://user-images.githubusercontent.com/47498749/59021117-e5c3fa80-8853-11e9-966d-a54bb7976ad1.png)

[docker-compose.txt](https://github.com/reportportal/reportportal/files/3260843/docker-compose.txt)
а как вставить текст в нужном формате сюда? Что то форматирование плывет)

[2019-06-06 09:15] evjlobanova commented on #633
Скинь приложениями просто
GitHub поддерживает маркдаун, там есть вкладка write и preview

[2019-06-06 09:17] adorovskikh commented on #633
![image](https://user-images.githubusercontent.com/47498749/59021532-a6e27480-8854-11e9-8e18-642a3e471309.png)

![image](https://user-images.githubusercontent.com/47498749/59021609-c9748d80-8854-11e9-94b5-272e2affd2e0.png)

![image](https://user-images.githubusercontent.com/47498749/59021689-f4f77800-8854-11e9-8336-d70b903c3e0f.png)

[2019-06-06 09:26] adorovskikh commented on #633
[code]

[2019-06-06 09:41] evjlobanova commented on #633
@Yumfriez Ваня, посмотри пожалуйста логи

[2019-06-06 10:12] Yumfriez commented on #633
@adorovskikh Проблема с маунтом вольюма на файловую систему для контейнера Elastic Search:
**./data/elasticsearch**:/usr/share/elasticsearch/data
У эластика нет доступа к этой директории.
На скринах вижу, что РП разворачивается в unix-системе, поэтому лучше всего создать папку для данных эластика в директории конкретного юзера а потом замаунтить на нее вольюм ES:
./Users/{username}/data/elasticsea

[2019-06-06 10:52] adorovskikh commented on #633
ок, попробую, отпишусь

[2019-06-06 11:32] adorovskikh commented on #633
@Yumfriez если нет решения именно данной проблемы, то подскажите как прикрутить elastic в docker-compose.yml

Потому что отдельно у меня стек логстеш, эластик и кибана работают вместе дружно. Только эластик поновее (6.1.2)

[2019-06-06 13:38] RG108 commented on #220
the issue is fixed so kindly close the issue.

[2019-06-06 14:14] filland commented on #220
@DzmitryHumianiuk created a ticket for this issue

[2019-06-06 15:19] antlong commented on #484
Any hope for this one?

[2019-06-06 15:31] sermolovich commented on #501
Hello, @evjlobanova @Yanamz , do you have news for me?

[2019-06-06 18:20] naddison opened #634 "Upgrade Spring-Boot version?"
Are there plans to upgrade to a newer spring boot version? I am trying to use a Mongo DB Cluster that is running on 4.0, but I see that ReportPortal uses Spring Boot 1.5.9.RELEASE which contains the 3.4 version of the java mongo driver, which is incompatible with Mongo 4.

https://repo.spring.io/release/org/springframework/boot/spring-boot-dependencies/1.5.9.RELEASE/spring-boot-dependencies-1.5.9.

[2019-06-07 11:14] Yumfriez commented on #633
@adorovskikh Как я вижу, в docker-compose.yml остался маппинг на старый вольюм:
![image](https://user-images.githubusercontent.com/31598109/59100340-6820ed00-892e-11e9-9edf-faa6574d4280.png)
В этом файле следует поменять [./data/elasticsearch] на путь к папке, которую вы создали

[2019-06-07 14:20] DzmitryHumianiuk commented on #396
@mcarriga no estimations for now.
focusing on RPv5 release.

but already had first brainstorm to make it possible

[2019-06-10 08:16] adorovskikh commented on #633
ок, попробую отпишусь)

[2019-06-10 09:18] LakshmiNagandla opened #635 "How to test Import functionality in Report portal, if possible could please share XML format to import and check whether it is working or not ?"
**Describe the bug**
- I just  imported XML file in Report portal, but I don't see any test steps displaying inside my test cases

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-06-10 11:17] DzmitryHumianiuk commented on #635
@LakshmiNagandla
[test-results.zip](https://github.com/reportportal/reportportal/files/3271821/test-results.zip)

[2019-06-10 11:18] #635 closed

[2019-06-10 12:12] LakshmiNagandla commented on #635
Hi,

Thanks for sharing detailed xml report, is there any possiblity to download same kind of zip report for executed launches in our local.

Can you please let me know how to download the lauch files as zip.

Thanks,
Lakshmi

[2019-06-10 12:16] LakshmiNagandla opened #636 "How to download test execution launch results in report portal in zip file format to share with clients."
**Describe the bug**
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-06-10 12:17] DzmitryHumianiuk commented on #635
@LakshmiNagandla no, there is no option to download launch as zipped xml for now.

[2019-06-10 12:41] vasanth1805 opened #637 "Unable to see Auto Analyzer in Report Portal settings"
**Describe the bug**

Unable to see Auto Analyzer in Report Portal settings, but the elastic search service is up and running.

Note: Installed Report Portal and elastic search without docker.

Let me know if i am missing any step or doing something wrong. Your help is much appreciated.

**Screenshots**
![elastic search](https://user-images.githubusercontent.com/51641607/59195710-4764cb80-8baa-11e

[2019-06-10 13:58] DzmitryHumianiuk commented on #636
Well, it's pretty philosophic question.
Can't you just share a link to dashboard with him?

[2019-06-12 08:54] bencf1 opened #638 "com.mongodb.MongoSocketException: mongodb: Name does not resolve"
Env: Docker for Windows on Windows 10 Pro, with Linux containers
Version 2.0.0.3 (31259)
Channel: stable
Build: 8858db3

Steps:
1) Download latest docker-compose file
2) Run: `docker-compose -p reportportal up -d --force-recreate`

Expected:
I can load the app and log in using the default credentials

Actual:
I get a server error trying to log in, an inspection of the logs shows a MongoDB name res

[2019-06-12 10:16] adorovskikh commented on #633
api:
[code]

[2019-06-12 10:18] adorovskikh commented on #633
elastic:
[code]

[2019-06-12 10:19] adorovskikh commented on #633
analyzer:
[code]

[2019-06-12 10:29] adorovskikh commented on #633
Так, с этим вроде сам разобрался)
Надо было увеличить параметр vm.max_map_count
[code]
Но один лог с ошибками еще:
[code]

[2019-06-12 10:49] Yumfriez commented on #633
@adorovskikh Надо проверить логи эластика, скорее всего какая-то проблема все-таки есть

[2019-06-12 13:14] adorovskikh opened #639 "Can we log Allure @Step into ReportPortal"
Добрый день. На нашем проекте не используются библиотеки для логирования, так как Allure Steps вполне решали эту проблему. Сейчас я попробовал прикрутить report portal, добавил log4j логирование в несколько тестов, да все работает, Логирование  в rp успешно отображается. Но возможно ли реализовать также как в Allure на основе Steps, или как то подключить логирование через Allure Steps в rp, Стэк m

[2019-06-12 14:05] adorovskikh opened #640 "Russian letters are not shown in Reports (Не отображаются русские символы в тестовых отчетах)"
**Describe the bug**
Подключили к проекту log4j.

Конфиг:
[code]
Добавили в тесты логирование типа такого:
[code]

**Expected behavior**
В интерфейсе не отображаются русские буквы

**Screenshots**
If applicable
![image](https://user-images.githubusercontent.com/47498749/59357753-10babc80-8d34-11e9-919d-6ee9e9dbfd63.png)

**Versions:**
 - Windows 10, Chrome

![image](https://user-images.githubuserc

[2019-06-12 14:22] DzmitryHumianiuk commented on #639
https://github.com/reportportal/reportportal/issues/275

For version 5 (~~1 month) we releasing Nested Steps.
Which will be equal to `@Step` functionality.
So just wait for it a bit.

At the moment, for v4,  this can be done via customization, and logging of `@Step` annotation as another line of log, but with the text you have in it.

v5
![image](https://user-images.githubusercontent.com/11332788/

[2019-06-12 14:28] DzmitryHumianiuk commented on #640
@adorovskikh
[`WriterAppender`](http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/WriterAppender.html) (which is the base class for FileAppender and its variants. Has a [`setEcoding`](http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/WriterAppender.html#setEncoding%28java.lang.String%29) method. So yes: using `log4j.appender.myappender.encoding=UTF-8` should simply work.

[2019-06-12 16:17] adorovskikh commented on #633
@Yumfriez , вроде бы нормально все, ошибок нет
[code]

[2019-06-12 16:34] adorovskikh commented on #639
@DzmitryHumianiuk
Thanks for the quick response, waiting for version 5))

[2019-06-12 17:38] adorovskikh commented on #640
@DzmitryHumianiuk , не понял куда нужно это
`log4j.appender.myappender.encoding=UTF-8`
воткнуть, в итоге решил проблему добавив
`charset="UTF-8"` в log4j2.xml

[code]

[2019-06-12 19:42] adorovskikh opened #641 "Log4j2 screenshots don't send to reportportal"
Скриншот создается, в папке проекта отображается корректно, но в reportportal не загружается.
Метод:
[code]

ReportPortal

![image](https://user-images.githubusercontent.com/47498749/59380985-0ebc2200-8d63-11e9-9a4c-62c86d8fdf60.png)

![image](https://user-images.githubusercontent.com/47498749/59380900-d61c4880-8d62-11e9-99c6-c3a51e3fbfe7.png)

![image](https://user-images.githubusercontent.com/47

[2019-06-12 21:24] #640 closed

[2019-06-12 22:49] adorovskikh commented on #641
Хорошо, завелось в итоге вот так:
[code]

Тогда другой вопрос, как туда заслать видео и page_source?

[2019-06-13 03:22] vhildebrandt-usa opened #642 "After restart docker all projects are deleted"
Hello, I know there was already a similar issue (#408 ), but unfortunately without a solution. I have the issue that after a restart (on my local machine) all projects and all data is deleted. Is there a way to save my test results, even if I restart dockers?

[2019-06-13 12:12] DzmitryHumianiuk commented on #642
@vhildebrandt-usa you do in on windows?

Please share what you have for mondoDB declarations of your `docker-compose.yml`, in here:
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L17-L36

https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L22
[code]
this refers to volumes creation (basically folder creation), in directory where your `docker-com

[2019-06-13 12:12] #642 closed

[2019-06-13 12:13] DzmitryHumianiuk commented on #408
https://github.com/reportportal/reportportal/issues/642#issuecomment-501676413

[2019-06-13 12:16] DzmitryHumianiuk commented on #641
@adorovskikh https://github.com/reportportal/example-java-TestNG/blob/master/logback/src/main/java/com/epam/rp/tests/logging/LoggingTest.java

[2019-06-13 12:41] adorovskikh commented on #641
О, класс, надо попробовать. Тогда закрывайте)

[2019-06-13 13:22] vhildebrandt-usa commented on #642
@DzmitryHumianiuk : Yes, I do it on Windows Docker Desktop Version 2.0.0.3 (31259)

I still have the default settings in my docker-compose.yml:
![image](https://user-images.githubusercontent.com/46687273/59435669-1eb42000-8dbc-11e9-9752-08c92b15e1af.png)

And the file is here: C:\Users\MyUser

When I populate the data in the Report Portal I don't see any record here:
C:\Users\MyUser\data\mongo

Do

[2019-06-14 15:12] DzmitryHumianiuk commented on #642
@vhildebrandt-usa this might be an issue with volume mounts on windows.
here some ideas to start with: https://forums.docker.com/t/volume-mounts-in-windows-does-not-work/10693/23

try to make replace `./data/mongo` in `./data/mongo:/data/db` with direct address of your folder.

We never do it on windows, so can't comment a lot.

Another workaround:
deploy Mongo on windows without docker.
go to htt

[2019-06-14 15:12] #641 closed

[2019-06-17 17:11] olegbaslak opened #643 "Each log record timestamp in test equals test start time when test has 0 seconds duration"
**Describe the bug**
When test has 0 seconds duration, each log record in it has time equals to start time of the test.

**Expected behavior**
Each log record has corresponing time (eg. like in file or console log)

**Screenshots**
![image](https://user-images.githubusercontent.com/1713494/59622524-734bf800-913a-11e9-9d18-f54cf1e507d1.png)

**Versions:**
 - Windows 10, Chrome 74.0.3729.169
 - Vers

[2019-06-18 09:11] SrikanthSunder opened #644 "Auto Analysis is specific to each Project created. How to Make AI feature global across projects?"

[2019-06-18 09:15] SrikanthSunder commented on #628
@Yumfriez  the issue was due to Folder Privileges set @ Linux Server, the same has been rectified & working as expected.

[2019-06-18 09:15] #628 closed

[2019-06-18 17:15] DzmitryHumianiuk commented on #644
@SrikanthSunder we never assumed it to be cross projects.
Since Project is like a container per client, 1 project = 1 client.

Going forward, we plain to introduce **organization level**, which will be a container for multiple projects under 1 client.
In this situation, settings can be shared across org level.

**The workaround to handle it, can be the approach with Filters/Tabs**
define the tag,

[2019-06-20 09:45] rajkumar-cp opened #645 "Test Name Modification during Run Time"
Hi All,

Current test name property will be fed in properties file and in portal it will be updated as testname_execution number.

It will be cool if there is a way to update the same inside our code based on certain test parameters. Is there any way available for the same.

[2019-06-20 12:43] DzmitryHumianiuk commented on #645
@rajkumar-cp take a loook.
it should help.

https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

[2019-06-21 12:38] abotalov opened #646 "Extension is missing when downloading a file attached to the log"
**Describe the bug**
I have a launch where there is a file attached to a log.
The file is in a format not supported by Report Portal, so when I click it, it's downloaded. That works fine.
But the downloaded file has no extension. It's not convenient because the user has to manually add it in order to open it in a specialized application.

**Expected behavior**
The downloaded file should have the s

[2019-06-22 06:31] rajkumar-cp commented on #645
@DzmitryHumianiuk

In that piece of code from which library those functions were imported. (Module.binder,ConfigurationModule,Injector). I have added all the dependencies mentioned in the above steps but still i didn't see these functions in any of the packages mentioned there.

[2019-06-23 08:37] haelye opened #647 "Log pages are limited to up-to 300 lines - I want to be able to increase that and also to be able to see the entire log"
Hi,

I have noticed the in each log page the UI can display up-to 300 log lines – this limitation creates a great difficulty with troubleshooting issues because I find myself need to turn pages forwards and backwards between many log pages and it is quite uncomfortable..

Can you please add an option to view the entire log file or to set a much much greater entries limitation? - 300 entries are ju

[2019-06-23 08:43] haelye opened #648 "Paint entire log line or even the text itself - it will be great to be able to determine the colors by myself"
Hi,

I have noticed that the logs in the UI are only marked with a small color mark – it would be very helpful if the entire line was painted or at least the text will be in different color between different log levels

**It will be even nicer if I could determine the color of each log level by myself

Thanks,

[2019-06-23 08:48] haelye opened #649 "Mark a log line with a different color"
Hi,

Many times during troubleshooting we come across with critical log messages (i.e. not error messages - but more of important messages which are critical for troubleshooting and debugging)
These messages usually point on some beginning of a critical process or a milestone which was passed / failed
It will be great if there was an option in the UI which allowed me to paint/mark these log lines

[2019-06-23 08:58] haelye opened #650 "Better filtering log messages"
Hi,

It will be great if I can create filters on the actual log entries and display logs between certain timestamps and select specific levels - like displaying only info and debug or only info / only errors.. etc..

Currently these kind of filters are only found at the launch level / test methods level however w cannot filter the log entries themselves

It would be great if I could do the followi

[2019-06-23 09:07] haelye opened #651 "Add an option to add custom log levels"
Hi,

In my organisation we are working with a log level called “failtrace” in order to mark the the main test-steps.
Today the ReportPortal refers it like an info level.
I will be great I could create a log levels of my own (an determine their colors) which coherent to my custom log levels of my pytest infra
@DzmitryHumianiuk told me that you're log levels are hard-coded - it will be great if that

[2019-06-23 09:25] haelye opened #652 "Add ability to protect a test result from auto-deletion"
Hi,

Sometimes there are some test results which we want to keep for future comparison - however each test run is deleted by the default after 10 days by the system..
It will be great if the UI would allow me to put a "lock" on a test run which will protect it from deletion for a longer period of time.

It can be set that the lock can protect the test results for 3 months and a week before it is a

[2019-06-24 04:14] rajkumar-cp opened #653 "Execution continues in RP even after it is completed"
**Describe the bug**
My execution got completed in Eclipse but in RP it is still in execution state and at the end of execution the below error message was logged in eclipse console.

Jun 24, 2019 12:39:35 AM com.epam.reportportal.utils.SubscriptionUtils$3 onError
SEVERE: [15] ReportPortal Finish test item execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returne

[2019-06-26 12:48] JustAlexOne commented on #464
Yep, I had the same iisue, adding `compile 'com.epam.reportportal:client-java-core:2.7.1'` helped, thank you!

[2019-06-28 20:55] mcarriga opened #654 "Using Amazon Elasticsearch Service instead of local"
Is it possible to configure RP to use Amazon's Elasticsearch Service instead of installing and hosting ElasticSearch locally as configured in the docker compose file. We currently have that type of ability with MongoDB configuration wherein we can host the MongoDB instance on a different host so just trying to see if we can do the same type of thing with ElasticSearch where we can have it hosted o

[2019-07-01 06:22] tuscias opened #655 "Question: browseable html reports as attachements"
Hi,
I was wondering is it possible to attach html report with multiple folders and static files and make it browseable?
This would be useful when attaching some security, allure, whatever reports to the Launch node.

[2019-07-01 08:29] DzmitryHumianiuk commented on #655
@tuscias hey,
in version 5 will be available launch attachment, it means you can attach file by file to the root of launch object.
it will be pretty similar, like you have it for test case (see attachment tab).

But the option of displaying individual files, with folders and subfolders, shown as a single page - probably not the best option.
This turns the attachment into a file system browser.
But

[2019-07-02 07:34] vadzimPliuta opened #656 "Report portal: There is no escaping in the field with current step details"
**Describe the bug**
If test scenario use script as part of any step, the script is executed on details page(find an attachment with an example): 

[Example](https://rptportal.copyright.com/ui/#spr/launches/all%7Cpage.page=1&page.size=50&page.sort=start_time,number%2CDESC/5d1a489424aa9a0001f88b7d%7Cpage.page=1&page.size=50&filter.eq.has_childs=false&filter.in.status=FAILED%2CINTERRUPTED&filter.in.

[2019-07-03 15:59] KarneeKarnay opened #657 "Question: Custom XML"
Currently I generate a cucumber xml output at the end of my tests, that I then amend, to include some more information. Such as the tags on a tests.

Can reportportal handle non-default junit xml reports?

Also is there a way to filter by different elements in an xml file? Currently my tests are broken down by scenario, but I'd really like to see them broken by feature and then scenario.

[2019-07-04 13:29] jhelbling commented on #633
добавьте sysctl -w vm.max_map_count=262144 и  будет счастье

[2019-07-10 00:25] npopov-d3 commented on #618
can we get this fixed sooner, not in the next major version please? No idea when 5.0 will be out...

[2019-07-10 20:12] KunalShokeen432 opened #658 "Multiple lanuches generated in RP for single suite execution"
I have created a basic project for TestNg + Maven + RP.It is integrated successfully and I am able to see the launches in my RP for test suite execution.

The issue is when i execute my testng.xml with RP listener two launches are generated in RP with the latest one always in 'pending' state and with no data.

I don't have multiple suites in my xml i.e

The first launch is successful with correct

[2019-07-10 20:42] naddison commented on #451
Is there any update to this? This seems like a huge oversight to consider skipped tests a failure.

[2019-07-11 07:20] KunalShokeen432 commented on #658
Can anyone please help with this ?

[2019-07-11 11:24] KunalShokeen432 commented on #6
@DzmitryHumianiuk I have written below snippet in 'BeforeSuite' for setting launch name in reportporttal.properties.
PropertiesConfiguration conf = new PropertiesConfiguration("src/main/resources/reportportal.properties");
			conf.setProperty("rp.launch", "Kunal");
			conf.save();
It is set successfully but after Reportportal listener is initialized in suite.xml file.
Is there a way to set it prio

[2019-07-11 17:11] arpit94 commented on #312
@DzmitryHumianiuk Hi,

Lets say we have a jenkins job which runs for a day or more.
Can we have slack integrations, or an hourly(or any suitable timings/num of testscases) report on slack for failures, so that the developer can start working on bugs and won't have to check the portal again and again for new bugs.

Or if not slack, some other kind of notification system.

[2019-07-11 20:42] DzmitryHumianiuk commented on #312
@arpit94 sounds like a case for slack integrations, but pretty custom integration.
There are several requests for slack integration, and we will definitely start it one day, but following our general priority.
Since it open source, you can send us a PR with integration.
Our request payed customization, so we can take it into implementation with the highest priority.

[2019-07-11 20:47] arpit94 commented on #312
Thanks @DzmitryHumianiuk,
I would love to contribute for the same.

[2019-07-12 10:06] IrinaBucsa opened #659 "The defect type description is overwritten for Launches"
**The bug**
Hello.
I am running some tests written in C#, using nUnit and SpecFlow. The run is started from TeamCity (I don't know if that is relevant), with debug mode = false.
While the test suite is still running, if I take a look at the failed tests the defect type description is exactly what I am sending from code.
After the whole test suite is finished, RP is misteriously changing de defect

[2019-07-12 11:26] pallavkrishna opened #660 "Unable to download reportal Portal"
i am new to docker ,following https://reportportal.io/docs/Deploy-ReportPortal installation process in my machine
when enter commend ( docker-compose -p reportportal up -d --force-recreate) in commend prompt unable to download the following services
Recreating 67026f506180_reportportal_registry_1 ...
Recreating 55a7465903fb_reportportal_gateway_1  ...
and find the error message from console

ERROR

[2019-07-12 19:31] nvborisenko commented on #659
Bug, agent is not a friend with auto-analizer.
https://github.com/reportportal/agent-net-specflow/blob/0f3cc67d9723de1f69b50babdcc6d7caf762bb47/src/ReportPortal.SpecFlowPlugin/ReportPortalHooks.cs#L248
Agent should not assign issue here. Please move to agent-net-specflow repo and assign to me or @aliaksandbasau.

[2019-07-12 19:50] nvborisenko commented on #659
@IrinaBucsa this behavior should be fixed in `ReportPortal.SpecFlow 2.1.0` package. Please verify.
@aliaksandrbasau please take this issue on your hands, I might be unavailable.

[2019-07-13 12:16] DzmitryHumianiuk commented on #6
@iKozzz can you comment on above as well?

[2019-07-13 15:30] psubrambe commented on #574
ya it is working

[2019-07-13 15:30] #574 closed

[2019-07-13 16:56] psubrambe commented on #582
it is working now .We need to have more memory allocated to docker in system

[2019-07-13 16:56] #582 closed

[2019-07-15 08:48] DzmitryHumianiuk commented on #654
we started it here
https://github.com/reportportal/kubernetes/tree/v5_services/reportportal

config, where we will use Amazon DB, Amazon Balancer and Amazon Elastic

[2019-07-15 13:51] DzmitryHumianiuk commented on #451
@naddison will be in v5. out of the box.

[2019-07-15 14:23] evjlobanova commented on #658
@Yumfriez Could you please help with an issue

[2019-07-15 22:47] ehaelyon opened #661 "RP Launches do not terminate upon SIGKILL of the test execution"
Hi,
It seems like the launches status remain In-Progress when I kill my pytest test run
It looks like there is no timeout which is defined for the launch to understand that its connection with pytest handler is gone - I kill my local test run from the PyCharm, the launch will keep continue forever until I finish it manually
...

The RP UI should know when a test is terminated by force and automati

[2019-07-16 12:03] gkalnytskyi commented on #660
And somewhat related question, when can we expect the final ReportPortal 5 version to be available?

[2019-07-16 22:07] naddison commented on #626
*Bump*, plain text credentials in a payload is already a huge web security 101. At least even base64 encoding them is better than nothing.

What makes plain text passwords and usernames go from bad 101 to *this is reallllly bad* they are being passed as query params! These will show up in *any* logger along the path of traffic.

Can someone please comment and tell me this is changed/fixed in V5?

[2019-07-16 22:14] goodbomb commented on #626
This is a HUUUUGE problem. How did anyone think this was an acceptable approach for authentication? This is the worst possible way authentication could be implemented. We went ahead and started using ReportPortal because it looked like an amazing out-of-the-box solution, but after getting everything set up and deployed, we hooked up Active Directory only to notice that not only were credentials be

[2019-07-16 22:41] nami-varthakavi commented on #626
This is a massive risk to all of the people hooking on to report portal by making their credentials out in public traffic. This will be like a BIGGG Noooo to not hook on to Report portal.
Please fix this asap!!!!!!

[2019-07-17 10:27] mohdsgithub commented on #6
You can achieve using Environment variables. Its working fine for me

[2019-07-17 10:33] mohdsgithub commented on #6
Create environment variables or pass the value from command line. I am passing it from maven command:
mvn -U -fn -Dsurefire.suiteXmlFiles=D:\testng\webdriver\singleTest.xml **-Drp.launch=MOH** **-Drp.enable=true** clean test

[2019-07-17 19:15] KunalShokeen432 commented on #658
Just an update over this,Reportportal listener entry is in testng.xml file only.
Strange is multiple launches are created when running testng.xml directly(via right click -> run as testng suite).
But, when building project via maven it is working fine and creating only one launch.

[2019-07-17 19:32] KunalShokeen432 commented on #6
@mohdsgithub Great thanks it works for me too. As it seems, it will override the values present in reportportal.properties if provided via command line ? :)

[2019-07-17 19:41] KunalShokeen432 opened #663 "Reportportal with Selenium Grid"
This is not an issue. Just an understanding I need before integrating ReportPortal with Selenium Grid for parallel execution on different machines.

i.e...
If we have a host machine(from where execution is triggered and ReportPortal is hosted) and parallel execution takes place on multiple machines(nodes) via Selenium grid.

After execution does Reportportal create a single launch only on host for

[2019-07-17 19:49] iKozzz commented on #6
we came up with custom runner so we can play with properties prior to ReportPortal.listener start

[2019-07-18 19:01] alnhk opened #664 "v5 reportportal "Authorization successful" yet "bad credential""
After we deployed reportportal (branch = v5_services) to k8s , we are not able to login to UI using username =superadmin and password=erebus, below is the exception stack captured as per uat, is there anything to correct? we prepared first time using v5_service, and yes, we are only using rabbitmq, postgres, reportportal (analyzer, index, ui, authorization,api,migration)

We could see that log of

[2019-07-18 19:06] alnhk commented on #664
@DzmitryHumianiuk : Please advise ^^^

[2019-07-18 20:28] DzmitryHumianiuk commented on #664
We need help of Aleh Belausau here

[2019-07-18 20:36] DzmitryHumianiuk commented on #626
No worries guys.
Will take as priority zero tomorrow

[2019-07-18 21:41] goodbomb commented on #626
Much appreciated @DzmitryHumianiuk !

[2019-07-19 09:32] DzmitryHumianiuk commented on #626
## **`Resolution:Fixed`**

@stephanemartin @naddison @goodbomb @nami-varthakavi fixed in version 5.
Also will be added to v4 (it will be last and final release for v4)

Now login/pass  transmitted in request body, rather than in URL.
it also will not appear in docker logs after it.

you can double check UI at https://beta.demo.reportportal.io/ (beta-beta-v5 rollout).
compose for v5 available here:

[2019-07-19 11:10] mohdshahab commented on #6
awesome!!
Also I stored 'rp.enable' parameter value passed from command line. This will enable us to decide whether to send screen shot attachment to RP or not in case of test failure

[2019-07-19 12:57] bharadwaj-pendyala commented on #383
This would be a game changer for reportportal.

[2019-07-19 20:13] goodbomb commented on #626
Thanks for the quick turnaround @DzmitryHumianiuk !

[2019-07-19 20:32] KunalShokeen432 commented on #6
Can anyone of you also look at the issue tagged with RP usage with Selenium Grid.

[2019-07-19 20:34] KunalShokeen432 commented on #663
Can anyone please help with this ?

[2019-07-20 05:47] mohdshahab commented on #6
I am using RP with my selenium testng framework.
What exactly r u looking for

[2019-07-20 21:35] rplevka commented on #663
@KunalShokeen432 I believe this is a question to
https://github.com/reportportal/agent-java-testNG
as this depends on the individual agent's implementation.

I'm not testNG agent user so I can answer this.

[2019-07-20 21:40] rplevka commented on #644
We use this workaround, but it makes the "history strip" for individual test cases quite messy, since it will show you all launches with no regards to the tags you use.

[2019-07-21 12:27] ehaelyon opened #665 "Add file size and name near attachments"
Hi,

It will be very helpful if I could have the size of the attached file and its name.
This feature can be very useful for our organisation as it will help us understand the data growth in some files that we upload

I think that the name and size should be displayed in the 'Attachments' area under the file and also if you put the cursor on the attachment icon in the log line

Thanks,

[2019-07-22 04:50] tusharkhoche opened #666 "Multiple trend-lines in a single widget"
Multiple trend-lines in a single widget – Most of the widgets currently have a single trend-line and X – axis being the launch number. Currently there is no way to have 2 trend-lines for different launches for a same project. It would be great to have this feature.

https://reportportal.slack.com/archives/C2GTJTTNH/p1563633003010100?thread_ts=1563441347.304900&cid=C2GTJTTNH

[2019-07-22 04:52] tusharkhoche opened #667 "Apply multiple filters in a widget"
Apply multiple filters in a widget – Currently we can apply only 1 filter in a widget. Currently it is not  possible to have a checkbox instead of a radio button so that multiple filters can be applied in a widget.

https://reportportal.slack.com/archives/C2GTJTTNH/p1563633003010100?thread_ts=1563441347.304900&cid=C2GTJTTNH

[2019-07-22 08:12] jainriteshkumar17 opened #668 "integration of report portal with readyapi"
Hi Everyone,

I want to integrate ready api with repot portal please note Ready API not soap UI.

I have defined the properties as needed at the project level in ready API but npt getting the report in report portal can anyone help me with this.

[2019-07-22 19:48] abasau commented on #659
@nvborisenko Could you please elaborate on why we shouldn't set Defect? Is it because auto-analyzer only works if it's empty? As for me, it would be a disadvantage not to fill Defect messages. It would mean that we won't be able to see error messages right from the summary view and we would have to drill in to see them.
I am curious why it wasn't a issue before. And what was throwing TargetInvocat

[2019-07-23 09:12] sandy170889 opened #669 "Dashboard setup failure on Windows Docker"
Hi All,
Even after multiple attempts I’m not able to setup reportportal dashboard. Could you please help me to debug the root-cause and help with the dashboard setup.
Here is the high level progress:
•    Docker setup - Pre-requisite for Dashboard :
     o    Docker is successfully setup.
     o    I’ve tried installing ngnix webserver and it worked fine.
     o    Docker Version: 17.03.1-ce

[2019-07-23 11:09] KunalShokeen432 commented on #663
@rplevka Hi Roman,as you mentioned if it is totally dependent on the agent type(testNg) then just for reference if we are using TestNg + Extent/Allure then all nodes executions are collated in a single report on host.
Shall i consider with Reportportal it will be collated in single launch on host itself ?

[2019-07-23 13:40] DzmitryHumianiuk commented on #577
@Ashraf-Ali-aa idea, described by you above, will be the strategic direction for RPv6

[2019-07-23 14:33] KunalShokeen432 commented on #663
@avarabyeu It will be executed on different machines(windows/linux) server with one of them being host.

My query was : Will reportportal(is up on host) will collate all the results of executions(on different nodes) in single launch ?

[2019-07-23 15:53] DzmitryHumianiuk commented on #669
@Yumfriez plz take a look

[2019-07-24 03:10] ds12will commented on #523
@DariaTl  what was the fix for mongodb changes

[2019-07-24 09:19] Yumfriez commented on #669
1) Mongo volumes cannot be mounted on the external Windows 10 filesystem, so you should replace
![image](https://user-images.githubusercontent.com/31598109/61779892-2975c200-ae0a-11e9-9171-4abda2e0f1aa.png)
with
![image](https://user-images.githubusercontent.com/31598109/61780072-7e193d00-ae0a-11e9-8beb-843a15367d34.png)
and also add this statement in the end of the docker-compose.yml:
![image](ht

[2019-07-24 11:07] rplevka commented on #663
@KunalShokeen432

Given the information you provided - yes, it's the "host" which communicates with report portal.
I'd recommend to give report portal a try (quickly set it up using docker-compose) and see.

[2019-07-24 11:15] rplevka commented on #610
I would just like to upvote the `d3.js` feature. That would be really cool!
Anyway, the grafana-styled dashboard would do as well. I'm particularly interested in visualizing data based on the test data (test tags, statuses, etc.) as I it looks like that currently we're just able to make charts out of the launch metadata (launch tags, launch names, total passed/failed/skipped counts).

[2019-07-24 14:20] DzmitryHumianiuk commented on #610
@rplevka agree with you.

we have an idea for future releases, which will follow grafana style to build widgets.

**Step 1.** Define query to launches to narrow down initial scope  (e.g. `SELECT launches WHERE tag IN ('Paris','London')`)

**Step2.** (optional) Define query for test case level (e.g. `SELECT tests WHERE tag.feature='Feature1'`)

**Step3.** Select output visualization style. Add grou

[2019-07-24 15:25] ds12will commented on #669
@Yumfriez - thanks!

I do have a really dumb question how do I define a volume on the virtual machine docker technically runs under in windows 10?

[2019-07-24 15:38] DzmitryHumianiuk commented on #663
@KunalShokeen432 most likely **"yes"**, it will be one launch (based on your explanation).

Separate you multiply launches, this depend on how your runner handles multi-threading.
It doesn't related to SeleniumGrid at all.
TestNG runner is used, so it only depends how multi-threading organized in it.

In case if it will be multi-launches. then:

**Option1:** call merge request via API, send launch

[2019-07-24 16:12] Yumfriez commented on #669
@ds12will You can either specify path in the VM or just define a relative path like:

someservice:
   image: someimage:1.0
   volumes:
          - **./folder/anotherfolder**:/path/in/the/docker/container
If your Docker runs in the VM, folder will be created in it relatively to the docker-compose.yml file

[2019-07-25 07:28] #453 closed

[2019-07-25 07:29] #457 closed

[2019-07-25 07:32] #606 closed

[2019-07-25 08:17] stephanemartin commented on #626
@all Thanks !

[2019-07-25 09:13] rsvoboda commented on #511
@evjlobanova can you link related PRs ?

[2019-07-25 09:14] evjlobanova commented on #526
*Launch logs* (containeers logs)
*As a User* I can attached logs and attachments to a launch.
*So that* other user and I can see additional information that belongs to all items in the launch.
*For that* I should open necessary launch and choose which attachment I want to look through.

![image](https://user-images.githubusercontent.com/30413511/61861628-0237f700-aed5-11e9-9505-36811ff5a11e.png)
!

[2019-07-25 09:16] evjlobanova commented on #526
The feature will be available in beta version 5.0

[2019-07-25 09:17] dgur commented on #526
yeey!

[2019-07-25 09:17] dgur commented on #526
When is beta version 5.0 is planned to be released?

[2019-07-25 09:18] evjlobanova commented on #444
#526
Close as a duplicate

[2019-07-25 09:18] #444 closed

[2019-07-25 09:20] evjlobanova commented on #526
This or next week. But it will be a beta version so that we do not recommend to use this unstable version for production use.

[2019-07-25 09:29] evjlobanova commented on #451
The feature will be available in the beta release of version 5.

## Reporting
If a user sends a launch status on the finish, the system should use a received status.
In case of status hasn`t been sent, the system calculates status based on the rule:
"at least one step isn`t Passed, a launch is failed"
**API**
request
Launch controller PUT/{projectName}/launch/{launchId}/finish
[code]

[2019-07-25 09:29] #451 closed

[2019-07-25 09:30] evjlobanova commented on #571
#451

[2019-07-25 09:30] #571 closed

[2019-07-25 09:32] dgur commented on #583
any update on it?

[2019-07-25 09:47] evjlobanova opened #670 "Force Finish for children in case parent is finished"
## Description
**As a User** I can  finish launch ( or item ) with necessary status;
 **So that** the system uses this status is a final one (for statistics). 
 **For that** I should send appropriate request on launch/item finish;

**SCENARIOS**

Glossary
 Launch = launch
 Suite/Test = parent
 Step = child
 All test items = Suites, Tests, Steps
![image](https://user-images.githubusercontent.com/30

[2019-07-25 09:48] evjlobanova commented on #670
The feature will be available in the beta release of version 5.0.

[2019-07-25 09:48] #670 closed

[2019-07-25 10:01] evjlobanova opened #671 "Possibility to report test items with code reference (location in code)"
## Description
 **As a User** I view test code reference in ReportPortal and can easily copy  from RP
 **So that**  I can quickly find needed test case f.e. in IDF Idea. 
 **For that**  I should go on:
 - Step view and open test editor
 - Log view and open Item Detail tab

## Reporting via API
request
Test itemm controller
POST/{projectName}/item
[code]

Available for JAVA agents

![image](https:/

[2019-07-25 10:02] evjlobanova commented on #671
Will be available in the beta release of version 5.

[2019-07-25 10:13] evjlobanova opened #672 "Possibility to change test item status"
## Description
**As a user** I want to change the status of the test item (step).
 **So that** the statistic of the parent (test, suite, launch) items should be re-calculating.
 **For that** I should change test item on Step level
![image](https://user-images.githubusercontent.com/30413511/61866647-3663e580-aede-11e9-829a-6d325a4b74bf.png)

Add possibility to change status from:
 - From Passed to

[2019-07-25 10:14] evjlobanova commented on #672
In the beta release of version 5 will be available this functionality on via API, in final version UI will be ready as well.

[2019-07-25 10:19] evjlobanova commented on #348
## Description
**As a User** I watch [Sauce Labs|https://saucelabs.com/] video of test execution on the test log view.
 **So that** I can quickly find the test failure  without reading RP logs.
 **For that** I should:
 1. Configure integration with Sauce Labs (project) by filling fields: User name (text field), Asses token (text field)
 2. Run Tests with attributes:  SLID:XXXX  (where key is "SLID

[2019-07-25 10:19] #348 closed

[2019-07-25 10:29] evjlobanova opened #673 "Pattern Analysis"
## Description
**As a Admin and Project Manager** I create pattern rules (based on regex or string patterns) in the system and switch on pattern analysis.
**So that**  the system will search test items with "To investigated", which contains known patterns in error logs automatically, and add pattern names to test items.
**For that:**
Admin/PM comes to the Project Settings > Pattern-Analysis, creat

[2019-07-25 10:30] evjlobanova commented on #673
Will be available in beta version 5

[2019-07-25 10:30] #673 closed

[2019-07-25 11:21] DzmitryHumianiuk opened #674 "[FR] Release lock"
### aka Pruning strategies

Have possibility to lock for deletion launch(group of launches).
This will give possibility to store finalized executions for particular build/release, and save it from deletion. At the same time, when the rest of the data/launches will be deleted automatically.
So later any type of audit checks can have the data available.

[2019-07-25 11:21] DzmitryHumianiuk commented on #511
@rsvoboda there were various improvements around data cleaning.
majority of them was completed during fixes for data cleaning for our prod instance.
Most of them were about more robust data cleaning.

@rsvoboda do i understand you correctly, that you are looking for capabilities to lock some launches/results for deletion?

if yes, we will introduce **Release Lock functionality.** #674

[2019-07-25 11:29] DzmitryHumianiuk commented on #511
## resolution: reopen

has correlation with #674
but should be implemented separately.

**idea:**
at project config page add tag, which will be used to identify launches, which should be ignored during deletion.

[2019-07-25 11:30] rsvoboda commented on #511
Thanks for the details, release lock is what I had in my mind too

[2019-07-25 11:35] DzmitryHumianiuk commented on #511
@rsvoboda then do you need any possibility to mark launches, that should not be deleted?
or the main goal for request is not possibility to lock specific status for specific release/build?

[2019-07-25 11:42] rsvoboda commented on #511
I had in mind to mark launches, that should not be deleted

[2019-07-25 11:53] DzmitryHumianiuk commented on #526
@Yumfriez do we have static method in `client-java` to attach file to launch?

[2019-07-25 12:13] evjlobanova commented on #564
Will be available in beta release of version 5

[2019-07-25 12:14] evjlobanova commented on #522
Will be available in the beta release of version 5

[2019-07-25 12:17] evjlobanova commented on #618
Will be available in the beta release of version 5

[2019-07-25 12:30] #671 closed

[2019-07-25 12:49] #522 closed

[2019-07-25 12:53] DzmitryHumianiuk commented on #583
@dgur decided to implement possibility for UI to read credentials from URL.
most likely will be a part of 5.2 or 6.0 version

[2019-07-25 14:37] ihar-kahadouski commented on #526
We have.
https://github.com/reportportal/client-java/blob/9c32e5ccf3424a4aec15dda44ffa089f71e8d0aa/src/main/java/com/epam/reportportal/service/ReportPortal.java#L201

[2019-07-25 15:14] DzmitryHumianiuk commented on #526
@dgur `emitLaunchLog(...)`

[2019-07-25 15:45] DzmitryHumianiuk commented on #606
@heilwood @Invictum in version 5 you just can send it as Markdown, and it will work as a charm.

`!!!MARKDOWN_MODE!!!` will be deprecated.

[2019-07-25 15:57] evjlobanova commented on #618
https://github.com/reportportal/service-ui/pull/1607
https://github.com/reportportal/service-api/pull/772

[2019-07-25 16:28] #526 closed

[2019-07-25 16:36] #626 closed

[2019-07-25 16:38] #618 closed

[2019-07-25 16:41] DzmitryHumianiuk commented on #597
@MrHobbsT @Oldsouldier refactored and supposed to be fixed.
fix will be in `v5 RC` (aka v5 beta)

if still occuries, please open new in next milestone
https://github.com/reportportal/reportportal/milestone/24

[2019-07-25 16:41] #597 closed

[2019-07-25 16:46] DzmitryHumianiuk commented on #564
Email configuration moved under Plugins

![image](https://user-images.githubusercontent.com/11332788/61892653-f0764400-af14-11e9-802c-70352fb1d6a4.png)

[2019-07-25 16:46] #564 closed

[2019-07-25 16:51] #542 closed

[2019-07-25 16:56] DzmitryHumianiuk commented on #486
https://github.com/reportportal/reportportal/issues/673

[2019-07-25 17:02] DzmitryHumianiuk commented on #486
Try patterns.
Open new request if enhancements required.

[2019-07-25 17:02] #486 closed

[2019-07-27 12:10] nvborisenko commented on #671
Would it be better to send this location info as user defined test attributes? It seems this property is a part of request model, so API will be broken if we need to add more attributes like this. For instance it would be nice to see the line number in code file where test is located. To support it API is going to be changed.
If API takes these attributes in map object, we don't require to update

[2019-07-30 16:09] DzmitryHumianiuk commented on #605
no response.
closed

[2019-07-30 16:09] #605 closed

[2019-07-30 16:28] DzmitryHumianiuk commented on #362
https://github.com/reportportal/kubernetes

[2019-07-30 16:58] DzmitryHumianiuk commented on #39
Swagger updated in 5.0 RC

[2019-07-30 17:04] #481 closed

[2019-07-30 17:05] #490 closed

[2019-07-30 17:05] #563 closed

[2019-07-30 17:05] #639 closed

[2019-07-30 17:05] #418 closed

[2019-07-30 17:06] #362 closed

[2019-07-30 17:06] #275 closed

[2019-07-30 17:06] DzmitryHumianiuk commented on #41
## Resolution: implemented

[2019-07-30 17:06] #41 closed

[2019-07-31 13:53] RPgitHubTestUser opened #675 "Cumulative trend chart. Widget based on attributes (tags)"
**DESCRIPTION**
**As a User** I can view the trend of latest statistics for the different releases and history of executions of chosen release.
**So that** I can understand the overall stability of different releases.
**For that** I should:

- create new widget Cumulative trend chart.
- add appropriate configurations:
- choose filter
- choose attribute for the first level
- if it is needed, choose

[2019-07-31 14:02] #675 closed

[2019-08-01 07:12] Kira-Lappo opened #676 "[v5bug] Unnessassery scroll bar in a list of projects"
Horizontal scrollbar appears in the list of projects.

1. Click on project button
1. Dropdown appears with the list of projects.

**Expected**: it's enough space for name of projects, no scrollbar should be inside of dropdown
**Actual**: scrollbar appears at mouse over the dropdown element.

![image](https://user-images.githubusercontent.com/11411852/62272680-45014e00-b444-11e9-9de0-449e6c6f76c0.p

[2019-08-01 07:17] Kira-Lappo opened #677 "[v5bug] Incorrect error message for incorrect user credetials"
User see non-informational message at entering incorrect credentials.

1. Navigate to login page.
1. Input incorrect credentials.

Expected: User sees "Incorrect username or password" messages
Actual: User sees "An error occurred while connecting to server: Unclassified error [null]"

![image](https://user-images.githubusercontent.com/11411852/62273065-497a3680-b445-11e9-9ea8-7ac17a875347.png)

 -

[2019-08-01 11:41] RPgitHubTestUser commented on #676
@Kira-Lappo I suppose you are using browser scale less than 90%
![image](https://user-images.githubusercontent.com/22913350/62290600-6117e600-b46a-11e9-80f0-799fcd9d9460.png)
Try to change scale to 100%

[2019-08-01 13:17] RPgitHubTestUser commented on #677
Fixed

[2019-08-01 13:17] #677 closed

[2019-08-01 15:48] RPgitHubTestUser commented on #652
@haelye you can configure a period for saving logs and screenshots in the Settings
![image](https://user-images.githubusercontent.com/22913350/62307767-dbf1f880-b48c-11e9-8522-fbb782f2f06b.png)
Does it help you?

[2019-08-01 19:42] ehaelyon commented on #652
Hi @RPgitHubTestUser (I'm @haelye - I have another github user)
I am familiar with this option - however, this configuration is done on the project itself and in my use-case I don't want to keep all my launches for 6 months or forever - I want to be able to mark a certain launch and protect it from being deleted after that period of time

If I will apply your the project-level configuration on a p

[2019-08-01 20:37] ehaelyon opened #678 "Issue with v1/dn_personal/item API request[v5bug]"
Hi,
I think that there is an issue with the POST of `v1/dn_personal/item` API - It seems like it cannot find any launch id even if it exists
Here is the launch info from the `/v1/{projectName}/launch/{launchId}` API request
[code]
as you can see the id of the launch is 7
Here is the result when I try to create a test suite under the launch with the API request `v1/dn_personal/item`
[code]

[2019-08-02 06:30] DzmitryHumianiuk commented on #678
@ehaelyon try to send requests with `uuid` instead of `id`.
Not a straight forward approach :)

We plan to update it

[2019-08-02 08:51] Kira-Lappo commented on #676
@RPgitHubTestUser in google chrome I have 100% scale, in yandex-browser I have 100% scale and 16 font size, but having the issue in both of them.
May be my system interface scaling affects projects dropdown, idk really...

[2019-08-02 08:51] Kira-Lappo commented on #676
@RPgitHubTestUser here are my settings
![image](https://user-images.githubusercontent.com/11411852/62357505-e60f0800-b51b-11e9-9b88-46d7900ad3b5.png)

[2019-08-02 09:07] DzmitryHumianiuk commented on #678
@Eden Haelyon this is not obvious way to report data.
works as desired, but really hard to understand at the first look.

*We plan to refactor it before 5.0 final.*

*the idea is next:* we moving all reporting from synchronous controllers to complete ashync.
Since reported item in async mode is not guaranteed to be recorded in DB in runtime, it will go to the queue (RabbitMQ). And API threads will

[2019-08-02 09:08] Kira-Lappo commented on #676
@RPgitHubTestUser  yep, I set `size of text` to 225 % and scrollbar disappeared
Seems like it is a rare issue for specific system settings

[2019-08-02 12:30] RPgitHubTestUser commented on #676
Could I close this issue?

[2019-08-02 12:39] Kira-Lappo commented on #676
I think so. If it becomes a problem, users will open another bug.

[2019-08-02 12:39] #676 closed

[2019-08-02 12:41] farhaanfsk opened #679 "Error occurs when we execute scripts from DEV server"
**Describe the bug**
 [15] ReportPortal execution error
[code]
**Expected behavior**
should display the launch in report portal

**Screenshots**
If applicable

**Versions:**
 - OS, Browser, windows 8
 - Version of RP
Current version: Analysis Service: 4.3.0; API Service: 4.3.11; Index Service: 4.2.0; Jira Service: 4.3.0; Rally Service: 4.3.0; EPAM Authorization Service: 4.2.1; Service UI: 4.3.7;

[2019-08-02 13:04] DzmitryHumianiuk commented on #679
@farhaanfsk can you ping rp instance from your Dev server?
looks like it's just unreachable from particular env.

[2019-08-02 15:51] evjlobanova opened #680 "Plugin system. Upload plugin/ Configure plugin/ Update plugin/ Uninstal plugin"
You can integrate ReportPortal with different external systems:
- Jira
- Rally
- Sauce Labs #348 (here you can find description for Saucelabse integration)
- Saml (will be implemented in version 5.0 Final)

## Upload plugin
**As a Admin** I can add new  plugins to ReportPortal;
**So that** I can extend the functionality of the application;
**For that** I should:

- come on Admin> Plugin
- click on

[2019-08-02 20:37] cold1111 opened #681 "coldparadise"
hi i swith from ally to horde and i have all ally mounts pvp titles pls fix it thx
...

**Expected behavior**
...

**Screenshots**
If applicable

**Versions:**
 - OS, Browser
 - Version of RP [find it under Login form, copy as is]

[2019-08-02 21:05] DzmitryHumianiuk commented on #681
@cold1111 could you please be more specific with details?

[2019-08-04 17:04] cold1111 opened #682 "coldparadise #2"
hi i swap from ally to forde pay 500 mps , after this my mage can teleport to ally stormwind ,ironforge , use only ally mounts , pvp titles, medalion of the aliance instand of the horde...i make a ticket in  1 mint metaxa come try to help me, swap me back to ally and horde after  i notice i lost half on my mounts (mounts with pvp tokents and more)where 156-158 now i have 85,lost exalted reputation

[2019-08-05 13:05] DzmitryHumianiuk commented on #681
resolution: closed.

[2019-08-05 13:05] #681 closed

[2019-08-05 13:46] #680 closed

[2019-08-05 13:47] ChitraLekhaBHeemana opened #683 "Hashicorp Consul Web UI and API access vuln-High Vuln"
Noticed "Hashicorp Consul Web UI and API access vuln 8500/tcp"  Vulns found with recent Scan.

[2019-08-05 13:53] Legionivo commented on #682
Hello @cold1111, support team is here. Thank you very much for contacting us. We will do our best in order to help you.
In order to identify that this ticket is really submitted by you, could you please attach login password of your account, written on a piece of paper which you're holding in front of mirror?

Thank you very much @cold1111

[2019-08-05 14:57] DzmitryHumianiuk commented on #683
@ChitraLekhaBHeemana default deployment config is not meant to be production ready.
It is demo setup, which has port opened by default, in order to simplify troubleshooting.

Production deployment should have 8500 port closed.

AND
Consul is relevant for v4 version.
V5 of ReportPortal will not have Consul any more.

Does it make sense?

[2019-08-05 15:14] cold1111 commented on #682
i wont add my password!

[2019-08-05 20:17] Legionivo commented on #682
Hello again @cold1111, following our strict policies unfortunately I have to say that without this information our support team will not be able to identify you as real account owner.
Account is going to be completely blocked until the real owner will not contact us via support ticket and will not pay penalty.
Please use the following ticket number in all further communications - #loh9emmnt.
Thank

[2019-08-05 20:50] maluyvova opened #684 "Field 'startTime' should not be null"
**Describe the bug**
...
22:01:17.437 [main] DEBUG io.github.bonigarcia.wdm.BrowserManager - Creating instance of class io.github.bonigarcia.wdm.ChromeDriverManager
22:01:17.693 [rp-io-0] ERROR com.epam.reportportal.service.Launch - [18] ReportPortal execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 400
Status message: Bad Request
Erro

[2019-08-05 21:28] cold1111 commented on #682
do what you have to do block, ban if u have the tools, servar owner or gms in game will never ask  for password so pls dont write here thx for understanding

[2019-08-05 22:14] nvborisenko commented on #682
@cold1111 you wrote to incorrect support channel, please verify it. This thread is not related to gaming.

[2019-08-05 22:54] cold1111 commented on #682
ok i withdraw my words

[2019-08-06 09:25] DzmitryHumianiuk commented on #684
@maluyvova do you work with v5 of RP?

[2019-08-06 10:55] rupamchakraborty commented on #684
@DzmitryHumianiuk -  I am also facing the same problem, though mine is Nunit Report Portal.  Please check image attached below.
I'm using Nunit - 3.12 ,  ReportPortal.Nunit - 3.7.7  along with NunitConsole - 3.8  Nuget pkg

Please suggest a way forward

![image](https://user-images.githubusercontent.com/27431386/62534330-850e6980-b866-11e9-903c-b60e7b68e03d.png)

[2019-08-06 12:00] maluyvova commented on #684
@DzmitryHumianiuk yes I'm using v5 of RP

[2019-08-06 12:03] nvborisenko commented on #684
API interface is broken in v5. The `start_time` property was renamed to `startTime`. The same for `end_time`. I guess all agents are affected, that's weird.

I am as agent/client contributor don't know what is the best way how to upgrade packages and make it backward compatible in silent mode.

[2019-08-06 12:13] nvborisenko commented on #684
Is it time to introduce `api/v2`?

[2019-08-06 14:00] KunalShokeen432 commented on #591
Can we host reporportal on other port than 8080 ?
Please help .

[2019-08-06 14:07] arunkumar-muthusamy commented on #591
yes... in the below example, reportportal UI/API is exposed in port 4444. Its port forwarding.

[code]

When you do `$ docker ps` , you can see the port forwarding. Remember, ReportPortal will user 8080 internally b/w services (containers). which you don't really need to worry.

[code]

[2019-08-06 15:40] KunalShokeen432 opened #685 "Reportportal - Results not getting displayed in launches section when RP is hosted on AWS"
Initially,when RP was hosted on a local VM(linux server) and port forwarded on host(windows) it was accessible and results were pushed into launches section successfully.

i.e reportportal.properties was correct(i.e uuid,projectname,endpoint)

Once,reportportal was hosted(deployed) on AWS server,I am able to access the same on certain Ip address on host machine but no data is getting pushed into l

[2019-08-06 16:21] KunalShokeen432 commented on #685
Overall,results are not getting pushed when RP instance is hosted on AWS.
Can anyone please help with this ?

[2019-08-06 16:43] KunalShokeen432 commented on #663
@DzmitryHumianiuk Hi,can you please help with below issue as well :
https://github.com/reportportal/reportportal/issues/685

Overall,when RP instance is hosted on AWS, test results are not getting pushed into launches section of RP.

Thanks !

[2019-08-06 18:50] KunalShokeen432 commented on #591
@arunkumar-muthusamy Can you also help with https://github.com/reportportal/reportportal/issues/685 ?

Thanks !

[2019-08-06 19:16] arunkumar-muthusamy commented on #685
I don't think its something related to hosting in AWS. If you UI is coming up, it means, everything went well in your setup.

First thing you have to check is, see if you can able access the API endpoint (rp.endpoint) form where you are running your test. I would recommend `telnet  3.212.83.87 8080`. Might be some firewall blocks which is preventing your test to send results to RP.

[2019-08-06 22:52] maluyvova commented on #684
@DzmitryHumianiuk  @nvborisenko  any workaround?

[2019-08-07 08:44] vlinsw commented on #684
I also encountered this problem, how to solve it?

[2019-08-07 15:38] DzmitryHumianiuk commented on #683
## Resolution: hide exposed ports

**v4**
- [ ] hide exposed ports in docker-compose

**v5**
- [x] consul removed
- [ ] hide ports for elastic, rabbitMQ, etc.

[2019-08-07 15:44] z41 opened #686 "[v5bug] Postgres issue on Windows10"
**Describe the bug**
if you try to use a default docker-compose.yml on Windows10, you'll face a known issue with Postgres:

https://github.com/docker-library/postgres/issues/435

Using a named volume is a known workaround. Nothing about this in documentation. I think it worth adding something

**Desktop (please complete the following information):**
Windows10

[2019-08-07 15:51] DzmitryHumianiuk commented on #682
@cold1111
After a long discussion, we think that if you have such a problem - then you should not play this game.
We just want you to have a happy life, you spend time learning, find a partner, have beautiful babies, drove to nature and walked with the dog.
Finally, learn how to program and become a good test automation engineer, and contribute into ReportPortal

P.s. Wrong channel.
This github or

[2019-08-07 15:51] #682 closed

[2019-08-07 15:52] DzmitryHumianiuk commented on #684
@maluyvova @rupamchakraborty @nvborisenko @vlinsw

v5 beta access opened for review of ui and functionality, which will be available soon.
As i mentioned in Slack, **agents will be updated to v5, once we have finalize Api for v5 reporting.**

2 dedicated persons conduct performance testing and improvements for async reporting in v5 right now. There was few last-minute changes in v5, that's why we

[2019-08-07 15:57] DzmitryHumianiuk commented on #678
@ehaelyon see #684

[2019-08-07 16:51] maluyvova commented on #684
@DzmitryHumianiuk that's fine, but on official ReportPortal website you provided how to install V5 which is not working at this moment, can anyone as an alternative provide instruction on how to install V4?

[2019-08-07 17:00] KunalShokeen432 commented on #685
With release of 5.0Beta RP,it was deployed on remote and on my local VM it was a previous version.
So all dependencies were relative to prev version of RP.
Once updated,it is working fine.

Before closing this,can anyone tell me when results are not getting pushed in RP why it does not show any error in console ?
How would someone know the error code etc.Are there any logs for the same and where a

[2019-08-07 18:15] dagansandler commented on #684
I'm not really sure I understand. If async controllers are under API/v2, why does v1 need to change? That's a weird decision that is going to make it impossible to upgrade without service interruption.
Since you guys are providing RP as SaaS as well, I'm not sure how you intend to upgrade without interference.... A simple roadmap or explanation would help here...

To clarify what I mean - imagine

[2019-08-07 18:18] DzmitryHumianiuk commented on #684
@maluyvova do the same, just use v4-based `docker-compose.yml`
https://github.com/reportportal/reportportal/blob/0a3f91a9f69d89605e0d6d4cf0305a82a188b453/docker-compose.yml

Will update documentation accordingly.

thank you

[2019-08-07 18:23] DzmitryHumianiuk commented on #684
@dagansandler i agree with you statement.
That's why we don't release v5 api specifications.

we will brainstorm how to make this smooth.

[2019-08-07 18:42] DzmitryHumianiuk commented on #685
@KunalShokeen432 agents for v5 are not released yet.

v4 agents are not compatible with v5 API yet.
work in progress.

[2019-08-07 18:43] DzmitryHumianiuk commented on #685
@KunalShokeen432 watch issue here: https://github.com/reportportal/reportportal/issues/684

[2019-08-07 18:43] #685 closed

[2019-08-07 21:08] DzmitryHumianiuk commented on #679
@farhaanfsk up

[2019-08-07 21:09] ryparker opened #687 "[v5bug] undefined backend 'backend-api`"
**Describe the bug**
As a Mac user
And I've used the readme curl to download the most recent `docker-compose.yml`
When I `docker-compose up`
And j00Q finishes loading
Then I see repeating errors and the app never finishes startup

Error logs:
[code]

[2019-08-07 21:41] DzmitryHumianiuk commented on #686
thank you, will be added into v5 installation on Win

[2019-08-07 21:47] #669 closed

[2019-08-07 21:50] DzmitryHumianiuk commented on #667
@tusharkhoche multiply filters can have controversial conditions.

What's the reason to have selected 2 or more filters, instead of creation one filter, which can fit multiply?

[2019-08-07 21:54] DzmitryHumianiuk commented on #661
@ehaelyon RP should receive `FinishLaunchRQ`, in order to finish launch on UI.
If process killed, then no one sends it to server.

In project settings you can find `Launch inactivity timeout`
minimal = 1h

![image](https://user-images.githubusercontent.com/11332788/62660559-05bc8b00-b977-11e9-8732-7e7ef73fe79c.png)

![image](https://user-images.githubusercontent.com/11332788/62660575-110fb680-b977

[2019-08-07 21:55] DzmitryHumianiuk commented on #660
@gkalnytskyi 2-3 months.

[2019-08-07 21:56] DzmitryHumianiuk commented on #660
@pallavkrishna docker hub can be restricted in your organization.

[2019-08-07 21:57] DzmitryHumianiuk commented on #668
@jainriteshkumar17 we have quite small group of ReadyAPI users.
you can find them in slack for some help

[2019-08-07 22:01] DzmitryHumianiuk commented on #658
@KunalShokeen432 it might be a issue of IDE, where you call `run as testng suite`.

if it works fine thru maven, then there is no issue with RP agent.

[2019-08-07 22:01] #658 closed

[2019-08-07 22:04] DzmitryHumianiuk commented on #657
@KarneeKarnay RP can import only standard xunit format.
all custom files should be imported with a custom approach.

for that case, we propose to implement own parser, which will read file and send http requests to RP with data.

Didn't get the idea behind the question

[2019-08-07 22:06] DzmitryHumianiuk commented on #653
@rajkumar-cp all in logs:
`Error Message: Finish test item is not allowed. Test item '5d0f353fb9d8210001e4fc3d' has descendants with 'IN_PROGRESS' status.`

you have to many test items still running at the moment of finalization.

try to find out why they are still in progress at the moment, when finalization of execution made by test runner.

p.s.
in version 5 we will stop all descendants automat

[2019-08-07 22:06] #653 closed

[2019-08-07 22:09] DzmitryHumianiuk commented on #652
@ehaelyon #674 is your case.
and #511

closing as duplicate.
follow mentioned items for discussion

[2019-08-07 22:09] #652 closed

[2019-08-07 22:10] DzmitryHumianiuk commented on #651
good request.
will put it in plans.

[2019-08-07 22:14] DzmitryHumianiuk commented on #649
for reference
https://stackoverflow.com/questions/35465557/how-to-apply-color-in-markdown

[2019-08-08 08:18] jainriteshkumar17 commented on #668
Can you share slack link

[2019-08-08 09:54] z41 commented on #678
Same issue with wdio5 integration. It uses a fork https://github.com/BorisOsipov/reportportal-js-client instead of official client (https://github.com/reportportal/client-javascript) for some reason.
Will this be fixed in Report portal api? Or should be client fixed as well?

[2019-08-08 11:11] DzmitryHumianiuk commented on #668
@jainriteshkumar17 find it at http://reportportal.io
in header.

[2019-08-08 11:28] z41 commented on #678
Please, ignore the above. I was suggested to use beta-versions of wdio plugin / service where all is fixed:

"wdio-reportportal-reporter": "5.1.0-beta",
"wdio-reportportal-service": "5.1.0-beta"

[2019-08-08 14:19] pondrejk opened #688 "Implement sticky tagging"
**Describe the solution you'd like**

If a test result was assigned a defect type in a previous launch and it fails in the current launch with the same problem, it is likely that the defect type is the same as before. With sticky option enabled the defect type would be inherited from the previous launch if the result is the same.

**Is your feature request related to a problem? Please describe.**

[2019-08-08 14:22] pondrejk commented on #688
just realized there is "send effect to" button which is great, but even better would be to do it automatically if the result is the same (possibly as an optional checkbox)

[2019-08-08 15:51] DzmitryHumianiuk commented on #678
#684

[2019-08-08 16:13] DzmitryHumianiuk commented on #688
@pondrejk we have Auto-Analysis, which is ML based for this.
'Sticky issue' implemented via boost ratio coefficients for same test case.

give it a try.

[2019-08-08 18:37] kingages opened #689 "Qst: My RF test cases are passed but should be failed"
Hi,
I'm new in using ReportPoratl but I've write simple robotframework tests as example for this issue I have.

[code]

First test is passing and second failing but in ReportPortal are both passed.

![image](https://user-images.githubusercontent.com/26042586/62728078-263e2100-ba1b-11e9-9fcc-71ececcfd30e.png)

If I open test that should fail I see this:
![image](https://user-images.githubuserconten

[2019-08-09 07:58] DzmitryHumianiuk commented on #372
verified

[2019-08-09 07:58] #372 closed

[2019-08-09 08:13] DzmitryHumianiuk commented on #672
## Resolution: done

[2019-08-09 08:13] #672 closed

[2019-08-09 08:15] DzmitryHumianiuk commented on #266
https://github.com/reportportal/reportportal/issues/566

[2019-08-09 13:47] SrikanthSunder opened #690 "How to Rename the Launch Name - Each time a iteration number is getting appended"

[2019-08-09 13:49] SrikanthSunder opened #691 "How to make the logs updated in the Old Launch, if we run the script one more time, instead of creating a new launch"

[2019-08-09 13:58] SrikanthSunder commented on #679
@farhaanfsk, just my thought, are you able to access Report Portal UI from that particular Server? Also, once you kick the script, try visualizing the behavior in the Report Portal UI, seems like the launch file is getting affected in the middle of script run.

[2019-08-09 14:16] DzmitryHumianiuk commented on #691
refer to
### Re-run functionality:
https://github.com/reportportal/reportportal/issues/363

[2019-08-09 14:16] #691 closed

[2019-08-09 16:17] DzmitryHumianiuk commented on #632
@RuggeriLuca what are the server responses during last `for` loop?
server should give your error description, why it can't finish item.

[2019-08-09 16:19] DzmitryHumianiuk commented on #632
@RuggeriLuca for the v4 we also have restriction: status change for completed tests are not allowed.
this is removed in v5, which is in beta at the moment.

but still, in v4, there was a chance to bring test case back to IN_PROGRESS and finish with proper status.

[2019-08-09 16:20] DzmitryHumianiuk commented on #632
may have reference with https://github.com/reportportal/reportportal/issues/672

[2019-08-11 07:39] ehaelyon commented on #649
Hi @DzmitryHumianiuk  - Thank you for reply!
(I'm @haelye - I have another GitHub user)
In my request, I wanted to perform all log entries marking via the UI and not create the log lines with colors by the logger.
The idea is to allow dynamic and temporal marking for special log entries (which are referred as special by the engineer which performs the troubleshooting)

[2019-08-12 09:26] rajanvyas commented on #664
Hi, we are also getting the same issue, while deploying it to k8s, migration is marked as "COMPLETED" and "NO CHANGE".

Any solution or pointers suggested?

[2019-08-12 10:33] DzmitryHumianiuk commented on #664
@AlehB  @avarabyeu

[2019-08-12 10:36] AlehB commented on #664
Dear @alnhk ,

[2019-08-12 10:42] #664 closed

[2019-08-12 10:43] AlehB commented on #664
Hi @alnhk @rajanvyas,
Please use https://github.com/reportportal/kubernetes/tree/master/reportportal/v5/v5 instead of v5_services if you are not going to use AWS RDS and AWS ES
You need to check all K8s services logs to see if there any issues. It hard to guess what exactly may be a cause.
@rajanvyas , could you please try to login in Chrom with Google Chrome developer console open on Network tab,

[2019-08-12 13:28] DzmitryHumianiuk commented on #649
Now got you point:

Highlight specific log line (change color), by clicking on it.

[2019-08-12 13:30] DzmitryHumianiuk commented on #578
for reference:
https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

@lilacharviv can be close?

[2019-08-12 13:31] DzmitryHumianiuk commented on #578
plz re-open new, if still actual

[2019-08-12 13:31] #578 closed

[2019-08-12 13:32] DzmitryHumianiuk commented on #690
@SrikanthSunder can you specify more details?

[2019-08-12 13:35] DzmitryHumianiuk commented on #645
@Yumfriez can you please verify this example works as desired?
https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

[2019-08-12 14:21] ehaelyon commented on #649
Exactly!
it will be awesome if on each log entry I will have like a small button that I can click on and it will open me a small color choice window so I can mark the entire line with any color that I want
for example:
![Screen Shot 2019-08-12 at 17 19 56](https://user-images.githubusercontent.com/37264867/62872166-8ee01300-bd25-11e9-9cc0-1906c0faccc7.png)

[2019-08-12 14:30] DzmitryHumianiuk commented on #559
verified

[2019-08-12 14:30] #559 closed

[2019-08-12 14:35] DzmitryHumianiuk commented on #400
@talgreen1 implemented.
available with in v5

[2019-08-12 14:35] #400 closed

[2019-08-12 14:36] DzmitryHumianiuk commented on #400
equal to #672

[2019-08-13 08:49] ehaelyon commented on #661
Hi,
Thanks a lot! I figured that few days after opening the bug and forgot to close it
Thanks for your reply! :)

[2019-08-13 08:49] #661 closed

[2019-08-13 13:01] ghost opened #692 "Issue in reportportal V5 Login"
Hi All,

I have successfully installed the report portal v5 in Mac Laptop  (High Sierra ,Version 10.13.6).When I am running first time after installation then it is working fine but when I am resting the docker or Mac machine after that unable to sign in or Login screen is not loading .I have tested this issue in multiple mac machine .

Need a solution of it ASAP.

[2019-08-13 19:15] nkthota opened #693 "Report Portal with load balancer"
**Describe the solution you'd like**
... Install report portal with a load balancer?

**Is your feature request related to a problem? Please describe.**
... Install Web Server with Load Balancing capabilities and have Database and File Server hosted separately.

If we have that inbuild can you please direct me to the setup documentation.

[2019-08-13 20:50] DzmitryHumianiuk commented on #693
@nkthota
https://github.com/reportportal/kubernetes/tree/master/reportportal/v5/v5-cloud-services

does this help?
it has db as a service, FS as service, and NGINX

[2019-08-13 22:37] nkthota commented on #693
Hi Dzmitry,

we don't have an AWS environment. Is it possible to set up the whole report portal set up behind a load balancer and have API and UI services running under 2 different Linux boxes and database on a separate box? consider more like a typical loa balanced application environment.

[2019-08-14 08:11] DzmitryHumianiuk commented on #693
@nkthota yes, it is possible.
That’s how we run our production instance, which serves 200+ projects.

Docker-compose example has pretty simple setup, worth for Demo&Play purposes.
Production ready setup should be covered with LB and made a fault-tolerant, by duplicating microservices as API.
Services are stateless, so you can scale it.

Do we have out-of-the-box config for production: NO.
Does it

[2019-08-14 09:02] avarabyeu commented on #693
@nkthota
Basically, there are two options:
1) Easiest go with Kubernetes and grab our Helm chart so Kubernetes does all load balancing logic for you.
2) If you have just two separate VMs you can install any load balancer and configure it manually since you now IPs. The following services are stateless so the load can be balanced: api,uat,index,ui

Hope this helps. Please, close the ticket if that

[2019-08-14 09:43] SrikanthSunder commented on #690
@DzmitryHumianiuk  For instance, if i trigger a run under Project with Launch Name as Integration, when each run is made i'm getting Integration#1, Integration#2, Integration#3 etc.,
Is there any way to override this lauch name with Customized name and also, how to remove the iteration numbers?

[2019-08-14 11:00] DzmitryHumianiuk commented on #690
@SrikanthSunder you can define name for launch in properties file, prior to execution start.

You can also bypass command line Params for java based clients as `-Drp.launch=xxx` this will override name from property file.
You also can edit parameters in properties file by Jenkins pre-step, simply wringing launch name into it.

In version 5 we will allow to edit launch name on UI and by separate AP

[2019-08-14 11:29] kingages commented on #689
Nobody can help me?

[2019-08-14 14:35] nkthota commented on #693
@DzmitryHumianiuk would you be able to share any recommended prod configuration? It would be helpful if we can have any.

@avarabyeu We are not yet in AWS and we would definitely go with Kubernetes once we move on AWS. We are looking for an interim PROD instance where we need to support 20 projects. Also is it ok to have ES on a single node while other services are load-balanced?

Thanks

[2019-08-15 13:30] amartanwar42 opened #694 "ERROR com.epam.reportportal.service.Launch - [18] ReportPortal execution error"
Hi Team,
I am getting below exception. Can somebody please help me.

com.epam.reportportal.exception.InternalReportPortalClientException: Report portal is not functioning correctly. Response is not json
	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:88)
	at com.epam.reportportal.service.ReportPortalErrorHandler.handle(ReportPortalErrorHandler.j

[2019-08-15 14:36] rplevka commented on #534
I think this happens because consul data are stored on a persistent mount.
Anytime we restart report portal services using `--force-recreate`, we get new containers with new ids so the consul data are no longer valid, yet it tries to reach those old containers.

I have no experience with consul and anything else, but it looks like this is the culprit

[2019-08-16 12:02] psubrambe opened #696 "Integration Guidance required for Cypress with ReportPortal"
agent-js-cypress by using the node package we able to integrate with Cypress framework but there is no documentation in ReportPortal.io site

[2019-08-17 18:50] amartanwar42 commented on #694
I have already verified below points:
properties are correct.
Report portal is up and running and i am able to login.

[2019-08-20 19:37] spartanglady opened #697 "Ability to upload and view code coverage"
**Describe the solution you'd like**
... Is there any chance or plans to have the ability to add code coverage to report portal and track the history of it. ?

**Is your feature request related to a problem? Please describe.**
...

[2019-08-21 07:54] Aynur11 opened #698 "The link of test steps just reload current page"
Repro steps:
1. Open some lauch
2. Open some Suite
3. Try to open any Test

Expected: Test steps will be opened correctly

Actual: The current page just will be reloaded

Workaround:
Click the link of current launch that is on the header (All > MyLaunchName > ...). Then all test step links work correctly.
Sometimes reset helps.

Notes:
The problem is reproduced not all the time.

Versions:
 - Wind

[2019-08-21 11:49] amartanwar42 commented on #694
I updated docker and it started working. Later i restarted my system and again i m getting same exception. Can some body please help me.

[2019-08-21 12:15] amartanwar42 commented on #694
Identified issue.
ReportPortal was running on port localhost:8080 and jenkins was also running on 0.0.0.0:8080.

I was able to access Jenkins  via localhost:8080 when report portal was not running.
Since both can be accessed via localhost:8080 i was getting above exception (Assumption).

I stopped jenkins service and report portal started working.

ps -ef | grep jenkins
kill -9 id

Hope it helps o

[2019-08-22 12:45] digaetan commented on #689
Hi,

I just introduced the usage of Report Portal in a large project in my company and Robot Framework is our main TA Framework, we use below versions and I have not faced the same issue as you:
robotframework==3.1.1
robotframework-seleniumlibrary==3.0.0
robotframework-async==1.0.3
robotframework-requests==0.5.0
robotframework-reportportal-ng==1.0.4.9
reportportal-client==3.2.0  # via robotframewo

[2019-08-22 15:47] kingages commented on #689
Thank you. I tried robotframework-seleniumlibrary==3.0.0 and it's working with it. I also tried 3.1.0 and with this version it's not working.

[2019-08-22 20:59] nvborisenko commented on #659
Seems we have different understanding about `defect` property of test. @DzmitryHumianiuk agent reported defect of test item, and then auto-analyzer overrode it. Do you have recommendations for agents what is "safe" for reporting and what is not.
From my point of view user should be stay in context of test framework. If agent sets defect, autoanalyzer shouldn't touch this test.

[2019-08-22 22:07] DzmitryHumianiuk commented on #659
@nvborisenko by default, AA consider for analysis only testItems which has `To Investigate` Defect and `null` as comment.
if you don't ask him any different, in request parameters.

`Null` in comments means that `Defect` object doesn't exists, till the moment it is populated in DB.
Even Defect `To investigate` + comment:`` is a defect. But with type `TI` and empty comment.

AA should not override

[2019-08-22 22:15] DzmitryHumianiuk commented on #659
@abasau there is another way to show error lines at test cases list view:
add description with markdown as (remove underscores):
[code]

![image](https://user-images.githubusercontent.com/11332788/63553500-97e09980-c508-11e9-9538-2346d95f3534.png)

![image](https://user-images.githubusercontent.com/11332788/63553549-c2325700-c508-11e9-953b-c6ec6e855100.png)

[2019-08-23 06:40] moinuddin14 commented on #692
You need to provide more details for anyone to be able to help you. Check in chrome dev tools and see what errors you are getting, or try to clear the cache and try again to login, try on different browser and see if its the same problem.

[2019-08-23 06:42] moinuddin14 commented on #696
You have the configuration details when you login to reportportal after setup for most programming languages types. like Java, C#, Node etc., take the node settings and place it in your configuration file of the framework

[2019-08-23 06:47] moinuddin14 commented on #694
You can also update the port on which ReportPortal UI is starting in the docker compose file from 8080 to other port and start docker-compose up -d

[2019-08-23 16:22] johnharnabi commented on #690
Hello. Can I ask where a "properties file" you a talking about is?
I use WebdriverIo, and it has all configs in a one place, like:

  reportPortalClientConfig: {
    token: '00000000-0000-0000-0000-00000000000',
    endpoint: 'https://reportportal-url/api/v1',
    launch: 'launch_name',
    project: 'project_name',
    mode: 'DEFAULT',
    debug: false,
    description: "Launch description text",

[2019-08-26 12:18] abotalov opened #699 "Test Framework Integration docs are out-of-date"
**Describe the bug**
Test framework integration docs (https://reportportal.io/docs) are out-of-date, at least for Ruby.

**Expected behavior**
These docs are either removed or are synced from agent documentation (e.g. from READMEs).

[2019-08-26 14:31] evjlobanova commented on #698
@Aynur11 we have fixed this bug in version 5

[2019-08-26 14:33] evjlobanova commented on #697
@spartanglady  We are thinking about test plan coverage and requirements coverage.
And could you please describe your idea?
What do you mean under history?
What is the main business need?
Who is the main users for this feature?

[2019-08-27 18:22] byip-ujet opened #865 "Cannot Post Bug to JIRA"
**Describe the bug**
On the test failure screen, we attempt to Post Issue but receive an error
`Error occurred: {"error_code":40302,"message":"Impossible interact with external system. org.codehaus.jettison.json.JSONException: A JSONObject text must begin with '' at character 1 of <html>\n\n<head>\n \n\n\n\n\n\n\n <title>Unauthorized (401)</title>\n \n\n\n\n\n\n\n<script type=\"text/javascript\" >

[2019-08-28 11:44] goblinmaks commented on #684
@DzmitryHumianiuk When we can expect work finalization for V5 api ?
@nvborisenko Maybe you can deploy prerelease version with alpha/beta prefix of ReportPortalClient package. Looks like need to change only Names of DataMember in DTOs of client. As workaround peoples can manually install correspond version of ReportPortalClient for V5 api.

[2019-08-28 12:17] psubrambe commented on #696
I tried it is not working

[2019-08-30 22:25] mdilovar commented on #363
Is there updated ETA for this functionality ?

[2019-09-02 11:07] kingages opened #701 "Report portal don't work correctly with library robotframework 3.1 and higher"
**Describe the bug**
Hi,
I'm using ReportPoratl but I've write simple robotframework tests as example for this issue I have.

[code]
First test is passing and second failing but in ReportPortal are both passed.

https://user-images.githubusercontent.com/26042586/62728078-263e2100-ba1b-11e9-9fcc-71ececcfd30e.png

If I open test that should fail I see this:
https://user-images.githubusercontent.com/

[2019-09-02 11:07] #689 closed

[2019-09-02 13:37] DzmitryHumianiuk commented on #701
@abotalov can you take a look?

[2019-09-02 17:32] abotalov commented on #701
I'm responsible for a Ruby client. This is related to Python.

[2019-09-03 11:07] Nkperiwal commented on #615
I also have a similar problem. Please check the question I raised in StackOverflow [here](https://stackoverflow.com/questions/56582665/handling-auto-assign-of-project-and-members-role-for-ldap-users-in-report-portal).
Please help.

[2019-09-04 16:51] DzmitryHumianiuk commented on #363
@mdilovar it already in. but not tested properly.
both for version 4 and version 5.

**In version 4.x**
put flag `rp.rerun=true` in property file or add `-Drp.rerun=true` in command line.
Agent will start process and create temporary file and temporary folder with `launchID`.
If other thread will find this file, it will reuse shared ID of launch to post results into it.
Results will be stored the

[2019-09-04 20:07] #693 closed

[2019-09-04 20:08] nkthota opened #702 "Install report portal on OpenShift"
can we install report portal on openshift? If so can you please point me to the installation instructions.

[2019-09-04 20:17] DzmitryHumianiuk commented on #693
@nkthota did you find solution?

[2019-09-04 23:58] nkthota commented on #693
no. I see no activity so I have closed the thread. Also, we are asked to check if Report Portal is supported by OpenShift instead of Docker. I have created a separate issue requesting help in that direction.

[2019-09-05 06:42] kingages commented on #701
So may I ask you what does it mean? It won't be fixed?

[2019-09-05 15:06] DzmitryHumianiuk commented on #701
@kingages it will be fixed.
we need to find python contributor for this

[2019-09-09 09:47] ekisielinski opened #704 "Query launches within given time window + launches in progress"
I want to get all launches with specific criteria:

- start time >= date1 && end time <= date2
OR
- start time >= date1 && end time = null (in progress)

Is it possible to do it in one request?

**EDIT:**
Also I cannot create Filter with logic for: **end_time == null**. It says bad request or something.

C#:
`new Filter (FilterOperation.Equals*???*,  "end_time",   null*???*));`

[2019-09-09 11:13] paulopontesm opened #886 "disable`https://..../ui/info`"
I would like to have my server to stop disclosing the version in `https://..../ui/info`.

This also applies to other services like `https://..../api/info` or  `https://..../uat/info`. Should I open an issue in these specific projects?

[2019-09-09 18:57] msgdinesh opened #703 "ReportPortal Exсeption status 406 -REPORTING_ITEM_ALREADY_FINISHED"
![image](https://user-images.githubusercontent.com/50930635/64558078-a8668180-d308-11e9-9315-d43020f08a35.png)

Client version:
 API Service: 4.3.4; Index Service: 4.2.0; Jira Service: 4.3.0; Rally Service: 4.3.0; Authorization Service: 4.2.0; Service UI: 4.3.6;

Tool:
SOAP UI version 5.2.1

Listener Files:
![image](https://user-images.githubusercontent.com/50930635/64558175-ef547700-d308-11e9-8ee

[2019-09-09 19:51] nvborisenko commented on #704
@DzmitryHumianiuk is it possible on API layer?

[2019-09-10 09:39] jonacarvalheiro opened #705 "[v5bug]"
**Describe the bug**
When I update an issue, the following error message appears - Unclassified error ( The given iterable of Id's must not be null).

**To Reproduce**

**Expected behavior**
Defect updates to the new type

**Screenshots**

![image](https://user-images.githubusercontent.com/11489396/64602209-45332880-d3b6-11e9-8da2-42be1aea52e1.png)

**Desktop (please complete the following informa

[2019-09-10 13:48] DzmitryHumianiuk commented on #705
@jonacarvalheiro what was the `service-ui` version?

[2019-09-10 14:21] jonacarvalheiro commented on #705
@DzmitryHumianiuk reportportal/service-ui:5.0.0-BETA-12

[2019-09-10 14:59] DzmitryHumianiuk commented on #704
@ekisielinski @nvborisenko
yes.

**v4**
[code]

**v5**
[code]

In case of **solid range** just linux time timestamps FROM-TO
in case of **dynamic range** `filter.btw.startTime=N;M;T` where
`N` = number of minutes to shift from NOW(), equal to `TO` in range
`M` = number of minutes to shift from NOW(), equal to `FROM` in range
`T` = time zone shift. GMT+3 equals to `+0300`

[2019-09-10 15:02] DzmitryHumianiuk commented on #703
@msgdinesh this might be a specific of SOAP you runner in GIT.

could you please try it against beta version?
at http://beta.demo.reportportal.io
login with github credentials.

beta version has APIv5, which has this constrain removed (i mean, error 406)

[2019-09-11 05:09] dubilyer opened #706 "To provide a possibility to change timezone."
Ability to change a timezone during the installation process or further in reportportal UI.
...

After deploying the docker compose, Report portal always starts with UTC timezone.
When creating a weekly based "launch statistics chart" widget, it shows bar per day of the week (see attached picture). Because of time difference (I located in UTC+3), it moves a part of launches to the previous day bar

[2019-09-11 09:37] DzmitryHumianiuk commented on #705
@jonacarvalheiro fixed. will be available in **5.0.0-BETA-13**

[2019-09-11 09:38] #705 closed

[2019-09-11 10:27] DzmitryHumianiuk commented on #706
@dubilyer i guess, you can manage it by changing time in environment, where report portal deployed.
Server returns data with his TimeZone shift. Since use it from environment.

Will it help?
https://serverfault.com/questions/683605/docker-container-time-timezone-will-not-reflect-changes
https://bobcares.com/blog/change-time-in-docker-container/

[2019-09-11 12:51] dubilyer commented on #706
Thanks for your answer. For both environment I deployed it started with UDC.
I've already checked those links before opening request))

To change timezones in all containers I need to override images (create my own dockerfiles based on each image, and run some additional commands, e.g. install tzdata on alpine and copy a proper zoneinfo file to /etc/timezone). This solution is a problematic one -

[2019-09-11 15:44] arunkumar-muthusamy opened #707 "Bitnary Issue: agent-java-testng is not building correctly with maven from bitnary"
Logged this issue by mistake...

[2019-09-11 16:18] udaygadamsetty opened #708 "how to configure report portal to display JBehave BDD scenarios count instead of steps count"
I tried all the internet but couldn't find a way to display statistics on the reportportal based on jbehave bdd scenarios instead of steps.  I am using report portal jbehave plugin [agent-java-jbehave] v4.2.0. Using ReportPortalViewGenerator from my jbehave runner.
Any help on configuring jbehave or report portal would be highly appreciated.
Thanks in advance.

[2019-09-11 16:23] DzmitryHumianiuk commented on #706
@dubilyer only API service should have correct zone.

[2019-09-11 16:34] DzmitryHumianiuk commented on #708
@udaygadamsetty try Story reporter
https://github.com/reportportal/agent-java-jbehave/blob/master/src/main/java/com/epam/reportportal/jbehave/ReportPortalStoryReporter.java

it misses documentation,
but we plan to focus on all java integrations next months.

[2019-09-11 16:50] udaygadamsetty commented on #708
getting error while using that file
Failed to run story features/TestFeature.feature
org.jbehave.core.model.ExamplesTable$RowNotFound: 1
	at org.jbehave.core.model.ExamplesTable.getRow(ExamplesTable.java:310)
	at com.epam.reportportal.jbehave.JBehaveContext$Examples.getCurrentExampleParams(JBehaveContext.java:187)
	at com.epam.reportportal.jbehave.JBehaveUtils.startStep(JBehaveUtils.java:193)
	at

[2019-09-11 17:07] udaygadamsetty commented on #708
@DzmitryHumianiuk
Other issue I am seeing while using that ReportPortalStoryReporter is that the steps are getting duplicated.
![image](https://user-images.githubusercontent.com/52989311/64718878-ab8a7a80-d48c-11e9-9a50-17b10931d9af.png)

[2019-09-11 18:37] #707 closed

[2019-09-11 19:16] DzmitryHumianiuk commented on #708
@udaygadamsetty that means that you have listener connected 2 times

[2019-09-11 19:56] arunkumar-muthusamy opened #709 "[v5bug] agent-java-testng-5.0.0-BETA-6 with Logback failed to create SUITE & its child"
**Describe the bug**
Java+TestNG+Logback failed to create SUITE and further child entities. I'm running with two threads in TestNG.xml.

I did some digging and here is the reason for failure,
[code]
![image](https://user-images.githubusercontent.com/47788194/64729788-dfc16380-d4ab-11e9-8271-d26ef6822db4.png)

_Note: Launch is created successfully and I can able to see the launch in UI. Screenshots

[2019-09-12 06:11] DzmitryHumianiuk commented on #709
@arunkumar-muthusamy same issue when you run in 1 thread?

[2019-09-12 09:41] nlipkow opened #710 "Sending log reports from external dependency"
We define our steps in another module and include them as a dependency in the module where the cucumber feature are being executed. Is there a smart solution to that problem? Because we want to log and send screenshots which is being done within the steps of the external dependency. Thanks in advance!

[2019-09-13 07:08] nlipkow commented on #710
Thank you for your answer! The steps, including the logging (the `ReportPortalLog4j2Appender`) are "glued" to the starting method to our starting point from an external dependency. I just thought it might cause trouble as the Appender probably won't have the correct `ReportPortal` instance to call its `emitLog()` method. Sorry if I am phrasing my problem incomprehensible.

Or am I understanding so

[2019-09-13 13:29] DzmitryHumianiuk commented on #538
@abasau what's the reason to have Steps and Tests at the same level?
or it is an internal specific of your runner?

[2019-09-14 18:06] abasau commented on #538
@DzmitryHumianiuk This is just a true BDD structure and has numerous benefits:
- RP shows troubleshooting information (logs, screenshots) is scope of failed step. It's more easy to find information relevant to the failure.
- You can have several failing steps and link different issues to different steps, and AA will notice fixed steps or new failing steps (multiple failures pattern).
- Easy to rea

[2019-09-16 08:21] heilwood opened #711 "How to get testItem id (vstest, c#)"
How to find current testItemId, i'm using ReportPortal VStest logger to send items to reportportal, i found example with NUnit.

`
        private void ReportPortalListener_AfterTestStarted(object sender, TestItemStartedEventArgs e)
        {
            e.TestReporter.Log(new ReportPortal.Client.Requests.AddLogItemRequest
            {
                Level = ReportPortal.Client.Models.LogLevel.T

[2019-09-16 08:23] ekisielinski commented on #704
OK, I'll check it soon. Don't close it yet :)

[2019-09-16 12:26] DzmitryHumianiuk commented on #538
@abasau do you see any options to wrap it into [Nested Steps](https://github.com/reportportal/reportportal/issues/275)?

[2019-09-16 16:50] DzmitryHumianiuk commented on #710
@nlipkow right, if you bypass logging to another context, then it doesn't have access to active test structure from agent.
Since appender should know ID of test case, from agent, where he should report.

With version 5 we allow to report data (logs and attachement) even into closed items.
So, you can initiate log posting in dependant method, just pointing it to the right test item ID

make sense?

[2019-09-17 04:06] abasau commented on #538
@DzmitryHumianiuk Nested Steps might partially address the issue (e.g. items 1 and 3 from my previous comment) but won't work if support of "multiple failures" is critical (item 2). It would be very difficult to abandon some feature ("multiple failures") that was very useful in past.

[2019-09-18 06:05] farhaanfsk commented on #679
Hi @DzmitryHumianiuk, Sorry for late reply
I got Request Timeout from DEV Server
from local I got a response though

[2019-09-18 11:09] dubilyer commented on #706
Yes, it's enough. Closing the issue. Thank's a lot for quick support!

[2019-09-18 11:09] #706 closed

[2019-09-18 19:43] DzmitryHumianiuk commented on #679
@farhaanfsk ask you network engineers.
Your instance of RP should be accessible from dev envy as well

[2019-09-19 09:03] strangeman opened #713 "[v5bug] LDAP manager password shouldn't be hashed"
**Describe the bug**
If I set a Manager password in the settings, it stored in DB in the hashed form. Then, during authorization, this password sent to LDAP in the same hashed form, which leads to 'Bad credentials' error, because LDAP waits for the clear password.

Also, if I save LDAP settings twice - it stores hash from password hash, etc.

**Expected behavior**

LDAP Manager password should be

[2019-09-19 10:25] rplevka commented on #610
@DzmitryHumianiuk Hi, is this `RPQL` still a plan?
If so, is there any milestone?

[2019-09-19 10:38] DzmitryHumianiuk commented on #610
@rplevka yes.
We compare the pros and cons of [Antlr](https://www.antlr.org/) and [graphQL](https://graphql.org/)

[2019-09-19 12:52] Priestime opened #714 "Is it possible to specify different rp.project for different Suite Collections (TestNG)"
Is it possible to have different reportportal.properties within the same TestNG Project.

Senario
- We have a single Automation framework (Java + Gradle + TestNG + Selenium) with differnt Products
- When Task A Runs would like the results to be reported agaisnt Project Task A in ReportPortal
- When Task B Runs would like the results to be reported agaisnt Project Task B in ReportPortal
...etc

Cur

[2019-09-19 17:21] scphantm opened #715 "OpenShift/OKD support in Helm charts"
**Describe the bug**
In V4, you had a service called Gateway.  That service doesn't appear to exist in v5.  This is a problem for OKD/OpenShift users.

OKD is geared towards Enterprise installs, not cloud.  Its ingress and security systems are different to deal with enterprise problems.  One of the problems is typically enterprises already have load balance equipment.  So RedHat deprecated the `in

[2019-09-19 18:45] arunkumar-muthusamy commented on #709
@DzmitryHumianiuk ,  Did you get chance to look in to this issue?

[2019-09-20 01:41] ChitraLekhaBHeemana opened #716 "Is there a way , we can monitor Performance of Test Cases/Test Suites"
Are there any widgets for reportportal that can give Performance of Test Cases/Test Suites like Top 10

[2019-09-20 07:39] Priestime commented on #714
Thank you, this is exactly what I was looking for. Greatly appreciative of your reply!

[2019-09-20 07:39] #714 closed

[2019-09-20 12:48] Yumfriez commented on #709
@arunkumar-muthusamy New beta instance version should be released soon. This issue will be fixed. I will acknowledge you when to run your tests again.

[2019-09-23 10:22] evjlobanova commented on #716
@ChitraLekhaBHeemana Hello! Do you want to track test duration?
For now there is no such widget. As a work around you can export launch, and sort items by duration fild.

Anyway, could you please provide some information on this widgets? What should be the base for analysis? Which metrics do you need? Maybe you have a vision how such widget can be look like?

[2019-09-24 14:42] Vonaburt opened #717 "Sometimes launches doesn`t finish"
**Describe the bug**
Some launches look like it doesn`t finish although launches finish in fact.
I tried to find any error in docker API container logs, but find only this:

`Exception in thread "pool-3-thread-1" com.epam.ta.reportportal.exception.ReportPortalException: Impossible interact with external system. There are no analyzer's clients.
        at com.epam.ta.reportportal.commons.validation

[2019-09-24 15:25] arunkumar-muthusamy commented on #702
There is one for Kube. I believe it can quite possibly work for OpenShift with some conversion/tweaks.

[https://github.com/reportportal/kubernetes](https://github.com/reportportal/kubernetes)

[2019-09-24 20:00] nkthota opened #718 "Cannot see logs for JBehave"
Cannot see logs for JBehave. Used the sample project provided in the gitHub.

Failed to run batch
org.jbehave.core.embedder.PerformableTree$SomethingHappened@6f584083: java.lang.AssertionError: Widget response doesn't match to the expected one
Generating reports view to 'C:\Users\x219505\Downloads\example-java-jbehave-master (1)\example-java-jbehave-master\target\jbehave' using formats '[stats, co