[2021-06-18 09:59] evjlobanova opened #1440 "Data Retention Jobs Fixes (Rework retention jobs)"
In version 5.4 we made significant refactoring of our Clean Jobs functionality.
Before - the Clean Jobs were a part of the service-API, and on the different datasets and database volumes causes the significant performance degradation of the ReportPortal, especially the PostgreSQL database on the high data volume.

After - we created a completely new separate high-performance service(service-jobs),

[2021-06-18 09:59] #1440 closed

[2021-06-18 10:40] llgarcia commented on #1417
+1 Mac with M1 + Docker compose running

[2021-06-20 13:19] erenvf opened #1441 "Test Steps Not Displayed in Report Portal When Running Test Cases in Parallel in SoapUI"
**Description:**
When I run test cases in paralel in SoapUI, the names and requests of test steps are not displayed in Report Portal. However; when i run test cases serially, they can be displayed.

**Additional Infos:**
-The property 'rp.reporter.type' has been set as 'test_based' . (Because i wanna see the total number based on test cases not step based.

**Conclusion:**  Is there an issue which

[2021-06-21 12:02] priyankachaturvedi30 commented on #1393
@evjlobanova : Did the team got a chance to review the query stated above?

[2021-06-22 11:50] rameshchandru88 opened #1442 "Highlight Verification Step Pass/Fail with Green/Red Color coding."
As part of a nunint framework, we use ReportPortal to capture the run report for each Test case executed .
Query: Is it possible to highlight or capture the verification steps in a separate report with Color coding as Pass/Fail with Green/Red color.

Expected Solution:

An clear HTML Report with Table of Test case Steps and Step status(Pass/Fail) highlighted in different colors in separate column

[2021-06-22 12:07] rameshchandru88 commented on #1442
Yes, I can control the logging level, but can we have the verification points Pass/Fail status to be highlighted for better understanding of the report(for the management)

[2021-06-22 12:42] mc-marcy commented on #1115
5.4 is released but in the notes is no hint related to this topic here. is it a part of the release or not?

[2021-06-22 14:29] priyankachaturvedi30 commented on #1358
@evjlobanova : I see we released 5.4 a few hours back. :) Just checking, the above fix would be there in 5.4.1 ? When can we expect 5.4.1 to be rolled out?

[2021-06-22 16:43] shiva4983 commented on #1417
+1 I am having the same issue with 5.4.0. Kindly resolve.

[2021-06-22 18:29] Invictum opened #1443 "[v5] Error logs in api service container"
**Describe the bug**
Logs cleanup job error in logs after upgrade from 5.3.3 to 5.4

**To Reproduce**
1. Run RP v5.4 using Docker.
2. Inspect `api` service logs and wait till logs cleanup job to trigger.

**Expected behavior**
No errors related to logs cleanup in the console.

**Additional context**
`api` container tries to trigger logs cleanup job every 3-5 minutes, but always fails with errors i

[2021-06-22 19:05] evjlobanova commented on #1443
@svettsova @irynakozak2

[2021-06-22 19:56] Invictum commented on #1443
Updated description. Job works as expected and the only effect of this issue is errors in a logs.

[2021-06-22 22:46] NLRKUM1 opened #1444 "Started the report portal but not able to login with superadmin credentials [v5] after dataclean up"
**Describe the bug**
A clear and concise description of what the bug is.

Started the reportportal with the command "docker-compose -p reportportal -f docker-compose.yml up -d --force-recreate"
but after data cleanup but now not able to login to the webpage with credentials  superadmin or default credentials or any previously created credentials.
**To Reproduce**

**Expected behavior**
A clear and

[2021-06-23 10:16] priyankachaturvedi30 commented on #1424
@evjlobanova  @MariyaIvanina : Is this a part of 5.4 release that happened yesterday ?

[2021-06-23 10:19] MariyaIvanina commented on #1424
@priyankachaturvedi30 yes, it is the part of 5.4 release. Didn't it work for you?

[2021-06-23 10:22] priyankachaturvedi30 commented on #1424
Just checking...would update you :)

[2021-06-23 10:31] evjlobanova commented on #1443
@pbortnik please describe how it can be fixed

[2021-06-23 11:59] pbortnik commented on #1443
Hi @Invictum,
Yes, there were not removed old job triggers from the database.
You have to options:
1. Pull the newer 5.4.0 version of migrations service again. We've updated it with a script that removes triggers
2. Manually run script on the database from [here](https://github.com/reportportal/migrations/blob/5.4.0/migrations/47_quartz_remove_triggers.up.sql)

[2021-06-23 13:46] Invictum commented on #1443
@pbortnik @evjlobanova
New migration service image did the trick. Thank you!

[2021-06-23 13:46] #1443 closed

[2021-06-23 20:35] DzmitryHumianiuk commented on #1388
@priyankachaturvedi30 for now, the best option will be to have one instance hosted in the cloud, with back-up nodes and database backups.

A fault tolerant capabilities at scale for multi-locations we plan to put as a part of version 6.

[2021-06-24 04:54] bjuric commented on #1052
FYI - Gwen report portal integration has just been released. See: https://github.com/gwen-interpreter/gwen/wiki/Report-Portal-Integration

[2021-06-24 08:04] Drinkor opened #1446 "[v5.4.0] error: migration failed: syntax error at or near "CALL" (column 1) in line 1: CALL fill_attachment_creation_date(); (details: pq: syntax error at or near "CALL")"
**Describe the bug**
migrations failed with error that's why projects are not deleted

error: migration failed: syntax error at or near "CALL" (column 1) in line 1: CALL fill_attachment_creation_date(); (details: pq: syntax error at or near "CALL")

Request URL: /api/v1/project/41
Request Method: DELETE
Status Code: 500 Internal Server Error
{"errorCode":5000,"message":"Unclassified error [SQL [WI

[2021-06-24 11:42] muratyazar opened #1447 "[v5.3.0] Exporting launches doesn't work for LDAP users"
Users who authenticated via LDAP can't export test results from launches page. When selecting an export option from launches page, file can be downloaded but it is empty and not consists any data. The file's size is 0 KB. But we don't encounter this issue  for internal users.

![image](https://user-images.githubusercontent.com/32167896/123257013-4afded80-d4fa-11eb-9c96-b3be174d5900.png)

[2021-06-24 22:15] mchundi opened #1448 "[v5.4.0]Unable to delete launch from UI"
**Describe the bug**
Unable to delete launch from the UI
**To Reproduce**
-select a launch
-click on ACTIONS
-Select DELETE

**Expected behavior**
Launch should be deleted

**Screenshots**

![image](https://user-images.githubusercontent.com/12151944/123339169-f1e48880-d4fe-11eb-9590-1bb08e85bd1a.png)
error response:
{"errorCode":5000,"message":"Unclassified error [org.hibernate.exception.SQLGramma

[2021-06-25 09:16] evjlobanova commented on #1447
@svettsova Valya, could you please recheck this issue?

[2021-06-25 09:18] evjlobanova commented on #1448
Do you use merge for this launch or any other operations?
CC @svettsova

[2021-06-25 09:22] mchundi commented on #1448
No. I do not use any other  operation

[2021-06-25 09:23] evjlobanova commented on #1442
@rameshchandru88 do you try to use Nested Steps for that reasons?
![image](https://user-images.githubusercontent.com/30413511/123402124-4407c700-d55c-11eb-964d-7a0e83929818.png)

[2021-06-25 09:28] evjlobanova commented on #1448
Could you please share the steps for reproducing?

[2021-06-25 09:54] mchundi commented on #1448
Not sure what launch reporting means, but I am seeing this issue after migrating to 5.4.0.
Ran a test after migration and tried to delete it from the UI and through API. Both failed with the same error

[2021-06-25 09:56] evjlobanova commented on #1448
@pbortnik could you please this issue?

@mchundi did you perform migration from 5.3 to 5.4?

[2021-06-25 09:57] mchundi commented on #1448
Yes. Migrated from 5.3.5 to 5.4.0

[2021-06-25 13:24] Drinkor commented on #1446
for history:
The problem was in 10 version of postgresql. Script broke on a step procedure after delete collumn creation_date
update to 12 version fixed this problem

[2021-06-25 13:24] #1446 closed

[2021-06-25 14:14] priyankachaturvedi30 opened #1449 "Launch Name Filter restricted to minimum 3 characters"
I have a launch name which has just 2 characters in it : **UX** .
From all my launches I wanted to filter the above launch - but it says atleast 3 characters required .
![image](https://user-images.githubusercontent.com/50797731/123437758-a65cd800-d5ed-11eb-99bf-5f192f01820e.png)
Can we remove that cap of restricting the launch name to atleast 3 characters?

[2021-06-26 01:36] evjlobanova commented on #1449
This filter is working with an auto-complete so that in order to reduce  DB load, you can see this limitation. We will discuss it.
But for now, you can add to such launches attribute and filter them by attribute 'type: UI' or something

[2021-06-26 01:43] nancychacko commented on #1448
I am seeing a similar problem after upgrading for 5.3.0 to 5.4.0. I am guessing it's tied to the migrations failing. In my db-scripts container, I have the following error when running migration 24:

`20/u deep_merge_statistics_handling (48.16475ms)
21/u deep_merge_retries_fix (85.624515ms)
22/u deep_merge_nested_steps_fix (162.57682ms)
23/u rerun_item_statistics_fix (224.793191ms)
error: migratio

[2021-06-26 02:57] nancychacko commented on #1448
Upgrading my version of postgres got all the migrations to run and now I no longer get all the SQL related errors I was seeing before, including the SQLGrammarException the original poster mentioned.

[2021-06-26 08:38] #1052 closed

[2021-06-28 18:49] mchundi commented on #1448
I am using postgres (PostgreSQL) 12.6

Here are the logs after migration:

**Postgres log**
2021-06-28 18:36:25.557 UTC [1] LOG:  database system is ready to accept connections
2021-06-28 18:39:46.476 UTC [142] ERROR:  column attachment1_.creation_date does not exist at character 487
2021-06-28 18:39:46.476 UTC [142] STATEMENT:  select logs0_.item_id as item_id10_9_0_, logs0_.id as id1_9_0_, logs0

[2021-06-30 07:54] priyankachaturvedi30 commented on #1388
@DzmitryHumianiuk : Thanks for the update.
Regarding the option you suggested about having a cloud-hosted instance, can you help me with few more details so that I can explore that front.  Much Appreciated.

[2021-06-30 08:18] zarashima opened #1450 "[v5.4] Launch URL by UUID still can't be displayed"
Related to this: https://github.com/reportportal/reportportal/issues/1127. When I tried on 5.4 version, ReportPortal shows me the 'Not Found' page

My sample URL: http://reportportal.url/ui/v-key/launches/all/0df442ed-c450-41d4-a2ae-32fae564b385

Can anyone double-check again?

Thanks

[2021-06-30 10:28] YBB8201 opened #1451 "Add the option to go to the last stack trace page from the upper part of the screen"
I would like to have the >> sign on the upper part of the screen. at the moment it is located down below. if it would be in the upper part of the screen it would be easy to move to the last page of the stack trace without the need of scrolling down and click on it

**Is your feature request related to a problem? Please describe.** no
...
![Capture](https://user-images.githubusercontent.com/6633026

[2021-06-30 12:17] evjlobanova commented on #1451
You can use sorting for this reasons
![image](https://user-images.githubusercontent.com/30413511/123958980-82d5bc80-d962-11eb-9af0-9efb4eb645bc.png)

[2021-06-30 12:25] evjlobanova commented on #1450
https://localhost:8080/ui/#project_name/launches/all/UUID

[2021-06-30 12:28] YBB8201 commented on #1451
great.
How can I set *by default*, that the checkbox "log with attachments" is
checked, and trace log is sorted from end to start ?

On Wed, 30 Jun 2021 at 15:18, Yauheniya Labanava ***@***.***>
wrote:

[2021-06-30 13:00] evjlobanova commented on #1451
These options are stored in local storage

[2021-06-30 13:26] DzmitryHumianiuk commented on #1388
@priyankachaturvedi30 it's all about deployment of RP via K8s (https://github.com/reportportal/kubernetes/tree/master/reportportal)
and having Database as a service from cloud-provider.

[2021-06-30 15:54] krishnaPedd opened #1452 "How to customise dashboard widgets."
Hi Team,

i am planning to customise dashboard widget  which has details of last two execution launch details + build version + time took for execution.

can you please let me know how i can customise widgets to display all above data.

Thanks,
Krishna

[2021-06-30 15:57] YBB8201 commented on #1451
Can you be more specific? How to configure it?

בתאריך יום ד׳, 30 ביוני 2021, 16:00, מאת Yauheniya Labanava ‏<
***@***.***>:

[2021-06-30 16:07] krishnaPedd opened #1453 "Unable to edit Dashboard Widgets configuration."
**Describe the bug**
I am trying to edit  Dashboard Widgets configuration but it is showing empty screen instead of displaying config page.
**Expected behavior**
I should see config page as soon as i clicked on edit [button.](url)

**Screenshots**
If applicable
<img width="1440" alt="Screenshot 2021-06-30 at 9 34 56 PM" src="https://user-images.githubusercontent.com/70696677/123994607-2965a000-d9e

[2021-06-30 22:03] muktarhassen opened #1454 "No tests or logs reported after services are restarted with docker-compose"
I had to restart the services and so after the docker containers are restarted, the uuid, project and launch remained the same, but when tests are executed, the launch name appears under Launches in the UI, but clicking into it does not show any of the running tests or logs. I checked the docker-compose logs and I see the test logs appear except they say this:
ssage : Test Item '667829b5-ff9a-4c19

[2021-07-01 04:44] mayuresh49 opened #1455 "The stack trace for failure in case of html snippet for element failure shows that HTML control instead of escaping it or showing as plain text"
`org.openqa.selenium.ElementClickInterceptedException: element click intercepted: Element <input type="checkbox" id="addMeetLink_0" ng-model="interview.addMeetLink" ng-disabled="interview.interview_type !== 'TH_ATS_ONLINE'" class="ng-pristine ng-untouched ng-valid ng-empty"> is not clickable at point (1179, 210). Other element would receive the click: <th ng-if="review_interview.is_google_calender

[2021-07-01 04:45] mayuresh49 commented on #1455
This leads to HTML injection and might be concerning for cloud users.

[2021-07-01 09:49] priyankachaturvedi30 opened #1456 "Issues Observed after upgrade from V5.3.5 to V5.4"
My tests were running on RP setup1 -  V5.3.5 . I took the dump of this data on V5.3.5 and restored it on RP instance for which I had setup2 - V5.4.

Now on my RP setup 2 (V5.4 - which has dump restored from 5.3.5)  i see a few anomalies:
1. After restore when an looked at few of the existing launches, the test steps were missing (which were present in V5.3.5).
![image](https://user-images.githubus

[2021-07-01 09:54] priyankachaturvedi30 commented on #1448
@evjlobanova : I am facing a similar issue on V5.4, where I am unable to delete some launches and unable to delete some specific launches. Trying to investigate more..

[2021-07-01 11:39] pbortnik commented on #1448
Hi, please make sure that your migration to the version 5.4.0 was successful. Verify that the container of 'db-scripts' service was exited with 0 code.
![image](https://user-images.githubusercontent.com/8058828/124118249-cb33ce00-da79-11eb-9912-7352b6886607.png)
Also, if you have connection to your database, check the next query
`select * from schema_migrations;`
The result must be:
![image](https

[2021-07-02 04:07] SavvasLakshmiNagandla commented on #1456
Hi Priyanka,

Can you please let me know detailed steps that you followed to dump the data  from 5.3.5 to  from 5.4.

[2021-07-02 05:57] evjlobanova commented on #1451
You can not set it by default. But both of these parameters are stored in a local  storage for one user session. So that ypu can choose neededoptions first time, and during the session, chosen option will be aplyed

[2021-07-02 08:10] JakubKasprzyk commented on #383
Same here, it would be a nice feature.

[2021-07-02 08:33] zarashima commented on #1450
Got it, my mistake. Thanks @evjlobanova . Close this for now

[2021-07-02 08:33] #1450 closed

[2021-07-02 14:56] Invictum commented on #1456
@priyankachaturvedi30
5.3.5 and 5.4 have different data structure, there is why migration is needed. If you just dumped and restored DB data I'm not sure it will work as expected because of data inconsistency.

[2021-07-04 11:04] op806a opened #1458 "Suites(files) view ability"
Hi,
Is it possible to use suites(files) instead of tests for the main table view, as well as for the widgets?

For Example:
![image](https://user-images.githubusercontent.com/53479796/124382402-eac43400-dccf-11eb-9a3b-9dc262932041.png)

Tnx

[2021-07-05 01:43] sunshine69 opened #1459 "[v5] Unable to use jira plugin"
**Describe the bug**
Unable to use jira plugin

**To Reproduce**

So I have the plugin enabled in version 5.3.4 but not configure it yet so not sure if it works or not. Then I upgrade to 5.4.0 recently, everything seems to work fine.

Today I check the plugin and I can not configure it anymore, every-time I submit the configuration dialog it says `No such file or directory` message (at the bottom

[2021-07-05 07:32] lasithdilshan20 opened #1460 "Merge report portal launchers automatically, which created on the same day"
Hi,

I am using Cypress as our main test framework.

We are doing a couple of executions on the same day (including CI/CD). Then it is creating several launchers with **same name**.
Would you mind letting me know? Is their way to merge launchers automatically (Not manually), **which created on the same day**.

![image](https://user-images.githubusercontent.com/16818367/124434249-45719480-dd91-11eb

[2021-07-05 10:05] priyankachaturvedi30 commented on #1456
@SavvasLakshmiNagandla : Yes, So I just dumped and restored DB data from 5.3.5 onto 5.4 . using the following steps :
![image](https://user-images.githubusercontent.com/50797731/124454809-7f996100-dda6-11eb-8b22-050102dec924.png)

@Invictum : Can you help me with how do I go ahead with migration if I want to upgrade my version?

[2021-07-05 13:41] Invictum commented on #1456
@priyankachaturvedi30
Migration scripts is a part of RP distribution so it will happen automatically when v5.4 will detect old DB structure. The only thing you should to consider is migration time that depends on initial DB size. And I suggest to copy directory with DB before migration just in case.
Refer to https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.4 for deta

[2021-07-05 17:08] Invictum commented on #1460
@lasithdilshan20
Almost all RP ui functionality are available via rest API. So you can create a job that will run once per day, query all the launches for that day and then execute launch merge. It is literally 2 sequential API queries.

[2021-07-05 19:33] DzmitryHumianiuk commented on #944
@vishallanke ReportPortal of version 5.x compatible with EKS and ECS.
But not yet compatible with Fargate and Fargate ECS due to some specifics of realization.

We do plan to adopt it,
but most likely it will come with version starting 6.x

[2021-07-06 04:54] lasithdilshan20 commented on #1460
@Invictum Thanks for the reply. Could you please elaborate?

[2021-07-07 05:06] yodaqua commented on #996
Hi @evjlobanova @DzmitryHumianiuk

Has there been any movement on this issue?

[2021-07-07 05:23] yodaqua commented on #996
Hi @evjlobanova @DzmitryHumianiuk

JIRA cloud integration seems to be working

[2021-07-07 05:47] priyankachaturvedi30 commented on #1456
Sure, I'll try it out once.

[2021-07-07 07:08] evjlobanova commented on #1452
Hello
Info is shown on widgets (axsis, tool tips) cannot be customized.
You can use widgets Cumulative trend chart, Component Health Check, Component Health Check (table widget). These widgets are working  using attributes, and it helps you to see information regarding build number
https://reportportal.io/docs/Cumulative-trend-chart
https://reportportal.io/docs/Component-health-check
https://repor

[2021-07-07 07:08] #1451 closed

[2021-07-07 07:13] evjlobanova commented on #1453
The latest version of Report Portal is 5.4.
Please update to the latest version, and try to reproduce bug

[2021-07-07 07:15] evjlobanova commented on #1454
Which version of report portal do you use?
Which agent and which agent version do you use?

[2021-07-07 07:49] priyankachaturvedi30 opened #1461 "Regarding Downgrade of RP V5.4 to V5.3.5"
@evjlobanova : I observed a few issues recently when I upgraded to RP version 5.4, However, there was an additional upgrade in the version of my automation tool and the version of my chrome browser. I wanted to narrow down the problem and understand the module (RP, Automation or browser upgrade) which introduced the issues for me.
Hence, I wanted to **move back to V5.3.5 from V5.4** for my prod se

[2021-07-07 08:01] evjlobanova commented on #1461
@Cyberglamdring  I guess you can advice something regarding this?

[2021-07-07 08:49] sunshine69 commented on #425
Is there any plan to update the swagger things? I spent like more than an hour to find out that swagger is not correct.
Thanks

[2021-07-07 14:54] dy6wang opened #1462 "Unable to Integrate Auto-Analysis Feature to Project"
Hi,

Currently, I have ensured that the auto-analysis feature was turned on. I have also ran test scenarios multiple times and I have manually analyzed the issues that are labelled "To Investigate". However, it doesn't seem like the auto-analysis feature is working. On the other hand, when I login with GitHub via (https://demo.reportportal.io/ui/#login) and perform the same steps using demo data f

[2021-07-08 07:42] Bakanych opened #1463 "Inconsistent test item type across test agents"
**Describe the bug**
Hi,
I tried to use RP with the different test agents (nunit, specflow, cucumer-js) and found they all report questionable and inconsistent test type information that is stored in `test_item.test_type`.

I wrote simple SQL script to check how test results from different agents are stored:
[code]

That's how it looks like for:
- js-cucumber:
![image](https://user-images.githubus

[2021-07-08 08:06] pbortnik commented on #1164
Hello @nami-varthakavi,
Migration is available only to the 5.0.0 version of reportportal. You need to deploy 5.0.0 version, migrate data, verify that migration was success, upgrade version to the 5.3.1/latest

[2021-07-08 11:28] priyankachaturvedi30 commented on #1461
@Cyberglamdring : Can you help me in this context ?

[2021-07-08 13:14] skmvali opened #1464 "Can we push direct data directly to postgress database running in my local docker container"
Hi ,

I just finished setup for reportal in my local machine using docker . Connected to reportal postgress db instance running in my local.

Is there sample sqls statements, provided to push all data directly from backend instead from UI?

Thanks
vali

[2021-07-08 13:22] Zarkonan commented on #1164
I have same issue with 4 to 5.0.0, migrated every thing except testitem and attachements.

[2021-07-09 08:28] Cyberglamdring commented on #1461
Hello @priyankachaturvedi30,

To deploy 5.3.5, you need to downgrade the database to 5.3.5 by [Migration Service](https://github.com/reportportal/migrations)

0. ❗️Create a backup of your database.

1. Create simple docker-compose:
[code]

2.  Run Service:

[code]

Where `N` = `*.down.sql` scritps from folder [migrations](https://github.com/reportportal/migrations/tree/5.4.0/migrations) installed

[2021-07-09 14:36] priyankachaturvedi30 commented on #1448
There are a few instances on the V5.4 where I am facing few issues like
1. Features/Steps have been Interrupted,
![image](https://user-images.githubusercontent.com/50797731/125094168-a7fbc500-e0f0-11eb-8ab2-65000309e964.png)

2. Not all, but Few of the **steps** got retries even when I did not set re-run as true
![image](https://user-images.githubusercontent.com/50797731/125094731-1e98c280-e0f1-11

[2021-07-11 21:32] HardNorth commented on #1463
@Bakanych Could you please provide an example project for each agent? It's impossible to judge about behaviour without seeing what you are actually doing. Moreover you compare BDD frameworks with standard frameworks that's incorrect on my taste.

[2021-07-12 08:04] xriser commented on #1410
Hi, I am hit the same issue running in kubernetes.
The weird thing, it was working for few hours, and then start failing.
I believe this is something wrong with user credential caching because I see authorization: bearer in the headers for /user route
but there is failing to respond
![image](https://user-images.githubusercontent.com/21225105/125252346-eec00980-e300-11eb-8119-112c4d1ea4d0.png)

![i

[2021-07-12 11:46] YBB8201 opened #1465 "Add link to each Test's attachments in the list of tests"
for example, near "Defect Type" column add additional column called "Attachment" , where you can go to attachments by one click

![Capture](https://user-images.githubusercontent.com/66330263/125282167-bed42e80-e31f-11eb-9ceb-bd8997eec5c8.PNG)

[2021-07-12 11:58] evjlobanova commented on #1465
COuld you please add more details? Why do you need such functionality?

[2021-07-12 14:06] YBB8201 commented on #1465
It will be easier to see the failures details. For examples, logs, screen
shot, video. Will be more convinient

בתאריך יום ב׳, 12 ביולי 2021, 14:58, מאת Yauheniya Labanava ‏<
***@***.***>:

[2021-07-12 14:18] evjlobanova commented on #1465
We do not plan to add such functionality in the version 5, because this view is really heavy for now
In version 6, we are planning to introduce 2 screens view, and this helps you.

For now, you can add info about the error log to the test description. If you are using cloud libraries you also can add a link to attachments to the test description

[2021-07-13 05:49] priyankachaturvedi30 commented on #1448
![image](https://user-images.githubusercontent.com/50797731/125397886-31024d00-e3cc-11eb-9a57-11df97e1acff.png)
I have got value as f

[2021-07-13 16:29] lavanyach-sailo opened #1466 "Need uuid or id for created launch"
I am trying to get uuid or id for created launch but the result uuid is not matching with the report portal api values. I am using java for this scenario.

Getting uuid as Maybe object as below
io.reactivex.internal.operators.maybe.MaybeCache@74babce8

but i am trying to match it with the API calls dont know how to get that value which API returns.
And unable to find any method in java to get laun

[2021-07-14 06:03] lavanyach-sailo commented on #1466
Can I get update on this?

[2021-07-14 08:51] lavanyach-sailo opened #1467 "[v5]Need uuid or id for created launch"
I am trying to get uuid or id for created launch but the result uuid is not matching with the report portal api values. I am using java for this scenario.

Getting uuid as Maybe object as below
io.reactivex.internal.operators.maybe.MaybeCache@74babce8

but i am trying to match it with the API calls dont know how to get that value which API returns.
And unable to find any method in java to get laun

[2021-07-14 08:52] lavanyach-sailo commented on #1466
#1467 opened

[2021-07-14 09:19] hchenxa commented on #383
+1, this will be helpful to get the report notification.

[2021-07-14 09:22] Kanaduchi opened #1468 "[v5] Migration was not happened after upgrading from 5.3 to 5.4"
**Describe the bug**
I upgraded version 5.3 to 5.4 3 days ago. And looks like migration was not happened.

**Problems**
1. I don't see stacktraces in the launches
2. I can't delete any project -
`Unclassified error [SQL [delete from \"public\".\"log\" where \"public\".\"log\".\"project_id\" = ?]; ERROR: column log.project_id does not exist\n  Position: 34]"`
3. In the logs I see a lot of messages

[2021-07-14 15:11] muktarhassen commented on #1454
![reportPortal](https://user-images.githubusercontent.com/25141949/125646297-2b35dce5-1d1b-4c07-b584-ce8978cbbae6.PNG)
 I'm using version 5.4. Here are the containers.  The migration service keeps restarting every minute.

[2021-07-15 09:12] lind-eduard commented on #811
For those who still struggle on windows:
-this worked for me: [docker-compose.txt](https://github.com/reportportal/reportportal/files/6821857/docker-compose.txt)

[2021-07-15 10:15] babantax opened #1469 "Attachments section only are displaying 12 screenshots"
**Describe the bug**
When a test execution has more than 12 screenshots, only first 12 are shown on attachments section.
Im sure all the screenshots were properly saved because I can see them attached on the steps in the log section

**To Reproduce**
Execute a test with more than 12 screenshots

**Expected behavior**
See all the screenshots in the attachments section.

**Screenshots**
![image](htt

[2021-07-16 06:52] priyankachaturvedi30 opened #1470 "Possibility to have Scenario Level Reporting Dashboard"
I have integrated ReportPortal with my BDD framework. The structure is as such when I drill inside the Launch, I see all features, drilling particular feature, I see all the scenarios for that particular feature, and then the steps of that scenario when drilled further.
![image](https://user-images.githubusercontent.com/50797731/125904724-c987a058-2538-45aa-8c55-a05d646d787a.png)

I am interested

[2021-07-16 07:14] evjlobanova commented on #1470
Hello @priyankachaturvedi30
ReportPortal creates widget only on top of step statistics
So the basic answer, no you can not.
You can try to play with API and try to get the needed info.

But we think about this. And we are planning to add such features to version 6

[2021-07-16 10:25] emiride commented on #900
+1 from me as well. This way we could start implementing plugins for ReportPortal on other marketplaces. e.g. we could have reportportal Github action that would subscribe to some events on reportportal and post relevant data to Slack.

[2021-07-16 14:11] DzmitryHumianiuk commented on #900
This is a good idea.
We definitely will consider it for implementation.

[2021-07-16 14:19] DzmitryHumianiuk commented on #1470
Closer to version 6 we plan to have a BDD view widget. Which will represent BDD style of report.
In version 6, a separate BDD style view will be a part of ReportPortal drill-downs.

[2021-07-16 14:22] DzmitryHumianiuk commented on #1164
@Zarkonan please share your logs.

[2021-07-16 14:24] DzmitryHumianiuk commented on #996
@yodaqua that is awesome, if it is true.
team will recheck it.

[2021-07-16 14:30] DzmitryHumianiuk commented on #1358
@priyankachaturvedi30 we will have 5.5 instead.

[2021-07-19 09:53] evjlobanova commented on #1235
We have merged your PR to dev branch,
The feature will be available in 5.6
Now it is on the testing stage, some fixes are required, so our team will take them in the next sprint.

I just was wondering, if you send the second pr regarding the launch attribute value, our team can not find it. Could you please double check it

[2021-07-19 09:59] odubaj commented on #1235
Thank you for merging the feature!

I have not created PRs for other features as currently I do not have the capacity to do so. We can discuss the possible features, but I can create the PRs earliest in the second half of August.

Thanks.

[2021-07-19 12:16] asaflevyz opened #1471 "UI slowness"
We are experiencing UI slowness while trying to display logs of any test for the first time, which takes around 30 seconds.
Once we got the logs displayed, next time the same test logs come instantly.
We are using 5.3.5 with separate server for PostgreSQL.

Thanks.

[2021-07-19 13:45] evjlobanova commented on #1471
@irynakozak2 could you please check?

[2021-07-19 14:12] irynakozak2 commented on #1471
@asaflevyz hello, we know about that problem on version 5.3.5 and on the oldest versions, so we have done with a refactoring database query to display HistoryLine when you open the LogView and expect the slowness. Fix of this issue is planed to release at the 5.5 version.

[2021-07-20 06:13] asaflevyz commented on #1471
We have done all PostgreSQL optimizations but the behavior is the same.
When you expect the release of 5.5?

Thanks.

[2021-07-20 06:20] chgans commented on #1043
I'm using python client, and i pass `is_skipped_an_issue=False` to `ReportPortalService`, yet all the skipped are marked as "To investigate". Am I doing something wrong?

[2021-07-20 06:23] chgans commented on #1043
hmm, just checked the source de: https://github.com/reportportal/client-Python/blob/master/reportportal_client/service.py#L409
and status has to be upper case! :(

[2021-07-20 08:28] #1391 closed

[2021-07-20 08:32] Cyberglamdring commented on #1393
Hello @priyankachaturvedi30,

Our solution has a microservices infrastructure, which means more resiliency than a monolithic system. Currently unable to connect two ReportPortals to one database, but we, as an open-source solution, are moving towards this possibility.

You can implement a labor-intensive solution with synchronization between two databases. Also, in this case, you can create your o

[2021-07-20 08:53] bzsharm opened #1472 "Linux Installation for Report Portal Working Fine But Unable to find any log in the server."
Issue:

After a long struggle report portal was installed successfully in a RedHat Linux Server 7.9 & was able to login into the application.

But we are unable to fetch report portal logs on the server.

Could you please let me know what possibly could be the issue?

[2021-07-20 09:30] nandyQA commented on #930
Any progress with this issue?

[2021-07-20 09:34] nandyQA commented on #811
Any one know how to deal this issue with Linux machine?

[2021-07-20 09:41] nandyQA opened #1473 "ERROR: for db-scripts Container "f8fc57851b09" is unhealthy."
OS - Linux

Logs:
:~$ docker-compose up
_gateway_1 is up-to-date
_jobs_1 is up-to-date
_postgres_1 is up-to-date
_rabbitmq_1 is up-to-date
_uat_1 is up-to-date
_elasticsearch_1 is up-to-date
_minio_1 is up-to-date
_ui_1 is up-to-date
_index_1 is up-to-date
_analyzer_1 is up-to-date
analyzer_train_1 is up-to-date

ERROR: for db-scripts  Container "f8fc57851b09" is unhealthy.

ERROR: for api  Contai

[2021-07-20 10:50] nandyQA commented on #1473
Logs of the container
2021-07-20 10:48:54.786 UTC [1] LOG:  starting PostgreSQL 12.7 on x86_64-pc-linux-musl, compiled by gcc (Alpine 10.3.1_git20210424) 10.3.1 20210424, 64-bit
2021-07-20 10:48:54.793 UTC [1] LOG:  listening on IPv4 address "0.0.0.0", port 5432
2021-07-20 10:48:54.799 UTC [1] LOG:  could not create IPv6 socket for address "::": Address family not supported by protocol
2021-07-20

[2021-07-20 15:08] Kanaduchi commented on #1468
I found a solution to resolve this problem:
1. Manually change version in schema_migrations to 22 with f (not dirty) flag
2. Create custom docker-compose file:
[code]
3. Connect to Postgres database: docker exec -it <container> psql -U rpuser -d reportportal
4. Execute TRUNCATE TABLE log;
5. Run sudo docker-compose run --rm migrations

After that all migrations were done and RP returned to normal

[2021-07-20 15:25] Kanaduchi opened #1474 "[v5] Integration between OKTA and RP doesn't work"
**Describe the bug**
Integration between OKTA and RP doesn't work. I'm trying to configure integration between Okta and RP. Unfortunately it doesn't work.
When I try to login I get 403 access denied error

Okta side:
<img width="673" alt="okta1" src="https://user-images.githubusercontent.com/7042994/126350773-f0731937-a29e-4c0a-bb50-5d6d101d4947.png">

RP side:
<img width="481" alt="okta" src="htt

[2021-07-20 15:29] krishnaPedd commented on #1453
Hi @evjlobanova,

I Upgraded Report portal to 5.4 version but still I am facing below issues with widgets.

1. I am trying to add new widget when I select widget like launches table, unique bug table upon clicking next step I am seeing blank screen with no data, PFA for the same.

I tried in both chrome and Firefox latest versions. Please check and and let me know on the issue.

<img width="1413"

[2021-07-20 16:27] nandyQA commented on #1473
@evjlobanova Kindly help me to resolve this issue. Our entire team is new to reportportal and looking to work with it.

Thanks in advance

[2021-07-20 16:28] nandyQA commented on #938
@ohank Do you have documentation for the solution you mentioned above

[2021-07-20 18:44] nandha081992 commented on #930
@MichalFidor @Cyberglamdring @evjlobanova @vrakr19 @gbuh @VanKrock
I'm facing the same issue. Im using Linux machine. Can anyone of you help me to resolve this issue ASAP.

Your helo will be much appreciated!!☺️

[2021-07-20 18:56] gbuh commented on #930
Sadly, I'm waiting for someone to help with this.  Almost a year already...

[2021-07-21 09:39] v1-wizard commented on #1156
Hi guys. We didn't reproduce this bug after this time. I am closing this bug.

[2021-07-21 09:39] #1156 closed

[2021-07-21 10:42] bzsharm commented on #1472
@evjlobanova @Cyberglamdring  could you please check this issue out

[2021-07-21 13:38] nandyQA commented on #930
@gbuh I had a solution for this .

sudo vi docker-compose.yml
Go to :   volumes:
      # For unix host
      - ./data/postgres:/var/lib/postgresql/data

      and change as
volumes:
      # For unix host
      - /var/lib/postgresql/data

Finally enter :wq to exit

Now, Kill all existing containers using
docker rum -f $(docker ps -a -q)
docker-compose up
 Finally,
docker-compose -p reportportal up

[2021-07-22 06:10] chgans commented on #809
Is there any instruction for that?

[2021-07-22 11:34] priyankachaturvedi30 commented on #1470
@DzmitryHumianiuk : Also, it occurred as one of the use-cases for us where we were interested to understand for a particular Jira as for how many runs/builds it has been there in the system. Can that be looked upon as well ?

[2021-07-22 13:07] VolhaKarenko commented on #996
It is possible to establish the connection with Jira cloud by using generated API token(your profile -> Security -> Create and manage API tokens) as password, but "post issue" option is not available, only "link issue"

[2021-07-22 13:12] priyankachaturvedi30 opened #1475 "Failed Cases Trend Chart shows FL+SKP count"
As described, Failed cases trend chart - Shows the trend of growth in the number of failed test cases from run to run.
As per my understanding it should have gave me the count specific to failures , but it is showing the count for Failed+Skipped cases.
![image](https://user-images.githubusercontent.com/50797731/126644128-77a9ccfd-9fc1-4447-8800-39a2e2b9128c.png)

THis is misleading for me as the s

[2021-07-22 14:03] talmoshe24 commented on #996
I installed the plugin but I see only user/pass
Which version includes API token?

[2021-07-22 14:12] VolhaKarenko commented on #996
@talmoshe24 simply provide your API token in password field and email in user field

[2021-07-22 15:33] asaflevyz commented on #1471
guys, any update?

[2021-07-23 13:23] skmvali opened #1476 "API - create items (type "step") service creating "test" item"
**Describe the bug**
create "step" api creating "test" item in report portal ui

**To Reproduce**
Create launch with "/launch" api
Created Suite with "/item" with (type --> suite)
Create Test with "/item/<suite uuid>" with (type --> test)
Create Step with "/item/<test uuid>" with (type-->step)
**End Point**
**http://localhost:8080/api/v1/deafult_personal/7a656fb4-f9be-4053-8124-9f5b671c0a23**

**p

[2021-07-25 00:57] Greesh1 commented on #1476
this issue is happening for me as well.

[2021-07-26 09:09] HardNorth commented on #1469
@evjlobanova please check

[2021-07-26 14:50] gsumit1 commented on #831
restart: always is not working when running from docker in windows 10

[2021-07-27 05:31] rathod-deep commented on #1476
It's happening for me
![image](https://user-images.githubusercontent.com/50038708/127100716-74621f0b-48fb-4996-a829-94d6a243aa8c.png)

[2021-07-27 08:06] priyankachaturvedi30 opened #1477 "Jira Integration does not seems to be working after few runs"
@DzmitryHumianiuk @evjlobanova : I integrated Jira with Report Portal when i started my first run. Each day the execution happens and issues gets aa for me. I noticed in my lastest- 10th run, the issues still have jira associated with them, but when I hover it says:
![image](https://user-images.githubusercontent.com/50797731/127118890-7f8aa934-c8b1-4eb5-8153-ea0676573f7b.png)

However, when I clic

[2021-07-27 14:23] satishkumar9549 opened #1478 "Unable to configure LDAP plugin for LDAP"
To Reproduce
Use ldap settings in LDAP-plugin

Expected behavior
successful login to ldap-server, successful find user from entered to RP's login screen.

Actual: Got this error
 "An error occurred while connecting to server: You do not have enough permissions. Uncategorized exception occured during LDAP processing; nested exception is javax.naming.NamingException: [LDAP: error code 1 - 000004DC:

[2021-07-28 07:31] JustinChetty opened #1479 "Getting 400 error"
Getting below error when using package wit jest

Error: Request failed with status code 400: {"errorCode":4001,"message":"Incorrect Request. [Field 'name' should not be null.] "}
    at C:\Sanlam Projects\Automation\node_modules\@reportportal\client-javascript\lib\rest.js:36:23

[2021-07-28 10:19] asaflevyz opened #1480 "RP 5.4 uuid errors"
We have a lot of below errors in reportportal/service-api:5.4.0 container:
2021-07-28 10:15:38.964  WARN 6 --- [io-8585-exec-44] c.e.t.r.c.e.rest.RestExceptionHandler    : Resolved [com.epam.ta.reportportal.exception.ReportPortalException: Launch 'uuid' not found. Did you use correct Launch ID?]
2021-07-28 10:15:40.314 ERROR 6 --- [io-8585-exec-53] c.e.t.r.c.e.rest.RestExceptionHandler    : Handle

[2021-07-28 13:01] krishnaPedd opened #1481 "Unable to add new widgets and also unable to edit existing widgets in Reportportal 5.4.0 version."
**Describe the bug**
Unable to add new widgets and unable to edit existing widgets in Report portal dashboard.
1.After selected on particular widget name then clicking on next button after that it is navigating to blank screen.
2.In existing widgets if i am trying to clicked on edit button in EditWidget page, it is navigating to blank screen.

**Expected behavior**
1.After selecting the widget nam

[2021-07-28 19:44] JackRyanTR opened #1482 "SAML configuration changes EntityID automatically which causes errors"
**Describe the bug**
When saving the SAML configuration, it seems to ignore the value i put into the Identity provider name ID - it always replaces whatever i provide with urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified, which it is pulling from the metadata URL.  I can edit the SAML configuration, set it back to report.portal.sp.id, the API call succeeds, but the object returned always has

[2021-07-29 05:11] i94alan opened #1483 "When importing a Junit result file (xml) into report portal, can it detect failure message of a failed test case and put it in log?"
For example, in report portal, I can see the 2 test cases in the launch, but
I cannot see the failure message "this is an example failure message" in the log section of 2nd test case on report portal.
Is there a way report portal can detect this failure message?

<testsuite failures="1" tests="2" errors="0" name="example  test suite" skip="0">
<testcase classname="example test class" name="1st tes

[2021-07-29 09:29] MariyaIvanina commented on #1462
@dy6wang Hi! We analyze only error/fatal logs, so if you have Trace logs we won't use them for analysis. If you'd like to setup Analysis, please report your logs as error or fatal ones.

[2021-07-29 10:57] priyankachaturvedi30 commented on #1461
@Cyberglamdring : after i did the above, I am getting the following error in migration service for 5.3.5

[2021-07-30 03:13] chgans opened #1484 "Support fro Trade Federation (AOSP test automation tool)"
**Describe the solution you'd like**
Hi,
We use AOSP (Android Open Source Project) for our products, AOSP has it's own test automation framewotk, is is called [Trade Federation](https://source.android.com/devices/tech/test_infra/tradefed).
AOSP comes with 2 main test plans, VTS (Vendor test suite, HW support) and CTS (Compatibility testsuite).
In our case, VTS contains 15k test cases, VTS contains

[2021-07-30 05:01] Deishelon commented on #1484
+1

[2021-07-30 05:06] rathod-deep commented on #1476
@skmvali can you please add tags? Bugs and Help wanted, might be we can get update on it

[2021-07-30 10:58] priyankachaturvedi30 commented on #1477
Hey, @evjlobanova : did you get a  chance to look at this one? Should I re-configure jira ? But just worried if re-configuring would impact the baselines where I have already associated failures with jiras...Please suggest.

[2021-07-30 13:38] Cyberglamdring commented on #930
Hi everyone,
It looks like a problem with permissions to volume from docker user/group. Try to change the [volume for Postgres](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L105) and gain RW permissions.

[2021-07-30 13:48] Cyberglamdring commented on #1461
@priyankachaturvedi30, try again and provide logs of this action. It looks like migration down from 31 script

[2021-07-30 14:11] Cyberglamdring commented on #1410
Hello,

Please provide Pods status, each Pod must have a status "Running". Also, provide logs from UI and API services.

[2021-07-30 14:18] Cyberglamdring commented on #1473
Hello,
It looks like a problem with permissions to Postgres volume from docker user/group. Try to change the volume for Postgres and give RW permissions.

[2021-07-30 14:22] Cyberglamdring commented on #1382
Hello,
Can you provide logs from the database service?

[2021-07-30 14:25] #1064 closed

[2021-07-30 14:30] ERankur91 opened #1485 "relation "shedlock" does not exist on starting service-jobs service"
**Getting following exception on starting service-jobs service**

`Caused by: org.postgresql.util.PSQLException: ERROR: relation "shedlock" does not exist
  Position: 8
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2553) ~[postgresql-42.2.18.jar!/:42.2.18]
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2285) ~[postgresq

[2021-07-30 19:35] danclegg commented on #1266
@robertlagrant I can't offer an official answer from the project, but this _might_ help.

I have a config that is connected to Okta and works as you'd expect, with a button present and the login creating the user. There were some critical things that the Okta application and SAML settings have to have in common, [in particular the audience value](https://github.com/reportportal/service-authorizati

[2021-07-30 19:47] danclegg commented on #1482
@JackRyanTR This may help (or may not if you're not also doing SAML via OKTA), but please also see [my comment ](https://github.com/reportportal/reportportal/issues/1266#issuecomment-890110938) on Issue #1266 .

I found that it is okay to have it not stay as `report.portal.sp.id`, renaming it as you see/report. No matter what we put there, my logs showed it was searching for the proper value behin

[2021-07-31 05:38] cr-danzaitoun opened #1486 "[v5]Can't create new filters due to UI error"
**Describe the bug**
After long time of using RP with chrome I got to a point when ever I enter to the filters screen when trying to enter one of the filters I get an error:
**Error: Minified React error #185; visit https://reactjs.org/docs/error-decoder.html?invariant=185 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.**
This is the fu

[2021-08-02 08:55] priyankachaturvedi30 opened #1487 "Possibility of saving a filter at first drill down level"
Currently, we have an option to create a filter at the launch level and save it to filter out results. Can we have a similar filter that we can save for later use as a first/second level drill-downs (when we navigate inside from launches)?

[2021-08-02 17:01] guptakapil commented on #240
Although the issue is closed, however I am still commenting in hope it will help others:

1. This set-up needs a manager DN which is user which can be used to query ldap
2. And Manager Password - which is the password for that user.

Also, once you have it, delete the set-up (i.e. LDAP integration) and add again. It helped!

[2021-08-02 17:06] guptakapil commented on #954
Two things helped me:

1. Manager DN (Which is the user which can query LDAP)
2. Manager Password

After this I removed the integration and added it back. that worked!

[2021-08-02 18:14] dhamo-pk commented on #957
I am facing same issue, adding extra stack trace to the thread FYR

`analyzer_train_1  | Mon Aug  2 18:12:51 2021 - *** uWSGI listen queue of socket ":3031" (fd: 6) full !!! (76809840/64) ***
analyzer_1        | 2021-08-02 18:12:51,438 - analyzerApp.amqp - INFO - Try connect to amqp://rabbitmq:5672/analyzer?heartbeat=600
rabbitmq_1        | 2021-08-02 18:12:50.773 [info] <0.3406.0> accepting AMQP

[2021-08-03 05:49] darshanraut123 opened #1488 "Addition of copy text button in reports on test steps level page (Feature->Scenario->TestSteps)"
In our case, we are using a GWEN interpreter as an automation framework.
It uses DSL such as: And counter is "${counter}"
Suppose this step got executed in a run and we want to copy the same step with "461" as a parameter and paste it in GWEN console, we cannot do that now.
We cant copy the step directly or rather it's difficult to do that.
![copyText](https://user-images.githubusercontent.com/561

[2021-08-03 08:43] darshanraut123 opened #1489 "[v5] In step level when applied sort Asc/Des on Defect Type column it throws an error"
**Describe the bug**
When we navigate to the page inside scenario level where the list of steps are available,
if we apply sort on a column named "Defect Type", it throws an error with a popup [Attching the sortError.txt file]
FYI: On other all columns the sort is working fine.

**To Reproduce**
Attached is the GIF file for the same with all steps.

**Expected behavior**
The sort should be applied

[2021-08-03 12:39] asaflevyz commented on #1471
Guys,
Do you have any release date soon?

[2021-08-03 13:45] narayananpalani commented on #684
I have reporportal older version used in docker hence wdio repo has wdio v4 which is yet to get upgraded. On the other hand my cypress v8 tests failing to connect rps for a simple reason of startTime change from start_time. This is one of the useless idea to stop backward compatibility hence i have really no clue on when i can get my cypress tests connected to reportportal. By the look of it, I ne

[2021-08-03 14:51] rajgopalrajesh opened #1490 "Launch does not complete or Finish(running state )"
Running  docker report portal 5.4

configured project and reporting via cucumber adapter jvm5

![image](https://user-images.githubusercontent.com/16475965/128036668-4d0f6533-f19b-4db9-94fb-a5ec28b6163f.png)

launch will be on running state (up to 2 days ), the test execution has been completed with in 3 hrs

error in logs
021-07-30 14:55:00.003 ERROR 6 --- [   scheduling-1] o.s.s.s.TaskUtils$Loggi

[2021-08-03 15:22] HardNorth commented on #1490
Java 5 is out of support already

[2021-08-03 15:24] HardNorth commented on #1490
Opps, looks like it's not a client issue

[2021-08-03 15:25] HardNorth commented on #1490
@pbortnik, @miracle8484 Could you please take a look?

[2021-08-04 07:14] priyankachaturvedi30 opened #1491 "Analyser not working after removing/regenerating index"
Facing this error while trying to work with analyzer. All services are healthy.
![image](https://user-images.githubusercontent.com/50797731/128137792-9a51ffae-2574-4f21-96bf-4fee687ff63d.png)
Can you please suggest what needs to be done?

[2021-08-04 07:47] Cyberglamdring commented on #957
@dhamo-pk, Analyzer can't connect to RabbitMQ. Check URL, User and password [here](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L60) and [here](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L144). Also, all services must be on the same docker network, that helps containers see each other by name.

@lehoanglu0ng, @Faisal3693 for the delay

[2021-08-04 11:07] talmoshe24 commented on #1448
Same issue happened to me too.
Response says:
{"errorCode":5000,"message":"Unclassified error [org.hibernate.exception.SQLGrammarException: could not extract ResultSet]"}

[2021-08-04 11:19] AmrWatad commented on #586
regarding to *Passing rate per filter
its on test level ?
or its just on launches level
@evjlobanova

[2021-08-04 11:29] AmrWatad opened #1493 "Passing rate per filter on test level"
**Describe the solution you'd like**
...
trying to get passing  rate per filter, after reading all the version  see on 5.1.0 version that's was added * Passing rate per filter
and its not clearly if its on test level or launches level
thanx
**Is your feature request related to a problem? Please describe.**
...

[2021-08-04 11:40] #1493 closed

[2021-08-04 12:57] rajgopalrajesh commented on #1490
this is cucumber adapter version JVM5  not java version

[2021-08-04 13:15] priyankachaturvedi30 opened #1496 "Widget - Launches Table shows a "Status" Column from where ?"
@evjlobanova  @DzmitryHumianiuk : I created a Launches Table widget, but I see a status column present there, can you point me to how this gets resolved to Failed? I could not find any reference for it from the documentation page..
![image](https://user-images.githubusercontent.com/50797731/128187137-5362d252-175e-48d5-844e-5997a0027064.png)

[2021-08-04 13:54] irynakozak2 commented on #1489
Please, update ReportPortal to the latest version and recheck the behavior. Not reproducible in our regular environments.

[2021-08-04 13:58] irynakozak2 commented on #1485
Looks like the required migration from v5.3.5 to v5.4 wasn't completed properly.
Did you follow the migration guide and your migrations service is in a healthy state and does not show any errors?
https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.4

[2021-08-04 14:05] ERankur91 commented on #1485
Migration seems to be successful, db-scripts working successfully. Instance was also working properly.
We started facing issue after some time when realised old data are not getting deleted and then deletion of individual launch seems not to be working.

[2021-08-04 14:07] irynakozak2 commented on #1480
Can you please specify steps to reproduce this behavior?
In fact, that is an expected error on validation working, looks like you trying to get launch by UUID, but not by value.
If you need to get info or filter launches by different params, especially by launch UUID, you need to specify the value of the particular launch, which can be found here:
![image](https://user-images.githubusercontent.com

[2021-08-04 14:12] irynakozak2 commented on #1471
Please note, as I mentioned above, this is the expected behavior of the application, when the first operation is performed.
That is no issue with ReportPortal itself. It is a normal work of the PostgreSQL database cache memory, so that:
 - the first execution may take some time to cache;
 - next executions became instantly.

[2021-08-04 14:15] irynakozak2 commented on #1436
@Cyberglamdring Hleb, could you please help here?

[2021-08-04 14:27] #1327 closed

[2021-08-04 18:05] bzsharm opened #1497 "Projects not getting listed in Projects tab & Dashboard widgets coming up with empty data."
**Describe the bug**
The projects tab is not listing the projects & throwing an SQL error. Apart from that "Widgets" are coming with the message "No Data", But 2 days back everything was working fine, could you please suggest how to fix this issue?

Note: However "Create Project" option is working but the project created is not listed.

An error occurred while connecting to server: Unclassified er

[2021-08-04 20:20] asaflevyz commented on #1480
I can't give any reproduce steps.
That is what i am seeing in the logs.
I don't know where it comes from.
Can we get some debug steps?

Thanks.

[2021-08-04 20:21] asaflevyz commented on #1471
Is 5.5 going to improve this?

[2021-08-05 11:12] HardNorth commented on #1480
@asaflevyz which agent (with exact version) do you use?

[2021-08-05 17:24] FelipeJK commented on #1334
Is there a plan to support HTML files uploaded to Report Portal programmatically @iivanou?
I did some uploads using Spark report from Extent Reports and all HTML files open without loading the css properly.

![image](https://user-images.githubusercontent.com/18666206/128393962-34ed9624-b89e-47bb-88b1-72025831ac19.png)

[2021-08-05 19:10] talmoshe24 commented on #1468
@Kanaduchi I'm having an issue with migration to 5.4 too, why did you choose schema_migrations 22? Mine was failing on 37:

[code]

[2021-08-06 04:49] rajgopalrajesh commented on #1490
updated agent
dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-cucumber5</artifactId>
			<version>5.1.0-RC-6</version>
		</dependency>

getting below error

[ec2-user@ip-10-158-89-196 ~]$ docker run -it  rajeshrajagopaldocker/apibddimage                                                                                        :tenthmvnupdate sh
Checking running
Aug 06

[2021-08-06 09:33] HardNorth commented on #1490
there is no such version of `agent-java-cucumber5`
The latest one is [5.1.0-RC-2](https://search.maven.org/artifact/com.epam.reportportal/agent-java-cucumber5/5.1.0-RC-2/jar)
Please use it, there is a fix for exactly this.

[2021-08-06 09:49] rajgopalrajesh commented on #1490
![image](https://user-images.githubusercontent.com/16475965/128492317-0494d32d-efc8-4b7f-9e12-4eb4acb66a72.png)

have used the same

[2021-08-06 10:43] evjlobanova commented on #1468
@pbortnik could you please check&

[2021-08-06 13:11] HardNorth commented on #1490
@rajgopalrajesh Then this should be fixed already.

[2021-08-08 11:27] lehoanglu0ng commented on #1392
I updated recommended minimum requirements and granted permission to the `data/` directory but the `uat` image keep saying `start.sh: applet not found`

[2021-08-08 11:32] lehoanglu0ng commented on #957
hi @Cyberglamdring
![Screen Shot 2021-08-08 at 18 29 43](https://user-images.githubusercontent.com/22902128/128630503-300c1ee9-0499-471f-8556-4b935181adb4.png)
The `api` and `uat` keep restarting with the messages: `start.sh: applet not found`

[2021-08-09 06:12] rajgopalrajesh commented on #1490
no still issue is there

[2021-08-09 10:38] AmrWatad opened #1498 "add option for show passing rate per filter on test level"
current version show an passing rate on launches level
when filtering tests, it's show the relevant tests with **passing rate on launch level**
its nice to show passing rate on test level when be filtered not on launch level

Example:
1. filtering
2. pass rate on launch level
3. test level: 4 passed, 1 skipped

**if pass rate on test level found, the report should show: 4/5=80.00% pass rate**
![im

[2021-08-09 11:27] evjlobanova commented on #1469
@VolhaKarenko Olya, could you please try to reproduce this issue?

[2021-08-09 20:00] HardNorth commented on #1490
Very strange, I need to debug it, could you please provide me an example project to reproduce?

[2021-08-10 07:36] rajgopalrajesh commented on #1490
After upgrading cucumber to version 6 and agent below
<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-cucumber6</artifactId>
			<version>5.1.0-RC-3</version>
		</dependency>

Working fine

[2021-08-10 07:58] VolhaKarenko commented on #1469
hi @babantax, please upgrade to RP 5.5, the issue is not reproducible on versions 5.4 and higher

[2021-08-10 08:43] sunshine69 commented on #935
Hi, is there any update or work around on this? I hit the exact same issues. Ta

[2021-08-10 08:57] lewispoe commented on #935
@sunshine69 - if I remember correctly (was awhile back!), the solution was trying to login with Jira username (my email), but **not** your normal password, instead you need to generate an API token in Jira and use that as the password.

I believe some instructions are here to generate a token in Jira - https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-accoun

[2021-08-10 09:31] HardNorth commented on #1490
OK, closing this

[2021-08-10 09:31] #1490 closed

[2021-08-10 10:52] sunshine69 commented on #935
Thank you but I did it and it does not work for me, still the same error message when I submit the configuration dialog.

[2021-08-10 11:44] bzsharm commented on #1497
Recreated the database ! Some query from back end was messed up

[2021-08-10 11:44] #1497 closed

[2021-08-10 11:50] bzsharm commented on #1472
@evjlobanova @Cyberglamdring @irynakozak2  please share your thoughts !

Report portal is working fine after latest Linux installation and after that I am not able to find " reportportal.log " file .

How do I enable the logs !? Please advise

[2021-08-10 13:05] Cyberglamdring commented on #1436
Hello @talgreen1,

You can separate [docker-compose.yml](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml). The first one should contain [`postgres`](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L118) and [`migration`](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L105), the second one should contain all other

[2021-08-10 14:07] satishkumar9549 commented on #1478
@evjlobanova Can you please help me on this?

[2021-08-10 16:42] chhatbarjignesh commented on #1019
@evjlobanova, I have added rpHost as integration parameters as suggested, and I am on v5.5.0, but when I try to reset the password using forgot password, the email I receive has the link with http:// and not https://

Would you mind letting me know if I have missed anything in configuration?

API Response of the email server configuration:
[code]

email: screenshot

![image](https://user-images.gi

[2021-08-11 09:29] realsilversurfer commented on #1491
Facing same issue. Any update on this?

[2021-08-11 09:33] MariyaIvanina commented on #1491
@priyankachaturvedi30 Hi! Could you show more of your log? and whether analyzer works? or after this error it doesn't work completely?

[2021-08-11 09:36] realsilversurfer commented on #1491
It actually does not work completely, index buttons are greyed out and AA is not working anymore.

[2021-08-11 09:38] MariyaIvanina commented on #1491
and what about log? whether you have a full log? was it on the generation index step or on other?

[2021-08-11 09:46] realsilversurfer commented on #1491
[analzyer.log](https://github.com/reportportal/reportportal/files/6967359/analzyer.log)
Here is a log from analyzer

[2021-08-11 10:01] MariyaIvanina commented on #1491
I can see you use 5.3.5 version. Our new version is 5.5.0. The error is not a problem at all, it is just for our system communication, and in a newer version this error doesn't happen.

[2021-08-11 10:03] MariyaIvanina commented on #1491
@realsilversurfer Did you manage to generate index? or they were always greyed out? If they are always greyed out, there is a problem in service-index or traefik.

[2021-08-11 10:07] realsilversurfer commented on #1491
They are always greyed out now and since that AA does not work.

[2021-08-11 10:10] MariyaIvanina commented on #1491
Have you changed something recently in the Report portal configuration recently? updated some parts?

[2021-08-11 10:55] evjlobanova commented on #1019
@Yumfriez could you please check this issue?

[2021-08-11 17:26] DzmitryHumianiuk commented on #1476
@skmvali @rathod-deep
Hi,
**the simple answer** here: it works by design.

**The full answer**: it is a legacy, which should be considered while implementing own integrations.
We plan to refactor it with version 6.

There 2 main requests to build structure in ReportPortal.

- Launch Requests
- TestItem Requests

Launch is a root, launch is a starting point, a container. You have a separate endpoin

[2021-08-12 13:58] Cyberglamdring commented on #1392
Please provide all logs from UAT

[2021-08-12 17:39] gbuh commented on #930
Resolved for me. Thanks a lot.

[2021-08-13 05:08] aleon1220 commented on #1478
Could that plugin connect to microsoft  active directory?

[2021-08-13 06:00] SubratKumarTR commented on #1420
Hi @irynakozak2 ,

We had make the changes  to RP_ENVIRONMENT_VARIABLE_CLEAN_LOGS_POOL=1 It works , But still we are facing CPU utilization when it is cleaning the logs Can we make to 0.5 or something like that.

Regards,
Subrat.

[2021-08-13 07:41] irynakozak2 commented on #1420
@SubratKumarTR hi, please update ReportPortal to version 5.4, we've done completely refactoring the Cleaning Jobs and make brand new ones. But firstly, I suggest you look through the migration guide to v5.4 in case of some migration needs.

[2021-08-13 12:08] AmsterGet commented on #1486
Hello @cr-danzaitoun !
Are there any other errors in the console during this issue?
Are you trying to find a specific filter using the search bar?

[2021-08-13 13:10] satishkumar9549 commented on #1478
Active directory plugin is working but not LDAP because we need to provide access Report Portal to people who are in specific groups

[2021-08-15 11:53] YBB8201 opened #1499 "Get the "launch name" or link to launch"
Hi
I am trying to get a link or at least the launch name in order to report it in my own code. this way i can get to the run much easily.
is there a way to get it via code (api) or some other way.
thx
Yohai

[2021-08-16 09:00] StLuke commented on #933
+1

[2021-08-17 05:05] cr-danzaitoun commented on #1486
HI,
Like I send in the previous message, the error showed in the chrome. and it happed to all filters type.
currently can work with report portal on chrome or edge( i moved to firefox)
I can easily reproduce the issue, but only on my pc.

[2021-08-17 06:55] winni0713 opened #1500 "Retry Passed Cases has defects marked in "To Investigate""
Hi,  @evjlobanova

I found after some cases rerun passed in the launch, the retry success cases will still count as defects as "To Investigate". But clicked "To Investigate", there is no results logged.
<img width="1307" alt="Screenshot 2021-08-17 at 2 16 57 PM" src="https://user-images.githubusercontent.com/12772076/129673703-7b2db21b-552e-41f9-988a-c857ec0ea3a6.png">

<img width="1302" alt="Scre

[2021-08-17 07:12] winni0713 opened #1501 "[v5] Lost logs and attachments in retried cases after merge launches"
**Describe the bug**
If cases is retried and launches are deep merged, the logs and attachments in past retries may be lost.

**To Reproduce**
- Implement the retry logic, we are using the extended-cucumber-runner plugin (http://mkolisnyk.github.io/cucumber-reports/extended-cucumber-runner).

- aggregate the rerun cases, we have added override the original method in AbstractReporter by setting rp.

[2021-08-17 09:30] aleon1220 commented on #1478
I spent some time fidling with ldap servers. I would suggest that you use https://directory.apache.org/studio/ Is an UI tool to access LDAP servers. Try to replicate your LDAP config via LDAP Queries. Once you are sure you have a proper working query with the right syntax then you can add the settings back to the Report Portal LDAP Plugin.

Does my suggestion make sense?

[2021-08-17 12:18] jrzdudek opened #1502 "[v5] SMTP 550 error when trying to configure Sendgrid as SMTP server"
**Describe the bug**
When trying to add a new SMTP integration, an error displayed in the screenshot occurs. This is happening with Sendgrid, regardless of chosen encryption / port.

**Screenshots**
![Screenshot 2021-08-17 at 14 08 20](https://user-images.githubusercontent.com/7613326/129723686-ceff52dd-141c-47b2-a017-4f569ab8f512.png)

**Desktop (please complete the following information):**
 - O

[2021-08-17 14:25] evjlobanova commented on #1499
If you are using version 5.5, you can generate a link based on https://localhost:8080/ui/#projectName/launches/all/UUID_launch

[2021-08-17 14:25] #1499 closed

[2021-08-17 14:29] evjlobanova commented on #1496
Status of launch is calculated automatically: if a least one test is not passed, a launch status is failed. Or you can send a launch status explicitly, and in this case, auto-calculated status is rewritten by a status that has been sent by the user.

Each launch has a status, but on the All launches table this info is not shown.

[2021-08-17 14:29] #1496 closed

[2021-08-17 18:09] YBB8201 commented on #1499
hi
how can I get UUID_launch while I am running my test ?
I want to get the link in order to "log" it. That way I can find the report
easily.

On Tue, 17 Aug 2021 at 17:25, Yauheniya Labanava ***@***.***>
wrote:

[2021-08-18 06:57] SubratKumarTR commented on #1420
Hi @irynakozak2 , Please let me know if something went wrong on updating Report portal Version from 5.3.5 to  5.4 can we roll back to the Pervious version 5.3.5 ?

Regards,
Subrat.

[2021-08-18 11:14] evjlobanova commented on #1499
In response at the launch start you receive a UUID

[2021-08-18 13:38] satishkumar9549 commented on #1478
Thank you @aleon1220 , I will check with this and update you, If i can connect from UI Tool.

[2021-08-19 05:24] evjlobanova commented on #1458
Hello!
For now, we the logic of the report portal is that all statistics are calculated in steps.
This is a not very easy change so that in the nearest future we do not plan to change calculation logic. But we are starting to receive a lot of requests about  BDD statistic support.
So that we have plans to support such functionality in the version 6 (±2022 )

[2021-08-19 05:28] evjlobanova commented on #1460
Hello @lasithdilshan20! You can find merge calls on API documentation page. Could you please describe which kind of problems do you have?

[2021-08-19 05:51] #538 closed

[2021-08-19 05:54] evjlobanova commented on #1456
@priyankachaturvedi30 Have you resolved the issue? Can I close the issue?

[2021-08-19 05:55] evjlobanova commented on #1164
Closed, because of no responce

[2021-08-19 05:55] #1164 closed

[2021-08-19 05:57] evjlobanova commented on #1464
Could you please elaborate on your request? Could you please describe what problem do you try to resolve?

[2021-08-19 06:00] YBB8201 commented on #1499
hi
i tried to use the following:

https://github.com/reportportal/example-net-nunit/blob/master/src/Example/ReportPortalCustomization/Customization.cs

but developers told me it is not ready yet - will be ready in the
future (see [reportportal/example-net-nunit] mark skipped tests as
No-Defect type (#12))

I am trying to understand how to get the UUID back to my code.

Can you refer me to some exa

[2021-08-19 06:01] evjlobanova commented on #1467
Hello! Here you can find a full description of how to report results to reportportal https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#start-launch

UUID is returned in the response at the launch start

[2021-08-19 06:01] #1467 closed

[2021-08-19 06:02] #1466 closed

[2021-08-19 06:04] evjlobanova commented on #1454
@Cyberglamdring Hleb, could you please check

[2021-08-19 06:08] #1235 closed

[2021-08-19 06:10] evjlobanova commented on #1474
@VolhaKarenko could you please check

[2021-08-19 06:15] evjlobanova commented on #1453
@VolhaKarenko could you please check

[2021-08-19 06:16] evjlobanova commented on #809
UPDATE users
    SET password = 'a0$vhlxLsj.HcuQVrbRTmOu6OOjTYK/ZeiLTKEA2Sf5JOaxZ98/KHGem'
    WHERE login = 'superadmin';

[2021-08-19 06:23] #1462 closed

[2021-08-19 06:25] lasithdilshan20 commented on #1460
"reporter": "@reportportal/agent-js-cypress",
  "reporterOptions": {
    "endpoint": "https://reportportal.sana-commerce.com/api/v1",
    "token": "xxxxxxxxxxxxxx",
    "launch": "Addon Automation Nightly Build Report",
    "project": "xxxxxxxxxxxx_personal",
    "description": "Regression Test Automation Report for CI/CD",
    "autoMerge": true
  }
}

this is my code block on cypress.json , but a

[2021-08-19 06:26] VolhaKarenko commented on #1481
Hi @krishnaPedd, it seems that the issue is connected with one of the filters on your project, that’s why when you open “Edit widget” modal, it fails on the step, when filter list should be provided. Could you please check if the Filters tab is available?

[2021-08-19 06:29] VolhaKarenko commented on #1453
closed as a duplicate of https://github.com/reportportal/reportportal/issues/1481

[2021-08-19 06:29] #1453 closed

[2021-08-19 06:30] evjlobanova commented on #1461
@priyankachaturvedi30 Have you resolved the issue?

[2021-08-19 06:32] #1473 closed

[2021-08-19 06:33] evjlobanova commented on #1485
@irynakozak2 could you please check

[2021-08-19 06:38] #96 closed

[2021-08-19 06:40] evjlobanova commented on #1487
Duplicate of #74
@priyankachaturvedi30 I closed your issue as a duplicate, please check the mentioned thread.
I will update this issue in case of any progress

[2021-08-19 06:40] #1487 closed

[2021-08-19 06:45] evjlobanova commented on #1489
Hello @darshanraut123 this is a known issue
As far as it requires significant refactoring, we put away this fix for a while

[2021-08-19 06:46] evjlobanova commented on #1489
Closed as a duplicate of #1298
Please follow the progress in the mentioned issue

[2021-08-19 06:46] #1489 closed

[2021-08-19 06:51] evjlobanova commented on #586
On the test level

[2021-08-19 06:53] #1471 closed

[2021-08-19 06:54] #1480 closed

[2021-08-19 06:58] evjlobanova commented on #1498
Thank you for the request!
Could you please describe your business case? Why do you need this feature?

[2021-08-19 06:59] #1469 closed

[2021-08-19 07:00] evjlobanova commented on #1472
@Cyberglamdring Hleb, could you please check the question?

[2021-08-19 07:02] #1436 closed

[2021-08-19 07:04] VolhaKarenko commented on #1474
Hi @Kanaduchi, try with providing value of "Audience Restriction" from Okta to "Identity provider name ID" field

[2021-08-19 07:05] #930 closed

[2021-08-19 07:10] evjlobanova commented on #1500
![image](https://user-images.githubusercontent.com/30413511/130024047-2eadbed8-d7a5-4de7-952e-eeff96e40f0e.png)
Could you please click on 3 To investigate and send us a screen

[2021-08-19 07:11] evjlobanova commented on #1501
@VolhaKarenko Could you please recheck the issue?

[2021-08-19 07:12] evjlobanova commented on #1502
@VolhaKarenko could you please reproduce?

[2021-08-19 07:22] evjlobanova commented on #1460
The idea is that you can add an api call to your pipeline and trigger API when you need it

[2021-08-19 07:36] asaflevyz opened #1505 "Migrate data to new instance"
We want to migrate projects settings and users only to new instance.
Is there any way we can export from old instance and then import to new instance the data?

Thanks.

[2021-08-19 07:37] evjlobanova commented on #1484
Hello @chgans
ReportPortal supports the scale that you mentioned in your ticket. The only thing please check our documentation https://reportportal.io/docs/Optimal-Performance-Hardware and choose an appropriate configuration for your instance.

Regarding a new integration. We have an approximate roadmap with a planned integration. But it is changed because of requests from our paid clients. Integr

[2021-08-19 07:39] winni0713 commented on #1500
It shows "No Results Found" when clicked.
![Screenshot 2021-08-19 at 3 38 42 PM](https://user-images.githubusercontent.com/12772076/130027938-44a2d8cd-f28e-466f-aa8d-869f97dc62e9.png)

https://user-images.githubusercontent.com/12772076/130027782-d7be867b-5bc8-43c5-9bb7-97e776447ff1.mov

[2021-08-19 08:02] #1442 closed

[2021-08-19 08:04] evjlobanova commented on #1444
You can change a password

For that, system admins should:

Generate a hash for new passwords of superadmin and default here
Add hash to password field into the script (default hashed passwords added below):
    UPDATE users
    SET password = 'a0$vhlxLsj.HcuQVrbRTmOu6OOjTYK/ZeiLTKEA2Sf5JOaxZ98/KHGem'
    WHERE login = 'superadmin';
    UPDATE users
    SET password = 'a0$WS7BhDl4caORMzBQz7y9zeF.i

[2021-08-19 08:08] #1452 closed

[2021-08-19 08:13] evjlobanova commented on #1505
There is no such function out-of-the box.
ReportPortal provides professional support on top of the product,
Which may include deployment, consultancy, customizations, training, and integration.
Then we can offer a service provided by the ReportPortal development team.

Please let us know, if you need more details

[2021-08-19 08:14] evjlobanova commented on #1019
@VolhaKarenko could you please add a new bug to the next sprint on Back End

[2021-08-19 08:15] evjlobanova commented on #1019
Will be fixed in version 5.6

[2021-08-19 08:15] asaflevyz commented on #1505
Thanks.

[2021-08-19 08:18] #1505 closed

[2021-08-19 08:41] evjlobanova commented on #1455
@AmsterGet Ilya, could you please suggest a possible options?

[2021-08-19 09:03] asaflevyz opened #1506 "Old attachments are not deleted"
We use RP 5.4 and have issue with old attachments not deleted.
Seems like cron jobs are not triggered.
reportportal=# select sched_name, trigger_name, prev_fire_time from quartz.scheduler_triggers;
  sched_name  |          trigger_name           | prev_fire_time
--------------+---------------------------------+----------------
 reportportal | interruptLaunchesTrigger        |  1629360615205
 repor

[2021-08-19 09:08] evjlobanova commented on #1500
I guess something wrong with your structure
Do all your  tests have type "STEP"?

[2021-08-19 09:10] evjlobanova commented on #1500
@HardNorth Vadzim, could you please check this problem?

[2021-08-19 09:11] evjlobanova commented on #1506
@irynakozak2 could you please ask needed questions?

[2021-08-19 09:15] asaflevyz commented on #1506
The question is obvious, how can we fix the issue?

[2021-08-19 09:16] asaflevyz commented on #1506
Similar to https://github.com/reportportal/reportportal/issues/1103
in our case we are missing jobs:
 reportportal | createCleanLogsTrigger          |  1598885076489
 reportportal | cleanScreenshotsTrigger         |  1598885076504
 reportportal | createCleanLaunchesTrigger      |  1598885076507

[2021-08-19 11:14] heilwood commented on #1448
@talmoshe24

You found how to re-execute migration?

Same issue for me, migration broken.

Was trying to upgrade from 3.3.5 to 3.5.0:

reportportal_db-scripts_1 docker container logs:
wait-for-it.sh: postgres:5432 is available after 0 seconds
error: Dirty database version 28. Fix and force version.

[2021-08-19 11:17] VolhaKarenko commented on #1502
Hi @jrzdudek, try providing your email address in "username" field

[2021-08-19 11:40] HardNorth commented on #1455
@evjlobanova @mayuresh49 It's by design. If you need your messages escaped you have to do this by yourself. And there is no any concerns for cloud users since we accept processing of very limited amount of tags.

[2021-08-19 11:40] #1455 closed

[2021-08-19 11:42] Kanaduchi commented on #1474
Hi @VolhaKarenko. This doesn't help me. After saving this value is changed automatically back to urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified

[2021-08-19 12:46] heilwood commented on #1468
Had the same issue, my solution:

[code]

[2021-08-19 13:37] LakshmiPriya0408 commented on #1132
I am facing the same issue, still not resolved. Please suggest me a solution for this.

[2021-08-19 13:55] evjlobanova commented on #1132
Which version do you use ?
Which error in the log you can see?

[2021-08-19 14:12] nvborisenko commented on #1499
The link provided by you above works good, at least on my side and all known real users. You are able to customize default agent's behavior. If something doesn't work properly on your side, please share your simple test project to reproduce the issue.

Right, separate nuget package (extension for the agents), which will remove requirement to investigate skipped tests, is planned and will be develo

[2021-08-19 18:54] mchundi commented on #1448
I followed the steps mentioned in this issue: https://github.com/reportportal/reportportal/issues/1468 and the issue is resolved. There was no loss of data.

[2021-08-19 19:30] YBB8201 commented on #1499
Hi, great news!
So, just to make it clear, I need to upgrade my RP to version 5.5 and it
should work, right?
As I understood version 5.3.4 does not support getting Uuid.

בתאריך יום ה׳, 19 באוג׳ 2021, 17:12, מאת Nikolay Borisenko ‏<
***@***.***>:

[2021-08-20 01:05] aleon1220 commented on #1478
how did it go
i used

User search filter =  (objectClass=person)
Email attribute     = mail or sAMAccountName

Here is a guide I have for Apache Directory Studio https://github.com/aleon1220/kiwiki/tree/master/LDAP

[2021-08-20 07:51] irynakozak2 commented on #1506
@asaflevyz hello,
Cleaning Jobs were rewritten on v5.4 of ReportPortal and currently, we don't use that table for saving the actual state of the Jobs executions.
If the migration from v5.* to 5.4 was successful, in the PostgreSQL database should appear `shedlock` table, where currently we save the Cleaning Jobs actual schedule and stats.

![image](https://user-images.githubusercontent.com/51473435

[2021-08-20 07:55] irynakozak2 commented on #1485
@ERankur91 hello,
if there any errors occur in the `service-jobs` container?
Please also check the state of the `shedlock` table in the database, it should look like the following:
![image](https://user-images.githubusercontent.com/51473435/130199996-1e90741e-ca44-4493-91e5-2c96f0e3d941.png)

[2021-08-20 07:59] irynakozak2 commented on #1420
@SubratKumarTR yes, rollback is possible.
@Cyberglamdring could you please advise and specify the rollback procedure?

[2021-08-20 09:05] Cyberglamdring commented on #1420
Hello @SubratKumarTR, instructions here: https://github.com/reportportal/reportportal/issues/1461#issuecomment-877013717

[2021-08-20 09:47] v1-wizard opened #1507 "[v5] Attachments was lost after migration from 5.3.5 to 5.5 version"
**Describe the bug**
We don't see any attachments on our instance and also see errors in logs:
[code]

**To Reproduce**
Steps to reproduce you could find in the attached video. Thanks.
[2021-08-20_12-31-35.zip](https://github.com/reportportal/reportportal/files/7020636/2021-08-20_12-31-35.zip)

**Expected behavior**
We see our attachments in tests and don't see any errors in DB logs.

[2021-08-20 09:57] v1-wizard opened #1508 "[v5] UI error : Error in handled Request. Please, check specified parameters: 'The provided parameter must be a number'"
**Describe the bug**
Please see the attached video in the zip archive:
[Screencast 2021-08-20 12:40:40.zip](https://github.com/reportportal/reportportal/files/7020688/Screencast.2021-08-20.12.40.40.zip)

**To Reproduce**
We don't know. This bug was found by one of our folks. She just login to RP.

**Expected behavior**
All work as usual

**Additional context**
I wrote a HAR with the bad request.
[

[2021-08-20 10:18] asaflevyz commented on #1506
yes i see:
reportportal=# select * from shedlock;
           name            |         lock_until         |         locked_at          |  locked_by
---------------------------+----------------------------+----------------------------+--------------
 cleanLaunch               | 2021-08-20 00:04:37.916422 | 2021-08-20 00:04:28.195266 | 7f7d2db31cfb
 cleanAttachment           | 2021-08-20 00:04:51.19

[2021-08-20 11:00] irynakozak2 commented on #1506
What about logs for `cleanStorage` job?
The logic is:
1) `cleanAttachment` job needs to be triggered as a first step. That job IS NOT removing attachments directly from MinIO, only moving these attachments to the separate table in the database (named `attachment_deletion`).
2) `cleanStorage` job need to be triggered after `cleanAttachment` job. Only this job is responsible for physical attachments

[2021-08-20 12:01] irynakozak2 commented on #1506
For the force deleting attachments, you need to delete the folders like this:
![image](https://user-images.githubusercontent.com/51473435/130230051-59079ac4-4507-436a-9b09-0d2e0ac85210.png)

[2021-08-20 14:49] els-pnw opened #1509 "[v5] test_items_* are stored in all internal projects rather than the only one the test_item was executed in"
**Describe the bug**
Using sql and other reporting tools we were able to determine that the same test_item_id was counted in all project_names regardless of the project that the test_item was actually executed in.   This raises a number of questions and concerns around reporting and analysis (outside of Report Portal and possibly within Report Portal).

**To Reproduce**
Execute the following SQL:

[2021-08-21 01:19] evjlobanova commented on #1509
What statistics are you try to retrieve? It seems that you use a field, that has another purpose. So could you please clarify your business case and describe goals for this query ?

[2021-08-21 08:03] aleon1220 opened #1510 "LDAP Active Directory Issues ReportPortal [v5]"
**Describe the bug**
there are multiple bugs with this LDAP plugin. I will describe only 2 in this issue:

There is **Not** enough info in the [LDAP-Auth-integration Docs](https://reportportal.io/docs/LDAP-Auth-integration) to configure LDAP authentication successfully. I suggest examples are added.

I tried multiple ways to configure the Authentication with the LDAP implementation of Microsoft ac

[2021-08-21 08:49] aleon1220 commented on #1478
Hey @satishkumar9549  i have successfully configured the AD LDAP plugin. I don't have good news though. There is a bug. I have opened Issue https://github.com/reportportal/reportportal/issues/1510

[2021-08-21 09:58] aleon1220 commented on #1510
some references
https://stackoverflow.com/questions/58638194/how-to-fix-ldap-connection-error-javax-naming-sizelimitexceededexception-ldap
https://docs.oracle.com/javase/7/docs/api/javax/naming/ldap/PagedResultsControl.html

[2021-08-21 14:58] satishkumar9549 commented on #1478
Hey @aleon1220 , I tried configuring in apache Ldap directory but, I couldn’t make it work.

The other issue https://github.com/reportportal/reportportal/issues/1510
 you mentioned has the fix?

[2021-08-21 16:33] els-pnw commented on #1509
I'm trying to get the counts of of failure types by project_name so as you see above:

issue_name == failure type
project_name == project name within the RP instance
and Number of failed test items per type per project.

If there's something different that I should be doing in my project sql please let me know.  It is entirely possible that the issue is my sql and I accept that.  -Thanks!

[2021-08-21 21:40] asaflevyz commented on #1506
I have only those logs:
2021-08-21 20:45:00.003  INFO 6 --- [   scheduling-1] c.e.r.j.s.CalculateAllocatedStorageJob   : Job CalculateAllocatedStorageJob has been started.
2021-08-21 20:45:00.060  INFO 6 --- [   scheduling-1] c.e.r.j.s.CalculateAllocatedStorageJob   : Job CalculateAllocatedStorageJob has been finished. Result null
2021-08-21 20:50:00.007  INFO 6 --- [   scheduling-1] c.e.r.j.s.Cal

[2021-08-22 02:52] aleon1220 commented on #1478
No fix. I am reporting an issue. I left some examples in the links I have posted.

[2021-08-22 08:12] AmrWatad commented on #1498
@evjlobanova
we run a suit of tests with tags
we need this feature for see the pass rate of specific tests(filter by tag) on the launch

[2021-08-23 02:05] evjlobanova commented on #1498
For that reason, you can use a widget Component Health Check Widget or Component Health Check Widget (table view) https://reportportal.io/docs/Table-Component-health

[2021-08-23 06:20] evjlobanova commented on #1510
@VolhaKarenko Could you please recheck the iisue?

[2021-08-23 07:54] irynakozak2 commented on #1506
It's a job for recalculating allocated storage occupied by the projects. I asked about `cleanStorage` job.

[2021-08-23 08:04] evjlobanova commented on #1509
You are using the wrong fields for join operations, so please try to check the query

[2021-08-23 09:42] odubaj commented on #969
Facing the same issue, is it already resolved ?

[2021-08-23 10:16] Yumfriez commented on #1510
@aleon1220
As LDAP error says: Sizelimit Exceeded - because of **objectClass=person** you retrieve all users data on login attempt.
Correct way of configuration on the RP side is to provide filter with common pattern that will allow **username** extraction:
(&(objectClass=user)(userPrincipalName={0})) - by default (userPrincipalName is user login attribute)

**userPrincipalName** attribute can be

[2021-08-23 10:37] jrzdudek commented on #1502
@VolhaKarenko I confirm, setting email in the field resolved the issue.
Just as a suggestion to reduce confusion, perhaps it would be worth it to name the field `sender email` instead of `sender name` as those tend to be 2 distinct values in SMTP configs.

[2021-08-23 10:59] TAVkiev commented on #1362
@evjlobanova hi, new version released - 5.5. Still rerun function creates duplicates of tests

[2021-08-23 11:04] evjlobanova commented on #1502
@VolhaKarenko Could you please add a task to the net sprint please

[2021-08-24 07:32] aleon1220 commented on #1510
Thank you Ivan @Yumfriez
yes the filtering you mentioned is the correct one. Again I am using Microsoft Active Directory. I suggest the documentation is updated with examples. I am happy to add them to the docs.

Please find the table of configurations that worked successfully

#### Table with properties and values for LDAP Microsoft Active Directory

|          Property         |

[2021-08-24 08:58] aleon1220 commented on #1510
I have asked other users to login and is been successful.
Thank you

[2021-08-24 08:58] #1510 closed

[2021-08-24 09:39] dmitry-beryozkin opened #1511 "[v5] db-scrripts migration fail from 5.3.5 to 5.5"
**Describe the bug**
Fail after 17 hours of db-scrripts migration.

**To Reproduce**
I tried to update reportportal from 5.3.5 to 5.5 just by updating docker images in docker-compose file and adding new service   metrics-gatherer.

**Expected behavior**
I expected that db-scrripts migration will be finished with a success.

**Screenshots**
![image](https://user-images.githubusercontent.com/7138484

[2021-08-25 06:09] ReddyNitheeesh commented on #1317
@evjlobanova  is this issue fixed with the latest 5.5 RP release ??

[2021-08-25 06:18] ReddyNitheeesh commented on #1461
@Cyberglamdring , can you help with steps how to calculate N value ??

[2021-08-25 13:50] chan90git opened #1513 "Test log not created in ReportPortal for successful test"
Hi ReportPortal team,

I'm facing the issue below while using reportportal for logging results (TestNG+Selenium+Java+ReportPortal). We have installed RP in our AWS EC2 machine (with all needed config)

console error log :
**********************************************************
[rp-io-26] ERROR com.epam.reportportal.service.Launch - [57] ReportPortal execution error
rp.org.apache.http.conn.HttpH

[2021-08-25 13:55] chan90git commented on #1513
pom.xml :
<repositories>
	     <repository>
	        <snapshots>
	          <enabled>false</enabled>
	        </snapshots>
	        <id>bintray-epam-reportportal</id>
	        <name>bintray</name>
	        <url>http://dl.bintray.com/epam/reportportal</url>
	     </repository>
	</repositories>

[2021-08-27 14:27] dmitryyu opened #1514 "[v5] Settings for a project cannot be saved if "forever" value is used and other values use specific days."
**Describe the bug**
[v5] Settings for a project cannot be saved if keepLaunches=forever with any keepLogs value. App supposes "forever" less than 90 and cannot save it with the following error:

{"errorCode":40016,"message":"Error in handled Request. Please, check specified parameters: 'Delay of 'job.keepLogs' should not be higher than 'job.keepLaunches''"}

**To Reproduce**
1. Open Project setti

[2021-08-28 12:11] miracle8484 commented on #1448
Hello, we have appropriate page in case of your kind of issue, please have a look at https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/MigrationIssue.md

[2021-08-28 12:11] #1448 closed

[2021-08-28 12:11] miracle8484 commented on #1468
Hello, we have appropriate page in case of your kind of issue, please have a look at https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/MigrationIssue.md

[2021-08-28 12:11] #1468 closed

[2021-08-29 12:16] asaflevyz commented on #1506
How can i get the cleanStorage job logs?

[2021-08-30 09:18] VolhaKarenko commented on #1474
@Kanaduchi I've noticed "Destination mismatch" errors in logs you provided, seems like you're using incorrect URLs in SAML settings. Please provide your URL before the "/uat/saml/sp/SSO/alias/report-portal-sp" part

[2021-08-30 09:32] VolhaKarenko commented on #1482
Hi @JackRyanTR, as mentioned above, the EntityID change is fine. Could you please provide some error details?

[2021-08-30 09:35] Kanaduchi commented on #1474
@VolhaKarenko
I decorated it with "domain" word because it shouldn't be public. Domain is the same as in Okta

[2021-08-30 11:24] VolhaKarenko commented on #1474
@Kanaduchi try removing "qa-" part

[2021-08-30 11:35] VolhaKarenko commented on #1474
@Kanaduchi try with providing valid port after the domain like: https://qa-reportportal.domain.com:8080/uat/saml/sp/SSO/alias/report-portal-sp

[2021-08-30 11:51] VolhaKarenko commented on #1266
Hi @robertlagrant, was the answer above useful for you or are you still having the issue?

[2021-08-30 11:57] Kanaduchi commented on #1474
@VolhaKarenko When I try to open link with 8080 port I get an error: This site can’t be reached

Configuration of docker container for UI:
[code]

netstat command shows that 8080 port is used by docker-proxy:
![image](https://user-images.githubusercontent.com/7042994/131335031-9e8ca940-5e32-46bd-808f-b82da949c18f.png)

[2021-08-30 12:23] Yumfriez commented on #1474
@Kanaduchi Try to provide env variable for UAT(authorization) container:
RP_AUTH_SAML_BASE_PATH=<your host>/uat

Where <your host> host of the deployed RP

[2021-08-30 13:35] eugen0309 commented on #1136
We've been experiencing the same problem for a while and I cannot get any solutions for it.
Is there a minimum number of launches / tests that are required for this widget to work?

Thanks!

[2021-08-31 07:20] Kanaduchi commented on #1474
@Yumfriez

I tried 2 variants:
RP_AUTH_SAML_BASE_PATH=/uat
and
RP_AUTH_SAML_BASE_PATH=https://qa-reportportal.reltio.com/uat

I still see error:
`Aug 31 12:01:58 362c47d92d69 uat 1. Destination mismatch: https://qa-reportportal.domain.com/uat/saml/sp/SSO/alias/report-portal-sp
Aug 31 12:01:58 362c47d92d69 uat org.springframework.security.authentication.InsufficientAuthenticationException: Validati

[2021-08-31 09:02] Yumfriez commented on #1474
@Kanaduchi I see, we have should make an improvement regarding this env variable.
Could you please post ur docker config here? (traefik + ssl config + uat will be enough)
Also would be great to connect to uat using remote debug to see the values that are compared and failed because of mismatch

[2021-08-31 09:37] Kanaduchi commented on #1474
@Yumfriez Here is my config:
[docker-compose-qa.txt](https://github.com/reportportal/reportportal/files/7082861/docker-compose-qa.txt)

Unfortunately it is impossible to connect to uat remotely - it works in VPN

[2021-08-31 18:29] els-pnw commented on #1509
The issue appears to be related to my query but also due to the fact that there is no clear way to get test_item.* and project_id onto a row.

There are tables called pattern_template and pattern_template_test_item which seem to suggest there is a way to do this but I have yet to find anyone who knows how to use these tables to achieve what I am looking for.

It would seem easier to simply have pr

[2021-09-01 11:24] samagarw commented on #975
Is there any plan or work going on this ticket ?

[2021-09-02 07:46] obaranov opened #1515 "[v5] 504 Gateway Time-out while importing launch with a lot of tests in the junit xml"
**Describe the bug**
I'm trying to import junit XML with a large number of tests (around 3500) to the project. I use the Import button from UI or this API call:

[code]

And after 30 seconds I'm getting the response:

[code]

When I go to the UI after that, I can see a new launch, but It looks like it is under processing by some backend workers. And after some time I can see a valid launch with al

[2021-09-02 18:44] iRetlaWM commented on #193
This is really useful and I think that can be done with the current API. I hope that this feature can be ready soon.

[2021-09-03 06:55] PSchnurbus24 commented on #1474
Hi

I have exactly the same issue. Reportportal installed in GKE Cluster with Contour HTTPProxy. Everything working fine except SSO with Okta. Same error message.

[2021-09-03 09:50] evjlobanova commented on #193
For now, there is no such feature, but we are planning it this year

[2021-09-03 09:54] evjlobanova commented on #1511
Hello, please check the documentation regarding migration issue https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/MigrationIssue.md

Please try to perform described steps, and let us know about the results.

[2021-09-03 09:55] evjlobanova commented on #1507
Hello, please check the documentation regarding migration issue https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/MigrationIssue.md

Please try to perform described steps, and let us know about the results.

[2021-09-03 20:27] DzmitryHumianiuk commented on #684
Hi all,

During the transition to a radically new version 5, with complete redesign under the hood, we had to find a compromise between preserving the old accumulated problems and transferring this legacy to the next versions.
Or getting rid of them and updating new clients for the changed API.

Our choice was made in the direction of getting rid of the accumulated issues and reworking the connect

[2021-09-03 20:39] DzmitryHumianiuk commented on #1334
@FelipeJK are we talking about importing the results of the entire launch? or about attaching a single HTML file in the test logs?

[2021-09-03 22:31] VolhaKarenko commented on #1477
Hi @priyankachaturvedi30, try removing the integration and adding it again, associated jiras will remain + corresponding tooltips on hover should be displayed. The root cause is probably issues on jira side.

[2021-09-04 06:02] deepaleekhare31 opened #1516 "Total TestCase count is reflecting incorrectly [v5]"
Hello Team,

I ran the sample project you have provided with the command **npm run example:simpleTestWithRetries**
And I get the **expected** below results with a total of 10 Tests, 8 passed and 2 failed:
![image](https://user-images.githubusercontent.com/50138350/132084431-c75584ca-e5f3-4849-b39e-112dbf518e41.png)

Now i made the below minor change in the stepDef file.
When("I ask whether it's Fr

[2021-09-05 07:43] Shakevg commented on #1477
@priyankachaturvedi30 I had the same issue after changing my domain password. The issue was resolved only after the Support team several times clears the Jira cache and I re-login to Jira.

[2021-09-06 14:33] DzmitryHumianiuk commented on #1516
@deepaleekhare31 what is your RP version?

as for cucumber example i see
[code]

cc @HardNorth @Yumfriez

[2021-09-06 15:22] SreaSrestha9 opened #1517 "Cannot find Match issues in launch option in Report Portal 5.5.0"
![image](https://user-images.githubusercontent.com/19340031/132238370-2a02233e-2356-4252-b038-fb39a2dbd604.png)

[2021-09-07 11:37] evjlobanova commented on #1517
Hello @SreaSrestha9
"Match Issue" feature has been removed in version 3.x.x. Since that we have rewrite the analyzer twice)
 So in version 5.5 the analogue of "Match issue" is ML suggestions feature:

![image](https://user-images.githubusercontent.com/30413511/132338099-958b04be-a2a9-4c1c-942d-9f8519f36427.png)

In the section ML suggestions, you can find items with similar errors for analyzed ite

[2021-09-07 11:37] #1517 closed

[2021-09-07 12:41] eugen0309 opened #1518 "Error when adding TestCase[v5]"
**Describe the bug**
Sometimes when trying to add a TestCase, I get a 500 response. This does not happen all the time.

**To Reproduce**
Just send requests to add TestCases.

**Expected behavior**
TestCase is added and I get a 201 response.

**Screenshots**

I get this error in the postgres log:
2021-09-07 10:40:02.850 UTC [100] ERROR:  failed to add item to index page in "path_gist_idx"

This err

[2021-09-07 14:24] arnikasky opened #1519 "[v5] Unclassified Report Portal Error - when installing report portal 5.5.0 in EKS 1.18"
**Describe the bug**
When installing Report portal v5.5.0 in AWS EKS, reportportal-api pod is in state "CrashLoopBackOff" because of "Unclassified Report Portal Error".
[report_portal.log](https://github.com/reportportal/reportportal/files/7122169/report_portal.log)

**To Reproduce**
AWS, EKS v1.18
Report Portal v5.5.0
elasticsearch, minio, postgres, rabbit are installed in this cluster too as pod

[2021-09-07 14:30] deepaleekhare31 commented on #1516
5.0.5

[2021-09-08 08:35] HardNorth commented on #1516
@deepaleekhare31 The issue is related to test case names and how ReportPortal process them, to the some point in the past it processed item join by names. As you can see your original failed scenarios named with indexes `[1]`, `[2]`, etc. But retries named without them. That's because original run executes all tests in a row, so Cucumber put indexes to distinguish them, but retry executes tests on

[2021-09-08 10:23] SreaSrestha9 commented on #1517
The option "Choose among ML suggestion" stays in disabled state. How can we enable it?

[2021-09-08 11:27] Roshick opened #1520 "[v5] Incompatibility with Minio-Operator"
**Describe the bug**
We are using the minio-operator (https://github.com/minio/operator) in version 4.2.5 deployed via helm and created a tenant for reportportal. At startup of the uat pod we get the following error which causes the pod to fail:

[code]

Checking the tenant, reportportal created two buckets "prj-keystore" and "prj-user" and a file within "prj-keystore" named "secret-integration-sa

[2021-09-08 11:43] evjlobanova commented on #1517
It depends on the reasons why this option is disabled. You can hover ML suggestion section  and the system should show you a tool tip with a problem.

There are 2 possible reasons:
- problems with Analyser service
- or there is no ML suggestion for analysed item

If you have the 1st problem, check you deployment.
If the 2 nd, try to generate index in Project Settings,  if still section is disabled

[2021-09-08 14:35] TAVkiev opened #1521 "[v5] Widget Launch duration chart shows wrong time"
**Describe the bug**
Of the top of my had this is most related to bug. This is about widget " Launch duration chart". The problem related to merged launches. The result that shows widget - total real time between first start of the launch and finish launch. In the end time showed by the widget incorrect.

For example, I have 3 launches:
Third - 2021-09-08 16:39:47 (1m 8s)
Second - 2021-09-08 11:29

[2021-09-09 10:04] #1518 closed

[2021-09-10 13:57] IoTravis opened #1522 "[v5] DOM based XSS vulnerability on login page using vulnerable errorAuth parameter"
**Describe the bug**
The ReportPortal login page does not validate / sanitize the `errorAuth` parameter.

This issue could be leveraged by an attacker to steal login credentials of the reporting portal as well as cookies.

**To Reproduce**
This URL demonstrates the behavior on demo.reportportal.io.
`https://demo.reportportal.io/ui/#login?errorAuth=aaa<iframe%20src=javascript:alert(document.domain)

[2021-09-10 15:02] evjlobanova commented on #1522
@IoTravis thank you for posting this bug!
We will fixed is soon as a possible and make announcement for users

[2021-09-10 16:54] IoTravis commented on #1522
Thanks for the quick evaluation and getting a fix in the pipeline!

[2021-09-13 15:59] kwmlodozeniec opened #1525 "Uploading junit style xml reports using REST API"
Hi!

Great project btw. I am trying to integrate RP into our CI pipeline as we have various homegrown frameworks. Is there a way of using the REST API to simply upload a Junit style test report to the RP instance? I searched and searched and could not find an obvious example.

[2021-09-13 21:57] rplevka commented on #1249
@evjlobanova i guess the `5.5` milestone label is no longer valid. Are you considering another milestone for this?

[2021-09-14 09:03] PSchnurbus24 commented on #1474
Any news on this?

[2021-09-15 11:12] AsoTora commented on #1520
Having the same issue:
Helm charts installed from documentation:
<img width="607" alt="image" src="https://user-images.githubusercontent.com/36507055/133422274-abb449df-f092-4485-9b67-dffe5a9d9ffa.png">

Error log from the api pod:
`2021-09-15 11:06:43.827  INFO 1 --- [           main] org.quartz.core.QuartzScheduler          : Scheduler meta-data: Quartz Scheduler (v2.3.2) 'reportportal' with ins

[2021-09-15 11:41] #1414 closed

[2021-09-15 15:52] AsoTora commented on #1520
I am so lost here. Manually added files to minio bucket, yet the issue still persists.

[2021-09-15 16:09] Roshick commented on #1520
I see he is looking for "test/*" in your case, is there maybe some mismatch between the values in the helm chart and the values/envs in the pods/application? I'm also confused why it created the buckets with a "prj-" prefix which is undefined in my values.yaml as well as the default values.yaml.

[2021-09-15 19:57] 0x7162 opened #1526 "[v5] [Fresh installation] [Default credentials] You do not have enough permissions. Bad credentials"
**Describe the bug**
After the fresh installation I'm unable to log in using default credentials
( `default` and `superadmin` )
( I got them from https://reportportal.io/installation )

**To Reproduce**
Standart installation using docker-compose
( CentOS Linux release 7.7.1908 (Core) )
( 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux )

**Expected beh

[2021-09-15 19:58] 0x7162 commented on #1526
state
[code]

[2021-09-15 20:01] 0x7162 commented on #1526
[Untitled.txt](https://github.com/reportportal/reportportal/files/7172901/Untitled.txt)

[2021-09-15 20:38] 0x7162 commented on #1526
Upd: I got the installation done on similar OS but with later version

[code]

[code]

[2021-09-16 13:09] rplevka opened #1527 "[v5] rerun_of parameter with invalid launch uuid causes the rabbitmq messages to hang in queue forever"
**Describe the bug**
When using `api/v2/launch` endpoint to start a launch, and `rerun_of` parameter with an invalid launch UUID is supplied, there are new messages queued in rabbitmq which stay in `Ready` state forever (no consumer is taking them).

**To Reproduce**
POST request to `api/v2/launch` with `rerun: True` and `rerun_of: nonexisting`.
Then spawn new test items and logs for them.

**Expe

[2021-09-16 15:24] SandeepAppium opened #1528 "Not able to login to the reportportal , getting this error - An error occurred while connecting to server"
Hello ,
i have installed the reportportal in my ubuntu machine(Not through docker)
While installing requirements.txt got the below errors
udo /vrpanalyzer/bin/pip install --no-cache-dir -r requirements.txt
Requirement already satisfied: flask==1.1.1 in /vrpanalyzer/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.1.1)
Requirement already satisfied: flask-cors==3.0.8 in /vrpanalyz

[2021-09-17 07:04] creatorOfautomation commented on #1362
@evjlobanova Same for me. Mostly it works but it doesn't work for the following:

1. For the failed @Before and @After classes/method - results are not being updated in existing item instead creating new item in a new Suite in a Launch
2. For failed tests with parameters obtained from @DataProvider - results are not being updated in existing test instead creating new test. It's happening because @

[2021-09-17 07:53] bzsharm commented on #1472
@Cyberglamdring is there is any update on this request? , your insights will really help me.

[2021-09-17 08:45] AsoTora commented on #1520
@Roshick so did you fix it?

[2021-09-17 08:52] Roshick commented on #1520
Unfortunately not. :(

[2021-09-17 12:06] vishakhasodha opened #1529 "Export dashboard as excel"
Hi,

It would be great addition to have export feature for dashboard in excel and other format. This will help in tracking and analyzing the linked bugs with other things.

[2021-09-20 06:55] gesmogast commented on #1511
Hey @evjlobanova ,
We have already tried to update schema_migrations to lower numbers multiple times but it keeps failing on step #46.
The same error:
`2021-09-20 06:47:46.394 UTC [1300] **ERROR:  invalid input syntax for type bigint: "3 months"**
2021-09-20 06:47:46.394 UTC [1300] CONTEXT:  SQL statement "SELECT (SELECT value::BIGINT FROM project_attribute WHERE attribute_id = launch_job_attr_id

[2021-09-20 07:04] gesmogast commented on #1511
A bit more context on what is inside the project_attribute table:

`
 attribute_id |          value           | project_id
--------------+--------------------------+------------
            4 | 1209600                  |          9
            2 | 7776000                  |          9
            1 | 3600                     |          9
            3 | 7776000                  |          9

[2021-09-20 07:57] SamZigo opened #1530 "What happened to Latest Launches Widget?"
Hello Report Portal Team,

In version 5.3 We had something called Latest Launches widget which was quite uselful for us. However when I upgraded to version  5.5.0 It is no longer working and it is not even there when I want to add a new one. I thought this was some kind of error during migration so I tried a clean installation of Report Portal 5.5.0 on another machine but it is not there either. I

[2021-09-20 13:27] KatiDem opened #1531 "Report portal is not functioning correctly. Response is not json 500 - not all data appears on the portal"
**Describe the bug**
When trying to send logs to the report portal, the following errors pop up in the log:
[code]
Log partially gets to the report portal, but not completely. Launches and items are created, statuses are put down, the whole structure is in the portal, only logs do not reach report-portal.
There was already an assumption from the ReportPortal developers themselves that this was due

[2021-09-21 10:59] nkagri opened #1532 "java.lang.NoSuchMethodError: org.testng.ITestResult.wasRetried()Z"
I have setup ReportPortal in my ubuntu machine and it's working fine. But when I integrate it with my Java+TestNG project. I was getting this error:

RemoteTestNG] detected TestNG version 6.11.0
13:54:14.298 [main] WARN com.epam.reportportal.service.ReportPortal - Base url for Report Portal server is not set!
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective

[2021-09-21 11:50] HardNorth commented on #1532
You are using incorrect version of TestNG agent. Those which support TestNG 6 has `TESTNG6` suffix. E.G.: https://github.com/reportportal/agent-java-testNG/releases/tag/5.0.10-TESTNG6

[2021-09-21 11:50] #1532 closed

[2021-09-21 14:58] allan-silverstein opened #1533 "Report portal crashing due to maximum upload size exceeded"
**Describe the bug**
Report Portal crashes with the following trace.

[code]

**To Reproduce**
Certain tests I'm running produce large log files.  These log files are uploaded to report portal via the reportportal_client.  (I believe this is happening during log file upload...)  Is there a way to increase this value to accommodate larger File uploads?

This is the code that is uploading log files:

[2021-09-22 09:06] evjlobanova commented on #1510
@aleon1220 thank you for sharing the example, we have updated documentation with it https://reportportal.io/docs/Active-Directory-Auth

[2021-09-22 09:07] evjlobanova commented on #1511
@miracle8484 Maksim, could you please check this ticket?

[2021-09-22 09:20] i-vasilev commented on #618
Hello! @DzmitryHumianiuk @evjlobanova
I lack the size of step name. 1024 is very small size for big parametrized steps. Can you implement possibility to set size of step name in settings or properties?

[2021-09-22 09:39] HardNorth commented on #618
@i-vasilev no.
See:
https://github.com/reportportal/reportportal/issues/1359
https://github.com/reportportal/client-java/issues/154

[2021-09-23 16:12] satish9126 opened #1534 "Installed Jira plug - Dont see Attachments and assign info in Jira"
Hello I Installed Jira plug and able to connect to Jira from Report portal and post bug into Jira but dont see Attachments and assign info in Jira which is selected in RP. Is their any setting we have to do on Jira to accept them from RP ?

Thanks in advance.

[2021-09-24 09:34] DeNNyA19 opened #1535 "[v5] rp.skipped.issue=true doesn't mark "Skipped" tests as "To Investigate""
According to the documentation rp.skipped.issue should mark skipped tests as 'To Investigate' if set to true.
![image](https://user-images.githubusercontent.com/21055259/134650367-da3c5383-5dac-412e-a41d-d4285bc21bae.png)

In the version 4.3.6 it was configurable, example of the run with rp.skipped.issue=true is below
![image](https://user-images.githubusercontent.com/21055259/134651591-a9e81685-3

[2021-09-24 10:15] HardNorth commented on #1535
@DeNNyA19 Could you explain your case please? It doesn't make much sense for me, since your test was skipped because of failed `Before Method`. There is no many things to investigate and there is 'To Investigate' on `Before Method`. `rp.skipped.issue=true` is for the case when someone intentionally skipping tests in code.

[2021-09-24 13:05] mikewillard-ableto commented on #285
Where can I find this add user screen? I am not seeing it. I do not want to set up an email server for the invite user feature.

[2021-09-24 13:26] sspieker-cc opened #1536 "V5/V6 - Please allow the ERROR status be included with the test results"
**Describe the solution you'd like**
Within the current reportportal there are the three status's: Passed, Failed and Skipped.  There are conditions where tests have an Error condition as well which is included in the JUnit specification.  Errors still have a failed status overall, but it would be easier to identify the errors to correct when they are marked as such.

Test suites that have over 75

[2021-09-24 14:14] DeNNyA19 commented on #1535
@HardNorth  Main idea of the "To Investigate" label is also to confirm that all skipped tests must be re-executed and confirmed that there is no any issues, with "To Investigate" label we can do local run of the cases and confirm that those cases do not have any app issues.
Additionally we can easly control whole distributed team's review process - during review of "To Investigate" for Skip we cha

[2021-09-24 14:27] DzmitryHumianiuk commented on #285
@mikewillard-ableto https://reportportal.io/docs/Creation-of-project%3Eadd-users-to-project

[2021-09-24 14:40] mikewillard-ableto commented on #285
Great, that worked! Thanks for the fast reply

[2021-09-26 07:07] SubratKumarTR commented on #1511
Hi Team,

We are facing same issues in DB migration from 5.3.5 to 5.5.0.

Regards,
Subrat.

[2021-09-26 17:21] ReddyNitheeesh commented on #1511
@gesmogast, @evjlobanova  ,

can you please help with list of rollback steps you followed to downgrade from 5.5 to 5.3.5 , we are facing issues related to elastic search as **"Cannot downgrade node from 7.10.1 to 7.3.0"**
![image](https://user-images.githubusercontent.com/28997011/134817572-b4034f3c-2264-41e8-8440-af3c00d6b768.png)

Thanks,
Nitheesh

[2021-09-27 06:17] gesmogast commented on #1511
Hey, @ReddyNitheeesh , we are experimenting with this migration on a full copy of the server and restoring it back to 5.3.5 from its snapshots. So I don't think I will be any help for you.

[2021-09-27 07:39] AlexeyKolychev commented on #1511
Hey Team,
Same issue.

[2021-09-28 10:11] nandha081992 commented on #1444
@evjlobanova  How can I reset the password. I see the same issues now

[2021-09-28 16:56] miracle8484 commented on #1511
Hello, guys!
As you can see from your logs, trouble is related to data is stored in your database. To be more precisely "3 months" as projects retention policy attribute. In migration https://github.com/reportportal/migrations/blob/develop/migrations/18_job_attributes.up.sql we converted string intervals to seconds, that can be parsed to BIGINT, but in your case my suggestion is:
1. Migration 18_j

[2021-09-29 03:33] ReddyNitheeesh commented on #1511
Hello @miracle8484 ,

Current migration version in 5.3.5 RP version is 25, on upgrading to 5.5 it starts migration from 26 version right, then there is flaw in before migration steps only, it is somehow skipping a specific step. Please find additional info below
![image](https://user-images.githubusercontent.com/28997011/135198144-6f76d3ee-d8df-4aa9-9ada-34ef80dfbebb.png)

and can you please provi

[2021-09-29 07:06] endless-qa commented on #1268
Any updates on this?

[2021-09-29 09:14] miracle8484 commented on #1511
Hello, @ReddyNitheeesh, if migration https://github.com/reportportal/migrations/blob/develop/migrations/18_job_attributes.up.sql has been executed correctly, then you must have digits instead of string("3 months"), or possible cases i mentioned above.
But i strongly recommend to you keep database consistent and don't rollback to old versions.
Possible ways to resolve migration trouble, i wrote abo

[2021-09-29 10:34] gesmogast commented on #1511
Hey, @miracle8484 , thanks,
the idea to re-run the db migrations script from step 18 seems working.
What I did:
1) UPDATE schema_migrations SET version = 17, dirty = false;
2) Rerun the db migration again
3) Checked that the project_attribute table has been updated and has no more string values anymore (3 months, 1 month, etc)
4) The migration process failed several times due to 'table exits', bla

[2021-09-29 11:05] miracle8484 commented on #1511
Actually, idea was to run scripts to fix string data for job attributes, as basic you can use https://github.com/reportportal/migrations/blob/develop/migrations/18_job_attributes.up.sql (possibly you can use it as is).
**!Important**, Rerun all migration from some specific step in the past(for current case from 18 and upper) may be have some side effects, and i DON'T recommend use this way thought

[2021-09-29 11:52] ReddyNitheeesh commented on #1511
Thanks, @miracle8484,

As per this discussion execute job 18 and then update table of schema migrations table with this command(UPDATE schema_migrations SET version = 45, dirty = false;) and execute migrations would fix our problem.

But to be sure to fix inconsistency are not there in our system,  if we start migrations starting from 18 do you see any issues or data loss??
Thanks,
Nitheesh

[2021-09-29 12:06] saicharan-ally commented on #791
in which file should the above mentioned code should be added  @meka-dharma ?

[2021-09-29 14:38] miracle8484 commented on #1511
You are welcome,
unfortunately, there is no simple way do check,
i can't guarantee that reset and rerun migration from 18 up to current doesn't damage your current data.
As i see, you have few options:
1. Fix current issue and complete migrations, but with risk of inconsistency.
2. Manually recheck all migrations for consistency with your DB status, and run some migrations or part of it if needed.

[2021-09-29 17:56] julsjacobson opened #1537 "Leverage Existing Organization Field in Project Table"
Hi all. The organization field in the Project Table seems to not be used. Is it possible to update POST /v1/project and PUT /v1/project/{projectName} to accept an organization field in the response body to update the database field?
Currently, we leverage this field by manually adding values to the database and being able to see those changes in the UI.

<img width="313" alt="Screen Shot 2021-09-2

[2021-09-30 17:00] VolhaKarenko commented on #1105
Fixed in version 5.6

[2021-09-30 17:00] #1105 closed

[2021-09-30 18:35] nathan-weinberg opened #1538 "Skipped Tests register as Failures in metrics calculation"
Currently the calculation done for `Passing rate` is done by doing `Passed Tests/Total Tests` - however, using this calculation means that in certain scenarios where tests are `Skipped` the metric does not do a great job of reflecting reality. For example, if you had two tests running and one was `Passed` and one was `Skipped`, the `Passing rate` metric shows as `50%`, despite the fact that all te

[2021-10-01 19:36] Ashu171 opened #1540 "Jenkins job got hang with error: System.NullReferenceException: Object reference not set to an instance of an object. at ReportPortal.NUnitExtension.ReportPortalListener.FinishRun(XmlDocument xmlDoc)"
I know this issue was reported previously but i have used the versions greater then those which had fixes, but my Jenkins build got failed with below error :

Finishing to send the results to Report Portal... ReportPortal exception was thrown.

System.NullReferenceException: Object reference not set to an instance of an object.

   at ReportPortal.NUnitExtension.ReportPortalListener.FinishRun(XmlD

[2021-10-04 10:16] nvborisenko commented on #1540
`ReportPortal.NUnitExtension.Bank` looks like your custom implementation, and this implementation is based on `ReportPortal.Shared v2.3.2` which was released 2 years ago. During this time the `ReportPortal.Shared` was significantly improved, particularly in exception handling area.

[2021-10-04 10:35] amnonmaimon commented on #603
Hello great people,
This feature is very crucial to a large groups, even 20 users, because we need to enable few permissions on a different levels, like adding PA, edit job to investigate etc.
Today Project Manager is the only one to that (beside the admin of course), but the PM is not the one that actually find and match PA and issue integrations as JIRA etc..
If there is even a file/DB table/any

[2021-10-05 09:58] Yumfriez commented on #1474
@Kanaduchi @PSchnurbus24 We’ve made a PR with possibility to provide a redirect base path from the UI.
The problem was that in some cases RP auth service was unable to resolve request protocol correctly, so it was decided to allow users provide RP host directly in SAML integration settings or using env variable that was mentioned earlier (env priority was also fixed and now it’s higher than reques

[2021-10-05 12:31] #1474 closed

[2021-10-05 13:45] DzmitryHumianiuk commented on #603
@amnonmaimon there is no any hidden functionality to do so.
Since there is no technical realisation of multi-functional and flexible permission for now.

[2021-10-06 10:26] DeNNyA19 opened #1541 "[v5] api performance is much slower than on v4 for /v1/{projectName}/item for huge launches"
We use ReportPortal API for generation of an excel report with an information about all tests in the list of launches. After migration to V5 for some launches time required to generate report significantly increased.

Below you may see response timings for requests to V4 which are 10-20 ms
![image](https://user-images.githubusercontent.com/21055259/136187061-09b6e662-3d63-49b7-b335-8c7bb731d089.pn

[2021-10-06 11:39] shroffsagar opened #1542 "Feature to have only read only access across portal"
**Ability to have only read only acess across report-portal ui**
The current set of roles does not allow an admin to just give read only access to a user. For instance, a customer role can still mark/edit defects. In a real world use case, if i have to give access to a user (who is new to portal); I would ideally want them to have just read access while they understand the intricacies.

The report

[2021-10-06 12:00] evjlobanova commented on #1542
Hello!|Thank you for the request, we are planning to add a custom permission map and also a role viewer.
It is difficult to tell exactly in which version it will be available. But now we are working on requirements gathering for this functionality

[2021-10-06 12:18] evjlobanova commented on #1538
@nathan-weinberg hello, thank you for the question you have raised. Actually, ReportPortal logic for now ( and in the nearest future we are not planning to change it) that status has boolean values, test passed or failed.  Skipped status is tricky, in reality, the test with status skipped is not passed.

Could you please describe, how you team is using Skipped? In which case you mark tests with th

[2021-10-06 12:21] #1511 closed

[2021-10-06 12:35] evjlobanova commented on #1536
@sspieker-cc
![image](https://user-images.githubusercontent.com/30413511/136202149-a22133cd-ef94-4b21-b28b-6af09b5dec56.png)
![image](https://user-images.githubusercontent.com/30413511/136202257-36e07132-0f4b-4bca-90f9-e1937d4150cb.png)

The logic of ReportPortal now is that status is a boolean value, test passed or failed. We have added a skipped, because the logic of this status can be different

[2021-10-06 12:36] evjlobanova commented on #1534
Could you provide more details, screens, steps for reproducing?

[2021-10-06 12:38] evjlobanova commented on #1533
Hello
Which version of ReportPortal do you use? Which agent (and version) do you use?

[2021-10-06 12:42] evjlobanova commented on #1519
@Cyberglamdring could you please check

[2021-10-06 12:43] #1477 closed

[2021-10-06 12:48] evjlobanova commented on #1526
@Cyberglamdring could you please check the problem?

[2021-10-06 13:01] allan-silverstein commented on #1533
Report Portal Version: 5.3.5

I'm using Pytest Report Portal Client
pytest-reportportal==5.0.3
reportportal-client==5.0.3

[2021-10-06 13:13] sspieker-cc commented on #1536
We can add the defect type and we can manually set this marking on a test scenario.  The request here is when the JUnit results actually contain an error condition that they be consumed as such.  Often times this is either a misconfiguration of a test or an actual error related to execution of the test itself.

The use case that we are using reportportal is as follows:

1. Tests are executed in a

[2021-10-06 13:40] DeNNyA19 commented on #1541
@evjlobanova  we have many feature jobs which run in scope in the pipeline in terms of one regression and we generate one report for all launches. Also in the default export it is not possible to remove before/after methods and see only tests. Our custom report aggregates all required for us information into one report and provides links into respective failures (which is useful for ReportPortal n

[2021-10-06 15:05] nathan-weinberg commented on #1538
@evjlobanova Hello, thank you for the response!

We use the [Gingko](https://onsi.github.io/ginkgo/) framework with the [Gomega](https://onsi.github.io/gomega/) library for testing - when a test we've written in this framework is to be skipped in certain circumstances, we use the [Skip()](https://pkg.go.dev/github.com/onsi/ginkgo#Skip) function to process this. This in turn reports the test as "Sk

[2021-10-06 16:43] Mahesh81 opened #1543 "LDAP Configuration group filter is not working"
Hi

We have the following configuration for LDAP in report portal . It allows all the users to login, expectation is to restrict users based on prj_grp. Please provide your inputs

![image](https://user-images.githubusercontent.com/35498917/136247018-7cdb134c-467c-49b2-9b1a-19a0b9d044d1.png)

[2021-10-07 08:48] daroshchanka opened #1544 "[v5.5] Unable to keep launches 'Forever' without keeping logs/attachments"
**Describe the bug**
It's not possible to save project settings with Keep launches 'Forever' and 'non-Forever' values for Keep logs, Keep attachments.

**To Reproduce**
Navigate to Project Settings -> General Tab, set the values as on screenshot, submit form.

**Expected behavior**
I'm able to keep logs 90 days, but launches Forever.

**Screenshots**
![image](https://user-images.githubusercontent.

[2021-10-07 12:34] YBB8201 opened #1545 "Get link to launch via nunit extension"
Hi
I managed to retrieve unique id of test via ReportPortalListener_AfterTestStarted.
however, I cant use the following in order to get the link

endpoint + /ui/# + project + /launches/all/ + launchID
http://RP_SERVER/ui/#superadmin_personal/launches/all/599afcb39194be00011919d9

my report portal version is 5.3.4 - is this the reason ?

[2021-10-07 19:16] srgynmv opened #1547 "[v5] Service Analyzer actions are not available due to exception in service-index"
**Describe the bug**
When trying to use ML suggestions or actions with ElasticSearch index, Report Portal says that "Service Anlayzer is not available", but at the same time the service is alive and successfully displayed among the running docker containers.

A quick investigation led me to the service-index logs showing an error on fetching the traefik services info. I found that a similar issue

[2021-10-08 07:04] Ashu171 commented on #1540
The issue got resolved after running tests on Selenium Grid environment on Jenkins.

[2021-10-08 10:35] harshinireddykancharla opened #1548 "[v5]Report Portal - 5.5 Improper categorization of before methods and after methods during rerun of tests"
In a suite, if a few tests fails and rerun is performed only for failed tests. In that case, the before and after methods are getting improperly categorized. For example, first test before methods are categorized under second test

**To Reproduce**
TestNG version - 6.11
agent-java-testng - 5.0.10-TESTNG6
logger-java-log4 - 5.0.3

Create a TestNG project, write a few tests with before and after met

[2021-10-08 11:36] evjlobanova commented on #1538
@jianzhangbjz You can reportport results with parameter skipped:true. In this case all skipped tests will have "To investigate" defect type, and in the project settings you will be able to add a custom defect type "Blocked".
So this approach help you customize status.

[2021-10-09 11:26] graveekumar1980 opened #1549 "#1200"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone

[2021-10-09 15:37] #1549 closed

[2021-10-11 12:12] mrbinwin opened #1550 "[v5] Low performance of /v1/{project_name}/item/v2 API endpoint"
Hello!
It seems that the current version of service-api runs some heavy SQL queries that takes too much time (2-3 minutes) when user opens launch or test_item pages.

1. UI: http://rp.local/report/ui/#{project_name}/launches/all/{launch_id}
2. UI sends this request to service-api:
http://rp.local/api/v1/{project_name}/item/v2?filter.level.path=1&page.page=1&page.size=50&page.sort=startTime%2CASC&p

[2021-10-12 13:51] vishallanke opened #1551 "[help required] Report Portal AutoAnalysis on Skipped Test Cases"
In our project, many times cypress test cases gets skipped because of the valid defect. In such cases, Auto Analysis won't work. We need to manually update the defect and add comments to it. It looks like that Auto Analysis works only for failed test cases. Is this correct? If yes, then Is there a way to handle this?

[2021-10-12 14:01] vishallanke opened #1552 "[help required] Auto Analysis not working"
When our test cases get failed, it pushes very detailed logs inside the report portal. Now, all the time, the only email id/ unique id different. For example,
[code]

`cee5dc2e-1808-42a7-8140-xxxxxxx` => will get changed every time. Other logs are the same. If I set Auto Analysis to 100% words and all log lines should match, then Auto Analysis will not work.

But, I can not lighten this criterion

[2021-10-15 07:20] irynakozak2 commented on #1550
@mrbinwin hello. It's a known issue and it was fixed in version 5.5.1: related to the performance of the endpoints you listed. Please update to version 5.5.1 and recheck.

[2021-10-15 15:44] sergei820 opened #1554 "Screenshots doesn't attach to report"
##**Describe the bug**
Reports successfully create at ReportPortal, but screenshots don't attach to report, using different structures:
    logger.info("RP_MESSAGE#FILE#{}#{}", failScreenshot.getAbsolutePath(), "message");
    logger.info("RP_MESSAGE#FILE#{}#{}", failScreenshot.getPath(), "message");
    logger.info("RP_MESSAGE#FILE#{}#{}", failScreenshot.getCanonicalPath(), "message");
    logger

[2021-10-16 18:31] #1554 closed, assigned to nobody

[2021-10-16 18:35] HardNorth commented on #1554
That's not actually true, our examples works.

[2021-10-16 20:25] evgenytkachenko opened #1555 "[v5.5.0] reportportal_metrics-gatherer_1 can't connect to the db located on a separate VM"
**Describe the bug**
I have RP deployed using docker, I have Postgress deployed on a separate VM
all of the containers are healthy except the one with metrics
reportportal_metrics-gatherer_1 is unhealthy
In logs I see:
2021-10-16 20:18:45,075 - metricsGatherer.postgres_dao - ERROR - Error while connecting to PostgreSQL could not connect to server: Connection refused
	Is the server running on host

[2021-10-16 20:34] yahyakara opened #1556 "[help required] Change Suite name dynamically (Cucumber6 adapter)"
Hi I run cucumber tests with testng, I implement cucumber6 adapter, When I check the results I can see feature and steps perfectly but I need change "Root user storie". Or how can add attribute value dynamically to this layer like mobile device name or browser name
How can I do this ?
<img width="1460" alt="Screen Shot 2021-10-16 at 23 20 12" src="https://user-images.githubusercontent.com/16323796

[2021-10-17 01:50] evgenytkachenko commented on #1555
My bad, I was supposed to use it like that
  metrics-gatherer: # metrics service for analyzing how analyzer is working and manage retrained models
    image: reportportal/service-metrics-gatherer:1.1.14
    environment:
      LOGGING_LEVEL: info
      ES_HOST: http://elasticsearch:9200
      ES_USER: elastic
      ES_PASSWORD: elastic1q2w3e
      POSTGRES_USER: "rpuser"
      POSTGRES_PASSWORD: "r

[2021-10-17 01:50] #1555 closed

[2021-10-17 02:41] #1556 closed

[2021-10-18 07:38] Ramandus opened #1557 "[v5] RP 5.5.0 Make Decision button not working"
After migration from 5.3.5 to 5.5.0 we are facing the following issue

On clicking "to investigate"
![image](https://user-images.githubusercontent.com/92713758/137687412-aee37959-a96a-4593-84bf-e84087a69aa4.png)

We are getting to a blank screen and on the Console the following information is displayed:
![image](https://user-images.githubusercontent.com/92713758/137687660-8065700a-cea1-41ac-966b-4

[2021-10-18 12:59] evgenytkachenko commented on #1402
@bldragon101 how did you fix this issue, could you share, please?

[2021-10-18 13:57] evgenytkachenko opened #1558 "[v5.5.0] After migration from 5.3.3 to 5.5.0 anazlyer/index works incorrectly"
**Describe the bug**
I followed all of the instructions and migrated the db successfully using scripts https://github.com/reportportal/migrations/tree/develop/migrations

After deploying RP containers (db is running on a separate VM) they are all healthy and do not have exceptions.
The login page does not have a SAML login button and the current versions are not displayed. I see in the network com

[2021-10-18 16:24] evgenytkachenko commented on #1558
I believe the issue is related to the traefik settings, I have HTTPS redirects in place

[2021-10-18 19:42] #1558 closed, assigned to nobody

[2021-10-20 13:47] mikewillard-ableto opened #1559 "Rename report when using /import API endpoint"
I would like to be able to set the report name when uploading JUnit XML files using the /import API endpoint. Current they are just named `report #1, report #2, report #3` etc.

Another option would be to add the ability to rename the report using the /launch/{id}/update endpoint after they are created

[2021-10-20 20:39] TAVkiev commented on #1362
@evjlobanova I reproduced it with js agent. Issue also created, all data that I used from launch to launch - static, I set it only directly only once
https://github.com/reportportal/agent-js-mocha/issues/67

[2021-10-21 01:12] bldragon101 commented on #1558
Hi @evgenytkachenko  what changes did you make to the traefik settings? I have had a similar issue with our HTTPS config.

[2021-10-21 01:12] bldragon101 commented on #1402
@evgenytkachenko was not able to fix the issue.

[2021-10-21 16:18] evgenytkachenko commented on #1402
I had a redirect from http to https set up using traefik 2.2.8 version, I had to give up on this redirect and switch to 2.0.7 and follow the instructions from this doc https://github.com/reportportal/documentation/blob/master/src/md/src/InstallationSteps/TraefikTLS.md

[2021-10-21 18:15] talmoshe24 opened #1560 "Launches not removed according to policy"
My RP (currently 5.4.0, was 5.3.5 till 3 months ago) keeps the launches on all projects indefinitely
The setting is default (90 days)

How can I debug this issue?

[2021-10-21 19:04] AK1694 opened #1561 "How can we configure the bug detection to detect for product bug, system bug categories."
Hello,

So our testing analysis on report portal is just showing all bugs in the "to investigate" section. I want it to show bugs which has "Force Close", "SYSTEM_RESET", "Modem Silent Panic" and "ANR" texts in the trace_logs to reflect in the "Product Bug" Section instead of "to investigate".
 The first screen shot is an example of trace_log that has Force Close in it but in the second screenshot

[2021-10-27 12:13] #1559 closed, assigned to nobody

[2021-10-28 10:32] roopalN opened #1563 "Email Notifications are not getting generated"
**Describe the bug**
Email Notifications fails

**To Reproduce**
Include few valid/existing email Ids as notification subscriber list under email notifications settings for a project
Include 1-2 invalid/non-existing users
Notifications won't be generating at all

**Expected behavior**
Valid users should get notifications for set conditions (launch, launch with specific names etc)

**Desktop (pleas

[2021-10-28 11:43] SaskiaPeschutter opened #1564 "Widget "Most failed test-cases table (TOP-20)" shows last run and not last failed run."
**Describe the bug**
The "last issue" column shows the last time the test case run instead of the time the test case failed the last time and also the link goes to the last test where the test run successfully.

**Expected behavior**
Widget "Most failed test-cases table (TOP-20)"  links to the last failed test case and shows this as a time of "Last Issue".

**Versions:**
 - Ubuntu, Firefox
 - Curr

[2021-10-28 12:38] sudiprai10 opened #1565 "Getting Unable to finish launch in ReportPortal"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

**Expected behavior**
Result are not getting pass to Report portal.

**Screenshots**
Getting "Unable to finish launch in ReportPortal. Please refer the screenshot

![image](https://user-images.githubusercontent.com/25118438/139256562-242c778a-2909-4fb9-8a91-9fe02f3d6fdc.png)

[2021-10-28 12:57] #1565 closed, assigned to nobody

[2021-10-28 17:35] nkagri opened #1566 "Impossible interact with integration. There are no analyzer services with search logs support deployed."
I have set up ReportPortal in my ubuntu machine and also configured it into my Java+TestNG project, it's working fine. But after executing and investigating failures, found that auto-analysis is not working at my end. Showing this error every time "Impossible interact with integration. There are no analyzer services with search logs support deployed.".

I also checked the elasticsearch configurati

[2021-10-29 14:48] roopalN opened #1567 "Auto Analysis feature is not working"
Background : Both service analyzer and elastic service are running. I also started the auto analysis in reportportal user interface.

However, Generate and remove index buttons/features are disabled.

![image](https://user-images.githubusercontent.com/25950710/139455787-8b5dc2b8-c5f5-4755-8522-dcdfd0299ccd.png)

After generating some constant defects ( having similar failure cause and decisions),

[2021-10-31 12:30] ValorHeart opened #1568 "Unable to login to demo portal"
default
1q2w3e
![image](https://user-images.githubusercontent.com/61405630/139583315-cad66c0f-17f4-4d5e-ac49-136a70cc0488.png)

[2021-11-01 09:21] swadalkar opened #1569 "Port value for service-auto-analyzer is hardcoded"
**Describe the bug**
For service auto-analyzer in DockerFile there is option to use user define port,(https://github.com/reportportal/service-auto-analyzer/blob/5737c8c99a54e5f207d28b207234da1f540ba28b/Dockerfile#L43)
but again in app.py file port value is hardcoded.(https://github.com/reportportal/service-auto-analyzer/blob/5737c8c99a54e5f207d28b207234da1f540ba28b/app.py#L374)
Due to this hardcod

[2021-11-01 10:51] PavloZabudskyi commented on #1506
@evjlobanova @irynakozak2 We have same issue with minio clean job. We have 5.5.0 clean install
I set ` RP_ENVIRONMENT_VARIABLE_CLEAN_ATTACHMENT_CRON:    40 0 * * * *`
It is cron for launching job to clean data per with per project settings set in UI?

Job logs
[code]

[2021-11-01 11:00] MariyaIvanina commented on #1569
@swadalkar Hi! Why do you need to change the port inside Docker? You can map the port to any you want while running images. For example, you can change in the docker-compose file like this inside "ports" section:
![image](https://user-images.githubusercontent.com/11046087/139661793-e45b93ba-b8a2-4f84-a30f-bb25bddd4393.png)

[2021-11-01 11:10] irynakozak2 commented on #1506
@PavloZabudskyi please specify project retention settings(Project Settings - General), env variables for all jobs in the deployment, and content of the "shedlock" table in the PostgreSQL database. Logs above - it's a regular output of the service-jobs container and shows that the CalculateAllocatedStorageJob is run successfully. If there are no other messages related to running cleaning Jobs(Logs,

[2021-11-01 11:14] irynakozak2 commented on #1506
@asaflevyz all logs related to running cleaning Jobs for Attachments, Logs, Launches, and Physical Storage Cleaning can be found in the service-jobs container logs. If no logs - please check 'schedlock' table as I mentioned [here](https://github.com/reportportal/reportportal/issues/1506#issuecomment-902612997)

[2021-11-01 11:23] irynakozak2 commented on #1506
@asaflevyz all logs related to running cleaning Jobs for Attachments, Logs, Launches, and Physical Storage Cleaning can be found in the service-jobs container logs. If no logs - please check 'schedlock' table as I mentioned [here](https://github.com/reportportal/reportportal/issues/1506#issuecomment-902612997)

Please note, that the attachments count cleaned for the one job execution is limited to

[2021-11-01 12:59] HardNorth commented on #1568
Please use "Login with Github" button.

[2021-11-01 12:59] #1568 closed

[2021-11-01 13:35] PavloZabudskyi commented on #1506
@irynakozak2 thank you for fast reply.
I adjusted other job env variables and it looks like cleaning has started.

[2021-11-01 15:15] sspieker-cc commented on #1536
The autoanalysis option may be a feasible option for our needs.  I will give this approach a try and see if this solution will in fact work for our needs.

Thank you

[2021-11-02 07:37] talmoshe24 commented on #1560
Hi @irynakozak2  any update?

[2021-11-02 09:08] irynakozak2 commented on #1560
@talmoshe24 @Ramandus hi, please specify the next information:
- project retention settings(Project Settings - General),
- env variables for all jobs in the deployment,
- content of the "shedlock" table in the PostgreSQL database.

Also, a completely new service is responsible for executing Clean Jobs (service-jobs) from v5.4.
Please check the logs of the service-jobs container, if there any error

[2021-11-02 09:38] swadalkar commented on #1569
Hi @MariyaIvanina , thanks for reaching out.
we have already done that, but in app.py script itself has fix value in that.
[](https://github.com/reportportal/service-auto-analyzer/blob/5737c8c99a54e5f207d28b207234da1f540ba28b/app.py#L374)
app.py should pick dynamic port value .

[2021-11-02 11:38] sonamsingh1799 commented on #639
Hi, I'm doing the report portal integration with python and I couldn't find how to use this @Step feature in python to log steps in report portal. can anyone help please?

[2021-11-03 05:01] VolhaKarenko commented on #1475
Fixed in version 5.6

[2021-11-03 05:01] #1475 closed

[2021-11-03 06:11] Ramandus commented on #1560
@irynakozak2  after updating ReportPortal to version 5.5.1 it seems that launches cleanup is working as expected removing old launches according to each project retention rule and as a result the database shrunk from 80+ GB to 40 GB :)

[2021-11-03 06:12] Ramandus commented on #1557
After updating to version 5.5.1 it as is now working.

[2021-11-03 06:12] #1557 closed

[2021-11-03 11:13] navilg commented on #1115
@ostratila Were you able to fix this ?

[2021-11-03 12:56] navilg commented on #1089
Hi @evjlobanova  is this feature still in plan ?

[2021-11-03 16:44] satishkumar9549 commented on #1567
We are also facing the same issue, Can some one help me with this?

[2021-11-03 17:12] poliveira-fuze commented on #1538
@evjlobanova so the usage of `rp.skipped.issue=false` and `ReportClient.finishTestItem(itemId, "skipped")` does not work anymore? By working I mean, not mark the skipped tests as "To Investigate"?

[2021-11-03 17:13] poliveira-fuze commented on #1043
This is not working anymore. But from what I'm reading on other topic it seems the rules have changed. As is not supposed to work as before.
https://github.com/reportportal/reportportal/issues/1538

[2021-11-08 05:41] e-jjj commented on #1070
@MariyaIvanina Currently using basic authentication in reportportal analyzer to authenticate to Elastisearch with the ES_HOST variable. It is working as expected however I'm wondering if there is a way to set the authentication using an IAM role that is associated to the container running reportportal analyzer. I've searched some information about it but I havent been able to find anything yet.

T

[2021-11-08 05:44] e-jjj opened #1573 "Authentication to Elastic Search via IAM role"
Hi, I'm wondering if I can get some assistance. I'm currently using basic authentication in reportportal analyzer to authenticate to Elastisearch with the ES_HOST variable. It is working as expected however I'm wondering if there is a way to set the authentication using an IAM role that is attached to the container running reportportal analyzer. I've searched some information about it but I havent

[2021-11-08 09:25] MariyaIvanina commented on #1552
@vishallanke Hi! We have a logic to find potential status codes, so if you'd like to have strict rules for status codes, please add to your logs keywords "status" or  "code", For example, "API return code 403. Expected 200" and RP will extract from this log 403 and 200 as important status codes and they should match for Auto-analysis.
When you change the log, you'd better choose min should match f

[2021-11-08 14:16] MariyaIvanina commented on #1569
@swadalkar Could you please specify what problem did you encounter with this port value and why do you need a dynamic port value?

[2021-11-08 15:03] KacperWieczorek opened #1575 "This application could use a dark mode"
**Describe the solution you'd like**
With the prevalence of dark mode in software used by many programmers it's a shame that Report Portal does not offer dark mode.

[2021-11-09 00:23] evjlobanova opened #1576 "Playwright using python"
### Discussed in https://github.com/reportportal/reportportal/discussions/1572

<div type='discussions-op-text'>

<sup>Originally posted by **Tzur-Avner** November  6, 2021</sup>
hi

I would like to ask for adding support for the playwright testing framework while using python (already saw that it is supported using JS).

thanks!
</div>

[2021-11-09 00:27] evjlobanova commented on #1043
@HardNorth Vadzim could you please check this issue?
Flag skipped: false should remove To investigate label from skipped items

[2021-11-09 00:28] evjlobanova commented on #1538
@poliveira-fuze it should work?
Have you met another behaviour?

[2021-11-09 00:30] evjlobanova commented on #1567
Hello @satishkumar9549 @roopalN
Please check our documentation https://reportportal.io/docs/Resolve-Analyzer-Known
It should help. If you still meet the issue, please let me know
cc @Cyberglamdring

[2021-11-09 00:34] evjlobanova commented on #1089
@mc-marcy @navilg we are planning, but no accurate ETA for now.
I suppose, we will do it earlier 2022

[2021-11-09 00:38] evjlobanova commented on #1115
@navilg I will check tomorrow with the team this issue, and get back to you

[2021-11-09 00:38] #1560 closed

[2021-11-09 09:30] poliveira-fuze commented on #1538
@evjlobanova unfortunately not, every skipped test `ReportClient.finishTestItem(itemId, "skipped")` get marked as "To Investigate", every launch. With or without the property.

[2021-11-09 09:36] KacperWieczorek commented on #762
This would be nice to have in Nested Step Wiki page.

[2021-11-09 10:02] VolhaKarenko commented on #1115
Hi @navilg, we have fixed the problem with the error from the screenshot in version 5.4. Seems like your issue has another root cause. Please create a separate issue providing some information about your configuration and error logs

[2021-11-09 10:20] roopalN commented on #1567
@evjlobanova we have verified the issues mentioned under known issues already and setup is fine, services are running. Yet , generate index buttons are disabled and auto-analysis is idle.

[2021-11-09 12:57] Dmitry-Ostashev commented on #1202
Hello,

I've encountered the same problem when just trying to open:

 ![image](https://user-images.githubusercontent.com/24777868/140926850-7f107934-9f05-46b1-b491-8867967b9333.png)

[2021-11-09 13:31] evjlobanova commented on #1575
It is in a roadmap for 2022

[2021-11-09 14:31] HardNorth commented on #1202
@Dmitry-Ostashev Default logins is not available now, please use "Login with github" button

[2021-11-10 19:40] tdaniely-dn commented on #810
I also migrated 4.3 -> 5.0 -> 5.5. And same thing happened.
It seems at some point in the migration somehow these constraints disapear:
[code]

[2021-11-10 19:49] evjlobanova commented on #810
@tdaniely-dn Could you please check the documentation https://reportportal.io/docs/How-to-resolve?

[2021-11-10 19:53] evjlobanova commented on #1567
@roopalN could you please send us  logs from the service analyzer
@Cyberglamdring Hleb, which information do we also need?

[2021-11-10 19:54] tdaniely-dn commented on #810
None of that is relevant, I fixed by manually adding the constraints again.
Unclear why they are getting removed. Possibly something to do with the migrate tool, but I'm not going to analyze further.

[2021-11-10 20:00] evjlobanova commented on #1538
Which agent do you use? Could you please specify agent name and agent version?

[2021-11-10 22:06] evjlobanova commented on #810
@pbortnik @miracle8484 could you please check this thread

[2021-11-11 10:19] poliveira-fuze commented on #1538
@evjlobanova I've created my own. The JUnit5 did not worked as expected on my project due to my own project structure and JUnit 5 implementations choices.

But I'm doing the `finishItem` like this:

[code]

The `launchId` is a class field set previously after the launch.
The `status` is an enum of my own to categorize the test result and is converted to a valid RP string with `getStatus()`.
The `n

[2021-11-11 10:40] Cyberglamdring commented on #1567
@roopalN, please provide analyzer logs. We need to make sure Analyzer is connected to rabbitmq, elasticsearch and minio

[2021-11-11 11:01] roopalN commented on #1567
@Cyberglamdring here is the snapshot post trying to auto analyze 1 launch :
![image](https://user-images.githubusercontent.com/25950710/141287066-b1c2ad6f-97c6-4b4d-85e9-a4fb26c6b171.png)
 let me know, if you need it in different format.

[2021-11-11 11:08] roopalN commented on #1567
here are some errors noticed in logs:
![image](https://user-images.githubusercontent.com/25950710/141287998-81d7c1c0-151d-43f3-acbb-7f53299fbb28.png)
 Can you give pointers for debugging?

[2021-11-11 11:25] unmurphy opened #1577 "minimal installation"
Hi! Can I install reportportal with minimal installation? Such as without rabbitmq, elasticsearch, minio. I just need service-api

[2021-11-11 12:03] Cyberglamdring commented on #1567
@roopalN, Analyzer doesn't have permissions to ElasticSearch:
![image](https://user-images.githubusercontent.com/50049166/141294449-04ba8980-7fe5-4376-80ea-1d13681c70c4.png)

Check:
1. Availability of ElasticSearch, for example 'curl http//elastic:password@ESHOST:9200' from RP VM
2. Credentials.

[2021-11-11 13:16] PrakashChoudhury-386 opened #1578 "Not able to view versions for images at login page"
I have used the latest version of reportportal 5.5 version from reportportal.io and set customised data to the compose file. Post changed i am able to launch the UI and the DATA but somehow i am not able to view the Service index and Service UI versions of images used in compose file.

Could anyone help me on what changes need to be done.

Attached screenshot for referenc
<img width="998" alt="Scr

[2021-11-12 06:43] natalliaMikulskaya-tr commented on #786
Another case: I created a new dashboard, then I added a shared widget to it, but suddenly I realized, that the just added widget is wrong. I need to delete this widget from the dashboard, but I can't if only I do not want to delete this widget from all dashboards. But I don't want to. I want to leave the widget on the rest dashboard. So, what should I do? It is really inconvenient.

[2021-11-12 11:49] troyhugs opened #1580 "Any tutorial for the reportportal upgrade?"
I am using the RP version 5.3.5.
Can you help me out to upgrade to the latest 5.5, without any launches data?
At-least- the I need the dashboards which are created to present in the database.

[2021-11-12 12:01] roopalN commented on #1567
@Cyberglamdring Thanks for the direction, we double checked and found that mentioned configs/creds are intact. However, index 34 related error is also shown up, what can it be? Can it be the reason for analysis failure. Any relevant table we should be looking into DB?
![image](https://user-images.githubusercontent.com/25950710/141463393-69c81517-98f9-45e6-b413-0561db1ad252.png)

P.S I removed atta

[2021-11-12 12:38] ashishkaran opened #1579 "[v5] No logs being posted for scenarios that fail when using RemoteWebDriver"
**Describe the bug**
I'm running TestNG test cases using Selenoid for the remote browser instances.
When I run a test case that fails using a local webdriver instance, the logs and attachments are published in Report Portal, but when I run a scenario that fails in a remote webdriver instance, I don't get any logs or attachments and the test case is marked as **interrupted**.

Log4j2.xml
[code]
**T

[2021-11-12 20:17] eddylee-nsuslab commented on #957
@Cyberglamdring
On my M1 Mac Mini with Rosetta installed, this is still happening. I want to use Reportportal quickly. please help me. :sob:

![image](https://user-images.githubusercontent.com/89089694/141529052-a4843150-123b-4fd2-9539-b1f1b37b7202.png)

[2021-11-12 20:28] william-a-wissing opened #1581 "Adding a copy to clip feature for test names"
**Describe the solution you'd like**
...
It would be nice to have a "copy to clipboard" shortcut button for test names, maybe like right next to the pencil icon.

![image (1)](https://user-images.githubusercontent.com/73906600/141530345-47b3f7ac-b7e6-40a1-b5ff-5d3333b30b4d.png)

**Is your feature request related to a problem? Please describe.**
...
No probelm just a UX improvement... bc currently

[2021-11-12 20:33] william-a-wissing commented on #1581
I would be willing to help contribute to make this happen but would need guidance on where the changes would need to be made, like which repo & folder.

[2021-11-15 09:18] Cyberglamdring commented on #1567
The index is stored in ElasticSearch. Are the analyzer buttons active? Try to regenerate Index

[2021-11-15 09:45] roopalN commented on #1567
We are able to enable Analyzer but index buttons are disabled. Refer the very first screen-shot in the thread. We are suspecting, this might be causing non-functioning of this feature? How to enable these buttons or if you can share troubleshoot points ?

[2021-11-15 13:42] kpattar opened #1582 "Adding extra customized widgets to dashboard"
Hello Team, we are building some customized widgets as per our requirements, so we are stuck in the dev configuration i.e., unable to use the locally updated commons-dao and commons-model jar files  in service API external libraries, can you please help us out in the procedure to add the new widget to the existing reportportal?

[2021-11-15 14:34] mpwmc commented on #1115
@VolhaKarenko thank you, we will update to 5.4 and test again. Is the SAML integration still showing as only okta?

[2021-11-15 22:16] evjlobanova commented on #1115
Yes, it is

[2021-11-15 22:19] evjlobanova commented on #1582
Hello, Could you please elaborate a little bit on your request?
Do you want to implement your own widget and you are looking for the procedure for contributors?
Or do you need recommendations from our side for implementation?

Could you please share details, which widgets are you looking for? What KPI are you trying to retrieve?

[2021-11-15 22:21] evjlobanova commented on #1567
The analyzer is working successfully.
The root cause can be in the analyzer deployment

[2021-11-15 22:22] evjlobanova commented on #1581
Could you please describe your use case, why do you need to copy test name?

[2021-11-15 23:23] evjlobanova commented on #1580
Please use a tutorial https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.5
In case of problems please use the troubleshooting guide https://reportportal.io/docs/How-to-resolve

[2021-11-15 23:23] #1580 closed

[2021-11-15 23:24] evjlobanova commented on #1579
@HardNorth Could you please check

[2021-11-15 23:27] evjlobanova commented on #1578
Can you provide any details?

[2021-11-15 23:32] evjlobanova commented on #1577
All services are needed for the build-in ReportPortal functionality.
We can not guarantee the functionality of ReportPortal without them or in another configuration.

Service description
service-authorization Authorization Service. In charge of access tokens distribution
service-api API Service. Application Backend
service-ui UI Service. Application Frontend
service-index Index Service. Info and h

[2021-11-15 23:32] #1577 closed

[2021-11-15 23:58] #1552 closed

[2021-11-15 23:59] evjlobanova commented on #1573
@Cyberglamdring Hleb, could you please check if it is feasible?

[2021-11-16 00:02] evjlobanova commented on #1520
@Cyberglamdring Could you please check?

[2021-11-16 00:05] #1528 closed

[2021-11-16 00:05] #1526 closed

[2021-11-16 00:06] #1545 closed

[2021-11-16 00:13] #1550 closed

[2021-11-16 00:15] evjlobanova commented on #348
@AmsterGet Ilya, could you please check if we can send session_ID via WebDriver?

[2021-11-16 00:18] evjlobanova commented on #1531
@HardNorth Vadzim could you please check this issue?

[2021-11-16 00:18] evjlobanova commented on #940
± December 2021

[2021-11-16 00:20] evjlobanova commented on #1566
Could you please check documentation https://reportportal.io/docs/Resolve-Analyzer-Known on how to fix problems with analyzer?

[2021-11-16 04:54] VolhaKarenko commented on #1544
Hi @daroshchanka, the issue is fixed in version 5.6 that will be released soon

[2021-11-16 04:54] #1544 closed

[2021-11-16 05:08] kpattar commented on #1582
Hi Thanks for replying. we are implementing our own widget, and we are new to Reportportal so it would be helpful if you help us in the procedure

[2021-11-16 10:02] hossameldinmohamed opened #1584 "Screenshots within "Capture page Screenshot" steps displayed as broken"
**Describe the bug**
Attached screenshots are not displayed correctly as they 're displayed as broken images and when we click on it it goes to 404 page - not found .

**To Reproduce**
Run Tests using RobotFramework and connect it to reportportal

**Expected behavior**
Screenshots should be displayed in steps with no issue

**Screenshots**
![image](https://user-images.githubusercontent.com/1140896

[2021-11-16 10:50] HardNorth commented on #1584
`Capture Page Screenshot` is designed to embed the screenshot into Robot Report only. There is no way to make it work with RP. To log screenshot in Robot there is a workaround in our examples: https://github.com/reportportal/examples-python/blob/master/robotframework/robot/screenshot.robot

[2021-11-16 10:50] #1584 closed

[2021-11-16 11:11] hossameldinmohamed commented on #1584
@HardNorth  But this worked with the old version of report Portal and the screenshot got attached t attachments tab
![image](https://user-images.githubusercontent.com/11408969/141975167-4c62cbfb-f6a5-444e-9501-32a495dff776.png)

[2021-11-16 11:31] HardNorth commented on #1584
On which agent/robot version it worked?

[2021-11-16 11:41] hossameldinmohamed commented on #1584
it worked on report portal 3  - robotframework-reportportal==3.0.0

Also note that selenium.Capture page Screenshot () function is triggered automatically when the test case is failed in RobotFramework So i didn't write any code for it or anything so the workaround is not relevant in this case.

[2021-11-16 12:05] HardNorth commented on #1584
@hossameldinmohamed Which version of robotframework-seleniumlibrary did you use?

[2021-11-16 12:30] hossameldinmohamed commented on #1584
@HardNorth  robotframework-seleniumlibrary==5.1.3

And below 're the list of libraries i use :

reportportal-client==5.0.12
robotframework==4.1.2
robotframework-databaselibrary==1.2.4
robotframework-dependencylibrary==3.0.1
robotframework-excellib==2.0.1
robotframework-pythonlibcore==3.0.0
robotframework-reportportal==5.2.1
robotframework-requests==0.9.2
robotframework-seleniumlibrary==5.1.3
selen

[2021-11-16 12:32] HardNorth commented on #1584
@hossameldinmohamed I asked about previously used libraries.

[2021-11-16 12:44] hossameldinmohamed commented on #1584
@HardNorth  my bad

Her you 're :
robotframework==3.2.2
robotframework-csvlibrary-py3==1.0.2
robotframework-databaselibrary==1.2.4
robotframework-datadriver==1.0.0
robotframework-dependencylibrary==1.0.0.post1
robotframework-excel==1.0.0b4
robotframework-excellib==2.0.1
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.3.1
robotframework-jsonvalidator==2.0.0
robotframework-pythonlibcore==2

[2021-11-16 13:09] furmaniukm-aetna commented on #1111
I would add to this, maybe it depends on how you use Dashboard in your organization but I would like to be able to use Widgets across multiple dashboards where they make sense and not have to remove them completely if I no longer need it on one dashboard without having to delete the widget entirely.  It feels like it's against DRY principles that widgets are solely for one dashboard when they can

[2021-11-16 14:36] HardNorth commented on #1584
@hossameldinmohamed Used your old dependencies, still got broken screenshot. Everything as I said: "`Capture Page Screenshot` is designed to embed the screenshot into Robot Report only".

You might modified your library to log images directly, in this case it will appear on RP correctly.

OK, spent 3 hours on that, so not going to continue discussion anymore.

[2021-11-16 14:44] hossameldinmohamed commented on #1584
@HardNorth Thanks a lot for your great support really appreciate it.

[2021-11-16 19:57] evjlobanova commented on #1094
In the version 5.6 we have added a possibility to filter launches/suites/ steps based on the key/value combination:
![image](https://user-images.githubusercontent.com/30413511/142056278-1647ad58-eb07-43a5-89dc-62441dab6541.png)
![image](https://user-images.githubusercontent.com/30413511/142056501-648c2bcf-2f72-46e0-abc6-4b2f0058b067.png)

[2021-11-16 19:57] #1094 closed

[2021-11-17 01:02] evjlobanova commented on #1582
Unfortunately, we do not have a defined policy and guide for contributors. Maybe you have questions?

Widgets Cumulative trend chart and Component Health check widget are pretty customizable, and they can be used for many cases.

Could you please share details, which widgets are you looking for? What KPI are you trying to retrieve? It helps me to understand if you can reuse something from existing

[2021-11-17 04:50] varundunga opened #1585 "Readme.md doesnt help in setting up a local dev environment to make any code changes"
Im planning to add a new widget type and for this im planning to make some code changes in commons-dao after going through service-api and common-dao code base.

But i'm stuck while setting up the dev environment. I have postgres and rabbit mq instances running on my system and i have added those details to application-dev.yaml and when i start service-api, it starts without any issues.

Now since

[2021-11-17 06:50] PrakashChoudhury-386 commented on #1578
Actually, i was looking to upgrade reportportal version as we are using 5.4.0 version. I am able to view the version details on the login page with reportportal.io 5.4.0 version but after an upgrade to 5.5.0 version i am unable to view the versions for the containers running.

More over we have an customised UI version for reportportal and i also want to see the version during login which is also

[2021-11-18 19:46] iRetlaWM opened #1586 "PKIX path building failed with TLS (SSL)"
I am moving my ReportPortal server to use HTTPS protocol using docker, and I did the configuration mentioned in the documentation [Setup-TLS(SSL)](https://reportportal.io/docs/Setup-TLS(SSL)), and as this document says I could have this error:

[code]

And right now I am having this issue with all my frameworks with java
I added my ca certs (crt) to images API UAT and Index using this command line

[2021-11-18 20:35] #1586 closed

[2021-11-18 20:36] iRetlaWM commented on #1586
I found the solution that was add the certificates in the machine where the frameworks are running

[2021-11-19 15:56] hadizia commented on #1515
Hey I was wondering if you were able to solve this issue? Im facing a similar problem, not a gatweay time out but just a regular timeout (Connection timed out) when im sending multiple curl requests to post data. The connection is pretty flaky and sometimes it doesnt timeout at all whereas in some cases several testsuite uploads get timed out. I couldn't find a work around and was wondering if you

[2021-11-19 16:06] hadizia opened #1587 "Curl request connection timed out"
**Describe the bug**

So in one of our jenkins pipelines, we have a step which uploads junit results to our report portal instance via curl commands. The issue is that this process is very flaky. Sometimes all test results get uploaded normally whereas sometimes certain curl requests get timed out regardless of how many times you retry the curl command. I've used several ways to keep retrying the

[2021-11-19 17:21] obaranov commented on #1515
Yeah, we did a custom solution to workaround that issue. We parse an XML file with the test results and create all the testcases in the Report Portal one by one using rest API. Pretty ugly and complicated... but I can't imagine how we can workaround that import issue in a better way.

[2021-11-19 19:41] DzmitryHumianiuk commented on #639
@sonamsingh1799 it's better to raise this question in client-python repo

[2021-11-19 19:44] DzmitryHumianiuk commented on #762
@KacperWieczorek agree

[2021-11-22 08:01] ReddyNitheeesh opened #1588 "[v5][Adhoc]Rerun results are not getting updated for few test's for Java Cucumber Framework"
**Describe the bug**
Please find issue already report in 5.3.5 still exists in Version 5.5 , please look issue below
https://github.com/reportportal/reportportal/issues/1327

Rerun Worked case:

![WorkedRerun](https://user-images.githubusercontent.com/28997011/142824081-449df57f-e217-42d6-902f-6b819ac3d913.png)

Not worked case:
![NotWorkedcase](https://user-images.githubusercontent.com/28997011/1

[2021-11-22 08:25] sonamsingh1799 commented on #639
@DzmitryHumianiuk  Yeah sure, Thanks

[2021-11-22 08:40] ReddyNitheeesh commented on #1327
@evjlobanova  , please find issue related to Rerun in 5.5 still exists https://github.com/reportportal/reportportal/issues/1588

[2021-11-22 10:57] SubratKumarTR opened #1589 "[v5] Unable to update defect categories for the lunches."
Describe the bug
We are not able to update  the defect categories for the lunches.

To Reproduce
We are trying to change from the defect categories from the lunches , but when we are clicking on "Make Decision" we are getting a error "Unclassified error Null" and after that when we are trying to adding something on "defect categories manually" the  apply bottom is not highlighted and i am unable t

[2021-11-22 20:25] sylvain-viole opened #1590 "[v5]Docker compose failing on mac M1"
**Describe the bug**
Containers `report_portal_uat1` and `report_portal_api1` keep restarting

**To Reproduce**
- `curl https://raw.githubusercontent.com/reportportal/reportportal/master/docker-compose.yml -o docker-compose.yml`
- `docker-compose up -d`

**Expected behavior**
- Stable docker configuration
- Report Portal UI accessible

**Screenshots**
![image](https://user-images.githubusercontent

[2021-11-23 08:37] apurva135 commented on #610
@DzmitryHumianiuk can I have a separate channel with my team to discuss implementation steps for the development of new widgets? We are struggling to implement new widgets. Could you please guide us?

[2021-11-23 10:06] ReddyNitheeesh opened #1591 "[v5] Assertion Failure Marked Under <> is missing in markdown view but displayed in console view"
**Describe the bug**
Java 8 + Junit 5 + Report porta 5.5

**To Reproduce**

**Expected behavior**
Expected and Actual which are wrapped under less than (<) and greater than (>) are replaced with empty text in markdown view, working fine in console view

Markdown view
![Empty](https://user-images.githubusercontent.com/28997011/143005141-3860ce65-2910-4805-83db-3ee16d619c08.PNG)

Console view :
![Co

[2021-11-23 12:10] HardNorth commented on #1591
Duplicates: https://github.com/reportportal/reportportal/issues/1280

[2021-11-23 12:10] #1591 closed

[2021-11-23 17:52] DzmitryHumianiuk commented on #610
@apurva135

this is possible in scope of paid support, provided by the team.
please DM me if it make sense for your team.

[2021-11-24 05:54] roopalN commented on #1563
Please tag this as BUG

[2021-11-24 08:21] ReddyNitheeesh commented on #1588
Please find error details below:

2021-11-24 08:06:19,299 [rp-io-66] ERROR com.epam.reportportal.utils.SubscriptionUtils - Start test item completed with error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 500
Status message: Internal Server Error
Error Message: Unclassified error [org.hibernate.exception.LockAcquisitionException: could not extrac

[2021-11-24 08:33] HardNorth commented on #1588
@miracle8484 @evjlobanova Still DB locking issues. Any ideas?

[2021-11-25 09:24] gpapadakis opened #1592 "[v5] Filter Test Cases by attribute key or value"
**Describe the solution you'd like**
It would be great to create filters per launch that can aggregate the test cases by attribute key or value.

**Is your feature request related to a problem? Please describe.**
This particular request will help us create dashboards per launch based on a particular set of test cases when different categories are running in the same launch.

[2021-11-25 22:21] evjlobanova commented on #1592
This feature already exists in the widgets Component Health Check Widget and Component Health Check Widget (table view)
https://youtu.be/T98iy0mJk0s

https://reportportal.io/docs/Component-health-check
https://reportportal.io/docs/Table-Component-health

In the version 6 we will add a custom dashboards based on the custom queries

[2021-11-25 22:23] evjlobanova commented on #1588
Could you please update to version 5.6 and try to reproduce it again?
In version 5.6 we have added a lock fix

[2021-11-25 22:26] evjlobanova commented on #1563
Hello @roopalN
You are right, this is a bug
But the fix is not trivial, it will be fixed after Notification refactoring.

The problem is that when you update 1 rule, the system sends an update for the whole list with notifications rules.

I can propose a workaround for you, you can send a request via API, and add to API call all notification rules and send update

[2021-11-25 22:29] evjlobanova commented on #1589
Which version do you use?

[2021-11-25 22:33] evjlobanova commented on #1111
We add a possibility to choose if you want to delete or just remove widget from the dashboard

[2021-11-26 05:26] ReddyNitheeesh commented on #1588
@evjlobanova  sure will update RP version and verify

[2021-11-26 05:27] SubratKumarTR commented on #1589
Hi @evjlobanova , We are using Report Portal 5.5.0 . Please let me know if you required any Additional information, Thank you in Advance.

[2021-11-26 08:43] vishallanke opened #1593 "[feature request] Unable to create filer for last run"
We have min 30 system testing projects. Each project owned by different team, different time zone. There are multiple testing jobs that runs in Pipeline and then results from those jobs gets Pushed. So lets say for` Project A`, I can see` A_TestJob_1 #1 ,  A_TestJob_2 #2.`.. etc. inside report portal.

On report portal, we have created filter and set time as `12am midnight to 6am -> Nightly Schedu

[2021-11-26 10:13] Kanaduchi commented on #1474
Issue was resolved in 5.6. Thank you!

[2021-11-26 10:20] Kanaduchi opened #1594 "Possibility to hide default login fields"
When external auth is enabled (LDAP or SAML) it makes sense to hide default login/password fields. So users can only login via external auth.

Example:
<img width="1021" alt="rp-login" src="https://user-images.githubusercontent.com/7042994/143565295-5a60d0d3-f8ce-4f38-97ea-5d908adafe35.png">

[2021-11-26 15:05] evjlobanova commented on #1593
Hello @vishallanke, almost all widgets have an option: All launches/ Latest launches.
![image](https://user-images.githubusercontent.com/30413511/143599709-2b134802-8290-47fd-bf93-fed9145eda9f.png)

Also, we have a widget Cumulative trend chart  HTTPs://reportportal.io/docs/Cumulative-trend-chart

These widget groups launch around unique attributes and show the latest launches for each group.

It

[2021-11-26 15:10] evjlobanova commented on #1594
Hello! Sometimes it makes sense, but there are some instances with different types of users (internal and SSO).
I added this ticket to the workshop list, and we will check it with a team of different cases.
Thank you for your request.

[2021-11-29 12:20] irynakozak2 commented on #1589
@SubratKumarTR hello, can you please share the services statuses information? Are there any services that have restarted while the error is reproducing?

[2021-11-29 22:00] mleonard0826 commented on #383
+1, agreed this would be extremely beneficial to have.

[2021-11-30 09:03] Cyberglamdring commented on #1520
Hello,

By default, ReportPortal services create 3 buckets `prj-keystore`, `prj-users`, `rp-buket`. If this bucket isn't created automatically, please, compare your Helm chart / Docker-Compose with the actual [Kubernetes](https://github.com/reportportal/kubernetes/tree/master/reportportal) / [Docker](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml) guide

Also, you can

[2021-11-30 09:25] Cyberglamdring commented on #1573
Hello @e-jjj, unfortunately, we don't support that authentication method.

[2021-11-30 12:09] MarvelCoder opened #1596 "Report Portal not started on port 8080"
I am trying to setup report portal on AWS EC2 instance running ubuntu 20.04(focal) without docker and followed  https://github.com/reportportal/linux-installation to the point but report portal is not online on port 8080. I have all the required services running on different terminals and they seem to be up and running. Can anyone let me know what I may be missing here ? Also to add, I hit http://

[2021-11-30 12:46] MarvelCoder commented on #1596
Issue is resolved. To anyone who is facing this, whitelist 8080 and 8081 ports.

[2021-11-30 12:46] #1596 closed

[2021-11-30 13:05] xpcarry opened #1597 "Cannot upgrade to version 5.6"
I am trying to migrate ReportPortal from version 5.5 to 5.6 however service_jobs is not able to connect to rabbitmq and fails on application start (container exits). I am using default `docker-compose.yml` settings from newest master branch on linux instance with command:
`docker-compose -f /etc/docker/reportportal/docker-compose.yml -p reportportal up -d --force-recreate`

The rest of the contain

[2021-11-30 21:00] william-a-wissing commented on #1581
Sorry for the delayed response, but my use case is - our team runs regression tests (800+) for a webapp 4 times a week and then when analyzing the results failures we have to re-run the tests that failed. To do that we have to copy the failed test names to search for them in the IDE and then add a .only to the respective it or describe block... and I now realize that I can just right click the tes

[2021-11-30 21:04] william-a-wissing commented on #1581
![Screen Shot 2021-11-30 at 2 04 12 PM](https://user-images.githubusercontent.com/73906600/144127823-5c2c5984-db4c-4a65-8e1c-93a37944f09b.png)

[2021-11-30 21:06] william-a-wissing commented on #1581
so in this screenshot you can see there is a space at the end of the test name... if that could be removed it would be awesome... or make a button to copy the test name to the clipboard would be best... but whatever is easiest

[2021-11-30 23:45] praveentata commented on #727
Is there a way to overwrite the variable for JS (Cypress)?
I am trying it this way:
`npx cypress run --reporter @reportportal/agent-js-cypress  --reporter-options "launch=sanity"`

I am getting an error `Fail to start launch Error: connect ECONNREFUSED 127.0.0.1:80`

I am not able to overwrite the launch variable.

[2021-12-01 00:00] DzmitryHumianiuk commented on #727
@praveentata please redirect this questions into https://github.com/reportportal/agent-js-cypress issues

[2021-12-01 01:05] evjlobanova commented on #1597
Hello @xpcarry could you please check the guide https://reportportal.io/docs/How-to-resolve
How to resolve problems during migration.

@miracle8484 Maksim could you please check the issue?

[2021-12-01 01:12] evjlobanova commented on #1581
Thank you very much for your response! Now it is clear.

We are planning to add a possibility to rerun tests right from Report Portal, but I guess it would be done not soon.
Some users are using a Code reference for searching in IDE
![image](https://user-images.githubusercontent.com/30413511/144153565-94646eb3-6e60-4d96-b4c4-7afc85b00fc0.png)

I discuss your case with the designer.

[2021-12-01 01:15] evjlobanova commented on #1581
@AmsterGet Ilya, could you please check if we can remove space after test name?

[2021-12-01 10:03] AmsterGet commented on #1581
Hello @william-a-wissing !
Could you please provide the version of the RP service UI you are using and the version of the agent (maybe it is an agent issue)?
I can't catch your problem with our latest 5.6 RP, check it out [here](https://demo.reportportal.io/ui/#default_personal/launches/all/8?item0Params=filter.eq.hasStats%3Dtrue%26filter.eq.hasChildren%3Dfalse%26filter.in.issueType%3Dpb001), you

[2021-12-01 13:05] ReddyNitheeesh commented on #1588
@evjlobanova still issue persists after updating to RP 5.6 version: , Please find error log below

2021-12-01 11:28:05,410 [rp-io-2] ERROR com.epam.reportportal.service.Launch - [34] ReportPortal execution error
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 500
Status message: Internal Server Error
Error Message: Unclassified error [Batch update r

[2021-12-01 13:46] HardNorth commented on #1588
@miracle8484 @evjlobanova We need your input!

[2021-12-01 14:23] SubratKumarTR commented on #1589
Hi @irynakozak2 , On that time all the services are running fine. Please let me know if you required any Additional information, Thank you in Advance.

[2021-12-02 07:15] dmitryyu commented on #1541
Thanks for the answer, and for the workaround.

Mainly we’ve just raised the issue to highlight that now it’s slower. We do not do the export every day so we can wait until it’s completed even with slower response.

regarding export - we use some of widgets, but even if we have the option inside of system we still have some issues:
1. We need to provide access for users who can see it, when xlsx r

[2021-12-02 18:08] Shivin89 commented on #1534
@evjlobanova

I am facing the same issue (attachments are not in the Jira bug)

Details RP :
Current version:API Service: 5.4.0;Index Service: 5.0.10;Authorization Service: 5.4.0;Service UI: 5.4.0;

![image](https://user-images.githubusercontent.com/22401226/144478559-8ddb7eb8-1501-4442-a5c9-b2ebe17c0222.png)

![image](https://user-images.githubusercontent.com/22401226/144478718-036567b9-2763-4763

[2021-12-03 03:05] srinivas2501 opened #1602 "Reportingportal.io loading issue with V5"
Hi All,

I have successfully installed the report portal v5 on my Mac Laptop (Big Sur ,Version 11.0.1) and followed the installation steps using Docker and able to configure the reportingportal.io successfully . But When I am running first time after installation  it is showing as “Loading.. “ . I am unable to sign in or Login screen is not loading .I have tested this issue in other my team mates

[2021-12-06 11:57] roopalN commented on #1563
@evjlobanova thanks for reverting back, workaround and considering this for upcoming patch release. For now, we are ensuring to keep only valid emails Id as sender and recipient list.

[2021-12-06 13:50] jonathangiber opened #1711 "Can't see the test/spec once I click on it"

[2021-12-07 08:31] Shakevg opened #1603 "[v5] Cancel edit common attributes button is not working"
**Describe the bug**
Cancel edit common attributes button is not working

**To Reproduce**

1. Open launch
2. Select several tests (all tests should have common attribute)
3. Select edit "Edit items" in the menu
4. Click on any common attribute
5. Click the Cancel button for this attribute

**Expected behavior**
Edit mode for attribute should be closed

**Screenshots**
![image](https://user-images

[2021-12-07 13:55] Yumfriez commented on #1588
Hi @ReddyNitheeesh It would be great to get a simple example project (just to not get your real code) that we can use to reproduce this issue.
We decided to catch this issue this way in [previous ticket](https://github.com/reportportal/reportportal/issues/1327#issuecomment-845726289), but the problem stopped occurring

[2021-12-08 03:02] kunStar1985 opened #1604 "[v5]Error occurred when trying to deploy report portal in MacOS with M1"
Error occurred when trying to deploy report portal in MacOS with M1
After following the steps to deploy report portal in MacOS with M1, container service-api, service-jobs, service-authorization keeps restarting reporting "start.sh: applet not found"
![image](https://user-images.githubusercontent.com/51314484/145140743-898b03af-a40e-4924-b209-76dbb6602d3c.png)
logs are like:
![image](https://user-

[2021-12-08 07:41] SidneyY2021 commented on #1392
Seems I got similar issue in M1 https://github.com/reportportal/reportportal/issues/1604

[2021-12-09 03:43] srinivas2501 commented on #833
Hi, I am also facing the same issue, unable to login to reportportal although it is showing "Sign in successfully" . Could you help me on this?, thanks and much appreciated.
let me know if you need any further information
<img width="1427" alt="Screenshot 2021-12-09 at 11 41 40 AM" src="https://user-images.githubusercontent.com/16115589/145330590-12303080-1d06-4a3a-90ba-eaff5e3ec5d5.png">
.

[2021-12-10 09:18] babantax opened #1605 "Error migrating Database from 5.3 to 5.4"
We are trying to upgrade Report Portal from version 5.3 to 5.4 in K8s. The database is hosted in AWS (Aurora PostgreSQL)

While deploying, we are getting the following error:

`Error: UPGRADE FAILED: pre-upgrade hooks failed: job failed: BackoffLimitExceeded`

And If we check the logs of the migrations pod we get the folowing:

`$ kubectl logs report-portal-stg-reportportal-migrations-6x5s9
wait-f

[2021-12-13 08:29] mlarrea commented on #1605
Migration fails throwing this error:
![image](https://user-images.githubusercontent.com/24795563/145777720-87e45951-c095-4b40-8a96-3da5d9008069.png)

[2021-12-13 09:13] vishallanke opened #1606 "[v5] Component Health Check Widget not working after Upgrade"
We have upgraded from version 5.2 to the latest version 5.6.
After the upgrade, we observed that Component Health Check Widget remains in a loading state. If we have approximately 100 tests inside the filter, widgets get loaded. But if the test case count grows, then Widget remains in the loading state.
Now, we are blocked due to this
Below widget is in loading state only.
I have created new Widge

[2021-12-13 12:20] talgreen1 opened #1607 "Changing defect type via API"
Is it possible to change a defect type of a test via API?
For example: From " To Investigate" to "Product Bug"

[2021-12-13 12:35] HardNorth commented on #1531
@evjlobanova There is nothing to check in this issue from my side: server throws 500 error. It's always a backend error.

[2021-12-13 19:55] evjlobanova commented on #1541
Thank you for the details.
We are planning partly to resolve these by adding:
1. a possibility to make embedded widget/dashboards
2. a Viewer role - users can check info in RP without login
2. a report for release, which can be stored in RP for all times and can be shared a separate document

[2021-12-13 19:57] evjlobanova commented on #1534
@Shivin89 do you have nested steps in the "Finance with Basic Test"?

[2021-12-13 20:01] evjlobanova commented on #1603
@VolhaKarenko Olya, could you please a bug to the next sprint?

[2021-12-13 20:16] Shivin89 commented on #1534
@evjlobanova  Yes, I am using the Karate UI framework with Report Portal and I am calling different features within this Finance with Basic Test" feature file .

Like Calling Login feature  (Different feature file with steps)
And doing some steps

[2021-12-13 21:06] evjlobanova commented on #1605
https://reportportal.io/docs/How-to-resolve
Could you please try to follow the steps described in the article

[2021-12-13 21:08] evjlobanova commented on #1606
Could you please share a filter that you are using for this widget
Please send me a screenshot with refines on All launches view

[2021-12-13 21:15] evjlobanova commented on #1607
You can change defect type on item finish
Request URL: https://hostname/api/v1/project/item/
Request Method: PUT

[2021-12-13 21:15] #1607 closed

[2021-12-13 21:17] evjlobanova commented on #1534
The problem is that attachments from nested steps are not added to Jira. We will fix it in the version 5.7

[2021-12-14 05:18] Ramandus opened #1609 "ReportPortal and Log4J (CVE-2021-44228)"
Do you know if RP is vulnerable to the CVE-2021-44228, if yes is there a remediation plan and when fixed version will be available?

[2021-12-14 07:02] malmor commented on #1609
After a quick search I found that at least service-api and service-authorization list log4j version 2.13.2 as dependendies:

https://github.com/reportportal/service-api/blob/5.6.0/build.gradle#L64
https://github.com/reportportal/service-authorization/blob/5.6.0/build.gradle#L41

If RP is vulnerable, a quick fix would be important. 🚀

[2021-12-14 07:07] vishallanke commented on #1606
@evjlobanova
Plenty of filters, each having different criteria. If I reduce test data(launches), Widgets works, else widgets remain in loading state
![image](https://user-images.githubusercontent.com/46259109/145949358-90e94a75-b324-44cd-838e-e7b664237d9d.png)

![image](https://user-images.githubusercontent.com/46259109/145949384-0d5d4b9e-0290-453f-9f79-580c66f410fd.png)

![image](https://user-ima

[2021-12-14 07:16] vishallanke commented on #1606
One observations - ALLLAUNCHES filter works which has too much of data. But, if I add Attribute, then it wont work
![image](https://user-images.githubusercontent.com/46259109/145950759-ebef4849-3e16-47f0-aca1-badb2473027b.png)

[2021-12-14 07:58] babantax commented on #1605
Good morning!
But we are getting the same result. Any idea on what can be happening?

[2021-12-14 08:10] vishallanke commented on #1606
I think that I have found the root cause of this issue in the newer version :) This issue is not there in the older version. It's not about data but it's about attribute keys.
![image](https://user-images.githubusercontent.com/46259109/145951673-6c2dee82-441d-426c-ad44-7511fe559748.png)

We have integrated various project types in the report portal including security ,performance tests, cypress, r

[2021-12-14 08:14] malmor commented on #1609
Just found this discussion regarding the log4j vulnerability: https://github.com/reportportal/reportportal/discussions/1608

[2021-12-14 08:24] Ramandus commented on #1609
Thanks @malmor, however still inside the code there are dependencies even though it is stated that logback is used by RP.
I already fixed the Elasticsearch issues however as dockerized version using JDK 15 is used according to their documentation it should not be prone to this vulnerability but its always safer to add that one extra JVM_OPT ;) keeps the security team happy.

[2021-12-14 10:41] mlarrea commented on #1605
The problem was we were using an Aurora serverless instance for the DB and the latest PostgreSQL available version was 10, this version does not allow PROCEDURES so it was failing. I think you can considet this issue as resolved. Thanks Yauheniya

[2021-12-14 13:33] Yumfriez commented on #1609
https://github.com/reportportal/service-api/pull/1520
https://github.com/reportportal/service-authorization/pull/217
https://github.com/reportportal/service-jobs/pull/19
PRs with required Log4j version

[2021-12-14 13:56] malmor commented on #1609
Hey @Yumfriez, thanks! 🚀

Also log4j2 version 2.16.0 was release today which is supposed to contain some additional improvements: https://lists.apache.org/thread/d6v4r6nosxysyq9rvnr779336yf0woz4
https://www.kiratas.com/log4j-2-16-0-improves-protection-against-log4shell-vulnerabilities/

It may be worth upgrade to 2.16.0 directly ✌

[2021-12-14 16:18] patsevanton opened #1610 "Is it possible to add a commit hash to the UI?"
Hello!
Thanks for Reportportal.
Is it possible to add a commit hash to the UI?
Thanks!

For example
Run autotest in git hash commit 1
Run autotest in git hash commit 2
Run autotest in git hash commit 3
Run autotest in git hash commit 4

![image](https://user-images.githubusercontent.com/10828883/146036637-3c0f46ee-df8f-441a-9285-c5b946153167.png)

[2021-12-14 16:26] evjlobanova commented on #1610
Hello @patsevanton
Thank you for your request.
Could you please provide more details on your request:
* what is the business need for the request?
* What problem are you trying to resolve?
* how do you plan to utilize commit hash in your test activities?

[2021-12-14 16:27] #1605 closed

[2021-12-14 16:34] evjlobanova commented on #1606
In version 5.6 we have changed filters for attribute key and for attribute value
Now it works as a composite filter for attributes.
The component health check does not process your old filter correctly.
You need to edit filter , and save it one more time
Could you please try, and let me know if it helps

[2021-12-14 19:35] #1592 closed

[2021-12-14 19:38] evjlobanova commented on #1534
Issue has been fixed in the version 5.7

[2021-12-14 19:38] #1534 closed

[2021-12-14 20:46] realqpat commented on #649
We currently have ReportPortal in a PoC and this is a sore point. Any ideas when this will be implemented @evjlobanova ?

[2021-12-14 21:56] Yumfriez commented on #1609
Thanks @malmor! We’ll check this out

[2021-12-14 22:14] DzmitryHumianiuk commented on #649
@realqpat we didn't address it yet, and don't have it in a nearest plans.
The main reason is that this is a fairly simple and not critical functionality, which is unlikely to radically change the attitude to the product and the value it creates.
And it seems to me that this should not be a cornerstone for you in deciding whether to use the product or not.

What comes from the top of my head:
1) on

[2021-12-15 05:07] vishallanke commented on #1606
It does not work
It is because each Launch inside filter contains at-least one `Key:Value` which is not there in other Launches
, for example, our Git Security Job/Tests will send `SecDevOps:true `as Launch Attributes. `SecDevOps:true`  attributes won't be available for Automated Tests or Performance Tests and so on.

If report portal filter/ launch contains at-lease one different attributes than

[2021-12-15 06:59] Maduranga commented on #969
Any update on this? Still have the issue.

[2021-12-15 08:26] Yumfriez commented on #1609
Updated Log4j to 2.16.0
https://github.com/reportportal/service-authorization/pull/218
https://github.com/reportportal/service-jobs/pull/20
https://github.com/reportportal/service-api/pull/1521

[2021-12-15 08:28] Ramandus commented on #1609
@Yumfriez  thanks, do you know when it is possible to get the the updated containers, and if it is possible to update ElasticSearch to version 7.16.1 to be used?

[2021-12-15 13:07] Yumfriez commented on #1609
@Ramandus we are working on releasing our services, so it should be this week. Regarding elastic we are not sure because of ES license changes (you can still upgrade it in your compose file)

[2021-12-15 13:28] Ramandus commented on #1609
@Yumfriez Thanks and i also need in taht case to understand the changes in the ES licencing if we can still used it (from the looks of it we should but... most likely the licence management team needs to have a say on that :( )

[2021-12-15 16:00] DzmitryHumianiuk opened #1613 "Log4J vulnerabilities: CVE-2021-44228, CVE-2021-45046 and CVE-2021-45105"
**Background**
The [Apache Log4j](https://logging.apache.org/log4j/2.x/) utility is a commonly used component for logging requests. On December 9, 2021, a vulnerability was reported that could allow a system running Apache Log4j version 2.14.1 or below to be compromised and allow an attacker to execute arbitrary code.

On December 10, 2021, NIST published a critical Common Vulnerabilities and Expo

[2021-12-15 16:01] DzmitryHumianiuk commented on #1609
Please follow the progress at:
https://github.com/reportportal/reportportal/issues/1613

[2021-12-15 16:01] #1609 closed

[2021-12-15 23:07] #973 closed

[2021-12-16 05:07] VolhaKarenko commented on #1522
The issue is fixed in version 5.5.1

[2021-12-16 05:07] #1522 closed

[2021-12-16 21:14] mnohai-mdsol commented on #1474
For some reason, even though I have `RP_AUTH_SAML_BASE_PATH=/uat` set, I'm getting routed to `localhost` in prod. If I paste in the actual URL instead of `localhost`, I get logged in correctly via Okta. I am also configured to use `nginx` instead of `traefik. Is there anything else I may be missing?

[code]

[2021-12-17 04:04] troyhugs opened #1614 "log4j vulnerability"
Do we have any fixes for the log4j vulnerability?

[2021-12-17 08:14] Cyberglamdring commented on #1590
Hello @sylvain-viole, can you provide the full API and UAT log as files?

[2021-12-17 08:42] HardNorth commented on #1614
Duplicates: #1613

[2021-12-17 08:42] #1614 closed

[2021-12-17 12:23] Ramandus commented on #1613
Any ETA on the docker-compose update as i see images are already pushed to docker hub.

[2021-12-17 12:27] evjlobanova commented on #1613
Hello,
we are making testing of the released version

[2021-12-17 18:00] evgenytkachenko commented on #1613
I believe the testing will be completed next week, right?

[2021-12-17 20:19] realqpat opened #1615 "Open in new tab is missing when attaching file at launch level"
**Describe the bug**
I have an html file as well as a log file that I'm attaching at the launch level
However the log file is missing the 'option in new tab' option as well as the txt icon

**Expected behavior**
Should be able to open a log file in a tab instead of having to download it

**Screenshots**
![image](https://user-images.githubusercontent.com/92816716/146602692-0be9ba8f-0f7c-4385-b9bb-4

[2021-12-17 21:27] realqpat commented on #649
@DzmitryHumianiuk Thanks for the ideas ! I ended up installing a browser extension that does that functionality for me

[2021-12-18 11:47] Mahesh-TR opened #1616 "Component health check (table view) widget for HotProd filter does not load results and keeps spinning"
When we view/create the Component health check (table view) widget with HotProd filter the results do not load and the spinning image is shown. Is there a way to tell why this is occurring or is this a known issue of this widget?

![hp_widget](https://user-images.githubusercontent.com/62328004/146639813-ecb282ca-fd8b-49bc-8703-603b0182fa6e.JPG)

[2021-12-18 11:53] ERankur91 commented on #1485
@irynakozak2 shedlock table not existing in db.

[2021-12-18 22:22] DzmitryHumianiuk commented on #1613
yes.

and now CVE-2021-45105 found.
we need to bump it up to 2.17.0

[2021-12-20 13:33] patsevanton commented on #1610
Ok. I will use attribute. Thanks!

[2021-12-20 13:33] #1610 closed

[2021-12-20 15:48] ERankur91 opened #1617 "logs are not getting deleted."
**disc size is getting increase, even when log deleting strategy is applied**

getting following logs in analyzer service:
2021-12-20 15:43:37,324 - analyzerApp.cleanIndexService - INFO - Started cleaning index
2021-12-20 15:43:37,325 - analyzerApp.esclient - INFO - Delete logs [176445255] for the project 3
2021-12-20 15:43:37,325 - analyzerApp.esclient - INFO - ES Url http://172.20.0.153:9200
202

[2021-12-20 20:50] heilwood commented on #1473
My solution:

`docker stop $(docker ps -a -q)`
`sudo usermod -a -G postgres your_username`
`sudo chown -R your_username:postgres /home/your_username/reportportalv5/data/postgres/`
`/usr/lib/postgresql/12/bin/pg_resetwal -f /home/your_username/reportportalv5/data/postgres/`
`docker-compose up -d`

[2021-12-21 07:28] samagarw commented on #1531
Getting similar error :

2021-12-21T12:53:24.550+0530 [DEBUG] [TestEventLogger]     [rp-io-46] ERROR com.epam.reportportal.utils.SubscriptionUtils - Logging context completed with error
2021-12-21T12:53:24.550+0530 [DEBUG] [TestEventLogger]     retrofit2.adapter.rxjava2.HttpException: HTTP 500 Internal Server Error

Logs are not reported for failed test while all logs are present for passed tests

[2021-12-21 08:02] ERankur91 commented on #1485
@irynakozak2 we can close this issue.
Thanks for help.

[2021-12-21 09:14] #1485 closed

[2021-12-21 10:04] PSchnurbus24 opened #1618 "[v5] Okta SSO login not possible"
**Describe the bug**
Login with Okta SSO not possible. HTTP Error 403.

**To Reproduce**
This probably happens when my Okta session is older than 24h.

**Expected behavior**
Successful login

**Screenshots**
Application log:
...
2021-12-21 09:56:21.361 DEBUG 1 --- [nio-9999-exec-2] o.s.s.w.u.matcher.AntPathRequestMatcher  : Checking match of request : '/saml/sp/SSO/alias/report-portal-sp'; against

[2021-12-21 10:05] PSchnurbus24 commented on #1618
When I log out of Okta and log back in, the login in the reportportal is also successful again.

[2021-12-21 12:02] irynakozak2 commented on #1617
@ERankur91 hello, those logs from the `service-analyzer` show that you have an issue with connection to Elasticsearch, so maybe you need to re-check Auto-Analysis work if you use that ML functionality.
Regarding the issue with deleting logs, please review the following [thread](https://github.com/reportportal/reportportal/issues/1485) that should help.
Firstly, you need to verify that migration is