[2021-02-18 12:45] #1312 closed

[2021-02-18 12:46] Artashes1996 commented on #1312
<repositories>
        <repository>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>bintray-epam-reportportal</id>
            <name>bintray</name>
            <url>http://dl.bintray.com/epam/reportportal</url>
        </repository>
    </repositories>

    <dependencies>
        <dependency>
            <groupId>com.epam.reportportal</grou

[2021-02-18 12:47] Artashes1996 opened #1313 "System brings me the following error java.lang.NoSuchMethodError: 'java.lang.String org.testng.ITestNGMethod.getQualifiedName()'"
part of my Pom.xml

<repositories>
        <repository>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>bintray-epam-reportportal</id>
            <name>bintray</name>
            <url>http://dl.bintray.com/epam/reportportal</url>
        </repository>
    </repositories>

    <dependencies>
        <dependency>
            <groupId>com.epa

[2021-02-18 13:01] HardNorth commented on #1313
Where? What you are trying to do? Any example to reproduce?

[2021-02-18 13:06] priyankachaturvedi30 commented on #990
@evjlobanova : Following the last comment from above -- is there any way through which can get details of stats on second level - eg: the stats that opens up after clicking on a particular launch name?

[2021-02-18 13:22] VolhaKarenko commented on #1282
Fixed in version 5.4

[2021-02-18 13:22] #1282 closed

[2021-02-18 13:24] ivanhorin opened #1314 "'Edit Defect Type' for all launches with same name is not changing the defect type in further launches"
**When** I'm editing the defect type with changing similar items for all Launches with the same name **Then** an error appearing and same issue in further launch with same name, has 'To Investigate' status.
![image](https://user-images.githubusercontent.com/25904584/108363107-3c769100-71fd-11eb-96a6-70bf14a33b62.png)

[2021-02-18 17:55] yonimoses opened #1315 "Elastic required permissions"
Hi

Can someone please elaborate on the minimal permissions required for elastic?
I’ve noticed the indexes are generated without any prefix or similar, thus it’s difficult to provide a specific permission for creating such .

[2021-02-19 05:16] HardNorth commented on #1309
Here: https://reportportal.io/docs/Setup-TLS(SSL)-in

[2021-02-19 05:59] Priyanghaa opened #1316 "[v5.3.3] Exceptions with testng file dataprovider using excel, test methods are getting ignored and not being shown in UI"
**Describe the bug**
Exceptions with testng file dataprovider using excel, test methods are getting ignored and not being shown in UI.
Same was working before with V4.3. After upgrade, it is not being shown

Exceptions in the docker logs :
org.springframework.web.bind.MethodArgumentNotValidException: Validation failed for argument [3] in public com.epam.ta.reportportal.ws.model.EntryCreatedAsyncRS

[2021-02-19 06:48] HardNorth commented on #1316
@Priyanghaa Can you please provide example code how you use that provider?

[2021-02-19 07:02] Priyanghaa commented on #1316
Ex:
    @DataProviderArguments("filePath="abc/xyz.xlsx":sheetname")
    @Test(groups = {"india"},priority = 1,enabled = true,dataProvider = "fileDataProvider",dataProviderClass = FileDataProvider.class)
    public void validateTest(Object obj) {
}

**filedataprovider :**
    @DataProvider
    public static Iterator<Object[]> fileDataProvider(ITestContext context, Method method) {
        List<Obje

[2021-02-19 09:38] MariyaIvanina commented on #1311
@AndreiValnianka We analyze skipped tests too, so we need more details on the situation. Could you show both logs from skipped and failed items? What is the version of report portal you are using?

[2021-02-19 11:37] heilwood commented on #1309
thank you so much!

[2021-02-19 13:49] ReddyNitheeesh opened #1317 "[v5]Rerun - Scenario’s with the same name instead of merging with an existing test item is creating a new test item in our launch"
**Describe the bug**
Scenario’s with the same name instead of merging with an existing test item is creating a new test item in our launch

**To Reproduce**
It is reproducible on every run, we are facing this issue on 1 out of 5 times
Project Config: Java+ Cucumber
**Maven dependencies used:**
<dependency>
    <groupId>com.epam.reportportal</groupId>
    <artifactId>agent-java-cucumber</artifactId

[2021-02-19 20:39] sspieker-cc commented on #1317
We too are facing this same behavior.  The total number of tests are being inflated due to the re-run of a failed test and so the analytics are being skewed due to this incorrect reporting.

Is there a change that is needed in the XML or is this issue actually a valid defect?

[2021-02-19 20:44] sspieker-cc commented on #731
We have been meeting with more success by outputting the JMeter results to Junit XML and then uploading them to reportportal instead of attempting to do realtime reporting.

This is a mechanism that has worked well for our needs as outlined above.  This approach has been a saving grace for us.

[2021-02-19 21:02] sspieker-cc opened #1318 "[v5] Launch View Start Time Always in UTC while Launch Widget displays local time [Timezone issue]"
**Describe the bug**
Updating the timezone for the Reportportal API container was simple enough to solve, the "START TIME" column within the Launches view (regardless of the use of a filter or not) always displays results in UTC TZ (Right side of attached image).

Viewing the same run within the Launches widget display (Left side of attached image) displays the correct time/date from the current t

[2021-02-19 22:24] sspieker-cc commented on #1318
This seems to be a similar defect to #995
https://github.com/reportportal/reportportal/issues/995

[2021-02-20 08:19] pmthexton commented on #1092
I’ve just run in to this as well when trying to use portainer to deploy an instance to a docker swarm 😟 support for compose > 3 is high on my wish list.

[2021-02-20 10:16] amitngm commented on #1198
Hi,

Is there any update on this?

Thanks,
Amit

On Fri, 13 Nov 2020 at 11:11, Yauheniya Labanava <notifications@github.com>
wrote:

[2021-02-21 06:27] #1309 closed

[2021-02-22 06:33] AndreiValnianka commented on #1311
@MariyaIvanina We don't have logs for a skipped logs.

<img width="703" alt="ice_screenshot_20210222-092620" src="https://user-images.githubusercontent.com/37652976/108670916-befa9b80-74f0-11eb-9b41-5f82c99d05b3.png">

ReportPortal version is 5.3.3

<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-testng</artifactId>
			<version>5.0.8</version>
		</dependency>
		<

[2021-02-22 06:49] MariyaIvanina commented on #1311
@AndreiValnianka We analyze test items only when they have error or fatal logs. Without reported logs we can't match test item failure reasons. So you need to report the logs for skipped test items and they should be similar for your failed test item to become connected.

[2021-02-22 06:58] AndreiValnianka commented on #1311
Can we investigate data about method dependencies from TestNG logs and add logic for auto analysis (if a test method has dependencies and it was skipped propose a fail reason same as test method what it is depended on)?

[2021-02-22 07:50] MariyaIvanina commented on #1311
@AndreiValnianka Do you send somehow the dependencies between test items to RP?

[2021-02-22 09:19] odubaj commented on #1235
gentle ping

[2021-02-22 10:17] AndreiValnianka commented on #1311
No. We didn't customize agent-java-testng

[2021-02-22 12:03] bzsharm opened #1319 "Hosting Report Portal in Large Scale (Dedicated Linux Server) using docker containers"
We come from an information company background and there are so many questions raised **in terms of how secured is using report portal**  from our organization side !.

We have a meeting in few weeks for the approval of this software with the risk management team,

Could anyone please give me some points for the below set of questions,

1. From the perspective of security? how secured is hosting R

[2021-02-22 13:08] MariyaIvanina commented on #1311
@AndreiValnianka Thank you for clarification, we need to think about your suggestion. So we'll write here when we discuss it.

[2021-02-23 10:57] MariyaIvanina commented on #1315
@yonimoses Hi! We assumed that users will use a separate Elasticsearch instance in the docker, so we didn't add prefix to the index. We have several shareable indices "rp_stats" and "rp_aa_stats" and each project has its own index with the name, project id in the database. But since this issue occured for several users, we will add an env variable in the next version, where you'll be able to set u

[2021-02-23 10:58] MariyaIvanina commented on #1308
@rubico259  Hi! We assumed that users will use a separate Elasticsearch instance in the docker, so we didn't add prefix to the index. We have several shareable indices "rp_stats" and "rp_aa_stats" and each project has its own index with the name, project id in the database. So in your case 3 is your project id taht's why it was created like this. But since this issue occurred for several users, we

[2021-02-23 12:22] HardNorth commented on #1316
@Priyanghaa It says you that you are bypassing too long or too short attribute(s):
`default message [attributes[].value],128,1]; default message [size must be between 1 and 128]]`
So it looks like DataProvider is nothing to do with that. Please examine which attributes you send.

[2021-02-23 12:33] HardNorth commented on #1317
@ReddyNitheeesh Unfortunately your screenshots too small for me to distinguish anything. Can you attach them in better resolution?

Also I need to know:
1. Test Case IDs for both of not merged tests. You can find them if you click edit on a test on test case list view.
2. How you perform re-runs? Can you provide StartLaunchRQ you send on RP? You can capture it with the latest versions of postman.

[2021-02-23 12:49] HardNorth commented on #1310
@atanakalafiserv That's actually by design and there is nothing to "fix". We are reporting tool and out approach is to report data as is where it's possible. If test framework gives us name 'X', we report it as 'X'. You can customize the behavior by overriding corresponding methods on your own responsibility.

[2021-02-23 12:49] #1310 closed

[2021-02-23 19:45] rubico259 commented on #1308
Thanks, i am looking forward for the next version.

[2021-02-24 07:39] Priyanghaa commented on #1316
@HardNorth Total number of attributes is around 10 only

[2021-02-24 10:47] HardNorth commented on #1316
@Priyanghaa Not number, but value length.

[2021-02-24 11:14] ReddyNitheeesh commented on #1317
Hi Please find attachments below

![image](https://user-images.githubusercontent.com/28997011/108986929-b5bc2b00-76b8-11eb-93f6-f8dc67a99a0d.png)
![image](https://user-images.githubusercontent.com/28997011/108987017-cff60900-76b8-11eb-92ae-bfbd33eef38d.png)
![image](https://user-images.githubusercontent.com/28997011/108987168-fa47c680-76b8-11eb-9a94-c4934290517d.png)

Test Details below for both c

[2021-02-24 17:13] sleekweasel opened #1320 "Is reportportal going to stay on bintray/jcenter?"
We've been evaluating ReportPortal, but see that it lives on bintray (jcenter/jfrog).

Please, you could indicate whether it's going to stay there, or will it be moving as a result of JFrog's decision?

Thanks

[2021-02-25 06:37] rahulbhaviri commented on #704
@svettsova Tried this on v5: "http://10.51.52.44:8080/api/v1/mindtickle-api-automation/launch?filter.btw.startTime=0;120;+5"
Still the same error: "{
    "errorCode": 40011,
    "message": "Incorrect filtering parameters. Incorrect zoneOffset. Expected='+h, +hh, +hh:mm'. Provided value is ' 5'"
}"

Is it possible, the "+" sign is not recognisable? Even in the error "+" sign is omitted.

[2021-02-25 09:51] pbortnik commented on #1279
Fixed. Will be available in the version 5.4

[2021-02-25 11:31] #1279 closed

[2021-02-25 11:33] svettsova commented on #704
@rahulbhaviri please try to change '+5' to '+0500'

[2021-02-26 06:03] rahulbhaviri commented on #704
Same error
{
    "errorCode": 40011,
    "message": "Incorrect filtering parameters. Incorrect zoneOffset. Expected='+h, +hh, +hh:mm'. Provided value is ' 0500'"
}

[2021-02-26 19:55] grant-mccarriagher opened #1321 "[v5] Report Portal responding with 503s when api reaches max memory"
**Describe the bug**
We're running RP on k8s, and seeing 503 responses from the API for some period of time (maybe a few minutes) after the api reaches max memory and does a heap dump.

**To Reproduce**
Submit test data to RP until reportportal-api reaches max memory, and observe the responses.

**Expected behavior**
RP either gracefully keeps its memory low or doesn't lose responsiveness when rec

[2021-02-28 20:17] HardNorth commented on #1313
Abandoned

[2021-02-28 20:17] #1313 closed

[2021-03-01 03:15] Bharadwaj-vana opened #1322 "Attach HTML Reports to Launches"
Hi Team,

I am generating HTML reports after my automation execution with test results, & I am trying to attach HTML report into Launch created in dashboard.  Can you please let me know how Can I achieve this.

Please let me know Thanks in Advance !

Thanks
Bharadwaj

[2021-03-01 08:12] VolhaKarenko commented on #1140
Fixed in version 5.4

[2021-03-01 08:12] #1140 closed

[2021-03-01 08:39] DEEPAKCHANDRA7 opened #1323 "How to import html report from Local to Report Portal"
Hi Team,

We are trying to import HTML report from Local that are created while running automation scripts to Report Portal dashboard for that specific launch. Please let me know how to do this Thanks !

PS:Html reports also contains screenshots(.jpg files) that took using Phyton !

[2021-03-01 10:05] odubaj commented on #1235
Hello, any updates here ?

[2021-03-01 16:02] evjlobanova commented on #1235
Hello @obudaj on the last week a BackEnd team should send comments on your pr

[2021-03-01 20:03] grant-mccarriagher commented on #1321
Changing the default `jvmArgs` for `api` seems to have resolved this for us.

What it is in the official charts repo:
`"-Djava.security.egd=file:/dev/./urandom -XX:+UseG1GC -XX:MinRAMPercentage=60.0 -XX:InitiatingHeapOccupancyPercent=70 -XX:MaxRAMPercentage=90.0 -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp"`

What we changed it to:
`"-Djava.security.egd=file:/dev/./urandom -Xms500M -Xmx1G

[2021-03-01 20:37] evjlobanova commented on #1314
Hello @ivanhorin could you please share logs and info from a dev toll in the browser?
@VolhaKarenko , could you please check this issue

[2021-03-02 06:10] odubaj commented on #1235
Ok, thank you

[2021-03-02 12:33] snehalavhare commented on #969
I am also facing the same issue even after updating the minio version to 2020-05-01T22-19-14Z. Also updated Report Portal to the latest version. The API service keeps restarting and report portal becomes inactive.

Below are the vserion details:
reportportal/service-api:5.3.5
reportportal/service-authorization:5.3.5
reportportal/service-auto-analyzer:5.3.5
rabbitmq:3.7.16-management
docker.elastic

[2021-03-02 17:02] krishnaPedd opened #1324 "Unable to capture the screenshot into reportportal using appiumdriver"
Hi @HardNorth,

Using this below method we are not able to capture screenshots into report portal through appium driver
below is the screenshot method i am using for mobile and it is working fine for Web framework

// Take screenshots into report portal
public static ReportPortalMessage ScreenShot(AppiumDriver appiumDriver) {

			 ReportPortalMessage message = null;
			    try {
			    	TakesScree

[2021-03-02 18:59] Shivin89 opened #1325 "Jira Integration :- To show linked issue (Parent jira ticket)when posting a bug from RP."
**Describe the bug**
With reference to the Slack channel communication with Yauheniya Labanava.
Given: I click on the Post Issue button
When: Jira Post issue Dialog box opens
And: I provide the Linked issue key on the field named “Link issue” See screenshot below.
THEN: The bug I created for failed step links to the actual story/Ticket for which these tests failed.
if a new Bug with “JIRA ID” in t

[2021-03-03 04:57] HardNorth commented on #1324
@krishnaPedd I doubt WebDriver and AppiumDriver provide screenshots in the same format, but you treat them as PNG in any case.

[2021-03-03 08:10] ReddyNitheeesh opened #1326 "[v5]As expected data retention (Cleanup) jobs does not work (aka low performance of native PG Vacuum on low VM spec)"
**Describe the bug**
Whenever data retention clean up activity is being performed CPU utilization is reaching 100 %

DB Details:
db.r5.xlarge
Post gre version:
11.8
Report Portal Version:
5.3.5
**To Reproduce**

**Expected behavior**
CPU utilization should be increased on the fly

**Screenshots**
Clean up activity:

![image](https://user-images.githubusercontent.com/28997011/109773470-40ef7080-7c2

[2021-03-03 08:17] ReddyNitheeesh commented on #1326
In addition can you please provide details , does data retention happen as per project settings in rp, and in addition does clean up happen in batches

[2021-03-03 08:49] svettsova commented on #1115
the fix will be available in 5.4

[2021-03-03 08:49] #1115 closed

[2021-03-03 12:51] krishnaPedd commented on #1324
Yes we are generating screenshots in PNG format only for web and mobile. So the same above approach it was worked for report portal  for web platform, but incase of mobile it is generating screenshot locally but it  is not reflecting in report portal.

[2021-03-03 16:29] HardNorth commented on #1324
@krishnaPedd As I said most likely it's not PNG.

[2021-03-03 17:10] Cyberglamdring commented on #969
@snehalavhare, provide API logs please

[2021-03-04 07:00] ReddyNitheeesh opened #1327 "[v5][Adhoc]Rerun results are not getting updated for few test's for Java Cucumber Framework"
**Describe the bug**
Rerun results are not getting updated for few test's for Java Cucumber Framework

**To Reproduce**
Facing this issue intermediately
**Expected behavior**
Rerun results need to updated for all rerun tests.

Maven Dependencies:

com.epam.reportportal-agent-java-cucumber- 5.0.1
com.epam.reportportal client-java 5.0.15
com.epam.reportportal logger-java-logback 5.0.2

**Screenshots

[2021-03-04 07:11] talgreen1 opened #1328 "Unable to investigate skipped tests"
I would like to be able to set a defect type for skipped tests. Currently - I'm able to do so only for failed tests.
I'm using Java & TestNG. I tried setting the 'rp.skipped.issue' to true / false - no change.

Is this possible?

10x.

![POWERPNT_3VmBhXTYVw](https://user-images.githubusercontent.com/26517162/109924800-849bb600-7cc9-11eb-97d1-ff2c836b6780.png)

[2021-03-04 07:37] HardNorth commented on #1328
No, it's not possible, since it's by design. The only way for you is to override this logic by yourself.

Your test was skipped due to `Before class` method failure and you can see `To Investigate` on the method.

[2021-03-04 07:37] #1328 closed

[2021-03-04 14:43] ostratila commented on #1115
@svettsova do you know approximately when 5.4 will be released?

[2021-03-04 14:52] VolhaKarenko commented on #1314
Didn't manage to reproduce the issue.
@ivanhorin does the error occur when you select option "Launches with the same name" or after any other action?
Could you please give more detailed steps to reproduce and specify the RP version you are using?

[2021-03-04 16:46] pbortnik commented on #954
Hi guys, @s-reimer @rkumarrb, @akolomiiets,
As a workaround, could you please try to provide in the parameter "passwordAttribute" : "userpassword" when you select another encoding type.
![image](https://user-images.githubusercontent.com/8058828/109998388-3a92ee80-7d22-11eb-87f4-f34616e969cb.png)

And give us a feedback after try.

[2021-03-04 17:39] krishnaPedd commented on #1324
@HardNorth ,Even we tried with pdf aswell but it didn't worked, please let me know in which format we need to generate screenshots to reflect screenshots in report portal dashboard for mobile scripts.

[2021-03-04 20:25] HardNorth commented on #1324
@krishnaPedd can you just save a screenshot file and test it somewhere like this: https://www.checkfiletype.com/
?

[2021-03-05 08:05] ReddyNitheeesh commented on #1326
Hi Team, today also we faced the same issue,
Please find the vacuum clean screenshot below.
![image](https://user-images.githubusercontent.com/28997011/110085707-6f04ba00-7db7-11eb-9566-f5e648e900df.png)

Can you please help us with this and any workaround steps to be followed?

Thanks,
Nitheesh

[2021-03-05 13:22] ReddyNitheeesh commented on #1317
Hi Team,
can you please provide a look into this.

Thanks,
Nitheesh

[2021-03-05 14:10] HardNorth commented on #1317
@ReddyNitheeesh It's still not clear what causes the issue, so I have to guess. You didn't posted StartTestItemRQs as I asked.

[2021-03-05 15:51] Cyberglamdring commented on #1037
Dear @sysreport,

Here are some steps to help you:
1. You can attach the disk to the MinIO service (Volume for Docker or PVC for Kubernetes) and set up backup snapshots in the Cloud or Local VM.
2. Also, you can deploy MinIO S3 proxy. By default, ReportPortal services create projects buckets in MinIO. We do not plan to change the structure in the near future.

**How to deploy MinIO S3 proxy**:
1.

[2021-03-05 16:18] Cyberglamdring commented on #1064
Hello,
This solution should help you:  https://github.com/reportportal/reportportal/issues/1037#issuecomment-791505679

[2021-03-05 20:00] GeoffCraig opened #1329 "index service uses > 100 postgres connections at start up"
**Describe the bug**
Index uses 104 postgres connections and causes FATAL: sorry, too many clients already errors in the uat and api services.

**To Reproduce**
Deploy to Docker Swarm
Log into postgres first.
Start index service
run SELECT COUNT(*) from pg_stat_activity

**Expected behavior**
Index service shouldn't use more connections than postgres offers by default.

**Screenshots**
reportporta

[2021-03-06 17:10] HardNorth commented on #1327
@ReddyNitheeesh Looks like the root cause here is `LockAcquisitionException` which is a server error, then it causes everything else.

To investigate the issue please anwer the following questions:
- Can you provide the `LockAcquisitionException` from server log?
- Please add more details about the run. Have you performed the rerun in parallel (in many threads)? So you merge launches and rerun fai

[2021-03-08 02:34] hnm372 opened #1330 "[v5]reportportal/dev-deployment/start.sh doesn't work properly on mac"
**Describe the bug**
When I use the sh start.sh command, it cannot be executed normally，I will be very grateful for your help！

**Error logs**
admin@C02D853YML85 dev-deployment % sh start.sh
Already on 'develop'
Your branch is up to date with 'origin/develop'.
Already up to date.

FAILURE: Build failed with an exception.

* What went wrong:
Could not initialize class org.codehaus.groovy.runtime.In

[2021-03-08 07:28] krishnaPedd commented on #1324
@HardNorth, i uploaded and verified the screenshot in the above link, it is showing that it's pdf  and png based on the file, the format it is showing as expected only. here my question is, screenshot capturing feature is available for mobile devices in report portal using appium driver?, if yes, which format of screenshot will report portal support?

[2021-03-08 08:16] HardNorth commented on #1324
@krishnaPedd No, RP doesn't have such feature. And we do not plan to add it. We are reporting tool, not a test framework.

[2021-03-08 09:59] szhao-talendbj opened #1331 ""Timeline Mode" in Test-cases growth trend chart"
**Describe the bug**
Missing last launch date and additional first 0 lanuch.

**Expected behavior**
For this chart, in Timeline Mode, can we change to per each incoming event date not per each calendar day?.

**Screenshots**
I have a Data Series which include 2 Launches,
![image](https://user-images.githubusercontent.com/52480208/110297784-ce203400-802e-11eb-9b3f-b212f8e069ef.png)

I am using "Tes

[2021-03-08 10:04] snehalavhare opened #1332 "ArrayIndexOutOfBoundEcxeption in retrieveLeaf() of ReportPortalStoryReporter class while running story files in Jbehave"
HI, I am working on integration of report portal with my jbehave framework, where I am using ReportPortalScenarioFormat. INSTANCE or ReportPortalStepFormat.INSTANCE
but after running the first scenario successfully , 2nd scenario is getting failed with ArrayIndexOutOfBoundEcxeption in retrieveLeaf() method of  ReportPortalStoryReporter class.

Can somebody please help with the cause of this error?

[2021-03-08 11:16] ReddyNitheeesh commented on #1326
Hi Team,

Today also we are facing same issue, I see most error's related to api container:

Exception in thread "logs-task-exec12757" com.epam.ta.reportportal.exception.ReportPortalException: Log '593479763' not found. Did you use correct Log ID?
        at com.epam.ta.reportportal.binary.CreateLogAttachmentService.lambda$create$0(CreateLogAttachmentService.java:43)
        at java.base/java.util

[2021-03-08 11:59] ReddyNitheeesh commented on #1317
@HardNorth, It is not reproducible every time, so that's why I have posted entire test item details before rerun and after rerun. If still required I can spend some time and provide details. But I don't think it would be helpful as it is not reproducible every time

[2021-03-08 12:51] ReddyNitheeesh commented on #1317
@HardNorth , Please find below basic StartTestItemRQ for both test's:
------------------------------------
Test 1:
-----------------------------------
codeRef: "com/thomsonreuters/fastdraft/features/users/fastDraftForPAUsers.feature:7"
description: "com/thomsonreuters/fastdraft/features/users/fastDraftForPAUsers.feature"
endTime: 1613639574502
hasChildren: false
hasStats: true
id: 26515900
launchI

[2021-03-08 13:12] ReddyNitheeesh commented on #1327
@HardNorth ,
Please find my answers below:

**- Can you provide the LockAcquisitionException from server log?**

docker logs 59f3605b967b | grep "LockAcquisitionException"
Exception in thread "logs-task-exec12937" com.epam.ta.reportportal.exception.ReportPortalException: Log '593523637' not found. Did you use correct Log ID?
        at com.epam.ta.reportportal.binary.CreateLogAttachmentService.lam

[2021-03-08 14:24] talgreen1 opened #1333 "Renaming a launch via API"
Is it possible to rename a launch by API?
When using '​/v1​/{projectName}​/launch​/{launchId}​/update' - I'm able to change description, attributes & mode only.

[2021-03-08 15:00] Bharadwaj-vana commented on #1322
Hi Team,

Please let me know if the above requested feature supports RP or Not ? Is it Possible to upload/ attach HTML to launches.

[2021-03-08 20:44] HardNorth commented on #1332
@snehalavhare can you please post the stack trace here?

[2021-03-09 09:06] fkrivsky commented on #1320
Details on the Jfrog/Bintray/JCenter change - https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-03-09 09:26] DEEPAKCHANDRA7 opened #1334 "Importing Html reports from Local to Report Portal"
Hi @DzmitryHumianiuk

We are trying to import HTML report from Local that are created while running automation scripts to Report Portal dashboard for that specific launch. Please let me know how to do this Thanks !

PS:Html reports also contains screenshots(.jpg files) that took using Phyton !
Can you please help me with this?

[2021-03-09 11:31] krishnaPedd opened #1335 "Not able to capture screenshot into reportportal through mobile automation"
Hi Team,
Screenshot capturing into report portal is working with web automation, same it is not working through mobile automation. Please required help on this.

Thanks In advance

[2021-03-09 13:15] HardNorth commented on #1316
Abandoned

[2021-03-09 15:07] HardNorth commented on #1316
@Priyanghaa Could you please compile that into an example project including an XLSX file with example data?

[2021-03-09 15:14] Priyanghaa commented on #1316
sure will do that and share with you

[2021-03-09 15:39] amitngm commented on #1198
Hi All,

Do you have any plan to implement this feature?

Regards,
Amit

On Sat, 20 Feb 2021 at 15:44, Amit Nigam <nigamit@gmail.com> wrote:

[2021-03-09 20:25] DzmitryHumianiuk commented on #1334
@DEEPAKCHANDRA7 there is possibility to upload attachments as Launch Logs.
you will see button `Log` once go inside launch (see pic).
RP can receive single files. But it won't represent in a right way a structure of html+pictures.

In java client we have implemented method in client: https://github.com/reportportal/client-java/blob/develop/src/main/java/com/epam/reportportal/service/LaunchLoggingC

[2021-03-10 07:32] araqsa opened #1336 "Display test case names in email notification"
![image](https://user-images.githubusercontent.com/80383201/110592473-c0d08a00-8193-11eb-893c-9053e25cc110.png)
In the report portal notification email our client wants to see test case names with statuses besides the total amount of failed and passed tests.
Is it possible to add test case names for only one of our test suites ? Because in other test suites we have more than 40 tests and it may se

[2021-03-10 08:28] iivanou commented on #1334
I think this request is about adding test results to RP using an already created HTML file. For example, it may be an HTML file created by the allure plugin in Pytest. @DEEPAKCHANDRA7 Is that what you are trying to accomplish?

[2021-03-10 10:18] Priyanghaa commented on #1316
@HardNorth Please let me know Is it possible if we connect via call and do screenshare ? I can show the error and we can discuss the details then and there

[2021-03-10 20:00] Hsillman opened #1337 "Some launches do not finish (status set to IN PROGRESS)[v5]"
**Describe the bug**
Im currently facing a issue with launches that keep loading and do not finish. All of the tests appear in the portal but the launch simply does not finish.

![Captura de Tela (9)_LI](https://user-images.githubusercontent.com/18448914/110688849-cb554880-81c0-11eb-816f-33c7176d1f0b.jpg)

I currently download files from jenkins then I run a custom parser called RPBot to parse the

[2021-03-11 06:12] HardNorth commented on #1316
@Priyanghaa we do such call only in exceptional cases. Because 99% of them it's people can't deal with their own code and trying to involve us into this.

[2021-03-11 15:17] irynakozak2 commented on #1326
Hello @ReddyNitheeesh,

Please find our results regarding Jobs launching at a large scale(Large Server Type from our recommended optimal performance hardware).
https://reportportal.io/docs/Optimal-Performance-Hardware

Environment configuration:
Database: AWS RDS `m5.4xlarge`
Database Size: 1.5Tb
MinIO Initial Size: 886.170Gb

1. **Clean Attachments Job**
duration - 16h
total data cleaned: 686,684

[2021-03-11 23:22] lineshr commented on #779
Hei , I am facing the same issue in RP 5.3 and the latest version of  plugin-bts-jira / 5.1.0  .
unable to upload the plug-in id -Jira

![image](https://user-images.githubusercontent.com/16701985/110868379-c8de1600-82c8-11eb-9ef2-ea2e5633c507.png)

any update on this issue.

[2021-03-12 04:42] Priyanghaa commented on #1316
okay sure will prepare and give the jar

[2021-03-12 11:56] #1326 closed

[2021-03-12 13:30] dannysilence commented on #1092
I've managed to succeed with such upgrade by my own with these 2 steps :
- change compose version value to 3.0
- change depends_on section to contain pure lists (without additional condition statements like it was in 2.x version)

[2021-03-12 13:34] dannysilence commented on #1092
[code]

[2021-03-12 13:48] HardNorth commented on #1327
@ReddyNitheeesh Thanks, but it looks like there is no LockAcquisitionException in the log you provided, so can you please dig a little bit more?

And another question, do you use RP server version 5.3.5?

[2021-03-12 13:54] mlarrea opened #1338 "New widget to show a list of test cases along with the results of their latest executions"
**Describe the solution you'd like**
I would like to have a widget available to show on the dashboard a list of test cases and the results of their latest executions, adding the possibility of being able to filter them by attributes established at the test case level and limit the number of recent executions that are shown. A list similar to the launch history:
![2021-03-12_14h25_18](https://user-

[2021-03-12 13:59] dannysilence commented on #1092
or, with more latest RP images:

[code]

[2021-03-14 20:33] pmthexton commented on #900
+1 from me for the ability to post launch info to external webhooks on certain events like launch completion and/or auto analysis completion.

[2021-03-15 07:57] odubaj commented on #1235
Hello, I would like to ask about the possibility to make a specific project "public". That means, all users, which are logged in, can see results in the given project (all have roles = MEMBER). Do you have this feature somehow available ? If not, can it be done explicitly by adding a new row to "project_user" table for all newly created users (auth via SAML) ? Is anything other needed to be done ?

[2021-03-15 15:59] odubaj commented on #1235
Sure, I will create a feature request for this.

[2021-03-15 16:09] odubaj opened #1339 "Public project accessed by any user"
It would be nice, if there is a option to create a "public" project, where all registered users will have access to it. I know there exists a simple workaround by adding the user as a member to the given project, but it will be nice to have an option to make project public, so any user will have MEMBER privileges to the project and will be able to see the results.

A use case for example is:

We h

[2021-03-15 16:10] odubaj commented on #1235
created request: https://github.com/reportportal/reportportal/issues/1339

[2021-03-15 16:31] DzmitryHumianiuk commented on #1339
Actually, it was there.
Project with the name `Default_project`. All new users where assigned to it by default.
And this logic was actual for more than 6 years. Till ReportPortal v4.1-4.2, I guess.

Finally, based on hundreds of asks we removed it.
Since it doesn't make mush of the logic for the large setups in organisations.

@odubaj what's the need to have it?

[2021-03-16 05:06] Priyanghaa commented on #1316
@HardNorth Have put some sample code here https://github.com/Priyanghaa/SampleReport. Please check

[2021-03-16 07:04] odubaj commented on #1339
We are currently using version 5.3.3. The need is just that the project manager of the given project would not be forced to manually add all users (let's say 200), as this consumes time and does not look good.

The best way would be to have this as a project_type=PUBLIC, where we currently have INTERNAL or PERSONAL. This would mean, that this project is accessible by all users.

If I understand it

[2021-03-16 08:01] DzmitryHumianiuk commented on #1339
We assume it to be resolved at the level of Authentication service.
Based on information from LDAP, SAML, etc., receive information about inclusion in groups, and based on it assign users to corresponding project.

I am against mixing the logic, and lowering the decision on the distribution of projects to the API level.
This should be resolved at the authorisation level.
The same as for now. There

[2021-03-16 08:39] odubaj commented on #1339
Agree, that would be ideal. Is this feature in your backlog ?

[2021-03-16 10:07] Cyberglamdring commented on #1321
@grant-mccarriagher, thanks. We will test `jvmArgs` in future release

[2021-03-16 11:08] DzmitryHumianiuk commented on #1339
this already in `service-auth`.
it just should be added programmatically, not from UI.

[2021-03-16 11:26] odubaj commented on #1339
Thanks for answer, we will look at it.

[2021-03-17 07:44] avikghosh commented on #2
Hey @evjlobanova any update on this?

[2021-03-17 11:41] jcarenas commented on #1338
Hi all,
that feature would help also me in one requirement that I am working on it just now.
Looking forward to know about this candidate feature.
Thanks in advance

[2021-03-18 05:10] Bakanych opened #1341 "Fixture level steps are displayed as tests"
Hi all,
I'm using nunit tests with step-like notations to have better report details.
I've found that steps that reported from fixture level methods, e.g. `OneTimeSetUp` and `OneTimeSetUp` are displayed as tests in report portal suite list.

Repro steps:
- Run tests from https://github.com/Bakanych/example-net-nunit/blob/master/src/Example/Tests/Class5.cs
- Open debug run from report portal:
![ima

[2021-03-19 09:25] bzsharm commented on #973
Hi Guys, any update on this issue! is the installation document up to date @evjlobanova @Yumfriez, we are planning to deploy the report portal in a large scale! we have to make sure it'll work beforehand!

[2021-03-22 13:01] moporwal opened #1342 "Test execution is not stopping automatically in report portal [v5.2.2]. need to stop forcefully after every execution to analyse"
**Describe the bug**
We have our application framework in cypress (JS)  (agent-js-cypress) which is configured with Jenkins and report portal . Report portal we have installed with kubernetes.
Basically we configure our Execution to run with the help of jenkins and analyse the result in report portal
The problem occurring is now execution is getting stopped successfully in jenkins after passing or

[2021-03-22 13:22] priyankachaturvedi30 opened #1343 "Increase Number of items per page"
I have huge number of cases running on daily basis.
![image](https://user-images.githubusercontent.com/50797731/111995874-7362fe00-8b3f-11eb-8019-194ae5e72df6.png)

But from what I see, there is a limitation on number of items that can be displayed per page to 300
![image](https://user-images.githubusercontent.com/50797731/111995985-94c3ea00-8b3f-11eb-9108-42529609e9ac.png)

Need a little enhancem

[2021-03-22 13:57] priyankachaturvedi30 opened #1344 "Unable to restore images/attachments using backup"
**Backup unable to restore images/attachments**
...

**Screenshots/Attachments should also be restored**
...

**Screenshots**
I followed the step to get database dump as stated in documentation-
![image](https://user-images.githubusercontent.com/50797731/112000918-6eed1400-8b44-11eb-8f30-14e3a6fbebb4.png)

I was able to restore everthing except screenshot/attachments:
![image](https://user-images.

[2021-03-22 20:32] nvborisenko commented on #980
@evjlobanova @Yumfriez I hope this issue can be considered as fixed in v5.3.1

[2021-03-23 10:49] rplevka commented on #1065
@evjlobanova, are the attr. vlaue length restrictions still in place in the recent version? Are there any plans to remove them?
thanks!

[2021-03-23 12:12] #1337 closed

[2021-03-23 12:12] Hsillman commented on #1337
This was due to duplicated listener declarations

[2021-03-23 12:50] HardNorth commented on #1065
@evjlobanova For me that's no different, client will send it in either case. But since we are using relational database it depends on what we are indexing or going to index. The longer string we index the slower and more inefficient will be saving/getting operations. I can't recall a case when we perform a search through 'parameter' field, but we definitely search launches by name. Thus for me it'

[2021-03-23 15:31] priyankachaturvedi30 opened #1345 "Issue with restoring backup on Windows"
I am using RP - 5.3.5 version.
I tried taking backup of my postgres container with specified steps in documentation but when I tried restoring it I got the following issues -
![image](https://user-images.githubusercontent.com/50797731/112172479-c2ca2c80-8c1a-11eb-990d-c2f8c1472b5f.png)

I am trying to retain backup on my windows enviornment. I very well remember it used to work for me previously.

[2021-03-24 09:41] omkarnathsingh commented on #1343
@priyankachaturvedi30 That's not very ideal, the webpage will be too heavy to display so many test launches. you can apply filters to view what data you need. Also from API perspective it will cause slowness.

[2021-03-24 11:05] priyankachaturvedi30 commented on #1343
Understood.! No problm @omkarnathsingh

[2021-03-24 11:05] #1343 closed

[2021-03-24 14:35] ReddyNitheeesh commented on #1327
@HardNorth , with "LockAcquisitionException " i am not able to find relevant details but it is pointing mostly to auto analysis container.
can you help us by providing additional details.
Yes current version of RP server is 5.3.5

Thanks,
Nitheesh

[2021-03-26 06:35] priyankachaturvedi30 opened #1346 "Report Portal instance keeps on Loading"
It works fine during the entire day, and when I login the next day I see following error
![image](https://user-images.githubusercontent.com/50797731/112592040-52dec080-8e2b-11eb-9220-57dc58998cfd.png)
When I try to do a docker-compose up I see following error -
![image](https://user-images.githubusercontent.com/50797731/112592130-799cf700-8e2b-11eb-8b33-22167c43da85.png)
Can somebody check please.

[2021-03-26 07:38] priyankachaturvedi30 opened #1347 "Does General Setting mentioned on RP ui applicable for baselines ?"
I see the following settings mentioned on report portal UI under settings -
![image](https://user-images.githubusercontent.com/50797731/112597999-f502a680-8e33-11eb-835d-51dab1dcced7.png)

Curious to understand whether these would be applicable for Baselines as well. for eg: Keep Launches/ Keep logs - tend to remove data longer than a specified period. Would that delete baselines as well which mig

[2021-03-26 10:31] evjlobanova commented on #1347
@priyankachaturvedi30 for now all data is removed from reportportal.
We are planning to implement the Release Lock feature #674- which helps to save baselines in the app.
Approximate ETA for feature ver 6.
Does this functionality cover your needs?

[2021-03-26 12:50] priyankachaturvedi30 commented on #1347
Yes @evjlobanova

[2021-03-26 12:50] #1347 closed

[2021-03-26 16:48] DzmitryHumianiuk commented on #990
there is no for now (version 5.x)
but we definitely will consider it during re-work of Notifications.

[2021-03-29 01:52] kuiwang02 opened #1348 "the order of the attributes of the launch is simply not guaranteed and we expect the attributes are sorted."
**Describe the solution you'd like**
The order of the attributes of the launch is not guaranteed. for example,
we have more than 20 attributes (like name, team, version, build_version, pipeline_type, gbuildnum, launchtype and profilename etc) for launch.
when logging launch, we use same sequence of attributes in payload (json format) to add them into launch with API /v1/{projectName}/launch/info.

[2021-03-29 08:48] HardNorth commented on #1320
Ok, we have a solution. Here is our plan.

Starting from March 31st 2021 bintray is going to stop accepting new artifacts, but they will be still available by the old location till May 1st. As we already publish some artifacts using github packages we are going to extend this practice and publish all of them here in the "reportportal/reportportal" project. So https://github.com/reportportal/report

[2021-03-29 16:37] ersuniljoshi opened #1349 "[5.3.5] Direct link to dashboards are not working"
**Describe the bug**
try to open a dashboard directly
Example: http://reportio.xxxx.com:8080/ui/#my_regression/dashboard/1234

**Expected behavior**
Dashboard should open...

**Actual behavior**
Nothing loads up in the dashboard.

**Screenshots**
If applicable

**Versions:**
 - Not OS Specific, Any browser.
 - Version of RP- Current version:API Service: 5.3.5;Index Service: 5.0.10;Authorization Se

[2021-03-30 01:30] kuiwang02 commented on #1348
Hi,
Actually we are looking for the attributes of the launch being sorted in UI.

Thanks

[2021-03-30 05:18] kuiwang02 opened #1350 "change status of test item on GUI in batch"
**Describe the solution you'd like**
We can go into the launch and see the test items On GUI with browser.
and we could select a group of test item by clicking the square icon.

we expect there is menu in Actions to change status of the items so that we could change items in batch.

currently there is "edit defects", "unlink issue" etc.

Thanks

**Is your feature request related to a problem? Plea

[2021-03-30 07:19] odubaj commented on #1235
Hello, any updates about merging the pull-requests ? Seems that review is already completed, thanks.

[2021-03-30 08:21] evjlobanova commented on #1350
@kuiwang02 hello, thank you for posting this. Actually, we do not plan to add this functionality because change status is a major operation that affects statistics. In our assumption - change status operation for cases when auto bug is not reproduced manually, or similar situation

Could you please describe your case, why it is important for you to change status in a bulk? Why doesn't initial stat

[2021-03-30 08:25] evjlobanova commented on #1349
@VolhaKarenko please recheck

[2021-03-30 08:32] kuiwang02 commented on #1350
@evjlobanova thanks to check it.

our team member check case result on GUI with chrome. and sometime we found the failure of most test item in one launch are not failing really, so the team member want to change them to PASS. currently we can do it one by one on GUI. and we expect to do it in bulk, like edit defects in bulk on GUI.

[2021-03-30 08:44] evjlobanova commented on #1350
@kuiwang02 thank you for your response. We have several requests to remove or limit this feature. So that in version 5, we have chosen the existing approach.
We are planning to add a configurable permission map in ver 6, it will allow users to limit a feature in case they need it. And I suppose we can think about added a possibility for bulk status change.
Thank you for your request!

[2021-03-30 08:47] #980 closed

[2021-03-30 08:54] kuiwang02 commented on #1350
@evjlobanova Thanks. hope it is done in v6.

[2021-03-30 09:40] vishallanke opened #1351 "[help required] Auto Update Widget"
Our project is a speedboat project where Pipelines of multiple projects gets executed in QA repo and then we decide health of Product. Report Portal Dashboard is widely used by team from management. We found report portal very useful. Component Health, Cumulative Trend Chart are very useful. However, these charts are not Auto Updated. It might be because updates takes time, so report portal team m

[2021-03-31 11:58] priyankachaturvedi30 commented on #1344
Any updates on the above thread? @evjlobanova @DzmitryHumianiuk

[2021-03-31 14:08] tmatveyeva opened #1352 "Link issue as part of Edit Defects dialog"
**Describe the solution you'd like**
...
Inside the run
1. Select tests I would like to edit
2. Click Edit defects

Be able to provide in same dialog defect type, comment and Jira ticket link

**Is your feature request related to a problem? Please describe.**
...
When analysing results, especially in bulks, for each defects that I marked as product bug I would like to link a bug, currently these t

[2021-04-01 03:46] EasyAutomate commented on #957
<img width="1604" alt="Screenshot 2021-04-01 at 9 12 58 AM" src="https://user-images.githubusercontent.com/15063558/113240533-8a85b680-92ca-11eb-9fd2-f94733d2315b.png">
<img width="1455" alt="Screenshot 2021-04-01 at 9 12 15 AM" src="https://user-images.githubusercontent.com/15063558/113240545-8eb1d400-92ca-11eb-94d3-c67f31a68e95.png">
Facing the similar issue in MAC

[2021-04-01 07:24] priyankachaturvedi30 opened #1354 "Sequence of steps are interchanged in Report Portal"
We have observed at times that the sequence in which steps are logged on RP is not sequential. This usually happens for skipped cases. Attached screenshot for the same. We feel that this is because the time logged against all such steps is the same. We verified that on RP, time is displayed up to seconds, however, through our logging we are sending time up to milliseconds. Can there be a possibili

[2021-04-01 11:41] VolhaKarenko commented on #1349
Couldn't reproduce the issue
@ersuniljoshi are there any errors in console on get dashboard? is it reproducible with all dashboards?

[2021-04-01 13:44] robholt opened #1355 "[5.3.5] Test total on launch keeps updating after test run is finished"
I've observed that the total number of tests in a launch, along with number of failed/passed/skipped tests, can continue to change long after the actual test run itself has finished the launch and completed. The total number only goes up, but the number of failed tests usually goes down. Eventually these totals converge on the real test results, but that sometimes takes over 30 minutes. The faster

[2021-04-01 14:22] DzmitryHumianiuk commented on #1354
@priyankachaturvedi30 ReportPortal consider time in milliseconds.
you can see it in Network tab of your browser, once list of items updated, find a start time value.
But UI shows it only in seconds, but sorts it according to milliseconds on the backend first.

Most likely your framework sends all these items with the equal timestamp in start time, thus for server side filtering there is
no any dif

[2021-04-01 14:22] #1354 closed

[2021-04-01 14:40] ersuniljoshi commented on #1349
@VolhaKarenko yes we can reproduce this everytime after we upgraded to RP 5.3.5 ...  No console errors.

[2021-04-01 15:46] priyankachaturvedi30 opened #1356 "Comments getting removed while doing re-run for AA issues."
Report Portal does not preserve comments of auto analyzed issues if tests are executed on the report portal with rerun = true. When rerun is true all comments given on known issues are lost. It works fine when the rerun is false.  This is observed especially for cases where the baseline is created in the same launch. Attached gif for your reference.
![AACommentDeletedOnRen](https://user-images.git

[2021-04-01 16:28] diogormendes commented on #2
Looking forward to an Update as well!

[2021-04-01 18:06] rplevka commented on #1327
@ReddyNitheeesh we used to experience something similar -
are you sure the name of the test is 100% indentical to the test from a previous iteration?
- are those tests parameterized?
- are the attributes of the launches and test items identical?

any of these might lead to RP failing in identifying the matching TestItem and thus treating it as a new one.

[2021-04-02 09:10] VolhaKarenko commented on #1349
@ersuniljoshi could you tell how many dashboards you have on the project?

[2021-04-02 13:57] Shakevg commented on #1352
@tmatveyeva You can perform now your actions more quickly just changing the order of steps if it fits your needs (without double tests selection):
1. Select tests
2. Select Edit Defects
3. Select defect type and set description
4. Select Link issue and provide a link

[2021-04-02 14:01] Shakevg commented on #1263
Could somebody provide ETA when it unpleasant issue will be fixed (because need each time to modify the file name manually)?

[2021-04-02 19:06] HardNorth commented on #1263
@Shakevg Which agent do you use for upload the video?

[2021-04-03 09:41] ersuniljoshi commented on #1349
@VolhaKarenko  We have 50+ dashboards. Also another thing when we are adding new dashboard( we found it now only). AS soon as we try add a widget Dashboard name disappears.

![Screenshot 2021-04-03 at 15 11 03](https://user-images.githubusercontent.com/4852488/113474666-eac55580-948e-11eb-9b5c-5b097e8d8f07.png)

[2021-04-03 13:22] Shakevg commented on #1263
@HardNorth I use .Net [agent-net-vstest](https://github.com/reportportal/agent-net-vstest)

[2021-04-05 05:26] priyankachaturvedi30 commented on #1356
@rplevka : Any updates on the above issue ?

[2021-04-05 07:32] VolhaKarenko commented on #1349
@ersuniljoshi this is a known issue, occurs due to large number of dashboards (50+). We have extended this limitation to 300 dashboards in version 5.4

[2021-04-05 07:32] #1349 closed

[2021-04-05 12:48] evgenytkachenko commented on #1327
I upgraded RP to 5.3.5 ran across the same Issue
Caused by: org.postgresql.util.PSQLException: ERROR: function handle_retry(bigint, bigint) does not exist
2021-04-05 12:44:15.425 ERROR 6 --- [-8585-exec-3453] .t.r.c.e.r.ReportPortalExceptionResolver : ReportPortalExceptionResolver > org.hibernate.exception.SQLGrammarException: could not extract ResultSet

[2021-04-05 13:08] evgenytkachenko commented on #1327
I rolled back RP to 5.3.3 and It was working back again

[2021-04-05 16:23] ReddyNitheeesh commented on #1327
@rplevka,
Yes I am sure test's are 100% identical
Please find my answer's below

are those tests parameterized?
can you please provide additional details regarding parameterized

are the attributes of the launches and test items identical?
yes they are

Please let me know for additional questions
Thanks,
Nitheesh

[2021-04-05 16:24] ReddyNitheeesh commented on #1317
@rplevka ,

can you please look into this issue?

Thanks,
Nitheesh

[2021-04-05 19:46] HardNorth commented on #1317
@ReddyNitheeesh nothing to look at my side, since it's a server issue. Backend guys are aware of this, so we just need to wait.

[2021-04-06 03:42] omkarnathsingh commented on #1327
Happening with me as well, I am using java client with testng, issue started appearing after upgrade to 5.3!

[2021-04-06 06:24] priyankachaturvedi30 commented on #1344
@DzmitryHumianiuk @evjlobanova : Did you get a chance to look at above error ?

[2021-04-06 11:39] evjlobanova commented on #1344
Hello, for now, no updates, our team is busy with the nearest release.

[2021-04-06 11:50] priyankachaturvedi30 opened #1357 "Inconsistency in Markdown behavior"
Issue 1: Report Portal logs do not contain special chars like star. (Image 1)
Issue 2: Report Port logs encode the double quotes in the hierarchy. (Image 2),
This behavior is for logging steps. However, it is displayed as literal in the stack trace. (Check Image 1 and Image 2 for stacktrace) Seems markdown is used in former but not latter. There is also a markdown toggle button in RP. In my opinio

[2021-04-06 14:14] DzmitryHumianiuk commented on #1357
@priyankachaturvedi30 use `console view` output in logs for that.

by default, the markdown mode is enabled, and it helps to make logs pretty a bit.
But engineers should use it with awareness of the case, since it can cut/hide some of symbols, related to markdown specifics.

![image](https://user-images.githubusercontent.com/11332788/113722941-8ce87600-96f9-11eb-996e-a0c6c3d045d2.png)

[2021-04-06 14:47] priyankachaturvedi30 commented on #1357
I am using the latest version (5.3.5) but for some reason I cannot see console view.
![image](https://user-images.githubusercontent.com/50797731/113730000-1f4a4300-9715-11eb-826c-e564fa828860.png)

Is there something I am missing?

[2021-04-06 14:50] DzmitryHumianiuk commented on #1357
![image](https://user-images.githubusercontent.com/11332788/113730461-96c1a780-9700-11eb-8bba-cccc58b94f74.png)

[2021-04-06 15:07] priyankachaturvedi30 commented on #1357
Strangely this is missing for me
![image](https://user-images.githubusercontent.com/50797731/113733190-dc3d9f00-9717-11eb-81f9-426b01ba5789.png)

[2021-04-06 15:10] priyankachaturvedi30 commented on #1357
Looks like it only comes in when there is a direct log associated
![image](https://user-images.githubusercontent.com/50797731/113733580-38a0be80-9718-11eb-8bb9-7926f2026325.png)
Is this some sort of bug?

[2021-04-06 15:15] priyankachaturvedi30 opened #1358 "Observed error at times while logging data from application to RP"
I suspect it's one of the RP services that errors internally. I don't know why it happens. But it appears to have no functional impact. Maybe it logs and recovers. Following is the error observed.
![image](https://user-images.githubusercontent.com/50797731/113734427-f7f57500-9718-11eb-967a-1615f419a489.png)

Please have a look.

[2021-04-06 15:44] DzmitryHumianiuk commented on #1357
@priyankachaturvedi30 Once you have nested steps included, then only markdown mode will be available.

We will re-iterate it with the team.

[2021-04-07 01:01] MungThai commented on #935
I am using plugin-bts-jira-5.1.0-all.jar and seems same problem as @joelpramos

[2021-04-07 06:02] ReddyNitheeesh commented on #1317
@HardNorth do you any info or ETA when this issue will be fixed

[2021-04-07 08:34] rplevka commented on #1327
@ReddyNitheeesh
i'm not familiar with java testing frameworks. We use python (pytest) framework and it supports test parameters.
These parameters are reported to report portal in a `key: value` form.
What we experienced was that the parameter vlaues were randomly generated for our tests, resulting in different parameter value to be logged in report portal every run - report portal took this into a

[2021-04-07 09:02] rplevka commented on #1356
@priyankachaturvedi30 sorry, I'm not part of the team working on this, i just happen to have permissions to assign labels, so i did it so the issue gets better visibility

[2021-04-07 10:15] priyankachaturvedi30 opened #1359 "Unable to log lengthy string to report portal"
I am using bdd framework which involves the usage of lengthy string. I have observed facing error while pushing logs when string length is lenghty. In case, partial logs are populated on RP. Sample string which was not logged at RP :

_Given I search and validate test case "${data[TestCaseNo]}" using cashflow basic search details for reference numbers "${data[ReferenceNumbers]}" with value date "$

[2021-04-07 11:43] priyankachaturvedi30 commented on #1356
@DzmitryHumianiuk : Can we get this checked once ?

[2021-04-07 14:31] DzmitryHumianiuk commented on #1356
@priyankachaturvedi30 once you do a re-run, agent will generate a new `testItem` record in database.
it will be associated with the same `testItem` in the latest run, based on characteristics as testCaseID, paramateres, codeReference, etc. And RP will group these two test cases (previous and latest), and you will see them, once go inside the latest test case (after `rerun=true`) and see **retries*

[2021-04-07 14:45] MungThai commented on #935
Work around:
- Login JIRA
- Click on "<Project>" -> "Project settings"
- In "Project setting": click on "Issue type" -> "Bug"
- In "Field Tab", select "Reporter" then click "Remove"

[2021-04-07 18:36] sspieker-cc commented on #1317
In my use case, I am importing the JUnit XML records using the API rather than the ReportPortal tooling specifically.  This approach has allowed our organization to have one centralized method to report results with a single tool.  I understand that the tooling does provide for retry-handling but the tooling is not as reliable with the variety of Runners and variations that our testing framework s

[2021-04-08 09:00] michaelpecan commented on #877
@evjlobanova  do you have a future release version for google sso?

[2021-04-08 11:25] herman-zubenko commented on #1198
No news so far?

[2021-04-08 16:32] vlbolotin commented on #1043
Could you please explain whether this could be done for Python client.
Also were this setting should be defined? in pytest.ini? or in configuration files of RP itself

[2021-04-09 07:56] Tonicku opened #1360 "Installation / Upgrade ElasticSearch to have installed in the image the Java version we desired"
**Be able to choose the ElasticSearch image with the desire Java version**
...

*Oracle Java JRE Unsupported Version Detection (Unix).**
...

[2021-04-09 08:21] HardNorth commented on #1360
We are not controlling elastic packaging / images. But you a free to use whichever version of Elastic you want, choose:
https://www.docker.elastic.co/r/elasticsearch

[2021-04-09 08:21] #1360 closed

[2021-04-09 09:03] fkrivsky commented on #1360
Is there some elastic image that is officially supported by ReportPortal?

[2021-04-09 10:01] HardNorth commented on #1360
@fkrivsky Our official images are the same which we are use in our docker compose file:
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L34
And in Kubernetes values:
https://github.com/reportportal/kubernetes/blob/master/reportportal/requirements.yaml#L13

We test new versions of RP with them. It's not necessarily others won't work, just not tested.

[2021-04-09 10:04] Tonicku commented on #1360
Thanks for the quick reply

[2021-04-09 11:11] HardNorth commented on #1360
@Tonicku We don't have any specific preferences of Elastic versions, we don't rely on any version-specific code and do not customize our own version of Elastic. It's just a matter of tested/untested stuff. Elastic package its own java version even in their official archives. We don't interfere into this process.
And because of that I can't answer your question about problems, we just didn't tested

[2021-04-12 02:35] willyhalim opened #1361 "Not able to recognize AfterEach failure as fail case"
**Describe the bug**
Using ReportPortal V5 with Junit Jupiter and in AfterEach it throws exception.
In the reportportal web console I can clearly see it marked as Failed in AfterEach but for the case level ReportPortal marked as Passed

**Expected behavior**
Any Exception in BeforeEach/AfterEach/case level should be treated as failed case

[2021-04-12 05:43] VenkatVanacharlaTR opened #1362 "Rerun results are not being updated in existing test instead creating new test in same launch[v5]"
Describe the bug.
Recently we upgraded Report Portal UI from 5.3.3 to 5.3.5.
After upgrading rerun results are not getting updated for launches created using Java TestNG Framework but added as a new tests in the same launch which indirectly affecting our total test count and pass percentage.

To Reproduce
1. Take TestNG xml and run with rp.rerun = false.
2. then remove few tests/reorder the tests

[2021-04-12 06:07] priyankachaturvedi30 commented on #1344
@evjlobanova : When is the next release planned for ?
Alos, This is kind of a P1 wherin the backup strategy is breaking altogether. Can we quickly double-check just to verify if that's working at your end. @pbortnik @Cyberglamdring .

[2021-04-12 06:59] odubaj commented on #1235
Gentle ping.

[2021-04-12 08:28] evjlobanova commented on #1235
Hello  @odubaj
Your final rp is in the next sprint, on this sprint we finalizing version 5.4 for release.
And your pr is assigned to version 5.4.1 - as soon as we finish 5.4, your pr will be merged.

[2021-04-12 08:52] odubaj commented on #1235
Thank you!

[2021-04-12 09:04] MariyaIvanina opened #1363 "Analyzer improvements in the 5.4 version"
### Exposed an environment variable "ES_CHUNK_NUMBER" for tweaking a chunk number for indexing in the Elasticsearch

The users came across the issue with the analyzer when use AWS Elasticsearch as an Elasticsearch service. It has restrictions for data going in/out the service: either 10Mb (the basic mode) or 100Mb (the extended one). In our previous analyzer implementation the chunk number of logs

[2021-04-12 09:07] evjlobanova commented on #1235
Sorry for the delay, but it is crucial change in RP, so that it should be tested well. And 5.4 contains big changes with retention policy jobs, so that we decided to separate them to the different versions

[2021-04-12 09:13] #1363 closed

[2021-04-12 09:16] odubaj commented on #1235
Understand, thanks for information.

[2021-04-12 10:56] HardNorth commented on #1361
@evjlobanova @DzmitryHumianiuk I can't recall any requirements for agents for this specific case. In case of Before / After method failure agent usually also sends FAILED as statuses of all parent items. But because the STEP item which holds statistics PASSED the whole Test/Suite is displayed as PASSED with 'To Investigate' issue.
So two questions:
1. Do we need to change anything with this case?

[2021-04-12 13:28] evjlobanova commented on #1344
Earlier May 2020

[2021-04-12 13:35] willyhalim commented on #1361
it will be nice if we can have flag to determine which behavior we want . the only thing that is inconsistent , if we run the test using gradle/maven/intellij it will mark the test as "Failed" but when user goes to report portal it will see it as "Passed" with to Investigate

[2021-04-12 14:34] v1-wizard commented on #1320
Hi, guys. Do you have any updates about this issue? Where could i find instruction about migration? Our pipeline was broken according to bintray plans:
April 12th, 26th, 2021 | We will have some short service  brown-outs to remind users about the services that are going away on May  1st. (Specific hours will be advertised in the Bintray status page.)
-- | --

[2021-04-12 14:42] priyankachaturvedi30 commented on #1344
I think I got the issue ! I was supposed to move the storage folder created by minio as well to new machine where I am interested to restore backup.

[2021-04-12 15:52] HardNorth commented on #1320
@v1-wizard Unfortunately their "short service brown-outs" means 8 hours downtime from 6 AM to 2 PM PDT. And they not only turned off bintray, but jcenter too, which was completely unexpected. We will try to speed-up our migration process to finish it till the end of the week. Since it will be Maven Central I expect no additional migration steps will be needed.

[2021-04-13 07:27] v1-wizard commented on #1320
@HardNorth thank you. We will wait and cross our fingers =)

[2021-04-13 11:39] marcinlesek commented on #884
Any updates here that it'll be considered in upcoming releases? 🙏

[2021-04-13 12:27] marcinlesek commented on #726
Hey @evjlobanova, any rumours when version 6+ will be released?

[2021-04-13 13:21] DzmitryHumianiuk commented on #726
@marcinlesek not earlier then EOY 2021.

[2021-04-13 13:34] VolhaKarenko commented on #1314
Closed due to inability to reproduce. Feel free to re-open in case of recurrence of the issue

[2021-04-13 13:34] #1314 closed

[2021-04-13 13:36] VolhaKarenko commented on #1244
Closed as not reproducible. Feel free to re-open in case of recurrence of the issue

[2021-04-13 13:36] #1244 closed

[2021-04-13 16:49] marcinlesek commented on #726
Thank you for clarification 👍

[2021-04-14 08:14] priyankachaturvedi30 commented on #1359
@DzmitryHumianiuk  : Did we get a chance to check this?

[2021-04-14 08:34] #1359 closed

[2021-04-14 11:47] priyankachaturvedi30 commented on #1356
Ok, So I did the following ->
Run #1 -> Found some bug in one of the testcase(T1). Categorized it with comments. For some reason, few other testcases(T2, T3) could not be completed. So did a Retry on same Run #1.
Retry #2 of Run #1 -> The same bug again was present(T1). This did get auto - analyzed but the comments went missing.
So in my case here the issue in retries is getting Auto-Analyzed, jus

[2021-04-14 11:56] priyankachaturvedi30 commented on #1357
@DzmitryHumianiuk : Was exploring more on special characters rendering, and did a fix to escape * with &ast; This works for logging steps. However, is displayed as literal in the stack trace
 Quick question here -
![image](https://user-images.githubusercontent.com/50797731/114706027-13c6cf80-9d46-11eb-9541-7d639a2bc1e9.png)

What does RP use for Auto Analysis : Stacktrace (1) or Log Message (2)?

[2021-04-14 13:46] DzmitryHumianiuk commented on #1359
@priyankachaturvedi30 There is no much of the sense to have such a huge name for test case.
First of all, just because of it useless on UI while you browsing. And UI will cut it with "..." at the end to keep UX stable.
Second, it's not really readable. If you need this size of info, that add it to the description.
Third, are the technical limitations, mentioned above.

[2021-04-14 14:30] priyankachaturvedi30 opened #1365 "Regarding Report Portal Resilience"
@DzmitryHumianiuk : Currently, we are using Docker for running our Report Portal instance.  We have ~30 projects and executions on all of these are running in parallel. There are instances where we have observed that the RP server goes down and our run gets interrupted.
We want to implement a load balancer to avoid such issues - something similar to what is described in https://github.com/reportpo

[2021-04-14 15:06] DzmitryHumianiuk commented on #1357
@priyankachaturvedi30 good catch.

Both Stacktrace (1) and Log message (2) are the same text, returned from DB.
Just with the difference, that Log Message (2) beautified with Markdown output.

and there is no difference for ML is it a `*` or `&ast;`, since it's still a combination of char(s), which are used often, thus will be minimised in decision making.
The only important thing: you should alwa

[2021-04-15 08:32] evjlobanova commented on #1283
For now, all old launches are removed from the system.
We are planning to add a Release lock functionality, that helps to save a baseline #674

[2021-04-15 08:32] #1283 closed

[2021-04-15 08:37] evjlobanova commented on #1297
Hello, @debasmitaray thank you for the request.
We think about such functionality right now.
I have a few questions regarding your use case.
Do you want to copy only dashboards with widgets or with widgets and filters?
Do you have the same filters on different projects?
Could you please describe your project organization?
Could you please describe which widgets do you use on your Core dasshboard?

[2021-04-15 08:43] evjlobanova commented on #1298
Hello @anicke
We have checked this bug, and a fix of this bug requires a big refactoring on WS side. So that we decided in the nearest versions we disable a possibility to sort by defect type.
Could you please describe your use case, how do you use sorting in your process?

[2021-04-15 08:44] evjlobanova commented on #1302
@Cyberglamdring Hleb, could you please check this issue?

[2021-04-15 08:47] evjlobanova commented on #1303
For now, as far as for SAML can be configured several integrations, we have chosen an approach with a button SAML, and drop down on the next step.
We will think about user flow simplification in version 6

[2021-04-15 09:46] anicke commented on #1298
The use case would be:
- Check status of launches using the "Component Health Check" widget.
- Use the link to get the list that may contain passing as well as failing tests.
- From that mixed list containing test that have passed and failed show me the failing items only by using the "sort by" functionality.

This workflow can just as easily be done by adding another filter to remove the "passing

[2021-04-15 14:31] priyankachaturvedi30 commented on #1359
Agreed @DzmitryHumianiuk : Just to add here, this is not a test case name but a test step. so there are chances that my feature\meta may contain such lengthy steps. RP was not logging such steps. So was thinking out loud what best can we do to atleast log such steps. We have multiple such instances where we have lengthy javascripts which gets evaluated. All such steps would never be logged in RP.

[2021-04-15 15:12] QualoZe0t opened #1369 "AWS elastic search usage"
Hi,
I have deployed reportportal k8s version based on your docu. I have replaced all service like (minio,Postgres,elastic,rabbit) with AWS managed services. After deploying helm chart i have checked if indexes will be present on elastic search but based on the documentation present here https://github.com/reportportal/kubernetes/tree/master/reportportal#4-elasticsearch-installation I am unable to

[2021-04-15 15:45] DzmitryHumianiuk commented on #1359
@priyankachaturvedi30 under `test step` you mean NestedStep at log view?

like here?
![image](https://user-images.githubusercontent.com/11332788/114898355-b05aa180-9e1a-11eb-8384-008acca4af85.png)

[2021-04-15 15:55] QualoZe0t opened #1370 "getting Connectionreset error - analyzerapp"
Hi,

Can you please help me what exactly means this error and if this error could have any impact for functionality ?
I am using rabbtimq AWS managed service which is working normally as I think pods would be not started properly .
Application is working properly able to login , to-do tests ans so on .. Woud be possible to somehow disable this heartbeat ?

pod state:
[code]
reportportal-analyzer-0

[2021-04-16 06:02] priyankachaturvedi30 commented on #1359
Yes @DzmitryHumianiuk, It's not logging the entire step itself there. Additionally if there a failure for that step, the stacktrace also goes missing along with the step.
![Missing Step](https://user-images.githubusercontent.com/50797731/114978795-653aa000-9ea7-11eb-88df-0d9b5a1408ff.png)

[2021-04-16 06:04] priyankachaturvedi30 commented on #1049
@evjlobanova : Did you get a chance to revisit this in any of your upcoming scopes?

[2021-04-16 08:23] evjlobanova commented on #1307
Hello @shubham18-code
thank you for your request. For now, there are 2 options for how you can resolve this problem:
- create a project for each env, but in this case, you can not create a dashboard for all projects
- the second option - to use filters. You can report launches with custom attributes in the format 'key: value' and via attribute, you can send info about env.
This helps you to create

[2021-04-16 08:24] evjlobanova commented on #1307
![image](https://user-images.githubusercontent.com/30413511/114995262-7e653180-9e52-11eb-925c-46e5b0d114d5.png)

![Uploading image.png…]()

[2021-04-16 11:26] priyankachaturvedi30 commented on #1365
@evjlobanova : Can you help me with the above query ?

[2021-04-16 12:39] QualoZe0t commented on #1369
just idea if this could help:
edit file: ./analyzer-statefulset.yaml
[code]
Add to the endpoint authentification varuable from values.yaml ( taken from external secret or passed directly from var

[2021-04-16 14:53] QualoZe0t commented on #1369
I have executed  test:
Added credential login:password into elastic
example: analyzer-statefulset.yaml
[code]

changed values.yaml
[code]
after deployment helm received in logs - received in analyzer-0  .. particualar logs ..elasticsearch is requesting in passw:
upper character, little character,number,special character
[code]

now this message is still repeating isn't this a bug ?

[2021-04-16 15:45] Cyberglamdring commented on #1345
Hello @priyankachaturvedi30,

Before restoring we recommend stopping reportportal services:
[code]
After restoring check database tables and compare them.

About `invalid command \<command>`. You can get these messages when a copy statement fails, but the loading of the dump continues. This message is a false alarm.

[2021-04-16 16:49] DzmitryHumianiuk commented on #1365
@priyankachaturvedi30 https://github.com/reportportal/kubernetes should describe it.
You need to replicate API services.

@irynakozak2 @Cyberglamdring  could you please point to the right documentation?

[2021-04-17 07:17] bjuric commented on #1357
Can we make markdown an opt-in feature? I image this is problematic for a lot of users and ideally report portal should log messages exactly how I send them by default.

[2021-04-17 07:47] priyankachaturvedi30 commented on #1357
Also, we checked the link to activate markdown syntax - https://reportportal.io/docs/How-to-activate . This does not seem to be working. Can we get this checked?

[2021-04-17 09:08] anshu781126 commented on #1357
Even I noticed that Report Portal is not consistent with the markdown behavior -

in the attached screenshot there are multiple spaces in Given abc is "        " but in steps and errors in steps are not having proper spaces. Same is happening with ~ , *, > and <.
![image](https://user-images.githubusercontent.com/26997587/115107753-76101200-9f8a-11eb-8f9c-451e5134c58d.png)

in items it is displayi

[2021-04-17 09:21] anshu781126 opened #1371 "[v5] How to end my Automation gracefully if Report Portal server goes down"
https://github.com/reportportal/client-java

using this client java-client to send logs to report portal. If say in some scenario Report Portal server goes down then my Automation Run still continues to execute the tests and the log messages are not persisted in Report Portal. Is there a way by which I can ensure that I can check whether Report Portal is running or not and accordingly stop my Auto

[2021-04-18 07:34] anshu781126 commented on #1371
Also i tried setting async as false still couldn't see any difference in behavior. Was playing with this setting in order to capture the failure of RP server going down so that Automation can stop itself at the same point. Which might help to keep logs on RP end and logs at Automation end in sync. We can resume the run of remaining tests when the RP server is up.

[2021-04-19 06:54] priyankachaturvedi30 commented on #1365
@irynakozak2  @Cyberglamdring : Can you help me with the documentation that @DzmitryHumianiuk  is suggesting so that I can move ahead with this approach ?

[2021-04-19 10:30] priyankachaturvedi30 commented on #1358
This occurs when we execute tests keeping re-run flag as true. @evjlobanova : Can we please get this checked.

[2021-04-19 10:40] Cyberglamdring commented on #1365
Hello @priyankachaturvedi30,

You can install Report Portal on Kubernetes. At now we support Kubernetes version **1.16** – **1.19**. As a Load Balancer we use NGINX ingress. Also, we recommend using [2 replicas](https://github.com/reportportal/kubernetes/blob/master/reportportal/values.yaml#L63) of API services on different nodes for great fault tolerance. This [documentation guides](https://githu

[2021-04-19 13:00] slihelly opened #1372 "ReportPortalClient#startTestItem ignores description for log items"
**Summary:** When using agent-java-cucumber6 default `ScenarioReporter`, `com.epam.reportportal.service.ReportPortalClient#startTestItem(java.lang.String, com.epam.ta.reportportal.ws.model.StartTestItemRQ)` client call is used to post scenario step as **log item**. When scenario is using multi-line arguments (doc strings, data tables), they are passed as StartTestItemRQ description. This is compos

[2021-04-19 13:10] Cyberglamdring commented on #1302
Hello @michaeIryan,

You can use 2.0.7 of Traefik, we add this version with a new release next week for docker-compose. Also, we planned to update to version 2.4 with future releases.

[2021-04-19 13:10] #1302 closed

[2021-04-19 13:22] Cyberglamdring commented on #1037
No response from user

[2021-04-19 13:22] #1037 closed

[2021-04-19 15:27] priyankachaturvedi30 commented on #1338
Hey, I have similar view as above described. This would be a great add-on to track test case level details! Hoping to get this out soon :)

[2021-04-19 15:33] priyankachaturvedi30 commented on #1358
I am suspecting this is something similar to https://github.com/reportportal/reportportal/issues/1327.
![image](https://user-images.githubusercontent.com/50797731/115263078-bd48ff00-a152-11eb-8441-a78ee678084c.png)

[2021-04-19 15:40] priyankachaturvedi30 commented on #990
Just a reminder from 1 comment here  -- " **possibility to trigger email when we have completed the analysis of the build i.e. there are no open issues left under the category - "To Investigate". (Something in the dropdown that says - "Launch has NO "To Investigate" items". That would in turn help the team to know the completed analysis summary.**" @DzmitryHumianiuk

[2021-04-19 18:25] DzmitryHumianiuk commented on #1371
@anshu781126, well... it's a controversial functionality.
We build the app with idea of 99% of availability. I would rather focus on instance stability, rather then on shutting down automation during execution.

In other hand, sometimes it makes sense to record data on local env during execution, and push it on server once particular part/suite is done. But this brings another challenge, if say pr

[2021-04-19 18:31] DzmitryHumianiuk commented on #990
@priyankachaturvedi30, got you point.
Yes, it makes sense. Especially if you run analysis manually, then a manual trigger for email makes sense.

[2021-04-20 06:55] jayanthktn commented on #1334
I need that too. i have generated the custom report, i need to attach that to RP

[2021-04-20 07:48] anshu781126 commented on #1358
Also stuck with the same issue - detailed steps to reproduce it. This is happening continuously. Also noticed that there is some error in docker logs.

Set rerun=true; and run same features again.

launch1 with rerun=false feature1 feature2 feature3 - categorize the failures
launch2 rerun=false feature1 feature2 feature 3 - All failures should get AutoAnalyzed
launch3 rerun=false feature1 - All fa

[2021-04-20 08:05] anshu781126 commented on #1371
Whats the easiest way to know if the Report Portal server is down ?

[2021-04-20 09:56] #1315 closed

[2021-04-20 09:56] #1308 closed

[2021-04-20 10:37] evjlobanova commented on #1338
Hello! Thank you for your request.
I have a few questions regarding this request.
Could you please clarify a little bit, why you want to see this info on the widget? In regression number of test cases can be more than 10k tests,  do you want to view all of them on the widget
What is the main business goal which you are trying to resolve?
How do you plan to use it in your analysis?

[2021-04-20 11:21] evjlobanova commented on #1298
You can filter items and choose needed status
![image](https://user-images.githubusercontent.com/30413511/115387639-ce643100-a18f-11eb-97c6-76b532bcf8f4.png)
![image](https://user-images.githubusercontent.com/30413511/115387697-dc19b680-a18f-11eb-9d62-fb440cc2a350.png)

[2021-04-20 11:23] evjlobanova commented on #1359
Nested Step name length has a limit 1024 symbols. The remaining part should be reported as logs. Which agent do you use?
Could you please expand on "Additionally if there a failure for that step, the stacktrace also goes missing along with the step"?

[2021-04-20 11:24] evjlobanova commented on #726
Closed as a duplicate

[2021-04-20 11:24] #726 closed

[2021-04-20 11:27] evjlobanova commented on #1198
ETA are not defined yet.
Our team can propose a paid support for this functionality.
If you are interested in this feature, please drop us a letter on our support@reportportal.io

[2021-04-20 11:43] priyankachaturvedi30 commented on #1359
We use - https://github.com/reportportal/client-java
So, @evjlobanova : if you'll have a close look at the screenshot
![image](https://user-images.githubusercontent.com/50797731/115390005-64817100-a1fb-11eb-9f60-4d0106bcd761.png)

Line 378 is missing in RP logs, however, all other lines are been captured. So it was a lenghty step at line numner 378 which failed and was not captured in the logs.

[2021-04-20 13:37] priyankachaturvedi30 commented on #1358
@DzmitryHumianiuk @HardNorth @evjlobanova : I double-checked the same issue on 5.3.3 version and it's working perfectly fine. This is however broken in 5.3.5. Can we get this fixed cause its breaking the re-run functionality altogether where few of the steps are not even re-tried in a re-run in addition to the inconsistencies observed in status of re-run steps.

[2021-04-20 15:45] gryan-vertafore opened #1373 "[v5] Launches with the same name setting not persistent"
After setting the _Launches with the same name_ filter on the History page of a test run, when I select the Test Case I want to view, and then use the Back button on my browser Chrome, that setting is changed back to _All Launches_

![image](https://user-images.githubusercontent.com/82894638/115425238-0f2a6d00-a1c5-11eb-81f7-3c5d9a4a8385.png)

Select any test run, and then Back

![image](https://u

[2021-04-20 16:47] Invictum opened #1374 "[v5] Performance degradation on launches deletion"
**Describe the bug**
After upgrade from 5.3.3 to 5.3.5, we are experiencing significant performance degradation on launch deletion operations. Single launch deletion may take up to 5 minutes. Interesting that for batch deletion issue isn't always reproduced.

On deletion`postgres` container performs intensive reads operations and utilizes disk to 100%
Also deadlock errors are observed in logs.

[c

[2021-04-20 18:32] DzmitryHumianiuk commented on #1371
@anshu781126 https://SERVER/health returns server status.

Errors will appear at `service-api` container. Not sure it's accessible from outside.

[2021-04-21 08:21] priyankachaturvedi30 commented on #1365
So I was having a look at the architecture you shared above - https://github.com/reportportal/reportportal/blob/master/public/rp_repo_structure.png
Over here I can see -
[code]

I have deployed Report Portal with Docker setup. Would I be required to deploy it using Kubernetes (as specified above), or Traefik can do the load balancing for me ?

[2021-04-21 10:34] suraj2410 opened #1375 "Allow reportportal to connect to cloud postgresql DB with SSL enabled (running using helm chart)"
As of now i dont see an option that allows reportportal to connect to postgresql with SSL enabled (we are using azure postgresql DB).

I am trying to run it in a kubernetes cluster with helm chart and using the normal params i get the following error with SSL enabled postgres
`SQL Error: 0, SQLState: 23502
2021-04-20 13:31:59.408 ERROR 6 --- [demo-data-exec1] o.h.engine.jdbc.spi.SqlExceptionHelper

[2021-04-21 12:42] HardNorth commented on #1359
@priyankachaturvedi30 We went out of the original topic. Can you please open a separate feature request for this?

[2021-04-21 14:04] akeshmiri commented on #1098
Greetings,

I just start a new instance with about 100 launches in it and I need to wait about 10 minutes every time a changing defect type.
Current version:API Service: 5.3.5;Index Service: 5.0.10;Authorization Service: 5.3.5;Service UI: 5.3.5

[2021-04-22 06:00] geliu2016 opened #1376 "service.start_launch(name="xxx",start_time=timestamp()) fail to connect reportprotal"
Hello,

I try to excute start_launch api, but failed with err:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/reportportal_client/service.py", line 67, in _get_json
    return response.json()
  File "/usr/local/lib/python3.6/site-packages/requests/models.py", line 900, in json
    return complexjson.loads(self.text, **kwargs)
  File "/usr/lib64/python3.6/json/__

[2021-04-22 07:52] priyankachaturvedi30 commented on #333
@evjlobanova : Just a reminder on this one, so that we do not loose track of this. :)

[2021-04-22 07:53] priyankachaturvedi30 commented on #1356
@DzmitryHumianiuk : Did the team got a chance to check the last comment to reproduce the issue ?

[2021-04-22 09:05] HardNorth commented on #1320
At last, we've got first artifact published on Maven Central: https://search.maven.org/artifact/com.epam.reportportal/client-java/5.0.12/jar
All other will come in a few days after several checks.

[2021-04-22 13:05] priyankachaturvedi30 commented on #1239
@evjlobanova : Facing a similar issue, but I notice scenario this only in case where my rerun = true.
![image](https://user-images.githubusercontent.com/50797731/115719105-67b26380-a399-11eb-833c-b3571416f0b7.png)

@DzmitryHumianiuk Re-run functionality really need to be verified for 5.3.5 version. That's the 3rd issue I observed around re-run lately. #1358 #1356

[2021-04-23 06:46] priyankachaturvedi30 commented on #1365
@Cyberglamdring @DzmitryHumianiuk : Can you help me with my last comment so that I can move a step ahead in this direction

[2021-04-23 13:43] #1375 closed

[2021-04-23 14:31] Cyberglamdring commented on #1365
Hello @priyankachaturvedi30,

Currently, Traefik load balancing the only HTTP requests. One way to use Docker and Traefik is to upscale your VM. Adding a second API service to one VM does not make sense, since both services will failure when resources are exhausted.

We recommend using the Kubernetes + NGINX.

[2021-04-23 15:02] priyankachaturvedi30 commented on #1365
@Cyberglamdring : Can we plan to use a second VM to replicate the API service? Would that work in case we want to have a load balancer in the Docker setup? Can you also help us with steps to replicate Api service on same/different VM, so that we can explore further.

[2021-04-23 15:42] priyankachaturvedi30 opened #1377 "Regarding Reporting Widgets"
I was going through the following link to understand what dashboards are offered in terms of reporting - https://reportportal.io/docs/Dashboards-and-Widgets
Can you suggest a few of the widgets or dashboards that are used widely across your customers?

My team is particularly interested in the BDD-related charts, Number of Features, Number of Scenario/Steps at feature level . Execution times for s

[2021-04-23 16:07] priyankachaturvedi30 opened #1378 "Utilising Jira status to flag Closed issues which reoccurs"
There was this use case where I linked a Jira with one of my failures in Report Portal. At that time the status of Jira was -> Open.
Over subsequent runs the issue got auto analysed. The status of Jira changed from Open -> In Progress -> Closed and I got the issue fixed. Now after few runs the same issue got reopened and was auto analyzed. (The status was shown as Closed). There is a high possibil

[2021-04-23 16:20] priyankachaturvedi30 commented on #1378
![BTS Link](https://user-images.githubusercontent.com/50797731/115900749-ed0f4400-a47d-11eb-950f-f246e839675d.PNG)

[2021-04-23 16:23] priyankachaturvedi30 commented on #1378
![BTS Link](https://user-images.githubusercontent.com/50797731/115901084-6018ba80-a47e-11eb-85fe-ba8062024326.PNG)

[2021-04-23 16:31] priyankachaturvedi30 commented on #1378
For some strange reason I am unable to put up an attachment
![BTS Link](https://user-images.githubusercontent.com/50797731/115901937-770bdc80-a47f-11eb-88e1-06ce649a568d.PNG)

[2021-04-25 05:01] LuongVinhKhang commented on #969
Hi @Cyberglamdring,
I just cloned this repo yesterday and got this on reportportal_api_1.
I'm using Docker 3.3.1 (63152) on macOS BigSur
[code]

[2021-04-26 06:55] anshu781126 commented on #1371
This call max waits for 20-21 seconds ? I have been trying to make this timeout configurable, in spite of me setting it to 60 seconds it fails at 20-21 seconds. Is this something which is expected behavior ?

[2021-04-26 07:02] Faisal3693 commented on #957
Can Anyone please assist, I am too facing a similar issue in Mac.
![image](https://user-images.githubusercontent.com/69522327/116041883-69c33d80-a68b-11eb-93d7-3dc9bd88944c.png)

[2021-04-26 07:52] dagansandler commented on #1186
@evjlobanova I think I am still seeing a lot of these issues in 5.3.5:

[code]

[2021-04-26 09:11] priyankachaturvedi30 commented on #610
@evjlobanova : Following the above discussion, Is it possible to query the database as per the custom need and create widget based on that ? Say if I want to have a custom dashboard which would list me down the scenario/feature level details which have failures in it. Is it possible to execute a db query and put this up as a criteria to filter down results or populate reporting metric on it ? @Dzm

[2021-04-26 10:34] shubham18-code commented on #1307
Hi @evjlobanova
Thanks for reply, I implemented the same way the Filters. added env as attribute and create a dynamic launch name which really help me to create a dashboards.

[2021-04-26 10:34] #1307 closed

[2021-04-26 11:04] jmodi1982 commented on #1199
@KatsiarynaTatarynovich - Do we have any updates on v5.4 ? I don't think it is available yet for download

[2021-04-26 15:56] HardNorth commented on #1320
Well, everything on its place, except some really old artifacts and beta versions, which weren't migrated.

[2021-04-26 15:56] #1320 closed

[2021-04-26 17:37] DzmitryHumianiuk commented on #610
@priyankachaturvedi30 it definitely will have some freedom in flexibility, but we couldn't tell you in details now.
Since it still will have some limitation inherited from data structure.
But looks like GraphQL will help to manage it.

we will share the concept once we ready for it.

[2021-04-26 17:40] DzmitryHumianiuk commented on #1371
@anshu781126 yes, it is.
API always has a limited capacity of open connections.
We have a rule to close requests which stays longer then 20 secs.

This prevents hang-ups of many connections left after the automation was interrupted.

[2021-04-26 17:44] DzmitryHumianiuk commented on #1378
@priyankachaturvedi30 this is a polling mechanism, which refreshes Jira issue status once in 10 min.

As for initial ask,
it's a good case, which requires investigation.

We might need to think about separate ISSUE section inside RP.

[2021-04-26 17:56] DzmitryHumianiuk commented on #1239
@priyankachaturvedi30 Re-run fix is on the way for 5.4

[2021-04-26 18:00] DzmitryHumianiuk commented on #1377
In ReportPortal 6 we will have this view available by default for launches view.

BDD widget may come separately in 5.x version beforehand.

Closing as duplicate with respect to https://github.com/reportportal/reportportal/issues/1306

[2021-04-26 18:00] #1377 closed

[2021-04-26 18:03] DzmitryHumianiuk commented on #1356
@svettsova could you please double check this?

[2021-04-27 08:52] VolhaKarenko commented on #1356
Hello @priyankachaturvedi30
When you do a re-run, new reported test items become the main and if you report them without comments, the defect type comment section will be empty. Auto-analysis runs after a re-run is finished, issue in retries should be Auto-Analyzed, but the comment is already empty after re-run

[2021-04-27 09:18] VolhaKarenko commented on #1271
fixed in version 5.5

[2021-04-27 09:18] #1271 closed

[2021-04-27 19:56] sreejithsqa commented on #193
Is this completed now? We are facing the same problem

[2021-04-28 05:37] GopalSawant commented on #791
in which file should I add the mentioned code

[2021-04-28 05:53] priyankachaturvedi30 commented on #1378
@DzmitryHumianiuk : Thanks about info regarding the polling mechanism. That helps.
Do you want me to open a separate ticket for the requirement related to Jira status which might help us track down closed issues?

[2021-04-28 06:07] priyankachaturvedi30 commented on #1356
@VolhaKarenko: Does that mean it's a known behavior?
Also, I was of the understanding that the comments I add while categorizing issue are also stored in elastic search along with the Defect type information. Would it not be possible to add that mapping along with the defect type itself, so that this information can also be retained after re-run?

[2021-04-28 06:20] priyankachaturvedi30 commented on #990
@DzmitryHumianiuk : Thanks much. Just chasing back so that we do not get this one missed. Any release planned in which I can expect this request to be taken?

[2021-04-28 06:23] priyankachaturvedi30 commented on #610
Thanks @DzmitryHumianiuk : Would await your response to understand it closely.

[2021-04-28 11:24] VolhaKarenko commented on #1356
@priyankachaturvedi30 actually yes, it's a known behaviour, comments are not stored in elastic.
We need some time to investigate if this fix is possible with back end team, I'll let you know about updates

[2021-04-28 14:05] MariyaIvanina commented on #1369
@QualoZe0t
Hi!

You need to specify the port as well here:
` - name: ES_HOSTS
          value: "https://{{ .Values.elasticsearch.user }}:{{ .Values.elasticsearch.password }}@{{ .Values.elasticsearch.endpoint }}:{{<port>}}/"`

And as well your username and user password shouldn't have characters @, /, \ due to the Elasticsearch client library (python) we use.

[2021-04-28 14:34] priyankachaturvedi30 opened #1381 "Aws - RP Installation Steps"
Hi @DzmitryHumianiuk : I was following the steps provided from the below link - https://github.com/reportportal/shell-installation
but was not able to setup rabbitmq on my AWS machine -
NAME="Red Hat Enterprise Linux Server"
VERSION="7.3 (Maipo)"

As i tried starting the Rabbitmq server i get the following error -
![image](https://user-images.githubusercontent.com/50797731/116421590-9c706000-a85c-

[2021-04-28 15:43] anshu781126 opened #1382 "[v5]On uncommenting port number in postgres.conf some of the services are not coming up"
Change as per -
![image](https://user-images.githubusercontent.com/26997587/116432715-70f27300-a866-11eb-95dc-ab1ee75bddb6.png)

getting below issue while restarting services -

![image](https://user-images.githubusercontent.com/26997587/116432858-91223200-a866-11eb-9d28-136676922b69.png)

[2021-04-28 15:47] anshu781126 commented on #1382
database connectivity worked with dbeaver but services are not coming up with above change. But after reverting the change services are coming up but unable to connect to database using dbeaver.

[2021-04-29 06:21] priyankachaturvedi30 commented on #1356
Thanks @VolhaKarenko: would be awaiting your response.

[2021-04-29 07:16] priyankachaturvedi30 commented on #1381
Closing this as got resolved. It was a port issue that i required to change for rabbitmq

[2021-04-29 07:16] #1381 closed

[2021-04-29 10:58] priyankachaturvedi30 opened #1383 "RP etup on AWS (Centos 7) - Help"
I followed steps described to setup rp instance on AWS- https://github.com/reportportal/shell-installation

However, looks like my uat service (which uses port 9999) does not starts becasue the port is already in use by some other process-
![image](https://user-images.githubusercontent.com/50797731/116540544-ee21f480-a907-11eb-84f3-3dbf430e6c73.png)

I tried changing the UAT port to 9998 in follow

[2021-04-30 09:59] TonyNoble opened #1385 "Allow pre-defined global bucket for object storage"
**Describe the solution you'd like**
Allow object storage to be nested under a single bucket instead of creating new ones constantly

**Is your feature request related to a problem? Please describe.**
We would like to run minio in gateway mode, connecting to on-prem S3 compatible storage.  However our storage solution requires buckets to be pre-defined and created - we have no access to create new

[2021-04-30 10:35] priyankachaturvedi30 opened #1386 "Inactive Launches - Dashboard"
I see a setting which says Launch Inactivity timeout - Schedule time for Job to interrupt inactive launches
![image](https://user-images.githubusercontent.com/50797731/116683679-951c9400-a9cd-11eb-9494-ec7ca0aad55f.png)

What is inactive launch ?

Suppose my automation was pushing logs to RP and for some reason my automation got terminated/crash. In that case my launches still look in progress.
![

[2021-04-30 12:16] evjlobanova commented on #1357
@anshu781126 could you please send us a screenshot of full Log view page?

[2021-04-30 12:44] evjlobanova commented on #1357
ReportPortal is flexible and don't make users use only markdown mode.

Markdown mode applies only for logs and nested steps (as far as nested step are part of the logs)

Stacktrace tab, Test name and ohter are reflected without markdown mode recognition.

By default, Markdown is switched on on the log view.
![image](https://user-images.githubusercontent.com/30413511/116696420-bc944200-a976-11eb-8a

[2021-04-30 14:33] priyankachaturvedi30 commented on #1365
@Cyberglamdring : Thanks for the details. it was really helpful. I tried setup up my 2 vms in the fashion you described above. However I face the following challenges :
1.) On VM2 -> my Api service says gives the following error related to keystore/migrations -
![image](https://user-images.githubusercontent.com/50797731/116708073-f9028500-a9ec-11eb-9c02-8b8ceaad6eee.png)
2.) On VM1 -> Two of my se

[2021-04-30 21:06] mchundi commented on #1127
I see the same error as Gulats

wd @ analytics.js:39
/api/v1/polaris/launch/NaN:1 Failed to load resource: the server responded with a status of 404 (Not Found)

any help is appreciated.

[2021-05-02 06:09] HardNorth commented on #1127
@Gulats @mchundi In RP 5 we changed reporting key from launch ID to launch UUID. So that feature got broken. But I believe we fixed it in the latests version, or it's right behind the corner to fix.
@AmsterGet, please comment.

[2021-05-02 08:10] priyankachaturvedi30 commented on #1365
@Cyberglamdring : Did you get a chance to check the above ? Also, I was wondering that we started UI service on first vm, considering the initial use case about resilience, if first vm goes down (which has the ui service running i.e the IP of RP instance which we need to push the log to, how would it basically be able to redirect them on second vm? Am i missing something here ?

[2021-05-02 21:06] AmsterGet commented on #1127
@mchundi We've already fixed this issue and it's awaiting the 5.4 release (see RP [releases](https://github.com/reportportal/reportportal/releases))

[2021-05-03 06:48] vrakr19 opened #1387 "Access denied while building"
Failed to execute goal on project CoreFramework: Could not resolve dependencies for project com.sap.he2e.framework:CoreFramework:jar:0.0.1: Failed to collect dependencies at org.uncommons:reportng:jar:1.1.4 -> org.testng:testng:jar:6.13 -> com.beust:jcommander:jar:1.66: Failed to read artifact descriptor for com.beust:jcommander:jar:1.66: Could not transfer artifact com.beust:jcommander:pom:1.66 f

[2021-05-03 07:48] HardNorth commented on #1387
Duplicate: https://github.com/reportportal/agent-java-testNG/issues/163

[2021-05-03 07:48] #1387 closed

[2021-05-03 11:15] Cyberglamdring commented on #1365
@priyankachaturvedi30, error `keystore/migrations` is doesn't matter. It will be fixed in a future release. Try running reporting and make sure everything is working fine.

About resilience. All important requests pass between API and Database.

[2021-05-03 14:30] priyankachaturvedi30 commented on #1365
I understand @Cyberglamdring . But consider a scenario -
1. I have an  Automation Server (Client) and 2 RP instances (VM1 and VM2).
2. Now my Automation Server has to be mapped to VM1 IP (rp.endpoint) in order to send logs to it.
3. We do have done the setup where we have two VM's ready with api services replicated on them.
But I still do not understand that for my Step - 2, if VM1 is down (i.e. r

[2021-05-03 14:54] priyankachaturvedi30 opened #1388 "Backing up and Restoring Specific project in Report Portal"
@DzmitryHumianiuk : I had this use case back in mind when i started working on RP.
Consider I have single RP instance running for my multiple solutions. (S1, S2, S3....) Each of these solutions is entirely independent and unknown to each other. The Admin user (Head of Engineering) has access to all the projects. But individual solutions are owned by respective owners.
We have a backup/restore rule

[2021-05-04 11:31] priyankachaturvedi30 commented on #693
@avarabyeu : I was having a similar question as raised in above thread. I have deployed Report Portal with Docker setup on my VM.
1. I have an Automation Server (Client) and RP instance on VM1 with API services replicated on VM2.
2. Now my Automation Server has to be mapped to VM1 IP (rp.endpoint) in order to send logs to it.
I want to handle the scenario where if VM1 is down (i.e. rp.endpoint is

[2021-05-04 16:14] mchundi commented on #1127
@AmsterGet Thank you for the update.
Can you please let me know when I can expect version 5.4. This fix is important for our release.

[2021-05-04 16:56] asaflevyz opened #1389 "[v5]"
**Describe the bug**
email notification sender looks like "From: root@f7c6b1c3d13e [mailto:root@f7c6b1c3d13e]" instead the email address set in email integration plugin.

**To Reproduce**
No matter what value sender field has, it is ignored.

**Expected behavior**
Expectation is to get email notifications from sender field set in email integration plugin.

**Desktop (please complete the following

[2021-05-04 16:56] asaflevyz commented on #1389
ReportPortal version is 5.2.2

[2021-05-05 03:50] evjlobanova commented on #1389
@VolhaKarenko could you please recheck, if we fix this issue in the past versions?

[2021-05-05 05:05] svettsova commented on #1389
@evjlobanova we have issue in the backlog related to sender name which was found in #814

about incorrect email address - it is not reproducible for the latest version

[2021-05-05 06:22] priyankachaturvedi30 commented on #1388
@evjlobanova : Can you help me with the above query ?

[2021-05-05 07:28] #1319 closed

[2021-05-05 07:28] bzsharm commented on #1319
Thanks for quick response

[2021-05-05 07:53] Shakevg opened #1390 "Ability to display Stack trace or at least some start part of it in tests list view"
**Describe the solution you'd like**
Ability to display Stack trace or at least some start part of it in tests list view
![image](https://user-images.githubusercontent.com/42133199/117110789-5735bc00-ad8f-11eb-9fa5-e8b71316de12.png)

**Is your feature request related to a problem? Please describe.**
Very often during analysis, a lot of tests failed with the same issue, with similar errors (in most

[2021-05-05 08:05] bzsharm opened #1391 "Unable to Log-in to Report Portal after successful Installation (Linux Installation)"
**Unable to log in to Report Portal after successful Installation (Linux Installation)**

We followed all the steps from the  below documentation,

https://github.com/reportportal/linux-installation

There were issues since bintray was down but we managed to troubleshoot it somehow & made it work.

**Issue Description**

Getting the error "An Error connecting to Server:You do not have enough time

[2021-05-05 08:19] bzsharm commented on #1391
@evjlobanova Please helo

[2021-05-05 09:39] priyankachaturvedi30 commented on #1365
I was trying to deep dive into the load balancer config and understood it could be done through traefik. Is there some additonal configuration that i need to do in order to achieve that? Following my previous comment...How can i ensure that if VM1 is down then my requests are re-directed to VM2 . Help much appreciated ! @Cyberglamdring

[2021-05-05 09:55] MichalFidor commented on #930
I’m trying to set up and run Reportportal on my Raspberry PI 4 (Raspbian OS). Unfortunately I’m struggling while building it up with exactly the same issue:

[code]

Any progress with solving that out?

![Screen Shot 2021-05-05 at 11 27 20 AM](https://user-images.githubusercontent.com/42964298/117124504-b3e9a480-ad98-11eb-8353-2074c8a0a9b7.png)

[2021-05-05 11:12] evjlobanova commented on #1390
Hello @Shakevg

There are 2 options from the box we can share with you:

1. Grouping by failure reason
Now report portal adds all items with the same error logs to defect, editor,
![image](https://user-images.githubusercontent.com/30413511/117132621-ef17b380-ad57-11eb-8f4d-8dbca38a4227.png)

2. You can add stack trace to test item description programmatically from the test framework

[2021-05-05 11:13] evjlobanova commented on #1391
@Cyberglamdring could you please check the issue?

[2021-05-05 11:22] Cyberglamdring commented on #1391
@bzsharm, make sure your credentials are correct in [ReportPortal Manual](https://reportportal.io/installation), step 2 "Open ReportPortal in new browser tab and login". Also, try to log in with Default user credentials

[2021-05-05 11:26] Shakevg commented on #1390
Hi, @evjlobanova

1. Grouping by failure reason
Now report portal adds all items with the same error logs to defect, editor,
 => As I mentioned in the description: in most cases, RP does not detect such issues as similar and do not display in a similar section of "Edit defect type dialog"
2. You can add stack trace to test item description programmatically from the test framework
=> Test descripti

[2021-05-05 11:50] evjlobanova commented on #1390
@Shakevg "in most cases RP does not detect such issues as similar" could you please clarify this point? could you please send us an example of similar stack traces? Do you have different failure reasons from run to run? Do you use Auto-Analysis?

[2021-05-05 12:18] evjlobanova commented on #1390
Regarding stack trace in the description, you can add this info to the description after your description.
Because you will be able to search for similar logs via filters

For now we do not add stack trace as a separate column, because it takes a lot of space and makes the test table very loaded.

The main idea is to automate the process of a similar items search.
Pattern analysis and Auto-analysi

[2021-05-05 13:31] bzsharm commented on #1391
@Cyberglamdring I did try them, but the issue still persists!

Below was also part of the log, looks like a jar issue! because all the report portal components are UP and running fine.

2021-05-04 09:50:54.132 ERROR 2371 --- [           main] o.s.b.web.embedded.tomcat.TomcatStarter  : Error starting Tomcat context. Exception: org.springframework.beans.factory.BeanCreationException. Message: Error

[2021-05-05 14:02] Cyberglamdring commented on #1391
Please attach the full log to see the status of all services.

[2021-05-06 02:13] ajijshaikh commented on #999
@evjlobanova any updates on this ?

[2021-05-06 07:27] evjlobanova commented on #1390
The issue resolved by:

1. Increased number of log lines that are used for analysis (Project Setting/ Auto-analysis)
2. User will work with logs, and standardize them by removing test names from error logs.

[2021-05-06 07:27] #1390 closed

[2021-05-06 07:33] asaflevyz commented on #1389
So i understand that this is a bug that will be fixed on 5.5?
If so, what is the release date of 5.5?

Thanks.

[2021-05-06 08:53] priyankachaturvedi30 commented on #1121
@jbouchery @evjlobanova : I am observing a similar issue. I have my rp setup done on AWS box using docker. Now when I m trying to push logs i give me the same error as above -
![image](https://user-images.githubusercontent.com/50797731/117269988-62afe280-ae76-11eb-9948-259d1fe16f1a.png)

My token and permissions are correct. I suspect it has something to do with the aws enviornment -

NAME="Red Ha

[2021-05-06 09:25] bzsharm commented on #1391
@Cyberglamdring attaching the full report portal
[reportportal.log](https://github.com/reportportal/reportportal/files/6433344/reportportal.log)
 log

[2021-05-06 10:43] viveksoundar opened #1392 "[v5] I get the elasticsearch:7.3.0 restarting and migrations:5.3.5 exited issue continuously."
**Describe the bug**
Installing Report Portal using docker in AWS ec2 instance. The elastic search instance restarting again and again also, the migrations 5.3.5 is exited immediately. how to run RP in AWS ec2 without any issue.
<img width="1439" alt="Screen Shot 2021-05-06 at 4 10 55 PM" src="https://user-images.githubusercontent.com/37587895/117285754-fd63ed80-ae85-11eb-82d6-96f12979ce85.png">

[2021-05-06 15:40] priyankachaturvedi30 opened #1393 "Regarding Failover strategy for Report Portal:"
I want to integrate a failover strategy to ensure uptime for RP. Currently, I have just 1 instance of RP which runs for ~30 projects at the same time. If that instance goes down while my automation run is still in progress I may completely lose track of the data that was getting pushed to RP at that point in time.
I was thinking of adding a load balancer that sits on top of n(eg. 2) RP instances(e

[2021-05-06 21:18] anin2002 opened #1394 "reportportal.properties"
Hi.

I nead set a parametr rp.description (and other) by set value from application.properties parameter, but i don't undersatnd is it possible or not. I tried use masks like ${param_name_from_application.properties}, or create @Component @PropertySource("classpath:reportportal.properties") @Value("${rp.description}") with setters, but it doesnot work (it change value only in code, but not in fina

[2021-05-07 05:56] sunshine69 opened #1395 "docker-compose file does not work, elasticserach crash"
Hi,

I am trying to run the docker-compose file as instructed but got errors

[code]

any idea how to fix this?

thanks

[2021-05-07 06:21] sunshine69 commented on #1395
It looks like a file permissions issues. The `data` folder is won by root, if I chown it to my current user and it seems to work.

Guess it is created using root owner and when es started it switch to a normal user.

[2021-05-07 07:13] bzsharm commented on #1391
@Cyberglamdring did you get a chance to look into this issue?

[2021-05-07 08:04] anin2002 commented on #1394
i found solution - in application.properties add "spring.config.import=reportportal.properties" and when start test add -Drp.description=value_what_you_need.

May be someone knows other variants?

[2021-05-07 09:22] HardNorth commented on #1394
We do not provide consultancy on custom implementations.

[2021-05-07 09:22] #1394 closed

[2021-05-07 11:48] priyankachaturvedi30 commented on #1388
@DzmitryHumianiuk @evjlobanova : Did you get a chance to look at the above use case ? Is it possible to have it in RP?

[2021-05-07 15:14] IvanKirianov commented on #919
Indeed! ADO extension for native integration in pipelines will be brill!

[2021-05-07 15:31] XAutomate opened #1396 "Traefik prefix path added not reading on Api"
Same Url to like prefix add run multiple sites.RP API Url not reading
![rp issue](https://user-images.githubusercontent.com/77477773/117473269-64150400-af77-11eb-97ee-8fa0d2ce2c93.PNG)

[2021-05-07 17:31] staind825 opened #1397 "5.3.5 - Unable to open screenshot attachments in layer"
**Describe the bug**
When I click a png attachment, nothing happens. In previous versions (as late as 5.3.2) if you click your screen shot attachment, it opens the screen shot in a layer. The only way I can view the screenshot now is to download the screen shot or open it in a new tab.

**To Reproduce**
Attach a PNG to a test log - We are using base64 images to log attachments - {rp#base64#image/p

[2021-05-08 14:06] evjlobanova commented on #1397
In version 5.3.5 - we remove this ability
But in the version 5.4, it is returned back

[2021-05-08 14:06] #1397 closed

[2021-05-09 14:10] DzmitryHumianiuk commented on #1357
@bjuric just un-toggle `M⬇️` sign, which will turn off markdown beautifuliser, and stay persistent for all log views.

[2021-05-09 14:20] priyankachaturvedi30 commented on #1393
@DzmitryHumianiuk @evjlobanova  Did you get a chance to look at the above query?

[2021-05-09 14:31] bjuric commented on #1357
@DzmitryHumianiuk  Let's say I have a step that logs `A > B`

To have this display in markdown view, one needs to send `A &gt; B`
But then in console view it is rendered as `A &gt; B` and not`A > B`

Going the other way, to have this to display in console view, one can sent just `A > B`.
But then the `>` does not render in markdown view.

A workaround I've found is the surround logs with triple ba

[2021-05-10 11:01] atomescu01 commented on #1390
@evjlobanova
Hi,
There is an API to get the test_name and error message from the stack trace, as follows:
![image](https://user-images.githubusercontent.com/60103107/117648025-63a68400-b196-11eb-8364-a941066a01d5.png)?

Eg:
"Suite_name", "Test_name", "E       IndexError: list index out of range" - for each suite in the launch?

[2021-05-10 11:06] caponord opened #1398 "Unable to install service"
Hi all,
Followed the steps at https://github.com/reportportal/linux-installation.  Got to the section of 'Index' (past the Migration step). Unable to download and install service due to bintray forbidden message.

![image](https://user-images.githubusercontent.com/38348999/117646034-369ca600-b183-11eb-8ed9-c7cfffc7e69b.png)
Any tips on where the service can now be downloaded from? I understand tha

[2021-05-10 11:19] atomescu01 opened #1399 "API to retrieve each error message from Stack trace"
Hi,
There is an API to get the test_name and error message from the stack trace, as follows:
?
![image](https://user-images.githubusercontent.com/60103107/117651117-3c51b600-b19a-11eb-94a7-bd8c38a04f32.png)

Eg:
"Suite_name", "Test_name", "E IndexError: list index out of range" - for each suite in the launch?

This should be very useful for tracking similar kind of errors walking through the whole

[2021-05-10 12:03] #1398 closed

[2021-05-10 12:05] caponord commented on #1398
Never mind got it!

[2021-05-10 15:07] bzsharm commented on #1391
@Cyberglamdring did you have chance to look at the logs ! It's an emergency ! Could you please help !

[2021-05-10 23:01] mchundi opened #1400 "[v5] Connection timeout to google analytics."
I am using RP version 5.3.5 and I see the below error when the tests are running in jenkins.
[code]

[2021-05-11 11:51] caponord opened #1401 "Unable to log in after Linux installation"
Hi all,
Followed the steps https://github.com/reportportal/linux-installation to install on Ubuntu 18.04
RabbitMQ and Postgres installed locally (works) and db migration applied (checked tables) and it's pointing to the elastic cloud instance.

I have gotten this far, can't seem to get the services used to display under the 'current version' banner.
![image](https://user-images.githubusercontent.c

[2021-05-12 06:06] priyankachaturvedi30 commented on #1393
Apologize for pushing through this but this is kind of a P1 for our internal team. Can you please check and update @DzmitryHumianiuk

[2021-05-12 06:59] bldragon101 opened #1402 "Unable to get anazlyer or index to work correctly - Linux installation"
Hi I have been trying to deploy RP on RHEL7 linux environment using the steps found here:
https://github.com/reportportal/linux-installation

I have managed to get it running and have been able to login and run tests however it seems the service-index and service-auto-analyzer are not working correctly.

When i go to login the is nothing displayed in the "Current Version" area as per the screensho

[2021-05-12 07:23] gpapadakis commented on #1231
Hi guys we recently upgraded to v5.3.5 but the cleaup policy at least for the attachments so far is not working. Can you elaborate on this?

[2021-05-12 09:25] evjlobanova commented on #1357
@bjuric
For now in reportportal
[code]
is reflected:

without Markdown:
![image](https://user-images.githubusercontent.com/30413511/117948347-eaa64a00-b2c5-11eb-9bf3-d36fe9f67bf7.png)

console view:
![image](https://user-images.githubusercontent.com/30413511/117949662-34dbfb00-b2c7-11eb-91cf-2d09aaa1f69b.png)

with Markdown:
![image](https://user-images.githubusercontent.com/30413511/117949751-4cb

[2021-05-12 09:48] bjuric commented on #1357
The two backslashes in `split('\\')` and four backslashes in `join('\\\\')` are not rendered correctly in any view. All three views result in loss of data. Not one of them are displayed correctly, and all views look different.

Is there any option in report portal to render RAW content "as is" in all three views? This would be a good default IMO. Then if I really want to use markdown to make thing

[2021-05-12 09:54] caponord commented on #1391
Hi there,
I have the same issue.  Any assistance will be helpful. We were able to use the docker compose to stand things up as a POC but now are in productionising phase.

[2021-05-12 10:00] evjlobanova commented on #1357
RAW content "as is"  it is a configuration
![image](https://user-images.githubusercontent.com/30413511/117956417-dbc39580-b2cd-11eb-868a-570031e365e2.png)

We will investigate the problem with missing `\`

@AmsterGet cc

[2021-05-12 13:33] bjuric commented on #1357
@evjlobanova Did you RAW is a config option? If so, how do I set it?

[2021-05-12 13:54] evjlobanova commented on #1357
When both buttons are switched off (as it is shown on the previous screen), the system is supposed to show logs without changes and beatifilizer. But we will investigate a problem with missing  `\`

[2021-05-12 14:12] evjlobanova commented on #1231
@gpapadakis in the version 5.3.5 we have made a small fix for jobs, it should help basically. In version 5.4 we rewrote jobs.  The release will be this month.
It is difficult to tell you what exactly is a reason for unworking jobs. You can check the job table in DB and check the start time for jobs and define when it should run.

[2021-05-12 14:13] evjlobanova commented on #1402
@Cyberglamdring Hleb, could you please check?

[2021-05-12 14:24] Cyberglamdring commented on #1391
Hello,

@bzsharm, based on the provided logs, you are using different versions of `API Service: 5.0.0` and `Authorization Service: 5.3.5`. Check the [environment variables](https://github.com/reportportal/linux-installation#preparation). Generally, you need to use a similar version of services. Only the Index service uses a different version.

@caponord, please, provide logs to investigate the pro

[2021-05-12 14:25] evjlobanova commented on #1393
Hello @priyankachaturvedi30,
ReportPortal is a free open-source tool, so our team is working both on implementing this tool and on supporting it. Support time correlates with our internal workload. Now we in the middle of the release process. We will check your questions, as soon as we can.

We can propose paid support, which gives you dedicated hours for support with response SLA, and personal su

[2021-05-12 14:38] bzsharm commented on #1391
Thank you for your response ! :) I will try updating the version! & let you know

[2021-05-12 15:09] evjlobanova commented on #1389
For now, the date is not defined yet.

[2021-05-12 16:17] caponord commented on #1401
These are the versions used:
API_VERSION="5.3.5"
UAT_VERSION="5.3.5"
MIGRATIONS_VERSION="5.3.5"
UI_VERSION="5.3.5"
SERVICE_INDEX_VERSION="5.0.10"
SERVICE_ANALYZER="5.3.5"

See uat log for exception when I try to login using superadmin/erebus

The log files are:
[service_api.log](https://github.com/reportportal/reportportal/files/6467534/service_api.log)
[service_uat.log](https://github.com/reportp

[2021-05-12 16:19] caponord commented on #1391
@bzsharm log files attached, see latest comment on issue #1401

[2021-05-12 16:59] Cyberglamdring commented on #1401
@caponord, API say that `Unable to find file 'keystore/migration'`, which means API can't find or create directory on the filesystem. Make sure that services are started as root and directory /data/storage/keystore/migraiton exists

[2021-05-12 17:01] priyankachaturvedi30 commented on #1393
Thankyou for responding @evjlobanova . Would expect a response from the team once they find bandwidth as suggested by you :)

[2021-05-12 19:09] asaflevyz commented on #1389
Thanks.

[2021-05-12 19:36] mchundi commented on #1400
Observed this error in the following scenarios:
1. when any of the before methods fail.
2. if the memory allocated is less.

[2021-05-13 08:04] evjlobanova commented on #1399
@atomescu01 no such API request right now.
in the next versions, we provide a feature Unique errors in the launch.
For now workaround is described in  #1390

[2021-05-13 08:05] evjlobanova commented on #1399
Also, you can use Pattern analysis and look for similar patterns in the error logs.

[2021-05-13 08:53] caponord commented on #1401
I don't believe that's the issue. Because absence of a migration file just suggests that there are no migrations to be applied (see log immediately after this error message).
![image](https://user-images.githubusercontent.com/38348999/118102663-fb8fb200-b3d0-11eb-96a0-ddc79e679b95.png)

The service was able to create dir /data/storage/users/ and /data/storage/keystore
![image](https://user-images.

[2021-05-13 09:22] caponord commented on #1401
Doing a little bit more digging.
![image](https://user-images.githubusercontent.com/38348999/118105910-ed439500-b3d4-11eb-8037-75bd7d3091dd.png)

However, down migration for 5.3.5 shows:
![image](https://user-images.githubusercontent.com/38348999/118106018-0ea48100-b3d5-11eb-8aea-3e83ca16bfdb.png)

Up migration for 5.3.5 shows:
![image](https://user-images.githubusercontent.com/38348999/118106088-

[2021-05-13 09:42] caponord commented on #1401
As per linux installation in the migration step. The script 3_default_data.up.sql is run and this sets up the password.

![image](https://user-images.githubusercontent.com/38348999/118107096-4233db00-b3d6-11eb-9b26-76c5d3744691.png)

I changed it use the password as per 11_password_encoding.up.sql and got successful login now. However, no redirect after that.  The page just stays put! I think the

[2021-05-13 10:29] Cyberglamdring commented on #1401
Thanks for paying attention to the problem! We updated the [migration steps](https://github.com/reportportal/linux-installation#migration). You need to run all 25 migration scripts

[2021-05-13 10:30] HardNorth commented on #1400
@mchundi Does it affects your launch?

[2021-05-13 10:30] Cyberglamdring commented on #1391
@bzsharm, we updated the [migration steps](https://github.com/reportportal/linux-installation#migration). You need to run all 25 migration scripts.

[2021-05-13 10:46] caponord commented on #1401
Cheers! I will give that a try. If could also update the documentation for the env variables as '"https://dl.bintray.com/epam/reportportal' is no longer valid. One needs to download .exe files from the respective modules github release page and the exec-jar files from maven central.

![image](https://user-images.githubusercontent.com/38348999/118115193-8fb54580-b3e0-11eb-8245-780899e855e1.png)

[2021-05-13 10:50] kontownik commented on #1176
Tested with there issue is still there, can I ask for retest @evjlobanova ? I think above scenario can be added to your regression test suite?

[2021-05-13 11:33] caponord commented on #1401
Okay now it works! Or at least I am able to login and see the tool. Thanks for the fix.

[2021-05-13 11:35] Cyberglamdring commented on #1402
@bldragon101 we updated the [migration steps](https://github.com/reportportal/linux-installation#migration). You need to run all 25 migration scripts

[2021-05-13 13:41] HardNorth commented on #1176
@kontownik It is relate to how Report Portal stores files, and it's actually "by design". Changing this behavior can cause either file name collision, when one file overrides another, either performance issues, because in this case we have to make additional query to database before file transfer. Either way it's not in priority right now.

[2021-05-13 16:32] mchundi commented on #1400
@HardNorth  yes. the launches hang and the build fails because of this error even though the tests are executed.

[2021-05-13 23:35] bldragon101 commented on #1402
@Cyberglamdring I have done this. I was able to figure it out from the Docker version. The problem still persists.

[2021-05-13 23:45] bldragon101 commented on #1401
I have reached the same point however the analyzer shows as not running in the settings page. At the login page i dont have anything coming up under 'current version'. Hitting the `composite/info` endpoint returns an empty response. @caponord have you been able to get it working?

[2021-05-14 02:10] TimB0 opened #1403 "[v5] cannot log in to fresh reportportal installation"
**Describe the bug**
http://localhost:8080/ui/#login tells me that im successfully logged in, but it dosent take me to the dashboard...it keeps me on the login page

**To Reproduce**
1.  download the latest docker-compose yaml file
2. docker-compose -p reportportal up -d --force-recreate
3. wait for all the services to start
4. go to:  http://localhost:8080/
5. i logged in with default\1q2w3e
6. i

[2021-05-14 07:45] caponord commented on #1401
I was able to enable auto-analyser, as to whether it works I will find out once I have a launched tests (which I will do soon and post results here)

![image](https://user-images.githubusercontent.com/38348999/118236814-74a10f00-b48e-11eb-8628-929928a0a5ed.png)

Nothing comes up under the 'current version' but info and health(replace info with health) endpoints are available.

Here are the info en

[2021-05-14 08:07] Cyberglamdring commented on #1401
@caponord, by default, the Auto Analyzer service is not displayed in the "Current version". For example, you can see that in our [Demo environment](https://demo.reportportal.io) on the Kubernetes. Also, you can try to generate demo data and launch auto-analyze.
[Analyzer works](https://github.com/reportportal/linux-installation#Analyzer) in a Python virtual environment. You can view the logs and s

[2021-05-14 09:20] VolhaKarenko commented on #1278
Fixed in version 5.4.1

[2021-05-14 09:20] #1278 closed

[2021-05-14 11:22] priyankachaturvedi30 opened #1404 "Excel Attachments getting downloaded in different format"
When I send excel file(.xls/.xlsx) to RP as an attachment and try to download the file, it gets downloaded with a random name as .sheet extension.
![image](https://user-images.githubusercontent.com/50797731/118264018-b2288b00-b4d4-11eb-8d48-3a53a170437d.png)

Can we not preserve the name/format/extension of the uploaded file while downloading?

[2021-05-15 11:31] nvborisenko commented on #1404
Looks like RP uses mime type as file extension.

![image](https://user-images.githubusercontent.com/22616990/118359020-18bbb080-b58a-11eb-8f84-0b553d84d26c.png)

In this case file name for downloading is `attachment_666.png2`.

[2021-05-17 00:21] bldragon101 commented on #1402
Hi @Cyberglamdring is there a command to run the 'Remove Index' and 'Generate Index' options? So far this is the only thing that is not working in our installation.

If i manually start an analysis on a launch i can see in the analyzer logs that it is working and communicating with Elasticsearch but there is a `A non-string value was supplied for self.routing_key` error coming up, not sure if this

[2021-05-17 09:53] malmor commented on #566
Any updates on this?

[2021-05-17 12:54] caponord commented on #1401
Hi all,
I can confirm that it works. We are now able to register test launches and see reports. Nice one all. This tool is going to just what we needed!

[2021-05-17 12:54] #1401 closed

[2021-05-17 12:59] gpapadakis opened #1405 "[v5] Not all tests reported"
**Describe the bug**
Not all of integration tests executed. We are running reportportal v5.3.5 in GCP.

Log report of the failure:
`
May 17, 2021 9:16:41 AM rp.org.apache.http.impl.execchain.RetryExec execute
INFO: I/O exception (java.net.SocketException) caught when processing request to {s}->https://...:443: Broken pipe (Write failed)
`

Also the failure cause:
`com.epam.reportportal.exception.I

[2021-05-17 13:12] gpapadakis commented on #1286
Where do you set this @naddison as we are experiencing same issue randomly

[2021-05-17 14:52] priyankachaturvedi30 opened #1406 "[v5] : Jira Integration : Priority of bug posted gets changed"
I have integrated Report Portal with Jira. When I try to post a bug with say P1 priority -> the bug gets posted to jira but with P3 priority. Additionally, while configuring I have unchecked Incident ID to be a non-mandatory field. Still, i could see a not accessible incident id url be passed to the jira. Can someone check this?
Using following jira jar plugin - plugin-bts-jira-5.1.0-all

[2021-05-17 14:54] priyankachaturvedi30 opened #1407 "BDD : Scenario Outline - Duplicating Launch name in Timeline"
There is an issue in the timeline of the steps for the scenario outline in RP dashboard. Launch names are repeating in the timeline.
![image](https://user-images.githubusercontent.com/50797731/118509616-d347e080-b74d-11eb-9837-82019455e4c2.png)

Consider a feature file having one such structure:
Scenario Outline: Taking Exports on cash Ladder for different balance types
        And I navigate to h

[2021-05-17 16:06] bzsharm commented on #1401
@caponord we are actually struggling with the installation :( ! if you have free time could you please let me know the step-by-step process to update the migration files!  We are totally new to Linux!

[2021-05-17 16:07] bzsharm commented on #1401
every thing looks greek and Latin for me :(

[2021-05-18 08:12] caponord commented on #1401
@bzsharm
The migration instructions has changed at https://github.com/reportportal/linux-installation. Provided you have the right versions installed the migrations do work. There are whitespaces post the command continuation maker (\) remove them and it will run.

Here's a copy without whitespaces and it does work.

`PGPASSWORD=$RP_POSTGRES_PASSWORD psql -U $RP_POSTGRES_USER -d reportportal -a \

[2021-05-18 08:41] HardNorth commented on #1407
@pbortnik, @miracle8484, @DzmitryHumianiuk Do we build timeline by an item name or by a TC ID?

[2021-05-18 11:25] #1396 closed

[2021-05-18 12:10] atomescu01 commented on #1399
Thank you for the clarification. I will use Pattern analysis.

[2021-05-18 22:41] MithunDavid opened #1408 "SAML Integration with Ping Federation IDP"
We have done the SAML configuration with Ping Federation. All looks correct and we are able to authenticate, if we directly hit IPD url. But not with ReportPortal Saml login. Ping doesn't have an option to redirect.  Is there anyway to change the protocol binding from

binding=""urn:oasis:names:tc:saml:2.0:bindings;HTTP-redirect: Version= "2.0" to **HTTP-POST** ?

Please find the log file.

5/18/2

[2021-05-19 08:13] marintrooper23 commented on #1402
I have a similar problem. Made installation via docker - compose. All containers are running and the status is healthy. But when I try to create an elasticsearch index, I get an error. Also, during manual analysis, the red inscription auto-analysis lights up in the line with the analysis.
elasticsearch_1  | {"type": "server", "timestamp": "2021-05-19T07:40:09,610+0000", "level": "DEBUG", "componen

[2021-05-19 08:45] Yumfriez commented on #1327
Hello @ReddyNitheeesh.
Could you please provide example reproducing your case (a few tests with config), so we can test it against our fix

[2021-05-19 19:50] DzmitryHumianiuk commented on #1378
@priyankachaturvedi30 yes please.

[2021-05-19 19:50] #1378 closed

[2021-05-19 19:52] DzmitryHumianiuk commented on #990
@priyankachaturvedi30 we will consider it in ReportPortal v6, while refactoring notifications.
RP6 backlog is already a massive thing, thus, we can't predict exact date for notifications refactoring.

you can stay signed for this issue and will receive update once we got it in progress.

[2021-05-19 20:07] DzmitryHumianiuk commented on #1388
@priyankachaturvedi30 **there is no possibility to backup the only selected project**.
this approach was chosen due to the fact that for separate small projects it is possible to have their own instance.

[2021-05-19 20:10] DzmitryHumianiuk commented on #1357
@bjuric looks like ReactJS output cut off multiply `\`.
UI team will look for solution to avoid it.

thank for catching, @bjuric !

[2021-05-19 20:14] DzmitryHumianiuk commented on #566
@malmor not much.

[2021-05-19 20:16] DzmitryHumianiuk commented on #1286
@gpapadakis if you set it to `false`, then each of started thread in your test runner will be reported as separate launch.

`reportportal.properties` is the right place to add it. Works for Java.

[2021-05-20 03:14] bjuric commented on #1357
@DzmitryHumianiuk  Thank you. I also observed in the examples above that single backticks within a tipple backed tickked markdown block are stripped and not preserved.

Example:
[code]

Should yield this in markdown
[code]

But yields this instead (single back ticks missing)
[code]

[2021-05-20 04:39] saarmstrong opened #1409 "ReportPortal Plugin Roadmap & Development Guides"
Are there any updates on the plugin feature roadmap?

I am very interested in developing some plugins for my instance and I think the community could also benefit from these plugins.

[2021-05-20 05:17] viveksoundar opened #1410 "[v5] I unable to find the login screen."
**Describe the bug**
I run report portal via docker in EC2 instance, When I access it I get this  "TypeError: Cannot convert undefined or null to object" in the console.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] - AWS EC2
 - Browser [e.g. chrome, safari] - google chrome
 - Version [e.g. 22]

<img width="1440" alt="Screen Shot 2021-05-20 at 10 43 42 AM" src="https:

[2021-05-20 06:34] anshu781126 commented on #1407
Hi Team, Any update on this ?

[2021-05-20 06:39] anshu781126 commented on #1407
just if you can let us know that how timelines are build.

[2021-05-20 07:27] evjlobanova commented on #1407
By TestCaseID

[2021-05-20 08:13] gpapadakis commented on #1286
thanks @DzmitryHumianiuk my problem is that i need one launch containing all feature files. So there are lots of features skipped at the moment due to this issue. I tried multiple solutions like increasing the limit of connections on Postgres (if it is a performance issue on the handling of requests) but nothing seems to solve the issue. By the way we use Concurrent JUnit Runner that each cucumber

[2021-05-20 08:23] bzsharm commented on #1391
@Cyberglamdring i will have to update API service 5.0.0 and run the migrations is it ?

Since bintray is down , do we have any other valid URL that we can make use of to include in environment variables !

Please advise

[2021-05-20 08:31] HardNorth commented on #1407
@anshu781126 Which agent and agent version do you use?

[2021-05-20 09:11] Cyberglamdring commented on #1391
@bzsharm, please, use [this documentation](https://github.com/reportportal/linux-installation) and try again from step 1.  Be sure that you use [the right services versions](https://github.com/reportportal/linux-installation#reportportal-services):
[code]

At now we have a problem with bintray repository, but you can download  `jar` files from our [Maven Repository](https://mvnrepository.com/artif

[2021-05-20 09:11] anshu781126 commented on #1407
https://github.com/reportportal/client-java

@HardNorth

[2021-05-20 09:32] bmv3cg commented on #1395
A quick workaround is to run elastic search as user 1000

[code]
Then manually assign permissions to volume of elastic search container.

[code]

[2021-05-20 09:58] HardNorth commented on #1407
@anshu781126 Once again, please specify your Agent and its version, not a link to our repository. Even if you created your own agent based on our client there are 20 different releases on Maven Central.

[2021-05-20 10:02] HardNorth commented on #1400
@mchundi If you specify `AGENT_NO_ANALYTICS` environment variable on your worker node it will disable analytics sending.

[2021-05-20 10:52] bjuric commented on #1407
I had a look at this also, and turns out that the `codeRef` passed to report portal for each recurring scenario in the outline was the same. Appending the table/row co-ordinates to the codeRef solved the issue. This works since the java client auto generates the test case id based on the codeRef.

A better solution however would be to nominate a column in each example data row as the "TestCaseId"

[2021-05-20 16:10] evjlobanova commented on #1373
@AmsterGet could you please check the issue?

[2021-05-20 16:11] evjlobanova commented on #1374
@irynakozak2 Ira, could you please check this issue?

[2021-05-20 16:14] evjlobanova commented on #1372
In version 5 Logical steps on Log view don't have a description on UI. In version 5 we do not plan to change the logic for it.
This information can be sent as a log with level info (f.e) to the needed logical step.

[2021-05-20 16:14] #1372 closed

[2021-05-20 16:16] evjlobanova commented on #1382
@Cyberglamdring Could you please take a look?

[2021-05-20 16:17] evjlobanova commented on #1385
@Cyberglamdring Could you please check?

[2021-05-20 16:17] evjlobanova commented on #1386
@VolhaKarenko Could you please recheck Time out functionality on 5.3.5?

[2021-05-20 16:18] #1388 closed

[2021-05-20 16:19] evjlobanova commented on #1392
@Cyberglamdring Please check

[2021-05-20 16:21] evjlobanova commented on #1395
@Cyberglamdring please check

[2021-05-20 16:21] #1399 closed

[2021-05-20 16:21] #1400 closed

[2021-05-20 16:23] evjlobanova commented on #1403
Hello @TimB0,  do you still have an issue with login?
@Cyberglamdring could you please recheck

[2021-05-20 16:25] evjlobanova commented on #1408
Hello, for now, integration with Ping Federation requires changes on the ReportPortal side.
@Yumfriez, am I right or we have a workaround?

[2021-05-20 16:29] evjlobanova commented on #1409
Hello @saarmstrong
unfortunately no, because of the nearest release.
But for now ready only UI part, BackEnd will be added this or next month.
https://github.com/reportportal/service-ui/blob/develop/app/docs/14-plugins.md

[2021-05-20 16:30] #1409 closed

[2021-05-20 16:31] evjlobanova commented on #1410
@Cyberglamdring please check

[2021-05-20 16:35] evjlobanova commented on #1407
You can choose an approach which test case id should be reported to ReportPortal
https://reportportal.io/docs/Test-case-ID

You can report test case id via agents. All details you can find in the dev guide https://github.com/reportportal/client-java/wiki/Test-case-ID

If the test execution has test parameters, a test case ID will be generated on the base of:

Test case id in ReportPortal = reporte

[2021-05-20 16:36] evjlobanova commented on #1406
Does Incident ID is Jira custom field?

[2021-05-20 16:42] mchundi commented on #1400
@HardNorth does this effect reportportal data in any way? or just effect his error?

[2021-05-20 16:43] mchundi commented on #1400
@evjlobanova it would help to keep this issue open till the suggested fix is tested so that I can get followup questions answered.

[2021-05-20 16:46] mchundi commented on #1127
@AmsterGet can you please let me know when can I expect the latest version?

[2021-05-20 17:05] mchundi commented on #1400
@HardNorth should I be adding the variable on RP server or the node where the tests are running? Also, is assumption that the value of this variable should be false is correct?

[2021-05-20 18:30] HardNorth commented on #1400
@mchundi Any non-empty value on the node were tests are running. No it doesn't affect test data.

[2021-05-20 19:01] HardNorth commented on #1407
@evjlobanova I believe this is not actually what the author means. By default agents report either a feature file reference (path/to/Feature.feature:10; where '10' is a line number in an example table) either a java canonical class name + params (com.github.test.TestClass[param1, param2]). The second case happens wen a user use `StepReporter` reporter.

The issue might be in a case when in differe

[2021-05-20 19:43] HardNorth commented on #1372
@evjlobanova Well, this actually already was implemented in the latest agent versions.

[2021-05-20 19:46] nvborisenko opened #1411 "Possibility to filter launches by system attributes"
It's possible to start launch within custom attributes. Also we can say that any specific attribute is `system` attribute. I know that this type of attribute is hidden from user.

It would be great if API allows me to find launch by system attribute. I would like to store some useful metadata there as system attributes, and later to search for specific launch by this attribute.

Particularly I am

[2021-05-20 22:18] bjuric commented on #1407
The reason why adding table and row coordinates to the codeRef is necessary in this is because it involves the execution of a Scenario Outline and the way they work. The body template of the outline is executed for each row in the examples table. So what happens is that the steps are replicated for each record, data values substituted, and then executed and sent to report portal. So it was necessa

[2021-05-21 04:39] baradhiren commented on #727
Any idea on how I can achieve this for mocha agent? I tried the options in environment variables link mentioned above but that doesn't seem to work in my scenario.

[2021-05-21 05:59] priyankachaturvedi30 opened #1412 "Possibility for Auto Analyzer to analysis issues while the run is in progress"
**The current behavior of Auto-Analysis:**
When the launch is completed, then based on previous executions, the auto analysis runs and categorizes the issues if a similar pattern is found.
**Problem with current behavior:**
The user will have to wait till the end of run completion in order to benefit from Auto Analyser capability. (as it does the AA when the run ends) . So even if the failures are

[2021-05-21 07:28] ReddyNitheeesh commented on #1327
Hello @Yumfriez ,

We don't face this issue frequently, Will provide details as and when we occur this issue.

Thanks,
Nitheesh

[2021-05-21 08:10] nvborisenko commented on #1412
Voting for this feature as well. Many years ago I created an extension for agent to trigger auto-analysis immediately after failed test. Now I think it's time to see this feature implemented out of box on server side.

[2021-05-21 08:12] priyankachaturvedi30 opened #1413 "Possibility to utilize Jira Status to flag closed issue which reoccurs."
**Describe the solution you'd like**
 I linked a Jira with one of my failures in Report Portal. At that time the status of Jira was -> Open.
Over subsequent runs the issue got auto analyzed. The status of Jira changed from Open -> In Progress -> Closed and I got the issue fixed. Now after few runs the same issue got reopened and was auto analyzed. (The status was shown as Closed). There is a high

[2021-05-21 11:48] VolhaKarenko commented on #1386
Hello @priyankachaturvedi30,
It also depends on the frequency of the job execution. Your launch might not be interrupted right after 1 hour, but if it lasts more than an hour, it will be interrupted as soon as the job is executed

[2021-05-21 14:45] MithunDavid commented on #1408
Appreciate any workaround or fix.  Due to this, RP returns a "HTTP ERROR 403" .. The error is "ProtocolBinding: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect disallowed for transport of SSO response".

[2021-05-21 17:31] MungThai commented on #932
I had a problem plugin-bts-jira-5.1.0 does not work with Jira Server. Its only works with Jira Cloud, because the plugin only support Basic Authentication and Does not work with Bearer token
How can I modify the plugin to support both?

Thanks,

[2021-05-21 18:49] VenkatVanacharlaTR commented on #1362
@evjlobanova, Could you please let me know when it will going to be fixed?

[2021-05-21 23:03] mgiamberardino opened #1414 "Previous logged in users data still in local storage after logout"
**Describe the bug**
After login and logout with different users when inspecting local storage there is some information regarding previous users.

**Expected behavior**
On users log out clean up local storage to avoid leaking information like ids from other users' projects.

**Screenshots**
![Captura de Pantalla 2021-05-21 a la(s) 20 02 06](https://user-images.githubusercontent.com/5713631/119205

[2021-05-23 15:19] lehoanglu0ng commented on #1392
I have the same issue on macOS Big sure 11.3.1 cpu M1

[2021-05-24 04:23] #1402 closed

[2021-05-24 07:44] evjlobanova commented on #1386
@VolhaKarenko could you please check to add info, where in DB @priyankachaturvedi30 can check this info, and how she can adjust the time for execution.

[2021-05-24 07:45] evjlobanova commented on #1414
We will take this fix to the next version in devrlopment

[2021-05-24 07:56] evjlobanova commented on #1362
Bug with rerun would be fixed in version 5.4.1.
±ETA end of the June

[2021-05-24 07:57] evjlobanova commented on #1358
Bug with rerun would be fixed in version 5.4.1.
±ETA end of the June

[2021-05-24 07:57] evjlobanova commented on #1327
Bug with rerun would be fixed in version 5.4.1.
±ETA end of the June

[2021-05-24 07:57] evjlobanova commented on #1317
Bug with rerun would be fixed in version 5.4.1.
±ETA end of the June

[2021-05-24 08:36] evjlobanova commented on #1411
Actually, we do not have plans to add such a possibility, because the business purpose of these attributes is different.
Pipeline ID can be added as a user attribute, and you will be able to filter by them. Does this work for you?

[2021-05-24 09:47] MariyaIvanina commented on #1412
Hi @priyankachaturvedi30 and @nvborisenko ! Thank you for sharing your use cases and your suggestions. Now our analyzer feature works on the launch level, so it waits for the launch to be finished and after that the launch with all its failed test items are sent to analyzer. And we are going to change this logic in the 6 version of Report portal, we would like to analyze at the test item level, th

[2021-05-24 09:56] nvborisenko commented on #1411
Partially, user's attributes are shown on UI. If I will have lot of attributes UI will be overloaded.

[2021-05-24 10:14] VolhaKarenko commented on #1386
@priyankachaturvedi30 you can only change 'next_fire_time' for 'interruptLaunchesTrigger' in quartz schema-> tables-> scheduler_triggers. There is no option to set job execution periodicity via DB, I need some time to investigate whether it is possible to do any other way

[2021-05-24 12:02] evjlobanova commented on #1413
For now existing integration with Jira does not allow to use of this logic.
We will rethink this logic, after improving Jira integration.

[2021-05-24 12:31] Annapooraniqxf2 commented on #1392
I couldnt login to the reportportal. I can see the services are not getting started in the UI also. When I checked I can also see that elastic search and migrations are exited. I tried restarting those but the issue is not resolved.

[2021-05-24 14:13] DzmitryHumianiuk commented on #727
@baradhiren please specify what's your case, do you want to overload the name of the launch via command line params over the property files params?

[2021-05-25 00:26] sunshine69 commented on #543
Hi, I am using version 5.3.5 at the moment and still see this behavior.
Can you pls advise what to fix or debug it?

[2021-05-25 04:45] baradhiren commented on #727
Hi @DzmitryHumianiuk,
Here it goes:
I am using mocha-multi-reporter and other mochawesome reporters to generate HTML reports. On top of it I have added [agent-js-mocha](https://github.com/reportportal/agent-js-mocha). The configuration works great on my local. Now I was wondering if I want to dynamically change the launch attribute of reporterOptions how can I achieve that?

ReporterOptions:
`"rep

[2021-05-25 06:54] bx2651 opened #1415 "send json to report portal"
Our web page have some button, when we click them, they execute some code and produce results.
We want to send the results(json) to report portal through Axios (or something else?) in the JS code.
Is this feasible? and how should we do ?

thanks very much.

[2021-05-25 08:44] irynakozak2 commented on #1374
@Invictum hello! That behavior doesn't reproduce in any of our environments on different data sets much bigger, than your case, so can you please point us out with following things:
1) Instance capacity by CPU/Memory/Disk (read/write IOPS)
2) Do all of the containers are up and running and don't restart?
2) PostgreSQL configuration.
3) Database container resources utilization stats, if available.

[2021-05-25 09:01] irynakozak2 commented on #1405
@gpapadakis hello! looks like it isn't an issue related to the instance performance, but let's check several things:

1) Do all of the containers are up and running and don't restart during reporting?
2) Do you have enough Disk space capacity on your instance for the PostgreSQL database?
3) What is your actual instance spec by CPU/RAM size and load stats of your instance by CPU/RAM?
4) What is you

[2021-05-25 09:12] gpapadakis commented on #1405
We receive restarts on the two API pods we have on our cluster frequently and this seems to be the reason that many launches restarts in RP.

We do receive though this messafe in logs io.minio.errors.ErrorResponseException: Storage backend has reached its minimum free disk threshold. Please delete a few objects to proceed.

For CPU/RAM we have installed in GCP middle type: 8 CPU's with 16 GB RAM

[2021-05-25 09:48] halradaideh commented on #1405
@irynakozak2 the DB is underutilized and there is plenty of storage available

we are facing issues with the number of connections that the API is making, `FATAL: remaining connection slots are reserved for non-replication superuser connections` we get this error a lot

we are using GCP SQL Postgres 11, with MAX_CONNECTION = 1000, and i defined RP_DATASOURCE_MAXIMUMPOOLSIZE to the API as 401

[2021-05-25 11:18] priyankachaturvedi30 commented on #1388
Hey just coming back with the problem more accurately -> Suppose I have multiple enviornments maintained for Automation Runs across India and Belarus. (Both environments have with different stacks on them).
Env1 (Oracle/Weblogic)- India
Env2 (Oracle/Jboss)- India
Env3 (Mssql/Weblogic)- India
Env4 (Mssql/Websphere)- Belarus
Env5 (Oracle/Websphere)- Belarus
These are 4 solutions (S1,S2,S3,S4) using

[2021-05-25 11:31] Cyberglamdring commented on #1392
@viveksoundar, @lehoanglu0ng your ElasticSearch container is not working. Make sure you have enough memory, CPU (and Swap on Docker Desktop). Recommended minimum requirements:
[code]
For a production environment, we recommend using [this article](https://reportportal.io/docs/Optimal-Performance-Hardware)

Also, [make sure](https://reportportal.io/docs/Deploy-with-Docker) you create and grant permi

[2021-05-25 11:34] Cyberglamdring commented on #1392
@Annapooraniqxf2 I need more information, please provide the status and logs of the services. Also, try the recommendations above.

[2021-05-25 12:53] Annapooraniqxf2 commented on #1392
Hi I am using Amazon ec2 instance(t2.medium) which has 8GB of memory and 2
CPU and your mentioned recommendations also. I dont stop the instance. When
I try to go to the login page I get "Failed to load resource:
net::ERR_INCOMPLETE_CHUNKED_ENCODING" in the console.

On Tue, May 25, 2021 at 5:04 PM Hleb Kanonik ***@***.***>
wrote:

--
 Regards
Annapoorani

9986906218||Qxf2 Services

[2021-05-25 17:25] AmsterGet commented on #1357
Hello @bjuric !
The JavaScript omits backslashes `\` in the displayed strings as they are special characters and displays single `\` instead of `\\` according to escaping rules ([MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String#escape_notation)).
So on our side **we can escape all backslashes in the string user input** (item names, description, log messa

[2021-05-25 18:56] MithunDavid commented on #1408
Hi, Just wanted to check, if you have any update on workaround to resume SAML.

[2021-05-25 22:28] bjuric commented on #1357
@AmsterGet If I escape for markdown, then the raw and console views in RP display escaped literals. If I don't escape, then I lose characters in all views. There's currently no sure way to display either of the following consistently in all views. No amount of escaping on my end will help in this regard.
[code]

[2021-05-26 04:39] ReddyNitheeesh opened #1416 "[v5] launch's didn't load gave a 504 time out error"
**Describe the bug**
Today we observed GET call for launch's API  **'api/v1/ppi_tests/launch'**  thrown 504 time out error. Checked in RDS db , there are no any explicit lock's on any table.

After looking into docker logs in the API container, error was specific to **Desearlization operation**. After restarting api container it started working as expected. Please let me know for more details.

**

[2021-05-26 07:07] iuvLuyonghao opened #1417 "502 bad geteway"
![image](https://user-images.githubusercontent.com/46741735/119617096-0405d500-be34-11eb-8c19-e73824e79c1d.png)

[2021-05-26 07:08] iuvLuyonghao commented on #1417
Running system is centos10, can't login, who knows how to solve?

[2021-05-26 09:50] prasannabd-dev opened #1418 "[v5]Impossible interact with integration. Ticket type 'undefined' not found"
**Describe the bug**
reportportal_api throws "Impossible interact with integration. Ticket type 'undefined' not found" error
After creating a jira integration with the project key, configuration section shows empty Issue Type list available.
Also the DEFAULT PROPERTIES FOR ISSUE FORM section doesn't have anything.
**To Reproduce**
1. Installed the the plugin-bts-jira-5.1.0-all.jar.
2. Using supera

[2021-05-26 12:01] leonardsaraujo opened #1419 "Test gets interrupted status on ReportPortal[v5]"
I'm having a problem with the tests status on ReportPortal.

Some tests have the status: interrupted

As shown in the images below.

![Capturar](https://user-images.githubusercontent.com/82540052/119655893-7492fe80-be00-11eb-8823-d5e024b41915.PNG)
![Capturar](https://user-images.githubusercontent.com/82540052/119656184-cb003d00-be00-11eb-96b5-4e89cd17d8f4.PNG)

[2021-05-26 14:37] Cyberglamdring commented on #1395
@sunshine69, [read documentation](https://reportportal.io/docs/Deploy-with-Docker). You need to assign permissions to `data/` folder as said @bmv3cg above

[2021-05-26 15:01] priyankachaturvedi30 commented on #1406
Yes, so when I create a bug in jira it suggest me to associate the bug with an incident id if any (non-mandatory field)
![image](https://user-images.githubusercontent.com/50797731/119683072-016da480-be61-11eb-93d9-72bbac64dd58.png)

However, as i said, its optional. So when I integrated RP with BTS - i did not checked for this field
![image](https://user-images.githubusercontent.com/50797731/11968

[2021-05-26 17:08] AmsterGet commented on #1357
At first we don't use markdown in raw and console views (text is rendered as is with all browser parsing rules).

I agree with you, content in markdown may differ from raw and console as it includes markdown-level parsing (with stripping of its own special characters).

If you want to prevent markdown-level formatting for text you may use multiline code block:
\```
\```
But in this case you still

[2021-05-26 17:13] evjlobanova commented on #1406
Do you use Cloud Jira?

[2021-05-26 23:08] bjuric commented on #1357
Would it be possible to not require any escaping when surrounding entire text in triple back ticks (code blocks)? Can the UI not assume in this case that the user want's all characters preserved "as is" including embedded back ticks, slashes, and whitespace?

So if I send `bla bla bla \\n bla A > B` in a code block, then the UI could assume that is exactly what I want to see in all views.

And if

[2021-05-27 06:19] priyankachaturvedi30 commented on #1076
@HardNorth  : I faced a similar exception for RP version 5.3.5 . Using java-client integration (https://github.com/reportportal/client-java) for running my bdd driven automation. Can we please get this checked. @evjlobanova

[2021-05-27 07:20] evjlobanova commented on #1357
![image](https://user-images.githubusercontent.com/30413511/119782725-63d69d00-be81-11eb-9d91-fe5528c09418.png)
![image](https://user-images.githubusercontent.com/30413511/119782684-56211780-be81-11eb-9838-4ecd839d118c.png)

[2021-05-27 07:35] evjlobanova commented on #1418
Do you use Cloud Jira?

[2021-05-27 07:54] bjuric commented on #1357
@evjlobanova can you try..

[2021-05-27 08:46] prasannabd-dev commented on #1418
Its not a Cloud Jira. But ours is a very old version of Jira:
Atlassian JIRA (v4.3#614-r144677)
What is the version of Jira you support?

[2021-05-27 08:49] rplevka commented on #1317
@evjlobanova can you tell us what the bug is and what is the reproducer?
I'm curious because I'm not hitting it.

[2021-05-27 09:41] evjlobanova commented on #1357
![image](https://user-images.githubusercontent.com/30413511/119803524-61ca0980-be94-11eb-8677-e66d5658e307.png)
![image](https://user-images.githubusercontent.com/30413511/119803610-773f3380-be94-11eb-86c3-522790077b49.png)

![image](https://user-images.githubusercontent.com/30413511/119803818-a786d200-be94-11eb-9f69-f3fefd35406a.png)
![image](https://user-images.githubusercontent.com/30413511/119

[2021-05-27 09:52] HardNorth commented on #1076
@priyankachaturvedi30, `client-java` has 59 releases, which one you use? Moreover just `client-java` library is not sufficient itself to report to Report Portal.

And I have to give you a warning, this is not the first and not the second time you are asking vague questions, you waste people time make them asking additional questions. If you keep doing this I'll have to apply administrative actions

[2021-05-27 10:02] bjuric commented on #1357
That appears to be doing the right thing. I'm a little confused because @AmsterGet suggested that one level of escaping would still be required in a multiline code block.

@evjlobanova Is there any official report portal documentation on client side escaping? A definitive list of escape characters and rules for the various available views in report portal would be helpful.

[2021-05-27 10:11] AmsterGet commented on #1357
@bjuric
The result provided by @evjlobanova can be accessed directly with an editor (I described this as a side note in my previous comment).
And when you pay attention to the request in this case, you will see that the characters are escaped.
Request:

![image](https://user-images.githubusercontent.com/31861805/119808018-60c4c680-beec-11eb-9d2e-25f5ae4f4f55.png)

Editor:

![image](https://user-im

[2021-05-27 10:42] bjuric commented on #1357
Thanks @AmsterGet. That explains that one. This whole time I thought @evjlobanova was referring to source literals sent in the request to RP.

I'm OK with this. However we have noticed some inconsistencies in nested steps and stack trace views. To make sure I'm sending the right content in the request, would be good to have access to a definitive guide that lists the characters that require escapi

[2021-05-27 11:32] kontownik commented on #1176
Ok, that's strange I thought the name parameter is meaningful, any solution can be better than just ignoring that fact, even creating a directory name after launch `45a1dfc3-6400-47f5-93c3-49fbd09d4dca` and then `html-report.zip` as a file.

[2021-05-27 12:02] priyankachaturvedi30 commented on #1076
@HardNorth : Below are the dependencies I am using -
https://search.maven.org/artifact/com.epam.reportportal/client-java/5.0.21/jar.
https://search.maven.org/artifact/com.epam.reportportal/commons-model/5.3.3/jar
Apologies, I am still on a learning curve with respect to Report Portal and Java. So, please pardon me.

[2021-05-27 12:38] viveksoundar commented on #1392
@Cyberglamdring yes, after updating the system requirements It works perfectly fine.

[2021-05-28 07:38] evjlobanova commented on #957
@Cyberglamdring please check

[2021-05-28 09:02] evjlobanova commented on #1357
@AmsterGet please add a task for small documentation to the sprint

[2021-05-28 09:10] evjlobanova commented on #1357
@bjuric stake trace section doesn't contain a different view functionality.
Raw/ Markdown/ Console view is a feature that can help to work with logs in All log section.
The Stak trace section contains 5 last error logs without beautiful options. It means it is the same view as a raw view on All logs section.
Regarding Nested steps, names have the same reflection as logs.

[2021-05-28 10:31] evjlobanova commented on #1406
We have some known issues with Jira custom fields and custom issues.
We are planning to work with them in a scope of Jira integration refactoring

[2021-05-28 11:30] SubratKumarTR opened #1420 "[v5] The CPU utilization is too High when the vacuum clean up is happening."
Describe the bug
In the pervious ticket https://github.com/reportportal/reportportal/issues/1326 , it is mentioned to upgrade the Db from db.r5.xlarge to  db.m5.2xlarge. and we upgraded.

Today we observed after finishing auto clean up activity on a table "Project" , Next activity was re-indexing the table during this period CPU utilization ramped up to 100%. Then after it was dangling between 80

[2021-05-28 13:10] sspieker-cc commented on #1317
@rplevka - We experience this issue with our solution that uses the ZIP file import operations to load results.  The JUnit output XML does not have any designation as to rerun/retry operations for tests and therefore RP does not recognize them as the same test being re-run but as individual tests and cause the number of tests to be inflated by the number of retries attempted on tests that have fai

[2021-05-29 02:53] sunshine69 commented on #1395
Thanks guys, I already fix it.

What it is desired is that why I have to do it - why the simple `docker-compose up` should work out of the box rather than executing into it and tinker a bit. But it might be not reportportal problems, the problems is with third party docker image design rather.

[2021-05-29 02:53] #1395 closed

[2021-05-29 02:56] sunshine69 commented on #1415
I think your best bet is to use the reportportal API and started writing your own code to post it. I found the bash example is very good source of illustration of the steps to use the API - https://github.com/ihar-kahadouski/dev-guide/tree/master/bash-example . For javascript there might be already integration somewhere.

[2021-05-29 11:39] Nils1970 commented on #919
This would be highly desirable

[2021-05-29 18:10] evjlobanova commented on #919
We are planning this integration this year:
1st phase - BTS like integration
2nd phase - native integrtion in pipeline

[2021-05-29 23:50] bjuric commented on #1357
Thanks @evjlobanova. We'll try again based on all feedback above.

[2021-05-30 00:02] bjuric commented on #1407
Root cause of this issue was that the row data in the examples tables was not being passed to report portal as parameters for each expanded scenario. Hence it was relying purely on codeRef alone. CodeRef+Parameters fixes it. However if line numbers in the codeRef change due to changes made in the spec, then the history is de-associated since a different test case ID is auto-generated . We've come

[2021-05-31 09:09] HardNorth commented on #1316
@Priyanghaa Sorry, missed your invite. Could you send it again?

[2021-05-31 09:18] Priyanghaa commented on #1316
Sample code is here https://github.com/Priyanghaa/SampleReport

[2021-05-31 09:27] HardNorth commented on #1316
@Priyanghaa
![Screen Shot 2021-05-31 at 12 25 50 PM](https://user-images.githubusercontent.com/4364466/120172225-7ba87b00-c20b-11eb-9984-212d3efa4ea4.png)

[2021-05-31 11:22] Priyanghaa commented on #1316
Access is given

[2021-05-31 12:47] SubratKumarTR commented on #1420
Hi Team . today we face the same issues , the cpu utilization is too high.
Please find the screenshot below.
![RDS CPU UTILIZATION PNG 31-june -21](https://user-images.githubusercontent.com/76808612/120195414-63048900-c23c-11eb-861d-a0f641c9440e.PNG)

Please let me know for additional details.

Thanks,
Subrat.

[2021-05-31 12:56] nirmalashish opened #1421 "[v5.3.3] Editing a defect type is too slow"
**Describe the bug**
Editing a defect type for a failed case takes around 5-6 minutes to update

**Expected behavior**
Previously, edits used to happen real-time

**Desktop (please complete the following information):**
 - OS: macOS (Catalina 10.15.7)
 - Browser Chrome/Firefox
 - Version 91.0.4472.77/88.0.1

**Additional context**
Looks like elastic search is the culprit behind the slowness

[2021-05-31 13:40] HardNorth commented on #1316
@Priyanghaa I do not see any issues you mentioned. It works as expected for me:
![Screen Shot 2021-05-31 at 4 39 01 PM](https://user-images.githubusercontent.com/4364466/120202105-dacbb700-c22e-11eb-8f85-50fdeea091d0.png)

[2021-05-31 13:45] Priyanghaa commented on #1316
Is it the same report portal version ? Any idea about the exception which we face ?

[2021-05-31 14:04] HardNorth commented on #1316
@Priyanghaa Yes, I use v5.3.3.
As I see from your code you use `rp.tags` property. Please check that no tag value is longer than 128. This is limitation of RP v5, since it uses different DB.

[2021-05-31 15:23] hideintheclouds commented on #919
+1

[2021-05-31 18:20] bzsharm commented on #1391
please find the attached latest log, I am still facing the same issue @Cyberglamdring
[reportportal_latest.log](https://github.com/reportportal/reportportal/files/6571770/reportportal_latest.log)

[2021-06-01 08:30] evjlobanova commented on #1421
@irynakozak2 could you please check if this issue relates to a known issue or instance settings should be updated

[2021-06-01 09:51] priyankachaturvedi30 opened #1422 "Possibility to lock the launch once Investigation is complete"
Suppose I ran my first launch, post which I did an analysis of all the items in To Investigate state. Now since that's my baseline, I do not want it to be tampered or updated. Can there be a possibility to lock/freeze the particular launch (which is controlled by superadmin), which would eventually ensure that no member is permitted to change them once it acquires that lock.?

[2021-06-01 10:43] bzsharm commented on #1391
@caponord please shred your thoughts too ! I have attached latest log above.

[2021-06-01 12:46] bjuric commented on #1357
@evjlobanova @AmsterGet Consider the following scenarios.

When I do no escaping at all, I `<result>` is rendered OK in stack trace view but not in log view. But the strange thing here is that both `<string 1>` and `<string 2>` render OK in both views.
<img width="1169" alt="Report Portal 2021-06-01 21-50-59" src="https://user-images.githubusercontent.com/1369994/120321083-36c53700-c326-11eb-8c30-

[2021-06-01 15:50] MithunDavid opened #1423 "ReportPortal SAML integration with PING"
The current SAML integration with OKTA doesn't work for PING.
It throws "HTTP ERROR 403" .. The error is "ProtocolBinding: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect disallowed for transport of SSO response".

Ping doesn't have an option to redirect. Can we have an option of HTTP-POST.

binding=""urn:oasis:names:tc:saml:2.0:bindings;HTTP-redirect: Version= "2.0" to HTTP-POST ?

This featur

[2021-06-01 16:43] evjlobanova commented on #1357
You view logs with the Markdown option.
Stacktrace section shows log without markdown recognition.
You can switch Markdown off, and you will have the same view for both of sections

![image](https://user-images.githubusercontent.com/30413511/120360405-90dde200-c2bd-11eb-9544-95856be21cc5.png)

[2021-06-02 06:35] bjuric commented on #1357
What use case does this serve if I'm marking down my content?

[2021-06-02 07:12] evjlobanova commented on #1407
I guess the first approach should work for you: explicit Test Case ID + param
For instance you can use test case id from your Test NAmagement System
![image](https://user-images.githubusercontent.com/30413511/120439127-05a13280-c337-11eb-9655-dd2284e3482e.png)

[2021-06-02 07:37] evjlobanova commented on #1357
If we are talking about current implementation, the Markdown option is located only in the log table section and related only to it. Other places in ReportPortal are not affected by these settings. And you can choose this option for some log views, and for some log views, you can unclick it.

Log table can contain information such as links to videos of some HTML tags, which help users to navigate

[2021-06-02 07:44] evjlobanova commented on #1422
We are planning to implement this in scope of #674
Also, this feature is partly related to Quality Gate feature. In the scope of QG, the user can calculate the final status of launch analysis and send it to Pipeline.

[2021-06-02 08:06] Phanishar commented on #795
Test Launch does not finish in Report portal though the actual Job is Finished in Jenkins. And I see around 476 scenarios passed with only 4 failures in Jenkins but the Report portal is still stuck on 200 scenarios and plus doing nothing. I am seeing only the scenarios that are passed
![Jenkins](https://user-images.githubusercontent.com/61402294/120446678-65cfbd00-c3a7-11eb-856f-289f7154f0e0.png)

[2021-06-02 09:04] priyankachaturvedi30 opened #1424 "Unable to do a strict match even when match level set to 100 %"
I have configured Auto Analyser to work at 100% match level:
![image](https://user-images.githubusercontent.com/50797731/120450997-9c5d0600-c3ae-11eb-97dc-1ee55bc8c1ee.png)

Following the above setting, I started Analyser for my Launch 2.
Launch 1:
![image](https://user-images.githubusercontent.com/50797731/120451347-f65dcb80-c3ae-11eb-8983-68413de98542.png)
Launch 2: (**This is a new issue which

[2021-06-02 09:08] anshu781126 commented on #1407
We have opted for step with its hierarchy[occurrence#] + params as the basis to create testcaseID.

Marking this as closed.

[2021-06-02 09:40] bjuric commented on #1357
Thank you @evjlobanova

[2021-06-02 10:17] Phanishar commented on #795
Hi Vadzim,
I use the version 5.3.2 and My set of launch is passing in the jenkins but
not in Report Portal it tries to Run and Run.
[image: image.png]

[image: image.png]

These are the two errors .

On Wed, Jun 2, 2021 at 3:02 PM Vadzim Hushchanskou ***@***.***>
wrote:

[2021-06-02 11:35] itzikb opened #1425 "[v5] The status of a Launch is marked as passed even if no tests were executed."
**Describe the bug**
The status of a Launch is marked as passed even if no tests were executed.
**To Reproduce**
Trigger a launch where it fails and no tests are being executed
**Expected behavior**
Either the launched should be set to failed (or something other than passed) or there should be an option to change it through the API.
**Version**
5.3.5

[2021-06-02 12:26] HardNorth commented on #1425
@itzikb Your description does not provide any picture of what happens. Could you please implement an example project?

[2021-06-02 12:53] evjlobanova commented on #1424
Analyzer removes all numbers and compares words. I guess if these logs have differences only in numbers, Analyzer can define logs as similar.
I guess, ib this situation, you should change defect type manually on the right defect type. And in the next run, the model should be retrained.
@MariyaIvanina please fix me if I am wrong

@priyankachaturvedi30 could you please send us a full log message for

[2021-06-02 12:53] #1407 closed

[2021-06-02 13:00] evjlobanova commented on #1423
ReportPortal does not have integration with Ping Federate.
It requires changes on the back end.
We can propose you support package in the scope of which we can implement it

[2021-06-02 13:05] #1386 closed

[2021-06-02 13:08] evjlobanova commented on #1409
We are planning to make plugin example this month

[2021-06-02 13:08] irynakozak2 commented on #1421
@nirmalashish hello, can you please check out several things:

1. Do all containers are up and running or there are some containers that are keeping restarted from time to time?
2. Container logs for the service-analyzer and elasticsearch.
3. Do Elasticsearch has enough free Disk storage amount for working correctly?

[2021-06-02 13:09] evjlobanova commented on #1127
This month

[2021-06-02 13:09] #1127 closed

[2021-06-02 13:13] #1369 closed

[2021-06-02 13:33] priyankachaturvedi30 commented on #1424
First Launch Log :
`assertion failed: Expected alert message [locator: javascript=document.querySelectorAll("tlmv-alert .tlmv-c-alert-content-body-message")[2]] to be 'IDs: [13933,13936] could not be rejected. The user is not authorised to reject this Manual Adjustment.' but got 'IDs: [13928,13929] could not be rejected. A user cannot reject a Manual Adjustment that they have created.'

Hierarchy:

[2021-06-02 13:42] evjlobanova commented on #1424
![image](https://user-images.githubusercontent.com/30413511/120490963-b4606580-c36d-11eb-92db-673e5cc4d990.png)

[2021-06-02 13:47] irynakozak2 commented on #1186
@dagansandler hello! Yes, it's a known issue for the 5.3.5 version. Our team already done with the root cause investigations and the necessary fixes will be in the ReportPortal version 5.5

[2021-06-02 14:35] priyankachaturvedi30 commented on #1424
yes, so as i understand there are differences in words as well as numbers :( Considering match level as 100% should it be behaving in this fashion ? @evjlobanova

[2021-06-02 14:41] MariyaIvanina commented on #1424
@priyankachaturvedi30 Hi! Thank you for sharing your use case. In our process we remove numbers and calcualte similarity without them, but it is strange that some words are not the same(but some words like a/the/is, they are not taken into consideration, because they are english stopwords, but authorised and created should have been compared) and it still matches them, so I need to debug the probl

[2021-06-02 14:45] priyankachaturvedi30 commented on #1424
Thanks @MariyaIvanina : I'll wait for your revert on the above. Much Appreciated.

[2021-06-03 04:04] harish4b4 opened #1426 "Do not display before and after hooks"
Hello Team, I have newly adopted report portal as a report dashboard in my project.
I need help in not displaying before and after hook methods in the reportportal. is there any trick to achieve this.

I'm using,
rp: 5.3.5
agent-java-cucumber4: 5.0.2

![image](https://user-images.githubusercontent.com/25383966/120585090-0914e680-c429-11eb-8008-127cb60407b7.png)

 I have a requirement of adding @be

[2021-06-03 04:23] harish4b4 opened #1427 "Scenario outline is not being updated properly"
Hello Team,

Could you please help me understand why scenario outline description is not picking up the data from the examples table while being displayed in the reportportal.

Below is my scenario outline with parameter reference.
![image](https://user-images.githubusercontent.com/25383966/120586082-c7853b00-c42a-11eb-80d1-7307c165273b.png)

While Displaying in the reportporatl I want <TCID> to b

[2021-06-03 04:56] Priyanghaa commented on #1316
yeah cross checked , it is just few letters and not more than 128 but in exceptions also it is default message [size must be between 1 and 128]]

[2021-06-03 05:01] HardNorth commented on #1316
@Priyanghaa So, you say we have lower limit for a tag length? That's odd. We should definetely update error message or cancel this limit.
@evjlobanova @VolhaKarenko Please comment and check.

[2021-06-03 06:10] YBB8201 opened #1428 "Add ForceFinishAndDelete to "Action" combo box"
Hi,
when i run some test and i finish it ungracefully, I can see in report portal as if the test continue to run. in order to delete this run/launch, I need first to mark it and pick "Force Finish", and than check it again and pick "Delete" - this is 6 clicks. I want to reduce this to 3 clicks - add ForceFinishAndDelete option to combo box
![Capture](https://user-images.githubusercontent.com/66330

[2021-06-03 06:46] itzikb commented on #1425
@HardNorth I'm not sure it will be easy for me to do in an example project

[2021-06-03 07:25] evjlobanova commented on #1426
@HardNorth could you please check

[2021-06-03 07:39] evjlobanova commented on #1427
Hello
 Nested steps (steps on the log view ) have a possibility to reflect in a human-readable mode : https://github.com/reportportal/client-java/wiki/Step-template-and-step-template-config

For steps, parameters can be sent explicitly in the table
![image](https://user-images.githubusercontent.com/30413511/120606330-f0dea080-c403-11eb-8bee-cfb535faa383.png)

[2021-06-03 07:46] evjlobanova commented on #1428
You can set a parameter for Launch inactivity on the Project Settings> General, and then these launches will be interrupted by the job.
Force finish and Delete are 2 independent processes and they can not be combined together.

But I have got your point.

Could you please describe your case, why do you have so much run that should be interrupted manually?

[2021-06-03 08:33] harish4b4 commented on #1427
Thank you for your quick response.
As I mentioned Steps are being displayed fine. the only problem is with scenario outline. When A scenario outline description has a parameter reference, the variable is not being replaced with actual value from the example

Let say I have a scenario outline defined in the below format
![image](https://user-images.githubusercontent.com/25383966/120613385-1bede200-

[2021-06-03 08:42] YBB8201 commented on #1428
Hi
I have it because I debug some tests in visual studio. Each debug is a
different launch.
I always go to "launches" and filter them by my name - and I want that this
filter will not contain too many launches - therefore I delete them. if i
stop one lrun in the middle (stop the debug process in the middle), the
launch appears in the report portal as not finished. and therefore I need
to forch fin

[2021-06-03 08:46] YBB8201 commented on #1428
In addition, may be you can do the following:
after selecting the launches I want to force finish, and click on force finish, when the list of launches get refreshed, save the launches i just checked seconds ago. it will eliminate the necessity of mark the tests again

[2021-06-03 10:38] evjlobanova commented on #1428
You can use debug mode in order not to send debug launches to All launches, but send it to Debug.
rp.mode = DEBUG
It helps you separate broken and debug launches from prod results
![image](https://user-images.githubusercontent.com/30413511/120631646-f694b000-c41c-11eb-83c4-9d8491b540cf.png)

[2021-06-03 12:18] YBB8201 commented on #1428
hi
looks great.
How can I set this in advance? Do you have some environment variables I can
use in order to set it? i don't want to do it manually, but automatically

On Thu, 3 Jun 2021 at 13:38, Yauheniya Labanava ***@***.***>
wrote:

[2021-06-03 13:25] evjlobanova commented on #1428
I send in a previous message, you can make it programmatically via  rp.mode = DEBUG
Which agent do you use?

[2021-06-03 13:33] YBB8201 commented on #1428
I want to understand how I can change debug mode in the config file via the
environment variable. it will set the env var by jenkins and then it will
send to debug or production depending on the env var i set. Is it possible ?

On Thu, 3 Jun 2021 at 16:25, Yauheniya Labanava ***@***.***>
wrote:

[2021-06-03 14:13] Yumfriez commented on #1428
you can pass it using java variables:
-Drp.mode=DEBUG

[2021-06-03 15:12] YBB8201 commented on #1428
Sorry, i didnt understand. Can i set envirenment vaiable in order to choose
debug or production?

בתאריך יום ה׳, 3 ביוני 2021, 17:13, מאת Ivan ***@***.***>:

[2021-06-03 17:33] naddison opened #1429 "[v5]"
**Describe the bug**
The filter by attribute value option is taking too long to load, and halts.

**To Reproduce**
1. Try to filter launches by Attribute Value.

**Expected behavior**
The attribute value box should find matching values as the user types.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![rp_attribute_value_filter_fail](https://user-images.githubusercon

[2021-06-03 17:45] evjlobanova commented on #1429
If you choose also the attribute key, it reduces number of possible attribute values

[2021-06-03 18:02] naddison commented on #1429
Ahh fair enough. I still think a valid performance issue, or perhaps you shouldn't allow filtering by Attribute Value, without first defining a key.

[2021-06-03 18:05] YBB8201 commented on #1428
I found the solution. add new env var "ReportPortal_Launch_DebugMode" and set it to true/false
thx

[2021-06-03 18:05] #1428 closed

[2021-06-03 18:29] evjlobanova commented on #1429
I agree with you, that it is not correct behavior.
We will think about it.
Actually, we are planning to rework this filter and add a possibility to filter by pair key: value.
And have only 1 field for filter instead of Filter by key, and filter value

[2021-06-03 19:07] MithunDavid commented on #1423
Thanks for the update!

On Wed, Jun 2, 2021 at 8:00 AM Yauheniya Labanava ***@***.***>
wrote:

--
Mithun David
Phone: (612) 244-8295

[2021-06-03 19:18] nvborisenko commented on #1428
Or even yes/no. Please help us to improve documentation, where you found this solution, to be clearer for everybody.

[2021-06-04 06:46] venkiit58 commented on #1417
Please, can this be resolved, we do have same issue.

[2021-06-04 06:50] PrakashChoudhury-386 commented on #1417
+1 Having the same issue on MAC .

[2021-06-04 10:23] YBB8201 commented on #1428
Well, i assume it would be great to have a full list of the possiable keys
and corrisponding values that can be used in the jason config file. In
addition, to have the same list for environment variables and thier
optional values. Will be v e r y usful. Thx!

בתאריך יום ה׳, 3 ביוני 2021, 22:18, מאת Nikolay Borisenko ‏<
***@***.***>:

[2021-06-04 10:59] evjlobanova commented on #1428
On profile page, you have a list with options

[2021-06-04 20:36] bzsharm commented on #1401
Were you able to log in after the installation?

[2021-06-06 06:23] YBB8201 commented on #1428
ok,
but I can't see any list for *environment variables* and their optional
values.
I found what I was looking for in some "Issue" in your github - I think
it's not convenient  - you need specific instructions with the Environment
variables names we can use in order to control the configuration.
thx

On Fri, 4 Jun 2021 at 13:59, Yauheniya Labanava ***@***.***>
wrote:

[2021-06-07 10:12] rplevka commented on #1317
@sspieker-cc thanks. So this looks like a bug (lack of feature) of the junit importer.

[2021-06-07 17:09] akeshmiri commented on #1098
Hi @evjlobanova,
any thought on this?
Shall we reopen the bug or create a new one?

[2021-06-07 18:13] himkumar1990 commented on #555
Hi , Can you please explain how can we use launch id in the reportportal.properties

[2021-06-07 18:27] naddison opened #1430 "[v5] Loading test item page not loading, spinning loading wheel"
**Describe the bug**
When drilling down into the leaf test-item in a chain, it does not load and I end up on a spinning loading wheel indefinitely.

**To Reproduce**
Click through a launch, test suites, until clicking on the final leaf node, the test case.

**Expected behavior**
The page should load without issue.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Des

[2021-06-07 19:08] evjlobanova commented on #1098
@akeshmiri it can be connected with your instance configuration? Could you please check if your configuration is chosen in accordance with our system requirements:
https://reportportal.io/docs/Optimal-Performance-Hardware%3E1-disk-i-o

[2021-06-07 19:10] evjlobanova commented on #1430
@irynakozak2 could you please check this issue? Can DB reindex can help here?

[2021-06-07 19:41] mchundi opened #1431 "API for flaky test"
As a super admin, is there a way I can retrieve flaky tests for all the applications on report portal?
This can include application that do not have flaky tests widget created on their dashboard.

[2021-06-07 19:49] evjlobanova commented on #1431
No, there is no such functionality but ReportPortal has a History table, you can retrieve this info, and after that use this infor for your needs.
Could you please describe your case and business need for this operation?

[2021-06-07 19:55] mchundi commented on #1431
We have onboarded multiple teams to reportportal and the tests flow through a common framework. From this framework I would like to retrieve the flaky tests for all teams and show in summary dashboard for admin (Either through API or through UI).

[2021-06-07 20:08] evjlobanova commented on #1431
Could you please elaborate on what the onboarding process includes in your case?

[2021-06-07 21:06] mchundi commented on #1431
created a separate project for each team.
Like we have "cumulative trend chart", is there a widget/API to get the flaky tests?

[2021-06-08 06:30] priyankachaturvedi30 commented on #1424
@MariyaIvanina : Did you get a chance to look at the above problem?

[2021-06-08 07:20] MariyaIvanina commented on #1424
@priyankachaturvedi30 Hi! Sorry for late response. I've looked at the problem, and I see that some words in square brackets was not accounted, as far as I added the logic for checking the similarity to be either the message or message without info in brackets to handle the situation by the trained model. But I can see that the model won't be trained so fast to account for it, and in 5.4 I return c

[2021-06-08 07:35] evjlobanova commented on #1431
We have "TOP-20 f laky tests" widget, but it shows info for launches with the same name for 1 project

[2021-06-08 07:38] evjlobanova commented on #1424
We are waiting for 5.4 this month

[2021-06-08 07:38] #1424 closed

[2021-06-08 08:28] irynakozak2 commented on #1430
@naddison hello, which version of ReportPortal do you use? Please also check, that your instance capacity is met minimal performance requirements, especially Disk specification, and revise the database configuration following the Performance Docs [here](https://reportportal.io/docs/Optimal-Performance-Hardware%3E5-postgresql-performance-tuning)

[2021-06-08 08:33] irynakozak2 commented on #1098
@akeshmiri in version 5.4.1 we made refactoring for the best performance of the Defect Types updating and made this process async and it will allow us to update the defect types almost immediately.

[2021-06-08 09:41] evjlobanova commented on #1098
We are planning to release 5.4 this month
And 5.4.1 will come ±2 weeks after 5.4

[2021-06-08 09:42] #1170 closed

[2021-06-08 09:43] #1143 closed

[2021-06-08 09:44] #1168 closed

[2021-06-08 09:44] #1167 closed

[2021-06-08 09:45] #1196 closed

[2021-06-08 10:16] priyankachaturvedi30 commented on #1356
@VolhaKarenko : Did you get a chance to discuss this with your team?

[2021-06-08 12:53] bzsharm commented on #1391
Any update on the request !  @Cyberglamdring

[2021-06-08 13:58] leonardsaraujo commented on #1419
Hi, I have a scheduler that runs some tests every day, it's not the same test and sometimes the interrupted status appears, I thought it could be caused by some problem with scheduler slowdown, however I increased the time the scheduler runs to make sure it that it wasn't finishing before the test was fully run

[2021-06-08 15:17] caponord commented on #1401
@bzsharm
Yes, works well. The steps does work.

[2021-06-08 18:34] naddison commented on #1430
API Service: 5.3.0
Index Service: 5.0.10
Authorization Service: 5.3.0
Service UI: 5.3.0

Our machine is 4 cpu, 16G Memory and 500 GB of space, of which only 11% is being used `488G   54G  435G  11%`

All services are running on the same machine using docker-compose.

[2021-06-08 20:22] akeshmiri commented on #1098
Thank you @evjlobanova and @irynakozak2 for the update.
You are your team doing a fantastic job to support this.
looking forward to getting 5.4.

Best luck to you

[2021-06-09 05:55] priyankachaturvedi30 commented on #1424
@MariyaIvanina : Just one quick question around your last comment. When you say that you would be implying logic to **check similarity strictly by the whole message**  - does this imply that the numbers would be removed first and then the words would be matched strictly?

[2021-06-09 06:57] MariyaIvanina commented on #1424
@priyankachaturvedi30 Yes, I mean that numbers will be removed(this logic stays the same), but all words would be taken into account.

[2021-06-11 05:19] harish4b4 commented on #1426
Any update on this request please?

[2021-06-11 05:19] harish4b4 commented on #1427
any update please?

[2021-06-11 06:59] VolhaKarenko commented on #1356
@priyankachaturvedi30 sorry for the late reply. Currently our team is busy with other tasks, and the feature you mentioned need some extra discussions and investigations. By now it's hard to tell whether we will implement it or not.

[2021-06-11 08:11] evjlobanova commented on #1427
As I mentioned, for now, the system has the possibility to reflect annotation only for Nested steps names. Tests name  are reflected as are. The system works as designed.

We will discuss this request internally, define if there are any limitations.

[2021-06-11 10:20] SubratKumarTR commented on #1420
Hi team,

Auto vacuum clean up  has been been trigged, Again  the CPU Utilization is too High  Please find the attached Screenshot

![RDS CPU Utilization 11-06-21](https://user-images.githubusercontent.com/76808612/121667225-ade99080-cac7-11eb-866f-94f32a157a7f.PNG)

We have changed the parameters in the Report Portal are below-

RP_ENVIRONMENT_VARIABLE_CLEAN_ATTACH = "P1D"
RP_ENVIRONMENT_VARIABLE

[2021-06-11 14:36] evjlobanova commented on #1420
Hello @SubratKumarTR
In general, we are the team of ReportPortal products, but this question is more about RDS DB.
That is why it should be resolved on your side.

But we can propose a support package.
In the scope of paid support, our team can configure your instance and make customization to resolve your problem.
Please drop a letter to support@reportportal.io, if you need more details on paid p

[2021-06-11 15:20] SubratKumarTR commented on #1420
Hi @evjlobanova,

The configuration which we have implemented were  recommend by  Report Portal Team. When ever  the Report Portal triggers cleanup the data retention is going up which is indirectly increasing  CPU utilization to 100% , Please can you provide a solution for it.

Thanks,
Regards.

[2021-06-11 17:37] leonardsaraujo commented on #1419
Hello! Everything is running correct and we don't have any error message or stuffs like that, the only problem is that some test just get the interrupted status on RP at the browser, i saw that this problem was fixed in another pull request but wasn't released yet, i'm using the version 5.0.5 does this fix released ?

The pull request mentioned is: (https://github.com/reportportal/agent-python-pyt

[2021-06-11 18:09] evjlobanova commented on #1420
@SubratKumarTR ReportPortal is a free open source tool, our team is doing and developing the product, and also users support. In case of a team's high load on the project, the volume of user support is reducing.

Our perf engineer will check this issue when she has capacity.  For now, all team is busy with the nearest release (5.4. and 5.4.1).

[2021-06-14 06:20] keydiram opened #1433 "Duplicate reporting to Report Portal"
Hi, I wrote the following class that extends the ReportPortalExtension and sends logs to the Report Portal. In the test classes I use @ExtendWith(BtRunner.class) instead of ReportPortalExtension. When I run a test class as junit, it runs exactly as it should. The problem is that when I run maven integration test, there's a double report for every item. Once with my buildFinishTestItemRq method and

[2021-06-14 07:16] evjlobanova commented on #1433
Which agent and version of it do you use?

[2021-06-14 08:24] keydiram commented on #1433
<artifactId>agent-java-junit5</artifactId>
<version>5.0.2</version>

Report Portal version: Build: 5.1.0

[2021-06-14 08:37] evjlobanova commented on #1433
We are using the latest version 5.3.5
Since version 5.1 we have fixed a lot of bugs.
Please update to the latest version, and try to reproduce bug again

[2021-06-14 08:41] lakshminagandla opened #1434 "Unable to redeploy the report portal with out loosing the data."
Hi ReportPortal Team,

Recently we come across with an issue saying, Report portal instance/machine recently crashed all the softwares that are deployed in C: drive. But we have Docker volume is stored in another drive.  Now we followed the below steps but unable to rollback the Report portal data.

Procedure - 1:
1. Installed docker.
2. Pointed the docker image location to the existing docker ima

[2021-06-14 08:58] irynakozak2 commented on #1420
@SubratKumarTR hello!
Can you please provide a full SQL query from your Top SQL monitoring stats? Be better, if you also check and past additional DB metrics: CPU iowait, Disk IO read/writes.
Looks like your database instance is overloaded by CPU, but not because of the SQL queries, which are related to cleaning jobs.

[2021-06-14 09:05] irynakozak2 commented on #1430
@naddison thank you! Our latest version is 5.3.5, and 5.4 is on the release way, so please firstly update the service versions.
Do you use SSD or HDD on this machine? The database performance tuning options also required for the ReportPortal DB. Please, revise them, based on the docs placed [here](https://reportportal.io/docs/Optimal-Performance-Hardware%3E5-postgresql-performance-tuning)

[2021-06-14 10:20] ashishmeesho commented on #1316
@HardNorth and @Priyanghaa, the issue is with test parameter value length, it parameter value length is more than 128 char, it is breaking, but in most of the cases, it will be more than 128. Wherever we will pass an object with more fields, its toString value is more than 128 char.

[2021-06-14 12:37] SubratKumarTR commented on #1420
Hi @irynakozak2,

Please find the all the information details which you have asked for are below -

**full SQL query from your Top SQL monitoring status screenshot are below**-

![Top SQL](https://user-images.githubusercontent.com/76808612/121892780-cb726080-cd3a-11eb-8120-9d71d21bedf8.PNG)

**CPU iowaits Screenshot are below** -

![OS CPU-utilization](https://user-images.githubusercontent.com/768

[2021-06-14 21:06] shiva4983 commented on #715
Hi @DzmitryHumianiuk @avarabyeu, are the changes deployed. Please advise.

[2021-06-16 05:48] baradhiren94 opened #1435 "Timeout error when multiple builds are running simultaneously"
Hi,

I have deployed report portal on a cloud instance behind a VPN. And using agent-js-mocha with mocha-multi-reporter in my automation framework to log test results.

Here is my configuration:
[code]

Every time the build gets executed in the CI/CD env it automatically picks up the $BRANCH and updates the launch attribute accordingly.

I see that the test results are being logged successfully fo

[2021-06-16 11:52] HardNorth commented on #715
@shiva4983 Well, no. If we talk about the RP mentioned above. Review comments were never fixed and the request is outdated now.
But AFAIK we did some changes to support OpenShift in scope of other PRs, so I believe RP is compatible. At least someone should try to deploy it and tell us if it's not true.

[2021-06-16 11:52] #715 closed

[2021-06-16 12:26] talgreen1 opened #1436 "Installing ReportPortal on 2 VMs - App & DB"
Hello,
According to this [article](https://github.com/reportportal/reportportal/wiki/Production-Ready-set-and-Deployment-Customization) it is recommended to use 2 VMs - one for the APP and one for the DB & storage.

Can you please specify what needed to be changed in the docker-compose file in order to achieve this?
Do I need to install anything manually on the DB vm?

Thanks,
Tal.

[2021-06-16 23:00] rbecerraj opened #1437 "GitLab Pipeline Report Portal Integration"
Hi, I'm running WinAppDriver (Windows UI Automation tool) to automate an app within GitLab CI/CD and Report Portal. The thing is that when I run the automation locally I'm able to see the report results  in Report Portal but when I run the automation from the gitlab pipeline the test cases are executed but the results are not sent to report portal, here is the error message:

`'An unknown error oc

[2021-06-17 07:19] priyankachaturvedi30 commented on #1382
@evjlobanova : Did the team got a chance to look at above issue ?

[2021-06-17 07:43] evjlobanova commented on #1382
Not yet, @Cyberglamdring is on vacation
He will take a look, when he returns

[2021-06-17 09:10] irynakozak2 commented on #1420
@SubratKumarTR Thanks for the details.
There some hints regarding the resource utilization during Clean Logs Job.

Database load by CPU depends on clean workers count(pool size).
The number of clean workers needs to be set to "1" (the default value is "5") for reducing SELECT queries' average latency/call and increasing rows/sec processing.

To set the number of clean workers, the next environment

[2021-06-17 09:29] priyankachaturvedi30 opened #1438 "No Defect Category - Does AA works for this category?"
Just Checking - We have a category as No Defect. For those failed cases that I put in this category, would analyzer be able to categorize those as well in subsequent runs?

[2021-06-17 09:45] #954 closed

[2021-06-17 13:16] rosariotech opened #1439 "Wrong version in docker-compose"
I was trying to run the latest docker-compose and it was showing a Manifest error. I figure it was the version on service-ui that was incorrect in the docker-compose.yml.

![20210617-000009](https://user-images.githubusercontent.com/23159394/122403787-051eb380-cf55-11eb-8fac-ddf85255ede3.png)
![20210617-000008](https://user-images.githubusercontent.com/23159394/122403796-05b74a00-cf55-11eb-8161-75

[2021-06-17 14:19] AmsterGet commented on #1414
Hello @mgiamberardino !
Could you explain your case in more detail? Are multiple users using a RP application from the same browser on the same machine?
Saving f.e. the user's `activeProject` in `localStorage` can reduce the amount of interaction with the user to find the desired project after the session expires (similar to logging out).

[2021-06-17 18:58] evjlobanova commented on #1439
Version 5.4 is not officially released yet.
Please wait for an official annoncment

[2021-06-17 18:58] #1439 closed

[2021-06-17 19:03] evjlobanova commented on #1438
For now not - No Defect is not included to AA.
In version 5.4.1 - we have added a possibility to automatically mark by No Defect failures which appear in the next run. But still, we are not planning to use No Defect as full defect

[2021-06-17 19:03] #1438 closed

[2021-06-17 19:04] #1433 closed

[2021-06-18 06:01] SubratKumarTR commented on #1420
Hi @irynakozak2 ,
We will make changes , and  update you soon .

Regards,
Subrat.