[2020-06-10 09:00] evjlobanova commented on #1008
We have such a feature in our backlog, but it is difficult to say ETA for the feature.

Anyway, do you use SauceLabs integration in ReprtPortal?

[2020-06-10 09:05] evjlobanova commented on #1005
Thank you @MariyaIvanina
Anyway @priyankachaturvedi30 we will discuss internally your use case, and think how it is better to deal in such a situation.

[2020-06-10 09:16] Vaibhavshukla08 commented on #996
@DzmitryHumianiuk Thank you so much for your reply on the issue .
@evjlobanova - Could you please let me know the cost if I want to customize the RP for Cloud Jira

[2020-06-10 09:57] priyankachaturvedi30 commented on #1005
Thanka @MariyaIvanina @evjlobanova : I have got a better understanding now.Just 1 more doubt. Say if I have similar stacktrace and have marked the launches as below:
Launch 1 : PB (manual)
Launch 2 : PB (Auto-Anlayzed)
Launch 3 : AB (Manual  - in a case say where PB got resolved and I now need to update my Automation script so the defect now becomes AB for me)

Now that the item with same stacktra

[2020-06-10 09:57] blue995 commented on #1007
@evjlobanova Hi, we just looked at the permission map and decided that the additional permissions of the "Member" role are not necessary for our use case, because users do not upload launches by themself. There is a dedicated account for uploading launches.

For security reasons we've decided that a user should just have as much permissions as he really needs, so we chose the Operator role.

The o

[2020-06-10 10:09] evjlobanova commented on #1005
@priyankachaturvedi30  PB
But in the launch # 5 there is most likely will be AB  (if you have changed to AB in launch 4)

[2020-06-10 10:12] evjlobanova commented on #1007
A description for rerun you can find here https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md

I see, so I will take it into account for future bug prioritizing.

So, for now, history is unavailable for Operator, but it would be fix

[2020-06-10 10:13] MariyaIvanina commented on #1005
@priyankachaturvedi30 We don't have a separate logic about manual overriding defect types, so I think the result will be PB, because we have 2:1 proportion of defect types.

[2020-06-10 10:16] evjlobanova commented on #1005
@priyankachaturvedi30 As I told you earlier, we will think about adding of this logic)
I suppose it could be, but we should think about it carefully

[2020-06-10 10:45] evjlobanova commented on #996
@Vaibhavshukla08 it is difficult to say the cost right now.
We can organize a call, discuss possible ways of interaction, and define a scope.

Please drop us a letter on support@reportportal.io and we can discuss all details

[2020-06-10 10:58] Vaibhavshukla08 commented on #996
@evjlobanova Thanks for reply.
Sure I will drop a letter and we can discuss more on details in a call.

[2020-06-10 14:09] odubaj opened #1009 "results of testcases mixed between executions while displaying history"
There might be a problem with displaying history of test-cases and their results between launches

It is awaited, that one launch will have its test-case results in one column. In this case, it is mixed.

screen 3 contains on row 1 column 1 launch No.7 for ruby-el8

screen 2 contains on row 1 column 2 launch No.6 for ruby-el7

screen 1 contains on row 2 column 2 launch No.7 for ruby-el8

It means

[2020-06-10 18:52] serhiikachan opened #1011 "Launch never finishes but CI job finishes successfully [v5]"
We have upgraded RP from 4.3 to 5.2.
Upgraded agents accordingly:
**agent-java-cucumber4** 5.0.0-Beta-9
**client-java** 5.0.0
**logger-java-logback** 5.0.0

Launch stucks and never finishes until performing force finish manually, however job completes successfully.
We might have up to 50 launches executing in parallel, and this problem applies for several pipelines, not for all of them.

![image](

[2020-06-10 19:15] #1011 closed, assigned to nobody

[2020-06-10 23:26] fahadnaeemkhan opened #1012 "Support for ExUnit"
Is there any plan to support ExUnit by Elixir?

[2020-06-11 07:59] evjlobanova commented on #1004
![image](https://user-images.githubusercontent.com/30413511/84360311-8caf4500-abd2-11ea-9d51-4e4ef82438c5.png)

[2020-06-11 08:03] evjlobanova commented on #1004
Once you resolve the first issue, I suppose the second question will be resolved also.
Regarding the 3rd question, what screenshot do you need?

@svettsova maybe you have an idea?

[2020-06-11 08:06] evjlobanova commented on #1012
@fahadnaeemkhan for now our main goal to update and improve existing integrations.

But we will glad if you decide to help us with new integration implementation.
I can send you all needed dev guides for that

[2020-06-11 08:10] evjlobanova commented on #1009
@odubaj it is not a bug, it is a new logic for History of Table.
You can find a description in our documentation:
https://reportportal.io/docs/History-of-launches%3Ehistorical-trend-of-executions

If you have any question regarding this functionality, please let us know

[2020-06-11 08:10] #1009 closed

[2020-06-11 13:04] priyankachaturvedi30 commented on #1005
@evjlobanova One more use case got across my mind. Say I have 2 test cases(TC1 and TC2). There is a message pop-up that I need to verify in both these cases as one of the intermediate scenarios. Now suppose,  Failure occurs while validating the pop-up in TC - 1 -> due to system slowness the pop-up did not gets loaded and in TC - 2 -> the pop-up genuinely does not load because of some product bug i

[2020-06-11 14:31] snackattas opened #1013 "Display more results in Flaky/Most Failed test case tables"
**Describe the solution you'd like**
Right now, My 2 favorite widgets are the `Most failed test-cases table` and the `Flaky test cases table`.

<img width="187" alt="06-11-2020 09 26 38_F0ycdT" src="https://user-images.githubusercontent.com/12533693/84398601-c594ed00-abc5-11ea-8a2d-02aec66c68ff.png">

But they only display the TOP 20 results !?!?!  I would LOVE it if these charts were able to conf

[2020-06-11 14:54] evjlobanova commented on #1013
@snackattas It will be really nice! For now limit 20 has been chosen because of performance limitations.
We are planning to implement in the future a materialized view widgets, which will show a really  heavy statistics.

For now, we have a History table view, on that view, you can find Flaky and Most failed items by yourself.
![image](https://user-images.githubusercontent.com/30413511/84401782-55

[2020-06-11 14:54] evjlobanova commented on #1013
#884

[2020-06-11 14:55] DzmitryHumianiuk commented on #1011
@SerhiiKachan try to clean the cache.
there is not option not to finish launch in v5, that was a groundbreaking change in v5.
the only possible reason is kill of process.

please try to refresh dependencies.

[2020-06-11 14:59] snackattas commented on #1013
I understand if there are performance concerns.

But my test launch is pretty tiny, one run is only like 200 tests

So i would gladly incur performance costs if there was a way to hack it together

[2020-06-11 15:09] SerhiiKachan commented on #1011
@DzmitryHumianiuk thanks, will try to clear cache.
looks like here are used the latest releases of agents. Or what do you mean ?

[2020-06-11 15:49] dharma-keyutech opened #1014 "How to Send a Video To reportportal"
Can any one guide how to display video of our test scripts into reportportal logs section

[2020-06-11 17:18] DzmitryHumianiuk commented on #1011
@SerhiiKachan we see quite often that after version bump, mvn dependencies continue to use old cached versions.

[2020-06-11 17:31] DzmitryHumianiuk commented on #1012
@fahadnaeemkhan we are open for contribution at this point.

[2020-06-11 17:33] DzmitryHumianiuk commented on #1013
@evjlobanova top20 was a limit for MongoDB based API.
Queueing PostgreSQL might be cheaper from performance standpoint.

[2020-06-12 06:08] Nagalakshmi17 opened #1015 "Unable to post screen recorded video in project path to reportportal logs section"
public static void StartRecorder() {
		((CanRecordScreen) driver).startRecordingScreen();
	}

	public static void StopRecorder(String methodName) throws Exception {
		String media = ((CanRecordScreen) driver).stopRecordingScreen();

		java.util.Date d = new java.util.Date();

		String dirPath = "./videos/" + methodName + " " + d.toString().replace(":", "_");

		File videoDir = new File(dirPath);

[2020-06-12 07:08] sridhars20 opened #1016 "[v5]"
**Describe the bug**
A clear and concise description of what the bug is.
Installed report-portal via shell installation and was trying to create Generate demo data using default user and encountered below error

[code]

**To Reproduce**
Install reportportal via shell installation.
Login as default user.
Try to generate demo data
**Expected behavior**
A clear and concise description of what you exp

[2020-06-12 10:36] nvborisenko opened #1017 "[v5] Nested step is shown in tests tree"
When reporting nested step for suite, not for test, nested step is shown in tests tree.

![image](https://user-images.githubusercontent.com/22616990/84493881-3107b900-acb1-11ea-897b-fd89d645f401.png)

# Additional info
This nested step is also displayed on `log` view for suite, and this is expected. If we see the list of tests by navigating from launch stats (clicking on Total), nested step is not

[2020-06-12 11:51] DzmitryHumianiuk commented on #1015
@Nagalakshmi17 there is a file size limit.
128Mb in single request (@Yumfriez  can confirm).

@Nagalakshmi17 any errors in logs?

[2020-06-12 12:29] Nagalakshmi17 commented on #1015
error during video capturejava.lang.NullPointerException

[2020-06-12 12:30] evjlobanova commented on #1017
@Yumfriez could you please help
@nvborisenko can you please send us steps for reproducing?

[2020-06-12 13:41] nvborisenko commented on #1017
https://web.demo.reportportal.io/ui/#default_personal/launches/all/28/1924 plz explore this report.

[2020-06-12 14:15] evjlobanova commented on #1017
The launch has been deleted, I guess

[2020-06-12 14:17] evjlobanova commented on #1017
Am I right, you are trying to report?

Launch
     Suite > Nested step
          Step
          ...
          Step

[2020-06-12 14:17] evjlobanova commented on #1017
@svettsova Could you please try to reproduce this bug?

[2020-06-12 15:55] chhatbarjignesh opened #1018 "Launch Specific URL redirects to the last login project for the user"
**Describe the bug**
I am generating the Launch URL for the slack notifications dynamically after each launch completes for example `https://reportportal.****.com/ui/#project_name/launches/all/100969` where #project_name is the project in which launch was executed and 100969 is the id of launch now when user clicks on that link and if they are not logged in or in the different project then it auto

[2020-06-12 16:49] chhatbarjignesh commented on #1018
While doing further investigation, I found that if I pass the project name in lowercase it works fine. Now the priority is changed but it's worth looking into

[2020-06-12 18:07] MariyaIvanina commented on #1005
@priyankachaturvedi30 we use a test case history as a boost, so analysis will have this information, but the model is trained and it has different weights for used statistics, so I guess that defect type from TC1 will have advantage for the next run and for the same log, but we can't say exactly what the probability will be.

[2020-06-15 09:09] svettsova commented on #1017
Defect has been reported

[2020-06-15 09:40] MariyaIvanina commented on #1005
@priyankachaturvedi30 One more question about your first use case. Could you please explain, why would you like to override the defect type for the test item with the same log? I wonder whether the first run was a real Product bug, and in the 3rd run it is not a Product bug, but Automation bug, so other conditions implies you to say different defect types for the same error logs? or the first run

[2020-06-15 13:27] Yumfriez commented on #985
@edyp There is a modified script with test data and image (mine was almost 20mb so I can't attach it here, try your own):
`curl --header "Content-Type: multipart/form-data" \
     --header "Authorization: Bearer YOUR_TOKEN" \
     -X 'POST' \
     -F 'json_request_part=[{"launchUuid":"d64bc313-ee55-4177-a31e-45047bca2982","time":"2021-11-06T15:50:53.187Z","message":"Some critical exception","level

[2020-06-15 13:29] Yumfriez commented on #561
Added modified script to the new issue:
https://github.com/reportportal/reportportal/issues/985

[2020-06-15 13:45] priyankachaturvedi30 commented on #1005
@MariyaIvanina : Same error log can be seen in an example where say the some button is actually missing(PB) or the same button xpath is incorrectly specified in automation Script(AB). In both these case the same error would be thrown : Unable to locate element. Now for 1 launch : Since button is not there so I marked it as PB. The issue got fixed and now the button is there. So now when I run my L

[2020-06-15 13:53] priyankachaturvedi30 commented on #1005
Also, as suggested by you, Maybe the user realizes it on further investigation that the issue is not actually a PB but an AB. So he might want to override it so that it is correctly analyzed in future runs. There can be a fair possibility as stated by you that maybe in later runs the actual issue type is discovered and the user would want to override the previously marked defect type.

[2020-06-15 14:25] DzmitryHumianiuk commented on #985
@edyp does it help?

[2020-06-16 08:11] evjlobanova commented on #1017
The root cause of the problem is in structure.
We will be fixing this

[2020-06-16 08:13] evjlobanova commented on #1018
@Yumfriez could you please check this issue?

[2020-06-16 08:23] evjlobanova commented on #1018
@chhatbarjignesh projects are saved in DB in lowercase, so it works as it was considered, I suppose
It is not actually a bug

[2020-06-16 09:15] evjlobanova commented on #1014
@dharma-keyutech if you are using SauceLabs, we can propose to configure a SauceLAbs integration https://reportportal.io/docs/Sauce-Labs-integration

In this case, you will see a video right in ReportPortal.

Otherwise, you can attach video files to execution as simple attachments, but for viewing it, you should firstly download it.

There is one more option, if you store your video in the cloud,

[2020-06-16 09:18] evjlobanova commented on #1013
@snackattas so I suppose, you are proposing the same thing as described in #884. am I right?

[2020-06-16 10:01] pbortnik commented on #1016
Hi,
What tables do you have in reportportal database?
Have you run db-scripts while installing reportportal?

[2020-06-16 14:11] evjlobanova commented on #1005
@priyankachaturvedi30 We are planning to add this improvement in a scope of 5.3

[2020-06-16 14:27] snackattas commented on #1013
#884 is about adding filtering capabilities to the "Most failure test-cases" widget (now it only allows filtering by name)

I'm talking about showing MORE test cases in the widget. Right now it only shows TOP 20, but I'd like to show top 100

[2020-06-16 14:31] priyankachaturvedi30 commented on #1005
Great ! Much Appreciated.

[2020-06-16 15:42] chhatbarjignesh commented on #1018
@evjlobanova I agree but when I make the API calls its not case sensitive, upper or lower case my API call works but when I enter in URL as upper case its not working. I am fine closing the issue but I think it should return the correct data irrespective of the case in URL too as it is returning the data via API.

[2020-06-16 15:44] chhatbarjignesh commented on #1018
Closing this issue as discussed in the above thread, Future visitors, however, you enter the project name upper case lower case while creating through UI it stores it in lowercase in the database, API call works fine irrespective of case, but when entering URL in browser you have to use Project Name as a lower case to make it work.

[2020-06-16 15:44] #1018 closed

[2020-06-16 20:21] bzsharm commented on #668
@jainriteshkumar17  @DzmitryHumianiuk  Hi Guys , do we have definite solution for
 Ready-API(not soap-ui) integration with Report Portal,the documentation available says deprecated

[2020-06-17 04:41] dharma-keyutech commented on #1014
can you Explain how we can display our total script exection video  in Logs section

[2020-06-17 08:47] evjlobanova commented on #1014
@dharma-keyutech do you want to attach a video file to execution or do you want to view the video on log view in test execution?

[2020-06-17 08:49] evjlobanova commented on #1014
Here you can find a dev guide on how to attach a file to test executions
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs

Which agent do you use for reporting?

[2020-06-17 13:46] dharma-keyutech commented on #1014
I need Guidence for  video on log view in test execution?

[2020-06-17 14:30] kainosact commented on #1016
I've followed all the instructions here https://github.com/reportportal/shell-installation

[2020-06-17 15:06] kainosact commented on #1016
@pbortnik  Sorry forgot to send you the list of tables earlier.. Here you go
`                   List of relations
 Schema |              Name               | Type  | Owner
--------+---------------------------------+-------+-------
 public | acl_class                       | table | <obfuscated>
 public | acl_entry                       | table | <obfuscated>
 public | acl_object_identity

[2020-06-17 15:10] kainosact commented on #1016
@pbortnik  Sorry forgot to send you the list of tables earlier.. Here you go

                   List of relations
 Schema |              Name               | Type  | Owner
--------+---------------------------------+-------+-------
 public | acl_class                       | table | <obfuscated>
 public | acl_entry                       | table | <obfuscated>
 public | acl_object_identity

[2020-06-17 16:40] chhatbarjignesh opened #1019 "[v5] If you have https enabled for your URL invite user links is still generated with http"
**Describe the bug**
If you have https enabled for your URL and try to invite the user the link that it creates is with HTTP:// not https:// and due to that when a user tries to create an account it says site can't be reached

**To Reproduce**
deploy rp with https enabled
enable email plugin
invite user using email

**Expected behavior**
It should allow the user to create the user

**Screenshots**

[2020-06-18 08:37] evjlobanova commented on #1019
@chhatbarjignesh Could you please send a screenshot with invite form
![image](https://user-images.githubusercontent.com/30413511/84998041-fb068100-b157-11ea-9f76-80139f3197cc.png)

[2020-06-18 12:50] goncaloneto opened #1020 "[v5] Logs order within the same second is wrong"
**Describe the bug**
The logs should take into consideration the milliseconds in the timestamp. Right now, if the 2 or more messages are logged in the same second, ReportPortal is displaying the wrong order.

**To Reproduce**
Log multiple messages, one after the other.

**Expected behavior**
The order you used should be the same as the order displayed in RP logs.

**Screenshots**
![Screenshot 2020

[2020-06-18 14:54] bzsharm opened #1021 "Unable to integrate Ready API with Report Portal (Not Soap UI)"
**Issue – Unable to integrate Ready API with Report Portal (Not Soap UI),**

When I checked in the “ready api” documentation from “reportportal.io”,
It says “DEPRECATED in favor of soapui agent (Refer Below),

https://github.com/reportportal/agent-readyapi

So, I opened another link from the above url ,
https://github.com/reportportal/agent-java-soapui

There were instructions to download the zip

[2020-06-18 15:50] snackattas opened #1022 "[v5] Most failed test cases and Flaky test cases widget fail to populate data"
**Describe the bug**
We are deploying report portal in kubernetes

We have about 60 launches, should be enough to populate either the Flaky test cases widget or the Most Failed test cases widget. but they consistently show up as having no data available

<img width="669" alt="06-18-2020 10 49 11_VOm7cu" src="https://user-images.githubusercontent.com/12533693/85042888-5f721200-b151-11ea-8548-aae8ce

[2020-06-18 17:38] allan-silverstein opened #1023 "White space removed in stdout output"
Hi,
I'm using reportportal with pytest.  In some cases I have data written out to the screen in a table like format (using python tabulate).  When the data is displayed in my Linux shell, all the columns line up as the column data is padded to make the columns like up nice:

[code]

However, when viewing the same data in Report Portal (when the Logging slider bar is at info), it appears multiple w

[2020-06-18 20:10] mihtac opened #1024 "Pattern Analysis - search scope expanded to whole log"
I noticed that pattern analysis (for string at least) seems to only be looking in the "marked as failed" step in logs, and not whole log trace for that scenario. I'd prefer it to search through the whole log set for the scenario (bdd)
...

I am limited in what patterns I can define, since the search scope is only on failed steps
...

[2020-06-19 06:58] evjlobanova commented on #1024
Could you please provide more details on that request?

Now PA is searching patterns in Error logs and higher because the main goal for PA to define the items which failed with the same known problem.

Do you use nested steps?
Which version of ReportPortal do you use?

[2020-06-19 07:00] evjlobanova commented on #1023
@iivanou Could you please check if this behavior is handled on the agent side on the server-side?

[2020-06-19 07:01] evjlobanova commented on #1022
@snackattas Please send us a screenshot for widget wizard for this widget

[2020-06-19 07:02] odubaj opened #1025 "History of test cases not displayed fully - v5.2"
Test case results are not displayed in history.

We have 2 types of launches. Launch ruby-el7 is runned 3 times, lauch ruby-el8 is runned 4 times. So we have 7 launches in our system. The test plans are named the same and most of the test cases are identical. But if we display the history, we do not see all results, but just a few of them. The missing ones are displayed as if there were no such te

[2020-06-19 07:06] evjlobanova commented on #1021
We are not supported Ready API now. Only Soap UI.
We will be glad if you decided to contribute and update the Ready API agent.

[2020-06-19 07:13] evjlobanova commented on #1022
Regarding logs for Analyzer and Rabbit

The problem with the widget does not connect with these logs.
But these logs are not good at all)
I suppose the problem is in deployment.

Do you use Auto-Analysis?

[2020-06-19 07:16] evjlobanova commented on #1020
@svettsova Valya could you please check this issue and try to reproduce?

[2020-06-19 07:42] bzsharm commented on #1021
Thanks for your response.
I will definitely update if I have any progress.

[2020-06-19 07:57] evjlobanova commented on #1025
@odubaj Does a launch 'ruby-el8 # 4' have earlier start time as a launch 'ruby-el7 # 3'?

[2020-06-19 08:00] evjlobanova commented on #792
@gaurav-singh Are you succeed in your investigations?

[2020-06-19 08:01] evjlobanova commented on #961
Closed due to no answer, please reopen it, if it is still actual for you

[2020-06-19 08:01] #961 closed

[2020-06-19 08:16] evjlobanova commented on #994
@anjanamoorthi The system works as designed

[2020-06-19 08:17] #994 closed

[2020-06-19 08:31] #773 closed

[2020-06-19 08:37] #422 closed

[2020-06-19 08:38] evjlobanova commented on #646
@abotalov Do  you have a chance to try on version 5.2?

[2020-06-19 08:41] evjlobanova commented on #903
I a version 5.0 has been changed a logic, that why this improvement should rethink.
For now, we can not mimic a behavior from 4 the version

[2020-06-19 08:47] #931 closed

[2020-06-19 08:50] #913 closed

[2020-06-19 09:03] odubaj commented on #1025
No, the results of launches were imported (via API endpoint /v1/{projectName}/launch/import
) in the given order:

ruby-el7 #1
ruby-el7 #2
ruby-el7 #3
ruby-el8 #1
ruby-el8 #2
ruby-el8 #3
ruby-el8 #4

The only thing, that could potentionaly disturb something is file modification time, but I do not think this is relevant. If it was, we will be able to see full history from ruby-el7 #3 launch, which

[2020-06-19 09:22] odubaj commented on #1025
I am prividing reproducers for this issue
[ruby-el7.zip](https://github.com/reportportal/reportportal/files/4803627/ruby-el7.zip)
[ruby-el8.zip](https://github.com/reportportal/reportportal/files/4803628/ruby-el8.zip)

You need to just import the archives via mentioned API endpoint in the above mentioned order

[2020-06-19 10:08] bzsharm commented on #1021
, I won't be able to support it in the near future :(..

[2020-06-19 10:15] bzsharm commented on #1021
I accidentally closed this issue , could you please reopen it

[2020-06-19 11:01] evjlobanova commented on #1025
![image](https://user-images.githubusercontent.com/30413511/85125990-3cb92980-b235-11ea-8ea5-fb14b62924da.png)
![image](https://user-images.githubusercontent.com/30413511/85126046-55294400-b235-11ea-9011-81e0f7cd257b.png)

Hover the highlighted panels on the History and send me a screenshot with tool tip please

[2020-06-19 11:03] evjlobanova commented on #1025
https://reportportal.io/docs/History-of-launches%3Ehistorical-trend-of-executions

[2020-06-19 11:07] odubaj commented on #1025
![Snímka obrazovky z 2020-06-19 13-03-41](https://user-images.githubusercontent.com/44674278/85126444-c5cc6280-b22d-11ea-91fe-271bb743b264.png)
![Snímka obrazovky z 2020-06-19 13-04-08](https://user-images.githubusercontent.com/44674278/85126446-c6fd8f80-b22d-11ea-96b2-04f57adea6b1.png)
![Snímka obrazovky z 2020-06-19 13-04-16](https://user-images.githubusercontent.com/44674278/85126450-c82ebc80-b

[2020-06-19 11:54] iivanou commented on #1023
First of all, I'd like to see how exactly "tabulated" data is being sent to RP. Try to run your tests with the DEBUG log level and you will see the exact text messages which are sent to the RP API. If they include 4 spaces, then the problem is on the server-side.

[2020-06-19 14:33] snackattas commented on #1022
Is auto Analysis related to the display of those 2 widgets?
<img width="1380" alt="06-19-2020 09 31 46_yDTNts" src="https://user-images.githubusercontent.com/12533693/85143730-bb9b6b80-b20f-11ea-8d66-e71257a5d97b.png">
<img width="797" alt="06-19-2020 09 31 27_tTSebK" src="https://user-images.githubusercontent.com/12533693/85143738-bccc9880-b20f-11ea-95c4-618e29119735.png">
As you can see here, `H

[2020-06-19 14:43] mihtac commented on #1024
Yes, using nested steps.

It's report portal 5.2.1

Thing is, if I look for patterns (strings) higher than the failed steps, it does not match them.

So if I have a negative test:

step 5: when you make the request {...} - with the response body logged
step 6: then you receive a "bad request" response <- failed step, and scenario, because it was not a bad request

if my patterns looks for somethin

[2020-06-19 15:30] evjlobanova commented on #1024
Please try it with version 5.2.2
We fix this bug in this version
Please let we know regarding results

[2020-06-19 15:31] evjlobanova commented on #1024
Please reopen if the bug is still occuring

[2020-06-19 15:31] #1024 closed

[2020-06-19 15:31] evjlobanova commented on #1022
No

[2020-06-19 15:33] evjlobanova commented on #1022
Do you have such launch?
Does this launch have failed items?

[2020-06-19 15:34] evjlobanova commented on #1022
Could you please share a screensot
 history table for this launch?

[2020-06-19 16:47] chhatbarjignesh commented on #1019
@evjlobanova INvite link is also http only
![image](https://user-images.githubusercontent.com/34551874/85159100-0aa2ca00-b22b-11ea-838c-d57c7e5e2ab7.png)

[2020-06-19 18:31] snackattas commented on #1022
Heres a history tab for one of the runs (there have been 74 runs)
<img width="1466" alt="06-19-2020 13 26 47_jk7OP3" src="https://user-images.githubusercontent.com/12533693/85168851-8eab8080-b230-11ea-8357-1de0d967cad2.png">

The history tab takes a REALLY long time to load, like, 30-40s
![2020-06-19 13 28 13](https://user-images.githubusercontent.com/12533693/85169215-17c2b780-b231-11ea-9e0a-944f

[2020-06-20 11:20] nvborisenko commented on #1020
Not reproducible with the latest xunit agent v2.0.0-beta.3 and RP v5.2.2

[code]

And result
![image](https://user-images.githubusercontent.com/22616990/85200555-195bb080-b301-11ea-947b-a2946f905315.png)

[2020-06-20 16:35] sateeshg opened #1026 "Launch not getting created after successful execution"
I'm new to report portal. Just want to integrate with testng framework and view the test execution details. As suggested in the report portal documentation, i cloned report portal java examples repository (https://github.com/reportportal/examples-java), modified report portal properties in example-testng-log4j and example-testng-logback and executed the tests.

I'm getting following error when I e

[2020-06-20 16:49] evjlobanova commented on #1022
I suppose the problem in the structure.
As I can on the screen you have report suite as a last element in structure
But a step is supposed to be the last element.
And Most failed widget is built on base of steps.

As far as there is no steps in the run, a widget shows no Data available.

Which agent do you use?

[2020-06-21 04:11] nsmaniqa commented on #1004
Still you are not answering my first question.
what is project key bug tracking system?
how to get project key from rally?

please help me on this one.

[2020-06-22 09:48] e-olga commented on #1004
hello @nsmaniqa,
1) As I understand, the question about the url resolved (url: https://rally1.rallydev.com/ could be used)
2) The project id could be found in the url **'https://rally1.rallydev.com/#/<**projectId**> when you are already logged in Rally
3) The access key could be generated on https://rally1.rallydev.com/login/accounts/index.html#/keys

Please let us know whether your issues resolve

[2020-06-22 14:38] Giladr commented on #726
Hey @evjlobanova !
Do you have any estimation when are you going to release it?
It's will give us (the users) super-powers :)

[2020-06-22 15:50] evjlobanova commented on #726
We want to make our  users super-powered, but unfortunately, this feature requires a big refactoring on the back-end side and on the UI as well (
So, for now, I can not tell you estimations, but we are thinking in this way

[2020-06-22 15:51] evjlobanova commented on #726
We have plans to introduce it in a version 6+, and add a possibility to create custom queries, and create graphs on the base of these queries

[2020-06-23 06:46] priyankachaturvedi30 opened #1027 "Is there a way to generate a Delta between 2 launches?"
Given UseCase:
Launch # 1 -- PB1 ; AB1 ; SI1
Launch # 2 -- PB1; AB1 (Both AA) + New PB2(To Invest)
Launch # 3 -- AB1; PB2 (AA)

Now as I see, Launch # 2 does not have any System Issue (it must have been fixed). Similarly, Launch # 3 does not have PB1 (fixed again). So I want to know if we have can any delta report or something which compares the two launches and tells us the difference between the

[2020-06-23 13:20] rhehl opened #1028 "Launch Async Controller "/v2/{projectName}/launch/merge" is not async"
**Describe the bug**

The Launch Async Controller "/v2/{projectName}/launch/merge" method requires long launchids returned by the not async Controller

**Expected behavior**

The Launch Async Controller "/v2/{projectName}/launch/merge" method accepts the UUIDs generated/accepted by the other launch-async-controller methods
"Post /v2/{projectName}/launch" and "put /v2/{projectName}/launch/{launchId

[2020-06-23 14:07] evjlobanova commented on #1028
@rhehl thank you for this issue.
This is a good point.

Thank you for posting this.

We will consider these changes in future releases.

As a workaround
You can make a request for launches with UUID filter and retrieve long IDs from the response and pass them to the request.

This is a temporary solution for your case

If any questions, please address them to @Yumfriez

@Yumfriez please add needed

[2020-06-23 19:59] allan-silverstein commented on #1023
Sorry for not doing this sooner...
Here is the output with DEBUG log level.  It appears the proper spaces are intact in this log message but multiple spaces are condensed to a single space when displayed in Report Portal.  Hope this provides some insight for an easy solution.
thx
Al

DEBUG:reportportal_client.service_async:Processing item: ('log', {'time': '1592941875158', 'message': 'Report\nDNET

[2020-06-23 20:28] winstondz commented on #955
Is there a way to do this for nunit?

[2020-06-23 20:31] winstondz commented on #1008
Yes, We do. For now I create a weblink and post it. This works because it navigates back to saucelabs where I can see the corresponding video. I was thinking if I can avoid going back to saucelabs and just see the videos in report portal itself

[2020-06-23 21:00] Bharadwaj-vana opened #1029 "API Automation - Launch not created"
Hi Team,

I am trying to use API & create a launch in ReportPortal.io, but when I tried POST call using RestAssured I was able to get response but I was not able to see any launch in ReportPortal.io UI. I also tried hitting the API using postman and unable to see launch results in ReportPortal.io UI. Please refer below body tried as request.

**Base URL** : http://{{Report Portal instance Path}}/a

[2020-06-23 21:35] SahabNathYadav opened #1030 "Issue: How to log data using TestNG in Report Portal"
Hi Team,

I am trying to use report portal for my project  based on TestNG framework and Extent Reports. I have added report portal listener and trying to log execution status (i.e Pass or Fail) along with Test case description,  but I am unable to see logs in report portal UI.

Please let me know, what I need to do to get the logs in Report Portal UI.

Thanks,

[2020-06-24 05:53] evjlobanova commented on #955
We have implemented this possibility partly for Jave agents and for JS-agents
NUnit is in progress, but we do not have a permanent dedicated contributor.
So if you decide to contribute, it will be great

[2020-06-24 06:00] evjlobanova commented on #1008
Thank you for your response.

[2020-06-24 06:01] evjlobanova commented on #1029
@svettsova Valya could you please assist here?

[2020-06-24 06:41] evjlobanova commented on #1030
As I have seen you didn`t configure the logger.
Please read our documentation.

We have a well-described ReadMe file with a description here: https://github.com/reportportal/agent-java-testNG

Also, you can try to find your case in the provided examples:
https://github.com/reportportal/examples-java/tree/master/example-testng-log4j
https://github.com/reportportal/examples-java/tree/master/example-

[2020-06-24 06:41] #1030 closed

[2020-06-24 07:01] evjlobanova commented on #1027
Hello, it depends on the fidelity you need.

We have several approaches that can be used:

**1. Widget**

You can make a filter based on the launches with the same name. And then you can create a widget "Launch Statistics chart" and track the defect type structure from run to run:
![image](https://user-images.githubusercontent.com/30413511/85510961-c0da2b00-b600-11ea-9bf4-0ec8a17125d9.png)
Details

[2020-06-24 07:05] evjlobanova commented on #1025
@odubaj The root cause here is an imported file.

We are trying to debug this an get back to you

[2020-06-24 07:19] evjlobanova commented on #993
Closed due to no answer
Please reopen, if it is still actual

[2020-06-24 07:19] #993 closed

[2020-06-24 07:19] evjlobanova commented on #971
Closed due to no answer,
please reopen if it is still actual

[2020-06-24 07:19] #971 closed

[2020-06-24 07:21] evjlobanova commented on #1019
@Yumfriez where can be a root cause for such behavior?

[2020-06-24 07:22] evjlobanova commented on #1020
@nvborisenko @goncaloneto Can this issue be closed?

[2020-06-24 07:24] #611 closed

[2020-06-24 07:24] svettsova commented on #1029
Dear @Bharadwaj-vana,

From the response we can see that your launch is created. It has "UUID": "76c1e6f5-60bb-4248-8350-03a9c162a83a" and number 17.
Can we have a call via skype to solve an issue? live:valya.svettsova

Regards,
Valentina

[2020-06-24 07:28] evjlobanova commented on #1025
@svettsova Valya could you please recheck this issue

[2020-06-24 08:07] rhehl commented on #1028
I'm note sure how to get the long IDs. If i Start a Launch via the asycn controller, only the uuid is returned.

[2020-06-24 08:10] rhehl commented on #1028
Now i got it, you mean calling
/v1/{projectName}/launch with filter.eq.uuid

[2020-06-24 09:42] priyankachaturvedi30 commented on #1027
Thanks @evjlobanova . I tried creating a widget as suggested by you. I am facing the following error while adding a widget to a filter.
![image](https://user-images.githubusercontent.com/50797731/85532040-fb59bd00-b62c-11ea-9fed-aa0b8bbe2ae3.png)

[2020-06-24 10:01] evjlobanova commented on #1027
@priyankachaturvedi30 I see, we have a known issue with creating a widget from All launches
We will be fixed in the next bugfix versions.

Try to create this widget from the Dashboard page.

[2020-06-24 12:36] Bharadwaj-vana commented on #1029
Hi Valentina,

Sure Thanks for the help !

[2020-06-24 13:14] Bharadwaj-vana commented on #1029
Hi @svettsova

Thanks for the support, Can you please let me know how to proceed further with same issue, as still we are not able to see launch results in ReportPortal.io UI.

Thanks,
Bharadwaj Vana.

[2020-06-24 13:37] svettsova commented on #1029
@Bharadwaj-vana can I close the issue?

[2020-06-24 13:40] Bharadwaj-vana commented on #1029
@svettsova

Thanks for the support, Yes it worked with  RestAssured as well !

[2020-06-24 13:40] #1029 closed

[2020-06-24 13:44] evjlobanova commented on #1029
Thank you, Valya!

[2020-06-24 16:02] kaszarek opened #1031 "Assigning category for failures takes 5 mins on docker started Report Portal"
**Setup:**
1. T2.large AWS EC2 instance deployed with Linux AMI
2. Report Portal deployed using docker using the instruction provided on https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker

**Steps to reproduce:**
1. Run test
2. Get some failures to analyze
3. open failure and assign "Production bug"

**Expected outcome:**
Processing of the call that happens in the ba

[2020-06-24 16:46] nsmaniqa opened #1032 "[v5] include launches in progress to widgets"
I have created a dashboard for my project. Execution status gets  displayed only after completing the launch.  Is there any way to display for in-progress  test case status in the dashboard? we are running the script continuously with rerun mode as true. Top management is not able to see up-to -date status in the dashboard. we have to wait for the launch to compete. can you please help me with thi

[2020-06-24 17:51] evjlobanova commented on #1031
@kaszarek Could you please firstly check this documentation, try to perform described steps, and give us feedback,if it helps
https://reportportal.io/docs/How-to-resolve

[2020-06-24 19:33] nvborisenko commented on #955
@winstondz please post separate issue in [agent-net-nunit](https://github.com/reportportal/agent-net-nunit) repo. Work has been started in https://github.com/reportportal/commons-net/issues/46

[2020-06-24 20:18] nvborisenko commented on #1031
T2 instances are CPU burstable. Basically you have some CPU credit, and earn it when your instance is idle. This might be a reason of performance degradation.

[2020-06-24 23:38] winstondz commented on #955
Alright I will post out there! Thanks!

[2020-06-25 03:49] nsmaniqa opened #1033 "[v5] Need to remove not applicable defect category from overall statistic launch"
**Describe the bug**
Able to see not applicable defect category in the overall statistic launch.
example API Issue 0, Automation Bug 0 ..
i need to remove any of defect cato

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following i

[2020-06-25 09:17] sushovan-mca opened #1034 "[v5bug] agent-java-testng-5.0.1 Getting Exception while creating Launch for second testng xml"
I am trying to execute a testng xml by creating launch. This is working fine.
In case of failures i am creating another testng xml programatically and trying to run it again. This time I am getting exception to create Launch.

io.reactivex.exceptions.UndeliverableException: The exception could not be delivered to the consumer because it has already canceled/disposed the flow or the exception has n

[2020-06-25 12:07] priyankachaturvedi30 opened #1036 "Import Log and Attach Screenshot"
I have been using Import feature(https://reportportal.io/docs/Import-data-to) to add logs for one of my projects containing some 200 testcases. Now, as my testcases grew in number I have a need to attach screenshots as well in order to categorize and access the failures more accurately. I have gone through the API endpoint `/v1/{projectName}/log` to attach attachments. Now the issue is both the la

[2020-06-25 13:27] evjlobanova commented on #1036
@priyankachaturvedi30, for now, the Import feature has very low priority. Our main feature is real-time reporting.
We have checked this issue, and try to investigate a root cause

[2020-06-25 13:59] priyankachaturvedi30 commented on #1036
Yes Sure. I understand. Just curious to know if we can somehow make use of a combination of both import feature(for logs) and API (for screenshot) call to achieve logs along with the screenshots.

[2020-06-26 07:22] rakesh-vardan commented on #501
Worked like a charm - thanks for sharing @nicodn

[2020-06-26 12:53] sysreport opened #1037 "Data backend is not freely selectable"
Hi

**Describe the solution you'd like**
We need a full automatic recreation of our reportportal host without lost of data from database and artifacts.
We have configured all of them without the data store like MinIO.
We would like to use S3 instead of MinIO. We have tested to configure MinIO as a S3 Proxy, but we can not configure the specific Bucket.

I have read the Issue: https://github.com/re

[2020-06-27 09:03] iivanou commented on #1023
@evjlobanova It looks as a server-side problem 'cause the agent sends messages with the correct number of spaces.

[2020-06-27 14:57] allan-silverstein commented on #1023
We are using install from Docker container.  Do you think it is fixed a newer version?  We were planning to upgrade Report Portal version, if it is fixed in the newer version that would be a reason to upgrade sooner rather than later...
Here is what we are currently running:
Version Info:
API Service: 4.3.0
Index Service: 4.2.0
Jira Service: 4.3.0
Rally Service: 4.3.0
Authorization Service: 4.2.0

[2020-06-29 05:48] odubaj commented on #1025
Hello, is this issue a bug ? Are you willing to fix it ? Thanks

[2020-06-29 06:09] #1020 closed

[2020-06-29 06:56] evjlobanova commented on #1025
@odubaj We have problem with the History for imported files
The priority for features connected with import is minor, because our  main functionality is real-time reporting

I can not say exact estimations.
Firstly we need to debug the nature of this.

If this bug is really crucial for you, we can propose a paid support and we can fix  it in a scope of the contract

[2020-06-29 07:57] e-olga commented on #1019
@evjlobanova
The issue is not reproduced on our environments with 5.2.2 version.
In case the RP works on https://, the invitation link created with https:// as well

@Yumfriez ,
are the any ideas?

[2020-06-29 10:08] odubaj opened #1038 "demo data XML junit example"
Hello,

I am trying to import results into RP, but I am facing problems with importing test steps to RP via xml. According to XML junit standard, there are only 3 levels of tests results: Suite > Test > Logs.

RP provides one level more, which is needed for our purposes: Suite > Test > Step > Log. For our reasons, the "Step" is very important. Can you please provide an example XML file, which cont

[2020-06-29 11:12] pramodbhalerao commented on #1038
Hello @odubaj ,

After reading your issue, even I got curious to see how the import functionality works in RP as I found RP last week.

Somehow, I reached to this [post](https://stackoverflow.com/questions/4922867/what-is-the-junit-xml-format-specification-that-hudson-supports) and I tried the last answer's sample xml (converted into ZIP file), which I found good enough for me.

I hope this will h

[2020-06-29 11:38] odubaj commented on #1038
thanks for your comment, I think you are pointing on the XML scheme> I also found this format, but I think there is something missing there (from my opinion, there should be en element "step" in "testcase" element). Simply, I want to make the same structure as is made by RP demo data, but I am unable to do that with the mentioned XML scheme standard. I might think, RP has its own implemented XML s

[2020-06-29 14:25] evjlobanova commented on #867
https://reportportal.io/docs/How-to-resolve
@qtis please try to check points described in the article.
Could you please let us know if it helps

[2020-06-29 14:27] qtis commented on #867
nope, not server issue, javascript/frontend bug

On Mon, Jun 29, 2020 at 5:25 PM Yauheniya Labanava <notifications@github.com>
wrote:

[2020-06-29 14:35] evjlobanova commented on #867
@qtis thank you for information
@DiscoElevator Maxim could you please share your vision on how this bug can be resolved

[2020-06-29 14:39] DiscoElevator commented on #867
Could be possibly fixed by setting `enableEventListeners` property to `false` for popper. I don't think we really need scroll/resize listeners here. But it needs to be double-checked to make sure it won't break anything.

[2020-06-29 16:50] evjlobanova commented on #950
We are working on this issue

[2020-06-29 16:52] evjlobanova commented on #1038
[Launch C2.zip](https://github.com/reportportal/reportportal/files/4846904/Launch.C2.zip)

[2020-06-29 16:52] evjlobanova commented on #1038
This is  an example of XML file

[2020-06-29 16:54] evjlobanova commented on #1023
Try to use the latest version.
We do not support 4 versions now.
Please upgrade your instance with the latest version, and tell us if the bug is still actual

[2020-06-29 16:55] #1014 closed

[2020-06-29 19:36] allan-silverstein commented on #1023
Ok, I'll let you know what happens after we upgrade... It may be a couple of weeks.
Thx

[2020-06-30 08:45] odubaj commented on #1038
Thank you!

[2020-06-30 10:31] priyankachaturvedi30 opened #1039 "Fixed/Resolved Issue Metric"
Is there a way through which we can capture the fixed/resolved issues over successive launches?

If there was some issue that got fixed/resolved over successive launches, can we somehow track it? Can we have some mechanism that could populate me with the data related to the issues which are fixed?

[2020-06-30 10:56] evjlobanova commented on #1039
@priyankachaturvedi30  Could you please add details on your use case?

Now we have defect types
Link to BTS
Defect comments
Attributes

Each of these things can be used for marking issues if they are resolved or not.

Link to BTS, Defect type and Defect comment can be added by Auto-Analysis

[2020-06-30 12:11] priyankachaturvedi30 commented on #1039
Yes, so suppose I have my test suite with over 1000+ cases, and my build gets executed on a daily basis and reports get generated which we do the analysis on. Over subsequent runs, there may be multiple issues which are getting fixed. If I want to generate a report capturing information about such issues which are no longer present, can this be achieved through report portal? Just thought, like if

[2020-06-30 15:20] jlundy2 commented on #827
I'm having the same issue basically. Sending a test run via the @reportportal/agent-js-mocha reporter and the api starts throwing these errors and the UI stalls and becomes unusable.

[2020-06-30 16:38] Gulats opened #1040 "Correlate precondition method(s) with the actual test"
For a given file which contains more than one method, if some logs are added to the precondition methods such as @BeforeEach, @AfterEach, etc., there is no way to determine which of the method the precondition method belongs to unless a separate log is added.

![image](https://user-images.githubusercontent.com/12498741/86152511-e8a82200-bb1d-11ea-846b-8de9e08d3b32.png)

[code]

dependencies:
[code

[2020-06-30 17:57] Gulats opened #1041 "@Step not honored for junit5."
**Describe the bug**
Method marked with `@Step` does not show up on the UI as a collapsible card.
[code]

**Expected behavior**
Method marked with `@Step` should show up as collapsible card as a drill down view for the enclosing test.

**Screenshots**
success case (junit):
![image](https://user-images.githubusercontent.com/12498741/86159924-ad5f2080-bb28-11ea-88fa-be2e0d25b75f.png)

failure case (

[2020-06-30 22:51] naddison opened #1043 "Skipped tests are automatically labelled with "To Investigate""
When a test has a status skipped, it is labelled with "To Investigate", even with auto-analysis turned off. Is it possible to turn off this behavior?

Or is is behavior different in v5.

[2020-07-01 05:01] HardNorth commented on #1043
@naddison Which agent do you use?

[2020-07-01 07:31] iivanou commented on #1023
@allan-silverstein, You can use https://beta.demo.reportportal.io/ with your GitHub credentials for testing purposes while you are upgrading your environment.

[2020-07-01 08:20] elavrenchuk commented on #937
@pbortnik just FYI this bug is still in migrations:5.2.0, but anyway query fixed the problem.

[2020-07-01 12:01] e-olga commented on #1025
hi @odubaj
I tried to import your launches in the order you mentioned above one by one.
After the each file imported, I had been waiting for all the test cases got the start time with "time ago" meaning, e.g. "some seconds ago".
When all the seven launches were imported I got the next view of history table
![import 1025](https://user-images.githubusercontent.com/22497746/86240899-a7118880-bbaa-11e

[2020-07-01 12:18] #1025 closed

[2020-07-01 12:20] evjlobanova commented on #1023
@iivanou  It is better to use  this env for user testing https://web.demo.reportportal.io/ui/

[2020-07-01 12:21] odubaj commented on #1025
Thank you for the explanaition, this might be the source of problems

[2020-07-01 13:31] chhatbarjignesh commented on #1019
How are you determining the logic that your site is http:// or https:// I have installed certificate at LB level in AWS. Just in case it helps you to quickly figure out the root cause of the issue

[2020-07-02 07:16] e-olga commented on #1006
The issue in RP backlog submitted

[2020-07-02 07:55] odubaj commented on #1038
I just have an additional question regarding to attributes and code reference. I would like to add some attributes, code reference and parameters via importing my XML junit file. Is it possible ? Example what I need below in the screenshot. According to XML junit standard (https://llg.cubic.org/docs/junit/) it should be made via <properties> tag, but it does not work, am I missing something ? Do y

[2020-07-02 09:42] madhukeshava opened #1044 "pattern analysis for info,debug,warning messages as well"
**Describe the solution you'd like**
...
we need pattern analysis  for info, debug, warning messages
is it possible add pattern analysis for info messages as well
**Is your feature request related to a problem? Please describe.**
...
yes..we need log parser for the whole log not only the error messages

[2020-07-02 10:02] kaszarek commented on #1031
Hi @nvborisenko @evjlobanova ,

thanks for the answers with suggestions. I changed the machine to C5, the issue still persisted.
After the investigation it turned out that some steps from installations were skipped during the setup.

Solution was :
`chown 1000:1000 data/elasticsearch/`

thanks for the promt responses.

[2020-07-02 10:02] #1031 closed

[2020-07-02 12:37] priyankachaturvedi30 commented on #1039
As described in one of the features - to track down open issues via widget, on similar lines I propose to track down closed/fixed issues via widget if feasible. Please suggest
![image](https://user-images.githubusercontent.com/50797731/86359435-9fc3ab00-bc8e-11ea-9b9c-1ae92a38c3c4.png)
.

[2020-07-02 13:14] dimit999 opened #1045 "Security issue: possible to hack passwords"
hash I took from 3_default_data.up.sql

![image](https://user-images.githubusercontent.com/43273472/86363054-f3c69380-bc7e-11ea-9e8a-38591106746a.png)

the same for reportportal\README.md

[2020-07-02 13:39] pbortnik commented on #1045
In the oldest version we have changed hashing from md5 to bcrypt.
What you see in the file is a hash of default users. It is open information.

[2020-07-02 13:39] #1045 closed

[2020-07-02 14:01] dimit999 commented on #1045
@pbortnik where u changed this?

what is it https://github.com/reportportal/migrations/blob/develop/migrations/3_default_data.up.sql ????

[2020-07-02 14:02] dimit999 commented on #1045
@pbortnik where u changed this?

what is it https://github.com/reportportal/migrations/blob/develop/migrations/3_default_data.up.sql ????

[2020-07-02 14:17] dimit999 commented on #1045
how to re-open this issue? @pbortnik

[2020-07-02 14:21] pbortnik commented on #1045
The script that you mentioned is a script that creates default users while first deploy. In 5.2.2 version all your passwords encrypted with bcrypt. You can verify it in your database.

[2020-07-02 14:22] dimit999 commented on #1045
thanks

[2020-07-02 14:24] pbortnik commented on #1045
Check this out
https://github.com/reportportal/migrations/blob/develop/migrations/11_password_encoding.up.sql

[2020-07-03 14:00] nvborisenko opened #1046 "Support REST API http requests compression"
Seems API supports responses compression.

What if we support compression of requests too?

Client will send gzipped content. It will allow use network bandwidth more effectively.

v5.2.2 doesn't support it yet.

[code]

Response:
[code]

[2020-07-05 15:02] HardNorth commented on #968
@waynesun09 Thanks a lot for your work, we appreciate that!
Unfortunately we can't approve the way it was implemented. It looks like you are using ansible to deploy and generate openshift objects, which is rather different deploy approach than our current Helm Chart. Due to our limited resources we can't afford to support another deploy approach, or it would be a candidate to a dead project.

So,

[2020-07-06 11:16] edyp commented on #985
At the beginning sorry for late response but job responsibilities keeping me busy these days.
I understand that new version was release and I can update my RP instance then check if fixup works?

[2020-07-06 11:21] VolhaKarenko commented on #871
The issue is reproducible on version 5.3 as well. The same is true for other values, e.g. "hours". Bug is added to Jira.

[2020-07-06 12:01] abotalov commented on #62
Our primary use case looks to be the possibility to find test items that failed for similar reasons.

Currently, Report Portal uses quite broad category names - Product Bug, Test Automation issue, etc. Even though subcategories can be created, they can't really be created for every different issue. Yet, it's interesting to see how often particular test flakiness occurs. Search by a part of the tes

[2020-07-06 16:27] naddison commented on #1043
I am using java-client, making our own requests to the API.

[2020-07-06 16:53] Invictum opened #1047 "Excessive logs"
Our RP instance is shared across whole organization and it produces a huge amount of logs in `/var/log/messages` on the host machine where docker service is running. The amount of produced logs in a one day sometimes consumes more space that actual stored results data.

Are there any way to reduce that logs verbosity or configure log levels?

[2020-07-07 06:19] HardNorth commented on #1043
Put this into properties:
`rp.skipped.issue=false`

[2020-07-07 08:48] Gulats opened #1048 "Correlate precondition method(s) with the actual test"
For a given file which contains more than one method, there is no way to correlate the precondition methods with the actual test methods. e.g. in the below sample, it is difficult to identify if the first init() call belongs to passTest() or the second one.

![image](https://user-images.githubusercontent.com/12498741/86152511-e8a82200-bb1d-11ea-846b-8de9e08d3b32.png)

[code]

dependencies:
[code]

[2020-07-07 08:54] HardNorth commented on #1048
@Gulats Architecturally there is no other way to maintain order other than 'startTime' field. JUnit 5 agent already passes this field in the moment a test item starts. If your items starts very frequently or tests pass very quick then it might be a situation when several test items have the same start time. The same situation you can face if you run them in parallel.

@evjlobanova @DzmitryHumianiu

[2020-07-07 11:24] priyankachaturvedi30 opened #1049 "Auto-Analyze two custom launches"
Currently, we have a system which performs AA on the following base -
1. All Launches 2. Launches with same name 3. Only Current Launch
But what if I want to perform AA on a specific launch base. How can we achieve it?

Suppose, I have a daily run being executed and there is a product bug in the system which I categorized.
Launch 1 - PB_123
It got AA in next 3 runs and got fixed in 4th run. So, fo

[2020-07-08 03:21] allan-silverstein commented on #1023
Just upgrade to Report Portal 5.2.2 and the problem has been fixed.  Thank you for your help.

[2020-07-08 03:21] #1023 closed

[2020-07-08 06:33] evjlobanova commented on #1037
@Cyberglamdring @Yumfriez Could you please check this issue?

[2020-07-08 06:37] evjlobanova commented on #1038
@odubaj import feature is limited functionality. You can not add attributes and coderef via import. For now, we are not planning to support and expand import functionality, because our main priority is real-time reporting.

[2020-07-08 06:40] evjlobanova commented on #333
#1039

[2020-07-08 06:41] evjlobanova commented on #1039
We are planning to resolve this issue with adding a possibility to choose status on the widget. Description is here #333
Does it cover your need?

[2020-07-08 06:41] #1043 closed

[2020-07-08 06:45] evjlobanova commented on #1044
@madhukeshava, For now, the main goal for Pattern analysis, find patterns in the error logs, so that user can create a table with the most popular problems in the build,

We are planning to expand this functionality with adding actionable rules for pattern analysis.

Could you please describe your use case? Why do you need to find a pattern into info, debug, warning messages? How do you what to ut

[2020-07-08 07:07] evjlobanova commented on #1049
@priyankachaturvedi30 in version 5.3 we have added a possibility to use in AA the latest results of execution. So that if you change for execution defect type and link to BTS, in the future runs we will use only latest results. So partly it is resolved.

But I suppose that real problem is that now ReportPortal can not use information about Jira ticket status in the auto analysis. And user can not

[2020-07-08 07:08] evjlobanova commented on #792
Closed due to no answer. Please reopen it, if the issue is still occures

[2020-07-08 07:08] #792 closed

[2020-07-08 07:09] evjlobanova commented on #985
You can try fix even with upgrading new version

[2020-07-08 12:26] madhukeshava commented on #1044
end of test case we have logs from Linux system like dmesg,
we need to scan these logs as well  search for PA if find we need to make test case fail

[2020-07-08 12:26] madhukeshava commented on #1044
is there any way we can do Pattern analysis for attached logs?

[2020-07-08 13:07] evjlobanova commented on #1044
Is it possible to report such logs with log level error?

[2020-07-08 14:29] jlundy2 opened #1062 "API hits max connections limit on Postgres DB"
When test results are sent to the report portal API, the application opens a ton of db connections and then there's contention for them and then for instance, UAT can't connect to the database.
 Errors are thrown by the api and uat of the form: `Could not open JPA EntityManager for transaction; nested exception is org.hibernate.exception.JDBCConnectionException: Unable to acquire JDBC Connection`

[2020-07-09 03:22] sspieker-cc commented on #1036
@priyankachaturvedi30 - We have had some issues with the ReportPortal tooling not reporting the correct number of test cases for JUnit tests when using a non-standard runner (Mockito for example).  So to circumvent these kinds of issues and to standardize our CICD pipeline, we have implemented a java library that interfaces with the API endpoint.  The client-java.jar file would probably work inste

[2020-07-09 03:31] sspieker-cc opened #1050 "Add UUID data to TestItem Controller when querying using filters"
**Describe the solution you'd like**
... Current implementations of the TestItemController GET method using query parameters do NOT return the TestItem's UUID value.

**Is your feature request related to a problem? Please describe.**
... This request is NOT related to a specific problem, however, the return type from the controller is a Page<TestItemResource> however, when querying using filters,

[2020-07-09 04:43] Anastasia-Zinoveva opened #1051 "No logs in report portal"
Hi, i was trying to send logs by test run, but the page with results is empty. I can see my tests and status of it, but there is no my logs. That is the reason why i cannot attache the screenshot to logs
![image](https://user-images.githubusercontent.com/63168440/86997362-ea798180-c1be-11ea-9755-f4c90cafe899.png)

I already google an issue and found something similar with my: https://github.com/re

[2020-07-09 05:08] python-auto-hc opened #1052 "Help in integrating reportportal with BDD Automation tool"
I was looking for something which can help me to reduce my Automation Result analysis time. While browsing, I came across Report Portal tool; which looks like a fit to my requirement. Have installed it on my local using docker. Tried my hands on Demo Data and the tool looks promising.

I am using GWEN for Automating my tests (https://github.com/gwen-interpreter/gwen-web). It is an open source whic

[2020-07-09 06:38] dharma-keyutech opened #1053 "How to Set the Name of our test result as per our Script Name"
<img width="1280" alt="Screenshot 2020-07-09 at 12 06 39 PM" src="https://user-images.githubusercontent.com/58975085/87005503-bad97200-c1dc-11ea-9c2c-530ef31f7fb0.png">

How to change the name  of the test Like : Test_Demo_SmokeTest_Launch Application

[2020-07-09 07:17] evjlobanova commented on #1052
Hello @python-auto-hc  thank you for sharing this request.
We investigate this tool and discuss the priority for this implementation internally.

Also we will be glad if you decide to contribute and implement your own integration with this tf. We have prepared a dev guide that can be useful:
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md
and overall des

[2020-07-09 07:23] evjlobanova commented on #1051
Please update your instance to the latest version and the latest version of agent.
We do not support 4th version now,
If issue is still valid, please reopen this issue

[2020-07-09 07:27] evjlobanova commented on #1053
During reporting your can specify any launch name you want in a property file.
But launch name can not be edited after

[2020-07-09 07:27] #1053 closed

[2020-07-09 07:28] evjlobanova commented on #1050
@sspieker-cc thank you for sharing this. I suppose this a valid request,
@HardNorth what do you think?

[2020-07-09 07:44] Anastasia-Zinoveva commented on #1051
If I update up to 5ve version, I've faced with another one known issue:
![image](https://user-images.githubusercontent.com/63168440/87011796-6f719480-c1d9-11ea-91dd-f97e022b37ec.png)

This issue already mentioned in https://github.com/reportportal/reportportal/issues/684 and resolvied by downgraded to 4th version

[2020-07-09 07:56] evjlobanova commented on #1051
Do you use latest agents?

[2020-07-09 08:04] Anastasia-Zinoveva commented on #1051
looks like 5.0.4 is the latest version

![image](https://user-images.githubusercontent.com/63168440/87013832-4a325580-c1dc-11ea-890d-5858e8fd01d0.png)

[2020-07-09 08:04] Anastasia-Zinoveva commented on #1051
so, yes

[2020-07-09 08:06] evjlobanova commented on #1051
@HardNorth Vadzim can you please check this issue with TestNG

[2020-07-09 11:43] sspieker-cc commented on #610
I (and all of our data engineers) would love to have this feature added to ReportPortal!

[2020-07-09 12:00] python-auto-hc commented on #1052
Thanks @evjlobanova.  I will explore the pointers.

[2020-07-09 12:11] evjlobanova commented on #610
Now we are working on creating a custom constructor for widgets.
This functionality will be presented on the 6th version

[2020-07-09 13:34] python-auto-hc commented on #1052
Just one point before we even think of custom integration; can you please check gwen and help me conclude that none of the existing integrations of Report Portal can be reused ? Like Cucumber, Scalatest, Serenity, etc.

[2020-07-09 15:44] python-auto-hc commented on #1052
gwen uses log4j for logging - can it be of help ? https://github.com/reportportal/logger-java-log4j

[2020-07-09 20:41] naddison opened #1054 "Cannot set defect type on test methods with Interrupted status"
Is it expected behaviour that I cannot add a defect type to a test method that has interrupted status?

![Capture](https://user-images.githubusercontent.com/3034767/87088533-c7b09280-c1e9-11ea-978f-6f59bc456d80.PNG)

[2020-07-09 21:38] sateeshg commented on #1026
Figured the issue. This issue happened as jenkins was also running on same port. Resolved by updating report portal port.

[2020-07-09 21:38] #1026 closed

[2020-07-10 02:30] sateeshg opened #1055 "xctest integration with report portal 5"
I'm getting lot of errors when using xctest integration with report portal 5.* version. Please let me know if xctest agent  (https://github.com/reportportal/agent-swift-XCTest) supports report portal 5 version?

"typeMismatch(Swift.String, Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "content", intValue: nil), _JSONKey(stringValue: "Index 0", intValue: 0), CodingKeys(stringValu

[2020-07-10 04:21] Naumansh opened #1056 "Automation Report Imported as launch is not read by Report portal"
**Describe the bug**

I have just started to use report portal. After installation and setting up the project, i have imported one automation report. The report is imported successfully, and it is shown in launches but no test information is fetched by report portal.
...

**Expected behavior**

The report portal should show all test information.
...

**Screenshots**
<img width="1792" alt="Report P

[2020-07-10 05:25] HardNorth commented on #1026
@sateeshg Please pull latest changes from examples, I found an issue with them and updated them.

[2020-07-10 06:52] evjlobanova commented on #1054
Hello @naddison
Please update the version of ReportPortal to the latest one.
For interrupted items, you will be able to change status to Failed and set a defect type.

[2020-07-10 13:17] sspieker-cc commented on #839
How can we differentiate tags from attributes using the API?  The UpdateLaunchRQ object does not allow for setting tags separate from the attributes.  So far, we have been setting attributes without keys and that seems to work as tags.  Is there a different method that should be used to update the tags separately from the attributes of a launch?

[2020-07-10 13:41] evjlobanova commented on #839
@sspieker-cc We replaced tags with attributes in version 5.0
Because now we can create widgets which helps us to group item around the attribute key.

So no tags in version 5.0
But you can use your approach

[2020-07-10 16:57] naddison commented on #1054
Is this fixed in the latest versions of v4 or v5?

[2020-07-11 12:27] HardNorth commented on #1051
@Anastasia-Zinoveva So you have V4 server instance, correct?

[2020-07-12 07:05] Nagalakshmi17 opened #1057 "Unable to Create Widgets in Dashboard based on Launches"
Displaying  no data in the widgets that created under Dashboard

please find the attached video Below for reference

[RP.mp4.zip](https://github.com/reportportal/reportportal/files/4908143/RP.mp4.zip)

[2020-07-13 05:43] python-auto-hc commented on #1052
@evjlobanova  Apologies for pushing this; but did you get chance to go through the tool ?

[2020-07-13 06:07] ShanmugaPrasanth94 opened #1058 "How to run reportportal test for MAVEN+TESTNG+CUCUMBER."
I have tried using the Testng.xml to trigger my framework. I am using Multimodule framework. When i run the testng.xml test is triggered but the Cucumber feature steps are not getting posted in the ReportPortal dashboard. Kindly help me out to resolve this.

[2020-07-13 08:32] evjlobanova commented on #1057
Hello
You created a filter that includes launches that contain "pass" in their name. As far as there is no such launches on your project the widget shows "No data available"
Please firstly create a filter based on needed criteria, and then create a widget

Documnetation is here https://reportportal.io/docs/Dashboards-and-Widgets

[2020-07-13 08:32] #1057 closed

[2020-07-13 08:33] evjlobanova commented on #1054
Version 4 is not supported anymore.

Started from version 5

[2020-07-13 10:01] Nagalakshmi17 commented on #1057
Thank you, I am able to create a widgets

[2020-07-13 12:49] VolhaKarenko commented on #995
The issue is fixed in version 5.3

[2020-07-13 14:48] #995 closed

[2020-07-14 07:12] ShanmugaPrasanth94 commented on #1058
Awaiting response on the above issue. Please help out.

[2020-07-14 07:23] evjlobanova commented on #1004
closed due to no answer
please reopen if it is still valid

[2020-07-14 07:23] #1004 closed

[2020-07-14 07:32] madhukeshava opened #1059 "Java out of memory error when uploading log to the report portal[v5]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Exception when trying to save screenshot to reportportal: 5000: Unclassified error [Handler dispatch failed; nested exception is java.lang.OutOfMemoryError: Java heap space]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2020-07-14 09:20] e-olga commented on #1033
@evjlobanova ,
I confirm that the criteria with empty statistics (with '0' value) available on the widget.
No issue found in RP backlog available for this case.

[2020-07-14 09:37] evjlobanova commented on #1033
@e-olga Could you please create a new ticket in our Backlog

[2020-07-14 11:02] priyankachaturvedi30 commented on #1049
Thanks @evjlobanova . This can definitely be one of the solutions. But in such a case as well, I would need to go and re-visit all my auto-analyzed issue. I think of one more way to achieve it - Can we not make use of the timeline information and derive the issue status from it?
![image](https://user-images.githubusercontent.com/50797731/87418276-0762ea00-c5ef-11ea-943e-0eab7658138e.png)

Consider

[2020-07-14 11:19] priyankachaturvedi30 commented on #1039
This is helpful @evjlobanova . Just a few thoughts around -
1. Would it be possible to have some widget with information related to bug status? - This will help in getting the issue status summary at the launch level.
2.  Also, Can there be a flag or some highlighter to indicate if the current launch has some issue AA for which the JIRA status is Closed/Resolved? - This would let the user quickly

[2020-07-14 11:25] priyankachaturvedi30 commented on #1005
Hey @evjlobanova : This is algorithm that takes a "boost on recency VS frequency" is highly anticipated for our use case. Just to follow up, till when can we expect this feature to get released?

[2020-07-14 11:29] evjlobanova commented on #1005
Will be available in version 5.3 (~27th of July)

[2020-07-14 11:29] #1005 closed

[2020-07-14 11:49] evjlobanova commented on #1049
@priyankachaturvedi30 This idea is close to my, because it is also connected with Jira integration refactoring.  Because now we can not show this information.

So in scope of refactoring, we will discuss your use case.

[2020-07-14 11:52] evjlobanova commented on #1039
Connected with #1049 1049

[2020-07-14 11:53] evjlobanova commented on #1039
Part of the #333

[2020-07-14 11:53] evjlobanova commented on #333
Should used use case from Issue #1039

[2020-07-14 11:55] evjlobanova commented on #1039
@priyankachaturvedi30 I close this issue as a duplicate of #333
All information regarding BTS widgets, we will be collecting in the mentioned issue.

[2020-07-14 11:55] #1039 closed

[2020-07-14 12:01] e-olga commented on #1033
@evjlobanova
done.

Regards,
Olga

[2020-07-14 12:14] Tumite opened #1060 "Unable to set Sendgrid smtp to email server integration[v5]"
**Describe the bug**
I would like to add sendgrid smtp user to email server integration but i can't. I got this message: https://i.imgur.com/sChJWDA.png

**Additional context**
I also tried with Yandex account but didn't work.
https://i.imgur.com/ogTkxHp.png

[2020-07-14 16:07] iShimon opened #1061 "Postgres deadlock occur while sending finish_launch reportportal_client (python) [v5]"
**Describe the bug**
pytest client:
when tests are done a finish session is sent to rp using reportportal_client -> service.py -> finish_launch func
It appear when closing session postgres is running queries for statistics but gets catch up by finish_launch api request

`2020-07-14 10:24:25.024 UTC [27093] ERROR:  deadlock detected
2020-07-14 10:24:25.024 UTC [27093] DETAIL:  Process 27093 waits f

[2020-07-15 08:17] evjlobanova commented on #1062
@e-olga Olga, could you please create a bug to release 5.3.1

[2020-07-16 06:37] evjlobanova commented on #1060
@e-olga @VolhaKarenko Could you please check this issue?

[2020-07-16 10:15] johnnashautomation commented on #282
Hi, I have the same problem however all of the containers running and I'm using both credentials from README.md

reportportal_db-scripts_1
reportportal_index_1
reportportal_analyzer_1
reportportal_rabbitmq_1
reportportal_elasticsearch_1
reportportal_postgres_1
reportportal_uat_1
reportportal_ui_1
reportportal_gateway_1
reportportal_minio_1

[2020-07-16 14:33] evjlobanova commented on #1062
Pull request https://github.com/reportportal/service-api/pull/1252

@Yumfriez Could you please describe the proposed decision?

[2020-07-16 19:04] pprraashant commented on #117
meanwhile we are working this video player feature.  Does anyone have any workaround for now like plugin or so ... its urgent need in our project

[2020-07-17 08:43] evjlobanova commented on #1061
Which version of ReportPortal do you use?

[2020-07-17 08:45] evjlobanova commented on #1059
@madhukeshava which version of ReportPortal do you use?
Which agent name and agent version do you use?
Steps for reprodiuction

[2020-07-17 08:53] KanstantsinSudzilouski opened #1065 "Long parameters fail server report"
Put into StartTestItemRQ.parameters value with more than 256 characters, and will cause validation error on server:

[code]

I belive we need to add triming at LaunchImpl.startTestItem + we need to merge two startTestItem methods. They match ~70%

[2020-07-17 09:16] #1054 closed

[2020-07-17 09:49] evjlobanova commented on #950
Fixed in the version 5.3

[2020-07-17 10:17] #1022 closed

[2020-07-17 10:18] #1027 closed

[2020-07-17 10:37] ivan-sukhomlyn commented on #950
Thanks! Looking forward to a new release :)

[2020-07-17 10:46] odubaj commented on #1038
Thanks for the info

[2020-07-17 11:31] odubaj opened #1067 "deploy RP in development mode"
Hello, is there a possibility to deploy RP and also to be able to develop and edit source codes and see the changes in the deployed version? The best option which takes my mind is to run RP via Docker (https://reportportal.io/docs/Deploy-with-Docker%3Edeploy-reportportal-with-docker) and after some changes, build new images from source code and use them via docker-compose. I'm afraid this won't be

[2020-07-17 13:29] HardNorth commented on #1050
@evjlobanova I think this is a good request

[2020-07-17 13:33] evjlobanova commented on #1050
We will add this to the release

[2020-07-17 14:40] smore07 commented on #950
Great news!!

[2020-07-18 19:52] nvborisenko commented on #1065
The same for test/launch name. API requires length 1..256

[2020-07-18 21:52] sspieker-cc opened #1068 "[v5] UI Filter Editing - When Creating a Filter manually the sharing cannot be toggled after being created"
**Describe the bug**
After creating a filter its sharing state cannot be modified through the edit UI elements (either the edit of the filter name or through editing through assigning as a part of creating a widget.

**To Reproduce**
Create a filter, then attempt to edit the filter in each mode (Filters view or through assigning through a widget).  Attempt to change the sharing option on the Filte

[2020-07-19 17:16] python-auto-hc commented on #1052
Hi @evjlobanova @DzmitryHumianiuk  ,

I tried my hands on the python client (ReportPortalService); and was able to post process the json logs generated by gwen; succeeded in pushing them in the report portal tool. But I am not convinced whether I will be be missing on something if I don't integrate it real time with gwen. Would like to add to what I stated about Gwen earlier; it is an open source

[2020-07-19 20:20] torarnv commented on #1038
Can you point me to the repository and code that handles the import? I have a similar use-case and would like to improve on the JUnit importer.

[2020-07-20 08:10] iShimon commented on #1061
5.1.1

[2020-07-20 08:12] evjlobanova commented on #1061
@iShimon please update to the latest version 5.2.3

[2020-07-20 09:41] odubaj commented on #1067
Hi, I already figured out how to deploy it. There are dockerfiles in each repo (ui and api) which produce images from source files. These images can be used with docker-compose.

[2020-07-20 09:41] #1067 closed

[2020-07-20 09:47] odubaj commented on #1038
Hi, it is service-api repository, where in LaunchController you have ImportLaunchHandler. We can collaborate on this issue. My aim is to modify import, so it will automatically add attributes to launches, test-suites and test-cases. The attributes should be stored in Junit XML tag <properties>. Standard here: https://llg.cubic.org/docs/junit/

[2020-07-20 14:56] cesar-montoya opened #1069 "[v5] I cannot start reportportal (analyzerApp cannot start)"
**Describe the bug**
I cannot start reportportal

**To Reproduce**
After I enter **docker-compose -p reportportal up** this keeps showing up and I am unable to launch reportportal:

_analyzer_1       | 2020-07-20 14:54:52,503 - analyzerApp - INFO - Starting waiting for AMQP connection
analyzer_1       | 2020-07-20 14:54:52,504 - analyzerApp - INFO - Try connect to /analyzer?heartbeat=600
analyzer_

[2020-07-20 22:12] bzsharm commented on #1021
Hey I have found a solution it's working in my local system, it perfectly works with Ready Api ( v 3.0) as well as Soap Ui (5.0.4) ,
I got it from a different community,

Step 1 : copy attached an xml listener file in to Listener folder in bin and attached jar file in to Ext folder in bin, (Home directory Soap UI / Ready API)

Step 2 : Update the Properties ,

In Ready ApI - Right click top most p

[2020-07-21 04:00] naddison opened #1070 "[v5] Be able to use an elasticsearch that requires basic auth"
**Describe the solution you'd like**
I currently see that it is possible to set the value of the environment variable ES_HOSTS to point https://github.com/reportportal/kubernetes/blob/master/reportportal/v5/values.yaml#L147.

The ES cluster that is already available to me requires Basic Authentication. Can username and password environment variables be added, that are read and used to perform basi

[2020-07-21 06:57] Seshadri1993 opened #1071 "Receiving an error saying "There was an error in the forked process" while integrating RP with Selenium+TestNG+Maven test framework"
I am trying to integrate my existing test framework(Selenium+TestNG+Maven)  and Reportportal. But I am receiving an error indicated below :

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  02:51 min
[INFO] Finished at: 2020-06-29T17:59:45+02:00
[I

[2020-07-21 11:54] priyankachaturvedi30 opened #1072 "Comparing last two launches"
**I want to compare last two launches**
...

**I see we have an option Comparing launches side by side - with the help of history table**
But what if my history depth exceeds 30. (max value)
![image](https://user-images.githubusercontent.com/50797731/88051536-676d0980-cb76-11ea-8d02-558f565e0224.png)

I am facing this issue where my build execution run/number has exceeded 30, and now I am unable t

[2020-07-21 12:04] Yumfriez commented on #1028
Reopen issue if u still have any problems

[2020-07-21 12:06] Yumfriez commented on #1070
@evjlobanova We can create a JIRA ticket with this improvement

[2020-07-21 13:50] Yumfriez commented on #1047
@Invictum You can disable http/rabbit messages logging using env variable for `API` container:

RP_REQUESTLOGGING=false

You can also set root logging level higher then `INFO`:

LOGGING_LEVEL_ROOT=error

[2020-07-21 13:51] Yumfriez commented on #1046
@evjlobanova Probably we can investigate it on Back-end side and try to implement

[2020-07-21 13:56] Yumfriez commented on #1037
@evjlobanova If I'm not wrong @AlehB implemented MinIO as S3 proxy. There was only one bucket (by default `rp-bucket` but this name can be customized through the env variable) with folders for each project inside

[2020-07-21 14:01] Yumfriez commented on #1019
@evjlobanova Probably we need help from @Cyberglamdring to know about our certificates configs

[2020-07-21 14:05] Yumfriez commented on #1016
@evjlobanova We have to update our `shell-installation` repository and docs

[2020-07-21 14:09] Yumfriez commented on #1015
@Nagalakshmi17 @evjlobanova Exception is not related to the RP components. Also I can't see RP method for sending attachments in your code example. Try to use one of our examples with attachments reporting flow and let me know if you still have any issues.
https://github.com/reportportal/examples-java

[2020-07-21 14:13] MariyaIvanina commented on #1070
Yes, this improvement can be done. We can add username and password environment variables and use authentication based on them.

[2020-07-21 14:14] Yumfriez commented on #973
https://github.com/reportportal/reportportal/issues/1016

We have to update `shell-installation` repository

[2020-07-21 14:16] Yumfriez commented on #954
@evjlobanova @svettsova Probably we have to check it on our instances

[2020-07-21 14:18] Yumfriez commented on #940
@evjlobanova We have to update our JIRA-plugin mappings. Let's create a ticket for this task

[2020-07-21 14:24] Yumfriez commented on #935
@evjlobanova As for now we don't have integration with Jira Cloud. So we should probably investigate and implement it

[2020-07-21 14:27] Yumfriez commented on #929
@svettsova Probably we need to reproduce it on our current version

[2020-07-21 14:36] Yumfriez commented on #1064
@apjneeraj These exceptions just inform about `salt` migration error. It is not mandatory. Try to report some logs with attachments and see if they are displayed on the Report Portal UI. You can also go to the MinIO UI page (9000 port by default) and see the bucket names with prefixes.
`Access Denied` error probably is because you provided different credentials for MinIO deployment and our API ser

[2020-07-21 14:37] Yumfriez commented on #880
@evjlobanova We already have a JIRA-ticket for Re-run functionality refactoring

[2020-07-21 14:41] pravinupganlawar opened #1073 "Data Retention Policy"
Do we have any Data Retention Policy for ReportPortal ?
How to setup the Data Retention Policy for ReportPortal ?

RP Version : 4.3.0

[2020-07-21 14:46] Yumfriez commented on #1065
@evjlobanova Probably we can increase parameters length on the back-end side or/and implement logic for parameters shortening

[2020-07-21 14:51] Yumfriez commented on #936
@nbob31 Probably there were some problems with LB configuration, because I can't see any services on the `Login page` in the `versions` list. Try to deploy RP again and wait until services will be displayed. Probably some requests (one of them is `info` that fetches info about services and `github` button) are failing

[2020-07-21 15:04] MariyaIvanina commented on #1069
Hi, @cesar-montoya ! Please, add AMQP_URL: amqp://rabbitmq:rabbitmq@rabbitmq:5672 under environment section of analyzer module in the docker-compose.yml. As far as now the default value of the path to rabbitmq was not set.

[2020-07-21 16:56] orgads opened #1075 "Adding a link as attachment"
Hi,

We're trying to add a link to an external URL for each test. I found #499 which was solved by using markdown.

We have 2 problems with this:
1. the logs are long, and I have to scroll down through all the logs to find the link.
2. The link itself is very long (over 1000 characters, and after ~500 chars the link is terminated, and the rest is displayed as plain text. I tried different link rep

[2020-07-21 19:13] evjlobanova commented on #1072
@priyankachaturvedi30 But using History table you can compare 3  latest launches. Just choose the option History depth 3 and choose option Launches with the same name.

Does it work for you?

[2020-07-22 02:49] automationhacks opened #1076 "[v5] io.reactivex.exceptions.UndeliverableException exception in gradle run output"
**Describe the bug**
While running tests with report portal 5, below exception are printed

[code]

**To Reproduce**
- Clone the repo and check out to [this](https://github.com/automationhacks/grasp-reporting/commit/8fbeebab7a27b4660450b7a9f7bbef2460a0c6d2) commit

**Expected behavior**
There should be no such exception

**Screenshots**
Screenshot of the exception.

<img width="2013" alt="report_p

[2020-07-22 06:24] priyankachaturvedi30 commented on #1072
Yes, @evjlobanova . This helps. I got confused. But there is one usecase following the above I wanted to discuss further: Take a look at the one of my real time stats -
![image](https://user-images.githubusercontent.com/50797731/88141377-2249e580-cc11-11ea-9b73-c0e4813c83f4.png)

Now my build 28 is the latest build having **17 failed cases** count
When I select History depth as 3 - it shows the co

[2020-07-22 07:16] evjlobanova commented on #1070
@MariyaIvanina Could  you please add this task to you backlog?

[2020-07-22 07:25] evjlobanova commented on #1046
@HardNorth what do you think about this improvement?

[2020-07-22 07:40] evjlobanova commented on #1016
Added ticket to Jira

[2020-07-22 07:40] evjlobanova commented on #973
Added ticket to Jira

[2020-07-22 07:57] evjlobanova commented on #935
Will be fixed in a scope of refactoring Jira integration. We will implement integration with Jira Cloud.
Approximate estimations - winter 2020 (can be changed)

[2020-07-22 07:59] evjlobanova commented on #940
Added ticket to Jira

[2020-07-22 08:02] evjlobanova commented on #880
Will be fixed together with #980

[2020-07-22 08:03] evjlobanova commented on #1073
We do not support version 4.3, because the latest version is 5.2.3

You can configure data retention policy via Project Setting> General

![image](https://user-images.githubusercontent.com/30413511/88151150-fd527400-cc0a-11ea-8290-28487b67b3c5.png)

[2020-07-22 08:03] #1073 closed

[2020-07-22 08:05] evjlobanova commented on #1065
@HardNorth what do you think about launch mane/parameter length increasing?

[2020-07-22 08:07] evjlobanova commented on #1069
@cesar-montoya  please let`s know if it helps you

[2020-07-22 08:14] Yumfriez commented on #1062
@jlundy2

https://github.com/reportportal/service-api/pull/1252 In this PR properties of the thread pool executors were made modifiable.

RP_DATASOURCE_MAXIMUMPOOLSIZE - specifies the connection pool size of the `api` service. BY DEFAULT - 27.
Notice that `api` and `uat` services acquire 27 connections each. Also default connection pool size from the PostgreSQL size = 100 connections.

RP_ENVIRONM

[2020-07-22 08:20] evjlobanova commented on #1072
@priyankachaturvedi30 For now this logic can not be applied to the History table.

I can you propose to try to use a Most failed test case widget.

![image](https://user-images.githubusercontent.com/30413511/88152626-f462a200-cc0c-11ea-8086-f338515f1626.png)

![image](https://user-images.githubusercontent.com/30413511/88152554-da28c400-cc0c-11ea-9494-4130e89e3bfd.png)

I will not close this issue.

[2020-07-22 08:22] evjlobanova commented on #1068
@sspieker-cc Which version of ReportPortal do you use?

[2020-07-22 09:09] priyankachaturvedi30 commented on #1072
Thanks for giving it a thought @evjlobanova . Much appreciated :)

[2020-07-22 11:08] priyankachaturvedi30 opened #1077 "Missing Testcase is displayed in wrong execution build number"
**Describe the bug**
Say my execution 1 had 7 test cases ; Execution 2and 3 each had 9 test cases. Now, since there are 2 new cases added in 2 and 3 execution for execution 1 in History it should be shown as greyed out. But it is shown greyed out in execution 3 -> with details about execution 2 and 3 been shifted to right tiles. Refer video attached for more details. -- Launches numbers are run_18

[2020-07-22 11:28] HardNorth commented on #1046
@evjlobanova looks reasonable

[2020-07-22 11:47] evjlobanova commented on #1077
@priyankachaturvedi30 One row is not equaled to one launch.
It is a number of execution.
History works as expected.
But you are using an old version, in the latest version we have fixed a few bugs

[2020-07-22 11:56] priyankachaturvedi30 commented on #1077
Sure @evjlobanova . I'll move to the latest version, but I want to double check my understanding.
For above scenario: We have 3 columns namely **Execution 3** ; **Execution 2** and **Execution 1**.
According to my usecase following is the data in each of these columns:
Execution 3  for Launch name **Run 20**
Execution 2 for Launch name **Run 19**
Execution 1 for Launch name **Run 18**

Now for Sce

[2020-07-22 12:28] MariyaIvanina commented on #1070
@naddison I've just checked, that we already have a possibility to authenticate with user and password into Elasticsearch. You need to set in the ES_HOSTS http://{ your elastic username}:{your elastic password}@{elastic endpoint}:9200 . Please, write here, whether you have managed to login via this approach.

[2020-07-22 12:43] schrufygroovy commented on #903
If the attachment is of some unknown type, then the download is possible via clicking on the icon.
![image](https://user-images.githubusercontent.com/50398024/88177696-97291980-cc29-11ea-801d-df587b96f35e.png)

**But**, it seems that the file name is always some guid and not the file name I specified when uploading the file. Is there any possiblity to download an attachment with the correct file n

[2020-07-22 13:13] evjlobanova commented on #1077
No, we have a little other logic.
The history is based not on the launches, but on the executions.

Here description of this functionality https://reportportal.io/docs/History-of-launches%3Ehistory-table

So you have 3 test cases:
Test A
Test B
Test C

This test cases have been run in different launches:

Launch # 1 total 2 test case (A and B)
Launch # 2 total 3 test cases
Launch # 3 total 3 test

[2020-07-22 13:18] priyankachaturvedi30 commented on #1077
Oh, I get it now. This is helpful @evjlobanova . Makes Sense 👍

[2020-07-22 13:19] #1077 closed

[2020-07-22 13:19] cesar-montoya commented on #1069
Thank you this worked!!

[2020-07-22 13:20] #1069 closed

[2020-07-22 13:25] #646 closed

[2020-07-22 13:59] VolhaKarenko commented on #1060
Integration with Yandex account works without issues on version 5.0.
@Tumite Yandex issue on the screenshot seems to be not on our side. Could you please check your Yandex account settings for any connection restrictions?
The issue with Sendgrid may occur due to invalid configuration. Please see the email server integration guide: https://reportportal.io/docs/E-mail-server-integration
Note the for

[2020-07-22 16:07] jgalipea opened #1078 "defect types: request to provide hierarchy defining defect types with ACL permissions"
**Describe the solution you'd like**
I don't want to define the actual implementation or solution.  But this is what I was thinking about organizing defect failures.  We would also need to be able to apply access control lists (ACLs) to the defect types hierarchy.

TOP LEVEL
Test Issue
Product Bug
Environment

NEXT LEVEL
- Test Issue.test setup
- Test Issue.execution
- Test Issue.test cleanup
- Te

[2020-07-22 16:44] evjlobanova commented on #1078
@jgalipea thanks a lot for this request

It is a very interesting idea.
But could you please add more details.

By what principle do you want to divide defect types between different levels?
For instance, you have 3 levels of defect types. Should each test case have 3 defect types?
Also the business need for this feature is a little bit unclear for me. Could you please provide more details on it?

[2020-07-22 16:47] HardNorth commented on #1076
Your gradle task failed due to assertion error, the latter error message is related to a minor bug, which should not affect execution results. BTW it is already fixed in 5.0.6:
https://github.com/reportportal/agent-java-testNG/releases/tag/5.0.6
https://bintray.com/epam/reportportal/agent-java-testng/5.0.6

[2020-07-22 16:47] #1076 closed

[2020-07-22 22:32] jlundy2 commented on #1062
Hello, upgrading to the latest images, etc. I get the following error on startup:

` ERROR 6 --- [ main] o.s.b.web.embedded.tomcat.TomcatStarter : Error starting Tomcat context. Exception: org.springframework.beans.factory.BeanCreationException. Message: Error creating bean with name 'servletEndpointRegistrar' defined in class path resource [org/springframework/boot/actuate/autoconfigure/endpoint/

[2020-07-23 06:08] orgads opened #1079 "[v5] Docker: Unable to login"
**Describe the bug**
I can not login. Call to /api/v1/user returns 502 Bad Gateway, and I see that the api service doesn't listen on port 8585.

**To Reproduce**
I'm unsure what exactly caused this.

**Desktop (please complete the following information):**
 - OS: Linux

**Additional context**
Log:
[code]

And indeed the postgres database had a duplicate user entry:
[code]

And it was fixed by dele

[2020-07-23 07:11] evjlobanova commented on #1079
@orgads All services are running? Do you follow steps which are described here https://reportportal.io/docs/Deploy-with-Docker?

[2020-07-23 07:13] orgads commented on #1079
Yes. It worked for about a week, and suddenly broke. Possibly after upgrading (we started with 5.2.0 and upgraded to 5.2.2). Maybe another user added a user. Like I said, even the API service is running, but it is not listening on port 8585 (it has several other ports though).

After I deleted the row from the db and restarted the api service everything works again.

[2020-07-23 07:19] evjlobanova commented on #1079
@orgads So the problem has been resolved?

[2020-07-23 07:21] orgads commented on #1079
Yes, but I think it's worth investigating how this extra user got there.

Can you suggest how to track it?

Maybe it was added in DB migration process?

How come the DB didn't reject it in the first place?

[2020-07-23 07:29] evjlobanova commented on #1079
@Yumfriez Ivan, could you please check this issue?

[2020-07-23 07:37] pravinupganlawar commented on #1073
Thanks

[2020-07-23 11:09] VolhaKarenko commented on #1068
Can not reproduce the issue on version 5.0.
@sspieker-cc Could you please provide a screenshot specifying the broken toggle

[2020-07-23 11:45] jgalipea commented on #1078
Hi evjobanova!
Thank you so much for your rapid consideration.

By what principle do you want to divide defect types between different levels? For instance, you have 3 levels of defect types. Should each test case have 3 defect types?

Yes, I would think that if an engineer assigned a level 3 defect type, I could see that inheriting the parent defect types as they would be relevant and metrics to

[2020-07-23 18:47] nvborisenko commented on #1065
https://github.com/reportportal/client-net/issues/57 and there is limitation for attributes value. I propose to get rid of any kind of string length limitations on server side.

[2020-07-24 01:33] automationhacks commented on #1076
Thank you @HardNorth , Upgrading to 5.0.6 solves the issue. This was really much needed.

[2020-07-24 07:34] harshagv12 opened #1080 "Java heap space out of memory "5000: Unclassified error [Handler dispatch failed; nested exception is java.lang.OutOfMemoryError: Java heap space]""
When we uploading the logs to report portal when more 75 MB, we are seeing the java heap space memory error. Below is the complete error,

**5000: Unclassified error [Handler dispatch failed; nested exception is java.lang.OutOfMemoryError: Java heap space]
Exception when trying to save logs to reportportal: 5000: Unclassified error [Handler dispatch failed; nested exception is java.lang.OutOfMemor

[2020-07-24 07:43] harshagv12 opened #1081 "Report portal rendering is very slow in UI"
Application is launched from docker compose, but UI rendering is very slow. How to increase the docker memory.
Below is the system configuration where we hosted the report portal,

OS : Ubuntu 18
CPU : 32
Memory: 64G
Storage:  1 TB.

[2020-07-24 07:48] evjlobanova commented on #1081
Please follow the steps to improve issue with performance, and let us know if it helps https://reportportal.io/docs/How-to-resolve
cc @irynakozak2

[2020-07-24 07:50] evjlobanova commented on #1080
It seems that there is no space left on your device. You can try to increase the disk space of your machine and/or provide more disk space resources to the Docker on your machine.

cc: @irynakozak2

[2020-07-24 07:55] harshagv12 commented on #1059
Agent agent: pytest Agent
Version: pytest_reportportal-5.0.3.dist-info

Steps:
1. Read the file with size more then 80 MB. Below code,
  with open(file_name, "r") as fh:
         file = fh.read()
         rp_logger.info(file)
2. Logs the data to report portal
3. Java out of memory error is seen

[2020-07-24 09:12] harshagv12 commented on #1080
fvt@bulfct04:~$ sudo docker system df
TYPE                TOTAL               ACTIVE              SIZE                RECLAIMABLE
Images              16                  13                  7.305GB             2.482GB (33%)
Containers          26                  10                  6.096GB             5.721GB (93%)
Local Volumes       10                  9                   9.726GB             1.

[2020-07-24 09:40] harshagv12 commented on #1081
We still sufficient storage where we hosted the docker composer for report portal. Below is the config details,
fvt@bulfct04:~$ df -h
Filesystem                                                Size  Used Avail Use% Mounted on
udev                                                      7.9G     0  7.9G   0% /dev
tmpfs                                                     1.6G  1.9M  1.6G   1% /run
**/de

[2020-07-24 14:55] evjlobanova commented on #1080
Which version of rp do you usr?

[2020-07-25 16:53] iShimon commented on #1061
tested with 5.2.3 issue with interrupted still appear, but deadlock messages does not seen in the log
i do see this error repeating in the api log:
` {"endTime":1595674162527,"status":"PASSED","issue":{"issueType":"ti001","autoAnalyzed":false,"ignoreAnalyzer":false},"launchUuid":"230b5df2-a828-4226-9769-966fcb902bdd"}
2020-07-25 10:49:22.536 DEBUG 7 --- [nio-8585-exec-9] c.e.t.r.w.c.TestItemAsyncC

[2020-07-27 07:44] mihtac opened #1082 "[v5] cannot add users to a specific project"
We have multiple projects on our report portal instance (5.2.1, but tried upgrading to 5.2.2 and this still occurs post-upgrade). I can create new users, can add them to projects, except one. I tried both creating a user directly to that project, or create to another one and invite to that project - both fail.

**To Reproduce**
One particular thing that makes that project different to the rest, is

[2020-07-27 08:53] evjlobanova commented on #1078
@jgalipea we are planning to add organization level, in this case, Organization admin will be able to set the same Defect types for all projects. And only he will be able to update /delete these defect types.

I suppose it can cover your need

[2020-07-27 08:53] Yumfriez commented on #1061
@iShimon Probably there is a problem with `api` token, regenerate it and try to run your tests with the new one

[2020-07-27 09:38] mihtac opened #1083 "[v5.2.1] auto analysis does not automatically start, but works manually"
**Describe the bug**
We have a few test runs (not all!) where auto analysis does not seem to work automatically. Don't think it's a matching issue, as if I go and manually trigger AA on a test run of that series (same launch name), it does match failures with previous runs.

**To Reproduce**

**Expected behavior**
I'm expecting AA to automatically label failures if set to do so, when there are tes

[2020-07-27 09:42] avarabyeu commented on #1062
@jlundy2 @Yumfriez isn't the error related to RabbitMQ misconfiguration?

[2020-07-27 12:14] jgalipea commented on #1078
It might .. do you have a link to what is being implemented so I can take a look?  Thank you!!

[2020-07-27 13:48] evjlobanova commented on #1083
![image](https://user-images.githubusercontent.com/30413511/88549463-fd96a900-d028-11ea-9313-fe7a856a3fe1.png)

Switch auto analysis on in Settings

[2020-07-27 13:57] mihtac commented on #1083
it is currently like so:
![image](https://user-images.githubusercontent.com/65647517/88550380-34b98a00-d02a-11ea-8f6c-d1315813b63d.png)
does work on some of the launches we're having, but on others it consistently doesn't work (automatically, as it does match manually)

[2020-07-27 14:12] evjlobanova commented on #1083
![image](https://user-images.githubusercontent.com/30413511/88552024-3c7a2e00-d02c-11ea-8fc5-3c9d86fc5cdd.png)
In accordance with settings, it is analyzing only launches with the same name

I need more details)

[2020-07-27 14:19] mihtac commented on #1083
they do have the same name:
![image](https://user-images.githubusercontent.com/65647517/88552903-4e100580-d02d-11ea-9c67-07d019ca9093.png)

[2020-07-27 14:19] mihtac commented on #1083
when I say manually triggered analysis, I mean this option:
![image](https://user-images.githubusercontent.com/65647517/88552963-6122d580-d02d-11ea-9ac1-fd6d99245130.png)

[2020-07-27 14:25] evjlobanova commented on #1083
![image](https://user-images.githubusercontent.com/30413511/88553561-16558d80-d02e-11ea-9a70-4315a6a93d49.png)
Why all your launches have been interrupted?
The problem is that your launches have not been finished inappropriately. So that AA hasn`t been triggered

[2020-07-27 14:29] mihtac commented on #1083
Good spot, I do not know - is it because the time is in red?

We'll investigate! - any hint for where to start looking? any specific log entry?

[2020-07-27 14:33] mihtac commented on #1083
undefined step :( thanks for the help!

[2020-07-27 14:33] #1083 closed

[2020-07-27 14:56] evjlobanova commented on #1083
It is difficult to say why without any contex)
Which agent do you use?

[2020-07-27 15:38] sspieker-cc commented on #1068
We are currently running two versions - 5.0.0 and 5.2.2 (locally using docker compose).  Local testing confirms that there are no regressions in processes that we have in place.

[2020-07-27 15:40] sspieker-cc commented on #1068
Closing this issue as it has not been reproduced after restart.

[2020-07-27 15:40] #1068 closed

[2020-07-27 17:53] bzsharm opened #1084 "Solution for Report Portal – integration with Ready API"
**Solution for Report Portal – integration with Ready API**

I have found a solution for report portal integration with ready api, it perfectly works with Ready Api ( v 3.0) as well as Soap Ui (5.0.4) , It was tested on latest report portal release 5.2 & it’s working perfectly fine.
Please find below the steps followed:
Step 1: Download & Extract the attached ZIP File,

It will have a jar file and

[2020-07-27 18:43] srinidhis05 opened #1085 "[v5] Retried test is shown as a separate test. They don't merge in single one when the tests are triggered via dataproviders"
**Describe the bug**
The retried tests are shown as separate tests when triggered via a data provider and retried . The same doesnt seem to happen for regular test cases run
**To Reproduce**
[code]
[code]

A standard retry analyzer is being used here

**Expected behavior**
The test results needs to be merged with retry numbers in the dashboard

**Screenshots**

![image](https://user-images.githubu

[2020-07-28 09:33] HardNorth commented on #1085
@srinidhis05 Please update your RP Server version to 5.2.3.

[2020-07-28 09:33] #1085 closed

[2020-07-28 09:53] Yumfriez commented on #1084
We have similar guide for the SoapUI integration. So we will add `installation guide` part for ReadyAPI to our repository

[2020-07-28 10:00] Yumfriez commented on #1059
@evjlobanova We have to investigate and fix this issue

[2020-07-28 10:02] Yumfriez commented on #1062
@avarabyeu Yes, probably outdated version of `docker-compose.yml` was used. @jlundy2 Try to use the latest file with provided `RabbitMq` credentials:
https://github.com/reportportal/reportportal/blob/master/docker-compose.yml

[2020-07-28 10:05] Yumfriez commented on #1079
@evjlobanova We need to investigate this issue

[2020-07-28 10:08] evjlobanova commented on #1084
@bzsharm Thank you for your contribution!

[2020-07-28 10:08] #1084 closed

[2020-07-28 10:11] evjlobanova commented on #1059
Added task to Jira

[2020-07-28 10:36] evjlobanova commented on #1079
@e-olga could you please add a new task to Jira

[2020-07-28 12:13] bzsharm commented on #1021
closing the ticket , as we found a solution for ready api integration with RP

https://github.com/reportportal/reportportal/issues/1084

[2020-07-28 12:13] #1021 closed

[2020-07-28 14:44] mihtac opened #1086 "differentiate how long we keep test results, versus test logs"
**Describe the solution you'd like**
I'd like to be able to keep historical results (pass/fail numbers) for a longer amount of time (months), but keep the log entries (per test) for a lower time (a month?) - to save space on the backup.

**Is your feature request related to a problem? Please describe.**
We're having issues with upgrading to a newer version, as the backup we currently have doesn't

[2020-07-28 14:59] harshagv12 opened #1170 "How can i map the Attribute keys and Attribute values to generate the charts"
How can i map the Attribute keys and Attribute values to generate the charts "Component health check" and "Cumulative trend chart" for below rp_launch_tags,

1. launch Name
2. Build
3. Platform

Can you please help me on this ?

I am using pytest framework and integrated to report portal

[2020-07-29 06:19] harshagv12 opened #1087 "How can i map the Attribute keys and Attribute values to generate the charts"
How can i map the Attribute keys and Attribute values to generate the charts "Component health check" and "Cumulative trend chart" for below rp_launch_tags,

launch Name
Build
Platform
Can you please help me on this ?

I am using pytest framework and integrated to report portal

[2020-07-29 06:19] harshagv12 opened #1101 "How can i map the Attribute keys and Attribute values to generate the charts"
How can i map the Attribute keys and Attribute values to generate the charts "Component health check" and "Cumulative trend chart" for below rp_launch_tags,

launch Name
Build
Platform
Can you please help me on this ?

I am using pytest framework and integrated to report portal

[2020-07-29 06:21] harshagv12 commented on #1080
I am able to solve this issue by increasing the java heap memory in docker.yml file

[2020-07-29 06:21] #1080 closed

[2020-07-29 07:36] odubaj opened #1088 "compiling reportportal/commons-model into docker API image"
Hi,
I am having problem to build a local docker API image containing local changes of reportportal/commons-model together with reportportal/service-api. When I run "./gradlew buildDocker -x test", it creates a image, but olny with local changes of reportportal/service-api and ignores changes of reportportal/commons-model.
How can I reflect changes from both local repositories ?

Thanks.

[2020-07-29 09:08] rhehl commented on #1028
@Yumfriez uhm, shouldn't this be fixed? It would be nice to call a async method instead of using the workaround

[2020-07-29 10:18] evjlobanova commented on #877
Feature SAML auth will be available in version 5.3

[2020-07-29 10:22] evjlobanova opened #1089 "Integration with Keycloak https://www.keycloak.org/"
Implement integration with https://www.keycloak.org/

[2020-07-29 10:38] VolhaKarenko commented on #914
The issue is not reproducible on
ReportPortal version: 5.3
Safari Version 13.1.2

[2020-07-29 10:38] #914 closed

[2020-07-29 11:58] Kanhaiya1k commented on #692
Getting same issue on mac, this url **http://localhost:8080/ui/** showing loading...

[2020-07-29 17:38] troyhugs opened #1090 "Attributes and Values are added but still the report has not stopped."
Using const ReportportalAgent = require('@reportportal/agent-js-jasmine');

Looks like it is in an infinite loop.
![image](https://user-images.githubusercontent.com/17424203/88833738-5c5a4f00-d1f0-11ea-9591-55999f7f7eb2.png)

![image](https://user-images.githubusercontent.com/17424203/88833778-6da35b80-d1f0-11ea-83c8-c8cacdbab210.png)

[2020-07-29 19:40] sapna-dentsu commented on #1064
Hi All,

I'm getting the below error after migrating from 5 to 5.1
Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2020-07-29 19:37:25.021 ERROR 8 --- [           main] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'm

[2020-07-29 19:52] troyhugs commented on #1090
Error: Request failed with status code 400: {"errorCode":40019,"message":"Test item status is ambiguous. There is no status provided from request and there are no descendants to check statistics for test item id '178143'"}
    at /Users/john/Documents/node_modules/@reportportal/client-javascript/lib/rest.js:31:23
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process

[2020-07-30 05:44] Vaibhavshukla08 opened #1091 "Customize login Page is it possible ? in Report Portal"
Hi,@evjlobanova Hope you are doing well !!
is there any way by which we can customize the login page of RP?

[2020-07-30 08:09] CDJojn opened #1092 "Support for Docker Swarm - Update docker-compose 2.x->3.x"
Hi, we are currently facing issue that is not possible to deploy DockerPortal on Docker Swarm, for Swarm is necessary docker compose file in version 3.x, but current docker-compose.yml is for version 2.4.

We have tried to update docker-compose.yml for supported version but there is main issue with not supported health checks (depends_on -> condition). For this purposes is necessary to create cust

[2020-07-30 11:57] evjlobanova commented on #269
Available in version 5.3

[2020-07-30 11:57] #269 closed

[2020-07-30 20:56] Invictum commented on #1047
@Yumfriez
Seems like it worked. Thank you!

[2020-07-31 07:14] #1091 closed

[2020-07-31 09:31] e-olga commented on #1079
@evjlobanova,
the ticket is added to RP backlog

[2020-07-31 10:18] harshagv12 opened #1094 "[v5] Report portal not able to filter the attribute value based on attribute key"
**Describe the bug**
We are able to generate attribute key & value and push the data to report portal.  But filtering the value based on attribute key, results are not listing.

**To Reproduce**
Using latest python agent-python-pytest 5.0.4 and client-Python 5.0.3 with below data structure,
[code]
Push the data to report portal 5.2.3 you should see the launch.  Using filter option attribute key wi

[2020-07-31 12:04] Yumfriez commented on #857
Fixed in https://github.com/reportportal/migrations/pull/161

[2020-07-31 12:04] #857 closed

[2020-07-31 13:49] adelstrinidad commented on #1079
I'm facing the same issue on windows. I just installed RP with Docker on Windows, I checked that all services are running ok, but when I try to login, I get "error 502".

[2020-07-31 14:17] sapna-dentsu commented on #566
It is there, but are there any logs?

[2020-07-31 14:20] sapna-dentsu commented on #877
The SAML is there but is there any documentation?

[2020-08-03 05:26] odubaj commented on #1088
genle ping

[2020-08-03 07:59] irynakozak2 commented on #921
@ivan-sukhomlyn hello,
this case has been checked on our side and all consumers(need some time after starting the service-api service) be connected to all queues and that behavior in the logs is expected(service-api looking over the non-busy queues). Could you please check that all consumers are connected to queues in your case, and if yes, we added the ticket to the backlog for replacing log leve

[2020-08-03 08:15] irynakozak2 commented on #1081
@harshagv12 Hello, by default, a container has no resource constraints and can use as much of a given resource as the host’s kernel scheduler allows, but you can increase Java Heap Memory for speed up the service-api(in the default Docker installation we have -Xmx1g) so that increasing this parameter will improve the RP performance and allows to use more RAM resource.
Could you please specify the

[2020-08-03 09:13] svettsova commented on #929
The issue is not reproducible on 5.3 version. Please, upgrade your RP and let us know if the issue still reproducible for you

[2020-08-03 09:54] VolhaKarenko commented on #954
Verified on version 5.3- not reproducible. @s-reimer please upgrade your RP version and let us know if the issue is still valid

[2020-08-03 11:05] vasanth1896 opened #1095 "Configure Elasticsearch Service from external server instead of local[v5]"
https://github.com/reportportal/reportportal/issues/764#issue-532095841

Please refer the above issue for details. Was able to configure ES_HOST until 5.2.3v, but after upgrading to 5.3v its not working/ Kindly help on this. If i am doing anything wrong in compose file, please let me know.

[code]

[2020-08-03 14:35] Invictum commented on #1079
I've faced with the same issue on fresh RP install. Interesting that issue resolves itself if I wait for 3-5 minutes before login right after instance starting.

[2020-08-04 04:28] AspireFbbRP opened #1096 "Report portal not showing the logs completely"
Hi Team,

Please help me with this,
I am executing an E2E suite (Total of 92 Test cases) in the report portal. When I am seeing the logs in the report portal, some test cases only having half of its logs displaying in RP.
TestNG report generating is good.

**The problem occurring for random test cases in random executions**. Please consider its as a high priority.

I am not able to AA and Pattern

[2020-08-04 09:06] DzmitryHumianiuk commented on #1096
@AspireFbbRP are there any special logs in test framework (console) available at this time?
We need at least something in order to help.

If it occurs in random situation, and you have all logs in previous run and have just the half of them the other day,
then please see if your instance configured properly from performance perspective.

[2020-08-04 09:17] DzmitryHumianiuk commented on #1094
@harshagv12 based on screen above, you did send attribute values only.
We keep backward compatibility with RP v4, which was accepting tags only.
So if you send your attribute as plain string `Build: xxxx` it will be stored as **Attribute Value.**
Which is equal to Empty Key : Value.

So please send them as key:value object

[code]

[2020-08-04 13:27] bcarriou opened #1097 "[v5] org.postgresql.util.PSQLException: ERROR: relation "quartz.scheduler_triggers" does not exist"
Hi,

I tried to deploy an reportportal instance from helm chart but I have the following error when the services api and uat started:

[code]

Can you help me ?

**Versions:**
* reportportal/service-authorization:5.3.0
* reportportal/service-api:5.3.0

**Helm chart values:**
[code]

[2020-08-04 15:18] harshagv12 commented on #1094
Below is the format i am planning to send the object to report portal
{
  "attributes": [
	{
	  "key": "SuiteName",
	  "value": "{0}".format(testsuite)
	},
	{
	  "key": "Build",
	  "value": "{0}".format(1.0)
	},
	{
	  "key": "Platform",
	  "value": "{0}".format(OS)
	}
  ],
}

"attributes" which value i need to pass this attribute. Please conform on this data structure.

Also can you provide which

[2020-08-04 18:25] tharindu99 opened #1098 "[v5] Defect types not updating instantly and take too long time"
**Describe the bug**
Under the test case investigation, if we change defect type it will not appear when we click save button. But after a few minutes later it will update.

**Expected behavior**
When we change something and click the save button, it should appear instantly.

[2020-08-04 18:53] llamashoes commented on #566
I would love to see some documentation on this as well, specifically what the values for the Single Sign On, Recipient and Destination URLs need to be related to OKTA.

[2020-08-05 05:51] sapna-dentsu commented on #566
@llamashoes let me know if this works for you as for me it is not working. I can't see the sign in with Okta on my signup page after upgrade.

[2020-08-05 06:14] VolhaKarenko commented on #871
The issue is fixed in version 5.3

[2020-08-05 06:14] #871 closed

[2020-08-05 07:09] Brrovko opened #1099 "Publicate test name in the jira posted issue"
**When users post issue via Report Portal add test name in the Jira issue description.**
...

**As for now users have to write a name of the tests in the Jira tickets manually**
...

[2020-08-05 07:12] Brrovko commented on #1098
Faced with the same issue. Ignore in Auto Analysis helps to changes defect type immediately.

[2020-08-05 07:36] evjlobanova commented on #1094
@iivanou Ivan, I suppose we have already have a feature request for pytest to add a possibility to report attribute with key: value structure, am I right?

[2020-08-05 07:47] evjlobanova commented on #566
@llamashoes @sapna-dentsu Documentation is here
We will update it today with explanation video

[2020-08-05 07:50] evjlobanova commented on #877
@sapna-dentsu Documentation is here @sapna-dentsu Documentation is here https://reportportal.io/docs/SAML-integration
We will update it today with explanation video

[2020-08-05 08:17] evjlobanova commented on #1088
Dev team will look at this issue, as soon as they have free time)

[2020-08-05 08:21] odubaj commented on #1088
Thank you very much

[2020-08-05 08:28] evjlobanova commented on #1098
@tamasmartin @Brrovko please check firstly steps for performance improvement https://reportportal.io/docs/How-to-resolve

If issue is still reproduced, please let us know, we will proceed with investigations

[2020-08-05 08:30] evjlobanova commented on #1098
@irynakozak2 could you please keep an eye on this issue

[2020-08-05 08:32] evjlobanova commented on #1099
Could you please send a screen on how you do it right now?

[2020-08-05 08:34] evjlobanova commented on #1090
@AmsterGet Could you please take a look

[2020-08-05 08:35] #1047 closed

[2020-08-05 09:20] #936 closed

[2020-08-05 09:20] evjlobanova commented on #985
@edyp Any updates?

[2020-08-05 09:21] #1015 closed

[2020-08-05 09:50] sindyinturi opened #1100 "[v5]Unable to pass multiple Report Portal attributes through VSTest command line arguments"
**Describe the bug**
I am trying to pass multiple report portal attributes using VStest command line arguments.

/Logger:trx /Logger:ReportPortal;launch.name="Launch_Name";launch.attributes="a":"a","b":"b";launch.description="description"

**To Reproduce**

**Expected behavior**
Although i am passing  key value pairs , in RP i can see the key as "a" and Value as "a,b:b"

How do I pass multiple arg

[2020-08-05 10:00] iivanou commented on #1094
@evjlobanova You are right. Moreover, this feature has already been implemented and will be available in the next 5.0.5 release.

[2020-08-05 10:30] harshagv12 commented on #1094
i am able to filter the data based on key now with below structure,
 [
{
"key": "SuiteName",
"value": "{0}".format(testsuite)
},
{
"key": "Build",
"value": "{0}".format(1.0)
},
{
"key": "Platform",
"value": "{0}".format(OS)
}
]

But i am able to filter the data for one build from report portal UI.
If i want to filter the data Ex: suitename across build, I cannot "CHOOSE FILTER FROM THE LIST BELOW"

[2020-08-05 10:32] harshagv12 commented on #1101
Closing this issue.

[2020-08-05 10:32] #1101 closed

[2020-08-05 10:36] harshagv12 commented on #1081
We have deployed the report portal from docker with report portal version 5.0.0

[2020-08-05 11:19] evjlobanova commented on #1094
@harshagv12 Please provide steps on how we can reproduce it

[2020-08-05 12:34] loadtheaccumulator opened #1102 "[v5] Data migration from v4.3 to v5.0 fails with dependency errors"
**Describe the bug**
When migrating data from ReportPortal v4.3 to v5.0 via the provided docker-compose, the process fails with multiple dependency errors.

**To Reproduce**
Install new 5.0 system or clean up per the instructions and run the process again.
Reproducible every time.

**Expected behavior**
A clear and concise description of what you expected to happen.
I expected data to be moved fro

[2020-08-05 12:39] evjlobanova commented on #1102
@pbortnik could you please take a look?

[2020-08-05 13:23] Brrovko commented on #1099
1. ![image](https://user-images.githubusercontent.com/24970976/89417325-358fa180-d737-11ea-8265-71bca8fadaa3.png)
2. ![image](https://user-images.githubusercontent.com/24970976/89417436-5bb54180-d737-11ea-9eae-7a838e9ec8c2.png)
3. ![image](https://user-images.githubusercontent.com/24970976/89417905-02014700-d738-11ea-9022-e8ce5408861f.png)

[2020-08-05 13:57] evjlobanova commented on #1099
Thank you for your request!
We are planning to implement this during the refactoring of Jira integration.
We are planning to add a possibility to choose which info should be posted to Jira via placeholders.

Something like that
![image](https://user-images.githubusercontent.com/30413511/89421377-a08fa700-d73c-11ea-8b47-915fea942e36.png)

[2020-08-05 14:11] Brrovko commented on #1099
Thank you! Is it some estimation when the Jira integration refactoring will be done?

[2020-08-05 14:36] AmsterGet commented on #1090
@troyhugs Hi!
The problem seems to arise when you try to send a `describe` block with no children, so the status for it cannot be calculated correctly.
**Possible solution:**
If you would like to report a suite without any tests / steps, please set your preferred status directly using [https://github.com/reportportal/agent-js-jasmine#finish-launchsuitespec-with-status](this) API.

[2020-08-05 15:31] ivan-sukhomlyn opened #1103 "[v5] ReportPortal API don't clean attachments at the object storage"
**Describe the bug**
ReportPortal API service doesn't clean attachments at the object storage like S3 and MinIO.

Currently, we host **~4 TB** of objects at the AWS S3 for ReportPortal.

**To Reproduce**

1. Set expiration time for attachments
2. Wait for cleaning jobs starting
3. Check logs
[code]
4. Check objects availability at the S3/MinIO bucket
Screenshot created on the Aug 5th, 2020
![Scree

[2020-08-05 15:49] ivan-sukhomlyn commented on #921
@irynakozak2 Hi,
Thanks for the reply!
In my opinion, the problem is not related to logs. RabbitMQ reports and close requests to of consumers for connection to queues because of they are used in the **exclusive** mode. More details - https://www.rabbitmq.com/queues.html#properties
During the rolling update process, new pods of an API service always reconnect to queues that produce such logs as men

[2020-08-05 16:07] evjlobanova commented on #1103
@ivan-sukhomlyn could you please update to the latest version 5.3 and check if issue is still valid?

[2020-08-05 16:13] irynakozak2 commented on #921
@ivan-sukhomlyn yes, as for now, this is normal behavior: the logic 1 consumer per 1 queue was originally designed this way. I've raised the ticket to our backlog for changing the log level. Thanks a lot.

[2020-08-06 07:33] malmor commented on #877
Could you provide some additional documentation about which endpoints reportportal expects the SAML provider to send the responses to?

In the video (https://youtu.be/ljXvCVWG4mQ) one can see the settings in okta and I think the destination url was something similar to "https://HOST/uat/saml/sp/SSO/alias/report-portal-sp" (this part maybe needs a bit of documentation 😉)

We really want to get this

[2020-08-06 08:44] pbortnik commented on #1102
Hi @loadtheaccumulator,
Can you execute the next command according to the MongoDB database. Do you have any response?
`db.getCollection('testItem').find({"start_time" : {$exists : false}})`

[2020-08-06 09:29] irynakozak2 commented on #1098
@tharindu99 hello, on latest RP version(5.3) we've fixed the same issue, as you've described, and as for now, update the defect type for the set of items should appear on 3-4sec for 155 items count. The point regarding reducing this response time to almost immediately I've already checked and confirmed(this behavior occurs because update defect type affects the elasticsearch analyzer resources, an

[2020-08-06 10:05] AmsterGet commented on #1090
Improvement task create.

[2020-08-06 10:26] irynakozak2 commented on #1081
@harshagv12 could you please let us know if increasing the Xmx option help you to solve the issue?

[2020-08-06 11:42] HardNorth commented on #1051
Abandoned

[2020-08-06 11:42] #1051 closed

[2020-08-06 13:39] loadtheaccumulator commented on #1102
@pbortnik I went through that step per another ticket I had run across, deleted the entry, and cleaned up before restarting the process.
It still shows nothing in response...

[2020-08-07 08:08] rhehl opened #1104 "please reopen #1028"

[2020-08-07 08:10] rhehl commented on #1028
With the workaround i'm running sometimes into raceconditions, please make it async

[2020-08-07 08:23] dearimranz commented on #860
Hi @pbortnik

We are trying to migrate Report Portal instance from 4.3.7 to 5.0 that does not go successful in the exact same way as experienced by @akrush24

We are wondering if there was any conclusion to this thread as we can not find a solution here.

Following are our findings after running migration steps (tried it many times):

PostgreSQL logs after running settings-migration configuration:

[2020-08-07 09:14] #1104 closed

[2020-08-07 09:39] irynakozak2 commented on #850
hello, @blue995, could you please check that issue on the latest RP version(5.3)? As for now, we've improved the export feature performance for PDF and HTML. For Xls export performance I've raised a ticket to our backlog.
Also, I suggest you increasing the -Xmx option to the best performance on your specs of the application server.

[2020-08-07 10:42] #39 closed

[2020-08-07 14:35] CalebFW opened #1105 "[v5] Failed Cases Trend Chart includes skipped tests"
**Describe the bug**
The Failed Cases Trend Chart includes Skipped tests in its graph, but if you click on it, the filter only shows Failed or Interrupted.

**To Reproduce**
1. Import a JUnit XML file into your project as a launch that includes Skipped tests.
2. Create a filter that includes the imported launch.
3. Create a Dashboard for this project.
4. Add a Failed Cases Trend Chart widget using

[2020-08-07 15:46] sapna-dentsu commented on #877
Thanks @evjlobanova for the documentation.
I'm getting 403 error with the URL. I'm assigned to Okta app, but still getting 403

[2020-08-07 16:43] evjlobanova commented on #1105
@VolhaKarenko Could you please check if we have the same bug in the backlog?

[2020-08-07 17:39] DaryaZhukovaTR commented on #1102
Hello, I'm seeing the similar issue during data migration:

07-08-2020 17:04:05.743 [main] ERROR org.springframework.boot.SpringApplication.reportFailure - Application startup failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'jobsConfiguration': Unsatisfied dependency expressed through field 'levelItemsFlow'; nested exception is org.springframe

[2020-08-07 18:28] CalebFW opened #1106 "Add more filter options: regex, startsWith, endsWith"
Add more filter options: regex, startsWith, endsWith

We are trying to filter our reports based off of the branch that the tests were run in. However, some branches contain the names of our protected branches, so they still are pulled into the filters. Our launches are named as ${branch}-${testSuite}-${pipelineID}, which allows us to trace failures through our pipelines. A simple RegEx or startsWi

[2020-08-10 04:51] python-auto-hc commented on #1052
Hi Team,

In reference to integration of gwen with report portal -
https://github.com/reportportal/reportportal/issues/1052 .

If any of the existing integrations are not helping us then can we get on a
call and discuss the option of custom integration. Please schedule a call
(google meet) for the same so that we can progress on this.

Thanks,
Himanshu.

On Thu, 9 Jul 2020 at 12:47, Yauheniya Laba

[2020-08-10 05:06] svettsova commented on #1105
@evjlobanova the ticket exists in our backlog

[2020-08-10 12:14] evjlobanova commented on #1106
@CalebFW  It is a very complicated way for filter options.
I would recommend you to add attributes and create a filter based on attributes, not launch names

[2020-08-10 13:13] CalebFW commented on #1106
The Api doesn't allow me to import attributes, only a zip file with the xml results and the project name. I use the name of the Zip file to define the launch name based off of this criteria. Having RegEx as a filter option seems like a pretty standard thing for filters or even being able to have multiple contains or not contains against the same field, so selecting Launch Name twice in the filters

[2020-08-10 14:08] evjlobanova commented on #1106
@CalebFW for now import is a feature with the low priority.
Our main functionality is real-time reporting which allows you to add attributes automatically and creates widgets on base of attributes.

But you can add attributes manually to launch and it resolved your problem

[2020-08-10 14:11] CalebFW commented on #1106
Having manual steps is not an acceptable approach.

[2020-08-10 19:12] evjlobanova commented on #1106
@CalebFW in the nearest plans we do not have intentions to re-work import feature.

In the version 6th (next year +) we are planning to improve filters with RPQL (details here #726)
So that you can follow the progress on this request in the mentioned ticket.

As a quick patch in your case - use real-time reporting.
Is it possible for you to use it?

Also, we can provide paid support in the scope o

[2020-08-10 21:44] winstondz commented on #566
What's the app name in okta. I can't find rp okta?

[2020-08-11 00:38] BibinQA opened #1107 "Twistlock scan Issues"
As part of adopting this tool we ran twistlock scan against docker images of various service compromising Report portal. Below is the break up of vulnerabilities I saw. My question is are you aware of such vulnerabilities and if so do you have plans to get them fixed? I am just trying to find some answers.

Docker   Image - V5.2.3 | Critical | High | Medium | Low | Total
-- | -- | -- | -- | -- | -

[2020-08-11 08:45] Yumfriez commented on #1097
@bcarriou Could you please provide logs from the `Migrations` service? Probably SQL initialization scripts weren't fully executed because of some error

[2020-08-11 10:18] blue995 commented on #850
Hi @irynakozak2, I will check on this feature as soon as I update our instance to V5.3. We have customized instances of the API and UI service, so I can't update by changing the version number :)

[2020-08-11 14:14] CalebFW commented on #1106
#726 would be a good approach for us. We cannot use real-time reporting, because this is a massive legacy project and we are trying to get insight into test runs without investing a lot of time adding the integration into our thousands of tests. The Api allows us to easily import reports through our existing CICD platform and pipelines. Our newer repositories will probably use real-time reporting.

[2020-08-11 14:58] irynakozak2 commented on #850
@blue995 thanks a lot! please keep us updated

[2020-08-11 16:34] winstondz commented on #877
I am new to okta too and wanted to understand more about the process we need to do inside okta for RP integration. Could you point me to the relevant page. I went through the video, but it starts off by directly going into applications and selecting rp-okta inside okta. Do I need to create a new app inside okta?

[2020-08-11 22:08] sspieker-cc opened #1108 "Feature Request: Allow for the addition of multiple shared widgets to a dashboard through UI"
Currently (V5.2.3) the UI has the option to only add a single shared widget at a time (Radio button selection type).  If this were changed to a checkbox selection type we can filter down to a group of widgets and add them as an array to the dashboard.

This step would help facilitate creating dashboards that are to summarize data for different environments.  For example, having one dashboard with

[2020-08-11 22:23] blue995 commented on #850
@irynakozak2 I've built the API service from scratch (without downloading any binaries from reportportal bintray) with the "Dockerfile-develop" Dockerfile by executing the following command:
`docker build -f docker/Dockerfile-develop --tag "my-api-service:latest" .` (=> Is this the correct way to build the docker image from scratch?)

I guess some dependencies are missing in the Dockerfile-develop

[2020-08-12 00:48] winstondz opened #1109 "[v5] SSL configuration update for new traefik container"
**Describe the bug**
The existing documentation at
https://reportportal.io/docs/Setup-SSL
is not accurate for setting up SSL.

It will fail with the following error :
command traefik error: failed to decode configuration from flags: field not found, node: acm

It needs to be updated for v2 : https://docs.traefik.io/migration/v1-to-v2/

[2020-08-12 08:32] Cyberglamdring commented on #1095
Hello @vasanth1896,
[Check](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L55) please the correct path to the image `reportportal/service-auto-analyzer:5.3.0`

[2020-08-12 10:48] evjlobanova commented on #944
@viachka Thank you for your request. For now, we do not support AWS FARGATE ECS officially.
So that there should be done some investigations before we can help.

The team takes a look at this issue as soon as it has a capacity.

If this question is crucial for you, and you need our support. We can provide a paid contract. Paid requests are being implemented with the highest priority.

If you are i

[2020-08-12 11:23] tharindu99 opened #1110 "testng report upload"
**Describe the solution you'd like**
If we can introduce testng file upload for launches that would make an added advantage.

**Is your feature request related to a problem? Please describe.**
At the movement, we can use an agent for a similar situation but it can be worst when we got issue and we will be lost our manual control.

[2020-08-12 12:48] eric-stanley commented on #957
Getting the same issue. Docker log details below

`analyzer_1 | 2020-08-12 12:45:11,690 - analyzerApp - INFO - Starting waiting for AMQP connection
analyzer_1 | 2020-08-12 12:45:11,694 - analyzerApp - INFO - Try connect to amqp://rabbitmq:5672/analyzer?heartbeat=600
rabbitmq_1 | 2020-08-12 12:45:12.651 [info] <0.820.0> accepting AMQP connection <0.820.0> (172.24.0.10:57800 -> 172.24.0.2:5672)
anal

[2020-08-12 14:53] troyhugs commented on #1090
@AmsterGet
![image](https://user-images.githubusercontent.com/17424203/90030372-9d1a9380-dcd9-11ea-9e75-818197736436.png)

Every describe block has enough tests and methods

[2020-08-13 13:38] loadtheaccumulator commented on #1102
Hi @pbortnik and @evjlobanova We are blocked on this one and can't move forward with ReportPortal v5.
Are there additional debug steps we can take on our end to help?
Thanks,
Jonathan

[2020-08-13 14:05] sspieker-cc opened #1111 "Allow Widgets to be treated and managed as independent objects"
**Describe the solution you'd like**

Currently widgets that have been defined are not readily visible (there is no list view like the dashboards or filters) until being added to a dashboard where they are in a selection list.

Only once the widget is added to a dashboard we then have the ability to modify the title, filter, etc. - I would like to have a view of widgets (very much like the filters

[2020-08-13 15:19] blue995 commented on #850
The export feature works with the official docker image, but I'm using a manually built one.

[2020-08-13 15:44] DaryaZhukovaTR commented on #1102
Dropping mongo collections: 'filterMapping', 'widgetMapping', 'optimizeTest' helped to resolve the issue I faced.
Thanks!

[2020-08-13 17:39] artisood commented on #1107
Do we have update on this issue. Thanks

[2020-08-13 17:44] loadtheaccumulator commented on #1102
That didn't work for us.

[2020-08-13 18:06] naddison opened #1112 "[v5] Exception when starting API java.nio.file.AccessDeniedException: /plugins"
**Describe the bug**
I am trying to start the API as a deployment in K8, I am getting the following error.

[code]

This is related to https://github.com/reportportal/kubernetes/issues/127. I am unsure if /plugins is a problem trying to access a folder in the container in which the API process is running, or if it's a minio access issue.

Here is my K8 resource manifests. We are using bitnami imag

[2020-08-14 03:12] vasanth1896 commented on #1095
Thanks for update @Cyberglamdring .
Even after updating the path same issue still persist. And Auto analyser service is running fine. Just that its not picking up ES_HOST.
In Report Portal i am getting this error while trying to assign defect type,
'Impossible interact with integration. There are no analyzer services with search logs support deployed.'

[2020-08-16 16:04] odubaj commented on #1088
Hello, any updates ?

[2020-08-16 16:40] sheeik89 commented on #692
Gertting the same issue on Windows.. the login page remains loading

[2020-08-16 16:44] sheeik89 commented on #692
Getting the same issue on windows.. the login page remains loading..

[2020-08-17 07:11] babantax commented on #1061
Good morning! Is there any new about this issue? We just migrated to version 5.3 and its logging this error all the time (like a loop) Thanks a lot

[2020-08-17 09:02] iShimon commented on #1061
I still haven't done the api token change , i need the clear time for that ... but upgrade did fixed the deadlocks , interrupted still appear, i will probably check it next week

[2020-08-17 12:43] babantax opened #1113 "[v5.3] Potentially Fatal Deserialization Operation"
**Describe the bug**
After upgrading RP from version 5.0 to 5.3 in k8s many "Potentially Fatal Deserialization Operation" are logged in "reportportal-api" pod. Seems to happend during test executions are received.

**To Reproduce**
Upgrade form 5.0 to 5.3 and launch test executions.

**Screenshots**
![image](https://user-images.githubusercontent.com/52815118/90397049-8f795b00-e097-11ea-875e-0cc5c9

[2020-08-17 21:22] pbortnik commented on #1113
Hi, try to regenerate api token in your profile.

[2020-08-18 07:16] ostratila opened #1114 "Cannot add Email Server integration"
Hello,

I'm trying to create the Email Server integration in Report Portal v 5.3.0 and I'm using a SMTP server configured through AWS SES service. I've attached a print screen with the error I get.
I'm using this SMTP server on all the other tools that are installed on the same network as Report Portal and it is working fine everywhere besides RP.
Can you please advise on this issue?

Thank you,
O

[2020-08-18 07:26] ostratila opened #1115 "SAML integration with Keycloak is not working"
Hello,

I'm trying to integrate Report Portal with Keycloak through SAML.
I need to use the "Full name" attribute mode because I want to map it with the Keycloak username.

Even if I specify the full name of the attribute in the last box, I got that it is empty, see the attachment.

Can you please advise?

![image](https://user-images.githubusercontent.com/47818847/90483089-e08f5a80-e13c-11ea-806f

[2020-08-18 08:02] evjlobanova commented on #1115
@Yumfriez Vanya, could you please check issue?

[2020-08-18 10:29] SriMus commented on #771
Hi
Im having the same issue '**Test data not displayed on ReportPortal from XCUITest**'
Any update on it?
Thanks

[2020-08-19 07:34] evjlobanova commented on #1099
for now I can not tell you an exactly timeframe
Because we are busy with paid requests

Version 5.4 or 5.5 something like that
If you want to rise a priority oа this issue in our backlog, we can propose a paid support contract. For all details you can drop a letter to out e-mail support@reportportal.io

[2020-08-19 07:49] priyankachaturvedi30 opened #1116 "Latest Defect Type Boost feature not working"
**Describe the bug**
This is in reference to the feature #1005 . I added defect type - "System Slowness" in Build 38. For the same stacktrace i overwritted the defect type as "Jira Raised" in Build 39. Now as per the boost feature - for the same stacktrace, Build 40 should AA the issue as "Jira Raised"(latest defect type), but it still categorizes it as "System Slowness"

**Screenshots**
Attached

[2020-08-19 07:49] pbortnik commented on #1102
Hi @loadtheaccumulator,
Need to ask you some more questions.
1. Do you have any documents in testItem collection?
2. Do you have any documents in optimizeTest collection after data-migration running?
3. Do you have the latest version of data-migration image (check it with docker-compose -f datamigration_filename pull)

[2020-08-19 09:15] evjlobanova commented on #1106
Closed in order to #726

[2020-08-19 09:15] #1106 closed

[2020-08-19 09:17] #929 closed

[2020-08-19 09:18] #932 closed

[2020-08-19 09:18] evjlobanova commented on #985
@edyp ^^

[2020-08-19 11:48] evjlobanova commented on #1116
Hello
Please open execution in 40th launch
Open History of action
And click on the link in activity for Analysis
And share results
One more question, please provide startime for the last 3 items

[2020-08-19 11:51] evjlobanova commented on #1114
@svettsova Valya, could you please check this issue?

[2020-08-19 11:53] evjlobanova commented on #1113
@babantax ^^

[2020-08-19 12:03] priyankachaturvedi30 commented on #1116
The activity of Analysis points to the execution for Launch #38, the first time it was categorized as "System Slowness".
Each build gets executed on a daily basis. One on each day.
I have one query - Re-iterating through the comments discussed in #1005 - Does this logic works only in situations were the count of defect types is equal ? (As mentioned in one of your comments - 1 PB 1 AB - tricky one

[2020-08-19 12:36] evjlobanova commented on #1108
Thank you for request
For now we have a little bit another vision for dashboard growth in future.
We are planning to create a self updated dashboard.
![image](https://user-images.githubusercontent.com/30413511/90634422-56282300-e230-11ea-962c-21b08b680000.png)
That helps you to reduce number of dashboards.
But this is an idea for future development.

Possible solutions for now:
1. For now 3 widget

[2020-08-19 14:46] mnicula opened #1117 "UniqueId for createlogrequest"
**Describe the solution you'd like**
When rerunning a launch, we can specify what launchId we went to rerun and for TestItem we have UniqueId and TestCaseId which are used to identify exactly what item should be marked as retry(please correct me if I'm wrong) But for LogItem request we don't have such field and often I see duplicate logs. Can we please have such uniqueId for logitemrequest as well

[2020-08-19 22:46] kmayika opened #1118 "Report Portal Does not Attach Logs to Report"
I am working on a way to send report logs to report portal with screenshots attached. I am using XmlHttpRequest module to hit the report portal log endpoint. here is my code. But this code doesn't work, instead I get a "json_request_part is missing" response message.
What am I doing wrong, I followed the docs here https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/repor

[2020-08-20 04:01] loadtheaccumulator commented on #1102
Using "db.getCollection('testItem').find()"
yes. this command returns data

Using "db.getCollection('optimizeTest').find()"
yes. this command returns data

There is now one dated 9 days ago. The latest image was from 2 months ago when we experience the issue.

The migration attempt after the pull appeared to get further than the previous runs, but still error'd.
(see attached file)
[reportportal_d

[2020-08-20 10:02] mnicula commented on #1118
just use client-javascript, it's way easier

[2020-08-20 16:47] jibby0 opened #1119 "[v5] Unable to open log attachments while an adblocker is active"
**Describe the bug**

When clicking on a log attachment, the attachment tab is hindered by popular adblockers, in both Chrome and Firefox.

When an adblocker is active, the created attachment tab will immediately be closed.

**To Reproduce**

- Access a ReportPortalv5 launch with attachments, in Chrome or Firefox, while an adblocker is active & enabled for that website.
- Click on an attachment.
-

[2020-08-21 05:22] priyankachaturvedi30 commented on #1116
@evjlobanova : Did you get a chance to check this?

[2020-08-21 06:55] SharadSharma99 opened #1120 "report attributes are not updating in portal from reportportal.properties file"
**Describe the bug**
report attributes are not updating in portal from reportportal.properties file
**Expected behavior**
report attributes should be update in portal from reportportal.properties file  with below details and both way tried
rp.attributes = platform:android;android;
rp.attributes = platform:android;

**Screenshots**
If applicable

**Versions:**
 - Mobile execution
 - 5.1.0

[2020-08-21 08:20] jbouchery opened #1121 "Report Portal persmissions issues using Robot Framework Agent"
Hello,

I'm actually trying to use Report Portal (5.3.0) with the Robot Framework agent (5.0.3) but i have some troubles to get them running.

I've successfully installed Report Portal on Kubernetes and tried to run the robot Framework agent but I have permissions issues with the admin and default accounts. I tried to create new projects, set everyone as project manager (I've modified the robot fr

[2020-08-24 05:49] gavrillina opened #1122 "Launches can not started in Report Portal"
Hello report portal team,
My framework has 3 threads for running tests, I integrated rp to my project and now i have this error:
java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.Delegati

[2020-08-24 05:59] gavrillina commented on #1122
The problem was using testng version
I used 7.1.0. After changing version to  <testng.version>6.14.2</testng.version> it starts work.
Working version are:
`<testng.version>6.14.2</testng.version>`
`<reportportal-agent-testng.version>4.2.1</reportportal-agent-testng.version>`
May be it's helpful somebody.

[2020-08-24 05:59] #1122 closed

[2020-08-24 06:48] vaibhavshukl12 opened #1123 "Project setting are not updating"
Hi Team,
Since few days I am seeing that project setting is not updating in Report Portal
it's coming invalid date in all dropdown.

And when I am updating it then below message is coming.

Failed to update project settings.

Hi,@evjlobanova  Hope you are doing well.
Please help with this.

[2020-08-24 07:23] babantax commented on #1113
I regenerated the tokens and error is still been logged. Any other possible solution?

[2020-08-24 07:27] nilaya123 opened #1124 "With Demo Version, alongwith Github account flashes blank page."
When trying demo version of reportportal, tried to access with Github account. But it is flashing off blank page always. Unable to use demo version of reportportal io.

[2020-08-24 08:30] malmor commented on #877
Any updates on this?

[2020-08-24 08:31] malmor commented on #566
Any updates on this?

[2020-08-24 09:27] evjlobanova commented on #1116
@priyankachaturvedi30 error log of execution 38,39, 40 are the same?

[2020-08-24 09:55] priyankachaturvedi30 commented on #1116
Yes @evjlobanova : Exactly same. what I wanted to check is if this booster logic is dependent on the count? Would it work when say, 15 times a bug been marked as PB and 16th time been marked as AB. Then on 17th time would it mark it AB or since the count of PB> AB , it would mark it as PB.

[2020-08-24 10:23] evjlobanova commented on #1124
fixed

[2020-08-24 10:23] #1124 closed

[2020-08-24 10:30] evjlobanova commented on #1123
@vaibhavshukl12
Which version do you use?
Any screens, logs, details will be appreciated

[2020-08-24 10:36] evjlobanova commented on #1120
Any details?
Could you please specify steps for reproducing and expected results?

[2020-08-24 10:51] evjlobanova commented on #1117
![image](https://user-images.githubusercontent.com/30413511/91036758-93195e80-e610-11ea-9fe8-c579995ceaec.png)
Now we do not re-write or duplicate logs.
We save logs for each execution, and a user can switch from one execution to another one.
Do you disagree with this logic?

[2020-08-24 10:56] evjlobanova commented on #1109
@Cyberglamdring Hleb, could you please check and update if it is needed

[2020-08-24 11:03] nilaya123 opened #1125 ""TypeError: Object of type 'LocalPath' is not JSON serializable" is seen when working on 5.0.4"
"TypeError: Object of type 'LocalPath' is not JSON serializable" is seen when working on 5.0.4

Logs:
====
$ py -3 -m pytest test_example_form.py --reportportal
============================= test session starts =============================
platform win32 -- Python 3.6.5, pytest-4.1.1, py-1.8.0, pluggy-0.13.0 -- C:\Python36\python.exe
metadata: {'Python': '3.6.5', 'Platform': 'Windows-10-10.0.1836

[2020-08-24 11:10] evjlobanova commented on #1121
Do you add a valid token?

[2020-08-24 11:14] vaibhavshukl12 commented on #1123
Hi, @evjlobanova in both versions 5 and 5.3 I am facing the same issue.
Please find the screenshot.

![Errror](https://user-images.githubusercontent.com/49065599/91038831-1646ae80-e629-11ea-9869-abc78b66d79a.JPG)

[2020-08-24 11:17] vaibhavshukl12 commented on #1123
Attaching a screenshot after updating the setting -  error message.

![image](https://user-images.githubusercontent.com/49065599/91039038-73dafb00-e629-11ea-84c0-9e731ae5a3e9.png)

[2020-08-24 11:24] SharadSharma99 commented on #1120
![2020-08-24_165241](https://user-images.githubusercontent.com/39654729/91039564-6a9e5e00-e62a-11ea-8838-9718c1c74f64.jpg)
![2020-08-24_165058](https://user-images.githubusercontent.com/39654729/91039573-6d994e80-e62a-11ea-93c2-b4d5c0693e91.jpg)

[2020-08-24 11:49] evjlobanova commented on #1116
@MariyaIvanina Could you please recheck this issue?

[2020-08-24 12:21] jbouchery commented on #1121
Yes, i use the token shown in the "profile" panel. I also tried to generate new tokens for both users (superadmin and default)

[2020-08-24 12:27] babantax opened #1126 "Corrupt image attachments in 5.3 using cucumber integration"
**Describe the bug**
Since we upgraded to RP version 5.3, our projects using **agent-java-cucumber4**(currently using 5.0.0-BETA-10) are logging corrupted screenshots.

**To Reproduce**
- Report Portal 5.3
- agent-java-cucumber4 (5.0.0-BETA-10)
![image](https://user-images.githubusercontent.com/52815118/91044013-e55c7e80-e614-11ea-8d4d-fbbb436da239.png)

See comparation between one screenshot prop

[2020-08-24 12:28] evjlobanova commented on #1121
So please check:
1. If users are assigned on the projects which they are trying to use for reporting
2. That token are right in property files

[2020-08-24 12:44] jbouchery commented on #1121
Everything seems good.

The project members :
![image](https://user-images.githubusercontent.com/41162913/91045480-3ec5ad00-e617-11ea-8155-7137702ea031.png)

The superadmin informations :
![image](https://user-images.githubusercontent.com/41162913/91045744-9fed8080-e617-11ea-82db-07ca86ebb5de.png)

The command used in the client :
```python -m robot --outputdir ./OUTPUT --xunit ./TEST-result.xml -

[2020-08-24 13:24] evjlobanova commented on #1126
@HardNorth Vadzim could you please check, if this issue relates to agent?

[2020-08-24 13:41] AmsterGet commented on #1119
Hi @jibby0 !
We care about security and decided to restrict access to attachments via direct link.
This is true for the current implementation of UI and authorization services (version 5.*).
Use ad blocker exception rules to whitelist RP.

[2020-08-24 13:52] #1119 closed

[2020-08-24 14:19] Cyberglamdring commented on #1109
@evjlobanova, Traefik is used by developers, we need to ask them if there will be any problems with the migration to version 2

[2020-08-24 14:24] edyp commented on #985
Sorry for late response, all right. Issue fixed.

[2020-08-24 14:26] #985 closed

[2020-08-24 16:49] mnicula commented on #1117
@evjlobanova thanks for the response
I have the following structure : Launch -> TestCase -> nestedSteps/logs
![image](https://user-images.githubusercontent.com/48491734/91072914-eb695400-e642-11ea-839b-ee5b87b0b610.png)
Will it work for this structure as well?

[2020-08-25 06:19] babantax commented on #1126
We didn´t change anything apart from the upgrade from rp 5.0 to 5.3

[2020-08-25 08:00] evjlobanova commented on #1117
Nested steps can not be retried.
Nested steps are a part of the logs.
It will be the same picture as I sent

[2020-08-25 08:03] mnicula commented on #1117
I wan't to retry the whole test, not only nested steps. But this work only if test is in a suite, not in launch - hope this makes sense

[2020-08-25 08:11] evjlobanova commented on #1117
@DzmitryHumianiuk  @HardNorth what do you think about a possibility to rerun one nested step in a test case?

[2020-08-25 08:11] #1060 closed

[2020-08-25 09:08] vaibhavshukl12 commented on #1123
Hi, @evjlobanova Hope you are doing well.
Is there any update on this issue.

[2020-08-25 12:09] evjlobanova commented on #1123
@vaibhavshukl12 please send us a number of versions you have

[2020-08-25 12:25] RakeshSharma04 commented on #1125
I am facing the same

[2020-08-26 06:40] vaibhavshukl12 commented on #1123
Hi @evjlobanova  -Pleaser find below versions number
Report Portal - 5.0

[2020-08-26 06:50] zhangyh35 opened #1127 "How do I get a link to the report at runtime"
How do I get the URL of this build in the script, like this
http://127.0.0.1:8080/ui/#local_test/launches/all/63/1779/1781/1788/log
I want to get this URL at the runtime,Or is there a function to get the launchid? testid?
I use the Java language,Help me.

[2020-08-26 07:01] evjlobanova commented on #1123
All versions for all services, such as mistake can be met in case you use different versions for different services.

Update to the latest version, for now, the latest version is 5.3

[2020-08-26 07:01] #1123 closed

[2020-08-26 08:11] babantax opened #1128 "Password for new users"
**Describe the bug**
In version 5.3 when a new user is created, in the email sent with the password, the password seems coded.

If you try to login, fails.

![image](https://user-images.githubusercontent.com/52815118/91278348-671eea00-e784-11ea-8686-081dced577be.png)

![image](https://user-images.githubusercontent.com/52815118/91278441-8453b880-e784-11ea-8577-d3ec315aadc2.png)

[2020-08-26 09:19] svettsova commented on #1128
issue is submitted

[2020-08-26 16:20] ssharma555 commented on #1125
I deployed report portal and `pytest-reportportal` today and facing the same issue.

[2020-08-26 16:57] VinodReddy-Coder opened #1129 "Need a feature to customize the email notification template"
**Describe the solution you'd like**
...
I saw the report portal is sending an email notification with a standard template. But I would like to have a feature to customize the template. Probably, the solution is keeping an extra option in email integration page within the report portal site or in the notifications section to add a HTML template that triggers after every execution
**Is your feature

[2020-08-26 17:05] kick-people opened #1130 "Internal Server error when try to send the request for closing the launch from Jenkins[v5]"
**Describe the bug**
Set up all components of report portal in Docker with 'successfully' status. Try to run tests from Jenkins and in the step when RP was sending request to close the launch, we get the response with 500 status code.After reboot RP this issue isn't reproduce and all launches closed but when some time passes we faced with this error again.

**Expected behavior**
The launch should

[2020-08-27 04:52] loadtheaccumulator commented on #1102
@evjlobanova @pbortnik We're stuck and can't move to Version 5. Any guidance you can provide on how we need to proceed would be greatly appreciated.

[2020-08-27 07:47] jbouchery commented on #1121
I tried to launch the same command but with your demo instance and everything seems fine...

[2020-08-27 08:31] jbouchery commented on #1121
Ok I purged and tried a new Helm install and everything seems to work now... I don't know what gone wrong the first time but i think this issue can be closed.

Thank you for your time.

[2020-08-27 08:31] #1121 closed

[2020-08-27 12:47] Cyberglamdring commented on #1114
Hello @ostratila, connect to the ReportPortal instance and check the connection to SMTP-server (use utilities ping and telnet). If connection timeout or refused investigate AWS security groups (inbounds and outbounds ports).

[2020-08-27 17:05] Damianofds commented on #1125
Same issue here, we needed to rollback to 5.0.3

[2020-08-28 06:14] ohank opened #1131 "After some hours in an inactivity tab are not responding.[v5]"
**Describe the bug**
The tab is responding are no activity and showing dashboard. Dev tools are not detecting anything.

**To Reproduce**
Open report portal
Go to a dashboard.
Wait for some hours
Try to use the dashboard

**Expected behavior**
Dashboard and tab can be used.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following infor

[2020-08-28 06:16] ohank commented on #1131
Will test on another web browser.

[2020-08-28 08:01] pbortnik commented on #1102
Hi @loadtheaccumulator,
It's a very interesting issue, and i need a kind of your MongoDB database dump to reproduce and investigate the issue. Is it possible for you ?

[2020-08-28 11:14] ivan-sukhomlyn commented on #1103
@evjlobanova I've upgraded to the latest `5.3` ReportPortal version and checked if old objects remove from object storage.
The issue with attachments removing **is still present** at the new release.

Logs:
[code]

**Size of ReportPortal objects at S3 bucket before upgrade:**
![Screenshot 2020-08-27 at 12 02 59](https://user-images.githubusercontent.com/55390366/91554618-28319580-e938-11ea-9135-68

[2020-08-28 12:03] evjlobanova commented on #1103
@Yumfriez @pbortnik please tell how this issue can be resolved in version 5.3

[2020-08-28 12:17] evjlobanova commented on #1131
Please specify RP version?
Do you use k8 or docker?
Do you use internal user or github user?

[2020-08-28 12:46] pbortnik commented on #1103
Hi, can you check if you have a log with uuid in database? You can find uuid in the attachment name.
Also, go to the scheduler_triggers table in quartz schema and check cleanScreenshotsJobBean. Does it have prev_fire_time?

[2020-08-28 14:04] ohank commented on #1131
The same happens in firefox.
Using report portal 5.1 and docker-compose to start/install on our own server.
I use an internal user.

The web portal works but is incredibly slow.

[2020-08-29 15:10] Gulats commented on #247
@avarabyeu, @DzmitryHumianiuk : has the URL template changed? I am seeing a 404 in dev-tools console log
`GET http://reporter.xyz.com/api/v1/xyz-ft/launch/NaN 404 (Not Found)`

on trying to open the following page: `http://xyz-reporter.myntra.com/ui/#xyz-ft/launches/all/9f5fe4f3-3108-419c-b441-7191bfec5f1b`
(where the uuid is fetched from `<project-root>/reportportal.sync` file

ReportPortalUI:  5

[2020-08-29 17:34] Gulats commented on #1127
related to https://github.com/reportportal/reportportal/issues/247
but the url stated here is not working for me either.

[2020-08-30 10:29] the-octopus opened #1132 "[v5]"
**Describe the bug**
I'm not able to login to the report portal UI login.

**To Reproduce**
- please use the docker version to let you report portal up and running
- I'm using latest version from docker file 5.3.0
- open the browser.
- write the portal URL.
- enter user name and password.
**Expected behavior**
expected to login to the report portal

**ISSUE**

the system give green message signed

[2020-08-30 10:47] vishallanke opened #1133 "[v5] On Windows Docker report portal is getting bad gateway error"
I am installing report portal on Windows using Docker. [Link](https://reportportal.io/docs/Deploy-ReportPortal-with)
Installation gets successful without any errors.
I tried to open report portal - `http://127.0.0.1:8080`. UI gets opened.
After entering default credential, I am getting error - "502 Bad Gateway, An error occurred while connecting to server "
Note - My machine is in Corporate networ

[2020-08-31 07:47] MariyaIvanina commented on #1116
@priyankachaturvedi30 Hi! The new logic shouldn't take counts of previous defect type assignments for the same log. I was trying to recreate your situation, but I didn't manage to. Could you please show start times for this test time in each build from 38 till 40, could you please show what particular item was linked to your test item from 40 build (click on the activity tab in the test item and o

[2020-08-31 08:12] babantax commented on #1126
Has anyone apart from me reported this issue?
Its very strange, after upgrade to rp 5.3, we didin´t change anything in the cucumber integration and screenshots don´t work but projets using serenity-integration are saving screenshots properly....

[2020-08-31 08:48] vaibhavshukl12 opened #1134 "Can we upload video in attachment on RP"
Hi @DzmitryHumianiuk can we upload the video as an attachment on RP

[2020-08-31 09:52] DzmitryHumianiuk commented on #1134
@vaibhavshukl12 yes.
the same way like screenshot

[2020-08-31 10:20] vaibhavshukl12 commented on #1134
Thanks, @DzmitryHumianiuk one more doubt -we have to upload video against each test case or we can upload against the test suite for a full run ?

[2020-08-31 13:50] gopikishan1995 opened #1135 "How to implement ReportPortal with TestNG framework"
Hi team,
I am having a project (POM framework) where in i have base class in which i have all common methods and i have few other classes. I have to integrate report portal with my framework. like i have to create a method in base call and call in for all the other methods. I need to catagorise pass and fail logs in report portal.. can i get help on this?

[2020-08-31 13:58] DzmitryHumianiuk commented on #1134
@vaibhavshukl12 there is so call `Launch attachment`. So you can upload recording of run in a whole.

[2020-08-31 13:58] #1134 closed

[2020-08-31 15:31] ivan-sukhomlyn commented on #1103
Hi @pbortnik
Thanks for your suggestions.
Yes, cron jobs trigger at my RP instance:
[code]

I can't find old logs in the DB with the UUID as an attachment at the object storage.
Currently, we have attachments that keep stored in the storage from the beginning of the RP v5 launching.

It seems like the old attachments have been started to be removed after upgrade to the 5.3 version.
But only some p

[2020-08-31 21:16] nalherbawi commented on #1125
+! same issue here

[2020-08-31 22:22] Phoenix7351 commented on #1125
Same.

[2020-09-01 04:42] VanKrock commented on #930
I uncomment
[code]
but
[code]

[2020-09-01 07:08] HardNorth commented on #1135
Please refer our examples: https://github.com/reportportal/examples-java

[2020-09-01 07:08] #1135 closed

[2020-09-01 13:01] odubaj commented on #1088
Hello, gentle ping, any updates ?

[2020-09-01 13:27] jgroet1 opened #1136 "No data available for component health check and cumulative trend chart widgets"
I'm not sure if this is a bug or I'm doing something incorrectly. I can't seem to get data to populate for component health check and cumulative trend chart for our data. It works ok with the demo data.

Currently, I've tried the following ways to get data to populate...

- 3 launches, 1 suite, 272 tests with area attributes being marked by area
- 10 launches, 1 suite, 272 tests with area attribut

[2020-09-01 16:34] isaac88 commented on #877
Hello @evjlobanova
I've updated my Report Portal Helm Chart to the latest version 5.2.3
and I don't see the SAML plugin and in the [docs](https://reportportal.io/docs/Plugins%3Eupload-plugin) said that we don't need to install it.

How I can install it ?

[2020-09-01 18:27] yllawwally commented on #507
Is the traceability matrix view still slated for v6? Is there an estimate of when v6 will be available?

[2020-09-01 20:36] DzmitryHumianiuk commented on #507
@yllawwally yes. we assume it for version 6+
there is no solid release date for it at this moment.

[2020-09-02 04:07] nsmaniqa commented on #1032
HI Evjlobanova,
I  have created this issue on 06/24. Do you have any update on this issue?
please let me know if you have any planed date to implement this feature.

Thank you.

[2020-09-02 10:06] SharadSharma99 commented on #1120
Hi @DzmitryHumianiuk

Please help us with it.

[2020-09-02 10:12] DzmitryHumianiuk commented on #1120
@SharadSharma99 please follow up with the help from community, by joining the SLACK chat here:
https://reportportal-slack-auto.herokuapp.com/

[2020-09-02 12:44] ostratila commented on #1114
Hi @Cyberglamdring!
I checked the connection and it is opened on port 587.
I tried again to configure the Email server on Report Portal but I got another error.
![image](https://user-images.githubusercontent.com/47818847/91982602-2b12f880-ed33-11ea-884f-05a64d2c6ad4.png)
Can you advise on this one?

Thanks,
Oana

[2020-09-02 12:46] ostratila commented on #1082
Hello! Are there any updates on the above issue?

[2020-09-02 12:46] ostratila commented on #1115
Hello! Are there any updates on the above issue?

[2020-09-02 16:22] ivan-sukhomlyn commented on #1103
@pbortnik @evjlobanova
Attachments cleaning works as expected with the 5.3 ReportPortal version. Thanks for your support 👍
[code]

[2020-09-02 16:22] #1103 closed

[2020-09-03 03:18] nsmaniqa commented on #1032
HI Evjlobanova,
I have created this issue on 06/24. Do you have any update on this issue?
please let me know if you have any planed date to implement this feature.

[2020-09-03 06:49] evjlobanova commented on #1032
Hello @nsmaniqa
For now proposed feature has minor priority.

We can rise it in our backlog in case more users need it.

We will consider your use case when we refactor dashboards and widgets for the next major versions (6+).
Unfortunately, we cannot give you any estimations for this implementation right now.

As a possible solution to this situation, we can propose you a paid support.
Paid featur

[2020-09-03 08:18] evjlobanova commented on #1107
We are in progress.
I will update this ticket accordingly

[2020-09-03 08:58] evjlobanova commented on #1110
@tharindu99 thank you for request
For now expert is a feature with minoк priority
The main advantage of reportportal is real-time reporting. So that our focus now is on real-time reporting.

It is a little bit unclear for us, what you mean under "e will be lost our manual control". Could you please clarify your use case?

[2020-09-03 09:10] evjlobanova commented on #1111
@sspieker-cc Could you please provide more details?
Which exactly problem do you try to resolve?

[2020-09-03 09:13] evjlobanova commented on #1113
@pbortnik Could you please check this?

[2020-09-03 09:16] evjlobanova commented on #1115
Now it is vacation time, so we can respond with delay

[2020-09-03 09:17] evjlobanova commented on #1115
@VolhaKarenko Could you please try to reproduce this issue and create a ticket in a backlog if needed

[2020-09-03 09:17] evjlobanova commented on #1116
@priyankachaturvedi30 Could you please check Marya response

[2020-09-03 09:26] evjlobanova commented on #1120
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#start-launch

This is our dev guide on how to report results toreportportal

[2020-09-03 09:27] evjlobanova commented on #1125
@iivanou Ivan, is this issue in pytest agent?

[2020-09-03 09:32] iivanou commented on #1125
@evjlobanova It is.

[2020-09-03 10:29] mnicula commented on #1117
@DzmitryHumianiuk @evjlobanova
the problem with current realisation is that we can retry a test only if it is in a suite. if the test is directly in the launch - is not marked as retry.
We'd like to have the retry feature for the case when tests are logged in the following structure:
Launch -> Test
Thanks a lot

[2020-09-03 11:50] evjlobanova commented on #1131
Do you have server configurations which are described in documentation? https://reportportal.io/docs/Optimal-Performance-Hardware

[2020-09-03 11:50] #1098 closed

[2020-09-03 11:52] #1097 closed

[2020-09-03 11:53] #1081 closed

[2020-09-03 11:54] #1070 closed

[2020-09-03 11:54] #1062 closed

[2020-09-03 12:09] evjlobanova commented on #1133
We  strongly recommend installing RP on Linux based OS
@Cyberglamdring Hleb, could you please check what can be wrong?

[2020-09-03 12:23] KatsiarynaTatarynovich commented on #1118
Hi @kmayika
The first important point is that on **rp.com** the version of RP is 4. This [documentation](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#batch-save-logs) corresponds to version 5 of RP. Please update to version 5 as we don't support version 4.
The second point. These values **launchUuid** and **itemUuid** are misrepresented. They should l

[2020-09-03 12:35] kmayika commented on #1118
Hey @KatsiarynaTatarynovich I used client-javascript and got it to work, thanks.

[2020-09-03 12:35] #1118 closed

[2020-09-03 13:47] fkrivsky commented on #1092
Second this, I had no luck yet trying to modify the compose file to work with Swarm.

[2020-09-03 14:28] jlundy2 commented on #1062
Thanks @avarabyeu and @Yumfriez, I upgraded to 5.3.0 successfully yesterday with the rabbitMQ credentials setup correctly and the upgrade worked properly. I'd really like to see #reportportal/service-authorization!187 and #reportportal/service-api!1261 resolved so these passwords don't have to be written into the compose file for a real deployment.
For the point of this ticket, I switched my conne

[2020-09-03 17:33] VolhaKarenko commented on #1115
The issue is valid, added to backlog

[2020-09-03 21:28] sspieker-cc commented on #1111
Right now widgets are 'hidden' elements that cannot be managed through the UI very effectively.  Yes, I understand there is a tight relationship with dashboards, but I believe that these objects should have a UI list view to allow users to quickly and easily CRUD (and perhaps duplicate & modify these object types for use in other dashboards).

Widgets should be considered first-class citizens just

[2020-09-04 03:57] vasanth1896 commented on #1095
Hi @Cyberglamdring , Any Workaround for this issue. Kindly assist on this. Help is much appreciated. Thanks.

[2020-09-04 10:26] evjlobanova commented on #1111
@sspieker-cc thank you for providing these scenarios

But could you please provide us your business case and business need? How you create your dashboards, who are responsible for widget creation? Which dashboards do you create?How you are using shared entities?

For now, logic RP is that user uses one dashboard as one report.
This logic is popular beyond our users.
Usually, users create new widge

[2020-09-04 13:00] TestUserRobot opened #1137 "Does it supports Cucumber-Protractor-typescript ?"

[2020-09-04 15:38] sspieker-cc commented on #1111
Your requests for clarifications are certainly more than fair.

As for our business case, we utilize ReportPortal to centralize ALL testing results into a single cohesive location.  This single point of reference allows for our various teams to determine what (if anything) needs to be done in order to either identify an existing or potential issue with our deployments.  We are migrating from a man

[2020-09-06 07:37] the-octopus commented on #1132
Hi @evjlobanova , thanks for your interest. in fact all services are running and also the server was working fine for 1 day.
after that I'm not able to login.

hereinafter is server Memory Details:
                    total        used        free      shared  buff/cache   available
Mem:           6986        5274         374          97        1338        1536
Swap:          5999         672

[2020-09-07 07:55] evjlobanova commented on #1111
Thank you for the so detailed response.
I will be discussing you use case with a team.
For now, I could recommend you to use widgets:

- Component Health Check Widget
- Component Health Check Widget (table view)
- Cumulative trend chart

These widgets have been created in order to provide analytics for multi env executions.
If you do not use them now, it worth trying.

[2020-09-07 08:01] evjlobanova commented on #1111
@vitaliioleksiuk @DzmitryHumianiuk this case can be discussed when we will talk about dashboard for an organization

[2020-09-07 10:32] ostratila commented on #1115
Hello,

Thanks for the update. Can you please provide an ETA for this?

Thanks,
Oana

[2020-09-07 13:33] mnicula opened #1138 "[v5] Logs not ordered by timestamp"
**Describe the bug**
Logs are not ordered by timestamp

**Screenshots**
![image](https://user-images.githubusercontent.com/48491734/92393057-e9fe5800-f127-11ea-825b-bfd50be48c4e.png)

[2020-09-07 15:12] gopikishan1995 opened #1139 "How to post logs in report portal using testng framework"
How to post logs in report portal using testng framework. please help

[2020-09-07 17:38] HardNorth commented on #1138
@mnicula They are not supposed to be ordered by a timestamp inside log, since it's a pure text information and we do not parse it (we are not an "Elasticsearch"). They are usually ordered by the order in which they come to our logger, which sets an event timestamp in milliseconds. Everything else is on conscience of your logging framework, how long it will pass a message to our logger.

For Java a

[2020-09-07 18:13] nvborisenko commented on #1138
I think demonstrated timestamp is a part of CreateLogItemRequest.  On the picture I also see nested steps.

[2020-09-08 04:52] loadtheaccumulator commented on #1102
Hey @pbortnik I am still looking into whether this is possible.

[2020-09-08 05:29] mnicula commented on #1138
@nvborisenko you are right.

[2020-09-08 06:33] evjlobanova commented on #1136
Widgets work as expected, something is on your side.
 Please send me a screenshot of your launches with attributes /test items. Screenshot with widget wizard.
Please check if you are reporting attributes with key: value structure. It can be that you report all attributes only in value.

[2020-09-08 06:35] evjlobanova commented on #1139
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

[2020-09-08 06:35] #1139 closed

[2020-09-08 06:39] evjlobanova commented on #1115
For now, I can not tell you ETA.
I will update this ticket accordingly

[2020-09-08 07:13] AmsterGet commented on #1137
Hi @TestUserRobot !
Did you see [agent-js-cucumbe](https://github.com/reportportal/agent-js-cucumber) and [example](https://github.com/reportportal/examples-js/tree/master/example-cucumber) for it?

[2020-09-08 07:51] #1036 closed

[2020-09-08 09:27] jgroet1 commented on #1136
![01-Launch](https://user-images.githubusercontent.com/68276673/92458755-72faab00-f18b-11ea-90d0-edaa9bd9c5a8.png)
![02-Launch](https://user-images.githubusercontent.com/68276673/92458759-72faab00-f18b-11ea-93ef-731c2d3725f8.png)
![03-Tests with filter on attributes](https://user-images.githubusercontent.com/68276673/92458761-73934180-f18b-11ea-9486-3a8003811d07.png)
![04-Widget wizard 1](https://

[2020-09-08 10:28] evjlobanova commented on #1136
So that the problem can be in a way how you report attributes.
Attribute should have key and value

![image](https://user-images.githubusercontent.com/30413511/92465305-145b1e80-f1d7-11ea-839f-d15dff54bafd.png)

Please open edit modal for launch, and check if the attribute has right structure

[2020-09-08 10:38] jgroet1 commented on #1136
![05-Launch attributes unclicked](https://user-images.githubusercontent.com/68276673/92466179-57949d80-f195-11ea-9853-4d105e8a0e76.png)
![06-Build clicked](https://user-images.githubusercontent.com/68276673/92466180-57949d80-f195-11ea-8cb4-39852248bc3f.png)
![07-Suite attribute clicked](https://user-images.githubusercontent.com/68276673/92466181-582d3400-f195-11ea-9633-12f513c3ab1d.png)
![08-Test

[2020-09-08 11:33] evjlobanova commented on #1136
Are you in our slack chat?

[2020-09-09 03:17] sspieker-cc opened #1140 "[v5.2.3] - Flaky Test Widget Creation using Postman API Calls fail to add Name to widget UI elements"
**Describe the bug**
When using Creating a widget of type "flakyTestCases" utilizing API only, adding shared widget through UI or API results in a UI widget with no name or edit abilities through the UI.

**To Reproduce**
Create Postman API call including the following:
Headers:
- content-type: application/json
- authorization bearer <token>
Body:
{
    "widgetType": "flakyTestCases",
    "content

[2020-09-09 08:29] gbuh commented on #930
I have the same issue as @VanKrock

[2020-09-09 09:12] VanKrock commented on #930
@gbuh I rosolve this using `./` for mount volume inside current directory.
[code]

[2020-09-09 09:38] gbuh commented on #930
I tried. Unfortunately the following error occurs (as we can saw at the beginning):
Creating reportportal_postgres_1      ... done
Creating reportportal_rabbitmq_1      ... done
Creating reportportal_elasticsearch_1 ... done
Creating reportportal_ui_1            ... done
Creating reportportal_minio_1         ... done
Creating reportportal_gateway_1       ... done
Creating reportportal_uat_1

[2020-09-10 11:48] mnicula commented on #1138
@HardNorth I understand, but in our case, every log entry is an step from the test. Mixing them creates confusion. Please suggest an solution to avoid this. Thanks!

[2020-09-10 12:11] Ngaur commented on #916
I can still see the same issue for me. I am using v 5.2

[2020-09-10 13:11] evjlobanova commented on #916
Please update to the latest version, and check once again.
Please let me know if it is still reproduce

[2020-09-11 05:45] gopikishan1995 opened #1141 "How to Post Screenshots into report portal and how to change name of rp.launch dynamically while run time"
Issues:
1. How to post screenshots in to report portal
2. how to change rp.launch name while run time while running into different platform and different browser
Please help

[2020-09-11 11:18] odubaj opened #1142 "Database documentation"
Hello,

do you have some kind of documentation according to the database ? For example ER-diagrams, class diagrams etc.

If yes, can you please share them?

Thanks.

[2020-09-11 23:21] abryleuski opened #1143 "[v5] Unable to get ReportPortal running via Docker Compose"
**Describe the bug**
Unable to get ReportPortal running via Docker Compose

**To Reproduce**
wget https://raw.githubusercontent.com/reportportal/reportportal/master/docker-compose.yml
docker-compose -p reportportal up

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - Device: VM
 - OS: "20.04.1 LTS (Fo

[2020-09-12 07:53] HardNorth commented on #1138
@mnicula so, are you using a .Net agent?

[2020-09-12 07:54] mnicula commented on #1138
@HardNorth no, .net client

[2020-09-12 07:56] HardNorth commented on #1138
@nvborisenko Do you have any methods inside client which allows to bypass event timestamps?

[2020-09-14 06:13] mnicula commented on #1138
@HardNorth this is the client I'm using [net-client](https://github.com/reportportal/client-net). I don't think there is such method, as the client is just sending http requests to the API. @nvborisenko , please correct me if I'm wrong.

[2020-09-14 08:28] hasket opened #1144 "Please make permission users group for project"
Hello, I work in a large company with a large group of testers and a large number of projects in the reportportal.
In version 5.3, I encountered the problem of issuing the rights of a specific person to a group of projects. There are a lot of people, there are many projects, then you have to poke a lot on a person and give him access to the project.
I propose to make at least a group for users so

[2020-09-14 09:16] gopikishan1995 opened #1145 "1) How to segregate launches based on different Platform (IOS, Android, Web(Chrome, FF)) & different Applications .(FB, AMAZON & Filpcart)"
1) How to segregate launches based on different Platform (IOS, Android, Web(Chrome, FF)) & different Applications (FB, AMAZON and flipcart)

[2020-09-14 12:53] ohank commented on #1131
I use the docker-compose file form the website. Changed port form 8080 to 80 to make a DNS alias to work.

here is the full docker-compose file:
## You can generate a custom docker compose file automatically on http://reportportal.io/download (Step 2)

## This is example of Docker Compose for ReportPortal
## Do not forget to configure data volumes for production usage

## Execute 'docker-compose -

[2020-09-14 14:54] gopikishan1995 opened #1146 "How to delete Old entry launches automatically (2 weeks once / 1 month once)"
How to delete Old entry launches automatically (2 weeks once / 1 month once)

[2020-09-14 14:55] gopikishan1995 opened #1147 "How to differentiate between launches like Main launch vs debug launch ie: only main launch should display & debug launch shouldn't display"
How to differentiate between launches like Main launch vs debug launch ie: only main launch should display & debug launch shouldn't display

[2020-09-14 17:23] sspieker-cc commented on #1140
This behavior is persistent within the UI until there is data that meets the filter criteria.  Once there is data, the title and description information appears as 'normal'.

Running API calls to setup 'standardized' dashboards allows for our organization to be prepared for new test suites being added and tracked.  This behavior just seems to be a bug in how the widget behaves when there is no dat

[2020-09-16 15:54] rjswitzer3 opened #1148 "Launch stats missing in tabular view"
**Overview:**
I am using the python `reportportal-client` package to report test results to our Report Portal instance. After switching from Report Portal version 4.3 to version 5.2, I noticed that the launch stats are no longer displayed in the tabular view. Note: After the switch, I did update my implementation in accordance with the official [ github guide](https://github.com/reportportal/clien

[2020-09-16 18:19] nvborisenko commented on #1138
https://github.com/reportportal/client-net/blob/b08034cef71ebec43d5f94227e2be52123789807/test/ReportPortal.Client.IntegrationTests/LogItem/LogItemFixture.cs#L37

Using client you should provide `Time` property, timezone is UTC.

[2020-09-16 21:01] ankitps1807 commented on #731
Hey @DzmitryHumianiuk any update on this? Struggling to deliver a solution with this.
cheers

[2020-09-17 08:03] mnicula commented on #1138
@nvborisenko i do provide the Time property, and I see it's value on UI. the problem is that they are not ordered))

[2020-09-17 17:42] venky223 opened #1149 "Report Portal Integration with Azure SSO"
Hi,
Im trying to integrate Reportportal with Azure SSO, but gets this error.

Does Reportportal works with Azure SSO??
If yes can help me out on this.

![image](https://user-images.githubusercontent.com/34525366/93507408-7bad5880-f8d2-11ea-84ad-51a587eb8fff.png)

![image](https://user-images.githubusercontent.com/34525366/93507129-0fcaf000-f8d2-11ea-8b8a-bd19968c5dfa.png)

[2020-09-17 18:21] bzsharm opened #1150 "Report Portal Not Getting Launched after shell installation (issue with traefik )"
We followed all the steps that were present in documentation but at the end we could see that “trafek file” was present in the directory where installed all the dependencies but that was an empty file (it did not have.toml extension as mentioned in the download.sh file), so I mocked a file and placed it in installation directory with the port details with traefik.toml file,

Then I Updated the ver

[2020-09-17 18:25] bzsharm commented on #1150
@lexecon @abotalov  Please take a look at this issue.

[2020-09-17 18:27] bzsharm commented on #1150
evjlobanova  hi ,can you please help me with this

[2020-09-17 18:27] bzsharm commented on #1150
@evjlobanova  could you please help me with this !

[2020-09-18 07:57] Aravamudhan commented on #1133
I am also facing the same issue. My OS is windows 10 enterprise edition and my docker version is "Docker version 19.03.12, build 48a66213fe". I have installed "Docker Desktop" and using docker through that. I have allocated 4GB to docker and hello-world image from dockerhub is working correctly. The images get pulled correctly. Even the login works as it says logged in successfully, but the /api/v

[2020-09-18 09:44] vishallanke opened #1151 "[help required] Read bearer token using credentials"
I had gone through API documentation.
How can I fetch Bearer Token from credentials ?
I am not finding this inside doc..

I tried below from Postman
[code]

However it always return me - `{"timestamp":"2020-09-18T06:47:26.082+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/sso/oauth/token"}`

[2020-09-18 09:46] vishallanke opened #1152 "[help required] Import ZIP file using Curl or Node JS"
I am trying to automatcially import ZIP

`curl -X POST --header 'Content-Type: multipart/form-data' --header 'Accept: application/json' --header 'Authorization: bearer 80ce3feb-0652-42ce-b0d5-123123123' -F file=@Device.zip 'http://ec2:8080/api/v1/DEFAULT_PERSONAL/launch/import'`

I am getting error as invalid bearer token

Yes, its correct message.

How can I fetch correct bearer token from my cre

[2020-09-18 10:57] Ngaur commented on #916
Thanks @evjlobanova !
I updated the containers to 5.3 as per latest docker-compose file.
Still I can see this issue. I looked into analyser log got Connection Error with "Name or service not known"
Attached a screenshot of log for reference.
<img width="1435" alt="Screenshot 2020-09-18 at 3 11 16 PM" src="https://user-images.githubusercontent.com/1961119/93590135-9ca5a480-f9cb-11ea-8b33-e467f933bd

[2020-09-18 11:11] Ngaur commented on #916
Just an update --
I just changed the owner of elasticsearch for example chown 1000:1000 /data/elasticsearch
It just solve this issue, I can update the defect successfully now.
But auto-anlyser still says following --
"analyzerApp.esclient - ERROR - NotFoundError(404, 'index_not_found_exception', 'no such index [4]', 4, index_or_alias)"

[2020-09-18 13:25] sspieker-cc commented on #731
I have come up with a partial solution to this particular use case.  I have mentioned in previous posts regarding the variances in the tooling that we needed to use to report output to the reportportal.  Some of those tools have failed to deliver reliable results (i.e. using different JUnit Test runners for example) would fail to report ANY test executions, etc.  We have also had challenges with c

[2020-09-18 17:50] DzmitryHumianiuk commented on #1151
@vishallanke did you try this?
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

[2020-09-18 19:25] Invictum commented on #1145
@gopikishan1995
You have several options that depends on your needs:
- Keep each app-platform in separate RP projects. E. g. FB-IOS, FB-ANDROID, FB-WEB
- Keep each app in separate RP project and use launch name to segregate platform. E. g. for FB project: WEB_TESTS, ANDOID_TESTS, IOS_TESTS
- Keep all apps and platforms in one huge project and segregate app-platform using launch attributes. E. g. T

[2020-09-19 01:29] loadtheaccumulator commented on #1102
@pbortnik Since the latest errors point to line 127 and start_time, we focused our latest look on date ranges.
We are able to migrate data from 2019 through 2020. Pre-2019 data is failing. Possible problem stemming from the ReportPortal version? I'll have to see if we can determine what specific version was in use then.

(and I'm still looking into whether we can share the database itself).

[2020-09-21 08:25] ostratila commented on #1114
Hello,

Are there any updates on this?

Thanks,
Oana

[2020-09-21 09:40] mnicula commented on #1146
go to Settings -> General -> Keep launches

[2020-09-22 05:55] Shakevg opened #1153 "[v5] StackTrace quick view do not wrap log"
**Describe the bug**
StackTrace quick view do not wrap log

**To Reproduce**

1. Report Portal integrated with .Net Framework 4.8 (mstest, agent-net-vstest, NLog).
2. Exception logging to report portal
=> Log is not wrapped in StackTrace quick (display as one string)

**Expected behavior**
Log should be wrapped in StackTrace quick view

**Screenshots**
![image](https://user-images.githubuserconten

[2020-09-22 08:56] vishallanke commented on #1151
Hi @DzmitryHumianiuk
I tried...its not working.
I tried to debug the issue via Postman

I analyse network call by manually logged-in to report portal and capture `""Authorization" : "Basic dWk6dYltYX3="" `

Inside Header if I put
"Authorization" : "Basic dWk6dYltYX3=", then I can get access token

Now CURL and POSTMAN query is working ?

I was wondering whats` "Authorization" : "Basic dWk6dYltYX3=

[2020-09-22 09:01] vishallanke opened #1154 "[v5] [doc] Installing RP on UBuntu not working"
Installing RP on UBuntu
Steps - https://reportportal.io/docs/Deploy-ReportPortal-on

`sudo apt install python-pip`
 is no longer valid.

Here, user should strictly avoid above steps, else he will face plenty of issues related to PIP, Docker Compose Compatibility with Python, Uninstalling Python2.7 fully

Instead of this `sudo apt install python-pip` , user need to follow detailed steps to install

[2020-09-22 10:06] kuiwang02 opened #1155 "[v5] the duration of rerun launch is not correct because the start time is not updated."
**Describe the bug**
We import one test result and then get launch created.
[code]
Please pay attention to the duration (267s) and start time in red circle.
<img width="891" alt="Screen Shot 2020-09-22 at 5 35 59 PM" src="https://user-images.githubusercontent.com/60137115/93866691-9597d280-fcfa-11ea-8ed7-5b4a4fc468c5.png">

and then we rerun the launch.
[code]
But the duration and start time of re

[2020-09-22 11:55] v1-wizard opened #1156 "[v5]: org.postgresql.util.PSQLException: ERROR: failed to add item to index page in "path_gist_idx""
**Describe the bug**

We have broken DB and get 500 errors on API calls.
Report portal java client log:
[code]
Report portal service-api logs:
[code]
[code]
[code]

**Expected behavior**
Report portal work correctly. Without 500 errors on API calls.

**Report portal installation:**
 - OS: CentOS Linux release 7.6.1810 (Core)
 - Version: API Service: 5.3.0;Index Service: 5.0.10;Authorization Servic

[2020-09-23 18:37] Shazear opened #1157 "Filters to allow for child tag (tags on test suites and individual tests)"
**Describe the solution you'd like**
When applying a filter, I would like to filter on tags that might exist at a child level, not just the Test Launch level.

Current Functionality:
When adding tag: "Foo" to Tags filter dialog box, only Test Launches with "Foo" are found.  If no tag "Foo" is found, then no results displayed.  There are no tags at the Test Suite or Test Case level available for fi

[2020-09-24 05:41] gopikishan1995 opened #1158 "How to remove "EPAM" text from the bottom of the report portal UI"
How to remove "EPAM" text from the bottom of the report portal UI

[2020-09-24 05:50] evjlobanova commented on #1158
hello, why you want to remove EPAM name?

[2020-09-24 06:19] evjlobanova commented on #1157
Firstly you need to update to the latest version (5.3), use attributes instead of tags
For described reasons you can use Component Health Check widget anв Component Health Check Widget (table view)
https://reportportal.io/docs/Table-Component-health

[2020-09-24 06:19] #1157 closed

[2020-09-24 06:25] evjlobanova commented on #1155
Now the system works as designed.
The behavior of duration in rerun is the same as for merge.
Because rerun launch can have items with the earliest st rather than rerun items.

We will consider this as a possible improvement for RP, but there is not exactly ETA

[2020-09-24 06:26] evjlobanova commented on #1154
@Cyberglamdring Hleb, could you please check this issue

[2020-09-24 06:38] evjlobanova commented on #1153
Hello
We have fixed this issue in version 5.3.3
±ETA the end of October

[2020-09-24 06:38] #1153 closed

[2020-09-24 06:39] #1146 closed

[2020-09-24 06:39] evjlobanova commented on #1146
use the latest version of report portal 5.3.1

[2020-09-24 06:51] evjlobanova commented on #1145
Just small adding to the last point: Component Health Check Widget (table view) helps to group launches arround different attributes and see all results in one table

[2020-09-24 06:51] #1145 closed

[2020-09-24 07:01] evjlobanova commented on #916
@MariyaIvanina could you please check?

[2020-09-24 07:05] evjlobanova commented on #1149
RP has integration with SAML/Active directory/ LDAp/GitHub

[2020-09-24 07:05] #1149 closed

[2020-09-24 07:06] evjlobanova commented on #1138
@AmsterGet please check

[2020-09-24 07:17] loudDD opened #1159 "how to export lanuches with screenshot ?"
the export function can only export logs , is this possible to export lanuch with screenshot?
i can copy files manully

[2020-09-24 07:24] pbortnik commented on #1102
No, it is not rp version.
It can be database dump pre-2019 data if you are sure that problem somewhere there.

[2020-09-24 07:28] evjlobanova commented on #1147
https://reportportal.io/docs/View-launches
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#start-launch

[2020-09-24 07:28] #1147 closed

[2020-09-24 07:33] evjlobanova commented on #1144
Do you mean to have a possibility to make a bulk assign operation or something else?

[2020-09-24 07:35] evjlobanova commented on #1143
Do you follow steps described here https://reportportal.io/docs/Deploy-with-Docker?

[2020-09-24 07:37] evjlobanova commented on #1142
No, we do not
Could you please tell us your use case, why do you need it?
Maybe we can find a workaround or prepare this info for users in future

[2020-09-24 07:38] evjlobanova commented on #1141
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md

[2020-09-24 07:38] #1141 closed

[2020-09-24 07:38] kuiwang02 commented on #1155
Thanks to check it.
OK to wait the possible improvement.

[2020-09-24 07:47] evjlobanova commented on #1159
Actually there is no possibility to export launch with logs as well as screenshots now.
Could you please provide more details on what you are trying to do?
Could you please describe your business need? How do you plan to use this information?

[2020-09-24 08:03] Cyberglamdring commented on #1154
Thanks, we'll update the documentation soon. Also you can install docker-compose from the [official documentation](https://docs.docker.com/compose/install/#install-compose-on-linux-systems)

[2020-09-24 08:03] #1154 closed

[2020-09-24 08:08] loudDD commented on #1159
Here is the deal.
we have two reportportal , the reportportal_a have some import launches ,it contains the logs and screenshots.
then we create reportportal_b and try to abandon reportportal_a because of some reason , and we'd like to copy the important launches from reportportal_a

[2020-09-24 08:10] MariyaIvanina commented on #916
@Ngaur Hi! Have you regenerated the index after moving to the newest version? It seems, that the index 4 was not saved in the elasticsearch.

[2020-09-24 08:17] Ngaur commented on #916
@MariyaIvanina Let me just try re-indexing. Thanks for the info.

[2020-09-24 08:39] evjlobanova commented on #1159
we do not have such functionality out of the boxes

We need to know your use case and business needs, in order to define if we can add this request to backlog.

[2020-09-24 08:42] #1108 closed

[2020-09-24 08:42] #1110 closed

[2020-09-24 08:43] #1116 closed

[2020-09-24 08:45] evjlobanova commented on #1148
@iivanou could you please check if the issue on the agent side may be?

[2020-09-24 08:46] #1137 closed

[2020-09-24 08:46] #1136 closed

[2020-09-24 08:49] evjlobanova commented on #1061
please regenerate token on the profile page, and then update token in all needed places

[2020-09-24 08:49] #1061 closed

[2020-09-24 08:50] odubaj commented on #1142
It will help developers to better understand how reportportal backend is working and how data are stored

[2020-09-24 10:04] iivanou commented on #1148
@rjswitzer3 Are you using the reportportal-client directly in your Python code? In this case, check how exactly you call the start_test_item() method of the client. You should pass the "STEP" value for the item_type option instead of the "TEST".

Or, maybe, you are using the client in combination with the (pytest/robot/unittest) agents?

[2020-09-24 12:23] Cyberglamdring commented on #1133
@vishallanke, @Aravamudhan please provide the API and UAT logs, and a screenshot of the bottom homepage with "Current version".

[2020-09-24 16:01] rjswitzer3 commented on #1148
@iivanou Yes I am using the reportportal-client directly and I'm not using any other agent.

For the example provided, I call `start_test_item()` with `item_type='SUITE'`. I make a call to `start_test_item()` before the suite starts and `finish_test_item()` with the correct parameters after the completion of the test suite. For our purposes, we only want to report at the suite level to report port

[2020-09-24 20:27] DzmitryHumianiuk commented on #731
@sspieker-cc sounds like a good solution.

Since real-time reporting of Performance tests generate big load on RP API itself.
Thus upload of finalized and summed up report makes more sense.

@sspieker-cc btw, did you try https://getcarrier.io/ ?

[2020-09-25 01:29] #1159 closed

[2020-09-25 07:59] hasket commented on #1144
Yes, it is possible as an option, but people came up with a long time ago that it is easier to combine several users into groups for further assigning a group to a project.
thanks
-------------------------------------------------
На русском,
Да, объединение в группы пользователей необходимы для дальнейшего назначения группы на конкретные проекты массово, это повысит юзабилити и удобство работы с п

[2020-09-25 08:01] Shakevg opened #1160 "[v5] Not possible to download attachments"
**Describe the bug**
It is not possible to download attachments in v5.3 compare with v.4.3

**To Reproduce**
1. Report Portal integrated with .Net Framework 4.8 (mstest, agent-net-vstest, NLog).
2. Run some test and log results to Report Portal, add big XML attachment

**Expected behavior**
Possible to download attachment

**Desktop (please complete the following information):**
 - OS: [win10]
 -