[2020-09-25 08:10] #1160 closed

[2020-09-25 08:11] Shakevg commented on #1160
Duplicate of https://github.com/reportportal/reportportal/issues/903

[2020-09-25 08:22] v1-wizard commented on #1156
Hello, any updates? Workarounds? Could i try to restore index manually?

[2020-09-25 08:29] Yumfriez commented on #1156
@v1-wizard Probably it will help, try to drop 2 indexes from `path` - path_gist_idx, path_idx

Then recreate only GIST index:

CREATE INDEX path_gist_idx
    ON test_item
        USING gist (path);

[2020-09-25 08:34] v1-wizard commented on #1156
@Yumfriez I will try, thanks.

[2020-09-25 09:11] DzmitryHumianiuk commented on #1159
@loudDD we have migration scripts, which can migrate data from instance of RP v4.x to instance of RP v5.3.x
but this is more about version to version migration.

In case if you want to migrate data to the same version of product, then you just can backup database.
And restore it at new instance.
in Version 4 all screenshots stored in database. so you all covered.
in Version 5 all screenshots store

[2020-09-25 09:13] ivan-sukhomlyn commented on #950
Unfortunately, this bug reproduces at the 5.3 version as well with the PostgreSQL 12.3
API version - **5.3.0**

[code]

[2020-09-25 09:32] Yumfriez commented on #950
@ivan-sukhomlyn For how long does this query remain in blocking state?

[2020-09-25 09:37] ivan-sukhomlyn commented on #950
Queries like these can be in blocked for more than 3-5 and longer
[code]

[2020-09-25 09:52] Yumfriez commented on #950
@ivan-sukhomlyn On our prod env during reporting we have these `select for update` statements too. If it doesn't block items' start/finish and these locks are removed after launch finish I suppose it's a normal reporting case. But if these locks remain even after all items were reported and launch was finished then we should investigate it again

[2020-09-25 10:02] ivan-sukhomlyn commented on #950
We have a huge number of parallel launches at the same time that reports to several projects.
For example,  at this time, I have 197 queries that are in the blocked state and their execution duration are more than 30 minutes.

[code]
Our all of the 300 connections in the pool available for the API service are in the active state
![Screenshot 2020-09-25 at 12 53 35](https://user-images.githubuserco

[2020-09-25 11:34] vasanth1896 commented on #1095
Now it got fixed thanks, after updating to 5.3.1 :)

[2020-09-25 11:34] #1095 closed

[2020-09-25 11:49] iivanou commented on #1148
Exactly.

[2020-09-25 12:12] Cyberglamdring commented on #1112
Try adding [configpath](​​https://github.com/helm/charts/blob/master/stable/minio/values.yaml#L68) to MinIO values. Also the same issue is [here](https://github.com/waynesun09/reportportal-operator/issues/1#issuecomment-649520917)

[2020-09-25 16:03] karthikeyans1 commented on #731
@DzmitryHumianiuk  I did implemented carrier but RP integration is not working

[2020-09-25 16:04] karthikeyans1 commented on #731
seems like its not yet implemented , is it right?

[2020-09-26 13:10] DzmitryHumianiuk commented on #731
@karthikeyans1 i've double checked it with @arozumenko : carrier is just not updated for RPv5. works with RPv4 API now.

[2020-09-28 09:14] tokarthik commented on #731
thanks, @DzmitryHumianiuk  any idea when you guys will upgrade to v5, If you guys guide me how to do it, I will happy to contribute

[2020-09-28 10:11] gopikishan1995 commented on #1158
Due to contractual obligations with our clients

[2020-09-28 12:43] DzmitryHumianiuk commented on #1158
@gopikishan1995 ReportPortal is an open source solution available to everyone for free.

EPAM Systems is an original company where solution was founded.
In 2016 EPAM shared it's intellectual property with community via open sourcing.
Now EPAM is major sponsor and contributor into the solution.

Copyright belongs to EPAM Systems, and it's distributed under Apache License.
`
The Apache License is pe

[2020-09-28 12:43] #1158 closed

[2020-09-28 14:09] Rea2 commented on #544
Hi. I faced the similar problem

[2020-09-28 14:15] Rea2 commented on #544
Hi. I faced a similar error.   In my case, it looks like report portal doesn't allow to have previous_step finsih_time = current_step start_time. Is it bag of feature?

[2020-09-28 14:18] rjswitzer3 commented on #1148
@iivanou The described changes rectified the tabular view stats, but resulted in two entries being logged under the same launch - one with stats and details displayed, and one without. Given this behavior behavior I have removed the call of `start_test_item(..item_type='SUITE'..)` and have opted to only use `start_test_item(..item_type='STEP'..)` for the time being.

Now this begs the following qu

[2020-09-28 14:51] iivanou commented on #1148
@rjswitzer3
You are getting two entries being logged under the same launch because in Report Portal v5 you should add the correct parent UUID to the item. Please, read through the [reporting guidelines ](https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md) to start working with RP v5 correctly.

Answers:

- Report Portal V5 reporting is different comparing t

[2020-09-28 15:10] deepak571 opened #1162 "Automatically remove old build - Not working"
**Describe the bug**
I have set up 'Keep launches' setting as 1 month, but older builds are not being deleted automatically.

**Expected behavior**
As per documentation, all builds older than the specified duration should get deleted automatically

**Screenshots**
![image](https://user-images.githubusercontent.com/42932074/94450266-57445c80-01ad-11eb-8cb1-9d8a7b8bc881.png)

**Versions:**
 - OS, Br

[2020-09-28 15:11] DzmitryHumianiuk commented on #1162
fixed in 5.3.1
https://github.com/reportportal/reportportal/releases/tag/5.3.1

[2020-09-28 15:11] #1162 closed

[2020-09-28 15:21] rjswitzer3 commented on #1148
@iivanou
The correct `uuid` is being passed, and the correct `launchUuid` is being passed - as previously mentioned, I have read through.

Typo on my behalf, I've edited my post accordingly. I'm referring to difference between `reportportal-client` v3 and v5.

Once again, they are being reported correctly to the API... is that all the support/advise you can provide? would you prefer code?

Thanks.

[2020-09-29 03:05] Kanaduchi commented on #877
@evjlobanova  Any updates on this? Is there any documentation for Single Sign On url (e.g. uat/saml/sp/SSO/alias/report-portal-sp)? Without such url it is impossible to configure SAML

[2020-09-29 04:58] evjlobanova commented on #877
This url should look like this:

https://<your domain adress>/uat/saml/sp/SSO/alias/report-portal-sp

Could you please specify which kind of documentation you need for this url?
We will check and update if need

[2020-09-29 06:01] gopikishan1995 opened #1163 "How to rename or change the project name "superadmin_personal""
How to rename(superadmin_personal) or change or create a new project in report portal.io

[2020-09-29 06:05] evjlobanova commented on #1163
Could you please explain why you need this?
The project name can not be changed

You can create a new project with any name you need
Please read our documentation https://reportportal.io/docs/Creation-of-project

[2020-09-29 06:05] #1163 closed

[2020-09-29 06:29] Kanaduchi commented on #877
Thank you!
I think it should mentioned in https://reportportal.io/docs/SAML-integration
With screenshot for Okta
<img width="753" alt="Screen Shot 2020-09-28 at 1 21 53 PM" src="https://user-images.githubusercontent.com/7042994/94521132-f701f900-0246-11eb-87de-2b12b335ffe6.png">

[2020-09-29 06:33] evjlobanova commented on #877
It is shown on the video in documentation
thank you for feedback, I will update docs

[2020-09-29 08:27] gopikishan1995 commented on #1158
Thank you :) for the info.

[2020-09-29 10:29] iivanou commented on #1148
@rjswitzer3 See [this method](https://github.com/reportportal/agent-python-pytest/blob/8a6c2fdac4292762baa12cd42ebe65c990de1089/pytest_reportportal/service.py#L272). It reports Pytest results correctly through the reportportal-client v 5.0.5.

[2020-09-30 07:29] coufalja commented on #950
We've hit a similar issue, once we run a large number of parallel launches the RP UI is almost unusable. Tens of seconds wait times for simple API calls. By an investigation using a Profiler on our live instance, we have found out that it is somehow blocked by those select for update queries actually one in particular.
<img width="1014" alt="Screenshot 2020-09-29 at 12 02 38" src="https://user-ima

[2020-09-30 07:35] evjlobanova commented on #950
@coufalja which version of RP do you use?
                 does your instance have set up described here https://reportportal.io/docs/Optimal-Performance-Hardware?
                  If not, please add information about instance set up:  disck i/o, CPU, info about DB

cc @irynakozak2

[2020-09-30 10:20] akolomiiets commented on #954
Hi,
same issue with 5.3.1 k8s setup

[2020-09-30 12:16] VolhaKarenko commented on #954
A ticket in Jira is created for the issue

[2020-09-30 16:43] ksAutotests commented on #1155
When I'm trying to rerun tests I get the next error after rerun finish:

error	30-Sep-2020 16:26:35	Error: System.AggregateException: One or more errors occurred. ---> System.Net.Http.HttpRequestException: Unexpected response status code. GET https://reportportal.epam.com/api/v1/sap-web/launch/mode/?page.page=1&page.size=32767&page.sort=start_time,DESC&filter.eq.name=Daily&filter.gte.start_time=16

[2020-09-30 21:35] nami-varthakavi opened #1164 "Data Migration from V4.3.11 to V5 missing test item data"
I was doing a data migration from v4 to v5 with few months before data ( 01/06/2020) and I see the status of my migration in batch execution table as completed and successfully. But when I look through the data I see all the launches but the test items are not migrated over.

![image](https://user-images.githubusercontent.com/11453257/94742082-f8f0b880-0329-11eb-8a87-29ff1c137d52.png)

The image s

[2020-09-30 21:41] nami-varthakavi commented on #1164
[code]

Logs from data migration container.

[2020-10-01 02:42] Kanaduchi commented on #877
@evjlobanova I'm trying to set this integration but get 403 error, when okta redirects back to reportportal

Request URL: https://url/uat/saml/sp/SSO/alias/report-portal-sp
Request Method: POST
Status Code: 403 Forbidden
Form Data:
[code]

[2020-10-01 12:29] akolomiiets commented on #954
I deleted and create LDAP integration with Password encoder type "No" what resolve issue

[2020-10-01 14:39] Kanaduchi commented on #877
In the log I see a lot of errors:
`2020-10-01 14:27:17.070 ERROR 6 --- [-8585-exec-1625] .t.r.c.e.r.ReportPortalExceptionResolver : ReportPortalExceptionResolver > You do not have enough permissions.
api_1            |
api_1            | com.epam.ta.reportportal.exception.ReportPortalException: You do not have enough permissions.
api_1            |      at com.epam.ta.reportportal.commons.validati

[2020-10-01 16:12] gopikishan1995 opened #1165 "How to customize widgets in report portal based on attribute value"
How to create our own widgets or customize widgets in report portal.

[2020-10-02 05:37] VolhaKarenko commented on #1140
The issue is reproducible, a ticket in Jira is created.

[2020-10-02 05:52] evjlobanova commented on #1165
https://reportportal.io/docs/Component-health-check
https://reportportal.io/docs/Table-Component-health
https://reportportal.io/docs/Cumulative-trend-chart

[2020-10-02 05:52] #1165 closed

[2020-10-02 08:31] nvborisenko commented on #1155
@ksAutotests I think `start_time` query parameter is incorrect, plz try `startTime` in GET request.

[2020-10-02 09:05] ksAutotests commented on #1155
I tried to use startTime parameter but the error was thrown

[2020-10-02 09:30] nvborisenko commented on #1155
@ksAutotests upgrade reportportal nuget packages.

[2020-10-02 11:54] claes-arvidson opened #1166 "New feature: Present xfailed and xpassed in report-portal plugin"
Hi,
We are around 200 software developers at our company that will start using the report-portal plugin. However, in order for us to be satisfied with this plugin we would like to be able to present two columns: "xfailed" and "xpassed" so that they are not included in the "Passed and "Skipped" column. This would make us lose a lot of debug/evaluation time when running nightly runs on Jenkins for a

[2020-10-02 12:20] v1-wizard commented on #1156
Hi @Yumfriez . This is not help us. Seems like a bug in Postgres.
[code]
So i delete all our data after corruption and recreate index. Keep watching to found a problem.

[2020-10-02 12:37] claes-arvidson commented on #1166
Thank you, I should rather create my issue there. This is not regarding the API, rather getting new UI columns.

[2020-10-02 14:35] NoReflexness opened #1167 "REGEX Pattern invalidates using non character classes [v5]"
**Describe the bug**
When creating a REGEX pattern that contain \W, \D or \S (not word, digit, whitespace) in a *? or \*+ context, the input validation claims it is invalid.
"An error occurred while connecting to server: Error in handled Request. Please, check specified parameters: 'Provided regex pattern - '/string[\s\S]\*?other string/' is invalid'"

**To Reproduce**
Create REGEX pattern using /

[2020-10-02 15:47] smerberg commented on #808
I'm getting this same error - everything was working fine a few minutes ago. To answer the questions above -

1. I'm using 5.3.1
2. The Filters page throws the same error
![image](https://user-images.githubusercontent.com/3135561/94942741-b3a4c600-04a4-11eb-8518-1ccbd606acf4.png)
3. I did previously create some filters. I was able to do so without issue.
4. Here's the /filter response
`{"content":

[2020-10-02 16:49] smerberg commented on #808
I think I fixed this by deleting the filter with ID 2 through the API. The "Filters" page is working again, so fingers crossed

[2020-10-02 20:42] AmsterGet commented on #808
It seems that this issue is still reproducible and sometimes occurs in version 5. *.

[2020-10-02 20:48] AmsterGet commented on #808
As I understand the core problem is that the required `conditions` field leads epmty.
It's also important to note that the problem occurred with the shared filter.
From my point of view, this can happen in two ways:
1) Editing filter data directly in the database.
2) The issue with shared filters in the core API.

[2020-10-03 14:38] tomern opened #1168 "Could not create SSL/TLS secure channel"
I'm running SpecFlow tests that send their logs to report portal by using ReportPortal.config.json file.
The tests perform a REST request to another service (not related to report portal) which returns a valid response when I set the enabled property in ReportPortal.config.json to 'false'.
**Once it's set to 'true' I get the following SSL Exception:**

System.Net.WebException: The request was abor

[2020-10-03 17:12] nvborisenko commented on #1168
When RP integration is enabled, it modifies `ServicePointManager.SercurityProtocol`: https://github.com/reportportal/client-net/blob/5ca060829e7e4ab9bc725fbfbad3a3fe142cb00b/src/ReportPortal.Client/Service.cs#L36 (adds TLS1.2 support explicitly).

Cannot understand how it affects your tests...

[2020-10-04 09:18] tomern commented on #1168
The tests send an API request to a service with TLS1.0.  So I guess it gets the TLS exception since you are overriding it with TLS1.2.
Are you adding TLS1.2 to all existing protocols or setting it as the only protocol?

[2020-10-05 05:45] gopikishan1995 commented on #1165
What i mean is can we create own widgets based on our requirement.
Like apart from using above(report.io) widgets can we customize widgets by creating by our own.

[2020-10-05 05:59] sebastienmascha commented on #520
@bzsharm this is indeed a working solution:
`curl -X POST "http://localhost:8080/api/v1/superadmin_personal/launch/import" -H "accept: */*" -H "Content-Type: multipart/form-data" -H "Authorization: bearer YOUR_JWT_TOKEN" -F "file=@result.xml;type=text/xml"`

Nevertheless, I the response is not really helpfull. It is a message that includes the launch ID. WOuld be better to add a field launch_id wi

[2020-10-05 08:12] evjlobanova commented on #1167
Do you use PostgreSQL regex?

[2020-10-05 08:12] evjlobanova commented on #1165
https://github.com/reportportal/reportportal/issues/610

[2020-10-05 09:08] dmitriykuzmenko commented on #1064
Hello! I'm got the same issue when trying to deploy ReportPortal v5 into k8s. I tried pass bucket name via -D option to jvmArgs and as env variable but result the same:
`2020-10-05 09:06:14.531 ERROR 6 --- [           main] c.e.t.r.f.d.minio.MinioDataStore         : Unable to save file 'keystore/secret-integration-salt'

io.minio.errors.ErrorResponseException: Access denied
	at io.minio.MinioClien

[2020-10-05 10:01] nvborisenko commented on #1168
It adds TLS1.2 to existing protocols, in theory. And does it once.

[2020-10-05 17:08] ksAutotests commented on #1155
After upgrading packages the new problem have occured.
---> (Inner Exception #0) System.Net.Http.HttpRequestException: Unexpected response status code. PUT https://reportportal.epam.com/api/v1/sap-web/launch/289917/stop
error	05-Oct-2020 15:45:06	Response Body: {"errorCode":40023,"message":"Finish launch is not allowed. Launch '289917' already finished with status 'FAILED'"} ---> System.Net.Http.H

[2020-10-06 06:47] billyjulius commented on #1114
Hello, I can confirm I got this error too with my AWS SES service, same version ReportPortal v5.3.0. I tried using with mailtrap.io and it works fine though.

[2020-10-06 14:39] tomassatka opened #1169 "Externalize tokens"
Would it be possible to persist the generated access tokens?

Problem is that if reporportal is used by multiple projects to report test executions all of unit test and cucumber properties has to hold token. But if pvc has hickup or few pods gets restarted these tokens are not valid anymore and they have to be redeployed to all projects again.

IMHO after generating the token they can be passed to

[2020-10-07 06:44] redxeagle commented on #435
But this does not solve this issue in the correct way.

If I understand your solution correctly you need every time after you restart/recreate/update the docker uat instance of report portal execute your script inside this container to get access again.

For it sounds more like a workaround and not a solution.

Isn't it possible to configure it for the container inside the compose file only?

[2020-10-07 09:09] VolhaKarenko commented on #867
Jira ticket is created

[2020-10-07 10:37] kirillbilchenko commented on #1149
@venky223 did you manage to integrate with azure?

[2020-10-07 12:20] gopikishan1995 opened #1171 "Unable to capture screenshots into report portal for mobile framework through appium driver"
Using this below method we are not able to capture screenshots into report portal through appium driver
below is the screenshot method i am using for mobile and it is working fine for Web framework

 // Take screenshots into report portal
		public static ReportPortalMessage ScreenShot(AppiumDriver appiumDriver) {

				 ReportPortalMessage message = null;
				    try {
				    	TakesScreenshot ts =

[2020-10-07 14:51] vishallanke commented on #612
We face similar issue in our project
@GregNYT
Please check https://github.com/vishallanke/ReportPortalCypressJUnitAgent

[2020-10-07 18:54] unnisathyarajan commented on #566
ReportPortal now has SAML but it can be integrated only with Okta IDP
Any plans for a generic SAML based authentication support?
I look forward to Keycloak based integration here.

[2020-10-08 06:17] evjlobanova commented on #566
We are planning to make integration with Keycloak, but I can not tell you exactly when we do it

[2020-10-08 06:19] evjlobanova commented on #612
Our main feature is real-time reporting.
Import is a minor feature, and we support it with minor priority.
@VolhaKarenko please re-check

[2020-10-08 07:34] mnicula commented on #1138
@AmsterGet , @evjlobanova  any updates on this?

[2020-10-08 07:35] evjlobanova commented on #1171
@HardNorth Vadzim, could you please help with this issue?

[2020-10-08 07:44] evjlobanova commented on #1170
You should report launches and test executions with attributes.
Details on how you can create widgets you can find in our documentation.

https://reportportal.io/docs/Table-Component-health
https://reportportal.io/docs/Cumulative-trend-chart

If your question leaves, please let me know.

[2020-10-08 08:10] Cyberglamdring commented on #1168
Older Windows systems (prior to version 10) use ssl ciphers that are not supported in TLS 1.2. Try adding these ciphers to your proxy or web server (for example [nginx](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_ciphers))

[2020-10-08 08:55] irynakozak2 commented on #950
@ivan-sukhomlyn @coufalja that ticket has been reopened from our backlog. We will proceed with a reproducing and possible fix.

[2020-10-08 09:06] evjlobanova commented on #520
@Yumfriez Ivan could you please create a task to Jira to version 5.4 for changing response

[2020-10-08 09:18] evjlobanova commented on #1166
@claes-arvidson Actually we do not have plans to add new columns to the main page, and also to add new custom statuses.
Because it can influence on our existing UI and Back-end logic.

Could you please explain what business logic have xfailed and xpassed?  How do you plan to use it in the analysis?

For now, you can handle this situation with existing tools:

- attributes: add to executions needed

[2020-10-08 09:20] evjlobanova commented on #1169
@HardNorth @pbortnik @Yumfriez what do you think about this request?

[2020-10-08 09:44] nvborisenko commented on #1168
This issue is not related to server configuration.

@tomern You are still using deprecated `HttpWebRequest` (RestSharp uses it). Try to upgrade RestSharp package where new `HttpClient` is involved in sending requests.

[2020-10-08 12:12] claes-arvidson commented on #1166
@evjlobanova We have test cases that intermittently fails due to some timeouts trigger when communicating via http-requests where timing can differ from one run to another. In these cases we want to mark them as xfailed, write an issue and then remove the xfailed pytest-marker as soon as we have fixed the test case.

It is a huge issue currently to mark a test case as xfail via "@pytest.mark.xfail

[2020-10-08 14:05] kirillbilchenko commented on #566
@evjlobanova any plans abut azure sso saml?

[2020-10-09 09:09] Yumfriez commented on #1150
@evjlobanova I suppose we need task (if it doesn't exist) for our shell installation documentation update

[2020-10-09 09:15] Yumfriez commented on #1117
@evjlobanova I suppose we need to discuss this feature request and decide implementation

[2020-10-09 09:20] Yumfriez commented on #1114
@ostratila Could you please provide logs from the API container/pod with the last error stack trace.

[2020-10-09 09:23] Yumfriez commented on #1109
@Cyberglamdring We've already upgraded traefik version to v2.0.5 so there won't be a problem

[2020-10-09 09:24] evjlobanova commented on #1166
@claes-arvidson definitely it is not a simple solution) these changes will affect the current logic of ReportPortal. Our application supports different test frameworks, so that we need to have a universal solution for different tests.

I will discuss it with a team internally, but anyway you for now the best option is to find a way how to use exsisting tools in ReportPortal.

For instance, you can

[2020-10-09 09:29] Yumfriez commented on #1088
@odubaj We don't create docker image from components such as dao/model etc. These are just dependency libraries so this is not possible.

If you want to make some changes in the `model` and apply them to the `api` - modify your `model` repo, include it as a dependency in your `api` project and build a docker image from `api`. This will work

[2020-10-09 09:32] VolhaKarenko commented on #612
The issue with recompressing in MacOS Finder probably won't be fixed. Besides compressing via terminal, another solution is to import XML file via API page. (Launch controller - Import junit xml report).
@GregNYT could you please tell more about the problem with nested elements, specifying the import example and expected result?

[2020-10-09 09:35] odubaj commented on #1088
Hi, thanks for the update, I've already resolved the issue the way, as you described

[2020-10-09 09:35] #1088 closed

[2020-10-09 09:43] Yumfriez commented on #1064
@Cyberglamdring Hleb, probably you can provide us some info about bucket prefixes for `minio as S3 proxy` config and permission issues

[2020-10-09 09:43] #921 closed

[2020-10-09 09:46] Yumfriez commented on #1028
@evjlobanova We can create a task for this request

[2020-10-09 09:49] Yumfriez commented on #1150
https://github.com/reportportal/reportportal/issues/973

[2020-10-09 09:54] Yumfriez commented on #1082
@mihtac @osherdp
`SELECT *
FROM acl_object_identity
         JOIN acl_class ac on ac.id = acl_object_identity.object_id_class
WHERE ac.class = 'com.epam.ta.reportportal.entity.ShareableEntity';`

Could you please attach the result of the above query, so we can see how many entities were corrupted and then fix them in the DB

[2020-10-10 07:26] NoReflexness commented on #1167
yes

Den man. 5. okt. 2020 kl. 10.12 skrev Yauheniya Labanava <
notifications@github.com>:

--
*Med venlig hilsen / Best regards*
Mads Vilms Karkov Phillip

[2020-10-10 07:27] NoReflexness commented on #1167
hmm there might be something i have to look into. ill get back to you

Den man. 5. okt. 2020 kl. 10.12 skrev Yauheniya Labanava <
notifications@github.com>:

--
*Med venlig hilsen / Best regards*
Mads Vilms Karkov Phillip

[2020-10-11 09:36] barakbottomline opened #1173 "Access denied, Status code: 403"
When running my project, in log:
`com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 403
Status message: Forbidden
Error Message: You do not have enough permissions.
Error Type: ACCESS_DENIED
`

I couldn't find why is happening

[2020-10-12 06:08] evjlobanova commented on #973
Will be fixed together with
https://github.com/reportportal/reportportal/issues/1150
https://github.com/reportportal/reportportal/issues/1016

[2020-10-12 06:09] evjlobanova commented on #1150
Closed
All progress should be tracked in the ticket #973

[2020-10-12 06:09] #1150 closed

[2020-10-12 06:09] evjlobanova commented on #1016
Closed
All progress should be tracked in the ticket #973

[2020-10-12 06:09] #1016 closed

[2020-10-12 06:22] evjlobanova commented on #1117
@svettsova could you please re-check (if you can retry items with provided structure Launch -> Test) and add a bug in Jira in case it reproduces.

[2020-10-12 06:29] evjlobanova commented on #1173
Any steps for reproducing?
Version of ReportPortal?
Also if it possible please provide any available logs

[2020-10-12 07:18] Yumfriez commented on #1169
@tomassatka API tokens, that are displayed in the profile on UI are stored in the DB. So if there are no changes on the DB side these tokens will be valid. Do you use API token and if so could you plz provide a stack trace from the API pod with auth errors?

[2020-10-12 07:52] barakbottomline commented on #1173
The rp.project was incorrect

[2020-10-12 07:52] #1173 closed

[2020-10-12 09:08] Sivasankaramalan opened #1174 "[v5]- Not able to login to ReportPortal"
**Describe the bug**
Not able to login to ReportPortal. Getting error message An error occurred while connecting to the server:  and the response code is `Bad Gateway`

**To Reproduce**

**Expected behavior**
User able to login after deploying the report portal through docker

**Screenshots**

**Desktop (please complete the following information):**
 - OS:MacOS Catalina 10.15.6
 - Browser : Chrome

[2020-10-12 09:10] vineethmaller commented on #1120
@DzmitryHumianiuk @evjlobanova

Hi Team, could you please provide a solution to the issue rather than just pointing to slack or guide. We have followed the guide but we still get the same issue.

[2020-10-12 09:18] Sivasankaramalan commented on #1174
`2020-10-12 09:17:00.168  INFO 6 --- [           main] c.e.t.r.core.configs.ReportPortalApp     : Starting ReportPortalApp on 2a4a92abcf67 with PID 6 (/service-api-5.3.1-exec.jar started by root in /)
api_1            | 2020-10-12 09:17:00.172  INFO 6 --- [           main] c.e.t.r.core.configs.ReportPortalApp     : The following profiles are active: default
uat_1            | 2020-10-12 09:17:01.6

[2020-10-12 09:27] evjlobanova commented on #1120
@vineethmaller Could you please tell me what agent and what version do you use for reporting?

[2020-10-12 10:02] gopikishan1995 commented on #1171
Hi Team,
any update on above ?

[2020-10-12 10:21] PirvuDanielCatalin commented on #1082
![image](https://user-images.githubusercontent.com/37099336/95735659-c762e000-0c8d-11eb-93e4-b0ffe4ad5308.png)

[2020-10-12 10:23] vineethmaller commented on #1120
@evjlobanova Build: 5.1.0
Connecting to an endpoint using access token from Java application.

rp.attributes = RegressionTestVersion:2;

[2020-10-12 10:47] Yumfriez commented on #1120
@vineethmaller What Java agent do you use to report results to the RP instance?

[2020-10-12 10:56] vineethmaller commented on #1120
@evjlobanova @Yumfriez
Java cucumber agent, version 4.0.2

[2020-10-12 11:01] Yumfriez commented on #1120
@vineethmaller For 4th version agents this property should be - `rp.tags`, not `rp.attributes` (this property for 5th version agents)

[2020-10-12 11:16] vineethmaller commented on #1120
@Yumfriez Which agent should I use for Report portal endpoint with build 5.1.0? I want to use attributes.

[2020-10-12 11:44] renan commented on #1047
What about other components such as `reportportal/service-authorization` and `reportportal/service-ui`? I am using the Kubernetes helm and I am not able to find what are the options for lowering the verbosity on them. Especially `reportportal/service-authorization` with hundreds of `DEBUG` messages.

[2020-10-12 11:58] PirvuDanielCatalin commented on #1114
`Attaching to reportportal_api_1
api_1            | 2020-10-12 11:53:38.021 ERROR 7 --- [nio-8585-exec-4] .t.r.c.e.r.ReportPortalExceptionResolver : ReportPortalExceptionResolver > Email server is not configured or configuration is incorrect. Unable to send connection test email. Failed messages: javax.mail.SendFailedException: Invalid Addresses;
api_1            |   nested exception is:
api_1

[2020-10-12 11:59] PirvuDanielCatalin commented on #1114
Attaching to reportportal_api_1
api_1            | 2020-10-12 11:53:38.021 ERROR 7 --- [nio-8585-exec-4] .t.r.c.e.r.ReportPortalExceptionResolver : ReportPortalExceptionResolver > Email server is not configured or configuration is incorrect. Unable to send connection test email. Failed messages: javax.mail.SendFailedException: Invalid Addresses;
api_1            |   nested exception is:
api_1

[2020-10-12 12:19] malmor commented on #566
Do i understand it correctly that at the moment only Octa is supported as a SAML provider and nothing else like MS ADFS would work?

[2020-10-12 13:19] kontownik opened #1176 "Logs attachments imported by /v2/.../log API doesn't have correct name"
**Describe the bug**
1. Create launch object
2. Import binary attachment to logs using `/api/v2/{projectName}/log`

Send POST to `/api/v2/default_personal/log`

with data:
json_request_part -> json.json
binary_part -> html-report.zip

Inside json.json:
`[{"file":{"name":"html-report.zip"},"level":"info","time":"2020-09-15T09:37:39.333Z","launchUuid":"45a1dfc3-6400-47f5-93c3-49fbd09d4dca","message"

[2020-10-12 14:55] tomassatka commented on #1169
@Yumfriez in our use case multiple teams use single reportportal instance. Problem comes if pods get restarted due to some outage or if we decide to move this instance of reportportal to another location. So at the moment our app works fine and i cant provide you the stack trace. I am only proposing here in this issue the option to extract the tokens to be able to be able to restore them.

[2020-10-13 05:37] evjlobanova commented on #1120
Use agents 5+
Agent 4 and version 4 of ReportPortal is not supported any more

And we recommend updating your ReportPortal штыкефтсу to the latest version (5.3.1)

[2020-10-13 05:37] #1120 closed

[2020-10-13 07:28] gopikishan1995 opened #1177 "how to upgrade report portal version from lower to higher version"
![image](https://user-images.githubusercontent.com/60506449/95829278-ac5aa380-0d53-11eb-865d-f883d2e6382e.png)
 now i am using Build 5.2.0 version i want to use latest report portal version, how to do it.

[2020-10-13 07:44] gopikishan1995 commented on #1177
<repositories>
		<repository>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
			<id>bintray-epam-reportportal</id>
			<name>bintray</name>
			<url>http://dl.bintray.com/epam/reportportal</url>
		</repository>
<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>logger-java-log4j</artifactId>
			<version>5.0.3</version>
			<scope>compile</scope>
		</dependency>
		<de

[2020-10-13 09:19] evjlobanova commented on #1177
https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.3

[2020-10-13 09:19] #1177 closed

[2020-10-13 10:33] bearclawz opened #1178 "When having many filters, after setting filter in widget, filter is not found [v5.2.2]"
I started noticing widgets were not showing accurate data, then on inspecting the widget shows 'Filter not found'
When adding same filter, same thing happens

After trying many times, I found filters with names lower in alphabet do not have this issue
so filter with name 'A filter' is stable and 'Z filter' not.
Workaround was to rename important filters I need for the dashboard starting with A_

S

[2020-10-13 11:12] rashi-kejriwal commented on #1174
Facing same issue. Not able to login giving 502 Bad Gateway error. Using MAC OS.

[2020-10-13 12:07] priyankshah217 commented on #1174
I am also facing the same issue.

[2020-10-14 05:10] svettsova commented on #1117
ticket is added to backlog

[2020-10-14 06:00] svettsova commented on #911
The issue is fixed in 5.3.3

[2020-10-14 06:00] #911 closed

[2020-10-14 06:00] svettsova commented on #906
The issue is fixed in 5.3.3

[2020-10-14 06:00] #906 closed

[2020-10-14 09:21] VolhaKarenko commented on #808
The issue is added to backlog

[2020-10-14 22:06] winstondz opened #1179 "Embed Video url inside report portal for streaming"
Use Case:

I setup a zalenium grid on a linux server which also has report portal containers. At the end of test execution, a video recording is stored on the linux host. I generate a url for the video : http://hostname:4444/dashboard/unique-video-filename . Right now, I am posting this url as a log message, so that I can click on it and then the video can play on a separate tab. I was thinking, w

[2020-10-15 02:55] winstondz commented on #1179
Actually I was able to resolve this by moving to a different port.

[2020-10-15 02:55] #1179 closed

[2020-10-15 10:33] rashi-kejriwal commented on #1174
Any update on this issue ?

[2020-10-15 11:06] gopikishan1995 commented on #1171
Can someone please help on this,

[2020-10-16 09:10] balukov commented on #2
It is hard to use full features RP without this feature.
Cuz all who want to see the report  (developers, managers) should have credentials.
And this is the blocker for us.
You know developers - they want just click and see results.
If they need to set a login/password every time - this makes smaller their desire to see the report.

[2020-10-16 09:18] Patios commented on #1174
ReportPortal is ready for login when you see a list of services (required: API, UAT, Index, UI; optional: Analyzer, Rally/Jira) at the bottom of the Login Page.

[2020-10-16 10:13] priyankshah217 commented on #1174
@Patios That's not happening, API services keep restarting.

[2020-10-16 10:59] HardNorth commented on #1056
@Naumansh RP 4.3.0 is out of support. Can you please try import it on a late 5th version?

[2020-10-16 21:42] sravanmedarapu commented on #1174
Observed same, API portal(5.3.1) and UAT(5.3.1) containers restarting forever.

API portal Logs:
[code]

UAT logs:
[code]

[2020-10-19 04:33] priyankshah217 commented on #1174
Is there any updated?

[2020-10-19 08:55] evjlobanova commented on #2
@balukov yes, you are absolutely right, we are planning to make this feature. Unfortunately, I can not tell you a solid ETA for this feature.
For now, you can try to use login with GitHub/LDAP or SAML, it can help to reduce the time for achieving results.

If this feature is crucial for you, we also can provide paid support. In the scope of the paid contract, we can gather requirements with you an

[2020-10-19 08:57] Yumfriez commented on #1174
@Sivasankaramalan There is a problem with MINIO service as I can see from logs. Could you provide logs from this container?

[2020-10-19 08:58] evjlobanova commented on #1178
Which version of ReportPortal.io do you use?

[2020-10-19 09:00] alex-harmaza opened #1180 "The last state of 'Collapse/expand precondition methods' switcher is not saved"
**Description:** The switcher's last state (switcher is on the left of the column with name 'Method type' on the UI) isn't saved from the previous session when we open report portal (RP) again. For the RP version 4 it works correctly, user setting for the switcher is saved and there is no need to switch it every time.
**RP Build:** 5.3.1
**Browsers:** Firefox 81.0.1, Chrome 86.0.4240.75

[2020-10-19 09:19] Sivasankaramalan commented on #1174
`
 You are running an older version of MinIO released 5 months ago
 Update: docker pull minio/minio:RELEASE.2020-10-09T22-55-05Z

Attempting encryption of all config, IAM users and policies on MinIO backend

API: SYSTEM()
Time: 09:14:53 UTC 10/12/2020
DeploymentID: d7a78454-a67a-4903-bd75-3378ef2d71b0
Error: Unexpected error, please report this issue at https://github.com/minio/minio/issues

[2020-10-19 09:56] Sivasankaramalan commented on #1174
Just update the `minio` version in docker-compose.yml file to `docker pull minio/minio:RELEASE.2020-10-18T21-54-12Z`

@priyankshah217  please check and let me know, now am able to login :)

Thanks, everyone for your time.

[2020-10-19 10:16] Patios commented on #1174
elastic search restarting

Created elasticsearch keystore in /usr/share/elasticsearch/config
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.

OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be
Exception in thread "main" java.lang.RuntimeException: star

[2020-10-19 10:19] Patios commented on #1174
minio update fix problem with login. I am now able to log in. thanks, RELEASE.2020-10-18T21-54-12Z is correct.

[2020-10-19 10:32] evjlobanova commented on #1174
Can we close the issue?

[2020-10-19 11:11] priyankshah217 commented on #1174
I think yes, now login is working fine.

[2020-10-19 11:13] bearclawz commented on #1178
Hi, its still on version 5.2.2

[2020-10-19 11:22] Sivasankaramalan commented on #1174
@evjlobanova Please update minio version to latest in `docker-compose.yml` file.

[2020-10-19 11:22] #1174 closed

[2020-10-19 11:35] vadzimBichan opened #1181 "[v5] Most Failed Tests and Most Flaky Tests widgets: wrong time is shown"
**Describe the bug**
Please see the attached screenshots for two widgets. Last test execution time is shown instead of Last time of switch / Last time of failure

**To Reproduce**
Run some suite with red tests several times and analyze two widgets: Most Failed Tests and Most Flaky Tests

**Expected behavior**
Last time of switch (for Most Flaky Tests widget) and last time of failure (for Most Fail

[2020-10-19 12:36] Shakevg opened #1182 "[v5] Year in footer copyright text is not up to date"
**Describe the bug**
Year in footer copyright text is not up to date: 2018

**To Reproduce**
Login to Report Portal v5.3

**Expected behavior**
Up to date Year: 2020

**Screenshots**
![image](https://user-images.githubusercontent.com/42133199/96451730-b3d0ef80-1220-11eb-8d8d-24a6d9105904.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser chrome
 - Version 86

[2020-10-19 12:36] evjlobanova commented on #1174
@pbortnik @Yumfriez Could you please update versions in the docker-file

[2020-10-19 12:39] evjlobanova commented on #1178
Please update to the latest version
We have fixed a bug with "Filter not found"
Please let us know about the results and reopen the issue if it is still valid

[2020-10-19 12:39] #1178 closed

[2020-10-19 13:59] evjlobanova commented on #1181
It is a known bug, will be fixed in version 5.4

[2020-10-19 20:17] rjswitzer3 commented on #1148
@iivanou I almost forgot to follow-up. The cause of my latter issue was a typo on my behalf - I misspelled `parent_item_id` as `paernt_item_id` - and the `**kwargs` just let it carry-on gracefully.

Thanks for the assistance.

[2020-10-19 20:17] #1148 closed

[2020-10-19 20:32] dagansandler opened #1183 "[v5] Data corruption when performing batch "Link Issue""
**Describe the bug**
Data corruption when performing batch "Link Issue" on failures - Duplicate entries are created in the `ticket` table and subsequent actions fail - for example: api requests to `PUT /api/v1/{projectName}/item` with the same `ticketId` fail with the response:
[code]

**To Reproduce**
- In the UI, Mark multiple failed tests and select "Link Issue" from the Actions drop down:
- Li

[2020-10-20 10:35] IharBletskoTR commented on #1019
Same issue - RP behind https loadbalancer and links from RP are sent with "http", instead of "https".
Option to select "auto/http/https" for links would be good enough to solve this.

[2020-10-20 13:14] e-olga commented on #1182
@Shakevg , @evjlobanova , the ticket is added to RP backlog.

Regards,
Olga

[2020-10-20 13:58] odubaj opened #1184 "No history of test-items with defect"
**Describe the bug**
I am unable to display history of test-items with selected issues after clicking on chart from testsuite page. If i click on chart on launches page, I am able to display the history.

**Expected behavior**
I should be able to display the history of test-items anytime

![step3](https://user-images.githubusercontent.com/44674278/96596294-d8929900-12ec-11eb-9851-c6e40f6795b4.png)

[2020-10-20 14:10] evjlobanova commented on #1184
@svettsova could you please add this bug to our Jira

[2020-10-20 14:11] evjlobanova commented on #1184
@odubaj thank you for sharing this, we will fix this

[2020-10-21 04:41] svettsova commented on #1184
Jira ticket is created

[2020-10-21 05:52] odubaj commented on #1184
thanks!

[2020-10-21 09:45] heilwood commented on #1098
Same issue on 5.3.1, changing defect type, started index regeneration which is to slow, when regeneration finished defect types updated.

[2020-10-21 09:54] ohank opened #1185 "Be enable to change permission map"
Superadmin or project manager can make a custom change on permission.
We like to have so that change status can't be done one test result. If this can be done another way we are open to it.

![image](https://user-images.githubusercontent.com/44366788/96704086-efd89180-1393-11eb-8fbb-42b435117ae8.png)

We want this not be enable to do:

![image](https://user-images.githubusercontent.com/44366788/96

[2020-10-21 11:23] jizi opened #1186 "Reportportal API logs: ERROR: deadlock detected[v5]"
**Describe the bug**
We are noticing deadlocks in reportportal api component during reporting test results.

[code]

As we have recently bumped the resources for Postgres significantly the issue is not appearing so often but it still sometimes occures.

**To Reproduce**
We do don't have a reproducer.

**Expected behavior**
There are no deadlocks and related client calls issues.

**Additional conte

[2020-10-21 12:54] #1050 closed

[2020-10-21 13:06] evjlobanova commented on #1186
@irynakozak2 check, please? Is it a known issue?

[2020-10-22 07:52] irynakozak2 commented on #1186
@jizi hello, we already have a ticket in our backlog regarding locks in PostgreSQL during reporting, and query from your logs also has been locked with other queries. So that please wait for the next RP release with locks fixes and that issue will decide by itself. We will keep you updated

[2020-10-22 08:02] evjlobanova commented on #1185
Hello @ohank , thank you for the request!
Yes, it is a valid request and we are planning to introduce Custom roles. You can track progress on in ticket #603 .We will add a permissions table, where PM or Admin will be able to customize the roles for every team member.
We are planning to introduce this feature in version 6.

I closed as a duplicate of #603

But we have also a paid support. So if thi

[2020-10-22 08:02] #1185 closed

[2020-10-22 08:39] jizi commented on #1186
Thx for info. Can you please mention which issue I should watch?

[2020-10-22 09:02] evjlobanova commented on #1186
#950

[2020-10-22 16:50] gsaslis commented on #520
@evjlobanova hello 👋

Just wondering if this ☝️ issue about changing the response payload was opened after all?
I cannot find a reportportal Jira instance to check for myself, and I can't seem to be able to find an issue here in Github (even though it seems that shouldn't be the place I should be looking at, right?)

Thanks in advance!

[2020-10-22 16:51] gsaslis commented on #520
P.S. Happy to open that issue myself, if it hasn't been opened yet.

[2020-10-22 16:56] sebastienmascha commented on #520
I personally ended up using regex to get the launch id:
`
import re  # Regex for launch ID
url = API_URL + "/api/v1/" + RP_PROJECT + "/launch/import"
files = {'file': (open(xml_path, 'rb'))}
r = requests.post(url, headers=API_HEADERS, files=files)
res = re.search(r'\b[A-Za-z0-9-]{10,65}\b', r.text)
`

[2020-10-22 18:45] nbleiberg commented on #2
I wonder if an alternate/additional solution could be to provide dashboards within email notifications.
This would allow a team to create a mailing list address that will be used to create a single user in RP and sign that address up for that kind of email notification with any dashboards they want. Then anyone can join that mailing list to receive those dashboards.

[2020-10-23 05:07] evjlobanova commented on #520
Hello @gsaslis
We created a task to our Jira backlog.
This GitHub ticket is related to your problem.
So that as soon as we add more info to the response, we will close this issue. No need to create one more ticket

[2020-10-23 05:21] evjlobanova commented on #2
Yes, we are planning to use a similar approach in order to provide a possibility to share a link to dashboard and also to use embedded widgets.

[2020-10-23 05:26] svettsova commented on #520
Ticket is adeed to Jira

[2020-10-23 08:39] sebastienmascha commented on #935
@evjlobanova happy to help if needed 👍
Any suggestion where I can help without duplicate the current work https://github.com/reportportal/plugin-bts-jira/blob/develop/src/main/java/com/epam/reportportal/extension/bugtracking/jira/JiraStrategy.java ?

[2020-10-23 08:46] rbicker commented on #435
Hi, here is how I am solving this:
- within the folder containing your docker-compose.yml, create a new folder called "custom"
- within the "custom" folder add your certificate ("custom.pem")
- within the "custom" folder create a shell script called "entrypoint.sh", change the permission of the file to make it executable (`chmod +x ./entrypoint.sh`)

content of entrypoint.sh
[code]

adjust your ua

[2020-10-23 09:17] gsaslis commented on #520
@svettsova @evjlobanova thank you both! 👍

[2020-10-23 09:23] gsaslis commented on #520
@sebastienmascha I used `grep` to achieve the same result, but I changed the lower length bound to `20`, because, with `10`, "successfully" was also returned as a match.

Here it is in full - if others are interested:

[code]

[2020-10-23 10:27] aurochs108 opened #1187 "Collapse before method, test and after method to one line -> button"
**Describe the solution you'd like**
After finished test, in my case "after method" send test attachments from failed tests(screenshots, video and logs). But when You're running multiple tests in parallel it's hard to find out from which test is depend on which after method.
It will be good to create button to collapse all test methods (before, test and after) to one line. Then after one click som

[2020-10-23 12:51] evjlobanova commented on #1187
We have introduced 'retry of' field which will be a reference on a previous item in a retry chain.
So that you can explicitly specify which item should be retried.
@Yumfriez could you please add more technical details regarding this functionality

[2020-10-23 13:26] aurochs108 commented on #1187
I'm thinking about that: I have one test that failed, @AfterMethod from testng is sending screenshot from this failed test to ReportPortal. How can I see attachments from this "@AfterMethod" in failed test in ReportPortal(not in after method)?

[2020-10-23 13:27] mnicula commented on #1138
I tried also with sending the logs in batch, same issue.
![image](https://user-images.githubusercontent.com/48491734/97009287-9798bf80-154c-11eb-91ec-31707439e4ca.png)

[2020-10-23 16:05] DzmitryHumianiuk commented on #1187
@aurochs108 what you see right now is abnormal way of Before/After Methods representation.
Each Before/after method should go near it's parent method.

Could you please specify exact version of agent/client (version in dependencies)?
And app version (copy it under Login Form) please?

[2020-10-23 16:24] alexvaut opened #1188 "Storing observables when testing"
Hi,

When running automated/integration tests on services deployed in a stack on K8, in order to dig into failed tests or in old tests when investigating, it's important to have access to logs, metrics and traces generated by the stack. Not only the logs and reports generated by the test "code" itself but also all observables generated by the whole stack: logs (though K8), metrics (though promethe

[2020-10-26 08:01] georgebukki opened #1189 "pytest-reportportal 5.0.5 incompatible with pytest 6.0.1"
**Describe the bug**
[code]

**To Reproduce**
run tests with -n <num of workers more than 1> with pytest 6.0.1 and xdist 2.1.0

**Expected behavior**
should work with new pytest :)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 same from mac/ubuntu

**Additional context**
all works if I change "slaveinput", "

[2020-10-26 13:35] aurochs108 commented on #1187
I'm using app version: Service: 5.3.1;Index Service: 5.0.10;Authorization Service: 5.3.1;Service UI: 5.3.1;
and client version : 5.0.8-TESTNG6

[2020-10-26 15:43] rplevka commented on #520
that might backfire if locale (language) is changed.
This might be less prone to such issues:
[code]

[2020-10-27 05:25] evjlobanova commented on #1187
@HardNorth Could you please check this ticket?

[2020-10-27 07:49] vrakr19 commented on #930
Facing the same issues.

[2020-10-27 08:49] #1128 closed

[2020-10-27 08:49] evjlobanova commented on #954
@Yumfriez @akolomiiets Can we close this issue?

[2020-10-27 08:58] svettsova commented on #814
ticket is added to jira

[2020-10-27 09:11] ostratila commented on #1115
Hello! Are there any news about this?
Thanks,
Oana

[2020-10-27 10:16] VolhaKarenko commented on #1115
@ostratila Hello!
The issue is still in progress. The workaround for now is to configure new SAML integration from scratch with "Full name" attribute.

[2020-10-27 15:42] IharBletskoTR opened #1191 "[v5] SAML authorization not working"
While working on integration of SSO to RP in company network I filled request for SSO integration and received settings.
In the request fields were filled:  As SP EntityID used URL of RP. Also added uid, first name, last name, email fields to request.
Enabled and filled SAML plugin settings in RP (as in screenshot) using documentation at https://reportportal.io/docs/SAML-integration
![image](https

[2020-10-28 10:44] kontownik commented on #1176
When I tried using `emitLaunchLog()` from Report Portal lib `agent-java-cucumber6:5.0.0-RC-1` to upload the exact same file, it worked and extension was correct.
Unfortunately in our flow attachment is created and uploaded after test execution so I cannot use this method.

Not sure if I need to use /v1/ API to send the attachments?

[2020-10-28 13:27] VolhaKarenko commented on #1182
The issue is fixed in version 5.3.3

[2020-10-28 13:27] #1182 closed

[2020-10-29 05:11] svettsova commented on #1184
Fixed in v.5.3.3

[2020-10-29 05:11] #1184 closed

[2020-10-29 06:43] odubaj commented on #1184
Hello, can you please point to a commit/commits which are fixing the issue, so I can backport it ? thanks.

[2020-10-29 10:50] IharBletskoTR commented on #1191
After clicking LOGIN error screen appearing:
![image](https://user-images.githubusercontent.com/68950579/97553420-74f02600-19e6-11eb-9d04-9646a91687aa.png)
Reference# is different each time and SSO administrator was unable to help (only asked to confirm the SP entity id).
Status of error is 500 Internal Server Error.

In logs of authorization container when trying to connect using SSO I see these

[2020-10-29 11:10] IharBletskoTR opened #1192 "[v5] SAML integrations duplicating after edit"
SAML integrations duplicating after editing with changing integration name
Reproducing:

1. Add integration as usual
![image](https://user-images.githubusercontent.com/68950579/97560511-cea91e00-19ef-11eb-9944-0dd42cce143a.png)
![image](https://user-images.githubusercontent.com/68950579/97560549-dd8fd080-19ef-11eb-94c5-d4f8e89623b7.png)
2. After saving integration select saved integration and pres

[2020-10-29 11:22] IharBletskoTR opened #1193 "[v5] Healthcheck for elasticsearch container fails in docker deploy [5.3.1]"
In version 5.3.1 check for elasticsearch container fails in docker deploy.
That's most likely because of xpack.security.enabled and password usage introduced to elasticsearch in 5.3.1 while curl for healthcheck was not changed and still trying to connect without password.

**To Reproduce**
Just launch it in docker and see.

**Expected behavior**
Healthcheck to pass if elasticsearch is ok, and heal

[2020-10-29 12:39] VolhaKarenko commented on #1192
The issue is reproducible, bug is added to backlog

[2020-10-29 14:39] VolhaKarenko commented on #867
The issue is fixed in version 5.3.3

[2020-10-29 14:39] #867 closed

[2020-10-29 19:38] loadtheaccumulator commented on #1102
Hey Pavel, We're pretty consistent on the pre-2019 data, so I'm going to close this and I'll re-open or open a new ticket if anyone needs data from 2018. Thanks, Jonathan

[2020-10-29 19:38] #1102 closed

[2020-10-30 07:11] Yumfriez commented on #1184
https://github.com/reportportal/service-api/pull/1313

[2020-10-30 09:00] odubaj commented on #1184
Thanks a lot!

[2020-10-30 15:21] dlitmano commented on #74
@evjlobanova How can I use Component Health check widget with Cucumber tags?

[2020-10-30 15:33] dlitmano commented on #74
@evjlobanova How can I use Component Health check widget with ScenarioReporter?

[2020-10-30 15:38] dlitmano commented on #551
When you plan to release it?

[2020-10-30 16:28] Ritz13 opened #1196 "The image file attachment is getting displayed as blank"
Hello,
I have been trying to post a log with an image attached on postman. The image does gets uploaded, but it shows up as blank, and you cannot really see the image.

![image](https://user-images.githubusercontent.com/21250546/97729088-b2b58300-1aa8-11eb-8c8e-5d4b887a31dc.png)

I'm adding the image in the request body in base64 format. Here's the body:

[code]

and the headers:

![image](https:/

[2020-11-02 05:48] vrakr19 opened #1197 "Sending Log Message"
Hello,

Is there any way, we can send log message to ReportPortal from custom listener?
Logging is done by log4j.

Thanks

[2020-11-02 11:42] DzmitryHumianiuk commented on #1197
https://github.com/reportportal/documentation/tree/master/src/md/src/DevGuides >
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md >
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#save-single-log-without-attachment

[2020-11-02 11:42] #1197 closed

[2020-11-02 13:56] redxeagle commented on #435
Used your solution. Worked fine. Thanks!

[2020-11-02 14:33] coufalja commented on #950
Any news here? Would you mind sharing (briefly) what to check in the codebase? So we can attempt the fix ourselves and submit a PR. We have deadlocks in DB almost every other day and it is quite a PITA.

[2020-11-02 15:30] coufalja commented on #950
I believe that the issue lies here https://github.com/reportportal/service-api/blob/5cadf3f9fad49b050461f080ba50dfdd7cf8054e/src/main/java/com/epam/ta/reportportal/core/item/impl/FinishTestItemHandlerImpl.java#L144 as the retrieve method obtains the Launch with the PessimisticLock for the duration of processing the test item. That is quite "inefficient" to say at least. Is the lock necessary to ke

[2020-11-02 19:46] coufalja commented on #950
The profile after reversing the commit (and fixing tests)
![Uploading Screenshot 2020-11-02 at 20.45.22.png…]()

[2020-11-03 06:37] amitngm commented on #1149
any update on this and also please help me to know that whether azure ad based SAML (not okta) work with RP

[2020-11-03 06:42] amitngm opened #1198 "Azure AD integration in Report Portal"
Is there any roadmap with Azure AD authentication? A configuration for it would be nice to have.

[2020-11-03 20:53] aceme007 commented on #969
Running into exact same error (stack trace) and am on 5.3.1 (I have upgraded from 5.2.2 recently)
Updated the minio container to  `RELEASE.2020-10-28T08-16-50Z` but no luck.
[code]

[2020-11-04 16:51] dkdk91 opened #1199 "Issue with adding new widget to dashboard [v5]"
**Describe the bug**
Created new dashboard in report portal. When trying to add a new widget to the dashboard I get an error message:

`Failed to convert value of type 'java.lang.String' to required type 'java.lang.Long'; nested exception is java.lang.NumberFormatException: For input string: "undefined"`

I currently have 55 dashboards in report portal
with 56 filters.

Is there a limitation on ho

[2020-11-04 19:17] staind825 opened #1200 "Edit Defect type seems to be blocked by Auto Analysis"
Version: 5.3.2 on Kubernetes

When attempting to update a defect type from "To Investigate", there is a loading spinner that just keeps going down below the defect description and we are unable to save the new defect type.

If we choose "Ignore in Auto Analysis" we can then update it. However, we are having to do this for every bug. We disabled Auto Analysis at the project level but it still seems

[2020-11-05 15:20] rfaircloth-splunk opened #1201 "When importing junit XML map test suite properties to launch attributes"
**Describe the solution you'd like**
...
I have a number of unsupported test tools that produce a junit xml output in the following example the "properties" of the test suite would be useful attributes
`<testsuites>
  <testsuite name="Splunk AppInspect" failures="5" manual_checks="36" warnings="7" errors="0" skipped="109" tests="280" time="41.509116" timestamp="2020-11-05T14:30:42.121648">
    <pr

[2020-11-05 22:49] aditidubey05 opened #1202 "Not able to login to online demo portal."
When trying to login with "default" "1q2w3e" bad credential error is coming.

[2020-11-06 11:28] karthikeyans1 commented on #1114
any update I am also facing same issue

[2020-11-09 17:33] gadesharath commented on #1199
We are also facing same issue in report portal, when trying add a new widget to the dashboard.

[2020-11-11 08:34] coufalja commented on #950
We are now running from the fork ^ and no Deadlocks since then, we even switched back for a while and got Deadlock within an hour.

[2020-11-11 14:06] DzmitryHumianiuk commented on #950
@coufalja awesome!
We will take the for for performance testing in next sprint.

[2020-11-11 14:53] Ritz13 commented on #1196
Can I please get some help on this?

[2020-11-11 18:06] ItachGal commented on #1202
Hi, there are several related issues, more details are welcome but please check the following:
https://github.com/reportportal/reportportal/issues/917
https://github.com/reportportal/reportportal/issues/617
And update :)

[2020-11-11 20:24] odubaj opened #1203 "get API token of user logged in via github"
Hello,

is it please possible to get a UI_TOKEN and API_TOKEN of a user logged via github.com account ? I used the example available here [1] but with no success.

Thanks!

[1] https://github.com/ihar-kahadouski/dev-guide/blob/master/bash-example/auth_client.sh

[2020-11-11 22:44] EricLSD commented on #101
So I may be missing something but I feel like the question here isn't entirely answered.  When I look at the request to the server after clicking the login button, I see /ui/#login.  The contents of the `requests.get()` response provides no insight into what the API token is.

I'm using python requests.get() with basic auth.  Any pointers on how to get passed this would be helpful - I do not have

[2020-11-12 09:27] DzmitryHumianiuk commented on #101
@EricLSD please take a look here:
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#retrieving-api-token
it might give the answer

[2020-11-12 12:39] evjlobanova commented on #1202
https://reportportal.io/
![image](https://user-images.githubusercontent.com/30413511/98941113-f0e77500-24a0-11eb-9154-2ff098fde452.png)
![image](https://user-images.githubusercontent.com/30413511/98941182-08bef900-24a1-11eb-9e86-35711f52dca7.png)
![image](https://user-images.githubusercontent.com/30413511/98941199-107e9d80-24a1-11eb-9e4f-ecffc3644d13.png)

Please try one more time

[2020-11-12 12:39] #1202 closed

[2020-11-12 12:43] evjlobanova commented on #1196
@VolhaKarenko could you please check what can be wrong?
A team now is busy with a release so that we can respond with a delay

[2020-11-12 12:44] evjlobanova commented on #1198
Begining of 2021

[2020-11-12 12:48] evjlobanova commented on #1199
Could you please tell us version of RP that you are using?
@VolhaKarenko @svettsova please review this issue

[2020-11-12 13:26] staind825 commented on #1200
any update on this issue?

[2020-11-12 13:48] evjlobanova commented on #1200
Hello!
Do you instance meet requirements for instance https://reportportal.io/docs/Optimal-Performance-Hardware?
Is your service analyzer and service Elastic Serch up?

[2020-11-12 13:54] staind825 commented on #1200
Thanks for the response! Yes, we did follow the optimal approach for setup and our Elastic Search and Service Analyzer are up and running.

In this particular situation though, we have disabled the auto analyzer for this project, but it seems like it's still trying to do it when we open up the defect.

[2020-11-12 13:58] evjlobanova commented on #1200
Auto Analysis is doing another sthings, this feature is separate from AA.
Which version of ReportPortal do you use?

[2020-11-12 14:01] staind825 commented on #1200
We are using 5.3.2. Is there anyway i can disable this? I'm not sure what it's actually trying to do here on the defect.

[2020-11-12 14:08] evjlobanova commented on #1200
No, you can not.
Description of feature you can find here https://reportportal.io/docs/Search-for-the

@irynakozak2 could you please help us to find the root cause?

[2020-11-12 14:26] staind825 commented on #1200
I grabbed some of the logs from Service analyzer:

2020-11-12 14:21:35,235 - analyzerApp.amqpHandler - DEBUG - Started processing <Basic.Deliver(['consumer_tag=ctag1.b400a37c4f004923aac97bcdc02eb37d', 'delivery_tag=23', 'exchange=analyzer-default', 'redelivered=False', 'routing_key=search'])> method <BasicProperties(['content_encoding=UTF-8', 'content_type=application/json', 'correlation_id=377',

[2020-11-12 14:30] amitngm commented on #1198
Thank You. Please do it early as we want to use it.

[2020-11-12 15:47] dkdk91 commented on #1199
Current version:
API Service: 5.3.2;
Index Service: 5.0.10;
Authorization Service: 5.3.2;
Service UI: 5.3.2;

[2020-11-13 05:41] evjlobanova commented on #1198
We are delivering features in accordance with our roadmap. Our plans can be changed by paid requests from our users. Paid requests are implemented with the first priority.

We can propose a paid contract, in the scope of this agreement we will collect requirements from your side and make this feature earlier.

If it is interesting for you, please drop us a letter on support@reportportal.io

[2020-11-13 13:13] IharBletskoTR commented on #1193
I see the same in 5.3.2. "Up About a minute (unhealthy)"

[2020-11-13 13:15] IharBletskoTR commented on #1193
Now it's ok in 5.3.2.
Closing therefore.

[2020-11-13 13:15] #1193 closed

[2020-11-13 14:14] ersuniljoshi commented on #950
Can some one help me how can I build a customer service api docker container out this branch(https://github.com/reportportal/service-api/pull/1319), we having been facing this issue since last 3 weeks and finding it really tough to keep the report portal up and running for long.

[2020-11-13 15:14] irynakozak2 commented on #1200
@staind825 hello, thank you for sharing logs. Correlating these logs with the issue, it looks like your service-analyzer cannot connect to the elastic search, and as a result, unload similar items. Please check that all services are working correctly and do not restart, then check that your analyzer service establishes the connection to the ElasticSearch successfully.

[2020-11-13 21:20] jseriff commented on #877
We are also running into this issue.  It seems that Okta sends the Destination attribute, which ReportPortal attempts to validate.  ReportPortal seems to set the base-url for validation to /uat only, which is not a valid value to set in Okta.  This does not appear to be configurable in ReportPortal.

I'm not sure there is a way around this currently, until ReportPortal is either modified to not va

[2020-11-15 12:57] BraveLittleTapok opened #1204 "Attach excel file to Report Portal"
Hi everyone! Maybe anyone know how to attach excel file to report portal, I do the same as for screenshots and it works. Screenshots are present in my report in RP. But excel file doesn't. Do I need some extra properties maybe? Or dependencies?
Code:
[code]
So again:  exactly the same works for screenshots. Only first parameter changing to screenshot file. And screenshots appears at RP, but not ex

[2020-11-16 02:16] yuzujoe opened #1205 "[Question] The role of Minio when using s3"
I saw an article that said you can access s3 with Minio as a proxy.
Looking at this content, I see that you have been given read permission, but don't you need permission to write?

[2020-11-16 08:47] wlad opened #1206 "Is it possible to uploud test results (manually) via REST API?"
Instead of sending test results live during each mvn build is it possible to send the results (.xml files) to RP via REST API at the end of a build on a CI pipeline?

[2020-11-16 09:44] orgads commented on #1075
Hi,

Any progress?

[2020-11-16 10:02] VolhaKarenko commented on #903
The improvement is implemented in version 5.4

[2020-11-16 10:02] #903 closed

[2020-11-16 11:04] wlad commented on #1206
Just noticed that I actually wanted to files this issue in [agent-java-junit5](https://github.com/reportportal/agent-java-junit5/issues). But it may be interesting for other frameworks as well I guess.

[2020-11-16 11:35] kontownik opened #1207 "Missing agent-java-cucumber6 5.0.0 / release agent-java-cucumber6:5.0.0 to Maven Central"
Few days ago we started to receiving this kind of error, looks like released library disappered.
[code]

of course I had set additional repository `http://dl.bintray.com/epam/reportportal`

Are you plan to release it to Maven Central repository?

[2020-11-16 14:14] DzmitryHumianiuk commented on #1206
@wlad there is an 'import' functionality.
it can eat xunit standard results.
Thus you can make an API call at the end of execution and upload results.

[2020-11-16 14:17] DzmitryHumianiuk commented on #1205
@yuzujoe MinIO is in place, since we need to have some sort of same interface to work with local storages, S3 and any other cloud storage.
If you go with AWS setup, then you can use it without MinIO by itself. AFAIK, interface completely the same.

Permission most likely should be `WRITE`, but I'm not sure what's the exact place for it?

[2020-11-16 14:19] DzmitryHumianiuk commented on #1204
@BraveLittleTapok it should be the same.
unless any specific MIME type should be mentioned.

What are your agent/dependencies versions?

[2020-11-16 17:19] BraveLittleTapok commented on #1204
Yes, thanks it's working now)

[2020-11-16 17:19] #1204 closed

[2020-11-16 21:19] wlad commented on #1206
@DzmitryHumianiuk  thanks for the hint 👍
That was exactly what I looked for :)

NOTE: requires junit conform .xml output. Default Robot Framework output.xml is not supported directly but can be transformed into a junit conform file with Robot's **rebot** tool. It seems to flatten the test suite structure, though.

[2020-11-16 21:19] #1206 closed

[2020-11-17 08:13] wlad commented on #808
I ran into the same issue. I'm using the docker-compose up setup.

![image](https://user-images.githubusercontent.com/64201310/99363363-ecfa8f00-28b4-11eb-9adf-5291b8523624.png)

[2020-11-17 08:16] mc-marcy commented on #1115
i get the error message not valid Login Requester. is this linked to this issue?
can anybody give me a hint what are the settings in keycloak for the client?
thanks

[2020-11-17 18:21] staind825 commented on #1200
@irynakozak2 Thanks for the help. This was indeed our problem. There was a miss-type in the url pointing to elastic search. Got that hooked up and we are good to go.

[2020-11-17 18:21] #1200 closed

[2020-11-17 21:55] xadvfh opened #1208 "Allow Environment Overrides like appsettings"
I would like to configure ReportPortal.config.json with overrides for different environments.  For example, the base level `ReportPortal.config.json` may have values for values that I want to change for a different environment.

[2020-11-18 00:51] allan-silverstein opened #1209 "[v5] Log attachments being attached to the wrong test function with Pytest"
This something that has been happening to me for a while when initiating the tests from a particular system.  In this case, I have 17 test functions spread across 8 modules.  I'm running them using the pytest markers flag (-m <pattern>).  After each test function runs, the following code is called to send detailed log files to report portal:

[code]

After some troubleshooting between initiating t

[2020-11-18 01:19] allan-silverstein opened #1210 "How to modify the hyperlink in ReportPortal generated email"
I'm using ReportPortal 5.3.2.  I have it configured such that an email is sent to users after a test completes. The problem is the reportportal IP address is behind a Firewall and uses a private IP address (e.g. 10.x.x.x).  The hyperlink in the email references that private IP address.  However, the users are actually located in a different part of the network and traffic is "natted" when users ac

[2020-11-18 02:26] #1208 closed

[2020-11-18 03:40] yuzujoe commented on #1205
Thanks

I think I can specify the URL of s3 host format in the endpoint and it will send the request to s3, is that correct?

[2020-11-18 07:34] coufalja commented on #950
@ersuniljoshi I already built the image for testing purposes here `fluffycroc/service-api:latest`. If you want to build it yourself then just checkout the branch and run Gradle `buildDocker` task.

[2020-11-18 07:36] nagaeva-anastasia opened #1211 "clean-up project in rp"
I found that auto-deletion of old launches does not work. For now, I have about 1500 launches and it causes really slow work for RP. I upgraded RP to the latest versions (to fix bug with auto-deletion). But I can't delete old launches manually because it takes a while. For example, deletion of one launch takes about 2 hours. Please, advise something. Maybe I can delete it on DB level?

My goal is

[2020-11-18 11:02] alexvaut commented on #919
+1 nice integration with azure devops project management would be great indeed ! Just creating a bug from a failing test would be a start.

[2020-11-18 14:27] DzmitryHumianiuk commented on #1211
@nagaeva-anastasia 2 hours to delete a launch that's incredibly low performance. Which is abnormal.
1500 launches in not a problem for ReportPortal at all. It works at scale of millions of launches.

You should check performance of database.
Do you keep database and application on separate VMs/nodes?
if yes, then check memory and CPU usage. Increase of required.

[2020-11-18 15:55] ersuniljoshi commented on #950
@coufalja Thanks for your response. We are currently on RP5.3.2.  Have you developed this on top of Rp5.3.2?

[2020-11-18 21:05] englandprevails opened #1212 "[v5]"
**Describe the bug**
LDAP login fails with certificate chain validation error.

Upon entering credentials to log in, the error appears in red at the bottom of the login page:
`An error occurred while connecting to server: You do not have enough permissions. simple bind failed: ext-ldap.corp.redhat.com:636; nested exception is javax.naming.CommunicationException: simple bind failed: ext-ldap.corp.r

[2020-11-19 07:21] VolhaKarenko commented on #1199
@dkdk91 Could you please give more detailed steps to reproduce?
specify the widget type and filter conditions, if any filter is used for widget creation

[2020-11-19 07:55] evjlobanova commented on #1209
@iivanou does this issue relate to python agents? or problem is on the back end side?

[2020-11-19 08:01] evjlobanova commented on #1211
@nagaeva-anastasia https://reportportal.io/docs/Optimal-Performance-Hardware please check our requirements to the instance.
If your instance is different from our requirements, please let us know what point it is different in.

[2020-11-19 08:02] AmsterGet commented on #1075
Hi @orgads !
We've reduced the number of clicks on attachments by adding appropriate buttons to download and open in a new tab (see screenshot below). This feature will be released in version 5.4.
![image](https://user-images.githubusercontent.com/31861805/99637593-21f21780-2a56-11eb-8561-dc5f93795436.png)
If you still want to use large links in logs or item descriptions, try shortening them using

[2020-11-19 09:51] #1075 closed

[2020-11-19 11:28] VolhaKarenko commented on #1199
Managed to reproduce the issue. The amount of dashboards could be a possible reason, though we don't have any limitations.
A bug is added to backlog

[2020-11-19 12:29] VolhaKarenko commented on #1183
The issue is fixed in version 5.1

[2020-11-19 12:29] #1183 closed

[2020-11-19 12:59] orgads commented on #1075
Thanks! Do you have a planned release date?

[2020-11-19 13:17] evjlobanova commented on #1075
±January

[2020-11-19 13:27] evjlobanova commented on #1199
@dkdk91 @gadesharath could you please tell us how many dashboards you are planning to create? I want to collect all details in order to discuss them with the team?

[2020-11-19 14:14] nagaeva-anastasia commented on #1211
we have HDD and service / db on one vm
working on resolving this, thanks!

one more question about auto-deletion schedule. for example, I changed it yesterday and set 14 days. when it will delete old launches? will it delete launches created last year?

[2020-11-19 15:13] allan-silverstein commented on #1209
Honestly, not sure.  Based on my notes, what is your opinion?
Thx

[2020-11-19 15:48] dkdk91 commented on #1199
More applications are going to be added for different environments, we are planning to be around 60-70 dashboards in total. As mentioned by @VolhaKarenko there shouldn't be any limitations.

[2020-11-19 23:33] allan-silverstein commented on #1209
You may be correct.  I posted this question on pytest reportportal plugin.  If I get some activity there, I will close this out.  Thx

[2020-11-20 05:40] evjlobanova commented on #1199
Thank you for your information. It is vey helpful!

No exactly
We discus with a team, and define why this limitation appeared.
And after that find the best solution

[2020-11-20 15:32] dkdk91 commented on #1199
Great looking forward to your positive feedback on the solution. Thanks!

[2020-11-20 16:35] DzmitryHumianiuk commented on #1211
ReportPortal uses scheduled jobs to clean the data, which exceeded selected period above.
Jobs are triggered once in:
* 3 days for binary attachments (minio)
* 7 days for logs
* 14 days for launches (launch, test_item, test_item_results tables)

Jobs works based on formula _(NOW - time_of_creation > SELECTED_PERIOD_TO_KEEP_DATA)_
thus it will delete everything what is older then selected _14 days_

[2020-11-20 16:35] #1211 closed

[2020-11-20 16:50] alex-i-rybkin opened #1213 "[v5] 500 error on inviting a new member to a project by a user with Project Manager role"
**Describe the bug**
User with Project manager role is not able to invite new members to a project. At the same time, Admin can do it.

**To Reproduce**
- Open `Project members` section
- Click `Invite User`
- Select user that is not a member of the project
- Select `Member` role
- Click 'Invite'

_Note: Could not reproduce on a clean database. Have this issue on our prod RP._

**Actual behavior**

[2020-11-21 00:15] #1205 closed

[2020-11-23 05:38] svettsova commented on #1213
The issue is not reproducible in v.5.3.3. @alex-i-rybkin please upgrade RP version

[2020-11-23 07:31] svettsova commented on #1213
should be re-checked by BE team, looks like some inconsistent data could exist in DB

[2020-11-23 07:54] IharBletskoTR commented on #1213
We have exactly same problem with 5.3.0

[2020-11-23 10:09] sdblepas opened #1214 "[v5]"
**Describe the bug**
After upgrade from V4 to V5 (5.3.3) the total numbers are not displayed. Only the "To investigatre are diplayed

**To Reproduce**
simple upgrade i guess

**Expected behavior**
I should see all th edetails
**Screenshots**
![image](https://user-images.githubusercontent.com/6726241/99949916-7e21a800-2d84-11eb-9716-41cb023a641d.png)

**Desktop (please complete the following inform

[2020-11-23 11:56] DzmitryHumianiuk commented on #1214
@sdblepas
https://github.com/reportportal/reportportal/wiki/Migration-to-ReportPortal-v.5.3.2

[2020-11-23 11:56] #1214 closed

[2020-11-23 12:06] DzmitryHumianiuk commented on #1209
it might be issue on python-client side.
don't see any reason to be misled on server side.

[2020-11-23 12:14] DzmitryHumianiuk commented on #1210
@allan-silverstein
**Resolution:** add field in e-mail configuration with server address, which should be used in emailed report.
it can resolve:
- http/https issue (in case if ssl configured on load-balancer)
- custom port for web-ui
- api server hidden behind firewall

[2020-11-23 12:39] sdblepas commented on #1214
Hi
There's a misunderstanding here, i did not do a migration.
I had a docker on V4 and now a new one on V5. In V5 i recreated the filters and then run my tests via Jenkins as usual.
I see the tests in V5 and I see the issues "TO investigate" but not the Total/passed/Skipped, these I could see in V4.
I hope this is more clear now
Thank you for the help

[2020-11-23 13:47] allan-silverstein commented on #1210
Thank you for the response.  Any ETA on this enhancement.
Thx
Al

[2020-11-23 14:03] AndriiFrolov opened #1215 "ActiveDirectory integration supports only userPrincipalName but not samaccountname"
**Describe the bug**
Can't integrate Report Portal with active directory using samaccountname. Logs:
`Searching for entry under DN '', base = 'dc=mydc1,dc=mydc2', filter = '(&(objectClass=user)(userPrincipalName={0}))' `

**Expected behavior**
Active directory plugin can be integrated both with samaccountname and userPrincipalName

**Screenshots**
N/A

**Versions:**
 - API Service: 5.3.2;Index Ser

[2020-11-23 14:08] AndriiFrolov opened #1216 "Defect type abbreviation not used in API layer"
Can't post custom defect resolution using API request.

Steps to reproduce:
1. Go to Settings -> Defect types
2. Click 'Add Defect type'
3. Add custom defect type, e.g. 'Question raised' with abbreviation QUE

**Expected behavior**
The same abbreviation is used in API

Actual:
Auto-generated abbreviation is used, e.g. pb_1ji4fwgclss39

**Versions:**
 - API Service: 5.3.2;Index Service: 5.0.10;Auth

[2020-11-23 21:37] xadvfh opened #1217 "OneTimeSetup log messages are not logged"
Logs created inside `[OneTimeSetup]` are not logged inside report portal.  However, exceptions that occur inside `[OneTimeSetup]` are logged correctly.

[2020-11-24 05:56] evjlobanova commented on #1210
Most likely this fix will be available in version 5.4 (the end of January)

[2020-11-24 08:54] mlarrea opened #1218 "[v5] Privilege escalation"
Privilege escalation occurs when a user with low privileges is able to view, create or edit data only available to users with higher privileges. This is usually achieved by manipulating parameters on requests or accessing directly the resource.

**To Reproduce**
Administrators can access restricted access sections like i.e. "Debug", but if a low privileged user knows and tries to access that URLs,

[2020-11-24 09:37] evjlobanova commented on #1218
@mlarrea thank you for posting this? could you please specify a version that you are using?
@svettsova please try to reproduce this issue and open a bug if it is actual

[2020-11-24 09:39] DzmitryHumianiuk commented on #1217
good point for UX improvement in version 6

[2020-11-24 10:41] mlarrea commented on #1218
You're right, sorry, this happens using v.5.3.0

[2020-11-24 15:16] mlarrea commented on #1218
Apparently, there is also an information disclosure problem when a user with a Customer role sends a request to the project API. Using the UI this user could not know the members of a given project team but could get this info from the API using a request to /api/v1/project/[project_name]

[2020-11-24 15:19] elavrenchuk commented on #1019
The same thing here.
RP is behind nginx proxy with SSL configured. Invitations and password restoring emails are got to the end users with broken links:

![image](https://user-images.githubusercontent.com/30771249/100113456-ff5a6700-2e78-11eb-8c47-b3e81f8519de.png)

![image](https://user-images.githubusercontent.com/30771249/100113667-3df02180-2e79-11eb-9e94-4e07503f8813.png)

[2020-11-24 15:51] IharBletskoTR commented on #1019
@elavrenchuk
Look here, fix is on the way (but at next year) https://github.com/reportportal/reportportal/issues/1210
As a workaround you may try to do http-to-https redirecting in nginx.

[2020-11-24 15:58] mlarrea opened #1219 "[v5] Enforce a strong password policy"
This is a feature request. Currently, the password policy in the reportportal allows a user choosing strings like '1234' as password.

[2020-11-25 07:07] elavrenchuk commented on #1019
Might be useful for those who are using nginx as a proxy.

Just add this to your site config, in ssl section.
`ssl off; `

In general, config might have next context:

[code]
Then links in invites will be in the right manner:
![image](https://user-images.githubusercontent.com/30771249/100194008-979a2f80-2efd-11eb-92c2-694f436e52e7.png)

[2020-11-25 07:34] evjlobanova commented on #1019
We will add the possibility to choose a host explicitly.

[2020-11-25 15:35] tokarthik commented on #1114
i have tried both and its working but i am also not able to connect

`2020-11-25 15:31:23.906 ERROR 8 --- [-8585-exec-3396] c.e.t.r.c.admin.ServerAdminHandlerImpl   : Cannot send email to user
api_1            |
api_1            | javax.mail.MessagingException: Could not connect to SMTP host: email-***************.com, port: 465, response: -1
api_1            |      at com.sun.mail.smtp.SMTPTransp

[2020-11-25 15:36] tokarthik commented on #1114
for additional information, I am using the same setting in carrier.io and  Jenkins which is working

[2020-11-25 16:15] tokarthik commented on #962
@evjlobanova  is AWS email server got implemented as i got an error

[2020-11-25 18:00] rubico259 opened #1220 "VIDM auth2"
Report portal sso using vidm

[2020-11-26 07:06] AndreiValnianka opened #1221 "[v5] 'Failed to update defects' but defects is updated after 5-10 min"
**Describe the bug**

Sometimes when I try to update a defect type manually 'item' call failed with 504 Status Code

![ice_screenshot_20201126-100424](https://user-images.githubusercontent.com/37652976/100318246-c8966500-2fce-11eb-9615-fd8c4d5cb5bc.png)

 and 'Failed to update defects' red message displays
But defect type is updated after 5-10 min

![ice_screenshot_20201126-100518](https://user-im

[2020-11-26 07:21] evjlobanova commented on #1221
Could you please check youк instance set up and compare with our requirements?
If you find any difference please let us know

[2020-11-26 07:21] AndreiValnianka commented on #1221
analyzer
    Limits:
      cpu:     100m
      memory:  512Mi

api
    Limits:
      cpu:     1
      memory:  2Gi

index
    Limits:
      cpu:     200m
      memory:  256Mi

uat
    Limits:
      cpu:     500m
      memory:  2Gi

ui
    Limits:
      cpu:     200m
      memory:  128Mi

[2020-11-26 07:23] AndreiValnianka commented on #1221
And no one achieves the maximum

[2020-11-26 07:27] evjlobanova commented on #1221
https://reportportal.io/docs/Optimal-Performance-Hardware

[2020-11-26 07:50] AndreiValnianka commented on #1221
All settings corresponding to the required

[2020-11-26 08:26] evjlobanova commented on #1221
+ Data Base is Aurora db (is filled on 21%)

@irynakozak2 please check this issue and info that have been provided

[2020-11-26 09:01] irynakozak2 commented on #1221
@AndreiValnianka hello, we've already checked the issue from the ReportPortal side and didn't reproduce(checked on the steps with Jira ticket and without) - the response time is pretty fast and takes up to 102ms on similar with your service limits.
The root problem may be with service-analyzer, so could you please send me some logs during updating defect type?

[2020-11-26 13:30] nagaeva-anastasia commented on #1211
our devops engineer spent some time on postgresql investigation and analysis
he adds several indexes to the tables

public.log
public.test_item
public.parameter
public.statistics
public.test_item
public.item_attribute

before this optimization delete of one launch takes 46 minutes, after this it takes only 0.015 seconds
so, now everything works fast.

[2020-11-26 14:16] AndreiValnianka opened #1222 "[v5] Auto-analysis doesn't work"
**Describe the bug**
Auto-analysis doesn't find the bug
Suspect that this issue and '[v5] 'Failed to update defects' but defects are updated after 5-10 min' are related

**To Reproduce**
1. Set up auto-analysis
![ice_screenshot_20201126-170320](https://user-images.githubusercontent.com/37652976/100359946-5000ca00-3009-11eb-9a9b-3fade193a10c.png)
2. Launch test with the failed method 10 times
3. Ma

[2020-11-27 05:39] evjlobanova commented on #1222
@AndreiValnianka please answer on questions #1221

[2020-11-27 13:12] coufalja opened #1223 "[v5] Data retention does not work very well"
**Describe the bug**
The data retention does not work very well.
- ~You cannot set unlimited retention via UI (API complains that 0 is unsupported value)~
- Dubious default values
  - in the `application.yaml` sets the initial delay of all Cleanup jobs to 7Days, that in practice means that the process has to survive 7D in order to launch the job. The counter is reset each time the process is resta

[2020-11-27 19:39] evjlobanova commented on #1223
Hello @coufalja
We have a possibility on UI to choose Forever value
![image](https://user-images.githubusercontent.com/30413511/100480115-2d23f380-30a5-11eb-8b4a-a1c408100fdc.png)

Could you please send us a screenshot with your General setting configurations?

[2020-11-28 03:56] drewrichardson2 opened #1224 "[v5] Cypress Test Launches do not complete successfully."
**Describe the bug**
None of my launches finish. They get stuck in "in progress" until they time out after a day. We are using cypress along with the report portal`agent-js-cypress` plugin.

**To Reproduce**
We have just setup a fresh report portal installation in Kubernetes. I have tried running single cypress tests, full suites, and through circle CI and have not had a single launch finish prope

[2020-11-30 03:46] tutaniks opened #1225 "Handling nested steps in python-behave"
Using a custom written behave agent, how can I handle nested steps in reportportal?

As of now, if I am running a nested step, I am not able to understand how to handle the parent step (from where the execute_steps or the child steps are called). Due to this, whenever a nested step executes, parent step always result in "status: interrupted"

<img width="269" alt="Screenshot 2020-11-30 at 9 15 20

[2020-11-30 04:57] mjithinm opened #1226 "Handling nested steps in python-behave"
Using a custom written behave agent, how can I handle nested steps in reportportal?

As of now, if I am running a nested step, I am not able to understand how to handle the parent step (from where the execute_steps or the child steps are called). Due to this, whenever a nested step executes, parent step always result in "status: interrupted"

<img width="269" alt="Screenshot 2020-11-30 at 9 15 20

[2020-11-30 04:57] #1225 closed

[2020-11-30 05:01] mathew-jithin opened #1227 "Handling nested steps in python-behave"
Using a custom written behave agent, how can I handle nested steps in reportportal?

As of now, if I am running a nested step, I am not able to understand how to handle the parent step (from where the execute_steps or the child steps are called). Due to this, whenever a nested step executes, parent step always result in "status: interrupted"

<img width="269" alt="Screenshot 2020-11-30 at 9 15 20

[2020-11-30 05:02] #1226 closed

[2020-11-30 08:07] Shakevg opened #1228 "[v5] Defect comment is overlapped by scrollWrapper in UI with zoom less than 100%"
**Describe the bug**
Defect comment is overlapped by scrollWrapper in UI with zoom less than 100%

**To Reproduce**
Precondition: set Chrome browser zoom 90% (if 1 line comment), 80% (if 2 lines comment)
Reproduced on https://reportportal.epam.com/
1. Open test run and add defect comment
=> Defect comment is overlapped by scrollWrapper in UI
2. Open a specific launch with the test run, move the cu

[2020-11-30 08:24] coufalja commented on #1223
I know but that is what my first point is about it cannot be set as it fails on API validation.
Original settings:
![Screenshot 2020-11-30 at 9 22 03](https://user-images.githubusercontent.com/23357992/100585345-b75e9880-32ed-11eb-9826-4d0bf953b2c2.png)
Switch to:
![Screenshot 2020-11-30 at 9 22 13](https://user-images.githubusercontent.com/23357992/100585365-c04f6a00-32ed-11eb-9aa0-208686d8935c.p

[2020-11-30 08:31] evjlobanova commented on #1223
@svettsova Valya, could you please check this issue?

[2020-11-30 08:37] evjlobanova commented on #1228
Could you please specify versions of all services?

[2020-11-30 08:38] mlarrea opened #1229 "Option to clone dashboards between projects"
It would be great to have the chance of cloning dashboards between projects, this way you could take advantage of the work done on a project. As it could be a problem regarding access permissions, we think it could be done from a template system. But we don't know if this is feasible.

[2020-11-30 09:04] Shakevg commented on #1228
Sorry, the Issue reproduced only with browser zoom less than 100%
Reproduced on https://reportportal.epam.com/
Version: API Service: 5.3.3; Index Service: 5.0.10; Authorizsation Service: 5.3.3; Service UI: 5.3.3

[2020-11-30 09:09] svettsova commented on #1223
@coufalja please upgrade your RP to 5.3.3 version. The issue was fixed

[2020-11-30 09:25] egilsdq opened #1230 "[v5] Component health check widget levels issue"
**Description**
Added attribute key to suite not working in component health check widget.

**To Reproduce**
Add attribute to suite. Add component health check widget to some dashboard. Add level with added attribute key.

**Expected behavior**
Suites with added attribute key are displayed.

**Screenshots**
Suite:
![image](https://user-images.githubusercontent.com/15646224/100591463-7a4ed200-32fe-

[2020-11-30 09:31] evjlobanova commented on #1230
Works as expected.
Because of performance, we are using only attributes for launches and execution.
Just report your execution with this attribute.

For now, we do not plan to change this logic

[2020-11-30 09:31] #1230 closed

[2020-11-30 09:35] evjlobanova commented on #1229
Hello @mlarrea
This feature will be implemented as described in #784

[2020-11-30 09:35] #1229 closed

[2020-11-30 09:44] #1221 closed

[2020-11-30 09:44] #1222 closed

[2020-11-30 09:45] coufalja commented on #1223
Hello @svettsova It wasn't, the API bug yes but the rest of the issue (which is way more important) was not. I will rephrase the issue and remove the notice about the API call If you won't mind reopening the issue or should I create a new one?

[2020-11-30 10:22] coufalja opened #1231 "[v5] Data retention (Cleanup) jobs does not work very well"
**Describe the bug**
The data retention does not work very well.
- Dubious default values
  - in the `application.yaml` sets the initial delay of all Cleanup jobs to 7Days, that in practice means that the process has to survive 7D in order to launch the job. The counter is reset each time the process is restarted which in a dynamic environment like K8s could mean *never* in practice.
  - Another w

[2020-11-30 10:23] coufalja commented on #1231
As #1223 got closed I rephrased the issue without the frontend one.

[2020-11-30 10:43] #1223 closed

[2020-11-30 10:47] evjlobanova commented on #1231
Thank you for opening it again.
Yes, we have already thought about these issues.
Now back-end team is in the progress of preparing possible solutions on how to resolve issues.

@pbortnik Pasha, could you please check and confirm if we have changed the default values?

[2020-11-30 10:54] coufalja commented on #1231
@evjlobanova We (my company @wandera) would gladly help/contribute a PR but given the change will not be trivial we would like to discuss it first so we follow the right architecture path. So feel free to contact us on your slack which a couple of our engineers joined (`Jakub Coufal` or `Ondřej Hájek`) OFC if you have some plan already we won't interfere as too many cooks spoil the broth.

[2020-11-30 11:06] VolhaKarenko commented on #1218
Both issues are reproducible. Bugs are added to backlog

[2020-11-30 11:39] VolhaKarenko commented on #1216
@AndriiFrolov
Hello,
It seems that auto-generated value is locator, not abbreviation. The abbreviation is displayed in "shortName".
When posting defect type, use locator value in "issueType" field.
![image](https://user-images.githubusercontent.com/42797492/100605562-27364880-3319-11eb-9e80-a45ae7967e96.png)

[2020-11-30 12:31] VolhaKarenko commented on #1191
@Yumfriez could you please inspect the logs above?

[2020-11-30 13:25] Yumfriez commented on #1196
@Ritz13
Try this approach
https://github.com/reportportal/reportportal/issues/561#issuecomment-459265677

[2020-11-30 15:57] Whiletru3 opened #1232 "Api/client to send junit xml report"
Hello,

I developped my own AutomationUI test scenarios (in c#) without a test framework (but using a console application) and I output a junit xml format out of it.
Is there any available client (best in C# but could be another language) to directly send junit xml report to RP ?

Thanks

[2020-11-30 16:00] bzsharm commented on #1232
You can zip that xml file and Upload it to RP using upload option, it ll be
directly updated, if there is any issue, you might have to add / remove a
"T" From the time stamp,

End time for test should be available in the xml.

On Mon, 30 Nov, 2020, 9:27 pm Whiletru3, <notifications@github.com> wrote:

[2020-12-01 02:16] #1227 closed

[2020-12-01 10:37] IharBletskoTR commented on #1213
Updated to 5.3.3 and issue still here.

[2020-12-01 11:34] VolhaKarenko commented on #1228
Can't reproduce the issue with provided details. @Shakevg could you please specify your screen resolution?

[2020-12-01 16:01] robot9706 opened #1233 "Promise rejection error when attachPicturesToLogs is enabled"
I'm not sure if this is the correct repo to report this issue. I'm using ReportPortal (v5.3.3) with @reportportal/agent-js-jasmine (v5.0.0) and I'm trying to get screenshots to work.

**Describe the bug**
Enabling "attachPicturesToLogs" property in the ReportportalAgent results in a "UnhandledPromiseRejectionWarning" when calling "agent.getExitPromise()".

**Expected behavior**
The report and scre

[2020-12-01 17:40] englandprevails opened #1234 "[v5] Submitting empty plugin configuration fields does not remove existing parameters."
**Describe the bug**
Updating plugin configuration with an empty field does not remove prior contents of that field's configuration.

**To Reproduce**
In, for example, the LDAP plugin, add an entry (i.e. "null") to the Manager DN field, then submit it.
Afterwards, enter the LDAP plugin configuration and see where Manager DN is set to "null" and delete "null" or replace it with white space, then su

[2020-12-02 09:07] pbortnik commented on #1231
Hi, @coufalja
We have changed default periods for cleaning jobs. Also, it can be configured by env. variables
[code]

Also, we have some ideas how to improve those jobs and planning to do it very soon. Than you for the issue!

[2020-12-02 09:31] odubaj opened #1235 "Offer: Manual Tests status"
Hello,

recently I have implemented manual test status into ReportPortal-5.2.2. Would you be interested in such a feature ? I can provide you a patch and we can discuss together how we can improve it. Adding some screenshots as well

I've also implemented some other features regarding to history displaying, filtering (filtering by launches and by items at the same time), so if you are interested,

[2020-12-02 10:23] evelinashames opened #1236 "Customized columns in a launch"
Hello everyone,

Can you please suggest for me how can I add a new column with an additional data in a launch?
For example, I would like to add an 'Owner' column to know who is working on each failure.

Maybe there is another existing column that can be used for this?

Thanks

[2020-12-02 10:30] evjlobanova commented on #1235
Hello @odubaj
Thank you for posting this ticket.
Could you please send us a pr for these features, so that we can review it and understand if we can proceed with this.

[2020-12-02 10:33] evjlobanova commented on #1236
Hello
This information is already presented on Launches Table
![image](https://user-images.githubusercontent.com/30413511/100861345-8e9de680-3446-11eb-967e-6a34f07ca009.png)

Also, you can filter launches by this parameter
![image](https://user-images.githubusercontent.com/30413511/100861408-9fe6f300-3446-11eb-8e08-429d3e96b144.png)

For now, there is no possibility to customize columns on the lau

[2020-12-02 10:35] odubaj commented on #1235
Sure, it will take some time to rebase the changes to the current version. But will make it

[2020-12-02 12:10] evelinashames commented on #1236
This is for each lunch, is there an option to label owner per test case?

[2020-12-02 12:10] pbortnik commented on #808
@smerberg  @wlad
Hi guys,
Can you describe how you created filter? Did you use api or ui? What conditions did you add to the filter ?

[2020-12-02 13:43] pjn2work commented on #818
The same happens to me.
Already tried in 2 browsers (also incognito mode) and 2 different GitHub accounts and always get 403.
On GitHub it appears the authorization for ReportPortal

[2020-12-02 14:21] coufalja commented on #1231
Thanks, we have tried changing the periods by the ENV props a while ago sadly we already have months of data in so the cleanup never finishes and eats the DB alive.

[2020-12-02 18:38] nvborisenko opened #1237 "[v5] Allow links with custom protocol in markdown for log entries"
Links in markdown with custom protocol are not clickable.

# To Reproduce

Send  log message to RP:

[code]

This log message is shown as:
![image](https://user-images.githubusercontent.com/22616990/100915630-ae381c00-34e5-11eb-9bb3-1a65158e4902.png)

Visually the link is rendered correctly, but user cannot click on this link.
![image](https://user-images.githubusercontent.com/22616990/100915804-e

[2020-12-03 05:07] narayan-meesho opened #1238 "[v5] ReRun Launch Is not getting merged as shown in Release Doc."
I am using Reportportal v5.3.0

using rerun=true , the launches are getting merged linearly but not deep as shown in doc
 expected: https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/rerun.md , Actual below image
<img width="1512" alt="Screenshot 2020-12-03 at 10 33 41 AM" src="https://user-images.githubusercontent.com/56872078/100966886-faba4080-3553-11eb-9477-123af317

[2020-12-03 06:18] Ngaur opened #1239 "[v5] ReportPortalExceptionResolver > Launch 'null' not found. Did you use correct Launch ID?"
**Describe the bug**
Reportportal is deployed via kubernetes v5 chart.
We are using multiple integrations to this server -- python-client, soapUI client, and java client.
And suddenly all the integrations are breaking, without any change since yesterday.

NEED HELP ASAP!

**SoapUI-agent error**
(Thread.java:830)
Caused by: com.epam.reportportal.exception.ReportPortalException: Report Portal return

[2020-12-03 09:13] evjlobanova commented on #1231
@coufalja We has a meeting regarding this topic, in the next sprint, we will take investigations and preparing possible options for resolving. And as soon as we define the final option, I will inform you.

We can create a channel in slack in order to discuss detail and possible contribution to this issue with you and your team.

[2020-12-03 09:53] coufalja commented on #950
It is based on 5.3.3 (I've changed the tag of the image accordingly to `fluffycroc/service-api:5.3.3`)

[2020-12-03 09:56] coufalja commented on #950
@evjlobanova Any news here? I believe I have fixed both this issue and #1186 with https://github.com/reportportal/service-api/pull/1319 we are running the change for a month and no deadlock appeared since then.

[2020-12-03 09:59] coufalja commented on #1231
@evjlobanova That is great to hear, we still want to help so If you don't mind invite us (the usernames above) into the channel.

[2020-12-03 10:04] YBB8201 opened #1240 "Download mp4 attachment"
Hi, I managed to send mp4 file attachment to report portal, but when trying to download it by "save target as" or similar way, it does not give any option for download/save the file.
I tried it on google chrome and brave browser, in both it did not work.
the file is ok, on the local machine the mp4 is running if clicking on it.
any suggestions of how download attachments from RP?

![Capture](https

[2020-12-03 10:05] evjlobanova commented on #950
The task is in the current sprint. Actually, we cannot merge a sent pr, because it doesn't take into account all RP specific.
But I hope we will fix this sprint.
I will be updating this ticket accordinagly

[2020-12-03 10:47] narayan-meesho commented on #1238
java testng client was not updated have updated to latest now the launches are not getting merged only both are coming as different launches.

[2020-12-03 10:48] narayan-meesho commented on #1238
please anyone can help here using v5.3 and giving -Drp.rerun=true while launching the rerun.

[2020-12-03 11:31] evjlobanova commented on #1235
@odubaj thank you one more time for your feature offering, if you have any questions or issues please let me know.
Is it possible to contact you in Slack on any other tool. I would like to share our vision for manual testing and discuss several questions. What do you think about it?

[2020-12-03 11:36] evjlobanova commented on #1236
you can add attributes like - owner: Jhon / owner: Michel and so on.
And on the base of these attributes, you will be able to create Component Health Check Widget (table view) https://reportportal.io/docs/Table-Component-health and track summary for each person

[2020-12-03 11:42] odubaj commented on #1235
Sure, glad to discuss. I am on slack under email odubaj@redhat.com

[2020-12-03 11:44] evjlobanova commented on #818
I have checked it works for me.
Please provide steps for reproducing

[2020-12-03 11:57] evjlobanova commented on #1237
@svettsova Valya could you please add a bug to Jira

[2020-12-03 12:01] evjlobanova commented on #1240
@svettsova Valya? could you please recheck this issue and try to reproduce?
@YBB8201 which version of ReportPortal do you use?

[2020-12-03 12:24] narayan-meesho commented on #1238
It worked after giving in either properties file or from code. Is this a issue where rerun env variable is not getting picked like other env variables like launch & uuid.

[2020-12-03 13:05] YBB8201 commented on #1240
Hi,
build 5.0.0
[image: image.png]

On Thu, 3 Dec 2020 at 14:01, Yauheniya Labanava <notifications@github.com>
wrote:

[2020-12-03 13:10] evjlobanova commented on #1240
Update to the latest version

[2020-12-03 13:10] #1240 closed

[2020-12-03 14:08] NoReflexness commented on #1231
We are in the same boat, putting in extraordinary maintenance windows in tomorrow to expand the postgres persistent volume as we are currently eating 2% pr. day with no end in sight. Thank you guys for working in it.

[2020-12-03 15:29] DzmitryHumianiuk commented on #1231
@coufalja that's a good catch, BTW.
discussion will address our architectural strategy, since we need to make it both flexible for single-container setup and multiply in k8s.

[2020-12-03 16:30] DzmitryHumianiuk commented on #1235
@odubaj while team will take a look into PRs, I'd like to admit that your changes are relevant to our goals as well.
We assume to have manual test cases along with automated, in one picture soon.
But plan to make it at higher level.

First of all, I'd like to highlight that `Test Cases Type` (manual/automated) is just a characteristics (or attribute) of test case (TC).
TC can be executed manually,

[2020-12-03 21:04] arybkin opened #1241 "Import for report files could parse incorrectly XMLs without any output[v5]"
**Describe the bug**
May be a feature. When you import zip files with xml reports, it tries to parse it and ignores any unknown tags and doesn't inform you, that something was unclear

**To Reproduce**
1. Upload report for CPP boost tests with any failed test
[Project_CPP_BOOST_WITH_EXCEPTION.zip](https://github.com/reportportal/reportportal/files/5638884/Project_CPP_BOOST_WITH_EXCEPTION.zip)
2. C

[2020-12-04 05:39] svettsova commented on #1237
Defect is added to jira

[2020-12-04 06:57] beregeyko opened #1242 "[v5] Lost logs after merge launches"
Configuration:
reportportal.epam.com version 5.3.3
client - java client 5.0.15
agent - java cucumber 5.0.1
logger -logger java log4j 5.0.1

Unfortunately there are no specific steps to reproduce.
Issue reproducible after merge launches into one using deep merge method.
After merge part or all launches doesn't have logs.
Please see attached gif. Part of launches has logs, part doesn't have and ther

[2020-12-04 07:00] Shakevg commented on #1228
Updated original message:
- Screen Resolution: 1920x1200
Precondition: set Chrome browser zoom 90% (if 1 line comment), 80% (if 2 lines comment)

[2020-12-04 07:21] VolhaKarenko commented on #1228
Issue is added to backlog

[2020-12-04 07:39] odubaj commented on #1235
Thanks for the explanation. I already explained our use-case in the email thread.

Adding reference to the first PR for /migrations repository https://github.com/reportportal/migrations/pull/168

I will continue with creating PRs for the other repositories as well, but it will take some time, as I need to rebase them against the current develop branch and test it properly.

[2020-12-04 10:28] odubaj commented on #1235
PR for /commons-dao repository prepared here https://github.com/reportportal/commons-dao/pull/706

[2020-12-04 13:35] DmitryVityuk commented on #566
Any plans to add support of any IDP for SAML?

[2020-12-04 13:50] DmitryVityuk opened #1243 "Oauth2 support for any identity providers."
Have an option to configure oauth settings for any provider.
For example see "rocket chat" application, how they made a such feature.

[2020-12-04 14:25] odubaj commented on #1235
PR for /service-api repository here https://github.com/reportportal/service-api/pull/1338

I face some issues with failing tests, but until I resolve them, posting the code here for investigion.

In the next week I might prepare the PR also for /service-ui repository.

[2020-12-04 15:48] ksAutotests opened #1244 "[v5.3.3] 500 error after attempt to delete items marked as 'To Investigate'"
**Describe the bug**
Attempt to delete 'To Investigate' items leads to "errorCode":5000,"message":"Unclassified error [org.hibernate.exception.ConstraintViolationException: could not execute statement]"

**To Reproduce**
1. I have 3 separate reports (first run, rerun and second rerun). Each run has 'To Investigate' items which means failed test cases.
2. I'm trying to delete all 'To Investigate' i

[2020-12-04 16:22] djasani opened #1245 "ReportPortal Client should have ability to bypass google analytics reporting"
**Describe the solution you'd like**
- ReportPortal client should have property which determine if data should be posted to Google Analytics.

**Is your feature request related to a problem? Please describe.**
We are running report portal in controlled environment where instance does not have access to public internet. I have seen test shutdown hooks run for almost 2-3 minutes after test is finish

[2020-12-04 21:59] dkdk91 commented on #1199
@evjlobanova @VolhaKarenko - any updates from the team regarding this issues?
We are not able to create new dashboards because of this issue. It's a show-stopper for us currently.
Looking forward to your resolution.

[2020-12-07 01:44] 765119 commented on #930
facing same issue
Recreating reportportal_gateway_1       ... done
Recreating reportportal_uat_1           ... done
Recreating reportportal_postgres_1      ... done
Recreating reportportal_rabbitmq_1      ... done
Recreating reportportal_minio_1         ... done
Recreating reportportal_ui_1            ... done
Recreating reportportal_elasticsearch_1 ... done
Recreating reportportal_analyzer_1

[2020-12-07 05:49] svettsova commented on #1242
Issue is added to backlog

[2020-12-07 08:24] Ngaur commented on #464
Same issue I am experiencing with TestNG.
Getting Error :
com.epam.reportportal.exception.ReportPortalClientException: Report Portal returned error
Status code: 404
Status message: Not Found
Error Message: Launch '8dabd205-f030-47a7-b761-13d458e738d0' not found. Did you use correct Launch ID?
Error Type: LAUNCH_NOT_FOUND

I am using :
<dependency>
  	<groupId>com.epam.reportportal</groupId>
  	<ar

[2020-12-07 09:20] HardNorth commented on #1245
Duplicate: https://github.com/reportportal/client-java/issues/125

[2020-12-07 09:20] #1245 closed

[2020-12-07 09:24] HardNorth commented on #464
Offtopic

[2020-12-07 09:24] #464 closed

[2020-12-07 12:09] odubaj commented on #1235
PR for /service-ui repository https://github.com/reportportal/service-ui/pull/2537

[2020-12-07 13:27] kontownik commented on #1176
Should I provide something for you to test and confirm the issue @evjlobanova ?

[2020-12-08 07:23] AndreiSomovTR opened #1246 "[v5.3.3] Auto-analysis doesn't work."
**Describe the bug**
Despite a failed test was marked with some (and the same) reason of failure during at least 10 launches the test still falls into 'To Investigate'

**To Reproduce**
1. Set up auto-analysis
2. Launch test with the failed method
3. Mark the test with the some reason of failure
4. Repeat steps 2 and 3 at least 10 times: every time pick the same reason of failure

**Expected behav

[2020-12-08 11:19] IharBletskoTR opened #1247 "[v5] Unable to configure LDAP plugin for LDAPS (VDS)"
5.3.3, docker, LDAP-plugin.
Setting up RP to work with VDS (virtual ldaps server), but when trying to connect receiving error 49: org.springframework.security.authentication.InternalAuthenticationServiceException: [LDAP: error code 49 - Invalid Credentials]; nested exception is javax.naming.AuthenticationException: [LDAP: error code 49 - Invalid Credentials]
Tested connection from command line of

[2020-12-08 12:58] evjlobanova commented on #1247
Please send us logs from auth service

[2020-12-08 14:45] IharBletskoTR commented on #1247
Logs sent to email: support@reportportal.io
subj: [v5] Unable to configure LDAP plugin for LDAPS (VDS) #1247

[2020-12-08 15:54] volodyatrots opened #1248 "[v5] [20] ReportPortal execution error"
**Describe the bug**
 It works fine on local machine and I am able to open reportportal UI on remote machine but when I am running it from jenkins then we are getting this:
[rp-io-1] ERROR com.epam.reportportal.service.Launch - [20] ReportPortal execution error

**More Details**
`rp.org.apache.http.conn.HttpHostConnectException: Connect to cr-reportportal.1129.aws.test.com:443 [cr-reportportal.112

[2020-12-08 15:56] VRudniev commented on #1114
There's a workaround described in a separate issue #962

The only problem that configured Email integration stops working after *-API pod restart because the new pod tries to send a test email after boot up. Still, this problem can be resolved by recreating configuration via API.

[2020-12-08 21:25] rplevka opened #1249 "[v5] rerun: True doesn't work with parent test items"
**Describe the bug**
Starting a launch with `"rerun": true` doesn't work on launches containing only root-level test cases (no nested structure)

**To Reproduce**

1. start a launch
2. start a test_item
3. push some log items inside the test_item
4. finish launch
5. start a launch with `rerun: true`
6. start a test_item with the same name as #2
7. push some logs
8. finish launch

Notice that the l

[2020-12-08 22:01] rplevka commented on #1249
the 2nd rerun doesn't create any test items simply because api now returns 2 items of the same name and it apparently expects just 1:

[code]

[2020-12-09 03:03] Richard1ybb commented on #1239
I have the same error:
`2020-12-09 02:59:38.229 ERROR 6 --- [io-8585-exec-16] .t.r.c.e.r.ReportPortalExceptionResolver : ReportPortalExceptionResolver > Launch '4469584a-0f23-476c-ac4d-06d200da8ad8' not found. Did you use correct Launch ID?

com.epam.ta.reportportal.exception.ReportPortalException: Launch '4469584a-0f23-476c-ac4d-06d200da8ad8' not found. Did you use correct Launch ID?
	at com.epam

[2020-12-09 09:17] evjlobanova commented on #1019
Started from version 5.4 a feature will be available
![image](https://user-images.githubusercontent.com/30413511/101609794-42a9ef00-39bc-11eb-934c-50d1a705dfd6.png)

[2020-12-09 09:18] evjlobanova commented on #1210
![image](https://user-images.githubusercontent.com/30413511/101609909-610fea80-39bc-11eb-8145-4c55e3b4ab52.png)

[2020-12-09 09:18] #1210 closed

[2020-12-09 13:02] volodyatrots commented on #1248
I found how to properly set proxy so now it's resolved (rp.http.proxy=your.service:80)

[2020-12-09 13:02] #1248 closed

[2020-12-09 20:46] DuskoV commented on #1201
+1

[2020-12-10 04:49] ersuniljoshi commented on #1239
Worksournd this problem to move start launch and start test as a sync call. if you are using v2 API, they all are async.

[2020-12-10 11:05] evjlobanova commented on #1231
@coufalja We have found one of the problems, that can help to resolve the problem partly. Now the delay for job run is 7 day.
You can change this period by providing an env variable.

RP_ENVIRONMENT_VARIABLE_JOB_DELAY=PT1M

[2020-12-10 11:06] pbortnik commented on #1231
Hi @coufalja ,
5.3.3 have a misconfiguration. Jobs beginning have delay in 7 days.
You can provide a
`RP_ENVIRONMENT_VARIABLE_JOB_DELAY=PT1M `
It will change the delay to 1 minute. And then job will be started according scheduler provided in other env varibales.

[code]

From the version 5.3.4 the delay will be the same as provided scheduler.

[2020-12-10 13:23] rubico259 opened #1252 "Adding public certificate in report portal chart"
I installed report portal using helm chart.
Now, i want to configure the saml plugin for sso.
When it send the request to identity manager for the xml it failed on ssl exception:

Caused by: javax.net.ssl.... PIKX path build failed..unable to find valid certification path to request target

How can i add public certificate of the identity manager into trust store in helm chart?

[2020-12-10 14:05] RG108 commented on #690
@DzmitryHumianiuk
Continuing the discussion here, I have taken the below PR submitted by Prashant Patil to another level :
https://github.com/workwithprashant/karate-reportportal-demo/releases

1. Enabled parameterised environment (Karate-config.js support)
 2.Package based Execution - Report Portal will send notification post completion of packages which are basically kept in src/test/java
Now, t

[2020-12-10 16:16] odubaj commented on #1235
According to today's meeting I think we can adopt your concept of manual testing. I will take a look at our manual testing requirements and try to re-implement the feature according to our call. Additionally, we want to add a history of test-case description changes. The history of description changes are (from my investigation) not available in the database. There is probably just a description c

[2020-12-10 16:21] DzmitryHumianiuk commented on #1235
@odubaj yep, we don't save TestItem description change.
But it can easily added into activity table, the same like it's done for the rest of recorded data there.

@evjlobanova please add it as a task for the next sprints: record in `History of Actions` the change of description field.

[2020-12-10 16:24] odubaj commented on #1235
@DzmitryHumianiuk thanks. I will have a look at this feature as well.

[2020-12-10 16:37] odubaj commented on #1235
I will like to run a discussion about the name of the newly implemented status. Some of the options might be

- untriggered
- manual
- unexecuted

Please share your opinion or propose a name.

Thanks.

[2020-12-11 06:39] evjlobanova commented on #1235
I suppose that the good options are:
- untested (because it is pretty short and understandable)
- undefined

Unexecuted/untriggered - are also ok, but they are too long, and we should handle their reflections on UI

@odubajWhat do you think about 'untested'?

[2020-12-11 07:03] odubaj commented on #1235
Untested seems fine to me. We can continue with this option and if there will be a better proposal, we can change it.

Thanks.

[2020-12-11 14:23] MonicaJacob opened #1253 "Unable to login to demo portal"
Unable to login to Demo portal[]( https://demo.reportportal.io/ui/#login
)
used credentials : default/1q2w3e

**Expected behavior**
Should be able to login

**Screenshots**
If applicable
![image](https://user-images.githubusercontent.com/75258553/101914493-abfc4e80-3bc4-11eb-8e1f-6d8e774523b5.png)

**Versions:**
 - Windows, Chrome
 - 5.3.3

[2020-12-12 09:30] odubaj commented on #1235
Updated pull-requests adding UNTESTED state for test-cases. @DzmitryHumianiuk @evjlobanova can you please review them, so we can move to the ui changes ? Facing some DataSource initialization issues during service-api testsuite, is it expected ?

Thanks.

https://github.com/reportportal/service-api/pull/1338
https://github.com/reportportal/commons-dao/pull/706
https://github.com/reportportal/commo

[2020-12-12 13:55] odubaj commented on #1235
UNTESTED state feature accordingly added also to service-ui

https://github.com/reportportal/service-ui/pull/2537

[2020-12-12 14:03] odubaj commented on #1235
Changed compilaton dependencies in gradle.build file in both commons-dao and service-api repository are due to testing purposes to my repositories.

[2020-12-13 08:02] rubico259 opened #1254 "SSO - agnostic IDM"
Currently, saml works only with OKTA.
We have VIDM as Identity Manager.

Can you please implement saml with any identity manager?

[2020-12-14 03:14] willyhalim opened #1273 "how can i update the launch with attributes/description"
how can i update the launch with attributes/description after launch started via API

I am able to do it by logging to reportportal web but is wondering if i can do it via API.
The use case will be it will be nice to tag specific launch with specific application version / test version at the same time

[2020-12-14 10:34] RG108 commented on #859
@evjlobanova

Please open this case as it is reproducible in Report portal version 5.0.
I am uploading jar file from link below:
https://bintray.com/beta/#/epam/reportportal/plugin-bts-jira/5.0.0?tab=files
Can you suggest the resolution of error message as shown in screenshot plz .
![Screenshot 2020-12-14 at 4 00 19 PM](https://user-images.githubusercontent.com/39192799/102071035-f16b8680-3e25-11e

[2020-12-14 14:57] Whiletru3 commented on #1232
I would like to do it automatically, not manually (and also add some key/values).

[2020-12-14 15:09] Whiletru3 opened #1255 "Compare the duration (launch and test) over the time ?"
Hello,

Is there a way to compare durationtime for launch and also for test granularity over the time ?
I need this to have a benchmark duration report.

Thanks

[2020-12-14 15:14] Whiletru3 opened #1256 "Accuracy analysis"
Hello,

Is there a way to analyse launches and compare them based on an accuracy level (in %age) instead of Failed/Passed. The accuracy level is in each test log.

Thanks

[2020-12-14 15:16] nvborisenko commented on #1232
https://github.com/reportportal/client-net - api client for C#, importing launch is not added there yet. But there is api endpoint `/v1/{projectName}/launch/import`.

[2020-12-15 08:08] Shakevg commented on #354
@evjlobanova Could you clarify is it possible to merge 2 existing closed launches with retry logic? And how to perform it if it is possible?

[2020-12-15 11:36] Mandeepsheoran opened #1257 "Getting error java.lang.NoClassDefFoundError: com/epam/reportportal/service/tree/TestItemTree while using selenium+testng"
Hi
I am using Selenium+testng and getting below error while running it.

There was an error in the forked process.

java.lang.NoClassDefFoundError: com/epam/reportportal/service/tree/TestItemTree
[ERROR] at com.epam.reportportal.testng.TestNGService.(TestNGService.java:87)
[ERROR] at com.epam.reportportal.testng.ReportPortalTestNGListener$1.get(ReportPortalTestNGListener.java:32)
[ERROR] at com.ep

[2020-12-15 16:07] HardNorth commented on #1257
Already answered here: https://github.com/reportportal/agent-java-testNG/issues/152
Please do not spam with issues, or I have to block you.

[2020-12-15 16:07] #1257 closed

[2020-12-15 17:33] testingplusme commented on #332
@evjlobanova Hey, Can you tell me when you plan to do this? This feature will be very useful to have a possible custom column with information e.g. that define bug is solving by define person (it can be even optioned with view text only)

[2020-12-15 18:11] testingplusme commented on #882
@evjlobanova  @DzmitryHumianiuk  Do you plan to implement this feature? I need something like that I can rename default name of defect group :)?

[2020-12-15 21:30] coufalja commented on #1231
Hi, @pbortnik that is actually what I did even before filing the issue. It is defo a great idea to set the variables this way for the future releases and it will most probably help to someone with not too much of a data in the DB already. Unfortunately, that is not our case, we have thousands of launches that should be deleted via the retention policy but due to RP deleting all launches falling to

[2020-12-16 06:57] evjlobanova commented on #1256
Hello @Whiletru3
could you please clarify what you mean?
Now the analyzer is working on the base of error logs similarity https://www.youtube.com/watch?v=HUNvNv-q1XE&t=8s ?
![image](https://user-images.githubusercontent.com/30413511/102315396-f1a07a80-3f28-11eb-91a9-880e236968e6.png)

[2020-12-16 06:59] evjlobanova commented on #1255
Widget Launches duration
in the version 5.4 widget the most time-consuming tests will be available

[2020-12-16 06:59] #1255 closed

[2020-12-16 07:00] evjlobanova commented on #1246
Which version do you use?
Does the service analyzer run?
Please send us a log of service analyzer, Elastic Search, Rabbit MQ

[2020-12-16 07:02] #1242 closed

[2020-12-16 07:03] #1216 closed

[2020-12-16 07:06] evjlobanova commented on #1235
Task on code review is added to the backlog

[2020-12-16 07:07] #1236 closed

[2020-12-16 07:07] #1238 closed

[2020-12-16 07:11] evjlobanova commented on #1241
For now, attributes are not imported to ReportPortal.
Import is a limited feature of RP, our main direction is real-time reporting.
So that for now we do not plan to improve import feature.

[2020-12-16 07:11] evjlobanova commented on #1241
For now the system just validates if a file is xml and have junit format

[2020-12-16 07:13] evjlobanova commented on #1244
Which version of ReportPortal do you use?

[2020-12-16 07:14] evjlobanova commented on #1249
Which version of reportportal do you use?

[2020-12-16 08:33] ValeriiVozniuk commented on #1231
Hi @pbortnik ,
I've stumbled upon this issue in our Report Portal deployment, but as I'm not familiar enough with it yet, it is not clear for me where/for which component I need to set up this variable, could you please tell me it?

I've assumed that this should be reportportal-api component, and set it on that pod
[code]
, but I still see files which should be cleared in minio
[code]
, could you

[2020-12-16 08:43] rplevka commented on #1249
@evjlobanova hi, thanks for reply - this is the very recent `5.3.3` but the issue is reproducible on `5.3.1` as well

[2020-12-16 08:48] rplevka commented on #1249
Here are the API logs for launch create and item create:

[code]

[2020-12-16 09:18] #1253 closed

[2020-12-16 12:55] AndreiSomovTR commented on #1246
1. RP version is 5.3.3
2. service analyzer is running
3. Logs is attached. ES logs is empty*

[2020-12-16 12:55] AndreiSomovTR commented on #1246
[RP logs.zip](https://github.com/reportportal/reportportal/files/5702770/RP.logs.zip)

[2020-12-16 13:27] evjlobanova commented on #354
For now no, you can only use rerun fuctionality

[2020-12-16 13:29] evjlobanova commented on #332
SLA for this feature is not defined.

But you can use for that purpose Component Health Check widget (table view). And it resolves your use case. Just use custom attributes and custom column on widget

[2020-12-16 13:31] evjlobanova commented on #882
For now we do not plan this feature.
But which groups do you want to have for defect types?

[2020-12-16 13:31] evjlobanova commented on #1246
@MariyaIvanina @irynakozak2 GCould you please check logs?

[2020-12-16 13:38] MariyaIvanina commented on #1246
@AndreiSomovTR Hi, Andrei! When a new analyzer version is used, it is better to generate index( click button "Generate index" at the Auto-analysis settings), as far as we are improving our algorithms and add new fields to process, that's why it is important to have an up-to-date elasticsearch index. I can see that at your settings page, the buttons are grayed out, it indicates that traefik is not

[2020-12-16 14:23] AndreiSomovTR commented on #1246
Hi!
1. we use traefik:v2.0.5
2. I clicked at 'submit' button -> 'Generate Index' button became active -> I clicked 'Generate Index' button -> after I re-launched my test 15 times (every launch I set up the same reason of failure)-> As a result auto-analysis still doesn't set correct reason of failure.
3. New logs are attached, take a look please

[RP_logs_2.zip](https://github.com/reportportal/rep

[2020-12-16 14:55] MariyaIvanina commented on #1246
Andrei, thank you for your logs! Has generating index finished? Has the button color returned to the active color? Could you redeploy the analyzer service with setting the environmental variable LOGGING_LEVEL: debug, it will give us more logs.

[2020-12-16 15:33] AndreiSomovTR commented on #1246
I think so, 'Generate Index' button is active again at least. Here new logs:
[RP_logs_3.zip](https://github.com/reportportal/reportportal/files/5703702/RP_logs_3.zip)

[2020-12-17 04:13] narayan-meesho commented on #1231
Hi, @pbortnik , I am also getting issue where Data deletion job is consuming all cpu resources and even after letting it run , data is not getting deleted as @coufalja @ValeriiVozniuk  has mentioned. This is First deletion.

[2020-12-17 07:00] pako88 opened #1258 "[v5] comma in time in xml report -> import error: Wrong state: item is not 'In progress', but has no finish time"
**Describe the bug**
If there is a comma in the time value of a xml report (maven surefire creates these kind of values when running for a longer time), the import fails with the message "Error while importing the file. 'For input string: "3,226.156"'
The launch is marked as "Wrong state: item is not 'In progress', but has no finish time"
all tests before that point in the xml report are reported

[2020-12-17 07:52] MariyaIvanina commented on #1246
Thank you, the logs are more helpful now. I see from the logs that index was not created for this project, and at each action of analysis it finishes with 0 results, because the index doesn't exist for this project. Could you click button "generate index" and send the logs which were printed while the index is being created? And also could say how big this project is?

[2020-12-17 09:14] AndreiSomovTR commented on #1246
As you requested, logs with index generation:
[RP_logs_4.zip](https://github.com/reportportal/reportportal/files/5708179/RP_logs_4.zip)
Also, could you please clarify what do you mean by 'big project'?
ECT_QED it self contains smth about 20 projects, but 'ect_qed-cocklicks' is a small part of ECT_QED and contains only 2 tests (only for for now due to debugging)

[2020-12-17 10:32] MariyaIvanina commented on #1246
Thank you for your logs. What I see in the logs, that when generate index activity is run, analyzer doesn't receive launches. I can see in the logs that other projects uses analyzer and analysis/indexing works quite fine. Could you say how have you imported launches in this project, for which analysis and indexing don't work?

[2020-12-17 10:42] AndreiSomovTR commented on #1246
we run in this way:
![image](https://user-images.githubusercontent.com/60747505/102477558-91ffb780-406d-11eb-8321-5b892bd63106.png)
after execution is completed the results exist in RP

[2020-12-17 11:08] MariyaIvanina commented on #1246
@pbortnik I need your help and consultation. According to the logs:
`2020-12-17 08:34:56,023 - analyzerApp.amqpHandler - DEBUG - Started processing <Basic.Deliver(['consumer_tag=ctag1.fd25713e378f4fa5ae8f97b0d7df0c3c', 'delivery_tag=1', 'exchange=analyzer', 'redelivered=False', 'routing_key=delete'])> method <BasicProperties(['content_encoding=UTF-8', 'content_type=application/json', 'correlation_

[2020-12-17 11:22] narayan-meesho commented on #1231
@evjlobanova can some from team help on this .

[2020-12-17 15:24] kontownik commented on #1207
solved https://mvnrepository.com/artifact/com.epam.reportportal/agent-java-cucumber6/5.0.1

[2020-12-17 15:24] #1207 closed

[2020-12-17 16:11] DzmitryHumianiuk commented on #882
@testingplusme what can be the reason to rename defect groups?
if this is indeed a defect, then it should clearly relate to the type of problems associated with either product flaws (PB) or automated script problems (AB). All environment misconfiguration or un-availability are the System Issue type.

If you what to label failed test cases with component, priority, os, browser, env, etc. then it is

[2020-12-18 09:05] VolhaKarenko commented on #1249
The issue is reproducible, added to backlog

[2020-12-18 09:24] #1133 closed

[2020-12-18 11:37] testingplusme commented on #882
@DzmitryHumianiuk  I wanted to do something like that I will have a column where I will put information that bug is assigned to e.g. define user and I will put the name of this user who is resolving the issue (e.g. "solution is in progress") other members of the team will know that is assigned and it's resolving by this admin and they won't analyze this defect

[2020-12-18 12:11] Cyberglamdring commented on #1252
Dear @rubico259,
Try to set up SAML according to the existing guide at [reportportal.io]( https://reportportal.io/docs/SAML-integration) and [Youtube](https://youtu.be/ljXvCVWG4mQ)

[2020-12-18 12:16] Cyberglamdring commented on #1112
No response from requestor

[2020-12-18 12:16] #1112 closed

[2020-12-18 12:18] rubico259 commented on #1252
That's exactly what i did.
The problem:
Uat service is deployed on k8s and the idp deployed on vm outside k8s.
When the uat service trying to send the request to the idp it requires public key of the idp. So i need somehow a way to configure the idp public key inside the truststore uat service.

[2020-12-18 12:25] Cyberglamdring commented on #1109
Dear @winstondz,
We will update the documentation soon. Please use the official [Traefik documentation](https://traefik.io/blog/traefik-2-tls-101-23b4fbee81f1/) or use the [link](https://doc.traefik.io/traefik/migration/v1-to-v2/) you provided.
Thank you

[2020-12-18 12:25] #1109 closed

[2020-12-18 13:18] Hsillman opened #1259 "Report Portal launches with incorrect test counts"
Hello Folks!

We are fetching Jenkins results and importing them into Report Portal. However, some launches have some tests missing in comparison to the total test count from Jenkins job. If we compare the amounts, we see that some launches have missing tests (around 1-6 tests) that do not appear at all in the Portal.

Test amount in Jenkins Job:
![Captura de Tela (202)_LI](https://user-images.git

[2020-12-18 13:18] Hsillman opened #1260 "Report Portal launches with incorrect test counts"
Hello Folks!

We are fetching Jenkins results and importing them into Report Portal. However, some launches have some tests missing in comparison to the total test count from Jenkins job. If we compare the amounts, we see that some launches have missing tests (around 1-6 tests) that do not appear at all in the Portal.

Test amount in Jenkins Job:
![Captura de Tela (202)_LI](https://user-images.git

[2020-12-18 14:14] DzmitryHumianiuk commented on #882
@testingplusme we plan to cover it via `assignment` functionality. But don't mix it with Defects

[2020-12-18 15:10] testingplusme commented on #882
Great :) @DzmitryHumianiuk Do you know when it will be done? :)

[2020-12-18 20:21] dkdk91 commented on #1199
BUMP...
@evjlobanova @VolhaKarenko - any updates from the team regarding this issues?

[2020-12-21 09:50] VolhaKarenko commented on #1199
@dkdk91 sorry for the late reply
The team is now busy with other tasks, the backlog is overloaded
Fix for this issue is planned for version 5.4 in February

[2020-12-21 10:04] VolhaKarenko commented on #1234
Reproducible, issue is added to backlog

[2020-12-21 10:50] avarabyeu commented on #620
@alejandro-delgado-garcia
Have a look there: https://github.com/avarabyeu/goRP

[2020-12-21 15:12] DzmitryHumianiuk commented on #882
Assignments will come with RPv6.
No ETA for now.

[2020-12-21 15:44] ksAutotests commented on #1244
5.3.3

[2020-12-21 15:56] testingplusme commented on #882
Thanks! @DzmitryHumianiuk

[2020-12-22 14:04] Cyberglamdring commented on #969
Dear @aceme007, @ajinkyapande
Please, update ReportPortal to the latest version and change MinIO version to `minio/minio:RELEASE.2020-10-27T04-03-55Z:`

[2020-12-22 15:50] HardNorth commented on #1260
@Hsillman which exact agent and version do you use?

[2020-12-22 17:06] aceme007 commented on #969
Will monitor those changes. So far it's looking good - no exceptions.
[code]

Do we want to update the production [version](https://github.com/reportportal/reportportal/blob/master/docker-compose.yml#L226) which is on `2020-05-01T22-19-14Z` as of 5.3.3?

[2020-12-22 19:41] dkdk91 commented on #1199
@VolhaKarenko - Thank you for that information. Looking forward to the release.

[2020-12-23 06:26] Bakanych opened #1261 "Standardize launch configuration across adapters"
Hi all and thanks for this wonderful product!

I've recently tried to integrate it into our pipelines where we use mix of .net- and js- adapters.
The problem is, dotnet client and js-client uses different config formats. I believe, java-client also has its own one. It makes pipeline configurations tedious and full of redundant workarounds to avoid copy-pasting.

I do like your dotnet-client config

[2020-12-23 14:57] iKozzz commented on #935
api_1 | java.lang.RuntimeException: java.net.ConnectException: Timeout connecting to [jira.mycompany.io/666.66.666.66:443]

So I suppose this issue because JIRA host can not be resolved from docker network (rp_network)

[2020-12-23 18:53] Hsillman commented on #1260
Hello @HardNorth @iivanou it turns out to be a problem in the parser we were using to parse the .xml file from Jenkins. Not a report portal or python agent issue. Closing the issue

[2020-12-23 18:53] #1260 closed

[2020-12-28 08:26] rubico259 commented on #1252
Any comment?

[2020-12-28 14:39] AndreiSomovTR commented on #1246
@pbortnik @MariyaIvanina Hi! Any updates at this one?

[2020-12-28 15:09] MariyaIvanina commented on #1246
@AndreiSomovTR could you also share the log, which is in the test item you are sending to Report portal? Thank you in advance.

[2020-12-28 15:28] MariyaIvanina commented on #1246
@AndreiSomovTR Could you also check that logs you are reporting into Report portal have error log level >= 40000 (error log and more severe)? And one more thing could you check that types of test items are correct. You need to click the number of failed test items from this view
![101452815-5d8a4e00-393f-11eb-9e14-a2baf73c02fb](https://user-images.githubusercontent.com/11046087/103225185-784a5400-

[2020-12-29 08:13] AndreiSomovTR commented on #1246
sorry, could you please clarify what kind of logs you would like to get at this point?

[2020-12-29 08:16] AndreiSomovTR commented on #1246
So, I clicked here:
![image](https://user-images.githubusercontent.com/60747505/103269446-f0f6f200-49c6-11eb-9420-ed9eb17ef5bd.png)
and have gotten this:
![image](https://user-images.githubusercontent.com/60747505/103269585-31567000-49c7-11eb-8706-56bd99114b51.png)

[2020-12-29 08:34] MariyaIvanina commented on #1246
@AndreiSomovTR I mean logs from your tests, which you are sending into Report portal. And you can see those logs in the log view in the test item. For example, like this. And you need to use the slider to show only logs that are error or fatal. And then I could say whether your logs are ok for auto-analysis. Only error and fatal logs are used in the Auto-analysis, so if you don't have logs of a su

[2020-12-29 08:46] AndreiSomovTR commented on #1246
but when I clicked here:
![image](https://user-images.githubusercontent.com/60747505/103271417-46cd9900-49cb-11eb-9598-c61f4689c9a2.png)
and open item json:
type: "TEST"
ignoreAnalyzer: false

[2020-12-29 08:50] AndreiSomovTR commented on #1246
got it, thanks. so, here my logs:
![image](https://user-images.githubusercontent.com/60747505/103271692-f60a7000-49cb-11eb-9e98-8ced2e177d9c.png)
![image](https://user-images.githubusercontent.com/60747505/103271710-0589b900-49cc-11eb-9f6b-37b30c994c4f.png)

[2020-12-29 10:41] MariyaIvanina commented on #1246
@AndreiSomovTR We've understood that the problem is in your sending logs into Report portal, as far as type: "TEST", logs from such test items are not sent to the analyzer. The type should be "STEP". @pbortnik could you give a hint how this type should be set up on the AndreiSomovTR's side?

[2020-12-29 13:15] vrajasg commented on #1239
Hello guys,
am having similar issue, anything I mis-configured? for instance, please refer to screenshot for configurations.
Note: Facing same issue for default or custom launches.

![Screenshot 2020-12-29 at 13 06 48](https://user-images.githubusercontent.com/10340041/103286149-b0ec3b00-49d7-11eb-91b0-6e436d3b8dd0.png)

[2020-12-29 15:25] 765119 opened #1262 "Automatically remove old build - Not working"
RP version - 5.3.2
Describe the bug
I have set up 'Keep launches' setting as 1 week, but older builds are not being deleted automatically.

Expected behavior
As per documentation, all builds older than the specified duration should get deleted automatically

Screenshots
<img width="818" alt="Screen Shot 2020-12-29 at 9 23 32 AM" src="https://user-images.githubusercontent.com/73659561/103294556-b63

[2020-12-30 11:28] ValeriiVozniuk commented on #1231
So, I've updated to 5.3.4 on Monday, and finally started seeing cleanup messages in api logs. Unfortunately, cleanup still does not work for me, as it throws a bunch of errors this time:
[code]
Any advice how I can troubleshoot this?

[2021-01-04 07:12] Shakevg opened #1263 "[v5] Incorrect file extension generated for video file aatchment during download in v5.3.4"
**Describe the bug**
In v5.3.4 incorrect extension generated for the video attachment file during the download

**To Reproduce**
1. Test created using mstest executed in Azure DevOps
2. Test failed and video attachment with WMV  should be added
3. Open Failed tests in Report Portal v5.3.4
4. Try to download the video attachment
=> Incorrect file extension generated (need to update it to wmv to ope

[2021-01-04 07:57] odubaj commented on #1235
Hello, any updates ?

Thanks.

[2021-01-04 08:03] evjlobanova commented on #1235
Sorry for the delay in response
The team is on NY vacations.

We have checked a pull request, and we are planning to create a list with code style issues, and also from my side I will prepare functional requirements, which should be also taken into account in this pr

[2021-01-04 08:20] odubaj commented on #1235
Great, looking forward to your advices.

[2021-01-04 15:13] lewispoe commented on #935
I wanted to check if this feature for Cloud JIRA integration will be included in an upcoming release? We are finding RP platform an excellent tool, but the Cloud JIRA will be vital to our needs. Thanks!

[2021-01-04 22:23] evgenytkachenko commented on #1231
I have the same issue with logs and outdated launches not being deleted. I have RP 5.3.3 installed via docker

[2021-01-05 11:39] evjlobanova commented on #935
Hello
We are planning integration with Cloud Jira ±to spring 2021.
You can use an existing Jira plugin for integration with Cloud Jira. Use a token instead of a password.
In this case, you will be able to use link issue functionality.

I will update this issue when we start the implementation of integration with Cloud Jira

[2021-01-05 11:41] evjlobanova commented on #1231
We have made a small fix in version 5.3.4. So please update to the latest version
And in a future versions, we are preparing a refactoring of retention jobs.

[2021-01-05 11:42] evjlobanova commented on #1231
@pbortnik could you please check a message from @ValeriiVozniuk

[2021-01-05 14:16] gopikishan1995 opened #1265 "how to fail a particular test in report portal"
Issue 1:
without using assertion, i want to fail particular @test in multiple @test class.
Issue 2:
i want to fail a particular @test like below is the example scenario:
example scenario: in one @test i have few parameter or arguments to test and if one argument or parameter fails then script should fail and it should not hard stop the script, it should proceed with other parameters validation but

[2021-01-05 16:41] robertlagrant opened #1266 "[v5] Configuring SAML does not add a Login With SAML button"
**Describe the bug**
Configuring SAML does not add a Login with SAML button to the login screen

**To Reproduce**
Follow the configuration steps in the Youtube video - https://www.youtube.com/watch?v=ljXvCVWG4mQ. We use Okta SAML, just like the video. The SAML plugin reports it is connected.

**Expected behavior**
A Login With SAML button on the login screen:
![image](https://user-images.githubuse

[2021-01-05 19:39] HardNorth commented on #1265
@gopikishan1995 we are reporting tool, not a test framework. We only report what a test framework give us. I believe you need to address this question to a framework you use.

[2021-01-05 19:39] #1265 closed

[2021-01-06 12:12] mironandrei94 commented on #935
Hi @evjlobanova ,

How can we I use the token?
Tried also the lates jira plug-in with the latest report portal and I am still unable to integrate it.

Thank you,
Andrei

[2021-01-07 11:59] pprraashant commented on #1262
yes I am also facing same issue with  5.3.2 . it reached me to dead point in storage and was unable to bring the docker postgres service up . until i have increased the storage of mounted storage.

Most of the data is consumed in logs and  test_items if anyone have queries to delete them please update here also i see delete from UI is also not helping much we have around 55 gb of data from last 3

[2021-01-07 19:38] code255255 commented on #1262
I reinstalled the report portal 3 times so far when memory is full, any update on this ticket?

[2021-01-08 16:04] jibby0 commented on #1115
We're seeing an issue when integrating with Keycloak as well, on our ReportPortal 5.3.0 instance. The Keycloak logs show:

[code]

I'm not familiar with the spring ecosystem, but that lead me to this bug: https://github.com/spring-projects/spring-security/issues/7711#issuecomment-613799630

For reference, we were using the following SAML configuration:

[code]

[2021-01-08 16:28] mamarton opened #1267 "JIRA Integration deployment with Docker"
Hi, the documentation is unclear and there are different sources for service-jira.

The [documentation](https://reportportal.io/docs/Plugins%3Eupload-plugin) points to binary for service-jira with v 5.1.0
Although in DockerHub there is only an older version of the same v4.3.0

- [DockerHub](https://hub.docker.com/r/reportportal/service-jira)
- [BinTray](https://bintray.com/beta/#/epam/reportportal

[2021-01-08 19:08] HardNorth commented on #1267
The documentation is absolutely clear. Try reading it.

We moved away from standalone services in V4 and introduced a new plugin mechanism in V5.

[2021-01-08 19:08] #1267 closed

[2021-01-10 11:03] mamarton commented on #1267
So the answer is there is no JIRA integration deployed via Docker. One has to download the jar files and go from there.

[2021-01-11 10:36] DzmitryHumianiuk commented on #1267
@mamarton
In ReportPortal version 2-4 Jira integration was implemented as separate micro-service, which should be deployed via Docker along with whole application.

Starting from ReportPortal v5 we moved away from standalone services and introduced a new plugin mechanism in V5.
Which minimizes resource consumption and enables instant plugin availability, without app restart.
We plan to have some s

[2021-01-12 13:31] odubaj commented on #1235
Hi @DzmitryHumianiuk,

are there please any updates about adding changes of description field in history of action ? We discussed in in previous comments (https://github.com/reportportal/reportportal/issues/1235#issuecomment-742625787).

Thanks!

[2021-01-12 14:25] mcher opened #1268 "AzureAD SAML integration can't be registered [v5]"
**Describe the bug**
AzureAD SAML integration fails with the exception "com.epam.ta.reportportal.exception.ReportPortalException: Error in handled Request. Please, check specified parameters: 'Provider does not contain information about identification mapping'"

**To Reproduce**
- create azure ad enterprise app, configure claims and saml auth
- add azure ad app registration
- configure report port

[2021-01-12 15:23] DzmitryHumianiuk commented on #1235
@evjlobanova please double check we have this improvement in backlog.

[2021-01-13 14:09] movigit opened #1269 "[v5] Launch page goes to infinite load, when Command+Click on 'To Investigate' icon"
**Describe the bug**
When trying to open 'To Investigate' issues in a new tab by doing Command+Click on the element, current page goes to infinite load (common UI loader element appears, but page never loads again, until page refreshed)

**To Reproduce**
1. Open https://reportportal.svc.ring.com/ui/#{project}/launches/all/{id}
2. Command+Click on To Investigate icon (circle icon, which is a donut

[2021-01-13 14:10] movigit opened #1270 "[v5] Command+Click on To Investigate icon leads to infinite page load"
**Describe the bug**
When trying to open 'To Investigate' issues in a new tab by doing Command+Click on the element, current page goes to infinite load (common UI loader element appears, but page never loads again, until page refreshed)

**To Reproduce**
1. Open https://reportportal.svc.ring.com/ui/#{project}/launches/all/{id}
2. Command+Click on To Investigate icon (circle icon, which is a donut

[2021-01-13 14:11] movigit commented on #1270
Duplicated https://github.com/reportportal/reportportal/issues/1269, as when clicking Create Issue - 404 page appears. I crated another ticket and also got 404, though both tickets were created.

[2021-01-13 14:11] #1270 closed

[2021-01-13 15:11] irynakozak2 commented on #1222
That issue was resolved by revising deployment issues and missed permissions to ElasticSearch for service-analyser. If logs "ERROR: ES Url "<your_es_url>" appears in the service-analyzer container, firstly, please review necessary permissions and follow these suggestion to figure out the root cause of the issue.

[2021-01-13 15:16] irynakozak2 commented on #1221
https://github.com/reportportal/reportportal/issues/1222#issuecomment-759511646

[2021-01-14 07:06] Shakevg opened #1271 "Popup dialog is closed when during text selection cursor move out of the border"
**Describe the bug**
Sometimes it is a long text inside Edit Dashboard\Edit Filter\Link Issue Popup. And when I quickly try to select text the popup is closed when during text selection cursor move out of the popup border

**To Reproduce**
1. Open Edit Dashboard\Edit Filter\Link Issue Popup
2. Try select text using pressed left mouse button
=>  Popup is closed when during text selection cursor mov

[2021-01-14 08:40] evjlobanova commented on #1235
@DzmitryHumianiuk @odubaj Improvement is in the backlog - and assigned to the next sprint.
It has been delayed a little bit because of appearing tasks with critical priority

[2021-01-14 08:44] VolhaKarenko commented on #1269
Didn't manage to reproduce the issue.
@movigit could you please give some details about the launch structure and total number of To investigate items?
Do you have the same actual behavior when right click on To investigate -> open link in new tab?

[2021-01-14 08:47] evjlobanova commented on #1246
*Resolution:*

If you meet issues with not working analyzer - please check that you report the last items in structure with type STEP (via agents).
Items with type SUITE and TEST are accounted for by the system as parent items and are not added to the Analyzer base.

[2021-01-14 08:47] #1246 closed

[2021-01-14 08:57] odubaj commented on #1235
Understand, thank you!

Any updates about the UNTESTED state review?

[2021-01-14 09:18] movigit commented on #1269
@VolhaKarenko
Number of To Investigate items doesn't impact, as it's reproduced on runs with 1-1000 items

RP version: Build: 5.3.3
My colleague is also able to reproduce it in chrome Version 87.0.4280.88 (Official Build) (x86_64)
When make right lick + open link in new tab everything is fine.

So basically page is refreshed on the source page upon click (though it's with Command and shouldn't hav

[2021-01-14 09:40] evjlobanova commented on #1231
Hello @coufalja @evgenytkachenko @ValeriiVozniuk @narayan-meesho

В след версию возьмем POC на переписание джоб на спринг бач.
Пока юзерам из всех возможных воркароундов можно предлагать только самостоятельное мануальное удаление.

I want to update you regarding this issue so you can understand what is going on.

We are investigating this issue carefully. For now, we can not reproduce this issue o

[2021-01-14 09:58] tanyaso opened #1272 "remove method types that are not test from reportportal"
hey,
I have a test project with junit 5 that reports to reportportal.
Before running the suite I have some configuration that is annotated with @beforeall.
And some configuration before each test that is annotated @beforeeach.
as a result when checking the reports beside test I see all those annotations which makes it hard to understand which is which.
Is there a way to not show those methods/incl

[2021-01-14 11:43] VolhaKarenko commented on #1269
The issue is reproducible, bug is added to backlog

[2021-01-14 12:18] sender001 commented on #1174
Still version is not updated in docker-compose

[2021-01-14 12:51] evgenytkachenko commented on #1231
Thanks @evjlobanova for the update
You mentioned the only workaround is to delete manually. Does it mean the only way is to delete the launches from the RP UI or is there a script that could delete all outdated launches in the DB?

[2021-01-14 13:22] IharBletskoTR commented on #1247
Thanks to Andrei Varabyeu, issue is fixed by changing settings to correct ones.
Fields Base DN and Manager DN should look exactly like this to work in my LDAPS server:
![image](https://user-images.githubusercontent.com/68950579/104594236-eb193600-5681-11eb-8901-807e9fe4ec4b.png)
Also, user search filter should contain either: "sAMAccountName={0}" or "cn={0}".
User DN pattern and Group search base

[2021-01-14 13:22] #1247 closed

[2021-01-14 19:55] roma-diadiura opened #1274 "Launch is not created"
**Describe the bug**
Hi RP team,

we use reportportal more than 1 year. Our regression consists of 4 different java executions and after regression is finished we expect 4 launches to be present in RP. But sometimes (few times a week) we have only 3 launches, or even 2. In Jenkins job logs all is OK, all 4 java executions are finished successfully, no errors from RP either. But RP server API log i

[2021-01-14 19:56] roma-diadiura opened #1275 "Launch not created"
**Describe the bug**
Hi RP team,

we use reportportal more than 1 year. Our regression consists of 4 different java executions and after regression is finished we expect 4 launches to be present in RP. But sometimes (few times a week) we have only 3 launches, or even 2. In Jenkins job logs all is OK, all 4 java executions are finished successfully, no errors from RP either. But RP server API log i

[2021-01-14 19:59] roma-diadiura commented on #1274
Duplicate

[2021-01-14 19:59] #1274 closed

[2021-01-14 20:31] bzsharm commented on #973
Do we have any ETA for that @evjlobanova .

Thanks 😊

[2021-01-14 23:40] Shivin89 opened #1276 "User Provided TestCaseID with Cucumber6 + Junit5 + Java + Maven"
Hey Everyone,

Background info: We Have implemented ReportPortal in our Organization for Dashboards and reporting purposes. We have already installed it and now we are trying to configure our test automation framework with it. We have a different Testing framework and we want to integrate that with the report portal. I have seen the integration page and successfully integrated it. The framework I

[2021-01-15 09:40] HardNorth commented on #1275
@roma-diadiura do you run these launches in parallel on the same node?

[2021-01-15 11:14] evjlobanova commented on #1262
Duplicate of #1231
Please follow the progress on this issue in the mentioned ticket

[2021-01-15 11:14] #1262 closed

[2021-01-15 11:55] evjlobanova commented on #1231
Hello @coufalja @evgenytkachenko @ValeriiVozniuk @narayan-meesho
I would like to share some results of the performance testing of the attachments job run. For now, the fix is on the testing, but the results are pretty inspiring.

Please find performance in numbers:
before fix - deleting 10Gb in 10 hours
after fix - deleting 18Gb in 10 minutes

Performance in DB load stats(instance with 2 CPU's):
b

[2021-01-15 12:02] evjlobanova commented on #1231
@evgenytkachenko both options are available.  For now, we concentrate all our attention on fixing so that there is no script out of the box.

Also, I should highlight one important thing regarding removal from DB.
In case data is removed from DB, it is not removed from Minio.
So that you should clean Minio separately.
The team is working under the creation of API endpoint that  receives CSV file w

[2021-01-15 13:53] Mberga14 opened #1277 "Error after upgrading - ReportPortalExceptionResolver > Incorrect Request. 'url' should be present."
After upgrading Reportportal from version 5.0.0 to version 5.3.4, we have starting getting a login issue `ReportPortalExceptionResolver > Incorrect Request. 'url' should be present.` Before updating, login was working (LDAP is setup to enable loging in with AD account). Login fails also with admin account.

Our reportportal is deployed on a single machine with docker, using a docker-compose.yml fi

[2021-01-15 14:25] DzmitryHumianiuk commented on #639
https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/step/NestedStepsTest.java#L92

[2021-01-15 14:56] jlundy2 commented on #1130
Is there any update on this? The issue was resolved in 5.3.0 but has reappeared in 5.3.3

[2021-01-15 16:18] lewispoe commented on #935
Hi, the token for a password is still failing with a connection refused, echoing @mironandrei94 findings. I've been using the bts jira plugin recommended on your docs, is there another jira integration library you had in mind?

Many Thanks
Lewis

[2021-01-16 00:40] joelpramos commented on #935
@lewispoe which version did you use? I tried 5.1.0-RC-2 from here https://bintray.com/beta/#/epam/reportportal/plugin-bts-jira?tab=files and didn't work.

[2021-01-16 09:04] Shakevg opened #1278 "Ability to specify behavior for defect description for manual Analyze"
**Describe the solution you'd like**
Propose to add to "ANALYZE LAUNCHES" dialog ability to specify behavior for defect description when some option from "Choose the test items that should be analyzed:" is selected like for bach defects update:
![image](https://user-images.githubusercontent.com/42133199/104992292-ca5e3100-5a31-11eb-8ad3-8510ec481203.png)

**Is your feature request related to a pro

[2021-01-16 10:03] mironandrei94 commented on #935
I managed to do it. I used the jira token instead of password. I think that
the documentation could use a little improvement.

Thank you for your reply and have a nice day,
Andrei Miron

În sâm., 16 ian. 2021 la 02:40, Joel Ramos <notifications@github.com> a
scris:

[2021-01-16 15:33] DzmitryHumianiuk commented on #1235
@odubaj where was no discussion yet for `untested` state.
Team focused on data cleaning jobs, and will back to it afterwards.

[2021-01-16 15:40] DzmitryHumianiuk commented on #1278
@Shakevg did you add description for the defect before manual triggering of Auto-Analysis?

@evjlobanova do we append defect comment with comment from equal issue?
if it's according to designed flow, then we need at least to start it from the new line.

[2021-01-16 15:49] DzmitryHumianiuk commented on #1276
discussion: https://reportportal.slack.com/archives/C2GTJTTNH/p1610662363006400

you need to use `ScenarioReporter` and you need to override [`buildStartScenarioRequest`](https://github.com/reportportal/agent-java-cucumber6/blob/develop/src/main/java/com/epam/reportportal/cucumber/AbstractReporter.java#L237) method inside [`AbstractReporter`](https://github.com/reportportal/agent-java-cucumber6/bl

[2021-01-16 19:49] DzmitryHumianiuk commented on #1231
I've posted in Gist a simple script in bash to delete launches via API
_(for ReportPortal of versions 5.3+)_
you can run it on Mac and Linux.

https://gist.github.com/DzmitryHumianiuk/8e2622b582924c4339619cbb1dfec0f5

Consist of 2 files:

- `sc_clean.sh`
- `projects.txt`

Place both files in same directory.
** File `projects.txt` should alway have additional empty line.
** Projects in `projects.tx

[2021-01-16 21:36] VolhaKarenko commented on #808
Closed as outdated and not reproducible. Feel free to reopen, providing some details on the issue

[2021-01-16 21:36] #808 closed

[2021-01-18 05:43] akthomas2108 opened #1279 "Parsing of timestamp in Junit report import using REST API is giving error"
I was trying to use the REST API for importing the junit report through the UI's API "try it out" option.
http://hostname:port/api/v1/test/launch/import

On attempting, i get the following error
[code]
Note the the timestamp was reported as the issue. If i switch the timestamp as formated to "13 Jan 2021 22:56:44 GMT" then the import works.
[code]

Please find attached the samples. TestReport1.xml

[2021-01-18 10:23] vijaymishra-dan commented on #731
Hi @DzmitryHumianiuk, any update on the JMeter integration with Report Portal?

[2021-01-18 10:26] tokarthik commented on #731
@vijaymishra-dan yes it sends data from carrier-io to RP

[2021-01-18 12:28] DzmitryHumianiuk commented on #731
@vijaymishra-dan we plan to address manual test cases first.

But you also can take a look into [Carrier](https://getcarrier.io/#about)

[2021-01-19 00:26] joelpramos commented on #935
Seems like my problem is exactly the same reported here: https://github.com/reportportal/service-jira/issues/19

Connection setup works but I always get the [ErrorCollectionstatus=400, errors=reporter=Reporter is required., errorMessages=[]]] error message. I've tried with the account ID (as seen in the [deprecation notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-use

[2021-01-19 05:49] Shakevg commented on #1278
@DzmitryHumianiuk I updated the description with more clear steps. Yes, for some defects I added a description manually, but the same issue for defects that were set by AA.

[2021-01-20 10:54] vivekrai0409 opened #1280 "[v5]Report portal error log doesn't include the wild character asterisk(*)"
**Describe the bug**
When a selenium test script fails due to Xpath( Xpath has asterisk mark *) locator issue, report portal error log message doesn't include asterisk(*) mark

**To Reproduce**
1. Make a selenium script.
2. Have Xpaths like for  //*[@attribueName='some attribute value']//*[@attributeName='some attribute value']
3. Run the script and ensure it failing because its unable to find the

[2021-01-20 11:12] HardNorth commented on #1280
I believe it's related to Markdown view, you even can't describe the bug clearly, since github's markdown engine eats your asterisks. There is nothing to fix from Report Portal side, since it bypasses test/log data "as is". It is user's business how to escape its data. Because if we add this escape logic we will break our Markdown view.
For you here i see two options:
1. Disable markdown view (cli

[2021-01-20 13:48] DzmitryHumianiuk commented on #1280
@HardNorth that's correct.

The same as in your description @vivekrai0409 - it just makes in bold.
![image](https://user-images.githubusercontent.com/11332788/105182934-adfbea80-5b3e-11eb-9dd1-ba7d525e88dc.png)

**3rd option:** add code snippet block before outputting locator. As:
[code]
it's a one-time change in your framework libs which will make it look fancy on RP pages with markdown, and will

[2021-01-20 13:48] #1280 closed

[2021-01-20 18:46] debasmitaray commented on #784
Is the feature to use existing widgets across multiple projects allowed in the current version? Or is it to be released with an update?

[2021-01-21 11:50] Cyberglamdring commented on #1252
Try to looking into https://reportportal.io/docs/Issues-with-LDAPS:
You can create Configmap with certificate and add mount them as volume. [Help](https://medium.com/@paraspatidar/add-ssl-tls-certificate-or-pem-file-to-kubernetes-pod-s-trusted-root-ca-store-7bed5cd683d)
PATH for volume /usr/local/openjdk-11/lib/security/cacerts and /etc/ssl/certs/ca-certificates.crt

Or you can rebuild docker UAT

[2021-01-21 13:02] python-auto-hc opened #1281 "Facing issue while integrating Jira (5.10) in RP (5.0). Can you someone please guide"
![image](https://user-images.githubusercontent.com/68046094/105354744-fc7cb800-5c16-11eb-8612-6048a7445a7f.png)

[2021-01-21 13:03] python-auto-hc commented on #1281
@priyankachaturvedi30

[2021-01-21 13:11] python-auto-hc commented on #1281
This has been resolved. There was an issue with the url used. Marking this as closed

[2021-01-21 13:11] #1281 closed

[2021-01-21 17:17] Shakevg opened #1282 "[v5] Page goes to infinite load when open in a new tab launch filtered by new temp filter"
**Describe the bug**
Page goes to infinite load when open in a new tab launch filtered by new temp filter. Looks like a problem that not existing filter number used in GET request

**To Reproduce**
1. Click on some launch attribute to filter
=> OK: Temp filter added on top
2. Open some filtered launch or tests on a new tab
=> FAIL: Infinite spinning, error return from the server due filter number

[2021-01-22 06:06] python-auto-hc opened #1283 "Onboarding queries related to Report Portal Performance Optimization"
1. Need help in selecting the required machine configuration on the basis of below points -
-Daily log size for me across all projects is around 400MB-1000MB across organization
-Approx 20 users will be using report portal dashboard
-10 projects will be present on RP dashboard and out of which 3-4 can be running a launch at a given point.

Please suggest if there are more parameters to be consider

[2021-01-22 06:06] python-auto-hc commented on #1283
@priyankachaturvedi30

[2021-01-22 07:33] VolhaKarenko commented on #1282
Issue is reproducible, added to backlog

[2021-01-22 08:46] tejchaitanya commented on #784
@RunWith(Cucumber.class)
@CucumberOptions(plugin = {"pretty", "com.epam.reportportal.cucumber.StepReporter"})
public class RunCukesTest {
}
****is there any alternative for this step** ?**

[2021-01-22 08:49] tejchaitanya opened #1284 "is there any way for enabling step reporter without using RunCukesTest class"
@RunWith(Cucumber.class)
@CucumberOptions(plugin = {"pretty", "com.epam.reportportal.cucumber.StepReporter"})
public class RunCukesTest {
}

[2021-01-22 10:56] evjlobanova commented on #1186
Will be fixed in the version 5.3.5

[2021-01-22 10:56] #1186 closed

[2021-01-22 10:57] #950 closed

[2021-01-22 13:27] priyankachaturvedi30 opened #1285 "Elastic search container Unhealthy"
Following is the error in my elastic search container logs :
![image](https://user-images.githubusercontent.com/50797731/105496521-97db5f00-5ce3-11eb-8356-66e69d0d17a3.png)

I am using docker-desktop on Windows with latest RP .yml file
@evjlobanova Can you help

[2021-01-22 14:14] priyankachaturvedi30 commented on #1285
Some more logs with level Info thrwoing exception :
![image](https://user-images.githubusercontent.com/50797731/105501382-25ba4880-5cea-11eb-896f-3fd537dcb965.png)

[2021-01-22 14:21] priyankachaturvedi30 commented on #1285
This worked ! My bad there was a syntax error in healthcheck url :( Closing the issue !

[2021-01-22 14:21] #1285 closed

[2021-01-22 15:35] HardNorth commented on #1284
@tejchaitanya What's wrong with RunCukesTest class?

Anyway it's how Cucumber officially states to run their tests:
https://github.com/cucumber/cucumber-jvm/blob/main/examples/java-calculator/src/test/java/io/cucumber/examples/java/RunCucumberTest.java

No matter which framework you choose it's alway almost the same file, E. G. JUnit 5:
https://github.com/cucumber/cucumber-jvm/blob/main/examples/j

[2021-01-25 18:41] #1256 closed

[2021-01-25 19:19] AndreiSomovTR commented on #1246
we had method: buildStartTestItemRq with 'rq.setType("TEST");' within.
I changed 'rq.setType("TEST");' -> 'rq.setType("STEP");' and analyzer works fine

[2021-01-25 19:32] naddison opened #1286 "[v5] InternalReportPortalClientException: Wait for Launch start timed out"
Hi I am using the Java Client directly in my Java code and sometimes when starting the launch I get the following error:

[code]

I am unable to troubleshoot much further, is there additional context or common scenarios/configuration that could cause this I may be missing?

Sample code of how I use the client.
[code]

Some additional context. Inside the same container/virtual machine I have a sing

[2021-01-26 00:02] VolhaKarenko commented on #1269
The issue is fixed in version 5.3.5

[2021-01-26 00:02] #1269 closed

[2021-01-26 08:28] AndreiValnianka opened #1287 "[v5] ConnectException to ElasticSearch during new index generating"
**Describe the bug**
Given: I have data in ElasticSearch
And: Autoanalisis works properly
When: I generate a new index
Then: I catch an exception
And: Previous data doesn't use in auto analysis

Logs:
[rp.txt](https://github.com/reportportal/reportportal/files/5872073/rp.txt)
[es.txt](https://github.com/reportportal/reportportal/files/5872075/es.txt)

[2021-01-26 12:49] ekarlso commented on #1268
:+1: for this one.

[2021-01-26 19:36] Ciscoadmin opened #1288 "Support Regex for name criteria in filtering launches"
**In my current project, I have to use more complex filters**

 As far as I can see from RP's documentation https://reportportal.io/docs/Filtering-launches%3Elaunch-level-filters there is no opportunity to use any Regex for name criteria in filtering launches
![image](https://user-images.githubusercontent.com/10994100/105895368-7ef5e500-6026-11eb-8d93-989f8487cad4.png)
Please consider it. Thanks i

[2021-01-26 20:13] Ciscoadmin opened #1289 "Support boolean operators inside attributes criteria in filters"
**In my current project, I have to use more complex filters**

As far as I can see from RP's documentation https://reportportal.io/docs/Filtering-launches%3Elaunch-level-filters there is no opportunity to use boolean operators inside attributes criteria in filters
For example:
![image](https://user-images.githubusercontent.com/10994100/105899682-05f98c00-602c-11eb-859a-5a2ac1dde567.png)
Please con

[2021-01-27 05:14] #1284 closed

[2021-01-27 05:51] tejchaitanya opened #1290 "Regarding Multiple launch"
I'm working with Cucumber and I have 10 features running in parallel but in reportportal i have 10 separate launches :disappointed_relieved:.
I want to have only one launch that contains features running in parallel .
Is that possible!?

[2021-01-27 13:58] VenkatVanacharlaTR opened #1291 "Intermittently some Tests/Suites launches are not getting pushed to RP"
I observed that some of the tests/suite launches are not getting posted to RP and when I checked the logs related to missing test/suite I can see the error logs related RP as below

This issue occurs intermittently and even after re-running the particular tests also not updated to existing launch.

Report Portal Logs:

[rp-io-8] DEBUG- io.reactivex.exceptions.UndeliverableException: The exception

[2021-01-27 15:10] HardNorth commented on #1291
@VenkatVanacharlaTR
Please specify the following things:
1. Report Portal version
2. Agent version
3. How did you install RP (docker or kubernetes)

[2021-01-28 09:57] tejchaitanya opened #1292 "I'm working with Cucumber and I have 10 features running in parallel but in reportportal i have 10 separate launches 😥. I want to have only one launch that contains features running in parallel . Is that possible!?"

[2021-01-28 09:57] #1290 closed

[2021-01-28 13:36] talmoshe24 opened #1293 "[v5] Test result ignores JUnit rules"
I'm using RP 5.3.3 and agent-java-junit 5.0
I have a case where I'm using TestRule and the test is reported as a fail, although it passes

Retry rule class:
`public class Retry implements TestRule {

    private static final Logger logger = LogManager.getLogger(Retry.class);

    private int retryCount;

    public Retry(int retryCount) {
        this.retryCount = retryCount;
    }

    public Sta

[2021-01-28 20:50] ansonliao opened #1294 "How to create multiple-levels nested step in Java client"
Dear,
I can create two-levels nested step by the code below:
[code]

If I want to create more than 2-levels nested step, could you kindly help to provide the sample code?
[code]
Thanks.

[2021-01-28 22:12] prilearning20 commented on #791
This code is not working in adding screenshots.it displays like this as report portal object than as image

14:08:22.694 [TestNG-PoolService-0] INFO Logs.Log4j.LogDriver - com.epam.reportportal.message.ReportPortalMessage@9e5e7e

[2021-01-29 04:31] HardNorth commented on #1294
@ansonliao You can't. At least with this class. This is a drawback of bad design. The class is going to be rewritten in version 6:
https://github.com/reportportal/client-java/issues/127

As a workaround you can use a `@Step` annotated method which accepts `Function` class as a parameter. And then do something like that:
[code]

To make `@Step` annotation works you need to run your tests with Aspec

[2021-01-29 09:51] fkrivsky commented on #1149
@amitngm looks like its coming eventually per https://github.com/reportportal/reportportal/issues/1198

[2021-01-29 12:57] rplevka commented on #1094
@evjlobanova
The issue here is, that we are able to filter the launches based on attribute keys separately, then based on attribute values separately,
but we're unable to combine the filter in a way to get the Launches with a specific value of a *specific* attribute.
e.g.
let's assume, we have launch tagged with the following attributes:

[code]

- now, i want to filter all launches with a `versio

[2021-01-29 16:14] DzmitryHumianiuk commented on #1283
@python-auto-hc @priyankachaturvedi30
I extended documentation with explanation how to transform system capacity into real test cases.
Please let me know if it makes sense.

It will be available in docs at: https://reportportal.io/docs/Optimal-Performance-Hardware (section 3)
and via direct link here:
https://github.com/reportportal/documentation/blob/master/src/md/src/TipsAndTricks/PerfIssuesReso

[2021-01-29 16:22] DzmitryHumianiuk commented on #1287
@AndreiValnianka make sure your elastic container up and running, and healthy.
Then double check allocated resourced (RAM and CPU limits) and `service-analyzer`.
In case if you re-indexing large amount of data these two containers should have enough memory to proceed it.

logs from `service-analyzer` will make even more sense here.

[2021-01-29 16:28] DzmitryHumianiuk commented on #1290
Most likely you were referring to this:
how to configure multi-threaded execution in java
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

[2021-01-29 16:29] DzmitryHumianiuk commented on #1292
Close as duplicate https://github.com/reportportal/reportportal/issues/1290

[2021-01-29 16:29] #1292 closed

[2021-01-29 17:16] DzmitryHumianiuk commented on #1094
@rplevka right. current filtering implementation assumes condition combinations via `AND` operator.

we plan filtering mechanism improvements for version 6.
it's in design stage right now.

[2021-01-29 17:19] DzmitryHumianiuk commented on #1289
we plan to rework it in version 6

[2021-01-29 17:27] DzmitryHumianiuk commented on #1288
@Ciscoadmin agree that it would be beneficial from end user perspective,
but requires rework of filtering mechanisms implemented in both UI and API of ReportPortal.

considered for version 6.

[2021-01-29 17:30] DzmitryHumianiuk commented on #1286
@avarabyeu this is definitely the question for you

[2021-01-29 17:35] DzmitryHumianiuk commented on #1279
@evjlobanova @pbortnik this should be considered for improvement.
please take it to the next sprint and minor release.

[2021-01-29 17:37] DzmitryHumianiuk commented on #1277
@VolhaKarenko @svettsova is it a known issue?

[2021-01-29 17:37] DzmitryHumianiuk commented on #1276
@Shivin89 did it help?

[2021-01-29 17:40] rplevka commented on #1094
@DzmitryHumianiuk i think we still don't understand each other.
i don't have problem with the `AND` operator. I just need ability to be able to filter launches/tests based on **a value of a specific attribute**.
It seems not to be possible and attribute keys and attribute values just act like yet another 1-word tags.

[2021-01-29 17:43] DzmitryHumianiuk commented on #1272
@tanyaso

![image](https://user-images.githubusercontent.com/11332788/106308993-8d384100-6272-11eb-92df-8286d5b96c42.png)

[2021-01-29 17:43] #1272 closed

[2021-01-29 17:46] DzmitryHumianiuk commented on #1271
`mouseUp` event generated outside the pop-up screen, which causes pop-up closure.

hmmmmm....
need to discuss with @AmsterGet

[2021-01-29 17:50] DzmitryHumianiuk commented on #1094
@VolhaKarenko could you please double check?

[2021-01-29 17:51] Shivin89 commented on #1276
Yes, it worked

Thanks

On Fri, Jan 29, 2021 at 9:37 AM Dmitriy Gumeniuk <notifications@github.com>
wrote:

[2021-01-30 03:02] naddison commented on #1286
With client.join = false, my issue is resolved. I believe it has to do with the lock files created when the feature is turned on. I don't think I am using ReportPortal.class in its intended use case. Usually, it's plugged into a test framework and is only expecting to send launches to the same project. Those are my assumption anyway.

[2021-01-30 17:24] Tonicku opened #1295 "[v5.3.3] looping the log Closing expired connection"
**Describe the bug**
Once the run test finished, the rp connection should close

**To Reproduce**
Report Portal installed using the docker-compose method

in a maven project,

Set ReportPortal.properties
Set TestNg
in pom repositirories  section
        <repository>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>bintray-epam-reportportal</

[2021-01-30 23:23] Tonicku commented on #1295
i updated the Java Agent... then it seems it fixed the issue.

[2021-01-31 01:06] Tonicku commented on #1295
the update didn't fix it
i am still having looping closing connections

2:02:10 [2021-01-31 01:00:27] [DEBUG] [com.epam.reportportal.service.Launch:38] - TestItem with ID = '11820eb2-9a31-4522-85fa-3f2471677965' successfully finished.
02:02:10 [2021-01-31 01:00:27] [DEBUG] [com.epam.reportportal.utils.SubscriptionUtils:104] - Finish test item completed
02:02:10 [2021-01-31 01:00:30] [DEBUG] [rp.or

[2021-01-31 23:22] Tonicku commented on #1295
after monitoring carefully, it closed it then end as as i see in the log

00:02:52 [2021-01-31 23:02:52] [INFO ] [com.codeborne.selenide.impl.UnusedWebdriversCleanupThread:49] - Thread 58 is dead. Let's close webdriver null
00:02:52 [2021-01-31 23:02:52] [INFO ] [com.codeborne.selenide.impl.UnusedWebdriversCleanupThread:60] - No webdriver found for thread: 58 - nothing to close
00:02:52 [2021-01-3

[2021-02-01 09:33] HardNorth commented on #1276
A reporter example:
https://github.com/reportportal/examples-java/blob/master/example-cucumber4/src/main/java/com/epam/reportportal/example/cucumber4/reporter/ScenarioReporterTestCaseId.java

[2021-02-01 09:33] #1276 closed

[2021-02-01 15:56] python-auto-hc commented on #1283
@DzmitryHumianiuk thanks for updating the section. I went through it but it isnt that straight forward. May be we need to start from small and then scale up as per the need. Because it will also depend upon both volume and size of log.

Apart from that will also need help on -

-archiving or cleanup strategy for old launches ? if possible then without disturbing the baselines which are set.
-Is th

[2021-02-01 16:53] debasmitaray opened #1297 "Ability to copy dashboards between projects"
**Describe the solution you'd like**
I would like to be able to copy a dashboard and it's widgets and use it in another project in RP. For example, my team has a 'Core Dashboard' which is the basic layout we want to replicate for various projects. It would be nice to be able to copy the Core Dashboard and paste it into the various projects, versus having to recreate it each time.

**Is your featur

[2021-02-01 19:28] jsmongeski commented on #1109
Are there any updates on this?  I'm also looking to implement https access, not really sure how to approach the problem via the Traefik docs, an working docker-compose.yml example here would help, if any RP developers could provide one.

[2021-02-01 19:51] rubico259 commented on #1252
The first solution didn't work.
I rebuild docker with my certs.
But this is not a preferred solution as i need to manage Dockerfile for each new release.

[2021-02-01 20:21] #1294 closed

[2021-02-01 20:32] DzmitryHumianiuk commented on #1286
most likely it is right assumption.

can we close issue now?

[2021-02-02 07:01] ansonliao commented on #1294
@HardNorth
thanks for your reply, currently my implementation is this one with 2 level step.
https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/step/NestedStepsTest.java

[2021-02-02 09:02] k0rvih commented on #1287
@DzmitryHumianiuk Thanks for your response.
What are the optimal allocated resources for the `analyzer` container? I couldn't find specific numbers for this container.
Looks like the default values are too low.

[2021-02-02 17:07] k0rvih commented on #1287
I added resources and now we get the next errors.
The log from the analyzer
[code]

[2021-02-02 17:20] k0rvih commented on #1287
Additional logs from the last run
[rpa2.txt](https://github.com/reportportal/reportportal/files/5912998/rpa2.txt)

[2021-02-02 20:20] DzmitryHumianiuk commented on #1287
@irynakozak2 any suggestions here for `service-analyzer`?

[2021-02-03 09:10] irynakozak2 commented on #1287
@k0rvih hello, yep, the default values for service-analyzer may be low for your launches amount(as I see, you have almost 2200 launches), so please the add following resource configs to your service-analyzer and double check, it's completely enough for this launch amount.
`  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1024Mi`

[2021-02-03 10:15] k0rvih commented on #1287
@irynakozak2 I added `resources: requests: cpu: 250m memory: 1024Mi limits: cpu: 1000m memory: 2048Mi`
It still doesn't work. The logs I added above

[2021-02-03 10:50] KatsiarynaTatarynovich commented on #1199
Hi @dkdk91. We have increased the limit on the UI side to 300 dashboards (the same limitation (300) is also on the Backend side). Discussions are underway to add pagination for dashboards to remove this 300 dashboard limit.

[2021-02-03 11:50] irynakozak2 commented on #1287
@k0rvih so that it's not a performance issue or an issue with RP. Do you give all necessary permissions to ElasticSearch?
@MariyaIvanina Masha, could you please keep an eye on that?

[2021-02-03 11:58] irynakozak2 commented on #1287
@k0rvih one more thing. Could you please check that the storage for ES isn't full or not completely full?

[2021-02-03 12:04] VolhaKarenko commented on #1094
The issue is reproducible. Some UI changes are needed in attribute filtering, task is added to backlog

[2021-02-03 12:18] MariyaIvanina commented on #1287
@k0rvih Hi! From the error above I can see that the index doesn't contain these logs so it can't delete it. Have you regenerated the index? Could you generate index and send all service-auto-analyzer logs? and whether it is clean up or you manually delete logs/test items when the mentioned errors occur?

[2021-02-03 12:51] VolhaKarenko commented on #1277
Hi @Mberga14. Could you please try to set up SAML, AD integrations from scratch and report if the issue is still reproducible

[2021-02-03 13:49] k0rvih commented on #1287
@irynakozak2 Permissions is ok, it can read and write to it. We have more than 14GB of free space.
@MariyaIvanina here is the full log after the last try. [
[rpa3.txt](https://github.com/reportportal/reportportal/files/5918834/rpa3.txt)
](url)

[2021-02-03 14:20] MariyaIvanina commented on #1287
@k0rvih I looked at the logs and saw the problem. AWS Elasticsearch has restrictions for uploading chunks of data. Our chunk is 1000 logs at a time. And according to your logs your data exceeds the set up instance limit of 10Mb. For now, we don't have an exposed parameter for setting chunk_size, but I'll expose in the next version and you'll be able to tweak it for your data. P.S. One more option

[2021-02-03 14:33] k0rvih commented on #1287
@MariyaIvanina Thanks a lot.
We will discuss with the team can we wait or scale ES.

[2021-02-03 16:20] DzmitryHumianiuk commented on #1287
thank you @MariyaIvanina and @irynakozak2

@MariyaIvanina would be nice to have it as a part of documentation.

closing issue on it.

[2021-02-03 16:20] #1287 closed

[2021-02-03 21:33] Mberga14 commented on #1277
Setting up SAML and AD integrations from scratch fixed the issue.

[2021-02-03 21:33] #1277 closed

[2021-02-04 08:03] VolhaKarenko commented on #1244
Didn't manage to reproduce the issue. @ksAutotests is it still valid for version 5.3.4?

[2021-02-04 10:01] KatsiarynaTatarynovich commented on #1228
Hi @Shakevg
Unfortunately, we have no way to fix it on our side, as this issue connects with react-custom-scrollbars https://github.com/malte-wessel/react-custom-scrollbars/issues/210

[2021-02-04 10:22] anicke opened #1298 "[v5] Sorting by "Defect Type" does not work when opening a "Component health check" link"
**Describe the bug**
It is not possible to sort on "Defect Type" after opening a link to a launch from the "Component health check" widget

**To Reproduce**
* Create a  "Component health check" widget with two levels of attributes.
* In the grid of launches open the link in the top left corner of a launch item. [Api call address](http://report.portal/api/v1/PROJECT/item?filterId=343&page.page=1&pa

[2021-02-04 17:46] gadesharath commented on #1199
@KatsiarynaTatarynovich  - Thanks for the fix! To which version we should upgrade to get this functionality.

[2021-02-05 08:41] KatsiarynaTatarynovich commented on #1199
@gadesharath - As Volha said the fix for this issue is planned for version 5.4 in February

[2021-02-05 11:45] PeterRozum commented on #958
@evjlobanova I can relate to this request. E.g. in our case, we want to send notification to the same audience in case there is any issue with testing of our product on more versions that we support in parallel.

Let's say our launches are named in this pattern:
* Product test - latest
* Product test - v1RC
* Product test - v2RC

if we want to create one notification to notify on any failure in an

[2021-02-05 12:24] PeterRozum opened #1299 "[v5] Notifications are not sent when notification rule set to "In case Launch has issues""
**Describe the bug**
ReportPortal notification emails are not sent in the case when notification rule is set to "In case Launch has issues" for launches containing failures.
Notifications work correctly with different "in case" setting. Confirmed to work OK with 'Always' and 'Launch has "To Investigate" items'.

**To Reproduce**
1. create notification rule with property 'in case' set to 'Launch ha

[2021-02-05 16:38] tomassatka commented on #1169
Basically this can be achieved when posgresql & elasticsearch data are dumped from current pvcs by rsync and then migrated into pvcs of new new deployment. Just tried out and this solution works

[2021-02-05 20:20] Shivin89 opened #1300 "Attribute Annotation at Steps in "Step definition" code in cucumber framework doesn't work"
**Describe the bug**
Given:- I need to add attributes at steps in my step definition file (Step definition in Given, Then format ) like cucumber.
When:- I add attributes Annotation provided by Report Portal like below
         @Attributes(attributes = { @Attribute(key = "Key", value = "Value") })
	My Step Starts ---@Given("user is on login page")
Then:- Attributes are not added to my steps in the

[2021-02-06 02:44] arunkumar-muthusamy-personal opened #1301 "Java Cucumber-4 TestNG: ScreenShot Scenario.embed -- Image file in RP UI is broken"
Hi,

I'm using `Java+Cucumber-4+TestNG`. While attaching the screenshot to RP using Cucumber `Scenario.embed`, the image is broken/not getting displayed appropriately in ReportPortal UI. Where as the embedded image is displayed appropriately in the local cucumber html report.

`<cucumber.version>4.2.0</cucumber.version>`
[code]
Cucumber Plugin config in runner class: `"pretty", "com.epam.reportpor

[2021-02-06 06:31] HardNorth commented on #1301
Do not use BETA versions of the agent. It's `5.0.1` already: https://github.com/reportportal/agent-java-cucumber4/releases

[2021-02-06 06:31] #1301 closed

[2021-02-06 15:36] HardNorth commented on #1300
@Shivin89 which reporter class do you use?

[2021-02-06 15:42] Shivin89 commented on #1300
Step Reporter - Steps attributes I want to have

On Sat, Feb 6, 2021 at 7:36 AM Vadzim Hushchanskou <notifications@github.com>
wrote:

[2021-02-06 15:44] HardNorth commented on #1300
Ok, and which agent version?

[2021-02-06 15:48] Shivin89 commented on #1300
Agent Java cucumber 6

On Sat, Feb 6, 2021 at 7:44 AM Vadzim Hushchanskou <notifications@github.com>
wrote:

[2021-02-06 15:50] HardNorth commented on #1300
Which numbers? It should be like `5.0.0`.

[2021-02-06 15:58] Shivin89 commented on #1300
It is 5.0.1 , but I have customized the some of the framework for our
company and we are using our own artifactory , I have been using cucumber 6
example shown on the report portal GitHub

On Sat, Feb 6, 2021 at 7:50 AM Vadzim Hushchanskou <notifications@github.com>
wrote:

[2021-02-06 18:13] HardNorth commented on #1300
OK, it should work since all cucumber agents use the same tests and it is a test for that. I'll double-check on Monday.

[2021-02-08 02:50] michaeIryan opened #1302 "traefik/gateway container errors - bump traefik image to v2.0.7 or higher"
**Describe the bug**
Every 5-7 days our ReportPortal instance will go offline and can't be reached through the browser or api. After re-running the usual `docker-compose` command it comes back online until it eventually falls over again. After taking a look at the logs we have found the following from the gateway/traefik container:

[code]

This issue has been resolved in v2.0.7 of traefik as per

[2021-02-08 06:08] Shakevg commented on #1228
OK, let's close for now until react fix will be released

[2021-02-08 06:08] #1228 closed

[2021-02-08 08:35] odubaj commented on #1235
Hello, any updates ?

[2021-02-08 09:52] evjlobanova commented on #1235
We will send a letter with review details on this or earlier next week

[2021-02-08 09:54] odubaj commented on #1235
Thank you

[2021-02-11 15:43] LittleColin opened #1303 "Login with SAML button too technical and confusing"
**Describe the solution you'd like**
1) If SAML is configured, it should be the default option and the username/password box should only be revealed for "Other ways to log in".
2) The button should use the name of the provider configured in the SAML plug-in so it can say "Log in with Okta" for instance.

**Is your feature request related to a problem? Please describe.**
We get many users who don't

[2021-02-11 17:01] evjlobanova commented on #1273
@VolhaKarenko could you please add info about needed API call

[2021-02-11 17:04] evjlobanova commented on #1261
@HardNorth @nvborisenko @AmsterGet @DzmitryHumianiuk
Could you please check this request?

[2021-02-11 17:10] evjlobanova commented on #1279
Added to the next sprint grooming session

[2021-02-11 17:19] #1286 closed

[2021-02-11 17:30] evjlobanova commented on #1298
@VolhaKarenko could you please rcheck

[2021-02-12 09:47] priyankachaturvedi30 opened #1304 "Issue with Number of log lines"
**When my log lines are less, then AA does not work for me.**
...

**Irrespective of the number of lines provided, the AA should do the analysis of my subsequent runs **

Since we have the capability provided here to compare limited lines, we should be able to perform AA on trace with fewer lines as well. Please suggest if I am missing anything @DzmitryHumianiuk  @evjlobanova
![image](https://user

[2021-02-12 09:49] VolhaKarenko commented on #1298
The issue is reproducible, bug is added to backlog

[2021-02-12 11:34] VolhaKarenko commented on #1273
Hi @willyhalim
You can update the launch using
PUT
​/v1​/{projectName}​/launch​/{launchId}​/update

Request body example:
{
  "attributes": [
    {
      "key": "string",
      "value": "string"
    }
  ],
  "description": "string",
  "mode": "DEFAULT"
}

[2021-02-12 14:22] evjlobanova commented on #1304
fixed in 5.3.5
Please update to the latest version

[2021-02-12 14:22] #1304 closed

[2021-02-12 14:23] evjlobanova commented on #1298
Added to the next version

[2021-02-12 14:23] #1273 closed

[2021-02-12 15:58] shatulsky opened #1305 "Values inside <> are missing on report portal web"
Executing of this code
`_log.Trace($"Processing '{value}' with {strategy.GetType().Name} strategy");`

with ReportPortalAppender configured with the example from [https://github.com/reportportal/logger-net-log4net/blob/master/README.md](README) has the following result

![image](https://user-images.githubusercontent.com/22248285/107790500-7eb25500-6d5b-11eb-85f0-8895085c034b.png)

[2021-02-12 18:17] #1231 closed

[2021-02-12 21:00] nvborisenko commented on #1305
@HardNorth @DzmitryHumianiuk @evjlobanova
This issue is about that any text between `<` and `>` is hidden on UI.

Any opinions?

[2021-02-12 22:19] evjlobanova commented on #1305
@AmsterGet please check

[2021-02-14 07:14] HardNorth commented on #1305
@evjlobanova @nvborisenko @shatulsky @AmsterGet the same issue as here:
https://github.com/reportportal/reportportal/issues/1280

@shatulsky As I can see you made your own fix. Well, but you broken ability to format your output with HTML.

[2021-02-14 07:14] #1305 closed

[2021-02-15 08:39] priyankachaturvedi30 opened #1306 "Count of Total, Passed, Failed displayed at different Dashboard levels"
Hi Team,
We are using BDD framework for Automation. Using Java-client to push logs to Report Portal.
Current hierarchy which we have pushed on Report Portal Dashboard is Launch --> Feature --> Scenario --> Steps (feature) --> Step Def (meta) --> Step (meta).The problem that we facing is -Count shown on Launch/Feature/Scenario/Steps(feature) is of the leaf level steps. Ideally, when we are on Launc

[2021-02-15 09:56] evjlobanova commented on #1306
You can report steps - as a Nested Spets
In this case you will see steps on log view as:
![image](https://user-images.githubusercontent.com/30413511/107930343-b83bb980-6f2f-11eb-805b-21dc5474799b.png)

And the system will calculate statics in tests, and nested steps are not included to statistics.

Also, you can add attributes for tests:
![image](https://user-images.githubusercontent.com/30413511/

[2021-02-15 10:53] DzmitryHumianiuk commented on #1305
@HardNorth @shatulsky @nvborisenko
looks like this is specific of Markdown formatter and html tags escaping in HTML output.
`<>` symbols should be either escaped on logging side (replaced with `&gt;` and `&lt;`).
or outputted with code snipped wrapper as here:
[code]

[2021-02-15 11:04] priyankachaturvedi30 commented on #1306
@evjlobanova - As suggested, if I log steps as nested steps, and suppose my nested steps have more than 1 failure - can I still investigate those as failures as separate bugs ? On similar lines, If say suppose more than 1 error trace is present, then as per my understanding, RP analyser treats the complete error trace as a single error message to perform AA on subsequent runs - I am not sure how n

[2021-02-15 15:19] DzmitryHumianiuk commented on #1306
@priyankachaturvedi30

1. For BDD we follow 2 main approaches: **StepReporter** and **TestReporter**. [Your initial description](https://github.com/reportportal/reportportal/issues/1306#issue-808320657) is equal to **StepReporter**, since it considers Step definition as a final level of structure, which is used for counting.
**TestReporter** does it for 1 level upper, which equal to your `Steps (f

[2021-02-16 14:31] shubham18-code opened #1307 "Can not consolidating test results as to who they can be viewed ?"
**Describe the solution you'd like**
... I am using ReportPortal for Automation project, Tests are executing based on there environment (UNT, UAT, PERF).
 want to separate test results environment wise and want to show to specific team (UAT team, UNT team). In the current position i can not identify the tests results for the specific env.
can anyone help me in that ?
Thank you.

[2021-02-16 15:03] jasongornall commented on #383
Bumping this! It's what I care about most!

[2021-02-16 17:14] idxn commented on #1013
Upvoted this. I really want to see this implement soon.

[2021-02-17 04:20] rubico259 opened #1308 "Elasticsearch index"
Hi,
I must know the index name generated in elasticsearch by the auto analyzer service, because i need to open request to our elasticsearch team in my organisation to open permission on specific index.
I saw it generate index named 3 and rp_aa_stats.
What is the meaning of 3 index name, is it random?
How can i know the names or can i define the index name? Or at least the prefix?
Thanks a lot.

[2021-02-17 04:31] #1252 closed

[2021-02-17 05:01] shubham18-code commented on #1307
Reportportal results grouped by test environment :
On our project we try to collect all tests results into reportportal. Since our project has several tests environments before the application is shipped to production i would like to display the results aggregated per environment. Like UNT, UAT, Production and group the results accordingly. Is there such feature available?

[2021-02-17 10:18] heilwood opened #1309 "Setup reportportal over HTTPS, where to find documentation?"
Hi,

Where i can found documentation about how to setup reportportal over HTTPS?

[2021-02-17 10:42] endless-qa commented on #1268
Guys, do you have any updates on this ticket?

[2021-02-17 11:26] python-auto-hc commented on #1306
Please find attached report which is my current Automation Report. Which gives me count of feature, Scenario and Tests. But on logging steps to Report Portal I am trying to get such report but I am unable to get. I tried doing the suggestion what you gave regarding filtering with Attribute keys using Component Health Check widget. But I am still getting count of test steps which are at leaf level.

[2021-02-17 21:37] atanakalafiserv opened #1310 "Parameterized tests have duplicated name on ReportPortal"
<img width="861" alt="parameterized-test_duplicateName" src="https://user-images.githubusercontent.com/79228905/108271212-10440d00-7136-11eb-838a-8f36e1498311.png">

can you help determine how this issue can be fixed?

[2021-02-17 21:38] atanakalafiserv commented on #1310
The name that appears on the report is testName itself and I would like to see if this can be differentiated and it would make things easy to determine which test is actually failing from a data driven context

[2021-02-18 08:34] AndreiValnianka opened #1311 "Autoanalisis for skipped tests"
We use TestNG and the 'dependsOnMethods' option in our test methods.
Auto analysis works fine but only failed tests were marked.
We want to have clear statistics about the quantity of affected tests and we should manually mark skipped tests.
I suggest to retrieve scoupe of skipped tests from TestNG due to the 'dependsOnMethods' option and mark skipped tests using auto analysis result for the faile

[2021-02-18 12:45] Artashes1996 opened #1312 "System cann't found "ITestNGMethod.getQualifiedName()" method."
System brings me the following error ```
**java.lang.NoSuchMethodError: 'java.lang.String org.testng.ITestNGMethod.getQualifiedName()'
    **at com.epam.reportportal.testng.TestNGService.buildStartConfigurationRq(TestNGService.java:269)
    at com.epam.reportportal.testng.TestNGService.startConfiguration(TestNGService.java:284)
    at com.epam.reportportal.testng.BaseTestNGListener.beforeConfigura